@page
@model MLunarCoffee.Pages.Report.WareHouse.WareHouseExportTreatmentModel
@{
    Layout = null;
}
<div class="row px-1 form3">
    <div class="col-12 col-md-5 col-xl-4 px-1 mt-2">
        <div>
            <div class="card-header p-3 pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <p class="text-md text-dark font-weight-bold mb-1">
                            @Local["Danh sách vật liệu điều trị"]
                        </p>
                    </div>
                    <div class="ms-auto my-auto d-flex align-items-center">
                        <div class="icon-hover mx-1"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Tải lại"]">
                            <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                               onclick="event.preventDefault(); return LoadData_ExportTreatment()"></i>
                        </div>
                        <div class="icon-hover mx-1"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Xuất excel"]">
                            <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                               onclick="event.preventDefault(); return exportData_ExportTreatment()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 pt-0">
                <div class="m-0 my-3 mobile-responsive">
                    <div id="loaderList" class="waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <table class="table vt-table mb-0" id="dtContent_ExportTreatment">
                        <thead>
                            <tr>
                                <th class="d-none">ID</th>
                                <th class="d-none">Name</th>
                                <th class="collapse_left">@Local["#"]</th>
                                <th>@Local["Tên"]</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentBody_ExportTreatment">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="field col-12 col-md-7 col-xl-8 px-1 mt-2">
        <div class="card">
            <div class="card-header p-3 pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <p id="nameDetail" class="text-md text-dark font-weight-bold mb-1">
                        </p>

                    </div>
                    <div class="ms-auto my-auto mt-1">
                        <i data-tab="export_excel" class="_tab_control_ vtt-icon  vttech-icon-export-ex text-lg text-primary"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-original-title="Excel" onclick="exportData_Detail()"></i>
                    </div>
                </div>

            </div>
            <div class="card-body p-3 pt-0">
                <div class="m-0 my-3 mobile-responsive">

                    <table class="table vt-table mb-0" id="dtContentReport_DetailGrid">
                        <thead>
                            <tr>
                                <th style="min-width: 30px;">#</th>
                                <th style="min-width: 120px;">@Local["Mã khách hàng"]</th>
                                <th style="min-width: 150px;">@Local["Khách hàng"]</th>
                                <th style="min-width: 150px;">@Local["Dịch vụ điều trị"]</th>
                                <th style="min-width: 120px;">@Local["Ngày điều trị"]</th>
                                <th style="min-width: 120px;">@Local["Mã vật tư"]</th>
                                <th style="min-width: 180px;">@Local["Vật tư"]</th>
                                <th style="min-width: 100px;">@Local["Số lượng"]</th>
                                <th style="min-width: 100px;">@Local["Đơn vị"]</th>
                                <th style="min-width: 120px;">@Local["Số lượng kiểm kê"]</th>
                                <th style="min-width: 100px;">@Local["Đơn vị kiểm kê"]</th>
                                <th style="width: 100px;">@Local["Đã xuất"]</th>
                                <th style="min-width: 120px;">@Local["Ngày xuất"]</th>
                                <th style="min-width: 150px;">@Local["Kho"]</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentReportBody">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    var dataDetail;

    $(document).ready(function ()
    {
        ToolPopper();
        LoadData_ExportTreatment();
        $('#dtContent_ExportTreatment').tablesort();
        Checking_TabControl_Permission();
    });
    function EventRowMasterGrid()
    {
        $('#dtContent_ExportTreatment').delegate('.rowMaster', 'click', function (event)
        {
            let id = Number($(this).attr("data-id"));
            let name = $(this).attr("data-name");
            let data = dataDetail.filter(dataDetail => dataDetail.ServiceID == id);
            $('#nameDetail').html(name)
            $('.rowMaster').removeClass('active');
            $(this).addClass('active');
            RenderReportDetail(data, 'dtContentReportBody');


        });

    }

    function LoadData_ExportTreatment()
    {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _BranchID = "@Model._BranchID";
        AjaxLoad(url = "/Report/WareHouse/WareHouseExportTreatment/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'BranchID': _BranchID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result)
            {
                if (result != "[]") {
                    let dataMaster = JSON.parse(result).Table;
                    dataDetail = JSON.parse(result).Table1;
                    RenderReport_Product(dataMaster, 'dtContentBody_ExportTreatment');
                    //RenderReportDetail(dataDetail, 'dtContentReportBody');
                }
                else {

                }
            }
            , sender = null
            , before = function ()
            {
                $("#divMaster").hide();
                $("#loaderList").show();
            }
            , complete = function (e)
            {
                $("#divMaster").show();
                $("#loaderList").hide();
            }
        );
        return false;
    }
    function RenderReport_Product(data, id)
    {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="vt-number-order"></td>'
                        + '<td>'
                        + '<div class="d-flex">'
                        + '<div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center d-flex justify-content-center align-items-center">'
                        + '<span class="text-white">' + item.Times + '</span>'
                        + '</div>'
                        + '<div class="d-flex flex-column">'
                        + '<h6 class="text-dark text-sm mb-0">' + item.Name + '</h6>'
                        + '<span class="text-xs">'
                        + item.ServiceCode
                        + '</span> '
                        + '</div>'
                        + '</div>'
                        + '</td>'


                    stringContent = stringContent + '<tr role="row" class="vt-number rowMaster" data-id="' + item.ID + '" data-name="' + item.Name + '" >' + tr + '</tr>';



                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        EventRowMasterGrid();
        if ($('.rowMaster')[0]) {
            $('.rowMaster')[0].click();
        }
    }
    function RenderReportDetail(data, id)
    {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let TreatmentID = 0;
            let STT = 0;
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (TreatmentID != item.TreatmentID) STT++;
                    let tr =
                        ((TreatmentID != item.TreatmentID) ? ('<td rowspan="' + item.CountProduct + '" class="vt-number-order"></td>') : '')
                        + ((TreatmentID != item.TreatmentID) ? ('<td rowspan="' + item.CountProduct + '"><a target="_blank" href="/Customer/MainCustomer?CustomerID=' + Number(item.CustID) + '&ver=' + versionofWebApplication + '">' + item.CustCode + '</a></td>') : '')
                        + ((TreatmentID != item.TreatmentID) ? ('<td rowspan="' + item.CountProduct + '">' + item.CustName + '</td>') : '')
                        + ((TreatmentID != item.TreatmentID) ? ('<td rowspan="' + item.CountProduct + '" data-sortvalue="' + (item.ServiceName) + '">' + item.ServiceName + '</td>') : '')
                        + ((TreatmentID != item.TreatmentID) ? ('<td rowspan="' + item.CountProduct + '">' + item.DateString + '</td>') : '')
                        + '<td>' + item.ProductCode + '</td>'
                        + '<td><a style="text-decoration: underline;" class="buttonEditClass">' + item.ProductName + '</a></td>'
                        + '<td data-sortvalue="' + (item.NumberTreat) + '">' + item.NumberTreat + '</td>'
                        + '<td data-sortvalue="' + (item.UnitTreat) + '">' + item.UnitTreat + '</td>'
                        + '<td data-sortvalue="' + (item.NumberTreatStandard) + '">' + item.NumberTreatStandard + '</td>'
                        + '<td data-sortvalue="' + (item.UnitStandard) + '">' + item.UnitStandard + '</td>'
                        + '<td data-sortvalue="' + (item.IsExport) + '" style="text-align:center;">' + (item.IsExport == 1 ? '<span style="display:none;">X</span><i class="buttonActionClass vtt-icon vttech-icon-check"></i>' : '') + '</td>'
                        + '<td>' + ((item.IsExport == 1) ? item.DateExport : "") + '</td>'
                        + '<td class="selectedtd">' + item.WareName + '</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                    TreatmentID = item.TreatmentID;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function exportData_ExportTreatment()
    {
        exportToExcel("dtContent_ExportTreatment", Outlang['Vat_lieu_dieu_tri']);
    }
    function exportData_Detail()
    {
        exportToExcel("dtContentReport_DetailGrid", Outlang['Chi_tiet_vat_lieu_dieu_tri']);
    }
</script>
