@page
@model MLunarCoffee.Pages.Customer.Service.TabComboMultiModel
@{
    Layout = null;
}

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Combo"]</h6>
                            <p class="text-sm mb-0">@Local["Danh sách combo"]</p>
                        </div>
                    </div>
                    <div class="ms-auto my-auto mt-1">
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="row px-2">
                    <div class="col-12 col-lg-7 mt-2 px-1">
                        <h6 class="mb-0">@Local["Combo dịch vụ"]</h6>
                        <div class="row px-2">
                            <div class="field col-12 col-sm-12 col-md-6 col-lg-4 px-1 mt-2">

                                <div class="ui fluid search selection dropdown form-control" id="tcm_combotypeservice">
                                    <input type="hidden" name="" />
                                    <i class="dropdown icon"></i>
                                    <i class="remove icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">@Local["Loại"]</div>
                                    <div id="tcm_cbbcombotypeservice" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-sm-12 col-md-6 col-lg-8 px-1 mt-2">
                                <div id="tabcombo_div" class="position-relative">
                                    <input id="tcm_comboinput" class="form-control" onfocus="event.preventDefault();return TCMulti_ComboTrigger(event);"
                                           placeholder="@Local["Combo dịch vụ"]"
                                           onkeyup="event.preventDefault();return  TCMulti_SearchCombo(event)" autocomplete="off">
                                    <div id="tcm_comboresult" class="stickytable card shadow-lg mt-4">
                                        <div class="card-header pb-0 p-3">
                                            <h6 class="mb-0">@Local["Danh sách combo"]</h6>
                                        </div>
                                        <div class="contentsearch card-body p-0 mt-3 max-height-300">
                                            <table class="table vt-table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width: 45px">#</th>
                                                        <th style="min-width: 150px">@Local["Tên"]</th>
                                                        <th>@Local["Dịch vụ"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tcm_comboresulttable">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-sm-12 col-md-6 col-lg-4 px-1 mt-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text"> @Local["SL"]</span>
                                        <input id="tcm_comboquantity" class="ps-2 form-control" type="number" onchange="event.preventDefault();TCMulti_ChangeCombo();" value="1" min="0" max="10000" pattern="[0-9]{1,5}" />
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-sm-12 col-md-6 col-lg-8 px-1 mt-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text w-20">@Local["C.Khấu"]</span>
                                        <input id="tcm_discountamountper" class="form-control w-60" placeholder="eg .@Local["Chiết khấu"]" type="text" onchange="event.preventDefault();TCMulti_ChangeDiscount();">
                                        <div class="input-group-text w-20 p-0">
                                            <div class="position-relative w-100">
                                                <div class="ui fluid search selection dropdown form-control border-0" id="tcm_discounttype" onchange="return TCMulti_ChangeDiscount();">
                                                    <input type="hidden" name="name" value="2">
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0"><div class="text">VND</div>
                                                    <div class="menu transition hidden" tabindex="-1">
                                                        <div class="item" data-value="1">%</div>
                                                        <div class="item active selected" data-value="2">VND</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                    </div>
                                </div>
                                <span class="text-danger text-sm fw-bold" id="tcm_maxdiscount"></span>
                            </div>

                        </div>

                        <div class="m-0 my-1">
                            <div id="tcm_checkallarea" class="form-check ms-1 mb-2 d-none">
                                <input id="tcm_checkall" class=" form-check-input " type="checkbox" checked>
                                <span class="text-sm text-dark fw-bold ms-1 ">@Local["Tất cả"]</span>
                            </div>
                            <ul class="list-group mt-0" id="tcm_listservice">
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 mt-2 px-1 mt-0 mt-lg-n5">
                        <div class="bg-gray-100 rounded-2 position-sticky top-5 mx-0 mx-lg-2">
                            <div class="pb-0">
                                <div class="p-4 pb-0 pt-3">
                                    <div class="col-auto my-auto">
                                        <div class="">
                                            <div class="d-flex align-items-center">
                                                <h6 id="tcm_combocode" class="text-primary mb-0 fw-bolder ellipsis_one_line">#</h6>
                                                <p id="tcm_comboname" class="text-dark text-sm fw-bolder mb-0 ps-2 ellipsis_one_line">--</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body pt-3 form3" id="tcm_formser">

                                <ol id="tcm_listserorder" class="list-group position-relative rounded-0 ps-3" style="list-style:decimal !important;">
                                </ol>
                                

                                <div class="mt-2">
                                    <div class="d-lg-flex">
                                        <div class="ms-auto my-auto">
                                            <ul class="nav nav-pills nav-pills pe-n1 bg-transparent tabgeneral" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link cursor-pointer active" data-bs-toggle="pill" data-bs-target="#general_info" role="tab" aria-selected="true">
                                                        @Local["Thông tin chung"]
                                                    </a>
                                                </li>
                                                <li class="nav-item me-0" role="presentation">
                                                    <a id="nav-link cursor-pointer" class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#general_other" role="tab" aria-selected="false">@Local["Khác"]</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="general_info" role="tabpanel">
                                            <div class="row px-1">
                                                <div class="field col-12 col-xl-6 px-1">
                                                    <label>@Local["Tư vấn"]</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_consult">
                                                        <input type="hidden" name="Employee" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Tư vấn"]</div>
                                                        <div id="tcm_cbbconsult" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field col-12 col-xl-6 px-1">
                                                    <label>@Local["Telesale"]</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_telesale">
                                                        <input type="hidden" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Telesale"]</div>
                                                        <div id="tcm_cbbtelesale" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row px-1">
                                                <div class="field col-12 col-xl-6 px-1 flex-grow-1">
                                                    <label>@Local["Nguồn dịch vụ"]</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_servicesource">
                                                        <input type="hidden" data-validation="cbbass_treatmutil" class="_validation_option_" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Nguồn dịch vụ"]</div>
                                                        <div id="tcm_cbbservicesource" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tcm_blockdate" class="field col-12 col-xl-6 px-1 d-none">
                                                    <label>@Local["Ngày tạo"]</label>
                                                    <input id="tcm_datecreated" class="form-control flatpickr" type="text" placeholder="eg .@Local["Ngày tạo"]" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="general_other" role="tabpanel">
                                            <div class="row px-1">
                                                <div class="field col-12 col-xl-6 px-1">
                                                    <label>@Local["Người chịu trách nhiệm"]</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_Consult2">
                                                        <input type="hidden" name="" />
                                                        <i class="dropdown icon"></i>
                                                        <i class="remove icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Người chịu trách nhiệm"]</div>
                                                        <div id="tcm_ccbConsult2" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field col-12 col-xl-6 px-1">
                                                    <label>@Local["Telesale"] 2</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_Telesale2">
                                                        <input type="hidden" name="" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Telesale"] 2</div>
                                                        <div id="tcm_ccbTelesale2" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row px-1">
                                                <div class="field col-12 col-xl-6 px-1">
                                                    <label>@Local["Người tư vấn"] 1</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_Consult3">
                                                        <input type="hidden" name="" />
                                                        <i class="dropdown icon"></i>
                                                        <i class="remove icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">eg .@Local["Người tư vấn"]</div>
                                                        <div id="tcm_ccbConsult3" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field col-12 col-xl-6 px-1">
                                                    <label>@Local["Người tư vấn"]2</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_Consult4">
                                                        <input type="hidden" name="" />
                                                        <i class="dropdown icon"></i>
                                                        <i class="remove icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">eg .@Local["Người tư vấn"]</div>
                                                        <div id="tcm_ccbConsult4" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row px-1">
                                                <div class="field col-12 col-xl-6 px-1">
                                                    <label>@Local["Người hỗ trợ"]</label>
                                                    <div class="ui fluid search selection dropdown form-control" id="tcm_KTV">
                                                        <input type="hidden" name="" />
                                                        <i class="dropdown icon"></i>
                                                        <i class="remove icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">eg .@Local["Người hỗ trợ"]</div>
                                                        <div id="tcm_ccbKTV" class="menu" tabindex="-1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row px-1">
                                    <div class="field col-12 px-1 ">
                                        <label>@Local["Nội dung"]</label>
                                        <textarea class="form-control" id="tcm_content" rows="2" name="content" />
                                    </div>
                                </div>
                                <div class="row px-1">
                                    <ul id="tcm_infopayemnt" class="list-group position-relative rounded-0 mt-3 col-12 px-1">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault(); return Tab_List_Service_Close_Detail();">@Local["Đóng"]</button>
                        <button id="tcm_btnexecute" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault(); return TCMulti_ExecuteData();">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>

<script>


    //#region // DECLARE & INIT
    var TCM_CurrentComboID = 0;
    var TCM_DataMain = {};
    var TCM_DataService = {};
    var TCM_DataCombo = {};
    let TCM_DataEmployee;
    let TCM_DataKTV = [];

    let TCMulti_FlagChange = 1;
    let TCMulti_RulerCombo = 0;


    //#region // Plain
    var TCM_PlainID = '@Model._PlanID';
    var TCM_PatientRecordID = '@Model._PatientRecordID';
    //#endregion

    //#region // TOTAL
    var TCM_TotalPriceRoot = 0;
    //#endregion

    var TCM_ChooseDateCustomer = '@Model._ChooseDateCustomer';

    $(document).ready(function () {
        TCMulti_InitValue();
        TCMulti_Init();
        Checking_Require_Validation('@Model._dtPermissionCurrentPage');
    });

    function TCMulti_InitValue() {
        // Data Page MainCustomer
        TCM_DataService = data_service_root.reduce((pre, arr) => {
            if (arr.ID) pre[arr.ID] = arr;
            return pre;
        }, {});
        TCM_DataEmployee = sys_MainEmp;
        TCM_DataKTV = sys_MainEmp.filter(function (el){
            return Number(el.GroupID) == 17;
        })

        $("#tcm_datecreated").flatpickr({
            dateFormat: 'd-m-Y H:i',
            enableTime: true,
            defaultDate: new Date()
        });

        if (TCM_ChooseDateCustomer == "1") {
            $("#tcm_blockdate").removeClass("d-none");
        }

        Load_Combo(TCM_DataEmployee, 'tcm_cbbconsult', true);
        Load_Combo(TCM_DataEmployee, 'tcm_cbbtelesale', false);

        Load_Combo(TCM_DataEmployee, 'tcm_ccbConsult2', false);
        Load_Combo(TCM_DataEmployee, 'tcm_ccbConsult3', false);
        Load_Combo(TCM_DataEmployee, 'tcm_ccbConsult4', false);
        Load_Combo(TCM_DataKTV, 'tcm_ccbKTV', false);


        $("#tcm_consult").dropdown('refresh');
        $("#tcm_consult").dropdown('set selected', sys_employeeID_Main.toString());

        $("#tcm_telesale").dropdown('refresh');
        $("#tcm_telesale").dropdown('set selected', ser_TeleID.toString());

        $("#tcm_Consult2").dropdown('refresh');
        $("#tcm_Consult2").dropdown('set selected', ser_ResponID.toString());

        $("#tcm_discountamountper").divide();

        $(document).click(function (e) {
            let inputCombo = $("#tcm_comboinput");
            if (!$(inputCombo).is(e.target) && $(inputCombo).has(e.target).length === 0) {
                $('#tcm_comboresult').removeClass("active");
            }
        });

    }

    function TCMulti_Init() {
        AjaxLoad(url = "/Customer/Service/TabComboMulti/?handler=Init"
            , data = {}
            , async = true
            , error = function () {
                notiError_SW()
            }
            , success = function (result) {
                let data = JSON.parse(result);
                let dataSerComboType = data.ServiceComboType;
                let dataSerCombo = data.ServiceCombo;
                let dataSerSource = data.ServiceSource;

                TCM_DataCombo = dataSerCombo.reduce((pre, arr) => {
                    if (arr.ID) {
                        arr.Name = `<span class="text-primary">${arr.Code}</span> - <span>${arr.ComboName}</span>`;
                        //arr.ListService = JSON.parse(arr.ListService);
                        pre[arr.ID] = arr;
                    }
                    return pre;
                }, {});

                Load_Combo(dataSerSource, 'tcm_cbbservicesource', true);
                Load_Combo(dataSerCombo, 'tcm_cbbcomboservice', true);
                Load_Combo(dataSerComboType, 'tcm_cbbcombotypeservice', true, "@Local["Tất cả"]");
                Load_Combo(data.Tele, 'tcm_ccbTelesale2', true);

            }
        );
    }

    //#endregion

    //#region // SEARCH COMBO

    function TCMulti_SearchCombo(event) {
        new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    event.preventDefault();
                    event.stopPropagation(); debugger
                    let searchtext = $('#tcm_comboinput').val();
                    let type = $("#tcm_combotypeservice").dropdown('get value') ? $("#tcm_combotypeservice").dropdown('get value') : 0;
                    let search = xoa_dau(searchtext).trim().toLowerCase();
                    let data = Object.values(TCM_DataCombo).filter(function (item) {
                        if ((xoa_dau(item.ComboName).toLowerCase().includes(search)
                            || xoa_dau(item.Code).toLowerCase().includes(search))
                            && (type == 0 || item.ComboType == type))
                            return true;
                        else return false;
                    })
                        .sort((a, b) => {
                            if (a.ComboName.toLowerCase().indexOf(search) > b.ComboName.toLowerCase().indexOf(search)) {
                                return 1;
                            } else if (a.ComboName.toLowerCase().indexOf(search) < b.ComboName.toLowerCase().indexOf(search)) {
                                return -1;
                            } else {
                                if (a.ComboName > b.ComboName)
                                    return 1;
                                else
                                    return -1;
                            }
                        });
                    if (data != undefined && data != null) {
                        TCMulti_RenderCombo(TCM_DataService, data, "tcm_comboresulttable");
                        $('#tcm_comboresulttable').show();
                        TCMulti_ComboEvent();
                    }
                    else {
                        $('#tcm_comboresulttable').hide();
                    }
                    resolve()
                }
            )
        })
    }

    function TCMulti_ComboTrigger(event) {
        event.preventDefault();
        event.stopPropagation();
        if (TCM_DataCombo != undefined && TCM_DataCombo != null) {
            let type = $("#tcm_combotypeservice").dropdown('get value') ? $("#tcm_combotypeservice").dropdown('get value') : 0;
            let dataCombo = Object.values(TCM_DataCombo);
            if (type != 0) {
                dataCombo = dataCombo.filter((word) => {
                    return word.ComboType == type;
                });
            }
            TCMulti_RenderCombo(TCM_DataService, dataCombo, "tcm_comboresulttable");
            $('#tcm_comboresult').addClass('active');
            TCMulti_ComboEvent();
        }
        else {
            $('#tcm_comboresult').removeClass('active');
        }
    }

    function TCMulti_RenderCombo(dataser, data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = "";
            let stringContent = "";

            for (let i = 0; i < data.length; i++) {
                let value = data[i]
                let ser = '';
                let services = Fun_GetArray_ByJson(dataser, value.ListService);
                for (let j = 0; j < services.length; j++) {
                    ser = ser + '<span class="badge badge-md bg-primary rounded-1 m-1">' + services[j] + '</span>';
                }
                let tr = '<td class="vt-number-order"></td>'
                    + '<td>'
                    + '<span class="text-primary mb-0 d-block fw-bold">' + value.Code + '</span>'
                    + '<span >' + value.ComboName + '</span>'
                    + '</td>'
                    + '<td class="text-wrap">' + ser + '</td>';

                stringContent = stringContent
                    + '<tr role="row" data-value=' + value.ID + ' class="vt-number rowcombotabservice combotype combotype_' + value.ComboType + '">' + tr + '</tr>';
            }
            myNode.innerHTML = stringContent;
        }
    }

    function TCMulti_ComboEvent() {

        $(".rowcombotabservice").unbind('click').on("click", function () {
            let _servicelist = '';
            let _selected_comboid = $(this).attr('data-value');
            if (TCM_DataCombo[_selected_comboid] != undefined) {
                $('#tcm_comboinput').val(TCM_DataCombo[_selected_comboid].ComboName);
                TCM_CurrentComboID = _selected_comboid;
                TCMulti_ChangeCombo();
            }
            $('#tcm_comboresult').removeClass('active');
        })
    }

    //#endregion

    //#reigon // CHANGE COMBO

    function TCMulti_ChangeComboType() {
        let type = $("#tcm_combotypeservice").dropdown('get value') ? $("#tcm_combotypeservice").dropdown('get value') : 0;
        if (type != 0) {
            $(".combotype")
                .not(".combotype_" + type)
                .addClass("d-none")
                .siblings(".combotype_" + type)
                .removeClass("d-none");
        }
        else {
            $(".combotype").removeClass("d-none");
        }
    }

    function TCMulti_ChangeCombo() {
        let _comboID = TCM_CurrentComboID;
        let _comboQuantity = Number($("#tcm_comboquantity").val()) ? Number($("#tcm_comboquantity").val()) : 1;
        let _comboItem = TCM_DataCombo[_comboID];
        let _dataSerCombo = JSON.parse(_comboItem?.ListService);
        TCM_CurrentComboID = _comboID;
        $("#tcm_combocode").html(_comboItem?.Code || "-");
        $("#tcm_comboname").html(_comboItem?.ComboName || "-");
        if (isNaN(_comboQuantity) || _comboQuantity < 0) {
            $("#tcm_comboquantity").val(1);
            return;
        }
        else if (!Number.isInteger(_comboQuantity)) {
            _comboQuantity = Number.parseInt(_comboQuantity)
            $("#tcm_comboquantity").val(_comboQuantity);
        }
        TCMulti_ResetField();
        TCMulti_EventMain();
        if (_dataSerCombo && _dataSerCombo != "") {
            for (const [key, value] of Object.entries(_dataSerCombo)) {
                value.Quantity = _comboQuantity;
                TCMulti_NewRow(key, value);
            }
            TCMulti_RulerCombo = _comboItem.Ruler
            if (TCMulti_RulerCombo == 1) {
                let tokenSer = _comboItem.ServiceFree?.split(',');
                for (let i = 0; i < tokenSer.length; i++) {
                    if (tokenSer[i] && tokenSer[i] != "") {
                        let itemFree = {
                            Amount: 0,
                            Percent: 0,
                            Price: 0,
                            Quantity: _comboQuantity
                        };
                        TCMulti_NewRow(tokenSer[i], itemFree, 1);
                    }
                }
            }
            TCMulti_Price_For_All();
        }
    }

    function TCMulti_CollapseServiceFree() {
        if (TCMulti_FlagChange == 0) return;
        TCMulti_FlagChange = 0;
        let isFreeSer = 0
        if (TCMulti_RulerCombo == 1) {
            isFreeSer = 1;
            for (let [key, value] of Object.entries(TCM_DataMain)) {
                if (value.State == 0 && value.IsFree == 0) {
                    isFreeSer = 0
                }
            }

            if (isFreeSer == 0) {
                $('#tcm_listservice .tcm_row.tabFree').hide();
                for (let [key, value] of Object.entries(TCM_DataMain)) {
                    if (value.IsFree == 1) {
                        $("#tcm_choose_sevice_" + key).prop('checked', false);
                        value.State = 0;
                    }
                }
            }
            else {
                $('#tcm_listservice .tcm_row.tabFree').show();
            }
        }
        TCMulti_FlagChange = 1;
    }

    function TCMulti_ChangeDiscount() {
        let val = Number($("#tcm_discountamountper").val()) ? Number($("#tcm_discountamountper").val()) : 0;
        let type = Number($("#tcm_discounttype").dropdown('get value')) ? Number($("#tcm_discounttype").dropdown('get value')) : 0;
        if (isNaN(val) || (type == 1 && (val > 100 || val < 0)) || (type == 2 && val > TCM_TotalPriceRoot)) {
            val = 0;
            $("#tcm_discountamountper").val(0)
        }
        $(".tcm_row:not(.tabFree) .tcm_itemtypedisamountper").dropdown("refresh");
        $(".tcm_row:not(.tabFree) .tcm_itemtypedisamountper").dropdown("set selected", type);
        $(".tcm_row:not(.tabFree) .tcm_itemtypedisamountper").trigger('change');

        if (type == 2) {
            let totalpercent = 0;
            let totaldiscount = 0;
            for (let [key, value] of Object.entries(TCM_DataMain)) {
                let percent = Math.ceil((value.PriceRoot / TCM_TotalPriceRoot) * 100);
                let discount = Math.round(Math.floor(val * percent / 100) / 1000) * 1000;
                if (totalpercent + percent > 100) {
                    discount = val - totaldiscount
                }
                $("#tcm_itemdisamountper_" + key).val(discount).trigger('change');
                totalpercent += percent;
                totaldiscount += discount;
            }
        }
        else {
            $(".tcm_row:not(.tabFree) .tcm_itemdisamountper").val(val).trigger('change');
        }
    }

    //#endreigon

    //#region // RESET FIELD

    function TCMulti_ResetField() {
        $("#tcm_listservice").empty();
        $('#tcm_checkall').prop('checked', true);
        $('#tcm_checkallarea').removeClass('d-none');
        TCM_DataMain = {};
    }
    function TCMulti_EventMain () {
        $("#tcm_checkall").unbind().change(function (event) {
            let _v = $(this).is(":checked");
            $('#tcm_listservice .tcm_choose_sevice').prop('checked', _v);
            $('#tcm_listservice .tcm_choose_sevice').each(function (i, obj) {
                let _id = $(this).attr('data-id');
                TCM_DataMain[_id].State = _v ? 1 : 0;
            });

            TCMulti_CollapseServiceFree();
             TCMulti_Price_For_All();
        });
    }
    //#endregion

    //#region // RENDER

    function TCMulti_NewRow(ServiceID = 0, Value = {}, IsFree = 0) {
        let element = {};
        let id = TCMulti_UniqueRow();// (new Date().getTime()) + Math.floor(Math.random() * 100)
        let service = TCM_DataService[Number(ServiceID)];
        let priceSer = Number(Value?.Price) || 0
        let amountSer = Number(Value?.Amount) || 0
        let percentSer = Number(Value?.Percent) || 0
        let quantity = Number(Value?.Quantity) || 1
        element.ServiceID = ServiceID;
        element.Quantity = quantity;
        element.TimeToTreat = Number(Value?.Times) > 0 ? Number(Value?.Times) : (service?.TimeToTreatment ?? 1 );
        element.PriceUnit = priceSer;
        element.PriceRoot = priceSer;
        element.PriceDiscounted = Math.floor(percentSer != 0 ? priceSer * (percentSer / 100) : priceSer - amountSer);
        element.DiscountAmount = amountSer;
        element.DiscountPer = percentSer;
        element.State = IsFree == 0 ? 1 : 0;
        element.IsFree = IsFree;
        TCM_DataMain[id] = element;
        TCMulti_RenderRow(id, element, 'tcm_listservice');
        return id;
    }

    function TCMulti_UniqueRow(){
        let randomdi = (new Date().getTime()) + Math.floor(Math.random() * 100);
        if (TCM_DataMain[randomdi] != undefined){
            return TCMulti_UniqueRow();
        }
        return randomdi;
    }

    function TCMulti_RenderRow(key, value, id) {
        var myNode = document.getElementById(id);
        if (myNode != null && TCM_DataService[Number(value.ServiceID)]) {
            let service = TCM_DataService[Number(value.ServiceID)];
            let tr = `<li id="tcm_row_${key}" data-id="${key}" data-serid="${value.ServiceID}"
                                    class="tcm_row border-0 border-1 border-dashed border-radius-lg border-secondary mb-0 pb-3 position-relative ps-0 row-add list-inline ${value.IsFree == 1 ? `tabFree` : ""}">
                            <div class="row w-100 mx-0">
                                <div class="col-12 col-md-12 px-1 mt-2 text-sm ">
                                    <div class="form-check">
                                        <input id="tcm_choose_sevice_${key}" data-id="${key}" class="form-check-input pr-2 tcm_choose_sevice" type="checkbox" ${value.State == 1 ? `checked="checked"` : ``}>
                                        <label for="tcm_choose_sevice_${key}" class="mb-0 mt-1 cursor-pointer">
                                            <span class="text-primary text-sm  fw-bold">${service.Service_Code}</span>
                                            <span> - </span>
                                            <span class="text-primary text-sm  fw-bold">${service.Name}</span>
                                        </label>
                                            <span class="text-secondary text-lowercase fst-italic text-sm ms-2">
                                            ${service.TimeToTreatment} @Local["Lần"] - ${service.UnitName}
                                            ${value.IsFree == 1 ? `<span class="text-danger ms-2"> @Local["Miễn phí"]</span>` : ""}
                                    </span >
                                    </div>
                                </div>
                            </div>
                                ${value.IsFree == 0
                    ? `
                                        <div class="row w-100 mx-0">
                                            <div class="col-12 col-md-6 px-1 field">
                                                ${TCMulti_RenderPrice(key)}
                                            </div>
                                            <div class="col-12 col-md-3 px-1 field">
                                                ${TCMulti_RenderQuantity(key)}
                                            </div>
                                            <div class="col-12 col-md-3 px-1 field">
                                                ${TCMulti_RenderDiscount(key)}
                                            </div>
                                        </div>
                                    `
                    : `
                                        <div class="col-12 col-md-12 px-1 field">
                                            ${TCMulti_RenderQuantity(key)}
                                        </div>
                                    `
                }
                        </li>`
            myNode.insertAdjacentHTML("beforeend", tr);
        }
        TCMulti_FillData(key, value);
        TCMulti_EventRow(key);

    }

    function TCMulti_RenderPrice(randomNumber) {
        let result =
            `
                <label>@Local["Đơn giá"]</label>
                    <input class="ps-2 tcm_itemprice form-control"
                        id="tcm_itemprice_${randomNumber}" placeholder="eg .@Local["Đơn giá"]" />
                <span class="text-danger text-sm fw-bold" id="tcm_itemprice_max_${randomNumber}"></span>
            `
        result = result;
        return result;
    }

    function TCMulti_RenderQuantity(randomNumber) {
        let result =
            `
                <label>@Local["Số lượng"]</label>
                    <input type="number" min="0" class="ps-2 tcm_itemquantity form-control"
                        id="tcm_itemquantity_${randomNumber}" placeholder="eg .@Local["Số lượng"]" />
                <span class="text-danger text-sm fw-bold" id="tcm_itemquantity_max_${randomNumber}"></span>
            `
        result = result;
        return result;
    }

    function TCMulti_RenderDiscount(randomNumber) {
        let result = `
                <label>@Local["Chiết khấu"]</label>
                <div class="position-relative">
                    <input id="tcm_itemdisamountper_${randomNumber}" class="border-right-0 form-control d-block tcm_itemdisamountper" placeholder="eg .@Local["Chiết khấu"]" type="text" >
                    <div class=" tcm_itemtypedisamountper ui fluid search selection d-block dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="tcm_itemtypedisamountper_${randomNumber}">
                        <input type="hidden" name="name" value="2">
                        <i class="dropdown icon"></i>
                        <input class="search" autocomplete="off" tabindex="0"><div class="text">VND</div>
                        <div class="menu transition hidden" tabindex="-1">
                            <div class="item" data-value="1">%</div>
                            <div class="item active selected" data-value="2">VND</div>
                        </div>
                    </div>
                </div>
            `
        result = result;
        return result;
    }

    function TCMulti_FillData(key, value) {
        let item = TCM_DataService[Number(value.ServiceID)];
        if (item == undefined) return;
        TCMulti_PriceMaxService(item.Price, item.Price_Max, key);
        $("#tcm_itemprice_" + key).val(formatNumber(value?.PriceUnit));
        $("#tcm_itemquantity_" + key).val(formatNumber(value?.Quantity));
        $("#tcm_itemdisamountper_" + key).val(formatNumber(value?.DiscountPer || value?.DiscountAmount));
        let type = "2"
        if (value?.DiscountPer && value?.DiscountPer != 0) type = "1"
        $("#tcm_itemtypedisamountper_" + key).dropdown("refresh");
        $("#tcm_itemtypedisamountper_" + key).dropdown("set selected", type);
        if (value.IsFree == 1) {
            $("#tcm_itemdisamountper_" + key).prop("disabled", true);
            $("#tcm_itemprice_" + key).prop("disabled", true);
        }
    }

    function TCMulti_EventRow(key) {

        $("#tcm_listservice #tcm_itemprice_" + key).divide();
        $("#tcm_listservice #tcm_itemquantity_" + key).divide();
        //$("#tcm_listservice #tcm_itemdisamountper_" + key).divide();
        $('#tcm_listservice #tcm_itemtypedisamountper_' + key + '.ui.dropdown').dropdown({
            allowCategorySelection: true,
            forceSelection: false,
            transition: "fade up"
        });

        $('#tcm_listservice #tcm_itemprice_' + key).unbind('change').change(function () {
            if (TCMulti_FlagChange == 0) return;
            let _val = Number($(this).val());
            let _id = this.id
            _id = _id.replace("tcm_itemprice_", "");
            TCM_DataMain[_id].PriceUnit = !isNaN(_val) ? _val : 0;
            TCM_DataMain[_id].PriceRoot = Math.floor(TCM_DataMain[_id].PriceUnit * TCM_DataMain[_id].Quantity);
            TCMulti_Price_For_All();
        });


        $('#tcm_listservice #tcm_choose_sevice_' + key).unbind('change').change(function () {
            if (TCMulti_FlagChange == 0) return;
            let _val = $(this).is(":checked");
            let _id = this.id
            _id = _id.replace("tcm_choose_sevice_", "");
            TCM_DataMain[_id].State = _val ? 1 : 0;
            TCMulti_CollapseServiceFree();
            TCMulti_Price_For_All();
        });

        $('#tcm_listservice #tcm_itemquantity_' + key).unbind('change').change(function () {
            if (TCMulti_FlagChange == 0) return;
            let _val = Number($(this).val());
            let _id = this.id
            _id = _id.replace("tcm_itemquantity_", "");
            if (isNaN(_val) || _val < 0) {
                _val = 0;
                $(this).val(_val);
            }
            else if (!Number.isInteger(_val)) {
                _val = Number.parseInt(_val)
                $(this).val(_val);
            }
            TCM_DataMain[_id].Quantity = _val;
            TCM_DataMain[_id].PriceRoot = Math.floor(TCM_DataMain[_id].PriceUnit * TCM_DataMain[_id].Quantity);
            TCMulti_Price_For_All();
        });

        $('#tcm_listservice #tcm_itemdisamountper_' + key).unbind('change').change(function () {
            if (TCMulti_FlagChange == 0) return;
            TCMulti_FlagChange = 0;
            let id = Number(this.id.replace("tcm_itemdisamountper_", ""));
            let value = Number($(this).val());
            let type = Number($("#tcm_itemtypedisamountper_" + id).dropdown('get value')) ? Number($("#tcm_itemtypedisamountper_" + id).dropdown('get value')) : 0
            if (isNaN(value) || (type == 1 && (value > 100 || value < 0))) {
                $(this).val(0);
                value = 0;
            }
            TCM_DataMain[id].DiscountAmount = (type == 2 ? value : 0);
            TCM_DataMain[id].DiscountPer = (type == 1 ? value : 0);
            TCMulti_Price_For_All();
            TCMulti_FlagChange = 1;
        });

        $('#tcm_listservice #tcm_itemtypedisamountper_' + key).unbind('change').change(function () {
            if (TCMulti_FlagChange == 0) return;
            TCMulti_FlagChange = 0;
            let type = Number($(this).dropdown('get value')) ? Number($(this).dropdown('get value')) : 0
            let id = Number(this.id.replace("tcm_itemtypedisamountper_", ""));
            let value = Number($("#tcm_itemdisamountper_" + id).val());
            TCM_DataMain[id].DiscountAmount = (type == 2 ? value : 0);
            TCM_DataMain[id].DiscountPer = (type == 1 ? value : 0);
            TCMulti_Price_For_All();
            TCMulti_FlagChange = 1;
        });

    }

    //#endregion

    //#region // Check Max Discounted Service

    async function TCMulti_PriceMaxService(Price, PriceMax, id) {
        if (Price == PriceMax) {
            //$("#tcm_itemprice_" + id).prop("disabled" , true);
            $('#tcm_itemprice_max_' + id).show();
            let _re = '<span>(&nbsp' + formatNumber(Price) + ')</span>';
            $('#tcm_itemprice_max_' + id).html(_re);
        }
        else {
            $('#tcm_itemprice_max_' + id).show();
            let _re = '<span>(&nbsp' + formatNumber(Price) + ' ~ ' + formatNumber(PriceMax) + '&nbsp)</span>';
            $('#tcm_itemprice_max_' + id).html(_re);
        }
    }

    //#endregion

    //#region // PRICE ALL

    function TCMulti_Price_For_All() {
        for (let [key, value] of Object.entries(TCM_DataMain)) {
            value.PriceRoot = Math.floor(value.PriceUnit * value.Quantity);
            let discount = value.DiscountPer != 0 ? (value.PriceRoot * (value.DiscountPer / 100)) : value.DiscountAmount;
            value.DiscountAmountDoc = discount;
            value.PriceDiscounted = Math.floor(value.PriceRoot - discount);
        }
        TCMulti_RenderServiceOrder(TCM_DataMain, 'tcm_listserorder');
        TCMulti_RenderInfoPayment(TCM_DataMain, 'tcm_infopayemnt');
        TCMulti_ValidForm();
    }

    function TCMulti_ValidForm() {
        $("#textShowMessage").html("")
        let result = true;
        let discountmax = 0;
        let totalservice = 0;
        if (TCM_CurrentComboID == undefined || TCM_CurrentComboID == 0) {
            $("#textShowMessage").html("@Local["Chọn combo"]")
            return false;
        }
        for (const [key, value] of Object.entries(TCM_DataMain)) {
            let ser = TCM_DataService[Number(value.ServiceID)]
            if (ser == undefined || value.State == 0) continue;
            totalservice++;
            if (value.IsFree == 0 && (value.PriceUnit > ser.Price_Max || value.PriceUnit < ser.Price)) {
                $("#tcm_itemprice_" + key).parent('.field').addClass("error");
                result = false;
            }
            else {
                $("#tcm_itemprice_" + key).parent('.field').removeClass("error");
            }

            if (value.PriceUnit * value.Quantity < value.DiscountAmountDoc) {
                result = false;
                discountmax = 1;
                $("#tcm_itemdisamountper_" + key).closest('.field').addClass("error");
            }
            else {
                $("#tcm_itemdisamountper_" + key).closest('.field').removeClass("error");
            }
            if (discountmax == 1) {
                $("#textShowMessage").html("@Local["Giá giảm không thể lớn hơn giá dịch vụ"]")
            }
            else if (!result) {
                $("#textShowMessage").html("@Local["Kiểm tra dữ liệu"]")
            }
        }
        if (totalservice == 0) {
            result = false;
            $("#textShowMessage").html("@Local["Chọn dịch vụ mới"]")
        }
        return result;
    }


    //#endregion


    //#region // EXECUTE

    function TCMulti_ExecuteData() {
        $('#tcm_formser').form('validate form');
        if (!$('#tcm_formser').form('is valid') || !TCMulti_ValidForm()) return;
        let comboid = TCM_CurrentComboID;
        let datecreated = $('#tcm_datecreated').val() ? $('#tcm_datecreated').val() : new Date();
        let sersourceid = Number($("#tcm_servicesource").dropdown('get value')) ? Number($("#tcm_servicesource").dropdown('get value')) : 0;
        let teleid = Number($("#tcm_telesale").dropdown('get value')) ? Number($("#tcm_telesale").dropdown('get value')) : 0;
        let consultid = Number($("#tcm_consult").dropdown('get value')) ? Number($("#tcm_consult").dropdown('get value')) : 0;
        let content = $("#tcm_content").val() ? $("#tcm_content").val() : '';

        let consultid2 = Number($("#tcm_Consult2").dropdown('get value')) ? Number($("#tcm_Consult2").dropdown('get value')) : 0;
        let teleid2 = Number($("#tcm_Telesale2").dropdown('get value')) ? Number($("#tcm_Telesale2").dropdown('get value')) : 0;
        let consultid3 = Number($("#tcm_Consult3").dropdown('get value')) ? Number($("#tcm_Consult3").dropdown('get value')) : 0;
        let consultid4 = Number($("#tcm_Consult4").dropdown('get value')) ? Number($("#tcm_Consult4").dropdown('get value')) : 0;
        let ktv = Number($("#tcm_KTV").dropdown('get value')) ? Number($("#tcm_KTV").dropdown('get value')) : 0;
        debugger
        let dataDetail = Object.values(TCM_DataMain).reduce((pre, arr) => {
            if (arr.State == 1) {
                arr.Telesale = teleid;
                arr.Consult1 = consultid;
                arr.Consult2 = consultid2;
                arr.Consult3 = consultid3;
                arr.Consult4 = consultid4;
                arr.Content = content;
                arr.KTV = ktv;
                arr.Telesale2 = teleid2;

                arr.dateCreated = datecreated;
                arr.Patient = TCM_PatientRecordID;
                arr.TreatmentPlan = TCM_PlainID;
                arr.IsChoose = 1;
                arr.SourceService = sersourceid;

                pre.push(arr);
            }
            return pre;

        }, []);

        AjaxLoad(url = "/Customer/Service/TabComboMulti/?handler=ExecuteData"
            , data = {
                'CustomerID': ser_MainCustomerID,
                'ComboID': comboid,
                'Patient': TCM_PatientRecordID,
                'Plan_Name': ConvertDateTimeUTC_YMD(new Date()),
                'Plan': TCM_PlainID,
                'data': JSON.stringify(dataDetail)
            }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != "0") {
                    if (result == "2") {
                        notiError(Outlang["Dau_tien_phai_nhap_tien_su"]);
                    }
                    else {
                        notiSuccess();
                        if (typeof TabList_Service_Loading_After_Modified_Service === 'function') TabList_Service_Loading_After_Modified_Service(1);
                        if (typeof Tab_List_Service_Close_Detail === 'function') Tab_List_Service_Close_Detail();
                        let codes = result.split(",");
                        if (codes != undefined && codes.length != 0) {
                            for (let cc = 0; cc < codes.length; cc++) {
                                if (codes[cc] != undefined && codes[cc] != '')
                                    syslog_cutser('i', codes[cc], ser_MainCustomerID, '')
                            }
                        }
                    }

                }
                else {
                    notiError_SW();
                }
            }
            , sender = $("#tcm_btnexecute")
        );
    }

    //#endregion


    //#reigon // RENDER

    async function TCMulti_RenderServiceOrder(data, id) {
        let stringContent = '';
        var myNode = document.getElementById(id);
        if (myNode) {
            myNode.innerHTML = "";
            let stringContent = "";
            let totalPriceRoot = 0;
            let totalDiscount = 0;
            let totalPriceDiscounted = 0;
            for (let [key, value] of Object.entries(data)) {
                if (value && value.State == 0 || TCM_DataService[Number(value.ServiceID)] == undefined) continue;
                let service = TCM_DataService[Number(value.ServiceID)];
                let li =
                    `
                    <li class="border-0 d-flex mb-0 py-0 px-0" style="display: list-item !important;">
                        <div class="row w-100 ms-0">
                            <div class="col-12 col-md-6 col-xl-6 px-0">
                                <span class="text-sm text-dark fw-bold text-sm">${service.Name}</span>
                                <div class="text-sm text-dark">
                                        <span class="text-dark pe-1">${formatNumber(value.PriceUnit)}</span>x<span class="text-dark ps-1">${value.Quantity}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6 px-0 text-lg-end">
                                <span class="text-secondary text-xs mb-0 d-block mt-1">@Local["Thành tiền"]</span>
                                    ${value.DiscountAmountDoc != "0" ? `<span class="text-sm text-danger fw-bold">(${formatNumber(value.DiscountAmountDoc)})</span>` : ""}
                                <span class="text-sm text-dark fw-bold text-sm">${formatNumber(value.PriceDiscounted)}</span>
                            </div>
                        </div>
                        <hr class="horizontal dark opacity-3 my-2">
                    </li>
                    `
                totalPriceRoot += value.PriceRoot;
                totalDiscount += value.DiscountAmountDoc;
                totalPriceDiscounted += value.PriceDiscounted;
                stringContent += li;
            }
            myNode.innerHTML = stringContent;
        }
    }


    async function TCMulti_RenderInfoPayment(data, id) {
        let stringContent = '';
        var myNode = document.getElementById(id);
        if (myNode) {
            myNode.innerHTML = "";
            let totalPriceRoot = 0;
            let totalDiscount = 0;
            let totalPriceDiscounted = 0;
            let stringContent = '';
            for (let [key, value] of Object.entries(data)) {
                if (value && value.State == 0 || TCM_DataService[Number(value.ServiceID)] == undefined) continue;
                let service = TCM_DataService[Number(value.ServiceID)];
                totalPriceRoot += value.PriceRoot;
                totalDiscount += value.DiscountAmountDoc;
                totalPriceDiscounted += value.PriceDiscounted;
            }
            TCM_TotalPriceRoot = totalPriceRoot;
            stringContent += `
                        <div class="h-100 overflow-auto border-dashed border-1 border-secondary border-radius-md p-2">
                            <li class="border-0 d-flex mb-0 py-0 px-0">
                                <div class="row w-100 ms-0">
                                    <div class="col-12 col-md-6 col-xl-6 px-0">
                                        <span class="text-sm text-primary fw-bold">@Local["Tổng tiền"]</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6 px-0 text-lg-end">
                                            <span class="text-sm text-dark fw-bold">${formatNumber(totalPriceRoot)}</span>
                                    </div>
                                </div>
                            </li>

                            <li class="border-0 d-flex mb-0 py-0 px-0">
                                <div class="row w-100 ms-0">
                                    <div class="col-12 col-md-6 col-xl-6 px-0">
                                        <span class="text-sm text-primary fw-bold">@Local["Giảm"]</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6 px-0 text-lg-end">
                                        <span class="text-sm text-dark fw-bold">${formatNumber(totalDiscount)}</span>
                                    </div>
                                </div>
                            </li>
                            <hr class="opacity-2 my-2" />
                            <li class="border-0 d-flex mb-0 py-0 px-0">
                                <div class="row w-100 ms-0">
                                    <div class="col-12 col-md-6 col-xl-6 px-0">
                                        <span class="text-sm text-primary fw-bold">@Local["Thành tiền"]</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6 px-0 text-lg-end">
                                        <span class="text-sm text-dark fw-bold">${formatNumber(totalPriceDiscounted)}</span>
                                    </div>
                                </div>
                            </li>
                        </div>
                    `
            myNode.innerHTML = stringContent;
        }
    }
        //#endregion

</script>


<style>

    #tcm_listserorder > li::marker {
        color: rgb(var(--bs-primary));
        font-size: 0.85em;
        font-weight: 600;
    }


    #tcm_comboresult:not(.active) {
        display: none !important;
    }

    #tcm_comboresult.active {
        /* position: absolute;
        top: 100%;
        left: 0;
        transition: 0.3s all ease-in-out;*/
        opacity: 1;
        height: auto;
        visibility: visible;
    }

    @@media only screen and (min-width:1100px) {
        #tcm_comboresult {
            width: 1200px;
        }
    }

    #tcm_comboresult {
        z-index: 100;
        width: 99%;
        position: absolute;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .2s ease, visibility 0.2s ease;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px !important;
    }

    @@media only screen and (min-width: 760px) {
        #tcm_comboresult {
            width: 700px;
            left: 5px;
            top: 55px;
        }
    }

    @@media only screen and (min-width: 1500px) {
        #tcm_comboresult {
            width: 1000px;
        }
    }
</style>