@page
@model MLunarCoffee.Pages.Customer.Service.TabEditContentModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>

    <div class="container-fluid py-3 px-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h6 class="mb-0">@Local["Chỉnh sửa dịch vụ"]</h6>
                                    <p class="text-sm mb-0">@Local["Chỉnh sửa nội dung dịch vụ"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2 ">
                        <div class="row px-1 form3" id="form1">
                            <div class="field col-12 px-1 mt-2">
                                <label>@Local["Nội dung"]</label>
                                <textarea class="form-control" id="ContentEdit" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer fixed-botombutton">
                        <div class="action_Save">
                            <div class="action_Save-Content">
                                <button class="btn btn-secondary" form="form1" onclick="CloseModal()">@Local["Đóng"]</button>
                                <button form="form1" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ExcuteDataContent()">@Local["Lưu"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        var ser_CurrentID ='@Model._CurrentID';
        var ser_CustomerID ='@Model._CustomerID' ;

        $(document).ready(function () {
            LoadContentService();
        });

        function LoadContentService() {
            AjaxLoad(url = "/Customer/Service/TabEditContent/?handler=Loadata"
                , data = { 'id': ser_CurrentID }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result != "") {
                        let ContentService = JSON.parse(result)[0];
                        $('#ContentEdit').val(formatHTML(ContentService.Note));
                    } 
                }
            );
        }

        function ExcuteDataContent() {
            let content = $("#ContentEdit").val() ? $("#ContentEdit").val() : "";
            $('#form1').form('validate form');
            AjaxLoad(url = "/Customer/Service/TabEditContent/?handler=ExcuteData"
                , data = { 'content': content, 'CurrentID': ser_CurrentID, 'CustomerID': ser_CustomerID }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result != "0") {
                        notiSuccess();
 
                        syslog_cutser('u', result, ser_MainCustomerID, content);
                        if (typeof Tab_List_Customer_Service !== 'undefined' && $.isFunction(Tab_List_Customer_Service))
                            Tab_List_Customer_Service();
                    } else {
                        notiError_SW();
                    }
                }
            );
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
            return false;
        }

    </script>

    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>
</html>
