@page
@model MLunarCoffee.Pages.Customer.Service.TabMultiModel
@{
    Layout = null;
}

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

<div id="tab_master" class="container-fluid py-0 px-0 bodyViewEdit">
    <div class="row mt-0 p-0 form3" id="form3">
        <div class="row">
            <div class="col-md-8 col-xl-8 pt-md-2  ps-xl-0 flex-grow-1">
                <div class="col-12 mt-2">
                    <div class="h-100 ps-3">
                        <div class="pb-0">
                            <div class="mx-3 col-auto my-auto">
                                <ul class="nav nav-pills nav-pills p-1 bg-transparent tabgeneral" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#general_info" role="tab">
                                            @Local["Thông tin chung"]
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a id="nav-link cursor-pointer" class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#general_other" role="tab">@Local["Khác"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body pt-2 pb-2">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="general_info" role="tabpanel">
                                    <div class="row">
                                        <div id="Per_Tab_PersonResponsible" class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                            <label>@Local["Người chịu trách nhiệm"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="Consult2">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input id="searchConsult2" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">@Local["Người chịu trách nhiệm"]</div>
                                                <div id="ccbConsult2" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                            <label>@Local["Người tư vấn"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="Consult1">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <input id="searchConsult1" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">@Local["Người tư vấn"]</div>
                                                <div id="ccbConsult1" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="per_tab_tele" class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                            <label>@Local["Telesale"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="Telesale">
                                                <input type="hidden" name="" class="_validation_option_" data-validation="cbbass_treatmutil" />
                                                <i class="dropdown icon"></i>
                                                <input id="searchTelesale" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">@Local["Telesale"]</div>
                                                <div id="ccbTelesale" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 p-0" id="part_treatment_plan">
                                            <div class="col-12 col-sm-12 col-md-3 col-xl-3 flex-grow-1 px-1 mt-2">
                                                <label>@Local["Tên kế hoạch"]</label>
                                                <input id="Treatment_Plan_Name" class="form-control" placeholder="eg .@Local["Tên kế hoạch"]" type="text">
                                            </div>
                                            <div class="field col-12 col-sm-6 col-md-3 col-xl-3 flex-grow-1 px-1 mt-2">
                                                <label>@Local["Ngày bắt đầu"]</label>
                                                <input id="date-begin" class="form-control flatpickr flatpickr-input" type="text" placeholder="eg.@Local["Ngày bắt đầu"]" readonly="readonly">
                                            </div>
                                            <div class="field col-12 col-sm-6 col-md-3 col-xl-3 flex-grow-1 px-1 mt-2">
                                                <label>@Local["Ngày kết thúc"]</label>
                                                <input id="date-end" class="form-control flatpickr flatpickr-input" type="text" placeholder="eg.@Local["Ngày kết thúc"]" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="general_other" role="tabpanel">
                                    <div class="row px-1">
                                        <div class="field col-12 col-sm-12 col-md-6 col-xl-3 flex-grow-1 px-1 mt-2">
                                            <label>@Local["Người tư vấn"] 2</label>
                                            <div class="ui fluid search selection dropdown form-control" id="Consult3">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input id="searchConsult3" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Người tư vấn"]</div>
                                                <div id="ccbConsult3" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-sm-12 col-md-6 col-xl-3 flex-grow-1 px-1 mt-2">
                                            <label>@Local["Người tư vấn"] 3</label>
                                            <div class="ui fluid search selection dropdown form-control" id="Consult4">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input id="searchConsult4" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Người tư vấn"]</div>
                                                <div id="ccbConsult4" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-sm-12 col-md-6 col-xl-3 flex-grow-1 px-1 mt-2">
                                            <label>@Local["Người hỗ trợ"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="KTV">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input id="searchKTV" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Người hỗ trợ"]</div>
                                                <div id="ccbKTV" class="menu" tabindex="-1"></div>
                                            </div>
                                        </div>

                                        <div id="per_tab_tele2" class="field col-12 col-sm-12 col-md-6 col-xl-3 flex-grow-1 px-1 mt-2">
                                            <label>@Local["Telesale"] 2</label>
                                            <div class="ui fluid search selection dropdown form-control" id="Telesale2">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">@Local["Telesale"] 2</div>
                                                <div id="ccbTelesale2" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-sm-12 col-md-6 col-xl-3 flex-grow-1 px-1 mt-2" id="dateCreated" style="display: none;">
                                            <label>@Local["Ngày tạo"]</label>
                                            <input id="dateCreatedExt" class="form-control flatpickr detail" type="text" placeholder="eg .@Local["Ngày tạo"]" />
                                        </div>

                                    </div>
                                    <div id="patient" class="row px-1" style="display: none;">
                                        <div class="field col-12  flex-grow-1 px-1 mt-2">
                                            <label>@Local["Bệnh án"]</label>
                                            <div class="ui fluid search selection dropdown disabled form-control" id="PatientID">
                                                <input type="hidden" name="" />
                                                <input id="searchPatient" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">@Local["Bệnh án"]</div>
                                                <div id="ccbPatient" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2 h-100">
                    <div id="tabinfo_sercombo" class="pb-0 px-3 d-none">
                        <div class="d-lg-flex">
                            <div class="w-50 col-auto my-auto">
                            </div>
                            <div class="ms-auto my-auto mt-1">
                                <ul class="nav nav-pills nav-fill p-1 bg-transparent tabinfo" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#tabinfo_service" role="tab">@Local["Dịch vụ"]</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a id="info_combo" style="display: none;" class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#tabinfo_combo" role="tab">
                                            @Local["Combo dịch vụ"]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 ms-2">
                        <div class="row ps-2">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabinfo_service" role="tabpanel">
                                    <div class="row position-relative">
                                        <div class="field  col-12 col-md-4 col-xl-4 px-1  flex-grow-1">
                                            <label>@Local["Nhóm dịch vụ"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="TabServicetype">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <div class="default text">eg .@Local["Nhóm dịch vụ"]</div>
                                                <div id="ccbTabServicetype" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tabservice_div" class="field  col-12 col-md-8 col-xl-8 px-1 flex-grow-1">
                                            <label>@Local["Dịch vụ"]</label>
                                            <div class="input-group my-0" id="tab_SearchContent">

                                                <input id="tabservice_input" type="text" class="ps-2 form-control" onfocus="event.preventDefault();return onClickKeyTab_Search(event);" placeholder="eg .search" autocomplete="off">
                                                <span class="input-group-text px-3 p-0">
                                                    <i class="btnsear_clear fas fa-minus-circle opacity-1"></i>
                                                    <div class="spinner-border spinner-border-sm" style="display:none;"></div>
                                                </span>
                                            </div>

                                            <div id="tabservice_result" class="stickytable card shadow-lg mt-4">
                                                <div class="card-header pb-0 p-3">
                                                    <h6 class="mb-0">@Local["Danh sách dịch vụ"]</h6>
                                                </div>
                                                <div class="contentsearch card-body p-0 mt-3">
                                                    <table class="table vt-table mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th class="px-1">#</th>
                                                                <th class="no-sort">@Local["Mã"]</th>
                                                                <th class="no-sort">@Local["Dịch vụ"]</th>
                                                                <th>@Local["Giá"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tabservice_table_Body">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tabinfo_combo" role="tabpanel">
                                    <div id="tabcombo_div" class="row position-relative">
                                        <div class="field col-12 px-1">
                                            <label>@Local["Combo dịch vụ"]</label>
                                            <input id="tabservice_combo_input" class="form-control" onfocus="event.preventDefault();return onClickKeyComboTab_Search(event);"
                                                   placeholder="@Local["Combo dịch vụ"]"
                                                   onkeyup="onKeyupTab_Combo_Search()" autocomplete="off">
                                            <div id="tabservice_combo_result" class="stickytable card shadow-lg mt-4">
                                                <div class="card-header pb-0 p-3">
                                                    <h6 class="mb-0">@Local["Danh sách combo"]</h6>
                                                </div>
                                                <div class="contentsearch card-body p-0 mt-3">
                                                    <table class="table vt-table mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>@Local["Tên"]</th>
                                                                <th>@Local["Dịch vụ"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tabservice_combo_table_Body">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 px-1" id="service_list_combo" style="display: none;">
                                            <table class="table vt-table my-3">
                                                <tbody id="tabservice_from_combo_Body">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ps-2">
                            <div class="field col-12 col-md-4 col-xl-4 px-1 mt-2">
                                <label>@Local["Đơn giá"]</label>
                                <input class="form-control" id="service_unit_price" type="text" placeholder="eg .@Local["Đơn giá"]" onchange="event.preventDefault();return Tab_Changing_Unit_Price();" />
                                <span class=" text-danger text-sm fw-bold" id="service_unit_price_name"></span>
                            </div>
                            <div class="field  col-12 col-md col-xl px-1 mt-2">
                                <div class="w-100 d-flex">
                                    <div class="w-40 w-md-40 w-lg-40">
                                        <label class="line_clamp_1 mt-1" title="@Local["Số lượng"]">@Local["Sl"]</label>
                                    </div>
                                    <div class="w-60 w-md-60 w-lg-60 ms-auto text-end">
                                        <span id="Tab_Service_UnitName" class="w-auto ms-auto text-dark text-sm text-lowercase font-italic me-1 line_clamp_1"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input class="form-control" id="Tab_Service_Quantity" type="number" max="10000" placeholder="eg .@Local["Số lượng"]" onchange="event.preventDefault();return Tab_Count_Price_For_All();" />
                                </div>
                                <span class="text-danger text-sm fw-bold" id="tabmulti_treatedindex"></span>
                            </div>
                            <div class="field col-12 col-md col-xl px-1 mt-2 flex-grow-1">
                                <label>@Local["C.Khấu"]</label>
                                <div class="position-relative">
                                    <input id="txtDiscountAmountPer" class="border-right-0 form-control" placeholder="eg .@Local["Chiết khấu"]" type="text" onchange="event.preventDefault();Tab_Count_Price_For_All();" onblur="event.preventDefault();Tab_Count_Price_For_All();">
                                    <div class="ui fluid search selection dropdown form-control position-absolute end-0 text-xs top-0 w-auto p-2"
                                         id="DiscountAmountPer" onchange="return Tab_Count_Price_For_All(); "
                                         onblur="event.preventDefault();Tab_Count_Price_For_All();">
                                        <input type="hidden" name="name" />

                                        <div class="default text">@Local["C.Khấu"]</div>
                                        <div id="cbbDiscountAmountPer" class="menu transition hidden" tabindex="-1">
                                            <div class="item" data-value="1">%</div>
                                            <div class="item" data-value="2">VND</div>
                                        </div>
                                    </div>
                                </div>
                                <span class="text-danger text-sm fw-bold" id="order_discount_max"></span>
                            </div>
                            <div id="tab_reasondiscount" class="field col-12 col-md col-xl px-1 mt-2">
                                <label>@Local["Lý do giảm giá"]</label>
                                <div class="ui fluid search selection dropdown form-control" id="ReasonDiscountID">
                                    <input type="hidden" name="" />
                                    <i class="dropdown icon"></i>
                                    <i class="remove icon"></i>
                                    <input id="searchReasonFree" class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg .@Local["Lý do giảm giá"]</div>
                                    <div id="ccbReasonDiscount" class="menu" tabindex="-1"></div>
                                </div>
                            </div>
                            <div id="tab_timetotreat" class="field col-12 col-12 px-1 mt-2 d-none">
                                <label>@Local["Lần điều trị"]</label>
                                <input class="form-control" id="service_timetotreat" type="number" placeholder="eg .@Local["Lần điều trị"]" />
                            </div>
                        </div>
                        <div class="row ps-2">
                            <div id="teethChoosing" class="field col-12 col-md-12 col-xl-12 px-1 mt-2 flex-grow-1" style="display: none;">
                                <div class="h-100 overflow-auto border-dashed border-1 border-secondary border-radius-md p-0">
                                    <div class="d-flex mt-3 justify-content-center" id="tab_teeth_type">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tab_teeth_type_tar" value="adult" id="adult_tab_teeth_type" onchange="event.preventDefault();return onchange_tab_teeth_adult();">
                                            <label style="margin-right: 14px;" class="custom-control-label">@Local["Răng người lớn"]</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tab_teeth_type_tar" value="child" id="child_tab_teeth_type" onchange="event.preventDefault();return onchange_tab_teeth_baby();">
                                            <label style="margin-right: 14px;" class="custom-control-label">@Local["Răng sữa"]</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tab_teeth_type_tar" value="child" id="no_select_tab_teeth_type" onchange="event.preventDefault();return onchange_tab_teeth_no_select();">
                                            <label style="margin-right: 14px;" class="custom-control-label">@Local["Không"]</label>
                                        </div>
                                    </div>
                                    <div id="divContentteeth" class="overflow-hidden position-relative w-100 p-2  ">
                                        <div id="divteethFront" class="justify-content-center row   divteethFront">
                                        </div>
                                        <div id="divteethBellow" class="justify-content-center row   divteethBellow">
                                        </div>
                                        <div id="MTcookiearea" class="d-none flex-fill flex-grow-1 pb-3 mt-2 mt-lg-0">
                                            <ul id="divteethcookie" class="bg-transparent d-block overflow-hidden  nav nav-horizontal nav-pills pb-1 px-2 pt-3">
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-12 col-xl-12 px-1 mt-2 flex-grow-1">
                                <label>
                                    @Local["Ghi chú"]
                                    <i id="remove_note_icon" onclick="Remove_All_Note_Tab()" class=" text-danger remove icon"></i>
                                </label>
                                <div class="ps-lg-2 d-inline-flex" id="area_list_tag_note"></div>
                                <textarea id="txtEachTabNote" cols="3" class="form-control" placeholder="eg .@Local["Ghi chú"]"></textarea>
                            </div>
                        </div>
                        <div id="tabpro_area" class="row ps-2 mt-2">
                            <div class="d-lg-flex">
                                <div class="ms-auto my-auto mt-1">
                                    <ul class="nav nav-pills nav-fill p-1 bg-transparent tabprogram me-n3" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#tabprogram_dicount" role="tab">
                                                @Local["Khuyến mãi"]
                                            </a>
                                        </li>

                                        <li class="nav-item" role="presentation">
                                            <a id="tab_installment" class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#tabprogram_install" role="tab">
                                                @Local["Trả góp"]
                                            </a>
                                        </li>
                                        <li id="tab_customer_vat" class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#tabprogram_vat" role="tab">
                                                @Local["VAT"]
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#tabprogram_other" role="tab">
                                                @Local["Khác"]
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span id="tabpro_arearequired" class="text-danger d-none">@Local["Trường dữ liệu bắt buộc"]</span>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tabprogram_dicount" role="tabpanel">
                                    <div class="row">
                                        <div id="tab_discount" class="field position-relative col-12 col-md-6 col-xl-3 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Khuyến mãi"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="discountTabCombo" onchange="event.preventDefault();return onTab_Program_CTKM();">
                                                <input data-validation="discount" class="_validation_option_" type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Khuyến mãi"]</div>
                                                <div id="ccbdiscountTabCombo" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab_voucher" class="field col-12 col-md-6 col-xl-3 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Voucher"]</label>
                                            <div class="input-group position-relative flex-nowrap">
                                                <span class="input-group-text">
                                                    <i class="text-success fw-bold fas fa-qrcode"></i>
                                                </span>
                                                <input id="DiscountVoucherSeries" class="border-1 border-start col-w-100 end-2 form-control position-absolute px-2 rounded-1 top-0 z-index-3 d-none" />
                                                <div class="ui fluid search selection dropdown form-control" id="DiscountVoucherID" onchange="event.preventDefault();return onTab_Program_Voucher();">
                                                    <input type="hidden" name="" />
                                                    <i class="dropdown icon"></i>
                                                    <i class="remove icon"></i>
                                                    <input id="searchDiscountVoucher" class="search" autocomplete="off" tabindex="0" onkeydown="onTab_Program_Voucher_KeyDown(event)" onpaste="onTab_Program_Voucher_PasteQR(event)" />
                                                    <div class="default text">eg. @Local["Voucher"]</div>
                                                    <div id="ccbDiscountVoucher" class="menu" tabindex="-1"></div>
                                                </div>

                                            </div>

                                        </div>
                                        <div id="tab_customer_group" class="field col-12 col-md-6 col-xl-3 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Nhóm khách hàng"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="DiscountCustomerGroupID" onchange="event.preventDefault();return onTab_Program_Customer_Group();">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg. @Local["Nhóm khách hàng"]</div>
                                                <div id="ccbDiscountCustomerGroupID" class="menu" tabindex="-1"></div>
                                            </div>
                                        </div>
                                        <div id="tab_customer_member" class="field col-12 col-md-6 col-xl-3 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Hạng thành viên"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="DiscountCustomerMemberID" onchange="event.preventDefault();return onTab_Program_Customer_Member();">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg. @Local["Hạng thành viên"]</div>
                                                <div id="ccbDiscountCustomerMemberID" class="menu" tabindex="-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="helpchosing_program" class="field" style="padding: 8px;">
                                            <span class="mb-2 badge badge-pill badge-sm ps-1 bg-gradient-info">
                                                @Local["Chọn giảm theo chương trình khuyến mãi hoặc nhóm khách hàng"]
                                            </span>
                                            <div id="helpchosing_program_CTKM" class="form-check">
                                                <input class="form-check-input pr-2" type="checkbox" data-id="0" id="IsCheckChossing_CTKM" onchange="OnChange_Help_Choosing_Program_CTKM()">
                                                <label id="helpchosing_program_CTKM_name" class="custom-control-label" for="IsCheckChossing_CTKM"></label>
                                            </div>
                                            <div id="helpchosing_program_CUSGR" class="form-check">
                                                <input class="form-check-input pr-2" type="checkbox" data-id="0" id="IsCheckChossing_CUSMEM" onchange="OnChange_Help_Choosing_Program_CUSMEM()">
                                                <label id="helpchosing_program_CUSMEM_name" class="custom-control-label" for="IsCheckChossing_CUSMEM"></label>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabprogram_install" role="tabpanel">

                                    <div class="row">
                                        <div class="d-flex align-items-center field col-12 col-md-12 col-xl-4 px-1 mt-2 flex-grow-1">
                                            <div class="form-check">
                                                <input id="check_installment" class="form-check-input pr-2" type="checkbox" onchange="event.preventDefault();return onTab_Install_Register();" disabled="disabled">
                                                <label for="check_installment" class="coloring blue">
                                                    @Local["Trả góp dịch vụ này"]
                                                </label>
                                            </div>

                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-2 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Số tháng"]</label>
                                            <input id="installment_term" class="form-control installment_field" type="number" disabled="disabled" onchange="event.preventDefault(); return onTab_Install_Term()" />
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-2 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Trả trước"] %</label>
                                            <input id="installment_temp_percent" class="form-control installment_field installment_percent" maxlength="3" type="text" onkeyup="event.preventDefault(); onTab_Install_Calculator_Percent();">
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-2 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Trả trước"]</label>
                                            <input id="installment_firpaid" class="form-control installment_field" type="text" disabled="disabled" />
                                        </div>

                                        <div class="field col-12 col-md-6 col-xl-2 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Ngày trả"]</label>
                                            <input id="date_installment" class="form-control installment_field" type="number" disabled="disabled" onchange="event.preventDefault(); return onTab_Install_Date()" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabprogram_other" role="tabpanel">
                                    <div class="row">
                                        <div id="tab_insurance" class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Bảo hiểm"]</label>
                                            <div class="ui fluid search selection dropdown disabled form-control" id="TabInsuranceID" onchange="event.preventDefault();return onTab_Insurance();">
                                                <input type="hidden" name="" />
                                                <i class="remove icon"></i>
                                                <i class="dropdown icon"></i>
                                                <input id="searchInsurance" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">@Local["Bảo hiểm"]</div>
                                                <div id="ccbInsurance" class="menu" tabindex="-1"></div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Miễn phí dịch vụ"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="ReasonFreeID" onchange="event.preventDefault();return onTab_FreeSevice();">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input id="searchReasonFree" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Miễn phí dịch vụ"]</div>
                                                <div id="ccbReasonFree" class="menu" tabindex="-1"></div>
                                            </div>
                                        </div>
                                        <div id="tab_usingpoint" class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Điểm tích lũy"] <span class="text-danger fw-bold ps-2" id="tabpoint_having"></span></label>
                                            <input id="tabpoint_used" class="form-control" type="number" placeholder="eg .@Local["Điểm tích lũy"]" onchange="event.preventDefault();return onTab_UsingPoint();" />
                                        </div>
                                        <div id="tab_min_payment" class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Thanh toán tối thiểu"]</label>
                                            <input id="min_payment" class="form-control" type="text" placeholder="eg .@Local["Thanh toán tối thiểu"]" />
                                        </div>
                                        <div id="per_tab_sourceSpecific" class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Nguồn dịch vụ"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="SourceService">
                                                <input type="hidden" class="_validation_option_" data-validation="cbbass_tabmulti" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Nguồn dịch vụ"]</div>
                                                <div id="cbbSourceService" class="menu" tabindex="-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabprogram_vat" role="tabpanel">
                                    <div class="row">
                        
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Phần trăm"]</label>
                                            <div class="ui fluid search selection dropdown  form-control" id="vat_per" onchange="Tab_Count_Price_For_All()">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <i class="remove icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg. @Local["Phần trăm"]</div>
                                                <div id="ccbvat_per" class="menu" tabindex="-1"></div>
                                            </div>

 
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                                            <label>@Local["Số tiền"]</label>
                                            <input id="vat_amount" class="form-control"  type="text" disabled="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 pt-md-2 ps-md-0 ps-xl-0 flex-grow-1">
                <div class="card shadow-lg  mb-2 h-100">
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h6 id="final_price_title" class="mb-0">@Local["Thành tiền"]</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2 ">
                        <div class="mb-4 " style="overflow-y:hidden;overflow-x:auto">
                            <div id="card_tab_detail_list" class="d-flex position-relative">
                            </div>
                        </div>
                        <div class="border-0 p-2 pe-3 bg-gray-100 border-radius-lg" id="final_price">
                        </div>
                        <div class="row px-1 mt-3">
                            <div id="checkboxUsingService" class="d-inline-block pe-4 form-check" style="display: none;">
                                <input class="form-check-input pr-2" type="checkbox" id="IsCheckUsing" onchange="OnChange_Using_Service()" checked="checked">
                                <label class="custom-control-label" for="IsCheckUsing">@Local["Chốt dịch vụ"]</label>
                            </div>
                            <span id="btn_save_continute" class="cursor-pointer mt-2 badge badge-md bg-gradient-warning" onclick="event.preventDefault();return SaveEachTab(1);">
                                <a>
                                    @Local["Thêm dịch vụ"]
                                    <i class="fa fa-plus ms-1"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="final_area" class="row pt-4 px-4">
            <div class="col-md-8 col-xl-8 px-1">
                <div class="h-100 overflow-auto border-dashed border-1 border-secondary border-radius-md p-2 ms-3">
                    <h6 id="choosing_service" class="text-dark fs-6  mb-3">@Local["Dịch vụ chọn"]</h6>
                    <ul class="overflow-auto  row row-cols-1 font-weight-normal mx-auto p-0 m-0"
                        id="part_service_temp_data">
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 px-0  ">
                <div class="h-100 overflow-auto border-dashed border-1 border-secondary border-radius-md p-2">
                    <h6 class="text-dark fs-6  mb-3 ">@Local["Tổng"]</h6>

                    <div class="d-flex justify-content-between">
                        <span class="mb-2 text-sm">
                            @Local["Tổng tiền"]
                        </span>
                        <span id="ttab_price" class="text-dark ms-2 font-weight-bold">0</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="text-sm">
                            @Local["Giảm & Cấn trừ"]
                        </span>
                        <span id="ttab_dis" class="text-dark ms-2 font-weight-bold">0</span>
                    </div>
                    <hr class="horizontal dark my-2">
                    <div class="d-flex justify-content-between mt-2">
                        <span class="mb-2 text-md text-primary">
                            @Local["Thành tiền"]
                        </span>
                        <span id="ttab_final" class="text-dark text-lg ms-2 font-weight-bold text-end">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer fixed-botombutton">
            <div class="action_Save  me-2">
                <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                <div class="action_Save-Content">
                    <button class="cancelButton btn btn-secondary" form="form3" onclick="Tab_List_Service_Close_Detail()">@Local["Đóng"]</button>
                    <button id="btn_save_close_multi_tab" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2 btnSave" onclick="SaveEachTab(0)" style="display: none;">@Local["Lưu"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_select_patient_record" style="display:none;">
    <div class="container-fluid py-3 px-0">
        <div class="card-header pb-0">
            <div class="d-lg-flex">
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h6 class="mb-0">@Local["Bệnh án"]</h6>
                        <p class="text-sm mb-0">@Local["Chọn bệnh án của dịch vụ"]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-2 ">
            <div class="row px-1 form3">
                <ul class="list-group" id="list_patient_record_template">
                </ul>

            </div>
        </div>
        <div class="card-footer fixed-botombutton">
            <div class="action_Save">
                <div class="action_Save-Content">
                    <button class="btn btn-secondary" form="form3" onclick="Close_Patient_Record_Template()">@Local["Đóng"]</button>
                    <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="Executing_Selected_Patient_Record()">@Local["Lưu"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var translations = {notification: '@Local'}
    var dataServiceCombo;
    var dataDiscountTab;
    var dataEmployee;
    var dataTele;
    var dataReasonFree;
    var dataReasonDiscount;
    var dataKTV;
    var dataServiceCat;
    var dataPatient;
    var tab_changing_flag = 1;
    var help_program_changing_flag = 1;
    var Current_Service_Tab_Chossing = {};
    var sys_DentistCosmetic;
    var currentUnitTab = 0, currentUnitTypeTab = '';
    var data_tab_current_is_product = 0;
    var dataTeeth;

    var TabTimer_Search;
    var isUsingTabComboService = 0;
    var CurrentTabCombo_Choose = 0;
    var CurrentServiceTabCombo_Choose = 0;
    var CurrentService_Choose;
    var dataInsurance;
    var ser_MultiTabCustomerID ='@Model._MultiTabCustomerID';
    var ser_ChooseDateCustomer = '@Model._ChooseDateCustomer';

    var patientRecordID ='@Model._PatientRecordID' ;
    var TabCurrentID ='@Model._TabCurrentID';
    var Tab_Multi_Treat_Plan = '@Model._Plan';
    var ser_ChoosePriceMax = '@Model.sys_choosePriceMax';
    var ser_roundDiscountAmount = '@Model.sys_roundDiscountAmount';

    var _Installment_Data_Current = [];
    var _Installment_Term_Current = 0;
    var data_tab_installment = '';
    var data_tab_insurance = '';

    var data_discount;
    var final_Discount_CTKM = 0;
    var final_Discount_CTKM_per = 0;

    var data_voucher;
    var final_Discount_Voucher = 0;
    var final_Discount_Voucher_per = 0;
    var data_teeth_rule_type_customer;
    var data_teeth_rule_type;
    var data_customer_group;
    var data_customer_mem;
    var final_Discount_CusGroup = 0;
    var final_Discount_CusGroup_per = 0;
    var final_Discount_CusMem = 0;
    var final_Discount_CusMem_per = 0;
    // Exchange Rate
    var Price_Branch_Flag = '';
    var Price_Branch_Exchange = 0;
    // Vat
    var final_vatper = 0;
    var final_vatamount = 0;

    // Data note service
    var data_note_service;

    var final_PriceUnit = 0;
    var final_PriceRoot = 0;
    var final_PriceDiscounted = 0;
    var final_Discount = 0;
    var final_Discount_per = 0;
      //Card
    var data_tab_card = {};
    var data_card;
    var final_Discount_Card = 0;
    var final_Discount_Card_per = 0;
    var card_ServiceTab;
    var data_card_using = [];
    var current_card_used = 0;
    // Point used
    var final_PointUsed = 0;
    var final_DiscountPointUsed = 0;
    var dataPointToMoney;
    var dataPointHaving;


    var current_PriceDiscounted = 0;
    var CurrentDetailTab_;
    var UsingConfirmService;
    var UsingConfirmService ='@Model._UsingConfirmService';
    var Card_Using_First = '@Model._Card_Using_First';
    var CardManual = '@Model.sys_CardManual';


    var validating_unitprice = 0;
    var unit_price_minnimum = 0;
    var unit_price_maximum = 0;

    // Editcondition
    var checking_tab_detail_paid = -1;
    var checking_tab_detail_paidcom = -1;
    var checking_tab_detail_export_sale = 0;
    var checking_tab_detail_labo = 0;
    var checking_tab_detail_treat = 0;
    var checking_tab_changing_service = 0;

    var TM_usediscount ='@Model.sys_isMaxDiscountService' ;
    var TM_maxamount ='@Model.sys_maxAmountDiscountService' ;
    var TM_maxpercent ='@Model.sys_maxPerDiscountService' ;
    var current_adding_new_plan = 0;

    var dataSourceService;

    //New Patient Record Template
    var Template_PatientRecord = {};
    var TM_Vat = [{ID: 8, "Name": "8 %"}, {ID: 10, "Name": "10 %"}, {ID: 12, "Name": "12 %"}];
    // #region // Count All Price
    function Tab_Count_Price_For_All_UsingCard (ServiceTab, card_service_quantity) {
        data_card_using = [];
        current_card_used = 0;
        for ([key, value] of Object.entries(data_tab_card)) {
            value.ValueUsed = 0;
            value.ValueLeft = value.ValueIni;
        }
        if (final_PriceDiscounted > 0) {
            var x = document.getElementsByClassName("checkCard");
            let carddis_amount = 0;
            let carddis_per = 0;
            final_Discount_Card = 0;
            final_Discount_Card_per = 0;
            for (let i = 0; i < x.length; i++) {
                let _Amount = 0, _ID = 0;
                let _Amountused = 0;
                _ID = Number(x[i].value);
                _Amount = data_tab_card[_ID].ValueLeft;

                if (x[i].checked) {
                    //--- Discount card
                    let _discount_card_obj = Tabdetail_ProValue(data_service_root, data_card, _ID, ServiceTab, final_PriceUnit);
                    let _discount_card_obj_value = Tabdetail_ProResult(final_PriceDiscounted, card_service_quantity, _discount_card_obj);
                    carddis_amount = _discount_card_obj_value.result_value;
                    carddis_per = _discount_card_obj_value.result_percent;
                    let priceaf_card = 0;
                    if (final_PriceDiscounted > carddis_amount) {
                        priceaf_card = final_PriceDiscounted - carddis_amount;
                    }
                    else {
                        priceaf_card = 0;
                    }

                    let _validmanual = 0;
                    let _manualamount = $('#cardmanual_' + _ID).val();
                    if (_manualamount != "" && !isNaN(_manualamount)) {
                        if (Number(_manualamount) >= 0 && Number(_manualamount) <= _Amount) {
                            _validmanual = 1;
                        }
                    }
                    if (_validmanual == 1) _Amount = Number(_manualamount);
                    if (carddis_amount != 0) {
                        if (_Amount >= priceaf_card) { // nếu số dư thẻ lớn hơn tiền dịch vụ sau giảm giá
                            _Amountused = priceaf_card;
                            current_card_used = current_card_used + priceaf_card;
                            final_PriceDiscounted = 0;
                            i = x.length;
                        }
                        else {
                            _Amountused = _Amount;
                            final_PriceDiscounted = priceaf_card - _Amount;
                            current_card_used = current_card_used + _Amount;
                        }
                    }
                    else {
                        carddis_amount = 0;

                        if (_Amount >= final_PriceDiscounted) {
                            _Amountused = final_PriceDiscounted;
                            current_card_used = current_card_used + final_PriceDiscounted;
                            final_PriceDiscounted = 0;
                            i = x.length;
                        }
                        else {
                            _Amountused = _Amount;
                            final_PriceDiscounted = final_PriceDiscounted - _Amount;
                            current_card_used = current_card_used + _Amount;
                        }
                    }

                    let e = {};
                    e.CardID = _ID;
                    e.Amount = _Amountused;
                    data_card_using.push(e);
                    data_tab_card[_ID].ValueUsed = data_tab_card[_ID].ValueUsed + _Amountused;
                    data_tab_card[_ID].ValueLeft = data_tab_card[_ID].ValueLeft - _Amountused;
                    final_Discount_Card = final_Discount_Card + carddis_amount;
                    final_Discount_Card_per = carddis_per != 0 ? carddis_per : final_Discount_Card_per;
                }
                else {
                    data_tab_card[_ID].ValueUsed = 0;
                    data_tab_card[_ID].ValueLeft = data_tab_card[_ID].ValueIni;
                }

            }

            if (final_Discount_Card == 0 && final_Discount_Card_per == 0) {
                if (!$('.checkCard').is(':disabled')) {
                    $('.checkCard').prop('disabled', false);
                }
            }
            for ([key, value] of Object.entries(data_tab_card)) {
                $('#card_ini_' + key).html(formatNumber(value.ValueIni));
                $('#card_used_' + key).html(formatNumber(value.ValueUsed));
                $('#card_left_' + key).html(formatNumber(value.ValueLeft));
                if (Number(value.ValueUsed) != 0) {
                    $('#card_used_' + key).parent(".card_text").show();
                    $('#card_left_' + key).parent(".card_text").show();
                }
                else {
                    $('#card_used_' + key).parent(".card_text").hide();
                    $('#card_left_' + key).parent(".card_text").hide();
                }
            }
        }

    }
    function Tab_Count_Price_For_All () {

        if (tab_changing_flag == 1) {
            tab_changing_flag = 0;

            $('#textShowMessage').html('');
            let ServiceTab = 0;
            ServiceTab = CurrentService_Choose;
            if (ServiceTab != 0) {
                let service_quantity = $('#Tab_Service_Quantity').val() ? Number($('#Tab_Service_Quantity').val()) : 0;
                let service_unit_price = $('#service_unit_price').val() ? Number($('#service_unit_price').val()) : 0;
                let _discount = Number($('#discountTabCombo').dropdown('get value')) ? Number($('#discountTabCombo').dropdown('get value')) : 0;
                let _voucher = Number($('#DiscountVoucherID').dropdown('get value')) ? Number($('#DiscountVoucherID').dropdown('get value')) : 0;
                let _customer_group = Number($('#DiscountCustomerGroupID').dropdown('get value')) ? Number($('#DiscountCustomerGroupID').dropdown('get value')) : 0;
                let _customer_mem = Number($('#DiscountCustomerMemberID').dropdown('get value')) ? Number($('#DiscountCustomerMemberID').dropdown('get value')) : 0;
                let _reason_free = Number($('#ReasonFreeID').dropdown('get value')) ? Number($('#ReasonFreeID').dropdown('get value')) : 0;
                let _self_discount_type = Number($('#DiscountAmountPer').dropdown('get value')) ? Number($('#DiscountAmountPer').dropdown('get value')) : 0;
                let _self_discount_text = $('#txtDiscountAmountPer').val();
                let _is_installment = $('#check_installment')[0].checked;
                let _installment_amount_pre = $('#installment_firpaid').val() ? Number($('#installment_firpaid').val()) : 0;
                let _installment_term = $('#installment_term').val() ? Number($('#installment_term').val()) : 0;
                let _insurance = Number($('#TabInsuranceID').dropdown('get value')) ? Number($('#TabInsuranceID').dropdown('get value')) : 0;
                let _pointused = $('#tabpoint_used').val() ? Number($('#tabpoint_used').val()) : 0;

                final_PriceUnit = service_unit_price;
                final_PriceRoot = service_unit_price * service_quantity;
                final_Discount = 0;
                final_Discount_per = 0;
                final_Discount_CTKM = 0;
                final_Discount_CTKM_per = 0;
                final_Discount_Voucher = 0;
                final_Discount_Voucher_per = 0;
                final_Discount_CusGroup = 0;
                final_Discount_CusGroup_per = 0;
                final_Discount_CusMem = 0;
                final_Discount_CusMem_per = 0;
                data_tab_installment = '';
                data_tab_insurance = '';
                final_PointUsed = 0;
                final_DiscountPointUsed = 0;
                final_vatamount = 0; final_vatper = 0;
                if (_reason_free != 0) {
                    final_PriceDiscounted = 0;
                }
                else {
                    final_PriceDiscounted = final_PriceRoot;

                    if (Number(Card_Using_First) == 1) Tab_Count_Price_For_All_UsingCard(ServiceTab, service_quantity);
                    if (final_PriceDiscounted != 0) {
                        if (dataPointHaving != 0) {
                            final_PointUsed = _pointused;
                            final_DiscountPointUsed = final_PointUsed * dataPointToMoney;
                        }

                        let _self_discount_obj = Tab_Detail_Self_Discount_Validate_Value(
                            _self_discount_type, _self_discount_text, final_PriceRoot
                            , TM_usediscount, TM_maxamount, TM_maxpercent);
                        if (ser_roundDiscountAmount != '') {
                            final_Discount = roundToNumber(_self_discount_obj.result_value, ser_roundDiscountAmount)
                        } else {
                            final_Discount = _self_discount_obj.result_value;
                        }
                        final_Discount_per = _self_discount_obj.result_percent;

                         /////////////////////////////
                        let _customer_mem_obj = Tabdetail_ProValue(data_service_root, data_customer_mem, _customer_mem, ServiceTab, service_unit_price);
                        let _customer_mem_obj_value = Tabdetail_ProResult(final_PriceDiscounted, service_quantity, _customer_mem_obj);
                        if (ser_roundDiscountAmount != '')  {
                            final_Discount_CusMem = roundToNumber(_customer_mem_obj_value.result_value, ser_roundDiscountAmount)
                        } else {
                            final_Discount_CusMem = _customer_mem_obj_value.result_value;
                        }

                        final_Discount_CusMem_per = _customer_mem_obj_value.result_percent;
                        /////////////////////////////

                        /////////////////////////////
                        let _customer_group_obj = Tabdetail_ProValue(data_service_root, data_customer_group, _customer_group, ServiceTab, service_unit_price);
                        let _customer_group_obj_value = Tabdetail_ProResult(final_PriceDiscounted, service_quantity, _customer_group_obj);
                        if (ser_roundDiscountAmount != '') {
                            final_Discount_CusGroup = roundToNumber(_customer_group_obj_value.result_value, ser_roundDiscountAmount)
                        } else {
                            final_Discount_CusGroup = _customer_group_obj_value.result_value;
                        }

                        final_Discount_CusGroup_per = _customer_group_obj_value.result_percent;

                        /////////////////////////////

                        let _discount_obj = Tabdetail_ProValue(data_service_root, data_discount, _discount, ServiceTab, service_unit_price);
                        let _discount_obj_value = Tabdetail_ProResult(final_PriceDiscounted, service_quantity, _discount_obj);
                        if (ser_roundDiscountAmount != '') {
                            final_Discount_CTKM = roundToNumber(_discount_obj_value.result_value, ser_roundDiscountAmount)
                        } else {
                            final_Discount_CTKM = _discount_obj_value.result_value;
                        }
                        final_Discount_CTKM_per = _discount_obj_value.result_percent;
                        /////////////////////////////

                        let _voucher_obj = Tabdetail_ProValue(data_service_root, data_voucher, _voucher, ServiceTab, service_unit_price);

                        let _voucher_obj_value = Tabdetail_ProResult(final_PriceDiscounted, service_quantity, _voucher_obj,isvoucher=1);
                        if (ser_roundDiscountAmount != '') {
                            final_Discount_Voucher = roundToNumber(_voucher_obj_value.result_value, ser_roundDiscountAmount)
                        } else {
                            final_Discount_Voucher = _voucher_obj_value.result_value;
                        }
                        final_Discount_Voucher_per = _voucher_obj_value.result_percent;
                        ////////////////////////

                        // VAT
                        final_vatper = Number($('#vat_per').dropdown('get value')) ? Number($('#vat_per').dropdown('get value')) : 0;
                        final_vatamount = (final_PriceDiscounted * final_vatper ) / 100;
                        $("#vat_amount").val(final_vatamount);

                        ////////////////////////
                        final_PriceDiscounted = final_PriceDiscounted - final_Discount - final_Discount_CusGroup - final_Discount_CusMem - final_Discount_CTKM - final_Discount_Voucher - final_DiscountPointUsed
                            + final_vatamount;

                        if (Number(Card_Using_First) == 0) Tab_Count_Price_For_All_UsingCard(ServiceTab, service_quantity);

                        if (final_PriceDiscounted < 0 && final_Discount_Voucher != 0 && final_Discount_Voucher_per == 0) {

                            // co su dung voucher ( theo tiền) va tien nho hon 0
                            final_Discount_Voucher = final_PriceDiscounted + final_Discount_Voucher;
                            final_PriceDiscounted = 0;
                        }
                        //if (final_PriceDiscounted != 0) {
                        let _installment_obj = Tab_Detail_Installment_Validate_Value(_is_installment
                            , _installment_amount_pre
                            , _installment_term
                            , final_PriceDiscounted);

                        if (_installment_obj._is_installment) {
                            data_tab_installment = _installment_obj._installment_term;
                        }
                        if (_insurance != 0) data_tab_insurance = $('#TabInsuranceID').dropdown('get text');
                        //}
                        ////////////////////////



                    }
                }
                Genre_PaymentReview();
            }

            tab_changing_flag = 1;
        }
    }

    // #endregion

    //#region // Vat

    //function Vat_Onperchange () {
    //    let _val = Number($('#vat_per').dropdown('get value')) ? Number($('#vat_per').dropdown('get value')) : 0;
    //    let _amout = 0;
    //    if (_val >= 0 && _val <= 100) {
    //        _amout = (final_PriceDiscounted * _val) / 100;
    //        _amout = parseInt(_amout / 100) * 100;
    //    }
    //    $("#vat_amount").val(_amout);

    //}
    //#endregion

    // #region // Initailize
    $(document).ready(function () {
        $('.tabgeneral a:first').tab('show');
        $('.tabinfo a:first').tab('show');
        $('.tabprogram a:first').tab('show');
        if (Number(Tab_Multi_Treat_Plan) != 0
            || Number(ser_sys_Treatment_Plan) == 0
            || Number(TabCurrentID) != 0) {
            $('#part_treatment_plan').remove();
        }
        else {
            current_adding_new_plan = 1;
            TMTreat_autoname();
        }
        if (sys_TreatManualIndex==1){
            $('#tab_timetotreat').removeClass('d-none');
        }

        sys_DentistCosmetic ='@Model.sys_DentistCosmetic';

        $("#DiscountAmountPer").dropdown("set selected", 2);
        $('#txtDiscountAmountPer').divide();
        $('#installment_firpaid').divide();
        $('#vat_amount').divide();
        $('#service_unit_price').divide();
        $('#min_payment').divide();
        TM_Resetallfield();
        if (TabCurrentID != "0" && TabCurrentID != "") {
            if ($("#btn_save_continute").length) {
                $("#btn_save_continute").hide();
            }
            $("#final_area").hide();
        }
        else {

            $('#MTcookiearea').removeClass('d-none');
            $('#tabinfo_sercombo').removeClass('d-none');
        }

        InitializeServiceMulti();
        TM_checkdiscount(TM_usediscount, TM_maxamount, TM_maxpercent, "order_discount_max");
        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl, '@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
        Checking_Require_Validation('@Model._dtPermissionCurrentPage');
        TM_MainEvent();
    });
    async function TM_MainEvent () {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                $(".flatpickr.detail").flatpickr({
                    dateFormat: 'd-m-Y H:i',
                    enableTime: true,
                    defaultDate: new Date()
                });

                let startpicker = flatpickr('#date-begin', {
                    showAlways: false,
                    altInput: true,
                    altFormat: 'd-m-Y',
                    minDate: new Date(),
                    maxDate: $('#date-end').attr('value'),
                    onClose: function (selectedDates, dateStr, instance) {
                        endpicker.set('minDate', dateStr);
                    },
                });

                let endpicker = flatpickr('#date-end', {
                    showAlways: false,
                    theme: 'airbnb',
                    altInput: true,
                    altFormat: 'd-m-Y',
                    minDate: $('#date-begin').attr('value'),
                    onClose: function (selectedDates, dateStr, instance) {
                        startpicker.set('maxDate', dateStr);
                    },
                });
                $('.ui.dropdown .remove.icon').on('click', function (e) {
                    $(this).parent('.dropdown').dropdown('clear');
                    e.stopPropagation();
                });
                $('#tabservice_result .item').click(function (event) {
                    event.stopPropagation();
                });
                $(document).click(function (e) {
                    let tabser = $("#tabservice_input");
                    if (!$(tabser).is(e.target) && $(tabser).has(e.target).length === 0) {
                        $('#tabservice_result').removeClass("active");
                    }
                    let tabcombo = $("#tabcombo_div");
                    if (!$(tabcombo).is(e.target) && $(tabcombo).has(e.target).length === 0) {
                        $('#tabservice_combo_result').removeClass("active");
                    }
                });
                $('#tabservice_combo_result .item').click(function (event) {
                    event.stopPropagation();
                });
                $('#tabservice_input').keyup(function () {
                    if ($(this).val().length > 0) $("#tab_SearchContent .btnsear_clear").removeClass('opacity-1').addClass('d-none');
                    else $("#tab_SearchContent .btnsear_clear").addClass('opacity-1').addClass('d-none');
                    $("#tab_SearchContent .fa-search").hide();
                    $("#tab_SearchContent .spinner-border").show();

                    clearTimeout(TabTimer_Search);
                    TabTimer_Search = setTimeout(function (e) {
                        let valueSearch = xoa_dau($('#tabservice_input').val().toLowerCase()).trim();
                        onKeyupTab_Search(valueSearch.replace(/[^a-zA-Z0-9 ]/g, ''));
                    }, 300);
                });
                $("#tab_SearchContent").on('click', '.btnsear_clear', function (e) {
                    $('#tabservice_input').val('');
                    $(".btnsear_clear").addClass('opacity-1');
                    onKeyupTab_Search("");
                    $("#tab_SearchContent .fa-search").show();
                    $("#tab_SearchContent .spinner-border").hide();
                });
                Render_Customer_Service_Div(CurrentService_Choose, data_service_root, "tabservice_table_Body");
                resolve();
            }, 200)

        });
    }
    function TMTreat_autoname() {
        try {
            let _date = new Date();
            let _prename = _date.getFullYear().toString().slice(-2) + '.' + ("0" + (_date.getMonth() + 1)).slice(-2) + '.' + ("0" + _date.getDate()).slice(-2);
            let _numequal = 1;
            let x = document.getElementsByClassName('treatment_plan_item_text');
            if (x != undefined && x.length != 0) {
                for (__i = 0; __i < x.length; __i++)
                    if (x[__i].innerHTML.includes(_prename))
                        _numequal = _numequal + 1;
            }
            _prename = _prename + '-' + ("0" + _numequal).slice(-2)
            if ($('#Treatment_Plan_Name').length) $('#Treatment_Plan_Name').val(_prename);
        }
        catch {

        }
    }
    function InitializeServiceMulti() {
        AjaxLoad(url = "/Customer/Service/TabMulti/?handler=LoadComboMain"
            , data = {  }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                let data = JSON.parse(result);
                dataTeeth = data.DataTeeth;
                dataServiceCombo = data.ServiceCombo;

                if (dataServiceCombo != undefined && dataServiceCombo.length != 0 && Number(TabCurrentID) == 0) {
                    $('#info_combo').show();
                }

                dataServiceCat = data.DataServiceCat;
                Render_Service_Type(dataServiceCat, "ccbServiceType");

                InitializeServiceMulti_1();
            }
        );
    }
    function InitializeServiceMulti_1 () {

        AjaxLoad(url = "/Customer/Service/TabMulti/?handler=LoadComboMain_1"
            , data = {
                'CustomerID': ser_MultiTabCustomerID,'PatientRecordID': patientRecordID
                , 'CurrentID': TabCurrentID}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {

                let data = JSON.parse(result);
                dataEmployee = sys_MainEmp;
                dataTele = data.Tele;
                dataKTV = sys_MainEmp.filter(function (el) {
                    return Number(el.GroupID) == 17
                });
                dataReasonFree = data.ReasonFree;
                dataReasonDiscount = data.ReasonDiscount;
                data_voucher = (data.Voucher) ? (data.Voucher).reduce((pre, arr) => { arr.Name =  `<span class="text-sm text-primary mb-0">${arr.Code}</span> ${arr.Name}`; pre.push(arr); return pre}, []) : [];
                data_discount = data.Discount;
                data_note_service = data.Note_Service;
                dataSourceService = data.SourceService
                data_card = data.Card;
                dataInsurance = data.Insurance;
                data_customer_group = data.GroupCus;
                data_customer_mem = data.GroupMem;

                let ampoint = data.AmountPoint;
                if (ampoint != undefined && ampoint.length == 1) {
                    if (ampoint[0].Valid == "1") {
                        dataPointToMoney = Number(ampoint[0].PointToMoney);
                        dataPointHaving = Number(ampoint[0].Point);
                        $('#tabpoint_having').html(dataPointHaving);
                        $("#tabpoint_used").attr({
                            "max": dataPointHaving,
                            "min": 0
                        });
                    }
                    else {
                        $('#tabpoint_having').html('0');
                        dataPointToMoney = 0;
                        dataPointHaving = 0;
                        $("#tabpoint_used").attr({
                            "max": 0,
                            "min": 0
                        });
                    }
                }


                data_teeth_rule_type = data.Rule_Teeth;
                data_teeth_rule_type_customer = data.Customer_Rule_Teeth;
                dataPatient = data.Patient;
                if (dataPatient.length > 0) {
                    $("#patient").show();
                    Load_Combo(dataPatient, "ccbPatient", true);
                    $("#PatientID").dropdown("refresh");
                    $("#PatientID").dropdown("set selected", dataPatient[0].ID);
                }
                dataDiscountTab = data.DiscountTab;
                Load_Combo(dataTele, "ccbTelesale", false);
                Load_Combo(dataTele, "ccbTelesale2", false);
                Load_Combo(dataEmployee, "ccbConsult1", false);
                Load_Combo(data_servicetype_root, "ccbTabServicetype", false);
                Load_Combo(TM_Vat, "ccbvat_per", false);
                Load_Combo(dataEmployee, "ccbConsult2", false);
                Load_Combo(dataEmployee, "ccbConsult3", false);
                Load_Combo(dataEmployee, "ccbConsult4", false);
                Load_Combo(dataKTV, "ccbKTV", false);
                Load_Combo(dataInsurance, "ccbInsurance", false);
                Load_Combo(dataReasonFree, "ccbReasonFree", false);
                Load_Combo(dataReasonDiscount, "ccbReasonDiscount", false);
                Load_Combo(dataSourceService, "cbbSourceService", false);
                if (data_card != undefined && data_card.length != 0) {
                    for (i = 0; i < data_card.length; i++) {
                        let e = {};
                        e.ID = data_card[i].ID;
                        e.Name = data_card[i].Name;
                        e.Code = data_card[i].Code;
                        e.ValueStart = data_card[i].ValueStart;
                        e.ValueIni = data_card[i].ValueIni;
                        e.ValueUsed = data_card[i].ValueUsed;
                        e.ValueLeft = data_card[i].ValueLeft;
                        e.AllService = data_card[i].AllService;
                        e.ServiceRange = data_card[i].ServiceRange;
                        e.FamilyUsing = data_card[i].FamilyUsing;
                        e.ExpiredDate = data_card[i].ExpiredDate;
                        e.EndLess = data_card[i].EndLess;
                        e.CustID = data_card[i].CustID;
                        e.CustCode = data_card[i].CustCode;
                        e.CustName = data_card[i].CustName;
                        e.IsFinishPayment = data_card[i].IsFinishPayment;
                        e.TotalPaid = data_card[i].TotalPaid;
                        e.Price_Discounted = data_card[i].Price_Discounted;
                        data_tab_card[data_card[i].ID] = e;
                    }
                    Tab_Detail_Card_Render(data_tab_card, "card_tab_detail_list");

                }
                if (ser_ChooseDateCustomer == "1") {
                    $("#dateCreated").show();
                }
                var sys_EmployeeID ='@Model.sys_EmployeeID' ;
                $("#Consult1").dropdown("refresh");
                $("#Consult1").dropdown("set selected", Number(sys_EmployeeID));
                $("#Telesale").dropdown("refresh");
                $("#Telesale").dropdown("set selected", Number(ser_TeleID));
                $("#Consult2").dropdown("refresh");
                $("#Consult2").dropdown("set selected", Number(ser_ResponID));


                Tab_LoadData_Update();

            }
        );

    }
    // #endregion

    //#region // other
    function Tab_Check_View() {
        let type ='@Model._Type';
        if (type == "view") {
            $('.bodyViewEdit input').prop("disabled", true);
            $('.bodyViewEdit input').css("opacity", "1");
            $('.bodyViewEdit textarea').prop("disabled", true);
            $('.bodyViewEdit textarea').css("opacity", "1");
            $('.bodyViewEdit .selection.dropdown').addClass("disabled");
            $('.bodyViewEdit .selection.dropdown').css("opacity", "1");
            $('.bodyViewEdit .selection.dropdown .dropdown.icon').remove();
            $('.bodyViewEdit .btnSave').remove();
            if (typeof SaveEachTab == 'function' && $.isFunction(SaveEachTab)) {
                delete SaveEachTab;
            }
        } else {
            $('.bodyViewEdit .btnSave').show();
        }
    }
    //#endregion

</script>

<style>
    #tabpro_area:has(.field.error) #tabpro_arearequired {
        display: block !important;
    }

    #tabservice_result.active, #tabservice_combo_result.active {
        opacity: 1;
        height: auto;
        visibility: visible;
    }

    .rowtabservice {
        cursor: pointer;
    }

        .rowtabservice:hover {
            background: #7b809a1a;
        }

    #tab_master .line_clamp_1 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }

    @@media only screen and (min-width:1100px) {
        #tabservice_result, #tabservice_combo_result {
            width: 1200px;
        }
    }

    #tabservice_result, #tabservice_combo_result {
        z-index: 100;
        width: 99%;
        position: absolute;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .2s ease, visibility 0.2s ease;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px !important;
    }

    @@media only screen and (min-width: 760px) {
        #tabservice_result, #tabservice_combo_result {
            width: 900px;
            left: 5px;
            top: 55px;
        }
    }

    @@media only screen and (min-width: 1500px) {
        #tabservice_result, #tabservice_combo_result {
            width: 1000px;
        }
    }
    /*    @@media only screen and (min-width:600px) {
        #tabservice_result, #tabservice_combo_result {
            width: 600px;
        }
    }*/

    .contentsearch {
        overflow-y: auto;
        max-height: 350px;
    }

    .rowtabservice.rowtabselected {
        background-color: #9e9e9e1a;
    }



    .maskcard {
        background-image: url('/assets/img/curved-images/curved14.jpg');
    }

    .card_hidden {
        opacity: 0.2;
    }

    #DiscountVoucherSeries {
        width: 60px;
    }
</style>


<script>js_require('/js/comon/initialize_setting.js');</script>


