@page
@model MLunarCoffee.Pages.Customer.Treatment.TreatLessDetailModel
@{
    Layout = null;
}

<div class="container-fluid py-3 px-0">
    <div class="row bodyViewEdit">
        <div class="col-12">
            <!--Master-->
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Điều trị"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết điều trị"]</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body pt-2 form3" id="form3">
                    <div class="row px-1">
                        <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                            <label>@Local["Bệnh án"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="PatientRecordID">
                                <input type="hidden" name="name" />
                                <i class="dropdown icon"></i>
                                <input id="PatientRecordSearch" class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Bệnh án"]</div>
                                <div id="ccbPatientRecord" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                            <label>@Local["Bác sĩ"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="doctor1">
                                <input type="hidden" name="doctor" />
                                <i class="dropdown icon"></i>
                                <input id="searchDoc1" class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Bác sĩ"]</div>
                                <div id="ccbDoctor1" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 col-xl-4 px-1 mt-2">
                            <label>@Local["Phụ tá"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="Assist1">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <input id="searchAss1" class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Phụ tá"]</div>
                                <div id="ccbAssitant1" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-1">
                        <div class="field col-12 px-1 mt-2">
                            <label>@Local["Nội dung điều trị"]</label>
                            <textarea class="form-control" id="ContentCurrent" placeholder="eg .@Local["Nội dung điều trị"]" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row px-1">
                        <div class="field col-12 px-1 mt-2">
                            <label>@Local["Nội dung điều trị kế tiếp"]</label>
                            <textarea class="form-control" id="ContentNext" placeholder="eg .@Local["Nội dung điều trị kế tiếp"]" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row px-1">
                        <div class="field col-12 px-1 mt-2">
                            <label>@Local["Ghi chú"]</label>
                            <textarea class="form-control" id="treatNote" placeholder="eg .@Local["Ghi chú"]" rows="3"></textarea>
                        </div>
                    </div>



                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">
                        <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="form3" onclick="Treatment_List_Detail_Cancel()">@Local["Đóng"]</button>
                            <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" id="TL_ExcuteTreatLess" onclick="SaveTreatLess()">@Local["Lưu"]</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    var ser_CustomerID;
    let DataComboKTV;
    let DataComboDoctor;
    let DataComboPatientRecord;
    let _CurrentID ='@Model._CurrentID';
    $(document).ready(function () {
        CheckView();
        ser_CustomerID ='@Model._CustomerID';

        document.getElementById("textShowMessage").innerHTML = "";
        InitializeTreatmentLess();

        $('.ui.dropdown .remove.icon').on('click', function (e) {
            $(this).parent('.dropdown').dropdown('clear');
            e.stopPropagation();
        });
 
    });


    function InitializeTreatmentLess() {
        AjaxLoad(url = "/Customer/Treatment/TreatLessDetail/?handler=LoadComboMain"
            , data = { 'CustomerID': ser_CustomerID  }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                let data = JSON.parse(result);
                DataComboDoctor = data.Doctor;
                DataComboKTV = data.Assist;
                DataComboPatientRecord = data.PatientRecord;
                Load_Combo(DataComboDoctor, "ccbDoctor1", false);
                Load_Combo(DataComboPatientRecord, "ccbPatientRecord", false);
                Load_Combo(DataComboKTV, "ccbAssitant1", false);

                if (_CurrentID!="0") LoadDataUpdateTreatLess();
            }
        );
    }

    // load data update
    function LoadDataUpdateTreatLess() {
        AjaxLoad(url = "/Customer/Treatment/TreatLessDetail/?handler=Loadata"
            , data = {'id': _CurrentID}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != "0") {
                    let DataUpdate = JSON.parse(result);
                    $('#ContentCurrent').val(formatHTML(DataUpdate[0].Content_Current));
                    $('#ContentNext').val(formatHTML(DataUpdate[0].Content_Next));
                    $('#treatNote').val(formatHTML(DataUpdate[0].Note));

                    $("#doctor1").dropdown("refresh");
                    $("#doctor1").dropdown("set selected", DataUpdate[0].BS1);

                    $("#Assist1").dropdown("refresh");
                    $("#Assist1").dropdown("set selected", DataUpdate[0].PT1);

                    $("#PatientRecordID").dropdown("refresh");
                    $("#PatientRecordID").dropdown("set selected", DataUpdate[0].PatientID);
                }
            }
        );
    }

    function SaveTreatLess() {
        var data = new Object();
        data.Doctor = Number($('#doctor1').dropdown('get value')) ? Number($('#doctor1').dropdown('get value')) : 0;
        data.Assist = Number($('#Assist1').dropdown('get value')) ? Number($('#Assist1').dropdown('get value')) : 0;
        data.PatientID = Number($('#PatientRecordID').dropdown('get value')) ? Number($('#PatientRecordID').dropdown('get value')) : 0;
        data.ContentCurrent = $("#ContentCurrent").val() ? $("#ContentCurrent").val() : "";
        data.ContentNext = $("#ContentNext").val() ? $("#ContentNext").val() : "";
        data.TreatNote = $("#treatNote").val() ? $("#treatNote").val() : "";
        data.CustomerID = ser_CustomerID;
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Customer/Treatment/TreatLessDetail/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(data),
                    'CurrentID': _CurrentID}
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result != "0") {
                        syslog_cuttreat(_CurrentID == 0 ? 'i' : 'u', ser_CustomerID, $("#ContentCurrent").val() ? $("#ContentCurrent").val() : "");
                        Treatment_List_Detail_Cancel();
                        if (typeof Treatment_List_Service_Load !== 'undefined' && $.isFunction(Treatment_List_Service_Load)) {
                            Treatment_List_Service_Load();
                        }
                        notiSuccess();
                    }
                }
                , sender = $("#TL_ExcuteTreatLess")
            );
        }
        return false
    }

    function CheckView() {
        let type = '@Model._Type';
        if (type == "view") {
            $('.bodyViewEdit textarea').prop("disabled", true);
            $('.bodyViewEdit textarea').css("opacity", "1");
            $('.bodyViewEdit .selection.dropdown').addClass("disabled");
            $('.bodyViewEdit .selection.dropdown').css("opacity", "1");
            $('.bodyViewEdit .selection.dropdown .dropdown.icon').remove();
            $('.bodyViewEdit .selection.dropdown .remove.icon').remove();
            $('.bodyViewEdit .saveButton').remove();
            if (typeof SaveTreatLess == 'function' && $.isFunction(SaveTreatLess)) {
                delete SaveTreatLess;
            }
        } else {
            $('.bodyViewEdit .saveButton').show();
        }
    }


</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
