@page
@model MLunarCoffee.Pages.CustomerCare.CustomerCare_ComplaintModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>

<div class="row">
    <div class="col-12 p-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0">
                <div class="left">
                    <ul class="nav nav-pills p-0 bg-transparent permissionlist" role="tablist">
                        <li class="nav-item me-3" role="presentation">
                            <a class="nav-link cursor-pointer active" data-bs-toggle="collapse" href="#ResCom_AreaFill">
                                <i class="text-gradient text-primary fas fa-filter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <h6 class="mb-0 mt-1">@Local["Complaint khách hàng"]</h6>
                            <p class="text-sm mb-0">@Local["Danh sách complaint"]</p>
                        </li>
                    </ul>
                </div>
                <div class="right">                    
                    <div class="wrap">
                        <div class="wrapblock pb-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input type_show" type="radio" name="inlineRadioOptions" value="0" onchange="event.preventDefault();return ResCom_Filter(2);" checked="">
                                <label class="mb-0 form-check-label text-nowrap">@Local["Tất cả"]</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input type_show" type="radio" name="inlineRadioOptions" value="1" onchange="event.preventDefault();return ResCom_Filter(0);">
                                <label class="mb-0 form-check-label text-nowrap">@Local["Chưa xử lý"]</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input type_show" type="radio" name="inlineRadioOptions" value="2" onchange="event.preventDefault();return ResCom_Filter(1);">
                                <label class="mb-0 form-check-label text-nowrap">@Local["Đã xử lý"]</label>
                            </div>
                        </div>
                        <div class="wrapblock pb-2">
                            <div class="form-group mb-0">
                                <div class="input-group mb-0">
                                    <span class="input-group-text fw-bold text-primary ">@Local["Tổng"]</span>
                                    <span class="ps-2 form-control fw-bolder text-dark ps-2" style="width:100px;max-width:100px;" id="ResCom_lbTotal">0</span>
                                </div>
                            </div>                            
                            <button class="btn w-100 btn-dark m-0" onclick="event.preventDefault();return ResCom_ExportData();">@Local["Xuất"]</button>                            
                                                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="vtcondition">
                    <div class="row px-2 collapsesticky z-index-sticky collapse" id="ResCom_AreaFill">
                        <div class="col-12 col-md-12 col-xl-4 p-1">
                            <div class="input-group">
                                <div class="input-group-text input-group-text px-2">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                    <div class="spinner-border spinner-border-sm d-none"></div>
                                </div>
                                <input id="ResCom_SearchInput" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm khách hàng"]" autocomplete="off">
                                <div class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-2 p-1">
                            <div class="ui fluid search selection dropdown form-control" id="ResCom_BranchID">
                                <input type="hidden" name="branch" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="ResCom_cbbBranchID" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-2 p-1">
                            <div class="ui fluid search selection dropdown form-control" id="ResCom_StaffID">
                                <input type="hidden" name="employee" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="ResCom_ccbStaffID" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-2 p-1">
                            <div class="ui fluid search selection dropdown form-control" id="ResCom_CCStaffID">
                                <input type="hidden" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="ResCom_CbbCCStaffID" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-2 p-1">
                            <div class="ui fluid search selection dropdown form-control" id="ResCom_CallStatusID">
                                <input type="hidden" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="ResCom_ccbCallStatusID" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 p-1">
                            <div class="input-group">
                                <div class="input-group mb-0 flex-nowrap">
                                    <div class="ui fluid search selection dropdown" id="CustCareTypeDate" style="width:30%;">
                                        <input type="hidden" name="employee" />
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="CbbCustCareTypeDate" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                    <input id="ResCom_dteCreated" class="form-control flatpickr" type="text" placeholder="eg .@Local["Ngày"]" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-2 p-1">
                            <div class="ui fluid search selection dropdown form-control" id="ResCom_StatusID">
                                <input type="hidden" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="ResCom_CbbStatusId" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-2 p-1">
                            <div class="ui fluid search selection dropdown form-control" id="ResCom_StatusCallID">
                                <input type="hidden" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="ResCom_CbbStatusCallID" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-2 p-1">
                            <button class="btn bg-gradient-primary m-0" onclick="event.preventDefault();return ResCom_LoadData();">@Local["OK"]</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="m-0 mt-1 position-relative">
                        <div id="ResCom_waiting" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x z-index-3" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">@Local["Đang tải"]...</span>
                            </div>
                        </div>
                        <div class="row px-2 h-100">
                            <div class="col-12 col-sm-6 col-md-4 col-xl-3 p-1">
                                <div class="overflow-auto stickytable" style="max-height:calc(100vh - 289px);">
                                    <ul id="ResCom_listContent" class="list-group">
                                    </ul>
                                </div>
                                <button class="btn btn-secondary btnsysmore w-100 p-1 mt-2 mb-0 d-none" id="ResCom_BtnShowMore" onclick="ResCom_LoadData(0, 1)">@Local["Xem thêm"]</button>
                            </div>
                            <div class="col-12 col-sm-6 col-md-8 col-xl-9 p-1">
                                <div id="ResCom_Empty" class="mx-auto text-center">
                                    <h5 class="mb-0">@Local["Danh sách khách hàng"]</h5>
                                    <p>@Local["Chọn khách hàng để tiến hành chăm sóc"]</p>
                                </div>
                                <div id="ResCom_DetailContainer" class="card h-100 d-none">
                                    <div class="card-header shadow-none p-2">
                                        <div class="d-lg-flex">
                                            <div class=" col-auto my-auto">
                                                <div class="text-dark ms-2  text-sm">
                                                    <div>
                                                        <a id="ResCom_custcode" target="_blank" href="#" class="border-1 border-primary border-bottom cursor-pointer"></a>
                                                        <i class="text-sm text-dark vtt-icon vttech-icon-call-action"></i>
                                                        <a id="ResCom_custphone" onclick="ResCom_Call(this);" class="text-dark cursor-pointer">
                                                        </a>
                                                        <i class="fas fa-sms text-md text-md text-dark ms-2"></i>
                                                        <a class="ms-1 cursor-pointer text-dark text-sm" onclick="ResCom_SendSMS();">
                                                            SMS
                                                        </a>
                                                    </div>

                                                    <div class="d-block fs-6 mt-1">
                                                        <span id="ResCom_custname" class="mb-0 mt-2"></span> - 
                                                        <span id="ResCom_custgender" class="mb-0 mt-2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ms-auto my-auto mt-1 d-flex justify-content-center">
                                                <div id="ResCom_groupname" class="p-1" data-bs-toggle="tooltip" title="" data-bs-original-title="">
                                                    <img class="cursor-pointer icon icon-shape icon-sm me-2 shadow text-center" id="ResCom_groupimg" src="/default.png" alt="label-image" onerror="Master_OnLoad_Error_Image(this)">
                                                </div>
                                                <button class="btn bg-gradient-primary btn-sm ms-2 my-1" onclick="ResCom_AddNew()">@Local["Thêm mới"]</button>

                                            </div>
                                        </div>
                                        <hr class="horizontal dark mt-3 mb-2">
                                    </div>
                                    <div id="ResCom_DetailContent" class="pt-1 ps-2 card-body overflow-auto overflow-x-hidden" style="height:calc(100vh - 330px);">
                                    </div>
                                    <button id="ResCom_btnLoadMore" class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0  position-absolute bottom-0" onclick="event.preventDefault(); return ResCom_RenderMore();">
                                        @Local["Xem thêm"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/main.js');</script>
<script>
    //#region //INIT - DEFINE
    let ResCom_sysUserID = @Model.sys_UserID;
    let ResCom_sysPerTele = @Model.sys_Permission_Tele;
    let ResCom_DataEmp;
    let ResCom_DataStatus = [], ResCom_DataCallStatus = [], ResCom_DataBranch = [], ResCom_DataStatusCare = {};
    let ResCom_DataBranchObj = {};
    let ResCom_CareType = 6;
    let ResCom_BeginID = 0;
    let ResCom_Limit = 200;
    let ResCom_xhrRequest;
    let ResCom_DataMain, ResCom_DataExport;
    let ResCom_CareStatus = 2;

    let ResCom_DataDetailSlice;
    let ResCom_IndexTable;
    let ResCom_xhrRequestDetail;
    let ResCom_DtTypeCare = [
        {"ID" : 1 , "Name": "@Local["Ngày tạo"]"}
        , {"ID" : 2 , "Name": "@Local["Ngày xử lý"]"}
        , {"ID" : 3 , "Name": "@Local["Ngày gọi lại"]"}
    ];

    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_Employee]
            , function (data) {
                ResCom_DataEmp = data[0];
                ResCom_Init();
            });
    })
    $(document).mouseup(function (e){
        let DivFillDate = $('#DivSearchDate');
        if (!DivFillDate.is(e.target ) && DivFillDate.has(e.target).length === 0){
            $('#DivSearchDate').collapse('hide');
        }
    })

    function ResCom_Init() {
        let dtFromDef = new Date(), dtToDef = new Date();
        $("#ResCom_dteCreated").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            defaultDate: [GetDateTime_String_DMY(dtFromDef), GetDateTime_String_DMY(dtToDef)],
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
                if (selectedDates.length != 1) {
                    var diffDays = Math.abs(selectedDates[1] - selectedDates[0]) / (1000 * 60 * 60 * 24);
                    if (diffDays > 31) {
                        instance.setDate([selectedDates[0], selectedDates[0]], true);
                    }
                }
            }
        });
        $("#ResCom_dteCreated").val(formatDateClient(dtFromDef) + ' to ' + formatDateClient(dtToDef));
        ResCom_LoadCombo();
    }

    function ResCom_LoadCombo() {
       AjaxLoad(url = "/CustomerCare/CustomerCare_Complaint/?handler=Initialization"
            , data = {}
            , async = true
            , error = null
            , success = function (result) {
                if (result != '[]') {
                    let data = JSON.parse(result);
                    let DtStatus = data?.StatusCare.filter(item => item["ParentID"] == 0);
                    let DtStatusCall = data?.StatusCare.filter(item => item["ParentID"] != 0);

                    ResCom_DataStatus = data.Status;
                    ResCom_DataBranch = data?.Branch ?? []
                    ResCom_DataCallStatus = (data?.StatusCall ?? [])?.filter((item) => { return item.State == 1 });


                    ResCom_DataBranchObj = (data?.Branch ?? []).reduce((pre, arr) => {
                            if (arr.ID) pre[arr.ID] = arr;
                            return pre;
                        }, {}
                    )
                    Load_Combo(data.Branch, "ResCom_cbbBranchID", true, '@Local["Chi nhánh"]');
                    $("#ResCom_BranchID").dropdown("refresh");
                    $("#ResCom_BranchID").dropdown("set selected", "0");

                    Load_Combo(data.Tele, "ResCom_ccbStaffID", true, '@Local["Tele phụ trách"]');
                    $("#ResCom_StaffID").dropdown("refresh");
                    $("#ResCom_StaffID").dropdown("set selected", (Number(ResCom_sysPerTele) == 0 ? "0" : ResCom_sysUserID));

                    Load_Combo(ResCom_DataCallStatus, "ResCom_ccbCallStatusID", true, '@Local["Trạng thái gọi"]');
                    $("#ResCom_CallStatusID").dropdown("refresh");
                    $("#ResCom_CallStatusID").dropdown("set selected", "0");

                    Load_Combo(data.TeleCare, "ResCom_CbbCCStaffID", true, '@Local["Nhân viên chăm sóc"]');
                    $("#ResCom_CCStaffID").dropdown("refresh");
                    $("#ResCom_CCStaffID").dropdown("set selected", "0");

                    Load_Combo(ResCom_DtTypeCare, "CbbCustCareTypeDate", true, '@Local["Ngày"]');
                    $("#CustCareTypeDate").dropdown("refresh");
                    $("#CustCareTypeDate").dropdown("set selected", "0");

                    Load_Combo(DtStatus, "ResCom_CbbStatusId", true, '@Local["Trạng thái"]');
                    $("#ResCom_StatusID").dropdown("refresh");
                    $("#ResCom_StatusID").dropdown("set selected", "0");

                    Load_Combo(DtStatusCall, "ResCom_CbbStatusCallID", true, '@Local["Trạng thái chi tiết"]');
                    $("#ResCom_StatusCallID").dropdown("refresh");
                    $("#ResCom_StatusCallID").dropdown("set selected", "0");

                    ResCom_DataStatusCare = (data?.StatusCare ?? []).reduce((pre, arr) => { if (!pre[arr.ID]) pre[arr.ID] = arr; return pre }, {});
                    ResCom_LoadData(0, 0);
                }
            }
        );
    }
    //#endregion

    //#region //LOADDATA
    async function ResCom_LoadData(currentID = 0, isLoadMore = 0) {
        return new Promise((resolve, reject) => {
            if (ResCom_xhrRequest && ResCom_xhrRequest.readyState != 4) ResCom_xhrRequest.abort();
            if (currentID == 0 && isLoadMore == 0) {
                ResCom_DataMain = {};
                ResCom_BeginID = 0;
                $('#ResCom_listContent').html("");
                $("#ResCom_DetailContainer").addClass('d-none');
                ResCom_DataExport = [];
            }
            if (currentID != 0) ResCom_BeginID = 0;

            let data = new Object();
            let branchID = $("#ResCom_BranchID").dropdown("get value") ? $('#ResCom_BranchID').dropdown("get value") : "0";
            let branchToken = branchID == 0 ? Object.values(ResCom_DataBranch).map(e => e.ID).join(",") : "";
            let SearchText = $("#ResCom_SearchInput").val() ? $("#ResCom_SearchInput").val() : "";

            data.BranchID = branchID;
            data.BranchToken = branchToken;
            data.StaffID = Number($("#ResCom_StaffID").dropdown("get value")) ? Number($("#ResCom_StaffID").dropdown("get value")) : "0";
            data.CallID = Number($("#ResCom_CallStatusID").dropdown("get value")) ? Number($("#ResCom_CallStatusID").dropdown("get value")) : "0";
            data.CCStaffID = $("#ResCom_CCStaffID").dropdown("get value") ? Number($("#ResCom_CCStaffID").dropdown("get value")) : "0";
            data.TypeCare = $("#CustCareTypeDate").dropdown("get value") ? $("#CustCareTypeDate").dropdown("get value") : "0";
            data.SearchText = xoa_dau(SearchText).toLowerCase().trim().replace(/[^a-zA-Z0-9 ]/g, '');
            data.statusCallID = $("#ResCom_StatusCallID").dropdown("get value") ? $("#ResCom_StatusCallID").dropdown("get value") : "0";
            data.statusID = $("#ResCom_StatusID").dropdown("get value") ? $("#ResCom_StatusID").dropdown("get value") : "0";

            let date = $("#ResCom_dteCreated").val() ? $("#ResCom_dteCreated").val() : new Date();
            let dateFrom;
            let dateTo;

            if (date.includes(" to ")) {
                date = date.replace(" to ", "#");
                dateFrom = date.split('#')[0];
                dateTo = date.split('#')[1];
            }
            else {
                dateFrom = date;
                dateTo = date;
            }

            ResCom_xhrRequest = AjaxLoad(url = "/CustomerCare/CustomerCare_Complaint/?handler=LoadData"
                , data = {
                    'data': JSON.stringify(data)
                    , 'DateFrom': dateFrom
                    , 'DateTo': dateTo
                    , 'CurrentID': currentID
                    , 'BeginID': ResCom_BeginID
                    , 'Limit': ResCom_Limit
                }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data != undefined) {
                        if (data.length != 0) {
                            let stringContent = '';
                            if (currentID == 0) {
                                fnRenderBlock(data, "ResCom_listContent"
                                    , blocknum = 30
                                    , fnrender = ResCom_RenderData
                                    , fnsuccess = null
                                );
                                let objData = (data ?? []).reduce((pre, arr) => { if (!pre[arr.ID]) pre[arr.ID] = arr; return pre }, {});
                                ResCom_DataMain = Object.assign(ResCom_DataMain, objData);
                            }
                            else {
                                let _id = $('#ResCom_MasterRow_' + currentID);
                                if (_id != undefined && _id.length != 0) {
                                    if (!jQuery.isEmptyObject(ResCom_DataMain) && typeof ResCom_DataMain[currentID] != "undefined"){
                                        ResCom_DataMain[currentID] = data[0]
                                    }
                                    stringContent = ResCom_RenderEach(data[0]);
                                    _id.replaceWith(stringContent);
                                    $('#ResCom_MasterRow_' + currentID).trigger('click');
                                    $("input[name=inlineRadioOptions]:checked").trigger("change");
                                }
                            }
                            $("#ResCom_BtnShowMore").removeClass("d-none");
                        }
                        else {
                            if (currentID != 0) {
                                delete ResCom_DataMain[currentID];
                                let _id = 'ResCom_MasterRow_' + currentID;
                                $("#" + _id).remove();
                                $("input[name=inlineRadioOptions]:checked").trigger("change");
                            }
                            else {
                                if (isLoadMore == 0) {
                                    $('#dtContentCustCare').hide();
                                }
                                $("#ResCom_BtnShowMore").addClass("d-none");
                            }
                        }
                        ResCom_BeginID = !jQuery.isEmptyObject(ResCom_DataMain) ? ResCom_DataMain[Object.keys(ResCom_DataMain)[Object.keys(ResCom_DataMain).length - 1]].ID : 0;
                        $("#ResCom_lbTotal").html(formatNumber($(".ResCom_MasterRow:visible").length));
                    }
                }
                , sender = null
                , before = function (e) {
                    $('#ResCom_waiting').show();
                }
                , complete = function (e) {
                    $('#ResCom_waiting').hide();
                }
            );

        });
    }
    async function ResCom_RenderData(data, id) {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = ResCom_RenderEach(item);
                            myNode.insertAdjacentHTML("beforeend", tr);
                        }
                    }
                }
                ResCom_EventHandle();
                $("input[name=inlineRadioOptions]:checked").trigger("change");
                $('#ResCom_listContent').find('.ResCom_MasterRow:visible:first').trigger("click");
                ToolPopper();
                resolve();
            }, 10)
        });
    }
    function ResCom_RenderEach(item) {
        let isexecuted = 'checklist-item-secondary', iscallback = '';
        if (item.IsTakeCare == 1) isexecuted = 'checklist-item-success';
        if (item.IsCallback == 1) {
            iscallback = `
                <div class="ms-3">
                                <p class="text-xs mb-0 text-secondary font-weight-bold">@Local["Ngày gọi lại"]</p>
                            <span class="text-sm text-dark">${ConvertDateTimeUTC_DMY(ConvertToDateRemove1900(item.CallBackTime) ?? '')}</span>
                         </div>
                         `
        }
        let statusParentName = ResCom_DataStatusCare[item.StatusID]?.Name != undefined ? `${ResCom_DataStatusCare[item.StatusID].Name}` : '@Local["Trạng thái xử lý"]';
        let statusName = ResCom_DataStatusCare[item.StatusCallID]?.Name ?? '';
        let tr = `
                <li id="ResCom_MasterRow_${item.ID}" data-ID="${item.ID}" data-custid="${item.CustID}" class="ResCom_MasterRow icon-move-right checklist-item ${item.IsTakeCare == 0 ? `clsNoneExcuted` : `clsExcuted`} ${isexecuted} list-group-item border-0 flex-column align-items-start py-0 mt-2 py-2 border-radius-lg cursor-pointer">
                    <div class="d-flex align-items-center">
                        <a class="border-bottom border-primary code col-auto fw-bold mb-0 mt-0 my-auto text-primary text-sm" target="_blank" href="/Customer/MainCustomer?CustomerID=${item.CustID}">${item.CustCode}</a>
                        <span class="text-sm ms-2 fw-bold text-dark"> - ${item.CustName} </span>
                        <span class="ms-2 text-dark text-sm">${Fun_GetName_ByID(ResCom_DataBranchObj, item.BranchID) ?? ""}</span>
                        <div class="d-flex ms-auto">
                              <i class="fas fa-arrow-right text-xs ms-1 text-primary" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="ellipsis_one_line font-italic">
                         <span class="fw-bold text-xs" style="color: ${item.ColorCode} !important">${statusParentName}</span>
                         <span class="text-dark text-xs">${statusName}</span> <span class="ms-1 text-dark text-xs">${item.Content}</span>
                    </div>
                    <div class="d-flex align-items-center mt-1">
                        <div>
                        <p class="text-xs mb-0 text-secondary font-weight-bold">@Local["Ngày xử lý"]</p>
                        <span class="text-sm text-dark">${ConvertDateTimeUTC_DMY(ConvertToDateRemove1900(item.DateTakeCare) ?? '')}</span>
                        </div>
                            ${iscallback}
                    </div>

                </li>
            `
        return tr;
    }
    //#endregion

    //#region //LOADDETAIL
    async function ResCom_LoadDetail(currentID) {
        return new Promise((resolve, reject) => {
            if (ResCom_xhrRequestDetail && ResCom_xhrRequestDetail.readyState != 4) ResCom_xhrRequest.abort();
            ResCom_IndexTable = 0;
            ResCom_xhrRequestDetail = AjaxLoad(url = "/CustomerCare/CustomerCare_Complaint/?handler=LoadDetail"
                , data = {
                    'currentID': currentID
                }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data && data.length > 0) {
                        ResCom_DataDetailSlice = sliceIntoChunks(data, 500);
                        $("#ResCom_DetailContent").empty();
                        $('#ResCom_btnLoadMore').removeClass('d-none');
                        if (ResCom_DataDetailSlice && ResCom_DataDetailSlice.length != 0) {
                            //fnRenderBlock(ResCom_DataDetailSlice[ResCom_IndexTable], "ResCom_DetailContent"
                            //    , blocknum = 100
                            //    , fnrender = ResCom_RenderDetail
                            //    , fnsuccess = null
                            //);
                            ResCom_RenderDetail(ResCom_DataDetailSlice[ResCom_IndexTable], "ResCom_DetailContent");
                        }
                    }
                }
                , sender = null
                , before = function (e) {
                    $('#ResCom_waiting').show();
                }
                , complete = function (e) {
                    $('#ResCom_waiting').hide();
                }
            );

        });
    }

    function ResCom_RenderMore() {
        ResCom_IndexTable += 1;
        if (ResCom_DataDetailSlice && ResCom_DataDetailSlice[ResCom_IndexTable]) {
            //fnRenderBlock(ResCom_DataDetailSlice[ResCom_IndexTable], "ResCom_DetailContent"
            //    , blocknum = 100
            //    , fnrender = ResCom_RenderDetail
            //    , fnsuccess = null
            //);
            ResCom_RenderDetail(ResCom_DataDetailSlice[ResCom_IndexTable], "ResCom_DetailContent");
        }
        if (!$('#ResCom_btnLoadMore').hasClass('d-none') && ResCom_IndexTable >= ResCom_DataDetailSlice.length - 1) {
            $('#ResCom_btnLoadMore').addClass('d-none');
        }
    }

    async function ResCom_FillInfo(id) {
        new Promise((resolve, reject) => {
            let item = ResCom_DataMain[id] ?? {};
            if (item != undefined && Object.keys(item).length > 0) {
                let birth = '';
                let _age = Distance_Year_2Date(new Date(item.Birthday), new Date());
                let groupname = (item.GroupName != '') ? item.GroupName : 'no group';
                if (_age > 0 && _age < 100) {
                    birth = ' [ ' + _age + ' @Local["Tuổi"] ] ';
                }
                $('#ResCom_custgender').html((item.Gender_ID == 60 ? "@Local["Nam"]" : "@Local["Nữ"]") + (birth != '' ? birth : ''));
                $('#ResCom_custphone').html('<span class="_tab_control_ cursor-pointer" data-name="phone" data-tab="phone_customer" > ' + item.Phone + '</span>');
                $('#ResCom_custphone').attr('data-info', (item.Phone.length > 0 ? encrypt_phone(item.Phone.replace(" ", "")) : ""));

                $('#ResCom_custname').html(item.CustName);
                $('#ResCom_custcode').html(item.CustCode + ((item.DocCode != '') ? (' [ ' + item.DocCode + ' ] ') : '') + ((item.Cust_Code_Old != '') ? ('[' + item.Cust_Code_Old + ']') : ''));
                $('#ResCom_custcode').attr('href', '/Customer/MainCustomer?CustomerID=' + item.CustID);

                $('#ResCom_groupimg').attr('src', ((item.ImageGroup != '') ? item.ImageGroup : Master_Default_Pic));
                $('#ResCom_groupname').prop("title", groupname)
                $('#ResCom_groupname').attr('data-bs-original-title', groupname);
            }
            Checking_TabControl_Permission();
            resolve();
        });
    }
    async function ResCom_RenderDetail(data, id) {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            let item = data[i];
                            let statusParentName = ResCom_DataStatusCare[item.Status]?.Name != undefined ? `${ResCom_DataStatusCare[item.Status].Name}` : '@Local["Trạng thái xử lý"]';
                            let statusName = ResCom_DataStatusCare[item.StatusCall]?.Name ?? '';
                            let tr = `<div class="timeline timeline-one-side" data-timeline-axis-style="dotted">
                                      <div class="mb-3 timeline-block">
                                      <span class="timeline-step">
                                      <span class="badge badge-dot p-0 pb-3 ps-1">
                                      <i class="fas fa-circle pe-2" style="color: ${item.ColorCode}"></i>
                                      </span>
                                      </span>
                                      <div class="timeline-content">
                                      <div class="d-flex">
                                      <h6 class="text-dark text-sm font-weight-bold mb-0" style="color: ${item.ColorCode} !important;">${statusParentName}</h6>
                                      <h6 class="mb-0 ms-2 text-dark text-sm">${statusName}</h6>
                                      </div>
                                      <div class="d-flex px-0">
                                      <div class="d-inline me-2">
                                          <i class="fa-user far text-secondary text-sm text-xs"></i>
                                              <span class="font-italic mt-2 text-xs">${ item.EmpName }</span>
                                      </div>
                                      <div class="d-inline me-2">
                                          <span class="font-italic mt-2 text-sm text-xs">
                                              ${ ConvertDateTimeUTC_DMYHM(item.Created) }
                                          </span>
                                      </div>
                                      </div>
                                      <p class="text-sm mt-3 mb-2">
                                      ${ item.Content }
                                      </p>
                                      </div>
                                      </div>
                                      </div>`
                            myNode.insertAdjacentHTML("beforeend", tr);
                        }
                    }
                }
                resolve();
            }, 10)
        });
    }
    //#endregion

    //#region //EVENT
    function ResCom_Filter(type)  {
        if (type != undefined) { ResCom_CareStatus = type }
        else { type = ResCom_CareStatus }
        let data = JSON.parse(JSON.stringify(Object.values(ResCom_DataMain)));

        switch (type) {
            case 1:
                $("#ResCom_listContent .ResCom_MasterRow.clsExcuted").removeClass('d-none');
                $("#ResCom_listContent .ResCom_MasterRow.clsNoneExcuted").addClass('d-none');
                ResCom_DataExport = data.filter((item) => {return (item["IsTakeCare"] == 1)});
                break;
            case 2:
                $("#ResCom_listContent .ResCom_MasterRow.clsExcuted").removeClass('d-none');
                $("#ResCom_listContent .ResCom_MasterRow.clsNoneExcuted").removeClass('d-none');
                ResCom_DataExport = data;
                break;
            case 0:
                $("#ResCom_listContent .ResCom_MasterRow.clsExcuted").addClass('d-none');
                $("#ResCom_listContent .ResCom_MasterRow.clsNoneExcuted").removeClass('d-none');
                ResCom_DataExport = data.filter((item) => {return (item["IsTakeCare"] == 0)});

                break;
            default: break;
        }
        let lengthRow = $(".ResCom_MasterRow:visible").length;
        $("#ResCom_lbTotal").html(formatNumber(lengthRow));
        if (lengthRow == 0){
            $('#ResCom_DetailContainer').addClass('d-none');
            $('#ResCom_Empty').removeClass('d-none');
        }
    }
    function ResCom_EventHandle() {
        $('#ResCom_listContent').on('click', '.ResCom_MasterRow', function () {
            let numcreated = $(this).attr("data-date");
            let cus = $(this).attr("data-custid");
            let id = $(this).attr("data-ID");
            $('#ResCom_DetailContainer').removeClass('d-none');
            $('#ResCom_Empty').addClass('d-none');
            $('.ResCom_MasterRow').removeClass('active');
            $('#ResCom_MasterRow_' + id).addClass('active');
            ResCom_CustID = cus;
            ResCom_CurrentID = id;
            ResCom_FillInfo(id)
            ResCom_LoadDetail(id);
        });
    }
    function ResCom_AddNew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Marketing/CallDetailInput?MasterID=" + ResCom_CurrentID
            + "&CustomerID=" + ResCom_CustID
            + "&Type=" + 6
            + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function ResCom_SendSMS() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/SMS/SmsDetail?CustomerID=" + ResCom_CustID + "&TicketID=" + 0 + "&Type=" + 'SMSContentGeneral' + "&TypeCare=" + 6 + "&AppID=" + 0 + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function ResCom_Call(e) {
        if (typeof CCF_OutcomCall !== 'undefined' && $.isFunction(CCF_OutcomCall)) {
            let phone = $(e).attr("data-info");
            CCF_OutcomCall(phone, ResCom_CustID, 0, 0);
        }

    }
    //#endregion

    //#region //Export

    function ResCom_ExportData() {
        try {
            if (ResCom_DataExport && ResCom_DataExport.length != 0) {
                var dataHeader = {
                    "#": ["@Local["#"]", (value, { }, index) => { return index + 1; }]
                    , "CustName": "@Local["Tên"]"
                    , "DocCode": "@Local["Mã hồ sơ"]"
                    , "BranchName": "@Local["Chi nhánh"]"
                    , "Phone": {
                        dataNamePer: 'phone',
                        data: ["@Local["Số điện thoại"]"]
                    }
                    , "IsTakeCare": ["@Local["Tình trạng"]", (v) => { return v == 1 ? decodeHtml("@Local["Đã chăm sóc"]") : decodeHtml("@Local["Chưa chăm sóc"]") }]
                    , "CallBackTime": ["@Local["Ngày gọi lại"]", (v) => { return !GetDateTime_String_DMY(v).includes("1900") ? GetDateTime_String_DMY(v) : "" }]
                    , "CCStaffID": ["@Local["Nhân viên chăm sóc"]", (v) => { return typeof(ResCom_DataEmp[v]) != "undefined" ? ResCom_DataEmp[v].Name : ""}]
                    , "Content": "@Local["Nội dung gần nhất"]"
                    , "StatusID": ["@Local["Trạng thái"]", (v) => {return Fun_GetName_ByID(ResCom_DataStatusCare, v)}]
                    , "StatusCallID": ["@Local["Trạng thái chi tiết"]", (v) => {return Fun_GetName_ByID(ResCom_DataStatusCare, v)}]
                }
                dataHeader = Checking_TabControl_System_RebuildHeader(dataHeader, tableBodyId = 'ResCom_listContent', PermissionTable_TabControl);debugger;
                exportJsonToExcel(Outlang["Sys_cham_soc_dinh_ky"], ResCom_DataExport, dataHeader);
            }
            else { notiWarning('@Local["Không xuất được file"]'); }
        }

        catch (ex) {
            notiWarning('@Local["Không xuất được file"]');
        }
    }

        //#endregion
</script>
<style>
    #ResCom_StatusID .circle {
        width: 10px;
        height: 10px;
        border-radius: 30px;
        display: inline-block;
        margin-right: 10px;
        border: 1px solid #d4d4d5;
    }
    .timeline-content {
       max-width: 100% !important;
    }
</style>