@page
@model MLunarCoffee.Pages.CustomerCare.CustomerCare_QuickNoteModel
@{
    Layout = null;
}
<div class="row overflow-hidden h-100">
    <div class="field_button_add_note">
        <div id="divCustomerCareAction" class="field">
            <textarea id="txtCustomerCare_Note" rows="2" placeholder="@Local["Nhập"]..." class="form-control" />
        </div>
        <div style="width: 100%; position: relative;">
            <div id="divCustomerCareQuickNote" class="ui feed is_active">
            </div>
            <i onclick="Excute_Add_Quick_Note()" class="paper plane icon customercare_icon" title="@Local["Gửi"]"></i>
        </div>
    </div>
</div>

<script>
    var Ser_CustomerCare_Quick_Teamplate = {};
    var SerCare_MasterID = Number(@Model._MasterID);
    var SerCare_AppID = Number(@Model._AppID);
    var SerCare_CustomerID = Number(@Model._CustomerID);
    var SerCare_IsDone = Number(@Model._IsDone);
    var SerCare_Type = Number(@Model._Type);
    var SerCare_Title = "@Model._Title";
    var SerCare_Typeinput = Number(@Model._Typeinput);
    var SerCare_StatusCallID = Number(@Model._StatusCallID);
    var SerCare_StatusCallDetail = Number(@Model._StatusCallDetail);
    var SerCare_TreatmentDate = "@Model._TreatmentDate";
    var SerCare_TreatmentID = Number(@Model._TreatmentID);
    var SerCare_CurrentEmp = Number(@Model._CurrentEmp);
    var SerCare_NextEmp = Number(@Model._NextEmp);

    $(document).ready(function () {
        Load_Initialize_Teamplate_QuickNote_Scheduler();
    })

    //#region //Quick Teamplate
    function Render_Quick_Teamplate_Scheduler(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            for ([key, value] of Object.entries(data)) {
                let item = value;
                let tr = '';
                tr = '<a data-id="' + key + '" class="quicknote_teamplate cursor-pointer" data-hover>'
                    + item.Feature
                    + '</a>';
                stringContent = stringContent + tr;
            }

            document.getElementById(id).innerHTML = stringContent;
        }
    }

    function Load_Initialize_Teamplate_QuickNote_Scheduler() {
        AjaxLoad(url = "/CustomerCare/CustomerCare_QuickNote/?handler=LoadNoteTeamplate"
            , data = { "Type": SerCare_Type }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != "0") {
                    let _data = JSON.parse(result);
                    Ser_CustomerCare_Quick_Teamplate = {};
                    if (_data != undefined && _data.length != 0) {
                        for (i = 0; i < _data.length; i++) {
                            let e = {};
                            e.Feature = _data[i].Feature;
                            e.Content = _data[i].Content;
                            Ser_CustomerCare_Quick_Teamplate[i] = e;
                        }
                    }
                    Render_Quick_Teamplate_Scheduler(Ser_CustomerCare_Quick_Teamplate, "divCustomerCareQuickNote");
                    Teamplate_QuickNote_Sheduler_Event();
                }
            }
        );
    }
    function Teamplate_QuickNote_Sheduler_Event() {
        $(".quicknote_teamplate").on('click', function (event) {
            let _id = $(this).attr('data-id');
            if (Ser_CustomerCare_Quick_Teamplate[_id] != undefined) {
                let _content = Ser_CustomerCare_Quick_Teamplate[_id].Content;
                $("#txtCustomerCare_Note").val(_content);
                $('#txtCustomerCare_Note').focus();
            }
        });
    }
    function Teamplate_QuickNote_CustomerCare_Hide() {
        $('#divCustomerCare_CurrentNote').hide();
    }
    //#endregion

    //#region // Execute Data
    function Excute_CustomerCare_QuickNote(Content) {
        $('#txtCustomerCare_Note').removeAttr("style");
        Content = Content.trim();
        if (Content.length != 0) {
            let dataObj = new Object();
            dataObj.MasterID = SerCare_MasterID;
            dataObj.CustomerID = SerCare_CustomerID;
            dataObj.AppID = SerCare_AppID;
            dataObj.IsDone = SerCare_IsDone;
            dataObj.Title = SerCare_Title;
            dataObj.Content = Content;
            dataObj.Typeinput = SerCare_Typeinput;
            dataObj.StatusCall = SerCare_StatusCallID;
            dataObj.StatusCallDetail = SerCare_StatusCallDetail;
            dataObj.TreatID = SerCare_TreatmentID;
            dataObj.CurrentEmp = SerCare_CurrentEmp;
            dataObj.NextEmp = SerCare_NextEmp;
            AjaxLoad(url = "/CustomerCare/CustomerCare_QuickNote/?handler=ExcuteData"
                , data = {
                    'Data': JSON.stringify(dataObj),
                    'Type_Care': SerCare_Type
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        Teamplate_QuickNote_CustomerCare_Hide();
                        switch (Number(SerCare_Type)) {
                            case 1:
                            case 2:
                            case 4: {
                                if (typeof CustCare_LoadData === 'function') {
                                    CustCare_LoadData(SerCare_AppID);
                                }
                            }
                                break;
                            case 10: {
                                if (typeof CustCare_LoadData === 'function' ) {
                                    CustCare_LoadData(SerCare_AppID);
                                }

                            }
                                break;
                            case 3: {
                                if (typeof CustCare_LoadData === 'function') {
                                    CustCare_LoadData(SerCare_CustomerID);
                                }
                            }
                                break;
                            case 5: {
                                if (typeof CustCare_LoadData === 'function') {
                                    CustCare_LoadData(SerCare_TreatmentID);
                                }
                            }
                                break;
                            case 6: {
                                if (typeof CustCare_LoadData === 'function') {
                                    CustCare_LoadData(SerCare_MasterID);
                                }
                            }
                                break;
                            default: break;
                        }
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
        else {
            $('#txtCustomerCare_Note').css({ 'background': '#FFF6F6', 'border-color': '#E0B4B4' });
        }
    }
    function Excute_Add_Quick_Note() {
        let Content = $('#txtCustomerCare_Note').val() ? $('#txtCustomerCare_Note').val() : "";
        Excute_CustomerCare_QuickNote(Content);
        return false;
    }
    //#endregion

    //#region //Event Enter Add New Quick Tab
    function OnkeyupAddQuickNoteApp() {
        $("#txtCustomerCare_Note").keyup(function (e) {
            e.preventDefault();
            if (e.keyCode === 13) {
                Excute_Add_Quick_Note();
            }
            return false;
        });
    }
    //#endregion

</script>

<style>
    #txtCustomerCare_Note {
        width: 100%;
        border: none;
        padding: 1em;
        resize: none;
    }

    #divCustomerCare_CurrentNote .field_button_add_note {
       /* background-color: #ffffffe3;*/
        height: 100%;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
    }

    .field_button_add_note.collapse {
        background-color: transparent !important;
    }


    .field_button_add_note.collapse .button_refresh_quick_note {
        display: none;
    }

    .field_button_add_note.collapse .button_expand_quick_note {
        display: none;
    }

    .field_button_add_note.collapse .button_combo_text_quick_note {
        display: none;
    }

    #divCustomerCare_CurrentNote .field_button_add_note .button_collapse_note_fast {
        position: absolute;
        right: 100%;
        top: 0;
        width: 25px;
        height: 100%;
        background-color: #7D7D7D;
    }

        #divCustomerCare_CurrentNote .field_button_add_note .button_collapse_note_fast i {
            font-size: 20px;
            height: 100%;
            width: 100%;
            color: #fff;
            cursor: pointer;
            transition: 0.2s all;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #divCustomerCare_CurrentNote .field_button_add_note .button_collapse_note_fast.collapse i {
            transform: rotate(180deg);
        }
 

    #divCustomerCare_CurrentNote.collapse {
        width: auto !important;
        height: auto !important;
        bottom: -5px !important;
    }



    .segment_note {
        overflow-y: auto;
        height: calc(100% - 40px);
        border-top: 0 !important;
        background: transparent !important;
        transition: 0.3s;
        padding: 0 5px 0 0px !important;
        margin-bottom: 5px !important;
        opacity: 1;
        max-height: 300px;
    }
 
    i.icon.paper.plane:before {
        content: "\f1d8" !important;
    }

 
    .button_add_fast_quick_note, .button_refresh_quick_note, .button_combo_text_quick_note, .button_expand_quick_note {
        padding: .78571429em 0.25em .78571429em .8em !important;
        margin-right: 0px !important;
        border-radius: 0.5em !important;
        text-align: center !important;
        color: #012b4a !important;
        background: transparent !important;
    }

        .button_add_fast_quick_note i.icon.angle.double.left.slash:before {
            content: "\f100";
        }


        .button_combo_text_quick_note i.icon.comments.slash:before {
            content: "\f27a";
        }

    .she_note_inday {
        margin: 3px 5px 10px 5px;
    }

        .she_note_inday.me {
            text-align: end;
            width: 100%;
        }


        .she_note_inday .time {
            padding-right: 6px;
            margin-left: 20px;
            color: #767676;
        }

        .she_note_inday .emp {
            color: black;
        }

        .she_note_inday .emp_avatar {
            width: 20px;
            height: 20px;
            display: inline !important;
            margin-bottom: -4px;
            margin-right: 2px
        }



    .icon.circle.me {
        color: #2185d0;
    }

    .icon.circle.client {
        color: #00b5ad;
    }

    .she_note_inday.me .content {
        background: #378fd2;
        color: white !important;
        margin-right: 3px;
        border-radius: 17px;
        max-width: 70%;
        justify-content: center;
        margin-left: auto;
        padding: 6px 15px;
    }

    .she_note_inday.client .content {
        background: #f9f9f9;
        border-radius: 17px;
        max-width: 70%;
        width: 70%;
        margin-right: auto;
        color: #1b1c1d;
        padding: 6px 15px;
    }

    #divCustomerCareQuickNote {
        position: relative;
        bottom: 27px;
        overflow-x: auto;
        right: 0;
        overflow-y: hidden;
        z-index: 100;
        width: calc(100% - 50px);
        /*background: #f7f7f7e6;*/
        display: none;
        justify-content: flex-end;
        white-space: nowrap;
        text-align: right;
        height: 50px;
    }

        #divCustomerCareQuickNote.is_active {
            display: block;
        }

    #divCustomerCare_CurrentNote.is_full #divCustomerCareQuickNote.is_active {
        top: 0;
        bottom: unset;
        margin: 0;
    }

    #divCustomerCareQuickNote a {
        /*background: #fdfcfc;*/
        font-size: 13px;
        margin-top: 10px;
        display: inline-flex;
        max-width: 150px;
        white-space: nowrap;
        color: #003e6d;
        padding: 2px 10px;
        border: 1px solid #d4d4d57d;
    }

        #divCustomerCareQuickNote a:hover {
            background: #d0ebff;
        }

    #divCustomerCare_CurrentNote.is_full {
        max-width: 80%;
        z-index: 10000;
        animation: full_screen 0.2s forwards;
        max-height: 200px;
        box-shadow: -2px 2px 9px #cacaca;
        padding:0;
    }

        #divCustomerCare_CurrentNote.is_full .segment_note {
            max-height: calc(100% - 50px) !important;
        }

    #divCustomerCareAction {
        padding: 0 10px;
        display: flex;
        justify-content: flex-end;
        height: calc(100% - 50px);
    }

    #divCustomerCare_CurrentNote.is_full #divCustomerCareAction {
        /*    background: #afcff2eb;*/
        padding: 8px 10px;
    }

    #divCustomerCare_CurrentNote.collapse #divCustomerCareAction {
        background: white;
        padding: 0 7px;
        margin-bottom: 6px;
    }

    .customercare_icon {
        cursor: pointer;
        pointer-events: fill;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px !important;
        height: 50px !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
     /*   background: #f8f8f7;*/
        color: #2185d0;
        margin: 0 !important;
    }

    @@keyframes full_screen {
        0% {
            width: 350px;
            height: 100%;
        }

        100% {
            width: 600px;
            height: 600px;
        }
    }
</style>
