@page
@model MLunarCoffee.Pages.Student.Trains.ClassTime
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<script src="/js/Calendar_Custom/appointment.js"></script>
<script>js_require('/js/Calendar_Custom/appointment.js')</script>
<link href="/css/student.css" rel="stylesheet" />

<div class="row">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="card-header pt-2 pb-0">
            </div>
            <div class="card-body pt-0 px-0">
                <div id="Classtime_Master" class="col-12 pt-3 position-relative">
                    <div id="ctpopup" class="position-absolute collapse" style="z-index: 2000">
                        <div class="col-w-200 rounded-3 shadow-lg">
                            <ul class="nav nav-pills flex-column bg-white border-radius-lg py-3 px-2">
                                <li class="nav-item" role="presentation">
                                    <a id="ct_acceptclass" class="text-sm nav-link cursor-pointer" data-hover="">@Local["Nhận lớp"]</a>
                                </li>
                                <li><hr class="horizontal dark my-0 opacity-2" /></li>
                                <li class="nav-item" role="presentation">
                                    <a id="ct_editclass" class="text-sm nav-link cursor-pointer" data-hover="">@Local["Thay đổi"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="vtcardheader card-header pb-0 pt-0">
                        <div class="left">
                            <h6 class="mb-0">@Local["Lịch đào tạo"]</h6>
                            <p class="text-sm mb-0">@Local["Theo giáo viên, lớp và chi nhánh"]</p>
                        </div>
                        <div class="right">
                            <div class="fc fc-media-screen fc-direction-ltr fc-theme-standard">
                                <div class="fc-header-toolbar fc-toolbar mb-0">
                                    <div class="wrap">
                                        <div class="wrapblock">
                                            <div class="fc-toolbar-chunk me-3">
                                                <h2 class="fc-toolbar-title"></h2>
                                            </div>
                                        </div>
                                        <div class="wrapblock">
                                            <div class="fc-toolbar-chunk">
                                                <div class="fc-button-group">
                                                    <button class="fc-dayGridMonth-button fc-button fc-button-primary" type="button">@Local["Tháng"]</button>
                                                    <button class="fc-timeGridWeek-button fc-button fc-button-primary  fc-button-active" type="button">@Local["Tuần"]</button>
                                                    <button class="fc-timeGridday-button fc-button fc-button-primary" type="button">@Local["Ngày"]</button>
                                                    <button class="fc-today-button fc-button fc-button-primary" type="button">@Local["Hôm nay"]</button>
                                                </div>

                                                <div class="fc-button-group">
                                                    <button class="fc-prev-button fc-button fc-button-primary btn-dark" type="button" aria-label="prev">
                                                        <span class="fc-icon fc-icon-chevron-left"></span>
                                                    </button>
                                                    <button class="fc-next-button fc-button fc-button-primary btn-dark" type="button" aria-label="next">
                                                        <span class="fc-icon fc-icon-chevron-right"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2 position-relative">
                        <div class="w-100">
                            <div class="vtcardheader pb-0">
                                <div class="vtcondition w-100">
                                    <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                                    <div class="fulllap collapse collapsesticky show">
                                        <div class="row m-0 form3">
                                            <div class="col-12 col-sm-6 col-md-3 p-1 px-0 py-1 pe-sm-2">
                                                <div class="ui fluid search selection dropdown form-control" id="CtBranch">
                                                    <input type="hidden" name="CalendarBranch" />
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .branch</div>
                                                    <div id="cbbctBranch" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-3 p-1 px-0 py-1 pe-sm-2">
                                                <div class="ui fluid search selection dropdown form-control" id="Ctteacher">
                                                    <input type="hidden" />
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .teacher</div>
                                                    <div id="cbbctteacher" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-3 p-1 px-0 py-1 pe-sm-2">
                                                <div class="ui fluid search selection dropdown form-control" id="Ctclass">
                                                    <input type="hidden" />
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Phòng học"]</div>
                                                    <div id="cbbctclass" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-3 p-1 px-0 py-1 pe-sm-2">
                                                <div class="ui fluid search selection dropdown form-control" id="Ctsubject">
                                                    <input type="hidden" />
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .subject</div>
                                                    <div id="cbbctsubject" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex gap-1">
                                    <button class="btn bg-gradient-primary m-0 " onclick="event.preventDefault();return Classtime_ReloadData()">OK</button>
                                    <button class="btn btn-dark m-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#trainsetting" aria-expanded="false">
                                        @Local["Cài đặt"]
                                    </button>
                                </div>
                            </div>
                            <div class="toggle">
                                <div class="collapse position-absolute collapsesticky  end-1 top-100 mt-2 shadow-lg" id="trainsetting" style="min-width:480px; z-index:10">
                                    <div class="card card-body shadow-lg text-dark text-capitalize ps-3 py-3 overflow-hidden">
                                        <div class="row">

                                            <div class="row mx-3">
                                                <div class="col-12 p-1">
                                                    <p class="mb-0 text-primary fw-bold my-2 pb-2 text-sm">@Local["Tùy chọn hiển thị"]</p>
                                                    <hr class="horizontal dark mt-1 mb-0">
                                                    <div class="row px-2  mt-2">
                                                        <div class="col-12 col-sm-6 col-xl-6 p-1">
                                                            <div class="form-check">
                                                                <input onchange="Classtime_Setdis(0)" class="cursor-pointer form-check-input pe-1" type="radio" name="trainshowall" checked>
                                                                <label class="text-sm fw-normal custom-control-label mb-0">@Local["Tắt lịch ẩn"]</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-xl-6 p-1">
                                                            <div class="form-check">
                                                                <input onchange="Classtime_Setdis(1)" class="cursor-pointer form-check-input pe-1" type="radio" name="trainshowall">
                                                                <label class="text-sm fw-normal custom-control-label mb-0">@Local["Hiện lịch ẩn"]</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mx-3">
                                                <div class="col-12 p-1">
                                                    <p class="mb-0 text-primary my-2 fw-bold pb-2 text-sm">@Local["Trạng thái"]</p>
                                                    <hr class="horizontal dark mt-1 mb-0">
                                                    <div class="row px-2 mt-2">
                                                        <div class="col-12 col-sm-6 col-xl-6 p-1">
                                                            <div class="form-check">
                                                                <input onchange="Classtime_SetStatus(-1)" class="cursor-pointer form-check-input pe-1" type="radio" name="trainstatus" checked>
                                                                <span class="ps-2 badge pt-0 badge-lg badge-dot">
                                                                    <i class="bg-dark"></i>
                                                                </span>
                                                                <label class="text-sm fw-normal custom-control-label mb-0">@Local["Tất cả"]</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-xl-6 p-1">
                                                            <div class="form-check">
                                                                <input onchange="Classtime_SetStatus(0)" class="cursor-pointer form-check-input pe-1" type="radio" name="trainstatus">
                                                                <span class="ps-2 badge pt-0 badge-lg badge-dot">
                                                                    <i class="bg-secondary"></i>
                                                                </span>
                                                                <label class="text-sm fw-normal custom-control-label mb-0">@Local["Chưa dạy"]</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-xl-6 p-1">
                                                            <div class="form-check">
                                                                <input onchange="Classtime_SetStatus(1)" class="cursor-pointer form-check-input pe-1" type="radio" name="trainstatus">
                                                                <span class="ps-2 badge pt-0 badge-lg badge-dot">
                                                                    <i class="bg-success"></i>
                                                                </span>
                                                                <label class="text-sm fw-normal custom-control-label mb-0">@Local["Đang dạy"]</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-sm-6 col-xl-6 p-1">
                                                            <div class="form-check">
                                                                <input onchange="Classtime_SetStatus(2)" class="cursor-pointer form-check-input pe-1" type="radio" name="trainstatus">
                                                                <span class="ps-2 badge pt-0 badge-lg badge-dot">
                                                                    <i class="bg-danger"></i>
                                                                </span>
                                                                <label class="text-sm fw-normal custom-control-label mb-0">@Local["Đã dạy"]</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-12 mt-4 justify-content-end d-flex">
                                                <button class="btn bg-gradient-dark btn-sm mb-0" data-value="fade up" data-bs-toggle="collapse" data-bs-target="#trainsetting" aria-expanded="true">@Local["Đóng"]</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Classtime_Loader" class="waitingdiv position-absolute top-50 start-50 translate-middle" style="display:none">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="calendar " data-bs-toggle="calendar" id="calendar"></div>
                    </div>
                </div>
                <div class="pt-1 d-none" id="Classtime_Detail">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/plugins/fullcalendar.min.js"></script>
<script src='/js/Calendar/Detect_Calendar_Type.js' type="text/javascript"></script>
<script type="text/javascript">
    let isClassTime = 0;
    let sys_branchID = Number("@Model._branchID");
    var TrainShowDisabled = 0;
    var TrainStatus = -1;
    var calendar;
    var classtimeevent;
    let xhrclasstime;
    var ser_classtimeid = 0;
    var ser_classid = 0;
    var TrainData_Class = [];
    var TrainData_Teacher = [];
    var TrainData_Subject = [];
    var TrainData_Attend = [];
    var TrainData_Rating = [];
    //#region // CALENDAR DATA
    $(document).ready(function () {
        Classtime_Initialize();
        Classtime_Event();
    })
    function Classtime_Initialize() {
        AjaxLoad(url = "/Student/Trains/ClassTime/?handler=LoadComboMain"
            , data = {}
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    TrainData_Attend = data.Attend;
                    TrainData_Rating = data.Rating;
                    Load_Combo(data.Branch, "cbbctBranch", true);
                    $("#CtBranch").dropdown("refresh");
                    $("#CtBranch").dropdown("set selected", Number(sys_branchID));
                    TrainData_Teacher = data.Teacher;
                    Load_Combo(data.Teacher, "cbbctteacher", true, "@Local["Tất cả giảng viên"]");
                    $("#Ctteacher").dropdown("refresh");
                    $("#Ctteacher").dropdown("set selected", "0");
                    TrainData_Class = data.Class;
                    Load_Combo(data.Class, "cbbctclass", false);
                    $("#Ctclass").dropdown("refresh");
                    $("#Ctclass").dropdown("set selected", 0);
                    TrainData_Subject = data.Subject;
                    Load_Combo(data.Subject, "cbbctsubject", false);
                    $("#Ctsubject").dropdown("refresh");
                    $("#Ctsubject").dropdown("set selected", 0);

                    isClassTime = 1;
                    Classtime_Load();
                }
            }
            , sender = null
            , before = function (e) {

            }
            , complete = function (e) {

            }
        );
    }
    function Classtime_Load() {
        if (isClassTime == 1) {
            calendar = new FullCalendar.Calendar(document.getElementById("calendar"), {
                locale: author_get("UserLang") == 'en' ? 'en' : 'vi',
                headerToolbar: false,
                initialView: "timeGridWeek",
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                firstDay: 1,
                slotMinTime: "06:00",
                slotMaxTime: "22:30",
                selectable: false,
                editable: false,
                stickyHeaderDates: false,
                fixedWeekCount: false,
                contentHeight: 'auto',
                lazyFetching: true,
                eventDisplay: 'block',
                handleWindowResize: true,
                eventDidMount: function (info) {
                    new bootstrap.Tooltip(info.el, {
                        title: info.event.extendedProps.description,
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body',
                        html: true
                    });
                },
                views: {
                    month: {
                        titleFormat: {
                            month: "long",
                            year: "numeric"
                        },
                        dayMaxEventRows: 6
                    },
                    agendaWeek: {
                        titleFormat: {
                            month: "long",
                            year: "numeric",
                            day: "numeric"
                        }
                    },
                    agendaDay: {
                        titleFormat: {
                            month: "short",
                            year: "numeric",
                            day: "numeric"
                        }
                    }
                },
                events: function (info, successCallback, failureCallback) {
                    Classtime_LoadData(info, successCallback, failureCallback)
                },
                eventClick: function (info) {

                    if (info != undefined) {
                        ser_classtimeid = info.event.id;
                        ser_classid = info.event.groupId;
                        Classtime_Showpopup(info.el)
                    }
                },
                eventContent: function (arg) {
                    var event = arg.event;
                    var customHtml = `
                        <div class="pt-1 day_event">
                            <div class="d-flex">
                                <span class="badge ps-1 badge-lg pb-0 badge-dot" style="padding-top: 2px;">
                                    ${arg.textColor}
                                </span>
                                <div class="d-block mb-0">${arg.timeText}</div>
                            </div>
                            <div class="d-block ps-1 mb-0">${event.title}</div>
                        </div>`;

                    return { html: customHtml }
                },
                eventDragStart: function (info) {
                },
                eventDrop: function (info) {

                },
                eventResize: function (info) {

                },
                eventMouseEnter: function (info) {

                },
                eventMouseLeave: function (info) {

                },
                loading: function (isComplete) {
                    if (isComplete) {
                        $("#Classtime_Loader").show();
                        $("#calendar").addClass("opacity-5");
                    }
                    else {
                        $("#Classtime_Loader").hide();
                        $("#calendar").removeClass("opacity-5");
                        $(".fc-toolbar-title").html(calendar.view.title);
                    }
                },

            });
            calendar.render();
        }
    }
    function Classtime_LoadData(info, successCallback, failureCallback) {
        if (xhrclasstime && xhrclasstime.readyState != 4) xhrclasstime.abort();
        let CtBranch = Number($('#CtBranch').dropdown('get value')) ? Number($('#CtBranch').dropdown('get value')) : 0;
        let teacher = Number($('#Ctteacher').dropdown('get value')) ? Number($('#Ctteacher').dropdown('get value')) : 0;
        let classid = Number($('#Ctclass').dropdown('get value')) ? Number($('#Ctclass').dropdown('get value')) : 0;
        let subjectid = Number($('#Ctsubject').dropdown('get value')) ? Number($('#Ctsubject').dropdown('get value')) : 0;


        xhrclasstime = AjaxLoad(url = "/Student/Trains/ClassTime/?handler=LoadTime"
            , data = {
                'teacherID': teacher
                , 'classid': classid
                , 'subjectid': subjectid
                , 'branchID': CtBranch
                , 'date_from': ConvertDateTimeUTC_YMD(new Date(info.start))
                , 'date_to': ConvertDateTimeUTC_YMD(new Date(info.end))
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    Classtime_RenderBlock(data, successCallback)
                }
                else {
                    notiError();
                    failureCallback();
                }
            }
            , sender = null
        );
    }
    function Classtime_RenderBlock(data, successCallback) {
        let dataEvents = [];
        if (data != undefined && data.length != 0) {
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                let isshow = 0;
                let textstatus = ``;
                if (TrainShowDisabled == 1 || item.IsDisabled == 0) isshow = 1;
                if (isshow == 1) {

                    switch (item.Status) {
                        case 0:
                            textstatus = `<i class="bg-secondary"></i>`;
                            if (TrainStatus == -1 || TrainStatus == 0) isshow = 1;
                            else isshow = 0;
                            break;
                        case 1:
                            textstatus = `<i class="bg-success"></i>`;
                            if (TrainStatus == -1 || TrainStatus == 1) isshow = 1;
                            else isshow = 0;
                            break;
                        case 2:
                            textstatus = `<i class="bg-danger"></i>`;
                            if (TrainStatus == -1 || TrainStatus == 2) isshow = 1;
                            else isshow = 0;
                            break;
                    }

                    if (isshow == 1) {
                        let e = {};
                        e.id = item.ID;
                        e.groupId = item.ClassID;
                        e.textColor = textstatus;
                        e.title = item.SubjectName;
                        e.start = INTYMDHMToDate(item.Dayint.toString() + item.TimeStart.toString());
                        e.end = INTYMDHMToDate(item.Dayint.toString() + item.TimeEnd.toString());
                        e.allDay = false;
                        e.description = Classtime_RenderDes(item.SubjectName, item.SubjectName, item.TeacherName);
                        e.backgroundColor = item.Color;
                        //e.className = ` text-white`;
                        dataEvents.push(e);
                    }
                }
            }

        }
        successCallback(dataEvents);
    }
    function Classtime_ReloadData() {
        if (isClassTime == 1) {
            calendar.removeAllEvents()
            calendar.refetchEvents();
        }
    }
    function Classtime_RenderDes(classname, subname, teachername) {
        try {
            let result = '<div class="text-start">'
                + '<span class="fw-bold text-white pe-4">@Local["GV"] : </span>' + teachername
                + '<br/><span class="fw-bold text-white pe-3">@Local["Môn học"]:</span> ' + subname

                + '</div>';
            return result;
        }
        catch (ex) {
            return '';
        }
    }
    function Classtime_Event() {
        $(".fc-prev-button").on('click', function () {
            calendar.prev();
        });
        $(".fc-next-button").on('click', function () {
            calendar.next();
        });
        $(".fc-today-button").on('click', function () {
            $(this).addClass("fc-button-active").siblings().removeClass("fc-button-active");
            calendar.today();
            $(".fc-toolbar-title").html(calendar.view.title);
        });
        $(".fc-dayGridMonth-button").on('click', function () {
            $(this).addClass("fc-button-active").siblings().removeClass("fc-button-active");
            calendar.changeView('dayGridMonth');
            $(".fc-toolbar-title").html(calendar.view.title);
        });
        $(".fc-timeGridWeek-button").on('click', function () {
            $(this).addClass("fc-button-active").siblings().removeClass("fc-button-active");
            calendar.changeView('timeGridWeek');
            $(".fc-toolbar-title").html(calendar.view.title);
        });
        $(".fc-timeGridday-button").on('click', function () {
            $(this).addClass("fc-button-active").siblings().removeClass("fc-button-active");
            calendar.changeView('listWeek');
            $(".fc-toolbar-title").html(calendar.view.title);
        });
    }

    //#endregion
    //#region // Filter Setting
    function Classtime_Setdis(_t) {
        TrainShowDisabled = _t;
        calendar.removeAllEvents()
        calendar.refetchEvents();
    }
    function Classtime_SetStatus(_t) {
        TrainStatus = _t;
        calendar.removeAllEvents()
        calendar.refetchEvents();
    }



    //#endregion
    //#region //  popup function

    function Classtime_Showpopup(e) {
        let Master_Div = $("#MasterContainer .pusher.pushable");
        let Master_Div_Scroll_Top = Master_Div.scrollTop();
        let Master_Top = $("#Master_Menu_Top");
        let Master_Top_Height = Master_Top.outerHeight();
        let Element_Div = $(e)
        let Window_Width = $(window).width();
        let Element_Width = Element_Div.outerWidth();
        let Element_Height = Element_Div.outerHeight();
        let Element_OffSet = Element_Div.offset();
        let Element_Position_Top = Element_OffSet.top;
        let Element_Position_Left = Element_OffSet.left;
        let Popup_Width = 200;
        let width_sidebar = $(".ui.sidebar.very.thin.icon").outerWidth();
        let Calc_Left = 0;
        if ((Window_Width - Element_Position_Left - width_sidebar) > Popup_Width) {
            Calc_Left = 0;
        }
        else if (Element_Position_Left - Popup_Width - width_sidebar + Element_Width > 0) {
            Calc_Left = -Popup_Width + Element_Width;
        }
        else {
            Calc_Left = - Element_Position_Left + width_sidebar + 5;
        }
        let Popup_Top = Element_Position_Top - Master_Top_Height + Master_Div_Scroll_Top + Element_Height;
        let Popup_Left = Element_Position_Left + Calc_Left;
        Master_Div.append($("#DetailModalPopup"));
        $("#DetailModalPopup").empty();
        $("#DetailModalPopup").append($("#ctpopup").clone());
        $("#ctpopup").show();
        $("#DetailModalPopup").css({
            "position": "absolute",
            "top": Popup_Top - 20,
            "left": Popup_Left,
            "display": "block",
            "width": Popup_Width + 'px',
            "max-width": "calc( 100% - " + width_sidebar + "px )"
        }).animate({
            "top": Popup_Top
        });
        ClasstimeFunc_Event();
    }
    function ClasstimeFunc_Event() {
        $("#ct_acceptclass").unbind('click').click(function (event) {
            $("#Classtime_Detail").load("/Student/Trains/ClassDetail?CurrentID=" + ser_classtimeid + "&ClassID=" + ser_classid + "&ver=" + versionofWebApplication);
            $("#Classtime_Detail").removeClass('d-none');
            $("#Classtime_Master").addClass('d-none');
            $('#DetailModalPopup').hide();
        });
        $("#ct_editclass").unbind('click').click(function (event) {
            $("#Classtime_Detail").load("/Student/Trains/ClassAdjustment?CurrentID=" + ser_classtimeid + "&ClassID=" + ser_classid + "&ver=" + versionofWebApplication);
            $("#Classtime_Detail").removeClass('d-none');
            $("#Classtime_Master").addClass('d-none');
            $('#DetailModalPopup').hide();
        });

    }
    $(document).mouseup(function (e) {
        let _pop_detail = $('#DetailModalPopup');
        let todo_pop_changestatus = $('#ctpopup');
        if (!todo_pop_changestatus.is(e.target)
            && todo_pop_changestatus.has(e.target).length === 0) {
            todo_pop_changestatus.hide();
        }
        if (!_pop_detail.is(e.target)
            && _pop_detail.has(e.target).length === 0) {
            _pop_detail.hide();
        }
    });
    //#endregion
    //#region
    function Classtime_CloseDetail() {
        $("#Classtime_Detail").empty();
        $("#Classtime_Detail").addClass('d-none');
        $("#Classtime_Master").removeClass('d-none');
    }
        //#endregion
</script>


<style>
    #Classtime_Master .btn {
        display: inline-block !important;
        font-weight: 700 !important;
    }

    #Classtime_Master .fc .fc-button {
        padding-block: 8px !important;
    }

    #Classtime_Master .fc .fc-button-primary {
        padding: 5px !important;
    }

        #Classtime_Master .fc .fc-button-primary:not(:disabled):active,
        #Classtime_Master .fc .fc-button-primary:not(:disabled).fc-button-active,
        #Classtime_Master .fc .fc-button-primary.btn-dark {
            background-color: #344767 !important;
            border-color: #344767 !important;
        }

        #Classtime_Master .fc .fc-button-primary:first-child {
            border-top-left-radius: 0.2em !important;
            border-bottom-left-radius: 0.2em !important;
        }

        #Classtime_Master .fc .fc-button-primary:last-child {
            border-top-right-radius: 0.2em !important;
            border-bottom-right-radius: 0.2em !important;
        }

    #Classtime_Master div#calendar .fc-v-event {
        border: 1px solid white !important;
        border-radius: 4px;
        padding-left: 3px;
    }

    #Classtime_Master .fc-list .fc-list-event-dot {
        display: none !important;
    }

    #Classtime_Master .fc-list .day_event {
        display: flex !important;
        align-items: center;
        padding-top: 0px !important;
    }

    #Classtime_Master .fc-list .badge {
        padding-top: 0px !important;
    }

    #Classtime_Master .fc-event-main {
        overflow: hidden;
    }

</style>