@page
@model MLunarCoffee.Pages.Discount.DiscountVoucherListModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

<div class="container-fluidpx-0" id="DiscountVL_Container">
    <div class="row">
        <div class="col-12 px-0">
            <!--Master-->
            <div class="card card-plain" id="voucherList">
                <div class="vtcardheader card-header pb-0">
                    <div class="left">
                        <h6 class="mb-0">@Local["Voucher"]</h6>
                        <p class="text-sm mb-0">@Local["Voucher được áp dụng khi lên dịch vụ cho khách hàng"]</p>
                    </div>
                    <div class="right">
                        <button id="DiscountVL_btnAdd" class="btn bg-gradient-primary btn-sm mt-1" onclick="event.preventDefault();return AddNewDiscountVoucher()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="vtcondition mt-md-n2 mt-0">
                        <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                        <div class="fulllap collapse collapsesticky show">
                            <div class="row px-2">
                                <div class="col-12 col-sm-6 col-md-6 col-xl-4 p-1">
                                    <lable id="totalVoucher" class="form-control bg-light">@Local["Tổng"]: 0</lable>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-xl-4 p-1">
                                    <div class="ui fluid search selection dropdown form-control" id="BranchFilterID" onchange="event.preventDefault();return LoadDiscountVoucherAjax()">
                                        <input type="hidden" name="branch" />
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">@Local["Chi nhánh"]</div>
                                        <div id="cbbBranchFilter" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12  col-xl-4 p-1">
                                    <input id="dateFilter" class="flatpickr form-control" type="text" onchange="event.preventDefault();return LoadDiscountVoucherAjax();" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                        <div id="loaderList" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table vt-table mb-0" id="dtContentDiscountVoucher">
                            <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th style="width: 30px;">#</th>
                                    <th style="min-width: 150px;">@Local["Mã voucher"]</th>
                                    <th style="min-width:200px;width: 240px;">@Local["Tên"]</th>
                                    <th>@Local["Chi nhánh"]</th>
                                    <th style="text-align: center; width: 170px;text-align:center">@Local["Áp dụng tất cả"]</th>
                                    <th style="text-align: center; min-width: 300px;">@Local["Áp dụng theo nhóm hoặc dịch vụ"]</th>
                                    <th class="releasenum" style="text-align: center; min-width: 200px;">@Local["Số lượng phát hành"]</th>
                                    <th class="releasenum" style="text-align: center; min-width: 200px;">@Local["Số lần sử dụng"]</th>
                                    <th style="width: 62px;">@Local["#"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentDiscountVoucherBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Detail-->
            <div id="voucherDetail" style="display: none;">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let IdComboMax = 0;
    let DataBranch, DataService, DataServiceType = {};
    let flag_voucherlist = 0;
    var Ser_IsRelease = 0;
    $(document).ready(function () {
        $(".flatpickr").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $("#dateFilter").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));

        Master_IndexDB_Reads(_Session_Data, [_Session_Branch, _Session_Service]
            , function (data) {
                DataBranch = data[0];
                DataService = data[1];
                LoadComboMainVoucherList();
            })
        $('#dtContentDiscountVoucher tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            EditClientCode(ID);
        });
        $('#dtContentDiscountVoucher tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DeleteDiscountVoucher(ID)
        });
        $('#dtContentDiscountVoucher tbody').on('click', '.buttonPrintClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DVC_Print(ID);
        });
        
    });

    function LoadComboMainVoucherList() {
        AjaxLoad(url = "/Discount/DiscountVoucherList/?handler=LoadComboMain"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result).Branch;
                    let SerType = JSON.parse(result).ServiceType;
                    for (let i = 0; i < SerType.length; i++) {
                        DataServiceType[SerType[i].ID] = SerType[i];
                    }

                    IdComboMax = Load_Combo(data, "cbbBranchFilter", true, "All");
                    if (data && data.length > 0) {
                        $("#BranchFilterID").dropdown("refresh");
                        $("#BranchFilterID").dropdown("set selected", Number(@Model._branchID));
                    }
                    flag_voucherlist = 1;
                    LoadDiscountVoucherAjax();
                }
            });
    }

    function LoadDiscountVoucherAjax() {
        if (flag_voucherlist == 1) {
            let branchID = Number($('#BranchFilterID').dropdown('get value')) ? Number($('#BranchFilterID').dropdown('get value')) : 0;
            if (IdComboMax == branchID) {
                branchID = 0;
            }
            let date = $('#dateFilter').val() ? $('#dateFilter').val() : new Date();
            AjaxLoad(url = "/Discount/DiscountVoucherList/?handler=Loadata"
                , data = {
                    date: date,
                    branchID: branchID
                }, async = true, error = null
                , success = function (result) {
                     if (result != "") {
                        let data = JSON.parse(result);
                        let dataList = data.Table;
                        Ser_IsRelease = data.Table1[0].IsReleaseNum;
                        RenderTableDiscountVoucher(Dectect_Data_Discounted(dataList), 'dtContentDiscountVoucherBody');
                        if (data != undefined && data != null)
                            $('#totalVoucher').html('@Local["Tổng"] : ' + (data.Table).length)
                        else
                            $('#totalVoucher').html('@Local["Tổng"] : ' + 0)
                    }
                });
        }
    }

    function Dectect_Data_Discounted(data) {
        let dt = data;
        if (dt != null && dt.length > 0) {
            for (let i = 0; i < dt.length; i++) {
                let item = dt[i];
                let dataRule = item.Rule;
                if (dataRule != "[]" && dataRule != "") {
                    let dataMain = JSON.parse(dataRule);
                    for (let j = 0; j < dataMain.length; j++) {
                        let active = Number(dataMain[j].active);
                        let type = dataMain[j].type;
                        let value = dataMain[j].value;
                        let percent = Number(dataMain[j].percent);
                        let amount = Number(dataMain[j].amount);

                        if (active === 1) {
                            let result = "";
                            let stringdetect = "";

                            switch (type) {
                                case "servicetype":
                                    stringdetect = DectectDetail(DataServiceType, value);
                                    if (stringdetect != "") {
                                        result = '<div class="mb-0"><div class="pb-2"><h6 class="badge badge-sm bg-gradient-success ms-2 mb-0 fw-bold">@Local["Nhóm dịch vụ"]</h6>'
                                            + stringdetect
                                            + '</div></div>';
                                    }
                                    break;
                                case "service":
                                    stringdetect = DectectDetail(DataService, value);
                                    if (stringdetect != "") {
                                        result = '<div><div class="pb-2"><h6 class="badge badge-sm bg-gradient-info ms-2 mb-0 fw-bold">@Local["Dịch vụ"]</h6>'
                                            + stringdetect
                                            + '</div></div>';
                                    }
                                    break;
                                case "all":
                                    result =
                                        ((percent > 0) ? ('<span class="percent">' + percent + '%</span>') : ('<span class="amount">' + formatNumber(amount) + ' </span>'))
                            }
                            if (type == "all") {
                                item.TypeInfoAll = result;
                            }
                            else {
                                item.TypeInfo = item.TypeInfo + result;
                            }

                        }
                    }
                }
                if (Number(item.IsAllBranch) == 1) {
                    item.Branch_Name = '<span class="text-sm fw-bold text-dark">@Local["Tất cả chi nhánh"]</span>';
                } else {
                    item.Branch_Name = DectectBranchToken(DataBranch, dt[i].Branch_Token);
                }
            }
            return dt;
        }
    }

    //#region //Dectect Service, ServiceType and Branch
    function DectectDetail(data, dataRule) {
        let result = "";
        let count = 0;
        for (let i = 0; i < dataRule.length; i++) {
            let idRule = Number(dataRule[i].id);
            if (i >= 10) {
                break;
            }
            if (data[idRule] != undefined) {
                let tr = "";
                count++;
                if (Number(dataRule[i].percent) > 0) {
                    tr = '<div class="ps-2 mb-0"><p class="text-sm m-0"><i class="vtt-icon vttech-icon-Arrow-rights text-success text-xxs"></i>'
                        + '<span class="pe-2">' + data[idRule].Name + '</span>'
                        + '<span class="fw-bold">' + dataRule[i].percent + '%</span></p></div>'
                }
                else {
                    tr = '<div class="ps-2 mb-0"><p class="text-sm m-0"><i class="vtt-icon vttech-icon-Arrow-rights text-success text-xxs"></i>'
                        + '<span class="pe-2">' + data[idRule].Name + '</span>'
                        + '<span class="fw-bold">' + formatNumber(dataRule[i].amount) + '</span></p></div>'
                }
                result = result + tr;
                if (count == 10) {
                    result = result + "<span>....</span>";
                    break;
                }
                
            }

        }
        return result;
    }
    function DectectBranchToken(data, token) {
        let result = "";
        let dataToken = token.split(",");
        for (let i = 0; i < dataToken.length; i++) {
            let idRule = Number(dataToken[i]);
            if (data[idRule] != undefined) {
                if ((dataToken.length - 1) == i) {
                    result = result + '<div class="text-sm fw-bold"><i class="fas fa-map-pin text-info" aria-hidden="true"></i><span class="ps-2 text-dark">' + data[idRule].Name + '</span></div>';
                }
                else {
                    result = result + '<div class="text-sm fw-bold"><i class="fas fa-map-pin text-info" aria-hidden="true"></i><span class="ps-2 text-dark">' + data[idRule].Name + '</span></div>';
                }
            }
        }
        return result;
    }
    //#endregion

    function RenderTableDiscountVoucher(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="text-center">' + (i + 1) + '</td>'
                        + '<td class="text-center" data-sortvalue="' + item.Voucher_Code + '">'
                        + ((item.Voucher_Code != '') ? '<svg class="barcodeApppoinment" jsbarcode-background="transparent" jsbarcode-value="' + item.Voucher_Code + '" jsbarcode-fontsize="14" jsbarcode-width="1" jsbarcode-height="30">' : '')
                        + '</td>'

                        + '<td>'
                        + '<h6 class="mb-1 text-dark text-sm">' + item.Name + '</h6>'
                        + '<div class="text-primary text-sm">' + item.TimeFrom + ' <i class="fas fa-long-arrow-alt-right text-dark"></i> ' + item.TimeTo + '</div>'
                        + '</td>'

                        + '<td class="text-center">' + item.Branch_Name + '</td>'
                        + '<td class="text-center">' + item.TypeInfoAll + '</td>'
                        + '<td>' + item.TypeInfo + '</td>'
                        + '<td class="text-center releasenum">' + formatNumber(item.IssueQty) + '</td>'
                        + '<td class="text-center releasenum">' + formatNumber(item.TimesUsed) + '</td>'

                        + '<td class="DiscountVL_rowBtnHandle">'
                        + '<div  class="text-nowrap ">'
                        + VoucherListRenderButton(item.ID, item.EditButton, item.DeleteButton)
                        + '</div>'
                        + '</td>'
                    stringContent = stringContent + '<tr>' + tr + '</tr>';
                    
                }
            }

            document.getElementById(id).innerHTML = stringContent;
            if (Ser_IsRelease == 0) $("#dtContentDiscountVoucher .releasenum").addClass('d-none');
            else $("#dtContentDiscountVoucher .releasenum").removeClass('d-none');
        }
        JsBarcode(".barcodeApppoinment").init();
    }

    function VoucherListRenderButton(id, isEdit, isDelete) {
        let buttons = [];
        if (isEdit == 0) {
            buttons.push('<button title="Update Date" class="buttonGrid" value="' + id + '"><i class="buttonEditClass vtt-icon vttech-icon-edit"></i></button>');
        }
        if (isDelete == 0) {
            buttons.push('<button class="buttonGrid" value="' + id + '"><i  class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>');
        }
        buttons.push('<button class="buttonGrid" value="' + id + '"><i  class="buttonPrintClass vtt-icon vttech-icon-print"></i></button>');
        return Render_Button_Grid(buttons)
    }

    function DeleteDiscountVoucher(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDeleteDiscountVoucher(id); }, function () { });
    }
    function ExecuteDeleteDiscountVoucher(id) {
        AjaxLoad(url = "/Discount/DiscountVoucherList/?handler=DeleteItem"
            , data = {
                id: id
            }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadDiscountVoucherAjax();
                } else {
                    notiError('@Local["Đã sử dụng"]');
                }
            });
    }

    function EditClientCode(CurrentID) {
        OpenVoucherDetail();
        $("#voucherDetail").load("/Discount/DiscountVoucherDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#voucherDetail').show();
        return false;
    }
    function DVC_Print (ID){
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load('/Print/print?Type=voucher&DetailID=' + ID);
        $('#DetailModal').modal('show');
    }

    function AddNewDiscountVoucher() {
        OpenVoucherDetail();
        $("#voucherDetail").load("/Discount/DiscountVoucherDetail" + "?ver=" + versionofWebApplication);
        $('#voucherDetail').show();
        return false;
    }
    function OpenVoucherDetail() {
        $("#voucherDetail").empty();
        $("#voucherList").hide();
        document.getElementById("voucherDetail").innerHTML = '';
    }
    function CloseVoucherDetail() {
        $("#voucherDetail").empty();
        document.getElementById("voucherDetail").innerHTML = '';
        $("#voucherList").show();
        $("#voucherDetail").hide();
    }
</script>
<script>js_require('/js/main.js');</script>

