@page
@model MLunarCoffee.Pages.WareHouse.Require.RequireDetailModel
@{
    Layout = null;
}
<script>js_require_notasync('/js/comon/initialize_setting.js', true);</script>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                        <div id="wa_header_import" class="h-100 ">
                            <h6 class="mb-0">
                                @Local["Chi tiết phiếu yêu cầu"]
                                <span id="rq_header"></span>
                            </h6>
                            <p class="text-sm mb-0">@Local["Ngày giờ nhập không được nhỏ hơn ngày giờ chốt kho gần nhất hoặc lớn hơn ngày giờ hiện tại"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="row px-2 form-3">
                    <div class="col-12 col-xl-3 col-md-6 p-1 position-relative">
                        <div class="d-flex">
                            <div class="input-group flex-nowrap" id="wareSearch">
                                <div class="input-group-text input-group-text px-2">
                                    <i class="fas fa-search" aria-hidden="true" style="display: block;"></i>
                                    <div class="spinner-border spinner-border-sm" style="display: none;"></div>
                                </div>
                                <input id="searchingProduct" type="text" class="form-control" placeholder="eg .@Local["Lọc dữ liệu"]" autocomplete="off">
                            </div>
                            <div id="RequireDetail_btnAddProduct" class="icon shadow border-radius-md bg-dark text-center d-flex align-items-center justify-content-center text-white cursor-pointer ms-2" style="height: 40px;min-width: 40px;" data-bs-toggle="tooltip" onclick="return RequireDetail_NewProduct();">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="TableProduct" class="m-0 my-3 mb-0 mobile-responsive" style="height:500px;overflow-x:auto;">
                            <div id="WaitingProduct" class="waitingdiv text-center position-absolute translate-middle-x start-50" style="display: none;">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <table class="table vt-table mb-0" id="dtContentProduct">
                                <thead>
                                    <tr>
                                        <th class="d-none">ID</th>
                                        <th style="max-width:40px;">@Local["#"]</th>
                                        <th style="min-width:120px;">@Local["Sản phẩm"]</th>
                                    </tr>
                                </thead>
                                <tbody id="dtContentProductBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3 col-md-6 p-1 position-relative">
                        <div id="ProductItem" class="">
                            <div class="card border-1 border-dashed shadow-none rounded-2">
                                <div class="card-header p-3 pb-0">
                                    <div class="d-lg-flex">
                                        <div class="w-50 col-auto my-auto">
                                            <div class="h-100 mb-0">
                                                <h6 class="mb-0">@Local["Nguyên vật liệu"]</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-2">
                                    <div class="row">
                                        <div class="field col-12 col-md-12 col-sm-12 col-lg-12 px-1 mt-2">
                                            <label>@Local["Sản phẩm"]</label>
                                            <div class="ui fluid search selection dropdown form-control disabled bg-white" id="productDetail" onchange="event.preventDefault();return ItemDetail_DetectUnit();">
                                                <input type="hidden" />
                                                <input id="searchproduct" class="search" autocomplete="off" tabindex="0" disabled="disabled"/>
                                                <div class="default text">@Local["Sản phẩm"]</div>
                                                <div id="cbbproductDetail" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field col-12 col-md-12 col-lg-12 col-sm-12 px-1 mt-2">
                                            <label>@Local["Đơn vị"]</label>
                                            <div class="ui fluid search selection dropdown form-control" id="productUnit" onchange="event.preventDefault();return ItemDetail_OnChangeUnit();">
                                                <input type="hidden" />
                                                <i class="dropdown icon"></i>
                                                <div class="default text">@Local["Đơn vị"]</div>
                                                <div id="cbbproductUnit" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-12 col-lg-12 col-sm-12 px-1 mt-2 ">
                                            <label>@Local["Số lượng"]</label>
                                            <input id="numberProduct" class="form-control" type="number" name="numberProduct" onchange="event.preventDefault();return ItemDetail_UpdateAmount();" placeholder="eg .@Local["Số lượng"]" />
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="field col-12 px-1 mt-2 col-md-12 col-lg-12">
                                            <label>@Local["Đơn giá"]</label>
                                            <input id="Pro_ItemAmount" class="form-control" type="text" onchange="event.preventDefault();return ItemDetail_UpdateAmount();" placeholder="eg .@Local["Đơn giá"]" />
                                        </div>
                                        <div class="field col-12 px-1 mt-2 col-md-12 col-lg-12">
                                            <label>@Local["Giảm giá"]</label>
                                            <div class="position-relative">
                                                <input id="Pro_Discount" class="border-right-0 form-control" placeholder="eg .@Local["Giảm giá"]" type="text" onchange="event.preventDefault();return ItemDetail_OnChangeDiscount();">
                                                <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-4" id="DiscountAmount" onchange="event.preventDefault();return ItemDetail_OnChangeDiscount();">
                                                    <input type="hidden" name="name" value="2">
                                                    <i class="dropdown icon opacity-0"></i>
                                                    <input class="search" autocomplete="off" tabindex="0"><div class="text">VND</div>
                                                    <div id="cbbDiscountAmountPer" class="menu transition hidden" tabindex="-1">
                                                        <div class="item" data-value="1">%</div>
                                                        <div class="item" data-value="2">VND</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 px-1 mt-2 col-md-12 col-lg-12">
                                            <label>@Local["Tổng tiền"]</label>
                                            <input id="Pro_IniAmount" class="form-control" type="text" readonly="readonly" disabled="disabled"  placeholder="eg .@Local["Tổng tiền"]"/>
                                        </div>
                                        <div class="field col-12 px-1 mt-2 col-md-12 col-lg-12">
                                            <label>@Local["Thành tiền"]</label>
                                            <input id="Pro_DiscountedAmount" type="text" readonly="readonly" disabled="disabled" class="form-control" placeholder="eg .@Local["Thành tiền"]" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field col-12 mt-2 px-1">
                                            <div class="d-flex">
                                                <div class="d-flex ms-auto align-items-center">
                                                    <div class="mt-1 me-1 text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                                                    <button type="button" class="btn btn-sm bg-gradient-primary mt-2 me-0 mb-0" onclick="event.preventDefault();return ItemDetail_Save();" title="add">
                                                        <i class="fa fa-arrow-right fs-6" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-md-12 p-1 position-relative">
                        <div class="card border-1 border-dashed shadow-none rounded-2 h-100 d-block">
                            <div class="card-header p-3 pb-0">
                                <div class="d-lg-flex">
                                    <div class="w-50 col-auto my-auto">
                                        <div class="h-100 mb-0">
                                            <h6 class="mb-0">
                                                @Local["Thông tin yêu cầu nhập kho"]
                                                <span id="OrderCode" class=" text-uppercase text-primary fw-bold"></span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-2">
                                <div class="row">
                                    <div class="field col-12 col-md-12 col-lg-6 col-sm-12 px-1 mt-2">
                                        <label>@Local["Người duyệt"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="UserID">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <div class="default text">@Local["Người duyệt"]</div>
                                            <div id="cbbUserID" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-12 col-lg-6 col-sm-12 px-1 mt-2">
                                        <label>@Local["Kho nhập"]</label>
                                        <label id="NameWare" class="form-control disabled" disabled="disabled"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field col-12 col-md-12 col-lg-12 col-sm-12 px-1 mt-2">
                                        <label>@Local["Ghi chú"]</label>
                                        <textarea id="NoteOrder" class="form-control" rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field col-12 col-md-12 col-lg-12 col-sm-12 px-1 mt-2">
                                        <label >@Local["Danh sách hàng"]</label>
                                        <div class="m-0 my-0 mobile-responsive h-100">
                                            <div id="" class="waitingdiv text-center" style="display: none;">
                                                <div class="spinner-border text-primary" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                            <table class="table vt-table mb-0" id="#####">
                                                <thead>
                                                    <tr>
                                                        <th class="d-none">ID</th>
                                                        <th class="d-none">CusID</th>
                                                        <th style="width:40px;">@Local["#"]</th>
                                                        <th>@Local["Sản phẩm"]</th>
                                                        <th>@Local["Đơn vị"]</th>
                                                        <th>@Local["Số lượng"]</th>
                                                        <th>@Local["Thành tiền"]</th>
                                                        <th style="width:50px;" id="thRemoveProduct"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="StockProductBody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-botombutton mt-2">
            <div class="action_Save">
                <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessageMaster"></div>
                <div class="action_Save-Content">
                    <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();return RequireList_Close()">@Local["Đóng"]</button>
                    <button id="btnSaveDetail" style="display:none;" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();return RequireDetail_SaveDetail()">@Local["Lưu"]</button>
                    <button id="btnDeleteDetail" style="display:none;" form="form3" type="button" class="btn bg-gradient-danger mt-2 me-2" onclick="event.preventDefault();return RequireDetail_DeleteDetail()">@Local["Xóa"]</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //#region Declare & Initialize

    let ser_DetailID = "@Model._DetailCurrentID";
    let ser_WareID = "@Model._WareID";
    var product_selected = {};
    var data_TimerOnchange;
    let data_supplier;
    var data_product;
    let data_productunit;
    let EditButton = 1;
    var DataComboWare;
    let Flag_Ware = 0;
    let IsPackageNumber = 0;

    $(document).ready(function () {
        WareDetail_Setting(ser_DetailID);
        WareDetail_Initialize(ser_DetailID);
        WareDetail_Event();
    });

    //#region // Master


    function WareDetail_Setting(currentid) {

        $("#ExpiredDay").flatpickr({
            dateFormat: 'd-m-Y',
            enableTime: false
        });

        $('#txtWare_Amount').divide();

        let HeightProductItem = $("#ProductItem").outerHeight() - 55;
        $("#TableProduct").height(HeightProductItem);

        if (Number(currentid) != 0) {
            $('#btnPrintDetail').show();
        }
        ItemDetail_Refresh();
    }

    function WareDetail_Event() {

        $('#StockProductBody').on('click', '.buttonDeleteClass', function (e) {
            let idProduct = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            ItemDetail_DeleteRow(idProduct)
            e.preventDefault();
        });

        $('#StockProductBody').on('click', '.buttonEditClass', function (e) {
            let idProduct = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            ItemDetail_EditRow(idProduct);
            WareDetail_FocusEditProduct();
        });

        $("#dtContentProductBody").on("click", '.itemProduct', function (e) {
            e.preventDefault();
            let id = $(this).attr("data-id");
            $("#productDetail").dropdown("refresh");
            $("#productDetail").dropdown("set selected", id.toString());
            WareDetail_FocusEditProduct();
        });

        $('.input-group .remove.icon').on('click', function (e) {
            $(this).parent().siblings().val("");
            e.stopPropagation();
        });

        $('#searchingProduct').keyup(function () {
            if ($(this).val().length > 0) $(".btn_clear").removeClass('opacity-1');
            $("#wareSearch .fa-search").hide();
            $("#wareSearch .spinner-border").show();
            clearTimeout(data_TimerOnchange);
            data_TimerOnchange = setTimeout(function (e) {
                WareDetail_Search(xoa_dau($('#searchingProduct').val().toLowerCase()).trim());
            }, 500);
        });

    }
    function WareDetail_Search(text) {

        if (text == "") {
            ItemDetail_RenderProductList(data_product, "dtContentProductBody");
        }
        else {
            let data = data_product.filter((word) => xoa_dau(word["Name"].toLowerCase()).includes(text)
                || xoa_dau(word["Code"].toLowerCase()).includes(text)
            );
            ItemDetail_RenderProductList(data, "dtContentProductBody");
            ColorSearchFilterText(text, "itemProduct");
        }

        $("#wareSearch .fa-search").show();
        $("#wareSearch .spinner-border").hide();
    }



    function WareDetail_Initialize(id) {
        AjaxLoad(url = "/WareHouse/Require/RequireDetail/?handler=Initialize"
            , data = {
                'currentid': id,
                'ware': ser_WareID
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    data_product = data.Product;
                    data_productunit = data.UnitProduct;
                    let data_user = data.User;
                    Load_Combo(data_user, "cbbUserID", true);
                    Load_Combo(data_product, "cbbproductDetail", true);
                    ItemDetail_RenderProductList(data_product, "dtContentProductBody");
                    DataComboWare = data.Warehouse;

                    WareDetail_DetectWareName(ser_WareID);

                    if (Number(id) != 0) {
                        WareDetail_RenderData(data.Info, data.Items);
                    }
                    else {
                        $('#btnSaveDetail').show()
                        $('#detail_Item').show();
                    };
                    Flag_Ware = 1;
                }
            }
        );

    }

    function WareDetail_DetectWareName(id) {
        if (DataComboWare && DataComboWare.length != 0) {
            let item = DataComboWare.filter((word) => Number(word['ID']) == Number(id));
            if (item && item.length != 0) {
                $("#rq_header").html(' - <span class="fw-bold text-primary">' + item[0].Name + '</span>');
                $("#NameWare").html(item[0].Name);
            }

        }
    }

    function WareDetail_RenderData(DataMaster, DataDetail) {
        if (DataMaster.length != 0) {
            WareDetail_DetectWareName(DataMaster[0].WareID);
            $('#rq_header').html($('#rq_header').html() + " - " + DataMaster[0].Code)
            $("#UserID").dropdown("refresh");
            $("#UserID").dropdown("set selected", DataMaster[0].UserTo);
            $("#OrderCode").html(' - ' + DataMaster[0].Code)
            $("#NoteOrder").val(DataMaster[0].Content)
            let perPassing = Number(DataMaster[0].PerPassing);
            let perdate = Number(DataMaster[0].PerDate);
            let peruser = Number(DataMaster[0].PerUser);

            if ((perPassing == 1 || (perdate == 1 && peruser == 1)) ) {
                EditButton = 1;
            } else EditButton = 0;
            //if (ViewDetail == 1) EditButton = 0;
            if (EditButton == 0) {
                $('#detail_Item').hide();
                $('#DetailInfo').find('input, textarea, button, select').attr('disabled', 'disabled');
                $('#DetailWareID').addClass("disabled");
                $('#btnSaveDetail').remove();
                $('#btnDeleteDetail').remove();
                $("#Detail_Date").flatpickr({
                    dateFormat: 'd-m-Y H:i',
                    enableTime: true,
                    time_24hr: true,
                    maxDate: new Date(),
                    defaultDate: new Date()
                });
                $('#Detail_Date').val(GetDateTime_String_DMYHM(DataMaster[0].DateExecute));
            } else {
                $('#btnSaveDetail').show();
                $('#btnDeleteDetail').show();
                $('#detail_Item').show();
            }
        }
        for (let i = 0; i < DataDetail.length; i++) {
            let item = DataDetail[i];
            var element = {};
            let indexPackNum = item.packageNumber.indexOf("-");
            let packNum = indexPackNum != -1 ? (item.packageNumber).substring(0, indexPackNum) : item.packageNumber;
            element.id = item.idProduct;
            element.packageNumber = packNum;
            element.idProduct = item.idProduct;
            element.SupplierID = (item.SupplierID);
            element.UnitCountID = item.UnitCountID;
            element.NameProduct = item.NameProduct;
            element.NameSupplier = item.NameSupplier;
            element.NameUnit = item.NameUnit;
            element.Number = Number(item.Number).toString();
            element.Amount =  item.Amount ;
            element.Note = item.Note;
            element.Unit_Standard = item.Unit_Standard;
            element.state = item.state.toString();
            element.idDetail = item.idDetail;
            element.ExpiredDay = item.ExpiredDay != undefined ? item.ExpiredDay : '01-01-1900' ;
            element.IniAmount = item.IniAmount;
            element.DiscountAmount = item.DiscountAmount;
            element.DiscountPer = item.DiscountPer;
            element.UnitPrice = item.UnitPrice;
            product_selected[item.idProduct] = element;
            ItemDetail_Render(item.idProduct, element, "StockProductBody");

        }
        RequireDetail_UpdateInfo();
    }

    function RequireDetail_UpdateInfo() {
        let data = [];
        let TotalAmount = 0;
        for ([key, value] of Object.entries(product_selected)) {
            data.push(value);
            TotalAmount = TotalAmount + Number(value.Amount);
        }
        $('#txtWare_Amount').val(TotalAmount);
    }

    //#region // EXECUTE
    function RequireDetail_SaveDetail() {

        let note = $('#NoteOrder').val() ? $('#NoteOrder').val() : '';
        let userTo = Number($('#UserID').dropdown('get value')) ? Number($('#UserID').dropdown('get value')) : 0;
        let dataObj = [];
        for ([key, value] of Object.entries(product_selected)) {
            dataObj.push(value);
        }
        document.getElementById("textShowMessageMaster").innerHTML = "";
        let error = 0;

        if (userTo == 0) {
            error = 1;
            $("#UserID").closest(".field").addClass("error");
            $("#textShowMessageMaster").html('@Local["Chưa chọn người duyệt"]');
        }
        else {
            $("#UserID").closest(".field").removeClass("error");
        }

        if (dataObj == undefined || dataObj == null || dataObj.length == 0) {
            error = 1; $("#textShowMessageMaster").html('@Local["Không có mặt hàng yêu cầu nhập kho"]');
        }

        if (error == 0) {

            if (ser_DetailID != "0") {
                let dataProduct = [];
                for ([key, value] of Object.entries(product_selected)) {
                    let _e = {};
                    _e.packageNumber = value.packageNumber != "" ? value.packageNumber + '-' + value.idProduct : "";
                    _e.idProduct = value.idProduct;
                    _e.number = ItemDetail_CheckStockQuantity(value.idProduct, value.UnitCountID, value.Number);
                    dataProduct.push(_e);
                }
                RequireDetail_SaveDetail_Next(ser_DetailID, ser_WareID, note, dataObj, userTo);
            }
            else {
                RequireDetail_SaveDetail_Next(ser_DetailID, ser_WareID, note, dataObj, userTo);
            }
        }
    }

    function RequireDetail_SaveDetail_Next(id, ware, note, data ,userto) {
        AjaxLoad(url = "/WareHouse/Require/RequireDetail/?handler=ExcuteData"
            , data = {
                'data': JSON.stringify(data)
                , 'ware': ware
                , 'userto': userto
                , 'note': note
                , 'CurrentID': id
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data && data.length != 0) {
                        let IDComplete = data[0].RESULT;
                        let Code = data[0].CODE;
                        if (IDComplete != 0) {
                            notiSuccess();
                            if (typeof RequireList_Close === 'function') RequireList_Close();
                            if (typeof RequireList_Load === 'function') RequireList_Load(0, 0, 0);
                            if (id == 0) {
                                fcm_senduser(userto, Master_circleAvatar, sys_employeeName_Main, 'Order form');
                            }
                            syslog_whr((id != '0' ? 'u' : 'i'), Code);
                        }
                        else {
                            notiError('@Local["Đã xác nhận không thể chỉnh sửa"]');
                        }
                    }
                }
                else {
                    notiError('@Local["Đã xác nhận không thể chỉnh sửa"]');
                }
            }
        );
    }

    function ItemDetail_CheckStockQuantity(productID, unitID, number) {
        try {
            let numberExport = 0;
            if (productID != 0 && unitID != 0 && number != 0 ) {
                let dtProduct = data_product.filter(word => word["ID"] == productID);
                if (dtProduct && dtProduct.length != 0) {
                    let unitStandard = dtProduct[0].UnitID;
                    if (unitID != unitStandard) {
                        let dtUnit = data_productunit.filter(word => word["UnitChange"] == unitID && word["ProductID"] == productID)
                        let numberChange = 1;
                        if (dtUnit && dtUnit.length > 0) {
                            numberChange = dtUnit[0]["Number"];
                        };
                        numberExport = numberChange * number;
                    }
                    else {
                        numberExport = number;
                    }
                }
            }
            return numberExport;
        }
        catch (ex) {
            return 1;
        }
    }
    //#endregion


    function RequireDetail_DeleteDetail() {
        const promise = notiConfirm();
        promise.then(function () {
            RequireDetail_DeleteExecute(ser_DetailID);

        }, function () { });
    }
    function RequireDetail_DeleteExecute(id) {
        AjaxLoad(url = "/WareHouse/Require/RequireDetail/?handler=DeleteItem"
            , data = {
                'id': id
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    RequireList_Close();
                    notiSuccess();
                    if ($('#reqdetail_' + id + '-1').length) $('#reqdetail_' + id + '-1').remove();
                    syslog_whr('d', result);
                } else {
                    notiError_SW();
                }
            }
        );

    }
    function WareDetail_FocusEditProduct() {
        $('#BodyMain').scrollTo($("#ProductItem").offset().top - 50);
        $("#ProductItem").addClass("border-active");
        setTimeout(function () {
            $("#ProductItem").removeClass("border-active");
        }, 2000)
    }

    //#endregion


    //#region // Add New Product

    function RequireDetail_NewProduct() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/WareHouse/Material/MaterialDetail" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function RequireDetail_LoadProduct(id) {
        AjaxLoad(url = "/WareHouse/Require/RequireDetail/?handler=LoadProduct"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    data_product = data.Product;
                    data_productunit = data.UnitProduct;
                    Load_Combo(data_product, "cbbproductDetail", true);
                    ItemDetail_RenderProductList(data_product, "dtContentProductBody");
                    if (id != 0) {
                        $("#productDetail").dropdown("refresh");
                        $("#productDetail").dropdown("set selected", id);
                    }

                }
            });
    }

    function ItemDetail_AddProduct(id) {
        if (id && id != 0) {
            RequireDetail_LoadProduct(id);
        }
    }

    //#endregion


    //#region // Item

    function ItemDetail_Refresh() {
        $('#productDetail').dropdown('clear');
        $('#productUnit').dropdown('clear');
        $('#supplierDetail').dropdown('clear');
        $('#PackageNumber').val('');
        $('#ExpiredDay').val('');
        $('#noteProduct').val('');

        $('#Pro_DiscountedAmount').divide();
        $('#Pro_DiscountedAmount').val(0);
        $('#Pro_ItemAmount').divide();
        $('#Pro_ItemAmount').val(0);
        $('#Pro_IniAmount').divide();
        $('#Pro_IniAmount').val(0);
        $('#Pro_Discount').divide();
        $('#Pro_Discount').val(0);

        $('#DiscountAmount').dropdown('refresh');
        $('#DiscountAmount').dropdown('set value', 1);
        $('#numberProduct').val(0);
    }

    function ItemDetail_DeleteRow(idProduct) {
        delete product_selected[idProduct];
        $('#row_' + idProduct).remove();
        RequireDetail_UpdateInfo();
    }

    function ItemDetail_EditRow(id) {
        Flag_Ware = 0;
        let item = product_selected[id];
        $("#PackageNumber").val(item.packageNumber);
        $("#productDetail").dropdown("refresh");
        $("#productDetail").dropdown("set selected", item.idProduct);
        $("#productUnit").dropdown("refresh");
        $("#productUnit").dropdown("set selected", item.UnitCountID);
        $('#ExpiredDay').val((item.ExpiredDay.includes('1900')) ? '' : item.ExpiredDay);
        $("#numberProduct").val(item.Number);
        $("#Pro_DiscountedAmount").val(item.Amount);
        $("#noteProduct").val(item.Note);
        $("#supplierDetail").dropdown("refresh");
        $("#supplierDetail").dropdown("set selected", (item.SupplierID));
        $("#Pro_ItemAmount").val(item.UnitPrice);
        $("#Pro_IniAmount").val(item.IniAmount);
        $("#DiscountAmount").dropdown("refresh");
        $("#DiscountAmount").dropdown("set selected", ((item.DiscountPer == 0 && item.DiscountAmount != 0) ? 2 : 1));
        $("#Pro_Discount").val((item.DiscountPer == 0 && item.DiscountAmount != 0) ? item.DiscountAmount : item.DiscountPer);
        $('.productRow').removeClass('editting');
        $('#row_' + id).addClass('editting');
        Flag_Ware = 1;
    }
    function ItemDetail_Save() {
        document.getElementById("textShowMessage").innerHTML = "";
        let packageNumber = $('#PackageNumber').val() ? ($('#PackageNumber').val()).replace(/[^a-zA-Z0-9]/g, '').trim() : "";
        let product = Number($('#productDetail').dropdown('get value')) ? Number($('#productDetail').dropdown('get value')) : 0;
        let productDetailUnit = Number($('#productUnit').dropdown('get value')) ? Number($('#productUnit').dropdown('get value')) : 0;
        let numberProduct = $('#numberProduct').val() ? $('#numberProduct').val() : 0;
        let Pro_ItemAmount = $('#Pro_ItemAmount').val() ? $('#Pro_ItemAmount').val() : 0;
        let Pro_IniAmount = $('#Pro_IniAmount').val() ? $('#Pro_IniAmount').val() : 0;
        let Pro_Discount = $('#Pro_Discount').val() ? $('#Pro_Discount').val() : 0;
        let DiscountType = Number($('#DiscountAmount').dropdown('get value')) ? Number($('#DiscountAmount').dropdown('get value')) : 0;

        let Pro_DiscountedAmount = $('#Pro_DiscountedAmount').val() ? $('#Pro_DiscountedAmount').val() : 0;
        let noteProduct = $('#noteProduct').val() ? $('#noteProduct').val() : '';
        let expiredDay = $('#ExpiredDay').val() ? $('#ExpiredDay').val() : '01-01-1900';
        let standardUnit = 0;
        //let standardNumber = 0;

        //#region //Validate
        let isError = 0;
        if (!$.isNumeric(numberProduct) || Number(numberProduct) < vtth_range_min || Number(numberProduct) > vtth_range_max) {
            $('#numberProduct').closest('.field').addClass('error')
            isError = 1;
        }
        else $('#numberProduct').closest('.field').removeClass('error')
        if (product == 0) {
            $('#productDetail').closest('.field').addClass('error')
            isError = 1;
        }
        else $('#productDetail').closest('.field').removeClass('error')
        if (IsPackageNumber == 1 && packageNumber == "") {
            $('#PackageNumber').closest('.field').addClass('error')
            isError = 1;
        }
        else $('#PackageNumber').closest('.field').removeClass('error')
        if (productDetailUnit == 0) {
            $('#productUnit').closest('.field').addClass('error')
            isError = 1;
        }
        else $('#productUnit').closest('.field').removeClass('error')
        let isProductExist = 0;
        let keyProductExist = 0;
        for ([key, value] of Object.entries(product_selected)) {
            if (value.idProduct == product && value.packageNumber == packageNumber) {
                isProductExist = 1;
                keyProductExist = [key];
                //delete product_selected[key];
                break;
            }
        }
        //#endregion

        if (isError == 0 && isProductExist == 0) {
            document.getElementById("textShowMessage").innerHTML = "";
            document.getElementById("textShowMessageMaster").innerHTML = ""
            var element = {};
            element.id = product;
            element.packageNumber = packageNumber;
            element.idProduct = product;
            element.SupplierID = 0 ;
            element.UnitCountID = productDetailUnit;
            element.NameProduct = $('#productDetail').dropdown('get text');
            element.NameSupplier = "";
            element.NameUnit = $('#productUnit').dropdown('get text');
            element.Number = Number(numberProduct).toString();
            element.Amount = Pro_DiscountedAmount ;
            element.Note = noteProduct;
            element.state = "1";
            element.Unit_Standard = standardUnit.toString();
            element.idDetail = "0";
            element.ExpiredDay = expiredDay;
            element.IniAmount = Pro_IniAmount;
            element.DiscountAmount = (DiscountType == 1) ? (Math.round((Pro_Discount * Pro_IniAmount / 100) * 100) / 100) : Pro_Discount;
            element.DiscountPer = (DiscountType == 1) ? Pro_Discount : 0;
            element.UnitPrice = Pro_ItemAmount;
            product_selected[product] = element;

            ItemDetail_Render(product, element, "StockProductBody");
            RequireDetail_UpdateInfo();
            ItemDetail_Refresh();
        }
        else if (isProductExist == 1) {
            document.getElementById("textShowMessage").innerHTML = "@Local["Hàng yêu cầu nhập kho đã được chọn"]";
            $('#row_' + keyProductExist).addClass("border-active");
        }
        else {
            document.getElementById("textShowMessage").innerHTML = "@Local["Kiểm tra dữ liệu"]";
        }
        return false;
    }
    function ItemDetail_DetectUnit() {
        ItemDetail_LoadUnit();
        return false;
    }
    function ItemDetail_LoadUnit() {
        let product = Number($('#productDetail').dropdown('get value')) ? Number($('#productDetail').dropdown('get value')) : 0;
        let data = ItemDetail_LoadUnitAction(product, data_product, data_productunit)
        if (data != undefined && data != null && data.length != 0) {
            Load_Combo(data, "cbbproductUnit", true);

            $("#productUnit").dropdown("refresh");
            $("#productUnit").dropdown("set selected", Number(data[0].ID));
        }
        return false;
    }
    function ItemDetail_LoadUnitAction(idProduct, products, unitproduct) {

        let _data = [];
        let pro = products.filter(word => word["ID"] == idProduct);
        if (pro && pro.length > 0) {
            _data.push({ "ID": pro[0].UnitID, "Name": pro[0].UnitName });
            let unit = unitproduct.filter(word => word["ProductID"] == idProduct);
            if (unit != undefined && unit.length > 0) {
                for (let i = 0; i < unit.length; i++) {
                    _data.push({ "ID": unit[i].UnitChange, "Name": unit[i].UnitChangeName });
                }
            }
        }
        return _data;
    }
    function ItemDetail_OnChangeDiscount() {
        if (Flag_Ware == 1) {
            Flag_Ware = 0;
            let IniAmount = $('#Pro_IniAmount').val() ? $('#Pro_IniAmount').val() : 0;
            let type = Number($('#DiscountAmount').dropdown('get value')) ? Number($('#DiscountAmount').dropdown('get value')) : 0;
            if (!isNaN($('#Pro_Discount').val()) || $('#Pro_Discount').val() == '') {
                let value = Number($('#Pro_Discount').val() ? $('#Pro_Discount').val() : 0);
                if (type == 1 && (value > 100 || value < 0)) {
                    $('#Pro_Discount').val(0);
                }
                if (type == 2 && (value > IniAmount || value < 0)) {
                    $('#Pro_Discount').val(0);
                }
            }
            else {
                $('#Pro_Discount').val(0);
            }
            Flag_Ware = 1;
            ItemDetail_UpdateAmount();
        }
    }
    function ItemDetail_OnChangeUnit() {
        if (Flag_Ware == 1) {
            Flag_Ware = 0;
            let item_price = 0
            let unitID = Number($('#productUnit').dropdown('get value')) ? Number($('#productUnit').dropdown('get value')) : 0;
            let productID = Number($('#productDetail').dropdown('get value')) ? Number($('#productDetail').dropdown('get value')) : 0;
            let data_p = data_product.filter(word => word["ID"] == productID)
            if (data_p && data_p.length > 0) {
                let numberChange = 1;
                let unitstandard = Number(data_p[0]["UnitID"])
                if (unitstandard != unitID) {
                    let unit_p = data_productunit.filter(word => word["UnitChange"] == unitID && word["ProductID"] == productID)
                    if (unit_p && unit_p.length > 0) {
                        numberChange = unit_p[0]["Number"];
                        item_price = data_p[0]["Cost_Price"] * numberChange;
                    }
                }
                else item_price = data_p[0]["Cost_Price"];
            }
            $('#Pro_ItemAmount').val(Math.round(item_price * 100) / 100);
            Flag_Ware = 1;
            ItemDetail_UpdateAmount();
        }
    }
    function ItemDetail_UpdateAmount() {
        if (Flag_Ware == 1) {
            Flag_Ware = 0;
            let pridisconted = 0;
            let total_price = 0; number_discount = 0;

            let numberProduct = $('#numberProduct').val() ? $('#numberProduct').val() : 0;
            let item_price = $('#Pro_ItemAmount').val() ? $('#Pro_ItemAmount').val() : 0;
            total_price = item_price * numberProduct;
            let discountValue = $('#Pro_Discount').val() ? $('#Pro_Discount').val() : 0;
            let discountType = Number($('#DiscountAmount').dropdown('get value')) ? Number($('#DiscountAmount').dropdown('get value')) : 0;
            let discountAmount = 0;

            if (discountType == 1) {
                discountAmount = (total_price * discountValue) / 100;
            }
            else {
                discountAmount = discountValue;
            }
            pridisconted = total_price - discountAmount;
            $('#Pro_IniAmount').val(Math.round(total_price * 100) / 100);
            $('#Pro_DiscountedAmount').val(Math.round(pridisconted * 100) / 100);
            Flag_Ware = 1;
        }
    }



    function ItemDetail_Render(key, item, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            let tr = '<td class="d-none">' + key + '</td>'
                + '<td class="vt-number-order text-center"></td>'
                //+ '<td >'
                //+ ((item.packageNumber != "") ? '<h6 class="fw-bold mb-0 text-sm  text-uppercase ellipsis_one_line">' + item.packageNumber + '</h6>' : "")
                //+ '</td>'
                + '<td>'
                + '<h6 class="mb-0 text-sm ellipsis_one_line text-primary">' + item.NameProduct + '</h6>'
                + '</td>'
                + '<td >' + item.NameUnit + '</td>'
                + '<td class="text-center">' + formatNumber(item.Number) + '</td>'
                + '<td >' + formatNumber(item.Amount) + '</td>'
                + (((EditButton == 1) )
                    ? '<td><button title="Remove" class="buttonGrid"><i class="buttonDeleteClass vtt-icon vttech-icon-cancel-01 text-danger"></i></button></td>'
                : '<td></td>')
            tr = '<tr id="row_' + key + '" class="productRow vt-number">' + tr + '</tr>';

            document.getElementById(id).insertAdjacentHTML('beforeend', tr);
        }

    }
    function ItemDetail_Render_Buttons(isEditButton) {
        let buttons = [];
        if (isEditButton == 1) {
            buttons.push('<button title="Edit" class="buttonGrid"><i class="buttonEditClass vtt-icon vttech-icon-edit"></i></button>')
            buttons.push('<button title="Delete" class="buttonGrid"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>')
        }
        return Render_Button_Grid(buttons);
    }
    function ItemDetail_RenderProductList(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];

                    let tr = '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td >'
                        + '<a class="text-dark fw-bold buttonEditClass cursor-pointer d-block">' + item.Code + '</a>'
                        + '<div class="ellipsis_one_line">' + item.Name + '</div>'
                        + '</td>'
                    stringContent = stringContent + '<tr class="itemProduct vt-number cursor-pointer" role="row" data-id="' + item.ID + '" data-name="' + item.Name + '">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

    //#endregion
</script>

<script src="/js/main.js" async></script>
<script src="/js/customjs/custom-validation.js"></script>



<style>
    .productRow.error {
        background-color: #ff9898 !important;
    }

    .promotion {
        font-size: 10px;
        color: red;
    }

    #ProductItem.border-active {
        animation: spin 1s linear infinite alternate;
    }

    .itemProduct {
        transition: 0.2s all;
    }

        .itemProduct:hover {
            background-color: var(--bs-blue);
        }

    @@media only screen and (max-width:767px) {
        #StockProductList {
            order: 2;
        }
    }

    @@keyframes spin {
        from {
            background-color: white;
        }

        to {
            background-color: #ffe9e9;
        }
    }
</style>