@page
@model MLunarCoffee.Pages.Searching.SearchingModel
@{
}
<div class="row">
    <div class="col-12 px-0">
        <!--Master-->
        <div class="card card-plain">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-3">
                    <div class="left">
                        <h6 class="mb-0">@Local["Tìm kiếm"] @Local["Chi tiết"]</h6>
                        <p class="text-sm mb-0">@Local["Tìm kiếm khách hàng và ticket (dữ liệu chưa phải là khách hàng)"]</p>
                    </div>
                    <div class="right">
                        <button id="SD_SearchButton" type="button" class="btn btn-sm bg-gradient-primary" onclick="SD_SearchExecuted()">
                            <i class="fas fa-search pe-2"></i>
                            <div class="spinner-border spinner-border-sm me-2" style=" width: 0.7rem; height: 0.7rem; display: none;"></div>
                            @Local["Tìm kiếm"]
                        </button>
                        <button class="btn bg-gradient-dark btn-sm position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                            @Local["Xem thêm"]
                        </button>
                    </div>
                    <div class="toggle">
                        <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                            <ul class="card card-body text-dark text-capitalize opacity-10">
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="createdname" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Người tạo"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="createddate" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Ngày tạo"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="address" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Địa chỉ"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="commune" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Phường xã"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="district" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Quận huyện"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="city" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Thành phố"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="Issue" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["CMND/CC"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="lastname" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Tên"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="custage" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Tuổi"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="membership" id="MemberShipCheck" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Hạng thành viên"]</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="px-2 form3">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Mã"]</label>
                            <div class="input-group">
                                <input id="SD_CustCode" class="form-control" type="text" placeholder="eg .@Local["Mã"]" />
                                <span class="input-group-text">
                                    <i class="remove link icon opacity-1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Tên khách"]</label>
                            <div class="input-group">
                                <input id="SD_FullName" class="form-control" type="text" placeholder="eg .@Local["Tên khách"]" />
                                <span class="input-group-text"><i class="remove link icon opacity-1"></i></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Số điện thoại"]</label>
                            <div class="input-group">
                                <input id="SD_PhoneCus" class="form-control" type="text" placeholder="eg .@Local["Số điện thoại"]" />
                                <span class="input-group-text">
                                    <i class="remove link icon opacity-1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Giới tính"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="SD_Gender">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Giới tính"]</div>
                                <div class="menu" tabindex="-1">
                                    <div class="item" data-value="60">@Local["Nam"]</div>
                                    <div class="item" data-value="61">@Local["Nữ"]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Quốc tịch"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="SD_National">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Quốc tịch"]</div>
                                <div id="cbb_national" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Tỉnh/Thành phố"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="SD_City" onchange="event.preventDefault(); return onchangeCity()">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Tỉnh/Thành phố"]</div>
                                <div id="cbb_city" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Quận huyện"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="SD_District" onchange="event.preventDefault(); return onchangeDistrict()">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Quận huyện"]</div>
                                <div id="cbb_district" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Phường xã"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="SD_Commune">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Phường xã"]</div>
                                <div id="cbb_commune" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Ngày tạo"] @Local["Khách hàng"]</label>
                            <div class="input-group">
                                <input id="SD_createdate" class="flatpickr form-control" type="text" placeholder="eg .@Local["Ngày tạo"] @Local["Khách hàng"]" />
                                <span class="input-group-text"><i class="remove link icon opacity-1"></i></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Năm sinh"]</label>
                            <div class="row">
                                <div class="col-6 pe-0">
                                    <div class="input-group">
                                        <input id="SD_YearOfBirthFrom" class="form-control" type="number" placeholder="eg .@Local["Từ"]" />
                                        <span class="input-group-text px-0"><i class="remove link icon opacity-1"></i></span>
                                    </div>
                                </div>
                                <div class="col-6 ps-2">
                                    <div class="input-group">
                                        <input id="SD_YearOfBirthTo" class="form-control" type="number" placeholder="eg .@Local["Đến"]" />
                                        <span class="input-group-text px-0"><i class="remove link icon opacity-1"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1 d-none" id="SD_AreaTicketCode">
                            <label>@Local["Mã ticket"]</label>
                            <div class="input-group">
                                <input id="SD_TicketCode" class="form-control" type="text" placeholder="eg .@Local["Mã ticket"]" />
                                <span class="input-group-text">
                                    <i class="remove link icon opacity-1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["CMND/CC"]</label>
                            <div class="input-group">
                                <input id="SD_CCCode" class="form-control" type="text" placeholder="eg .@Local["CMND/CC"]" />
                                <span class="input-group-text">
                                    <i class="remove link icon opacity-1"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-3 p-1 d-none" id="area-membersip">
                            <label>@Local["Hạng thành viên"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="SD_Membership">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Hạng thành viên"]</div>
                                <div id="cbb_membership" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
                <div class="tab" data-tab="content">
                    <div class="pt-2">
                        <div class="card-header p-0">
                            <div class="d-md-flex">
                                <div class="w-50 col-auto my-auto">
                                    <div class="h-100">
                                        <!-- #region header -->
                                        <span type="text" class="text-primary" title="@Local["Tối đa"] 500 @Local["Kết quả"]">@Local["Kết quả"] @Local["Tìm kiếm"]</span>
                                        <span class="font-weight-bolder ps-2" id="SD_TotalResult">0</span>
                                        <span class="font-weight-bolder ps-2 d-none" id="SD_TotalResultTicket">0</span>
                                        <!-- #endregion -->
                                    </div>
                                </div>
                                <div class="ms-auto my-auto mt-1">
                                    <!-- #region navigation -->
                                    <ul class="nav nav-pills nav-fill bg-transparent searchingTab" role="tablist">
                                        <li class="nav-item active" role="presentation" id="per_tab_resultSearchCustomer">
                                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#result_customer" role="tab">@Local["Khách hàng"]</a>
                                        </li>
                                        <li class="nav-item" role="presentation" id="per_tab_resultSearchTicket">
                                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#result_ticket" role="tab">@Local["Ticket"]</a>
                                        </li>
                                    </ul>
                                    <!-- #endregion -->
                                </div>
                            </div>
                        </div>
                        <div class="nav-wrapper position-relative end-0">
                            <div class="tab-content">
                                <div class="tab-pane fade active " id="result_customer" role="tabpanel">
                                    <!-- #region table-->
                                    <div class="m-0 my-3 mobile-responsive">
                                        <table data-name="ContentSearchCustomer" class="table vt-table mb-0" id="dtContentSearchCustomer">
                                            <thead>
                                                <tr>
                                                    <th class="d-none">CustomerID</th>
                                                    <th class="d-none">TicketID</th>
                                                    <th>#</th>
                                                    <th style="min-width: 120px;">@Local["Tên đầy đủ"]</th>
                                                    <th data-name="lastname" style="min-width: 120px;">@Local["Tên"]</th>
                                                    <th>@Local["Mã khách hàng"]</th>
                                                    <th>@Local["Mã khách hàng cũ"]</th>
                                                    <th style="min-width: 90px;">@Local["Mã hồ sơ"]</th>
                                                    <th style="min-width: 91px;">@Local["Ngày sinh"]</th>
                                                    <th style="min-width: 91px;" class="no-sort vtt-filter" data-name="custage">@Local["Tuổi"]</th>
                                                    <th class="no-sort">@Local["Điện thoại"]</th>
                                                    <th class="no-sort">@Local["Điện thoại"] 2</th>
                                                    <th>@Local["Chi nhánh"]</th>
                                                    <th data-name="createdname" class="no-sort">@Local["Người tạo"]</th>
                                                    <th data-name="createddate" class="no-sort" style="min-width: 91px;">@Local["Ngày tạo"]</th>
                                                    <th data-name="address" class="no-sort vtt-filter" style="min-width: 110px;">@Local["Địa chỉ"]</th>
                                                    <th data-name="commune" class="no-sort vtt-filter" style="min-width: 110px;">@Local["Phường xã"]</th>
                                                    <th data-name="district" class="no-sort vtt-filter" style="min-width: 130px;">@Local["Quận huyện"]</th>
                                                    <th data-name="city" class="no-sort vtt-filter" style="min-width: 110px;">@Local["Thành phố"]</th>
                                                    <th data-name="Issue" class="no-sort vtt-filter" style="min-width: 110px;">@Local["CMND/CC"]</th>
                                                    <th class="no-sort">#</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dtContentSearchCustomerBody">
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- #endregion -->
                                </div>
                                <div class="tab-pane fade" id="result_ticket" role="tabpanel">
                                    <!-- #region table-->
                                    <div class="m-0 my-3 mobile-responsive">
                                        <table data-name="ContentSearchTicket" class="table vt-table mb-0" id="dtContentSearchTicket">
                                            <thead>
                                                <tr>
                                                    <th class="d-none">CustomerID</th>
                                                    <th>#</th>
                                                    <th style="min-width: 100px;">@Local["Mã ticket"]</th>
                                                    <th style="min-width: 120px;">@Local["Tên"]</th>
                                                    <th class="no-sort">@Local["Điện thoại"]</th>
                                                    <th class="no-sort">@Local["Điện thoại"] 2</th>
                                                    <th class="no-sort">@Local["Giới tính"]</th>
                                                    <th data-name="createdname" class="no-sort">@Local["Người tạo"]</th>
                                                    <th data-name="createddate" class="no-sort" style="min-width: 91px;">@Local["Ngày tạo"]</th>
                                                    <th data-name="address" class="no-sort vtt-filter">@Local["Địa chỉ"]</th>
                                                    <th data-name="commune" class="no-sort vtt-filter">@Local["Phường xã"]</th>
                                                    <th data-name="district" class="no-sort vtt-filter">@Local["Quận huyện"]</th>
                                                    <th data-name="city" class="no-sort vtt-filter">@Local["Thành phố"]</th>
                                                    <th class="no-sort">#</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dtContentSearchTicketBody">
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- #endregion -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">

    let shtable;
    var data_search = [];
    let _SeachingText = '@Model._SeachingText';
    let dataNational_S;
    let dataCity_S;
    let dataDistrict_S;
    let dataCommune_S;
    let dataEmployee_S;

    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_City, _Session_District, _Session_National, _Session_Commune, _Session_Employee]
            , function (data) {
                dataCity_S = data[0];
                dataDistrict_S = data[1];
                dataNational_S = data[2];
                dataCommune_S = data[3];
                dataEmployee_S = data[4];
                SearchingInit();
                CheckPermissionControlInPage(sys_PerControl, '@Model._dtPermissionCurrentPage');
                CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
                SearchDetail_Event();
                ToolPopper();
            })
    });
    function SearchDetail_Event() {
        $('#dtContentSearchCustomer').tablecontrol();
        $('#dtContentSearchTicket').tablecontrol();
        $('.searchingTab a:first').tab('show');
        $('.searchingTab a').click(function () {
            let a = $(this).data("bs-target");
            if (a == '#result_ticket') {
                $("#SD_TotalResult").addClass('d-none');
                $("#SD_TotalResultTicket").removeClass('d-none');
            } else {
                $("#SD_TotalResult").removeClass('d-none');
                $("#SD_TotalResultTicket").addClass('d-none');
            }
        });
        shtable = $("#dtContentSearchCustomer").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        if (sys_Allowsearchticket == 1) {
            $("#SD_AreaTicketCode").removeClass('d-none');
        }
        if ($("#MemberShipCheck").is(":checked")) {
            $("#area-membersip").removeClass('d-none');
        } else {
            $("#area-membersip").addClass('d-none');
        }
        $("#MemberShipCheck").click(function () {
            if ($(this).is(":checked")) {
                $("#area-membersip").removeClass('d-none');
            } else {
                $("#area-membersip").addClass('d-none');
            }
        });
        $("#SD_createdate").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            allowInput: false,
        });

        $('.ui.dropdown .remove.icon').on('click', function (e) {
            $(this).parent('.dropdown').dropdown('clear');
            e.stopPropagation();
        });
        $('.input-group-text .remove.link').on('click', function (e) {
            let obj = $(this).parent().prev();
            if (obj && obj != undefined) {
                obj.val('');
            }
        });
        $('#dtContentSearchCustomer tbody').on('click', '.buttonActionClass', function () {
            let CustomerID = Number($(this).attr('data-custid'));
            let TikcetID = Number($(this).attr('data-ticketid'));
            SD_GotoTicket(TikcetID, CustomerID);
        });
        $('#dtContentSearchTicket tbody').on('click', '.buttonActionClass', function () {
            let TikcetID = Number($(this).attr('data-ticketid'));
            SD_GotoTicket(TikcetID, 0);
        });
        $("#SD_CustCode").unbind().keypress(function (event) {
            let keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                SD_SearchExecuted();
            }
        });
        $("#SD_FullName").unbind().keypress(function (event) {
            let keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                SD_SearchExecuted();
            }
        });
        $("#SD_TicketCode").unbind().keypress(function (event) {
            let keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                SD_SearchExecuted();
            }
        })
    }

    function SearchingInit() {
        Load_Combo(Object.values(dataDistrict_S), "cbb_district", false);
        Load_Combo(Object.values(dataCity_S), "cbb_city", false);
        Load_Combo(Object.values(dataNational_S), "cbb_national", false);
        Load_Combo(Object.values(dataCommune_S), "cbb_commune", false);

        AjaxLoad(url = "/Searching/Searching/?handler=InitSearch"
            , data = {}
            , async = true
            , error = function () { }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data != []) {
                        let DTMenber = data.Member;
                        let DTBranchLocation = data.BranchLocation;
                        Load_Combo(DTMenber, "cbb_membership", false);

                        if (DTBranchLocation && DTBranchLocation.length > 0 && sys_UsingbranchAddress == 1) {
                            $("#SD_City").dropdown("refresh");
                            $("#SD_City").dropdown("set selected", DTBranchLocation[0].CityCode);
                            $("#SD_District").dropdown("refresh");
                            $("#SD_District").dropdown("set selected", DTBranchLocation[0].District_ID);
                            $("#SD_Commune").dropdown("refresh");
                            $("#SD_Commune").dropdown("set selected", DTBranchLocation[0].CommuneCode);
                        }
                    }
                }

            }
        );
    }

    function onchangeDistrict() {
        $("#SD_Commune").dropdown("clear");
        let DistrictID = Number($('#SD_District').dropdown('get value')) ? Number($('#SD_District').dropdown('get value')) : 0;
        let data = [];
        if (DistrictID != 0) {
            data = Object.values(dataCommune_S).filter(a => a.DistrictID == DistrictID);
        } else {
            data = [];
        }
        Load_Combo(data, "cbb_commune", false);
    }

    function onchangeCity() {
        $("#SD_Commune").dropdown("clear");
        $("#SD_District").dropdown("clear");
        let CityID = Number($('#SD_City').dropdown('get value')) ? Number($('#SD_City').dropdown('get value')) : 0;
        let data = [];
        if (CityID != 0) {
            data = Object.values(dataDistrict_S).filter(a => a.CityID == CityID);
        } else {
            data = dataDistrict_S;
        }
        Load_Combo(data, "cbb_district", false);
    }

    function SD_SearchExecuted() {
        $("#dtContentSearchCustomerBody").html("");
        $("#dtContentSearchTicketBody").html("");
        Count_Up('SD_TotalResult', 0)
        data_search = [];

        // mã khách hàng, sdt
        var Cust_Code = xoa_dau($('#SD_CustCode').val().toLowerCase()).trim();
        if (Cust_Code != "") {
            let item = {};
            item.name = 'CUST_CODE'; // loại tìm kiếm
            item.value = Cust_Code;
            data_search.push(item);
        }

        // mã ticket
        var Ticket_Code = Number($("#SD_TicketCode").val()) ? Number($("#SD_TicketCode").val()) : '0';
        if (Ticket_Code != "0") {
            let item = {};
            item.name = 'TICKET_CODE';
            item.value = Ticket_Code;
            data_search.push(item);
        }

        // tên khách hàng đầy đủ
        var _namesign = $('#SD_FullName').val().toLowerCase().trim();
        var FullName = xoa_dau(_namesign);
        if (FullName != "") {

            let item = {};
            item.name = 'FULL_NAME'; // loại tìm kiếm
            item.value = FullName;
            data_search.push(item);
            if (CheckIsSeachLastName(_namesign)) {
                let itemsign = {};
                itemsign.name = 'FULL_NAMESIGN'; // loại tìm kiếm
                itemsign.value = getLastName(_namesign);
                data_search.push(itemsign);
            }

        }

        // gioi tinh
        var Gender = Number($('#SD_Gender').dropdown('get value')) ? Number($('#SD_Gender').dropdown('get value')) : 0;
        if (Gender != 0) {
            let item = {};
            item.name = 'GENDER';
            item.value = Gender;
            data_search.push(item);
        }

        // ngay tao
        var date_Created = $('#SD_createdate').val() ? $('#SD_createdate').val() : "";
        if (date_Created != "") {
            let date = $('#SD_createdate').val() ? $('#SD_createdate').val() : new Date()
            let dateFrom;
            let dateTo;
            if (date.search(" to ") > 0) {
                date = date.replace(" to ", "x");
                dateFrom = date.split('x')[0];
                dateTo = date.split('x')[1];
            }
            else {
                dateFrom = date;
                dateTo = date;
            }
            let itemF = {};
            itemF.name = 'DATE_CREATED_FROM';
            itemF.value = dateFrom;
            data_search.push(itemF);

            let itemT = {};
            itemT.name = 'DATE_CREATED_TO';
            itemT.value = dateTo;
            data_search.push(itemT);
        }

        // nam sinh
        var YearOfBirthFrom = xoa_dau($('#SD_YearOfBirthFrom').val().toLowerCase()).trim();
        if (YearOfBirthFrom != "") {
            let item = {};
            item.name = 'YEAR_OF_BIRTH_FROM';
            item.value = YearOfBirthFrom;
            data_search.push(item);
        }
        // nam sinh
        var YearOfBirthTo = xoa_dau($('#SD_YearOfBirthTo').val().toLowerCase()).trim();
        if (YearOfBirthTo != "") {
            let item = {};
            item.name = 'YEAR_OF_BIRTH_TO';
            item.value = YearOfBirthTo;
            data_search.push(item);
        }
        // quoc tich
        var National = Number($('#SD_National').dropdown('get value')) ? Number($('#SD_National').dropdown('get value')) : 0;
        if (National != 0) {
            let item = {};
            item.name = 'NATIONAL';
            item.value = National;
            data_search.push(item);
        }
        // Tinh thanh
        var City = Number($('#SD_City').dropdown('get value')) ? Number($('#SD_City').dropdown('get value')) : 0;
        if (City != 0) {
            let item = {};
            item.name = 'CITY';
            item.value = City;
            data_search.push(item);
        }
        // quan huyen
        var District = Number($('#SD_District').dropdown('get value')) ? Number($('#SD_District').dropdown('get value')) : 0;
        if (District != 0) {
            let item = {};
            item.name = 'DISTRICT';
            item.value = District;
            data_search.push(item);
        }
        // phuong xa
        var Commune = Number($('#SD_Commune').dropdown('get value')) ? Number($('#SD_Commune').dropdown('get value')) : 0;
        if (Commune != 0) {
            let item = {};
            item.name = 'COMMUNE';
            item.value = Commune;
            data_search.push(item);
        }
        // hang thanh vien
        var Membership = Number($('#SD_Membership').dropdown('get value')) ? Number($('#SD_Membership').dropdown('get value')) : 0;
        if (Membership != 0) {
            let item = {};
            item.name = 'MEMBERSHIP';
            item.value = Membership;
            data_search.push(item);
        }
        var PhoneNumber = $('#SD_PhoneCus').val() ? $('#SD_PhoneCus').val() : '';
        if (PhoneNumber != 0) {
            let item = {};
            item.name = 'PHONENUMBER';
            item.value = PhoneNumber;
            data_search.push(item);
        }
        var IssueNum = $('#SD_CCCode').val() ? $('#SD_CCCode').val() : '';
        if (IssueNum != '') {
            let item = {};
            item.name = 'ISSUENUM';
            item.value = IssueNum;
            data_search.push(item);
        }



        if (((FullName.length > 2 || FullName.length == 0) && (Cust_Code.length > 2 || Cust_Code.length == 0))) {
            if (data_search && data_search.length > 0) {
                AjaxLoad(url = "/Searching/Searching/?handler=SearchByOption"
                    , data = { 'data': JSON.stringify(data_search) }
                    , async = true
                    , error = function () { notiError_SW(); }
                    , success = function (result) {
                        if (result != "0") {
                            let data = JSON.parse(result);
                            let dataCust = data.Table;
                            let dataTicket = data.Table1;
                            SD_SearchRenderCust(dataCust, 'dtContentSearchCustomerBody');
                            SD_SearchRenderTicket(dataTicket, 'dtContentSearchTicketBody');
                            Count_Up('SD_TotalResult', dataCust.length)
                            Count_Up('SD_TotalResultTicket', dataTicket.length)
                            $('.searchingTab a.active').trigger("click");
                        }
                        else {
                            Count_Up('SD_TotalResult', 0)
                            Count_Up('SD_TotalResultTicket', 0)
                        }
                    }
                    , sender = null
                    , before = function (e) {
                        $("#SD_SearchButton .fa-search").hide();
                        $("#SD_SearchButton").prop("disabled", true);
                        $("#SD_SearchButton .spinner-border").show();
                    }
                    , complete = function (e) {
                        $("#SD_SearchButton .fa-search").show();
                        $("#SD_SearchButton").prop("disabled", false);
                        $("#SD_SearchButton .spinner-border").hide();
                    }
                );
            }
            else {
                notiWarning("@Local["Không có kết quả"]");
            }
        }
        else {
            notiWarning("@Local["Nhập tối thiểu 3 ký tự"]")
        }

    }

    function SD_SearchRenderCust(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let custAge = item.CustYOB != '' && item.CustYOB != '1900' ? Number((new Date()).getFullYear()) - Number(item.CustYOB) : '';
                    let custDOB = item.CustDOB.includes('1900-01-01') ? '' : ConvertDateTimeUTC_DMY(item.CustDOB);
                    let tr = `
                        <td class="d-none">${item.CustomerID}</td>
                        <td class="d-none">${item.TicketID}</td>
                        <td class="vt-number-order"></td>
                        <td class="customer_name">${item.CustomerName}</td>
                        <td data-name="lastname">${item.LastName}</td>
                        <td><a class="customer_code" href="/Customer/MainCustomer?CustomerID=${Number(item.CustomerID)}&ver=${versionofWebApplication}">${item.CustCode}</a></td>
                        <td> ${(item.CustCodeOld != '' && item.CustCodeOld != '0') ? item.CustCodeOld : ''}</td>
                        <td class="customer_profile_code">${item.DocumentCode}</td>
                        <td class="customer_birthday">${custDOB}</td>
                        <td data-name="custage">${custAge}</td>
                        <td class="_tab_control_ customer_phone" data-tab="phone_customer">${item.CustomerPhone}</td>
                        <td class="_tab_control_ customer_phone" data-tab="phone_customer">${item.CustomerPhone2}</td>
                        <td>${item.BranchName}</td>
                        <td data-name="createdname">${Render_Searching_Employee(item.CreatedID)}</td>
                        <td class="customer_created" data-name="createddate">${item.CreatedDate}</td>
                        <td data-name="address">${item.Address}</td>
                        <td data-name="commune">${Fun_GetName_ByID(dataCommune_S, item.CommuneID)}</td>
                        <td data-name="district">${Fun_GetName_ByID(dataDistrict_S, item.DistrictID)}</td>
                        <td data-name="city">${Fun_GetName_ByID(dataCity_S, item.CityID)}</td>
                        <td data-name="Issue">${item.IDIssuenum}</td>
                        <td class="text-center"><button class="buttonGrid"><i data-custid="${item.CustomerID}" data-ticketid="${item.TicketID}" class="buttonActionClass vtt-icon vttech-icon-action"></i></button></td>
                    `
                    stringContent = stringContent + '<tr role="row" class="vt-number seachRow">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        $('#dtContentSearchCustomer').tablesort();
        
        shtable.Refresh();
        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl, '@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
    }

    function SD_SearchRenderTicket(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = `
                        <td class="d-none">${item.TicketID}</td>
                        <td class="vt-number-order"></td>
                        <td><a target="_blank" href="/Marketing/TicketAction?CustomerID=${0}&TicketID=${item.TicketID}&Type=${7}&MasterID=${0}">${item.TicketID}</a></td>
                        <td class="customer_name">${item.TicketName}</td>
                        <td class="_tab_control_ customer_phone" data-tab="phone_customer">${item.TicketPhone1}</td>
                        <td class="_tab_control_ customer_phone" data-tab="phone_customer">${item.TicketPhone2}</td>
                        <td>${item.Gender}</td>
                        <td data-name="createdname">${Render_Searching_Employee(item.CreatedID)}</td>
                        <td class="customer_created" data-name="createddate">${item.CreatedDate}</td>
                        <td data-name="address">${item.Address}</td>
                        <td data-name="commune">${Fun_GetName_ByID(dataCommune_S, item.CommuneID)}</td>
                        <td data-name="district">${Fun_GetName_ByID(dataDistrict_S, item.DistrictID)}</td>
                        <td data-name="city">${Fun_GetName_ByID(dataCity_S, item.CityID)}</td>
                        <td class="text-center"><button class="buttonGrid"><i data-custid="${item.CustomerID}" data-ticketid="${item.TicketID}" class="buttonActionClass vtt-icon vttech-icon-action"></i></button></td>
                    `
                    stringContent = stringContent + '<tr role="row" class="vt-number seachRow">' + tr + '</tr>';
                }
            }
            myNode.innerHTML = stringContent;
        }
        $('#dtContentSearchTicket').tablesort();
        

        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl, '@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
    }
    function Render_Searching_Employee(id) {
        if (id == "0") return '';
        let obj = Fun_GetObject_ByID(dataEmployee_S, id);
        let name = (obj != null) ? obj.Name : 'unknown';
        let img = (obj != null && obj.Avatar != "") ? obj.Avatar : Master_Default_Pic;
        let result = '<div class="d-inline"><img class="avatar avatar-xs me-2" src="' + img + '" alt="label-image" /><span>' + name + '</span></div>';
        return result;
    }

    function SD_GotoTicket(TicketID, CustomerID) {
        window.open("/Marketing/TicketAction?CustomerID=" + CustomerID + "&TicketID=" + TicketID + "&ver=" + versionofWebApplication);
    }
    String.prototype.replaceAll = function (strReplace, strWith) {
        var esc = strReplace.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var reg = new RegExp(esc, 'ig');
        return this.replace(reg, strWith);
    };

</script>


