@page
@model MLunarCoffee.Pages.Customer.Service.TreatmentPlan.TreatmentPlanDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
      <div class="header header_form_main">
        Kế Hoạch Điều Trị
    </div>
    <div class="row">
        <div class="sixteen wide tablet eight wide computer column">
            <div class="ui segments">
                <form class="ui form segment form3" id="form3">
                    <div class="field">
                        <label>@Local["Tên kế hoạch"]</label>
                        <input id="Treatment_Plan_Name" name="name" type="text" />
                    </div>
                    <div class="field">
                        <label>@Local["Ghi chú"]</label>
                        <input id="Treatment_Plan_Note" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="actions">
        <div style="float: right">
            <button class="ui teal button saveButton"
                    form="form3"
                    onclick="event.preventDefault();return Execute_Treat_Update()">
                @Local["Lưu"]
            </button>
        </div>
        <div style="float: right">
            <button class="ui grey button cancelButton"
                    onclick="event.preventDefault();CloseModal()">
                @Local["Đóng"]
            </button>
        </div>
    </div>

    <script type="text/javascript">
        var ser_Treatment_Plan_CurrentID ='@Model._CurrentID';


        $(document).ready(function () {
            TreatPlan_LoadData_Update();
        });

        function TreatPlan_LoadData_Update() {
            AjaxLoad(url = "/Customer/Service/TreatmentPlan/TreatmentPlanDetail/?handler=Loadata"
                , data = { "CurrentID": ser_Treatment_Plan_CurrentID  }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result != '') {
                        let data = JSON.parse(result);
                        $('#Treatment_Plan_Name').val(data[0].Name);
                        $('#Treatment_Plan_Note').val(data[0].Note);
                    }
                }
            );
           
        }
        function Execute_Treat_Update() {
            let name = $('#Treatment_Plan_Name').val();
            let note = $('#Treatment_Plan_Note').val();
            if ($('#form1').form('is valid')) {
                AjaxLoad(url = "/Customer/Service/TreatmentPlan/TreatmentPlanDetail/?handler=ExcuteData"
                    , data = {
                        'CurrentID': ser_Treatment_Plan_CurrentID
                        , 'name': name
                        , 'note': note}
                    , async = true
                    , error = function () { notiError_SW() }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            if (typeof Tab_List_Customer_Treatment_Plant_Load !== 'undefined' && $.isFunction(Tab_List_Customer_Treatment_Plant_Load))
                                Tab_List_Customer_Treatment_Plant_Load(ser_current_patient_record);
                        } else {
                            notiError_SW();
                        }
                    }
                );
                $('#DetailModal').modal('hide');
                $("#DetailModal_Content").html('');
                return false;
            }
        }

    </script>
    <script>js_require('/js/main.js');</script>
</body>
</html>
