@page
@model MLunarCoffee.Pages.Customer.ConsultationRegimen.ConsultLessFastModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <meta charset="utf-8" />
    <script>js_require('/js/comon/initialize_setting.js');</script>
</head>
<body>
    <div class="container-fluid py-3 px-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div class="w-50 col-auto my-auto">
                                <div class="h-100">
                                    <h6 id="headerPopup_CustomerCare" class="mb-0">@Local["Tư vấn"]</h6>
                                    <p class="text-sm mb-0">@Local["Tư vấn khách hàng"]</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-body pt-2 form3" id="form3">
                        <div class="row px-1 ">
                            <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                <label>@Local["Trạng thái hiện tại"]</label>
                                <div class="ui fluid search selection dropdown form-control" id="StatusCall" onchange="OnChangeStatusTypeDetail()">
                                    <input type="hidden" name="statusType" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">@Local["Trạng thái hiện tại"]</div>
                                    <div id="ccbStatusCall" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                <label>@Local["Trạng thái chi tiết"]</label>
                                <div class="ui fluid search selection dropdown form-control" id="StatusCallDetail">
                                    <input type="hidden" name="statusType" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">@Local["Trạng thái chi tiết"]</div>
                                    <div id="cbbStatusCallDetail" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row px-1">
                            <div class="field col-12 col-md-6 px-1 mt-2">
                                <label>@Local["Thông tin tư vấn"]</label>
                                <textarea class="form-control" placeholder="@Local["Thông tin tư vấn"]" id="txtContentInput" rows="3"></textarea>
                            </div>
                            <div class="field col-12 col-md-6 px-1 mt-2">
                                <label>@Local["Nhu cầu phát sinh"]</label>
                                <textarea class="form-control" placeholder="@Local["Nhu cầu phát sinh"]" id="txtAdvice" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer fixed-botombutton">
                        <div class="action_Save">
                            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                            <div class="action_Save-Content">

                                <button  class="btn btn-secondary" form="form3" onclick="CSL_CloseDetail()">@Local["Hủy"]</button>
                                <button id="button_consult_less_fast_save" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ExcuteData()">@Local["Lưu"]</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script type="text/javascript">
        var ser_CustomerID ='@Model._ConsultLessCustomerID';
        var ser_CurrentID ='@Model._ConsultLessCurrentID';
        var _DataCombo;
        function ExcuteData() {
            var data = new Object();
            data.TypeStatus = Number($('#StatusCallDetail').dropdown('get value')) ? Number($('#StatusCallDetail').dropdown('get value')) : 0;
            data.Content = $('#txtContentInput').val() ? $('#txtContentInput').val() : "";
            data.Advice = $('#txtAdvice').val() ? $('#txtAdvice').val() : "";

            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Customer/ConsultationRegimen/ConsultLessFast/?handler=ExcuteData"
                    , data = {
                        'data': JSON.stringify(data)
                        , 'CustomerID': ser_CustomerID
                        , 'CurrentID': ser_CurrentID 
                    }
                    , async = true
                    , error = function () { notiError_SW() }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            syslog_cutcon(ser_CurrentID == 0 ? 'i' : 'u', ser_CustomerID, '');
                            if(typeof CSL_Load === "function") CSL_Load(ser_CurrentID, 0);
                            if(typeof CSL_CloseDetail === "function") CSL_CloseDetail();
                        } else {
                            notiError_SW();
                        }
                    }
                    , sender = $("#button_consult_less_fast_save")
                );
            }
            return false;
        }
        function OnChangeStatusTypeDetail() {
            let numberMasterStatus = Number($('#StatusCall').dropdown('get value'));
            let data = _DataCombo.filter(word => word["ParentID"] == numberMasterStatus);
            if (data != undefined && data != null && data.length != 0) {
                Load_Combo(data, "cbbStatusCallDetail", true);
                $("#StatusCallDetail").dropdown("refresh");
                $("#StatusCallDetail").dropdown("set selected", data[0].ID);
            }
        }
        $(document).ready(function () {
            InitializeCustomerStatus();
        });

        function InitializeCustomerStatus() {
            AjaxLoad(url = "/Customer/ConsultationRegimen/ConsultLessFast/?handler=LoadInitializeData"
                , data = {     }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    _DataCombo = JSON.parse(result);
                    let data = _DataCombo.filter(word => word["ParentID"] == 0);
                    LoadComboStatusType(data, "ccbStatusCall");
                    $("#StatusCall").dropdown("set selected", data[0].ID);
                    if (ser_CurrentID!="0")  LoadDataUpdate_Last();
                }
            );
        }
        function LoadDataUpdate_Last() {
            AjaxLoad(url = "/Customer/ConsultationRegimen/ConsultLessFast/?handler=Loadata"
                , data = { 'id': ser_CurrentID}
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    dataStatus = JSON.parse(result);
                    if (dataStatus) {
                        // load combo typestatus
                        let data = _DataCombo.filter(word => word["ID"] == dataStatus[0].Status_ID);
                        $("#StatusCall").dropdown("refresh");
                        $("#StatusCall").dropdown("set selected", data[0].ParentID);

                        $("#StatusCallDetail").dropdown("refresh");
                        $("#StatusCallDetail").dropdown("set selected", dataStatus[0].Status_ID);
                        $('#txtContentInput').val(formatHTML(dataStatus[0].Content));
                        $('#txtAdvice').val(formatHTML(dataStatus[0].Advice));
                    }
                }
            );

        }

        function LoadComboStatusType(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            '<div style="background-color:' + item.ColorCode + ';color:black" class="item" data-value=' + item.ID + '>' + item.Name + '</div>'
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
    </script>

    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>
</html>
