@page
@model MLunarCoffee.Pages.Report.CustomerCare.CheckInNotServiceBarModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header p-3">
        <div class="d-lg-flex">
            <div class="w-50 col-auto my-auto">
                <p class="text-md text-dark font-weight-bold mb-1">@Local["Top 5 nhân viên chăm sóc khách đến không làm dịch vụ"]</p>
                @*<p class="text-sm mb-0">Some text of detail sub</p>*@
            </div>
            <div class="ms-auto my-auto d-flex align-items-center">
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Thu gọn"]">
                    <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                       data-bs-toggle="collapse" href="#CheckInNotServiceBarDiv" aria-expanded="true"></i>
                </div>
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Tải lại"]">
                    <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                       onclick="event.preventDefault(); return LoadDataReport_CheckInNotServiceBar()"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="collapsesticky collapse show" id="CheckInNotServiceBarDiv">
        <div class="card-body p-3 pt-0">
            <div class="chart">
                <canvas id="CheckInNotServiceBar" class="chart-canvas" height="300"></canvas>
            </div>
        </div>

    </div>

</div>


<script>js_require('/js/comon/initialize_setting.js');</script>
 


<script type="text/javascript">
    $(document).ready(function () {
        ToolPopper();
        LoadDataReport_CheckInNotServiceBar();
    });
    function LoadDataReport_CheckInNotServiceBar() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/CustomerCare/CheckInNotServiceBar/?handler=Loadata"
            , data = { 'branchID': _branch, 'dateFrom': _dateFrom, 'dateTo': _dateTo }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table2"];
                    let cols = [];
                    cols.push({'label': 'Ticket', 'value': 'TicketStaff'});
                    cols.push({'label': 'Executed', 'value': 'TicketExecuted'});
                    rp_barcols('CheckInNotServiceBar', data, 'StaffName', cols);
                }
            }
        );

        return false;

    }

</script>


