@page
@model MLunarCoffee.Pages.CustomerCare.ScheduleCancelGrid
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="vtcardheader card-header pb-0 px-0">
    <div class="left">
        <h6 class="mb-0">@Local["Hủy lịch hẹn"]</h6>
        <p class="text-sm mb-0">@Local["Báo cáo khách hàng huỷ lịch hẹn theo nhân viên chăm sóc"]</p>
    </div>
    <div class="right">
        <div class="icon-hover mx-1"
             data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="@Local["Thu gọn"]">
            <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
               data-bs-toggle="collapse" href="#ScheCanGrid" aria-expanded="true"></i>
        </div>
        <div class="icon-hover mx-1"
             data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="@Local["Tải lại"]">
            <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
               onclick="event.preventDefault(); return ScheCanLoad()"></i>
        </div>
        <div class="icon-hover mx-1"
             data-bs-toggle="tooltip" data-bs-placement="top"
             data-bs-original-title="@Local["Xuất excel"]">
            <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
               onclick="event.preventDefault(); return ScheCanExport()"></i>
        </div>
    </div>
</div>
<div class="card-body p-0 pt-0">
    <div class="row px-2">
        <div class="col-12 col-sm-12 col-md-6 col-xl-6 p-1">
            <div class="fw-bold text-center text-dark text-sm">
                @Local["Lịch hẹn hủy"]:
                <span id="SchCanPieTotal" class="fw-bolder"></span>
            </div>
            <div class="position-relative" style="min-height: 250px;">
                <div class="chart position-absolute top-50 start-50 translate-middle">
                    <canvas id="SchCanPie" class="chart-canvas" height="220"></canvas>
                </div>
            </div>
            <div class="mt-2  table-responsive">
                <table class="table align-items-center mb-0">
                    <tbody id="SchCanPieList">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-xl-6 p-1">
            <div class="fw-bold text-center text-dark text-sm">
                @Local["Lý do hủy"]:
                <span id="SchReaPieTotal" class="fw-bolder"></span>
            </div>
            <div class="position-relative" style="min-height: 250px;">
                <div class="chart position-absolute top-50 start-50 translate-middle">
                    <canvas id="SchReaPie" class="chart-canvas" height="220"></canvas>
                </div>
            </div>
            <div class="mt-2  table-responsive">
                <table class="table align-items-center mb-0">
                    <tbody id="SchReaPieList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="collapsesticky collapse show" id="ScheCanGridArea">
    <div class="d-lg-flex mt-3">
        <div class="w-50 col-auto my-auto">
            <div class="d-flex align-items-center mb-sm-0 mb-4">
                <div class="form-check">
                    <input name="schcangeneral" value="1" class="schcangeneral form-check-input pr-2 cursor-pointer" type="radio" checked="checked">
                    <label class="custom-control-label">@Local["Theo chăm sóc viên"]</label>
                </div>
                <div class="form-check ms-3">
                    <input name="schcangeneral" value="2" class="schcangeneral form-check-input pr-2 cursor-pointer" type="radio">
                    <label class="custom-control-label">@Local["Theo telesale"]</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0 pt-0">
        <div class="m-0 mb-3 mt-1 mobile-responsive">
            <table class="table vt-table mb-0" id="ScheCanGrid">
                <thead>
                    <tr role="row">
                        <th rowspan="2">#</th>
                        <th rowspan="2">@Local["Tư vấn"]</th>
                        <th colspan="3">@Local["Số lịch hẹn"]</th>
                    </tr>
                    <tr role="row">
                        <th rowspan="1">@Local["Tổng lịch hẹn"]</th>
                        <th rowspan="1">@Local["Đã hủy"]</th>
                        <th rowspan="1" style="width:190px;">@Local["Tỷ lệ phần trăm"]</th>
                    </tr>
                </thead>
                <tbody id="ScheCanGridBody">
                </tbody>
            </table>
            <table class="table vt-table mb-0" id="ScheCanGridTele">
                <thead>
                    <tr role="row">
                        <th rowspan="2">#</th>
                        <th rowspan="2">@Local["Tư vấn"]</th>
                        <th colspan="3">@Local["Số lịch hẹn"]</th>
                    </tr>
                    <tr role="row">
                        <th rowspan="1">@Local["Tổng lịch hẹn"]</th>
                        <th rowspan="1">@Local["Đã hủy"]</th>
                        <th rowspan="1" style="width:190px;">@Local["Tỷ lệ phần trăm"]</th>
                    </tr>
                </thead>
                <tbody id="ScheCanGridTeleBody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="ScheCanDetail" style="display:none;">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">
            <p id="ScheCanDetailEmp" class="text-md text-dark font-weight-bold mb-1"></p>
        </div>
        <div class="right">
            <div class="wrap">
                <div class="wrapblock">
                    <div class="text-primary fw-bold d-inline mx-2 text-nowrap mt-1">
                        <span id="TD_DataSchCan">0</span>
                        <span class="mx-2">/</span>
                        <span id="TD_TotalSchCan">0</span>
                    </div>
                    <div class="icon-hover mx-1"
                         data-bs-toggle="tooltip" data-bs-placement="top"
                         data-bs-original-title="@Local["In báo cáo"]">
                        <i class="vtt-icon vttech-icon-print text-lg text-primary cursor-pointer"
                           onclick="event.preventDefault(); ScheCan_DetailPrintReport()"></i>
                    </div>
                    <div class="flex-nowrap input-group rounded-0 vttech-input-group mt-1 _tab_control_" data-tab="export_excel">
                        <div class="icon-hover mx-1 me-0 input-group-text vttech-input-item vttech-input-item-first"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Xuất excel"]">
                            <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer"></i>
                        </div>
                        <div class="input-group-text icon-hover w-auto vttech-input-item">
                            <i class="text-xs text-primary fw-bold" onclick="event.preventDefault(); return ScheCanExportDetail(0)">@Local["Tất cả"]</i>
                        </div>
                        <div class="icon-hover input-group-text w-auto vttech-input-item vttech-input-item-last">
                            <i class="text-xs text-primary fw-bold" onclick="event.preventDefault(); return ScheCanExportDetail(1)">@Local["Tùy chọn"]</i>
                        </div>
                    </div>
                    <button class="btn btn-dark btn-sm mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                        @Local["Xem thêm"]
                    </button>
                </div> 
            </div>
        </div>
        <div class="toggle">
            <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                <ul class="card card-body text-dark text-capitalize opacity-10">
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogle form-check-input" data-name="branch" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Chi nhánh"]</p>
                    </li>
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogle form-check-input" data-name="custsource" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Nguồn"]</p>
                    </li>
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogle form-check-input" data-name="cancelnote" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Ghi chú"]</p>
                    </li>
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogle form-check-input" data-name="cancelper" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Người huỷ"]</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="collapsesticky collapse show" id="ScheCanDetail">
        <div class="card-body p-0 pt-0">
            <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                <table data-name="ScheCanGridDetail" class="table vt-table mb-0" id="ScheCanGridDetail">
                    <thead>
                        <tr>
                            <th style="width: 60px">#</th>
                            <th>@Local["Mã ticket"]</th>
                            <th>@Local["Mã khách hàng"]</th>
                            <th style="text-align: center">@Local["Khách hàng"]</th>
                            <th data-name="custsource">@Local["Nguồn"]</th>
                            <th>@Local["Lý do"]</th>
                            <th data-name="cancelnote">@Local["Ghi chú"]</th>
                            <th data-name="branch">@Local["Chi nhánh"]</th>
                            <th data-name="cancelper">@Local["Người huỷ"]</th>
                            <th>@Local["Nhân viên phụ trách"]</th>
                        </tr>
                    </thead>
                    <tbody id="ScheCanGridDetailBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let xhrLoadList, xhrLoadDetail;
    let shtable;
    let DataReportDetail;
    let timeoutCount;
    $(document).ready(function () {
        shtable = $("#ScheCanGridDetail").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        ToolPopper();
        ScheCan_Typeshow(type = 1);
        ScheCanLoad();
        Checking_TabControl_Permission();
    })

    function ScheCanLoad() {
        if (xhrLoadList && xhrLoadList.readyState != 0) xhrLoadList.abort();
        let _branchID = "@Model._branchID";
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        xhrLoadList = AjaxLoad(url = "/Report/CustomerCare/ScheduleCancelGrid/?handler=Loadata"
            , data = {
                'branchID': _branchID
                , 'dateFrom': _dateFrom
                , 'dateTo': _dateTo
            }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != "0") {
                    let datas = JSON.parse(result);
                    let dataCC = datas.Table;
                    let dataTele = datas.Table1;
                    let dataReason = datas.Table2;
                    ScheCanChart(dataCC, dataReason);
                    ScheCanRender(dataCC, 'ScheCanGridBody');
                    ScheCanRender(dataTele, 'ScheCanGridTeleBody');
                } else {
                    notiError_SW();
                }
            }
        );
        return false;
    }
    async function ScheCanChart(data, datareason) {
        new Promise((resolve) => {
            let TotalApp = 0, TotalCancel = 0, TotalNotCancel = 0;
            let datarows = [];
            for (let i = 0; i < data.length; i++) {
                TotalApp += Number(data[i].TotalApp);
                TotalCancel += Number(data[i].TotalCancel);
            }
            TotalNotCancel = TotalApp - TotalCancel;
            datarows = [{ 'Name': '@Local["Lịch hẹn hủy"]', 'Number': TotalCancel }, { 'Name': '@Local["Lịch hẹn khác"]', 'Number': TotalNotCancel }];

            $('#SchCanPieTotal').html(formatNumber(TotalApp));
            ReportPie_Description(datarows, 'Name', 'Number', 'SchCanPieList');
            rp_pie("SchCanPie", datarows, 'Name', 'Number');


            $('#SchReaPieTotal').html(formatNumber(TotalCancel));
            ReportPie_Description(datareason, 'ReasonName', 'Number', 'SchReaPieList');
            rp_pie("SchReaPie", datareason, 'ReasonName', 'Number');
        })
    }
    function ScheCanRender(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    myNode.innerHTML = '';
                    let stringcontent = '';
                    let per = 0;
                    if (data && data.length > 0) {
                        let trtotal = '';
                        let numallTotal = 0, numallCan = 0, numallPer = 0
                        for (let i = 0; i < data.length; i++) {
                            let colorprogeess = 'bg-gradient-success';
                            let item = data[i];
                            per = (item.TotalApp != 0) ? (100 * item.TotalCancel / item.TotalApp) : 0;
                            numallTotal = numallTotal + item.TotalApp;
                            numallCan = numallCan + item.TotalCancel;
                            let tr = `
                                                    <td class="vt-number-order"></td>
                                                    <td style="max-width:110px;min-width:110px;">
                                                        <a href="#" class="border-1  border-primary border-bottom scdetail" data-id="${item.EmpID}">
                                                            ${RP_DataEmployee[item.EmpID] != undefined ? RP_DataEmployee[item.EmpID].Name : '@Local["Chưa có nhân viên"]'}
                                                        </a>
                                                    </td>
                                                    <td class="text-center">${formatNumber(item.TotalApp)}</td>
                                                    <td class="text-center">${formatNumber(item.TotalCancel)}</td>
                                                    <td style="width:190px;">
                                                        <div class="my-auto">
                                                            <div style="width:50px;">${per.toFixed(2)}</div>
                                                            <div class="progress ms-3" style="width:90px;">
                                                                <div class="progress-bar ${colorprogeess}" role="progressbar" style="width: ${per}%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                         `;
                            stringcontent = stringcontent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                            if (data.length > 1 && i == data.length - 1) {
                                numallPer = (numallTotal != 0 ? numallCan * 100 / numallTotal : '');
                                trtotal = `
                                                        <td></td>
                                                        <td>
                                                            <a href="#" class="border-1 border-white border-primary border-bottom scdetail text-white" data-id="-1">@Local["Tổng"]</a>
                                                        </td>
                                                        <td class="text-center">${formatNumber(numallTotal)}</td>
                                                        <td class="text-center">${formatNumber(numallCan)}</td>
                                                        <td class="text-center">${formatNumber(numallPer.toFixed(2))}</td>
                                                                      `;
                                stringcontent = stringcontent + '<tr class="text-white bg-gradient bg-primary" role="row">' + trtotal + '</tr>';
                            }
                        }

                    }
                    document.getElementById(id).innerHTML = stringcontent;
                }
                ScheCanEvent();
            }, 10)
        })
    }
    //#region Detail
    function ScheCanLoadDetail(id, type) {
        if (xhrLoadDetail && xhrLoadDetail.readyState != 4) xhrLoadDetail.abort();
        let _branchID = "@Model._branchID";
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        $('#TD_DataSchCan').html(0);
        $('#TD_TotalSchCan').html(0);
        xhrLoadDetail = AjaxLoad(url = "/Report/CustomerCare/ScheduleCancelGrid/?handler=LoadataDetail"
            , data = {
                'branchID': _branchID,
                'EmpID': id,
                'type': type,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo,
            }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != "0") {
                    DataReportDetail = JSON.parse(result);
                    $("#ScheCanGridDetailBody").empty();
                    fnRenderBlock(DataReportDetail, "ScheCanGridDetailBody"
                        , blocknum = 100
                        , fnrender = ScheCanDetailRender
                        , fnsuccess = null
                    );
                    Count_Up("TD_DataSchCan", DataReportDetail.length);
                }
            }
        );
    }
    async function ScheCanDetailRender(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length != 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = `
                                                    <tr class="vt-number">
                                                        <td class="vt-number-order"></td>
                                                        <td>
                                                            <a target="_blank" href="/Marketing/TicketAction?CustomerID=${0}&TicketID=${item.TicketID}&Type=${7}&MasterID=${0}">${item.TicketID != undefined ? item.TicketID : ''}</a>
                                                        </td>
                                                        <td>
                                                            <a target="_blank" href="/Customer/MainCustomer?CustomerID=${item.CustID}&ver=${versionofWebApplication}">${item.CustCode != undefined ? item.CustCode : ''}</a>
                                                        </td>
                                                        <td>${item.CustName}</td>
                                                        <td data-name="custsource" class="col-2">${item.CustSource}</td>
                                                        <td class="col-2">${item.CancelReason}</td>
                                                        <td data-name="cancelnote" class="col-2">${item.CancelNote}</td>
                                                        <td data-name="branch">${(RP_DataBranch[item.BranchID] != undefined) ? RP_DataBranch[item.BranchID].Name : ''}</td>
                                                        <td data-name="cancelper">
                                                            <div class="d-flex align-items-center">
                                                                <div class="icon icon-shape icon-sm me-2 text-center">
                                                                    <img class="avatar avatar-xs mt-2" src="${RP_DataEmployee[item.CancelPer] != undefined ? RP_DataEmployee[item.CancelPer].Avatar : Master_Default_Pic}"/>
                                                                </div>
                                                                <div>
                                                                    <h6 class="m-0">${(RP_DataEmployee[item.CancelPer] != undefined ? RP_DataEmployee[item.CancelPer].Name : '')}</h6>
                                                                    <span>${ConvertDateTimeUTC_DMYHM(item.CancelDate)}</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>${RP_DataEmployee[item.EmpID] != undefined ? RP_DataEmployee[item.EmpID].Name : '@Local["Chưa có nhân viên"]'}</td>
                                                    </tr>
                                                         `;
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }

                }
                shtable.Refresh();
                clearTimeout(timeoutCount);
                timeoutCount = setTimeout(() => {
                    Count_Up("TD_TotalSchCan", $("#" + id).children().length);
                }, 300)
                resolve();
            }, 10)
        })
    }
    //#endregion
    //#region Event
    function ScheCanEvent() {
        $("#ScheCanGridBody .scdetail").unbind().on('click', function () {
            let id = $(this).attr('data-id');
            $('#ScheCanDetail').fadeIn('slow');
            $('html, body').animate({
                scrollTop: $("#ScheCanDetail").offset().top
            }, 300);
            $("#ScheCanDetailEmp").html((RP_DataEmployee[id] != undefined) ? RP_DataEmployee[id].Name : '');
            ScheCanLoadDetail(id, type = 1);
        });
        $("#ScheCanGridTeleBody .scdetail").unbind().on('click', function () {
            let id = $(this).attr('data-id');
            $('#ScheCanDetail').fadeIn('slow');
            $('html, body').animate({
                scrollTop: $("#ScheCanDetail").offset().top
            }, 300);
            $("#ScheCanDetailEmp").html((RP_DataEmployee[id] != undefined) ? RP_DataEmployee[id].Name : '');
            ScheCanLoadDetail(id, type = 2);
        });
        $(".schcangeneral").unbind().change(function () {
            let val = Number($(this).val());
            ScheCan_Typeshow(val);

        })
    }
    function ScheCan_Typeshow(type) {
        switch (type) {
            case 1:
                $('#ScheCanGridTele').addClass('d-none');
                $('#ScheCanGrid').removeClass('d-none');
                break;
            case 2:
                $('#ScheCanGridTele').removeClass('d-none');
                $('#ScheCanGrid').addClass('d-none');
                break;
        }
    }
    function ScheCanExport() {
        syslog_ExpExcel('e', Outlang['Huy_lich_hen']);
        exportToExcel("ScheCanGrid", Outlang['Huy_lich_hen']);
    }
    async function ScheCanExportDetail(isOption = 0) {
        try {
            var fileName = xoa_dau($("#ScheCanDetailEmp").text()).replaceAll(' ', '-');
            fileName = fileName != '' ? fileName.toString() : Outlang['Tat_ca_nhan_vien'];
            if (DataReportDetail && DataReportDetail.length != 0) {
                let isAll = (isOption == 0);
                let eleContainer = $('#ScheCanDetail');
                var dataHeader = {
                    "STT": ["@Local["STT"]", (value, { }, index) => { return index + 1; }],
                    "CustCode": ["@Local["Mã khách hàng"]"],
                    "CustName": ["@Local["Khách hàng"]"],
                    "CustSource": {
                        isShow: isAll || (eleContainer.find(`.shtoogle[data-name='custsource']`)).is(":checked"),
                        data: ["@Local["Nguồn khách hàng"]"]
                    },
                    "CancelReason": ["@Local["Lý do"]"],
                    "CancelNote": {
                        isShow: isAll || (eleContainer.find(`.shtoogle[data-name='cancelnote']`)).is(":checked"),
                        data: ["@Local["Ghi chú"]"]
                    },
                    "Branch": {
                        isShow: isAll || (eleContainer.find(`.shtoogle[data-name='branch']`)).is(":checked"),
                        data: ["@Local["Chi nhánh"]", (value, { BranchID }) => { return (RP_DataBranch[BranchID] != undefined) ? RP_DataBranch[BranchID].Name : '' }]
                    },
                    "CancelPer": {
                        isShow: isAll || (eleContainer.find(`.shtoogle[data-name='cancelper']`)).is(":checked"),
                        data: ["@Local["Người huỷ"]", (value, { CancelPer }) => { return (RP_DataEmployee[CancelPer] != undefined ? RP_DataEmployee[CancelPer].Name : '') }]
                    },
                    "CancelDate": ["@Local["Ngày huỷ"]", (value, { CancelDate }) => { return ConvertDateTimeUTC_DMYHM(CancelDate) }],
                    "Employee": ["@Local["Nhân viên phụ trách"]", (value, { EmpID }) => { return (RP_DataEmployee[EmpID] != undefined ? RP_DataEmployee[EmpID].Name : '') }]
                }
                dataHeader = Checking_TabControl_System_RebuildHeader(dataHeader, tableBodyId = 'ScheCanGridDetailBody', PermissionTable_TabControl);
                syslog_ExpExcel('e', fileName);
                exportJsonToExcel(fileName, DataReportDetail, dataHeader);
            }
            else {
                notiWarning('@Local["Không có dữ liệu để xuất"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không xuất được file"]!');
        }
    }
    async function ScheCan_DetailPrintReport() {
        try {
            if (DataReportDetail && DataReportDetail.length != 0) {
                let _branchID = "@Model._branchID";
                let _dateFrom = "@Model._dateFrom";
                let _dateTo = "@Model._dateTo";
                var dataHeader = {
                    "STT": ["@Local["STT"]", {
                        callbackRenderValue: (value, { }, index) => { return index + 1; }
                    }],
                    "CustCode": ["@Local["Mã khách hàng"]"],
                    "CustName": ["@Local["Khách hàng"]"],
                    "CustSource": ["@Local["Nguồn khách hàng"]", {
                        isShow: $(`.shtoogle[data-name='custsource']`).is(":checked")
                    }],
                    "CancelReason": ["@Local["Lý do"]"],
                    "CancelNote": ["@Local["Ghi chú"]", {
                        isShow: $(`.shtoogle[data-name='cancelnote']`).is(":checked")
                    }],
                    "BranchID": ["@Local["Chi nhánh"]", {
                        isShow: $(`.shtoogle[data-name='branch']`).is(":checked"),
                        callbackRenderValue: (value, { BranchID }) => {
                            return (RP_DataBranch[BranchID] != undefined) ? RP_DataBranch[BranchID].Name : '';
                        }
                    }],
                    "CancelPer": ["@Local["Người huỷ"]", {
                        isShow: $(`.shtoogle[data-name='cancelper']`).is(":checked"),
                        callbackRenderValue: (value, { BranchID }) => {
                            return (value, { CancelPer }) => { return (RP_DataEmployee[CancelPer] != undefined ? RP_DataEmployee[CancelPer].Name : '') };
                        }
                    }],
                    "CancelDate": ["@Local["Ngày huỷ"]", {
                        callbackRenderValue: (value, { CancelDate }) => { return ConvertDateTimeUTC_DMYHM(CancelDate) }
                    }],
                    "Employee": ["@Local["Nhân viên phụ trách"]", {
                        callbackRenderValue: (value, { EmpID }) => { return (RP_DataEmployee[EmpID] != undefined ? RP_DataEmployee[EmpID].Name : '') }
                    }]
                };
                $("#MainSendMail_Content").empty();
                $("#MainSendMail_Content").load('/Print/Reports/reportform?&dateFrom=' + _dateFrom + '&dateTo=' + _dateTo + '&branch=' + _branchID + '&ver=' + versionofWebApplication
                    , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "success") {
                            $("#MainSendMail").addClass('active');
                            let fileName = $("#ScheCanDetailEmp").text() != '' ? $("#ScheCanDetailEmp").text() : '@Local["Tất cả nhân viên"]';
                            let options = {
                                empName: sys_employeeName_Main
                            }
                            if (typeof PRF_CBPrintReport === 'function')
                                PRF_CBPrintReport(namePrint = fileName, DataReportDetail, dataHeader, options);
                        }
                        if (statusTxt == "error") {
                            console.warn("error");
                        }
                    })
            }
            else {
                notiWarning('@Local["Không có dữ liệu"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không in được file"]!');
        }
    }
                        //#endregion
</script>
