@page
@model MLunarCoffee.Pages.Setting.Measure.MeasureContentDetail.MesureContentDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Nội dung tình trạng"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết Nội dung tình trạng"]</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formMsContent">
                        <div class="field col-12 p-1">
                            <label>@Local["Nội dung tình trạng"]</label>
                            <input class="form-control" id="MsContentName" name="name" type="text" />
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formMsContent" onclick="event.preventDefault(); return CloseModal()">@Local["Đóng"]</button>
                        <button form="formMsContent" type="button" class="btn bg-gradient-primary mt-2 me-2 setting_projectclosure" onclick="event.preventDefault();return  MsContent_Excute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var Ser_MSContentID;
        $(document).ready(function () {
            Ser_MSContentID = @Model._MsContentID;
            if (Ser_MSContentID != "0") {
                MsContent_LoadUpdate();
            }
        });

    function  MsContent_Excute() {
        let Name = $('#MsContentName').val() ? $('#MsContentName').val() : "";
        $('#formMsContent').form('validate form');
        if ($('#formMsContent').form('is valid')) {
                AjaxLoad(url = "/Setting/Measure/MeasureContentDetail/?handler=ExcuteData"
                    , data = {
                        Name: Name,
                        CurrentID: Ser_MSContentID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            MSContentLoad();

                            $('#DetailModal').modal('hide');
                            $("#DetailModal_Content").html('');
                        } else if (result == "-1") {
                            $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                        } else {
                            notiError_SW();
                        }
                    });

            }
            return false;
        }

        function MsContent_LoadUpdate() {
            AjaxLoad(url = "/Setting/Measure/MeasureContentDetail/?handler=Loadata"
                , data = {
                    id: Ser_MSContentID
                }, async = true, error = null
                , success = function (result) {
                    let data = JSON.parse(result);
                    $('#MsContentName').val(data[0].Name);
                });

        }
</script>
<script src="/js/main.js"></script>
<script src="/js/customjs/custom-validation.js"></script>
