@page
@model MLunarCoffee.Pages.WareHouse.Setting.WareHouseExportReasonListModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="container-fluid p-0" id="WSEReason_Container">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-3">
                    <div class="left">
                        <h6 class="mb-0">@Local["Danh sách lý do xuất kho"]</h6>
                        <p class="text-sm mb-0">@Local["Những lý do đã sử dụng không được xóa"]</p>
                    </div>
                    <div class="right">
                        <button id="WSEReason_btnAdd" class="btn bg-gradient-primary btn-sm mt-1" onclick="event.preventDefault(); return AddNewWareHouseExportReason()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="m-0 my-3 mobile-responsive">
                        <div class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table vt-table mb-0" id="dtContentWareHouseExportReason">
                            <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th style="width: 70px;">@Local["#"]</th>
                                    <th>@Local["Lý do"]</th>
                                    <th>@Local["Người sửa"]</th>
                                    <th class="WSEReason_thHandle" style="width: 70px;">@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentWareHouseExportReasonBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let DataUser;

    $(document).ready(function () {

        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                LoadExportReasonjax();
        });

        $('#dtContentWareHouseExportReason tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            EditExportReason(ID);
        });
        $('#dtContentWareHouseExportReason tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DeleteExportReason(ID)
        });

    });

    function LoadExportReasonjax() {
        AjaxLoad(url = "/WareHouse/Setting/WareHouseExportReasonList/?handler=LoadData"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data.length > 0) {
                        RenderTabledWareHouseExportReason(data, 'dtContentWareHouseExportReasonBody');
                    }
                }
            }
        );
    }

    function RenderTabledWareHouseExportReason(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>'
                        + '<a class="buttonEditClass d-inline-block fw-bold border-bottom border-dark cursor-pointer">' + item.Name + '</a>'
                        + '</td>'
                        + '<td>'
                        + '<div class="d-inline">'
                        + '<img title="admin" class="avatar avatar-xs me-2" src="' + img + '" alt="label-image">'
                        + '<span>' + GetDateTime_String_DMY(item.DayEditor) + '</span>'
                        + '</div>'
                        + '</td>'
                        + ((item.DeleteButton === 1)
                            ? ('<td class="text-center WSEReason_rowBtnHandle"><button class="buttonGrid _tab_control_" data-tab="delete_tab_ware_house_export_reason" value="'
                                + item.ID
                                + '"><i  class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button></td>')
                            : '<td class="WSEReason_rowBtnHandle"></td>')

                    stringContent = stringContent + '<tr role="row" class="vt-number">' + tr + '</tr>';
                }
            }
            myNode.innerHTML = stringContent;
        }
        Checking_TabControl_Permission();
    }

    function DeleteExportReason(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDeleteExportReason(id); }, function () { });
    }

    function ExecuteDeleteExportReason(id) {
        AjaxLoad(url = "/WareHouse/Setting/WareHouseExportReasonList/?handler=DeleteItem"
            , data = { 'id': id }, async = false, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadExportReasonjax();
                } else {
                    notiError_SW();
                }
            }
        );

    }

    function EditExportReason(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/WareHouse/Setting/WareHouseExportReasonDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function AddNewWareHouseExportReason() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/WareHouse/Setting/WareHouseExportReasonDetail?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

</script>
<script>js_require('/js/main.js');</script>
