@page
@model MLunarCoffee.Pages.Setting.Print.RulePrintServiceTypeDetailModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Yêu cầu in theo loại dịch vụ"]</h6>
                            <p class="text-sm mb-0">@Local["Thêm mới"]/@Local["Chỉnh sửa"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="row px-2 form3">
                    <div class="col-12 col-sm-6 p-1">
                        <label>@Local["Loại dịch vụ"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="RD_ServiceType">
                            <input type="hidden" />
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text"></div>
                            <div id="RD_CbbServiceType" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 p-1">
                        <label>@Local["Mẫu in yêu cầu"]</label>
                        <div class="ui fluid search selection dropdown multiple form-control" id="RD_StogeRule">
                            <input type="hidden" />
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text"></div>
                            <div id="RD_CbbStogeRule" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault(); return CloseModal()">@Local["Hủy"]</button>
                        <button type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="RuleDetail_Executed();">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region //Load && Init
    let RD_CurrentID = Number(@Model._SerTypeID);
    $(document).ready(function () {
        RuleDetail_LoadInit();
    })

    function RuleDetail_LoadInit () {
        AjaxLoad(url = "/Setting/Print/RulePrintServiceTypeDetail/?handler=LoadInit"
            , data = {}
            , async = true, error = null
            , success = function (result) {
                if (result != '') {
                    let data = JSON.parse(result);
                    Load_Combo(data.ServiceType, "RD_CbbServiceType", true);
                    Load_Combo(data.StogeRule, "RD_CbbStogeRule", true);
                    $("#RD_ServiceType").dropdown("refresh");
                    $("#RD_ServiceType").dropdown("set selected", data.ServiceType[0].ID);
                    $("#RD_StogeRule").dropdown("refresh");

                    if (RD_CurrentID != 0) {
                        RuleDetail_Load();
                    }
                }
            }
        );
    }

    function RuleDetail_Load () {
        AjaxLoad(url = "/Setting/Print/RulePrintServiceTypeDetail/?handler=LoadDetail"
            , data = {"ID": RD_CurrentID}
            , async = true, error = null
            , success = function (result) {
                if (result != '') {
                    let data = JSON.parse(result);


                    $("#RD_ServiceType").dropdown("refresh");
                    $("#RD_ServiceType").dropdown("set selected", data[0].ID);

                    $("#RD_StogeRule").dropdown("refresh");
                    $('#RD_StogeRule').dropdown('set selected', data[0].StogeRule.split(","));

                }
            }
        );
    }

    //#endregion

    //#region //Executed

    function RuleDetail_Executed () {
        let RD_SerType = $("#RD_ServiceType").dropdown("get value") ? Number($("#RD_ServiceType").dropdown("get value")) : 0;
        let RD_StoreRule = $("#RD_StogeRule").dropdown("get value") ? $("#RD_StogeRule").dropdown("get value") + ',' : '';

        AjaxLoad(url = "/Setting/Print/RulePrintServiceTypeDetail/?handler=Executed"
            , data = {
                "SerTypeID": RD_SerType
                , "StoreRule": RD_StoreRule
            }
            , async = true, error = null
            , success = function (result) {
                if (result != '') {
                    notiSuccess();
                    RuleP_Load();
                    CloseModal();
                }
            }
        );
    }

    //#endregion
</script>