@page
@model MLunarCoffee.Pages.Marketing.TicketFile.TicketFile_Folder_ManageModel
@{
    Layout = null;
}

<div class="container-fluid py-2 px-0">
    <div class="row">
        <div class="col-12">
            <div class="card" id="Ticket_File_Manual_Main">
                <div class="card-header pb-0">
                    <h6 class="mb-0">@Local["Quản lý tập tin của tele được chuyển dữ liệu"]</h6>
                    <p class="text-sm mb-0">@Local["Tài khoản telesale sẻ xem được dữ liệu khi chuyển dữ liệu từ tập tin được tải lên ở đây"]</p>
                </div>
                <div class="card-body pt-2 ">
                    <div class="col-12 p-1">
                        <div class="d-flex">
                            <div id="btn_ticket_file_manual_filter">
                                <button class="btn btn-sm btn-outline-dark" data-filter="all">@Local["Đặt lại"]</button>
                                <button class="btn btn-sm btn-outline-dark" data-filter="1">@Local["Hôm nay"]</button>
                                <button class="btn btn-sm btn-outline-dark" data-filter="2">3 @Local["Ngày"]</button>
                                <button class="btn btn-sm btn-outline-dark" data-filter="3">7 @Local["Ngày"]</button>
                            </div>
                            <div id="btn_ticket_file_manual_sort" class="ps-1">
                                <button id="btn_ticket_file_manual_az" class="btn btn-sm btn-outline-info" data-sort="asc">A - Z</button>
                                <button class="btn btn-sm btn-outline-info" data-sort="desc">Z - A</button>
                            </div>
                        </div>
                    </div>
                    <div id="popupExecute_Ticket_File_Manual" class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3 shadow-lg">
                        <a class="dropdown-item" href="#" onclick="Ticket_File_Manual_Prepare_UpdateName()">
                            <span>@Local["Đổi tên"]</span>
                        </a>
                        <a id="btnTicket_File_Manual_UpdateUnSeen" class="dropdown-item" href="#" onclick="Ticket_File_Manual_UpdateUnSeen()">
                            <span>@Local["Đánh dấu chưa xem"]</span>
                        </a>
                        <a id="btnTicket_File_Manual_Devide" class="dropdown-item" href="#" onclick="Ticket_File_Manual_Devide()">
                            <span>@Local["Chia dữ liệu"]</span>
                        </a>
                    </div>
                    <div id="Ticket_File_Manual_Waiting" class="waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="row" id="Ticket_File_Manual_Folder_Main">
                    </div>
                </div>
            </div>
            <div class="card" id="Ticket_File_Manual_Detail">
                <div class="card-body pt-2 ">
                    <button title="@Local["Trở lại"]" class="buttonGrid d-flex" onclick="Ticket_File_Manual_Back()">
                        <i class=" vtt-icon vttech-icon-Arrow-lefts text-dark text-sm"></i>
                        <h6 class="ps-2" id="Ticket_File_Manual_Header_Back"></h6>
                    </button>
                    <div id="Ticket_File_Manual_Folder_Detail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>js_require_notasync('/js/TicketFile/folder_manage.js');</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

<script type="text/javascript">
    var Ticket_File_Manual_UserID = '@Model._UserTeleID';
    var Ticket_File_Manual_CurrentID = 0;
    var Ticket_File_Manual_CurrentName = 0;
    var Ticket_File_Manual_ImportID = 0;
    var Ticket_File_Manual_BlockIndex = 0;
    var Ticket_File_Manual_DataMain;

    $(document).ready(function () {
        Ticket_File_Manual_Load();
        Ticket_File_Manual_Filter();
        Ticket_File_Manual_Sort();
    });

    document.addEventListener("click", function () {
        $("#popupExecute_Ticket_File_Manual").hide();
    });
    function Ticket_File_Manual_Filter() {
        $("#btn_ticket_file_manual_filter").on("click", ".btn", function () {
            let _filter = $(this).attr("data-filter");
            if (_filter == "all") {
                Ticket_File_Manual_Render(Ticket_File_Manual_DataMain, "Ticket_File_Manual_Folder_Main");
                Ticket_File_Manual_Event();
            }
            else {
                $("#Ticket_File_Manual_Folder_Main .filtr_item_file").each(function () {
                    let _category = $(this).attr("data-category");
                    if (_category != _filter) {
                        $(this).hide();
                    }
                    else {
                        $(this).fadeIn();
                    }
                })
            }
        })
    }
    function Ticket_File_Manual_Sort() {
        $("#btn_ticket_file_manual_sort").on("click", ".btn", function () {
            let _sort_by = $(this).attr("data-sort");
            let _list = $("#Ticket_File_Manual_Folder_Main .filtr_item_file");
            if (_sort_by == "asc") {
                _list.detach().sort(function (a, b) {
                    let sort_a = $(a).data("sort");
                    let sort_b = $(b).data("sort");
                    return (sort_a < sort_b) ? (sort_a < sort_b) ? 1 : 0 : -1;
                })
            }
            else {
                _list.detach().sort(function (a, b) {
                    let sort_a = $(a).data("sort");
                    let sort_b = $(b).data("sort");
                    return (sort_a > sort_b) ? (sort_a > sort_b) ? 1 : 0 : -1;
                })
            }
            $("#Ticket_File_Manual_Folder_Main").append(_list);
            Ticket_File_Manual_Event();
        })
    }


    async function Ticket_File_Manual_Load() {
        await new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    AjaxLoad(url = "/Marketing/TicketFile/TicketFile_Folder_Manage/?handler=LoadData"
                        , data = { "user": Ticket_File_Manual_UserID }
                        , async = true
                        , error = function () { notiError_SW(); }
                        , success = function (result) {
                            if (result != "0") {
                                Ticket_File_Manual_DataMain = JSON.parse(result);
                                Ticket_File_Manual_Render(Ticket_File_Manual_DataMain, "Ticket_File_Manual_Folder_Main");
                                Ticket_File_Manual_Event();
                            }
                        }
                        , sender = null
                        , before = function (e) {
                            $("#Ticket_File_Manual_Folder_Main").hide();
                            $("#Ticket_File_Manual_Waiting").show();
                        }
                        , complete = function (e) {
                            $("#Ticket_File_Manual_Folder_Main").show();
                            $("#Ticket_File_Manual_Waiting").hide();
                            $("#btn_ticket_file_manual_az").click();
                        }
                    );
                    resolve()
                }
            );
        });

    }
    function Ticket_File_Manual_Event() {
        $(".folder_ticket_icon").click(function (event) {
            Ticket_File_Reset_Fill_Popup();
            let pos_top = $(this).parent().parent().parent().position().top + $(this).parent().parent().parent().height();
            let pos_left = $(this).parent().parent().parent().position().left;

            $("#popupExecute_Ticket_File_Manual").css({
                "display": "block"
                , "left": pos_left + 55
                , "top": pos_top - 115
            });
            let _id = $(this).attr("data-id");
            let _import_id = $(this).attr("data-importid");
            let _block_index = $(this).attr("data-blockindex");
            let _devide = $(this).attr("data-devide");

            Ticket_File_Manual_CurrentID = Number(_id);
            Ticket_File_Manual_ImportID = Number(_import_id);
            Ticket_File_Manual_BlockIndex = Number(_block_index);
            Ticket_File_Manual_Button_Popup(_devide);

            if ($('#folder_ticket_name_' + _id).length)
                Ticket_File_Manual_CurrentName = $('#folder_ticket_name_' + _id).val();
            else Ticket_File_Manual_CurrentName = "";
            event.stopPropagation();
        });

        $("#Ticket_File_Manual_Folder_Main").on('click', '.view_detail', function () {
            let _id = $(this).attr("data-id");
            $('#Ticket_File_Manual_Detail').show();
            $('#Ticket_File_Manual_Main').hide();
            if ($('#folder_ticket_name_' + _id).length)
                $('#Ticket_File_Manual_Header_Back').html($('#folder_ticket_name_' + _id).val());
            else $('#Ticket_File_Manual_Header_Back').html('')
            $('#Ticket_File_Manual_Folder_Detail').empty();
            $('#Ticket_File_Manual_Folder_Detail').load("/Marketing/TicketFile/TicketFile_Folder_Detail?CurrentID=" + _id);
        });

        $(".filtr_item_file").click(function (event) {
            let _id = $(this).attr("data-id");
            Ticket_File_Manual_UpdateSeen(_id, 1);
        });

    }
    function Ticket_File_Reset_Fill_Popup() {
        $("#popupExecute_Ticket_File_Manual .item").removeClass("active selected");
    }
    function Ticket_File_Manual_Back() {
        $('#Ticket_File_Manual_Detail').hide();
        $('#Ticket_File_Manual_Main').show();
    }

    function Ticket_File_Manual_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let classname_seen = (Number(item.IsSeen) == 0 && Number(item.IsFrom) == 0) ? 'filtr_item_file_unseen' : '';
                    let div =
                        '<div class="col-w-250 filtr_item_file pb-3" data-category="'
                        + Ticket_File_Manual_Render_Filter(item.IsToDay, item.IsThreeDay, item.IsSevenDay, item.IsThirtyDay)
                        + '" data-sort="' + item.Name + '"  data-id="' + item.ID + '">'
                        + '    <div class="card ' + classname_seen + '" id="filtr_item_file_' + item.ID + '">'
                        + '        <div class="d-flex">'
                        + '            <div class="text-center ms-auto mt-2">'
                        + '             <div class="text-center">'
                        + '                 <a href="#" class="pe-auto view_detail" data-id="' + item.ID + '"><i class="folder_ticket_img vtt-icon vttech-icon-export-ex" style="color: #2c8153; font-size: 60px;"></i></a>'
                        + '             </div>'
                        + '             <p class="text-sm mb-0">' + Ticket_File_Manual_Render_Name(item.ID, item.Name)
                        + ((Number(item.IsDevide) == 1) ? '<i class="check circle icon folder_ticket_icon_devide text-dark text-sm"></i>' : '')
                        + '             </p>'
                        + '             <p class="text-sm mb-0"> ' + item.Block_Number + ' records ' + ((Number(item.IsFrom) == 1) ? '<i title="@Local["Chia"]" class="vtt-icon vttech-icon-check text-dark text-sm"></i>' : '') + ' </p>'
                        + '             <p class="text-sm">' + formatDate_to_ddmmyyyyHHMM(item.Date_Send) +'</p>'
                        + '         </div>'
                        + '         <div class="ms-auto">'
                        + ((Number(item.IsFrom) == 0)
                            ? ('<button class=" btn btn-link text-secondary ps-0 pe-2 folder_ticket_icon" data-id="' + item.ID + '" data-importid="' + item.ImportID + '" data-devide="' + item.IsDevide + '" data-blockindex="' + item.Block_Index + '">'
                        + '                 <i class="fa fa-ellipsis-v text-lg"></i>'
                        + '             </button>'  ) : "")
                        + '         </div>'
                        + '     </div>'
                        + ' </div>'
                        + '</div>'
                    stringContent = stringContent + div;
                }
            }
            myNode.innerHTML = stringContent;
        }
    }

    function Ticket_File_Manual_Render_Name(id, name) {
        return '<input class="text-dark fw-bold folder_ticket_name" id="folder_ticket_name_' + id + '" type="text" value="' + name + '" disabled/>';
    }

    function Ticket_File_Manual_Render_Filter(IsToDay, IsThreeDay, IsSevenDay) {
        if (Number(IsToDay) == 1) return "1";
        else if (Number(IsThreeDay) == 1) return "2";
        else if (Number(IsSevenDay) == 1) return "3";
        else return "4";
    }

</script>

<style>

    .folder_ticket_img:before {
        font-size: 40px;
    }

    .filtr_item_file_unseen {
        background: #ddf0ff;
        border: 1px dashed #c9c9c9;
    }

    .folder_ticket_name {
        background: transparent;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-size: 14px;
        border: none;
        width: 90%;
        color: #2080c8;
        margin: auto;
    }

    .folder_ticket_name_progressing {
        border: solid #b8b8b8 1px;
        border-radius: 10px;
    }

    #Ticket_File_Manual_Detail {
        display: none;
    }
</style>