@page
@model MLunarCoffee.Pages.Marketing.TicketFile.TicketFile_Folder_DetailModel
@{
    Layout = null;
}
<div class="container-fluid py-3 px-0">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3 h-100 mt-2 flex-grow-1 px-1">
            <div class="card bg-gray-100 border-radius-lg card-plain">
                <div class="card-body p-3">
                    <div class="my-auto">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Số lượng"]</div>&nbsp;:
                            <div id="TicketFile_Number" class=" ms-auto text-end"></div>
                        </div>
                        <hr class="horizontal dark my-1">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Đến"]</div>&nbsp;:
                            <div id="TicketFile_NameTo" class="ms-auto text-end"></div>
                        </div>
                        <hr class="horizontal dark my-1">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Thông tin"]</div>&nbsp;:
                            <div class="ms-auto text-end">
                                <div id="TicketFile_NameFrom" class="file_title_details"></div>
                                <div id="TicketFile_DateSend" class="file_title_details"></div>
                                @*<div id="TicketFile_FileImport" class="file_title_details"></div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 h-100 mt-2 flex-grow-1 px-1">
            <div class="card bg-gray-100 border-radius-lg card-plain">
                <div class="card-body p-3">
                    <div class="ms-0 my-auto">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Tổng ticket"]</div>
                            <div id="TicketFile_TotalTicket" class=" ms-auto text-end">0</div>
                        </div>
                        <hr class="horizontal dark my-1">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Đã chia"]</div>
                            <div id="TicketFile_TotalDevide" class=" ms-auto text-end">0</div>
                        </div>
                        <hr class="horizontal dark my-1">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Đã xử lý"]</div>
                            <div id="TicketFile_TotalExecute" class=" ms-auto text-end">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="TableFolderDetail" class="col-12 col-md-12 col-xl-6 mt-2 px-1">
            <div class="mt-0 px-0">
                <div class="card-body pt-0 px-0">
                    <div class="m-0 my-0 mobile-responsive">
                        <div id="loaderList_TicketFileDetail" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table vt-table mb-0" id="dtContentTicketFileHandleDetail">
                            <thead>
                                <tr>
                                    <th style="width: 30px;">@Local["#"]</th>
                                    <th style="min-width: 120px;">@Local["Tên"]</th>
                                    <th style="min-width: 100px;">@Local["Đã chia"]</th>
                                    <th style="min-width: 100px;">@Local["Đã xử lý"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentTicketFileHandleDetailBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-1">
            <div class="mt-3">
                <div class="card-header pb-0 px-0 pt-0">
                    <h6 class="mb-0">@Local["Danh sách ticket"]</h6>
                </div>
                <div class="card-body pt-2 px-0 pb-0">
                    <div class="m-0 my-3 mobile-responsive" style="max-height: 600px;">
                        <div id="loaderList_TicketImportDetail" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table vt-table mb-0" id="dtContentTicketFileDetail">
                            <thead>
                                <tr>
                                    <th style="display: none">ID</th>
                                    <th style="width: 30px;">@Local["#"]</th>
                                    <th>@Local["Tên"]</th>
                                    <th style="min-width: 100px;">@Local["Số điện thoại"]</th>
                                    <th style="width: 120px;">@Local["Đã chia"]</th>
                                    <th style="width: 120px;">@Local["Đã xử lý"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentTicketFileDetailBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    let sys_TicketFileID = '@Model._TicketFileID';

    $(document).ready(function () {
        TicketFileDetail_LoadData();
        Checking_TabControl_Permission();
    });

    function TicketFileDetail_LoadData() {
        AjaxLoad(url = "/Marketing/TicketFile/TicketFile_Folder_Detail/?handler=Loadata"
            , data = { 'FileID': sys_TicketFileID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                let data_list_ticket = data.Table;
                let data_list_ticket_handle = data.Table1;
                let data_total_ticket_handle = data.Table2;
                let ticket_file_detail = data.Table3;

                //Total Handle Ticket
                $("#TicketFile_TotalTicket").html(data_total_ticket_handle[0].TOTAL);
                $("#TicketFile_TotalDevide").html(data_total_ticket_handle[0].TOTAL_DEVIDE);
                $("#TicketFile_TotalExecute").html(data_total_ticket_handle[0].TOTAL_EXECUTE);

                //Info Folder
                $("#TicketFile_DateSend").html(ConvertDateTimeUTC_DMYHM(ticket_file_detail[0].DateSend));
                $("#TicketFile_Number").html(ticket_file_detail[0].BlockNumber + ' tickets');
                //$("#TicketFile_FileImport").html(ticket_file_detail[0].FileImport);
                $("#TicketFile_NameFrom").html(ticket_file_detail[0].User_From);
                $("#TicketFile_NameTo").html(ticket_file_detail[0].User_To);

                if (data_list_ticket_handle && data_list_ticket_handle.length != 0) {
                    $("#TableFolderDetail").show();
                    RenderTable_TicketFile_Handle(data_list_ticket_handle, "dtContentTicketFileHandleDetailBody");
                }
                else $("#TableFolderDetail").hide();

                fnRenderBlock(data_list_ticket, "dtContentTicketFileDetailBody"
                    , blocknum = 100
                    , fnrender = RenderTable_TicketFile_Detail
                    , fnsuccess = null
                );
            }
            , sender = null
            , before = function (e) {
                $("#dtContentTicketFileDetail").hide();
                $("#loaderList_TicketFileDetail").show();
            }
            , complete = function (e) {
                $("#dtContentTicketFileDetail").show();
                $("#loaderList_TicketFileDetail").hide();
            }
        );
    }


    async function RenderTable_TicketFile_Detail(data, id) {
        return new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =`
                            <tr class="vt-number">
                                <td class="d-none">${item.ID}</td>
                                <td class="vt-number-order"></td>
                                <td>${item.name}</td>
                                <td class="_tab_control_" data-tab="phone_customer">${item.phone }</td>
                                <td class="text-center">${((item.IsDevide) ? ('<i class="vtt-icon vttech-icon-check"></i>') : '')}</td>
                                <td class="text-center">${((item.IsExecute) ? ('<i class="vtt-icon vttech-icon-check"></i>') : '')}</td>
                            </tr>`
                        myNode.insertAdjacentHTML("beforeend", tr);
                    }
                }
            }
        })
    }

    async function RenderTable_TicketFile_Handle(data, id) {
        return new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            '<td class="vt-number-order"></td>'
                            + '<td>' + item.EmpName + '</td>'
                            + '<td class="text-center">' + item.TotalDevide + '</td>'
                            + '<td class="text-center">' + item.TotalExecute + '</td>'
                        tr = '<tr class="vt-number">' + tr + '</tr>';
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
            }
        });
    }
</script>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>

