@page
@model MLunarCoffee.Pages.Marketing.TicketFile.TicketFile_File_DetailModel
@{
    Layout = null;
}

<div class="container-fluid py-0 px-0">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3 h-100 mt-2 flex-grow-1 px-1">
            <div class="card bg-gray-100 border-radius-lg card-plain">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="my-auto">
                                <div class="mb-0 text-dark text-sm d-flex">
                                    <div data-fontchanged="true">@Local["Người tạo"]</div>&nbsp;
                                    <div id="TicketImport_CreatedBy" class=" ms-auto text-end">.........</div>
                                </div>
                                <hr class="horizontal dark my-1">
                                <div class="mb-0 text-dark text-sm d-flex">
                                    <div data-fontchanged="true">@Local["Ngày tạo"]</div>&nbsp;
                                    <div id="TicketImport_Created" class=" ms-auto text-end">dd-mm-yyy</div>
                                </div>
                                <hr class="horizontal dark my-1">
                                <div class="mb-0 text-dark text-sm d-flex">
                                    <div data-fontchanged="true">@Local["Số lượng"]</div>&nbsp;
                                    <div id="TicketImport_Number" class=" ms-auto text-end">0</div>
                                </div>
                                <hr class="horizontal dark my-1">
                                <div class="mb-0 text-dark text-sm d-flex">
                                    <div data-fontchanged="true">@Local["Nhân viên"] marketing</div>&nbsp;
                                    <div id="TicketImport_MarEmployee" class=" ms-auto text-end">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 h-100 mt-2 flex-grow-1 px-1">
            <div class="card bg-gray-100 border-radius-lg card-plain">
                <div class="card-body p-3">
                    <div class="ms-0 my-auto">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Tổng ticket"]</div>
                            <div id="TicketFile_TotalTicket" class=" ms-auto text-end">0</div>
                        </div>
                        <hr class="horizontal dark my-1">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Đã chia"]</div>
                            <div id="TicketFile_TotalDevide" class=" ms-auto text-end">0</div>
                        </div>
                        <hr class="horizontal dark my-1">
                        <div class="mb-0 text-dark text-sm d-flex">
                            <div>@Local["Đã xử lý"]</div>
                            <div id="TicketFile_TotalExecute" class=" ms-auto text-end">0</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="TicketTableDevide" class="col-12 col-md-12 col-xl-6 mt-2">
            <div class="mt-0 px-0">
                <div class="card-body pt-0 px-0">
                    <div class="m-0 my-0 mobile-responsive">
                        <div id="loaderList_TID" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table vt-table mb-0" id="dtContentTicketFile_FileHandleDetail">
                            <thead>
                                <tr>
                                    <th style="width: 30px;">@Local["#"]#</th>
                                    <th style="min-width:120px;">@Local["Tên"]</th>
                                    <th style="min-width: 100px;">@Local["Đã chia"]</th>
                                    <th style="min-width: 100px;">@Local["Đã xử lý"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentTicketFile_FileHandleDetailBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-1">
            <div class="mt-3">
                <div class="card-header pb-0 px-0 pt-0">
                    <h6 class="mb-0">@Local["Danh sách ticket"]</h6>
                    <p class="text-sm mb-0">@Local["Trạng thái chi tiết của từng ticket"]</p>
                </div>
                <div class="d-lg-flex">
                    <div class="ms-auto my-auto mt-1">
                        <i class="vtt-icon vttech-icon-export-ex text-sm text-gradient text-info" onclick="TID_Export()">
                        </i>
                    </div>
                </div>
                <div class="card-body pt-0 px-0 pb-0">
                    <div class="m-0 my-3 mobile-responsive" style="max-height: 600px;">
                        <div id="loaderList_TID" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table vt-table mb-0" id="dtContentTID">
                            <thead>
                                <tr>
                                    <th style="display: none">ID</th>
                                    <th style="width: 30px;">@Local["#"]</th>
                                    <th>@Local["Tên"]</th>
                                    <th style="min-width: 100px;">@Local["Số điện thoại"]</th>
                                    <th style="width: 70px;">@Local["Trạng thái"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentTIDBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    let sys_TicketFileID = '@Model._ImportID';
    let TF_DataEmplyoyee;
    $(document).ready(function () {

        Master_IndexDB_Reads(_Session_Data, [_Session_Employee]
            , function (data) {
                TF_DataEmplyoyee = data[0];
                TID_LoadData();
            }
        );
       
        Checking_TabControl_Permission();
    });

    function TID_LoadData() {
        AjaxLoad(url = "/Marketing/TicketFile/TicketFile_File_Detail/?handler=Loadata"
            , data = { 'ImportID': sys_TicketFileID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                let dataTicketList = data.Table;
                let dataFileInfo = data.Table1;
                let dataTicketFileList = data.Table2;
                let dataTicketFileTotal = data.Table3;

                //Total Handle Ticket
                $("#TicketFile_TotalTicket").html(dataTicketFileTotal[0].TOTAL);
                $("#TicketFile_TotalDevide").html(dataTicketFileTotal[0].TOTAL_DEVIDE);
                $("#TicketFile_TotalExecute").html(dataTicketFileTotal[0].TOTAL_EXECUTE);

                //Info File
                $("#TicketImport_Name").html(dataFileInfo[0].ImportName);
                $("#TicketImport_Created").html(ConvertDateTimeToStringDMY_HM(dataFileInfo[0].Created));
                $("#TicketImport_Number").html(dataFileInfo[0].Number);
                $("#TicketImport_CreatedBy").html(Fun_GetName_ByID(TF_DataEmplyoyee, dataFileInfo[0].EmpCreatedID));
                $("#TicketImport_MarEmployee").html(Fun_GetName_ByID(TF_DataEmplyoyee, dataFileInfo[0].EmpMarID));

                if (dataTicketFileList && dataTicketFileList.length != 0) {
                    $("#TicketTableDevide").show();
                    TID_Render_StaffExecute(dataTicketFileList, "dtContentTicketFile_FileHandleDetailBody");
                }
                else {
                    $("#TicketTableDevide").hide();

                }

                fnRenderBlock(dataTicketList, "dtContentTIDBody"
                    , blocknum = 50
                    , fnrender = TID_Render_File
                    , fnsuccess = null
                );

            }
            , sender = null
            , before = function (e) {
                $("#dtContentTID").hide();
                $("#loaderList_TID").show();
            }
            , complete = function (e) {
                $("#dtContentTID").show();
                $("#loaderList_TID").hide();
            }
        );
    }

    async function TID_Render_File(data, id) {
        return new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = `
                            <tr class="vt-number">
                                <td class="vt-number-order"></td>
                                <td >${item.name}</td>
                                <td class="_tab_control_" data-tab="phone_customer">${item.phone}</td>
                                <td class="text-center">
                                    ${((item.Fail === 0)
                                        ? ('<span class="badge badge-sm bg-gradient-success">@Local["Thành công"]</span>')
                                        : ('<span class="badge badge-sm bg-gradient-danger">@Local["Thất bại"]</span>'))}
                                </td>
                            </tr>
                        `
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                    Checking_TabControl_Permission_Exe(PermissionTable_TabControl);
                }
            }
        })
    }

    async function TID_Render_StaffExecute(data, id) {
        return new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = `
                            <tr class="vt-number">
                                <td class="vt-number-order"></td>
                                <td>${ item.EmpName }</td>
                                <td class="text-center">${ formatNumber(item.TotalDevide) }</td>
                                <td class="text-center">${ formatNumber(item.TotalExecute) }</td>
                            <tr>
                        `
                        myNode.insertAdjacentHTML("beforeend", tr);
                    }
                }
            }
        })
    }


    function TID_Export(){
        exportToExcel("dtContentTID", Outlang["Sys_danh_sach"] + " " + Outlang["Sys_ticket_files"]);
    }
</script>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>