@page
@model MLunarCoffee.Pages.Report.Revenue.Service.ServicePie
@{
    Layout = null;
}

<div class="card card-plain">
    <div class="vtcardheader card-header p-0">
        <div class="left">
            <p class="text-md text-dark font-weight-bold mb-1">@Local["Doanh thu, doanh số theo nhóm dịch vụ"]</p>
        </div>
        <div class="right">
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#ServicePieDiv" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return LoadData_ReportServicePie()"></i>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="ServicePieDiv">
        <div class="card-body p-0">
            <div class="row px-1">
                <div class="col-12 col-md-6 col-xl-6 px-1 mt-2">
                    <div class="fw-bold text-center text-dark mb-1 text-sm">
                        @Local["Doanh số"]:
                        <span id="ST_PieTotal" class="fw-bolder"></span>
                    </div>
                    <div class="col-w-300 text-center mt-3 mx-auto position-relative" style="min-height: 200px;">
                        <div class="chart position-absolute top-50 start-50 translate-middle">
                            <canvas id="ST_Pie" class="chart-canvas" height="200"></canvas>
                        </div>
                    </div>
                    <div class="flex-grow-1 ">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <tbody id="ST_PieList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6 px-1 mt-2">
                    <div class="fw-bold text-center text-dark mb-1 text-sm">
                        @Local["Doanh thu"]:
                        <span id="SR_PieTotal" class="fw-bolder"></span>
                    </div>
                    <div class="col-w-300 text-center mt-3 mx-auto position-relative" style="min-height: 200px;">
                        <div class="chart position-absolute top-50 start-50 translate-middle">
                            <canvas id="SR_Pie" class="chart-canvas" height="200"></canvas>
                        </div>
                    </div>
                    <div class="flex-grow-1 ">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <tbody id="SR_PieList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>

    $(document).ready(function () {
        ToolPopper();
        LoadData_ReportServicePie();
    });

    function LoadData_ReportServicePie() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/Revenue/Service/ServicePie/?handler=Loadata"
            , data = {
                'branchID': _branch,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let datas = JSON.parse(result);
                    let dataTarget = datas.Table;
                    let dataRevenue = datas.Table1;
                    if (dataTarget != undefined) {
                        let data = dataTarget;
                        let total = 0;
                        let name = '';
                        for (let i = 0; i < data.length; i++) {
                            total += Number(data[i]['Amount']);
                            if (data[i].Deposit == 1) name = '@Local["Tiền cọc"]';
                            else if (data[i].Card == 1) name = '@Local["Thẻ"]';
                            else if (data[i].Medicine == 1) name = '@Local["Thuốc"]';
                            else {
                                let _item = RP_DataService[data[i].Service];
                                name = _item != undefined ? _item.Name : '';
                            }
                            data[i].Name = name;
                        }
                        $('#ST_PieTotal').html(formatNumberToMilion(Number(total)));
                        ReportPie_Description(data, 'Name', 'Amount', 'ST_PieList');
                        rp_pie("ST_Pie", data, 'Name', 'Amount')
                    }
                    if (dataRevenue != undefined) {
                        let datar = dataRevenue;
                        let total = 0;
                        let name = '';
                        for (let i = 0; i < datar.length; i++) {
                            total += Number(datar[i]['Amount']);
                            if (datar[i].Deposit == 1) name = '@Local["Tiền cọc"]';
                            else if (datar[i].Card == 1) name = '@Local["Thẻ"]';
                            else if (datar[i].Medicine == 1) name = '@Local["Thuốc"]';
                            else {
                                let _item = RP_DataService[datar[i].Service];
                                name = _item != undefined ? _item.Name : '';
                            }
                            datar[i].Name = name;
                        }
                        $('#SR_PieTotal').html(formatNumberToMilion(Number(total)));
                        ReportPie_Description(datar, 'Name', 'Amount', 'SR_PieList');
                        rp_pie("SR_Pie", datar, 'Name', 'Amount')
                    }
                }
            }
        );
    }

</script>
