@page
@model MLunarCoffee.Pages.Report.WareHouse.Inventory.TicketModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="card card-plain">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">
            <h6 class="mb-0">@Local["Thẻ kho"]</h6>
            <p class="text-sm mb-0">@Local["Thẻ kho này chỉ xem không thể chỉnh sửa"]</p>
        </div>
        <div class="right">
            <div id="ticketwa_edit" style="display:none;" class="border-dashed border-1 border-secondary p-2 m-2 bg-gray-100 border-radius-lg">
                <div class="text-sm text-dark font-weight-bold pb-2">@Local["Số liệu đã lưu"]</div>
                <div class="d-flex">
                    <span class="text-sm">
                        @Local["Số lượng tồn"]:
                    </span>
                    <span id="tkware_numedit" class="text-sm text-dark font-weight-bold ms-2"></span>
                    <span id="tkware_unitedit" class="text-sm text-dark font-weight-bold ms-2"></span>
                </div>
                <div class="d-flex">
                    <span class="text-sm">
                        @Local["Đơn giá trung bình"]:
                    </span>
                    <span id="tkware_amountedit" class="text-sm text-dark font-weight-bold ms-2"></span>
                </div>
            </div>

            <div class="border-0 p-2 m-2   border-radius-lg">
                <div class="text-sm text-dark font-weight-bold pb-2">@Local["Số liệu tính toán"]</div>
                <div class="d-flex">
                    <span class="text-sm">
                        @Local["Số lượng tồn"]:
                    </span>
                    <span id="tkware_num" class="text-sm text-dark font-weight-bold ms-2"></span>
                    <span id="tkware_unit" class="text-sm text-dark font-weight-bold ms-2"></span>
                </div>
                <div class="d-flex">
                    <span class="text-sm">
                        @Local["Đơn giá trung bình"]:
                    </span>
                    <span id="tkware_amount" class="text-sm text-dark font-weight-bold ms-2"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-2 px-0">
        <div id="ticketwa_nameproduct" class="text-md text-primary font-weight-bold text-center"></div>
        <div class="text-md text-dark font-weight-bold text-center">
            <span id="ticketwa_datef" class="text-sm text-dark font-weight-bold ms-2"></span>
            <span class="text-sm text-dark font-weight-bold ms-2">-</span>
            <span id="ticketwa_datet" class="text-sm text-dark font-weight-bold ms-2"></span>
        </div>
        <div class="m-0 my-3 mobile-responsive">
            <div class="text-sm text-dark font-weight-bold pb-2">@Local["Số liệu tổng quát"] </div>
            <div id="InvTicket_MasterLoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table class="table vt-table mb-0" id="InvTicket_MasterGrid">
                <thead>
                    <tr>
                        <th style="width: 60px">#</th>
                        <th>@Local["Kho"]</th>
                        <th data-name="begintime">@Local["Đầu kỳ"]</th>
                        <th data-name="endtime">@Local["Tổng nhập"]</th>
                        <th>@Local["Tổng xuất"]</th>
                        <th>@Local["Tổng tồn"]</th>
                        <th>@Local["Tổng số lượng thực tế"]</th>
                        <th>@Local["Tổng giá trị"]</th>
                    </tr>
                </thead>
                <tbody id="InvTicket_MasterGridBody">
                </tbody>
            </table>
        </div>
        <div class="m-0 my-3 mobile-responsive">
            <div class="text-sm text-dark font-weight-bold pb-2">@Local["Số liệu chi tiết"]</div>
            <div id="ticketloadder" class="waitingdiv text-center" style="border: none; display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table class="table vt-table mb-0" id="dtContentTicketCard">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 25px;">@Local["#"]</th>
                        <th colspan="4">@Local["Chứng từ"]</th>
                        <th rowspan="2">@Local["Đầu kỳ"]</th>

                        <th rowspan="2">@Local["Nhập"]</th>
                        <th colspan="3">@Local["Xuất"]</th>
                        <th rowspan="2">@Local["Tồn"]</th>
                        <th colspan="3"></th>
                    </tr>
                    <tr>
                        <th>@Local["Mã"]</th>
                        <th>@Local["Kho"]</th>
                        <th>@Local["Ngày"]</th>
                        <th>@Local["Mã khách hàng"]</th>
                        <th>@Local["Xuất"]</th>
                        <th>@Local["Xuất bán"]</th>
                        <th>@Local["Xuất điều trị"]</th>
                        <th>@Local["Thực tế"]</th>
                        <th>@Local["Hệ số"]</th>
                        <th>@Local["Giá trị"]</th>
                    </tr>
                </thead>
                <tbody id="dtContentCardBody">
                </tbody>
            </table>
        </div>
        <div class="nav-wrapper end-0" id="viewformTabHeader" style="display:none;">
            <ul class="nav nav-pills mt-2 p-1 pt-1 mx-n1" role="tablist" id="viewformTab">
            </ul>
        </div>
        <div id="viewformTabContent">
        </div>
    </div>
</div>

<script type="text/javascript">

    let ticketproduct = 0;

    //#region // CardView
    function InvTicket_CardViewLoad(productname, productID, wareID, datefrom, dateto)
    {
        $('#ticketwa_datef').html(datefrom);
        $('#ticketwa_datet').html(dateto);
        ticketproduct = productID;
        $('#ticketwa_nameproduct').html(productname);
        $("#viewformTabHeader").hide();
        $("#viewformTabContent").html("");
        AjaxLoad(url = "/Report/WareHouse/Inventory/Ticket/?handler=LoadTicket"
            , data = {
                'WareID': wareID,
                'ProductID': productID,
                'DateFrom': datefrom,
                'DateTo': dateto
            }
            , async = true, error = null
            , success = function (result)
            {
                if (result != "0") {
                    let dataSet = JSON.parse(result);
                    let { Table: dataMaster, Table1: dataDetail } = dataSet;
                    InvTicket_MasterRender(dataMaster, "InvTicket_MasterGridBody");
                    InvTicket_CardViewRender(dataDetail, "dtContentCardBody");
                }
            }
            , sender = null
            , before = function (e)
            {
                $("#ticketloadder").show();
                $("#dtContentCard").hide();
            }
            , complete = function (e)
            {
                $("#ticketloadder").hide();
                $("#dtContentCard").show();
            }
        );
        return false;
    }

    async function InvTicket_MasterRender(data, id)
    {
        return new Promise((resolve) =>
        {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length != 0) {
                    let tr = '';
                    let OpeningStock = 0, TotalImport = 0, TotalExport = 0, TotalInventory = 0, TotalExcute = 0, TotalAmount = 0, ItemAmount = 0;
                    `<th>@Local["Kho"]</th>
                    <th>@Local["Đầu kỳ"]</th>
                    <th>@Local["Tổng nhập"]</th>
                    <th>@Local["Tổng xuất"]</th>
                    <th>@Local["Tổng tồn"]</th>
                    <th>@Local["Tổng số lượng thực tế"]</th>
                    <th>@Local["Tổng giá trị"]</th>`
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let inventory = item.OpeningStock + item.TotalImport - (-item.TotalExport);
                        //calc total
                        OpeningStock += item.OpeningStock;
                        TotalImport += item.TotalImport;
                        TotalExport += (-item.TotalExport);
                        TotalInventory += inventory;
                        TotalExcute += item.TotalExcute;
                        TotalAmount += item.TotalAmount;
                        ItemAmount += item.ItemAmount;
                        tr = `<tr class="vt-number" role="row">
                                  <td class="vt-number-order"></td>
                                  <td>
                                      ${Fun_GetName_ByID(RP_DataWarehouse, item.WareID)}
                                  </td>
                                   <td>${formatNumber(item.OpeningStock)}</td>
                                   <td>${formatNumber(item.TotalImport)}</td>
                                   <td>${formatNumber(-item.TotalExport)}</td>
                                   <td>${formatNumber(inventory)}</td>
                                   <td>${formatNumber(item.TotalExcute)}</td>
                                   <td>${formatNumber(item.TotalAmount)}</td>
                              </tr>`;
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                    tr = `<tr class="vt-number text-white bg-gradient bg-primary mt-2 SSBCourse_RowTotal" role="row">
                              <td></td>
                              <td class="text-start">
                                  @Local["Tất cả"]
                              </td>
                              <td>${formatNumber(OpeningStock.toFixed(2))}</td>
                              <td>${formatNumber(TotalImport.toFixed(2))}</td>
                              <td>${formatNumber(TotalExport.toFixed(2))}</td>
                              <td>${formatNumber(TotalInventory.toFixed(2))}</td>
                              <td>${formatNumber(TotalExcute.toFixed(2))}</td>
                              <td>${formatNumber(TotalAmount.toFixed(2))}</td>
                          </tr>`;
                    $('#tkware_num').html(formatNumber(TotalInventory.toFixed(2)));
                    if((TotalImport + OpeningStock) == 0) {
                        $('#tkware_amount').html(0)
                    }
                    else {
                        let result = (TotalAmount + OpeningStock * ItemAmount) / (TotalInventory);
                        $('#tkware_amount').html(formatNumber(result.toFixed(2)))
                    }
                    myNode.insertAdjacentHTML('beforeend', tr);
                }
            }
        })
    }

    async function InvTicket_CardViewRender(data, id)
    {
        return new Promise((resolve) =>
        {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                let normbegin = 0;
                let normend = 0;
                let unitname = '';
                const addZeroToNumber = (value) =>
                {
                    return value.toLocaleString("vn", { useGrouping: false, minimumFractionDigits: 0 })
                }
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = '';
                        if (item.Type == 1) {
                            normbegin += item.Number; normend += item.Number;
                            unitname = item.UnitName;
                        }
                        else {
                            if (item.Type == 2 || item.Type == 3) {
                                normend = normbegin + item.Number;
                            }
                            else {
                                normend = normbegin - item.Number;
                            }
                        }
                        if (item.IsShow == 1)
                        {

                            tr =
                                '<tr class="vt-number" role="row">'
                                + '<td class="vt-number-order"></td>'
                                + '<td >'
                                + ((item.Type == -1)
                                    ? '@Local["Đầu kỳ"]'
                                    : '<a class="cursor-pointer viewform d-block fw-bold" data-code="' + item.Code + '"  data-type="' + item.Type + '">' + item.Code + '</a>'
                                )
                                + '</td>'
                                + '<td >' + Fun_GetName_ByID(RP_DataWarehouse, item.WareID) + '</td>'
                                + '<td >' + GetDateTime_String_DMYHM(item.DateExe) + '</td>'
                                + '<td >'
                                + ((item.CustCode != '')
                                    ? '<a class="d-block fw-bold" target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustID + '">' + item.CustCode + '</a>'
                                    : ''
                                )

                                + '</td>'
                                + '<td>' + formatNumber(Math.round(normbegin * 100) / 100) + '</td>'
                                + '<td>' + ((item.Type == 2 || item.Type == 3) ? formatNumber(Math.round(item.Number * 100) / 100) : '') + '</td>'
                                + '<td>' + ((item.Type == 4 || item.Type == 5) ? formatNumber(Math.round(item.Number * 100) / 100) : '') + '</td>'
                                + '<td>' + ((item.Type == 7) ? formatNumber(Math.round(item.Number * 100) / 100) : '') + '</td>'
                                + '<td>' + ((item.Type == 6) ? formatNumber(Math.round(item.Number * 100) / 100) : '') + '</td>'
                                + '<td>' + formatNumber(Math.round(normend * 100) / 100) + '</td>'

                                + '<td>'
                                + ((item.Type == -1) ? '-' : (formatNumber(item.NumberExe) + ' ' + item.UnitNameExe))
                                + '</td>'
                                + '<td>'
                                + ((item.NumberExe != 0) ? addZeroToNumber(item.Number / item.NumberExe) : '-')
                                + '</td>'
                                + '<td>'
                                + ((item.Type == 2 || item.Type == 1)
                                    ? formatNumber(Math.round(item.TotalAmount * 100) / 100)
                                    : '-'
                                )
                                + '</td>'
                                + '</tr>';
                        }
                        stringContent = stringContent + tr;
                        normbegin = normend;
                    }
                }
                myNode.innerHTML = stringContent;
                $('#tkware_unit').html(unitname);
            }
            InvTicket_CardView_Event();
        })
    }

    function InvTicket_CardView_Event()
    {
        $("#dtContentTicketCard .viewform").unbind('click').click(function (e)
        {
            $("#viewformTabHeader").show(); 
            let type = $(this).attr("data-type");
            let code = $(this).attr("data-code");
            InvTicket_CardViewForm_Add(type, code);
            InvTicket_CardViewForm_Event();
        });
    }
    function InvTicket_CardViewForm_Add(type, code)
    {
        if ($('#viewformTab a[data-uni="' + code + '"]').length == 0) {
            let tr = '<li class="nav-item">'
                + '<a data-uni="' + code + '" class="tabviewform nav-link mb-0 px-2 py-1 text-sm " data-bs-toggle="tab" href="#" role="tab" aria-selected="false">'
                + code
                + '</a>'
                + '</li>';
            $("#viewformTab").append(tr);
            $(".viewcontent").hide();
            let div = '<div  class="my-4 viewcontent border-dashed border-1 border-secondary border-radius-md p-5" data-code="' + code + '"></div>';
            $("#viewformTabContent").append(div);
            $('#viewformTabContent .viewcontent[data-code="' + code + '"]').load("/WareHouse/Ticket/ViewForm?type=" + type
                + "&code=" + code
                + "&ticketproduct=" + ticketproduct
            )
        }
        else {
            $(".viewcontent").hide();
            $('#viewformTabContent .viewcontent[data-code="' + code + '"]').show();

        }
        let elementFormTab = $('#viewformTab a[data-uni="' + code + '"]');
        if (elementFormTab.length != 0) {

            elementFormTab.tab('show');
            $([document.documentElement, document.body]).animate({
                scrollTop: elementFormTab.offset().top
            }, 500);
        }
    }
    function InvTicket_CardViewForm_Event()
    {
        $('#viewformTabHeader .tabviewform').unbind('click').click(function (event)
        {
            let code = $(this).attr("data-uni");
            $(".viewcontent").hide();
            $('#viewformTabContent .viewcontent[data-code="' + code + '"]').show();
        });
    }

</script>
