@page
@model MLunarCoffee.Pages.Setting.AppCustomer.ProfileBanner.ProfileBannerDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0 BDcapitalize">@Local["Nội dung"] @Local["Hồ sơ"]</h6>
                            <p class="text-sm mb-0">@Local["Thêm mới"]/@Local["Chỉnh sửa"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="row px-2 form3" id="form3">
                    <div class="field col-12 col-lg-6 p-1">
                        <div class="field col-12">
                            <div>
                                <span class="text-sm text-gradient text-warning mb-0" id="">(.jpg .png) 500 x 100 px</span>
                                <span class="text-dark text-sm mb-0 ps-2">@Local["Hình ảnh"]</span>
                                <hr class="horizontal dark mt-0 mb-2">
                            </div>
                            <div class="position-relative d-inline-block">
                                <img id="BD_ImgFea" class="border-radius-md" alt="team-2" src="#" style="max-width: 420px;" height="110" onerror="Master_OnLoad_Error_Image(this)">
                                <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="BD_InputFea" accept="image/*" type="file" name="files[]" />
                                <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0 " id="BD_BtnFea">
                                    <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2">
                                        <i class="fa fa-pen top-0" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-lg-6 d-flex justify-content-center p-1">
                        <div class="field col-12">
                            <div>
                                <span class="text-sm text-gradient text-warning mb-0">(.jpg .png) 700 x 300 px</span>
                                <span class="text-dark text-sm mb-0 ps-2">@Local["Chi tiết hình ảnh"]</span>
                                <hr class="horizontal dark mt-0 mb-2">
                            </div>
                            <div class="position-relative d-inline-block">
                                <img id="BD_Img" class="border border-radius-md" src="#" alt="team-2" height="110" style="max-width: 320px;"  onerror="Master_OnLoad_Error_Image(this)">
                                <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="BD_ImgInput" accept="image/*" type="file" name="files[]" />
                                <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0" id="BD_ImgBtn">
                                    <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2">
                                        <i class="fa fa-pen top-0" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 p-1">
                        <label>@Local["Tiêu đề"]</label>
                        <input class="form-control" id="BD_Title" name="name" type="text" />
                    </div>
                    <div class="col-12 p-1">
                        <label>@Local["Nội dung"]</label>
                        <textarea id="BD_Content" rows="3" type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault();CloseModal()">Cancel</button>
                        <button type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="BDetail_Executed();">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let ser_CurrentID = Number("@Model._CurrentID");
    let BD_ImgFea = '', BD_Img = '';
    let BD_UrlImg = '/Api/Upload/Upload?Type=ClientApp';
    let DB_RuleImgFea = {
        size: 102400,
        width: 500,
        height: 100,
        format: ['jpg', 'png']
    }
    let DB_RuleImg = {
        size: 102400,
        width: 700,
        height: 300,
        format: ['jpg', 'png']
    }

    //#region //Load
    $(document).ready(function () {
        if (ser_CurrentID != 0) {
            BDetail_Load();
        }
        BDetail_Event();
    })

    function BDetail_Load () {
        AjaxLoad(url = "/Setting/AppCustomer/ProfileBanner/ProfileBannerDetail/?handler=LoadDetail"
            , data = {
                "CurrentID": ser_CurrentID
            }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data && data.length > 0) {
                        BD_ImgFea = data[0].FeatureImage;
                        BD_Img = data[0].Image;

                        $("#BD_ImgFea").attr("src", data[0].FeatureImage);
                        $("#BD_Img").attr("src", data[0].Image);
                        $("#BD_Title").val(data[0].Title);
                        $("#BD_Content").val(data[0].Content);
                    }
                }
            }
        )
    }
    //#endregion

    //#region //Event

    function BDetail_Event () {
        UploadImage({
            inputFile: 'BD_InputFea'
            , btnInput: 'BD_BtnFea'
            , avatar: 'BD_ImgFea'
            , condition: DB_RuleImgFea
            , success: (data) => { }
            , error: (err) => { }
        })
        UploadImage({
            inputFile: 'BD_ImgInput'
            , btnInput: 'BD_ImgBtn'
            , avatar: 'BD_Img'
            , condition: DB_RuleImg
            , success: (data) => { }
            , error: (err) => { }
        })
    }

    //#endregion

    //#region //Executed

    async function BDetail_Executed () {
        let ImgFea = $("#BD_InputFea")[0].files.length != 0 ? await AjaxUpload_Image(BD_UrlImg, 'BD_InputFea') : BD_ImgFea;
        let Img = $("#BD_ImgInput")[0].files.length != 0 ? await AjaxUpload_Image(BD_UrlImg, 'BD_ImgInput') : BD_Img;
        let Title = $("#BD_Title").val() ? $("#BD_Title").val() : '';
        let Content = $("#BD_Content").val() ? $("#BD_Content").val() : '';

        if (ImgFea != '' && Img != '') {
            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Setting/AppCustomer/ProfileBanner/ProfileBannerDetail/?handler=Executed"
                    , data = {
                        "CurrentID": ser_CurrentID
                        , "ImgFea": ImgFea
                        , "Img": Img
                        , "Title": Title
                        , "content": Content
                    }
                    , async = true
                    , error = null
                    , success = function (result) {
                        if (result != "0") {
                            if (result == "1") {
                                CloseModal();
                                notiSuccess();
                                PBanner_Load();
                            } else if (result == "2") {
                                notiWarning("@Local["Hiển thị tối đa"] 3");
                            }
                        }
                    }
                )
            }
        } else {
            notiWarning("@Local["Kiểm tra dữ liệu"]");
        }
    }

    //#endregion
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>
    .BDcapitalize {
        text-transform: lowercase;
    }
    .BDcapitalize::first-letter {
        text-transform: capitalize;
    }
</style>