@page
@model MLunarCoffee.Pages.Account.PaymentSupplier.SupplierDetailModel
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div id="suppdetail_master" class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Nhà cung cấp"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết nhà cung cấp"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 mt-3">
                    <div class="ms-0 px-0 row">
                        <div class="col-12 col-sm-3 ps-0">
                            <div class="bg-gray-100 card-header p-3 rounded-1 mt-2">
                                <div class="ps-1 pt-0 text-dark text-sm">
                                    <p id="suppdetail_supcode" class="mb-0 text-sm"></p>
                                    <p class="text-sm font-weight-bold my-auto">
                                        <span class="text-primary">
                                            <span id="suppdetail_supname" class="text-md"></span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="row">
                                <div class="col-md-4 mt-0 ps-0">
                                    <div class="bg-gray-100 border-5 border-primary flex-column border-radius-bottom-start-0 border-radius-lg border-radius-top-start-0 border-start card-body d-flex mt-2 p-2 rounded-0 position-relative">
                                        <p class="mb-0 mt-1 ps-2 text-sm">
                                            <span>@Local["Phát sinh"] </span>
                                            <span>/</span>
                                            <span>@Local["Thanh toán"] </span>
                                        </p>
                                        <div class="flex ellipsis_one_line">
                                            <span id="suppdetail_numprice" class="fs-5 fw-bold text-primary ps-2 ellipsis_one_line" data-bs-toggle="tooltip">0</span>
                                            <span class="fs-5">/</span>
                                            <span id="suppdetail_numpaid" class="fs-5 fw-bold text-primary ellipsis_one_line" data-bs-toggle="tooltip">0</span>
                                        </div>
                                        <div class="text-dark cursor-pointer position-absolute" style="top: 15px; right: 15px;">
                                            <button id="suppdetail_newpayment" class="btn btn-small bg-gradient-success py-1 text-lg px-3 mb-0" onclick="event.preventDefault(); return SuppDetail_Invoice_NewPayment();" title="@Local["Thu"]">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-0 ps-0">
                                    <div class="bg-gray-100 border-5 border-danger flex-column border-radius-bottom-start-0 border-radius-lg border-radius-top-start-0 border-start card-body d-flex mt-2 p-2 rounded-0">
                                        <p class="mb-0 mt-1 ps-2 text-sm">
                                            <span>@Local["Công nợ"]</span>
                                            <span>/</span>
                                            <span>@Local["Ký quỹ"]</span>
                                        </p>
                                        <div class="flex ellipsis_one_line">
                                            <span id="suppdetail_numdebt" class="fs-5 fw-bold text-danger ps-2 ellipsis_one_line" data-bs-toggle="tooltip">0</span>
                                            <span class="fs-5">/</span>
                                            <span id="suppdetail_numescrow" class="fs-5 fw-bold text-danger ellipsis_one_line" data-bs-toggle="tooltip">0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-0 ps-0">
                                    <div class="bg-gray-100 border-5 border-success flex-column border-radius-bottom-start-0 border-radius-lg border-radius-top-start-0 border-start card-body d-flex mt-2 p-2 rounded-0 position-relative">
                                        <p class="mb-0 mt-1 ps-2 text-sm">
                                            <span>@Local["Tiền cọc"]</span>
                                            <span>/</span>
                                            <span>@Local["Tiền cọc còn lại"]</span>
                                        </p>
                                        <div class="flex ellipsis_one_line">
                                            <span id="suppdetail_numdeposit" class="fs-5 fw-bold text-success ps-2 ellipsis_one_line" data-bs-toggle="tooltip">0</span>
                                            <span class="fs-5">/</span>
                                            <span id="suppdetail_numdepositleft" class="fs-5 fw-bold text-success ellipsis_one_line" data-bs-toggle="tooltip">0</span>
                                        </div>
                                        <div class="text-dark cursor-pointer position-absolute" style="top: 15px; right: 15px;">
                                            <button id="suppdetail_newpayment" class="btn btn-small bg-gradient-success py-1 text-lg px-3 mb-0" onclick="event.preventDefault(); return SuppDetail_Invoice_NewDeposit();" title="@Local["Thu"]">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 ">
                        <div class="row mx-0 my-3">
                            <div class="field col-12 col-sm-6 col-xl-6 px-1 mt-2 ps-0">
                                <div id="suppdetail_controlinvoice">
                                    <div class="row mx-0">
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 ps-0">
                                            <div class="input-group flex-nowrap" id="suppdetail_blocksearch">
                                                <div class="input-group-text input-group-text px-2">
                                                    <i class="fas fa-search" aria-hidden="true"></i>
                                                    <div class="spinner-border spinner-border-sm d-none"></div>
                                                </div>
                                                <input id="suppdetail_inputsearch" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm"]">
                                                <span class="input-group-text">
                                                    <div class="ui dropdown text-dark fw-bold text-sm border-0" id="suppdetail_filterinvtype" tabindex="0" onchange="event.preventDefault(); return SuppDetail_Invoice_OnchangeType();">
                                                        <i class="dropdown icon"></i>
                                                        <input type="hidden" value="1">
                                                        <div class="text">@Local["Tất cả"]</div>
                                                        <div id="suppdetail_cbbfilterinvtype" class="menu transition hidden" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </span>
                                                <div class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                            <input id="suppdetail_datesearch" class="flatpickr form-control flatpickr-input me-2" type="text" placeholder="eg .@Local["Ngày"]" onchange="event.preventDefault();return SuppDetail_Invoice_OnChangeDate()">
                                        </div>
                                    </div>
                                </div>
                                <div id="suppdetail_controlform" class="d-none">
                                    <div class="row mx-0">
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 ps-0">
                                            <div class="input-group flex-nowrap" id="suppdetail_blocksearchform">
                                                <div class="input-group-text input-group-text px-2">
                                                    <i class="fas fa-search" aria-hidden="true"></i>
                                                    <div class="spinner-border spinner-border-sm d-none"></div>
                                                </div>
                                                <input id="suppdetail_inputsearchform" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm"]">
                                                <div class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                            <input id="suppdetail_datesearchform" class="flatpickr form-control flatpickr-input me-2" type="text" placeholder="eg .@Local["Ngày"]" onchange="event.preventDefault();return SuppDetail_Form_OnChangeDate()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-3 col-xl-3 px-1 mt-2">
                            </div>
                            <div class="field col-12 col-md-3 col-xl-3 px-1 mt-2">
                                <ul class="nav nav-pills nav-fill p-1 py-0 bg-transparent suppdetail_alltab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer active" data-type="invoice" data-bs-toggle="pill" data-bs-target="#suppdetail_tabpayment" role="tab">@Local["Thanh toán"]</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer" data-type="reciept" data-bs-toggle="pill" data-bs-target="#suppdetail_tabreciept" role="tab">@Local["Phiếu nhập"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="nav-wrapper position-relative end-0">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="suppdetail_tabpayment" role="tabpanel">
                                <div class="m-0 my-3 mobile-responsive">
                                    <div id="suppdetail_WaitingInvoiceList" class="waitingdiv text-center position-absolute start-50 translate-middle-x" style="display: none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <table class="table vt-table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="d-none">ID</th>
                                                <th style="width: 40px;">#</th>
                                                <th style="width: 120px;">@Local["Ngày"]</th>
                                                <th>@Local["Mã hoá đơn"]</th>
                                                <th>@Local["Tiền thanh toán"]</th>
                                                <th>@Local["Hình thức"]</th>
                                                <th>@Local["Loại"]</th>
                                                <th>@Local["Người tạo"]</th>
                                                <th>@Local["Xử lý"]</th>
                                            </tr>
                                        </thead>
                                        <tbody id="suppdetail_InvoiceList">
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btnsysmore btn-secondary w-100 p-1 mt-1" onclick="SuppDetail_LoadInvoice()">@Local["Xem thêm"]</button>
                            </div>
                            <div class="tab-pane fade" id="suppdetail_tabreciept" role="tabpanel">
                                <div class="m-0 my-3 mobile-responsive">
                                    <div id="suppdetail_WaitingFormList" class="waitingdiv text-center position-absolute start-50 translate-middle-x" style="display: none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <table class="table vt-table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="d-none">ID</th>
                                                <th style="width: 40px;">#</th>
                                                <th style="width: 120px;">@Local["Ngày"]</th>
                                                <th>@Local["Mã phiếu"]</th>
                                                <th>@Local["Phát sinh"]</th>
                                                <th>@Local["Tiền thanh toán"]</th>
                                                <th>@Local["Công nợ"]</th>
                                                <th>@Local["Kho"]</th>
                                                <th>@Local["Người tạo"]</th>
                                                <th>@Local["Ngày tạo"]</th>
                                                <th>@Local["Ghi chú"]</th>
                                            </tr>
                                        </thead>
                                        <tbody id="suppdetail_FormList">
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btnsysmore btn-secondary w-100 p-1 mt-1" onclick="SuppDetail_LoadForm()">@Local["Xem thêm"]</button>
                            </div>
                        </div>
                    </div>
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" onclick="event.preventDefault(); return SuppDetail_CloseDetail()">Đóng</button>
                        </div>
                    </div>
                </div>

            </div>
            <div id="suppdetail_detail" class="d-none">
            </div>
        </div>
    </div>
</div>

<script>

    let suppdetail_currentid = '@Model.supplierID';
    let suppdetail_searchtimer;
    let suppdetail_objtype = {
        'invoice': "@Local["Thanh toán"]",
        'deposit': "@Local["Tiền cọc"]"
    }
    let suppdetail_objtypeinvoice = [
        {
            ID: 1,
            Name: "@Local["Thanh toán"]"
        },
        {
            ID: 2,
            Name: "@Local["Tiền cọc"]"
        }
    ]

    let suppdetail_currenttype = 'invoice';

    let suppdetail_invbeginid = 0, suppdetail_invdesbeginid = 0;
    let suppdetail_search = '';

    let suppdetail_formbeginid = 0;
    let suppdetail_searchform = '';
    let suppdetail_firstreceipt = 0;

    $(document).ready(function () {
        SuppDetail_LoadInfo();
        SuppDetail_EventInit();
        SuppDetail_LoadInvoice();
    });

    function SuppDetail_EventInit() {
        // $('.detailcus a:first').tab('show');

        let lastDay = new Date();
        let firstDay = new Date();
        firstDay.setDate(firstDay.getDate() - 7); // minus the date
        $("#suppdetail_datesearch, #suppdetail_datesearchform").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        $("#suppdetail_datesearch").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        $("#suppdetail_datesearchform").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        Load_Combo(suppdetail_objtypeinvoice, "suppdetail_cbbfilterinvtype", true, "@Local["Tất cả"]");
        $("#suppdetail_filterinvtype").dropdown('refresh');
        $("#suppdetail_filterinvtype").dropdown('set selected', '0');


        $(".suppdetail_alltab a.nav-link").on('shown.bs.tab', function (e) {
            let type = $(this).attr('data-type');
            suppdetail_currenttype = type;
            if (suppdetail_firstreceipt == 0) {
                suppdetail_firstreceipt = 1;
                SuppDetail_LoadForm()
            }
            SuppDetail_ViewControlType();
        });
        SuppDetail_Invoice_Event();
        SuppDetail_Form_Event();
    }

    function SuppDetail_ViewControlType() {
        if (suppdetail_currenttype == 'invoice') {
            $("#suppdetail_controlinvoice").removeClass("d-none");
            $("#suppdetail_controlform").addClass("d-none");
        }
        else {
            $("#suppdetail_controlinvoice").addClass("d-none");
            $("#suppdetail_controlform").removeClass("d-none");
        }
    }


    //#region  // INIT

    async function SuppDetail_LoadInfo() {
        new Promise((resolve) => {
            AjaxLoad(url = "/Account/PaymentSupplier/SupplierDetail/?handler=Init"
                , data = {
                    'suppid': suppdetail_currentid
                }
                , async = true, error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        SuppDetail_ViewDetail(data);
                    }
                }
                , sender = null
                , before = function (e) {

                }
                , complete = function (e) {

                }
            );
        })
    }

    //#endregion


    //#region  // RENDER

    function SuppDetail_ViewDetail(data) {
        if (data && data.length != 0) {
            let item = data[0];
            $("#suppdetail_supcode").html(item.Code != '' ? item.Code : ' - ')
            $("#suppdetail_supcode").attr('title', item.Code != '' ? item.Code : ' - ')
            $("#suppdetail_supname").html(item.Name)
            $("#suppdetail_numprice").html(formatNumber(item.Price))
            $("#suppdetail_numprice").attr('title', formatNumber(item.Price))
            $("#suppdetail_numpaid").html(formatNumber(item.Paid))
            $("#suppdetail_numpaid").attr('title', formatNumber(item.Paid))
            $("#suppdetail_numdebt").html(formatNumber(item.Debt))
            $("#suppdetail_numdebt").attr('title', formatNumber(item.Debt))
            $("#suppdetail_numescrow").html(formatNumber(item.Escrow));
            $("#suppdetail_numescrow").attr('title', formatNumber(item.Escrow));
            $("#suppdetail_numdeposit").html(formatNumber(item.Deposit));
            $("#suppdetail_numdeposit").attr('title', formatNumber(item.Deposit));
            $("#suppdetail_numdepositleft").html(formatNumber(item.DepositLeft));
            $("#suppdetail_numdepositleft").attr('title', formatNumber(item.DepositLeft));

            ToolPopper();
        }
    }

    //#endregion



    //#region // INVOICE

    function SuppDetail_Invoice_OnChangeDate() {
        suppdetail_invbeginid = 0;
        suppdetail_invdesbeginid = 0;
        SuppDetail_LoadInvoice();
    }

    async function SuppDetail_LoadInvoice(currentid = 0, type = 'invoice') {
        new Promise((resolve) => {
            let date = $('#suppdetail_datesearch').val() ? $('#suppdetail_datesearch').val() : new Date();
            let dateFrom;
            let dateTo;
            if (date.includes(" to ")) {
                date = date.replace(" to ", "#");
                dateFrom = date.split('#')[0];
                dateTo = date.split('#')[1];
            }
            else {
                dateFrom = date;
                dateTo = date;
            }

            let objdata = {};
            objdata.beginPayID = suppdetail_invbeginid;
            objdata.beginDesID = suppdetail_invdesbeginid;
            objdata.dateFrom = dateFrom;
            objdata.dateTo = dateTo;
            objdata.type = type;
            objdata.search = suppdetail_search;

            AjaxLoad(url = "/Account/PaymentSupplier/SupplierDetail/?handler=LoadInvoice"
                , data = {
                    "suppid": suppdetail_currentid,
                    "currentID": currentid,
                    "data": JSON.stringify(objdata)
                }
                , async = true
                , error = null
                , success = function (result) {

                    let data = JSON.parse(result);
                    if (currentid == 0) {
                        if (suppdetail_invbeginid == 0 && suppdetail_invdesbeginid == 0) {
                            $('#suppdetail_InvoiceList').html('');
                        }
                        if (data != undefined && data.length != 0) {
                            SuppDetail_SetBeginID(data);
                            SuppDetail_Invoice_Render(data, "suppdetail_InvoiceList");
                        }
                    }
                    else {
                        if (data != undefined && data.length == 1) {
                            let newitem = SuppDetail_Invoice_RenderEach(data[0]);
                            if ($('#payinvoice_' + type + '_' + currentid).length) {
                                $('#payinvoice_' + type + '_' + currentid).replaceWith(newitem);
                            }
                            else {
                                SuppDetail_SetBeginID_ByType(type, data);
                                $("#suppdetail_InvoiceList").prepend(newitem);
                            }
                            SuppDetail_Invoice_EventDetail();
                        }
                        SuppDetail_LoadInfo();
                    }
                }
                , sender = null
                , before = function (e) {
                    $("#suppdetail_WaitingInvoiceList").show();
                    $("#suppdetail_blocksearch .fa-search").hide();
                    $("#suppdetail_blocksearch .spinner-border").removeClass('d-none');
                }
                , complete = function (e) {
                    $("#suppdetail_WaitingInvoiceList").hide();
                    $("#suppdetail_blocksearch .fa-search").show();
                    $("#suppdetail_blocksearch .spinner-border").addClass('d-none');
                }
            );
        });
    }

    function SuppDetail_SetBeginID(data) {
        if (data && data.length != 0) {
            let dataInv = data.filter((item) => { return item.Type == 'invoice' });
            let dataDes = data.filter((item) => { return item.Type == 'deposit' });

            if (dataInv && dataInv.length != 0) {
                suppdetail_invbeginid = dataInv[dataInv.length - 1].ID
            }
            if (dataDes && dataDes.length != 0) {
                suppdetail_invdesbeginid = dataDes[dataDes.length - 1].ID
            }
        }
    }

    function SuppDetail_SetBeginID_ByType(type, data){
        let id = data[0].ID;
        if (type == 'invoice' && suppdetail_invbeginid == 0) suppdetail_invbeginid = id;
        if (type == 'deposit' && suppdetail_invdesbeginid == 0) suppdetail_invdesbeginid = id;
    }

    async function SuppDetail_Invoice_Render(data, id) {
        new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        stringContent = stringContent + SuppDetail_Invoice_RenderEach(item);
                    }
                }
                myNode.innerHTML = myNode.innerHTML + stringContent;
            }
            SuppDetail_Invoice_EventDetail();
            resolve();
        });
    }

    function SuppDetail_Invoice_RenderEach(item) {
        return `
            <tr id="payinvoice_${item.Type}_${item.ID}" class="vt-number payinvoice ${item.Type}">
            <td class="vt-number-order"></td>
            <td>${ConvertDateTimeUTC_DMY(item.PaymentDate)}</td>
            <td>${SuppDetail_Invoice_RenderHeader(item.ID, item.Type, item.PaymentCode)}</td>
            <td>${formatNumber(item.PaymentAmount)}</td>
            <td>${item.Method}</td>
            <td>${suppdetail_objtype[item.Type] != undefined ? suppdetail_objtype[item.Type] : ""}</td>
            <td>${item.CreatedName}</td>
            <td class="text-nowrap">${SuppDetail_Invoice_RenderButtons(item.ID, item.PaymentCode, item.Type )}</td>
        <tr>
        `;
    }

    function SuppDetail_Invoice_RenderHeader(id, type, code){
        if(type == 'invoice'){
            return `<span data-id="${id}" class="text-primary detail border-bottom border-primary cursor-pointer">${code}</span>`
        }
        return `<span class="text-primary border-primary cursor-pointer">${code}</span>`
    }

    function SuppDetail_Invoice_RenderButtons(id, code, type) {
        let buttons = [];
        if(type == 'deposit')
            buttons.push('<button class="buttonGrid" value="' + id + '">'
                + '<i data-id="' + id + '" class="delete vtt-icon vttech-icon-delete"></i>'
                + '</button>')

        if(type == 'invoice')
            buttons.push('<button class="buttonGrid" value="' + id + '">'
                + '<i data-id="' + id + '" data-code="' + code + '" class="print vtt-icon vttech-icon-print"></i>'
                + '</button>')
        return Render_Button_Grid(buttons);
    }

    function SuppDetail_Invoice_Event() {

        $('#suppdetail_inputsearch').keyup(function (e) {
            $("#suppdetail_blocksearch .btn_clear").removeClass('opacity-1')
            var code = e.key;
            if (code === "Enter") e.preventDefault();
            if (code === " " || code === "Enter" || code === "," || code === ";") {
                if ($(this).val().length > 3) {
                    clearTimeout(suppdetail_searchtimer);
                    suppdetail_searchtimer = setTimeout(function (e) {
                        suppdetail_invbeginid = 0;
                        suppdetail_invdesbeginid = 0;
                        suppdetail_search = xoa_dau($('#suppdetail_inputsearch').val().toLowerCase()).trim();
                        SuppDetail_LoadInvoice();
                    }, 200);
                }
            }
        });
        $("#suppdetail_blocksearch").on('click', '.btn_clear', function (e) {
            $('#suppdetail_inputsearch').val('');
            $("#suppdetail_blocksearch .btn_clear").addClass('opacity-1');
            suppdetail_invbeginid = 0;
            suppdetail_invdesbeginid = 0;
            suppdetail_search = '';
            SuppDetail_LoadInvoice();
        });

    }

    async function SuppDetail_Invoice_EventDetail() {
        $('#suppdetail_InvoiceList .detail').unbind('click').click(function () {
            let id = $(this).attr("data-id");
            $("#suppdetail_master").addClass("d-none");
            $('#suppdetail_detail').removeClass('d-none');
            $("#suppdetail_detail").load('/Account/PaymentSupplier/PaymentDetail?DetailID='+id +'&SupID=' + suppdetail_currentid);
        });

        $('#suppdetail_InvoiceList .print').unbind('click').click(function () {
            let id = $(this).attr("data-id");
            let code = $(this).attr("data-code");
            syslog_acc('p', code);
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load('/Print/print?Type=invoice_supplier&DetailID=' + id);
            $('#DetailModal').modal('show');
        });

        $('#suppdetail_InvoiceList .delete').unbind('click').click(function () {
            let id = $(this).attr("data-id");
            SuppDetail_DeleteDeposit(id);
        });
    }

    function SuppDetail_DeleteDeposit(id) {
        const promise = notiConfirm();
        promise.then(function () { SuppDetail_DeleteDepositExec(id); }, function () { });
    }

    function SuppDetail_DeleteDepositExec(id) {
        AjaxLoad(url = "/Account/PaymentSupplier/SupplierDetail/?handler=DeleteDeposit"
            , data = { 'id': id }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    notiSuccess();
                    $('#payinvoice_deposit_' + id).remove();
                    SuppDetail_LoadInfo();
                    syslog_acc('d', result);
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
        );

    }
    //#endregion


    function SuppDetail_Invoice_OnchangeType() {
        let type = $("#suppdetail_filterinvtype").dropdown('get value');
        let itempay = $("#suppdetail_InvoiceList .payinvoice");
        itempay.removeClass("d-none");
        if (type == '1') {
            itempay.not('.invoice').addClass('d-none');
        }
        if (type == '2') {
            itempay.not('.deposit').addClass('d-none');
        }
    }


    //#endregion


    //#region // FORM RECIEPT

    async function SuppDetail_LoadForm(Isload = 0) {
        new Promise((resolve) => {
            let date = $('#suppdetail_datesearchform').val() ? $('#suppdetail_datesearchform').val() : new Date();
            let dateFrom;
            let dateTo;

            if (Isload == 1) {
                suppdetail_formbeginid = 0;
            }
            if (date.includes(" to ")) {
                date = date.replace(" to ", "#");
                dateFrom = date.split('#')[0];
                dateTo = date.split('#')[1];
            }
            else {
                dateFrom = date;
                dateTo = date;
            }
            let objdata = {};
            objdata.dateFrom = dateFrom;
            objdata.dateTo = dateTo;
            objdata.search = suppdetail_searchform;
            AjaxLoad(url = "/Account/PaymentSupplier/SupplierDetail/?handler=LoadForm"
                , data = {
                    "supid": suppdetail_currentid,
                    "beginID": suppdetail_formbeginid,
                    "data": JSON.stringify(objdata)
                }
                , async = true
                , error = null
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (suppdetail_formbeginid == 0) {
                        $('#suppdetail_FormList').html('');
                    }
                    if (data != undefined && data.length != 0) {
                        suppdetail_formbeginid = data[data.length - 1].ID;
                        SuppDetail_Form_Render(data, "suppdetail_FormList");

                    }
                }
                , sender = null
                , before = function (e) {
                    $("#suppdetail_WaitingFormList").show();
                    $("#FormDetail_Div .fa-search").hide();
                    $("#FormDetail_Div .spinner-border").removeClass('d-none');
                }
                , complete = function (e) {
                    $("#suppdetail_WaitingFormList").hide();
                    $("#FormDetail_Div .fa-search").show();
                    $("#FormDetail_Div .spinner-border").addClass('d-none');
                }
            );
        });
    };

    function SuppDetail_Form_OnChangeDate() {
        suppdetail_formbeginid = 0;
        SuppDetail_LoadForm();
    }

    async function SuppDetail_Form_Render(data, id) {
        new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        stringContent = stringContent +
                            `
                                    <tr class="vt-number">
                                        <td class="vt-number-order"></td>
                                        <td>${ConvertDateTimeUTC_DMY(item.DateReceipt)}</td>
                                        <td><span class="text-primary">${item.Code}</span></td>
                                        <td>${formatNumber(item.Amount)}</td>
                                        <td>${formatNumber(item.Payment)}</td>
                                        <td>${formatNumber(item.Amount - item.Payment)}</td>
                                        <td>${item.Ware}</td>
                                        <td>${item.CreatedName}</td>
                                        <td>${ConvertDateTimeUTC_DMY(item.CreatedDate)}</td>
                                        <td>${item.Note}</td>
                                    <tr>
                                `;

                    }
                }
                myNode.innerHTML = myNode.innerHTML + stringContent;
            }
            resolve();
        });
    }



    async function SuppDetail_Form_Event() {
        new Promise((resolve, reject) => {
            $('#suppdetail_inputsearchform').keyup(function (e) {
                $("#suppdetail_blocksearchform .btn_clear").removeClass('opacity-1')
                var code = e.key;
                if (code === "Enter") e.preventDefault();
                if (code === " " || code === "Enter" || code === "," || code === ";") {
                    if ($(this).val().length > 3) {
                        clearTimeout(suppdetail_searchtimer);
                        suppdetail_searchtimer = setTimeout(function (e) {
                            suppdetail_formbeginid = 0;
                            suppdetail_searchform = xoa_dau($('#suppdetail_inputsearchform').val().toLowerCase()).trim();
                            SuppDetail_LoadForm();
                        }, 200);
                    }
                }
            });

            $("#suppdetail_blocksearchform").on('click', '.btn_clear', function (e) {
                $('#suppdetail_inputsearchform').val('');
                $("#suppdetail_blocksearchform .btn_clear").addClass('opacity-1');
                suppdetail_formbeginid = 0;
                suppdetail_searchform = '';
                SuppDetail_LoadForm();
            });

            resolve();
        });
    }

    //#endregion

    //#region // OTHER

    function SuppDetail_Invoice_NewPayment() {
        $("#suppdetail_master").addClass("d-none");
        $('#suppdetail_detail').removeClass('d-none');
        $("#suppdetail_detail").load('/Account/PaymentSupplier/PaymentDetail?DetailID=0&SupID=' + suppdetail_currentid);
    }

    function SuppDetail_Invoice_NewDeposit() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Account/Deposit/SupplierDepositDetail?SupID=" + suppdetail_currentid + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');

    }

    function SuppDetail_Invoice_Close() {
        $('#suppdetail_master').removeClass('d-none');
        $("#suppdetail_detail").addClass("d-none");
    }

    function SuppDetail_Invoice_Remove(id) {
        $("#payinvoice_invoice_" + id).remove();
        SuppDetail_LoadInfo();
    }

    function SuppDetail_CloseDetail(){
        $("#ASP_SuppListContainer").show();
        $("#ASP_SuppDetail").hide();
        if(typeof ASP_LoadData) ASP_LoadData(suppdetail_currentid);
    }

    //#endregion

</script>