@page
@model MLunarCoffee.Pages.Customer.GeneralInfo.CustCareDetail
@{
    Layout = null;
}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">
                                    <span>@Local["Cập nhật"] </span>
                                    <span id="InfoUpdate_Type" class="ms-1 fw-bold text-primary"></span>
                                </h6>
                                <p class="text-sm mb-0">@Local["Chọn nhân viên"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-2 form3" id="from_customer_care">
                        <div class="field col-12 mt-2 px-1">
                            <div class="me-2 mt-2 ui fluid search selection dropdown form-control" id="InfoCustCare" >
                                <input type="hidden" name="" />
                                <i class="dropdown icon"></i>
                                <i class="remove icon"></i>
                                <div class="default text">@Local["Nhân viên"]</div>
                                <div id="cbbInfoCustCare" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button class="btn bg-gradient-primary mt-2 me-2" id="InfoCustCare_btnSave" onclick="event.preventDefault();return InfoCustCare_ExcuteData();">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/comon/initialize_setting.js"></script>
<script type="text/javascript">
    let _serCCDType = Number(@Model._Type);
    $(document).ready(function () {

        if (_serCCDType == 0) {
            $('#InfoUpdate_Type').html("@Local["Chăm sóc khách hàng"]");
            Load_Combo(sys_MainTele, "cbbInfoCustCare", false);
            $("#InfoCustCare").dropdown("refresh");
            $("#InfoCustCare").dropdown("set selected", ser_CSKHID);
        }
        if (_serCCDType==1) {
            $('#InfoUpdate_Type').html("@Local["Nhân viên marketing phụ trách"]");
            var empMar = sys_MainEmp.filter(function (obj) {
                return obj.IsMarketing === 1;
            });
            Load_Combo(empMar, "cbbInfoCustCare", false);
            $("#InfoCustCare").dropdown("refresh");
            $("#InfoCustCare").dropdown("set selected", ser_MarketingID);
        }
        debugger
        if (_serCCDType==2) {
            $('#InfoUpdate_Type').html("@Local["Người phụ trách"]");
            let empdoc = sys_MainEmp.filter(function (el) {
                return Number(el.GroupID) == 14
            });

            Load_Combo(empdoc, "cbbInfoCustCare", false);
            $("#InfoCustCare").dropdown("refresh");
            $("#InfoCustCare").dropdown("set selected", ser_ResponID);
        }
        InfoCustCare_LoadDetail();

    });

    
    function InfoCustCare_LoadDetail () {
        AjaxLoad(url = "/Customer/GeneralInfo/CustCareDetail/?handler=LoadDetail"
            , data = {
                'CustomerID': ser_MainCustomerID, 
                'Type': _serCCDType
            }
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if(data && data.length != 0){
                        $("#InfoCustCare").dropdown("refresh");
                        $("#InfoCustCare").dropdown("set selected", data[0].EmpID);
                    }
                }
                else {
                    notiError_SW();
                }
            }
            , sender = $("#InfoCustCare_btnSave")
        );
    }
    
    
    
    function InfoCustCare_ExcuteData () {
        if ($('#from_customer_care').form('is valid')) {
            let EmpUserIDid = Number($('#InfoCustCare').dropdown('get value')) ? Number($('#InfoCustCare').dropdown('get value')) : 0;
            AjaxLoad(url = "/Customer/GeneralInfo/CustCareDetail/?handler=ExcuteData"
                , data = {
                    'CustomerID': ser_MainCustomerID
                    , 'EmpUserID': EmpUserIDid
                    , 'Type': _serCCDType
                }
                , async = true
                , error = function () {notiError_SW();}
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        if (typeof GeneralInfo_CCLoad === 'function') {
                            GeneralInfo_CCLoad();
                        }
                        CloseModal();
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = $("#InfoCustCare_btnSave")
            );
        }
        return false;
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
