@page
@model MLunarCoffee.Pages.Student.Library.FolderMove
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="w-100 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0 text-capitalize">@Local["Chọn folder"]</h6>
                                <span class="text-sm mb-0">@Local["Chọn folder đích để di chuyển file"]</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="row px-2 form3" id="mf_form">
                        <div class="field col-12 col-sm-12 col-md-12 col-xl-12 p-1">
                            <label>Folder</label>
                            <div class="ui fluid search selection dropdown form-control" id="mv_folder">
                                <input type="hidden" />
                                <i class="dropdown icon"></i>
                                <input id="searchserviceType_Option" class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .folder</div>
                                <div id="mv_cbbfolder" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="mf_form" onclick="mf_Cancel()">@Local["Đóng"]</button>
                            <button form="mf_form" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="mf_Save()">@Local["Lưu"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let mf_currentfolder = '@Model._currentfolder';
    let mf_file = '@Model._file';
    $(document).ready(function () {
        mf_LoadInitialize();
    });
    function mf_LoadInitialize () {
        AjaxLoad(url = "/Student/Library/FolderMove?handler=LoadCombo"
            , data = {
                "currentfolder": mf_currentfolder,
                "file": mf_file
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    for (let i = 0; i < data.length; i++) {
                       // data[i].Name = data[i].Name.replaceAll('/', '!!!');
                      //  data[i].Name = data[i].Name.replaceAll('!!!', `<span class="mx-2 text-primary fs-6 fw-bold"> / </span>`);
                    }
                    Load_Combo(data, "mv_cbbfolder", false);

                }
            }
        );
    }

    function mf_Save () {

        let folder = Number($('#mv_folder').dropdown('get value')) ? Number($('#mv_folder').dropdown('get value')) : 0;
        if (folder != 0) {
            $('#mf_form').form('validate form');
            if ($('#mf_form').form('is valid')) {
                AjaxLoad(url = "/Student/Library/FolderMove?handler=ExcuteData"
                    , data = {
                        "folderid": folder,
                        "stringfile": mf_file,
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            if (typeof CLibra_Load === 'function') CLibra_Load(isnew = 0, loadmore = 0);
                            mf_Cancel();
                        } else {
                            notiError('Error');
                        }
                    }
                );
            }
        }
        else {
            notiWarning('@Local["Chọn folder"]');
        }
    }
    function mf_Cancel () {
        CloseModal();
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
