@page
@model MLunarCoffee.Pages.Report.Marketing.Voucher.VoucherEffectModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="collapsesticky collapse show" id="MVE_General">
    <div class="card card-plain">
        <div class="vtcardheader card-header pb-0 px-0">
            <div class="right">
                <div class="icon-hover mx-1 my-auto"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Thu gọn"]">
                    <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                       data-bs-toggle="collapse" href="#MVE_GeneralDiv" aria-expanded="true"></i>
                </div>
                <div class="icon-hover mx-1 my-auto"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Tải lại"]">
                    <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                       onclick="event.preventDefault(); return MVE_LoadData()"></i>
                </div>
                <div class="icon-hover mx-1  my-auto"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Xuất excel"]">
                    <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                       onclick="event.preventDefault(); return MVE_Export()"></i>
                </div>
                <button class="btn btn-dark btn-sm my-auto mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colListsMaster">
                    @Local["Xem thêm"]
                </button>
            </div>
            <div class="toggle">
                <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colListsMaster" style="min-width:250px;">
                    <ul class="card card-body text-dark text-capitalize opacity-10">
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogleMaster form-check-input" data-name="vouchername" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Tên"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogleMaster form-check-input" data-name="datefrom" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Ngày bắt đầu"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogleMaster form-check-input" data-name="dateto" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Ngày kết thúc"]</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body p-0 pt-0 collapsesticky collapse show" id=MVE_GeneralDiv>
            <div class="row m-0 my-2">
                <div class="col-12 col-lg-4 col-md-4 px-0 pe-md-2">
                    <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                        <h6 class="text-sm text-primary text-gradient mb-0">@Local["Tổng giảm"]</h6>
                        <h6 class="font-weight-bolder"> <span id="MVE_lbDiscount"></span></h6>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 px-0 pe-md-2">
                    <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                        <h6 class="text-sm text-primary text-gradient mb-0">@Local["Doanh số"]</h6>
                        <h6 class="font-weight-bolder"> <span id="MVE_lbTarget"></span></h6>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4 px-0">
                    <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                        <h6 class="text-sm text-primary text-gradient mb-0">@Local["Doanh thu"]</h6>
                        <h6 class="font-weight-bolder"> <span id="MVE_lbRevenue"></span></h6>
                    </div>
                </div>
            </div>
            <div class="m-0 my-3 mobile-responsive">
                <div id="MVE_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table class="table vt-table mb-0" id="MVE_Grid">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width: 60px">#</th>
                            <th rowspan="2">@Local["Mã voucher"]</th>
                            <th rowspan="2" data-name="vouchername">@Local["Tên"]</th>
                            <th rowspan="2">@Local["Loại"]</th>
                            <th rowspan="2">@Local["Số lượng"] <span class="d-block text-danger">[1]</span></th>
                            <th rowspan="2">@Local["Tối đa số lần sử dụng"] (1 @Local["Voucher"]) <span class="d-block text-danger">[2]</span></th>
                            <th rowspan="2">@Local["Tối đa số lần sử dụng"] <span class="d-block text-danger">[1]*[2]</span></th>
                            <th rowspan="2" data-name="datefrom">@Local["Ngày bắt đầu"]</th>
                            <th rowspan="2" data-name="dateto">@Local["Ngày kết thúc"]</th>
                            <th rowspan="2">@Local["Tổng lần sử dụng"]</th>
                            <th rowspan="2">@Local["Tổng giảm"]</th>
                            <th rowspan="2">@Local["Doanh số (tổng)"]</th>
                            <th rowspan="2">@Local["Doanh thu (tổng)"]</th>
                        </tr>
                    </thead>
                    <tbody id="MVE_GridBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="MVE_Series_Container" style="display:none;">
    <div class="card card-plain">
        <div class="vtcardheader card-header p-0">
            <div class="left">
                <p id="MVE_Series_Title" class="text-md text-dark font-weight-bold mb-1"></p>
            </div>
            <div class="right">
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Thu gọn"]">
                    <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                       data-bs-toggle="collapse" href="#MVE_Series_DivArea" aria-expanded="true"></i>
                </div>
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Tải lại"]">
                    <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                       onclick="event.preventDefault(); return MVE_Series_Loaddata()"></i>
                </div>
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Xuất excel"]">
                    <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                       onclick="event.preventDefault(); return MVE_Series_Export()"></i>
                </div>
                <button class="btn btn-dark btn-sm mt-1 mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                    @Local["Xem thêm"]
                </button>
            </div>
            <div class="toggle">
                <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                    <ul class="card card-body text-dark text-capitalize opacity-10">
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogle form-check-input" data-name="vouchername" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Tên"]</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapsesticky collapse show" id="MVE_Series_DivArea">
            <div class="card-body p-0 pt-0">
                <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                    <div id="MVE_Series_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <table data-name="MVE_Series_Grid" class="table vt-table mb-0" id="MVE_Series_Grid">
                        <thead>
                            <tr>
                                <th style="width: 60px">#</th>
                                <th>@Local["Mã voucher"] [@Local["Series"]]</th>
                                <th data-name="vouchername">@Local["Tên"]</th>
                                <th>@Local["Tối đa số lần sử dụng"]</th>
                                <th>@Local["Lần sử dụng"]</th>
                                <th>@Local["Tổng giảm"]</th>
                                <th>@Local["Doanh số (tổng)"]</th>
                                <th>@Local["Doanh thu (tổng)"]</th>
                            </tr>
                        </thead>
                        <tbody id="MVE_Series_GridBody">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="MVE_Detail_Container" class="mt-3" style="display:none;">
    <div class="card card-plain">
        <div class="vtcardheader card-header pb-0 px-0">
            <div class="left">
                <p id="MVE_Detail_Title" class="text-md text-dark font-weight-bold mb-1"></p>
            </div>
            <div class="right">
                <div class="wrap">
                    <div class="wrapblock">
                        <div class="icon-hover mx-1 my-auto"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Thu gọn"]">
                            <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                               data-bs-toggle="collapse" href="#MVE_Detail_DivArea" aria-expanded="true"></i>
                        </div>
                        <div class="icon-hover mx-1 my-auto"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Tải lại"]">
                            <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                               onclick="event.preventDefault(); return MVE_Detail_Loaddata()"></i>
                        </div>
                        <div class="icon-hover mx-1 my-auto"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["In báo cáo"]">
                            <i class="vtt-icon vttech-icon-print text-lg text-primary cursor-pointer"
                               onclick="event.preventDefault(); MVE_Detail_PrintReport()"></i>
                        </div>
                        <div class="flex-nowrap input-group rounded-0 vttech-input-group mt-1 _tab_control_  my-auto" data-tab="export_excel">
                            <div class="icon-hover mx-1 me-0 input-group-text vttech-input-item vttech-input-item-first"
                                 data-bs-toggle="tooltip" data-bs-placement="top"
                                 data-bs-original-title="@Local["Xuất excel"]">
                                <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer"></i>
                            </div>
                            <div class="input-group-text icon-hover w-auto vttech-input-item">
                                <i class="text-xs text-primary fw-bold" onclick="event.preventDefault(); return MVE_Detail_Export(0)">@Local["Tất cả"]</i>
                            </div>
                            <div class="icon-hover input-group-text w-auto vttech-input-item vttech-input-item-last">
                                <i class="text-xs text-primary fw-bold" onclick="event.preventDefault(); return MVE_Detail_Export(1)">@Local["Tùy chọn"]</i>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div> 
        <div class="collapsesticky collapse show" id="MVE_Detail_DivArea">
            <div class="card-body p-0 pt-0">
                <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                    <div id="MVE_Detail_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <table data-name="MVE_Series_Grid" class="table vt-table mb-0" id="MVE_Detail_Grid">
                        <thead>
                            <tr>
                                <th style="width: 60px">#</th>
                                <th>@Local["Mã voucher"] [@Local["Series"]]</th>
                                <th data-name="vouchername">@Local["Tên"]</th>
                                <th>@Local["Mã khách hàng"]</th>
                                <th>@Local["Khách hàng"]</th>
                                <th>@Local["Dịch vụ"]</th>
                                <th data-name="servicecat">@Local["Nhóm dịch vụ"]</th>
                                <th>@Local["Giảm giá"]</th>
                                <th>@Local["Phát sinh"]</th>
                                <th>@Local["Thanh toán"]</th>
                                <th data-name="created">@Local["Ngày tạo"]</th>
                            </tr>
                        </thead>
                        <tbody id="MVE_Detail_GridBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btnsysmore btn btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return MVE_Detail_RenderMore();">
                @Local["Xem thêm"]
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    let _dateFrom = "@Model._dateFrom";
    let _dateTo = "@Model._dateTo";
    let xhrLoadList, xhrLoadDetailSeries, xhrLoadDetail;
    let DataReportMainDetail;
    let MVE_VoucherID = 0;
    let MVE_Series = 0;
    let shtableMaster, shtable, shtableDetail;
    $(document).ready(function () {
        ToolPopper();
        MVE_LoadData();
        shtableMaster = $("#MVE_Grid").TableExpandColumn({
            shtoogle: $('.shtoogleMaster')
        });
        shtable = $("#MVE_Series_Grid").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        shtableDetail = $("#MVE_Detail_Grid").TableExpandColumn({
            shtoogle: $('.shtoogleDetail')
        });
        Checking_TabControl_Permission();
    });
    function MVE_LoadData() {
        if (xhrLoadList && xhrLoadList.readyState != 4) xhrLoadList.abort();
        xhrLoadList = AjaxLoad(url = "/Report/Marketing/Voucher/VoucherEffect/?handler=LoadData"
            , data = {
                'dateFrom': _dateFrom,
                'dateTo': _dateTo,
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    dataTotal = data.Table;
                    dataVoucher = data.Table1;
                    Count_Up('MVE_lbDiscount', dataTotal[0].TotalDiscount)
                    Count_Up('MVE_lbTarget', dataTotal[0].TotalTarget)
                    Count_Up('MVE_lbRevenue', dataTotal[0].TotalRevenue)
                    $("#MVE_GridBody").empty();
                    MVE_Render(dataVoucher, "MVE_GridBody");
                }
            }
            , sender = null
            , before = function (e) {
                $("#MVE_LoaderList").show();
            }
            , complete = function (e) {
                $("#MVE_LoaderList").hide();
            }
        );
        return false;
    }

    async function MVE_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            if (data && data.length != 0) {
                let tr = '';
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let type = item.VoucherType == 0 ? `<span class="text-dark">@Local["Mặc định"]</span>` : `<span class="text-primary">@Local["Chiến dịch"]</span>`
                    tr = `<tr class="vt-number" role="row">
                                                  <td class="vt-number-order"></td>
                                                  <td>
                                                      <a href="#" class="border-1 border-primary border-bottom buttonViewClass mb-0 text-sm fw-bold" data-id="${item.ID}" data-type="${item.VoucherType}" data-name="${item.VoucherCode}">
                                                         ${item.VoucherCode}
                                                      </a>
                                                  </td>
                                                  <td data-name="vouchername">${item.VoucherName}</td>
                                                  <td>${type}</td>
                                                  <td>${formatNumber(item.IssueQuantity)}</td>
                                                  <td>${formatNumber(item.TimesUsed)}</td>
                                                  <td>${formatNumber(item.IssueQuantity * item.TimesUsed)}</td>
                                                  <td data-name="datefrom">${ConvertDateTimeUTC_DMY(item.DateFrom)}</td>
                                                  <td data-name="dateto">${ConvertDateTimeUTC_DMY(item.DateTo)}</td>
                                                  <td>${formatNumber(item.TotalTimesUsed)}</td>
                                                  <td>${formatNumber(item.TotalDiscount)}</td>
                                                  <td>${formatNumber(item.VourcherTarget)}</td>
                                                  <td>${formatNumber(item.VoucherRevenue)}</td>
                                              </tr>`;
                    myNode.insertAdjacentHTML('beforeend', tr);
                }
                shtableMaster.Refresh();
                MVE_GeneralEvent();
            }
        }
    }
    //#region // LOAD DETAIL BY CLASS AND RENDER
    function MVE_Series_Loaddata() {
        if (xhrLoadDetailSeries && xhrLoadDetailSeries.readyState != 4) xhrLoadDetailSeries.abort();
        xhrLoadDetailSeries = AjaxLoad(url = "/Report/Marketing/Voucher/VoucherEffect/?handler=LoadDetailBySeries"
            , data = {
                'VoucherID': MVE_VoucherID,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo,
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    $('#MVE_Series_GridBody').empty();
                    if (data && data.length != 0) {
                        fnRenderBlock(data, "MVE_Series_GridBody"
                            , blocknum = 100
                            , fnrender = MVE_Series_Render
                            , fnsuccess = null
                        );
                    }
                }
                else if (result == "0") {
                    notiWarning();
                }
            }
            , sender = null
            , before = function (e) {
                $("#MVE_Series_LoaderList").show();
            }
            , complete = function (e) {
                $("#MVE_Series_LoaderList").hide();
            }
        );
    }

    async function MVE_Series_Render(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length != 0) {
                        let tr = '';
                        let TotalTimesUsed = 0, TotalDiscount = 0, VourcherTarget = 0, VoucherRevenue = 0
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            TotalTimesUsed += item.TotalTimesUsed;
                            TotalDiscount += item.TotalDiscount;
                            VourcherTarget += item.VourcherTarget;
                            VoucherRevenue += item.VoucherRevenue;
                            let tr = `<tr class="vt-number" role="row">
                                          <td class="vt-number-order"></td>
                                          <td>
                                              <a href="#" class="border-1 border-primary border-bottom buttonViewClass mb-0 text-sm fw-bold" data-id="${item.ID}" data-name="${item.VoucherCode} [${item.Series}]">
                                                 ${item.VoucherCode} [${item.Series}]
                                              </a>
                                          </td>
                                          <td data-name="vouchername">${item.VoucherName}</td>
                                          <td>${formatNumber(item.TimesUsed)}</td>
                                          <td>${formatNumber(item.TotalTimesUsed)}</td>
                                          <td>${formatNumber(item.TotalDiscount)}</td>
                                          <td>${formatNumber(item.VourcherTarget)}</td>
                                          <td>${formatNumber(item.VoucherRevenue)}</td>
                                          </tr>`;
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                        tr = `<tr class="vt-number text-white bg-gradient bg-primary mt-2" role="row">
                                      <td></td>
                                      <td class="text-start">
                                          <a href="#" class="border-1 border-white border-bottom buttonViewClass text-white" data-id="0">@Local["Tất cả"]</a>
                                      </td>
                                      <td data-name="vouchername"></td>
                                      <td></td>
                                      <td>${formatNumber(TotalTimesUsed)}</td>
                                      <td>${formatNumber(TotalDiscount)}</td>
                                      <td>${formatNumber(VourcherTarget)}</td>
                                      <td>${formatNumber(VoucherRevenue)}</td>
                                  </tr>`;
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
                shtable.Refresh();
                MVE_Series_Event();
                resolve();
            }, 10)
        })
    }

    //#endregion

    //#region // LOAD DETAIL AND RENDER
    function MVE_Detail_Loaddata() {
        if (xhrLoadDetail && xhrLoadDetail.readyState != 4) xhrLoadDetail.abort();
        IndexReportDetail = 0;
        xhrLoadDetail = AjaxLoad(url = "/Report/Marketing/Voucher/VoucherEffect/?handler=LoadDetail"
            , data = {
                'VoucherID': MVE_VoucherID,
                'Series': MVE_Series,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo,
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    DataReportMainDetail = JSON.parse(result);
                    $('#MVE_Detail_GridBody').empty();
                    DataReportMainDetailSlice = sliceIntoChunks(data, 100);
                    if (DataReportMainDetailSlice && DataReportMainDetailSlice.length != 0) {
                        fnRenderBlock(DataReportMainDetailSlice[IndexReportDetail], "MVE_Detail_GridBody"
                            , blocknum = 100
                            , fnrender = MVE_Detail_Render
                            , fnsuccess = null
                        );
                    }
                }
                else if (result == "0") {
                    notiWarning();
                }
            }
            , sender = null
            , before = function (e) {
                $("#MVE_Detail_LoaderList").show();
            }
            , complete = function (e) {
                $("#MVE_Detail_LoaderList").hide();
            }
        );
    }

    function MVE_Detail_RenderMore() {
        IndexReportDetail += 1;
        if (DataReportMainDetailSlice && DataReportMainDetailSlice[IndexReportDetail]) {
            fnRenderBlock(DataReportMainDetailSlice[IndexReportDetail], "MVE_GridDetailBody"
                , blocknum = 100
                , fnrender = MVE_RenderDetail
                , fnsuccess = null
            );
        }
    }
    async function MVE_Detail_Render(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length != 0) {
                        let tr = '';
                        let countGroup = 0;
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = `<tr class="vt-number" role="row">
                                          <td class="vt-number-order"></td>
                                          <td>${item.VoucherCode} [${item.Series}]
                                          </td>
                                          <td data-name="vouchername">${item.VoucherName}</td>
                                          <td>
                                                <a target="_blank" href="/Customer/MainCustomer?CustomerID=${item.CustID}" class="cursor-pointer buttonViewClass">${item.CustCode}</a>
                                          </td>
                                          <td>${item.CustName}</td>
                                          <td>${item.Service}</td>
                                          <td data-name="servicecat">${Fun_GetName_ByID(RP_DataServiceCat, item.ServiceCatID)}</td>
                                          <td>${formatNumber(item.VoucherDiscount)}</td>
                                          <td>${formatNumber(item.PriceDiscounted)}</td>
                                          <td>${formatNumber(item.Amount)}</td>
                                          <td data-name="created">${ConvertDateTimeUTC_DMYHM(item.Created)}</td>
                                          </tr>`;
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                        shtableDetail.Refresh();
                    }
                }
                resolve();
            }, 10)
        })
    }

    //#endregion

    //#region // Event
    function MVE_GeneralEvent() {
        $("#MVE_GridBody .buttonViewClass").unbind('click').on("click", function () {
            MVE_VoucherID = $(this).attr('data-id');
            MVE_VoucherType = $(this).attr('data-type');
            let name = $(this).attr('data-name');
            if (MVE_VoucherType == "0") {
                $("#MVE_Detail_Title").html(name);
                $("#MVE_Series_Container").hide();
                $("#MVE_Detail_Container").fadeIn('slow');
                $('html, body').animate({
                    scrollTop: $("#MVE_Detail_Container").offset().top
                }, 300);
                MVE_Series = 0;
                MVE_Detail_Loaddata()
            }
            else {
                $("#MVE_Series_Title").html(name);
                $("#MVE_Detail_Container").hide();
                $("#MVE_Series_Container").fadeIn('slow');
                $('html, body').animate({
                    scrollTop: $("#MVE_Series_Container").offset().top
                }, 300);
                MVE_Series_Loaddata();
            }
        })
    }

    function MVE_Series_Event() {
        $("#MVE_Series_GridBody .buttonViewClass").unbind('click').on("click", function () {
            MVE_Series = $(this).attr('data-id');
            let name = $(this).attr('data-name');
            $("#MVE_Detail_Container").fadeIn('slow');
            $('html, body').animate({
                scrollTop: $("#MVE_Detail_Container").offset().top
            }, 300);
            if (MVE_Series == "0") {
                $("#MVE_Detail_Title").html('@Local["Tất cả"]');
            }
            else {
                $("#MVE_Detail_Title").html(name);
            }
            MVE_Detail_Loaddata();
        })
    }

    function MVE_Export() {
        exportToExcel("MVE_Grid", Outlang["Bao_cao_hieu_qua_voucher"]);
    }

    function MVE_Series_Export() {
        let fileName = Outlang["Bao_cao_hieu_qua_voucher"] + '_' + xoa_dau($("#MVE_Series_Title").text()).replaceAll(' ', '_');
        exportToExcel("MVE_Series_Grid", fileName);
    }

    async function MVE_Detail_Export(isOption = 0) {
        try {
            if (DataReportMainDetail && DataReportMainDetail.length != 0) {
                let isAll = (isOption == 0);
                let eleContainer = $('#MVE_Detail_Container');
                var dataHeader = {
                    "STT": ["@Local["STT"]", (value, { }, index) => { return index + 1; }],
                    "VoucherCode": ["@Local["Mã voucher"] [@Local["Series"]]", (value, { Series }) => { return `${value} [${Series}]` }],
                    "VoucherName": ["@Local["Tên"]"],
                    "CustCode": ["@Local["Mã khách hàng"]"],
                    "CustName": ["@Local["Khách hàng"]"],
                    "Service": ["@Local["Dịch vụ"]"],
                    "ServiceCatID": {
                        isShow: isAll || (eleContainer.find(`.shtoogleDetail[data-name='servicecat']`)).is(":checked"),
                        data: ["@Local["Nhóm dịch vụ"]", (value) => {
                            return Fun_GetName_ByID(RP_DataServiceCat, value)
                        }]
                    },
                    "VoucherDiscount": ["@Local["Giảm giá"]"],
                    "PriceDiscounted": ["@Local["Phát sinh"]"],
                    "Amount": ["@Local["Thanh toán"]"],
                    "Created": {
                        isShow: isAll || (eleContainer.find(`.shtoogleDetail[data-name='created']`)).is(":checked"),
                        data: ["@Local["Ngày tạo"]", (value) => {
                            return ConvertDateTimeUTC_DMYHM(value)
                        }]
                    }
                }
                dataHeader = Checking_TabControl_System_RebuildHeader(dataHeader, tableBodyId = 'MVE_Detail_GridBody', PermissionTable_TabControl);
                let fileName = Outlang["Bao_cao_hieu_qua_voucher"] + '-' + xoa_dau($("#MVE_Detail_Title").text()).replaceAll(' ', '-');
                exportJsonToExcel(fileName, DataReportMainDetail, dataHeader);
            }
            else {
                notiWarning('@Local["Không có dữ liệu để xuất"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không xuất được file"]!');
        }
    }
    async function MVE_Detail_PrintReport() {
        try {
            if (DataReportMainDetail && DataReportMainDetail.length != 0) {
                let _branchID = "0";
                let _dateFrom = "@Model._dateFrom";
                let _dateTo = "@Model._dateTo";
                var dataHeader = {
                    "STT": ["@Local["STT"]", {
                        callbackRenderValue: (value, { }, index) => { return index + 1; }
                    }],
                    "VoucherCode": ["@Local["Mã voucher"] [@Local["Series"]]", {
                        callbackRenderValue: (value, { Series }) => { return `${value} [${Series}]` }
                    }],
                    "VoucherName": ["@Local["Tên"]"],
                    "CustCode": ["@Local["Mã khách hàng"]"],
                    "CustName": ["@Local["Khách hàng"]"],
                    "Service": ["@Local["Dịch vụ"]"],
                    "ServiceCatID": ["@Local["Tình trạng tiền đóng"]", {
                        isShow: $(`.shtoogle[data-name='servicecat']`).is(":checked"),
                        callbackRenderValue: (value) => {
                            return Fun_GetName_ByID(RP_DataServiceCat, value)
                        }
                    }],
                    "VoucherDiscount": ["@Local["Giảm giá"]"],
                    "PriceDiscounted": ["@Local["Phát sinh"]"],
                    "Amount": ["@Local["Thanh toán"]"],
                    "Created": ["@Local["Ngày tạo"]", {
                        isShow: $(`.shtoogle[data-name='created']`).is(":checked"),
                        callbackRenderValue: (value) => {
                            return ConvertDateTimeUTC_DMYHM(value)
                        }
                    }]
                };
                $("#MainSendMail_Content").empty();
                $("#MainSendMail_Content").load('/Print/Reports/reportform?&dateFrom=' + _dateFrom + '&dateTo=' + _dateTo + '&branch=' + _branchID + '&ver=' + versionofWebApplication
                    , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "success") {
                            $("#MainSendMail").addClass('active');
                            let fileName = Outlang["Bao_cao_hieu_qua_voucher"] + ' ' + $("#MVE_Detail_Title").text();
                            let options = {
                                empName: sys_employeeName_Main
                            }
                            if (typeof PRF_CBPrintReport === 'function')
                                PRF_CBPrintReport(namePrint = fileName, DataReportMainDetail, dataHeader, options);
                        }
                        if (statusTxt == "error") {
                            console.warn("error");
                        }
                    })
            }
            else {
                notiWarning('@Local["Không có dữ liệu"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không in được file"]!');
        }
    }
                    //#endregion

</script>



