@page
@model MLunarCoffee.Pages.Facebook.FanpageMessModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
 
<script>js_require_notasync('/Facebook/sdk.js', true);</script>
<script>js_require_notasync('/Facebook/conversation.js', true);</script>
<script>js_require_notasync('/Facebook/message.js', true);</script>
<script>js_require_notasync('/js/emoji-mart.js', true);</script>
<script>js_require_notasync('/Facebook/receipt.js', true);</script>
<script>js_require_notasync('/Facebook/info.js', true);</script>
<link rel="stylesheet" href="/css/facebookpage.css" />

<div class="row position-relative">

    <div id="fb_authorarea" class="d-none col-12 mt-3 col-md-5 col-xl-5  position-absolute top-0 start-50 translate-middle-x px-2" style=" z-index: 1000;">
        <div class="card shadow-lg  pb-0 p-3">
            <div class="row">
                <div class="text-dark">
                    <div class="d-flex justify-content-center my-3">
                        <div class="row text-center">
                            <div class="my-2 text-sm fw-bold text-primary">@Local["Đăng nhập để tiếp tục"]</div>
                            <div id="fb_loginface" class="fb-login-button "
                                 data-size="medium"
                                 data-button-type="continue_with"
                                 data-layout="rounded"
                                @*data-scope="publish_pages,pages_messaging,manage_pages,pages_read_engagement,pages_manage_engagement"*@
                                 data-scope="pages_read_user_content,pages_messaging,pages_show_list,pages_manage_engagement,pages_manage_metadata,public_profile"
                                 data-onlogin="FB_SuccessLogin()"
                                 data-auto-logout-link="false" data-use-continue-as="true" data-width="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div id="fb_mainrarea" class="col-12 p-0 position-relative">
        <div id="fb_receiparea" class="position-absolute top-0 end-0">
        </div>
        <div class="card-header border-bottom px-1 position-relative " style="z-index: 4">
            <div class="d-flex">
                <div class="col-w-350 pe-2 d-flex align-items-center position-relative">
                    <div class="input-group" id="fb_seachmess">
                        <span class="input-group-text cursor-pointer d-lg-flex d-none" onclick="return FB_ListMess_ChangeView(this);" style="width: 40px;">
                            <i class="active fas fa-user-circle"></i>
                            <i class="far fa-address-card d-none"></i>
                        </span>
                        <span class="input-group-text" style="width: 40px;">
                            <i class="fas fa-search"></i>
                            <div style="display:none;" class="spinner-border spinner-border-sm text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </span>
                        <input id="fb_seachmess_input" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm"]">
                        <div class="input-group-text p-0" style="width: 40px;">
                            <div class="position-relative mx-auto">
                                <a class="cursor-pointer px-2" role="tab" onclick="return FBC_LoadReset();">
                                    <i class="text-gradient text-primary fas fa-redo-alt"></i>
                                </a>
                            </div>
                        </div>
                        <div class="input-group-text position-relative d-inline ps-2">

                            <a class="position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#fbc_filter">
                                <i class="fas fa-filter"></i>
                            </a>
                            <div class="collapse collapsesticky position-absolute z-index-4 mt-2" id="fbc_filter" style=" min-width: 265px; z-index: 1000; height: 500px;">
                                <div class="card shadow-lg p-3 position-relative">
                                    <a onclick="fbf_FilterClose()" class="cursor-pointer position-absolute top-0 end-0 me-3 mt-3">
                                        <i class="fas fa-times fs-6 text-danger "></i>
                                    </a>
                                    <div class="form-check form-switch mb-0 ms-2 mt-2 d-flex">
                                        <input onchange="fbf_FilterExe()" id="fbf_read" class="border-0 form-check-input" type="checkbox">
                                        <label class="text-sm fw-normal ps-2">Chưa đọc</label>
                                    </div>
                                    <div class="form-check form-switch mb-0 ms-2 d-flex">
                                        <input onchange="fbf_FilterExe()" id="fbf_follow" class="border-0 form-check-input" type="checkbox">
                                        <label class="text-sm fw-normal ps-2">Theo dõi</label>
                                    </div>
                                    <div class="form-check form-switch mb-0 ms-2 d-flex">
                                        <input onchange="fbf_FilterExe()" id="fbf_shohide" class="border-0 form-check-input" type="checkbox">
                                        <label class="text-sm fw-normal ps-2">Không hoạt động</label>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <ul id="fbf_taglist" class="my-2 nav w-100  bg-white rounded-0 pt-1 ps-2" style="height: 200px;overflow-y:auto">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex ms-auto my-auto mt-1 pe-2">

                    <div class="position-relative d-inline ps-2">

                        <a class="position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#fbc_page">
                            <img id="fb_pagecuravatar" class="avatar border border-1 avatar-xs" src="/default.png" alt="label-image" />
                            <span id="fb_pagecurname" class="text-sm ps-2"></span>
                            <span id="fb_pageunreadcount" class="opacity-0 circle badge badge-xs badge-circle bg-gradient-success p-0 mt-1 ms-0 position-absolute top-0 start-0 translate-middle" style="width: 14px;height: 14px;"> </span>
                        </a>
                        <div class="collapse position-absolute z-index-4 end-1 top-100 mt-2" id="fbc_page" style="min-width: 250px; z-index: 1000;">
                            <div class="card card-body">
                                <div class="d-flex w-100 align-items-center fw-bold">
                                    <div class="ms-0">
                                        <img id="fb_myavatar" class="avatar border border-1 avatar-xs" src="/default.png" alt="label-image" />
                                        <a id="fb_btlogout" href="#" class="fw-normal text-sm text-primary ps-2">@Local["Đăng xuất"]</a>
                                    </div>
                                </div>
                                <hr class="horizontal dark my-2" />
                             
                                <ul id="fb_pagelist" data-target="#fbc_chatlistmaster" class="ps-0 text-dark text-capitalize opacity-10 rounded-2 max-heght-500 overflow-auto">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fbc_area" class="card-body p-0 position-relative" style="height: calc(100vh - 119px);">

            <div class="d-flex col-12 h-100">
                <div id="fbc_chatlistmaster" class="col-w-400 border-end position-relative h-100 overflow-y">
                    <div id="fbc_wait" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x z-index-3 d-none">
                        <div class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="fbc_listemp" class="text-center position-absolute top-0 start-50 translate-middle-x d-none z-index-2">
                        <div class="mt-5 mx-auto text-center">
                            <img class="mb-2" src="/Image/faceempty.png" />

                        </div>
                    </div>
                    <ul id="fbc_list" class="nav flex-column bg-white rounded-0 pt-1 ps-2">
                    </ul>
                </div>
                <div class="flex-grow-1 h-100">
                    <div id="fbc_begin" class="col-12 text-center">
                        <p class="mt-4">Chọn cuộc trò chuyện để bắt đầu</p>
                    </div>
                    <div id="fbc_chatting" class="h-100 ps-2 d-none">
                    </div>
                </div>
                <div id="fbc_profileinfo" class="col-w-350 border-start ">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //var fb_perneed = ['manage_pages', 'publish_pages', 'pages_messaging'];
    var fb_perneed = ['public_profile', 'pages_show_list', 'pages_manage_posts', 'pages_messaging'];
    var flr_me = "https://graph.facebook.com/{version}/me?fields=name,picture{url}";
    var flr_permission = "https://graph.facebook.com/{version}/me/permissions";
    var flr_listpage = "https://graph.facebook.com/{version}/me/accounts?fields=picture{url},id,access_token,name,link";
    //  var flr_conver = "https://graph.facebook.com/{version}/{pageid}/conversations?fields=senders,messages.limit(1){created_time,from,message,sticker,attachments.limit(1){image_data,mime_type,file_url,name}},link,updated_time,unread_count&platform=messenger{action}";
    var flr_conver = "https://graph.facebook.com/{version}/{pageid}/conversations?fields=senders,snippet,link,updated_time,unread_count&platform=messenger{action}";
    var flr_profile = "https://graph.facebook.com/{version}/{uid}?fields=profile_pic";
    var flr_avatar = "https://graph.facebook.com/{uid}/picture?type=normal";
    var flr_longlive = "https://graph.facebook.com/{version}/oauth/access_token?grant_type=fb_exchange_token&client_id={appid}&client_secret={appsecret}";
    var flr_messlist = "https://graph.facebook.com/{version}/{conid}?fields=messages.limit(30){created_time,from,message,sticker,attachments.limit(10){image_data,mime_type,file_url,name,video_data}}";
    var flr_messdetail = "https://graph.facebook.com/{version}/{messid}?fields=created_time,from,message,sticker,attachments.limit(10){image_data,mime_type,file_url,name,video_data}";
    var flr_sendmess = "https://graph.facebook.com/{version}/{pageid}/messages";
    var flr_attachupload = "https://graph.facebook.com/{version}/me/message_attachments";
    var flr_block = "https://graph.facebook.com/{version}/{pageid}/blocked";
    var flr_checkblock = "https://graph.facebook.com/{version}/{pageid}/blocked?uid={uid}";
    var flr_actionmess = "https://graph.facebook.com/{version}/me/messages";
    var flr_getconfrommess = "https://graph.facebook.com/{version}/{pageid}/conversations?fields=id&user_id={psid}";

    var fl_permission, fl_listpage, fl_conver, fl_avatar
        , fl_profile, fl_me, fl_longlive, fl_messlist
        , fl_sendmess, fl_attachupload, fl_messdetail
        , fl_actionmess
        , fl_block, fl_checkblock;
    var fb_appid = '@Model.Face_appid';
    var fb_version = '@Model.Face_version';
    var fb_usertoken = '';
    var fb_useravatar = '';
    var fb_userid = '';
    var fb_pagetoken = '';
    var fb_pageid = '';
    var fb_conaction = '';
    var fbm_conid = '';

    var fb_xhrloadconver;
    var fb_limit = 30;
    var fb_begindate = 0;
    var fb_scrolltimer;
    var fb_scrollstop = 0;
    var fb_allowpage = {};
    var fb_fbtag = {};
    var fb_currentag = "";
    var fbl_flag = 1;
    var fcd_XhrLoadMess;
    var fbm_coppied='';
    $(document).ready(function () {

        AjaxLoad(url = "/Facebook/FanpageMess/?handler=Ini"
            , data = {}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != "0") {
                    let datas = JSON.parse(result);
                    let dataTag = datas.Tag;
                    for (let j = 0; j < dataTag.length; j++) {
                        fb_fbtag[dataTag[j].ID] = dataTag[j];
                    }
                    fbf_RenderTag(fb_fbtag, "fbf_taglist");
                    let data = datas.Page;
                    if (data != undefined && data.length > 0) {
                        for (let j = 0; j < data.length; j++) {
                            fb_allowpage[data[j].PageID] = data[j];
                        }
                        fl_me = flr_me.replace('{version}', fb_version);
                        FB_Init();
                        $('#fb_btlogout').on("click", function (e) {
                            e.preventDefault();
                            FB_Logout();
                        });
                        FB_EventInit();
                        FB_ComponentLoad();
                    }
                }
                else {
                    notiError_SW();
                }
            }
        );
    })

    //#region // Author
    function FB_Init() {
        FB.init({
            appId: fb_appid,
            cookie: true,
            xfbml: true,
            version: fb_version
        });
        FB.getLoginStatus(function (response) {
            if (response.authResponse != undefined && response.status == "connected") {
 
                fb_usertoken = response.authResponse.accessToken;
                fb_userid = response.authResponse.userID;
                let info = author_get("fb_accountinfo");
                if (info != undefined && info != "") {
                    $('#fb_authorarea').addClass('d-none');
                    FB_FillMe();
                    FB_Listpageget(function () { FBC_LoadCurppage(); });
                }
                else {
                    $.ajax({
                        url: fl_me + '&access_token=' + fb_usertoken,
                        dataType: "json",
                        type: "GET",
                        data: JSON.stringify({}),
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                        },
                        beforeSend: function () {
                        },
                        success: function (result) {
                            fb_useravatar = result.picture.data.url;
                            let e = {};
                            e.id = fb_userid;
                            e.accessToken = fb_usertoken;
                            e.avatar = fb_useravatar;
                            author_set("fb_accountinfo", JSON.stringify(e));
                            $('#fb_authorarea').addClass('d-none');
                            FB_FillMe();
                            FB_Listpageget(function () {FBC_LoadCurppage();});
                            //FB_GetPermission(function () {
                               
                            //});
                        },
                        beforeSend: function () {
                        },
                        complete: function () {
                        }
                    })
                }


            }
            else {
                $('#fb_authorarea').removeClass('d-none');
            }
        });


    }
    function FB_SuccessLogin() {
        location.reload();
    }

    function FB_FillMe() {
        let info = author_get("fb_accountinfo");
        if (info != undefined && info != "") {
            var _obj = JSON.parse(info);
            $('#fb_myavatar').attr("src", _obj.avatar);
 

        }
        fl_permission = flr_permission.replace('{version}', fb_version) + "?access_token=" + fb_usertoken;
        fl_listpage = flr_listpage.replace('{version}', fb_version) + "&access_token=" + fb_usertoken;

    }
    function FB_Logout() {
        try {
            FB.logout(function (response) {
                FB_Clearpage();
                location.reload();
            });

        }
        catch (ex) {
            FB_Clearpage();
            location.reload();
        }
    }
    //#endregion

    //#region // Permission
    function FB_GetPermission(callback) {
        $.ajax({
            url: fl_permission,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                FB_CheckPermission(false);
            },
            beforeSend: function () {

            },
            success: function (result) {
                 
                if (result.data != undefined && result.data.length != undefined) {
                    let author = true;
                    for (i = 0; i < fb_perneed.length; i++) {
                        let authorEach = false;
                        for (j = 0; j < result.data.length; j++) {
                            if (fb_perneed[i] == result.data[j].permission) {
                                if (result.data[j].status == "granted") { authorEach = true; break; }
                            }
                        }
                        if (!authorEach) {
                            author = false;
                            break;
                        }
                    }
                    if (author) callback();
                    FB_CheckPermission(author);
                }

            }
        })
    }
    function FB_CheckPermission(suc) {
        if (suc) {
            if ($('#Face_loginout').hasClass('errorPermission')) {
                $('#Face_loginout').removeClass('errorPermission')
            }
        }
        else {
            if (!$('#Face_loginout').hasClass('errorPermission')) {
                $('#Face_loginout').addClass('errorPermission')
            }
        }
    }
    //#endregion

    //#region // List page
    function FB_Listpageget(callback) {
        $.ajax({
            url: fl_listpage,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({}),
            contentType: 'application/json; charset=utf-8',
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notiError();
            },
            success: function (result) {
                let data = result.data;
                let dataallow = {};
                if (data != undefined && data.length != 0) {
                    for (let i = 0; i < data.length; i++) {
                        if (fb_allowpage[data[i].id] != undefined && fb_allowpage[data[i].id].IsAlllow == 1) {
                            data[i].IsNoti = fb_allowpage[data[i].id].IsNoti;
                            dataallow[data[i].id] = data[i];
                        }
                    }
                    author_set("fb_pagelist", JSON.stringify(dataallow));
                    FB_ListpageRender(dataallow, "fb_pagelist");
                    callback();
                }
                else author_set("fb_pagelist", '');
            },
            beforeSend: function () {

            },
            complete: function () {

            }

        })
    }

    async function FB_ListpageRender(data, id) {
        return new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    myNode.innerHTML = '';
                    let ii = 0;
                    for (var [key, value] of Object.entries(data)) {
                        let item = value;
                        let tr =
                            `<li id="pr${item.id}" class="d-flex page w-100 cursor-pointer" data-id=${item.id}
                                        data-name=${item.name}
                                        data-url=${item.picture.data.url} data-token=${item.access_token} >
                                        <div class="d-flex align-items-center text-sm text-dark">
                                            <img class="avatar border border-1 avatar-xs me-2" src="${item.picture.data.url}" alt="label-image" />
                                            <span class="pname ellipsis_two_line">${item.name}</span>
                                            <div class="badread circle badge badge-xs badge-circle bg-gradient-success p-0 ms-2 opacity-0" style="width: 10px;height: 10px;"><span></span>
                                        </div>
                                        </div>
                                    </li>
                                    ${ii == (Object.keys(data).length - 1) ? `` : `<hr class="horizontal dark mt-2 mb-2">`}`
                        myNode.insertAdjacentHTML('beforeend', tr);
                        ii = ii + 1;
                    }
                }
                FB_ListpageEvent();
                resolve();
            }, 10);
        })
    }
    function FB_ListpageEvent() {
        $('#fb_pagelist .page').unbind().click(function () {
            let _e = {};
            _e.id = $(this).attr('data-id');
            _e.pagetoken = $(this).attr('data-token');
            _e.name = $(this).attr('data-name');
            _e.url = $(this).attr('data-url');
            $(this).removeClass('unread');
            let _pageun = $('#fb_pagelist .page.unread');
            if (_pageun != undefined && _pageun.length == 0) {
                $("#fb_pageunreadcount").removeClass('newmess');
            }
            let _d = [];
            _d.push(_e);
            author_set("fb_pageselected", JSON.stringify(_d));
            FBC_LoadCurppage();
        });
    }
    function FBC_LoadCurppage() {

        let _listpage = author_get("fb_pagelist");
        if (_listpage != undefined && _listpage != "") {
            let _obj = JSON.parse(_listpage);
            let _curselect = author_get("fb_pageselected");
            if (_curselect != undefined && _curselect != "") {
                let _objselected = JSON.parse(_curselect);
                fb_pagetoken = _objselected[0].pagetoken;
                fb_pageid = _objselected[0].id;
                $('#fb_pagecuravatar').attr("src", _objselected[0].url);
                $('#fb_pagecurname').html(_objselected[0].name);
            }
            else {
                let first = Object.values(_obj)[0];
                fb_pagetoken = first.access_token;
                fb_pageid = first.id;
                $('#fb_pagecuravatar').attr("src", first.picture.data.url);
                $('#fb_pagecurname').html(first.name);
            }
            FB_ListpageRender(_obj, "fb_pagelist");
        }
        FBC_RegisTopic();
        FBC_GetLink(fb_version, fb_pageid, fb_pagetoken, _action = fb_conaction);
        FB_ChangeAction();
    }
    async function FBC_RegisTopic() {
        return new Promise((resolve, reject) => {
            let _fcm = author_get('fcm');
            if (_fcm != undefined && _fcm != "") {
                let objfcm = JSON.parse(_fcm);
                if (objfcm != undefined && objfcm.token != undefined) {
                    AjaxJWT(url = "/api/Topic/RegisterTopic"
                        , data = JSON.stringify({
                            'token': objfcm.token
                            , 'pageid': fb_pageid
                        })
                        , async = true
                        , success = function (result) { }
                    );
                }
            }

        })
    }

    function FB_ChangeAction(action = '') {
        fb_conaction = action;
        FBC_GetLink(fb_version, fb_pageid, fb_pagetoken, _action = fb_conaction);
        FBC_Load();
    }

    function FB_Clearpage() {
        author_set("fb_pagelist", "");
        author_set("fb_pageselected", "");
        author_set("fb_accountinfo", "");

    }
    //#endregion

    //#region // Component
    async function FB_ComponentLoad() {
        return new Promise((resolve) => {
            setTimeout(() => {
                $("#fbc_chatting").load("/Facebook/Chating/ChatingDetail?ver=" + versionofWebApplication);
                $("#fbc_profileinfo").load("/Facebook/Chating/Profileinfo?ver=" + versionofWebApplication);
                resolve();
            }, 10);
        })
    }
    //#endregion

    //#region // Event Init



    function FB_EventInit() {

        let _timersearch;
        $("#fb_seachmess_input").unbind('keyup').on('keyup', function () {
            let input = $(this);
            fb_scrollstop = 1;
            $("#fb_seachmess .fa-search").hide();
            $("#fb_seachmess .spinner-border").show();
            clearTimeout(_timersearch);
            _timersearch = setTimeout(function (e) {
                let _val = FB_SearchMessVal();
                if (typeof FBC_Load == 'function')
                    FBC_Load(0, 0, _val,0);

            }, 300);
        })

        $("#fbc_chatlistmaster").scroll(function () {
            let _scrollTop = $(this).scrollTop();
            let _heightMax = $("#fbc_list").height() * 0.8 - $("#fbc_chatlistmaster").height();
            if (_scrollTop > _heightMax) {
                if (fb_scrolltimer) clearTimeout(fb_scrolltimer);
                fb_scrolltimer = setTimeout(() => {
                    let _val = FB_SearchMessVal();
                    if (!fb_scrollstop) FBC_Load(0, 1, _val,0);
                }, 200);
            }
        });
    }

    //#endregion

    //#region // OTHER

    function FB_SearchMessVal() {
        return $("#fb_seachmess_input").val()
            ? (xoa_dau($("#fb_seachmess_input").val())).trim().replaceAll(' ', '')
            : "";
    }

    function FB_ListMess_ChangeView(e) {
        $("#fbc_chatlistmaster").toggleClass("collapview");
        let itemActive = $(e).find('.active');
        itemActive.removeClass('active').addClass('d-none');
        itemActive.siblings().addClass('active').removeClass('d-none');
    }

    //#endregion


</script>
