@page
@model MLunarCoffee.Pages.WareHouse.DrugStore.GeneralModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="container-fluid px-0" id="DS_Container">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-1">
                    <div class="left">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-xl-6 p-1 text-center text-md-start text-lg-start" id="box_time_app_in_date">
                                <div class="fix_div" style="width: 250px; display: inline-block;">
                                    <div class="box_date_time">
                                        <div class="box_date_time_step">
                                            <div class="box_date_time_icon" id="WDS_DatePrev"><i class="vtt-icon vttech-icon-Arrow-lefts"></i></div>
                                            <div id="WDS_boxDateContent" class="box_date_time_content cursor-pointer" tabindex="0" data-bs-toggle="collapse" role="tab" data-bs-target="#WDS_clpChooseDate" aria-expanded="true">
                                                <span id="WDS_DOWDateCurrent"></span>
                                                <span id="WDS_DateCurrent"></span>
                                                <div class="box_date_time_reset"><a id="ResetWDS_DateCurrent" class="cursor-pointer" onclick="return WDS_Reset_InDay();">@Local["Hôm nay"]</a></div>
                                            </div>

                                            <div class="box_date_time_icon" id="WDS_DateNext"><i class="vtt-icon vttech-icon-Arrow-rights"></i></div>
                                        </div>
                                        <div class="collapsesticky position-absolute z-index-3 start-1 collapse" id="WDS_clpChooseDate" style="min-width: 285px;">
                                            <div class="d-flex justify-content-lg-start justify-content-md-center">
                                                <input id="WDS_dpCurrentDate" class="form-control flatpickr d-none" type="text"
                                                       placeholder="eg .@Local["Ngày"]" onchange="WDS_onChangeCurrentDate()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="d-flex pe-2">
                            <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-primary text-center w-auto p-2 me-2 d-flex justify-content-center">
                                <span id="WSD_TotalMedAll" class="text-white font-weight-bolder" data-type="1">0</span>
                            </div>
                            <span class="text-sm text-dark fst-italic text-nowrap">@Local["Đơn thuốc"]</span>
                        </div>
                        <div class="d-flex pe-2">
                            <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-success text-center w-auto p-2 me-2 d-flex justify-content-center">
                                <span id="WSD_TotalMedExport" class="text-white font-weight-bolder" data-type="2">0</span>
                            </div>
                            <span class="text-sm text-dark fst-italic text-nowrap">@Local["Đã xuất"]</span>
                        </div>
                        <div class="d-flex">
                            <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-secondary text-center w-auto p-2 me-2 d-flex justify-content-center">
                                <span id="WSD_TotalMedNonExport" class="text-white font-weight-bolder" data-type="5">0</span>
                            </div>
                            <span class="text-sm text-dark fst-italic text-nowrap">@Local["Chưa xuất kho"]</span>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="d-lg-flex">
                        <div class="col-w-400 mx-auto">
                            <div class="card-body p-0">
                                <div id="WDS_DivMasterLoading" class="waitingdiv text-center" style="display: none;">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div class="vtcondition pb-3">
                                    <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                                    <div class="fulllap collapse collapsesticky show">
                                        <div class="input-group flex-nowrap" id="WDS_divSearchMed">
                                            <div class="input-group-text input-group-text px-2">
                                                <i class="fa fa-barcode icon-barcode" aria-hidden="true"></i>
                                                <div class="spinner-border spinner-border-sm" style="display:none;"></div>
                                            </div>
                                            <input id="WDS_txtMedCode" type="text" class="form-control ps-2" placeholder="eg .@Local["Mã đơn thuốc"]">
                                            <div class="input-group-text p-0">
                                                <div class="position-relative d-inline">
                                                    <a class="cursor-pointer px-2" data-bs-toggle="collapse" role="tab" data-bs-target="#colListsDrugStore">
                                                        <i class=" text-gradient text-primary pe-2 fw-bold fas fa-filter"></i>
                                                    </a>
                                                    <div class="collapsesticky collapse position-absolute z-index-3 end-1 top-100 mt-1" id="colListsDrugStore" style="min-width:250px;">
                                                        <div class="card card-body text-dark text-capitalize opacity-10">
                                                            <div class="field col-12 mt-2">
                                                                <div class="ui fluid search selection dropdown form-control" id="WDS_Branch">
                                                                    <input type="hidden" name="branch" />
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="default text">eg .@Local["Tất cả chi nhánh"]</div>
                                                                    <div id="WDS_cbbBranch" class="menu" tabindex="-1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field col-12 mt-2">
                                                                <div class="ui fluid search selection dropdown form-control" id="WDS_CreatedBy">
                                                                    <input type="hidden" name="branch" />
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="default text">eg .@Local["Người tạo"]</div>
                                                                    <div id="WDS_cbbCreatedBy" class="menu" tabindex="-1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field col-12 mt-2">
                                                                <div class="ui fluid search selection dropdown form-control" id="WDS_SellerID">
                                                                    <input type="hidden" name="branch" />
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="default text">eg .@Local["Bán hàng"]</div>
                                                                    <div id="WDS_cbbSellerID" class="menu" tabindex="-1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field col-12 mt-2">
                                                                <div class="ui fluid search selection dropdown form-control" id="WDS_DoctorID">
                                                                    <input type="hidden" name="branch" />
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="default text">eg .@Local["Bác sĩ kê toa"]</div>
                                                                    <div id="WDS_cbbDoctorID" class="menu" tabindex="-1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field col-12 mt-2">
                                                                <div class="ui fluid search selection dropdown form-control" id="WDS_TypeExport">
                                                                    <input type="hidden" name="branch" />
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="default text">eg .@Local["Tất cả loại"]</div>
                                                                    <div id="WDS_cbbTypeExport" class="menu" tabindex="-1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field col-12 mt-2">
                                                                <button class="btn btn-dark btn-sm my-2 w-100" onclick="WDS_CollaseHide()">@Local["Đóng"]</button>
                                                            </div>
                                                            <div class="field col-12 mt-2">
                                                                <button class="btn btn-primary btn-sm w-100 mb-0" onclick="WDS_FilterType()">@Local["OK"]</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group-text p-0 border-start-0">
                                                <div class="position-relative d-inline">
                                                    <a class="cursor-pointer px-2" data-bs-toggle="collapse" role="tab" data-bs-target="#colLists" aria-expanded="true">
                                                        <i class=" text-gradient text-primary fs-4 pe-2 fw-bold fas fa-caret-down"></i>
                                                    </a>
                                                    <div class="position-absolute z-index-3 end-1 top-100 mt-1 collapse" id="colLists" style="min-width: 270px;">
                                                        <ul class="card card-body text-dark text-capitalize opacity-10" style=" max-height: 400px; overflow: auto;">
                                                            <li class="d-flex">
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" id="WDS_ckbShowDetail" type="checkbox">
                                                                </div>
                                                                <p class="text-sm">@Local["Chi tiết"]</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group-text">
                                                <i class="text-gradient text-primary fas fa-redo cursor-pointer" onclick="WDS_LoadData(0,0)" aria-hidden="true"></i>
                                            </div>
                                            <div class="input-group-text border-end">
                                                <i class="btn_clear fas fa-minus-circle opacity-1 cursor-pointer"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="WDS_MasterListContainer" class="overflow-y min-height-300">
                                    <ul class="list-group" id="WDS_MasterList">
                                    </ul>
                                </div>
                                <button class="btnsysmore btn btn-secondary w-100 p-1 mt-3 mb-0 cursor-pointer transform-scale-10" onclick="event.preventDefault(); return WDS_LoadData(0,1);">@Local["Xem thêm"]</button>
                            </div>
                        </div>
                        <div class="flex-grow-1 ">
                            <div class="mx-2">
                                <div id="WDS_DetailContainer">
                                </div>
                                <div id="WDS_DetailPayContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="DS_ContainerDetail" class="container-fluid py-3 px-0 card" style="display: none;">
</div>

<script type="text/javascript">

    //#region // INIT & DECLARE

    let WDS_BeginID = 0;
    let WDS_Limit = 200;
    let WDS_DataMain = [];
    let WDS_DataBranch = [];
    let WDS_MedID = 0;
    let data_TimerOnchange;
    let WDS_isLoadedInit = 0;
    let WDS_searchPaymentType = -1, WDS_searchExportType = -1;
    var DataProduct;
    var DataUnitProduct;
    var WDS_Current_Date;
    let WDS_Timeout;
    var WDS_DataTypeExport = [{ ID: 1, Name: "@Local["Đã xuất"]" }, { ID: 2, Name: "@Local["Chưa xuất kho"]" }];
    var WDS_pkCurrentDate;
    var WDS_dataEmp;
    var WDS_dataEmpObj = {};
    $(document).ready(function () {
        ToolPopper();

        Master_IndexDB_Reads(_Session_Data, [_Session_Branch]
            , function (data) {
                WDS_DataBranch = data[0];
                WDS_EventInit();
                WDS_MasterEvent();
            }
        );
    });

    function WDS_EventInit() {
        let offsetTop = $("#WDS_MasterListContainer").offset().top + 170;
        $("#WDS_MasterListContainer").css("height", 'calc(100vh - ' + offsetTop + 'px)');
        WDS_pkCurrentDate = $("#WDS_dpCurrentDate").flatpickr({
            dateFormat: 'd-m-Y',
            enableTime: false,
            inline: true,
            defaultDate: new Date()
        });

        $("#WDS_DatePrev").on("click", function () {
            if (WDS_Current_Date) {
                let date_selected = new Date(formatDMY_To_Date(WDS_Current_Date));
                date_selected.setDate(date_selected.getDate() - 1);
                WDS_pkCurrentDate.setDate(date_selected, true);
            }
        });
        $("#WDS_DateNext").on("click", function () {
            if (WDS_Current_Date) {
                let date_selected = new Date(formatDMY_To_Date(WDS_Current_Date));
                date_selected.setDate(date_selected.getDate() + 1);
                WDS_pkCurrentDate.setDate(date_selected, true);
            }
        });
        Load_Combo(WDS_DataTypeExport, "WDS_cbbTypeExport", true, "@Local["Loại"]");
        $("#WDS_TypeExport").dropdown('refresh');
        $("#WDS_TypeExport").dropdown('set selected', '0');


        AjaxLoad(url = "/WareHouse/DrugStore/General/?handler=Initialize"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    let DataBranch = data.Branch;
                    DataProduct = data.Product;
                    DataUnitProduct = data.UnitProduct;
                    WDS_dataEmp = data.EmpFull;
                    WDS_dataEmpObj = (data.EmpFull).reduce((pre, arr) => { if (arr.ID) pre[arr.ID] = arr; return pre; }, {});
                    WDS_isLoadedInit = 1;

                    Load_Combo(DataBranch, "WDS_cbbBranch", true, "@Local["Chi nhánh"]");
                    $("#WDS_Branch").dropdown('refresh');
                    $("#WDS_Branch").dropdown('set selected', Master_branchID.toString());

                    Load_Combo(WDS_dataEmp, "WDS_cbbCreatedBy", true, "@Local["Người tạo"]");
                    $("#WDS_CreatedBy").dropdown('refresh');
                    $("#WDS_CreatedBy").dropdown('set selected', "0");

                    Load_Combo(WDS_dataEmp, "WDS_cbbSellerID", true, "@Local["Bán hàng"]");
                    $("#WDS_SellerID").dropdown('refresh');
                    $("#WDS_SellerID").dropdown('set selected', "0");

                    let empdoc = WDS_dataEmp.filter(function (el) {
                        return Number(el.GroupID) == 14
                    });

                    Load_Combo(empdoc, "WDS_cbbDoctorID", true, "@Local["Bác sĩ"]");
                    $("#WDS_DoctorID").dropdown('refresh');
                    $("#WDS_DoctorID").dropdown('set selected', "0");
                    WDS_Reset_InDay();

                }
            }
        );
    }

    //#endregion
    //#region // DATETIME STEP

    function WDS_To_Change_Display_Date() {
        $("#WDS_DateCurrent").html(WDS_Current_Date);
        let DOW = ConvertDateTimeToString_DOW(formatDMY_To_Date(WDS_Current_Date));
        $("#WDS_DOWDateCurrent").html(DOW);
    }

    function WDS_Reset_InDay() {
        let datenow = new Date();
        WDS_pkCurrentDate.setDate(datenow, true);
    }
    //#endregion


    //#region // LOAD DATA

    async function WDS_LoadData(CurrentID = 0, IsLoadMore = 0)  {
        return new Promise((reslove) => {
            if (WDS_isLoadedInit != 1) return
            $("#DS_ContainerDetail").hide();
            if (IsLoadMore == 0 && CurrentID == 0) {
                $("#WDS_MasterList").empty();
                $("#WDS_DetailContainer, #WDS_DetailPayContainer").empty();
                WDS_BeginID = 0;
                WDS_DataMain = [];
                WDS_refreshFilter();
                //WDS_MedID = 0
            }
            let WDS_searchValue = $('#WDS_txtMedCode').length > 0 ? $('#WDS_txtMedCode').val() : '';
            AjaxLoad(url = "/WareHouse/DrugStore/General/?handler=LoadData"
                , data = {
                    'detailID': CurrentID
                    , 'dateFrom': WDS_Current_Date
                    , 'dateTo': WDS_Current_Date
                    , 'beginID': WDS_BeginID
                    , 'limit': WDS_Limit
                    , 'medCode': WDS_searchValue
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '0') {
                        let data = JSON.parse(result);
                        if (CurrentID != 0) {
                            let rowDrugStore = $("#WDS_MasterRow_" + CurrentID);
                            if (data && data.length != 0) {
                                let item = data[0];
                                let index = WDS_DataMain.findIndex(e => e.ID == item.ID);
                                WDS_DataMain[index] = item;
                                let trRow = WDS_RenderEach(item);
                                if (rowDrugStore && rowDrugStore.length != 0) rowDrugStore.replaceWith(trRow);
                                else document.getElementById('WDS_MasterList').insertAdjacentHTML("afterbegin", trRow);
                                WDS_EventGrid();
                                $(`li.WDS_clsMasterRow:not(.d-none)`).first().trigger("click");
                            }
                            else {
                                rowDrugStore.remove();
                            }
                            WDS_GetBeginID(WDS_DataMain);
                        }
                        else {
                            if (data && data.length != 0) {
                                WDS_DataMain = WDS_DataMain.concat(data);
                                WDS_Render(data, 'WDS_MasterList');
                                WDS_GetBeginID(data);
                            }
                        }
                    }
                    else {
                        notiError_SW();
                    }
                    WDS_TotalMed()
                    reslove();
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        })
    }

    function WDS_GetBeginID(data) {
        try {
            if (data && data.length != 0) {
                let PopBegin = data[data.length - 1];
                if (PopBegin) {
                    WDS_BeginID = PopBegin.ID
                }
            }
        }
        catch (ex) {
            return 0;
        }
    }

    function WDS_TotalMed() {
        try {
            let _totalAll = 0;
            let _totalExport = 0;
            let _totalNonExport = 0;
            if (WDS_DataMain && WDS_DataMain.length != 0) {
                _totalAll = WDS_DataMain.length;
                _totalExport = WDS_DataMain.filter((item) => item.IsExport == 1).length
                _totalNonExport = _totalAll - _totalExport
            }
            $("#WSD_TotalMedAll").html(formatNumber(_totalAll));
            $("#WSD_TotalMedExport").html(formatNumber(_totalExport));
            $("#WSD_TotalMedNonExport").html(formatNumber(_totalNonExport));
        }
        catch (ex) {

        }

    }
    //#endregion

    //#region // RENDER

    async function WDS_Render(data, id)  {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = WDS_RenderEach(item);
                            myNode.insertAdjacentHTML("beforeend", tr);
                        }
                        WDS_EventGrid();
                        WDS_FilterType();
                        $("#WDS_MasterList li").first().click();
                    }
                }
                ToolPopper();
            }, 10);
        });
    }

    function WDS_RenderEach(item) {
        try {
            let result = '';
            let cls = item.IsExport == 1 ? 'checklist-item checklist-item-success bg-success-soft' : 'checklist-item checklist-item-secondary bg-gray-100';
            let prescribingID = item.DocID != 0 ? item.DocID : item.CreatedBy;
            let isDetail = $("#WDS_ckbShowDetail").is(":checked") ? '' : 'd-none';
            let clsDetailOth = item.SellerID != item.CreatedBy ? '' : 'd-none';
            let IsCurrentBranch = Master_branchID != item.BranchID ? 'd-none' : '';
            result = `<li id="WDS_MasterRow_${item.ID}" class="WDS_clsMasterRow border-0 border-radius-lg checklist-item ${cls} m-1 me-0 ms-0 position-relative rounded-2 ${IsCurrentBranch}"  data-id="${item.ID}" data-export="${item.ExportID}">
                                    <div class="align-items-center border border-end-0 border-radius-sm border-start-0 border-top-0 p-2 w-100">
                                        <a class="d-flex fw-bold text-uppercase viewdetail"></a>
                                        <a class="cursor-pointer border-bottom border-primary code col-auto fw-bold mb-0 ms-1 mt-0 my-auto text-primary text-sm">${item.MedCode}</a>
                                        <span class="code col-auto fw-bold mb-0 ms-2 mt-0 my-auto text-dark text-sm">${item.CustName}</span>

                                        <div class="align-items-center d-flex ps-1">
                                            <div class="d-flex px-0">
                                                <div class="d-inline me-2">
                                                    <span class="mt-2 text-xs">@Local["Kê toa"]</span>
                                                    <span class="fw-bold ms-1 mt-2 text-xs">${Fun_GetName_ByID(WDS_dataEmpObj, prescribingID)}</span>
                                                </div>
                                                <div class="d-inline fw-bold me-2">
                                                    <span class="mt-2 text-sm text-xs">
                                                        ${ConvertDateTimeUTC_Time_OnlyHour(item.Created)}
                                                    </span>
                                                </div>
                                                <div class="d-inline fw-bold me-2">
                                                    <span class="mt-2 text-sm text-xs">
                                                        ${typeof WDS_DataBranch[item.BranchID] != `undefined` ? WDS_DataBranch[item.BranchID].Name : ``}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><hr class="d-none dark mx-2 my-0 position-relative">
                                    <div class="WDS_MasterRowDetail ${isDetail}">
                                        <ul class="px-0">
                                            <li class="border-0 border-radius-lg ms-0 ms-1 p-2 position-relative rounded-2 row">
                                                <div class="col-12 col-md-6 d-block px-0 text-xs">
                                                    <span class="text-secondary">@Local["Người tạo"]</span>
                                                    <span class="d-block font-weight-bold text-dark">${Fun_GetName_ByID(WDS_dataEmpObj, item.CreatedBy) || '-'}</span>
                                                </div>
                                                <div class="col-12 col-md-6 px-0 text-xs">
                                                    <span class="text-secondary">@Local["Bác sĩ kê toa"]</span>
                                                    <span class="d-block font-weight-bold text-dark">${Fun_GetName_ByID(WDS_dataEmpObj, item.DocID) || '-'}</span>
                                                </div>
                                            </li>
                                            <li class="border-0 border-radius-lg ms-0 ms-1 p-2 position-relative rounded-2 row ${clsDetailOth}">
                                                <div class="col-12 col-md-6 d-block px-0 text-xs">
                                                    <span class="text-secondary">@Local["Bán hàng"]</span>
                                                    <span class="d-block font-weight-bold text-dark">${Fun_GetName_ByID(WDS_dataEmpObj, item.SellerID) || '-'}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>`;

            return result;
        }
        catch (ex) {
            return '';
        }
    }
    //#endregion

    //#region //EVENT
    //#endregion

    function WDS_EventGrid() {
        $("#WDS_MasterList .WDS_clsMasterRow").unbind("click").bind('click', function (e) {
            e.preventDefault();
            $("#WDS_MasterList .WDS_clsMasterRow").removeClass('active');
            $(this).addClass('active');
            WDS_MedID = $(this).attr("data-id");
            let exportid = $(this).attr("data-export");
            if (WDS_MedID && WDS_MedID != 0 && WDS_isLoadedInit == 1) {
                let link = '/WareHouse/DrugStore/DrugStoreDetail' + '?MedID=' + WDS_MedID + '&ExportID=' + exportid + '&ver=' + versionofWebApplication;
                let linkpay = '/WareHouse/DrugStore/DrugStorePayment?MedID=' + WDS_MedID + '&ver=' + versionofWebApplication;
                $('#WDS_DetailContainer').load(link);
                $('#WDS_DetailContainer').fadeIn(100);
                $('#WDS_DetailPayContainer').load(linkpay);
                $('#WDS_DetailPayContainer').fadeIn(100);
            }
        });
    }

    function WDS_onChangeCurrentDate() {
        let date_selected = new Date(formatDMY_To_Date($('#WDS_dpCurrentDate').val()));
        WDS_Current_Date = formatDateClient(date_selected);
        WDS_To_Change_Display_Date();
        $('#WDS_clpChooseDate').collapse('hide');
        clearTimeout(WDS_Timeout)
        WDS_Timeout = setTimeout(function (e) {
            WDS_LoadData();
        }, 300)
    }

    function WDS_refreshFilter() {
        $("#WDS_TypeExport").dropdown('refresh');
        $("#WDS_TypeExport").dropdown('set selected', '0');

        $("#WDS_Branch").dropdown('refresh');
        $("#WDS_Branch").dropdown('set selected', Master_branchID.toString());

        $("#WDS_CreatedBy").dropdown('refresh');
        $("#WDS_CreatedBy").dropdown('set selected', "0");

        $("#WDS_SellerID").dropdown('refresh');
        $("#WDS_SellerID").dropdown('set selected', "0");

        $("#WDS_DoctorID").dropdown('refresh');
        $("#WDS_DoctorID").dropdown('set selected', "0");
    }
    // #region // EVENT

    function WDS_CollaseHide() {
        $('#colListsDrugStore').collapse('hide');
    }

    function WDS_MasterEvent() {

        $('#WDS_txtMedCode').keyup(function () {
            if ($(this).val().trim().length < 2) return;
            if ($(this).val().length > 0) $(".btn_clear").removeClass('opacity-1');
            else $(".btn_clear").addClass('opacity-1');
            $("#WDS_divSearchMed .fa-search, #WDS_divSearchMed .icon-barcode").hide();
            $("#WDS_divSearchMed .spinner-border").show();
            clearTimeout(data_TimerOnchange);
            data_TimerOnchange = setTimeout(function (e) {
                WDS_FilterAsync();
            }, 500);
        });

        $("#WDS_divSearchMed").on('click', '.btn_clear', function (e) {
            $('#WDS_txtMedCode').val('');
            $(".btn_clear").addClass('opacity-1');
            WDS_LoadData(0, 0)
        });

        $("#WDS_ckbShowDetail").on('change', function (e) {
            let isCheck = $(this).is(":checked");
            if (isCheck) {
                $('.WDS_MasterRowDetail').removeClass('d-none');
            }
            else {
                $('.WDS_MasterRowDetail').addClass('d-none');
            }
        });

    }


    async function WDS_FilterType()  {
        await new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    WDS_CollaseHide();
                    let isShow = 0;
                    let _type = Number($("#WDS_TypeExport").dropdown("get value")) ? Number($("#WDS_TypeExport").dropdown("get value")) : 0;
                    let _createdby = Number($("#WDS_CreatedBy").dropdown("get value")) ? Number($("#WDS_CreatedBy").dropdown("get value")) : 0;
                    let _sellerID = Number($("#WDS_SellerID").dropdown("get value")) ? Number($("#WDS_SellerID").dropdown("get value")) : 0;
                    let _docid = Number($("#WDS_DoctorID").dropdown("get value")) ? Number($("#WDS_DoctorID").dropdown("get value")) : 0;
                    let _branch = Number($("#WDS_Branch").dropdown("get value")) ? Number($("#WDS_Branch").dropdown("get value")) : 0;
                    for (let i = 0; i < WDS_DataMain.length; i++) {
                        let value = WDS_DataMain[i];
                        let key = value.ID;
                        isShow = 0;
                        if (((_type == 0) || (_type == 1 && value.IsExport == 1) || (_type == 2 && value.IsExport == 0))
                            && ((_createdby == 0) || value.CreatedBy == _createdby)
                            && ((_sellerID == 0) || value.SellerID == _sellerID)
                            && ((_docid == 0) || value.DocID == _docid)
                            && ((_branch == 0) || value.BranchID == _branch)
                        ) {
                            $('#WDS_MasterRow_' + key).removeClass("d-none");
                        }
                        else {
                            $('#WDS_MasterRow_' + key).addClass("d-none");
                        }
                    };
                    resolve();
                }
            )
        })
    }
    async function WDS_FilterAsync() {
        await new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    WDS_LoadData(0, 0);
                    $("#WDS_divSearchMed .fa-search,#WDS_divSearchMed .icon-barcode").show();
                    $("#WDS_divSearchMed .spinner-border").hide();
                    resolve()
                }
            )
        })
    }

    function WDS_OnChangeBranchDate() {
        $('#WDS_txtMedCode').val('');
        WDS_LoadData(0, 0)
    }
    //#endregion

    //#region //OTHER
    function WDS_ClosePayment() {
        if ($("#DS_ContainerDetail").length > 0) {
            $("#DS_ContainerDetail").hide();
            $("#DS_ContainerDetail").empty();
        }
        if ($("#DS_Container").length > 0) $("#DS_Container").show();
    }
    //#endregiom
</script>

<script>js_require('/js/comon/initialize_setting.js');</script>

<style>

    #WDS_MasterList .WDS_clsMasterRow.active {
        background-color: #e9ecefa3 !important;
    }

    #WDS_MasterList .WDS_clsMasterRow {
        cursor: pointer;
    }

    #WDS_MasterList .horizontal {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
</style>


<style>

    /*#region // Box time*/

    .box_date_time {
        width: 100%;
        padding: 5px;
    }

        .box_date_time .box_date_time_title {
            text-align: center;
            color: #767676;
            font-size: 12px;
            text-transform: uppercase;
        }

        .box_date_time .box_date_time_step {
            display: flex;
            padding: 5px 0;
            align-items: center;
        }

        .box_date_time .box_date_time_content {
            flex-grow: 1;
            text-align: center;
            font-size: 0.975rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .box_date_time .box_date_time_icon {
            font-size: 16px;
            color: #bdbcbc;
            padding: 0;
            cursor: pointer;
        }

        .box_date_time .box_date_time_reset {
            text-align: center;
            font-size: 12px;
            color: #138fee;
        }

    /*#endregion */

</style>