@page
@model MLunarCoffee.Pages.Labo.Setting.SettingLaboGeneralModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-12 p-0">
        <div class="card card-plain">
            <div class="card-header pb-0 px-1 pt-3">
                <div class="d-lg-flex">
                    <div class=" my-auto">
                        <ul class="nav nav-horizontal nav-pills p-1 bg-transparent permissionlist" role="tablist" id="SL_BodyMenuSetting">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-2" id="SL_DivSettingLabo">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //#region //Init

    let SL_DTLink = [
        {
            "ListText": "@Local["Mã màu"]"
            , "ListLink": "/Labo/Setting/Color/SettingColorList"
        }
        , {
            "ListText": "@Local["Kích thước"]"
            , "ListLink": "/Labo/Setting/Dimension/SettingDimensionList"
        }
        , {
            "ListText": "@Local["Loại"]"
            , "ListLink": "/Labo/Setting/Material/SettingMaterialList"
        }
        , {
            "ListText": "@Local["Thuộc tính"]"
            , "ListLink": "/Labo/Setting/Properties/SettingPropertiesList"
        }
        , {
            "ListText": "@Local["Dáng răng"]"
             , "ListLink": "/Labo/Setting/Layout/SettingLayoutList"
        }
        , {
            "ListText": "@Local["Công việc"]"
            , "ListLink": "/Labo/Setting/Task/SettingTaskList"
        }
        , {
            "ListText": "@Local["Ghi chú"]"
            , "ListLink": "/Labo/Setting/QuickNote/SettingNoteList"
        }
        , {
            "ListText": "@Local["Trạng thái labo"]"
            , "ListLink": "/Labo/Setting/Status/StatusList"
        }

    ];
    $(document).ready(function () {
        SLabo_Render(SL_DTLink, "SL_BodyMenuSetting");
        $('#SL_BodyMenuSetting a:first').trigger('click');
        $('#SL_BodyMenuSetting a:first').addClass('active');
    });

    //#endregion

    //#region //Render

    function SLabo_Render (data, id) {
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    stringContent = stringContent
                        + '<li class="nav-item" role="presentation">'
                        + '<a class="linkapp linkgroup nav-link cursor-pointer nav-item-text cursor-pointer" data-bs-toggle="pill" data-link="' + item.ListLink + '"  role="tab">' + item.ListText + '</a>'
                        + '</li>'
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        SLabo_Event();
    }

    //#endregion

    //#region //Event

    function SLabo_Event () {
        $('#SL_BodyMenuSetting .linkapp').unbind('click').click(function () {
            let link = $(this).attr('data-link');
            $('#SL_DivSettingLabo').empty();
            $('#SL_DivSettingLabo').load(link + "?ver=" + versionofWebApplication);
        })
    }

    //#endregion
</script>