@page
@model MLunarCoffee.Pages.Facebook.Settings.Area.AreaDetailModel
@{
    Layout = null;
}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Khu vực"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="fbareaD_FormExcute">
                        <div class="field col-12 col-md-12 p-1">
                            <label>@Local["Tên"]</label>
                            <input id="fbareaD_Name" class="form-control" name="name" type="text"/>                                                         
                        </div>                                              
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="fbareaD_textShowMess"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="fbareaD_FormExcute" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="fbareaD_FormExcute" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();fbareaD_Excute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ser_fbareaD_ID;
    $(document).ready(function () {
        ser_fbareaD_ID = @Model._fbarea_ID;
        if (ser_fbareaD_ID != "0") fbareaD_LoadDataUpdate();
    });
    function fbareaD_Excute() {
        var data = new Object();
        data.Name = $("#fbareaD_Name").val() ? $('#fbareaD_Name').val() : "";        
                      
        $('#fbareaD_FormExcute').form('validate form');
        if ($('#fbareaD_FormExcute').form('is valid')) {
            AjaxLoad(url = "/Facebook/Settings/Area/AreaDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_fbareaD_ID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        fbarea_Load();
                        $('#DetailModal').modal('hide');
                        $("#DetailModal_Content").html('');
                    } else if (result == "-1") {
                        $('#fbareaD_textShowMess').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
    function fbareaD_LoadDataUpdate() {
        AjaxLoad(url = "/Facebook/Settings/Area/AreaDetail/?handler=Loadata"
            , data = { id: ser_fbareaD_ID }, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                $('#fbareaD_Name').val((data[0].Name));                
                    
        });

    }
</script>

<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>
