@page
@model MLunarCoffee.Pages.AppCustomer.Desk.Appointment.AppHandleDetailModel
@{
    Layout = null;
}
<div class="col-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="d-lg-flex">
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h6 class="mb-0">@Local["Lịch hẹn trực tuyến"]</h6>
                        <p class="text-sm mb-0">@Local["Chi tiết lịch hẹn trực tuyến"]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-2 ">
            <div>
                <div class="row px-2">
                    <div class="col-12 p-1">
                        <label class="text-sm fw-bold mt-3">@Local["Thông tin lịch hẹn trực tuyến"]</label>
                        <div class="d-flex align-items-center pe-0 ms-1 mt-n3">
                            <div class="justify-content-center">
                                <p class="mb-0 text-sm mt-3">@Local["Ngày"]</p>
                                <p id="DAHD_DateApp" class="text-sm my-auto text-dark fw-bold"></p>
                            </div>
                            <div class="ps-5 justify-content-center">
                                <p class="mb-0 text-sm mt-3">@Local["Giờ"]</p>
                                <p id="DAHD_TimeApp" class="text-sm my-auto text-dark fw-bold"></p>
                            </div>
                            <div class="ps-5 justify-content-center">
                                <p class="mb-0 text-sm mt-3">@Local["Chi nhánh"]</p>
                                <p id="DAHD_AppBranchName" class="text-sm my-auto text-dark fw-bold"></p>
                            </div>
                            <div class="ps-5 justify-content-center">
                                <p class="mb-0 text-sm mt-3">@Local["Tên khách hàng"]</p>
                                <p id="DAHD_AppCustName" class="text-sm my-auto text-dark fw-bold"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DAHD_CustomerInfoContainer" class="row px-2">
                    <div id="DAHD_CustomerListContainer" class="col-12 p-1 d-none">
                        <label class="text-sm fw-bold mt-3">@Local["Danh sách khách hàng"]</label>
                        <div class="col-12 p-1 flex-grow-1" id="DAHD_dtContent" style="overflow-y: scroll; overflow-x: hidden; max-height: 300px;">
                            <table class="table align-items-center mb-0">
                                <tbody id="DAHD_dtContentBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="DAHD_CustomerInfo" class="col-12 p-1">
                        <label class="text-sm fw-bold mt-3">@Local["Hồ sơ khách hàng"]</label>
                        <div class="ms-0 pe-3 px-0 row">
                            <div class="bg-gray-100 border-radius-lg card-body mt-0">
                                <div id="DAHD_CustomerInfo_Empty" class="d-none text-center">
                                    <div class="text-md text-secondary fw-bold">@Local["Chưa có hồ sơ khách hàng"]</div>
                                </div>
                                <div id="DAHD_CustomerInfo_NotEmpty">
                                    <span id="DAHD_UserID" class="d-block fw-bold text-sm d-none"></span>
                                    <div class="d-flex pb-2">
                                        <img id="DAHD_CustImage" class="avatar avatar-md border-radius-md" alt="team-2" src="/default.png">
                                        <div class="ps-2">
                                            <span id="DAHD_CustCode" class="d-block fw-bold text-sm text-dark"></span>
                                            <span id="DAHD_CustName" class="d-block text-sm fw-bold text-dark"></span>
                                        </div>
                                    </div>
                                    <div class="card-body ms-1 ps-0 pt-0 px-2">
                                        <hr class="horizontal light my-1">
                                        <span class="d-block mt-2">
                                            <span class="text-sm">@Local["Ngày tạo"]</span>
                                            <span id="DAHD_Created" class="fw-bold text-sm mx-1 border-bottom text-dark"></span>
                                            <span id="DAHD_Source" class="fw-bold text-sm mx-1 border-bottom text-dark"></span>
                                            <span id="DAHD_Branch" class="fw-bold text-sm mx-1 border-bottom text-dark"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-relative mt-2">
                <div class="fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button id="DAHD_btnCreateCust" form="" type="button" class="btn bg-gradient-primary mt-2 me-2 d-none">
                                @Local["Tạo khách hàng"]
                            </button>
                            <button id="DAHD_btnCreateSchedule" form="" type="button" class="btn bg-gradient-primary mt-2 me-2 d-none">
                                @Local["Tạo lịch hẹn"]
                            </button>
                            <button id="DAHD_btnCancel" form="" type="button" class="btn bg-gradient-danger mt-2 me-2 d-none" onclick="ACDG_CancelApp()">
                                @Local["Hủy lịch trực tuyến"]
                            </button>
                            <button class="btn btn-secondary" form="" onclick="DAHD_CloseDetail()">@Local["Đóng"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/comon/initialize_setting.js"></script>
<script>
    //#region //INIT
    let DAHD_appID = Number('@Model._appID');
    let DAHD_phone = ('@Model._phone');
    let DAHD_custID = Number('@Model._custID');
    var DAHD_whenAvailable;
    let DAHD_DataCustSearch = [];
    let DAHD_ObjScheduleInfo = [];
    $(document).ready(function () {
        DAHD_whenAvailable = Master_IndexDB_Read(_Session_Data, _Session_Branch);
        DAHD_LoadData();
        DAHD_Event();
    });

    function DAHD_Init(item) {
        DAHD_whenAvailable
            .then((result) => {
                let branchName = `${Fun_GetName_ByID(result, item.BranchID) || item.TempBranchName}`;
                let custName = `${item.CustName || item.TempCustName}`;
                DAHD_ObjScheduleInfo = { ...item }
                $('#DAHD_DateApp').html(`${ConvertDateTimeUTC_DMY(item.DateFrom)}`);
                $('#DAHD_TimeApp').html(`${ConvertDateTimeUTC_Time_OnlyHour(item.DateFrom) + ' - ' + ConvertDateTimeUTC_Time_OnlyHour(item.DateTo)}`);
                $('#DAHD_AppBranchName').html(branchName);
                $('#DAHD_AppCustName').html(custName);
                $('#DAHD_UserID').html(item.UserID); 
                if (item.IsExecute == 0) {
                    $('#DAHD_btnCancel').removeClass("d-none")
                }
                else {
                    $('#DAHD_btnCancel').addClass("d-none")
                }
            })
            .catch(e => console.warn("Error"));
    }
    //#endregion

    //#region //LOADDATA
    async function DAHD_FillDataCust(item) {
        if (item && Object.keys(item).length > 0) {
            let dataBranch = await DAHD_whenAvailable;
            $('#DAHD_Source').html(item.Source);
            $('#DAHD_CustCode').html(`<a href="/Customer/MainCustomer?CustomerID=${item.CustID}&ver='${versionofWebApplication}'" target="_blank">${item.CustCode}</a>`);
            $('#DAHD_Created').html(ConvertDateTimeUTC_DMYHM(item.Created));
            $('#DAHD_Branch').html(Fun_GetName_ByID(dataBranch, item.BranchID));
            $('#DAHD_CustImage').attr("src", item.Avatar != "" ? item.Avatar : Master_Default_Pic);
            $('#DAHD_CustName').html(item.CustName);
            $('#DAHD_UserID').html(item.UserID);
            DAHD_custID = item.CustID;
            let CustCodeOld = item.CustCodeOld;
            if (CustCodeOld != "") $("#DAHD_CustCode").append('<span title="Code Old"> [' + CustCodeOld + ']</span>');
            let CustDocCode = item.DocumentCode;
            if (CustDocCode != "") $("#DAHD_CustCode").append('<span title="Document Code"> [' + CustDocCode + ']</span>');
        }
    }

    function DAHD_LoadData() {
        AjaxLoad(url = "/AppCustomer/Desk/Appointment/AppHandleDetail/?handler=SearchCustomer"
            , data = { 'textsearch': DAHD_phone, 'custID': DAHD_custID }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                let data = JSON.parse(result);
                if (data.length != 0) {
                    DAHD_DataCustSearch = data.reduce((pre, arr) => { if (arr.CustID) pre[arr.CustID] = arr; return pre; }, {});
                    $("#DAHD_CustomerInfo_Empty").addClass('d-none');
                    $("#DAHD_CustomerInfo_NotEmpty").removeClass('d-none');
                    $("#DAHD_btnCreateSchedule").removeClass('d-none');
                    $("#DAHD_btnCreateCust").addClass('d-none');

                    if (data.length == 1) {
                        DAHD_FillDataCust(data[0]);
                    }
                    else {
                        $('#DAHD_CustomerListContainer').removeClass('d-none');
                        DAHD_RenderCustomer(data, "DAHD_dtContentBody");
                    }
                }
                else {
                    $("#DAHD_CustomerInfo_NotEmpty").addClass('d-none');
                    $("#DAHD_CustomerInfo_Empty").removeClass('d-none');
                    $("#DAHD_btnCreateSchedule").addClass('d-none');
                    $("#DAHD_btnCreateCust").removeClass('d-none');
                }
            }
        );
    }
    function DAHD_RenderCustomer(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        `<tr>
                            <td>
                            <div class="d-flex px-2 py-0">
                            <div class="form-check pt-1">
                            <input name="cust_info" class="form-check-input mt-0 cust_info" type="radio" data-id="${item.CustID}">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                 <a class=" text-sm mb-0" href="/Customer/MainCustomer?CustomerID=${item.CustID}&ver='${versionofWebApplication}'" target="_blank">${item.CustCode}</a>
                            </div>
                            </div>
                            </td>
                            <td class="align-middle text-sm">
                                <h6 class="mb-0 text-sm">${item.CustName}</h6>
                            </td>
                            <td class="align-middle text-center text-dark text-sm _tab_control_" data-tab="phone_customer" data-info="${encrypt_phone(item.Phone)}">
                                ${item.Phone}
                            </td>
                            </tr>`;
                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            DAHD_CustSearchEvent();
            $(`#DAHD_dtContentBody .cust_info[data-id="${data[0].CustID}"]`).trigger("click");
        }
    }
    //#endregion

    //#region //EVENT HANDLE
    function ACDG_CancelApp() {
        const promise = notiConfirm();
        promise.then(function () { ACDG_CancelApp_Execute(); }, function () { });
    }

    function ACDG_CancelApp_Execute() {
        AjaxLoad(url = "/AppCustomer/Desk/Appointment/AppHandleDetail/?handler=CancelApp"
            , data = {
                CurrentID: DAHD_appID
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != '0') {
                    AC_DAL_LoadShedule(DAHD_appID, IsLoadMore = 0);
                    notiSuccess();
                    DAHD_CloseDetail();
                }
                else notiError_SW();
            }
            , sender = null
            , before = function (e) { }
            , complete = function (e) { }
        );
    }

    function DAHD_CustSearchEvent() {
        $('#DAHD_dtContentBody').unbind('click').on('click', '.cust_info', function () {
            let id = $(this).attr('data-id');
            DAHD_FillDataCust(DAHD_DataCustSearch[id]);
        });
    }
    function DAHD_Event() {
        $('#DAHD_btnCreateCust').unbind('click').on('click', function () {
            let id = $(this).attr('data-id');

            if (DAHD_ObjScheduleInfo && Object.keys(DAHD_ObjScheduleInfo).length > 0) {
                let custName = DAHD_ObjScheduleInfo.CustName || DAHD_ObjScheduleInfo.TempCustName;
                ACDG_CreateCustomer(DAHD_appID, DAHD_phone, custName, DAHD_ObjScheduleInfo.DateFrom, DAHD_ObjScheduleInfo.DateTo, DAHD_ObjScheduleInfo.Content);
            }
        });
        $('#DAHD_btnCreateSchedule').unbind('click').on('click', function () {
            let id = $(this).attr('data-id');

            if (DAHD_ObjScheduleInfo && Object.keys(DAHD_ObjScheduleInfo).length > 0) {
                let custName = DAHD_ObjScheduleInfo.CustName || DAHD_ObjScheduleInfo.TempCustName;
                ACDG_CreateAppointment(DAHD_appID, DAHD_custID, DAHD_ObjScheduleInfo.DateFrom);
            }
        });
    }

    function ACDG_CreateCustomer(_appid, _phone, _customerName, _dateFrom, _dateTo, _NoteSchedule) {
        let diffMs = (new Date(_dateTo) - new Date(_dateFrom));
        let _TimeSchedule = Math.floor((diffMs / 1000) / 60);
        let date = ConvertDateTimeUTC_DMYHM(new Date(_dateFrom));
        let _dateAppointment = date.split(' ')[1] + ' ' + date.split(' ')[0];
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/CustomerDetail?" + 'type=' + 'app_temp' + '&acappid=' + _appid + '&phone=' + _phone + '&custname=' + encodeURI(_customerName) + '&dateapp=' + encodeURI(_dateAppointment) + '&timeschedule=' + _TimeSchedule + '&noteschedule=' + encodeURI(_NoteSchedule) + '&ver=' + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function ACDG_CreateAppointment(AppID, CustomerID, DateFrom) {
        let date = ConvertDateTimeUTC_DMYHM(new Date(DateFrom));
        let datenew = date.split(' ')[1] + 'x' + date.split(' ')[0];
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/AppointmentDetail" + "?CustomerID=" + CustomerID + "&Date_from=" + datenew + "&App_AC_ID=" + AppID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function DAHD_CallBackAfterHandle() {
        DAHD_ExecuteSave();
        AC_DAL_LoadShedule(DAHD_appID, 0)
        DAHD_CloseDetail();
    }

    function DAHD_ExecuteSave() {
        let userID = Number($('#DAHD_UserID').html());
        AjaxLoad(url = "/AppCustomer/Desk/Appointment/AppHandleDetail/?handler=ExcuteData"
            , data = {
                'appID': DAHD_appID, 'userID': userID
            }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                let data = JSON.parse(result)
                if (data[0].Result == "1") {
                    notiSuccess();
                    if (typeof AC_DAL_LoadShedule == 'function') AC_DAL_LoadShedule(DAHD_appID, 0)
                } else {
                    notiError_SW();
                }
            }
            , sender = $("#DAHD_btnSave")
        );
    }

    function DAHD_CloseDetail() {
        $('#AC_DAL_MainContainer').removeClass('opacity-3 pe-none');
        $('#AC_DAL_HandleDetailContainer').hide();
    }
    //#endregion


</script>
<script>js_require('/js/main.js');</script>





