@page
@model MLunarCoffee.Pages.AppCustomer.Desk.Appointment.AppNotiModel
@{
    Layout = null;
}


<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <!--Master-->
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <!-- #region header -->
                                <h6 class="mb-0">@Local["Gửi thông báo app"]</h6>
                                <p class="text-sm mb-0">@Local["Gửi thông báo đến cá nhân"]</p>
                                <!-- #endregion -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-3 pt-2">
                    <!-- #region control execute-->
                    <div class="row px-2 form3" id="formnoti">
                        <div class="field col-12 p-1">
                            <label>@Local["Tiêu đề"]</label>
                            <input id="AN_Title" type="text" name="name" class="form-control">
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Nội dung"]</label>
                            <textarea id="AN_Content" class="form-control" name="content"></textarea>
                        </div>
                    </div>
                    <!-- #endregion -->
                </div>
            </div>
            <!-- #region button save and text show message-->
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formnoti" onclick="event.preventDefault();CloseModal()">@Local["Hủy"]</button>
                        <button form="formnoti" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return AppNoti_Execute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>


<script>

    let AN_CustomerID = "@Model._CustomerID";

    $(document).ready(function () {


    })

    function AppNoti_Execute () {
        $('#formnoti').form('validate form');
        if ($('#formnoti').form('is valid')) {
            if (AN_CustomerID != "0") {
                let title = $('#AN_Title').val();
                let content = $('#AN_Content').val();
                if (title != "" && content != "") {
                    fcmmobile_sendcust(AN_CustomerID, title, content, 1, '', () => {
                        notiSuccess();
                        CloseModal();
                    })
                }
                else notiError(Outlang["Kiem_tra_du_lieu"]);
            }
        };

    }


</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>