@page
@model MLunarCoffee.Pages.Marketing.CallDetailInputModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="row">
    <div class="col-md-12">
        <form class="form form3" id="CDI_Form" onsubmit="event.preventDefault(); return false;">
            <div class="card p-3 border-radius-xl mb-3">
                <h6 class="font-weight-bolder mb-0" id="CDI_Header"></h6>
                <div class="row p-1 mt-2">
                    <div class="col-12 col-xl-7 p-1 flex-grow-1">
                        <div id="CDI_Info">
                            <div class="row mx-0 mt-2 d-none" id="CDI_AreaBranchComp">
                                <div class="col-12 ps-2 px-1 bg-gray-100 border-radius-lg d-none mb-2" id="CDI_AreaInfo">
                                    <div class="px-1 py-3">
                                        <div class="d-flex">
                                            <i class="fas fa-calendar-check text-primary py-1" style="font-size: 1.275rem;"></i>
                                            <span class="fw-bold ms-2 py-1 text-sm text-dark fw-bold">@Local["Lần check-in gần nhất"]</span>
                                        </div><hr class="horizontal dark my-1">
                                        <div class="d-flex">
                                            <div class="w-50">
                                                <p class="mb-0 text-sm mt-1">@Local["Chi nhánh"]</p>
                                                <p class="text-sm text-dark font-weight-bold my-auto">
                                                    <span id="CDI_BranchInfo"></span>
                                                </p>
                                            </div>
                                            <div class="w-50">
                                                <p class="mb-0 text-sm mt-1">@Local["Ngày"]</p>
                                                <p class="text-sm font-weight-bold my-auto text-dark">
                                                    <span id="CDI_DayAppInfo"></span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 ps-1 pe-0">
                                    <label class="mb-0">@Local["Chi nhánh"]</label>
                                    <div class="ui fluid search selection dropdown form-control mt-1" id="CDI_Branch">
                                        <input type="hidden"/>
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="CDI_CbbBranch" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2">
                                <label class="ms-n1 mb-0">@Local["Trạng thái"]</label>
                                <div class="col-md-12 col-xl-6 px-1 mx-0 mt-2">
                                    <div class="ui fluid search selection dropdown form-control" id="CDI_Status" onchange="CDI_ChangeStatus()">
                                        <input type="hidden" name="statusType" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="ccbCDI_Status" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-6 px-1 mx-0 pe-0 mt-2">
                                    <div class="ui fluid search selection dropdown form-control" id="CDI_StatusDetail">
                                        <input type="hidden" name="statusType" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="cbbCDI_StatusDetail" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divCDI_TagDetail" class="row mx-0 my-1  d-none">
                                <div id="per_tagChoose" class="col-md-12 col-xl-12 px-1 mx-0 mt-2">
                                    <div class="w-100">
                                        <label>Tag</label>
                                        <div class="ui fluid search selection dropdown form-control" id="CDI_TagDetail">
                                            <input type="hidden" name="statusType" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .Tag</div>
                                            <div id="cbbCDI_TagDetail" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2 d-none">
                                <div class="col-md-12 col-xl-6 px-1 mx-0 mt-2 flex-grow-1 " id="CDI_TitleStatus">
                                    <label>@Local["Tiêu đề"]</label>
                                    <input id="CDI_Title" class="form-control" />
                                </div>
                            </div>
                            <div class="row mt-2 px-1" id="DivCDI_ChooseEmp" style="display:none">
                                <div class="col-md-12 col-xl-12 field">
                                    <label>@Local["Nhân viên"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="CDI_ChooseEmp">
                                        <input type="hidden" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="cbbCDI_ChooseEmp" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2">
                                <div class="field col-12 col-sm-12 px-1 pe-0">
                                    <div id="CDI_QuickTeamplate" style="padding-top:5px;"></div>
                                    <textarea class="form-control" style="height: 55px !important;" id="CDI_Content" rows="3" name="name" placeholder="eg. @Local["Nội dung"]"></textarea>
                                </div>
                            </div>
                            <div class="row mt-2 px-1" id="nextAction_fol_Input" style="display:none">
                                <div class="form-check ms-3">
                                    <input class="form-check-input" id="chkCheckDone_fol_Input" type="checkbox" onchange="Status_Detail_ChangeCheckDone()" />
                                    <label class="form-check-label text-md">@Local["Không cần gọi lại"]</label>
                                </div>
                                <div class="ui fluid search selection dropdown d-none form-control" id="TypeinputNext_fol_Input">
                                    <input type="hidden" name="appointment" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text"></div>
                                    <div id="ccbTypeinputNext_fol_Input" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="input_detail_fol_time" class="col-12 col-xl-5 p-1 flex-grow-1 d-none">
                        <input id="Date_CallBack_Fol_Input" class="form-control flatpickr d-none" type="text" placeholder="eg .@Local["Ngày"]" />
                    </div>
                    <div id="CDI_HistoryArea" class="col-12 col-xl-12 p-1 d-none flex-grow-1">
                        <div class="d-lg-flex">
                            <div class="ms-auto my-auto mt-0 mt-n1">
                                <div id="calinput_type" class="text-dark text-sm ms-2 me-3 mb-3 mb-lg-0 position-relative dropdown-toggle ui pointing dropdown"
                                     onchange="event.preventDefault;return CDI_TypeChange();">
                                    <input type="hidden" name="customerCareType" />
                                    <div class="default text">eg .@Local["Loại"]</div>
                                    <div class="text-sm menu overflow-y" tabindex="-1" style="max-height: 250px;">
                                        <div class="item" data-value="-1">
                                            <span>@Local["Tất cả"]</span>
                                        </div>
                                        <div class="item" data-value="1">
                                            <span>@Local["Nhắc lịch hẹn"]</span>
                                        </div>
                                        <div class="item" data-value="2">
                                            <span>@Local["Đến không phát sinh dịch vụ"]</span>
                                        </div>
                                        <div class="item" data-value="3">
                                            <span>@Local["Chăm sóc sinh nhật"]</span>
                                        </div>
                                        <div class="item" data-value="4">
                                            <span>@Local["Đặt lịch nhưng không đến"]</span>
                                        </div>
                                        <div class="item" data-value="5">
                                            <span>@Local["Chăm sóc khách hàng sau điều trị"]</span>
                                        </div>
                                        <div class="item" data-value="6">
                                            <span>@Local["Khách hàng phàn nàn"]</span>
                                        </div>
                                        <div class="item" data-value="7">
                                            <span>@Local["Telesale follow"]</span>
                                        </div>
                                        <div class="item" data-value="8">
                                            <span>@Local["Lịch sử khách hàng"]</span>
                                        </div>
                                        <div class="item" data-value="9">
                                            <span>@Local["Chăm sóc"]</span>
                                        </div>
                                        <div class="item" data-value="10">
                                            <span>@Local["Hủy lịch hẹn"]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overflow-auto overflow-x-hidden ">
                            <ul id="CDI_History" class="list-group px-2">
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 p-1 flex-grow-1 d-none" id="CDI_EvaluateTreat">
                        <hr class="horizontal dark my-2">
                        <div class="row mx-0">
                            <p class="text-dark text-sm fw-bold">@Local["Đánh giá sau điều trị"]</p>
                            <div class="col-12 flex-grow-1 overflow-auto" id="ASO_dtContent" style="max-height: 300px;">
                                <table class="align-items-center mb-0 table table-responsive-md vt-table-font-size">
                                    <thead>
                                        <tr>
                                            <td>
                                                <span class="text-sm fw-bold" style="min-width: 200px">@Local["Nội dung"]</span>
                                            </td>
                                            <td class="col-2 text-center">
                                                <span class="text-sm fw-bold">@Local["Rất không hài lòng"]</span>
                                            </td>
                                            <td class="col-2 text-center">
                                                <span class="text-sm fw-bold">@Local["Không hài lòng"]</span>
                                            </td>
                                            <td class="col-2 text-center">
                                                <span class="text-sm fw-bold">@Local["Bình thường"]</span>
                                            </td>
                                            <td class="col-2 text-center">
                                                <span class="text-sm fw-bold">@Local["Hài lòng"]</span>
                                            </td>
                                            <td class="col-2 text-center">
                                                <span class="text-sm fw-bold">@Local["Rất hài lòng"]</span>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody id="CDI_dtContentBody">
                                        <tr class="vt-number" role="row" id="CID_PhyFac" value="0">
                                            <td class="align-middle text-dark text-sm">
                                                @Local["Cơ sở vật chất"]
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-angry text-2xl emotion-icon emotion-vuns text-secondary cursor-pointer" value="1"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-frown text-2xl emotion-icon emotion-uns text-secondary cursor-pointer" value="2"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-meh text-2xl emotion-icon emotion-neu text-secondary cursor-pointer" value="3"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-smile text-2xl emotion-icon emotion-sat text-secondary cursor-pointer" value="4"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-grin-hearts text-2xl emotion-icon emotion-vsat text-secondary cursor-pointer" value="5"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="vt-number" role="row" id="CID_EmpAtt" value="0">
                                            <td class="align-middle text-dark text-sm">
                                                @Local["Thái độ nhân viên"]
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-angry text-2xl emotion-icon emotion-vuns text-secondary cursor-pointer" value="1"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-frown text-2xl emotion-icon emotion-uns text-secondary cursor-pointer" value="2"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-meh text-2xl emotion-icon emotion-neu text-secondary cursor-pointer" value="3"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-smile text-2xl emotion-icon emotion-sat text-secondary cursor-pointer" value="4"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-grin-hearts text-2xl emotion-icon emotion-vsat text-secondary cursor-pointer" value="5"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="vt-number" role="row" id="CID_Doc" value="0">
                                            <td class="align-middle text-dark text-sm">
                                                @Local["Bác sĩ điều trị"]
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-angry text-2xl emotion-icon emotion-vuns text-secondary cursor-pointer" value="1"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-frown text-2xl emotion-icon emotion-uns text-secondary cursor-pointer" value="2"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-meh text-2xl emotion-icon emotion-neu text-secondary cursor-pointer" value="3"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-smile text-2xl emotion-icon emotion-sat text-secondary cursor-pointer" value="4"></i>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="align-items-center d-flex justify-content-center emotion">
                                                    <i class="fas fa-grin-hearts text-2xl emotion-icon emotion-vsat text-secondary cursor-pointer" value="5"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="action_Save">
        <div class="action_Save-Content">
            <button class="btn btn-secondary" form="CDI_Form" onclick="event.preventDefault();return CloseModal();">@Local["Đóng"]</button>
            <button class="btn bg-gradient-primary mt-2 me-2" form="CDI_Form" id="CDI_btnSave" onclick="event.preventDefault(); return CDI_Save();">@Local["Lưu"]</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    let calinput_CurrentID = '@Model.CurrentID';
    let calinput_Type_Care = '@Model.Type_Care';
    let calinput_CustomerID = '@Model.CustomerID';
    let calinput_TikcetID = '@Model.TikcetID';
    let calinput_AppID = '@Model.AppID';
    let calinput_MasterID = '@Model.MasterID';
    var calinput_DataComboStatusCall;
    let calinput_DataComboEmployeeAssign;
    let calinput_DataQuickTemplate = {};
    let calinput_TreatmentDate = '@Model.TreatmentDate';
    let calinput_TreatID = '@Model.TreatID';
    let calinput_IsEditMaster = '@Model.IsEditMaster';
    let calinput_IsNeedToCallBack = '@Model._IsNeedToCallBack';
    let Date_CallBack;

    //#region // Load

    $(document).ready(function () {
        CheckPermissionControlInPage(sys_PerControlMH, '@Model.CurrentPath');
        CDI_Ini();
        CDI_LoadCombo();
        Checking_TabControl_Permission();
    });

    async function CDI_Ini() {
        new Promise((resolve, reject) => {
            $('#CDI_EvaluateTreat').addClass('d-none');
            let textHeader = "";
            switch (calinput_Type_Care) {
                case "1":
                    textHeader = "@Local["Nhắc lịch hẹn"]";
                    break;
                case "2":
                    textHeader = "@Local["Đến không phát sinh dịch vụ"]";
                    break;
                case "3":
                    textHeader = "@Local["Chăm sóc sinh nhật"]";
                    break;
                case "4":
                    textHeader = "@Local["Đặt lịch nhưng không đến"]";
                    break;
                case "5":
                    $('#CDI_EvaluateTreat').removeClass('d-none');
                    textHeader = "@Local["Chăm sóc khách hàng sau điều trị"]";
                    break;
                case "6":
                    textHeader = "@Local["Khách hàng phàn nàn"]";
                    break;
                case "7":
                    textHeader = "@Local["Telesale follow"]";
                    break;
                case "8":
                    textHeader = "@Local["Lịch sử khách hàng"]";
                    break;
                case "9":
                    textHeader = "@Local["Chăm sóc"]";
                    break;
                case "10":
                    textHeader = "@Local["Hủy lịch hẹn"]";
                    break;
                case "11":
                    textHeader = "@Local["Góp ý"]";
                    break;
            }
            $("#CDI_Header").html(textHeader);

            // CDI_Load(calinput_TikcetID, calinput_CustomerID);
            $("#CDI_History").css("max-height", ($("#CDI_Info").height()));
            $("#calinput_type").dropdown("refresh");
            $("#calinput_type").dropdown("set selected", -1);
            CDI_EvaluateTreat();
            resolve();
        });
    }

    function CDI_TypeChange() {
        let type = Number($('#calinput_type').dropdown('get value'));
        $('.calldetail').addClass('d-none');
        if (type == -1) $('.calldetail').removeClass('d-none');
        else $('.calldetail' + type).removeClass('d-none');
    }

    function CDI_LoadCombo() {
        AjaxLoad(url = "/Marketing/CallDetailInput/?handler=InitializeCombo"
            , data = {
                'CurrentID': calinput_CurrentID,
                'Type': Number(calinput_Type_Care),
                'TicketID': calinput_TikcetID,
                'CustomerID': calinput_CustomerID
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let data_temp = data.QuickTemplate;
                    if (data_temp != undefined && data_temp.length != 0) {
                        CDI_RenderQuickTemplate(data_temp, "CDI_QuickTeamplate")
                        for (i = 0; i < data_temp.length; i++) {
                            calinput_DataQuickTemplate[data_temp[i].ID] = data_temp[i];
                        }
                    }
                    else {
                        $('#CDI_QuickTeamplate').hide();
                    }
                    let data_input = data.TypeIntput;
                    Load_Combo(data_input, "ccbTypeinputNext_fol_Input", true);
                    $("#TypeinputNext_fol_Input").dropdown("refresh");
                    $("#TypeinputNext_fol_Input").dropdown("set selected", 89);


                    if (calinput_Type_Care && calinput_Type_Care == '7') {
                        $("#divCDI_TagDetail").removeClass('d-none');
                        let data_tag = data.Tag
                        let data_tagDetail = data.TagDetail
                        Load_Combo(data_tag, "cbbCDI_TagDetail", true);
                        if (data_tagDetail && data_tagDetail.length != 0) {
                            $("#CDI_TagDetail").dropdown("refresh");
                            $("#CDI_TagDetail").dropdown("set selected", data_tagDetail[0].TagID);
                        }
                    }

                    if (calinput_Type_Care && calinput_Type_Care == '8') {
                        Load_Combo(data.Emp, "cbbCDI_ChooseEmp", true);
                        $("#CDI_Content").attr("name", '');
                    }
                    if (calinput_Type_Care == '6' && calinput_MasterID == '0'){
                        $("#CDI_AreaBranchComp").removeClass('d-none');
                        let DtApp = data.NearestApp;
                        let BranchID = Master_branchID;
                        if (DtApp && DtApp.length > 0 && DtApp[0].Branch_ID != 0){
                            $("#CDI_AreaInfo").removeClass('d-none');
                            BranchID = DtApp[0].Branch_ID;
                            $("#CDI_BranchInfo").html(DtApp[0].BranchName);
                            $("#CDI_DayAppInfo").html(ConvertDateTimeUTC_DMYHM(DtApp[0].Date_From));
                        }
                        Load_Combo(data.Branch, "CDI_CbbBranch", true);
                        $("#CDI_Branch").dropdown("refresh");
                        $("#CDI_Branch").dropdown("set selected", BranchID);
                    }
                    

                    calinput_DataComboStatusCall = data.Status;
                    let _data_status = calinput_DataComboStatusCall.filter(word => Number(word["Type"]) == Number(calinput_Type_Care) && word["ParentID"] == 0);
                    if (_data_status != undefined && _data_status.length != 0) {
                        CDI_RenderStatus(_data_status, "ccbCDI_Status");
                        $("#CDI_Status").dropdown("refresh");
                        $("#CDI_Status").dropdown("set selected", _data_status[0].ID);
                    }
                    // History Customer
                    (calinput_Type_Care == "8" || calinput_Type_Care == "11" || calinput_IsEditMaster == 1) ? $("#nextAction_fol_Input").hide() : $("#nextAction_fol_Input").show();
                    if ((calinput_Type_Care == "8" || calinput_Type_Care == "11") && calinput_CurrentID != '0') {
                        let data_cur = data.Data;
                        $("#CDI_Status").dropdown("refresh");
                        $("#CDI_StatusDetail").dropdown("refresh");
                        $("#CDI_Status").dropdown("set selected", data_cur[0].TypeMaster);
                        $("#CDI_StatusDetail").dropdown("set selected", data_cur[0].TypeDetail);
                        $('#CDI_Content').val((data_cur[0].Content));

                        $("#CDI_ChooseEmp").dropdown("refresh");
                        $("#CDI_ChooseEmp").dropdown("set selected", data_cur[0].EmployeeID);
                    }

                    $("#chkCheckDone_fol_Input")
                        .prop('checked', calinput_IsNeedToCallBack == '0' ? true : false)
                        .trigger('change');
           
                    if (calinput_IsEditMaster == 1) CDI_LoadUpdate(calinput_CurrentID);
                    CDI_Event();
                }
            }
        );

    }

    function CDI_Load(tiket, customer) {
        AjaxLoad(url = "/Marketing/CallDetailInput/?handler=Loadata"
            , data = { 'TicketID': tiket, 'CustomerID': customer }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length != 0) {
                        $('#CDI_HistoryArea').removeClass('d-none');
                        CDI_Render(data, "CDI_History");
                    }

                } else {
                    notiError_SW();
                }
            }
        );
    }
    function CDI_LoadUpdate(currentID) {
        AjaxLoad(url = "/Marketing/CallDetailInput/?handler=LoadUpdate"
            , data = { 'currentID': calinput_MasterID}
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length != 0) {
                        $("#CDI_Status").dropdown("refresh");
                        $("#CDI_StatusDetail").dropdown("refresh");
                        $("#CDI_Status").dropdown("set selected", data[0].StatusParent);
                        $("#CDI_StatusDetail").dropdown("set selected", data[0].Status);
                        $('#CDI_Content').val((data[0].Content));
                    }

                } else {
                    notiError_SW();
                }
            }
        );
    }

    //#endregion

    //#region // Render

    async function CDI_Render(data, id) {
        new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];

                        stringContent = stringContent +
                            ` <li class="calldetail calldetail${item.Type}  border-0 d-flex px-0 mb-4">
                                                        <div class="avatar avatar-sm me-3 mt-1">
                                                            <img src="${item.Avatar != '' ? item.Avatar : Master_Default_Pic}" class="border-radius-lg shadow">
                                                        </div>
                                                        <div class="d-flex align-items-start flex-column justify-content-center">
                                                            <h6 class="mb-0 text-sm">${(item.Status != '' ? item.Status + " - " : "") + item.StatusCall}</h6>
                                                            <h6 class="mb-0 text-sm" style="white-space: pre-line;">${item.Content}</h6>
                                                            <p class="mb-0 text-xs mt-1">${GetDateTime_String_DMY(item.Created)} ${item.CreatedName}</p>
                                                        </div>

                                                    </li>
                                                    `;
                    }
                }
                myNode.insertAdjacentHTML('beforeend', stringContent);

            }
            resolve();
        });
    }

    async function CDI_RenderQuickTemplate(data, id) {
        new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            '<div  data-id=' + item.ID
                            + ' class="quickteamplate">' + item.Feature + '</div>'

                        stringContent = stringContent + tr;
                    }
                }
                myNode.innerHTML = stringContent;
            }
            resolve();
        });
    }

    async function CDI_RenderStatus(data, id) {
        new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            '<div class="item" data-value=' + item.ID + '>'
                            + '<div class="circle" style="background-color:' + item.ColorCode + ';"></div>'
                            + item.Name
                            + '</div>'
                        stringContent = stringContent + tr;
                    }
                }
                myNode.innerHTML = stringContent;
            }
            resolve();
        });
    }

    //#endregion

    //#region // Event

    function CDI_Event() {
        $(".quickteamplate").on('click', function (event) {
            let _id = $(this).attr('data-id');
            if (calinput_DataQuickTemplate[_id] != undefined) {
                let _content = calinput_DataQuickTemplate[_id].Content;
                $("#CDI_Content").val(_content);
                $('#CDI_Content').focus();
            }
        });
    }

    function CDI_Save() {
        let data = new Object();
        data.Typeinput = Number($('#TypeinputNext_fol_Input').dropdown('get value')) ? Number($('#TypeinputNext_fol_Input').dropdown('get value')) : 0;
        data.StatusCall = Number($('#CDI_Status').dropdown('get value')) ? Number($('#CDI_Status').dropdown('get value')) : 0;
        data.StatusCallDetail = Number($('#CDI_StatusDetail').dropdown('get value')) ? Number($('#CDI_StatusDetail').dropdown('get value')) : 0;
        data.TimeCallBack = ($('#Date_CallBack_Fol_Input').val());
        data.EPhysicalFacilities = !isNaN(Number($('#CID_PhyFac').attr('value'))) ? Number($('#CID_PhyFac').attr('value')) : 0;
        data.EEmpAttitudes = !isNaN(Number($('#CID_EmpAtt').attr('value'))) ? Number($('#CID_EmpAtt').attr('value')) : 0;
        data.EDoctor = !isNaN(Number($('#CID_Doc').attr('value'))) ? Number($('#CID_Doc').attr('value')) : 0;
        let IsDone = (document.getElementById("chkCheckDone_fol_Input").checked) ? "1" : "0";
        let Title = $("#CDI_Title").val() ? $("#CDI_Title").val() : '';
        let Content = $('#CDI_Content').val() ? $('#CDI_Content').val() : "";
        let TagID = Number($('#CDI_TagDetail').dropdown('get value')) ? Number($('#CDI_TagDetail').dropdown('get value')) : 0;
        let EmpID = Number($('#CDI_ChooseEmp').dropdown('get value')) ? Number($('#CDI_ChooseEmp').dropdown('get value')) : 0;
        let BranchComplain = $("#CDI_Branch").dropdown('get value') ? Number($("#CDI_Branch").dropdown('get value')) : 0;

        $('#CDI_Form').form('validate form');
        if ($('#CDI_Form').form('is valid')) {
            AjaxLoad(url = "/Marketing/CallDetailInput/?handler=ExcuteData"
                , data = {
                    'Title': Title
                    , 'content': Content
                    , 'CustomerID': calinput_CustomerID
                    , 'TicketID': calinput_TikcetID
                    , 'Type_Care': calinput_Type_Care
                    , 'AppID': calinput_AppID
                    , 'IsDone': IsDone
                    , 'MasterID': calinput_MasterID
                    , 'data': JSON.stringify(data)
                    , 'CurrentID': calinput_CurrentID
                    , 'TreatmentDate': calinput_TreatmentDate
                    , 'TreatID': calinput_TreatID
                    , 'TagID': TagID
                    , 'EmpID': EmpID
                    , 'BranchComplain': BranchComplain
                    , 'IsEditMaster': calinput_IsEditMaster
                }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result != "0") {
                        notiSuccess();
                        syslog_cutccc(calinput_CurrentID == 0 ? 'i' : 'u', calinput_CustomerID, Content);
                        switch (Number(calinput_Type_Care)) {
                            case 1:
                            {
                                if (typeof CustCare_LoadData === 'function') CustCare_LoadData(calinput_AppID);
                            }
                            case 2: {
                                if (typeof CNot_LoadData === 'function') CNot_LoadData(calinput_AppID);
                            }
                            case 4:
                            case 10: {
                                if (typeof CustCare_LoadData === 'function') CustCare_LoadData(calinput_AppID);
                            }
                                break;
                            case 3: {
                                /*Ngày Sinh Nhật*/
                                if (typeof CustCare_LoadData === 'function') CustCare_LoadData(calinput_CustomerID);
                            }
                                break;
                            case 5: {
                                /*Sau Điều Trị*/
                                if (typeof CustCare_LoadData === 'function') CustCare_LoadData(calinput_TreatID);

                            }
                                break;
                            case 6: {
                                /*Complaint*/
                                let id = !isNaN(Number(result)) ? Number(result) : calinput_MasterID;
                                if (typeof ResCom_LoadData === 'function') ResCom_LoadData(calinput_MasterID);
                                if (typeof TCCL_LoadData === 'function') TCCL_LoadData(id);
                            }
                                break;
                            case 8: {
                                /*Lịch sử khách hàng*/
                                if (typeof GeneralInfo_LoadHistory === 'function') GeneralInfo_LoadHistory();
                            }
                            case 12: {
                                if (typeof CSeft_LoadData === 'function') CSeft_LoadData(calinput_CustomerID);
                            }
                                break;
                            default: break;
                        }
                        if (typeof TicketAction_HistoryLoad === 'function') TicketAction_HistoryLoad(); // Ticket Action - History
                        if (typeof TicketList_NewRow === 'function') TicketList_NewRow(calinput_TikcetID); // Ticket List
                        if (typeof Tag_LoadDataList === 'function') Tag_LoadDataList(0, calinput_TikcetID); // Ticket Tag
                        if (typeof Tag_LoadDataTotal === 'function') Tag_LoadDataTotal(); // Ticket Tag
                        if (typeof HL_LoadData === 'function') HL_LoadData(); // History Customer
                        if (typeof LoadAppointmentListAjax === 'function') LoadAppointmentListAjax(calinput_AppID); // Appointment in day

                        if (typeof GeneralInfo_ComplainLoad === 'function') GeneralInfo_ComplainLoad(); //Complaint Customer
                        if (typeof GeneralInfo_LoadHistory === 'function') GeneralInfo_LoadHistory(); // General Customer
                        CloseModal();
                    }
                    else {
                        notiError_SW();
                    }

                }
                , sender = $("#CDI_btnSave")//$('#CustomerCare_waiting')
                , before = function () {
                }
                , complete = function (e) {
                }
            );
        }
        return false;
    }

    function Status_Detail_ChangeCheckDone() {
         Date_CallBack = $("#Date_CallBack_Fol_Input").flatpickr({
            dateFormat: 'Y-m-d H:i:s',
            enableTime: true,
            minDate: new Date(),
            inline: true,
            minTime: "06:00",
            maxTime: "20:30",
            allowInput: false,
            defaultDate: new Date()
        });
        let IsDone = (document.getElementById("chkCheckDone_fol_Input").checked) ? "1" : "0";
        if (IsDone == 1) {
            $("#TypeinputNext_fol_Input").dropdown("refresh");
            $("#TypeinputNext_fol_Input").dropdown("set selected", 89);
            Date_CallBack.destroy();
            $("#input_detail_fol_time").addClass('d-none');
        }
        else {
            $("#TypeinputNext_fol_Input").dropdown("refresh");
            $("#TypeinputNext_fol_Input").dropdown("set selected", 88);
            $("#input_detail_fol_time").removeClass('d-none');
        }
        $("#CDI_History").css("max-height", ($("#CDI_Info").height()));
    }

    async function CDI_ChangeStatus() {
        new Promise((resolve, reject) => {
            let numberMasterStatus = Number($('#CDI_Status').dropdown('get value'));
            let dataMaster = calinput_DataComboStatusCall.find(word => word["ID"] == numberMasterStatus);
            let data = calinput_DataComboStatusCall.filter(word => word["ParentID"] == numberMasterStatus && Number(word["Type"]) == Number(calinput_Type_Care));
            $("#CDI_StatusDetail").dropdown("clear");
            Load_Combo(data, "cbbCDI_StatusDetail", true);
            if (data != undefined && data != null && data.length != 0) {
                $("#CDI_StatusDetail").dropdown("refresh");
                $("#CDI_StatusDetail").dropdown("set selected", data[0].ID);
            }
            if (calinput_Type_Care && calinput_Type_Care == '8' && dataMaster != undefined && dataMaster.IsChooseEmp == 1) {
                $("#DivCDI_ChooseEmp").show();
                $("#CDI_ChooseEmp").dropdown("refresh");
                $("#CDI_ChooseEmp").dropdown("set selected", sys_employeeID_Main);
            }
            else {
                $("#DivCDI_ChooseEmp").hide();
                $("#CDI_ChooseEmp").dropdown("clear");
                $("#CDI_ChooseEmp").dropdown("refresh");
            }
            resolve();
        });

    }

    function CDI_EvaluateTreat() {
        $("#CDI_dtContentBody .emotion-icon").unbind('click').on('click', function (event) {
            let value = $(this).attr('value');
            $(this).closest('tr').find('.emotion-icon').removeClass('active');
            $(this).closest('tr').attr('value', value);
            $(this).addClass('active');
        });
    }
    //#endregion

</script>

<style>

    #CDI_QuickTeamplate .quickteamplate:hover {
        background: #d0ebff;
    }

    #CDI_QuickTeamplate .quickteamplate {
        background: #fdfcfc;
        padding: 2px 10px;
        font-size: 13px;
        display: inline-flex;
        max-width: 150px;
        white-space: nowrap;
        border: 1px solid #d4d4d57d;
        color: #02355d;
        cursor: pointer;
        overflow: hidden;
        margin-right: 6px;
    }

    #CDI_Status .circle {
        width: 10px;
        height: 10px;
        border-radius: 30px;
        display: inline-block;
        margin-right: 10px;
        border: 1px solid #d4d4d5;
    }

    .section_container_call_detail {
        display: flex;
        width: 100%;
        height: 100%;
    }

    @@media only screen and (max-width:900px) {
        .section_container_call_detail {
            flex-wrap: wrap;
        }

        #input_detail_fol_time {
            width: 100% !important;
        }

            #input_detail_fol_time .xdsoft_datetimepicker.xdsoft_inline {
                display: flex !important;
                justify-content: center !important;
            }
    }

    #input_detail_fol_time > .flatpickr-calendar {
        margin: 0 auto !important;
        box-shadow: unset !important;
    }
    #CDI_EvaluateTreat .emotion-icon.active, #CDI_EvaluateTreat .emotion-icon:hover{
        transform: scale(1.4);
    }
    #CDI_EvaluateTreat .emotion-vuns.active, #CDI_EvaluateTreat .emotion-vuns:hover{
        color: #f53939 !important;
    }
    #CDI_EvaluateTreat .emotion-uns.active, #CDI_EvaluateTreat .emotion-uns:hover {
        color: #ff7f0e !important;
    }
    #CDI_EvaluateTreat .emotion-neu.active, #CDI_EvaluateTreat .emotion-neu:hover {
        color: #ffbb78 !important;
    }
    #CDI_EvaluateTreat .emotion-sat.active, #CDI_EvaluateTreat .emotion-sat:hover {
        color: #98df8a !important;
    }
    #CDI_EvaluateTreat .emotion-vsat.active, #CDI_EvaluateTreat .emotion-vsat:hover {
        color: #2ca02c !important;
    }
     #CDI_EvaluateTreat .emotion {
         min-height: 40px;
         
     }

     #CDI_EvaluateTreat .emotion .emotion-icon {
         transition: transform .4s  ease-in-out;  
     }
    @@media (max-width: 987px) {
        #CDI_EvaluateTreat table thead {
            display: none;
        }
    }
</style>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<link rel="stylesheet" type="text/css" href="/assests/dist/datetimepicker/jquery.datetimepicker.css" />
