@page
@model MLunarCoffee.Pages.Marketing.SMSSentListModel
@{
    if (@Model.layout == "none") Layout = null;

}
@Html.AntiForgeryToken()

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0">
                    <div class="left">
                        <h6 class="mb-0">@Local["Danh sách"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách sms đã gửi"] / @Local["Tình trạng đánh giá"]</p>
                    </div>
                    <div class="right">
                        <ul id="smsarea" class="nav nav-pills  p-1 bg-transparent  mt-2" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer" data-bs-toggle="pill"
                                   data-bs-target="#smsarea_his" role="tab">@Local["Lịch sử"]</a>
                            </li>
                            <li id="smsarea_tablog" class="nav-item _tab_control_" data-tab="div_tab_StatusRating" role="presentation">
                                <a class="nav-link cursor-pointer" data-bs-toggle="pill"
                                   data-bs-target="#smsarea_log" role="tab">@Local["Tình trạng đánh giá"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="nav-wrapper position-relative end-0">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="smsarea_his" role="tabpanel">
                                <div class="col-12 px-0">
                                    <div class="card card-plain">
                                        <div class="vtcardheader card-header p-0 border-0">
                                            <div class="left">
                                                <div class="vtcondition">
                                                    <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                                                    <div class="fulllap collapse collapsesticky show">
                                                    <div class="d-lg-flex">
                                                        <div class="input-group col-w-400 py-1 p-lg-0 pe-lg-2" id="searchApp">
                                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                            <input id="filterSMSListSent" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm"]" onkeyup="SMS_Sent_FilBegin(0, 1);">
                                                            <div class="input-group-text p-0">
                                                                <div class="position-relative d-inline ps-2">
                                                                    <a class="cursor-pointer px-2" data-bs-toggle="collapse" role="tab" data-bs-target="#colsearch">
                                                                        <i class=" text-gradient text-primary fas fa-filter"></i>
                                                                    </a>
                                                                    <div class="collapse collapsesticky position-absolute z-index-3 end-1 top-100 mt-1" id="colsearch" style="min-width:285px;">
                                                                        <div class="card card-body text-dark text-capitalize opacity-10">
                                                                            <div class="col-12 mt-2">
                                                                                <input id="dateFilter" class="flatpickr form-control" type="text" />
                                                                            </div>
                                                                            <div class="col-12 mt-2">
                                                                                <div class="ui fluid search selection dropdown form-control" id="BranchID">
                                                                                    <input type="hidden" name="branch" />
                                                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                                                    <div class="default text">eg .@Local["Chi nhánh"]</div>
                                                                                    <div id="cbbBranch" class="menu" tabindex="-1">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 mt-2">
                                                                                <div class="ui fluid search selection dropdown form-control" id="SMSTypeID">
                                                                                    <input type="hidden" name="branch" />
                                                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                                                    <div class="default text">eg .@Local["Loại sms"]</div>
                                                                                    <div id="cbbSMSType" class="menu" tabindex="-1">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 mt-2">
                                                                                <div class="ui fluid search selection dropdown form-control" id="SMSTypeSuccessID">
                                                                                    <input type="hidden" name="branch" />
                                                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                                                    <div class="default text">eg .@Local["Loại sms"]</div>
                                                                                    <div id="cbbSMSTypeSuccess" class="menu" tabindex="-1">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 mt-2">
                                                                                <div class="ui fluid search selection dropdown form-control" id="SMS_TypeSend">
                                                                                    <input type="hidden" name="branch" />
                                                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                                                    <div class="default text"></div>
                                                                                    <div id="SMS_CbbTypeSend" class="menu" tabindex="-1">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 mt-2">
                                                                                <div class="ui fluid search selection dropdown form-control" id="SMS_TypeMes">
                                                                                    <input type="hidden" name="branch" />
                                                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                                                    <div class="default text"></div>
                                                                                    <div id="SMS_CbbTypeMes" class="menu" tabindex="-1">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <button class="btn btn-dark btn-sm mt-3 mb-2" onclick="SMS_Sent_CloseCollap()">@Local["Đóng"]</button>
                                                                            <button class="btn btn-primary btn-sm" onclick="SMS_Sent_FilBegin()">OK</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="position-relative d-inline">
                                                                    <a class="cursor-pointer px-2 collapsed" data-bs-toggle="collapse" role="tab" data-bs-target="#colLists" aria-expanded="false">
                                                                        <i class=" text-gradient text-primary fs-4 pe-2 fw-bold fas fa-caret-down"></i>
                                                                    </a>
                                                                    <div class="collapse position-absolute z-index-3 end-1 top-100 mt-1" id="colLists" style="min-width:250px;">
                                                                        <ul class="card card-body text-dark text-capitalize opacity-10" style=" max-height: 400px; overflow: auto;">
                                                                            <li class="d-flex ">
                                                                                <div class="form-check form-switch">
                                                                                    <input class="shtoogle form-check-input" data-name="Description" type="checkbox">
                                                                                </div>
                                                                                <p class="text-sm">@Local["Mô tả"]</p>
                                                                            </li>
                                                                            <li class="d-flex">
                                                                                <div class="form-check form-switch">
                                                                                    <input class="shtoogle form-check-input" data-name="branch" type="checkbox">
                                                                                </div>
                                                                                <p class="text-sm">@Local["Chi nhánh"]</p>
                                                                            </li>
                                                                            <li class="d-flex">
                                                                                <div class="form-check form-switch">
                                                                                    <input class="shtoogle form-check-input" data-name="timeexecute" type="checkbox">
                                                                                </div>
                                                                                <p class="text-sm">@Local["Thời gian sử lý"]</p>
                                                                            </li>
                                                                            <li class="d-flex">
                                                                                <div class="form-check form-switch">
                                                                                    <input class="shtoogle form-check-input" data-name="type" type="checkbox">
                                                                                </div>
                                                                                <p class="text-sm">@Local["Loại"]</p>
                                                                            </li>
                                                                            <li class="d-flex">
                                                                                <div class="form-check form-switch">
                                                                                    <input class="shtoogle form-check-input" data-name="day_by" type="checkbox">
                                                                                </div>
                                                                                <p class="text-sm">@Local["Ngày gửi"]</p>
                                                                            </li>
                                                                            <li class="d-flex">
                                                                                <div class="form-check form-switch">
                                                                                    <input class="shtoogle form-check-input" data-name="create_by" type="checkbox">
                                                                                </div>
                                                                                <p class="text-sm">@Local["Người gửi"]</p>
                                                                            </li>
                                                                            <li class="d-flex">
                                                                                <div class="form-check form-switch">
                                                                                    <input class="shtoogle form-check-input" data-name="note" type="checkbox" checked>
                                                                                </div>
                                                                                <p class="text-sm">@Local["Nội dung"]</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn w-100 btn-dark m-0 _tab_control_" data-tab="export_excel" onclick="event.preventDefault();return exportFile_sms_sent();">@Local["Xuất"]</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="row mx-0">
                                                    <div class="col ps-0">
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-primary text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                                                <h5 id="SMSType_total" class="text-white mb-0 mt-0  font-weight-bolder" data-type="1">5</h5>
                                                            </div>
                                                            <p class="text-sm text-dark mb-0  fst-italic text-nowrap">@Local["Tổng"]</p>
                                                        </div>
                                                    </div>
                                                    <div class="col ps-0">
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-success text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                                                <h5 id="SMSType_success" class="text-white mb-0 mt-0 font-weight-bolder" data-type="2">4</h5>
                                                            </div>
                                                            <p class="text-sm text-dark  mb-0 fst-italic text-nowrap">@Local["Thành công"]</p>
                                                        </div>
                                                    </div>
                                                    <div class="col ps-0 pe-1">
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-danger text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                                                <h5 id="SMSType_fail" class="text-white mb-0 mt-0 font-weight-bolder" data-type="5">0</h5>
                                                            </div>
                                                            <p class="text-sm text-dark  mb-0 fst-italic text-nowrap">@Local["Thất bại"]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-0 border-0 ">
                                            <div class="mt-3 mobile-responsive">
                                                <div id="sms_list_sent_waiting" class="waitingdiv text-center" style="display: none;">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                                <table data-name="dtContentSMSSentList" class="table vt-table mb-0" id="dtContentSMSSentList">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:40px;">#</th>
                                                            <th>@Local["Tên"]</th>
                                                            <th>@Local["Mã khách hàng"]</th>
                                                            <th>@Local["Điện thoại"]</th>
                                                            <th data-name="note">@Local["Nội dung"]</th>
                                                            <th>@Local["Giá trị"]</th>
                                                            <th>@Local["Tình trạng gửi"]</th>
                                                            <th>@Local["Loại"] @Local["Tin nhắn"]</th>
                                                            <th data-name="create_by">@Local["Người gửi"]</th>
                                                            <th data-name="day_by">@Local["Ngày gửi"]</th>
                                                            <th data-name="timeexecute">@Local["Thời gian sử lý"]</th>
                                                            <th data-name="type">@Local["Loại"]</th>
                                                            <th data-name="branch">@Local["Chi nhánh"]</th>
                                                            <th data-name="Description">@Local["Mô tả"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dtContentSMSSentListBody">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <button class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0 position-relative" id="btnLoadMore" onclick="event.preventDefault(); return SMS_Sent_FilBegin(1);" style="display: none;">
                                                @Local["Xem thêm"]
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="smsarea_log" role="tabpanel">
                                <div class="col-12 px-0">
                                    <div class="card card-plain">
                                        <div class="card-body p-0 border-0">
                                            <div class="vtcondition">
                                                <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                                                <div class="fulllap collapse collapsesticky show">
                                                    <div class="row px-2">
                                                        <div class="col-12 col-md-6 col-xl-3 p-1">
                                                            <input id="SMSType_DateFrom" type="text" class="flatpickr form-control" autocomplete="off">
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-3 p-1">
                                                            <div class="ui fluid search selection dropdown form-control" id="SMSType_CodeTemp">
                                                                <input type="hidden" />
                                                                <input class="search" autocomplete="off" tabindex="0" />
                                                                <div class="default text">@Local["Mã kịch bản"]</div>
                                                                <div id="SMSType_CbbCodeTemp" class="menu" tabindex="-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-3 p-1">
                                                            <div class="d-flex">
                                                                <button class="btn w-100 bg-gradient-primary" id="SMS_Type_Load" onclick="event.preventDefault();return SMS_Sent_LoadRating();">OK</button>
                                                                <button class="btn w-100 btn-dark ms-2" onclick="event.preventDefault();return SMS_Sent_ExportRating();">@Local["Xuất"]</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-xl-3 p-1">
                                                            <div class="d-lg-flex">
                                                                <div class="d-flex ms-auto my-auto align-items-center mt-2">
                                                                    <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-primary text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                                                        <h5 id="SMSType_totalRating" class="text-white mb-0 mt-0 font-weight-bolder"></h5>
                                                                    </div>
                                                                    <p class="text-sm text-dark mb-0 fst-italic text-nowrap">@Local["Tổng"]</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-1 mobile-responsive overflow-auto" style="max-height: calc(100vh - 320px);">
                                                <table class="table vt-table mb-0" id="SMSType_DivTable">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>@Local["Đánh giá"]</th>
                                                            <th>@Local["Giờ"]</th>
                                                            <th>@Local["Ngày"]</th>
                                                            <th>@Local["Phản hồi"]</th>
                                                            <th>@Local["Nội dung"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="SMSType_Body">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="dataTable-wrapper mt-3">
                                                <div class="dataTable-bottom pb-0">
                                                    <nav class="dataTable-pagination">
                                                        <ul class="dataTable-pagination-list" id="SMSType_BodyPage">
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var data_list_sms_sent = [];
    var beginid = '0';
    var flagLoad = 0;
    var DataSmsHis = [];
    let shtable;

    let SMSType_limit = 50;
    let SMSType_page = 1;
    let SMSType_znssms = 1;
    var SMSType_DtRating = [];

    $(document).ready(function () {
        
        shtable = $("#dtContentSMSSentList").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        SMS_Sent_EventInit();
        Checking_TabControl_Permission();
        SMS_Sent_InitializeCombo();
    });
    //#region //LOAD INIT

    function SMS_Sent_InitializeCombo() {
        AjaxLoad(url = "/Marketing/SMSSentList/?handler=InitializeCombo"
            , data = {}
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    flagLoad = 0
                    let data = JSON.parse(result);
                    let data_Branch = data.Branch;
                    let dataTypeSMS = data.TypeSMS;
                    let dataCodeSMS = data.CodeSms;
                    let dataType = [
                        { ID: 1, Name: '@Local["Thất bại"]' }
                        , { ID: 2, Name: '@Local["Thành công"]' }
                    ];
                    let dataTypeSend = [
                        { ID: 1, Name: '@Local["Gửi tự động"]' }
                        , { ID: 2, Name: '@Local["Gửi bằng tay"]' }
                    ];
                    let dataMes = [
                        { ID: 1, Name: '@Local["Thông báo"] ZNS' }
                        , { ID: 2, Name: '@Local["Thông báo"] SMS' }
                    ];

                    Load_Combo(data_Branch, "cbbBranch", true, "@Local["Tất cả chi nhánh"]");
                    $("#BranchID").dropdown("refresh");
                    $("#BranchID").dropdown("set selected", '0');

                    Load_Combo(dataTypeSMS, "cbbSMSType", true, "@Local["Tất cả loại"] @Local["Tin nhắn"]");
                    $("#SMSTypeID").dropdown("refresh");
                    $("#SMSTypeID").dropdown("set selected", '0');

                    Load_Combo(dataType, "cbbSMSTypeSuccess", true, "@Local["Tất cả"] @Local["Tình trạng"]");
                    $("#SMSTypeSuccessID").dropdown("refresh");
                    $("#SMSTypeSuccessID").dropdown("set selected", '0');

                    Load_Combo(dataTypeSend, "SMS_CbbTypeSend", true, "@Local["Tất cả loại"]");
                    $("#SMS_TypeSend").dropdown("refresh");
                    $("#SMS_TypeSend").dropdown("set selected", '0');

                    Load_Combo(dataMes, "SMS_CbbTypeMes", true, "@Local["Tất cả"] @Local["Thông báo"]");
                    $("#SMS_TypeMes").dropdown("refresh");
                    $("#SMS_TypeMes").dropdown("set selected", '0');

                    if (dataCodeSMS && dataCodeSMS.length > 0) {
                        Load_Combo(dataCodeSMS, "SMSType_CbbCodeTemp", true);
                        $("#SMSType_CodeTemp").dropdown("refresh");
                        $("#SMSType_CodeTemp").dropdown("set selected", dataCodeSMS[0].ID);
                    }
                    
                    initNavs();
                    $('#smsarea a:first').tab('show');
                    flagLoad = 1;
                    SMS_Sent_FilBegin();
                    if ($("#smsarea").length = 1) SMS_Sent_LoadRating();
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
        );
    }

    //#endregion


    //#region //LOAD && FILL
    function SMS_Sent_FilBegin(IsLoadMore = 0, IsSearch = 0) {
        let SearText = IsSearch == 1 ? $("#filterSMSListSent").val() : "";
        let data = {};
        let IsPhone = 0;
        let regexPhone = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g;

        if (SearText != "") {
            SearText = SearText.toLowerCase().trim();
            SearText = SearText.length >= 3 ? xoa_dau(SearText).replace(/[^a-zA-Z0-9 ]/g, '') : "";
            IsPhone = regexPhone.test(SearText) ? 1 : 0;
        } else {
            data.branchid = (Number($('#BranchID').dropdown('get value')) ? Number($('#BranchID').dropdown('get value')) : 0);
            data.type = $('#SMSTypeID').dropdown('get value') ? $('#SMSTypeID').dropdown('get value') : '0';
            data.typeSuccess = $('#SMSTypeSuccessID').dropdown('get value') ? $('#SMSTypeSuccessID').dropdown('get value') : '0';

            data.issystem = Number($('#SMS_TypeSend').dropdown('get value')) ? Number($('#SMS_TypeSend').dropdown('get value')) : 0;
            data.isZNS = Number($('#SMS_TypeMes').dropdown('get value')) ? Number($('#SMS_TypeMes').dropdown('get value')) : 0;

            data.date = $('#dateFilter').val() ? $('#dateFilter').val() : new Date();

            if (data.date.search(" to ") > 0) {
                data.date = data.date.split(" to ");
                data.dateFrom = data.date[0];
                data.dateTo = data.date[1];
            }
            else {
                data.dateFrom = data.date;
                data.dateTo = data.date;
            }
        }
        if (data != {} || SearText != '') {
            if (IsLoadMore == 0) {
                beginid = 0;
                data_list_sms_sent = [];
                $("#dtContentSMSSentListBody").empty();
                SMS_Sent_LoadDataTotal(data, SearText, IsPhone);
            }
            SMS_Sent_LoadData(data, SearText, IsPhone);
        }
    }
    function SMS_Sent_LoadData(data, SearText, IsPhone) {
        if (flagLoad == 1) {

            AjaxLoad(url = "/Marketing/SMSSentList/?handler=LoadData"
                , data = {
                    'data': JSON.stringify(data)
                    , 'SearchText': SearText
                    , 'IsPhone': IsPhone
                    , 'Limit': 100
                    , 'BeginID': beginid
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "0") {
                        let DataSmsHis = JSON.parse(result);
                        data_list_sms_sent = data_list_sms_sent.concat(DataSmsHis);
                        SMS_Sent_RenderData(data_list_sms_sent, 'dtContentSMSSentListBody');

                        if (DataSmsHis.length > 0) {
                            beginid = DataSmsHis[DataSmsHis.length - 1].ID;
                            $('#btnLoadMore').show();
                        }
                        else {
                            $('#btnLoadMore').hide();
                        }
                    }
                    else {
                        $('#btnLoadMore').hide();
                    }
                }
                , sender = null
                , before = function (e) {
                    $("#sms_list_sent_waiting").show();
                }
                , complete = function (e) {
                    $("#sms_list_sent_waiting").hide();
                }
            );
        }
    }
    function SMS_Sent_LoadDataTotal(data, SearText, IsPhone) {
        AjaxLoad(url = "/Marketing/SMSSentList/?handler=LoadTotal"
            , data = {
                'data': JSON.stringify(data)
                , 'SearText': SearText
                , 'IsPhone': IsPhone
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    Count_Up('SMSType_total', data[0].Total);
                    Count_Up('SMSType_success', data[0].TotalSuccess);
                    Count_Up('SMSType_fail', data[0].TotalFail);
                }
            }
            , sender = null
            , before = function (e) {
                $("#sms_list_sent_waiting").show();
            }
            , complete = function (e) {
                $("#sms_list_sent_waiting").hide();
            }
        );
    }
    function SMS_Sent_LoadRating(IsChangePage = 0) {
        let FromTime = $("#SMSType_DateFrom").val() ? $("#SMSType_DateFrom").val() : new Date();
        if (IsChangePage == 0) {
            SMSType_page = 1;
            $("#SMSType_BodyPage").html("");
            $("#SMSType_Body").html("");
            SMSType_DtRating = [];
        }
        let _limit = SMSType_limit;
        let _page = SMSType_page;
        let _from_time = Math.floor(new Date(FromTime).getTime() / 1000);
        let _template_id = $("#SMSType_CodeTemp").dropdown("get value") ? Number($("#SMSType_CodeTemp").dropdown("get value")) : 0;
        let _znssms = SMSType_znssms;

        SMSSYS_Getlog(_limit, _page, _from_time, _template_id, _znssms
            , _successfunc = function (e) {
                let data = JSON.parse(e);
                SMSType_DtRating = data["data"];
                let dataTotal = data["total"];
                if (SMSType_DtRating && SMSType_DtRating.length > 0) {
                    SMS_Sent_RenderPage(dataTotal, _limit, "SMSType_BodyPage");
                    SMS_Sent_RenderRating(SMSType_DtRating, "SMSType_Body");
                }
                $("#SMSType_totalRating").html(dataTotal);

            }
            , _errorfunc = function () {
                //notiError_SW();
            }
        )
    }

    //#endregion

    //#region //RENDER
    function SMS_Sent_RenderData(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let stringContent = '';
                    let item = data[i];
                    let tr = '<td class="text-center">' + (i + 1) + '</td>'
                        + ((item.TicketID != 0 && item.CusID == 0)
                            ? ('<td class="celss_search"><a  class="text-decoration-underline fw-bold" target="_blank" href="/Marketing/TicketAction?CustomerID=' + item.CusID + '&TicketID=' + item.TicketID + "&ver=" + versionofWebApplication + '">' + item.CustomerName + '</a></td>')
                            : ('<td class="celss_search">' + item.CustomerName + '</td>')
                        )
                        + '<td class="celss_search"><a class="text-decoration-underline fw-bold" target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CusID + "&ver=" + versionofWebApplication + '">' + item.CustomerCode + '</a></td>'
                        + '<td class="celss_search"><span class="_tab_control_" data-tab="phone_customer">' + item.Phone + '</span></td>'
                        + '<td data-name="note"><span class="content_line_clamp white-space-pre-line">' + item.Content + '</td>'
                        + '<td>' + Render_Data_SMS_Value(item.Value) + '</td>'
                        + '<td>' + Render_Data_SMS_Status(item.IsSuccess) + '</td>'
                        + '<td>' + (item.IsZNS == 1 ? "ZNS" : "SMS") + '</td>'
                        + '<td data-name="create_by">' + item.Created_By + '</td>'
                        + '<td data-name="day_by">' + GetDateTime_String_DMYHM(item.Created) + '</td>'
                        + '<td data-name="timeexecute">' + (!(item.TimeStatus).includes('1900') ? GetDateTime_String_DMYHM(item.TimeStatus) : '') + '</td>'
                        + '<td data-name="type">' + (item.Type != 0 ? item.TypeName : "@Local["Khác"]") + '</td>'
                        + '<td data-name="branch">' + item.BranchName + '</td>'
                        + '<td data-name="Description"  >' + item.Description + '</td>';
                    stringContent = stringContent + '<tr >' + tr + '</tr>';
                    $("#" + id).append(stringContent);
                }
            }
            shtable.Refresh();
            Checking_TabControl_Permission();
        }
    }
    function Render_Data_SMS_Status(value) {
        try {
            let IsSuccess = Number(value);
            let result = '';
            if (IsSuccess == 1) {
                result = `<div class="text-center">
                                <i class="fas fa-check text-success"></i>
                            </div>`
            }
            else if (IsSuccess == 0) {
                result = `<div class="text-center">
                                    <i class="fas fa-times text-danger"></i>
                                </div>`
            }
            else { result = `<div class="text-center"></div>` }
            return result;
        }
        catch (ex) {
            return '';
        }
    }
    function Render_Data_SMS_Value(value) {
        try {
            let result = '';
            let IsNum = /^-?[\d.]+(?:e-?\d+)?$/.test(value);
            if (IsNum == true) {
                result = (Number(value) != 0 ? formatNumber(value) : '');
            } else {
                result = value;
            }
            return result;
        }
        catch (ex) {
            return '';
        }
    }
    function exportFile_sms_sent() {
        try {
            if (data_list_sms_sent && data_list_sms_sent.length != 0) {
                var dataheader = {
                    "#": ["@Local["#"]", (value, { }, index) => { return index + 1; }],
                    "CustomerName": "@Local["Tên"]",
                    "CustomerCode": "@Local["Mã khách hàng"]",
                    "Phone": ["@Local["Điện thoại"]", null, "phone_customer"],
                    "Content": "@Local["Nội dung"]",
                    "Value": ["@Local["Giá trị"]", (value) => { return Render_Data_SMS_Value(value) }],
                    "IsSuccess": ["@Local["Tình trạng gửi"]", (value) => { return (value == 1 ? Outlang["Thanh_cong"] : (value == 0 ? Outlang["That_bai"] : "")) }],
                    "IsZNS": ["@Local["Loại"] @Local["Tin nhắn"]", (value) => { return (value == 1 ? "ZNS" : "SMS") }],
                    "Created_By": "@Local["Người gửi"]",
                    "Created": ["@Local["Ngày gửi"]", (value) => { return (!(value).includes('1900') ? GetDateTime_String_DMYHM(value) : '') }],
                    "TimeStatus": ["@Local["Thời gian sử lý"]", (value) => { return (!(value).includes('1900') ? GetDateTime_String_DMYHM(value) : '') }],
                    "TypeName": ["@Local["Loại"]", (value, { Type }) => { return (Type != 0 ? value : decodeHtml("@Local["Khác"]")) }],
                    "BranchName": "@Local["Chi nhánh"]",
                    "Description": "@Local["Mô tả"]"
                }
                exportJsonToExcel(Outlang['Lich-su-sms'], data_list_sms_sent, dataheader);
            }
            else { notiWarning('@Local["Không xuất được file"]'); }
        }

        catch (ex) {
            notiWarning('@Local["Không xuất được file"]');
        }
    }

    function SMS_Sent_RenderPage(TotalItem, LimitPage, id) {
        let myNode = document.getElementById(id);
        let TotalPage = Math.ceil(TotalItem / LimitPage);
        if (myNode != null) {
            myNode.innerHTML = '';
            if (TotalPage > 0) {
                let tr = SMS_Sent_RenderPageEach(TotalPage);
                myNode.insertAdjacentHTML('beforeend', tr);
            }
            SMS_Sent_EventPage();
        }
    }
    function SMS_Sent_RenderPageEach(TotalPage) {
        try {
            let result = ``;
            for (let i = 1; i < TotalPage + 1; i++) {
                if (i == 1 || i == TotalPage || (SMSType_page - 1 == i) || (SMSType_page == i) || (SMSType_page + 1 == i)) {
                    result += `<li data-page="${i}" class="btnClick ${SMSType_page == i ? `active` : ``}"><a href="#">${i}</a></li>`
                }
                if (TotalPage >= 4 && ((SMSType_page >= 4 && i == 1) || ((TotalPage - SMSType_page) >= 3 && i == (TotalPage - 1)))) {
                    result += `<li><a href="#">...</a></li>`;
                }
            }
            result = `
                    <li data-page="pre" class="arrow ${SMSType_page == 1 ? `disabled` : ``}"><a href="#"><</a></li>
                    ${result}
                    <li data-page="nex" class="arrow ${SMSType_page == TotalPage ? `disabled` : ``}"><a href="#">></a></li>
                `;
            return result;
        } catch (ex) {
            return '';
        }
    }
    async function SMS_Sent_RenderRating(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    myNode.innerHTML = '';
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = `
                                    <tr class="vt-number">
                                        <td class="vt-number-order text-center"></td>
                                        <td class="text-center">${Number(item.rate)} <i class="far fa-star text-warning"></i></td>
                                        <td>${GetDateTime_String_HHMM(item.submited_date)}</td>
                                        <td>${GetDateTime_String_DMY(item.submited_date)}</td>
                                        <td>${item.feed_back}</td>
                                        <td>${item.note}</td>
                                    </tr>
                                `;
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                resolve();
            }, 30)
        })
    }

    //#endregion

    //#region //Event
    function SMS_Sent_EventInit () {
        $("#dateFilter").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        $("#SMSType_DateFrom").flatpickr({
            dateFormat: 'Y-m-d'
            , enableTime: false
            , allowInput: true
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $("#dateFilter").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        $("#SMSType_DateFrom").val(ConvertDT_To_StringYMD(date));
    }

    function SMS_Sent_CloseCollap() {
        $('#colsearch').collapse('hide');
    }

    function SMS_Sent_EventPage() {
        $("#SMSType_BodyPage .btnClick").unbind("click").click(function () {
            let ID = Number($(this).attr("data-page")) ? Number($(this).attr("data-page")) : 0;
            if (ID != 0) {
                SMSType_page = ID;
                $("#SMSType_BodyPage .btnClick").removeClass("active");
                $(this).addClass("active");
                SMS_Sent_LoadRating(1);
            }
        })
        $("#SMSType_BodyPage .arrow").unbind("click").click(function () {
            let status = $(this).attr("data-page") ? $(this).attr("data-page") : '';
            if (status != '') {
                if (status == 'pre') SMSType_page = SMSType_page - 1;
                if (status == 'nex') SMSType_page = SMSType_page + 1;
                SMS_Sent_LoadRating(1);
            }
        })
    }
    //#endregion

    //#region //Other

    function SMS_Sent_ExportRating() {
        try {
            if (SMSType_DtRating && SMSType_DtRating.length != 0) {
                var dataheader = {
                    "#": ["@Local["#"]", (value, { }, index) => {return index + 1;}],
                    "rate": "@Local["Đánh giá"]",
                    "submited_date": ["@Local["Ngày"]", (value) => {return (GetDateTime_String_HHMM(value))}],
                    "Date": ["@Local["Giờ"]", (value, {submited_date}) => {return (GetDateTime_String_DMY(submited_date))}],
                    "feed_back": "@Local["Phản hồi"]",
                    "note": "@Local["Nội dung"]"
                }
                exportJsonToExcel(Outlang["Sys_tinh_trang_danh_gia"], SMSType_DtRating, dataheader);
            }
            else { notiWarning('@Local["Không xuất được file"]'); }
        }
        catch (ex) {
            notiWarning('@Local["Không xuất được file"]');
        }
    }

    //#endregion
</script>
<script>js_require('/js/main.js');</script>
<style type="text/css">
    .loadmore {
        height: 20px;
        width: 100%;
        border-style: none;
        font-size: 13px;
        color: #db2828;
        background: #ffffff00;
        margin-bottom: 2px;
        border-top: 1px solid #e9ecef;
    }
</style>
