@page
@model MLunarCoffee.Pages.Marketing.StatusSendSMSModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

<div class="card card-plain container-fluid px-0">
    <div class="row m-0">
        <div class="col-12 ">
            <div class="row">
                <div class="card card-plain px-2">
                    <div class="vtcardheader card-header pb-0 px-1 pt-3">
                        <div class="left">
                            <h6 class="mb-0">@Local["Trạng thái gửi sms marketing"]</h6>
                            <p class="text-sm mb-0">@Local["Thông tin trạng thái gửi sms hàng loạt"]</p>
                        </div>
                        <div class="right">
                            <div class="col ps-0 mb-lg-0 mb-1">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-primary text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                        <h5 id="totalSend" class="text-white mb-0 mt-0  font-weight-bolder" data-type="1">0</h5>
                                    </div>

                                    <p class="text-sm text-dark mb-0  fst-italic text-nowrap">@Local["Tổng"]</p>
                                </div>
                            </div>
                            <div class="col ps-2 mb-lg-0 mb-1">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-success  text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                        <h5 id="totalSendSuccess" class="text-white mb-0 mt-0  font-weight-bolder" data-type="1">0</h5>
                                    </div>

                                    <p class="text-sm text-dark mb-0  fst-italic text-nowrap">@Local["Thành công"]</p>
                                </div>
                            </div>
                            <div class="col ps-2 mb-lg-0 mb-1">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-danger text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                        <h5 id="totalSendFail" class="text-white mb-0 mt-0  font-weight-bolder" data-type="1">0</h5>
                                    </div>

                                    <p class="text-sm text-dark mb-0  fst-italic text-nowrap">@Local["Thất bại"]</p>
                                </div>
                            </div>
 
                        </div>
                    </div>
                    <div class="card-body px-1 py-1">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-xl-3 p-1 position-relative">
                                <div class="m-0  mobile-responsive position-relative">
                                    <div id="sss_camwaiting" class="waitingdiv text-center position-absolute top-50 z-index-2 start-50 translate-middle" style="display: none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="nav-wrapper mt-3" style="--max-height:calc( 100vh - 220px ); --overflow-y: auto">
                                        <ul class="nav nav-pills nav-menus nav-menus-vertical flex-column  bg-white border-radius-lg"
                                            id="sss_camlist">
                                        </ul>
                                    </div>


                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-xl-9 p-1">
                                <div class="px-0 py-2 m-0 mt-0 mobile-responsive position-relative" style="max-height: calc(100vh - 200px)">
                                    <div id="sss_listwating" class="waitingdiv text-center position-absolute top-50 z-index-2 start-50 translate-middle" style="display: none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>

                                    <table class="table vt-table mb-0" id="dtContentDetail">
                                        <thead class="hiddenCollapse">
                                            <tr role="row">
                                                <th>#</th>
                                                <th>@Local["Khách hàng"]</th>
                                                <th>@Local["Điện thoại"]</th>
                                                <th>@Local["Trạng thái gửi"]</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dtContentDetailBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">

    let CurrentStatusParentID = 0;
    let DataUser;
    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                LoadList();
            });
    });

    function LoadList () {
        AjaxLoad(url = "/Marketing/StatusSendSMS/?handler=LoadData"
            , data = {}
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    RenderMasterTable(data, 'sss_camlist');
                    TriggerClick_StatusParent();
                }

            }, sender = null
            , before = function (e) {
                $("#sss_camwaiting").show();
            }
            , complete = function (e) {
                $("#sss_camwaiting").hide();
            }
        );
    }
    function RenderMasterTable (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
        
                    if (i == 0) CurrentStatusParentID = item.ID;
                    let li =
                        `<li class="nav-item" role="presentation">
                                <a data-id="${item.ID}" class="text-sm item-menu buttonSelectClass nav-link cursor-pointer" data-hover data-bs-toggle="tab">
                                    <div class="px-1">
                                        <div data-id="${item.ID}" class="d-inline">
                                            <span class="ps-0 text-sm text-dark fw-bold">
                                                ${GetDateTime_String_DMYHM(item.DayEditor)}
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center mt-0">
                                            <div class="ps-0">
                                                <span class="text-lowercase text-secondary">${item.Name}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <hr class="horizontal dark my-0">
                            </li>
                                `
                    stringContent = stringContent + li
                }
            }
            document.getElementById(id).innerHTML = stringContent;

        }
        Event_Row_Status_Parent();
    }


    function LoadDetail (CurrentID) {
        AjaxLoad(url = "/Marketing/StatusSendSMS/?handler=LoadDataDetail"
            , data = {'CurrentID': CurrentID}
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    RenderGridDetail(data, "dtContentDetailBody");
                    if (data != undefined && data != null && data.length != 0) {
                        let succ = 0; let fail = 0; let total = 0;
                        total = data.length;
                        let x = data.filter(word => word["Status"] == 1);
                        if (x != undefined && x != null) succ = x.length;
                        else succ = 0;
                        fail = total - succ;
                        $('#totalSend').html(total);
                        $('#totalSendSuccess').html(succ);
                        $('#totalSendFail').html(fail);
                    }
                    else {
                        $('#totalSend').html(0);
                        $('#totalSendSuccess').html(0);
                        $('#totalSendFail').html(0);
                    }
                }
                else {
                    $('#totalSend').html(0);
                    $('#totalSendSuccess').html(0);
                    $('#totalSendFail').html(0);
                }
            }
        );
        return false;
    }

    function TriggerClick_StatusParent () {
        if ($('.buttonSelectClass[data-id="' + CurrentStatusParentID + '"]').get(0) != undefined)
            $('.buttonSelectClass[data-id="' + CurrentStatusParentID + '"]').get(0).click();
    }
    function Event_Row_Status_Parent () {
        $("#sss_camlist .buttonSelectClass").unbind('click').click(function () {
            $("#sss_camlist .buttonSelectClass").removeClass('active');
            $(this).addClass('active');
            let ID = Number($(this).attr('data-id')) ? Number($(this).attr('data-id')) : 0;
            LoadDetail(ID);
        });

    }
    function RenderGridDetail (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="vt-number-order text-center"></td>'
                        + '<td>' + item.CustName + '</td>'
                        + '<td class="_tab_control_" data-tab="phone_customer">' + item.Phone + '</td>'
                        + ((item.Status == 1) ? '<td><span class="text-success fw-bold">Approved</span></td>' : '<td><span class="text-danger fw-bold">Fail</span></td>')
                    stringContent = stringContent + '<tr role="row" class="vt-number">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
        Checking_TabControl_Permission();
    }
</script>
<script>js_require('/js/main.js');</script>
