@page
@model MLunarCoffee.Pages.Marketing.TicketDeleteModel
@{
    Layout = null;
}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Xóa ticket"]</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-2 form3" id="form3">
                        <div class="field col-12 p-1">
                            <label>@Local["Lý do xóa"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="ReasonDelete">
                                <input type="hidden" name="statusType" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg. @Local["Lý do xóa"]</div>
                                <div id="cbbCause" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Ghi chú"]</label>
                            <textarea id="NoteTicketDelete" class="form-control" name="content"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">

    var ser_TicketDeleteID;

    $(document).ready(function () {
        ser_TicketDeleteID = @Model._TicketDeleteID;
        InitializeComboTicketDelete();
    });

    function InitializeComboTicketDelete() {
        AjaxLoad(url = "/Marketing/TicketDelete/?handler=InitializeCombo"
            , data = {  }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let ReasonDelete = JSON.parse(result);
                    if (ReasonDelete.length > 0) {
                        Load_Combo(ReasonDelete, "cbbCause", true);
                        $("#ReasonDelete").dropdown("refresh");
                        $("#ReasonDelete").dropdown("set selected", ReasonDelete[0].ID);
                    }
                }
            }
        );
    }

    function ExcuteData() {
        var data = new Object();
        data.StatusCall_ID = Number($('#ReasonDelete').dropdown('get value')) ? Number($('#ReasonDelete').dropdown('get value')) : 0;
        data.Note = $('#NoteTicketDelete').val() ? $('#NoteTicketDelete').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Marketing/TicketDelete/?handler=ExcuteData"
                , data = {
                    'data' : JSON.stringify(data),
                    'CurrentID' : ser_TicketDeleteID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        if (typeof TicketList_DeleteRow === 'function') TicketList_DeleteRow(ser_TicketDeleteID); //TicketList
                        if (typeof Tag_DeleteRow === 'function') Tag_DeleteRow(ser_TicketDeleteID); //TicketTag

                        CloseModal();
                    } else if (result == "-1") {
                        notiWarning("@Local["Sai định dạng"]")
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
        return false;
    }
</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>


