@page
@model MLunarCoffee.Pages.Marketing.TicketMoveStatusDetailModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form class="form form3" id="form3">
            <div class="card p-3 border-radius-xl bg-white mb-3">
                <h6 class="font-weight-bolder mb-0">@Local["Lý do chuyển ticket"]</h6>
                <p class="mb-0 text-sm">@Local["Cài đặt lý do chuyển ticket"]</p>
                <div class="row mt-2 px-1">
                    <div class="field col-12 px-1 mt-2">
                        <label>@Local["Lý do"]</label>
                        <input id="ReasonDelete" class="form-control" name="name" type="text" placeholder="eg. @Local["Lý do"]" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="action_Save">
        <div class="action_Save-Content">
            <div>
                <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
            </div>
            <div>
                <button class="btn bg-gradient-primary mt-2 me-2" form="form3" type="submit" onclick="return ExcuteData()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">
    var sys_ReasonMoveID;
    function ExcuteData() {
        var data = new Object();
        data.Name = $('#ReasonDelete').val() ? $('#ReasonDelete').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Marketing/TicketMoveStatusDetail/?handler=ExcuteData"
                , data = { 'data': JSON.stringify(data), 'CurrentID': sys_ReasonMoveID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        LoadTicketReasonMoveAjax();
                    } 
                    else if (result == "-1") notiWarning('@Local["Trùng dữ liệu"]');
                    else {
                        notiError_SW();
                    }
                }
            );
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
        }
        return false;
    }

    $(document).ready(function () {
        sys_ReasonMoveID = '@Model._ReasonMoveID';
        TicketMove_LoadDataDetail();
    });
    function TicketMove_LoadDataDetail() {
        if (sys_ReasonMoveID != "0") {
            AjaxLoad(url = "/Marketing/TicketMoveStatusDetail/?handler=Loadata"
                , data = { 'id': sys_ReasonMoveID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data && data.length != 0) {
                        $('#ReasonDelete').val((data[0].Name));
                    }
                }
            );
        }
    }

</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>