@page
@model MLunarCoffee.Pages.Marketing.TicketReasonDeleteDetailModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form class="form form3" id="form3">
            <div class="card p-3 border-radius-xl bg-white mb-3">
                <h6 class="font-weight-bolder mb-0">@Local["Lý do xóa ticket"]</h6>
                <p class="mb-0 text-sm">@Local["Cập nhật lý do xóa ticket"]</p>
                <div class="row mt-2 px-1">
                    <div class="field col-12 px-1 mt-2">
                        <label>@Local["Lý do"]</label>
                        <input id="ReasonDelete" class="form-control" name="name" type="text" placeholder="eg. @Local["Lý do"]" />
                    </div>
                </div>
                <div class="row mt-2 px-1">
                    <div class="field col-12 px-1 mt-2">
                        <label>@Local["Ghi chú"]</label>
                        <textarea id="NoteReason" rows="3" class="form-control" name="content"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="action_Save">
        <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
        <div class="action_Save-Content">
            <div class="_tab_control_" data-tab="edit_tab_ticket_reason_delete">
                <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
            </div>
            <div class="_tab_control_" data-tab="edit_tab_ticket_tele_group">
                <button class="btn bg-gradient-primary mt-2 me-2" form="form3" type="submit" onclick="return ExcuteData()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">
    var sys_ReasonDeleteID;
    $(document).ready(function () {
        sys_ReasonDeleteID = '@Model._ReasonDeleteID';
        TicketReason_LoadDataDetail();
    });

    function ExcuteData() {
        var data = new Object();
        data.Name = $('#ReasonDelete').val() ? $('#ReasonDelete').val() : "";
        data.Note = $('#NoteReason').val() ? $('#NoteReason').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Marketing/TicketReasonDeleteDetail/?handler=ExcuteData"
                , data = { 'data': JSON.stringify(data), 'CurrentID': sys_ReasonDeleteID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        LoadTicketReasonDeleteAjax();
                        $('#DetailModal').modal('hide');
                        $("#DetailModal_Content").html('');
                    } else if (result = "-1") {
                        document.getElementById("textShowMessage").innerHTML = "@Local["Trùng dữ liệu"]";
                    }
                    else {
                        notiError_SW();
                    }
                }
            );

        }
        return false;
    }

    function TicketReason_LoadDataDetail() {
        if (sys_ReasonDeleteID != "0") {
            AjaxLoad(url = "/Marketing/TicketReasonDeleteDetail/?handler=Loadata"
                , data = { "id": sys_ReasonDeleteID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data && data.length != 0) {
                        $('#ReasonDelete').val((data[0].Name));
                        $('#NoteReason').val((data[0].Note));
                    }
                }
            );
        }
    }

</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>