@page
@model MLunarCoffee.Pages.Marketing.TicketDuplicate_v1Model
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Trùng ticket"]</h6>
                                <p class="text-sm mb-0">@Local["Danh sách ticket trùng"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 pb-0">
                    <div class="m-0 my-3 table-responsive">
                        <table class="table vt-table mb-0" id="dtTicketDuplicate">
                            <thead>
                                <tr>
                                    <th>@Local["Mã khách hàng"]</th>
                                    <th>@Local["Khách hàng"]</th>
                                    <th>@Local["Số điện thoại"]</th>
                                    <th>@Local["Thông tin"]</th>
                                    <th>@Local["So sánh"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtTicketDuplicateBody">
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-2 px-1">
                        <div class="col-12 col-md-6 col-xl-6 mt-md-0 mt-4">
                            <div class="card h-100">
                                <div class="card-header pb-0 p-3">
                                    <h6 class="mb-0" data-fontchanged="true">@Local["Ticket đang nhập"]</h6>
                                    <hr class="my-1">
                                </div>
                                <div class="card-body p-3">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Tên khách"]</strong>&nbsp;:
                                            <span id="txtNameFrom"></span>
                                        </li>
                                        <li class="list-group-item border-0 ps-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Điện thoại"]</strong> &nbsp;:
                                            <span id="txtPhoneFrom"></span>
                                        </li>
                                        <li class="list-group-item border-0 ps-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Giới tính"]</strong> &nbsp;:
                                            <span id="txtGenderFrom"></span>
                                        </li>
                                        <li class="list-group-item border-0 ps-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Nguồn"]</strong> &nbsp;:
                                            <span id="txtSourceFrom"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-6 mt-md-0 mt-4">
                            <div class="card h-100">
                                <div class="card-header pb-0 p-3">
                                    <h6 class="mb-0" data-fontchanged="true">@Local["Ticket trùng"]</h6>
                                    <hr class="my-1">
                                </div>
                                <div class="card-body p-3">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Tên khách"]</strong>&nbsp;:
                                            <span id="txtNameTo"></span>
                                        </li>
                                        <li class="list-group-item border-0 ps-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Điện thoại"]</strong> &nbsp;:
                                            <span id="txtPhoneTo"></span>
                                        </li>
                                        <li class="list-group-item border-0 ps-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Giới tính"]</strong> &nbsp;:
                                            <span id="txtGenderTo"></span>
                                        </li>
                                        <li class="list-group-item border-0 ps-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Nguồn"]</strong> &nbsp;:
                                            <span id="txtSourceTo"></span>
                                        </li>
                                        <li class="list-group-item border-0 ps-0 text-sm">
                                            <strong class="text-dark text-sm">@Local["Thông tin tạo"]</strong> &nbsp;:
                                            <span id="txtCreatedTo"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-3 pt-2 fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();TicketDuplicateBack()">@Local["Đóng"]</button>
                            <button id="btnSaveTicketMatch" class="btn bg-gradient-primary mt-2 me-2" form="form3" onclick="event.preventDefault();ExcuteDataDuplicatePhone();">@Local["Lưu trùng số"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var currentIDTicket = 0;
    var dtTicketDuplicate;
    var CurrentTicketID = "@Model._TicketID";
    var PhoneTicketDuplicate = "@Model._Phone";

    $(document).ready(function () {
        $('#infoTicketDuplicate').hide();
        Load_Ticket_Duplicate();
        $('#avatarTicketTo').attr('src',  Master_circleAvatar);
        LoadTicketCurrent();
    });

    function Load_Ticket_Duplicate() {
        PhoneTicketDuplicate = extract_numberic(PhoneTicketDuplicate);
        if (PhoneTicketDuplicate.length != 0) {
            AjaxLoad(url = "/Marketing/TicketDuplicate_v1/?handler=Loadata"
                , data = { 'phone': PhoneTicketDuplicate }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "0") {
                        dtTicketDuplicate = JSON.parse(result);
                        RenderTicketDuplicate(dtTicketDuplicate, 'dtTicketDuplicateBody');
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
    }

    function ExcuteDataDuplicatePhone() {
        TicketDetail_ExcuteData(1);
        $('#DetailModal').modal('hide');
        $("#DetailModal_Content").html('');
        $('#DetailModalLV2').modal('hide');
        $("#DetailModalLV2_Content").html('');

    }

    function EventRowDuplicateTicket() {
        $(".duplicateTicket").hover(function () {
            let currentcolor = rgb2hex($(this).css("background-color"));
            if (currentcolor != "#bee3ff") $(this).css("background-color", "#85cbff");
        }, function () {
            let currentcolor = rgb2hex($(this).css("background-color"));
            if (currentcolor != "#bee3ff") $(this).css("background-color", "transparent");

        });

        $('.duplicateTicket').on('click', function () {
            let ID = Number($(this).attr("data-id"));
            if (ID != "" && ID != null) {
                LoadTickettDetail(ID);
            }

            let x = document.getElementsByClassName("duplicateTicket");
            for (i = 0; i < x.length; i++) {
                if (ID == Number(x[i].attributes["data-id"].value)) {
                    x[i].style.background = "#bee3ff";
                }
                else {
                    x[i].style.background = "white";
                }
            }
        });
    }

    function LoadTicketCurrent() {

        let dtTicketCurrent = JSON.parse(localStorage.getItem('InfoTicketDuplicate'));
        localStorage.removeItem('dataPrintServiceList');

        if (dtTicketCurrent) {
            let data = dtTicketCurrent;

            $("#txtNameFrom").html(data.Name);
            $("#txtPhoneFrom").html(data.Phone + (data.Phone2 != "" ? "<br>" + data.Phone2 : ""));
            $("#txtGenderFrom").html(data.Gender);
            $("#txtSourceFrom").html(data.TicketSource);
            $('#avatarTicketFrom').attr('src', Master_circleAvatar);

        }
    }

    function LoadTickettDetail(ID) {

        if (dtTicketDuplicate.length > 0) {
            let data = dtTicketDuplicate.filter(word => word["ID"] == ID)[0];

            $("#txtNameTo").html(data.Name);
            $("#txtPhoneTo").html(data.Phone + (data.Phone2 != "" ? "<br>" + data.Phone2 : ""));
            $("#txtGenderTo").html(data.Gender);
            $("#txtSourceTo").html(data.TicketSource);
            $("#txtCreatedTo").html(data.CreatedString);
            let avatarString = Master_circleAvatar;
            if (data.Avatar != null && data.Avatar != '') {
                avatarString = data.Avatar;
            }
            $('#avatarTicketTo').attr('src', 'data:image/png;base64, ' + avatarString);

        }
    }

    function RenderTicketDuplicate(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';

            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (i == 0) {
                        currentIDTicket = item.ID;
                    }
                    let tr =
                        '<td>' + (item.Cust_Code != '' ? item.Cust_Code : '') + '</td>'
                        + '<td>' + '<a style="text-decoration: underline;" target="_blank" title="View" href="/Marketing/TicketAction?CustomerID=' + Number(item.CustomerID) + '&TicketID=' + Number(item.ID) + '&ver=' + versionofWebApplication + '">' + item.Name + '</td>'
                        + '<td>' + item.Phone + '</td>'
                        + '<td>' + item.CreatedString + '</td>'
                        + '<td style="width:50px; cursor: pointer;">' + '<i title="Select Ticket Update" class="buttonActionClass vtt-icon vttech-icon-check"></i>' + '</td>'
                    stringContent = stringContent + '<tr class="duplicateTicket" data-id="' + item.ID + '" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }

        EventRowDuplicateTicket();
        //TriggerClick_Ticket();
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>