@page
@model MLunarCoffee.Pages.Marketing.TicketDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js')</script>
<div class="row" id="TicketDetail_Master">
    <div class="col-md-12">
        <form class="form form3" id="Ticket_Detail_Input">
            <div class="card p-3 border-radius-xl bg-white mb-3">
                <div class="row">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h6 class="font-weight-bolder mb-0">Ticket</h6>
                            <p class="mb-0 text-sm">@Local["Thông tin ticket"]</p>
                            <p class="mb-0 text-sm" id="notiHeader"></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto">
                        <ul class="nav nav-pills nav-fill pt-2 bg-transparent detailticket" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="pill" data-bs-target="#detailticket_info" role="tab">@Local["Thông tin chung"]</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="pill" data-bs-target="#detailticket_other" role="tab">@Local["Khác"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-wrapper position-relative end-0">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="detailticket_info" role="tabpanel">
                            <div class="row mt-2 px-1">
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Tên"]</label>
                                    <input id="txtTicketName" name="name" type="text" class="form-control" placeholder="eg. @Local["Tên"]" />
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Nhóm khách hàng"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_customerGroup">
                                        <input type="hidden" name="" />
                                        <i class="dropdown icon"></i>
                                        <div class="text default" data-fontchanged="true">eg. @Local["Nhóm khách hàng"]</div>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div id="cbbTicket_CustomerGroup" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Nguồn dữ liệu"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_sourceType">
                                        <input type="hidden" name="sourceType" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text" data-fontchanged="true">eg. @Local["Nguồn dữ liệu"]</div>
                                        <div id="cbbTicket_sourceType" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Giới tính"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_genderType">
                                        <input type="hidden" name="gender" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text" data-fontchanged="true">eg. @Local["Giới tính"]</div>
                                        <div id="cbbTicket_genderType" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Điện thoại"]</label>
                                    <input data-tab="phone_customer" class="form-control _tab_control_" id="TicketPhone_1" name="phonenumber" type="text" placeholder="eg .@Local["Điện thoại"]" />
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Điện thoại"] 2</label>
                                    <input data-tab="phone_customer" class="form-control _tab_control_" id="TicketPhone_2" name="phonenumberNotMain" type="text" placeholder="eg. @Local["Điện thoại"] 2" />
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Nhân viên"] marketing</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_Marketing">
                                        <input type="hidden" name="" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text" data-fontchanged="true">eg. @Local["Nhân viên"] marketing</div>
                                        <div id="CbbTicket_Marketing" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Tele phụ trách"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_TeleFollow">
                                        <input type="hidden" name="" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text" data-fontchanged="true">eg. @Local["Tele phụ trách"]</div>
                                        <div id="CbbTicket_TeleFollow" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                 <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Tag"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_TicketTag">
                                        <input type="hidden" name="" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text" data-fontchanged="true">eg. @Local["Tag"]</div>
                                        <div id="CbbTicket_TicketTag" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Địa chỉ"]</label>
                                    <input id="Ticket_Address" name="Address" type="text" data-tab="address_customer" class="form-control _tab_control_" placeholder="@Local["Địa chỉ"]" />
                                </div>
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Thành phố"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_City" onchange="event.preventDefault(); return TicketDetail_ChangeCity();">
                                        <input type="hidden" name="" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text" data-fontchanged="true">eg. @Local["Thành phố"]</div>
                                        <div id="CbbTicket_City" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="field col-12 col-sm-3 px-1">
                                    <label>@Local["Quận huyện"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Ticket_District">
                                        <input type="hidden" name="" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text" data-fontchanged="true">eg. @Local["Quận huyện"]</div>
                                        <div id="CbbTicket_District" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="detailticket_other" role="tabpanel">
                            <div class="row mt-2 px-1">
                                <div class="field col-12 col-sm-6 px-1">
                                    <div class="form-group mb-0">
                                        <label class="form-control-label " for="Ticket_facebookurl">@Local["Liên kết facebook"]</label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-gray-200 w-40 w-lg-30 w-sm-50" id="Ticket_facebookurl_Default">facebook.com/</span>
                                            <input type="text" class="form-control ps-2" id="Ticket_facebookurl">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-6 px-1">
                                    <div class="form-group mb-0">
                                        <label class="form-control-label" for="Ticket_zalourl">Zalo</label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-gray-200 w-40 w-lg-30 w-sm-50" id="Ticket_zalourl_Default">zalo.me/</span>
                                            <input type="text" class="form-control ps-2" id="Ticket_zalourl">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-6 px-1">
                                    <div class="form-group mb-0">
                                        <label class="form-control-label" for="Ticket_viberurl">Viber</label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-gray-200 w-40 w-lg-30 w-sm-50" id="Ticket_viberurl_Default">viber.com/</span>
                                            <input type="text" class="form-control ps-2" id="Ticket_viberurl">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-sm-6 px-1">
                                    <div class="form-group mb-0">
                                        <label class="form-control-label" for="Ticket_instgramurl">Instagram</label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-gray-200 w-40 w-lg-30 w-sm-50" id="Ticket_instgramurl_Default">instagram.com/</span>
                                            <input type="text" class="form-control ps-2" id="Ticket_instgramurl">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-12 col-sm-6 px-1 mb-0">
                                    <label>Email</label>
                                    <input id="Ticket_Email1" class="form-control" name="email" type="text" placeholder="Email address" />
                                </div>
                                <div class="field col-12 col-sm-6 px-1 mb-0">
                                    <label>@Local["Gclid"]</label>
                                    <textarea id="Ticket_txtGclid" class="form-control" name="content" rows="1"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2 px-1">
                            <div class="field col-12 col-sm-12 px-1">
                                <label>@Local["Dịch vụ quan tâm"]</label>
                                <div class="field" id="divBranch">
                                    <div class="ui fluid multiple search selection dropdown form-control" id="TokenTicket_ServiceCare">
                                        <input type="hidden" name="" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="text default" data-fontchanged="true">eg. @Local["Dịch vụ quan tâm"]</div>
                                        <div id="cbbTicket_ServiceCare" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 px-1">
                            <div class="field col-12 col-sm-12 px-1">
                                <label>@Local["Ghi chú"]</label>
                                <textarea id="txtContentTicket" class="form-control" name="content" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="row mt-2 px-1">
                            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="action_Save">
        <div class="action_Save-Content">
            <div>
                <button class="btn btn-secondary" form="Ticket_Detail_Input" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
            </div>
            <div>
                <button id="btnSaveTicket" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_ticket" form="Ticket_Detail_Input" type="submit" onclick="return TicketDetail_Excute(0)">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>
<div class="card" id="TicketDetail_Duplicate" style="display:none">
    <div class="card-header pb-0 p-3">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">@Local["Liệt kê vé trùng lặp"]</h6>
        </div>
    </div>
    <div class="card-body p-3">
        <div class="row">
            <div class="col-5 text-center">
                <div class="d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h5 class="m-0" id="phone_duplicate_ticket"></h5>
                        <span id="DuplicateTicketNumber" class="text-lg d-block font-weight-bold text-gradient text-danger"></span>
                        <span>@Local["Đã có ticket có số điện thoại này"]</span>
                    </div>

                </div>
            </div>
            <div class="col-7">
                <div class="table-responsive" style=" max-height: 500px;">
                    <table class="table align-items-center mb-0">
                        <tbody id="DuplicateTicket">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="button-row d-flex mt-4">
            <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" onclick="event.preventDefault();TicketDetail_DupBack()">@Local["Trở về"]</button>
            <button id="per_btnTicketSaveDuplicate" data-tab="edit_tab_customer_phone_duplicate" class="_tab_control_ btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" onclick="event.preventDefault();TicketDetail_Excute(1)">@Local["Lưu trùng số"]</button>
        </div>
    </div>
</div>

<script type="text/javascript">


    //#region // DECLARE & INIT

    let Ticket_CurrentID = '@Model._TicketDetailID';
    let Ticket_CustID = '@Model._Customer_ID';
    var Ticket_DataDistrict;
    let Ticket_DataPer;
    let Ticket_DataCity;

    $(document).ready(function () {
        initNavs();
        $('.detailticket a:first').tab('show');
        Master_IndexDB_Reads(_Session_Data, [_Session_City, _Session_District]
            , function (data) {
                Ticket_DataCity = Object.values(data[0]);
                Ticket_DataDistrict = Object.values(data[1]);
                Load_Combo(Ticket_DataCity, "CbbTicket_City", false);
                Load_Combo(Ticket_DataDistrict, "CbbTicket_District", false);
                TicketDetail_Init();
            }
        );
        Tiket_EventCheckUrl();
        CheckPermissionControlInPage(sys_PerControlMH, '@Model.CurrentPath');
    });


    function TicketDetail_Init() {
        AjaxLoad(url = "/Marketing/TicketDetail/?handler=Initialize"
            , data = {
                "TicketID": Ticket_CurrentID
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                let DataGender = data.Gender;
                let DataTicketSource = data.TicketSource;
                let DataTicketTag = data.ComboTag;
                let DataServiceCare = data.ServiceCare;
                let DataTicketGroup = data.TicketGroup;
                let DataEmloyeeMar = data.EmployeeMar;
                let DataTeleFollow = data.TeleFollow;
                let DataStaff = data.Staff;
                let eleStaff = [];
                Ticket_DataPer = data.PerTele;
                eleStaff.push({
                    ID: DataStaff[0]['StaffID'],
                    Name: DataStaff[0]['EmpName'],
                    GroupID: DataStaff[0]['GroupID']
                })

                if (Number(eleStaff[0]['ID']) != 0) {
                    let flag = true;
                    DataTeleFollow.forEach(function (arr) {
                        if (arr['ID'] == eleStaff[0]['ID']) flag = false;
                    })
                    if (flag) {
                        DataTeleFollow = DataTeleFollow.concat(eleStaff);
                    }
                }


                Load_Combo(DataGender, "cbbTicket_genderType", true);
                Load_Combo(DataTicketSource, "cbbTicket_sourceType", true);
                Load_Combo(DataTicketTag, "CbbTicket_TicketTag", true);
                Load_Combo(DataServiceCare, "cbbTicket_ServiceCare", false);
                Load_Combo(DataTicketGroup, "cbbTicket_CustomerGroup", false);

                Load_Combo(DataEmloyeeMar, "CbbTicket_Marketing", false);
                Load_Combo(DataTeleFollow, "CbbTicket_TeleFollow", false);
                $("#Ticket_TeleFollow").dropdown('refresh');
                $("#Ticket_TeleFollow").dropdown('set selected', (Ticket_CurrentID == '0' ? sys_userID_Main.toString() : ''));

                TicketDetail_LoadDetail();

            }
        );
    }

    //#endregion

    //#region // HANDLE TICKET DUPLICATE

    function TicketDetail_DupBack() {
        $('#DuplicateCust').html('');
        $("#TicketDetail_Duplicate").hide();
        $("#TicketDetail_Master").show();
    }

    function TicketDetail_DupLoad(Phone) {
        AjaxLoad(url = "/Marketing/TicketDetail/?handler=LoadDuplicateData"
            , data = { 'phone': Phone }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                if (data && data.length != 0) {
                    TicketDetail_DupRender(data, 'DuplicateTicket');
                    $('#DuplicateTicketNumber').html(data.length + ' duplicate');
                    $("#TicketDetail_Duplicate").show();
                    $("#TicketDetail_Master").hide();
                    $("#phone_duplicate_ticket").html(Phone);
                }
            }
            , sender = null
        );
        return false;
    }

    function TicketDetail_DupRender(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = '<td>'
                        + '<div class="d-flex px-2 py-0">'
                        + '<span class="badge bg-gradient-primary me-3"> </span>'
                        + '<div class="d-flex flex-column justify-content-center">'
                        + '<h6 class="mb-0 text-sm"><a target="_blank" href="/Marketing/TicketAction?CustomerID=' + Number(item.CustomerID) + '&TicketID=' + Number(item.ID) + '&ver=' + versionofWebApplication + '">' + item.Name + '</a></h6>'
                        + '</div>'
                        + '</div>'
                        + '</td>'
                        + '<td class="text-sm">'
                        + '<span class="text-xs font-weight-bold">' +
                        (item.Cust_Code != "" ? ('<a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustomerID + "&ver=" + versionofWebApplication + '">' + item.Cust_Code + '</a>') : '')
                        + '</span>'
                        + '</td>';
                    stringContent = stringContent + '<tr>' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

    //#endregion

    //#region // LOAD DATA UPDATE

    function TicketDetail_LoadDetail() {
        if (Ticket_CurrentID != "0") {
            AjaxLoad(url = "/Marketing/TicketDetail/?handler=LoadataTicketDetail"
                , data = {
                    TicketID: Ticket_CurrentID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let data = JSON.parse(result);
                    TicketDetail_ReadOnly();
                    TicketDetail_InfoDetail(data);
                    Checking_TabControl_Permission();
                }
            );
        }
    }

    function TicketDetail_InfoDetail(ticketMain) {
        if (ticketMain && ticketMain.length != 0) {
            let ticketItem = ticketMain[0];
            $('#txtTicketName').val((ticketItem.Name));
            $('#TicketPhone_1').val((ticketItem.Phone));
            $('#TicketPhone_2').val((ticketItem.Phone2));

            $('#Ticket_Email1').val((ticketItem.Email));
            $('#Ticket_txtGclid').val((ticketItem.Gclid));
            $('#Ticket_facebookurl').val((VU_RemoveDomain(ticketItem.UrlFacebook)));
            $('#Ticket_instgramurl').val((VU_RemoveDomain(ticketItem.UrlInstagram)));

            $('#Ticket_zalourl').val((VU_RemoveDomain(ticketItem.UrlZalo)));
            $('#Ticket_viberurl').val((VU_RemoveDomain(ticketItem.UrlViber)));
            $('#Ticket_Address').val((ticketItem.Address));

            $('#txtContentTicket').val((ticketItem.Content));

            $("#Ticket_sourceType").dropdown("refresh");
            $("#Ticket_sourceType").dropdown("set value", ticketItem.SourceID);
            $("#Ticket_sourceType").dropdown("set text", ticketItem.SourceName);

            $("#Ticket_genderType").dropdown("refresh");
            $("#Ticket_genderType").dropdown("set selected", ticketItem.GenderID);

            $("#Ticket_customerGroup").dropdown("refresh");
            $("#Ticket_customerGroup").dropdown("set selected", ticketItem.GroupID);

            $("#Ticket_City").dropdown("refresh");
            $("#Ticket_City").dropdown("set selected", ticketItem.CityID);

            $("#Ticket_District").dropdown("refresh");
            $("#Ticket_District").dropdown("set selected", ticketItem.DistID);

            $("#Ticket_Marketing").dropdown("refresh");
            $("#Ticket_Marketing").dropdown("set selected", ticketItem.MarID);

            $("#Ticket_TeleFollow").dropdown("clear");
            $("#Ticket_TeleFollow").dropdown("refresh");
            $("#Ticket_TeleFollow").dropdown("set selected", ticketItem.StaffID);

            $("#Ticket_TicketTag").dropdown("refresh");
            $("#Ticket_TicketTag").dropdown("set selected", ticketItem.TagID);

            if (Ticket_DataPer && Ticket_DataPer.length == 1) {
                let LevelID = Ticket_DataPer[0].LEVEL;
                let GroupID = Ticket_DataPer[0].GROUPID;
                let isDisable = 0;

                if (LevelID != 3) {
                    if (LevelID == 2 && GroupID != ticketItem.GroupTele) isDisable = 1;
                    if (LevelID == 1 && Number(sys_userID_Main.toString()) != ticketItem.StaffID) isDisable = 1;
                    if (LevelID == 0) isDisable = 1;
                }
                if (isDisable == 1 && ticketItem.StaffID != 0) {
                    $('#Ticket_TeleFollow').addClass('disabled');
                }
            }
            let SerCareToken = ticketItem.ServiceCare.split(",");
            for (let i = 0; i < SerCareToken.length; i++) {
                $("#TokenTicket_ServiceCare").dropdown("refresh");
                $("#TokenTicket_ServiceCare").dropdown("set selected", SerCareToken[i].toString());
            }
        }
    }

    function TicketDetail_ReadOnly() {
        if (Ticket_CustID != 0) {
            $('#notiHeader').html('@Local["Ticket này đã là khách hàng. tên, sđt, nguồn, giới tính không thể cập nhật trong ticket"]');
            $('#txtTicketName').prop('readonly', true);
            $('#TicketPhone_1').prop('readonly', true);
            $('#TicketPhone_2').prop('readonly', true);

            $('#txtTicketName').prop('disabled', true);
            $('#TicketPhone_1').prop('disabled', true);
            $('#TicketPhone_2').prop('disabled', true);

            $('#Ticket_customerGroup').addClass("disabled");
            $('#Ticket_sourceType').addClass("disabled");
            $('#Ticket_genderType').addClass("disabled");
            $('#Ticket_Address').prop('readonly', true);
            $('#Ticket_Address').prop('disabled', true);
            $('#Ticket_Address').addClass("disabled");
            $('#Ticket_City').addClass("disabled");
            $('#Ticket_District').addClass('disabled');
            $('#Ticket_Marketing').addClass('disabled');
            $('#Ticket_TeleFollow').addClass('disabled');

        }
    }

    //#endregion

    //#region // EXECUTE DATA

    function TicketDetail_Excute(IsExist = 0) {

        var data = new Object();
        let Name = $('#txtTicketName').val() ? $('#txtTicketName').val().replace(/"/g, "") : "";
        let Phone = $('#TicketPhone_1').val() ? $('#TicketPhone_1').val() : "";
        let Phone2 = $('#TicketPhone_2').val() ? $('#TicketPhone_2').val() : "";
        let SerCare = $('#TokenTicket_ServiceCare').dropdown('get value') != '' ? $('#TokenTicket_ServiceCare').dropdown('get value') + ',' : '';
        data.Name = Name;
        data.NameNoSign = xoa_dau(Name);
        data.Phone = extract_numberic(Phone);
        data.Phone2 = extract_numberic(Phone2);
        data.Email = $('#Ticket_Email1').val() ? $('#Ticket_Email1').val() : "";
        data.Gclid = $('#Ticket_txtGclid').val() ? $('#Ticket_txtGclid').val() : "";
        data.Content = $('#txtContentTicket').val() ? $('#txtContentTicket').val() : "";
        data.Source = Number($('#Ticket_sourceType').dropdown('get value')) ? Number($('#Ticket_sourceType').dropdown('get value')) : 0;
        data.Gender = Number($('#Ticket_genderType').dropdown('get value')) ? Number($('#Ticket_genderType').dropdown('get value')) : 0;
        data.facebookurl = $("#Ticket_facebookurl").val() != '' ? 'https://facebook.com/' + $("#Ticket_facebookurl").val() : "";
        data.instgramurl = $('#Ticket_instgramurl').val() != '' ? 'https://instagram.com/' + $('#Ticket_instgramurl').val() : "";
        data.zalomurl = $('#Ticket_zalourl').val() != '' ? 'https://zalo.me/' + $('#Ticket_zalourl').val() : "";
        data.viberurl = $('#Ticket_viberurl').val() != '' ? 'https://viber.com/' + $('#Ticket_viberurl').val() : "";
        data.ServiceCareToken = SerCare;
        data.SerCareID = TicketDetail_GenaralServiceCare(SerCare);
        data.CustomerGroup = Number($('#Ticket_customerGroup').dropdown('get value')) ? Number($('#Ticket_customerGroup').dropdown('get value')) : 0;
        data.Address = $('#Ticket_Address').val() ? $('#Ticket_Address').val() : "";
        data.City = Number($("#Ticket_City").dropdown('get value')) ? Number($("#Ticket_City").dropdown('get value')) : 0;
        data.District = Number($("#Ticket_District").dropdown('get value')) ? Number($("#Ticket_District").dropdown('get value')) : 0;
        data.EmployeeMar = $("#Ticket_Marketing").dropdown('get value') ? Number($("#Ticket_Marketing").dropdown('get value')) : 0;
        data.TeleFollow = $("#Ticket_TeleFollow").dropdown('get value') ? Number($("#Ticket_TeleFollow").dropdown('get value')) : 0;
        data.TagID = $("#Ticket_TicketTag").dropdown('get value') ? $("#Ticket_TicketTag").dropdown('get value') : 0;

        $('#Ticket_Detail_Input').form('validate form');
        if ($('#Ticket_Detail_Input').form('is valid')) {
            AjaxLoad(url = "/Marketing/TicketDetail/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(data),
                    'CurrentID': Ticket_CurrentID,
                    'CustomerID': Ticket_CustID,
                    'exist': IsExist
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "0") {
                        let dataResult = JSON.parse(result);

                        switch (dataResult[0].RESULT) {
                            case '2':
                                TicketDetail_DupLoad(Phone.replace(/ /g, ''));
                                break;
                            case '3':
                                let _mes = `@Local["Bạn không có quyền chỉnh sửa ticket này"]`;
                                notiError(_mes); 
                                break;
                            default:
                                notiSuccess();
                                if (typeof TicketList_NewRow === 'function') TicketList_NewRow(dataResult[0].TicketID);
                                if (typeof TicketAction_LoadInfo === 'function') TicketAction_LoadInfo();
                                if (typeof LoadInitializeData === 'function') LoadInitializeData(1);
                                if (typeof TS_LoadListData === 'function') TS_LoadListData();
                                if (typeof TicketAction_TagLoad === 'function') TicketAction_TagLoad();
                                if (Ticket_CurrentID != 0) syslog_ticprofile('u', '');
                                CloseModal();
                        }
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = $("#btnSaveTicket")
                , before = function (e) {
                }
                , complete = function (e) {
                }
            );
        }
        return false;
    }

    //#endregion

    //#region // EVENT

    function TicketDetail_ChangeCity() {
        $("#Ticket_District").dropdown("clear");
        let CityID = Number($("#Ticket_City").dropdown('get value')) ? Number($("#Ticket_City").dropdown('get value')) : 0;
        let dataFilter = JSON.parse(JSON.stringify(Ticket_DataDistrict));
        if (CityID != 0) {
            dataFilter = dataFilter.filter(a => a.CityID == CityID);
        }
        Load_Combo(dataFilter, "CbbTicket_District", false);
    }

    function TicketDetail_GenaralServiceCare(token) {
        try {
            if (token && token != '') {
                let SerCareArr = token.split(',');
                if (SerCareArr && SerCareArr.length != 0) {
                    for(let i=0;i < SerCareArr.length; i++ ){
                        if(!isNaN(Number(SerCareArr[i]))){
                            return Number(SerCareArr[i])
                        }
                    }
                }
            }
            return 0;
        }
        catch (ex) {
            return 0;
        }
    }

    function Tiket_EventCheckUrl() {
        $("#Ticket_facebookurl").unbind('change').change(function () {
            let url = $(this).val() != '' ? VU_RemoveDomain($(this).val()) : '';
            $(this).val(url);
        });
        $("#Ticket_zalourl").unbind('change').change(function () {
            let url = $(this).val() != '' ? VU_RemoveDomain($(this).val()) : '';
            $(this).val(url);
        });
        $("#Ticket_viberurl").unbind('change').change(function () {
            let url = $(this).val() != '' ? VU_RemoveDomain($(this).val()) : '';
            $(this).val(url);
        });
        $("#Ticket_instgramurl").unbind('change').change(function () {
            let url = $(this).val() != '' ? VU_RemoveDomain($(this).val()) : '';
            $(this).val(url);
        });
    }


</script>
<script>js_require('/js/comon/valid_url.js');</script>
<style>
    #dtTableDetailFacebook {
        border: unset !important;
    }

        #dtTableDetailFacebook tr, #dtTableDetailFacebook td {
            border: unset !important;
        }

            #dtTableDetailFacebook td:nth-child(2) {
                border: unset !important;
                border-top-left-radius: 5px !important;
                border-bottom-left-radius: 5px !important;
            }

            #dtTableDetailFacebook td:last-child {
                border: unset !important;
                border-bottom-right-radius: 5px !important;
                border-top-right-radius: 5px !important;
            }

    .ui.fluid.search.selection.dropdown.fiexd {
        position: fixed;
    }

</style>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
