@page
@model MLunarCoffee.Pages.Marketing.TicketMoveModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0">
                    <div class="left">
                        <h6 class="mb-0">@Local["Chuyển ticket"]</h6>
                        <p class="text-sm mb-0">@Local["Chuyển dữ liệu giữa các telesale"]</p>
                    </div>
                    <div class="right">
                        <button class="btn bg-gradient-primary btn-sm mt-1 button_move" onclick="event.preventDefault();return MoveTicket();">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="vtcondition">
                        <a class="sign" data-open="@Local[" Hiển thị"]" data-close="@Local[" Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                        <div class="fulllap collapse collapsesticky show">
                            <div class="row px-2">
                                <div class="col-12 p-1">
                                    <input id="dateRange" class="form-control flatpickr" type="text" placeholder="eg .@Local[" Từ ngày"]" onchange="LoadTicketMove()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                    <div id="waiting_ticket_move" class="waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <table class="table vt-table mb-0" id="dtContentTicketMoveView">
                        <thead>
                            <tr>
                                <th class="d-none">ID</th>
                                <th style="width: 45px;">#</th>
                                <th>@Local["Ngày"]</th>
                                <th>@Local["Người chuyển"]</th>
                                <th>@Local["Từ"]</th>
                                <th>@Local["Đến"]</th>
                                <th>@Local["Số lượng"]</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentTicketMoveViewBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $(".flatpickr").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        $("#dateRange").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        LoadTicketMove();
    });

    function LoadTicketMove() {
        let dateRange = $('#dateRange').val() ? $('#dateRange').val() : new Date();
        AjaxLoad(url = "/Marketing/TicketMove/?handler=LoadTicketMove"
            , data = { dateFrom: dateRange }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                RenderTicketMove(data, "dtContentTicketMoveViewBody");
            }, sender = null
            , before = function (e) {
                $("#waiting_ticket_move").show();
            }
            , complete = function (e) {
                $("#waiting_ticket_move").hide();
            }
        );
    }
    function RenderTicketMove(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td data-sortvalue="' + item.DateCreateNum + '" >' + item.Created + '</td>'
                        + '<td>' + item.CreatedName + '</td>'
                        + '<td>' + item.FromName + '</td>'
                        + '<td>' + item.ToName + '</td>'
                        + '<td data-sortvalue="' + item.Amount + '">' + item.Amount + '</td>'
                    stringContent = stringContent + '<tr class="vt-number">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        $('#dtContentTicketMoveView').tablesort();
    }
    function MoveTicket() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Marketing/TicketMoveDetail" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script>