@page
@model MLunarCoffee.Pages.Marketing.TicketTeleGroupDetailModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form class="form form3" id="form3">
            <div class="card p-3 border-radius-xl bg-white mb-3">
                <h6 class="font-weight-bolder mb-0">@Local["Nhóm telesale"]</h6>
                <p class="mb-0 text-sm">@Local["Cập nhật thông tin nhóm telesale"]</p>
                <div class="row mt-2 px-1">
                    <div class="field col-12 px-1 mt-2">
                        <label>@Local["Tên"]</label>
                        <input id="NameTicketTeleGroup" class="form-control" name="name" type="text" placeholder="eg. @Local["Tên"]"/>
                    </div>
                </div>
                <div class="row mt-2 px-1">
                    <div class="field col-12 px-1 mt-2">
                        <label>@Local["Ghi chú"]</label>
                        <textarea id="NoteTicketTeleGroup" class="form-control" name="content"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="action_Save">
        <div class="action_Save-Content">
            <div>
                <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
            </div>
            <div class="_tab_control_" data-tab="edit_tab_ticket_tele_group">
                <button class="btn bg-gradient-primary mt-2 me-2" form="form3" type="submit" onclick="return TeleGroup_ExcuteData()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">
    var ser_TeleGroupDetailID;
    function TeleGroup_ExcuteData() {
        var data = new Object();
        data.Name = $('#NameTicketTeleGroup').val() ? $('#NameTicketTeleGroup').val() : "";
        data.Note = $('#NoteTicketTeleGroup').val() ? $('#NoteTicketTeleGroup').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Marketing/TicketTeleGroupDetail/?handler=ExcuteData"
                , data = { 'data': JSON.stringify(data), 'CurrentID': ser_TeleGroupDetailID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        LoadTicketTeleGroupAjax();
                    }
                    else if (result == "-1")
                    {
                        notiWarning('@Local["Trùng dữ liệu"]');
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
        }
        return false;
    }

    $(document).ready(function () {
        ser_TeleGroupDetailID = '@Model._TeleGroupDetailID';
        TeleGroup_LoadDataDetail();
        Checking_TabControl_Permission();
    });

    function TeleGroup_LoadDataDetail() {
        if (ser_TeleGroupDetailID != "0") {
            AjaxLoad(url = "/Marketing/TicketTeleGroupDetail/?handler=Loadata"
                , data = { "id": ser_TeleGroupDetailID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data && data.length != 0) {
                        $('#NameTicketTeleGroup').val((data[0].Name));
                        $('#NoteTicketTeleGroup').val((data[0].Note));
                    }
                }
            );
        }
    }
</script>


<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>