@page
@model MLunarCoffee.Pages.Marketing.TicketGroupDetailModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form class="form form3" id="form3">
            <div class="card p-3 border-radius-xl bg-white mb-3">
                <h6 class="font-weight-bolder mb-0">Telesale</h6>
                <p class="mb-0 text-sm">@Local["Thêm nhân viên vào nhóm telesale"]</p>
                <div class="row mt-2 px-1">
                    <div class="field col-12 px-1 mt-2">
                        <label>@Local["Tên tài khoản"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="User_ID">
                            <input type="hidden" name="username" />
                            <div class="default text">eg .@Local["Tên tài khoản"]</div>
                            <div id="cbbUser" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 px-1">
                    <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2 ">
                        <label><span>@Local["Cấp bậc"]</span></label>
                        <div class="ui fluid search selection dropdown form-control" id="Level_ID" onchange="event.preventDefault(); return onchangeLevelTele();">
                            <input type="hidden" name="namelevel" />
                            <div class="default text">eg .@Local["Cấp bậc"]</div>
                            <div id="cbbLevel" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-xl-4 px-1 mt-2 ">
                        <label>@Local["Nhóm"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="Group_ID">
                            <input type="hidden" name="grouptele" />
                            <div class="default text">eg. @Local["Nhóm"]</div>
                            <div id="cbbGroup" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2 ">
                        <label>Extension</label>
                        <div class="ui fluid search selection dropdown form-control" id="Call_ID">
                            <input type="hidden" />
                            <div class="default text">eg. Ext</div>
                            <div id="cbbExtension" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 px-1">
                    <div class="field col-12 px-1 mt-2 ">
                        <label>@Local["Ghi chú"]</label>
                        <textarea id="NoteTicketGroup" class="form-control" name="content"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="action_Save">
        <div class="action_Save-Content">
            <div>
                <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
            </div>
            <div class="_tab_control_" data-tab="edit_tab_ticket_group">
                <button class="btn bg-gradient-primary mt-2 me-2" data-tab="edit_tab_ticket_group" form="form3" type="submit" onclick="return ExcuteData()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>

<script type="text/javascript">
    var ser_ticketGroupDetailID;
    let dataGroupTele = [];

    $(document).ready(function () {
        ser_ticketGroupDetailID = '@Model._ticketGroupDetailID';
        LoadInitializeTicketGroup();
        Checking_TabControl_Permission();
    });

    function ExcuteData() {
        var data = new Object();
        data.Note = $('#NoteTicketGroup').val() ? $('#NoteTicketGroup').val() : "";
        data.User_ID = Number($('#User_ID').dropdown('get value')) ? Number($('#User_ID').dropdown('get value')) : 0;
        data.Group_ID = Number($('#Group_ID').dropdown('get value')) ? Number($('#Group_ID').dropdown('get value')) : 0;
        data.Level_ID = Number($('#Level_ID').dropdown('get value')) ? Number($('#Level_ID').dropdown('get value')) : 0;
        data.Call_ID = Number($('#Call_ID').dropdown('get value')) ? Number($('#Call_ID').dropdown('get value')) : 0;
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Marketing/TicketGroupDetail/?handler=ExcuteData"
                , data = { 'data': JSON.stringify(data), 'CurrentID': ser_ticketGroupDetailID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        CloseModal();
                        LoadTicketGroupAjax();
                    } else if(result == "-1"){
                        notiWarning('@Local["Trùng dữ liệu"]');
                    } 
                    else {
                        notiError_SW();
                    }
                }
            );
        }
        return false;
    }

    function LoadInitializeTicketGroup() {
        AjaxLoad(url = "/Marketing/TicketGroupDetail/?handler=InitializeTicketGroup"
            , data = { 'id': ser_ticketGroupDetailID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    dataGroupTele = data.dataGroup;
                    Load_Combo(dataGroupTele, "cbbGroup", true);
                    Load_Combo(data.dataLevel, "cbbLevel", true);
                    Load_Combo((data.dataExtension ? data.dataExtension : []), "cbbExtension", false);
                    Load_Combo(data.dataUser, "cbbUser", true);
                    LoadDataUpdateGroup();
                }
            }
        );
    }

    function LoadDataUpdateGroup() {
        if (ser_ticketGroupDetailID != 0) {
            AjaxLoad(url = "/Marketing/TicketGroupDetail/?handler=Loadata"
                , data = { 'id': ser_ticketGroupDetailID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "") {
                        data = JSON.parse(result);
                        $('#NoteTicketGroup').val((data[0].Note));

                        $("#User_ID ").dropdown("refresh");
                        $("#User_ID ").dropdown("set selected", data[0].UserID);

                        $("#Level_ID ").dropdown("refresh");
                        $("#Level_ID ").dropdown("set selected", data[0].LevelID);

                        $("#Group_ID ").dropdown("refresh");
                        $("#Group_ID ").dropdown("set selected", data[0].GroupID);

                        $("#Call_ID ").dropdown("refresh");
                        $("#Call_ID ").dropdown("set selected", data[0].ExtensionID);
                    }
                }
            );
        }
    }


    function onchangeLevelTele() {
        let levelID = Number($('#Level_ID').dropdown('get value')) ? Number($('#Level_ID').dropdown('get value')) : 0;
        if (levelID == 3) {
            $("#Group_ID ").dropdown("clear");
            $("#Group_ID").addClass("disabled");
            Load_Combo(dataGroupTele, "cbbGroup", true, "@Local["Tất cả các nhóm"]");
            $("#Group_ID ").dropdown("refresh");
            $("#Group_ID ").dropdown("set selected", '0');
        }
        else {
            $("#Group_ID ").dropdown("clear");
            Load_Combo(dataGroupTele, "cbbGroup", true);
            $("#Group_ID").removeClass("disabled");
            $("#Group_ID ").dropdown("refresh");
            $("#Group_ID ").dropdown("set selected", dataGroupTele[0].ID);
        }
    }
</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
