@page
@model MLunarCoffee.Pages.Report.Target.Customer.CustomerGridModel
@{
    Layout = null;
}


<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="card card-plain">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">
            <p class="text-md text-dark font-weight-bold mb-0">
                @Local["Doanh số khách hàng theo chi nhánh"]
            </p>
            <p class="text-sm mb-0 mt-n1">@Local["Báo cáo doanh số khách hàng theo chi nhánh"]</p>
        </div>
        <div class="right">
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#CustomerGrid" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return LoadDataReport_TargetByBranchGrid()"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Xuất excel"]">
                <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                   onclick="event.preventDefault(); return exportData_TargetByBranchGrid()"></i>
            </div>
            <button class="btn btn-dark btn-sm mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                @Local["Xem thêm"]
            </button>
        </div>
        <div class="toggle">
            <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                <ul class="card card-body text-dark text-capitalize opacity-10">
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogle form-check-input" data-name="custcodeold" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Mã khách hàng cũ"]</p>
                    </li>
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogle form-check-input" data-name="vatamount" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["VAT"]</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="row p-2">
            <div class="col-lg-4 col-md-8 px-1">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Tổng"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount_TargetByBranchGrid">0</span></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 px-1">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Dịch vụ/sản phẩm"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount_TargetByBranchGrid_Service">0</span></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 px-1">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Tiền cọc"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount_TargetByBranchGrid_Deposit">0</span></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 px-1">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Thẻ trả trước"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount_TargetByBranchGrid_Card">0</span></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 px-1">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Tiền thuốc"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotalAmount_TargetByBranchGrid_Medicine">0</span></h6>
                </div>
            </div>
        </div>
        <div class="collapsesticky collapse show" id="CustomerGrid">
            <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                <table class="table vt-table mb-0" id="dtContentReport_TargetByBranchGrid">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px">#</th>
                            <th style="width: 100px">@Local["Mã khách hàng"]</th>
                            <th style="width: 100px" data-name="custcodeold">@Local["Mã khách hàng cũ"]</th>
                            <th style="min-width: 150px">@Local["Tên khách hàng"]</th>
                            <th style="min-width: 100px">@Local["Số điện thoại"]</th>
                            <th style="min-width: 150px">@Local["Loại"]</th>
                            <th style="min-width: 150px">@Local["Tên dịch vụ/sản phẩm"]</th>
                            <th style="min-width: 150px">@Local["Đơn giá"]</th>
                            <th style="min-width: 150px" data-name="vatamount">@Local["VAT"]</th>
                            <th style="min-width: 100px">@Local["Chiết khấu"]</th>
                            <th style="min-width: 150px">@Local["Tổng tiền"]</th>
                            <th style="min-width: 100px">@Local["Lần điều trị"]</th>
                            <th style="max-width: 200px;">@Local["Nội dung"]</th>
                            <th style="min-width: 130px;">@Local["Ngày tạo"]</th>
                        </tr>
                    </thead>
                    <tbody id="dtContentReportBody_TargetByBranchGrid">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let DataTeeth;
    let shtable;
    $(document).ready(function () {
        shtable = $("#dtContentReport_TargetByBranchGrid").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        ToolPopper();
        Master_IndexDB_Reads(_Session_Data, [_Session_Teeth]
            , function (data) {
                DataTeeth = data[0];
                LoadDataReport_TargetByBranchGrid();
            });
        $('#dtContentReport_TargetByBranchGrid').tablesort(); 
        Checking_TabControl_Permission();
    });

    function LoadDataReport_TargetByBranchGrid() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branchID = "@Model._branchID";
        AjaxLoad(url = "/Report/Target/Customer/CustomerGrid/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'BranchID': _branchID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    let dataMaster = JSON.parse(result)["Table1"];
                    Count_Up('lbTotalAmount_TargetByBranchGrid', dataMaster[0].Total)
                    Count_Up('lbTotalAmount_TargetByBranchGrid_Service', dataMaster[0].TotalService)
                    Count_Up('lbTotalAmount_TargetByBranchGrid_Deposit', dataMaster[0].TotalDeposit)
                    Count_Up('lbTotalAmount_TargetByBranchGrid_Card', dataMaster[0].TotalCard)
                    Count_Up('lbTotalAmount_TargetByBranchGrid_Medicine', dataMaster[0].TotalMedicine)

                    RenderReport_TargetByBranchGrid(data, "dtContentReportBody_TargetByBranchGrid");

                } else {
                    notiError_SW();
                }
            }
        );
        return false;
    }

    function RenderReport_TargetByBranchGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="vt-number-order"></td>'
                        + '<td><a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustID + "&ver=" + versionofWebApplication + '">' + item.CustCode + '</a></td>'
                        + '<td data-name="custcodeold">' + item.CustOldCode + '</td>'
                        + '<td>' + item.CustomerName + '</td>'
                        + '<td class="_tab_control_" data-tab="phone_customer">' + item.Phone + '</td>'
                        + '<td>' + Return_Type_SER_PRO_MED_CARD_DEP(item.Type) + '</td>'
                        + '<td>'
                        + '<span>' + item.Name + '</span>'
                        + ((item.TeethChoosing != '') ? '<br/><span style="color: #a01d1d;">[ ' + Fun_GetTeeth_ByToken(DataTeeth, item.TeethChoosing, item.TeethType) + ' ]</span>' : '')
                        + '</td>'
                        + ((item.Type != 0) ? ('<td style="text-align:right">' + item.Quantity + ' x ' + formatNumber(item.PriceUnit) + '</td>') : '<td></td>')
                        + `<td data-name="vatamount">${formatNumber(item.VatAmount)}</td>`
                        + ((item.Type != 0) ? ('<td style="text-align:right">' + formatNumber(item.Discount) + '</td>') : '<td></td>')
                        + '<td style="text-align:right" data-sortvalue="' + item.Amount + '">' + formatNumber(item.Amount) + '</td>'
                        + '<td style="text-align:center">' + ((item.Type == 1) ? item.TimeToTreatment : '') + '</td>'
                        + '<td>' + item.Content + '</td>'

                        + '<td>' + item.Created + '</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        shtable.Refresh();
    }
    function exportData_TargetByBranchGrid() {
        syslog_ExpExcel('e', Outlang["Doanh_so_khach_hang_theo_chi_nhanh"]);
        exportToExcel("dtContentReport_TargetByBranchGrid", Outlang["Doanh_so_khach_hang_theo_chi_nhanh"]);
    }
</script>
<style>

</style>
