@page
@model MLunarCoffee.Pages.Setting.Bank.QRBankDetailModel
@{
    Layout = null;
}

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-lg-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Cấu hình QR ngân hàng"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 form3" id="QRBD_Main">
                    <div class="position-relative">
                        <div id="QRBL_Loadding" class="waitingdiv text-center position-absolute top-0 end-50" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 pe-3 position-relative" id="QRSettingDiv" style="min-height:50vh;">
                            <div class="row">
                                <div class="field col-12 p-1">
                                    <label>@Local["Ngân hàng"]</label>
                                    <input id="QRBG_BankName" type="text" class="form-control" />
                                </div>
                                <div class="field col-12 p-1">
                                    <label>@Local["Số tài khoản"]</label>
                                    <input id="QRBG_AccNum" type="number" name="code" class="form-control" />
                                </div>
                                <div class="field col-12 p-1">
                                    <label>@Local["Tên tài khoản"]</label>
                                    <input id="QRBG_AccOwner" type="text" name="name" class="form-control" />
                                </div>
                            </div>
                            <div class="w-auto position-absolute bottom-0 end-1 d-flex gap-2">
                                <button class="btn curson-poiter bg-gradient-info d-none" id="QRBD_Print" onclick="event.preventDefault();QRBD_QRPrint()">
                                    @Local["In"]
                                </button>
                                <button class="btn curson-poiter bg-gradient-success" form="QRSettingDiv" id="QRSettingDiv" onclick="event.preventDefault();QRBD_QRCreate()">
                                    <i class="fas fa-arrow-alt-circle-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-sm-6 d-none" id="QRViewDiv">                                                        
                            <div class="ps-lg-4">
                                <div id="QRViewPrint" class="bg-gray-200 p-3 rounded-3" style="max-width:400px;">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <img src="/defaul_white.png" alt="" class="w-100" id="QRCode"/>
                                        </div>
                                        <div class="col-12 text-center">
                                            <img src="/defaul_white.png" alt="" class="w-100" id="BankLogo" />
                                            <div class="text-center">
                                                <span class="fw-bold text-lg text-dark" id="OwnerName">

                                                </span>
                                            </div>
                                            <div class="text-center mt-n2">
                                                <span class="text-md text-secondary" id="OwnerNum">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="CRD_FormCashbackReason" onclick="event.preventDefault();CloseModal()">@Local["Huỷ"]</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script type="text/javascript">
    let ser_DetailID = '@Model._DataDetailID';
    var BankCode = ''    
    $(document).ready(function () {
        QRBD_LoadDataDetail();
    })
    function QRBD_LoadDataDetail() {
        AjaxLoad(url = "/Setting/Bank/QRBankDetail/?handler=LoadDetail"
            , data = { BankCode: ser_DetailID }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "[]") {                    
                    let data = JSON.parse(result);
                    BankCode = data[0].Code;
                    $("#QRBG_BankName").val(data[0].Name);
                    $("#BankLogo").attr('src', data[0].Logo);
                }
            });
    }
    function QRBD_QRCreate() {        
        $('#QRBD_Main').form('validate form');
        if ($('#QRBD_Main').form('is valid')) {
            let LinkApi = `https://api.vietqr.io/image/{BankCode}-{AccNum}-4UkW1dT.jpg?accountName={OwnerName}`
            let OwnerName = $("#QRBG_AccOwner").val() ? $("#QRBG_AccOwner").val() : '';
            let AccNum = $("#QRBG_AccNum").val() ? $("#QRBG_AccNum").val() : '';
            LinkApi = LinkApi.replace('{OwnerName}', OwnerName).replace('{AccNum}', AccNum).replace("{BankCode}",BankCode);
            $("#QRCode").attr("src", LinkApi);
            $("#QRBL_Loadding").show();
            $("#QRCode")[0].onload = () => {                
                $("#QRBL_Loadding").hide();
                $("#OwnerName").html(OwnerName);
                $("#OwnerNum").html(AccNum);
                $("#QRBD_Print").removeClass('d-none');

                $("#QRSettingDiv").addClass("col-lg-8 col-sm-6");
                $("#QRViewDiv").removeClass('d-none');
                
            };
        }
    }
    function QRBD_QRPrint(){
        fn_Print(printedid = "QRViewPrint"
            ,beforefun = function(){
                $("#QRBL_Loadding").show()
            }
            ,afterfun = function(){
                $("#QRBL_Loadding").hide()
            }
        )
    }
</script>
<script>js_require('/js/main.js');</script>