@page
@model MLunarCoffee.Pages.Setting.AppCustomer.HightLight.HightLightDetailModel
@{
    Layout = null;
}

<script>js_require_notasync('/assests/dist/UploadJS/js/jquery.fileupload.js', true)</script>
<script>js_require('/js/main.js')</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0"></h6>
                                <p  class="text-sm mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 form3" id="AHD_FormHightLight">
                    <div class="row px">
                        <div class="d-lg-flex">
                            <div class="col-w-300 mt-3">
                                <div class="card-body p-0 text-center">
                                    <div>
                                        <span class="text-sm text-gradient text-warning mb-0" id="AHD_ImageNote">(.gif) 320 x 320 px</span>
                                        <span class="text-dark text-md mb-0 ps-1">@Local["Hình ảnh gốc"]</span>
                                        <hr class="horizontal dark mt-0 mb-2">
                                    </div>
                                    <div class="avatar avatar-xxl position-relative d-inline-block">
                                        <img id="AHD_DetailImage" class="border-radius-md border border-1 border-gray" alt="team-2" src="#" onerror="Master_OnLoad_Error_Image(this)">
                                        <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="AHD_Fileup_LoadImage" accept="image/*" type="file" name="files[]" />
                                        <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0 " id="btnAppHightLightUploadLogo">
                                            <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2">
                                                <i class="fa fa-pen top-0" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div class="ms-2">
                                    <div class="row px-1">
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Tên"]</label>
                                            <input id="AHD_Name" name="name" class="form-control" type="text" placeholder="eg .Name">
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>Link</label>
                                            <input id="AHD_Link" name="link" class="form-control" type="text" placeholder="eg .Link">
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Vị trí"]</label>
                                            <div class="ui fluid search selection dropdown form-control" name="position" id="AHD_Position">
                                                <input type="hidden" name="statusType" value="left">
                                                <i class="dropdown icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0">
                                                <div class="text"><span>Trái</span></div>
                                                <div class="menu" tabindex="-1">
                                                    <div class="item active selected" data-value="left">
                                                        <span>@Local["Trái"]</span>
                                                    </div>
                                                    <div class="item" data-value="right">
                                                        <span>@Local["Phải"]</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Thời gian hiển thị"]</label>
                                            <div class="col px-0 mx-1" id="AHD_DateDiv">
                                                <div class="input-group flex-nowrap rounded-end position-relative">
                                                    <div class="input-group-text px-3 position-relative">
                                                        <div id="blockTime" class="icon-xs rounded-circle d-none bg-gradient-dark text-white" title="Limit Date" data-bs-toggle="tooltip">
                                                            <div id="RP_Time_Block" class="text-xxs fw-bold"></div>
                                                        </div>
                                                        <i class="fas fa-clock" aria-hidden="true"></i>
                                                    </div>
                                                    <input id="AHD_Date" class="form-control hoverpopup flatpickr border-end" type="text" placeholder="eg .date" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-sm-6 p-1 ">
                                            <div class="form-check form-switch ps-0 d-flex">
                                                <input class="form-check-input ms-0" name="isclose" type="checkbox" id="AHD_IsClose" checked onchange="event.preventDefault(); AHD_HandleToggleBtn()">
                                                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0 fw-bold" for="AHD_IsClose">@Local["Nút đóng"]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex mt-lg-n3">
                            <div class="field col-12 p-1">
                                <label>@Local["Mô tả"]</label>
                                <textarea id="AHD_Description" name="" type="text" class="form-control" rows="4" placeholder="eg .Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="AHD_FormHightLight" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="AHD_FormHightLight" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();AHD_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let Sys_App_Image;
    let ser_HightLightDetailID;
    let AHD_DetailImageString = Master_Default_Pic;
    let DefaultPic = Master_Default_Pic;
    let AHD_DetailImageFile, AHD_ImgFile;
    let urlImage = "/Api/Upload/Upload?Type=ClientApp";
    $(document).ready(function () {
        if(ser_AcceptSettingApp['hightlight'] != undefined){
            Sys_App_Image =
            ser_AcceptSettingApp['hightlight']['image'] != undefined
                ? ser_AcceptSettingApp['hightlight']['imagefeature']
                : {
                    size: 50000,
                    width: 320,
                    height: 320,
                    format: ['gif']
                }
        }
        else {
            Sys_App_Image ={
                             size: 50000,
                             width: 320,
                             height: 320,
                             format: ['gif']
                           }
        }
        ser_HightLightDetailID = @Model._HightLightDetailID;
        AHD_Init();
        if (ser_HightLightDetailID != "0") {
            AHD_LoadUpdateData();
        }
    });

    function AHD_Init() {
        $('#AHD_DetailImage').attr('src', DefaultPic);
        let extension = (Sys_App_Image.format).reduce((previous, current) => {
            return "." + previous + ",." + current
        })
        $('#AHD_ImageNote').html(`(${extension}) ${Sys_App_Image.width} x ${Sys_App_Image.height} px`);
        AHD_SettingDatePicker();
        AHD_Event();
    }

    function AHD_SettingDatePicker() {
        let DateHightLight;

        DateHightLight = $("#AHD_Date").flatpickr({
            mode: "range"
            , dateFormat: 'd-m-Y'
            , enableTime: false
            , showMonths: 1
            , onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        let date = new Date();
        let firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        let lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        $("#AHD_Date").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        $('#AHD_DateDiv').show();

    }

    function AHD_HandleToggleBtn() {
        if ($('#AHD_IsClose').is(':checked')) {
            $('#AHD_IsClose').val(1);
        }
        else {
            $('#AHD_IsClose').val(0);
        }
    }

    function AHD_LoadUpdateData() {
        if (ser_HightLightDetailID != 0 && ser_HightLightDetailID != "") {
            AjaxLoad(url = "/Setting/AppCustomer/HightLight/HightLightDetail/?handler=LoadDetail"
                , data = { CurrentID: ser_HightLightDetailID }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "") {
                        let ImgSrc = '';
                        let data = JSON.parse(result);
                        let IsClose = data[0].IsClose == 1 ? true : false;
                        $("#AHD_IsClose").prop("checked", IsClose);
                        $("#AHD_Name").val(data[0].Name);
                        $("#AHD_Link").val(data[0].Url);
                        $("#AHD_Position").dropdown("refresh");
                        $("#AHD_Position").dropdown("set selected", data[0].Position);
                        $("#AHD_Description").val(data[0].Description);
                        $("#AHD_Date").val(formatDateClient(data[0].DateFrom) + ' to ' + formatDateClient(data[0].DateTo));
                        AHD_DetailImageString = data[0].Image;
                        ImgSrc = (AHD_DetailImageString != "") ? AHD_DetailImageString : DefaultPic;
                        $('#AHD_DetailImage').attr('src', ImgSrc);
                    }
                });
        }
    }

    function AHD_Event() {
        UploadImage({
            inputFile: 'AHD_Fileup_LoadImage'
            , btnInput: 'btnAppHightLightUploadLogo'
            , avatar: 'AHD_DetailImage'
            , condition: Sys_App_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }

    async function AHD_ExcuteData() {
        let Image = $("#AHD_Fileup_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'AHD_Fileup_LoadImage') : AHD_DetailImageString;console.log(await AjaxUpload_Image(urlImage, 'AHD_Fileup_LoadImage'))
        let dateFrom = "";
        let dateTo = "";
        let date = $('#AHD_Date').val() ? $('#AHD_Date').val() : new Date()
        if (date.includes(" to ")) {
            dateFrom = date.split(" to ")[0];
            dateTo = date.split(" to ")[1];
        }
        else {
            dateFrom = date;
            dateTo = date;
        }
        let data = new Object();
        data.Name = $("#AHD_Name").val() ? $("#AHD_Name").val() : "";
        data.Url = $("#AHD_Link").val() ? $("#AHD_Link").val() : "";
        data.Position = $('#AHD_Position').dropdown('get value') ? $('#AHD_Position').dropdown('get value') : "";
        data.IsClose = $("#AHD_IsClose").val() == 'on' ? 1: 0;
        data.Description = $("#AHD_Description").val() ? $("#AHD_Description").val() : "";
        data.DateFrom = dateFrom;
        data.DateTo = dateTo;
        data.Image = Image;
        if (AHD_Validate()) {
            AjaxLoad(url = "/Setting/AppCustomer/HightLight/HightLightDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_HightLightDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        AHL_Load();
                        CloseModal();
                        syslog_mob("u", "@Local["Tin nổi bật"]");
                    } else {
                        $("#textShowMessage").html("@Local["Trùng dữ liệu"]");
                    }
                });
        }
        return false;
    }

    function AHD_Validate() {
        $('#AHD_FormHightLightDetail').form('validate form');
        if ($('#AHD_FormHightLightDetail').form('is valid')) {
            return true;
        }
        return false;
    }
</script>
