@page
@model MLunarCoffee.Pages.Setting.AppCustomer.HightLight.HightLightListModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0 pt-2">
                <div class="left">
                    <h6 class="mb-0">@Local["Danh sách tin nổi bật"]</h6>
                    <p class="text-sm mb-0">@Local["Cài đặt các thông tin chi tiết của tin nổi bật"]</p>
                </div>
                <div class="right">
                    <div class="form-check mt-2 me-3">
                        <input id="AHL_ChkDisable" class="form-check-input pr-2" type="checkbox" checked="checked">
                        <label>@Local["Tin nổi bật ẩn"]</label>
                    </div>
                    <button class="btn btn-dark btn-sm mt-1 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                        @Local["Xem thêm"]
                    </button>
                </div>
                <div class="toggle">
                    <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                        <ul class="card card-body text-dark text-capitalize opacity-10">
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="link" type="checkbox">
                                </div>
                                <p class="text-sm">Link</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="description" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mô tả"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="datefrom" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Từ ngày"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="dateto" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Đến ngày"]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="m-0 my-3 mobile-responsive">
                    <div id="loaderList" class="waitingdiv text-center w-100 mt-2 position-absolute top-0 start-50 translate-middle-x" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <table id="dtContentHightLightList" class="table vt-table mb-0">
                        <thead class="hiddenCollapse">
                            <tr role="row">
                                <th class="d-none">ID</th>
                                <th style="width:45px;">#</th>
                                <th>@Local["Hình ảnh"]</th>
                                <th>@Local["Tên"]</th>
                                <th data-name="link">Link</th>
                                <th>@Local["Vị trí"]</th>
                                <th>@Local["Nút đóng"]</th>
                                <th data-name="description">@Local["Mô tả"]</th>
                                <th data-name="datefrom">@Local["Từ ngày"]</th>
                                <th data-name="dateto">@Local["Đến ngày"]</th>
                                <th style="min-width: 200px">@Local["Người sửa"]</th>
                                <th>@Local["Ẩn"]</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentHightLightBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let shtable;
    let xhrHightLightList;
    //#region // INIT

    let DataUser;
    $(document).ready(function () {
        shtable = $("#dtContentHightLightList").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        $('#AHL_ChkDisable').prop('checked', false);
        AHL_Load();
    });
    //#endregion

    //#region // RENDER

    function AHL_Load() {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                AjaxLoad(url = "/Setting/AppCustomer/HightLight/HightLightList/?handler=LoadData"
                    , data = {}, async = true, error = null
                    , success = function (result) {
                        if (result != "") {
                            let data = JSON.parse(result);
                            AHL_Render(data, 'dtContentHightLightBody');
                            shtable.Refresh();
                        }
                        else {
                            notiError_SW();
                        }
                    });
            });
    }

    function AHL_Render(data, id) {
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let itemContent = AHL_RenderItem(item);
                    stringContent = stringContent + `<tr id="AHL_Content_${item.ID}" class="vt-number ${((item.IsDisabled === 1) ? ('table-active') : (""))}"" role="row" data-id="${item.ID}"> ${itemContent} </tr>`;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            AHL_Event();
        }

    }

    function AHL_RenderItem(item) {
        let obj = Fun_GetObject_ByID(DataUser, item.ModifiedBy);
        let name = (obj != null) ? obj.Name : 'unknown';
        let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
        let isclose = item.IsClose == 1 ? '<span class="text-primary fw-bold">@Local["Bật"]</span>' : '<span class="text-secondary">@Local["Tắt"]</span>';
        let tr = `<td class="d-none AHL_ID"> ${item.ID} </td>
                  <td class="vt-number-order"></td>
                  <td class="col col-md-2">
                       <div class="text-center">
                           <div class="avatar avatar-xl position-relative my-1">
                                <img class="border-radius-md h-100" src="${item.Image}" alt="label-image" onerror="${Master_OnLoad_Error_Image(this)}"/>
                           </div>
                       </div>
                  </td>
                  <td class="col col-md-5 mx-auto">
                      <div class="mx-2">
                           <a class="text-decoration-underline fw-bold buttonEditClass" href="#"> ${item.Name} </a>
                      </div>
                  </td>
                  <td class="col col-md-5 mx-auto" data-name="link">${item.Url}</td>
                  <td class="col col-md-5 mx-auto" data-name="content">${item.Position}</td>
                  <td class="col col-md-5 mx-auto" data-name="isclose">${isclose}</td>
                  <td class="col col-md-5 mx-auto" data-name="description">${item.Description}</td>
                  <td class="col col-md-5 mx-auto" data-name="datefrom">${ConvertDateTimeUTC_DMY(item.DateFrom)}</td>
                  <td class="col col-md-5 mx-auto" data-name="dateto">${ConvertDateTimeUTC_DMY(item.DateTo)}</td>
                  <td class="col col-md-3">
                      <div class="d-flex f-md-right">
                          <div class="icon icon-shape icon-sm me-2 text-center" >
                              <img class="avatar avatar-xs mt-2 " src="${img}" alt="label-image" onerror="Master_OnLoad_Error_Image(this)">
                              </div>
                              <div class="d-flex flex-column">
                              <h6 class="text-dark text-sm mb-0"> ${name} </h6>
                              <span class="text-xs"> ${formatDateToDMYHM(item.Modified)} </span>
                          </div>
                      </div>
                  </td>
                  <td>
                        <button class="buttonGrid" value="${item.ID}">
                        ${((item.IsDisabled === 1)
                ? '<i data-id="${id}" class="buttonDisabledClass vtt-icon vttech-icon-hide"></i>'
                : '<i data-id="${id}" class="buttonDisabledClass vtt-icon vttech-icon-nohide"></i>')}
                        </button>
                  </td>`;
        return tr;
    }
    //#endregion

    //#region // EVENT

    function AHL_Disable(id) {
        const promise = notiConfirm();
        promise.then(function () { AHL_ExecuteDisable(id); }, function () { });
    }

    function AHL_ExecuteDisable(id) {
        AjaxLoad(url = "/Setting/AppCustomer/HightLight/HightLightList/?handler=DisableItem"
            , data = { id: id }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    notiSuccess();
                    AHL_Load();
                } else {
                    notiError_SW();
                }
            }
        );
    }

    function AHL_Edit(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/AppCustomer/HightLight/HightLightDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function AHL_Event() {
        $('#AHL_ChkDisable').unbind().change(function (event) {
            if ($('#AHL_ChkDisable').is(':checked'))
                $('#dtContentHightLightList').addClass('showdis');
            else $('#dtContentHightLightList').removeClass('showdis');
        });
        $('#dtContentHightLightList tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr').find('.AHL_ID')[0].innerHTML);
            AHL_Edit(ID);
        });

        $('#dtContentHightLightList tbody').on('click', '.buttonDisabledClass', function () {
            let ID = Number($(this).closest('tr').find('.AHL_ID')[0].innerHTML);
            AHL_Disable(ID);
        });
    }

    //#endregion
</script>
<style>
    .table-active {
        display: none;
    }

    .showdis .table-active {
        display: table-row;
    }

    .vt-table tr td {
        border-left: 1px solid var(--color--table--border) !important;
        white-space: normal !important;
    }
</style>
<script>js_require('/js/main.js')</script>
