@page
@model MLunarCoffee.Pages.Setting.AppCustomer.Language.AppCustomerEditLanguageDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Cấu hình ngôn ngữ app"]</h6>
                                <p class="text-sm mb-0">@Local["Chỉnh sửa ngôn ngữ anh/việt"] </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-2 form3" id="form3">
                        <div class="field col-12 p-1">
                            <div class="row">
                                <div class="field col-12 p-1">
                                    <label>@Local["Tên loại"]</label>
                                    <input id="AL_NameType" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="field col-12 col-sm-6 p-1">
                                    <label>@Local["Tiếng việt"]</label>
                                    <input id="AL_Vi" name="name" type="text" class="form-control" />
                                </div>
                                <div class="field col-12 col-sm-6 p-1">
                                    <label>@Local["Tiếng anh"]</label>
                                    <input id="AL_En" name="name" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Hủy"]</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return EditLanguageDetail_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    let Ser_CurrentID = Number("@Model._CurrentID");
    let Ser_Type = Number("@Model._Type");

    $(document).ready(function () {
        EditLanguageDetail_Load();
    })

    //#region //LOAD
    function EditLanguageDetail_Load () {
        AjaxLoad(url = "/Setting/AppCustomer/Language/AppCustomerEditLanguageDetail/?handler=LoadDetail"
            , data = {
                CurrentID: Ser_CurrentID
                , Type: Ser_Type
            }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    $("#AL_NameType").val(data[0].Description);
                    $("#AL_En").val(data[0].TextEN);
                    $("#AL_Vi").val(data[0].TextVN);
                }
            }
        )
    }
    //#endregion

    //#region //EXECUTED

    function EditLanguageDetail_ExcuteData () {
        let data = new Object();
        data.TextEN = $("#AL_En").val() ? $("#AL_En").val() : '';
        data.TextVN = $("#AL_Vi").val() ? $("#AL_Vi").val() : '';
        data.Description = $("#AL_NameType").val() ? $("#AL_NameType").val() : '';
        $("#form3").form('validate form');
        if ($("#form3").form('is valid')) {
            AjaxLoad(url = "/Setting/AppCustomer/Language/AppCustomerEditLanguageDetail/?handler=Executed"
                , data = {
                    "data" : JSON.stringify(data)
                    , "CurrentID": Ser_CurrentID
                    , "Type": Ser_Type
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "0") {
                        notiSuccess();
                        CloseModal();
                        EditLanguage_Load(Ser_CurrentID, Ser_Type);

                        syslog_mob("u", result);
                    }
                    else notiError_SW();
                }
            )
        }
    }

    //#endregion

</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>