@page
@model MLunarCoffee.Pages.Student.Course.CourseClassTimeDetailModel
@{
    Layout = null;
}
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Lịch học"]</h6>
                                <p class="text-sm mb-0">@Local["Chỉnh sửa hoặc thêm mới ngoại lệ lịch học"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-2 form3" id="cctd_form">
                        <div class="d-lg-flex">
                            <div class="col-w-350  mt-lg-3">
                                <div class="d-flex justify-content-center">
                                    <input id="cctd_Day" class="form-control flatpickr d-none" type="text"
                                           placeholder="eg .@Local["Ngày"]"   />
                                </div>

                            </div>
                            <div class="flex-grow-1 px-3">
                                <div class="row mt-3">
                                    <div class="field col-12 col-sm-12 col-md-12 col-lg-6 p-1">
                                        <label>@Local["Thời gian bắt đầu"]</label>
                                        <input id="cctd_TimeBegin" name="timeBegin" type="text" placeholder="eg. Time Begin " class="form-control flatpickr d-none" readonly="readonly">
                                    </div>
                                    <div class="field col-12 col-sm-12 col-md-12 col-lg-6 p-1">
                                        <label>@Local["Thời gian kết thúc"]</label>
                                        <input id="cctd_TimeEnd" name="timeEnd" type="text" placeholder="eg. Time End " class="form-control flatpickr d-none" readonly="readonly">
                                    </div>
                                    <div class="field col-12 col-sm-12 col-lg-12 p-1">
                                        <label>@Local["Giảng viên"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="cctd_TeacherID">
                                            <input type="hidden" name="teacher" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .Teacher</div>
                                            <div id="cbbcctd_Teacher" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-sm-12 col-lg-12 p-1">
                                        <label>@Local["Phòng"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="cctd_ClassManuID">
                                            <input type="hidden" name="manuclass" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .Manufactory</div>
                                            <div id="cbbcctd_ManuClass" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="action_Save-Content">
                        <button id="cctd_btndelete" class="btn btn-danger d-none" form="cctd_form" onclick="event.preventDefault();cctd_Delete()">@Local["Xóa"]</button>
                        <button class="btn btn-secondary" form="cctd_form" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return cctd_Execute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    let cctd_DayInt = '@Model.DayInt';
    let cctd_ID = '@Model.ID';
    let cctd_TimeEnd = '@Model.TimeEnd';
    let cctd_TimeStart = '@Model.TimeStart';
    let cctd_Teacher = '@Model.Teacher';
    let cctd_Manuclass = '@Model.Manuclass';
    let cctd_Mindate = '@Model.Mindate';
    let cctd_Maxdate = '@Model.Maxdate';

    $(document).ready(function () {
         cctd_Init();
    })
    function cctd_Init () {
        if (CD_DataKeyTeacher != undefined) Load_Combo(Object.values(CD_DataKeyTeacher), 'cbbcctd_Teacher', true);
        if (CD_DataKeyManuClass != undefined) Load_Combo(Object.values(CD_DataKeyManuClass), 'cbbcctd_ManuClass', true);
        $("#cctd_TeacherID").dropdown("refresh")
        $("#cctd_TeacherID").dropdown("set selected", cctd_Teacher);
        $("#cctd_Day").flatpickr({
            dateFormat: 'd-m-Y',
            enableTime: false,
            inline: true,
            defaultDate: ConvertYMDInt_ToDateTime(cctd_DayInt),
            minDate: ConvertYMDInt_ToDateTime(cctd_Mindate),
            maxDate: ConvertYMDInt_ToDateTime(cctd_Maxdate)
        });
        let _ddatef = new Date(new Date().toDateString());
        let _dhour = Number(cctd_TimeStart != "" ? cctd_TimeStart.substring(0, 2) : "06");
        let _dhoum = Number(cctd_TimeStart != "" ? cctd_TimeStart.substring(2, 4) : "30");
   
        $("#cctd_TimeBegin").flatpickr({
            enableTime: true,
            inline: true,
            dateFormat: "H:i",
            noCalendar: true,
            time_24hr: true,
            minTime: "06:30",
            maxTime: "23:00",
            defaultDate: (_ddatef.addHours(_dhour)).addMinutes(_dhoum),
            defaultHour: _dhour,
            defaultMinute: _dhoum 
        });
        let _ddatet = new Date(new Date().toDateString());
        _dhour = Number(cctd_TimeEnd != "" ? cctd_TimeEnd.substring(0, 2) : "06");
        _dhoum = Number(cctd_TimeEnd != "" ? cctd_TimeEnd.substring(2, 4) : "30");
        $("#cctd_TimeEnd").flatpickr({
            enableTime: true,
            inline: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true,
            minTime: "06:30",
            maxTime: "23:00",
            defaultDate: (_ddatet.addHours(_dhour)).addMinutes(_dhoum),
            defaultHour: _dhour,
            defaultMinute: _dhoum
        });

        if (cctd_ID != "0") {
            $("#cctd_TimeBegin").val(ConvertTimeInt_ToTime(cctd_TimeStart));
            $("#cctd_TimeEnd").val(ConvertTimeInt_ToTime(cctd_TimeEnd));
            $("#cctd_TeacherID").dropdown('refresh');
            $("#cctd_TeacherID").dropdown('set selected', cctd_Teacher);
            $("#cctd_ClassManuID").dropdown('refresh');
            $("#cctd_ClassManuID").dropdown('set selected', cctd_Manuclass);
            $('#cctd_btndelete').removeClass('d-none');
        }
    }
    function cctd_Execute () {
        $('#cctd_form').form('validate form');
        if ($('#cctd_form').form('is valid')) {
            let start = ConvertTime_ToString($("#cctd_TimeBegin").val());
            let end = ConvertTime_ToString($("#cctd_TimeEnd").val());
            let manuclass = $("#cctd_ClassManuID").dropdown('get value') ? Number($("#cctd_ClassManuID").dropdown('get value')) : 0;
            let teacher = $("#cctd_TeacherID").dropdown('get value') ? Number($("#cctd_TeacherID").dropdown('get value')) : 0;
            let dayint = $("#cctd_Day").val() != '' ? ConvertDMY_ToInt($("#cctd_Day").val()) : ConvertDMY_ToInt(GetDateTime_String_DMY(GetDateTime_Now_Only_Date()));
            let dow = flatpickr.parseDate($("#cctd_Day").val(), "d-m-Y") != undefined ? (flatpickr.parseDate($("#cctd_Day").val(), "d-m-Y")).getDay() : GetDateTime_Now_Only_Date().getDay();
            if (start >= end) notiError("@Local["Giờ không hợp lệ"]");
            else {
                CourseTime_Updatecheduler(cctd_ID,dayint, dow, start, end, teacher, manuclass);
                CloseModal();
            }
        }
        return false;
    }
    function cctd_Delete () {
        CourseTime_Removecheduler(cctd_ID);
        CloseModal();
    }

</script>
<style>
    #cctd_form .flatpickr-calendar {
        box-shadow: none;
        border: none;
    }
</style>
