@page
@model MLunarCoffee.Pages.Setting.ContentTemplate.ContentTemplateListModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js')</script>
<div class="container-fluid py-0 px-0">
    <div class="row m-0">
        <div class="col-12">
            <div class="d-lg-flex">
                <div class="col-w-300 mx-auto">
                    <div class="card card-plain">
                        <div class="vtcardheader card-header pb-0 px-0">
                            <div class="left">
                                <h6 class="mb-0">@Local["Danh sách nhóm"]</h6>
                                <p class="text-sm mb-0">@Local["Danh sách"]</p>
                            </div>
                            <div class="right">
                                <button class="btn bg-gradient-primary btn-sm" onclick="return SCTL_AddMaster()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body pt-0  px-0">
                            <table class="table vt-table mb-0" id="SCTL_ListMaster">
                                <thead>
                                    <tr>
                                        <th colspan="2">@Local["Loại"]</th>
                                    </tr>
                                </thead>
                                <tbody id="SCTL_dtListMaster">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1 ms-2">
                    <div class="card card-plain">
                        <div class="vtcardheader card-header pb-0  px-0">
                            <div class="left">
                                <h6 class="mb-0">@Local["Mẫu nội dung"]</h6>
                                <p class="text-sm mb-0">@Local["Danh sách mẫu nội dung"]</p>
                            </div>
                            <div class="right">
                                <button class="btn btn-primary btn-sm setting_projectclosure" data-tab="add_tab_Customer_Care_Status" data-value="fade up" onclick="return SCTL_AddDetail()">@Local["Thêm mới"]</button>
                            </div>
                        </div>
                        <div class="card-body pt-0  px-0">
                            <div class=" m-0 table-responsive">
                                <table class="table vt-table mb-0" id="SCTL_DtContentDetail">
                                    <thead class="hiddenCollapse">
                                        <tr role="row">
                                            <th class="d-none">ID</th>
                                            <th style="width:40px;">@Local["#"]</th>
                                            <th>@Local["Tên nội dung"]</th>
                                            <th>@Local["Nhóm"]</th>
                                            <th>@Local["Nội dung"]</th>
                                            <th>@Local["Người sửa"]</th>
                                            <th style="width:40px;" class="setting_projectclosure">@Local["Xóa"]</th>
                                        </tr>
                                    </thead>
                                    <tbody id="SCTL_DtContenDetailBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region //INIT - DEFINE
    let SCTD_DataEmp;
    let SCTL_DataTempDetail;
    let SCTL_CurrentMasterID = 0;
    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_Employee]
            , function (data) {
                SCTD_DataEmp = data[0];
                SCTL_Loaddata();
            });
    });
    //#endregion

    //#region //LOADDATA MASTER
    function SCTL_Loaddata() {
        AjaxLoad(url = "/Setting/ContentTemplate/ContentTemplateList/?handler=LoadData"
            , data = {}
            , async = true
            , error = null
            , success = function (result) {
                if (result != "[]") {
                    let dataMaster = JSON.parse(result)["Table"];
                    SCTL_DataTempDetail = JSON.parse(result)["Table1"];
                    SCTL_RenderMaster(dataMaster, "SCTL_dtListMaster");
                    SCTL_RenderDetail(SCTL_DataTempDetail, "SCTL_DtContenDetailBody");
                    SCTL_TriggerMaster();
                } else if (result == "[]") {
                    notiWarning("@Local["Không có dữ liệu"]");
                }
                else {
                    notiError_SW();
                }
            });
    }
    //#endregion

    //#region //RENDERDATA MASTER
    function SCTL_RenderMaster(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            let total = 0;
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    total = total + Number(item.Total);
                    stringContent +=
                        `<tr class="SCTL_RowMaster" data-id="${item.ID}">
                                <td class="d-none">
                                    ${item.ID}
                                </td>
                                <td>
                                    <div class="d-flex ms-2">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center rounded-2 text-center" title="Quantity">
                                            <h6 class="text-white mt-2">
                                                ${Number(item.Total)}
                                            </h6>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="text-dark text-sm mb-0 text-decoration-underline buttonEditClass">
                                                ${item.Name}
                                            </h6>
                                        </div>
                                    </div>
                                </td>
                                    <td class="col-3">
                                    <div class="d-flex justify-content-center setting_projectclosure">
                                        ${item.DeleteButton == 1 ? `<button class="btn btn-link btn-icon-only text-dark my-auto buttonDeleteClass"><i title="Remove" class="remove icon" aria-hidden="true"></i></button>` : ""}
                                    </div>
                                </td>
                            </tr>`
                }
                stringContent =
                    `<tr class="SCTL_RowMaster" data-id="0" id="SCTL_RowMaster_0">
                        <td class="d-none">
                            0
                        </td>
                        <td colspan="2">
                            <div class="d-flex ms-2">
                                <div class="icon icon-shape icon-sm me-3 bg-gradient-dark rounded-2 text-center" title="Quantity">
                                    <h6 class="mt-2 text-white">
                                        ${Number(total)}
                                    </h6>
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="text-dark text-sm mb-0">
    @Local["Tổng"]
                                    </h6>
                                </div>
                            </div>
                        </td>
                    </tr>
                    `
                    + stringContent;
                document.getElementById(id).innerHTML = stringContent;
                SCTL_EventMaster();
            }
        }
    }
    //#endregion

    //#region //RENDERDATA DETAIL
    function SCTL_RenderDetail(data, id) {
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(SCTD_DataEmp, item.CreatedBy);
                    let name = (obj != null) ? obj.Name : '@Local["Không xác định"]';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td><a class="text-decoration-underline fw-bold buttonEditClass">' + item.TemplateName + '</a></td>'
                        + '<td>' + item.Type + '</td>'
                        + '<td>' + item.TemplateContent + '</td>'
                        + '<td>'
                        + '<div class="d-flex">'
                        + '<div class="icon icon-shape icon-sm me-2 text-center" >'
                        + '<img class="avatar avatar-xs mt-2" src="' + img + ' " alt="label-image">'
                        + '</div>'
                        + '<div class="d-flex flex-column">'
                        + '<h6 class="text-dark text-sm mb-0">' + name + '</h6>'
                        + '<span class="text-xs">' + GetDateTime_String_DMY(item.Created) + '</span>'
                        + '</div>'
                        + '</div>' + '</td>'
                        + '<td class="text-center setting_projectclosure">'
                        + Render_Button_Grid(['<button class="buttonGrid" value="'
                            + item.ID
                            + '"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>'])
                        + '</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            SCTL_EventDetail();
        }
    }
    //#endregion

    //#region //EVENT
    function SCTL_EventMaster() {
        $(".SCTL_RowMaster").unbind('click').click(function (event) {
            let id = Number($(this).attr("data-id"));
            SCTL_CurrentMasterID = id;
            SCTL_GetDetailByMaster(id);
            $(".SCTL_RowMaster").removeClass('active');
            $(this).addClass('active')
        });

        $('#SCTL_dtListMaster').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].getAttribute('data-id'));
            SCTL_EditMaster(ID);
        });
        $('#SCTL_dtListMaster').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].getAttribute('data-id'));
            SCTL_DeleteMaster(ID)
        });

    }

    function SCTL_TriggerMaster() {
        let rowMaster = $(`#SCTL_RowMaster_${SCTL_CurrentMasterID}`).get(0);
        if (rowMaster != undefined) rowMaster.click();
    }

    function SCTL_EventDetail() {
        $('#SCTL_DtContentDetail tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            SCTL_EditDetail(ID);
        });
        $('#SCTL_DtContentDetail tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            SCTL_DeleteDetail(ID)
        });
    }

    function SCTL_DeleteMaster(id) {
        const promise = notiConfirm();
        promise.then(function () { SCTL_ExcuteDeleteMaster(id); }, function () { });
    }

    function SCTL_ExcuteDeleteMaster(id) {
        AjaxLoad(url = "/Setting/ContentTemplate/ContentTemplateList/?handler=DeleteMaster"
            , data = { MasterID: id }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SCTL_Loaddata();
                } else {
                    notiError_SW();
                }
            });
    }

    function SCTL_AddMaster() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/ContentTemplate/ContentTemplateMaster?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function SCTL_EditMaster(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/ContentTemplate/ContentTemplateMaster?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function SCTL_DeleteDetail(id) {
        const promise = notiConfirm();
        promise.then(function () { SCTL_ExecuteDeleteDetail(id); }, function () { });
    }

    function SCTL_ExecuteDeleteDetail(id) {
        AjaxLoad(url = "/Setting/ContentTemplate/ContentTemplateList/?handler=DeleteDetail"
            , data = { DetailID: id }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SCTL_Loaddata();
                } else {
                    notiError_SW();
                }
            });
    }

    function SCTL_AddDetail() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/ContentTemplate/ContentTemplateDetail?MasterID=" + SCTL_CurrentMasterID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function SCTL_EditDetail(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/ContentTemplate/ContentTemplateDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    //#endregion

    //#region //OTHER
    function SCTL_GetDetailByMaster(masterid) {
        let data = SCTL_DataTempDetail;
        data = SCTL_DataTempDetail.filter(word => { return masterid == 0 || word["MasterID"] == masterid });
        SCTL_RenderDetail(data, "SCTL_DtContenDetailBody");
    }
    //#endregion

</script>
<script>js_require('/js/main.js')</script>
