@page
@model MLunarCoffee.Pages.Setting.ContentTemplate.TreatmentContentTemplateStatusDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Mẫu nội dung"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết mẫu nội dung"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formTreatmentContentStatus">
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Tên nội dung"]</label>
                            <input id="TC_StatusName" name="name" class="form-control" type="text" />
                        </div>
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Mẫu"]"</label>
                            <div class="ui fluid search selection dropdown form-control" id="TC_StatusSample">
                                <input type="hidden" name="branch" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="TC_cbbStatusSample" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Nội dung"]</label>
                            <textarea id="TC_StatusContent'" rows="3" class="form-control" type="text" ></textarea>>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formTreatmentContentStatus" onclick="event.preventDefault();CloseModal()">@Local["Hủy"]</button>
                        <button form="formTreatmentContentStatus" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault(); TC_StatusExcuteData">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        let ser_CurrentID = "@Model._CurrentID";
        let ser_TypeStatusID = "@Model._TypeStatusID";
        let ser_TempGroupID = "@Model._TempGroupID";
        let dataComboStatusParent;
        $(document).ready(function () {
            TC_LoadComBoSample();
        });
        function TC_LoadComBoSample() {
            AjaxLoad(url = "/Setting/ContentTemplate/TreatmentContentTemplateStatusDetail/?handler=LoadInitializeData"
                , data = { TypeStatusID: ser_TypeStatusID }, async = false, error = null
                , success = function (result) {
                    dataComboStatusParent = JSON.parse(result);
                    Load_Combo(dataComboStatusParent, "TC_cbbStatusSample", true);
                        TC_StatusLoadUpdate();
                });
        }
        function TC_StatusLoadUpdate() {
            if (ser_CurrentID != "0") {
                AjaxLoad(url = "/Setting/ContentTemplate/TreatmentContentTemplateStatusDetail/?handler=Loadata"
                    , data = { id: ser_CurrentID }, async = true, error = null
                    , success = function (result) {
                        let dataStatusDetail = JSON.parse(result);
                        $('#TC_StatusName').val((dataStatusDetail[0].NAME));
                        $('#TC_StatusContent').val((dataStatusDetail[0].CONTENT));
                        $("#TC_StatusSample").dropdown("refresh");
                        $("#TC_StatusSample").dropdown("set selected", dataStatusDetail[0].MASTERID);
                    });
            }
            else {
                if (ser_TempGroupID != 0) {
                    $("#TC_StatusSample").dropdown("refresh");
                    $("#TC_StatusSample").dropdown("set selected", ser_TempGroupID);
                }
                else {
                    $("#TC_StatusSample").dropdown("refresh");
                    $("#TC_StatusSample").dropdown("set selected", 1);
                }
            }
        }
        function TC_StatusExcuteData() {
            let data = new Object();
            data.Name = $('#TC_StatusName').val() ? $('#TC_StatusName').val() : "";
            data.Content = $('#TC_StatusContent').val() ? $('#TC_StatusContent').val() : "";
            data.MasterID = Number($('#TC_StatusSample').dropdown('get value')) ? Number($('#TC_StatusSample').dropdown('get value')) : 0;
            $('#formTreatmentContentStatus').form('validate form');
            if ($('#formTreatmentContentStatus').form('is valid')) {
                AjaxLoad(url = "/Setting/ContentTemplate/TreatmentContentTemplateStatusDetail/?handler=ExcuteDataDetail"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_CurrentID,
                        TypeStatusID: ser_TypeStatusID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            TC_LoadMaster();
                            $('#DetailModal').modal('hide');
                            $("#DetailModal_Content").html('');
                        } else if (result == "-1") {
                            $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                        } else {
                            notiError_SW();
                        }
                    });
            }
            return false;
        }
</script>
    <script>js_require('/js/main.js')</script>
    <script>js_require_notasync('/js/customjs/custom-validation.js')</script>

