@page
@model MLunarCoffee.Pages.Account.InvoicePrintModel
@{
    Layout = "~/Pages/Shared/_Layout_Authorise.cshtml";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Local["Phiếu"] </title>
    <script src="/assests/library/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/assests/dist/semantic.min.js"></script>
    <link href="/assests/dist/semantic.min.custom.css" rel="stylesheet" />
    <link href="/assests/dist/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="/css/main.custom.css" rel="stylesheet" />
    <script src="/assests/js/ajax.min.js" type="text/javascript"></script>
    <style type="text/css" media="print">
        @@media print {
            @@page {
                margin: 0;
            }

            body {
                margin: 1cm;
            }
        }
    </style>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 14px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

            .invoice-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
                padding-bottom: 8px;
                padding: 1px 16px;
                vertical-align: top;
            }

                .invoice-box table td {
                    /*padding: 5px;*/
                    vertical-align: top;
                }

                .invoice-box table tr td:nth-child(2) {
                    text-align: center;
                }

                /*.invoice-box table tr.top table td {
            padding-bottom: 20px;
        }*/

                .invoice-box table tr.top table td.title {
                    font-size: 15px;
                    line-height: 15px;
                    color: #333;
                }

                .invoice-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.item td {
                    /*border-bottom: 1px solid #eee;*/
                }

                .invoice-box table tr.item {
                    line-height: 28px;
                }

                    .invoice-box table tr.item.last td {
                        border-bottom: none;
                    }

                .invoice-box table tr.total td:nth-child(2) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

        @@media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        .payment-header {
            font-size: 15px;
            display: flex;
            flex-direction: row;
        }

        .text-right {
            text-align: right;
            position: absolute;
            float: right;
            right: 10px;
        }

        .Total {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            padding-bottom: 80px;
        }

        .m-0 {
            font-size: 13px;
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

            .rtl table {
                text-align: right;
            }

                .rtl table tr td:nth-child(2) {
                    text-align: left;
                }

        .ui.circular.image, .ui.circular.image > *, .ui.circular.images .image, .ui.circular.images .image > * {
            border-radius: 500rem;
        }

        p {
            margin: 0 0 5px;
            line-height: 1.4em;
        }

        .perconfirm {
            padding: 0 20px;
        }

            .perconfirm > p {
                font-size: 12px;
                font-style: italic;
            }

        .ui.button {
            cursor: pointer;
            display: inline-block;
            min-height: 1em;
            outline: 0;
            border: none;
            vertical-align: baseline;
            background: #E0E1E2;
            color: rgba(0,0,0,.6);
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            margin: 0 .25em 0 0;
            padding: .78571429em 1.5em;
            text-transform: none;
            text-shadow: none;
            font-weight: 700;
            line-height: 1em;
            font-style: normal;
            text-align: center;
            text-decoration: none;
            border-radius: .28571429rem;
            box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
            transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
            will-change: '';
            -webkit-tap-highlight-color: transparent;
        }
    </style>

</head>

<body>
    <form runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" />
    </form>

    <div class="invoice-box">
        <table>
            <tr class="top">
                <td colspan="2">
                    <div style="height: 125px;text-align: center;">
                        <img id="avatarCompany" src="/default.png" onerror="this.src='/default.png'" style="height: 125px; width: 125px;" />
                    </div>
                    <table>
                        <tr>
                            <td class="title">
                                <div class="col-6">
                                    <p id="CompanyName" style="font-size: 16px; font-weight: bold;"></p>
                                    <p id="address" style="font-size: 12px;"></p>
                                    <p id="Phone" style="font-size: 12px;"></p>
                                </div>
                            </td>

                            <td>
                                <b class="m-0">@Local["Mẫu số"] 02 – TT</b>
                                <p class="m-0">(@Local["Ban hành theo QĐ số: 48/2006/QĐ-BTC"]</p>
                                <p class="m-0">@Local["Ngày 14/09/2006 của Bộ trưởng BTC"])</p>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="3">
                    <div style="position: relative">
                        <p style="text-align: center; font-size: 25px; text-transform: uppercase;">@Local["Phiếu"] <span id="nameType"></span></p>
                        <p id="Datenow" style="text-align: center; font-size: 13px; padding-bottom: 15px;"></p>

                    </div>
                </td>

            </tr>
            <tr class="Procedure">
                <td colspan="3">
                    <div style="position: relative; top: -55px; padding-bottom:30px">
                        <p style="font-size: 14px; position: absolute; right: 41px; top: 14px;" id="Invoicenum"></p>
                        <p class="m-0" style="font-size: 14px; position: absolute; right: 100px; top: 35px;">@Local["Quyển số"]</p>
                        <span style="border-bottom: 1px dotted; width: 10%; display: inline-block; position:absolute; right:30px; top:50px"></span>

                        <p class="m-0" style="font-size: 14px;  position: absolute; right: 140px; top: 55px;">@Local["Nợ"]</p>
                        <span style="border-bottom: 1px dotted; width: 17%; display: inline-block; position:absolute; right:30px; top:70px"></span>
                        <p class="m-0" style="font-size: 14px;  position: absolute; right: 142px; top: 75px;">@Local["Có"]</p>
                        <span style="border-bottom: 1px dotted; width: 17%; display: inline-block; position:absolute; right:30px; top:90px"></span>
                    </div>
                </td>
            </tr>
            <tr class="item">
                <td style="width: 80px" colspan="1">
                    @Local["Họ và tên"] <span id="nameType2"></span>
                </td>
                <td id="Receiptent" style="text-align: left;"></td>
            </tr>

            <tr class="item">
                <td style="width: 80px" colspan="1">
                    @Local["Lý do"]:
                </td>
                <td id="Content" style="text-align: left;"></td>
            </tr>
            <tr class="item">
                <td style="width: 80px" colspan="1">
                    @Local["Số tiền"]:
                </td>
                <td id="Amount" style="text-align: left; font-weight: bold;"></td>
            </tr>
            <tr class="item" style="font-style: italic;">
                <td style="width: 200px" colspan="1">
                    (@Local["Viết bằng chữ"])
                </td>
                <td id="WordAccountReceipt" style="text-align: left;"></td>
            </tr>
            <tr class="item">
                <td colspan="2">
                    <span>@Local["Kèm theo"]</span><span style="border-bottom: 1px dotted; width: 33%; display: inline-block;"></span>
                    <span>@Local["Chứng từ gốc"]</span> <span style="border-bottom: 1px dotted; width: 40%; display: inline-block;"></span>
                </td>
            </tr>

        </table>
        <div class="Total">
            <div class="perconfirm">
                <b>@Local["Giám đốc"]</b><p>(@Local["Ký, họ tên"])</p>
            </div>
            <div class="perconfirm">
                <b>@Local["Người nhận"]</b><p>(@Local["Ký, họ tên"])</p>
            </div>
            <div class="perconfirm">
                <b>@Local["Kế toán trưởng"]</b><p>(@Local["Ký, họ tên"])</p>
            </div>
            <div class="perconfirm">
                <b>@Local["Thủ quỹ"]</b><p>(@Local["Ký, họ tên"])</p>
            </div>
            <div class="perconfirm">
                <b>@Local["Người lập phiếu"]</b><p>(@Local["Ký, họ tên"])</p>
            </div>
            <div class="perconfirm">
                <b>@Local["Quản lý"]</b><p>(@Local["Ký, họ tên"])</p>
            </div>
        </div>
        <div>@Local["Đã nhận đủ số tiền bằng chữ"] <span style="border-bottom: 1px dotted; width: 69%; display: inline-block;"></span></div>
        <button class="ui button" style="float: right;" id="print" onclick="myFunction()">@Local["In"]</button>
        <br>
    </div>
    @Html.AntiForgeryToken()

<script type="text/javascript">
        let ser_currentID = (@Model._currentID);
        let ser_Invoice_Type = (@Model._Invoice_Type);
        $(document).ready(function () {
            LoadData();
        });
        function LoadData() {
            AjaxLoad(url = "/Account/InvoicePrint/?handler=LoadData"
                , data = { 'id': ser_currentID}
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let dt = JSON.parse(result);
                    if (dt.length > 0) {
                        let Data = dt[0];
                        if (ser_Invoice_Type == "1") document.getElementById('').innerHTML = "@Local["Thu"]";
                        else document.getElementById('nameType').innerHTML = "Chi";
                        if (ser_Invoice_Type == "1") document.getElementById('nameType2').innerHTML = "@Local["Nộp tiền"]: ";
                        else document.getElementById('nameType2').innerHTML = "@Local["Nhận tiền"]: ";

                        document.getElementById('address').innerHTML = Data.Address;
                        document.getElementById('Phone').innerHTML = Data.Phone;
                        document.getElementById('Invoicenum').innerHTML = Data.Invoice_Num;

                        document.getElementById('Datenow').innerHTML = Data.Datestring;
                        document.getElementById('Receiptent').innerHTML = Data.Receiptent;
                        document.getElementById('Amount').innerHTML = Data.Amount;
                        document.getElementById('Content').innerHTML = Data.Content;
                        //document.getElementById('AmountToday').innerHTML = Data.AmountToday;

                        document.getElementById('WordAccountReceipt').innerHTML = Data.Word;
                        //document.getElementById('WordFullAccountReceipt').innerHTML = Data.Word;
                        document.getElementById('CompanyName').innerHTML = Data.CompanyName;
                        $('#avatarCompany').attr('src', Data.CompanyAvatar);
                        document.title += ser_Invoice_Type == "1" ? "@Local["Thu"]" : "@Local["Chi"]";
                    }
                }
            );
        }
        function myFunction() {
            $('#print').hide();
            window.print();
            $('#print').show();

        }
</script>

</body>

</html>