@page
@model MLunarCoffee.Pages.Account.InvoiceDetailModel
@{
    Layout = null;
}

<div class="row" id="AID_Container">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h6 class="font-weight-bolder mb-0" id="AID_Header"></h6>
                            <p class="text-sm mb-0" id="AID_Subtitle"></p>
                        </div>
                    </div>
                    <div class="ms-auto my-auto mt-1">
                    </div>
                </div>
            </div>

            <div class="card-body pt-2 form3" id="AID_Form">
                <div class="row mt-2 px-1">
                    <div class="col-12 col-lg-8 col-md-8 pe-md-4 px-2" id="AID_FormFill">
                        <div class="row mt-2 px-1">
                            <div class="px-0 d-md-flex">
                                <div class="field col-12 col-md-6 col-lg-6 px-1 flex-grow-1 AID_ValidateDiv" id="AID_DateDiv" style="display: none;">
                                    <label>@Local["Ngày"]</label>
                                    <input id="AID_Date" class="form-control flatpickr detail" type="text" placeholder="eg .@Local["Ngày"]" />
                                </div>
                                <div class="field col-12 col-md-6 col-lg-6 px-1 flex-grow-1">
                                    <label>@Local["Chi nhánh"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="AID_Branch">
                                        <input type="hidden" name="branch" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Chi nhánh"]</div>
                                        <div id="AID_CbbBranch" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 col-lg-6 px-1">
                                <label id="AID_LbType"></label>
                                <div class="ui fluid search selection dropdown form-control" id="AID_Type">
                                    <input type="hidden" name="accountType" />
                                    <i class="dropdown icon"></i>
                                    <i class="remove icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text"></div>
                                    <div id="AID_CbbType" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 col-lg-6 px-1 AID_ValidateDiv" id="AID_AmountDiv">
                                <label>@Local["Số tiền"]</label>
                                <input id="AID_Amount" name="productPrice" type="text" class="money form-control" placeholder="eg. @Local["Số tiền"]" value="0" />
                            </div>
                            <div class="field col-12 col-md-6 col-lg-6 px-1">
                                <label id="AID_LbMethod">@Local["Hình thức"]</label>
                                <div class="ui fluid search selection dropdown form-control" id="AID_Method">
                                    <input type="hidden" name="" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text"></div>
                                    <div id="AID_CbbMethod" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 col-lg-6 px-1">
                                <label id="AID_LbMethodType">@Local["Chi tiết"]</label>
                                <div class="ui fluid search selection dropdown form-control disabled" id="AID_MethodType">
                                    <input type="hidden" name="" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg. @Local["Chi tiết"]</div>
                                    <div id="AID_CbbMethodType" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 col-lg-6 px-1 flex-grow-1 AID_ValidateDiv" id="AID_ReceiverEmpDiv">
                                <label id="AID_LbReceiverEmp"></label>
                                <div class="ui fluid search selection dropdown form-control" id="AID_ReceiverEmp">
                                    <input type="hidden" />
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg .@Local["Nhân viên"]</div>
                                    <div id="AID_CbbReceiverEmp" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 col-lg-6 px-1 flex-grow-1 AID_ValidateDiv" id="AID_ReceiverDiv">
                                <label id="AID_LbReceiver"></label>
                                <input class="form-control" id="AID_Receiver" name="receiver" type="text" />
                            </div>
                            <div class="field col-12 col-md-12 col-lg-12 px-1">
                                <label>@Local["Ghi chú"]</label>
                                <textarea class="form-control" id="AID_Note" name="note" type="text" rows="3" placeholder="eg. @Local["Ghi chú"]"></textarea>
                            </div>
                            <div class="mt-3 mt-4" id="AID_FrmSign">
                                <div class="d-lg-flex">
                                    <div class="col-auto my-auto">
                                    </div>
                                    <div class="ms-auto my-auto mt-1">
                                        <div id="AID_Check" class="text-center text-md text-dark" style="min-width: 250px;">
                                            <span class="text-sm text-dark font-weight-bold my-2 d-block">@Local["Xác nhận"]</span>
                                            <div id="AID_CheckDiv" class="border-dashed border-1 border-secondary border-radius-md" style="height: 100px;">
                                                <img id="AID_CheckImg" class="d-none" style="height: 100px;" src="">
                                            </div>
                                            <span id="AID_CheckName" class="text-sm text-dark font-weight-bold"></span>
                                            <div id="AID_CheckDate" class="text-center text-sm text-dark"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 px-1 mt-3 bg-gray-100 border-radius-lg">
                        <div class="card-body mt-0 mt-3 p-3">
                            <h4 class="font-weight-bolder mb-0 text-center text-nowrap" id="AID_FrmPresentHeader"></h4>
                            <h3 class="mb-3 text-sm text-center text-nowrap" id="AID_FrmPresentDate"></h3>
                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm text-nowrap font-weight-bold" id="AID_LbFrmPresentReceiver">
                                </span>
                                <span id="AID_FrmPresentReceiver" class=" text-dark text-sm ms-2"></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm text-nowrap font-weight-bold">
                                    @Local["Chi nhánh"]:
                                </span>
                                <span id="AID_FrmPresentBranch" class=" text-dark text-sm ms-2"></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm text-nowrap font-weight-bold">
                                    @Local["Loại"]:
                                </span>
                                <span id="AID_FrmPresentType" class=" text-dark text-sm ms-2"></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm text-nowrap font-weight-bold">
                                    @Local["Số tiền"]:
                                </span>
                                <span id="AID_FrmPresentAmount" class=" text-dark text-sm ms-2">0</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm text-nowrap font-weight-bold">
                                    @Local["Hình thức"]:
                                </span>
                                <span id="AID_FrmPresentMethod" class=" text-dark text-sm ms-2"></span>
                            </div>

                            <hr class="horizontal dark mt-4 mb-3">
                            <div class="d-flex">
                                <div class="ms-auto">
                                    <p class="mb-2 text-sm text-dark font-weight-bold text-center text-nowrap">
                                        @Local["Người lập phiếu"]
                                    </p>
                                    <p class="text-center text-dark text-xs text-capitalize text-nowrap">(@Local["Chữ ký"], @Local["Họ và tên"])</p>
                                    <div class="border-1 border-dashed border-radius-md border-secondary mx-4 my-3" style="height: 50px; width: 100px;">
                                        <img id="AID_FrmImgSign" class="d-none" style="height: 50px; width: 100px;" src="">
                                    </div>
                                    <p class="ms-2 mb-0 text-center font-weight-bold text-dark text-sm text-capitalize" id="AID_FrmSignCreated"></p>
                                    <p id="AID_FrmCheckDate" class="text-center text-sm text-dark"></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <span class="mb-2 text-sm text-nowrap font-weight-bold">
                                    @Local["Ghi chú"]:
                                </span>
                                <span id="AID_FrmPresentNote" class="ellipsis_three_line ms-2 text-sm"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer fixed-botombutton">
                <div class="action_Save">

                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault();return AccountGeneralCloseModal();">@Local["Đóng"]</button>
                        <button id="AID_BtnSaveCont" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault(); return AID_Excute();">@Local["Lưu và tiếp tục"]</button>
                        <button id="AID_BtnSave" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault(); return AID_Excute(1);">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
    //#region //DEFINE - INIT
    let AID_InvoiceID = (@Model._InvoiceDetailID);
    let AID_DataReceiptType;
    let AID_InvoiceType = (@Model._InvoiceType);
    let AID_MasterType = 0;
    let AID_IsChooseDate = "@Model._ChooseDateCustomer";
    let AID_CurrentEmp = "@Model._CurrentEmp";
    let AID_IsAllowEdit = 1;
    let AID_Sign = "";
    let DataComboMethodType = [];
    $(document).ready(function () {
        AID_MasterType = AID_InvoiceType == "1" ? 5 : 6;
        AID_Init();
    });

    function AID_Init() {
        let date = new Date();
        date.setHours(23, 59, 59, 0);
        $("#AID_Date").flatpickr({
            dateFormat: 'd-m-Y H:i',
            enableTime: true,
            maxDate: date,
            defaultDate: new Date()
        });
        if (AID_InvoiceType == "1") {
            document.getElementById('AID_LbReceiver').innerHTML = "@Local["Người nộp"] (@Local["Khác"])";
            document.getElementById('AID_LbReceiverEmp').innerHTML = "@Local["Người nộp"] (@Local["Nhân viên"])";
            document.getElementById("AID_Header").innerHTML = "@Local["Phiếu thu"]";
            document.getElementById("AID_Subtitle").innerHTML = "@Local["Chi tiết phiếu thu"]";
            document.getElementById("AID_LbType").innerHTML = "@Local["Loại thu"]"

            document.getElementById("AID_LbFrmPresentReceiver").innerHTML = "@Local["Người nộp"]:";
            document.getElementById("AID_FrmPresentHeader").innerHTML = "@Local["Phiếu thu"]";

        } else {
            document.getElementById('AID_LbReceiver').innerHTML = "@Local["Người nhận"] (@Local["Khác"])";
            document.getElementById('AID_LbReceiverEmp').innerHTML = "@Local["Người nhận"] (@Local["Nhân viên"])";
            document.getElementById("AID_Header").innerHTML = "@Local["Phiếu chi"]";
            document.getElementById("AID_Subtitle").innerHTML = "@Local["Chi tiết phiếu chi"]";
            document.getElementById("AID_LbType").innerHTML = "@Local["Loại chi"]"

            document.getElementById("AID_LbFrmPresentReceiver").innerHTML = "@Local["Người nhận"]";
            document.getElementById("AID_FrmPresentHeader").innerHTML = "@Local["Phiếu chi"]";
        }


        $('#AID_Amount').divide();
        if (AID_IsChooseDate == "1") {
            $("#AID_DateDiv").show();
            $("#AID_FrmSign").removeClass('mt-4')
        }
        $("#AID_FrmSignCreated").text(decodeHtml(AID_CurrentEmp));
        AID_Event();
        AID_LoadDataCombo();
    }
    //#endregion
    //#region //LOADDATA
    async function AID_LoadDataCombo() {
        new Promise((resolve, reject) => {
            AjaxLoad(url = "/Account/InvoiceDetail/?handler=InitializeCombo"
                , data = {}
                , async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let _data = JSON.parse(result);
                        let dataReceiptype = _data._DataComboReceiptype;
                        let DataComboMethod = _data._DataComboMethod;
                        let DataBranch = _data._DataBranch;
                        let DataReceiver = _data._DataEmployee;
                        DataComboMethodType = _data._DataComboMethodType;

                        AID_DataReceiptType = dataReceiptype.filter(word => word["Type"] == AID_InvoiceType);
                        Load_Combo(AID_DataReceiptType, "AID_CbbType", true);
                        $("#AID_Type").dropdown("refresh");
                        $("#AID_Type").dropdown("set selected", AID_DataReceiptType[0].ID);

                        Load_Combo(DataComboMethod, "AID_CbbMethod", true);
                        $("#AID_Method").dropdown("refresh");
                        $("#AID_Method").dropdown("set selected", DataComboMethod[0].ID);

                        Load_Combo(DataBranch, "AID_CbbBranch", true);
                        $("#AID_Branch").dropdown("refresh");
                        $("#AID_Branch").dropdown("set selected", Number(@Model._branchID));

                        Load_Combo(DataReceiver, "AID_CbbReceiverEmp", false);

                        $("#AID_Amount").val(0).trigger("input");
                        $("#AID_FrmPresentDate").text(`${decodeHtml('@Local["Ngày"]')} ${ConvertDateTimeUTC_DMY(new Date())}`);

                        if (AID_InvoiceID != "0") {
                            AID_LoadData();
                            $("#AID_Date").attr("disabled", true);
                            $("#AID_BtnSaveCont").remove();
                        }
                    }
                }
            );
            resolve();
        });
    }

    async function AID_LoadData() {
        new Promise((resolve, reject) => {
            AjaxLoad(url = "/Account/InvoiceDetail/?handler=LoadData"
                , data = {
                    'CurrentID': AID_InvoiceID
                }
                , async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "[]") {
                        let item = JSON.parse(result)[0];
                        AID_FillData(item);
                    }
                    else if (result == "[]") {
                        notiWarning("@Local["Không có dữ liệu"]");
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
            resolve();
        });
    }

    function AID_FillData(item) {
        if (item && Object.keys(item).length !== 0) {
            let EditButton = item.EditButton;
            let dateReceive = GetDateTime_String_DMYHM(new Date(item.ReceiptsDate));
            $('#AID_Amount').val(`${item.Amount}`).trigger("input");
            $("#AID_FrmPresentAmount").text(formatNumber(item.Amount));
            $('#AID_Receiver').val(item.Receiver).trigger("input");
            $('#AID_Date').val(dateReceive);
            $("#AID_FrmPresentDate").text(`${decodeHtml('@Local["Ngày"]')} ${dateReceive.split(" ")[0]}`);
            $('#AID_Note').val(item.ReceiptsContent).trigger("input");
            $("#AID_FrmPresentNote").text(item.ReceiptsContent);

            $("#AID_Type").dropdown("refresh");
            $("#AID_Type").dropdown("set selected", item.ReceiptsType);

            $("#AID_Method").dropdown("refresh");
            $("#AID_Method").dropdown("set selected", item.MethodID);
            if (item.MethodID == 4) {
                $("#AID_MethodType").dropdown("refresh");
                $("#AID_MethodType").dropdown("set selected", item.TransferTypeID);
            }
            else if (item.MethodID == 5) {
                $("#AID_MethodType").dropdown("refresh");
                $("#AID_MethodType").dropdown("set selected", item.PosTypeID);
            }
            else {
                $("#AID_MethodType").dropdown("refresh");
                $("#AID_MethodType").dropdown("set selected", item.MedthodDetail);               
            }

            $("#AID_ReceiverEmp").dropdown("refresh");
            $("#AID_ReceiverEmp").dropdown("set selected", item.ReceiverEmpID);

            $("#AID_Branch").dropdown("refresh");
            $("#AID_Branch").dropdown("set selected", item.Branch_ID);
            $('#AID_Branch').addClass("disabled");


            if (item.SignData != "") {
                $("#AID_FrmSignCreated").text(item.SignName);
                $("#AID_CheckDate").html(ConvertDateTimeUTC_Time_DOWFULLDAY(item.SignDate));
                $("#AID_CheckImg").attr("src", item.SignData);
                $("#AID_CheckImg").removeClass("d-none");
                $("#AID_CheckName").html(item.SignName);
                $("#AID_FrmImgSign").attr("src", item.SignData);
                $("#AID_FrmImgSign").removeClass("d-none");
                $("#AID_FrmCheckDate").html(ConvertDateTimeUTC_Time_DOWFULLDAY(item.SignDate));
                AID_Sign = item.SignData;
            }
            if (EditButton == 0) {
                AID_IsAllowEdit = 0;
                $('#AID_BtnSaveCont').remove();
                $('#AID_BtnSave').remove();
            }
        }
    }

    //#endregion
    //#region //EXCUTE
    function AID_Excute(isClose = 0) {
        var data = new Object();
        let Method_Type = Number($('#AID_MethodType').dropdown('get value')) ? Number($('#AID_MethodType').dropdown('get value')) : 0;
        let dateCreated = (AID_IsChooseDate == "1") ? ($('#AID_Date').val() ? $('#AID_Date').val() : formatDate_to_ddmmyyyyHHMM(new Date())) : formatDate_to_ddmmyyyyHHMM(new Date());
        data.Receiver = $('#AID_Receiver').val() ? $('#AID_Receiver').val() : "";
        data.ReceiverEmployeeID = Number($('#AID_ReceiverEmp').dropdown('get value')) ? Number($('#AID_ReceiverEmp').dropdown('get value')) : 0;
        data.ReceiptsContent = $('#AID_Note').val() ? $('#AID_Note').val() : "";
        data.ReceiptsType = Number($('#AID_Type').dropdown('get value')) ? Number($('#AID_Type').dropdown('get value')) : 0;
        data.Amount = Number($('#AID_Amount').val()) ? Number($('#AID_Amount').val()) : 0;
        data.Method = Number($('#AID_Method').dropdown('get value')) ? Number($('#AID_Method').dropdown('get value')) : 0;
        data.TransferTypeID = data.Method == 4 ? Method_Type : 0;
        data.PosTypeID = data.Method == 5 ? Method_Type : 0;
        data.MedthodDetail = ((data.Method != 4 && data.Method != 5) ? Method_Type : 0);
        data.BranchID = Number($('#AID_Branch').dropdown('get value')) ? Number($('#AID_Branch').dropdown('get value')) : 0;
        data.DateCreated = dateCreated;
        data.Sign = AID_Sign;

        if (AID_Validate()) {
            AjaxLoad(url = "/Account/InvoiceDetail/?handler=ExcuteData"
                , data = { 'data': JSON.stringify(data), 'CurrentID': AID_InvoiceID }
                , async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data.length != 0 && Number(data[0].RESULT) > 0) {
                            notiSuccess();
                            if (AID_InvoiceID != '0') syslog_acc('u', data[0].CODE);
                            else syslog_acc('i', data[0].CODE);
                            if (typeof InvoicePay_LoadData === 'function') InvoicePay_LoadData(data[0].CURRENTID, AID_MasterType);
                            if (typeof AccountGeneralLoad === 'function') AccountGeneralLoad(1);
                            if (isClose == 1) {
                                AccountGeneralCloseModal();
                            }
                            else {
                                $("#AID_Amount").val(0).trigger("input");
                                $("#AID_Receiver").val("").trigger("input");
                                $("#AID_ReceiverEmp").dropdown("refresh");
                                $("#AID_ReceiverEmp").dropdown("set selected", "0");
                            }
                            InvoiceDetail_SaveAPIAccount(data[0].CURRENTID, data[0].RType);
                        }
                        else if (data.length != 0 && data[0].RESULT == "-1") {
                            AID_AddErrorMsg(id = 'AID_DateDiv', msg = '@Local["Đã chốt sổ, không thể thêm thanh toán trước thời gian chốt"]');
                        }
                        else {
                            notiError_SW();
                        }
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
        else {
            notiWarning("@Local["Kiểm tra dữ liệu"]");
        }
        return false;
    }
    //#region //ThirdAccount
    function InvoiceDetail_SaveAPIAccount(id, rtype)
    {
        if (syn_Accountbrand != undefined && syn_Accountbrand != "") {
            let type = rtype == 1 ? 9 : 10;
            APIAccount_Excute(currentID = id, type = type, action = "save"
                , beforefunc = function () { }
                , successfunc = function (e) {

                    if (typeof InvoicePay_LoadData == 'function') InvoicePay_LoadData(id, AID_MasterType);
                }
                , failfunc = function (message) { }
                , completefunc = function () { }
            );
        }
    }
    //#endregion

    function AID_AddErrorMsg(id, msg) {
        let errorMsg = `<div class="ui basic red pointing prompt label transition visible AID_ValidateMsg">${decodeHtml(msg)}</div>`;
        $(`#${id}`).addClass('error')
        $(`#${id}`).append(errorMsg);
    }

    function AID_Validate() {
        let isValid = false;
        let amount = Number($('#AID_Amount').val()) ? Number($('#AID_Amount').val()) : 0;
        let receiver = $('#AID_Receiver').val() ? $('#AID_Receiver').val() : "";
        let receiveremp = Number($('#AID_ReceiverEmp').dropdown('get value')) ? Number($('#AID_ReceiverEmp').dropdown('get value')) : 0;

        $(".AID_ValidateDiv").removeClass('error');
        if ($(".AID_ValidateMsg"))
            $(".AID_ValidateMsg").remove();

        $('#AID_Form').form('validate form');
        if (amount <= 0) {
            AID_AddErrorMsg(id = 'AID_AmountDiv', msg = '@Local["Phải lớn hơn 0"]');
        }
        if (receiveremp == 0 && receiver == "") {
            if (AID_InvoiceType == "1") {
                AID_AddErrorMsg(id = 'AID_ReceiverEmpDiv', msg = '@Local["Chưa có người nộp"]');
                AID_AddErrorMsg(id = 'AID_ReceiverDiv', msg = '@Local["Chưa có người nộp"]');
            }
            else {
                AID_AddErrorMsg(id = 'AID_ReceiverEmpDiv', msg = '@Local["Chưa có người nhận"]');
                AID_AddErrorMsg(id = 'AID_ReceiverDiv', msg = '@Local["Chưa có người nhận"]');
            }
        }
        isValid = amount > 0 && $('#AID_Form').form('is valid') && (receiveremp != 0 || receiver != "");
        return isValid;
    }
    //#endregion
    //#region //EVENT
    async function AID_SignExcute(signdata) {
        await Signature_Action(signdata, 1);
        if (Signature_ResultSignation != "") {
            AID_Sign = Signature_ResultSignation;
            $("#AID_CheckImg").attr("src", AID_Sign);
            $("#AID_CheckImg").removeClass("d-none");
            $("#AID_FrmImgSign").attr("src", AID_Sign);
            $("#AID_FrmImgSign").removeClass("d-none");
        }
    }
    function AID_Event() {
        $("#AID_CheckDiv").unbind("click").bind('click', function () {
            if (AID_IsAllowEdit == 1) {
                AID_SignExcute(AID_Sign);
            }
        });
        $("#AID_Date").unbind('change').change(function () {
            let dateCreated = (AID_IsChooseDate == "1") ? ($(this).val() ? $(this).val().split(" ")[0] : ConvertDateTimeUTC_DMY(new Date())) : ConvertDateTimeUTC_DMY(new Date());
            $("#AID_FrmPresentDate").text(`${decodeHtml('@Local["Ngày"]')} ${dateCreated}`);
        });
        $("#AID_ReceiverEmp").unbind('change').change(function () {
            let receipt = $(this).dropdown('get text');
            $("#AID_FrmPresentReceiver").text(receipt);
        });
        $("#AID_Receiver").unbind('change').change(function () {
            let receiverEmp = Number($('#AID_ReceiverEmp').dropdown('get value')) ? Number($('#AID_ReceiverEmp').dropdown('get value')) : 0;
            if (receiverEmp != 0) return;
            let receipt = $(this).val();
            $("#AID_FrmPresentReceiver").text(receipt);
        });
        $("#AID_Branch").unbind('change').change(function () {
            let branch = $(this).dropdown('get text');
            $("#AID_FrmPresentBranch").text(branch);
        });
        $("#AID_Type").unbind('change').change(function () {
            let type = $(this).dropdown('get text');
            $("#AID_FrmPresentType").text(type);
        });
        $("#AID_Amount").unbind('change').on('change', function () {
            let amount = $(this).val();
            $("#AID_FrmPresentAmount").text(formatNumber(amount));
        });
        $("#AID_Method").unbind('change').change(function () {
            let method = $(this).dropdown('get text');
            $("#AID_FrmPresentMethod").text(method);
            let MethodID = Number($('#AID_Method').dropdown('get value')) ? Number($('#AID_Method').dropdown('get value')) : 0;
            let data = DataComboMethodType.filter(a => a.Type == MethodID);
            if (data.length != 0) {
                Load_Combo(data, "AID_CbbMethodType", true);
                $("#AID_MethodType").dropdown("refresh");
                $("#AID_MethodType").dropdown("set selected", data[0]?.ID);
                $("#AID_MethodType").removeClass("disabled");
                let MethodFull = $("#AID_Method").dropdown('get text') + " - " + $("#AID_MethodType").dropdown('get text')
                $("#AID_FrmPresentMethod").html(MethodFull);
            }
            else {
                $("#AID_MethodType").dropdown("clear");
                $("#AID_MethodType").addClass("disabled");
            }            
        });
        $("#AID_Note").unbind('change').change(function () {
            let content = $(this).val();
            $("#AID_FrmPresentNote").text(content);
        });
        $('#AID_MethodType').unbind('change').change(function () {
            let TypeID = $("#AID_MethodType").dropdown('get value');
            let MethodFull = $("#AID_Method").dropdown('get text');
            if (TypeID != "0" && TypeID != "") MethodFull = MethodFull + " - " + $("#AID_MethodType").dropdown('get text');
            $("#AID_FrmPresentMethod").html(MethodFull);
        });
    }
    //#endregion
</script>

<script>js_require('/js/main.js')</script>
<script>js_require('/js/customjs/custom-validation.js')</script>
