@page
@model MLunarCoffee.Pages.Account.InvoicePaymentShowDetailModel
@{
    Layout = null;
}
<div class="row" id="IPD_Container">
    <div class="col-12">
        <div class="card border border-1 border-light">
            <div class="card-header h-100 pb-0">
                <h6 class="mb-0">@Local["Chi tiết phiếu"]</h6>
                <p class="text-secondary text-sm mb-0" id="IPD_VoucherCode"></p>
            </div>
            <div class="card-body p-2" id="IPD_DivMain">
                <div class="row text-dark m-0 ps-3 pe-2" id="IPD_DivBody">
                </div>
                <div class="d-flex my-2">
                    <button class="ms-auto mx-2 btn bg-gradient-secondary btn-sm mb-1" onclick="IPD_Close();">@Local["Đóng"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    let IPD_serCurrentID = ("@Model._CurrentID");
    let IPD_serTypeID = ("@Model._Type");
    let IPD_serCode = ("@Model._Code");

    //#region //Init
    $(document).ready(function (){
        $('#IPD_VoucherCode').html(IPD_serCode);
        IPD_Load();
    })
    $(document).mouseup(function (e){
        let todo_pop_changestatus = $('#InvoicePay_DivShowMore');
        if (!todo_pop_changestatus.is(e.target)
            && todo_pop_changestatus.has(e.target).length === 0) {
            todo_pop_changestatus.hide();
        }
    })

    function IPD_Load(){
        AjaxLoad(url = "/Account/InvoicePaymentShowDetail/?handler=Loadata"
            , data = {
                "CurrentID": IPD_serCurrentID
                , "TypeID": IPD_serTypeID
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    IPD_Render(data, "IPD_DivBody");
                }
                else {
                    $('#IPD_DivBody').html(`<div class="py-4 bg-gray-200 border-radius-lg text-center">
                                                <h6 class="my-auto text-sm">@Local["Không có dữ liệu"]</h6>
                                            </div>`)
                }
            },
            sender = null,
            before = function (e) { },
            complete = function (e) { }
        );
    }
    //#endregion

    //#region //Render

    async function IPD_Render (data, id) {
        new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {

                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = `<div class="px-0 py-1">
                                                                  <div class="mb-0"><p class="text-sm m-0">
                                                                    <span class="font-weight-bold pe-2">${formatNumber(item.Paid)}</span>
                                                                    <span class="text-primary">
                                                                    <strong>${item.SerCode} </strong>${item.SerName}</span> - ${formatNumber(item.Amount)}
                                                                    </p>
                                                                  </div>
                                                                </div>
                                                                <hr class="horizontal dark my-0">`
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
                else {
                    myNode.insertAdjacentHTML('beforeend', `<div class="py-4 bg-gray-200 border-radius-lg text-center">
                                                    <h6 class="my-auto text-sm">@Local["Không có dữ liệu"]</h6>
                                                </div>`);
                }
            }
        });
    }

    //#endregion

    //#region //Other

    function IPD_Close(){
        if($("#IPD_Container").parent().length > 0)
            $("#IPD_Container").parent().hide();
    }

    //#endregion
</script>