@page
@model MLunarCoffee.Pages.Customer.Payment.PaymentList.PaymentListBroker
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-0 px-0">

    <div class="row" id="BrokerMaster">
        <div class="col-12 ">
            <div class="card card-plain">
                <div class="card-body pt-2">
                    <div id="BrokerMasterArea">
                        <div class="card-header p-0">
                            <div class="d-lg-flex mb-2 align-items-center">
                                <ul class="nav nav-pills p-1 bg-transparent" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer" data-bs-toggle="collapse" href="#divBrokerinfodes">
                                            <i class="text-gradient  text-lg text-primary fas fa-info-circle"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="row  mx-0 d-flex gap-2">
                                    <div class="col-w-150 border border-5 border-bottom-0 border-top-0 border-end-0 border-success py-1 bg-gray-100 rounded-2 border-radius-top-start-0 border-radius-bottom-start-0">
                                        <p class="text-sm text-dark mb-0 text-capitalize ">@Local["Lần chi"]</p>
                                        <h6 id="num_devide" class="font-weight-bolder mb-0">0</h6>
                                    </div>
                                    <div class="col-w-150 border border-5 border-bottom-0 border-top-0 border-end-0 border-warning py-1 bg-gray-100 rounded-2 border-radius-top-start-0 border-radius-bottom-start-0">
                                        <p class="text-sm text-dark mb-0 text-capitalize">@Local["Tổng tiền"]</p>
                                        <h6 id="amout_devided" class="font-weight-bolder mb-0"></h6>
                                    </div>
                                    <div class="col-w-150 border border-5 border-bottom-0 border-top-0 border-end-0 border-warning py-1 bg-gray-100 rounded-2 border-radius-top-start-0 border-radius-bottom-start-0">
                                        <p class="text-sm text-dark mb-0 text-capitalize">@Local["Điểm đã chia"]</p>
                                        <h6 id="point_devided" class="font-weight-bolder mb-0"></h6>
                                    </div>
                                </div>

                            </div>
                            <div id="divBrokerinfodes" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark ms-1 mb-2 mt-2 multi-collapse collapse">
                                <h6 class="mb-0">@Local["Quy định chỉnh sửa"]</h6>
                                <p class="text-sm mb-0">@Local["Xóa trong ngày. Chỉ người tạo mới được quyền xóa"]</p>
                                <p class="text-sm mb-0">@Local["Hoa hồng được tính với những dịch vụ và sản phẩm phát sinh trong ngày đầu tiên"]</p>
                            </div>
                        </div>
                        <div id="BrokerContentArea" class="d-none">
                            <div class="d-lg-flex">
                                <div class="col-w-400 mx-auto">
                                    <div class="card card-plain">
                                        <div class="card-body p-0 mt-n1">
                                            <div id="bro_infoarea" class="border-0 p-3 bg-gray-100 border-radius-lg d-none my-3">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex gap-2">
                                                        <span class=" text-sm">@Local["Tên"]</span>
                                                    </div>
                                                    <a id="brokercus_edit" class="fw-bold text-primary text-sm ms-4 cursor-pointer">
                                                        <i class="fas fa-edit text-primary"></i>
                                                        <span id="name_broker" class="fw-bold text-primary text-sm ms-1"></span>
                                                    </a>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Mã"]</span>
                                                    <span id="brokercus_codeself" class="fw-bold text-dark text-sm ms-4"></span>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Mã khách hàng"]</span>
                                                    <span id="brokercus_code" class="fw-bold text-dark text-sm ms-4"></span>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Ngày tạo"]</span>
                                                    <span id="bro_datecreated" class="fw-bold text-dark text-sm ms-4">
                                                    </span>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Người tạo"]</span>
                                                    <span id="bro_percreated" class="fw-bold text-dark text-sm ms-4">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2">
                                        <div class="d-lg-flex mt-0">
                                            <div class="mb-2">
                                                <h6 class="font-weight-bolder mb-0 mt-2">@Local["Phiếu chi"]</h6>
                                                <p class="mb-0 text-sm">@Local["Danh sách phiếu chi"]</p>
                                            </div>
                                            <div class="ms-auto">
                                                <button id="btnBrokerAdd" class="_tab_control_ btn bg-gradient-primary btn-xs mt-1 d-none" data-tab="add_tab_payment_broker" onclick="BrokerDetail_Add()">
                                                    @Local["Thêm mới"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="overflow-auto" style="max-height:50vh">
                                            <ul id="divBrokerList" class="nav nav-pills mt-1 nav-menus nav-menus-horizontal flex-column  bg-white border-radius-lg">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1 mt-1">
                                    <div id="BrokerDescip_Amount" class="px-2 d-none">
                                        <div class="px-2">
                                            <div class="mb-3  text-center">
                                                <h6 id="Bdes_Code" class="fw-bold text-primary mb-0 mt-2"></h6>
                                                <div class="text-center">
                                                    <p id="Bdes_CreatedDate" class="mb-0 text-sm d-inline"></p>
                                                </div>
                                            </div>
                                            <div class="m-0 mb-3 mobile-responsive">
                                                <div id="divBrokerListWait" class="waitingdiv text-center" style="display: none;">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                                <table class="table vt-table mb-0" id="dtBrokerDetail">
                                                    <thead>
                                                        <tr>
                                                            <th style="min-width: 40px;width: 40px;">#</th>
                                                            <th>@Local["Dịch vụ"]</th>
                                                            <th>@Local["Đơn giá"]</th>
                                                            <th>@Local["Ngày chia"]</th>
                                                            <th>@Local["Số tiền"]</th>
                                                            <th>@Local["Ngày tạo dịch vụ"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dtBrokerDetailBody">
                                                    </tbody>
                                                </table>
                                                <div class="d-lg-flex mx-0 my-2">
                                                    <div class="col-auto">
                                                        <span class="text-end text-sm text-secondary">@Local["Người tạo"] :</span>
                                                        <span id="Bdes_CreatedName" class="text-end text-dark fw-bold text-sm font-italic"></span>
                                                    </div>
                                                    <div class="col-auto ms-auto my-auto">
                                                        <span class="text-end text-sm text-secondary">@Local["Tổng tiền"] :</span>
                                                        <span id="Bdes_TotalAmount" class="text-end text-dark fw-bold text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-3 d-none" id="btnBrokerSign">
                                                <div class="d-lg-flex">
                                                    <div class="col-auto my-auto">
                                                    </div>
                                                    <div class="ms-auto my-auto mt-1">
                                                        <div class="text-center text-md text-dark" style="min-width: 250px;">
                                                            <span class="text-sm text-dark font-weight-bold my-2 d-block">@Local["Xác nhận"]</span>
                                                            <div class="border-dashed border-1 border-secondary border-radius-md my-3"
                                                                 onclick="BrokerDetail_Sign()" style="height: 100px;">
                                                                <img id="BrokerSignContent" src="data:image/png;base64, " class="d-none" style="height: 100px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="BrokerDescip_Point" class="border-0 mt-2 p-3 mx-3 bg-gray-100 border-radius-lg d-none">
                                        <div>
                                            <div class="d-flex align-items-center">
                                                <span class="col-w-90 text-sm">@Local["Điểm tích lũy"]</span>
                                                <span id="brokert_point" class="fw-bold text-primary text-sm ms-4"></span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex align-items-center">
                                                <span class="col-w-90 text-sm">@Local["Người tạo"]</span>
                                                <span id="brokert_createdName" class="fw-bold text-dark text-sm ms-4"></span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex align-items-center">
                                                <span class="col-w-90 text-sm">@Local["Ngày tạo"]</span>
                                                <span id="brokert_createddate" class="fw-bold text-dark text-sm ms-4">
                                                </span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex align-items-center">
                                                <span class="col-w-90 text-sm">@Local["Nội dung"]</span>
                                                <span id="brokert_content" class="fw-bold text-dark text-sm ms-4">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex me-3 gap-2 justify-content-end">
                                        <button id="btnBrokerPrint" class="btn btn-info btn-sm mt-1 w-auto px-4 d-none"
                                                onclick="BrokerDetail_Print()">
                                            @Local["In"]
                                        </button>
                                        <button id="btnBrokerDelete" class="btn btn-danger btn-sm mt-1 d-none w-auto"
                                                onclick="BrokerDetail_Delete()">
                                            @Local["Xóa"]
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="BrokerDetailArea" class="row ps-4 pe-2 d-none">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var Payment_Broker_ID = 0;
    var Payment_Broker_Code = 0;
    var PersonBroker_ID = 0;
    var PersonBroker_State = 0;
    var PersonBroker_Type = 0;
    let DataUser;
    var BroCustomerDesti = 0;
    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                BrokerMaster_LoadList();
            }
        );
        ToolPopper();
    });
    //#region // Broker Master

    function BrokerMaster_LoadList () {
        AjaxLoad(url = "/Customer/Payment/PaymentList/PaymentList_Broker/?handler=LoadBrokerInfo"
            , data = {'CustomerID': ser_MainCustomerID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
                    let datas = JSON.parse(result);
                    let info = datas.Table;
                    let geninfo = datas.Table1;
                 
                    if (info && info.length > 0) {
                        $("#bro_infoarea").removeClass('d-none');
                        $("#BrokerContentArea").removeClass('d-none');
                        
                        PersonBroker_ID = info[0].BrokerID;
                        PersonBroker_State = info[0].State;
                        $("#name_broker").html(info[0].BrokerName);
                        $("#phone_broker").html(info[0].BrokerPhone);
                        $("#brokercus_code").html(info[0].MSKHBroker);
                        $("#brokercus_codeself").html(info[0].BrokerCode != "" ? info[0].BrokerCode :"#");
                        $("#bro_datecreated").html(GetDateTime_String_DMY(info[0].Created));
                        $("#bro_percreated").html(info[0].Created_By);
                        if (PersonBroker_State == 1) {
                            $('#btnBrokerAdd').removeClass('d-none');
                        }
                    }
                    if (geninfo && geninfo.length > 0) {
                        $("#num_devide").html(geninfo[0].NumDevide);
                        $("#amout_devided").html(formatNumber(geninfo[0].AmountDevide));
                        $("#point_devided").html(formatNumber(geninfo[0].PointDevided));
                    }

                }
            }
        );
        AjaxLoad(url = "/Customer/Payment/PaymentList/PaymentList_Broker/?handler=LoadDataBrokerList"
            , data = {'CustomerID': ser_MainCustomerID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    BrokerMaster_RenderList(data, 'divBrokerList');
                    BrokerMaster_Event();
                    if (data && data.length == 0) $("#BrokerDescip_Point").addClass('d-none');
                    $('#divBrokerList a:first').trigger('click');
                    $('#divBrokerList a:first').tab('show');
                }
            }
        );
    }
    function BrokerMaster_RenderList (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let current = '',pointamount='';
                    if (item.IsCurrent == 0) {
                        current = `<div class="d-flex align-items-center"><i class="fas fa-caret-right text-secondary px-2"></i> ${item.BrokerName}</div>`;
                    }
                    if (item.Type == 0) {
                        pointamount = `@Local["Số tiền"] : <b>${formatNumber(item.Amount)}</b>`;
                    }
                    else {
                        pointamount = `@Local["Điểm tích lũy"] : <b>${formatNumber(item.Point)}</b>`;
                    }
                    let tr =
                        `<li class="nav-item" >
                            <a id="BrokerDetail_ThirdAccount_${item.ID}"  class="text-sm px-1 item-menu nav-link cursor-pointer broker_item" data-id="${item.ID}" data-type="${item.Type}" data-customerDesti="${item.CustomerDesti}" data-code="${item.Code}" data-type="${item.AccountingVoucherType}" data-refid="${item.AccountingRefid}" data-isedit=" ${item.DeleteButton}" data-hover data-bs-toggle="tab">
                                <div class="mx-0 px-2">
                                    <div class="d-flex align-items-center">
                                         <h6 class="text-primary fw-bold">${item.Code != "" ? item.Code : "#"}</h6>
                                         <h6 class="ps-2">${GetDateTime_String_DMY(item.Created)}</h6>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="text-dark text-sm mb-0">${pointamount}</div>
                                        ${current}
                                    </div>
                                </div>
                            </a>
                            <hr class="horizontal dark my-0">
                        </li>
                        `
                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }

    }

    //#endregion
    //#region // Load Detail
    async function BrokerDetail_LoadList (CurrentID)  {
        new Promise((resolve, reject) => {
            AjaxLoad(url = "/Customer/Payment/PaymentList/PaymentList_Broker/?handler=LoadDataDetailList"
                , data = {'CurrentID': CurrentID, 'Type': PersonBroker_Type}
                , async = true
                , error = function () {notiError_SW()}
                , success = function (result) {
                     
                    if (result != "") {
                        let DataMain = JSON.parse(result);
                        if (DataMain) {
                             
                            if (PersonBroker_Type == 0) {
                                let DataPaid = DataMain.Table;
                                if (DataPaid.length == 1) {
                                    let SignValue = DataPaid[0].SignValue;
                                    if (SignValue != '') {
                                        $('#BrokerSignContent').attr('src', SignValue);
                                        $('#BrokerSignContent').removeClass('d-none');
                                    }
                                    else $('#BrokerSignContent').addClass('d-none');
                                    $('#Bdes_CreatedDate').html(GetDateTime_String_DMYHMSS(DataPaid[0].Created));
                                    $('#Bdes_CreatedName').html(DataPaid[0].CreatedName);
                                    $('#Bdes_Code').html(DataPaid[0].Code != "" ? DataPaid[0].Code : "#");
                                    $('#Bdes_TotalAmount').html(formatNumber(DataPaid[0].Amount));
                                    let Data_Detail = DataMain.Table1;
                                    BrokerDetail_RenderList(Data_Detail, "dtBrokerDetailBody");
                                    $('#BrokerContentArea').removeClass('d-none');
                                }
                            }
                            else {
                                let datapoint = DataMain.Table;
                                if (datapoint.length == 1) {
                                    $('#brokert_point').html(formatNumber(datapoint[0].Point));
                                    $('#brokert_createddate').html(GetDateTime_String_DMYHMSS(datapoint[0].Created));
                                    $('#brokert_createdName').html(datapoint[0].CreatedName);
                                    $('#brokert_content').html(datapoint[0].Content);
                                    $('#BrokerContentArea').removeClass('d-none');
                                }
                            }
                        } else {
                            notiError_SW();
                        }
                    }
                }
            )
            resolve();
        })
    }
    function BrokerDetail_RenderList (dataDetail, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            if (dataDetail.length != 0) {
                let stringcontent = '';
                for (let i = 0; i < dataDetail.length; i++) {
                    let item = dataDetail[i];
                    let tr = `<td  class="vt-number-order"></td>
                            <td> ${item.TabName} </td>
                            <td> ${formatNumber(item.Price)} </td>
                            <td> ${GetDateTime_String_DMY(item.DateExcuted)} </td>
                            <td> ${formatNumber(item.AmountExcuted)} </td>
                            <td> ${GetDateTime_String_DMY(item.SerCreated)} </td>`
                    stringcontent = stringcontent + `<tr class="vt-number"> ${tr} </tr>`;

                }
                document.getElementById(id).innerHTML = stringcontent;
            }
        }
    }

    //#endregion
    //#region // Event
    function BrokerMaster_Event () {
        $("#brokercus_edit").click(function () {
 
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load("/Broker/BrokerDetail?BrokerID=" + PersonBroker_ID + "&ver=" + versionofWebApplication);
            $('#DetailModal').modal('show');
            return false;
        })

        $('#divBrokerList .broker_item').unbind('click').click(function () {
            let ID = Number($(this).attr("data-id"));
            BroCustomerDesti = Number($(this).attr("data-customerDesti"));
            PersonBroker_Type = Number($(this).attr("data-type"));
            let isedit = Number($(this).attr("data-isedit"));
            $(this).addClass("active").siblings().removeClass("active");
            Payment_Broker_ID = ID;
            Payment_Broker_Code = $(this).attr('data-code');
            BrokerDetail_LoadList(ID); 
            if(Payment_Broker_ID != 0) $("#btnBrokerPrint").removeClass('d-none');
            if (isedit == 1) {
                $('#btnBrokerDelete').removeClass('d-none');
                $('#btnBrokerSign').removeClass('d-none');
            }
            else {
                $('#btnBrokerDelete').addClass('d-none');
                $('#btnBrokerSign').addClass('d-none');
            }
            if (PersonBroker_Type == 0) {
                $("#BrokerDescip_Amount").removeClass('d-none');
                $("#BrokerDescip_Point").addClass('d-none');
            }
            else {
                $("#BrokerDescip_Point").removeClass('d-none');
                $("#BrokerDescip_Amount").addClass('d-none')
                $('#btnBrokerSign').addClass('d-none');
            }
        });
    }
    function BrokerDetail_Delete () {
        const promise = notiConfirm();
        promise.then(function () {BrokerDetail_DeleteExecute(Payment_Broker_ID);}, function () { });
    }
    function BrokerDetail_DeleteExecute (id) {
        AjaxLoad(url = "/Customer/Payment/PaymentList/PaymentList_Broker/?handler=DeleteItemBroker"
            , data = {'id': id, 'Type': PersonBroker_Type}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    if (typeof BrokerDetail_DelThirdAccounting === 'function') BrokerDetail_DelThirdAccounting(id);
                    BrokerMaster_LoadList();
                } else {
                    notiError_SW();
                }
            }
        );
    }
    function BrokerDetail_Sign () {
        Signature_Executed_Broker(Payment_Broker_ID);
    }
    async function Signature_Executed_Broker (id) {
        await Signature_Action();
        if (Signature_ResultSignation != "") {
            AjaxLoad(url = "/Customer/Payment/PaymentList/PaymentList_Broker/?handler=UpdateSign_Broker"
                , data = {'id': id, 'sign': Signature_ResultSignation}
                , async = true
                , error = function () {notiError_SW()}
                , success = function (result) {
                    if (result == "1") {
                        BrokerDetail_LoadList(id);
                    }
                }
            );
        }
    }

    //#region //ThirdAccount Delete
    function BrokerDetail_DelThirdAccounting (id) {
        if (typeof syn_Accountbrand != 'undefined' && syn_Accountbrand && syn_Accountbrand != "") {
            APIAccount_Excute(id, 8, action = "del"
                , beforefunc = function () { }
                , successfunc = function (e) {}
                , failfunc = function (message) {
                    notiWarning(message)
                }
                , completefunc = function () { }
            );
        }
    }
    //#endregion
    function BrokerDetail_Add () {
        $("#BrokerMasterArea").addClass('d-none');
        $("#BrokerDetailArea").removeClass('d-none');
        $("#BrokerDetailArea").empty();
        $("#BrokerDetailArea").load("/Customer/Payment/PaymentBrokerDetail?CustomerID=" + ser_MainCustomerID + "&BrokerID=" + PersonBroker_ID + "&ver=" + versionofWebApplication);
    }
    function BrokerDetail_Cancel () {
        $("#BrokerMasterArea").removeClass('d-none');
        $("#BrokerDetailArea").addClass('d-none');
        $("#BrokerDetailArea").empty();

    }
    function BrokerDetail_Print() {
        syslog_cutcon('p', ser_MainCustomerID, Payment_Broker_Code);
        let ID = Number(Payment_Broker_ID);
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load('/Print/print?Type=broker_commission&DetailID=' + ID);
        $('#DetailModal').modal('show');
    }


    //#endregion

</script>

