@page
@model MLunarCoffee.Pages.Customer.Payment.PaymentList.PaymentList_CommissionCardModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-0 px-0">
    <div class="row">
        <div class="col-12">
            <div class="card card-plain" id="Div_Payment_List_CommissionCard_Master">
                <div class="card-header py-0">
                    <div class="d-lg-flex">
                        <ul class="nav nav-pills p-1 bg-transparent permissionlist" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer" data-bs-toggle="collapse" href="#dtContentCommissionCardinfodes">
                                    <i class="text-gradient  text-lg text-primary fas fa-info-circle"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="ms-auto my-auto mt-1">
                            <button  class="_tab_control_ btn bg-gradient-primary btn-sm mt-1" data-tab="add_tab_payment_com_card"
                                    onclick="addNewCommissionCardMulti()">
                                @Local["Thêm mới"]
                                </button>
                            <div class="position-relative d-inline">
                                <button  class="btn btn-dark btn-sm mt-1 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                                    @Local["Xem thêm"]
                                </button>
                                <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                                    <ul class="card card-body text-dark text-capitalize opacity-10">
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="branch" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Chi nhánh"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="createdname" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Thông tin tạo"]</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dtContentCommissionCardinfodes" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark ms-1 mb-2 mt-2 multi-collapse collapse">
                        <h6 class="mb-0">@Local["Quy định chỉnh sửa"]</h6>
                        <p class="text-sm mb-0">@Local["Xóa trong ngày. Chỉ người tạo mới được quyền xóa"]</p>
                    </div>
                </div>
                <div class="card-body pt-2 position-relative">
                    <div class="m-0 mb-3 mobile-responsive" style="max-height: 80vh;">
                        <div id="payment_list_commission_card_waiting" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table data-name="ContentCommissionCard" class="table vt-table mb-0" id="dtContentCommissionCard">
                            <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th style="width: 25px;">@Local["#"]</th>
                                    <th>@Local["Hoa hồng"]</th>
                                    <th>@Local["Dịch vụ"]</th>
                                    <th data-name="branch">@Local["Chi nhánh"]</th>
                                    <th data-name="createdname">@Local["Thông tin tạo"]</th>
                                    <th style="width: 70px;">@Local["Xóa"]</th>

                                </tr>
                            </thead>
                            <tbody id="dtContentCommissionCardBody">
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btnsysmore btn-secondary w-100 p-1" onclick="LoadCardCommissionAjax(1)">@Local["Xem thêm"]</button>
                </div>
            </div>
            <div id="Div_Payment_List_CommissionCard_Detail">
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    var DataCommissionEmployee = [];
    var DataUser;
    var DataEmployee;
    let shtable;
    let limit = 200;
    let BeginID = 0;

    $(document).ready(function () {
        shtable = $("#dtContentCommissionCard").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });

        Master_IndexDB_Reads(_Session_Data, [_Session_User, _Session_Employee]
            , function (data) {
                DataUser = data[0];
                DataEmployee = data[1];
                LoadCardCommissionAjax();
            })

        $('#dtContentCommissionCard tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            DeleteCommissionCard(ID)
        });
    });
    function LoadCardCommissionAjax (isLoadmore = 0) {
        if (isLoadmore == 0) {
            BeginID = 0;
            $("#dtContentCommissionCardBody").empty();
        }

        AjaxLoad(url = "/Customer/Payment/PaymentList/PaymentList_CommissionCard/?handler=LoadataTabCommissionCard"
            , data = {
                'CustomerID': ser_MainCustomerID
                , 'Limit': limit
                , 'BeginID': BeginID
            }
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    BeginID = Number(data[data.length - 1].ID);
                    RenderTableCommissionCard(data, 'dtContentCommissionCardBody');
                }
            }
            , sender = null
            , before = function () {
                $("#payment_list_commission_card_waiting").show();
            }
            , complete = function (e) {
                $("#payment_list_commission_card_waiting").hide();
            }
        );
    }

    function RenderTableCommissionCard (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            //myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];

                    let tr = '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>'
                        + '<ul class="p-0 row m-0">'
                        + RenderTableCommissionEmployee(item.EmpID, item.Commission)
                        + RenderTableCommissionEmployee(item.EmpID1, item.Commission1)
                        + RenderTableCommissionEmployee(item.EmpID2, item.Commission2)
                        + '</ul>'
                        + '</td>'
                        + '<td >' + item.ServiceName + '</td>'
                        + '<td data-name="branch">' + item.BranchName + '</td>'
                        + '<td data-name="createdname">' + RenderTableCommissionCreated(item.CreatedBy, item.CreatedDate) + '</td>'
                        //+ '<td data-name="date">' + GetDateTime_String_DMY(item.CreatedDate) + '</td>'
                        + '<td>'
                        + Render_Button_Grid(
                            [(item.DeleteButton == 1) ? '<button class="buttonGrid" value="'
                                + item.ID
                                + '"><i  class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>' : ''
                            ])
                        + '</td>';
                    stringContent = '<tr role="row" id="commission_tab_' + item.ID + '" data-type="' + item.Type + '" class="vt-number row_commission">' + tr + '</tr>';
                    myNode.insertAdjacentHTML('beforeend', stringContent);
                }
            }
            //document.getElementById(id).innerHTML = stringContent;
        }

        TabCommission_EventRender();
    }

    function RenderTableCommissionCreated (UserID, Date) {
        try {
            let result = "";
            let obj = Fun_GetObject_ByID(DataUser, UserID);
            let name = (obj != null) ? obj.Name : 'unknown';
            let img = (obj != null && obj.Avatar != "") ? obj.Avatar : Master_Default_Pic;

            result =
                '<div class="d-flex align-items-center">'
            + '<img class="avatar avatar-xs me-2" src="' + img + '" alt="label-image" />'
            + '<div class="flex-column">'
            + '<h6 class="text-sm mb-0">' + name + '</h6>'
            + '<span class="text-xs mb-0">' + GetDateTime_String_DMY(Date) + '</span>'
            + '</div>'
            + '</div>'

            return result;
        }
        catch {
            return "";
        }
    }
    function RenderTableCommissionEmployee (EmpID, Commission) {
        try {
            let result = "";
            if (EmpID != 0) {
                let obj = Fun_GetObject_ByID(DataEmployee, EmpID);
                let name = (obj != null) ? obj.Name : 'unknown';
                let img = (obj != null && obj.Avatar != "") ? obj.Avatar : Master_Default_Pic;
                result = '<div class="col-4 p-1">'
                    + '<div class="d-flex">'
                    + '<div class="d-flex align-items-center">'
                    + '<img class="icon icon-shape icon-sm me-2 bg-gradient-dark shadow text-center" src="' + img + '">'
                    + '<div class="d-flex flex-column">'
                    + '<h6 class="mb-0 text-dark text-sm">' + formatNumber(Commission) + '</h6>'
                    + '<span class="text-xs">' + name + '</span>'
                    + '</div>'
                    + '</div>'
                    + '</div>'
                    + '</div>';
            }
            return result;
        }
        catch {
            return "";
        }
    }

    function TabCommission_EventRender () {
        $(".hoverpopup").popup({
            transition: "scale up",
            position: "top right"
        });
        shtable.Refresh();
    }

    function DeleteCommissionCard (id) {
        const promise = notiConfirm();
        promise.then(function () {ExecuteDeleteCommissionCard(id);}, function () { });
    }
    function ExecuteDeleteCommissionCard (id) {
        AjaxLoad(url = "/Customer/Payment/PaymentList/PaymentList_CommissionCard/?handler=DeleteItemCommissionCard"
            , data = {'id': id}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    LoadCardCommissionAjax();
                } else {
                    notiError_SW();
                }
            }

        );
    }
    function addNewCommissionCardMulti () {
        $("#Div_Payment_List_CommissionCard_Master").css("display", "none");
        $("#Div_Payment_List_CommissionCard_Detail").css("display", "block");
        $("#Div_Payment_List_CommissionCard_Detail").empty();
        $("#Div_Payment_List_CommissionCard_Detail").load("/Customer/Payment/CommissionCardMulti?CustomerID=" + ser_MainCustomerID + "&ver=" + versionofWebApplication);
    }

    function Cancel_Commission_Card_Detail () {
        $("#Div_Payment_List_CommissionCard_Detail").empty();
        $("#Div_Payment_List_CommissionCard_Master").show();
    }


</script>

