@page
@model MLunarCoffee.Pages.Labo.Setting.Dimension.SettingDimensionListModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0 pt-2">
                <div class="left">
                    <h6 class="mb-0">@Local["Kích thước labo"]</h6>
                    <p class="text-sm mb-0">@Local["Danh sách kích thước labo"]</p>
                </div>
                <div class="right">
                    <button class="btn bg-gradient-primary btn-sm mt-1" onclick="SDimension_New();">@Local["Thêm mới"]</button>
                </div>               
            </div>
            <div class="card-body pt-2">
                <div class="m-0 mobile-responsive">
                    <table data-name="" class="table vt-table mb-0" id="">
                        <thead>
                            <tr>
                                <th class="d-none">ID</th>
                                <th style="width:40px;">#</th>
                                <th>@Local["Tên"]</th>
                                <th style="width:40px;">@Local["Xóa"]</th>
                            </tr>
                        </thead>
                        <tbody id="SD_BodyDimension">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        SDimension_Load();
    })

    //#region //Load
    function SDimension_Load () {
        AjaxLoad(url = "/Labo/Setting/Dimension/SettingDimensionList/?handler=LoadData"
            , data = {}
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    SDimension_Render(data, "SD_BodyDimension");
                }
            }
        )
    }
    //#endregion


    //#region //Render
    async function SDimension_Render (data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                let myNode = document.getElementById(id);
                if (myNode != null) {
                    myNode.innerHTML = '';
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = `
                                <td class="d-none">${item.ID}</td>
                                <td class="vt-number-order"></td>
                                <td><span class="border-bottom text-primary border-primary cursor-pointer btnEdit">${item.Name}</span></td>
                                <td class="text-center">
                                    <button class="buttonGrid">
                                        <i class="btnDelete vtt-icon vttech-icon-delete"></i>
                                    </button>
                                </td>
                            `
                            tr = `<tr role="row" class="vt-number">${tr}</tr>`
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                    SDimension_Event();
                    resolve();
                }
            }, 100)
        })
    }

    //#endregion

    //#region //Event

    function SDimension_Event () {
        $('#SD_BodyDimension .btnEdit').unbind('click').click(function () {
            let ID = Number($(this).closest('tr').children()[0].innerHTML);
            SDimension_Edit(ID);
        });
        $('#SD_BodyDimension .btnDelete').unbind('click').click(function () {
            let ID = Number($(this).closest('tr').children()[0].innerHTML);
            SDimension_Delete(ID);
        });
    }

    //#endregion

    //#region //Delete

    function SDimension_Delete (ID) {
        const promise = notiConfirm();
        promise.then(function () {SDimension_DeleteExecuted(ID);}, function () { });
    }

    function SDimension_DeleteExecuted (ID) {
        AjaxLoad(url = "/Labo/Setting/Dimension/SettingDimensionList/?handler=Delete"
            , data = {
                "CurrentID": ID
            }, async = false, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SDimension_Load();
                } else {
                    notiError_SW();
                }
            }
        );
    }

    //#endregion

    //#region //Detail

    function SDimension_New () {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Labo/Setting/Dimension/SettingDimensionDetail?CurrentID=" + 0 + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function SDimension_Edit (ID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Labo/Setting/Dimension/SettingDimensionDetail?CurrentID=" + ID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    //#endregion
</script>