@using LunarCoffee.Common
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />
    <link href="~/Content/assets/styles/footer.css" rel="stylesheet" />
    <link href="~/Content/assets/styles/searchbar.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="description" content="@ViewBag.SeoDescription" />
    <meta name="keywords" itemprop="keywords" content="@ViewBag.SeoKeyWord" />
    @*<meta name="news_keywords" content="@ViewBag.SeoKeyWord" />*@
    <link rel="canonical" href="https://www.ten_mien_cua_cac_ban/" />
    <meta name="robots" content="index,follow,noodp" />
    <meta name="robots" content="noarchive">
    <meta property="og:site_name" content="Bán hàng online" />
    <meta property="og:type" content="Website" />
    <meta property="og:locale" content="vi_VN" />
    @*<meta property="fb:app_id" content="232505114857147" />*@
    @*<meta property="fb:pages" content="1128104117285467" />*@
    <meta property="og:title" itemprop="name" content="@ViewBag.Title" />
    <meta property="og:url" itemprop="url" content="https://www.ten_mien_cua_cac_ban/" />
    <meta property="og:description" content="@ViewBag.SeoDescription" />
    <meta content="https://cdn.24h.com.vn/upload/2-2018/images/2018-06-14/logo-chan-trang-24h.png" property="og:image" itemprop="thumbnailUrl" />
    <!--script_breadcrum-->
    @*@RenderSection("css", required: false)*@
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/responsive.css">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="super_container">
        </div>

        <!-- Header -->

        <header class="header trans_300">

            <!-- Top Navigation -->

            <div class="top_nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top_nav_left" style="margin-top:4px;">Hotline: 0939 239 102</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="top_nav_right">
                                <ul class="top_nav_menu">
                                    <!--Search Bar-->
                                    <li >
                                        @using (Html.BeginForm("index", "Products", FormMethod.Get, new { }))
                                        {
                                            <div class="input-group input-group-sm" style="margin-top:9px; margin-left:111px; ">
                                                @Html.TextBox("SearchText")
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-info btn-flat" style="font-size: 13px;background-color: #2f3e41;border-color: #2f3e41;">Tìm kiếm</button>
                                                </span>
                                            </div>
                                        }
                                    </li>
                                    @*<li>
                                        @using (Html.BeginForm("index", "Products", FormMethod.Get, new { }))
                                        {
                                            <input class="stext" type="text" name="q" placeholder="Tìm kiếm sản phẩm..." style="margin-left: 98px; font-size: 13px;">
                                            <a class="sbutton" type="submit" href="javascript:void(0);">
                                                <i class="fa fa-search" style="margin-left: 114px; margin-top: 18px;"></i>
                                            </a>
                                        }
                                    </li>*@
                                    <!-- My Account -->
                                    <li class="account" style="margin-top:-55px">
                                        @if (!Request.IsAuthenticated)
                                        {
                                            <a href="#" >
                                                Tài khoản của tôi
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                                                <li><a href="/account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <a href="#">
                                                Welcome: @User.Identity.Name
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a href="/"><i class="fa fa-sign-in" aria-hidden="true"></i>Profile</a></li>
                                                <li><a href="javascript:document.getElementById('logOffForm').submit()"><i class="fa fa-user-plus" aria-hidden="true"></i> Lohout</a></li>
                                            </ul>
                                        }

                                    </li>
                                </ul>

                                @if (Request.IsAuthenticated)
                                {
                                    <div style="display:none">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
                                        {
                                            @Html.AntiForgeryToken()}
                                    </div>}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Main Navigation -->

            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a href="/">Lunar<span>&nbsp;Coffee</span></a>
                            </div>
                            <nav class="navbar">
                                @Html.Action("MenuTop", "Menu")
                                <ul class="navbar_user">
                                    <li class="checkout">
                                        <a href="/gio-hang">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span id="checkout_items" class="checkout_items">0</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        @RenderBody()
        <!-- Footer -->

<footer id="footer">
    <div>
        <div class="cr_footer" style="display: flex; justify-content: space-between;">
            <div class="title_footer" style="margin-left:89px; font-size: 21px; line-height: 41px;">
                Giới thiệu
                <p style="width: 296px;text-align: justify;font-family: system-ui;font-size: 15px;color: #989898">
                    Chào mừng bạn đến với LunarCoffee, nơi chúng tôi tự hào cung cấp những hạt cà phê tươi ngon và 
                    độc đáo nhất. Bạn có thể mua về những hạt cà phê chất lượng từ chúng tôi để tự thưởng thức
                    tại nhà, để ngày mới bắt đầu với một tách cà phê thơm ngon hoặc để làm quà tặng cho người
                    thân yêu.
                </p>
            </div>
            <div class="title_footer" style="margin-left:71px; font-size: 21px; line-height: 41px;">
                Thông tin
                <p style="width: 400px;font-family: system-ui;font-size: 15px;color: #989898">
                    - Hotline: 0939 239 102<br />
                    - Email: LunarCoffee@gmail.com<br />
                    - Địa chỉ: 740 Trường Chinh, Tây Thạnh,<br /> Quận Tân Bình, Thành Phố Hồ Chí Minh.<br />
                </p>
            </div>
            <div class="title_footer" style="margin-left:-57px; font-size: 21px; line-height: 41px;">
                Các chính sách của cửa hàng
                <p style="width: 400px;font-family: system-ui;font-size: 15px;color: #989898">
                    - Chính sách giao hàng<br />
                    - Chính sách bảo mật<br />
                    - Chính sách giao hàng, bảo mật<br />
                </p>
            </div>
        </div>
        <div class="cr">©2023 All Rights Reserverd Made With <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Lunar</a> &amp;<a href="#">Coffee</div>
    </div>
    @*<div class="rows_infor">
            <div class="content footer_mobile-fs15 content_after">
                <div class="content_header">
                    Về chúng tôi
                </div>
                <div class="content_text">
                    <p class="text">
                        Nếu bạn đang tìm kiếm một trang website đặt hoa online giao tận nơi thì La Fleur De Marie
                        là một sự lựa chọn tuyệt vời dành cho bạn. Tại La Fleur De Marie, bạn có thể dễ dàng lựa chọn một mẫu hoa đẹp,
                        ý nghĩa giữa hàng trăm mẫu hoa được thiết kế sẵn để gửi tặng người thân, bạn bè, đối tác trong tất cả các dịp đặc biệt trong năm hay trong những sự kiện như:
                        khai trương, sinh nhật, lễ cưới,....
                    </p>
                </div>
            </div>
            <div class="content footer_mobile-fs15">
                <div class="content_header">
                    Liên hệ
                </div>
                <div class="content_text" style="margin-left:50px;">
                    <p class="text">Hotline: 0939 239 102</p>
                    <p class="text">Email: thuyvy2309608@gmail.com</p>
                    <p class="text">Địa chỉ: 740 Trường Chinh, phường 15, quận Tân Bình, TPHCM</p>
                </div>
            </div>
            <div class="content footer_mobile-fs15">
                <div class="content_header" style="margin-left:50px;">
                    Thông tin
                </div>
                <div class="content_text" style="margin-left:50px;">
                    <p class="text">Chính sách mua hàng</p>
                    <p class="text">Chính sách bảo mật</p>
                    <p class="text">Chính sách giao hàng - đổi trả</p>
                </div>
            </div>
        </div>*@

</footer>

        <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
        <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
        <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
        <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="~/Content/assets/plugins/easing/easing.js"></script>
        <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="~/Content/assets/js/custom.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script>
            var owl = $('.fotter_carou');
            owl.owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true
            });
           
        </script>

        @*@Scripts.Render("~/bundles/bootstrap")*@
        <script src="~/Scripts/jsShopping.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
