@page
@model MLunarCoffee.Pages.Setting.Insurance.InsuranceDetailModel
@{
    Layout = null;
}
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Bảo hiểm"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết bảo hiểm"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px form3" id="formInsurance">
                        <div class="d-lg-flex">
                            <div class="col-w-300 mt-1">
                                <div class="">
                                    <div class="accordion">
                                        <div>
                                            <button class="accordion-button p-2 px-0 collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#Ins_CollapseNoteImg" aria-expanded="true" aria-controls="Ins_CollapseNoteImg">
                                                <h6 class="text-primary text-sm font-weight-bold mb-0">@Local["Hình ảnh"]</h6>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pe-2">
                                        <div id="Ins_CollapseNoteImg" class="collapse hide collapsesticky">
                                            <p class="text-dark text-sm fw-bold mb-1">
                                                @Local["Hướng dẫn"]:
                                                <span class="text-dark text-sm text-normal ms-2">  @Local["Vui lòng upload hình ảnh đúng kích thước"]</span>
                                            </p>
                                            <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                                @Local["Kích thước"]:
                                                <span class="text-dark text-sm text-normal ms-2">110 x 110 px</span>
                                            </p>
                                            <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                                @Local["Hình minh họa"]:
                                            </p>
                                            <div class="d-block avatar avatar-xxl position-relative mb-2">
                                                <a href="/Image/Illustration/bao-hiem.png" target="_blank">
                                                    <img src="/Image/Illustration/bao-hiem.png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mt-1">
                                            <div class="row m-0">
                                                <div class="col-auto px-0 position-relative">
                                                    <img id="Insurance_DetailImage" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                    <div class="upload-container" id="Insurance_btnUpload">
                                                        <i class="fas fa-camera fs-3"></i>
                                                        <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="Insurance_Fileup_LoadImage" accept="image/*" type="file" name="files[]" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div class="ms-2">
                                    <div class="row px-1">
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Bảo hiểm"]</label>
                                            <input id="InsuranceName" name="name" class="form-control" type="text" placeholder="eg .@Local["Bảo hiểm"]" />
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Người đại diện"]</label>
                                            <input id="InsurancePerson" name="RelationshipPerson" class="form-control" type="text" placeholder="eg .@Local["Người đại diện"]" />
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Điện thoại"]</label>
                                            <input id="InsurancePhone" name="phone" class="form-control" type="text" placeholder="eg .@Local["Điện thoại"]" />
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Địa chỉ"]</label>
                                            <input id="InsuranceAddress" name="CompanyAddress" class="form-control" type="text" placeholder="eg .@Local["Địa chỉ"]" />
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Ngày đăng ký bảo hiểm"]</label>
                                            <input id="Insurance_SigningTime" name="date" class="form-control flatpickr" placeholder="eg .@Local["Ngày đăng ký bảo hiểm"]" />
                                        </div>
                                        <div class="field col-12 col-md-6 p-1">
                                            <label>@Local["Trạng thái"]</label>
                                            <div class="ui fluid search selection dropdown form-control" name="name" id="Insurance_Status">
                                                <input type="hidden" name="statusType" />
                                                <i class="dropdown icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text"></div>
                                                <div class="menu" tabindex="-1">
                                                    <div class="item" data-value="1">
                                                        <span>@Local["Hoạt động"]</span>
                                                    </div>
                                                    <div class="item" data-value="2">
                                                        <span>@Local["Không hoạt động"]</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-2 form3" id="formInsurance">
                        <div class="row d-lg-flex">
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["Liên kết tệp"]</label>
                                <input id="Insurance_LinkFile" name="" class="form-control" placeholder="eg .@Local["Liên kết tệp"]" />
                            </div>
                            <div class="field col-12 col-md-6 p-3">
                                <label></label>
                                <button class="btn btn-dark btn-xl mt-3" onclick="event.preventDefault();Insurance_UploadFile()">@Local["Tải"]</button>
                            </div>
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Ghi chú"]</label>
                            <textarea id="Insurance_Note" name="content" rows="3" class="form-control" placeholder="eg .@Local["Ghi chú"]" />
                        </div>
                    </div>
                    <div class="field pt-2" id="Insurance_frame_warranty">
                        <div class="field col-12 border-radius-md border-dashed border-1 border-info p-3 col-auto my-auto justify-content-center align-items-center d-flex">
                            <div id="loaderCustomerDetail" class="me-2">
                                <div class="ui active inverted dimmer">
                                    <div class="spinner-border text-info" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Không có tài liệu"].</h6>
                                <p class="text-sm mb-0">@Local["Liên kết tệp"] (PDF).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formInsurance" onclick="event.preventDefault();CloseModal()">@Local["Hủy"]</button>
                        <button form="formInsurance" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();Insurance_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ser_SourceDetailID;
    var urlImage = "/Api/Upload/Upload?Type=SystemImage";
    var Insurance_ImageString = Master_Default_Pic;
    let Insurance_Sys_Image;
    $(document).ready(function () {
        $("#Insurance_Status").dropdown("set selected", 1);
        $('#Insurance_DetailImage').attr('src', Insurance_ImageString);
        Insurance_Sys_Image = {
            size: 102400,
            width: 110,
            height: 110,
            format: ['jpg', 'png', 'jpeg']
        }
        $('#Insurance_LimitImageNote').html(`${Insurance_Sys_Image.width} x ${Insurance_Sys_Image.height} px, ${(Insurance_Sys_Image.size / 1024)}KB`);
        Insurance_EventUploadImage();
        AjaxLoad(url = "/Setting/PatientRecord/PatientRecordImageDetail/?handler=LoadComboMain"
            , data = {}
            , async = true, error = null
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    Load_Combo(data, 'cbbFormPatientRecord', true);
                    Insurance_LoadUpdate;
                }
            });
        $("#Insurance_SigningTime").flatpickr({
            defaultDate: "today",
            dateFormat: "d-m-Y"
        });
        ser_SourceDetailID = "@Model._DataDetailID";
        if (ser_SourceDetailID != "0") Insurance_LoadUpdate();
        Checking_TabControl_Permission();
    });
    function Insurance_LoadUpdate() {
        AjaxLoad(url = "/Setting/Insurance/InsuranceDetail/?handler=Loadata"
            , data = {
                id: ser_SourceDetailID
            }, async = true, error = null
            , success = function (result) {
                let dataInsurance = JSON.parse(result);
                $('#InsuranceName').val((dataInsurance[0].Name));
                $('#InsurancePerson').val((dataInsurance[0].Person));
                $('#InsurancePhone').val((dataInsurance[0].Phone));
                $('#InsuranceAddress').val((dataInsurance[0].Address));
                $('#Insurance_Note').val((dataInsurance[0].Note));
                $('#Insurance_LinkFile').val((dataInsurance[0].LinkFile));
                $("#Insurance_Status").dropdown("refresh");
                $("#Insurance_Status").dropdown("set selected", Number(dataInsurance[0].Status));
                Insurance_ImageString = dataInsurance[0].Image || Master_Default_Pic;
                $('#Insurance_DetailImage').attr('src', Insurance_ImageString);
                $('#Insurance_SigningTime').val(((dataInsurance[0].SigningTime)));
                Insurance_UploadFile();
            });
    }
    async function Insurance_ExcuteData() {
        let data = new Object();
        let Image = $("#Insurance_Fileup_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'Insurance_Fileup_LoadImage') : Insurance_ImageString;
        data.Name = $('#InsuranceName').val() ? $('#InsuranceName').val() : "";
        data.Image = Image;
        data.Person = $('#InsurancePerson').val() ? $('#InsurancePerson').val() : "";
        data.Phone = $('#InsurancePhone').val() ? $('#InsurancePhone').val() : "";
        data.Address = $('#InsuranceAddress').val() ? $('#InsuranceAddress').val() : "";
        data.SigningTime = $('#Insurance_SigningTime').val() ? $('#Insurance_SigningTime').val() : new Date();
        data.LinkFile = $('#Insurance_LinkFile').val() ? $('#Insurance_LinkFile').val() : "";
        data.Status = Number($('#Insurance_Status').dropdown('get value')) ? Number($('#Insurance_Status').dropdown('get value')) : 1;
        data.Note = $('#Insurance_Note').val() ? $('#Insurance_Note').val() : "";
        $('#formInsurance').form('validate form');
        if ($('#formInsurance').form('is valid')) {
            AjaxLoad(url = "/Setting/Insurance/InsuranceDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_SourceDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        InsuranceLoadAjax();
                        CloseModal();

                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
    function Insurance_UploadFile() {
        let link_warranty = $('#Insurance_LinkFile').val() ? $('#Insurance_LinkFile').val() : '';
        if (link_warranty != '') {
            document.getElementById('Insurance_frame_warranty').innerHTML = '<iframe src="' + link_warranty + '" width="100%" height="500px"></iframe>';
        }
    }

    function Insurance_EventUploadImage() {
        UploadImage({
            inputFile: 'Insurance_Fileup_LoadImage'
            , btnInput: 'Insurance_btnUpload'
            , avatar: 'Insurance_DetailImage'
            , condition: Insurance_Sys_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }
</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>
