@page
@model MLunarCoffee.Pages.Setting.StatusCustomer.CustomerCareGroupStatusDetailModel
@{
    Layout = null;
}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Nhóm trạng thái"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết nhóm trạng thái"]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formCustomerCareGroup">
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Tên nhóm trạng thái"]</label>
                            <input id="CC_StatusName" class="form-control" name="name" type="text" />
                        </div>
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Mã màu"]</label>
                            <input id="CC_StatusColor" name="fillCode" type="text" class="form-control" />
                        </div>
                        <div class="field col-12 col-sm-6 p-1 pt-3 d-lg-flex">
                            <div class="form-check ps-0 d-flex ps-1">
                                <input class="form-check-input ms-0" type="checkbox" id="CC_IsChooseEmp">
                                <label class="form-check-label pt-1 fw-bold ps-1" for="CC_IsChooseEmp">@Local["Chọn nhân viên"]</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formCustomerCareGroup" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="formCustomerCareGroup" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer"
                                onclick="event.preventDefault();return CC_Execute()">
                            @Local["Lưu"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ser_CurrentID = "@Model._CurrentID";
    var ser_TypeGroupStatusID = "@Model._TypeStatusID";
    $(document).ready(function () {
        $("#CC_StatusColor").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            showInput: true,
            color: '#ffffff',
            palette: [
                ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
            ]
        });
        CC_LoadUpdate();
    })
    function CC_LoadUpdate() {
        if (ser_CurrentID != "0") {
            AjaxLoad(url = "/Setting/StatusCustomer/CustomerCareGroupStatusDetail/?handler=Loadata"
                , data = { id: ser_CurrentID }
                , async = true
                , error = null
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data.length > 0) {
                        $("#CC_StatusName").val(data[0].Name);
                        $("#CC_StatusColor").spectrum("set", data[0].ColorCode);
                        $("#CC_IsChooseEmp").prop("checked", data[0].IsChooseEmp == 1)
                    }
                });
        }

    }
    function CC_Execute() {
        var data = new Object();
        data.StatusName = $('#CC_StatusName').val() ? $('#CC_StatusName').val() : "";
        data.ColorCode = $("#CC_StatusColor").spectrum('get').toHexString();
        data.IsChooseEmp = $("#CC_IsChooseEmp").is(":checked") ? 1 : 0;
        $('#formCustomerCareGroup').form('validate form');
        if ($('#formCustomerCareGroup').form('is valid')) {
            AjaxLoad(url = "/Setting/StatusCustomer/CustomerCareGroupStatusDetail/?handler=ExcuteDataStatusParent"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_CurrentID,
                    TypeStatusID: ser_TypeGroupStatusID
                }
                , async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        SettingStatus_Load();
                        $('#DetailModal').modal('hide');
                        $("#DetailModal_Content").html('');
                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
</script>
<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>

<style>
    .sp-replacer {
        display: block !IMPORTANT;
        width: 100% !IMPORTANT;
        padding: 0.5rem 0.75rem !IMPORTANT;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #495057 !important;
        background-color: #fff !IMPORTANT;
        background-clip: padding-box !important;
        border: 1px solid #d2d6da !IMPORTANT;
        height: auto !important;
        border-radius: 0.5rem;
        transition: box-shadow 0.15s ease, border-color 0.15s ease;
    }
</style>