@page
@model MLunarCoffee.Pages.Facebook.Settings.FaceBookTag.FaceBookTagList.FaceBookTagListModel
@{
    Layout = null;
}

<div class="container-fluid py-2 px-0">
    <div class="row">
        <div class="col-12">
            <div class="py-3 px-2">
                <div class="pb-0 mt-1">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Quản lí nhãn facebook"]</h6>
                                <p class="text-sm mb-0">@Local["Danh sách"]</p>
                            </div>                           
                        </div>
                         <div class="ms-auto my-auto">
                            <button class="btn bg-gradient-primary btn-sm mt-1" data-value="fade up" onclick="return fbtag_AddNew()">
                                @Local["Thêm mới"]
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pt-2">
                    <div class=" m-0 my-3 mobile-responsive">
                        <table id="fbtag_dtListTag" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th style="width:40px;">@Local["#"]</th>
                                    <th>@Local["Tên"]</th>
                                    <th>@Local["Mã màu"]</th>                                    
                                    <th>@Local["Người sửa"]</th>                                    
                                    <th style="width:40px;">@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="fbtag_dtListTagBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let fbtag_DataEmp;
    $(document).ready(function () {

        Master_IndexDB_Reads(_Session_Data, [_Session_Employee]
            , function (data) {
                fbtag_DataEmp = data[0];
                fbtag_Init();
                fbtag_Load();
            })        
    });

    //#region //Init
    function fbtag_Init(){
        $('#fbtag_dtListTag tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            fbtag_Edit(ID);
        });
        $('#fbtag_dtListTag tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            fbtag_Delete(ID)
        });
    }
    //

    //#region //LoadData List
    function fbtag_Load() {                
        AjaxLoad(url = "/Facebook/Settings/FaceBookTag/FaceBookTagList/?handler=LoadData"
            , data = {}, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                fbtag_RenderList(data, 'fbtag_dtListTagBody');
            });
    }
    //#endregion //LoadData List

    //#region //Render
    function fbtag_RenderList(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let objEmp = (fbtag_DataEmp[item.PerModifined] != undefined && fbtag_DataEmp != undefined) ? fbtag_DataEmp[item.PerModifined] : "[]";
                    let tr =
                    `<td class="d-none">${item.ID}</td>
                    <td class="vt-number-order"></td>
                    <td>
                        <a class="text-decoration-underline fw-bold buttonEditClass" href="#">${item.Name}</a>
                    </td>
                    <td>
                        <div class="p-2" style="background-color:${item.Color};color:white!important;">${item.Color}</div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="icon icon-shape icon-sm me-2 text-center">
                                <img class="avatar avatar-xs mt-2" src= ${objEmp.Avatar!= undefined && objEmp.Avatar!= '' ? objEmp.Avatar  :Master_Default_Pic} alt="label-image">
                            </div>
                            <div class="d-flex flex-column">
                                <h6 class="text-dark text-sm mb-0">${objEmp.Name != undefined ? objEmp.Name :'-'} </h6>
                                <span class="text-xs">${GetDateTime_String_DMY(item.DateModifined)}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        ${Render_Button_Grid(['<button class="buttonGrid" value="item.ID"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>'])}
                    </td>                   
                   
                    `
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
    }
    //#endregion //Render

    //#region //event
    function fbtag_Edit(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Facebook/Settings/FaceBookTag/FaceBookTagDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function fbtag_AddNew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Facebook/Settings/FaceBookTag/FaceBookTagDetail?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function fbtag_Delete(id) {
        const promise = notiConfirm();
        promise.then(function () { fbtag_DeleteItem(id); }, function () { });
    }
    function fbtag_DeleteItem(id) {
        AjaxLoad(url = "/Pages/Facebook/Settings/FaceBookTag/FaceBookTagList?handler=DeleteItem"
            , data = { id: id }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    fbtag_Load();
                } else {
                    notiError_SW();
                }
            });
    }
    //#endregion //event
</script>

<script>js_require('/js/main.js');</script>
