@page
@model MLunarCoffee.Pages.Report.Student.Debt.ByCourseGridModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="collapsesticky collapse show" id="SDBCourse_General">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="right">
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#SDBCourse_GeneralDiv" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return SDBCourse_LoadData()"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Xuất excel"]">
                <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                   onclick="event.preventDefault(); return SDBCourse_Export()"></i>
            </div>
        </div> 
    </div>
    <div class="card-body p-0 pt-0 collapsesticky collapse show" id=SDBCourse_GeneralDiv>
        <div class="m-0 my-3 mobile-responsive">
            <div id="SDBCourse_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table class="table vt-table mb-0" id="SDBCourse_Grid">
                <thead>
                    <tr>
                        <th style="width: 60px">#</th>
                        <th>@Local["Khoá học"]</th>
                        <th data-name="begintime">@Local["Thời gian bắt đầu"]</th>
                        <th data-name="endtime">@Local["Thời gian kết thúc"]</th>
                        <th>@Local["Tổng học viên"]</th>
                        <th>@Local["Thời gian"] (@Local["Ngày"])</th>
                        <th>@Local["Tổng tiền phát sinh"]</th>
                        <th>@Local["Tổng tiền thanh toán"]</th>
                        <th>@Local["Tổng tiền công nợ"]</th>
                    </tr>
                </thead>
                <tbody id="SDBCourse_GridBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="SDBCourseDetail_Container" style="display:none;">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">
            <p id="SDBCourseDetail_Title" class="text-md text-dark font-weight-bold mb-1 d-none"></p>
            <div class="d-flex" id="SDBCourseDetail_Filter">
                <div class="CourseTypeIDDiv">
                    <div class="form-group m-0">
                        <div class="input-group mb-0 flex-nowrap">
                            <div class="ui fluid search selection dropdown max-width-200" id="CourseTypeID">
                                <input type="hidden" name="branch" readonly="readonly">
                                <input class="search" autocomplete="off" tabindex="0" readonly="readonly">
                                <i class="dropdown icon"></i>
                                <div class="default text">eg .@Local["Khóa học"]</div>
                                <div id="cbbCourseTypeID" class="menu" tabindex="-1">
                                </div>
                            </div>
                            <div class="input-group flex-nowraps-2 border-start border-1" style="min-width: 200px;" id="SDBCourseDetail_SortDiv">
                                <div class="input-group-text input-group-text border-start-0 border-bottom-start-radius-0 border-top-start-radius-0">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                    <div class="spinner-border spinner-border-sm d-none"></div>
                                </div>
                                <input id="SDBCourseDetail_ipSearch" type="text" class="form-control border-start-1 border-bottom-start-radius-0 border-top-start-radius-0" placeholder="eg .@Local["Tên học viên"]">
                                <div class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="wrap">
                <div class="wrapblock">
                    <div class="text-primary fw-bold d-inline mx-2 text-nowrap mt-1">
                        <span id="SDBCourseDetail_CurrentData">0</span>
                        <span class="mx-2">/</span>
                        <span id="SDBCourseDetail_TotalData">0</span>
                    </div>
                    <div class="icon-hover mx-1 mt-1"
                         data-bs-toggle="tooltip" data-bs-placement="top"
                         data-bs-original-title="@Local["Thu gọn"]">
                        <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                           data-bs-toggle="collapse" href="#SDBCourseDetail_DivArea" aria-expanded="true"></i>
                    </div>
                    <div class="icon-hover mx-1 mt-1"
                         data-bs-toggle="tooltip" data-bs-placement="top"
                         data-bs-original-title="@Local["Tải lại"]">
                        <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                           onclick="event.preventDefault(); return SDBCourseDetail_Loaddata()"></i>
                    </div>
                    <div class="icon-hover mx-1 mt-1"
                         data-bs-toggle="tooltip" data-bs-placement="top"
                         data-bs-original-title="@Local["In báo cáo"]">
                        <i class="vtt-icon vttech-icon-print text-lg text-primary cursor-pointer"
                           onclick="event.preventDefault(); SDBCourseDetail_PrintReport()"></i>
                    </div>
                    <div class="flex-nowrap input-group rounded-0 vttech-input-group mt-1 _tab_control_" data-tab="export_excel">
                        <div class="icon-hover mx-1 me-0 input-group-text vttech-input-item vttech-input-item-first"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Xuất excel"]">
                            <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer"></i>
                        </div>
                        <div class="input-group-text icon-hover w-auto vttech-input-item">
                            <i class="text-xs text-primary fw-bold" onclick="event.preventDefault(); return SDBCourseDetail_Export(0)">@Local["Tất cả"]</i>
                        </div>
                        <div class="icon-hover input-group-text w-auto vttech-input-item vttech-input-item-last">
                            <i class="text-xs text-primary fw-bold" onclick="event.preventDefault(); return SDBCourseDetail_Export(1)">@Local["Tùy chọn"]</i>
                        </div>
                    </div>
                    <button class="btn btn-dark btn-sm mt-1 mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                        @Local["Xem thêm"]
                    </button>
                </div> 
            </div>
        </div>
        <div class="toggle">
            <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                <ul class="card card-body text-dark text-capitalize opacity-10">
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogleDetail form-check-input" data-name="statusAmount" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Tình trạng tiền đóng"]</p>
                    </li>
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogleDetail form-check-input" data-name="branch" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Chi nhánh"]</p>
                    </li>
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogleDetail form-check-input" data-name="created" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Ngày tạo"]</p>
                    </li>
                    <li class="d-flex">
                        <div class="form-check form-switch">
                            <input class="shtoogleDetail form-check-input" data-name="createdby" type="checkbox">
                        </div>
                        <p class="text-sm">@Local["Người tạo"]</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="SDBCourseDetail_DivArea">
        <div class="card-body p-0 pt-0">
            <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                <div id="SDBCourseDetail_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table data-name="SDBCourseDetail_Grid" class="table vt-table mb-0" id="SDBCourseDetail_Grid">
                    <thead>
                        <tr>
                            <th style="width: 60px">#</th>
                            <th data-name="course">@Local["Khoá học"]</th>
                            <th data-name="stucode">@Local["Mã học viên"]</th>
                            <th style="min-width: 140px">@Local["Tên học viên"]</th>
                            <th>@Local["Tên lớp"]</th>
                            <th data-name="statusAmount">@Local["Tình trạng tiền đóng"]</th>
                            <th data-name="tuition">@Local["Học phí"]</th>
                            <th data-name="payment">@Local["Thanh toán"]</th>
                            <th data-name="debt">@Local["Tiền còn lại"]</th>
                            <th data-name="branch">@Local["Chi nhánh"]</th>
                            <th data-name="created">@Local["Ngày tạo"]</th>
                            <th data-name="createdby">@Local["Người tạo"]</th>
                        </tr>
                    </thead>
                    <tbody id="SDBCourseDetail_GridBody">
                    </tbody>
                </table>
            </div>
            <button class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return SDBCourseDetail_RenderMore();">
                @Local["Xem thêm"]
            </button>
        </div>

    </div>
</div>
<script type="text/javascript">
    let _branchID = "@Model._branchID";
    let _dateFrom = "@Model._dateFrom";
    let _dateTo = "@Model._dateTo";
    let xhrLoadList, xhrLoadDetail;
    let DataReportMainDetail, DataReportMainDetailSlice;
    let IndexReportDetail = 0;
    let timeoutCountDetail;
    let SDBCourse_CourseID = 0;
    let shtableDetail;
    let DataReportFilter = [];
    let SDBCourseDetail_TimerSearch;
    let SDB_Flag = 0;
    $(document).ready(function () {
        ToolPopper();
        SDBCourse_LoadData();
        shtableDetail = $("#SDBCourseDetail_Grid").TableExpandColumn({
            shtoogle: $('.shtoogleDetail')
        });
        Checking_TabControl_Permission();
    });
    function SDBCourse_LoadData() {
        if (xhrLoadList && xhrLoadList.readyState != 4) xhrLoadList.abort();
        xhrLoadList = AjaxLoad(url = "/Report/Student/Debt/ByCourseGrid/?handler=Loadata"
            , data = {
                'branchID': _branchID,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo,
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    let dataCourse = data.map(e => {
                        return {
                            ID: e.ID,
                            Name: e.Code
                        };
                    });
                    Load_Combo(dataCourse, "cbbCourseTypeID", true, "@Local["Tất cả khóa học"]");
                    $("#CourseTypeID").dropdown("refresh");
                    $("#CourseTypeID").dropdown("set selected", '0');
                    $("#SDBCourse_GridBody").empty();
                    SDBCourse_Render(data, "SDBCourse_GridBody");
                }
            }
            , sender = null
            , before = function (e) {
                $("#SDBCourse_LoaderList").show();
            }
            , complete = function (e) {
                $("#SDBCourse_LoaderList").hide();
            }
        );
        return false;
    }

    async function SDBCourse_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            if (data && data.length != 0) {
                let tr = '';
                let totalTime = 0, totalTuition = 0, totalPayment = 0, totalDebt = 0;
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    //calc total
                    totalTime += item.TotalTime;
                    totalTuition += item.TotalTuition;
                    totalPayment += item.TotalPayment;
                    totalDebt += item.TotalDebt;
                    tr = `<tr class="vt-number" role="row">
                                    <td class="vt-number-order"></td>
                                    <td data-name="course">
                                        <a href="#" class="border-1 border-primary border-bottom buttonViewClass mb-0 text-sm fw-bold" data-id="${item.ID}" data-name="${item.Code}">
                                        ${item.Code}
                                        </a>
                                    </td>
                                    <td data-name="begintime">${ConvertYMDInt_ToDate(item.BeginTime)}</td>
                                    <td data-name="endtime">${ConvertYMDInt_ToDate(item.EndTime)}</td>
                                    <td>${formatNumber(item.TotalStudent)}</td>
                                    <td>${formatNumber(item.TotalTime)}</td>
                                    <td>${formatNumber(item.TotalTuition)}</td>
                                    <td>${formatNumber(item.TotalPayment)}</td>
                                    <td>${formatNumber(item.TotalDebt)}</td>
                                </tr>`;
                    myNode.insertAdjacentHTML('beforeend', tr);
                }
                tr = `<tr class="vt-number text-white bg-gradient bg-primary mt-2 SDBCourse_RowTotal" role="row">
                                    <td></td>
                                    <td class="text-start">
                                        <a href="#" class="border-1 border-white border-bottom buttonViewClass text-white" data-id="0">@Local["Tất cả"]</a>
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>${formatNumber(totalTime)}</td>
                                    <td>${formatNumber(totalTuition)}</td>
                                    <td>${formatNumber(totalPayment)}</td>
                                    <td>${formatNumber(totalDebt)}</td>
                                </tr>`;
                myNode.insertAdjacentHTML('beforeend', tr);
                SDBCourse_GeneralEvent();
            }
        }
    }
    //#region // LOAD DETAIL AND RENDER
    function SDBCourseDetail_Loaddata() {
        if (xhrLoadDetail && xhrLoadDetail.readyState != 4) xhrLoadDetail.abort();
        IndexReportDetail = 0;
        $("#SDBCourseDetail_GridBody").empty();
        xhrLoadDetail = AjaxLoad(url = "/Report/Student/Debt/ByCourseGrid/?handler=LoadataDetail"
            , data = {
                'branchID': _branchID,
                'courseID': SDBCourse_CourseID,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo,
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    DataReportFilter = JSON.parse(JSON.stringify(data));
                    DataReportMainDetail = JSON.parse(JSON.stringify(data));
                    DataReportMainDetailSlice = sliceIntoChunks(data, 500);
                    if (DataReportMainDetailSlice && DataReportMainDetailSlice.length != 0) {
                        SBDCourse_DetailEvent();
                        fnRenderBlock(DataReportMainDetailSlice[IndexReportDetail], "SDBCourseDetail_GridBody"
                            , blocknum = 100
                            , fnrender = SDBCourseDetail_Render
                            , fnsuccess = null
                        );
                    }
                    Count_Up("SDBCourseDetail_TotalData", DataReportMainDetail.length);
                }
                else if (result == "0") {
                    notiWarning();
                }
            }
            , sender = null
            , before = function (e) {
                $("#SDBCourseDetail_LoaderList").show();
            }
            , complete = function (e) {
                $("#SDBCourseDetail_LoaderList").hide();
            }
        );
    }

    function SDBCourseDetail_RenderMore() {
        IndexReportDetail += 1;
        if (DataReportMainDetailSlice && DataReportMainDetailSlice[IndexReportDetail]) {
            fnRenderBlock(DataReportMainDetailSlice[IndexReportDetail], "SDBCourseDetail_GridBody"
                , blocknum = 100
                , fnrender = SDBCourseDetail_Render
                , fnsuccess = null
            );
        }
    }

    async function SDBCourseDetail_Render(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length != 0) {
                        let tr = '';
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let ColorStatus = '';

                            let createdName = RP_DataEmployee[item.CreatedBy] != undefined ? RP_DataEmployee[item.CreatedBy].Name : 'unknown';
                            let StatusPayment = SDBCourseDetail_RenderStatus(item.Tuition, item.Payment, item.TotalTimeTech, item.CurTimeTeach);

                            if (StatusPayment == 1) {
                                ColorStatus = 'text-secondary';
                            } else if (StatusPayment == 2) {
                                ColorStatus = 'text-warning fw-bold';
                            } else if (StatusPayment == 3) {
                                ColorStatus = 'text-danger fw-bold';
                            }

                            let tr = `<tr class="vt-number" role="row">
                                                    <td class="vt-number-order"></td>
                                                    <td data-name="course">${item.Code}</td>
                                                    <td data-name="stucode">
                                                        <a target="_blank" href="/Student/student/studentmain?studentid=${item.StuID}">
                                                            ${item.StuCode}
                                                        </a>
                                                    </td>
                                                    <td>${item.StuName}</td>
                                                    <td>${item.SubName}</td>
                                                    <td data-name="statusAmount">
                                                        <span class="${ColorStatus}">
    @Local["Yêu cầu đóng tiền"]
                                                        </span>
                                                    </td>
                                                    <td data-name="tuition">${formatNumber(item.Tuition)}</td>
                                                    <td data-name="payment">${formatNumber(item.Payment)}</td>
                                                    <td data-name="debt">${formatNumber(item.Debt)}</td>
                                                    <td data-name="branch">${(RP_DataBranch[item.BranchID] != undefined ? RP_DataBranch[item.BranchID].Name : '')}</td>
                                                    <td data-name="created">${ConvertDateTimeUTC_DMYHM(item.Created)}</td>
                                                    <td data-name="createdby">${createdName}</td>
                                                    </tr>`;
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                shtableDetail.Refresh();
                clearTimeout(timeoutCountDetail);
                timeoutCountDetail = setTimeout(() => {
                    Count_Up("SDBCourseDetail_CurrentData", $("#" + id).children().length);
                }, 300)
                resolve();
            }, 10)
        })
    }

    function SDBCourseDetail_RenderStatus(Tuition, Payment, TimeTotal, TimeCurrent) {
        try {
            //result = 1: OK;
            //result = 2: Cảnh báo sắp đóng tiền;
            //result = 3: Phải đóng tiền;
            //result = 4: lỗi;
            let result = '';
            let TimeAmount = Number(((Payment / Tuition) * TimeTotal).toFixed());
            if ((TimeCurrent < TimeAmount || TimeAmount == TimeTotal) && TimeAmount != 0) {
                result = 1;
            } else if (TimeAmount == TimeCurrent && TimeAmount != TimeTotal && TimeAmount != 0) {
                result = 2;
            } else if (TimeAmount < TimeCurrent || TimeAmount == 0) {
                result = 3;
            } else {
                result = '';
            }


            return result;
        } catch (ex) {
            return '';
        }
    }
    //#endregion

    //#region // Event
    function SDBCourse_GeneralEvent() {
        $("#SDBCourse_GridBody .buttonViewClass").unbind('click').on("click", function () {
            SDB_Flag = 1;
            SDBCourse_CourseID = $(this).attr('data-id');
            let name = $(this).attr('data-name');
            $("#SDBCourseDetail_Container").fadeIn('slow');
            $('html, body').animate({
                scrollTop: $("#SDBCourseDetail_Container").offset().top
            }, 300); 
            if (SDBCourse_CourseID == "0") {
                $("#CourseTypeID").dropdown("refresh");
                $("#CourseTypeID").dropdown("set selected", '0');
                $("#SDBCourseDetail_Title").html('@Local["Tất cả khóa học"]');
                $('#CourseTypeID').removeClass('disabled');
            }
            else {
                $('#CourseTypeID').addClass('disabled');
                $("#CourseTypeID").dropdown("refresh");
                $("#CourseTypeID").dropdown("set selected", SDBCourse_CourseID);
                $("#SDBCourseDetail_Title").html(name);
            }
            SDBCourseDetail_Loaddata();
            SDB_Flag = 0;
        })
    }

    function SBDCourse_DetailEvent() {
        $('#SDBCourseDetail_ipSearch').keyup(function () {
            let search = $(this).length ? ($(this).val() ?? "") : "";
            if (search.length > 0) $("#SDBCourseDetail_SortDiv .btn_clear").removeClass('opacity-1');
            else $("#SDBCourseDetail_ipSearch .btn_clear").addClass('opacity-1');
            $("#SDBCourseDetail_SortDiv .fa-search").hide();
            $("#SDBCourseDetail_SortDiv .spinner-border").removeClass('d-none');
            clearTimeout(SDBCourseDetail_TimerSearch);
            SDBCourseDetail_TimerSearch = setTimeout(function (e) {
                SBDCourse_Filter();
                $("#SDBCourseDetail_SortDiv .fa-search").show();
                $("#SDBCourseDetail_SortDiv .spinner-border").addClass('d-none');
            }, 500);
        });
        $('#CourseTypeID').unbind('change').change(function () {
            if (SDB_Flag != 1) {
                SBDCourse_Filter();
            }
        });
        $("#SDBCourseDetail_SortDiv").on('click', '.btn_clear', function (e) {
            $('#SDBCourseDetail_ipSearch').val('');
            $("#SDBCourseDetail_SortDiv .btn_clear").addClass('opacity-1');
            SBDCourse_Filter();
        });
    }

    function SBDCourse_Filter() {
        if (DataReportMainDetail && DataReportMainDetail.length > 0) {
            let courseID = Number($('#CourseTypeID').dropdown('get value')) ? Number($('#CourseTypeID').dropdown('get value')) : 0;
            let search = xoa_dau(($('#SDBCourseDetail_ipSearch').val()).toLowerCase()).trim();
            if (SDBCourse_CourseID != 0 && search == "") return
            DataReportFilter = JSON.parse(JSON.stringify(DataReportMainDetail));
            DataReportFilter = DataReportFilter.filter(function (el) {
                return (SDBCourse_CourseID != 0 || courseID == 0 || Number(el.ID) == courseID)
                    && (search == '' || xoa_dau(el.StuName).toLowerCase().includes(search))
            });
            let _d = JSON.parse(JSON.stringify(DataReportFilter ?? {}));
            Count_Up("SDBCourseDetail_TotalData", _d.length);
            Count_Up("SDBCourseDetail_CurrentData", 0);
            DataReportMainDetailSlice = sliceIntoChunks(_d, 500);
            IndexReportDetail = 0;
            $("#SDBCourseDetail_GridBody").empty();
            if (DataReportFilter && DataReportFilter.length > 0) {
                fnRenderBlock(DataReportMainDetailSlice[IndexReportDetail], "SDBCourseDetail_GridBody"
                    , blocknum = 100
                    , fnrender = SDBCourseDetail_Render
                    , fnsuccess = null
                );
            }
        }
    }

    function SDBCourse_Export () {
        syslog_ExpExcel('e', Outlang["Bao_cao_cong_no_hoc_vien"]);
        exportToExcel("SDBCourse_Grid", Outlang["Bao_cao_cong_no_hoc_vien"]);
    }

    async function SDBCourseDetail_Export(isOption = 0) {
        try {
            if (DataReportMainDetail && DataReportMainDetail.length != 0) {
                let isAll = (isOption == 0);
                let eleContainer = $('#SDBCourseDetail_Container');
                var dataHeader = {
                    "STT": ["@Local["STT"]", (value, { }, index) => { return index + 1; }],
                    "Code": ["@Local["Khoá học"]"],
                    "StuCode": ["@Local["Mã học viên"]"],
                    "StuName": ["@Local["Tên học viên"]"],
                    "SubName": ["@Local["Tên lớp"]"],
                    "Tuition1": {
                        isShow: isAll || (eleContainer.find(`.shtoogleDetail[data-name='statusAmount']`)).is(":checked"),
                        data: ["@Local["Tình trạng tiền đóng"]", (value, { Tuition, Payment, TotalTimeTech, CurTimeTeach }) => {
                            return SDBCourseDetail_RenderStatus(Tuition, Payment, TotalTimeTech, CurTimeTeach) != 1
                                ? decodeHtml('@Local["Yêu cầu đóng tiền"]')
                                : ""
                        }]
                    },
                    "Tuition": ["@Local["Học phí"]", (value) => { return formatNumber(value) }],
                    "Payment": ["@Local["Thanh toán"]", (value) => { return formatNumber(value) }],
                    "Debt": ["@Local["Tiền còn lại"]", (value) => { return formatNumber(value) }],
                    "BranchID": {
                        isShow: isAll || (eleContainer.find(`.shtoogleDetail[data-name='branch']`)).is(":checked"),
                        data: ["@Local["Chi nhánh"]", (value, { BranchID }) => {
                            return (RP_DataBranch[BranchID] != undefined) ? RP_DataBranch[BranchID].Name : '';
                        }]
                    },
                    "Created": {
                        isShow: isAll || (eleContainer.find(`.shtoogleDetail[data-name='created']`)).is(":checked"),
                        data: ["@Local["Ngày tạo"]", (value) => { return ConvertDateTimeUTC_DMYHM(value) }]
                    },
                    "CreatedBy": {
                        isShow: isAll || (eleContainer.find(`.shtoogleDetail[data-name='createdby']`)).is(":checked"),
                        data: ["@Local["Người tạo"]", (value, { CreatedBy }) => {
                            return (DataEmp[CreatedBy] != undefined) ? DataEmp[CreatedBy].Name : '';
                        }]
                    },
                }
                dataHeader = Checking_TabControl_System_RebuildHeader(dataHeader, tableBodyId = 'SDBCourseDetail_GridBody', PermissionTable_TabControl);
                let fileName = Outlang["Bao_cao_cong_no_hoc_vien"] + '-' + xoa_dau($("#SDBCourseDetail_Title").text()).replaceAll(' ', '-');
                syslog_ExpExcel('e', fileName);
                exportJsonToExcel(fileName, DataReportMainDetail, dataHeader);
            }
            else {
                notiWarning('@Local["Không có dữ liệu để xuất"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không xuất được file"]!');
        }
    }
    async function SDBCourseDetail_PrintReport() {
        try {
            if (DataReportMainDetail && DataReportMainDetail.length != 0) {
                let _branchID = "@Model._branchID";
                let _dateFrom = "@Model._dateFrom";
                let _dateTo = "@Model._dateTo";
                var dataHeader = {
                    "STT": ["@Local["STT"]", {
                        callbackRenderValue: (value, { }, index) => { return index + 1; }
                    }],
                    "Code": ["@Local["Khoá học"]"],
                    "StuCode": ["@Local["Mã học viên"]"],
                    "StuName": ["@Local["Tên học viên"]"],
                    "SubName": ["@Local["Tên lớp"]"],
                    "Tuition1": ["@Local["Tình trạng tiền đóng"]", {
                        isShow: $(`.shtoogle[data-name='statusAmount']`).is(":checked"),
                        callbackRenderValue: (value, { Tuition, Payment, TotalTimeTech, CurTimeTeach }) => {
                            return SDBCourseDetail_RenderStatus(Tuition, Payment, TotalTimeTech, CurTimeTeach) != 1 ? decodeHtml('@Local["Yêu cầu đóng tiền"]') : ""
                        }
                    }],
                    "Tuition": ["@Local["Học phí"]", {
                        callbackRenderValue: (value) => { return formatNumber(value) }
                    }],
                    "Payment": ["@Local["Thanh toán"]", {
                        callbackRenderValue: (value) => { return formatNumber(value) }
                    }],
                    "Debt": ["@Local["Tiền còn lại"]", {
                        callbackRenderValue: (value) => { return formatNumber(value) }
                    }],
                    "BranchID": ["@Local["Chi nhánh"]", {
                        isShow: $(`.shtoogle[data-name='branch']`).is(":checked"),
                        callbackRenderValue: (value, { BranchID }) => {
                            return (RP_DataBranch[BranchID] != undefined) ? RP_DataBranch[BranchID].Name : '';
                        }
                    }],
                    "Created": ["@Local["Ngày tạo"]", {
                        isShow: $(`.shtoogle[data-name='created']`).is(":checked"),
                        callbackRenderValue: (value) => { return ConvertDateTimeUTC_DMYHM(value) }
                    }],
                    "CreatedBy": ["@Local["Người tạo"]", {
                        isShow: $(`.shtoogle[data-name='createdby']`).is(":checked"),
                        callbackRenderValue: (value, { CreatedBy }) => {
                            return (RP_DataEmployee[CreatedBy] != undefined) ? RP_DataEmployee[CreatedBy].Name : '';
                        }
                    }],
                };
                $("#MainSendMail_Content").empty();
                $("#MainSendMail_Content").load('/Print/Reports/reportform?&dateFrom=' + _dateFrom + '&dateTo=' + _dateTo + '&branch=' + _branchID + '&ver=' + versionofWebApplication
                    , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "success") {
                            $("#MainSendMail").addClass('active');
                            let fileName = Outlang["Bao_cao_cong_no_hoc_vien"] + ' ' + $("#SDBCourseDetail_Title").text();
                            let options = {
                                empName: sys_employeeName_Main
                            }
                            if (typeof PRF_CBPrintReport === 'function')
                                PRF_CBPrintReport(namePrint = fileName, DataReportMainDetail, dataHeader, options);
                        }
                        if (statusTxt == "error") {
                            console.warn("error");
                        }
                    })
            }
            else {
                notiWarning('@Local["Không có dữ liệu"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không in được file"]!');
        }
    }
                                                                                                    //#endregion

</script>
