@page
@model MLunarCoffee.Pages.Student.Settings.Certificate.CertificateDetailModel
@{
    Layout = null;
}
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain mb-3">
                <div class="card-header pt-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-lg-50 col-auto my-auto">
                            <div class="h-100">
                                <h6>@Local["Cấu hình chứng chỉ"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-3">
                    <div class="row form3" id="stCertiForm">
                        <div class="col-md-4">
                            <div class="col-w-200 text-center mt-3 mx-auto">
                                <div class="avatar avatar-xxl border border-radius-md position-relative">
                                    <img id="CertiAvatar" class="border-radius-md" alt="team-2"><div class="upload-btn-wrapper d-block mt-3">
                                        <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light position-absolute bottom-0 end-0 mb-n2 me-n2">
                                            <i class="fa fa-pen top-0"></i>
                                            <input class="avatar avatar-xxl position-absolute opacity-0 cursor-pointer" style="margin-top:-97px; margin-left:-109px" id="CertiAvatarFile" type="file" accept="image/*" name="files[]" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="field col-12 col-md-12 p-1">
                                <label>@Local["Tên"]</label>
                                <input id="stCertificate_name" class="form-control" name="name" type="text" placeholder="eg. @Local["Tên"]" />
                            </div>
                            <div class="field col-12 col-md-12 p-1">
                                <label>@Local["Ghi chú"]</label>
                                <textarea id="stCertificate_note" class="form-control" placeholder="eg .@Local["Ghi chú"]" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();stCertificate_Close()">@Local["Hủy"]</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return stCertificate_executeData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _CurrentId = @Model._CurrentID;
    var Logo_URLAvatar = "/Api/Upload/Upload?Type=StudentManagement";
    var Certi_AvatarDetail = '';

    $(document).ready(function () {
        $('#CertiAvatar').attr("src", Master_Default_Pic);
        if (_CurrentId != "0") {
            stCertificate_loaddetail();
            Logo_UploadAvatar();
        }
    })

    //#region / EXECUTE

    function Logo_UploadAvatar() {
        AjaxUpload(url = Logo_URLAvatar, inputid = 'CertiAvatarFile'
            , success = function (data) {
                if (data != "0") {
                    data = data.split('#');
                    Certi_AvatarDetail = data[0];
                    $('#CertiAvatar').attr('src', Certi_AvatarDetail);
                }
                else {
                    notiError_SW();
                };
            }
            , error = function () { notiError_SW(); }
        );
    }

    function stCertificate_executeData() {

        $('#stCertiForm').form('validate form');
        if ($('#stCertiForm').form('is valid')) {
            AjaxLoad(
                url = "/Student/Settings/Certificate/CertificateDetail?handler=ExcuteData"
                , data = {
                    "Name": $('#stCertificate_name').val()
                    , "Avatar": Certi_AvatarDetail
                    , "Note": $('#stCertificate_note').val()
                    , "CurrentId": _CurrentId
                }
                , async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        let RESULT = data[0]["RESULT"];
                        if (RESULT != "0" && RESULT != "-1") {
                            let Id = RESULT;
                            if (typeof stCertificate_load == 'function') {
                                stCertificate_load(Id);
                                stCertificate_Close();
                            }
                        } else if (RESULT == "-1") {
                            document.getElementById("textShowMessage").innerHTML = '@Local["Trùng dữ liệu"]';
                        }
                    } else {
                        notiError_SW();
                    }
                }
                , sender = null
            );
        }
    }

    //#endregion

    //#region / DETAIL

    function stCertificate_loaddetail() {
        AjaxLoad(
            url = "/Student/Settings/Certificate/CertificateDetail?handler=LoadDetail"
            , data = {
                "CurrentId": _CurrentId
            }
            , async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    $('#stCertificate_name').val(data[0]["Name"]);
                    $('#stCertificate_note').val(data[0]["Note"]);
                    $('#CertiAvatar').attr("src", data[0]["Avatar"] != '' ? data[0]["Avatar"] : Master_Default_Pic);
                }
            }
        )
    }

    //#endregion

</script>
