@page
@model MLunarCoffee.Pages.Setting.Manufacture.LevelDetailModel
@{
    Layout = null;
}

<div class="container-fluid py-0 px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 out_in_header"" class="mb-0">@Local["Tầng"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết tầng"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formLevelDetail">
                        <div class="field col-12 col-xl-6 p-1">
                            <label>@Local["Tên tầng"]</label>
                            <input id="LevelName" name="name" type="text" class="form-control" />
                        </div>
                        <div class="field col-12 col-xl-6 p-1">
                            <label>@Local["Chi nhánh"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="LevelBranchID">
                                <input type="hidden" name="ware" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="cbblvBranch" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button id="btnDeleteLevel" class="btn btn-secondary d-none" form="formLevelDetail" onclick="event.preventDefault(); return LevelDeleteData()">@Local["Xóa"]</button>
                        <button class="btn btn-secondary" form="formLevelDetail" onclick="event.preventDefault(); return CloseModal()">@Local["Đóng"]</button>
                        <button form="formLevelDetail" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();return LevelExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ser_CurrentID = "@Model._CurrentID";
    var ser_LevelID = "@Model._LevelID";
    $(document).ready(function () {
        LevelLoadInitializeData();
    });
        function LevelExcuteData() {
            let data = new Object();
            data.Name = $('#LevelName').val() ? $('#LevelName').val() : "";
            data.IdBranch = Number($('#LevelBranchID').dropdown('get value')) ? Number($('#LevelBranchID').dropdown('get value')) : 0;
            let Name = data.Name;
            let NameBranch = $('#LevelBranchID .text').text();
            $('#formLevelDetail').form('validate form');
            if ($('#formLevelDetail').form('is valid')) {
                AjaxLoad(url = "/Setting/Manufacture/LevelDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_CurrentID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result != "1") {
                            let data = JSON.parse(result);
                            if(data[0].RESULT != "0"){
                                notiSuccess();
                                $("#DetailModal_Content").html('');
                                CloseModal();
                                Manu_UpdateElement(data, 'floor');
                            }
                            else{
                                $("#textShowMessage").html('@Local["Trùng dữ liệu"]');
                            }
                                                        
                        } else {
                            notiError_SW();
                        }
                    }); 
            }
            return false;
        } 
        function LevelLoadInitializeData() {
            AjaxLoad(url = "/Setting/Manufacture/LevelDetail/?handler=LoadInitializeData"
                , data = {
                }, async = false, error = null
                , success = function (result) {
                    if (result != "") {
                        let data = JSON.parse(result);
                        Load_Combo(data, "cbblvBranch", true);
                        $("#LevelBranchID").dropdown("set selected", ser_LevelID);
                        LevelLoadDataUpdate();
                    }
                });
        }

        function LevelLoadDataUpdate() {
            if (ser_CurrentID != '0') {
                AjaxLoad(url = "/Setting/Manufacture/LevelDetail/?handler=Loadata"
                    , data = {
                        CurrentID: ser_CurrentID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result != "") {
                            let data = JSON.parse(result);
                            if (data.length > 0) {
                                let dataLevelDetail = data[0];
                                if (dataLevelDetail) {
                                    $('#LevelName').val((dataLevelDetail.Name));
                                    $("#LevelBranchID").dropdown("refresh");
                                    $("#LevelBranchID").dropdown("set selected", dataLevelDetail.BranchID);
                                    document.getElementById("LevelBranchID").classList.add("disabled");
                                    if (dataLevelDetail.DeleteButton == 0) {
                                        $("#btnDeleteLevel").removeClass('d-none');
                                    }
                                }
                            }
                        }
                    });
            }
        }
        function LevelDeleteData() {
            const promise = notiConfirm();
            promise.then(function () { LevelExecuteDeleteData(); }, function () { });
        }
        function LevelExecuteDeleteData() {
            AjaxLoad(url = "/Setting/Manufacture/LevelDetail/?handler=DeleteItem"
                , data = {
                    CurrentID: ser_CurrentID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        Manufecture_LoadMain();
                        if (typeof ManuLoadTreeNode !== 'undefined' && $.isFunction(ManuLoadTreeNode)) ManuLoadTreeNode(ser_LevelID);
                    } else {
                        notiError_SW();
                    }
                });
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
        }
</script>
<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>

