@page
@model MLunarCoffee.Pages.Setting.Manufacture.RoomDetailModel
@{ Layout = null;
}
<div class="container-fluid py-0 px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 px-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Phòng"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết phòng"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formRoomDetail">
                        <div class="field col-12 p-1">
                            <p class="text-sm  text-dark fw-bold ps-1 mb-2">@Local["Tên phòng"]</p>
                            <input id="RoomName" name="name" type="text" class="form-control" />
                        </div>
                        <div class="field col-12 p-1">
                            <p class="text-sm  text-dark fw-bold ps-2 my-3">@Local["Chọn mục đích sử dụng"]</p>
                            <div class="table-responsive">
                                <table class="table mb-0">

                                    <tbody>
                                        <tr>
                                            <td class="ps-1" colspan="4">
                                                <div class="my-auto">
                                                    <span class="text-dark fw-bold d-block text-sm">@Local["Thu ngân"]</span>
                                                    <span class="text-xs font-weight-normal">@Local["Thực hiện thu tiền tại cơ sở"]</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                    <input class="form-check-input ms-0" type="checkbox" id="r_IsCashier">
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="ps-1" colspan="4">
                                                <div class="my-auto">
                                                    <span class="text-dark fw-bold d-block text-sm">@Local["Điều trị"]</span>
                                                    <span class="text-xs font-weight-normal">@Local["Công việc điều trị"]</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                    <input class="form-check-input ms-0" type="checkbox" id="r_IsTreatment">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="EGD_IsLaboArea">
                                            <td class="ps-1" colspan="4">
                                                <div class="my-auto">
                                                    <span class="text-dark fw-bold d-block text-sm">@Local["Khám"] - @Local["Tư vấn"]</span>
                                                    <span class="text-xs font-weight-normal">@Local["Tư vấn khách hàng"]</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                    <input class="form-check-input ms-0" type="checkbox" id="r_IsExamination">
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="ps-1" colspan="4">
                                                <div class="my-auto">
                                                    <span class="text-dark fw-bold d-block text-sm">@Local["X-quang"] - @Local["Lab"]</span>
                                                    <span class="text-xs font-weight-normal">@Local["Chẩn đoán hình ảnh"] - @Local["Xét nghiệm"]</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                    <input class="form-check-input ms-0" type="checkbox" id="r_IsXquang">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button id="btnDeleteRoom" class="btn btn-danger d-none" form="formLevelDetail" onclick="event.preventDefault(); return RoomDeleteData()">@Local["Xóa"]</button>
                        <button class="btn btn-secondary" form="formRoomDetail" onclick="event.preventDefault(); return CloseModal()">@Local["Đóng"]</button>
                        <button form="formRoomDetail" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();return RoomExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var ser_CurrentID = "@Model._CurrentID";
        var ser_LevelIDOfCurrent = "@Model._LevelID";
        $(document).ready(function () {
            if (ser_CurrentID != "0")
                RoomLoadDataUpdate();
        });
        function RoomExcuteData() {
            var data = new Object();
            data.Name = $('#RoomName').val() ? $('#RoomName').val() : "";
            data.IsTreatment = $('#r_IsTreatment').is(':checked') ? 1 : 0;
            data.IsCashier = $('#r_IsCashier').is(':checked') ? 1 : 0;
            data.IsXquang = $('#r_IsXquang').is(':checked') ? 1 : 0;
            data.IsExamination = $('#r_IsExamination').is(':checked') ? 1 : 0;
            data.IdLevel = ser_LevelIDOfCurrent;
            $('#formRoomDetail').form('validate form');
            if ($('#formRoomDetail').form('is valid')) {
                AjaxLoad(url = "/Setting/Manufacture/RoomDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_CurrentID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result != "1") {
                            notiSuccess();
                            //Manufecture_LoadMain();
                            Manu_UpdateElement(JSON.parse(result),'room');
                            CloseModal();
                        } else {
                            notiError_SW();
                        }
                    });
                $('#DetailModal').modal('hide');
                $("#DetailModal_Content").html('');
            }
            return false;
        }
        function RoomLoadDataUpdate() {
            AjaxLoad(url = "/Setting/Manufacture/RoomDetail/?handler=Loadata"
                , data = {
                    id: ser_CurrentID
                }, async = true, error = null
                , success = function (result) {
                    let dataRoomDetail = JSON.parse(result);
                    $('#RoomName').val((dataRoomDetail[0].NameRoom));
                    if (dataRoomDetail[0].DeleteButton == 0) {
                        $("#btnDeleteRoom").removeClass('d-none');
                    }
                    $("#r_IsTreatment").prop("checked", dataRoomDetail[0].IsTreatment);
                    $("#r_IsCashier").prop("checked", dataRoomDetail[0].IsCashier);
                    $("#r_IsXquang").prop("checked", dataRoomDetail[0].IsXquang);
                    $("#r_IsExamination").prop("checked", dataRoomDetail[0].IsExamination);
                });
        }

        function RoomDeleteData() {
            const promise = notiConfirm();
            promise.then(function () { RoomExecuteDeleteData(); }, function () { });
        }
        function RoomExecuteDeleteData() {
            AjaxLoad(url = "/Setting/Manufacture/RoomDetail/?handler=DeleteItem"
                , data = {
                    CurrentID: ser_CurrentID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();                        
                        Manufecture_LoadMain();
                    } else {
                        notiError_SW();
                    }
                });
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
        }
</script>
<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>
