@page
@model MLunarCoffee.Pages.Customer.Service.TabList.TabList_Card_UpdatePriceModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Cập nhật giá trị sử dụng thẻ"]</h6>
                                <p class="text-sm mb-0">@Local["Nhập giá tiền cần cộng/trừ và lý do để thay đổi giá trị sử dụng thẻ"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-2 form3" id="form3">
                        <div class="field col-12 p-1">
                            <label id="CLU_NameTypeUpdate">@Local["Giá tiền"]</label>
                            <input id="CLU_PriceEdit" name="basicsalary" class="form-control" type="text">
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Lý do"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="CLU_ReasonEdit">
                                <input type="hidden" name="branch" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Lý do"]</div>
                                <div id="CLU_CbbReasonEdit" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault(); CloseModal();">@Local["Đóng"]</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return CLU_Executed();">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let ser_CustomerID = '@Model._CustomerID';
    let ser_CardID = '@Model._CardID';
    let ser_Type = '@Model._Type';
    //#region //INIT & LOAD
    $(document).ready(function () {
        console.log(ser_CardID);
        $("#CLU_NameTypeUpdate").html(ser_Type == 1 ? '@Local["Giá tiền"] (+)' : '@Local["Giá tiền"] (-)')
        $("#CLU_PriceEdit").divide();
        CLU_LoadInit();
    });
    function CLU_LoadInit () {
        AjaxLoad(url = "/Customer/Service/TabList/TabList_Card_UpdatePrice/?handler=LoadCombo"
            , data = {}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                let data = JSON.parse(result);
                Load_Combo(data.ReasonCashback, "CLU_CbbReasonEdit", false);
                $("#CLU_ReasonEdit").dropdown("refresh");
            }
        )
    }
    //#endregion

    function CLU_Executed () {
        $("#form3").form('validate form')
        if ($("#form3").form('is valid')) {
            let data = {};
            let AmountUsedCard = $("#card_priceused").val() ? Number($("#card_priceused").val()) : 0;
            let QuantityUsedCard = $("#Quantity").val() ? Number($("#Quantity").val()) : 0
            data.AmountEdit = $("#CLU_PriceEdit").val() ? Number($("#CLU_PriceEdit").val()) : 0;
            data.Reason = $("#CLU_ReasonEdit").dropdown('get value') ? Number($("#CLU_ReasonEdit").dropdown('get value')) : 0;
            data.IsPlus = (ser_Type == 1 ? 1 : 0);
            data.AmountCard = (Number(ser_Type) == 1) ? (AmountUsedCard + data.AmountEdit) * QuantityUsedCard : (AmountUsedCard - data.AmountEdit) * QuantityUsedCard;

            AjaxLoad(url = "/Customer/Service/TabList/TabList_Card_UpdatePrice/?handler=Executed"
                , data = {
                    "data": JSON.stringify([data])
                    , "CustomerID": ser_CustomerID
                    , "CardID": ser_CardID
                }
                , async = true
                , error = function () {notiError_SW()}
                , success = function (result) {
                    if (result == "1") {
                        Card_Detail_Load();
                        notiSuccess();
                        CloseModal();
                    } else if (result == "-1") {notiError('@Local["Thẻ trả trước đã bị khóa hoặc bị chuyển không thể thao tác"]')}
                    else if (result == "-2") {notiError('@Local["Giá trị sử dụng nhỏ hơn số tiền đã sử dụng trên thẻ"]')}
                    else {notiError_SW() }
                }
            )


        }
    }

</script>
<script>js_require('/js/customjs/custom-validation.js');</script>