@page
@model MLunarCoffee.Pages.WareHouse.Dash.DashWarehouse
@{
    if(@Model.layout=="none") Layout=null;
}
@Html.AntiForgeryToken()

<div class="row" id="Dw_master">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0">
                <div class="left">
                    <h6 class="mb-0">@Local["Quản lý kho"]</h6>
                    <p class="text-sm mb-0">@Local["Dashboard quản lý kho"]</p>
                </div>
                <div class="right overflow-unset">
                    <div class="row m-0 w-100 d-md-flex">
                        <div class="col-12 p-0 m-0 col-w-300">
                            <div class="ui fluid search selection dropdown form-control" id="Dashwarecombo" onchange="DashWareChange()">
                                <input type="hidden" name="branch" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Kho"]</div>
                                <div id="cbbDashwarecombo" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="row position-relative mt-2">
                    <div class="col-12 col-md-12 col-xl-4 p-0" id="dm_formlist">
                                                          
                    </div>                                
                    <div class="col-12 col-md-12 col-xl-8 p-0" id="dm_productlist">

                    </div>
                    <div id="dm_view_content" class="col-12 col-md-12 col-xl-8 p-1 pt-sm-0 d-none" style="transition:0.3s all">

                    </div>
                </div>
                <div class="row my-4">
                    <div class="d-lg-flex">
                        <ul class="nav nav-pills p-1 bg-transparent permissionlist" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="dashwareitem nav-link cursor-pointer active" data-fun="form" role="tab">@Local["Chứng từ"]</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="dashwareitem nav-link cursor-pointer" data-fun="ticket" role="tab">@Local["Biến động vật liệu"]</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 p-1" id="dm_findform">

                    </div>
                    <div class="col-12 p-1 " id="dm_findticket" style="display:none;">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div id="Dw_detail">
</div>
<script>

    var MasterWareID;
    $(document).ready(function () {
        DashBranchLoad();
        DashBranch_Event();
    })
    function DashWareChange () {
        MasterWareID = Number($('#Dashwarecombo').dropdown('get value')) ? Number($('#Dashwarecombo').dropdown('get value')) : 0;
        DashBranch_LoadSheet();
    }
    function DashBranchLoad () {
        AjaxLoad(url = "/WareHouse/Dash/DashWarehouse/?handler=Initialize"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    if (data.Warehouse && data.Warehouse.length > 0) {
                        Load_Combo(data.Warehouse, "cbbDashwarecombo", true);
                        $("#Dashwarecombo").dropdown("clear");
                        $("#Dashwarecombo").dropdown("refresh");
                        $("#Dashwarecombo").dropdown("set selected", data.Warehouse[0].ID);
                    } else {
                        notiWarning("@Local["Cấu hình kho"]");
                    }
                } else {
                    notiError_SW();
                }
            }
        );



    }
    function DashBranch_LoadSheet () {
        let promises = [];
        promises.push(DashBranch_EachSheet("dm_formlist", "/WareHouse/Stock/StockList"))
        promises.push(DashBranch_EachSheet("dm_productlist", "/WareHouse/Dash/ProductStatus"))
        promises.push(DashBranch_EachSheet("dm_findform", "/WareHouse/Dash/FindForm"))
        promises.push(DashBranch_EachSheet("dm_findticket", "/WareHouse/Dash/FindTicket"))


        Promise.all(promises).then((values) => {
        });
    }
    function DashBranch_EachSheet (id, link) {
        return new Promise(resolve => {
            $("#" + id).load(link, function (e) { });
        });
    }
    function DashBranch_Open () {
        $("#Dw_master").hide();
        $("#Dw_detail").empty();
        $("#Dw_detail").show();
    }
    function WareHouse_Close () {
        $("#Dw_master").show();
        $("#Dw_detail").empty();
        $("#Dw_detail").hide();
    }
    function DashBranch_Event () {

        $(".dashwareitem").click(function (event) {
            let fun = $(this).attr("data-fun");
            $('.dashwareitem').removeClass('active');
            $(this).addClass('active');
            switch (fun) {
                case "form":
                    $("#dm_findform").show();
                    $("#dm_findticket").hide();
                    break;
                case "ticket":
                    $("#dm_findform").hide();
                    $("#dm_findticket").show();
                    break;


                default: break;
            }

        });
    }
</script>




