@model LunarCoffee.Models.OrderViewModel
@using (Ajax.BeginForm("CheckOut", "Shoppingcart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnComplete = "OnSuccessCO",
    OnFailure = "OnFailure",

}, new { @Id = "myForm" }))
{
    <script>
        function OnSuccessCO() {
            location.href = "/ShoppingCart/CheckOutSuccess";
        }
        function OnFailure() {

        }
    </script>
    @Html.AntiForgeryToken()
    <h3>Thông tin khách hàng</h3>
    <div class="form-group">
        @Html.Label("Họ và tên khách hàng")

            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })

    </div>
    @*<div class="form-group">
            <label>Họ tên khách hàng</label>
            <input type="text" name="CustomerName" required class="form-control" autocomplete="off" />
        </div>*@
    <div class="form-group">
        @Html.Label("Số điện thoại")

            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

    </div>
    @*<div class="form-group">
            <label>Số điện thoại</label>
            <input type="text" name="Phone" class="form-control" autocomplete="off" />
        </div>*@
    <div class="form-group">
        @Html.Label("Địa chỉ")
 
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })

    </div>
    @*<div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" name="Address" class="form-control" autocomplete="off" />
        </div>*@
    <div class="form-group">
        @Html.Label("Email")

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    </div>
    @*<div class="form-group">
        <label>Email</label>
        <input type="text" name="Email" class="form-control" autocomplete="off" />
    </div>*@
    <div class="form-group">
        <label>Ngày giao</label>
        <input type="date" name="deliveryDate" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Giờ</label>
        <div style="display:flex;">
            <input type="number" name="deliveryHour" min="0" max="23" value="0" class="form-control" autocomplete="off" style="width: 65px;" />
            <span style="padding:5px">:</span>
            <input type="number" name="deliveryMinute" min="0" max="59" value="0" class="form-control" autocomplete="off" style="width: 65px;" />
        </div>
    </div>
    <div class="form-group">
        <label>Hình thức thanh toán</label>
        <select class="form-control" name="TypePayment">
            <option value="1" selected>COD</option>
            <option value="2">Chuyển khoản</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-success">Đặt hàng</button>
    </div>
}