<!DOCTYPE html>

<html>
<head>
    <script>
        const VDTIME = '@ViewData["TIME"]'.toLowerCase();
        const VDNAME = '@ViewData["NAME"]'.toLowerCase();
        const VDMINIFY = '@ViewData["MINIFY"]'.toLowerCase();
        const VDVERSION = '@ViewData["VERSION"]'.toLowerCase();
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>VT-Tech Solution</title>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/rsvp@4/dist/rsvp.min.js"></script>
    <link rel="icon" href="/assests/img/logo/favicon.ico">
    <script src="/assests/library/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/assests/dist/semantic.min.js"></script>
    <link href="/assests/dist/semantic.min.css" rel="stylesheet" />
    <link href="/assests/dist/semantic.min.custom.css" rel="stylesheet" />
    <link href="/assests/dist/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="/assests/dist/css/main.css" rel="stylesheet" />
    <script src="/js/comon/noti_function.js"></script>
    <script src="/js/Preload/basket.min.js"></script>
    <script src="/js/Preload/preload.min.js"></script>
    <script>css_require('/css/main.custom.css')</script>
    <script>css_require("/css/button.css")</script>
    <link href="/assests/dist/plugins/lobibox/css/lobibox.css" rel="stylesheet" />
    <script src="/assests/dist/plugins/lobibox/js/notifications.js"></script>
    <script src="/assests/dist/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link href="/assests/dist/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="/assests/dist/plugins/sweetalert2/custom-alert.js"></script>
    <script src="/assests/dist/plugins/nicescrool/jquery.nicescroll.min.js"></script>
    <script src="/assests/dist/HightLight/dist/jquery.mark.js"></script>
    <script src="/js/comon.js"></script>
    <script src="/assests/js/ajax.min.js" type="text/javascript"></script>
    <script src="/js/comon/datetime.js"></script>
    <script src="/assests/dist/Print/jQuery.print.js"></script>
    <script src="/assests/dist/ExportExcel/jquery.table2excel.js"></script>
    <script src="/js/comon/Export.js"></script>
    <script src="/assests/dist/ExportExcel/ExportELSX/xlsx.core.min.js"></script>
    <script src="/assests/dist/ExportExcel/ExportELSX/FileSaver.js"></script>
    <script src="/assests/dist/ExportExcel/ExportELSX/tableexport.min.js"></script>
    <script src="/js/comon/tablesort.js"></script>
    @*<script src="/js/comon/Other.js"></script>*@
    <script src="/js/Print/print.js"></script>
    <script src="/assests/dist/Barcode/JsBarcode.code128.min.js" type="text/javascript"></script>
</head>
<body style="background-color: white; max-width: 100%; height: auto">
    @Html.AntiForgeryToken()
    @RenderBody()

    <script type="text/javascript">
        var Master_Data = [];
        var versionofWebApplication;
        var DOCSO = function () { var t = ["không", "một", "hai", "ba", "bốn", "năm", "sáu", "bảy", "tám", "chín"], r = function (r, n) { var o = "", a = Math.floor(r / 10), e = r % 10; return a > 1 ? (o = " " + t[a] + " mươi", 1 == e && (o += " mốt")) : 1 == a ? (o = " mười", 1 == e && (o += " một")) : n && e > 0 && (o = " lẻ"), 5 == e && a >= 1 ? o += " lăm" : 4 == e && a >= 1 ? o += " tư" : (e > 1 || 1 == e && 0 == a) && (o += " " + t[e]), o }, n = function (n, o) { var a = "", e = Math.floor(n / 100), n = n % 100; return o || e > 0 ? (a = " " + t[e] + " trăm", a += r(n, !0)) : a = r(n, !1), a }, o = function (t, r) { var o = "", a = Math.floor(t / 1e6), t = t % 1e6; a > 0 && (o = n(a, r) + " triệu", r = !0); var e = Math.floor(t / 1e3), t = t % 1e3; return e > 0 && (o += n(e, r) + " nghìn", r = !0), t > 0 && (o += n(t, r)), o }; return { doc: function (r) { if (0 == r) return t[0]; var n = "", a = ""; do ty = r % 1e9, r = Math.floor(r / 1e9), n = r > 0 ? o(ty, !0) + a + n : o(ty, !1) + a + n, a = " tỷ"; while (r > 0); return n.trim() } } }();
        AjaxJWT(url = "/api/Author/BaseData"
            , data = JSON.stringify({})
            , async = false
            , success = function (result) {
                Master_Data = JSON.parse(result);
                versionofWebApplication = Master_Data._versionofWebApplication;
            }
        );
        var _Session_CusLayoutName = Master_Data._Session_Preload_CustomerLayout;
        var _Session_Data = Master_Data._Session_Data;
        var _Session_Branch = Master_Data._Session_Branch;
        var _Session_Teeth = Master_Data._Session_Teeth;
        var _Session_Service = Master_Data._Session_Service;
        var _Session_ServiceCare = Master_Data._Session_ServiceCare;
        var _Session_Employee = Master_Data._Session_Employee;
        var _Session_User = Master_Data._Session_User;
        var Master_Default_Image = Master_Data._defaultImage;

    </script>
</body>
</html>
