<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="/assests/img/logo/favicon.ico">
    <script>
        const VDTIME = '@ViewData["TIME"]'.toLowerCase();
        const VDNAME = '@ViewData["NAME"]'.toLowerCase();
        const VDVERSION = '@ViewData["VERSION"]'.toLowerCase();
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
