@page
@model MLunarCoffee.Pages.Myinfo.MyReport.CommissionDoctorByTreatModel
@{
    Layout = null;
}
<script>js_require_notasync('/js/Commission/DoctorByTreat.js');</script>
<div class="row form3" id="dataDetail">

    <div class="field col-12  px-1" id="Detail_Div">
        <div class="vtcardheader card-header p-3 pb-0">
            <div class="left">
                <p id="RevenueNameDetail" class="text-md text-primary fw-bold  mb-0 ">@Local["Tên nhân viên"]</p>
                <p id="error_max_dates_show" style="display:none;" class="text-sm text-danger mb-0">
                    <span>@Local["Số ngày được xem tối đa"]</span>
                    <span class="ps-2" id="report_max_dates_show"></span>
                </p>
            </div>
            <div class="right">
                <button id="loaderList_Detail" class="btn btn-primary btn-sm ml-2 mb-2  " type="button" disabled style="display:none;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="text-normal fw-bold ps-2">@Local["Đang tải dữ liệu. vui lòng chờ"]...</span>
                </button>
                <div id="RevenueNumber" class="text-primary fw-bold text-nowrap">
                    <span id="Reve_currentdata">0</span>
                    <span class="mx-2">/</span>
                    <span id="Reve_totaldata">0</span>
                    <span class="text-md fw-bold mb-0">@Local["Tổng"]:</span>
                    <span id="RevenueTotal" class="text-md fw-bold">0</span>
                </div>
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local[" Xuất excel"]">
                    <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                       onclick="event.preventDefault(); return exportData_RevenueDetail()"></i>
                </div>
            </div>
        </div>
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive mb-0 vt-header-sticky" style="max-height: 66vh;">
                <table class="table vt-table mb-0" id="dtContentReport">
                    <thead>
                        <tr>
                            <th class="no-sort" style="min-width: 25px;">#</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Mã khách hàng"]</th>
                            <th class="no-sort" style="min-width: 150px;">@Local["Khách hàng"]</th>
                            <th class="no-sort" style="min-width: 150px;">@Local["Nguồn"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Mã hồ sơ"]</th>
                            <th class="no-sort" style="min-width: 150px;">@Local["Số điện thoại"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Mã khách hàng cũ"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Tuổi"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Giới tính"]</th>
                            <th class="no-sort" style="min-width: 150px;">@Local["Địa chỉ"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Phường xã"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Quận huyện"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Thành phố"]</th> 
                            <th class="no-sort" style="min-width: 100px;">@Local["Mã dịch vụ"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Dịch vụ"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Loại dịch vụ"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Mã lên đơn"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Số lượng"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Giá dịch vụ"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Chi tiết"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Hoàn thành"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Tổng hoàn thành"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Tên"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Mã nhân viên"]</th>
                            <th class="no-sort">@Local["Hoa hồng"]</th>
                            <th class="no-sort">@Local["Phần trăm doanh thu"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Doanh thu"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Tiền thu"] @Local["Dịch vụ"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Thu trong kỳ"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Ghi chú hoa hồng"]</th>
                            <th style="min-width: 100px;">@Local["Ngày"]</th>
                            <th class="no-sort" style="min-width: 120px;">@Local["Nội dung điều trị"]</th>
                            <th class="no-sort" style="min-width: 100px;">@Local["Chi nhánh"]</th>
                            <th class="no-sort" style="min-width: 70px;">@Local["Chi thủ công"]</th>
                        </tr>
                    </thead>
                    <tbody id="dtContentReportBody">
                    </tbody>
                </table>
            </div>
            <button id="btndetailmore" class="btn btn-secondary w-100 p-1 mt-2 position-relative mb-0" onclick="RevenueDetail_ViewMore()">
                @Local["Xem thêm"]
            </button>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">

    //#region  // Var, contructor and Initialize
    var CurrentNameMaster = '';
    var CurrentMaster;

    let Redata_loaded = [];
    let Redata_spilited;
    let ReblockIndex = 0;
    let Renum_rendered = 0;

    let RevDataObject;
    let myLoad = 1;
    let _dateFrom = "@Model._dateFrom";
    let _dateTo = "@Model._dateTo";
    let _branchID = "@Model._branchID";

    $(document).ready(function ()
    {
        $("#dtContentReport").tablesort();
        RevDataObject = new RevenueDoctorTreat({
            DateFrom: _dateFrom,
            DateTo: _dateTo,
            BranchID: _branchID,
            MyLoad: 0,

            fnSetting_Before: function ()
            {
                $("#dataDetail").hide();
                $("#loaderList").show();
            },
            fnSetting_Complete: function (result)
            {
                $("#dataDetail").show();
                $("#loaderList").hide();
                MyCms_load();
            },

            fnDetail_Before: function ()
            {
                $("#RevenueNumber").hide();
            },
            fnDetail_Complete: function (result)
            {
                $("#RevenueNumber").show();
                if (result == "0") {
                    $("#error_max_dates_show").show();
                    document.getElementById("report_max_dates_show").innerHTML = ":" + ser_maxDates;
                }
                else {
                    $("#error_max_dates_show").hide();
                }
            },
            fnDetail_CountComplete: function (result)
            {
                Renum_rendered = 0;
                ReblockIndex = 0;
                Redata_loaded = JSON.parse(JSON.stringify(result));
                $('#Reve_totaldata').html(formatNumber(Redata_loaded.length));
                Redata_spilited = sliceIntoChunks(JSON.parse(JSON.stringify(Redata_loaded)), 500);
                RevenueDetail_ViewMore();
            }
        });
        RevDataObject.Init();
        Checking_TabControl_Permission();
    });

    //#endregion

    //#region // Load affter init
    function MyCms_load()
    {
        CurrentNameMaster = "@Local["Hoa hồng bác sĩ theo điều trị của tôi"]";
        CurrentMaster = sys_employeeID_Main;
        $('#RevenueNameDetail').html(CurrentNameMaster);
        $('#dtContentReportBody').html('');
        $('#dtContentReport').removeClass('showall');
        RevDataObject.RevenueDetail_Load(sys_employeeID_Main);
    }
    //#endregion

    //#region // DETAIL RENDER

    function RevenueDetail_ViewMore()
    {
        var p = fnRenderArray(data = Redata_spilited
            , id = "dtContentReportBody"
            , index = ReblockIndex
            , fnrender = RevenueDetail_Render
            , fnsuccess = function () { }
            , fnbegin = function () { });

        p.then(function (v)
        {
            ReblockIndex = v;
            if (ReblockIndex <= Redata_spilited.length) {
                $('#btndetailmore').show();
                Renum_rendered = Renum_rendered + Redata_spilited[ReblockIndex - 1].length;
                Renum_rendered = Renum_rendered > Redata_loaded.length ? Redata_loaded.length : Renum_rendered;
                $('#Reve_currentdata').html(formatNumber(Renum_rendered));
            }
            else $('#btndetailmore').hide();
        });
    }

    function RevenueDetail_Render(data, id)
    {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            let tr = '';
            let RevenueTotal = 0;
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    tr = tr + RevenueDetail_RenderEach(item);
                    RevenueTotal += item.RealAmount;
                }
                myNode.innerHTML = myNode.innerHTML + tr;
                Checking_TabControl_Permission();

            }
            if ($('#RevenueTotal').length != 0) {
                $('#RevenueTotal').html(formatNumber(RevenueTotal));
            }
        }
    }

    function RevenueDetail_RenderEach(item)
    {
        let tr =
            '<td class="vt-number-order"></td>'
            + '<td><a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CustID + '">' + item.CustCode + '</a></td>'
            + '<td>' + item.CustName + '</td>'
            + '<td data-name="Source">' + Fun_GetName_ByID(RP_DataCustomerSource, item.SourceID) + '</td>'
            + '<td data-name="DocCode">' + item.DocCode + '</td>'
            + '<td data-name="CustPhone" class="_tab_control_" data-tab="phone_customer">' + item.CustPhone + '</td>'
            + '<td>' + item.CustCodeOld + '</td>'
            + '<td data-name="CustAge">' + item.CustAge + '</td>'
            + '<td data-name="CustGender">' + `${item.CustGender == "60" ? "@Local["Nam"]" : "@Local["Nữ"]"}` + '</td>'
            + '<td><span class="content_line_clamp _tab_control_" data-name="CustAddress" data-tab="address_customer">' + `${item.CustAddress}` + '</span></td>'
            + '<td class="_tab_control_" data-name="CustCommu" data-tab="address_customer">' + `${Fun_GetName_ByID(RP_DataCommune, item.CustCommuneID)}` + '</td>'
            + '<td class="_tab_control_" data-name="CustDistrict" data-tab="address_customer">' + `${Fun_GetName_ByID(RP_DataDistrict, item.CustDistrictID)}` + '</td>'
            + '<td class="_tab_control_" data-name="CustCity" data-tab="address_customer">' + `${Fun_GetName_ByID(RP_DataCity, item.CustCityID)}` + '</td>'
            + '<td data-name="ServiceCode">' + item.Service_Code + '</td>'
            + '<td>'
            + RevenueDetail_ServiceName(item.ServiceID)
            + '</td>'
            + '<td>' + item.ServiceType + '</td>'
            + '<td data-name="SaleCode">' + item.SaleCode + '</td>'
            + '<td data-name="Quantity">' + item.Qty + '</td>'
            + '<td data-name="PriceInt">'
            + formatNumber(item.PriceIni)
            + '</td>'
            + '<td>'
            + ((Number(sys_dencos_Main) == 1)
                ? ('<span class="statustreat_row">'
                    + `${(item.TeethChoosing != '') ? Fun_GetTeeth_ByToken(DataTeeth, item.TeethChoosing, item.TeethType) : ''}`
                    + '</span>')
                : ('<span class="statustreat_row">' + (Outlang['Lan_dieu_tri'] + ' : ' + item.TimeTreatIndex + ' | ' + item.TimeTreat) + '</span>')
            )
            + '</td>'
            + '<td data-name="PercentNew">'
            + ((Number(sys_dencos_Main) == 1)
                ? ('<span>'
                    + item.NewPer
                    + '</span>')
                : ('<span>' + (Number(item.TimeTreat) != 0 ? ((Number(item.TimeTreatIndex) / Number(item.TimeTreat)) * 100).toFixed(2) : 0) + '</span>')
            )
            + '</td>'
            + '<td>' + formatNumber(item.PercentOfService) + '</td>'
            + '<td>'
            + item.Empname
            + '</td>'
            + '<td>'
            + item.Empcode
            + '</td>'
            + '<td>' + 'hoa hồng' + '</td>'
            + '<td>' + '% doanh thu' + '</td>'
            + '<td>' + formatNumber(item.PaymentService) + '</td>'
            + '<td>' + formatNumber(item.PaymentPeriod) + '</td>'
            
            + '<td>'
            + (item.RealAmount != 0 ? formatNumber((item.RealAmount)) : '')
            + '</td>'
            + '<td>' + (item.Manual_Revenue == 1 ? `<span class="content_line_clamp">${item.Note}</span>` : '') + '</td>'
            + '<td data-name="Date">' + ConvertDateTimeUTC_DMY(item.Date) + '</td>'
            + '<td data-name="TreatContent"><span class="content_line_clamp">' + item.TreatContent + '</span></td>'
            + '<td data-name="Branch">' + item.BranchName + '</td>'
            + '<td class="text-center" data-name="Craftsmanship">'
            + (item.Manual_Revenue == 1 ? '<i class="imgGrid vtt-icon vttech-icon-check"></i>' : '')
            + '</td>'


        return '<tr class="vt-number" role="row">' + tr + '</tr>';
    }

    function RevenueDetail_ServiceName(id)
    {
        try {
            return RP_DataService[id].Name;
        }
        catch (ex) {
            return "";
        }
    }

    //#endregion

    //#region //Export excel
    async function exportData_RevenueDetail()
    {
        let fileName = Outlang["Doanh_thu_ky_thuat_vien"] + '(' + CurrentNameMaster + ')';
        if (typeof RevDataObject.ExportDetail === 'function')
            RevDataObject.ExportDetail(fileName);
        else
            exportToExcel('dtContentReport', fileName);
    }

    //#endregion
</script>

<style>
    #dtContentReport.showall .exact {
        display: none !important;
    }

    #dtContentReport.showall .all {
        display: table-cell !important;
    }

    #dtContentReport .all {
        display: none;
    }
</style>