@page
@model MLunarCoffee.Pages.Customer.Valid.ValidPhone
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>


<div class="row  justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
        <div class="card-body px-lg-5 py-lg-5 text-center">

            <div class="text-center text-muted mb-4">
                <h6 class="fw-bold mb-0">@Local["Phải xác thực hồ sơ"]</h6>
                <p class="mb-4">@Local["Nhập số điện thoại"] ( @Local["Khách hàng"] ) </p>
            </div>
            <div class="row gx-2 gx-sm-3">
                <input id="vlp_phone" onchange="vlp_onchange()" type="text" class="form-control"
                       placeholder="eg .@Local["Số điện thoại"]">
                 
            </div>
            <div class="text-center mt-3 d-flex">
                <button type="button" onclick="vlp_Close()" class="mx-1 btn btn-dark w-30">@Local["Hủy"]</button>
                <button id="vlp_btnSave" type="button" onclick="vlp_Save()" class="btn bg-gradient-warning w-70 disabled">@Local["Mở khóa"]</button>
               
            </div>
        </div>
 
    </div>
</div>


<script>
    var sta_vlpphone = '@Model._vlp_phone';

    $(document).ready(function () {

    });
    function vlp_onchange () {
        let vlp_phone = $('#vlp_phone').val() ? $('#vlp_phone').val() : '';
        if (vlp_phone != '' && vlp_phone == sta_vlpphone) {
            $('#vlp_btnSave').removeClass('disabled');
        }
        else $('#vlp_btnSave').addClass('disabled');
    }
    function vlp_Save () {
        let vlp_phone = $('#vlp_phone').val() ? $('#vlp_phone').val() : '';
        if (vlp_phone != '' && vlp_phone == sta_vlpphone) {
            AjaxLoad(url = "/Customer/Valid/ValidPhone/?handler=Valid"
                , data = {
                    'CustomerID': ser_MainCustomerID
                }
                , async = true
                , error = function () {notiError_SW();}
                , success = function (result) {
                    if (result != "") {
                        syslog_cutprofilevalid('u', ser_MainCustomerID);
                        location.reload();
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
        else {
            notiWarning('@Local["Nhập số điện thoại"]');
        }
    }
    function vlp_Close () {
        $('#DetailModal').modal('hide');
        $("#DetailModal_Content").html('');
    }

</script>
<style>
 
</style>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>