@page
@model MLunarCoffee.Pages.Setting.Dentist.ChartDiseaseListModel
@{ Layout=null;
}
<div class="container-fluid py-3 px-0">
    <div class="row" id="divChartDiseaseList">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Danh sách trạng thái bệnh của răng"]</h6>
                                <p class="text-sm mb-0">@Local["Chỉ được chỉnh sửa, không được thêm hoặc xoá"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1">
                            <button class="btn bg-gradient-primary btn-sm mt-1 setting_projectclosure" data-value="fade up" onclick="return AddTodoStatus()"> @Local["Thêm mới"]</button>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="m-0 my-3 mobile-responsive">
                        <table id="dtContentDiseaseList" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th>@Local["#"]</th>
                                    <th>@Local["Trạng thái"]</th>
                                    <th>@Local["Thông tin tạo"]</th>
                                    <th>@Local["Thông tin sửa"]</th>
                                    <th class="setting_projectclosure">Sửa</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentDiseaseListBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="divChartDiseaseDetail">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ChartDiseaseLoad();

        $('#dtContentDiseaseList tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            ChartDiseaseEdit(ID);
        });

    });

    function ChartDiseaseLoad() {
        AjaxLoad(url = "/Setting/Dentist/ChartDiseaseList/?handler=Loadata"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    ChartDiseaseRender(data, "dtContentDiseaseListBody");
                } else {
                    notiError("Lỗi khi lấy dữ liệu!");
                }
            });
    }

    function ChartDiseaseRender(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>' + item.Name + '</td>'
                        + '<td>' + item.CreatedInfo + '</td>'
                        + '<td>' + item.ModifiedInfo + '</td>'
                        + '<td class="text-center setting_projectclosure">'
                        + ((item.DeleteButton === 1)
                            ? Render_Button_Grid(['<button title="Edit" class="buttonGrid" value="'
                                + item.ID
                                + '"><i class="buttonEditClass vtt-icon vttech-icon-delete"></i></button>'])
                            : '')
                        + '</td>';
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

    // edit
    function ChartDiseaseEdit(id) {
        ChartDiseaseOpen();
        $("#divChartDiseaseDetail").load("/Setting/Dentist/ChartDiseaseDetail?CurrentID=" + id + "&ver=" + versionofWebApplication);
        $('#divChartDiseaseDetail').show();
    }

    // open or close detail
    function ChartDiseaseOpen() {
        $("#divChartDiseaseDetail").empty();
        $("#divChartDiseaseList").hide();
        document.getElementById("divChartDiseaseDetail").innerHTML = '';
    }
    function ChartDiseaseClose() {
        document.getElementById("divChartDiseaseDetail").innerHTML = '';
        $("#divChartDiseaseList").show();
        $("#divChartDiseaseDetail").hide();
    }
</script>
<script src="/js/main.js" async></script>
