@page
@model MLunarCoffee.Pages.Setting.AppCustomer.Article.ArticleDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <div class="p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0"></h6>
                                <p class="text-sm mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 pt-2 form3" id="AAD_FormArticleDetail">
                    <div class="row px">
                        <div class="row ms-2" id="AAD_LogoApp">
                            <div class="field col-12 col-lg-6 p-1">
                                <div class="field col-12">
                                    <div>
                                        <span class="text-sm text-gradient text-warning mb-0" id="AAD_LimitImageFeatNote">110 x 110 px</span>
                                        <span class="text-dark text-sm mb-0 ps-2">@Local["Hình ảnh"]</span>
                                        <hr class="horizontal dark mt-0 mb-2">
                                    </div>
                                    <div class="avatar avatar-xxl position-relative d-inline-block">
                                        <img id="AAD_FeatureImg" class="border-radius-md border border-1 border-gray" alt="team-2" src="#" onerror="Master_OnLoad_Error_Image(this)">
                                        <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="AAD_Fileup_LoadFeatureImage" accept="image/*" type="file" name="files[]" />
                                        <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0 " id="btnAppArticleUploadLogo">
                                            <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2">
                                                <i class="fa fa-pen top-0" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-lg-6 d-flex justify-content-center p-1">
                                <div class="field col-12">
                                    <div>
                                        <span class="text-sm text-gradient text-warning mb-0" id="AAD_LimitImageNote">700 x 300 px</span>
                                        <span class="text-dark text-sm mb-0 ps-2">@Local["Chi tiết hình ảnh"]</span>
                                        <hr class="horizontal dark mt-0 mb-2">
                                    </div>
                                    <div class="position-relative d-inline-block" style="width:220px">
                                        <img id="AAD_Image" class="border border-radius-md ImgBigAvartar" src="#" alt="team-2" onerror="Master_OnLoad_Error_Image(this)">
                                        <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="AAD_Fileup_LoadImage" accept="image/*" type="file" name="files[]" />
                                        <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0" id="btnAppArticleUploadLogoBig">
                                            <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2">
                                                <i class="fa fa-pen top-0" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex row ms-1">
                            <div class="field col-12 col-lg-6 p-1">
                                <label>@Local["Tiêu đề"]</label>
                                <textarea id="AAD_Header" name="name" type="text" placeholder="eg. Title" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="field col-12 col-lg-6 p-1">
                                <label>@Local["Mô tả"]</label>
                                <textarea id="AAD_SubTitle" type="text" class="form-control" rows="3" placeholder="eg. Sub Title"></textarea>
                            </div>
                        </div>
                        <div class="d-lg-flex ms-1 mt-n2">
                            <div class="col col-md-12 col-sm-12 mt-3">
                                <div class="flex-grow-1">
                                    <div class="field col-12 p-1">
                                        <label>@Local["Nội dung"]</label>
                                        <textarea id="AAD_Content" rows="4" name="name" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-flex ms-1 mt-n2">
                            <div class="col col-md-12 col-sm-12 mt-3" id="AAD_SourceDiv">
                                <div class="flex-grow-1">
                                    <div class="field col-12 p-1">
                                        <label>Link @Local["Nên sử dụng dưới dạng single page"]</label>
                                        <input id="AAD_Source" name="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="AAD_FormArticleDetail" onclick="event.preventDefault(); AAL_Close()">@Local["Hủy"]</button>
                        <button form="AAD_FormArticleDetail" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();AAD_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let ser_ArticleDetailID;
    let AAD_FeatureImageString = Master_Default_Pic;
    let AAD_ImageString = Master_Default_Pic;
    let DefaultPic = Master_Default_Pic;
    let AAD_FeatureImgFile, AAD_ImgFile;
    let urlImage = "/Api/Upload/Upload?Type=ClientApp";
    let Sys_App_FeatureImage = (ser_AcceptSettingApp['article'] != undefined && ser_AcceptSettingApp['article']['imagefeature'] != undefined)
            ? ser_AcceptSettingApp['article']['imagefeature']
            : {
                size: 50000,
                width: 110,
                height: 110,
                format: ['jpg', 'png']
            }
    let Sys_App_Image = (ser_AcceptSettingApp['article'] != undefined && ser_AcceptSettingApp['article']['image'] != undefined)
            ? ser_AcceptSettingApp['article']['image']
            : {
                size: 50000,
                width: 700,
                height: 300,
                format: ['jpg', 'png']
            }
    $(document).ready(function () {
        ser_ArticleDetailID = @Model._ArticleDetailID;
        AAD_Init();
        if (ser_ArticleDetailID != "0")
        {
            AAD_LoadUpdateData();
        }
        Checking_TabControl_Permission();
    });

    function AAD_Init(){
        $('#AAD_FeatureImg').attr('src', DefaultPic);
        $('#AAD_Image').attr('src', DefaultPic);
        let extImage = (Sys_App_Image.format).reduce((previous, current) => {
            return "." + previous + ",." + current
        })
        let extImageFeat = (Sys_App_FeatureImage.format).reduce((previous, current) => {
            return "." + previous + ",." + current
        })
        $('#AAD_LimitImageFeatNote').html(`(${extImageFeat}) ${Sys_App_FeatureImage.width} x ${Sys_App_FeatureImage.height} px`);
        $('#AAD_LimitImageNote').html(`(${extImage}) ${Sys_App_Image.width} x ${Sys_App_Image.height} px`);
        ADD_Event();
    }

    function AAD_LoadUpdateData() {
        if (ser_ArticleDetailID != 0 && ser_ArticleDetailID != "") {
            AjaxLoad(url = "/Setting/AppCustomer/Article/ArticleDetail/?handler=LoadDetail"
                , data = { CurrentID: ser_ArticleDetailID }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "") {
                        let FeatureImgSrc = '';
                        let ImgSrc = '';
                        let data = JSON.parse(result);
                        $("#AAD_Header").val(data[0].Header);
                        $("#AAD_SubTitle").val(data[0].Sub);
                        $("#AAD_Content").val(data[0].Content);
                        $("#AAD_Source").val(data[0].Source);
                        AAD_FeatureImageString = data[0].FeatureImage;
                        AAD_ImageString = data[0].Image;
                        FeatureImgSrc = (AAD_FeatureImageString != "") ? AAD_FeatureImageString : DefaultPic;
                        ImgSrc = (AAD_ImageString != "") ? AAD_ImageString : DefaultPic;
                        $('#AAD_FeatureImg').attr('src', FeatureImgSrc);
                        $('#AAD_Image').attr('src', ImgSrc);
                    }
                });
        }
    }
    function ADD_Event() {
        UploadImage({
            inputFile: 'AAD_Fileup_LoadFeatureImage'
            , btnInput: 'btnAppArticleUploadLogo'
            , avatar: 'AAD_FeatureImg'
            , condition: Sys_App_FeatureImage
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
        UploadImage({
            inputFile: 'AAD_Fileup_LoadImage'
            , btnInput: 'btnAppArticleUploadLogoBig'
            , avatar: 'AAD_Image'
            , condition: Sys_App_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }

    async function AAD_ExcuteData() {
        let ImageFuture = $("#AAD_Fileup_LoadFeatureImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'AAD_Fileup_LoadFeatureImage') : AAD_FeatureImageString;
        let Image = $("#AAD_Fileup_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'AAD_Fileup_LoadImage') : AAD_ImageString;
        let data = new Object();
        data.Header = $('#AAD_Header').val() ? $('#AAD_Header').val() : "";
        data.Sub = $('#AAD_SubTitle').val() ? $('#AAD_SubTitle').val() : "";
        data.Content = $('#AAD_Content').val() ? $('#AAD_Content').val() : "";
        data.Source = $('#AAD_Source').val() ? $('#AAD_Source').val() : "";
        data.FeatureImage = ImageFuture;
        data.Image = Image;
        if (AAD_Validate()) {
            AjaxLoad(url = "/Setting/AppCustomer/Article/ArticleDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_ArticleDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        AAL_Load();
                        AAL_Close();
                        syslog_mob(ser_ArticleDetailID == 0 ? "i" : "u", "@Local["Bài viết"]");
                    } else {
                        $("#textShowMessage").html("@Local["Trùng dữ liệu"]");
                    }
                });
        }
        return false;
    }

    function AAD_Validate() {
        $('#AAD_FormArticleDetail').form('validate form');
        if ($('#AAD_FormArticleDetail').form('is valid')) {
            return true;
        }
        return false;
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>

    .addimgNew {
        max-height: 200px;
        width: 200px;
        height: 200px
    }

    .imputaddImgNew {
        margin-left: -23px;
        margin-top: 70px;
    }

    .ImgBigAvartar {
        width: 220px;
        height: 110px;
    }

    .inputImgBigAvartar {
        width: 220px;
        height: 110px;
        margin-top: -96px;
        margin-left: -218px
    }
</style>