@page
@model MLunarCoffee.Pages.Setting.AppCustomer.About.AboutDetailModel
@{
    Layout = null;
}

<script>js_require_notasync('/assests/dist/UploadJS/js/jquery.fileupload.js', true)</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0"></h6>
                                <p class="text-sm mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 form3" id="APD_FormAbout">
                    <div class="row px">
                        <div class="d-lg-flex">
                            <div class="col-w-300 mt-3">
                                <div class="card-body p-0 text-center mt-n3 pt-1">
                                    <div>
                                        <span class="text-sm text-gradient text-warning mb-0" id="APD_LimitImageNote">110 x 110 px</span>
                                        <span class="text-dark text-sm mb-0 ps-2">@Local["Hình ảnh đại diện"]</span>
                                        <hr class="horizontal dark mt-0 mb-2">
                                    </div>
                                    <div class="avatar avatar-xxl position-relative d-inline-block">
                                        <img id="APD_DetailImage" class="border-radius-md border border-1 border-gray" alt="team-2" src="#" onerror="Master_OnLoad_Error_Image(this)">
                                        <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="APD_Fileup_LoadImage" accept="image/*" type="file" name="files[]" />
                                        <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0 " id="btnAppAboutUploadLogo">
                                            <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2">
                                                <i class="fa fa-pen top-0" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 ">
                                <div class="flex-grow-1">
                                    <div class="field col-12 p-1">
                                        <label>@Local["Tên"]</label>
                                        <input id="APD_Name" type="text" name="name" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="APD_FormAbout" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="APD_FormAbout" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();APD_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let ser_AboutDetailID;
    let APD_DetailImageString = Master_Default_Pic;
    let DefaultPic = Master_Default_Pic;
    let APD_DetailImageFile, APD_ImgFile;
    let urlImage = "/Api/Upload/Upload?Type=ClientApp";
    let Sys_App_Image;
    $(document).ready(function () {
        ser_AboutDetailID = @Model._AboutDetailID;
        APD_Init();
        if (ser_AboutDetailID != "0")
        {
            APD_LoadUpdateData();
        }
        Checking_TabControl_Permission();
    });

    function APD_Init(){
        $('#APD_DetailImage').attr('src', DefaultPic);
        if(ser_AcceptSettingApp['about'] != undefined){
            Sys_App_Image =
            ser_AcceptSettingApp['about']['image'] != undefined
                ? ser_AcceptSettingApp['about']['imagefeature']
                : {
                    size: 50000,
                    width: 110,
                    height: 110,
                    format: ['jpg', 'png']
                }
        }
        else {
            Sys_App_Image ={
                            size: 50000,
                            width: 110,
                            height: 110,
                            format: ['jpg', 'png']
                           }
        }
        $('#APD_LimitImageNote').html(`${Sys_App_Image.width} x ${Sys_App_Image.height} px`);
        APD_Event();
    }

    function APD_LoadUpdateData() {
        if (ser_AboutDetailID != 0 && ser_AboutDetailID != "") {
            AjaxLoad(url = "/Setting/AppCustomer/About/AboutDetail/?handler=LoadDetail"
                , data = { CurrentID: ser_AboutDetailID }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "") {
                        let FeatureImgSrc = '';
                        let ImgSrc = '';
                        let data = JSON.parse(result);
                        $("#APD_Name").val(data[0].Name);
                        APD_DetailImageString = data[0].Image;
                        ImgSrc = (APD_DetailImageString != "") ? APD_DetailImageString : DefaultPic;
                        $('#APD_DetailImage').attr('src', ImgSrc);
                    }
                });
        }
    }

    function APD_Event() {
        UploadImage({
            inputFile: 'APD_Fileup_LoadImage'
            , btnInput: 'btnAppAboutUploadLogo'
            , avatar: 'APD_DetailImage'
            , condition: Sys_App_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }

    async function APD_ExcuteData() {
        let Image = $("#APD_Fileup_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'APD_Fileup_LoadImage') : APD_DetailImageString;
        let data = new Object();
        data.Name = $("#APD_Name").val() ? $("#APD_Name").val() : "";
        data.Image = Image;
        if (APD_Validate()) {
            AjaxLoad(url = "/Setting/AppCustomer/About/AboutDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_AboutDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        APL_Load();
                        CloseModal();
                        syslog_mob(ser_AboutDetailID == 0 ? "i" : "u", "@Local["Giới thiệu"]");
                    } else {
                        $("#textShowMessage").html("Trùng dữ liệu");
                    }
                });
        }
        return false;
    }

    function APD_Validate() {
        $('#APD_FormAbout').form('validate form');
        if ($('#APD_FormAbout').form('is valid')) {
            return true;
        }
        return false;
    }
</script>
