@page
@model MLunarCoffee.Pages.Setting.AppCustomer.About.AboutListModel
@{
    Layout = null;
}
<link href="/assests/icon-app/style.css" rel="stylesheet" />

<div class="row">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0 pt-2">
                <div class="left">
                    <h6 class="mb-0">@Local["Cấu hình thông tin giới thiệu"]</h6>
                    <p class="text-sm mb-0">@Local["Danh sách cấu hình"] (@Local["Giới thiệu chung, đội ngũ bác sĩ"])</p>
                </div>
                <div class="right">
                    <a class="align-items-center p-0 text-body ms-2 d-flex" id="APL_Radio">
                        <div class="form-check pe-1">
                            <input onchange="event.preventDefault();return APL_HandleTab();" name="radioChooseFill"
                                   class="form-check-input cursor-pointer" type="radio" id="AboutUs" data-target="#APL_AboutUs" checked>
                            <label class="text-sm mb-0 me-3" for="Label">
                                @Local["Giới thiệu chung"]
                            </label>
                        </div>
                        <div class="form-check pe-1">
                            <input onchange="event.preventDefault();return APL_HandleTab();" name="radioChooseFill"
                                   class="form-check-input cursor-pointer" type="radio" id="AboutUsPerson" data-target="#APL_AboutUsPerson">
                            <label class="text-sm mb-0 me-3" for="Icon">
                                @Local["Đội ngũ bác sĩ"]"
                            </label>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body pt-2">
                <div id="APL_TabContainer">
                    <div class="m-0 my-3 mobile-responsive APL_TabItem" id="APL_AboutUs">
                        <div class="pt-2 form3 mt-n1" id="APL_FormAboutUs">
                            <label>@Local["Về chúng tôi"]</label>
                            <div class="field col-12 p-1">
                                <textarea id="APL_AboutUsInput" name="element" rows="14" type="text" class="form-control" data-id=""></textarea>
                            </div>
                        </div>
                        <div class="fixed-botombutton mt-4 pt-3 pe-3 pb-3" id="APL_BtnSave">
                            <div class="action_Save">
                                <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                                <div class="action_Save-Content">
                                    <button id="companySave" form="APL_FormAboutUs" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault(); ABB_ExcuteForm()" data-fontchanged="true">@Local["Lưu"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 my-3 mobile-responsive d-none APL_TabItem" id="APL_AboutUsPerson">
                        <div class="d-lg-flex mt-2">
                            <div class="w-50 col-auto my-auto">
                                <div class="h-100 d-flex">
                                    <label>@Local["Về đội ngũ bác sĩ"]</label>
                                </div>
                            </div>
                            <div class="ms-auto my-auto mt-1">
                                <button id="btnAddNewAbout" class="btn bg-gradient-primary btn-sm mt-1" data-tab="add_tab_about" data-value="fade up" onclick="return APL_AddNew()">@Local["Thêm mới"]</button>
                            </div>
                        </div>
                        <table class="table vt-table mb-0 mt-2" id="APL_DtContent">
                            <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th style="width:45px;">#</th>
                                    <th>@Local["Hình ảnh"]</th>
                                    <th>@Local["Tên"]</th>
                                    <th>@Local["Người sửa"]</th>
                                    <th>@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="APL_DtContentBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let DataUser;
    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                APL_Load();
            }
        )
    })

    //#region //LOAD
    function APL_Load () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                AjaxLoad(url = "/Setting/AppCustomer/About/AboutList/?handler=LoadData"
                    , data = {}, async = true, error = null
                    , success = function (result) {
                        if (result != "") {
                            let data = JSON.parse(result)['Table'];
                            let personData = JSON.parse(result)['Table1'];
                            APL_RenderForm(data, 'APL_AboutUsInput');
                            APL_RenderTable(personData, 'APL_DtContentBody');
                            APL_Event();
                        }
                        else {
                            notiError_SW();
                        }
                    });
            });
    }

    //#endregion


    //#region //RENDER
    function APL_RenderForm(data, id){
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                myNode.setAttribute('data-id', data[0].ID);
                myNode.value = data[0].Content;
            }
        }

        Checking_TabControl_Permission();
    }

    function APL_RenderTable(data, id) {
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.ModifiedBy);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
                    let tr = `<td class="d-none APL_ID"> ${item.ID} </td>
                              <td class="vt-number-order"></td>
                              <td class="col col-md-2">
                                   <div class="text-center">
                                       <div class="avatar avatar-xl position-relative my-1">
                                            <img class="border-radius-md h-100" src="${item.Image}" alt="label-image" onerror="${Master_OnLoad_Error_Image(this)}"/>
                                       </div>
                                   </div>
                              </td>
                              <td class="col col-md-5 mx-auto">
                                  <div class="mx-2">
                                       <a class="text-decoration-underline fw-bold buttonEditClass" href="#"> ${item.Name} </a>
                                  </div>
                              </td>
                              <td class="col col-md-3">
                                  <div class="d-flex f-md-right">
                                      <div class="icon icon-shape icon-sm me-2 text-center" >
                                          <img class="avatar avatar-xs mt-2 " src="${img}" alt="label-image" onerror="Master_OnLoad_Error_Image(this)">
                                          </div>
                                          <div class="d-flex flex-column">
                                          <h6 class="text-dark text-sm mb-0"> ${name} </h6>
                                          <span class="text-xs"> ${formatDateToDMYHM(item.Modified)} </span>
                                      </div>
                                  </div>
                              </td>
                              <td> ${Render_Button_Grid(['<button class="buttonGrid" value="item.ID"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>'])}
                              </td>`;
                    stringContent = stringContent + `<tr class="vt-number" role="row"> ${tr} </tr>`;
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }

        Checking_TabControl_Permission();
    }
    //#endregion

    //#region //EVENT
    function APL_HandleTab () {
        let TabID = $('input[name=radioChooseFill]:checked', '#APL_Radio').attr('data-target');
        $('#APL_TabContainer').children('.APL_TabItem').each((k, v)=>{
            v.classList.add("d-none");
        })
        $(TabID).removeClass('d-none');
    }

    async function ABB_ExcuteForm() {
        let data = new Object();
        data.ID = $('#APL_AboutUsInput').attr('data-id') ? $('#APL_AboutUsInput').attr('data-id') : "";
        data.Content = $('#APL_AboutUsInput').val() ? $('#APL_AboutUsInput').val() : "";
        if (APL_Validate()) {
            AjaxLoad(url = "/Setting/AppCustomer/About/AboutList/?handler=ExcuteAboutUs"
                ,data = {
                    data: JSON.stringify(data)
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        syslog_mob("u", "@Local["Giới thiệu"]");
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
        function APL_Validate() {
        $('#APL_FormAboutUs').form('validate form');
        if ($('#APL_FormAboutUs').form('is valid')) {
            return true;
        }
        return false;
    }
    function APL_Delete(id) {
        const promise = notiConfirm();
        promise.then(function () { APL_ExecuteDelete(id); }, function () { });
    }

    function APL_ExecuteDelete(id) {
        AjaxLoad(url = "/Setting/AppCustomer/About/AboutList/?handler=Delete"
            , data = {id:id}, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    APL_Load();
                    syslog_mob("d", "@Local["Giới thiệu"]");
                } else {
                    notiError_SW();
                }
            });
    }

    function APL_AddNew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/AppCustomer/About/AboutDetail" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function APL_Event () {
        $('#APL_DtContent tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr').find('.APL_ID')[0].innerHTML);
            APL_Edit(ID);
        });
        $('#APL_DtContent tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr').find('.APL_ID')[0].innerHTML);
            APL_Delete(ID);
        });
    }

    function APL_Edit (ID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/AppCustomer/About/AboutDetail?CurrentID=" + ID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    //#endregion

</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>