@page
@model MLunarCoffee.Pages.Account.Fund.ClosingEntryLock
@{
    Layout = null;
}

<div class="col-lg-8 mx-auto">
    <div class="card my-4">
        <div class="card-header p-3 pb-0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="font-weight-bolder mb-0">@Local["Chốt sổ"]</h6>
                    <p class="text-danger text-sm">@Local["Kiểm tra dữ liệu trước khi thực hiện thao tác chốt sổ. Hóa đơn thanh toán sau khi chốt sẽ bị khóa và không thể chỉnh sửa."]</p>
                </div>
            </div>
        </div>
        <div class="card-body p-3 pt-0 mt-2">
            <h6>@Local["Thông tin chung"]</h6>
            <div class="row mt-1">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="text-dark card-plain ">

                        <div class="card-body mt-1 p-3 bg-gray-100 border-radius-lg">
                            <div class="ps-1 pt-0 text-dark text-sm">
                                <p class="mb-0 text-sm mt-3">@Local["Thời gian chốt"]</p>
                                <p class="fw-bold text-sm my-auto"><span id="LockDate_From"></span> - <span id="LockDate_To"></span></p>
                                <hr class="horizontal dark">
                                <p class="mb-0 text-sm mt-3">@Local["Chi nhánh"]</p>
                                <p class="text-sm font-weight-bold my-auto"><b id="LockDate_Branch"></b></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="d-flex justify-content-between">
                        <span class="text-sm">
                            @Local["Tiền mặt"]:
                        </span>
                        <span id="LockDate_Cash" class="text-dark ms-2 font-weight-bold">0</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="text-sm">
                            @Local["Chuyển khoản"]:
                        </span>
                        <span id="LockDate_Trans" class="text-dark ms-2 font-weight-bold">0</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="text-sm">
                            @Local["POS"]:
                        </span>
                        <span id="LockDate_POS" class="text-dark ms-2 font-weight-bold">0</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="text-sm">
                            @Local["Khác"]:
                        </span>
                        <span id="LockDate_Other" class="text-dark ms-2 font-weight-bold">0</span>
                    </div>
                    <hr class="horizontal dark mt-4 mb-3">
                    <div class="d-flex justify-content-between">
                        <span class="mb-2 text-sm">
                            @Local["Tổng"]:
                        </span>
                        <span id="LockDate_Total" class="text-dark ms-2 font-weight-bold">0</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-3 flex-grow-1">
                    <label>@Local["Nội dung"]</label>
                    <textarea class="form-control" id="LockDate_Content" placeholder="eg .@Local["Nội dung"]" rows="4" name="content" />
                </div>
                <div class="col-12 col-md-6 mt-3 flex-grow-1">
                    <div>
                        <label>@Local["Chuyển khoản"]</label>
                        <input class="form-control" id="LockDate_ipTransfer" placeholder="eg .@Local["Chuyển khoản"]" name="content" onchange="ClosingLock_OnChangeAmount(event)"/>
                    </div>
                    <div>
                        <label>@Local["POS"]</label>
                        <input class="form-control" id="LockDate_ipPOS" placeholder="eg .@Local["POS"]" name="content"  onchange="ClosingLock_OnChangeAmount(event)"/>
                    </div>
                </div>
            </div>
            <div class="my-3 d-flex">
                <div class="ms-auto">
                    <div id="lockdetail_check" class="text-center text-md text-dark" style="min-width: 250px;">
                        <span class="text-sm text-dark font-weight-bold my-2 d-block">@Local["Xác nhận"]</span>
                        <div id="lockdetail_checkdiv" class="border-dashed border-1 border-secondary border-radius-md my-3" style="height: 100px;">
                            <img id="lockdetail_checkimg" class="d-none" style="height: 100px;" src="">
                        </div>
                        <span id="lockdetail_checkname" class="text-sm text-dark font-weight-bold"></span>
                        <div id="lockdetail_checkdate" class="text-center text-sm text-dark"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer fixed-botombutton">
            <div class="action_Save">
                <div class="action_Save-Content">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="CEtextShowMessage"></div>
                    <div>
                        <button class="btn btn-secondary"
                                onclick="event.preventDefault();return ClosingDetail_Cancel();">
                            @Local["Đóng"]
                        </button>
                    </div>
                    <div>
                        <button type="button"
                                class="btn bg-gradient-primary mt-2 me-2"
                                onclick="event.preventDefault(); return ClosingLock_Save();">
                            @Local["Lưu"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>js_require('/js/comon/initialize_setting.js')</script>

<script>
    var lockdetail_sign = '';
    var LockAccount_Total = 0;
    var LockAccount_Cash = 0;
    var LockAccount_Trans = 0;
    var LockAccount_POS = 0;
    let LockAccount_flagChange = 0;
    $(document).ready(() => {
        ClosingLock_Load();
        $("#lockdetail_checkdiv").unbind("click").bind('click', function () {
            InvoiceDetail_SignExe(lockdetail_sign);
        });
        $('#LockDate_ipTransfer').divide();
        $('#LockDate_ipPOS').divide();
    })

    async function InvoiceDetail_SignExe(signdata) {
        await Signature_Action(signdata, 1);
        if (Signature_ResultSignation != "") {
            lockdetail_sign = Signature_ResultSignation;
            $("#lockdetail_checkimg").attr("src", lockdetail_sign);
            $("#lockdetail_checkimg").removeClass("d-none");
        }
    }

    function ClosingLock_Load() {
        var branchid = (Number($('#ClosingBranchID').dropdown('get value')) ? Number($('#ClosingBranchID').dropdown('get value')) : 0);
        let date = $('#ClosingDate').val() ? $('#ClosingDate').val() : new Date();
        AjaxLoad(
            url = "/Account/Fund/ClosingEntryLock/?handler=LoadLock"
            , data = {
                'date': date,
                'branchid': branchid
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != '[]') {
                    let datas = JSON.parse(result);
                    let info = datas.Table[0];
                    let data = datas.Table1;
                    if (!info.DateFrom.includes('1900')) $("#LockDate_From").html(GetDateTime_String_DMYHMSS(info.DateFrom))
                    else $("#LockDate_From").html('');
                    if (!info.DateTo.includes('1900')) $("#LockDate_To").html(GetDateTime_String_DMYHMSS(info.DateTo))
                    else $("#LockDate_To").html('');
                    $("#LockDate_Branch").html(info.BranchName);
                    let indexamount = 0, indexcash = 0, indextrans = 0, indexpos = 0, indexother = 0;
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let type = ClosingValue_RenderInout(item.Type, Number(item.Amount));
                        let inamount = type == 'in' ? item.Amount : 0;
                        let outamount = type == 'out' ? item.Amount : 0;
                        if (item.Type != 9) {
                            indexamount = indexamount + inamount - outamount;
                            indexcash = indexcash + (item.AmountCash == 0 ? 0 : inamount) - (item.AmountCash == 0 ? 0 : outamount);
                            indextrans = indextrans + (item.AmountTransfer == 0 ? 0 : inamount) - (item.AmountTransfer == 0 ? 0 : outamount);
                            indexpos = indexpos + (item.AmountPOS == 0 ? 0 : inamount) - (item.AmountPOS == 0 ? 0 : outamount);
                            //indexother = indexother + (item.AmountCash != 0 ? 0 : inamount) - (item.AmountCash != 0 ? 0 : outamount);
                        }
                        else {
                            indexamount = item.Amount;
                            indexcash = item.AmountCash;
                            indextrans = item.AmountTransfer;
                            indexpos = item.AmountPOS;
                            //indexother = item.Amount - item.AmountCash - item.AmountTransfer - item.AmountPOS;
                        }
                    }
                    indexother = indexamount - indexcash - indextrans - indexpos;
                    LockAccount_Cash = indexcash;
                    LockAccount_Trans = indextrans;
                    LockAccount_POS = indexpos;
                    LockAccount_Total = indexamount;
                    $("#LockDate_Cash").html(formatNumber(indexcash));
                    $("#LockDate_Trans").html(formatNumber(indextrans));
                    $("#LockDate_POS").html(formatNumber(indexpos));
                    $("#LockDate_Other").html(formatNumber(indexother));
                    $('#LockDate_ipTransfer').val(indextrans);
                    $('#LockDate_ipPOS').val(indexpos);
                    $("#LockDate_Total").html(formatNumber(indexamount));
                }
            }
        )
    }

    function ClosingLock_Save() {
        $('#CEtextShowMessage').html('');
        let content = $('#LockDate_Content').val() ? $('#LockDate_Content').val() : '';
        var branchid = (Number($('#ClosingBranchID').dropdown('get value')) ? Number($('#ClosingBranchID').dropdown('get value')) : 0);
        let date = $('#ClosingDate').val() ? $('#ClosingDate').val() : new Date();
        if (lockdetail_sign == '') {
            $('#CEtextShowMessage').html('@Local["Xác nhận trước khi lưu"]');
        }
        if ($('#CEtextShowMessage').html() == '') {
            AjaxLoad(
                url = "/Account/Fund/ClosingEntryLock/?handler=ExcuteData"
                , data = {
                    "branchID": branchid,
                    "dateLock": date,
                    "content": content,
                    "amountCash": LockAccount_Cash,
                    "amountTrans": LockAccount_Trans,
                    "amountPOS": LockAccount_POS,
                    "amountTotal": LockAccount_Total,
                    "sign": lockdetail_sign
                }
                , async = true
                , error = function () { notiError_SW; }
                , success = function (result) {
                    if (result != "0") {
                        notiSuccess();
                        syslog_acc('i', val = result);
                        ClosingDetail_Cancel();
                        ClosingEntry_DefaultTime();

                    }
                    else { notiError_SW(); }
                }
            )
        }
    }

    function ClosingLock_OnChangeAmount(event) {
        event.preventDefault(); 
        event.stopPropagation();
        if(!LockAccount_flagChange) {
            LockAccount_flagChange = 1;
            let indextrans = !isNaN(Number($('#LockDate_ipTransfer').val())) ? Number($('#LockDate_ipTransfer').val()) : 0;
            let indexpos = !isNaN(Number($('#LockDate_ipPOS').val())) ? Number($('#LockDate_ipPOS').val()) : 0;
            let indexother = LockAccount_Total - LockAccount_Cash - indextrans - indexpos;
            if (indextrans.toString().length < 16 && indexpos.toString().length < 16 && indexother >= 0) {
                LockAccount_POS =indexpos
                LockAccount_Trans =indextrans
                $("#LockDate_Trans").html(formatNumber(LockAccount_Trans));
                $("#LockDate_POS").html(formatNumber(LockAccount_POS));
                $("#LockDate_Other").html(formatNumber(indexother));
                 LockAccount_flagChange = 0;
            }
            else {
                $('#LockDate_ipTransfer').val(LockAccount_Trans);
                $('#LockDate_ipPOS').val(LockAccount_POS);
                 LockAccount_flagChange = 0;
            }
        }

        return false;
    }
</script>
<script>js_require('/js/main.js')</script>

