@page
@model MLunarCoffee.Pages.Account.Fund.ClosingEntryViewModel
@{
    Layout = null;
}
<div class="col-lg-10 mx-auto">
    <div class="card mb-3">
        <div class="card-header pb-0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="mb-4">@Local["Thông tin chốt sổ"]</h6>
                    <p class="text-sm mb-0">
                        @Local["Thời gian chốt"] - @Local["Từ"] <b id="clv_datefrom"></b> @Local["Đến"] <b id="clv_dateto"></b>
                    </p>
                    <p class="text-sm">
                        @Local["Chi nhánh"]: <b id="clv_branchname"></b>
                    </p>
                </div>
            </div>
            <div class="row">
                <hr class="horizontal dark mt-0 mb-4">
                <div class="row mb-3">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="d-flex">
                            <div>
                                <img id="clv_avatarcreate" src="/default.png" class="avatar avatar-lg me-3" alt="avatar">
                            </div>
                            <div>
                                <h6 id="clv_created" class="text-lg mb-0 mt-0"></h6>
                                <p class="text-sm mb-0">@Local["Ngày lập"]: <b id="clv_createdate"></b></p>
                                <p class="text-sm mb-0">@Local["Nội dung"]: <b id="clv_content"></b></p>
                            </div>
                        </div>
                    </div>
                    <div class="ms-auto col-lg-3 col-md-6 col-12 my-auto ">
                        <div class="d-md-flex justify-content-between">
                            <p class="text-sm mb-0 text-dark d-inline-block">@Local["Tiền mặt"]:</p>
                            <h6 id="clv_amountcash" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                        </div>
                        <div class="d-md-flex justify-content-between">
                            <p class="text-sm mb-0 text-dark d-inline-block">@Local["Chuyển khoản"]:</p>
                            <h6 id="clv_amounttrans" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                        </div>
                        <div class="d-md-flex justify-content-between">
                            <p class="text-sm mb-0 text-dark d-inline-block">@Local["POS"]:</p>
                            <h6 id="clv_amountpos" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                        </div>

                        <div class="d-md-flex justify-content-between">
                            <p class="text-sm mb-0 text-dark d-inline-block"> @Local["Khác"]:</p>
                            <h6 id="clv_amountother" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                        </div>
                        <div class="d-md-flex justify-content-between">
                            <p class="text-sm mb-0 text-dark d-inline-block">@Local["Tổng"]:</p>
                            <h6 id="clv_amounttotal" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-2 ">
            <div class="m-0 my-3 table-responsive">
                <div id="waitingClosingEntryView" class="waitingdiv text-center" style="display: none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">@Local["Đang tải"]...</span>
                    </div>
                </div>
                <table class="table vt-table mb-0" id="ClosingEntryView_Content">
                    <thead>
                        <tr>
                            <th rowspan="2">@Local["#"]</th>
                            <th colspan="4">@Local["Chi tiết"]</th>
                            <th colspan="2">@Local["Thu"]/@Local["Chi"]</th>
                            <th colspan="4">@Local["Hình thức"]</th>
                            <th rowspan="2">@Local["Tồn"]</th>
                        </tr>
                        <tr>
                            <th style="min-width:120px">@Local["Thời gian"]</th>
                            <th>@Local["Chứng từ"]</th>
                            <th>@Local["Loại"]</th>
                            <th>@Local["Khách hàng"]</th>
                            <th>@Local["Thu"]</th>
                            <th>@Local["Chi"]</th>
                            <th>@Local["Tiền mặt"]</th>
                            <th>@Local["Chuyển khoản"]</th>
                            <th>@Local["POS"]</th>
                            <th>@Local["Khác"]</th>
                        </tr>
                    </thead>
                    <tbody id="ClosingEntryView_ContentBody">
                    </tbody>
                </table>
            </div>

            <div class="mt-3">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                    </div>
                    <div class="ms-auto my-auto mt-1">
                        <div id="accdetail_check" class="text-center text-md text-dark" style="min-width: 250px;">
                            <span class="text-sm text-dark font-weight-bold my-2 d-block">@Local["Xác nhận"]</span>
                            <div id="accdetail_checkdiv" class="border-dashed border-1 border-secondary border-radius-md my-3" style="height: 100px;">
                                <img id="clv_sign" class="d-none" style="height: 100px;" src="">
                            </div>
                            <span id="clv_signname" class="text-sm text-dark font-weight-bold"></span>
                            <div id="clv_signdate" class="text-center text-sm text-dark"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer fixed-botombutton">
            <div class="action_Save">
                <div class="action_Save-Content">
                    <button class="btn btn-secondary" form="" onclick="event.preventDefault(); return ClosingDetail_Print();">@Local["In"]</button>
                    <button class="btn btn-secondary" form="" onclick="event.preventDefault(); return ClosingDetail_Cancel();">@Local["Đóng"]</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script>

    let ClosingEntryViewID = '@Model._ClosingEntryID';
    let ClosingEntry_DateLock;
    let ClosingEntry_Branch;
    let ClosingEntry_DataUser;
    let indexamount = 0, indexcash = 0, indextrans = 0, indexpos = 0, indexother = 0;

    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                ClosingEntry_DataUser = data[0];
                ClosingEntryView_Init();
            })
    })

    function ClosingEntryView_Init() {
        if (ClosingEntryViewID && ClosingEntryViewID != "0") {
            AjaxLoad(
                url = "/Account/Fund/ClosingEntryView/?handler=Initialize"
                , data = {
                    'CurrentID': ClosingEntryViewID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '[]') {
                        let data = JSON.parse(result);
                        if (data && data.length != 0) {
                            let item = data[0];
                            let objuser = Fun_GetObject_ByID(ClosingEntry_DataUser, item.Created_By);
                            ClosingEntry_DateLock = GetDateTime_String_DMYHMSS(item.DateLock);
                            ClosingEntry_Branch = item.BranchID;
                            ClosingEntryView_LoadData();
                            $("#clv_created").html(objuser.Name ? objuser.Name : "")
                            $("#clv_createdate").html(GetDateTime_String_DMYHMSS(item.Created))
                            $("#clv_avatarcreate").attr("src", objuser.Avatar ? objuser.Avatar : Master_Default_Pic)
                            $("#clv_content").html(item.Content)
                            $("#clv_amountcash").html(formatNumber(item.AmountCash));
                            $("#clv_amounttrans").html(formatNumber(item.AmountTransfer));
                            $("#clv_amountpos").html(formatNumber(item.AmountPOS));
                            $("#clv_amountother").html(formatNumber((item.AmountTotal - item.AmountCash - item.AmountTransfer - item.AmountPOS)));
                            $("#clv_amounttotal").html(formatNumber(item.AmountTotal));
                            $("#clv_branchname").html(item.BranchName);
                            $("#clv_datefrom").html(GetDateTime_String_DMYHM(item.DateFrom));
                            $("#clv_dateto").html(GetDateTime_String_DMYHM(item.DateLock));
                            if (item.SignUser != 0) {
                                let objuser = Fun_GetObject_ByID(ClosingEntry_DataUser, item.SignUser);
                                $("#clv_signname").html(objuser.Name ? objuser.Name : "");
                                $("#clv_signdate").html(GetDateTime_String_DMYHMSS(item.SignDate));
                                $("#clv_sign").attr("src", item.SignValue);
                                $("#clv_sign").removeClass("d-none");
                            }
                        }
                    }
                    else {
                        notiError('@Local["Chốt sổ không tồn tại"]');
                    }
                }
            )
        }
    }

    async function ClosingEntryView_LoadData() {
        return new Promise((resolve, reject) => {
            AjaxLoad(
                url = "/Account/Fund/ClosingEntryView/?handler=LoadDetail"
                , data = {
                    'date': ClosingEntry_DateLock,
                    'branchid': ClosingEntry_Branch
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '[]') {
                        let data = JSON.parse(result);

                        fnRenderBlock(data, "ClosingEntryView_ContentBody"
                            , blocknum = 100
                            , fnrender = ClosingEntryView_Render
                            , fnsuccess = null
                        );
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function (e) {
                    $("#waitingClosingEntryView").show();
                }
                , complete = function (e) {
                    $("#waitingClosingEntryView").hide();
                }
            )
            resolve();
        })
    }

    //#region // RENDER DATA

    async function ClosingEntryView_Render(data, id) {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {

                    let stringContent = '';
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            let item = data[i];
                            let type = ClosingEntryView_RenderInout(item.Type, Number(item.Amount));
                            let inamount = type == 'in' ? item.Amount : 0;
                            let outamount = type == 'out' ? item.Amount : 0;
                            let classname = item.Type == 9 ? 'detail vt-number text-white bg-gradient-info' : 'detail vt-number';
                            if (item.Type != 9) {
                                classname = classname + ((item.AmountCash != 0) ? ' cash' : ' other');
                                indexamount = indexamount + inamount - outamount;
                                indexcash = indexcash + (item.AmountCash == 0 ? 0 : inamount) - (item.AmountCash == 0 ? 0 : outamount);
                                indextrans = indextrans + (item.AmountTransfer == 0 ? 0 : inamount) - (item.AmountTransfer == 0 ? 0 : outamount);
                                indexpos = indexpos + (item.AmountPOS == 0 ? 0 : inamount) - (item.AmountPOS == 0 ? 0 : outamount);
                                //indexother = indexother + (item.AmountCash != 0 ? 0 : inamount) - (item.AmountCash != 0 ? 0 : outamount);
                            }
                            else {
                                indexamount = item.Amount;
                                indexcash = item.AmountCash;
                                indextrans = item.AmountTransfer;
                                indexpos = item.AmountPOS;
                                //indexother = item.Amount - item.AmountCash;
                            }
                            let amountOther = item.Amount - item.AmountCash - item.AmountTransfer - item.AmountPOS;
                            let tr =
                                `   <td class="vt-number-order"></td>
                                    <td>${ConvertDateTimeUTC_DMYHM(item.Date)}</td>
                                    <td>${item.Code}</td>
                                    <td>${ClosingEntryView_RenderType(item.Type)}</td>
                                    <td>${item.CustCode}</td>
                                    <td>${inamount == 0 ? '0' : formatNumber(inamount)}</td>
                                    <td>${outamount == 0 ? '0' : formatNumber(outamount)}</td>
                                    <td>${item.AmountCash == 0 ? '0' : formatNumber(item.AmountCash)}</td>
                                    <td>${item.AmountTransfer == 0 ? '0' : formatNumber(item.AmountTransfer)}</td>
                                    <td>${item.AmountPOS == 0 ? '0' : formatNumber(item.AmountPOS)}</td>
                                    <td>${(amountOther == 0) ? '' : formatNumber(amountOther)}</td>
                                    <td>${formatNumber(indexamount)}</td>
                                `;
                            tr = '<tr class="' + classname + '" role="row">' + tr + '</tr>';
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                        indexother = indexamount - indexcash - indextrans - indexpos;
                    }
                }
                resolve();
            }, 100)
        });
    }

    function ClosingEntryView_RenderInout(type, amount) {
        if (type == 0 || type == 1 || type == 2 || type == 3) {
            //if (amount >= 0) return 'in';
            //else return 'out';
            return 'in';
        }
        else if (type == 5 || type == 6 || type == 7 || type == 8 || type == 10) return 'out';
        else if (type == 4) return 'in';
        else return '';
    }

    function ClosingEntryView_RenderType(type) {
        switch (type) {
            case 0:
                return '@Local["Dịch vụ"]';
                break;
            case 1:
                return '@Local["Tiền cọc"]';
                break;
            case 2:
                return '@Local["Thẻ trả trước"]';
                break;
            case 3:
                return '@Local["Thuốc"]';
                break;
            case 4:
                return '@Local["Thu khác"]';
                break;
            case 5:
                return '@Local["Chi khác"]';
                break;
            case 6:
                return '@Local["Labo"]';
                break;
            case 7:
                return '@Local["Nhà cung cấp"]';
                break;
            case 8:
                return '@Local["Người giới thiệu"]';
                break;
            case 9:
                return '@Local["Đầu kỳ"]';
                break;
            case 10:
                return decodeHtml('@Local["Tiền cọc"] - @Local["Nhà cung cấp"]');
                break;
        }
    }
    function ClosingDetail_Print(){
        syslog_acc('p', val = '');
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load('/Print/print?Type=closingbook&DetailID=' + ClosingEntryViewID);
        $('#DetailModal').modal('show');
    }
    //#endregion

</script>
