@page
@model MLunarCoffee.Pages.Account.Deposit.SupplierDepositDetail_ReturnModel
@{
    Layout = null;
}
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Tiền cọc"]</h6>
                            <p class="text-sm mb-0">@Local["Chi tiết trả tiền cọc"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="row px-2 form3" id="form3">
                    <div class="col-12 mt-2 d-flex">
                        <p class="text-sm fw-bold text-dark mb-2">@Local["Nhà cung cấp"]: </p>&nbsp;
                        <p class="mb-2 text-sm text-nowrap font-weight-bold text-primary" id="DD_NameSupplier">-</p>
                    </div>
                    <div class="col-12 mt-2 d-flex">
                        <p class="text-sm fw-bold text-dark mb-2">@Local["Số tiền hoàn tối đa"]: </p>&nbsp;
                        <p class="mb-2 text-sm text-nowrap font-weight-bold text-primary" id="DD_MaxAmountReturn">-</p>
                    </div>
                    <div class="field col-12 p-1">
                        <label>@Local["Chi nhánh"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="DD_Branch">
                            <input type="hidden" name="branch" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">@Local["Chi nhánh"]</div>
                            <div id="DD_CbbBranch" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-sm-6 p-1">
                        <label>@Local["Hình thức"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="DD_Method">
                            <input type="hidden" name="paymentMethod" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">eg. @Local["Hình thức"]</div>
                            <div id="DD_CbbMethod" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-sm-6 p-1">
                        <label>@Local["Số tiền"]</label>
                        <input id="DD_Amount" name="discountOther" type="text" class="form-control money" placeholder="eg .@Local["Số tiền"]" />
                    </div>
                    <div class="field col-12 col-sm-6 p-1">
                        <label>@Local["Lý do"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="DD_Reason">
                            <input type="hidden" name="paymentMethod" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">eg. @Local["Lý do"]</div>
                            <div id="DD_CbbReason" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-sm-6 p-1">
                        <label>@Local["Ngày tạo"]</label>
                        <input id="DD_DateCreate" class="flatpickr detail form-control" type="text" placeholder="eg .@Local["Ngày tạo"]" />
                    </div>
                    <div class="field col-12 p-1">
                        <label>@Local["Nội dung"]</label>
                        <textarea id="DD_Note" data-validation="content_customer" name="content" class="form-control _validation_option_" rows="4" placeholder="eg .@Local["Nội dung"]"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="CloseModal()">Cancel</button>
                        <button id="DD_BtnExecuted" type="button" form="form3" class="btn bg-gradient-primary mt-2 me-2" onclick="DDetail_Executed();">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    let ser_SDSubID = Number('@Model.SubID');
    let MaxAmountReturn = 0;

    //#region //Load && Executed
    $(document).ready(function () {

        $("#DD_DateCreate.flatpickr").flatpickr({
            dateFormat: 'd-m-Y H:i',
            enableTime: true,
            defaultDate: new Date()
        });
        $("#DD_Amount").divide();
        DDetail_LoadInit();
    })

    function DDetail_LoadInit () {
        AjaxLoad(url = "/Account/Deposit/SupplierDepositDetail_Return/?handler=LoadInitialize"
            , data = {"SupplierID": ser_SDSubID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let dataSupplier = data.Supplier;

                    Load_Combo(data.Branch, "DD_CbbBranch", true);
                    $("#DD_Branch").dropdown('refresh');
                    $("#DD_Branch").dropdown('set selected', Master_branchID);

                    Load_Combo(data.Method, "DD_CbbMethod", true);
                    $("#DD_Method").dropdown('refresh');
                    $("#DD_Method").dropdown('set selected', data.Method[0].ID);

                    Load_Combo(data.dtReasonReturn, "DD_CbbReason", true);
                    $("#DD_Reason").dropdown('refresh');
                    $("#DD_Reason").dropdown('set selected', data.dtReasonReturn[0].ID);

                    dataSupplier = dataSupplier.reduce((pre, arr) => {
                        if (arr.ID) pre[arr.ID] = arr;
                        return pre;
                    }, {})

                    let SupplierContent = dataSupplier[ser_SDSubID];
                    MaxAmountReturn = (data.AmountSupplierDeposit.length > 0 ? data.AmountSupplierDeposit[0].MaxAmountDeposit : 0);
                    $("#DD_NameSupplier").html(SupplierContent["Code"] + ' - ' + SupplierContent["Name"]);
                    $("#DD_MaxAmountReturn").html(formatNumber(MaxAmountReturn));

                } else {
                    notiError_SW();
                }
            }
        );
    }

    function DDetail_Executed () {
        Checking_Require_Validation();
        let obj = new Object();

        obj.SupplierID = (ser_SDSubID != undefined ? ser_SDSubID : 0);
        obj.BranchID = $("#DD_Branch").dropdown("get value") ? $("#DD_Branch").dropdown("get value") : 0;
        obj.PaymentMethodID = $("#DD_Method").dropdown("get value") ? $("#DD_Method").dropdown("get value") : 0;
        obj.Amount = $("#DD_Amount").val() ? $("#DD_Amount").val() : 0
        obj.Note = $("#DD_Note").val() ? $("#DD_Note").val() : '';
        obj.Reason_Return = $("#DD_Reason").dropdown("get value") ? $("#DD_Reason").dropdown("get value") : 0;
        obj.Created = $("#DD_DateCreate").val() ? $("#DD_DateCreate").val() : new Date();

        DDetail_BeforeExecured(obj);
        $('#form3').form('validate form');
        if (document.getElementById("textShowMessage").innerHTML == "") {
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Account/Deposit/SupplierDepositDetail_Return/?handler=ExcuteData"
                    , data = {
                        'data': JSON.stringify(obj)
                    }
                    , async = true
                    , error = function () {notiError_SW()}
                    , success = function (result) {
                        if (result != "0") {
                            let data = JSON.parse(result);
                            if (data != undefined && data.length > 0 && data[0]["RESULT"] != "0") {
                                SupplierDeposit_Load(data[0]["RESULT"]);
                                notiSuccess();
                                CloseModal();
                            } else {
                                notiError();
                            }
                        } else notiError_SW();

                    }, sender = $("#DD_BtnExecuted")
                );

            }
            return false;
        }
    }

    function DDetail_BeforeExecured (data) {
        $("#textShowMessage").html('');
        $('#DD_Amount').css('background-color', 'white');
        if (isNaN(data.Amount) || data.Amount <= 0 || data.Amount > MaxAmountReturn ) {
            $("#textShowMessage").html('@Local["Tiền phải lơn hơn 0 và nhỏ hơn số tiền hoàn tối đa"]');
            $('#DD_Amount').css('background-color', 'rgb(255 216 216)');
        }
    }
    //#endregion
</script>