@page
@model MLunarCoffee.Pages.Setting.BranchDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div id="branchDetail_Container" class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Chi nhánh"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết chi nhánh"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1">
                            <div class="ms-auto my-auto mt-1">
                                <ul class="nav nav-pills nav-fill p-1 bg-transparent d-inline-flex branchdetail" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#div_normal" role="tab">
                                            @Local["Thông tin chung"]
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#div_advance" role="tab">
                                            @Local["Khác"]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formBranch">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="div_normal" role="tabpanel">
                                <div class="row">
                                    <div class="col-12 col-lg-8 col-sm-7 flex-grow-1" >
                                        <p class="fs-5 text-primary fw-bold mb-0">
                                            @Local["Thông tin chung"]
                                        </p>
                                        <div class="row px-2 position-relative overflow-y" style="max-height: 34vh;">
                                            <div class="field col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["Mã chi nhánh"] (@Local["Không dấu"])</label>
                                                <input id="BranchCode" name="branchCode" type="text" class="form-control" />
                                            </div>
                                            <div class="field col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["Mã hồ sơ"]</label>
                                                <input id="Branch_Doc_Code" type="text" class="form-control" />
                                            </div>
                                            <div class="field col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["Tên chi nhánh"]</label>
                                                <input id="BranchName" name="branch" type="text" class="form-control" />
                                            </div>
                                            <div class="field col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["Tên viết tắt"]</label>
                                                <input id="BranchShortName" name="ShortBranch" type="text" class="form-control" />
                                            </div>
                                            <div class="field col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["Số điện thoại"]</label>
                                                <input id="BranchTel" name="" type="text" class="form-control" />
                                            </div>
                                            <div class="field  col-12 col-md-6 col-lg-4 p-1">
                                                <label>@Local["Tin nhắn thương hiệu"]</label>
                                                <div class="ui fluid search selection dropdown form-control" id="SMSBranchName">
                                                    <input type="hidden" />
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Tin nhắn thương hiệu"]</div>
                                                    <div id="ccbSMSBranchName" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["IP chi nhánh"]</label>
                                                <input id="BranchIP" type="text" placeholder="xxx.xxx.xxx.xxx; xxx.xxx.xxx.xxx" class="form-control" />
                                            </div>
                                            <div class="field  col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["Tọa độ"]</label>
                                                <input id="BranchLat_Long" name="phone" type="text" onchange="UpdateLatLong();" disabled class="form-control" />
                                            </div>
                                            <div class="field col-12 col-sm-6 col-xl-4 p-1">
                                                <label>@Local["Giờ mở cửa"]</label>
                                                <input id="BranchTimeOpen" name="text" type="text" placeholder="00:00h - 21:00h" class="form-control" />
                                            </div>
                                            <div class="field  col-12 col-sm-4 p-1">
                                                <label>@Local["Email"]</label>
                                                <input id="BranchMail" type="text" name="" placeholder="Email" class="form-control" />
                                            </div>
                                            <div class="field  col-12 col-md-6 col-lg-4 p-1">
                                                <label>@Local["Email server"]</label>
                                                <div class="ui fluid search selection dropdown form-control" id="MailBrandName">
                                                    <input type="hidden" />
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Email server"]</div>
                                                    <div id="ccbMailBrandName" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-12 col-md-6 col-lg-4 p-1">
                                                <label>@Local["Người đại diện"]</label>
                                                <input id="Represent" type="text" placeholder="eg .@Local["Người đại diện"]" class="form-control" />
                                            </div>
                                            <div class="field col-12 col-md-6 col-lg-4 p-1">
                                                <label>@Local["Chức vụ"]</label>
                                                <input id="RepresentPosition" type="text" placeholder="eg .@Local["Chức vụ"]" class="form-control" />
                                            </div>                                                                                        
                                            <div class="field col-12 col-md-6 col-lg-4 p-1">
                                                <label>@Local["Số tài khoản"]</label>
                                                <input id="AccountBank_Num" type="text" placeholder="eg .@Local["Số tài khoản"]" class="form-control" />
                                            </div>
                                            <div class="field col-12 col-md-6 col-lg-4 p-1">
                                                <label>@Local["Tên tài khoản"]</label>
                                                <input id="AccountBank_Name" type="text" placeholder="eg .@Local["Tên tài khoản"]" class="form-control" />
                                            </div>
                                            <div class="field  col-12 col-md-12 p-1">
                                                <label>@Local["Ngân hàng"]</label>
                                                <div class="ui fluid search selection dropdown form-control" id="Account_Bank">
                                                    <input type="hidden" />
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Ngân hàng"]</div>
                                                    <div id="ccbAccount_Bank" style="max-height:14rem!important;" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-sm-5 px-0" id="divLogoBranch">
                                        <p class="fs-5 text-primary fw-bold ps-2 mb-0">
                                            Logo
                                        </p>
                                        <div class="mt-0 ps-sm-2 overflow-y" style="max-height:34vh;">
                                            <div class="accordion">
                                                <div>
                                                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#BD_CollapseNoteImg1" aria-expanded="true" aria-controls="BD_CollapseNoteImg1">
                                                        <i class="collapse-close fa fa-plus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                                        <i class="collapse-open fa fa-minus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                                        <h6 class="text-primary text-sm font-weight-bold mb-0 ps-4">@Local["Logo chi nhánh trong form in"]</h6>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="ps-4 ms-2">
                                                <div id="BD_CollapseNoteImg1" class="collapse hide collapsesticky">
                                                    <p class="text-dark text-sm fw-bold mb-1">
                                                        @Local["Hướng dẫn"]:
                                                        <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước, không nền đề tối ưu hiển thị trong form in"]</span>
                                                    </p>
                                                    <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                                        @Local["Kích thước"]:
                                                        <span class="text-dark text-sm text-normal ms-2">110px x 110px</span>
                                                    </p>
                                                    <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                                        @Local["Hình minh họa"]:
                                                    </p>
                                                    <div class="d-block avatar avatar-xxl position-relative mb-2">
                                                        <a href="/Image/Illustration/avt(110x110).png" target="_blank">
                                                            <img src="/Image/Illustration/avt(110x110).png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mt-1">
                                                    <div class="row m-0">
                                                        <div class="col-auto px-0 position-relative">
                                                            <img id="avatarBranch" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                            <div class="upload-container" id="btnBranchUploadLogo">
                                                                <i class="fas fa-camera fs-3"></i>
                                                                <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="BranchFileuploadAvatar" accept="image/*" type="file" name="files[]" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion">
                                                <div>
                                                    <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#BD_CollapseNoteImg2" aria-expanded="true" aria-controls="BD_CollapseNoteImg2">
                                                        <i class="collapse-close fa fa-plus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                                        <i class="collapse-open fa fa-minus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                                        <h6 class="text-primary text-sm font-weight-bold mb-0 ps-4">@Local["Logo chi nhánh trong form in"]</h6>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="ps-4 ms-2">
                                                <div id="BD_CollapseNoteImg2" class="collapse hide collapsesticky">
                                                    <p class="text-dark text-sm fw-bold mb-1">
                                                        @Local["Hướng dẫn"]:
                                                        <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước, không nền đề tối ưu hiển thị trong form in"]</span>
                                                    </p>
                                                    <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                                        @Local["Kích thước"]:
                                                        <span class="text-dark text-sm text-normal ms-2">110px x 110px</span>
                                                    </p>
                                                    <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                                        @Local["Hình minh họa"]:
                                                    </p>
                                                    <div class="d-block avatar avatar-xxl position-relative mb-2">
                                                        <a href="/Image/Illustration/avt(110x110).png" target="_blank">
                                                            <img src="/Image/Illustration/avt(110x110).png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mt-1">
                                                    <div class="row m-0">
                                                        <div class="col-auto px-0 position-relative">
                                                            <img id="BranchbigAvatar" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,220,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                            <div class="upload-container" id="btnBranchUploadLogoBig">
                                                                <i class="fas fa-camera fs-3"></i>
                                                                <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="BranchFileuploadBigAvatar" accept="image/*" type="file" name="files[]" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                                <p class="fs-5 text-primary fw-bold mt-3 mb-0">
                                    @Local["Địa chỉ"]
                                </p>
                                <div class="row px-2 position-relative">
                                    <div class="field col-12 col-sm-3 p-1">
                                        <label>@Local["Quốc gia"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="BranchNational">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .@Local["Quốc gia"]</div>
                                            <div id="cbbBranchNational" style="max-height:14rem!important;" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-sm-3 p-1">
                                        <label>@Local["Khu vực"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="BranchArea">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .@Local["Khu vực"]</div>
                                            <div id="cbbBranchArea" style="max-height:14rem!important;" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="field col-12 col-sm-3 p-1">
                                        <label>@Local["Thành phố"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="BranchCity" onchange="event.preventDefault(); return BranchDetail_ChangeCity()">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .@Local["Thành phố"]</div>
                                            <div id="cbbBranchCity" class="menu" style="max-height:14rem!important;" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-sm-3 p-1">
                                        <label>@Local["Quận huyện"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="BranchDistrict" onchange="event.preventDefault(); return BranchDetail_ChangeDistrict()">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .@Local["Quận huyện"]</div>
                                            <div id="CbbBranchDistrict" style="max-height:14rem!important;" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-sm-3 p-1">
                                        <label>@Local["Phường xã"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="BranchCommune">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">eg .@Local["Phường xã"]</div>
                                            <div id="CbbBranchCommune" style="max-height:14rem!important;" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-12 col-lg-9 p-1">
                                        <label>@Local["Địa chỉ chi nhánh"]</label>
                                        <input id="BranchAddress" type="text" placeholder="eg .@Local["Địa chỉ"]" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="div_advance" role="tabpanel">
                                <div class="px-3 mt-2">
                                    <div class="row">
                                        <div class="field col-12 col-md-3 col-lg-3 p-1">
                                            <label>@Local["Mã chi nhánh khác"]</label>
                                            <input type="text" placeholder="eg .@Local["Mã chi nhánh khác"]" class="form-control" id="ThirdPartyBranchID">
                                        </div>
                                        <div class="field col-12 col-md-3 col-lg-3 p-1">
                                            <label>@Local["Bí danh"]</label>
                                            <input type="text" placeholder="eg .@Local["Bí danh"]" class="form-control" id="txtBranchAlias">
                                        </div>
                                        <div class="field col-12 col-md-3 col-lg-3 p-1">
                                            <label>@Local["Hiển thị trên app"]</label>
                                            <div class="form-check form-switch mt-0 ps-0">
                                                <input class="form-check-input ms-auto" type="checkbox" id="BranchcheckShowApp" title="2" name="chkDetail">
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-3 col-lg-3 p-1">
                                            <label>@Local["Chi nhánh đào tạo"]</label>
                                            <div class="form-check form-switch mt-0 ps-0">
                                                <input class="form-check-input ms-auto" type="checkbox" id="BranchTraining" title="2" name="chkBranchTraining">
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-12 col-lg-12 p-1">
                                            <label>@Local["Hình ảnh"]</label>
                                            <div class="d-lg-flex mt-3 ms-1">
                                                <div class=" border border-radius-md col-12 col-sm-3 me-3 mb-3 addimgNew">
                                                    <div id="Branch_uploadButton" class="card-body d-flex flex-column justify-content-center text-center">
                                                        <i class="fa fa-plus text-secondary mb-3" aria-hidden="true"></i>
                                                        <input class="position-absolute opacity-0 cursor-pointer addimgNew imputaddImgNew" type="file" accept="image/*" id="Branch_fileuploadImgNews" name="files[]" multiple />
                                                        <span class=" text-secondary">(400x300.png)</span>
                                                    </div>
                                                </div>
                                                <div class="row d-lg-flex" id="Branch_lightgalleryTableEdit">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-botombutton">
        <div class="action_Save">
            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
            <div class="action_Save-Content">
                <button class="btn btn-secondary" form="formBranch" onclick="event.preventDefault();return CloseModal()">@Local["Đóng"]</button>
                <button id="btnBranchDelete" form="formBranch" type="button" class="d-none btn bg-gradient-danger mt-2 me-2" onclick="event.preventDefault();return Branch_OpenConfirmDelete()">@Local["Xoá"]</button>
                <button id="btnBranchSave" form="formBranch" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();return BranchExcuteDetail()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>
<div id="branchDetail_Confirm" class="col-12" style="display:none;">
    <div class="card mb-3">
        <div class="card-header p-3 pb-0">
            <div class="d-lg-flex">
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h6 class="mb-0">@Local["Xoá chi nhánh"]</h6>
                        <p class="text-sm mb-0 text-danger fw-bold">@Local["Xoá chi nhánh dữ liệu sẽ không thể khôi phục được"]</p>
                    </div>
                </div>
                <div class="ms-auto my-auto mt-1">
                </div>
            </div>
        </div>
        <div class="card-body p-3 pt-2">
            <div class="row px-1">
                <div class="field col-12 p-1">
                    <label>@Local["Nhập mật khẩu tài khoản hiện tại"]</label>
                    <div class="input-group">
                        <span class="input-group-text" id="TogglePassword">
                            <i class="fas fa-eye-slash cursor-pointer" aria-hidden="true"></i>
                        </span>
                        <input id="passwordConfirm" class="ctrlogin ps-2 sercu form-control" type="text" autocomplete="off" placeholder="eg .@Local["Mật khẩu"]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-botombutton">
        <div class="action_Save">
            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessageConfirm"></div>
            <div class="action_Save-Content">
                <button class="btn btn-secondary" form="formBranch" onclick="event.preventDefault();return Branch_CloseConfirmDelete()">@Local["Đóng"]</button>
                <button form="formBranch" type="button" class="btn bg-gradient-danger mt-2 me-2" onclick="event.preventDefault();return Branch_DeleteDetail()">@Local["Xoá"]</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var avatarString = Master_Default_Pic;
    var bigAvatarString = Master_Default_Pic;
    var BranchDetail_CurrentID;
    var DataBranch;
    var HTTPImageRoot = "@Model._LinkRoot";
    var Long = 106.681702;
    var Lat = 10.828746;
    let ImageJson = [];
    var imgWidth = 400;
    var imgHeight = 300;
    var ImageDelete = '';
    var sys_isShowLogoBranch = "@Model.sys_isShowLogoBranch";
    var urlAvatar = "/Api/Upload/Upload?Type=SystemImage";
    var urlLogo = "/Api/Upload/Upload?Type=Logo";
    var dataCity = [];
    var dataNational = [];
    var dataDistrict = [];
    var dataCommune = [];
    var dataArea = [];
    $(document).ready(function () {        
        $('.branchdetail a:first').tab('show');
        BranchDetectAdance();
        BranchDetail_CurrentID = @Model._DataDetailID;
        $('#BranchLat_Long').val((Lat + ' x ' + Long));
        AjaxUpload(url = urlAvatar, inputid = 'Branch_fileuploadImgNews'
            , success = function (data) {
                if (data != "0") {
                    let imgLink = { "image": data };
                    ImageJson.push(imgLink);
                    Branch_EditImageGallery();

                } else {
                    notiError_SW();
                }
            }
            , error = function () { notiError_SW(); }
        );
        BranchDetail_LoadLogo();

        Master_IndexDB_Reads(_Session_Data, [_Session_City, _Session_National, _Session_District, _Session_Commune]
            , function (data) {
                dataCity = Object.values(data[0]);
                dataNational = Object.values(data[1]);
                dataDistrict = Object.values(data[2]);
                dataCommune = Object.values(data[3]);
                BranchDetail_Ini();
            }
        );

        Checking_TabControl_Permission();
        BranchDetail_Event();
    });

    function BranchDetail_Event() {
        $("#branchDetail_Confirm #TogglePassword").unbind().on("click", function () {
            let obj = $(this).next();
            if (obj != undefined) {
                if (obj.hasClass('sercu')) {
                    obj.removeClass('sercu');
                    $(this).children().addClass('fa-eye');
                    $(this).children().removeClass('fa-eye-slash');
                }
                else {
                    obj.addClass('sercu')
                    $(this).children().removeClass('fa-eye');
                    $(this).children().addClass('fa-eye-slash');
                }
            }
        })

    }

    function BranchDetail_Ini() {
        AjaxLoad(url = "/Setting/BranchDetail/?handler=LoadComboMain"
            , data = {}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                let datas = JSON.parse(result);
                let dataCbbMail = datas.BranchMail;
                let dataBankl = datas.Bank;
                dataArea = datas.Area;
                BranchDetail_LoadCbbArea();
                Load_Combo(dataCbbMail, "ccbMailBrandName", false);
                Load_Combo(dataBankl, "ccbAccount_Bank", false);
                if (BranchDetail_CurrentID != "0") Branch_LoadDataUpdate();
            }
        );
    }

    function BranchDetail_LoadCbbArea() {
        Load_Combo(dataCity, "cbbBranchCity", false);
        Load_Combo(dataDistrict, "CbbBranchDistrict", false);
        Load_Combo(dataCommune, "CbbBranchCommune", false);
        Load_Combo(dataArea, "cbbBranchArea", false);
        Load_Combo(dataNational, "cbbBranchNational", false);
    }

    function BranchDetectAdance() {
        let data = [];
        if (SMSBrandName != undefined && SMSBrandName.length > 0) {
            for (let i = 0; i < SMSBrandName.length; i++) {
                let e = {};
                e.ID = SMSBrandName[i];
                e.Name = SMSBrandName[i];
                data.push(e);
            }
        }

        Load_Combo(data, "ccbSMSBranchName", false);
    }
    function BranchExcuteDetail() {
        let data = new Object();
        data.Name = $('#BranchName').val() ? $('#BranchName').val() : "";
        data.BranchCode = $('#BranchCode').val() ? xoa_dau($('#BranchCode').val()) : "";
        data.ShortName = $('#BranchShortName').val() ? $('#BranchShortName').val() : "";
        data.Address = $('#BranchAddress').val() ? $('#BranchAddress').val() : "";
        data.IP = $('#BranchIP').val() ? $('#BranchIP').val() : "";
        data.Tel = $('#BranchTel').val() ? $('#BranchTel').val() : "";
        data.Target = $('#Target').val() ? Number($('#Target').val()) : 0;
        data.Lat = Number(Lat);
        data.Long = Number(Long);
        data.TimeOpen = $('#BranchTimeOpen').val() ? $('#BranchTimeOpen').val() : "";
        data.ImgJson = JSON.stringify(ImageJson);
        data.Image = avatarString;
        data.Image1 = bigAvatarString;
        data.Mail = $('#BranchMail').val() ? $('#BranchMail').val() : "";
        data.BranchCodeDoc = $('#Branch_Doc_Code').val() ? $('#Branch_Doc_Code').val() : "";
        data.Represent = $('#Represent').val() ? $('#Represent').val() : "";
        data.RepresentPosition = $('#RepresentPosition').val() ? $('#RepresentPosition').val() : "";
        data.SMSBrandName = $('#SMSBranchName').dropdown('get value') ? $('#SMSBranchName').dropdown('get value') : '';
        data.ServerMailID = $('#MailBrandName').dropdown('get value') ? Number($('#MailBrandName').dropdown('get value')) : 0;
        data.IsTraining = $("#BranchTraining").is(':checked') ? 1 : 0;
        data.IsShowApp = $("#BranchcheckShowApp").is(':checked') ? 1 : 0;
        data.CityCode = Number($('#BranchCity').dropdown('get value')) != 0 ? (100 + Number($('#BranchCity').dropdown('get value'))).toString().substring(1) : '';
        data.DistrictID = Number($('#BranchDistrict').dropdown('get value')) != 0 ? Number($('#BranchDistrict').dropdown('get value')) : '';
        data.CommuneCode = Number($('#BranchCommune').dropdown('get value')) != 0 ? Number($('#BranchCommune').dropdown('get value')) : '';

        data.AreaID = Number($('#BranchArea').dropdown('get value')) != 0 ? Number($('#BranchArea').dropdown('get value')) : 0;
        data.NationalID = Number($('#BranchNational').dropdown('get value')) != 0 ? Number($('#BranchNational').dropdown('get value')) : 0;
        data.ThirdPartyBranchID = $('#ThirdPartyBranchID').val() ? $('#ThirdPartyBranchID').val() : "";
        data.BranchAlias = $('#txtBranchAlias').val() ? $('#txtBranchAlias').val() : "";
        data.Bank_Num = $('#AccountBank_Num').val() ? $('#AccountBank_Num').val() : "";
        data.Bank_Name = $('#AccountBank_Name').val() ? $('#AccountBank_Name').val() : "";
        data.Bank = $('#Account_Bank').dropdown('get value') != 0 ? $('#Account_Bank').dropdown('get value') : '';

        $('#formBranch').form('validate form');
        if ($('#formBranch').form('is valid')) {
            if (data.BranchCode.length >= 3) {
                AjaxLoad(url = "/Setting/BranchDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data)
                        , CurrentID: BranchDetail_CurrentID
                        , ImageDelete: ImageDelete
                    }
                    , async = true, error = null
                    , success = function (result) {
                        if (result != "-1" && result != "0") {
                            notiSuccess();
                            syslog_settingsbranch(BranchDetail_CurrentID == 0 ? 'i' : 'u', result);
                            BranchLoadList();
                            CloseModal();
                        }
                        else {
                            $("#textShowMessage").html('@Local["Trùng dữ liệu"]');
                        }
                    })
            } else {
                $("#textShowMessage").html('@Local["Kiểm tra dữ liệu"]');
            }
        }
        return false;
    }
    function BranchDetail_LoadLogo() {
        if (sys_isShowLogoBranch != 0) {
            $('#avatarBranch').attr('src', avatarString);
            $('#BranchbigAvatar').attr('src', bigAvatarString);
            AjaxUpload(url = urlLogo, inputid = 'BranchFileuploadAvatar'
                , success = function (data) {
                    if (data != "0") {
                        avatarString = data;
                        $('#avatarBranch').attr('src', avatarString)
                    }
                    else notiError_SW();
                }
                , error = function () { notiError_SW(); }
            );
            AjaxUpload(url = urlLogo, inputid = 'BranchFileuploadBigAvatar'
                , success = function (data) {
                    if (data != "0") {
                        bigAvatarString = data;
                        $('#BranchbigAvatar').attr('src', bigAvatarString)
                    }
                    else notiError_SW();
                }
                , error = function () { notiError_SW(); }
            );

        } else {
            $('#divLogoBranch').remove();
        }
    }
    function Branch_LoadDataUpdate() {

        AjaxLoad(url = "/Setting/BranchDetail/?handler=Loadata"
            , data = { id: BranchDetail_CurrentID }, async = true, error = null
            , success = function (result) {
                DataBranch = JSON.parse(result);
                Lat = DataBranch[0].Latitude;
                Long = DataBranch[0].Longitude;
                $('#BranchName').val((DataBranch[0].Name));
                $('#BranchShortName').val(DataBranch[0].ShortName);
                $('#BranchCode').val((DataBranch[0].BranchCode));
                $('#BranchAddress').val((DataBranch[0].Address));
                $('#BranchTimeOpen').val((DataBranch[0].TimeOpen));
                $('#BranchTel').val((DataBranch[0].Tel));
                $('#BranchIP').val((DataBranch[0].IP));
                $('#BranchMail').val((DataBranch[0].Email));
                $('#Branch_Doc_Code').val((DataBranch[0].BranchCode_Doc));
                $('#Represent').val((DataBranch[0].Represent));
                $('#RepresentPosition').val((DataBranch[0].RepresentPosition));
                $('#ThirdPartyBranchID').val(DataBranch[0].ThirdPartyBranchID);
                $('#txtBranchAlias').val(DataBranch[0].BranchAlias);
                $('#AccountBank_Num').val(DataBranch[0].AccountNumber);
                $('#AccountBank_Name').val(DataBranch[0].AccountName);
                $("#Account_Bank").dropdown("refresh");
                $("#Account_Bank").dropdown("set selected", DataBranch[0].AccountCode);

                $("#SMSBranchName").dropdown("refresh");
                $("#SMSBranchName").dropdown("set selected", DataBranch[0].SMSBrandName);
                $("#MailBrandName").dropdown("refresh");
                $("#MailBrandName").dropdown("set selected", DataBranch[0].ServerMailID);
                $("#btnBranchDelete").removeClass("d-none");

                $("#BranchCity").dropdown("refresh");
                $("#BranchCity").dropdown("set selected", Number(DataBranch[0].City));

                $("#BranchDistrict").dropdown("refresh");
                $("#BranchDistrict").dropdown("set selected", Number(DataBranch[0].District_ID));

                $("#BranchCommune").dropdown("refresh");
                $("#BranchCommune").dropdown("set selected", Number(DataBranch[0].CommuneCode));

                $("#BranchArea").dropdown("refresh");
                $("#BranchArea").dropdown("set selected", DataBranch[0].Area);

                $("#BranchNational").dropdown("refresh");
                $("#BranchNational").dropdown("set selected", (DataBranch[0].National).toString());

                avatarString = (DataBranch[0].Image != '' && sys_isShowLogoBranch != 0) ? (DataBranch[0].Image) : (avatarString);
                bigAvatarString = (DataBranch[0].Image1 != '' && sys_isShowLogoBranch != 0) ? (DataBranch[0].Image1) : (bigAvatarString);
                $('#avatarBranch').attr('src', avatarString);
                $('#BranchbigAvatar').attr('src', bigAvatarString);
                if (DataBranch[0].IsShowApp == 1) {
                    document.getElementById("BranchcheckShowApp").checked = true;
                }
                if (DataBranch[0].IsTraining == 1) {
                    document.getElementById("BranchTraining").checked = true;
                }
                $('#BranchLat_Long').val((DataBranch[0].Latitude) + ' x ' + (DataBranch[0].Longitude));
                document.getElementById("BranchCode").disabled = true;
                ImageJson = JSON.parse(DataBranch[0].ImageJson);
                Branch_EditImageGallery();

            });
    }

    function Branch_EditImageGallery() {
        Branch_Render_Image_Gallery_Delete(ImageJson, "Branch_lightgalleryTableEdit");
    }

    function Branch_Render_Image_Gallery_Delete(data, id) {
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let link = item.image;
                    let tr = '<div class="col-12 col-sm-3 me-3 mb-3 addimgNew">'
                        + '<div class="text-center">'
                        + '<div class="d-flex m-2 ps-2 ms-auto position-absolute">'
                        + '<button class="badge badge-secondary badge-circle border-dark justify-content-center d-flex align-items-center my-auto buttonDeleteClass" name = "checkImageDelete" value="' + item.image + '">'
                        + '<i title="@Local["Xóa"]" class="remove icon ms-1" aria-hidden="true"></i>'
                        + '</button>'
                        + '</div>'
                        + '<img style="max-height:200px;" class="border-radius-md" data-category="2" src="' + link + '" alt="@Local["Hình ảnh"]" />'
                        + '</div>'
                        + '</div>'
                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        Branch_EventClickDeleteImg();
    }
    function Branch_EventClickDeleteImg() {
        $('.buttonDeleteClass').on('click', '.remove', function () {
            let value = $(this).closest('div')[0].childNodes[0].value;
            const promise = notiConfirm();
            promise.then(function () { Branch_SaveEditImg(value); }, function () { });

        });
    }
    function BranchDetail_ChangeCity() {
        $("#BranchDistrict").dropdown("clear");
        let CityID = Number($('#BranchCity').dropdown('get value')) ? Number($('#BranchCity').dropdown('get value')) : 0;
        let data = [];
        if (CityID != 0) {
            data = dataDistrict.filter(a => a.CityID == CityID);
        } else {
            data = dataDistrict;
        }
        Load_Combo(data, "CbbBranchDistrict", false);
    }
    function BranchDetail_ChangeDistrict() {
        $("#BranchCommune").dropdown("clear");
        let DistrictID = Number($('#BranchDistrict').dropdown('get value')) ? Number($('#BranchDistrict').dropdown('get value')) : 0;
        let data = [];
        if (DistrictID != 0) {
            data = dataCommune.filter(a => a.DistrictID == DistrictID);
        } else {
            data = dataCommune;
        }
        Load_Combo(data, "CbbBranchCommune", false);
    }

    function Branch_SaveEditImg(value) {
        if (value != '') {
            for (let k = 0; k < ImageJson.length; k++) {
                if (ImageJson[k].image == value) {
                    ImageDelete = ImageDelete + ',' + value;
                    ImageJson.splice(k, 1);
                    break;
                }
            }
        }
        Branch_Render_Image_Gallery_Delete(ImageJson, "Branch_lightgalleryTableEdit");

    }

    //#region // EXECUTE DELETE BRANCH

    function Branch_CloseConfirmDelete() {
        $("#branchDetail_Container").show();
        $("#branchDetail_Confirm").hide();
    }

    function Branch_OpenConfirmDelete() {
        $("#textShowMessageConfirm").html("");
        $("#branchDetail_Container").hide();
        $("#branchDetail_Confirm").show();
    }

    function Branch_DeleteDetail(id) {
        $("#textShowMessageConfirm").html("");
        let password = $("#passwordConfirm").val() ? ($("#passwordConfirm").val()).trim() : "";
        if (password != '') {
            AjaxLoad(url = "/Setting/BranchDetail/?handler=CheckPassword"
                , data = {
                    password: password
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result == '1') {
                        const promise = notiConfirm('@Local["Bạn chắc chắn muốn xoá chi nhánh?"]');
                        promise.then(function () {
                            Branch_DeleteDetailExec(BranchDetail_CurrentID);
                        }, function () { });
                    }
                    else $("#textShowMessageConfirm").html("@Local["Mật khẩu không đúng"]. @Local["Kiểm tra lại mật khẩu"]");
                }
            );
        }
        else $("#textShowMessageConfirm").html("@Local["Kiểm tra lại mật khẩu"]");
    }

    function Branch_DeleteDetailExec(id) {
        AjaxLoad(url = "/Setting/BranchDetail/?handler=DeleteItem"
            , data = { CurrentID: id }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    notiSuccess();
                    syslog_settingsbranch('d', result);
                    BranchLoadList();
                    CloseModal();
                } else {
                    notiError_SW();
                }
            }
        );
    }



    //#endreigion
</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>

    .addimgNew {
        max-height: 200px;
        width: 200px;
        height: 200px
    }

    .imputaddImgNew {
        margin-left: -23px;
        margin-top: 70px;
    }

    .ImgBigAvartar {
        width: 220px;
        height: 110px;
    }

    .inputImgBigAvartar {
        width: 230px;
        height: 125px;
        margin-top: -95px;
        margin-left: -220px;
    }
</style>

