@page
@model MLunarCoffee.Pages.Setting.CompanyModel
@{
    Layout=null;
}
<link rel="stylesheet" href="/assests/dist/UploadJS/css/jquery.fileupload.css" />
<link rel="stylesheet" href="/assests/dist/UploadJS/css/jquery.fileupload-ui.css" />
<script>js_require('/assests/dist/UploadJS/js/vendor/jquery.ui.widget.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.iframe-transport.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-0 px-0">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Thông tin công ty"]</h6>
                        <p class="text-sm mb-0">@Local["Cài đặt tên, logo công ty, logo form in"]</p>
                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div class="row form3" id="formCompany">
                        <div class="col-12 col-md-5 mt-3 pe-3">
                            <div class="card-body p-0">
                                <div class="field col-12 py-1">
                                    <label>@Local["Tên công ty"]</label>
                                    <input id="CompanyName" name="name" type="text" class="form-control" />
                                </div>
                                <div class="field col-12 py-1">
                                    <label>HotLine</label>
                                    <input id="CompanyHotline" name="" type="text" class="form-control" />
                                </div>
                                <div class="field col-12 py-1">
                                    <label>@Local["Địa chỉ"]</label>
                                    <input id="CompanyAddress" name="CompanyAddress" type="text" class="form-control" />
                                </div>
                                <div class="field col-12 py-1">
                                    <label>Email</label>
                                    <input id="CompanyEmail" type="text" name="" placeholder="Email" class="form-control" />
                                </div>
                                <div class="field col-12 py-1">
                                    <label>Website</label>
                                    <input id="CompanyWebsite" type="text" name="" placeholder="Website" class="form-control" />
                                </div> 
                                <div class="field col-12 py-1">
                                    <label>@Local["Bí danh"]</label>
                                    <input id="ComBranchAlias" type="text" name="" placeholder="@Local["Bí danh"]" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 pt-3 ps-0 overflow-y" style="max-height:100vh;">
                            <div>          
                                <div class="accordion">
                                    <div>
                                        <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#Com_CollapseNoteImg1" aria-expanded="true" aria-controls="Com_CollapseNoteImg1">
                                            <i class="collapse-close fa fa-plus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <h6 class="text-primary text-sm font-weight-bold mb-0 ps-4">@Local["Logo công ty trong form in"]</h6>
                                        </button>
                                    </div>
                                </div>
                                <div class="ps-4 ms-2">
                                    <div id="Com_CollapseNoteImg1" class="collapse show collapsesticky"> 
                                        <p class="text-dark text-sm fw-bold mb-1">
                                            @Local["Hướng dẫn"]:
                                            <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước, không nền để tối ưu hiển thị trong form in"]</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                            @Local["Kích thước"]:
                                            <span class="text-dark text-sm text-normal ms-2">220px x 110px</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                            @Local["Hình minh họa"]:
                                        </p> 
                                        <div class="d-block avatar avatar-xxl position-relative mb-2">
                                            <a href="/Image/Illustration/avt(220x110).png" target="_blank">
                                                <img src="/Image/Illustration/avt(220x110).png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 210px;">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <div class="row m-0">
                                            <div class="col-auto px-0 position-relative">
                                                <img id="imglogo_big" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,220,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                <div class="upload-container">
                                                    <i class="fas fa-camera fs-3"></i>
                                                    <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="inlogo_big" accept="image/*" type="file" name="files[]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="accordion">
                                    <div>
                                        <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#Com_CollapseNoteImg2" aria-expanded="true" aria-controls="Com_CollapseNoteImg2">
                                            <i class="collapse-close fa fa-plus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <h6 class="text-primary text-sm font-weight-bold mb-0 ps-4">@Local["Logo công ty trong form in"]</h6>
                                        </button>
                                    </div>
                                </div>
                                <div class="ps-4 ms-2">
                                    <div id="Com_CollapseNoteImg2" class="collapse show collapsesticky">
                                        <p class="text-dark text-sm fw-bold mb-1">
                                            @Local["Hướng dẫn"]:
                                            <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước, không nền để tối ưu hiển thị trong form in"]</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                            @Local["Kích thước"]:
                                            <span class="text-dark text-sm text-normal ms-2">110px x 110px</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                            @Local["Hình minh họa"]:
                                        </p>
                                        <div class="d-block avatar avatar-xxl position-relative mb-2">
                                            <a href="/Image/Illustration/avt(110x110).png" target="_blank">
                                                <img src="/Image/Illustration/avt(110x110).png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <div class="row m-0">
                                            <div class="col-auto px-0 position-relative">
                                                <img id="imglogo_small" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                <div class="upload-container">
                                                    <i class="fas fa-camera fs-3"></i>
                                                    <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="inlogo_small" accept="image/*" type="file" name="files[]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="accordion">
                                    <div>
                                        <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#Com_CollapseNoteImg4" aria-expanded="true" aria-controls="Com_CollapseNoteImg4">
                                            <i class="collapse-close fa fa-plus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <h6 class="text-primary text-sm font-weight-bold mb-0 ps-4">@Local["Logo trên hệ thống"]</h6>
                                        </button>
                                    </div>
                                </div>
                                <div class="ps-4 ms-2">
                                    <div id="Com_CollapseNoteImg4" class="collapse show collapsesticky">
                                        <p class="text-dark text-sm fw-bold mb-1">
                                            @Local["Hướng dẫn"]:
                                            <span class="text-dark text-sm text-normal ms-2"> @Local["Vui lòng upload hình ảnh đúng kích thước, không nền để tối ưu hiển thị"]</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                            @Local["Kích thước"]:
                                            <span class="text-dark text-sm text-normal ms-2">110px x 110px</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                            @Local["Hình minh họa"]:
                                        </p>
                                        <div class="d-block avatar avatar-xxl position-relative mb-2">
                                            <a href="/Image/Illustration/avt(110x110).png" target="_blank">
                                                <img src="/Image/Illustration/avt(110x110).png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <div class="row m-0">
                                            <div class="col-auto px-0 position-relative">
                                                <img id="imglogosoft_big" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                <div class="upload-container">
                                                    <i class="fas fa-camera fs-3"></i>
                                                    <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="inlogosoft_big" accept="image/*" type="file" name="files[]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="accordion">
                                    <div>
                                        <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#Com_CollapseNoteImg3" aria-expanded="true" aria-controls="Com_CollapseNoteImg3">
                                            <i class="collapse-close fa fa-plus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs  position-absolute start-0 me-3" aria-hidden="true"></i>
                                            <h6 class="text-primary text-sm font-weight-bold mb-0 ps-4">@Local["Logo trên hệ thống"]</h6>
                                        </button>
                                    </div>
                                </div>
                                <div class="ps-4 ms-2">
                                    <div id="Com_CollapseNoteImg3" class="collapse show collapsesticky">
                                        <p class="text-dark text-sm fw-bold mb-1">
                                            @Local["Hướng dẫn"]:
                                            <span class="text-dark text-sm text-normal ms-2"> @Local["Vui lòng upload hình ảnh đúng kích thước, không nền để tối ưu hiển thị"]</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                            @Local["Kích thước"]:
                                            <span class="text-dark text-sm text-normal ms-2">110px x 110px</span>
                                        </p>
                                        <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                            @Local["Hình minh họa"]:
                                        </p>
                                        <div class="d-block avatar avatar-xxl position-relative mb-2">
                                            <a href="/Image/Illustration/avtar(110x110)_ver2.png" target="_blank">
                                                <img src="/Image/Illustration/avtar(110x110)_ver2.png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <div class="row m-0">
                                            <div class="col-auto px-0 position-relative">
                                                <img id="imglogosoft_small" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                <div class="upload-container">
                                                    <i class="fas fa-camera fs-3"></i>
                                                    <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="inlogosoft_small" accept="image/*" type="file" name="files[]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                    <div class="fixed-botombutton mt-3 pe-3 pb-3">
                        <div class="action_Save">
                            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                            <div class="action_Save-Content">
                                <button id="companySave" form="formCompany" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault(); Company_Excute()">@Local["Lưu"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let datalogobig = Master_Default_Pic;
    let datalogosmall = Master_Default_Pic;
    let datalogo_sbig = Master_Default_Pic;
    let datalogo_ssmall = Master_Default_Pic;
    var urllogo = "/Api/Upload/Upload?Type=Logo";
    $(document).ready(function () {
        CompanyLoadData();
        CompanyEvent();
    });
    function CompanyLoadData () {
        AjaxLoad(url = "/Setting/Company/?handler=LoadData"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "") {
                    let DataCompany = JSON.parse(result);
                    if (DataCompany && DataCompany.length == 1) {
                        let item = DataCompany[0];
                        $('#CompanyName').val(item.Name);
                        $('#CompanyHotline').val(item.Phone);
                        $('#CompanyAddress').val(item.Address);
                        $('#CompanyEmail').val(item.Email);
                        $('#CompanyWebsite').val(item.Website);
                        $('#ComBranchAlias').val(item.BranchAlias);
                        datalogobig = item.ImageBig != "" ? item.ImageBig : Master_Default_Pic;
                        datalogosmall = item.ImageSmall != "" ? item.ImageSmall : Master_Default_Pic;
                        datalogo_sbig = item.SoftwareLogo != "" ? item.SoftwareLogo : Master_Default_Pic;
                        datalogo_ssmall = item.SoftwareSmallLogo != "" ? item.SoftwareSmallLogo : Master_Default_Pic;

                        (datalogobig != '') ? ($('#imglogo_big').attr('src', datalogobig)) : ($('#imglogo_big').attr('src', Master_Default_Pic));

                        (datalogosmall != '') ? ($('#imglogo_small').attr('src', datalogosmall)) : ($('#imglogo_small').attr('src', Master_Default_Pic));
                        (datalogo_sbig != '') ? ($('#imglogosoft_big').attr('src', datalogo_sbig)) : ($('#imglogosoft_big').attr('src', Master_Default_Pic));
                        (datalogo_ssmall != '') ? ($('#imglogosoft_small').attr('src', datalogo_ssmall)) : ($('#imglogosoft_small').attr('src', Master_Default_Pic));
                    }

                } else {
                    notiError_SW();
                }
            });

    }
    function CompanyEvent () {
        AjaxUpload(url = urllogo, inputid = 'inlogo_big'
            , success = function (data) {
                if (data != "0") {
                    datalogobig = data;
                    (datalogobig != '') ? ($('#imglogo_big').attr('src', datalogobig)) : ($('#imglogo_big').attr('src', Master_Default_Pic))
                }
                else {notiError_SW();}
            }
            , error = function () {
                notiError_SW();
            });
        AjaxUpload(url = urllogo, inputid = 'inlogo_small'
            , success = function (data) {
                if (data != "0") {
                    datalogosmall = data;
                    (datalogosmall != '') ? ($('#imglogo_small').attr('src', datalogosmall)) : ($('#imglogo_small').attr('src', Master_Default_Pic));

                }
                else {notiError_SW();}
            }
            , error = function () {
                notiError_SW();
            });
        AjaxUpload(url = urllogo, inputid = 'inlogosoft_big'
            , success = function (data) {
                if (data != "0") {
                    datalogo_sbig = data;
                    (datalogo_sbig != '') ? ($('#imglogosoft_big').attr('src', datalogo_sbig)) : ($('#imglogosoft_big').attr('src', Master_Default_Pic))

                }
                else {notiError_SW();}
            }
            , error = function () {
                notiError_SW();
            });
        AjaxUpload(url = urllogo, inputid = 'inlogosoft_small'
            , success = function (data) {
                if (data != "0") {
                    datalogo_ssmall = data;
                    (datalogo_ssmall != '') ? ($('#imglogosoft_small').attr('src', datalogo_ssmall)) : ($('#imglogosoft_small').attr('src', Master_Default_Pic))

                }
                else {notiError_SW();}
            }
            , error = function () {
                notiError_SW();
            });
    }
    function Company_Excute () {
        let data = new Object();
        data.Name = $('#CompanyName').val() ? $('#CompanyName').val() : "";
        data.Hotline = $('#CompanyHotline').val() ? $('#CompanyHotline').val() : "";
        data.Address = $('#CompanyAddress').val() ? $('#CompanyAddress').val() : "";
        data.Email = $('#CompanyEmail').val() ? $('#CompanyEmail').val() : "";
        data.Website = $('#CompanyWebsite').val() ? $('#CompanyWebsite').val() : "";
        data.BranchAlias = $('#ComBranchAlias').val() ? $('#ComBranchAlias').val() : "";
        data.ImageSmall = datalogosmall;
        data.ImageBig = datalogobig;
        data.SoftwareLogo = datalogo_sbig;
        data.SoftwareSmallLogo = datalogo_ssmall;
        $('#formCompany').form('validate form');
        if ($('#formCompany').form('is valid')) {
            AjaxLoad(url = "/Setting/Company/?handler=ExcuteCompany"
                , data = {
                    data: JSON.stringify(data)
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                    } else {
                        notiError_SW();
                    }

                })
        }
        return false;
    }    

</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
