@page
@model MLunarCoffee.Pages.Setting.CustomerDepositReasonReturnListModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Lý do hoàn tiền cọc"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách lý do hoàn tiền cọc"]</p>
                    </div>
                    <div class="right">
                        <button id="btnAddDepositReasonReturn" class="btn bg-gradient-primary btn-sm mt-1 setting_projectclosure" data-tab="add_tab_Delete_Reason" data-value="fade up" onclick="return CDRReturn_AddNew()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div class="m-0 my-3 mobile-responsive">
                        <table class="table vt-table mb-0" id="dtContentDepositReasonReturn">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th style="width:40px">@Local["#"]</th>
                                    <th>@Local["Lý do"]</th>
                                    <th>@Local["Người sửa"]</th>
                                    <th style="width:40px" class="setting_projectclosure">@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentDepositReasonReturnBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    let DataUser;
    $(document).ready(function () {
        CDRReturn_Load();
        CDRReturn_Event();
    });
    function CDRReturn_Load() {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                AjaxLoad(url = "/Setting/CustomerDepositReasonReturnList/?handler=LoadData"
                    , data = {}, async = true, error = null
                    , success = function (result) {
                        let data = JSON.parse(result);

                        CDRReturn_Render(data, 'dtContentDepositReasonReturnBody');
                    });
            });

    }
    function CDRReturn_Render(data, id) {
        let myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;

                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td><a class="text-decoration-underline fw-bold buttonEditClass" href="#">'
                        + item.Name + '</a></td>'
                        + '<td>'
                        + '<div class="d-inline"><img class="avatar avatar-xs me-2" src="' + img + '" alt="label-image" /><span>' + GetDateTime_String_DMY(item.DayEditor) + '</span></div>'
                        + '</td>'
                        + '<td class="setting_projectclosure">'
                        + ((item.DeleteButton === 1)
                            ? Render_Button_Grid(['<button class="buttonGrid" value="'
                                + item.ID
                                + '"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>'])
                            : '')
                        + '</td>';
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }

        Checking_TabControl_Permission();
    }

    function CDRReturn_Event () {
        $('#dtContentDepositReasonReturn tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            CDRReturn_Edit(ID);
        });
        $('#dtContentDepositReasonReturn tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            CDRReturn_Delete(ID)
        });
    }

    function CDRReturn_Delete(id) {
        const promise = notiConfirm();
        promise.then(function () { CDRReturn_Excute_Delete(id); }, function () { });
    }
    function CDRReturn_Excute_Delete(id) {
        AjaxLoad(url = "/Setting/CustomerDepositReasonReturnList/?handler=DeleteItem"
            , data = { id: id}, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    CDRReturn_Load();
                } else {
                    notiError_SW();
                }
            });
    }
    function CDRReturn_Edit(CurrentID) {

        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/CustomerDepositReasonReturnDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function CDRReturn_AddNew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/CustomerDepositReasonReturnDetail" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script>
<script>js_require('/js/main.js');</script>



