@page
@model MLunarCoffee.Pages.Setting.CustomerCareQuickTemplateDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <!-- #region header -->
                                <h6 class="mb-0">@Local["Ghi chú nhanh"]</h6>
                                <p class="text-sm mb-0">@Local["Nội dung chăm sóc khách hàng"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formCustomerCareQuickTemplate">
                        <div class="field col-12 p-1">
                            <label>@Local["Đặc tính"] <span>(@Local["Tối đa 20 ký tự"])</span></label>
                            <input id="CustomerCareQuickFeature" class="form-control" name="ferature" type="text" />
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Nội dung"]</label>
                            <textarea id="CustomerCareQuickContent" class="form-control" rows="2" name="content"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formCustomerCareQuickTemplate" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="formCustomerCareQuickTemplate" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();CustomerCareQuickExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var ser_QuickTemplateDetailID = @Model._QuickTemplateDetailID;
        var ser_QuickTemplateDetail_TypeID = @Model.sys_StatusTypeID;
        $(document).ready(function () {
            Customer_Care_Load_Quick_Template_Update();
            Checking_TabControl_Permission();
        });
        function Customer_Care_Load_Quick_Template_Update() {
            AjaxLoad(url = "/Setting/CustomerCareQuickTemplateDetail/?handler=Loadata"
                , data = {
                    CurrentID: ser_QuickTemplateDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data && data.length > 0) {
                            $('#CustomerCareQuickFeature').val((data[0].Feature));
                            $('#CustomerCareQuickContent').val((data[0].Content));
                        }
                    } else {
                        notiError_SW();
                    }
                });
        }
        function CustomerCareQuickExcuteData() {
            let data = new Object();
            data.Feature = $('#CustomerCareQuickFeature').val() ? $('#CustomerCareQuickFeature').val() : "";
            data.Content = $('#CustomerCareQuickContent').val() ? $('#CustomerCareQuickContent').val() : "";
            data.Feature = xoa_dau(data.Feature).trim();
            $('#formCustomerCareQuickTemplate').form('validate form');
            if ($('#formCustomerCareQuickTemplate').form('is valid')) {
                AjaxLoad(url = "/Setting/CustomerCareQuickTemplateDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_QuickTemplateDetailID,
                        TypeID: ser_QuickTemplateDetail_TypeID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            CustomerCare_LoadTemplate();
                            CloseModal();
                        } else if (result == "-1") {
                            $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                        } else {
                            notiError_SW();
                        }
                    });
            }
            return false;
        }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>