@page
@model MLunarCoffee.Pages.Setting.CustomerMembershipDetail
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<link rel="stylesheet" href="/assests/dist/ColorPicker/spectrum.css" />
<script>js_require_notasync('/assests/dist/ColorPicker/spectrum.js', true);</script>
<script>js_require('/assests/dist/UploadJS/js/vendor/jquery.ui.widget.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.iframe-transport.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>


<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100 ps-2">
                                <h6 class="mb-0">@Local["Chính sách"]</h6>
                                <p class="text-sm mb-0">@Local["Tùy chọn áp dụng: Cho tất cả dịch vụ - Theo nhóm dịch vụ - Theo dịch vụ"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1">
                            <ul class="nav nav-pills p-1 bg-transparent tabtreat" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link cursor-pointer" data-tab="info" data-bs-toggle="pill" data-bs-target="#custmem_info" role="tab">@Local["Thông tin"]</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link cursor-pointer" data-tab="content" data-bs-toggle="pill" data-bs-target="#custmem_content" role="tab">@Local["Nội dung"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 tab-content form3" id="formCustomerMem">
                        <div class="tab-pane" id="custmem_info" data-tab="info" role="tabpanel">
                            <div class="row d-flex">
                                <div class="col-w-300 mt-1 px-3">
                                    <div class="">
                                        <div class="accordion">
                                            <div>
                                                <button class="accordion-button p-2 px-0 collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#CustMem_CollapseNoteImg" aria-expanded="true" aria-controls="CustMem_CollapseNoteImg">
                                                    <h6 class="text-primary text-sm font-weight-bold mb-0"> @Local["Hình ảnh"] - @Local["Hạng thành viên"]</h6>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="pe-2">
                                            <div id="CustMem_CollapseNoteImg" class="collapse hide collapsesticky">
                                                <p class="text-dark text-sm fw-bold mb-1">
                                                    @Local["Hướng dẫn"]:
                                                    <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước"]</span>
                                                </p>
                                                <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                                    @Local["Kích thước"]:
                                                    <span class="text-dark text-sm text-normal ms-2">110 x 110 px</span>
                                                </p>
                                                <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                                    @Local["Hình minh họa"]:
                                                </p>
                                                <div class="d-flex justify-content-center">
                                                    <div class="d-block avatar avatar-xxl position-relative mb-2">
                                                        <a href="/Image/Illustration/the-thanh-vien.png" target="_blank">
                                                            <img src="/Image/Illustration/the-thanh-vien.png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2 d-flex justify-content-center">
                                                <div class="row m-0">
                                                    <div class="col-auto px-0 position-relative">
                                                        <img id="CM_DetailImage" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                        <div class="upload-container" id="">
                                                            <i class="fas fa-camera fs-3"></i>
                                                            <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="CM_UploadDetailImage" accept="image/*" type="file" name="files[]" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="field col-md-12 col-xl-8 pt-md-2 ps-xl-0 flex-grow-1">
                                    <div class="row">
                                        <div class="field col-12 col-md-6 col-xl-6 p-1">
                                            <label>@Local["Tên loại thành viên"]</label>
                                            <input id="CM_GroupName" name="name" type="text" class="form-control" />
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 p-1">
                                            <label >@Local["Mã màu"]</label>
                                            <input id="MS_Color" name="fillCode  " type="text" onchange="event.preventDefault(); return MS_ColorMember()" class="form-control" />
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 p-1">
                                            <label>@Local["Số tiền từ"] </label>
                                            <input id="MS_AmountFrom" name="servicePrice" type="text" class="form-control money" />

                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 p-1">
                                            <div class="d-flex align-items-center">
                                                <label class="me-2 ">@Local["Đến"] </label>

                                                <div class="form-check">

                                                    <input id="CM_NaxNum" onchange="event.preventDefault();return CustomerMem_MaxNum();" class="form-check-input pr-2" type="checkbox">
                                                    <label class="custom-control-label">@Local["Tối đa"]</label>
                                                </div>

                                            </div>
                                            <input id="MS_AmountTo" name="accountAmount" type="text" class="form-control money" />
                                        </div>

                                        <div class="field col-12  p-1">
                                            <label>@Local["Ghi chú"]</label>
                                            <textarea id="CM_Note" rows="1" name="content" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="custmem_content" data-tab="content" role="tabpanel">
                            <div class="pb-0">

                                <div class="my-auto mt-1">
                                    <ul class="nav nav-pills p-1 bg-transparent detailcus mb-2" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-tab="discount_all" data-bs-toggle="pill" data-bs-target="#CM_Discountall" role="tab">@Local["Tất cả dịch vụ/sản phẩm"]</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-tab="discount_service_type" data-bs-toggle="pill" data-bs-target="#CM_DiscountST" role="tab">@Local["Nhóm dịch vụ/sản phẩm"]</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-tab="discount_service" data-bs-toggle="pill" data-bs-target="#CM_DiscountSer" role="tab">@Local["Dịch vụ/sản phẩm"]</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content ps-2">
                                <div class="tab-pane" id="CM_Discountall" data-tab="discount_all" role="tabpanel">
                                    <div class="row px-1 form3" id="formCustomerMem">
                                        <div class="field col-12 col-sm-6 p-1">
                                            <div class="form-check">
                                                <input id="ckb_choose_all" onchange="CM_ChangeType(0)" type="checkbox" class="form-check-input pr-2">
                                                <label class="custom-control-label" for="">@Local["Áp dụng cho tất cả dịch vụ/sản phẩm"]</label>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-sm-6 p-1">
                                            <label>@Local["Chiết khấu"]</label>
                                            <div class="position-relative">
                                                <input id="txtDiscount_All" class="border-right-0 form-control" type="text" placeholder="@Local["Chiết khấu"]" onchange="event.preventDefault();CM_ChangeEventDiscountPrice();">
                                                <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="DiscountAmountPer_All" onchange="event.preventDefault();return CM_ChangeEventDiscountPrice();">
                                                    <i class="dropdown icon"></i>
                                                    <input type="hidden" name="" />
                                                    <div class="default text"></div>
                                                    <div id="cbbPerformanceDiscounted" class="menu transition hidden" tabindex="-1">
                                                        <div class="item" data-value="1">%</div>
                                                        <div class="item" data-value="2">VND</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="CM_DiscountST" data-tab="discount_service_type" role="tabpanel">
                                    <div class="row px-1 form3" id="formCustomerMem">
                                        <div class="field col-12 p-1">
                                            <div class="form-check">
                                                <input id="ckb_choose_service_type" onchange="CM_ChangeType(2)" type="checkbox" name="public" class="form-check-input pr-2">
                                                <label class="custom-control-label" for="">@Local["Áp dụng theo nhóm dịch vụ/sản phẩm"]</label>
                                            </div>
                                        </div>
                                        <div class="row d-flex p-1 d-none" id="list_service_type_discount">
                                            <div class="field col-md-12 col-xl-6 mt-2 flex-grow-1">
                                                <div class="field col-12">
                                                    <input class="form-control" placeholder="@Local["Tìm kiếm"]" id="cm_filterserviceType" type="text">
                                                </div>
                                                <div class="field col-12 pt-2">
                                                    <div class="m-0 my-3 mobile-responsive">
                                                        <table class="table vt-table mb-0" id="dtservicetype_ListLeft">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th>@Local["Nhóm dịch vụ/sản phẩm"]</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="dtservicetype_ListLeftBody">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-md-12 col-xl-6 pt-md-2 ps-xl-0 flex-grow-1 mt-5">
                                                <div class="my-3 mobile-responsive" style="min-height:195px">
                                                    <table class="table vt-table mb-0" id="dtservicetype_ListRight">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>@Local["Dịch vụ/sản phẩm"]</th>
                                                                <th>@Local["Chiết khấu"]</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="dtservicetype_ListRightBody">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="CM_DiscountSer" data-tab="discount_service">
                                    <div class="row px-1 form3" id="formCustomerMem">
                                        <div class="field col-12 p-1">
                                            <div class="form-check">
                                                <input name="public" id="ckb_choose_service" onchange="CM_ChangeType(1)" type="checkbox" class="form-check-input pr-2">
                                                <label class="custom-control-label" for="">@Local["Áp dụng theo dịch vụ/sản phẩm"]</label>
                                            </div>
                                        </div>
                                        <div class="row d-flex d-none p-1" id="list_service_discount">
                                            <div class="field col-md-12 col-xl-6 mt-2 flex-grow-1">
                                                <div class="field col-12">
                                                    <input class="form-control" placeholder="@Local["Tìm kiếm"]" id="cm_filterservice" type="text">
                                                </div>
                                                <div class="field col-12 pt-2">
                                                    <div class="m-0 my-3 mobile-responsive">
                                                        <table id="dtservice_ListLeft" class="table vt-table mb-0" role="grid" aria-describedby="data_table_info">
                                                            <thead>
                                                                <tr role="row">
                                                                </tr>
                                                            </thead>
                                                            <tbody id="dtservice_ListLeftBody">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-md-12 col-xl-6 pt-md-2 ps-xl-0 flex-grow-1 mt-5">
                                                <div class="my-3 mobile-responsive" style="min-height:195px">
                                                    <table class="table vt-table mb-0" id="dtservice_ListRight">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>@Local["Dịch vụ/sản phẩm"]</th>
                                                                <th style="min-width:200px">@Local["Chiết khấu"]</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="dtservice_ListRightBody">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formCustomerMem" onclick="event.preventDefault(); return CloseModal()">@Local["Đóng"]</button>
                        <button form="formCustomerMem" type="button" class="btn bg-gradient-primary mt-2 me-2 setting_projectclosure" onclick="event.preventDefault();return CustomerMem_Excute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ser_CustomerMemID = @Model._CustomerMemID;
    var urlImage = "/Api/Upload/Upload?Type=SystemImage";
    var CM_ImageString = Master_Default_Pic;
    var dataAllServiceType = {};
    var dataAllService = {};
    var dataRuleDiscount = [];
    let CM_Sys_Image;
    $(document).ready(function () {
        initNavs();
        $('.tabtreat a:first').tab('show');
        CM_Sys_Image = {
            size: 102400,
            width: 110,
            height: 110,
            format: ['jpg', 'png', 'jpeg']
        }
        $('#CM_LimitImageNote').html(`${CM_Sys_Image.width} x ${CM_Sys_Image.height} px, ${(CM_Sys_Image.size / 1024)}KB`);
        CM_Event();
        // khoi tao rule discount
        dataRuleDiscount = [{ "type": "all", "active": 0, "percent": 0, "amount": 0, "value": [] }, { "type": "servicetype", "active": 0, "percent": 0, "amount": 0, "value": [] }, { "type": "service", "active": 0, "percent": 0, "amount": 0, "value": [] }]
        $("#MS_Color").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            showInput: true,
            color: '#ffff',
            palette: [
                ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
            ]
        });
        initNavs();
        $('.detailcus a:first').tab('show');
        $('#txtDiscount_All').attr('disabled', true);
        $('#txtDiscount_All').divide();
        $("#DiscountAmountPer_All").dropdown("set selected", 1);
        CM_filterServiceTypeDiscount();
        CM_filterServiceDiscount();
        CustMemLoadInitiliaze();
        eventRowDiscount_ServiceType();
        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl, '@Model.CurrentPath');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model.CurrentPath');
        $('.tabtreat a:first').addClass('active');
        $('.tabtreat a:first').trigger('click');
        $('.detailcus a:first').addClass('active');
        $('.detailcus a:first').trigger('click');
        if ($('#ckb_choose_all').is(':checked')) {
            $('#txtDiscount_All').attr('disabled', false);
            $('#DiscountAmountPer_All').removeClass("bg-light");
            $('#txtDiscount_All').removeClass("bg-light");
        }
        else {
            $('#txtDiscount_All').attr('disabled', true);
            $('#txtDiscount_All').val(0);
            $('#DiscountAmountPer_All').addClass("bg-light");
            $('#txtDiscount_All').addClass("bg-light");
        }
    });

    function CustMemLoadInitiliaze() {
        AjaxLoad(url = "/Setting/CustomerMembershipDetail/?handler=LoadInitialize"
            , data = {
                CurrentID: ser_CustomerMemID
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    CustomerMem_ParseKeyValue(data.ServiceType, dataAllServiceType);
                    CustomerMem_ParseKeyValue(data.Service, dataAllService);
                    CustomerMem_LoadUpdate(data.dataDetail);
                    $('.money').divide();

                } else {
                    notiError_SW();
                }
            });
    }

    //#region //Render and Fill Data
    function CustMemRenderLeft(data, id, type) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            for ([key, value] of Object.entries(data)) {
                if (value.Choose == "0") {
                    let tr =
                        '<td class="d-none">' + key + '</td>'
                        + '<td class="list_service_discount">' + value.Name + '</td>'
                        + '<td>' + Render_Button_Grid(['<button class="' + ((type == 1) ? 'btnChooseService' : 'btnChooseServiceType') + ' buttonGrid"><i class="imgGrid vtt-icon vttech-icon-add"></i></button>']) + '</td>'
                    stringContent = stringContent + '<tr role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function CustomerMem_RenderRight(data, id, type) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            for ([key, value] of Object.entries(data)) {
                if (value.Choose == "1") {
                    let tr = "";
                    if (type == 1) {
                        tr = ' <td class="d-none">' + key + '</td>'
                            + ' <td>' + value.Name + '</td>'
                            //----------------------------------------
                            + ' <td>'
                            + '<div class="position-relative" >'
                            + '<input id="Discount_Service_Detail_' + key + '" class="border-right-0 form-control" name="discountOther" type="text" placeholder="eg .@Local["Tiền chiết khấu"]" onchange="event.preventDefault();CustomerMem_Onchange_DiscountItem(' + key + ',1);" />'
                            + '<div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="DiscountAmountPer_Service_' + key + '" onchange="event.preventDefault();return CustomerMem_Onchange_DiscountItem(' + key + ',1);">'
                            + '<i class="dropdown icon"></i>'
                            + '<input type="hidden" name="name" />'
                            + '<div class="default text"></div>'
                            + '<div id="cbbPerformanceDiscounted" class="menu transition hidden" tabindex="-1">'
                            + '<div class="item" data-value="1">%</div>'
                            + '<div class="item" data-value="2">VND</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</td>'
                            //-----------------------------------------
                            + ' <td>' + Render_Button_Grid(['<button class="btnRemoveService buttonGrid"><i class="imgGrid vtt-icon vttech-icon-delete"></i></button>']) + '</td>'
                    }
                    if (type == 2) {
                        tr = '<td class="d-none">' + key + '</td>'
                            + ' <td>' + value.Name + '</td>'
                            //----------------------------------------
                            + '<td>'
                            + '<div class="position-relative">'
                            + '<input id="Discount_ServiceType_Detail' + key + '" class="border-right-0 form-control" name="discountOther" type="text" placeholder="eg .@Local["Tiền chiết khấu"]" onchange="event.preventDefault();CustomerMem_Onchange_DiscountItem(' + key + ',2);" />'
                            + '<div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="DiscountAmountPer_ServiceType_' + key + '" onchange="event.preventDefault();return CustomerMem_Onchange_DiscountItem(' + key + ',2);">'
                            + '<i class="dropdown icon"></i>'
                            + '<input type="hidden" name="name" />'
                            + '<div class="default text"></div>'
                            + '<div id="cbbPerformanceDiscounted" class="menu transition hidden" tabindex="-1">'
                            + '<div class="item" data-value="1">%</div>'
                            + '<div class="item" data-value="2">VND</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</td>'
                            //-----------------------------------------
                            + ' <td>' + Render_Button_Grid(['<button class="btnRemoveServiceType buttonGrid"><i class="imgGrid vtt-icon vttech-icon-delete"></i></button>']) + '</td>'
                    }
                    stringContent = stringContent + '<tr role="row">' + tr + '</tr>';
                }
            }

            myNode.innerHTML = stringContent;
            $(".ui.dropdown").dropdown();
            CustomerMem_EventFill(data, type);
        }
    }
    function CustomerMem_EventFill(data, type) {
        let dataArray = Object.entries(data).filter(([key, value]) => value.Choose == "1");
        if (dataArray.length > 0) {
            data = CustomerMem_ParseArrayToKeyValue(dataArray);
            if (type === 1) {
                for ([key, value] of Object.entries(data)) {
                    let discount_Percent = Number(value.Percent);
                    let discount_Amount = Number(value.Amount);
                    if (discount_Percent > discount_Amount) {
                        $("#Discount_Service_Detail_" + key).val(discount_Percent);
                        $("#DiscountAmountPer_Service_" + key).dropdown("set selected", 1);
                    }
                    else {
                        $("#Discount_Service_Detail_" + key).val(discount_Amount);
                        $("#DiscountAmountPer_Service_" + key).dropdown("set selected", 2);
                    }
                }
            }
            else {
                for ([key, value] of Object.entries(data)) {
                    let discount_Percent = Number(value.Percent);
                    let discount_Amount = Number(value.Amount);
                    if (discount_Percent > discount_Amount) {
                        $("#Discount_ServiceType_Detail" + key).val(discount_Percent);
                        $("#DiscountAmountPer_ServiceType_" + key).dropdown("set selected", 1);
                    }
                    else {
                        $("#Discount_ServiceType_Detail" + key).val(discount_Amount);
                        $("#DiscountAmountPer_ServiceType_" + key).dropdown("set selected", 2);
                    }
                }
            }
        }

    }
    function CustomerMem_MaxNum () {
         
        if ($('#CM_NaxNum')[0].checked == true) {
            $('#MS_AmountTo').val(1000000000000);
 
        }
    }
    //#endregion

    //#region //Event Change (add, remove,value ,Choose Type Discount)
    function eventRowDiscount_ServiceType() {
        $('#dtservicetype_ListLeft tbody').on('click', '.btnChooseServiceType', function () {
            event.preventDefault();
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            if (ID != undefined && ID != 0) CustomerMem_AddItem(ID, 2);
        });
        $('#dtservicetype_ListRight tbody').on('click', '.btnRemoveServiceType', function () {
            event.preventDefault();
            let ID = Number($(this).closest('tr')[0].children[0].innerHTML);
            if (ID != undefined && ID != 0) CustomerMem_RemoveItem(ID, 2);
        });

        $('#dtservice_ListLeft tbody').on('click', '.btnChooseService', function () {
            event.preventDefault();
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            if (ID != undefined && ID != 0) CustomerMem_AddItem(ID, 1);
        });
        $('#dtservice_ListRight tbody').on('click', '.btnRemoveService', function () {
            event.preventDefault();
            let ID = Number($(this).closest('tr')[0].children[0].innerHTML);
            if (ID != undefined && ID != 0) CustomerMem_RemoveItem(ID, 1);
        });
    }
    function CustomerMem_AddItem(id, TypeDiscount) {
        if (TypeDiscount === 2) {
            dataAllServiceType[id].Choose = "1";
            CustMemRenderLeft(dataAllServiceType, "dtservicetype_ListLeftBody", 2);
            CustomerMem_RenderRight(dataAllServiceType, "dtservicetype_ListRightBody", 2);
        }
        if (TypeDiscount === 1) {
            dataAllService[id].Choose = "1";
            CustMemRenderLeft(dataAllService, "dtservice_ListLeftBody", 1);
            CustomerMem_RenderRight(dataAllService, "dtservice_ListRightBody", 1);
        }
    }
    function CustomerMem_RemoveItem(id, TypeDiscount) {
        if (TypeDiscount === 2) {
            dataAllServiceType[id].Choose = "0";
            CustMemRenderLeft(dataAllServiceType, "dtservicetype_ListLeftBody", 2);
            CustomerMem_RenderRight(dataAllServiceType, "dtservicetype_ListRightBody", 2);
        }
        if (TypeDiscount === 1) {
            dataAllService[id].Choose = "0";
            CustMemRenderLeft(dataAllService, "dtservice_ListLeftBody", 1);
            CustomerMem_RenderRight(dataAllService, "dtservice_ListRightBody", 1);
        }
    }
    function CustomerMem_Onchange_DiscountItem(id, TypeDiscount) {
        if (TypeDiscount === 2) {
            if ($('#ckb_choose_service_type').is(':checked')) {
                let _type_discount = Number($("#DiscountAmountPer_ServiceType_" + id).dropdown("get value")) ? Number($("#DiscountAmountPer_ServiceType_" + id).dropdown("get value")) : 0;
                let _value_discount = Number($("#Discount_ServiceType_Detail" + id).val()) ? Number($("#Discount_ServiceType_Detail" + id).val()) : 0;
                if (_type_discount == 1) {
                    if (_value_discount < 0 || _value_discount > 100) {
                        $("#Discount_ServiceType_Detail" + id).css("background-color", "rgb(255 216 216)")
                    }
                    else {
                        $("#Discount_ServiceType_Detail" + id).css("background-color", "white")
                    }
                } else {
                    if (_value_discount < 0) {
                        $("#Discount_ServiceType_Detail" + id).css("background-color", "rgb(255 216 216)")
                    }
                    else {
                        $("#Discount_ServiceType_Detail" + id).css("background-color", "white");
                    }
                }
                if (_type_discount == 1) {
                    dataAllServiceType[id].Percent = _value_discount
                    dataAllServiceType[id].Amount = 0;
                }
                else {
                    dataAllServiceType[id].Percent = 0
                    dataAllServiceType[id].Amount = _value_discount;
                }
            }
        }
        if (TypeDiscount === 1) {
            if ($('#ckb_choose_service').is(':checked')) {
                let _type_discount = Number($("#DiscountAmountPer_Service_" + id).dropdown("get value")) ? Number($("#DiscountAmountPer_Service_" + id).dropdown("get value")) : 0;
                let _value_discount = Number($("#Discount_Service_Detail_" + id).val()) ? Number($("#Discount_Service_Detail_" + id).val()) : 0;
                if (_type_discount == 1) {
                    if (_value_discount < 0 || _value_discount > 100) {
                        $("#Discount_Service_Detail_" + id).css("background-color", "rgb(255 216 216)")
                    }
                    else {
                        $("#Discount_Service_Detail_" + id).css("background-color", "white")
                    }
                }
                else {
                    if (_value_discount < 0) {
                        $("#Discount_Service_Detail_" + id).css("background-color", "rgb(255 216 216)")
                    }
                    else {
                        $("#Discount_Service_Detail_" + id).css("background-color", "white");
                    }
                }
                if (_type_discount == 1) {
                    dataAllService[id].Percent = _value_discount
                    dataAllService[id].Amount = 0;
                }
                else {
                    dataAllService[id].Percent = 0
                    dataAllService[id].Amount = _value_discount;
                }
            }
        }
    }
    function CM_ChangeType(type) {
        // giam theo nhom dich vu
        if (type == 2) {
            if ($('#ckb_choose_service_type').is(':checked')) {
                $('#list_service_type_discount').removeClass('d-none');
                /*  $('#txtDiscount_ServiceType').attr('disabled', false);*/
                CM_LoadInitializeByServiceType();
            }
            else {
                $('#list_service_type_discount').addClass('d-none');
                //$('#txtDiscount_ServiceType').attr('disabled', true);
                //$('#txtDiscount_ServiceType').val(0);
            }
        }

        // giam theo dich vu
        if (type == 1) {
            if ($('#ckb_choose_service').is(':checked')) {
                $('#list_service_discount').removeClass('d-none');
                $('#txtDiscount_Service').attr('disabled', false);
                CM_LoadInitializeByService();
            }
            else {
                $('#list_service_discount').addClass('d-none');
                //$('#txtDiscount_Service').attr('disabled', true);
                //$('#txtDiscount_Service').val(0);
            }
        }
        // ap dung cho tat ca sp, dv
        if (type == 0) {
            if ($('#ckb_choose_all').is(':checked')) {
                $('#txtDiscount_All').attr('disabled', false);
                $('#DiscountAmountPer_All').removeClass("bg-light");
                $('#txtDiscount_All').removeClass("bg-light");
            }
            else {
                $('#txtDiscount_All').attr('disabled', true);
                $('#txtDiscount_All').val(0);
                $('#DiscountAmountPer_All').addClass("bg-light");
                $('#txtDiscount_All').addClass("bg-light");
            }
        }
    }
    //#endregion
    //#region //Parse Key Value
    function CustomerMem_ParseKeyValue(data, dataResult) {
        for (let i = 0; i < data.length; i++) {
            let element = {};
            element.ID = data[i].ID;
            element.Name = data[i].Name;
            element.Choose = data[i].Choose;
            element.Percent = data[i].Percent;
            element.Amount = data[i].Amount;
            dataResult[data[i].ID] = element;
        }
    }
    function CustomerMem_ParseArrayToKeyValue(data) {
        let dataResult = {};
        for (let i = 0; i < data.length; i++) {
            let items = data[i];
            let item = items[1];
            let element = {};
            element.ID = item.ID;
            element.Name = item.Name;
            element.Choose = item.Choose;
            element.Percent = item.Percent;
            element.Amount = item.Amount;
            dataResult[item.ID] = element;
        }
        return dataResult;
    }
    //#endregion
    //#region //Filter Service and Service Type
    function CM_filterServiceTypeDiscount() {
        if (document.getElementById("cm_filterserviceType")) {
            let datafilter = {};
            var filter = document.getElementById("cm_filterserviceType");
            filter.addEventListener("keyup", function (event) {
                let textsearch = $('#cm_filterserviceType').val().trim();
                event.preventDefault();
                let search = xoa_dau(textsearch.toLowerCase());
                if (search == "") {
                    datafilter = dataAllServiceType;
                }
                else {
                    let dataArray = Object.entries(dataAllServiceType).filter(([key, value]) => xoa_dau(value.Name).toLowerCase().includes(search));
                    if (dataArray.length > 0) {
                        datafilter = CustomerMem_ParseArrayToKeyValue(dataArray);
                    }
                }
                CustMemRenderLeft(datafilter, "dtservicetype_ListLeftBody", 2);
                ColorSearchFilterText(search, "list_service_discount");
            });
        }
    }
    function CM_filterServiceDiscount() {
        if (document.getElementById("cm_filterservice")) {
            let data = {};
            var filter = document.getElementById("cm_filterservice");
            filter.addEventListener("keyup", function (event) {
                let textsearch = $('#cm_filterservice').val().trim();
                event.preventDefault();
                let search = xoa_dau(textsearch.toLowerCase());
                if (search == "") {
                    data = dataAllService;
                }
                else {
                    let dataArray = Object.entries(dataAllService).filter(([key, value]) => xoa_dau(value.Name).toLowerCase().includes(search));
                    if (dataArray.length > 0) {
                        data = CustomerMem_ParseArrayToKeyValue(dataArray);
                    }
                }
                CustMemRenderLeft(data, "dtservice_ListLeftBody", 1);
                ColorSearchFilterText(search, "list_service_discount");
            });
        }
    }
    //#endregion
    async function CustomerMem_Excute() {
        document.getElementById("textShowMessage").innerHTML = "";
        if (document.getElementById('ckb_choose_all')) {
            CM_ChangeEventDiscountPrice();
        }
        if (document.getElementById("textShowMessage").innerHTML == "") {
            let ruleService = [];
            let ruleServiceType = [];
            // danh sach nhom dich vu va dich vu co giam gia
            if (dataAllServiceType != undefined && dataAllServiceType != "") {
                let data = Object.entries(dataAllServiceType).filter(([key, value]) => value.Choose == "1");
                for (let i = 0; i < data.length; i++) {
                    let items = data[i];
                    let item = items[1];
                    let servicetype = {};
                    servicetype.id = item.ID;
                    servicetype.percent = item.Percent;
                    servicetype.amount = item.Amount;
                    ruleServiceType.push(servicetype);
                }
            }
            if (dataAllService != undefined && dataAllService != "") {
                let data = Object.entries(dataAllService).filter(([key, value]) => value.Choose == "1");
                for (let i = 0; i < data.length; i++) {
                    let items = data[i];
                    let item = items[1];
                    let service = {};
                    service.id = item.ID;
                    service.percent = item.Percent;
                    service.amount = item.Amount;
                    ruleService.push(service);
                }
            }
            if (document.getElementById("ckb_choose_all")) {
                for (let i = 0; i < dataRuleDiscount.length; i++) {
                    if (dataRuleDiscount[i].type == 'service') {
                        if ($('#ckb_choose_service').is(':checked')) {
                            dataRuleDiscount[i].active = 1;
                            let PerTreat = Number($('#DiscountAmountPer_Service').dropdown('get value')) ? Number($('#DiscountAmountPer_Service').dropdown('get value')) : 0;
                            if (PerTreat == 1) {
                                dataRuleDiscount[i].percent = Number($('#txtDiscount_Service').val() ? $('#txtDiscount_Service').val() : 0);
                                dataRuleDiscount[i].amount = 0;
                            }
                            else {
                                dataRuleDiscount[i].amount = Number($('#txtDiscount_Service').val() ? $('#txtDiscount_Service').val() : 0);
                                dataRuleDiscount[i].percent = 0;
                            }
                            dataRuleDiscount[i].value = ruleService;
                        }
                        else {
                            dataRuleDiscount[i].active = 0;
                            dataRuleDiscount[i].percent = 0;
                            dataRuleDiscount[i].amount = 0;
                            dataRuleDiscount[i].value = [];
                        }

                    }
                    else if (dataRuleDiscount[i].type == 'servicetype') {
                        if ($('#ckb_choose_service_type').is(':checked')) {
                            dataRuleDiscount[i].active = 1;
                            let PerTreat = Number($('#DiscountAmountPer_ServiceType').dropdown('get value')) ? Number($('#DiscountAmountPer_ServiceType').dropdown('get value')) : 0;
                            if (PerTreat == 1) {
                                dataRuleDiscount[i].percent = Number($('#txtDiscount_ServiceType').val() ? $('#txtDiscount_ServiceType').val() : 0);
                                dataRuleDiscount[i].amount = 0;
                            }
                            else {
                                dataRuleDiscount[i].amount = Number($('#txtDiscount_ServiceType').val() ? $('#txtDiscount_ServiceType').val() : 0);
                                dataRuleDiscount[i].percent = 0;
                            }
                            dataRuleDiscount[i].value = ruleServiceType;
                        }
                        else {
                            dataRuleDiscount[i].active = 0;
                            dataRuleDiscount[i].percent = 0;
                            dataRuleDiscount[i].amount = 0;
                            dataRuleDiscount[i].value = [];
                        }

                    }
                    else if (dataRuleDiscount[i].type == 'all') {
                        if ($('#ckb_choose_all').is(':checked')) {
                            dataRuleDiscount[i].active = 1;
                            let PerTreat = Number($('#DiscountAmountPer_All').dropdown('get value')) ? Number($('#DiscountAmountPer_All').dropdown('get value')) : 0;
                            if (PerTreat == 1) {
                                dataRuleDiscount[i].percent = Number($('#txtDiscount_All').val() ? $('#txtDiscount_All').val() : 0);
                                dataRuleDiscount[i].amount = 0;
                            }
                            else {
                                dataRuleDiscount[i].amount = Number($('#txtDiscount_All').val() ? $('#txtDiscount_All').val() : 0);
                                dataRuleDiscount[i].percent = 0;
                            }
                            dataRuleDiscount[i].value = [];
                        }
                        else {
                            dataRuleDiscount[i].active = 0;
                            dataRuleDiscount[i].percent = 0;
                            dataRuleDiscount[i].amount = 0;
                            dataRuleDiscount[i].value = [];
                        }

                    }
                }
            }
            var data = new Object();
            let Image = $("#CM_UploadDetailImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'CM_UploadDetailImage') : CM_ImageString;
            data.Name = $('#CM_GroupName').val() ? $('#CM_GroupName').val() : "";
            data.Note = $('#CM_Note').val() ? $('#CM_Note').val() : "";
            data.Image = Image;
            data.AmountFrom = $('#MS_AmountFrom').val() ? $('#MS_AmountFrom').val() : 0;
            data.AmountTo = $('#MS_AmountTo').val() ? $('#MS_AmountTo').val() : 0;
            data.ColorCode = $("#MS_Color").spectrum('get').toHexString();
            data.DataRule = JSON.stringify(dataRuleDiscount);
            $('#formCustomerMem').form('validate form');
            if ($('#formCustomerMem').form('is valid')) {
                AjaxLoad(url = "/Setting/CustomerMembershipDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_CustomerMemID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            CustmemLoad();
                            CloseModal();
                        } else if (result == "-1") {
                            $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                        } else {
                            notiError_SW();
                        }
                    });
            }
        }
        return false;
    }
    function CustomerMem_LoadUpdate(dataCustMem) {
        if (dataCustMem && dataCustMem.length > 0) {
            $('#CM_GroupName').val((dataCustMem[0].Name));
            $('#CM_Note').val((dataCustMem[0].Note));
            $('#MS_AmountFrom').val((dataCustMem[0].AmountFrom));
            $('#MS_AmountTo').val((dataCustMem[0].AmountTo));
            $('#MS_Color').spectrum("set", dataCustMem[0].ColorCode);
            CM_ImageString = dataCustMem[0].Image ?? Master_Default_Pic;
            $('#CM_DetailImage').attr('src', CM_ImageString)
            // update Rule discount
            let DataRule = JSON.parse(dataCustMem[0].DataRule);
            if (document.getElementById('ckb_choose_all') && DataRule && DataRule.length > 0) {
                dataRuleDiscount = DataRule;
                for (let i = 0; i < dataRuleDiscount.length; i++) {
                    var item = dataRuleDiscount[i];
                    if (item.type == "all" && item.active == 1) {
                        $('#ckb_choose_all')[0].checked = true;
                        CM_ChangeType(0);
                        if (item.percent != 0) {
                            $("#DiscountAmountPer_All").dropdown("set selected", 1);
                            $('#txtDiscount_All').val(item.percent);
                        }
                        else {
                            $("#DiscountAmountPer_All").dropdown("set selected", 2);
                            $('#txtDiscount_All').val(item.amount);
                        }
                    }
                    else if (item.type == "servicetype" && item.active == 1) {
                        $('#ckb_choose_service_type')[0].checked = true;
                        CM_ChangeType(2);
                        if (item.percent != 0) {
                            /*   $("#DiscountAmountPer_ServiceType").dropdown("set selected", 1);*/
                            $('#txtDiscount_ServiceType').val(item.percent);
                        }
                        else {
                                 /*   $("#DiscountAmountPer_ServiceType").dropdown("set selected", 2)*/;
                            $('#txtDiscount_ServiceType').val(item.amount);
                        }
                        let arrtype = item.value;
                        if (arrtype.length != 0) {
                            for (let a = 0; a < arrtype.length; a++) {
                                let id = arrtype[a].id;
                                let percent = arrtype[a].percent;
                                let amount = arrtype[a].amount;
                                if (id != "") {
                                    if (dataAllServiceType[id] != null && dataAllServiceType[id] != undefined) {
                                        dataAllServiceType[id].Choose = "1";
                                        dataAllServiceType[id].Percent = percent;
                                        dataAllServiceType[id].Amount = amount;
                                    }
                                }
                            }
                        }
                        CM_LoadInitializeByServiceType();
                    }
                    else if (item.type == "service" && item.active == 1) {
                        $('#ckb_choose_service')[0].checked = true;
                        CM_ChangeType(1);
                        if (item.percent != 0) {
                            /*      $("#DiscountAmountPer_Service").dropdown("set selected", 1);*/
                            $('#txtDiscount_Service').val(item.percent);
                        }
                        else {
                            /*   $("#DiscountAmountPer_Service").dropdown("set selected", 2);*/
                            $('#txtDiscount_Service').val(item.amount);
                        }
                        let arrtype = item.value;
                        if (arrtype.length != 0) {
                            for (let t = 0; t < arrtype.length; t++) {
                                let id = arrtype[t].id;
                                let percent = arrtype[t].percent;
                                let amount = arrtype[t].amount;
                                if (id != "") {
                                    if (dataAllService[id] != null && dataAllService[id] != undefined) {
                                        dataAllService[id].Choose = "1";
                                        dataAllService[id].Percent = percent;
                                        dataAllService[id].Amount = amount;
                                    }
                                }
                            }
                        }
                        CM_LoadInitializeByService();
                    }
                }
            }
        }
    }
    function CM_LoadInitializeByServiceType() {
        CustMemRenderLeft(dataAllServiceType, "dtservicetype_ListLeftBody", 2);
        CustomerMem_RenderRight(dataAllServiceType, "dtservicetype_ListRightBody", 2);
    }
    function CM_LoadInitializeByService() {
        CustMemRenderLeft(dataAllService, "dtservice_ListLeftBody", 1);
        CustomerMem_RenderRight(dataAllService, "dtservice_ListRightBody", 1);
    }
    // EVENT CHANGE DISCOUNT
    function CM_ChangeEventDiscountPrice() {
        $('#textShowMessage').html('');
        let typeDiscountPer_All = Number($('#DiscountAmountPer_All').dropdown('get value')) ? Number($('#DiscountAmountPer_All').dropdown('get value')) : 0;
        if (!isNaN($('#txtDiscount_All').val()) || $('#txtDiscount_All').val() == '') {
            let valueDiscountPer_All = Number($('#txtDiscount_All').val() ? $('#txtDiscount_All').val() : 0);
            if (typeDiscountPer_All == 1 && valueDiscountPer_All <= 100 && valueDiscountPer_All >= 0) {
                $('#txtDiscount_All').css('background-color', 'white');
            }
            else if (typeDiscountPer_All == 2 && valueDiscountPer_All >= 0) {
                $('#txtDiscount_All').css('background-color', 'white');
            }
            else {
                // sai dinh dang
                $('#textShowMessage').html('@Local["Sai định dạng"]');
                $('#txtDiscount_All').css('background-color', 'rgb(255 216 216)');
            }
        }
        else {
            //sai dinh dang
            $('#textShowMessage').html('@Local["Sai định dạng"]');
            $('#txtDiscount_All').css('background-color', 'rgb(255 216 216)');
        }
        //Chiết Khấu cho từng dịch vụ và nhóm dịch vụ
        if ($('#ckb_choose_service').is(':checked')) {
            CustomerMem_ValidateDiscountValue(dataAllService, 1);
        }
        if ($('#ckb_choose_service_type').is(':checked')) {
            CustomerMem_ValidateDiscountValue(dataAllServiceType, 2);
        }
    }
    function CustomerMem_ValidateDiscountValue(data, type) {
        let dataArray = Object.entries(data).filter(([key, value]) => value.Choose == "1");
        let AttributeID = "";
        if (type == 1) AttributeID = "Discount_Service_Detail_"
        else AttributeID = "Discount_ServiceType_Detail";
        if (dataArray.length > 0) {
            data = CustomerMem_ParseArrayToKeyValue(dataArray);
            for ([key, value] of Object.entries(data)) {
                let discount_Percent = Number(value.Percent);
                let discount_Amount = Number(value.Amount);
                if (discount_Percent < 0 || discount_Amount < 0 || discount_Percent > 100 || (discount_Percent == 0 && discount_Amount == 0)) {
                    $("#" + AttributeID + key).css('background-color', 'rgb(255 216 216)');
                    $('#textShowMessage').html('@Local["Sai định dạng"]');
                }
            }
        }
    }
    function CM_Event() {
        UploadImage({
            inputFile: 'CM_UploadDetailImage'
            , btnInput: ''
            , avatar: 'CM_DetailImage'
            , condition: CM_Sys_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }
    function MS_ColorMember () {
        var ColorCode = $("#MS_Color").spectrum('get').toHexString();
        //document.getElementsByClassName('cardTypeName')[0].style.color = ColorCode;
    }
</script>
<style>
    .sp-replacer {
        display: block !IMPORTANT;
        width: 100% !IMPORTANT;
        padding: 0.5rem 0.75rem !IMPORTANT;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #495057 !important;
        background-color: #fff !IMPORTANT;
        background-clip: padding-box !important;
        border: 1px solid #d2d6da !IMPORTANT;
        height: auto !important;
        border-radius: 0.5rem;
        transition: box-shadow 0.15s ease, border-color 0.15s ease;
    }
</style>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
