@page
@model MLunarCoffee.Pages.Setting.EmailOptionModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-0 px-0" id="divSmsOptionList">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Danh sách kịch bản Email"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách cú pháp mail được hệ thống cố định và danh sách tùy chỉnh thêm"] </p>
                    </div>
                    <div class="right">
                        <ul class="nav nav-pills nav-fill p-1 bg-transparent d-inline-flex emailoption" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#div_system" role="tab">
                                    @Local["Hệ thống"]
                                    <span class="text-danger text-xs d-block">@Local["Không thể xóa"]</span>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#div_manual" role="tab">
                                    @Local["Kịch bản tùy chỉnh"]
                                    <span class="text-danger text-xs d-block">(@Local["Tối đa 30 kịch bản"])</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div id="loaderMailOption" class="waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="div_system" role="tabpanel">
                            <div class="timeline timeline-one-side" id="dtmail_systemBody">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="div_manual" role="tabpanel">
                            <div class="d-lg-flex">
                                <div class="ms-auto my-auto">
                                    <button id="EOD_btnAdd" class="me-3 btn btn-primary btn-sm mt-1 m-0 setting_projectclosure" onclick="event.preventDefault();return MailOption_New();">@Local["Thêm mới"]</button>
                                </div>
                            </div>
                            <div class="timeline timeline-one-side" id="dtmail_manual">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divEmailOptionDetail"></div>

<script type="text/javascript">


    //#region // LOAD DATA
    let DataUser;

    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User, _Session_ServiceCare]
            , function (data) {
                DataUser = data[0];
                $('.emailoption a:first').tab('show');
                MailOption_Load();
            });

    });
    function MailOption_Load() {
        AjaxLoad(url = "/Setting/EmailOption/?handler=LoadData"
            , data = {}, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                let datasys = data.filter(v => v.IsManual == 0);
                let datamanual = data.filter(v => v.IsManual == 1);
                MailOption_Render(datasys, 'dtmail_systemBody');
                MailOption_Render(datamanual, 'dtmail_manual');
            }
            , sender = null
            , before = function (e) {
                $("#loaderMailOption").show();
            }
            , complete = function (e) {
                $("#loaderMailOption").hide();
            }
        );
    }
    //#endregion


    //#region // RENDER DATA
    async function MailOption_Render(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    myNode.innerHTML = '';
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let obj = Fun_GetObject_ByID(DataUser, item.LastEditor);
                            info = obj.Name + '  ' + GetDateTime_String_DMYHM(item.LastEditorDate);
                            let vnmail = '';
                            let enmail = '';
                            if (item.Value != '' || item.LinkVn != '' || item.MailSubject != '') {
                                vnmail = vnmail + (item.LinkVn != '' ? `<div><span class="me-2 text-sm fw-bold">@Local["Kịch bản"]:</span><a class="cursor-pointer text-sm" target="_blank" href=${item.LinkVn} >${item.NameLinkVn}</a></div>` : ``);
                                vnmail = vnmail + (item.MailSubject != '' ? `<p class="text-sm text-dark fw-bold mb-0"><span>${item.MailSubject}</span> </p>` : ``);
                                vnmail = vnmail + (item.Value != '' ? `<p class="text-sm font-italic mb-0">${MailOption_Render_Key(item.Value)}</p>` : ``);
                                vnmail = `<div class="d-flex">
                                            <div class="mt-1">
                                                    <img src="/assests/img/ButtonImg/flag-vn.png" class="me-2"/>
                                            </div>
                                            <div class="d-flex flex-column">
                                                 ${vnmail}
                                            </div>

                                        </div>`;
                            }
                            if (item.ValueEng != '' || item.LinkEn != '' || item.MailSubjectEn != '') {
                                enmail = enmail + (item.LinkEn != '' ? `<div><span class="me-2 text-sm fw-bold">@Local["Kịch bản"]:</span><a class="cursor-pointer text-sm" target="_blank" href=${item.LinkEn} >${item.NameLinkEn}</a></div>` : ``);
                                enmail = enmail + (item.MailSubjectEn != '' ? `<p class="text-sm text-dark fw-bold mb-0"><span>${item.MailSubjectEn}</span> </p>` : ``);
                                enmail = enmail + (item.ValueEng != '' ? `<p class="text-sm font-italic mb-0">${MailOption_Render_Key(item.ValueEng)}</p>` : ``);
                                enmail = ` <hr class="horizontal dark mt-3 mb-2">
                                        <div class="d-flex">
                                            <div class="mt-1">
                                                    <img src="/assests/img/ButtonImg/flag-en.png" class="me-2"/>
                                            </div>
                                            <div class="d-flex flex-column">
                                                 ${enmail}
                                            </div>

                                        </div>`;
                            }

                            let tr = `
                                <span class="d-none">${item.ID}</span>
                                <span class="timeline-step py-2">${i + 1}</span>
                                <div class="timeline-content text-dark mw-100">
                                    <a title="${info}" data-bs-toggle="tooltip" class="cursor-pointer text-decoration-underline text-sm text-primary fw-bold mb-0 buttonEditClass">${item.Name}</a>
                                    ${vnmail}
                                     ${enmail}


                                </div>
                            `

                            tr = `<div class="parent-get timeline-block mb-4">${tr}</div>`
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                MailOption_Event();
                ToolPopper();
                CheckPermissionControlInPage(sys_PerControl ,'@Model.CurrentPath');
                CheckPermissionControlInPage(sys_PerControlMH,'@Model.CurrentPath');
            }, 100)
        })
    }

    function MailOption_Render_Key(str) {
        try {
            str = str.replaceAll('#CustCode#', '<span class="opacity-7 mx-1">[HOF000001]</span>')
            str = str.replaceAll('#CustName#', '<span class="opacity-7 mx-1">[CustomerName]</span>')
            str = str.replaceAll('#AppHour#', '<spani class="opacity-7 mx-1">[13:30]</span>')
            str = str.replaceAll('#AppDay#', '<span class="opacity-7 mx-1">[25/05/2019]</span>')
            str = str.replaceAll('#CompanyName#', '<span class="opacity-7 mx-1">[Company]</span>')
            str = str.replaceAll('#BranchAddress#', '<span class="opacity-7 mx-1">[BranchAddress]</span>')
            str = str.replaceAll('#BranchHotline#', '<span class="opacity-7 mx-1">[BranchHotline]</span>')
            str = str.replaceAll('#Amount#', '<span class="opacity-7 mx-1">[5,000,000]</span>')
            str = str.replaceAll('#CardName#', '<span class="opacity-7 mx-1">[Thẻ trả trước 10 triệu]</span>')
            str = str.replaceAll('#CardCode#', '<span class="opacity-7 mx-1">[CARD000001]</span>')
            str = str.replaceAll('#CardPriceUse#', '<span class="opacity-7 mx-1">[10,000,000]</span>')
            str = str.replaceAll('#CardPriceLeft#', '<span class="opacity-7 mx-1">[10,000,000]</span>')
            return str;
        }
        catch (ex) {
            return "";
        }
    }

    //#endregion


    //#region // EVENT
    function MailOption_Event() {
        $('#dtmail_systemBody .buttonEditClass').unbind('click').on('click', function () {
            let ID = Number($(this).closest('.parent-get').children()[0].innerHTML);
            MailOption_Edit(ID,system=1);
        });
        $('#dtmail_manual .buttonEditClass').unbind('click').on('click', function () {
            let ID = Number($(this).closest('.parent-get').children()[0].innerHTML);
            MailOption_Edit(ID, system = 0);
        });

    }

    //#endregion

    //#region // SHOW DETAIL
    function MailOption_New () {
        MailOption_OpenDetail();
        $("#divEmailOptionDetail").load("/Setting/EmailOptionDetail?system=0&CurrentID=" + 0 + "&ver=" + versionofWebApplication);
        $("#divEmailOptionDetail").show();
        return false;
    }
    function MailOption_Edit (CurrentID,system) {
        MailOption_OpenDetail();
        $("#divEmailOptionDetail").load("/Setting/EmailOptionDetail?system=" + system +"&CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $("#divEmailOptionDetail").show();
        return false;
    }
    function MailOption_OpenDetail () {
        $("#divEmailOptionDetail").empty();
        $("#divSmsOptionList").hide();
    }
    function MailOption_CloseDetail () {
        $("#divEmailOptionDetail").empty();
        $("#divSmsOptionList").show();
        $("#divEmailOptionDetail").hide();
    }
    //#endregion



</script>
<script>js_require('/js/main.js');</script>