@page
@model MLunarCoffee.Pages.Setting.EmailOptionDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="container-fluid py-3 px-0" id="EOD_Container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0 pe-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="text-primary fw-bold mb-0">@Local["Kịch bản email"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết cấu hình nội dung email"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent d-inline-flex emaildetail_tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#opdetail_areavn" role="tab">
                                        @Local["Tiếng việt"]
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#opdetail_areaen" role="tab">
                                        @Local["Tiếng anh"]
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="card-body pt-2  pe-0">
                    <div class="row px-1 form3" id="formEmailOption">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-1">
                                <label>@Local["Tên kịch bản"]</label>
                                <input name="name" id="EmailOp_Name" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-1">
                                <label>@Local["Ghi chú"]</label>
                                <input id="EmailOp_Note" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-7 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="opdetail_areavn" role="tabpanel">
                                        <div class="row pe-3">
                                            <div class="field col-12 p-1">
                                                <label>@Local["Tiêu đề email"] (@Local["Tiếng việt"])</label>
                                                <input id="EmailOp_Subject" class="form-control" />
                                            </div>
                                            <div class="field col-12 p-1">
                                                <label>@Local["Nội dung"] (@Local["Tiếng việt"])</label>
                                                <textarea id="EmailOp_textSmsVi" name="content" rows="4" class="form-control"></textarea>
                                            </div>
                                            <div class="field col-12 p-1 bg-gray-100 border-radius-lg d-block mt-3">
                                                <div class="mt-2">
                                                    <div class="d-flex text-dark text-sm">
                                                        <label class="ps-1 text-primary mb-0">@Local["Kết quả"]</label>
                                                        <label class="ps-1 text-secondary mb-0" id="EmailOp_countvi"></label>
                                                    </div>
                                                    <p class="ps-2 text-dark text-sm mt-2" id="EmailOp_resultvi"></p>
                                                </div>
                                            </div>
                                            <div class="mt-2 px-0">
                                                <hr class="horizontal dark my-3">
                                                <div class="d-lg-flex">
                                                    <div class="w-50 col-auto my-auto">
                                                        <a class="position-relative px-2">
                                                            <span><i class="text-md text-gradient text-info fas fa-cloud-upload-alt"></i> @Local["Tải lên kịch bản"] (.html)</span>
                                                            <input class="position-absolute start-0 w-100 opacity-0" id="emailfile_vn" type="file" name="files[]" multiple="">
                                                        </a>
                                                    </div>
                                                    <div class="ms-auto my-auto mt-1">
                                                        <h6 class="text-dark mb-0" id="emailname_vn"></h6>
                                                    </div>
                                                </div>


                                                <div id="emailcontent_vn">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="opdetail_areaen" role="tabpanel">
                                        <div class="row pe-3">
                                            <div class="field col-12 p-1">
                                                <label>@Local["Tiêu đề email"] (@Local["Tiếng anh"])</label>
                                                <input id="EmailOp_SubjectEn" class="form-control" />
                                            </div>
                                            <div class="field col-12 p-1">
                                                <label>@Local["Nội dung"] (@Local["Tiếng anh"])</label>
                                                <textarea id="EmailOp_textSmsEng" name="content" rows="4" class="form-control"></textarea>
                                            </div>
                                            <div class="field col-12 p-1 bg-gray-100 border-radius-lg d-block mt-3">
                                                <div class="mt-2">
                                                    <div class="d-flex text-dark text-sm">
                                                        <label class="ps-1 text-primary mb-0">@Local["Kết quả"]</label>
                                                        <label class="ps-1 text-secondary mb-0" id="EmailOp_counten"></label>
                                                    </div>

                                                    <p class="ps-2 text-dark text-sm mt-2" id="EmailOp_resulten"></p>
                                                </div>
                                            </div>
                                            <div class="mt-2 px-0">
                                                <hr class="horizontal dark my-3">
                                                <div class="d-lg-flex">
                                                    <div class="w-50 col-auto my-auto">
                                                        <a class="position-relative px-2">
                                                            <span><i class="text-md text-gradient text-info fas fa-cloud-upload-alt"></i> @Local["Tải lên kịch bản"] (.html)</span>
                                                            <input class="position-absolute start-0 w-100 opacity-0" id="emailfile_en" type="file" name="files[]" multiple="">
                                                        </a>
                                                    </div>
                                                    <div class="ms-auto my-auto mt-1">
                                                        <h6 class="text-dark mb-0" id="emailname_en"></h6>
                                                    </div>
                                                </div>


                                                <div id="emailcontent_en">

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-3">
                                <div class="row d-block  mt-2">

                                    <ul class="list-group">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#CustCode#</span>
                                            <span class="text-dark">@Local["Mã khách hàng"]</span>
                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="text-primary keyword">#CustName#</span>
                                            <span class="text-dark">@Local["Tên khách hàng"]</span>

                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#AppDay#</span>
                                            <span class="text-dark">@Local["Ngày hẹn (áp dụng tin nhắn lịch hẹn)"]</span>

                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#AppHour#</span>
                                            <span class="text-dark">@Local["Giờ hẹn (áp dụng tin nhắn lịch hẹn)"]</span>

                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#CompanyName#</span>
                                            <span class="text-dark">@Local["Tên công ty"]</span>

                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#BranchAddress#</span>
                                            <span class="text-dark">@Local["Địa chỉ chi nhánh chọn thao tác"]</span>

                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#BranchHotline#</span>
                                            <span class="text-dark">@Local["Hotline chi nhánh chọn thao tác"]</span>

                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#Amount#</span>
                                            <span class="text-dark">@Local["Tiền đóng (áp dụng tin nhắn sau khi thanh toán)"]</span>

                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#CardName#</span>
                                            <span class="text-dark">@Local["Tên thẻ trả trước"]</span>
                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#CardCode#</span>
                                            <span class="text-dark">@Local["Mã thẻ"]</span>
                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#CardPriceUse#</span>
                                            <span class="text-dark">@Local["Giá trị sử dụng"]</span>
                                        </li>
                                        <hr class="horizontal dark my-1">
                                        <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                            <span class="keyword text-primary">#CardPriceUse#</span>
                                            <span class="text-dark">@Local["Giá trị sử dụng"]</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton mt-3">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="EmailOp_TextShow"></div>
                    <div class="action_Save-Content">
                        <button class="btn bg-gradient-secondary" form="formEmailOption" onclick="event.preventDefault();return MailOption_CloseDetail()">@Local["Đóng"]</button>
                        <button id="EmailOp_btnDelete" form="formEmailOption" type="button" class="d-none btn bg-gradient-danger mt-2 me-2 setting_projectclosure" onclick="event.preventDefault();EmailOp_DeleteManual()">@Local["Xóa"]</button>
                        <button id="EmailOp_btnSave" form="formEmailOption" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();SmSOp_Excute()">@Local["Lưu"]</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //#region // LOAD DETAIL

    let ser_OptionCurrentID = ("@Model._OptionCurrentID");
    let ser_Optionsystem = ("@Model._Optionsystem");
    let link_Upload_File = '/Api/Upload/Upload?Type=MailTemplate';
    let Emaillink_vn = '', Emaillink_realvn = '';
    let Emaillink_en = '', Emaillink_realen = '';
    $(document).ready(function () {
        $('.emaildetail_tab a:first').tab('show');
        if (ser_Optionsystem == 1) {
            $("#EmailOp_Name").prop('disabled', true);
        } else {
            if (ser_OptionCurrentID != '0') $('#EmailOp_btnDelete').removeClass('d-none');
        }
        EmailOp_DetailEvent();
        EmailOp_LoadDetail();
        Checking_TabControl_Permission();
    });

    function EmailOp_LoadDetail() {
        if (ser_OptionCurrentID != "0") {
            AjaxLoad(url = "/Setting/EmailOptionDetail/?handler=Loadata"
                , data = { id: ser_OptionCurrentID }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != '[]') {
                        let dataType = JSON.parse(result);
                        EmailOp_FillData(dataType);
                    }
                }
            );
        }
    }
    async function EmailOp_FillData (dataType) {
        return new Promise((resolve) => {
            setTimeout(() => {
                if (dataType) {
                    $('#EmailOp_Note').val((dataType[0].Note));
                    $('#EmailOp_Subject').val((dataType[0].MailSubject));
                    $('#EmailOp_SubjectEn').val((dataType[0].MailSubjectEn));



                    $('#EmailOp_Name').val(dataType[0].Name);
                    let textvi = dataType[0].Value;
                    let texten = dataType[0].ValueEng;

                    Emaillink_vn = dataType[0].NameLinkVn;
                    Emaillink_realvn = dataType[0].LinkVn;
                    Emaillink_en = dataType[0].NameLinkEn;
                    Emaillink_realen = dataType[0].LinkEn;
                    $('#emailname_vn').html(Emaillink_vn);
                    $('#emailname_en').html(Emaillink_en);
                    if (Emaillink_realvn != "") $('#emailcontent_vn').load(Emaillink_realvn);
                    if (Emaillink_realen != "") $('#emailcontent_en').load(Emaillink_realen);

                    $('#EmailOp_textSmsVi').val(textvi);
                    $("#EmailOp_resultvi").text(EmailOp_ConvertKeyCode(textvi));
                    $("#EmailOp_countvi").html('(' + textvi.trim().length + ' @Local["Ký tự"])');
                    $('#EmailOp_textSmsEng').val(texten);
                    $("#EmailOp_resulten").text(EmailOp_ConvertKeyCode(texten));
                    $("#EmailOp_counten").html('(' + texten.trim().length + ' @Local["Ký tự"])');
                }

            }, 100)
        })
    }
    function EmailOp_DetailEvent () {
        $('.dataTables_empty').click(function () {
            $('#emailcopied').removeClass("show");
            let copyText = $('.keyword', this).text();
            EmailOp_CopyTextToClipboard(copyText);
            $('#emailcopied').addClass("show");
        });
        $("#EmailOp_textSmsVi").keyup(function () {
            let val = xoa_dau($(this).val());
            $("#EmailOp_resultvi").text(EmailOp_ConvertKeyCode(val));
            $("#EmailOp_countvi").html('(' + val.trim().length +' @Local["Ký tự"])');
        });
        $("#EmailOp_textSmsEng").keyup(function () {
            let val = xoa_dau($(this).val());
            $("#EmailOp_resulten").text(EmailOp_ConvertKeyCode(val));
            $("#EmailOp_counten").html('(' + val.trim().length + ' @Local["Ký tự"])');
        });

        AjaxUpload(url = link_Upload_File, inputid = 'emailfile_vn'
            , success = function (resulf, e) {
                if (resulf != "0") {
                    let _r = resulf.split("@@");
                    Emaillink_realvn = sys_HTTPImageRoot + '_Template/' + _r[0];
                    Emaillink_vn = _r[2];
                    $('#emailname_vn').html(Emaillink_vn);
                    $('#emailcontent_vn').load(Emaillink_realvn);
                } else {
                    notiWarning("@Local["Sai định dạng"]");
                }
            }
            , error = function (e) {
                notiError_SW();
            }
        );
        AjaxUpload(url = link_Upload_File, inputid = 'emailfile_en'
            , success = function (resulf, e) {
                if (resulf != "0") {
                    let _r = resulf.split("@@");
                    Emaillink_realen = sys_HTTPImageRoot + '_Template/' +  _r[0];
                    Emaillink_en = _r[2];
                    $('#emailname_en').html(Emaillink_en);
                    $('#emailcontent_en').load(Emaillink_realen) ;
                } else {
                    notiWarning("@Local["Sai định dạng"]");
                }
            }
            , error = function (e) {
                notiError_SW();
            }
        );
        return false;
    }

    //#endregion

    //#region // EXECUTE DATA

    function SmSOp_Excute() {
        var data = new Object();
        data.System = ser_Optionsystem;
        data.Name = $('#EmailOp_Name').val() ? $('#EmailOp_Name').val() : "";
        data.Value = $('#EmailOp_textSmsVi').val() ? $('#EmailOp_textSmsVi').val() : "";
        data.ValueEng = $('#EmailOp_textSmsEng').val() ? $('#EmailOp_textSmsEng').val() : "";
        data.Note = $('#EmailOp_Note').val() ? $('#EmailOp_Note').val() : "";
        data.MailSubject = $('#EmailOp_Subject').val() ? $('#EmailOp_Subject').val() : "";
        data.MailSubjectEn = $('#EmailOp_SubjectEn').val() ? $('#EmailOp_SubjectEn').val() : "";

        data.LinkVn = Emaillink_realvn;
        data.NameLinkVn = Emaillink_vn;
        data.LinkEn = Emaillink_realen;
        data.NameLinkEn = Emaillink_en;
        $('#formEmailOption').form('validate form');
        if ($('#formEmailOption').form('is valid')) {

            AjaxLoad(url = "/Setting/EmailOptionDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_OptionCurrentID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        MailOption_CloseDetail();
                        if (typeof MailOption_Load === 'function') MailOption_Load();
                    }
                    else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
    function EmailOp_DeleteManual () {
        const promise = notiConfirm();
        promise.then(function () {EmailOp_DeleteManualExe(ser_OptionCurrentID);}, function () { });
    }
    function EmailOp_DeleteManualExe (id) {
        AjaxLoad(url = "/Setting/EmailOptionDetail/?handler=DeleteItem"
            , data = {'id': id}
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    MailOption_CloseDetail();
                    if (typeof MailOption_Load === 'function') MailOption_Load();
                } else {
                    notiError_SW();
                }
            }
        );
    }
    //#endregion

    //#region // EVENT



    function EmailOp_CopyTextToClipboard(text) {
        var m = document;
        text = m.createTextNode(text);
        var w = window;
        var b = m.body;
        b.appendChild(text);
        if (b.createTextRange) {
            var d = b.createTextRange();
            d.moveToElementText(text);
            d.select();
            m.execCommand('copy');
        }
        else {
            var d = m.createRange();
            var g = w.getSelection;
            d.selectNodeContents(text);
            g().removeAllRanges();
            g().addRange(d);
            m.execCommand('copy');
            g().removeAllRanges();
        }
        text.remove();
        return true;
    }

    function EmailOp_ConvertKeyCode (str) {
        try {
            str = str.replaceAll('#CustCode#', "HOF000001")
            str = str.replaceAll('#CustName#', 'CustomerName')
            str = str.replaceAll('#AppHour#', "13:30")
            str = str.replaceAll('#AppDay#', "25/05/2019")
            str = str.replaceAll('#CompanyName#', 'Company')
            str = str.replaceAll('#BranchAddress#', 'BranchAddress')
            str = str.replaceAll('#BranchHotline#', 'BranchHostline')
            str = str.replaceAll('#Amount#', "5,000,000")
            str = str.replaceAll('#CardName#', "Thẻ trả trước 10 triệu")
            str = str.replaceAll('#CardCode#', "CARD000001")
            str = str.replaceAll('#CardPriceUse#', "10,000,000")
            str = str.replaceAll('#CardPriceLeft#', "10,000,000")
            return str;
        }
        catch (ex) {
            return "";
        }
    }
     //#endregion

</script>

<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>
<style>
    .copied {
        opacity: 0;
        display: inline;
        top: 9px;
    }

        .copied.show {
            animation: copyKeyAnime 1s 1;
        }

    @@keyframes copyKeyAnime {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
</style>