@page
@model MLunarCoffee.Pages.Setting.EvaluateTreatmentResultDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Đánh giá sau điều trị"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết đánh giá sau điều trị"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formEvalueTreatment">
                        <div class="field col-12 p-1">
                            <label>@Local["Tên đánh giá"]</label>
                            <input id="ETR_Evaluate" class="form-control" name="name" type="text" />
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Ghi chú"]</label>
                            <textarea id="ETR_Note" class="form-control" rows="2" name="content"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formEvalueTreatment" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button id="button_Service_detail_save" form="formEvalueTreatment" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();EvaluateTreatmentExcute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var ser_EvaluateDetailID;

        $(document).ready(function () {
            ser_EvaluateDetailID = @Model._EvaluateDetailID;
            if (ser_EvaluateDetailID != "0") EvaluateTreatmentLoadUpdate();
        });

        function EvaluateTreatmentLoadUpdate() {
            AjaxLoad(url = "/Setting/EvaluateTreatmentResultDetail/?handler=Loadata"
                , data = { id: ser_EvaluateDetailID }, async = true, error = null
                , success = function (result) {
                    let dataEvaluate = JSON.parse(result);
                    $('#ETR_Evaluate').val((dataEvaluate[0].Name));
                    $('#ETR_Note').val((dataEvaluate[0].Note));
                });

        }

        function EvaluateTreatmentExcute() {
            var data = new Object();
            data.Name = $('#ETR_Evaluate').val() ? $('#ETR_Evaluate').val() : "";
            data.Note = $('#ETR_Note').val() ? $('#ETR_Note').val() : "";
            $('#formEvalueTreatment').form('validate form');
            if ($('#formEvalueTreatment').form('is valid')) {
                AjaxLoad(url = "/Setting/EvaluateTreatmentResultDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_EvaluateDetailID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            if (typeof EvaluateTreatmentLoad !== 'undefined' && $.isFunction(EvaluateTreatmentLoad)) {
                                EvaluateTreatmentLoad();
                                $('#DetailModal').modal('hide');
                                $("#DetailModal_Content").html('');
                            }
                        } else if (result == "-1") {
                            $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                        } else {
                            notiError_SW();
                        }
                    });
            }
            return false;
        }
</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>
