@page
@model MLunarCoffee.Pages.Setting.RevenueSettingModel
@{
    Layout = null;
}


<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-3 px-0">
    <div class="row m-0" id="RevenueSetting_Container">
        <div class="col-12">
            <div class="py-3 px-2">
                <div class="mt-n3">
                    <p class="text-sm text-primary fw-bold fw-6 my-3" style="max-width: 700px;">
                        @Local["Nếu dịch vụ hoặc điều trị được set hoa hồng thủ công, thì hệ thống sẽ ưu tiên cách set này trước cách tính được miêu tả dưới đây"]
                    </p>
                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5  fas fa-user-nurse"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng kỹ thuật viên/phụ tá điều trị (Không phụ thuộc tiền khách hàng đóng)"]</h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi tham gia vào điều trị dịch vụ khách hàng. Khi nhiều kỹ thuật viên / phụ tá tham gia vào điều trị sẽ có 2 cách tính"].
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="reass_nodevide" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="KTVPT_Devide">
                                <label for="reass_nodevide" class="fw-normal mb-0 text-sm">
                                    @Local["Được y tiền trong phần cài đặt"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="reass_devide" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="KTVPT_Devide">
                                <label for="reass_devide" class="fw-normal mb-0 text-sm">
                                    @Local["Chia đều tiền trong phần cài đặt cho những người tham gia"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_KTVPT_Devide" data-group="assistant_treat">
                                <label for="payRoll_KTVPT_Devide">@Local["Dùng tính lương"]</label>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>
                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5  fas fa-user-nurse"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng kỹ thuật viên/phụ tá"]</h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi tham gia vào điều trị dịch vụ và khách hàng đóng tiền dịch vụ đó"].
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="rektvm_nodevide" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="KTVPTM_Devide">
                                <label for="rektvm_nodevide" class="fw-normal mb-0 text-sm">
                                    @Local["Chỉ phụ tá/kỹ thuật viên chính được tính, các phụ tá/kỹ thuật viên khác trong lần điều trị đó không được tính"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="rektvm_devide" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="KTVPTM_Devide">
                                <label for="rektvm_devide" class="fw-normal mb-0 text-sm">
                                    @Local["Tất cả các phụ tá/kỹ thuật viên tham gia vào lần điều trị điều được tính"].
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input id="rektvm_greater" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="KTVPTM_Greater">
                                <label for="rektvm_greater" class="fw-normal mb-0 text-sm">
                                    @Local["Số tiền khách đóng phải lớn hơn phần trăm điều trị mới thực hiện chia"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="rektvm_smaller" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="KTVPTM_Greater">
                                <label for="rektvm_smaller" class="fw-normal mb-0 text-sm">
                                    @Local["Chia ngay khi phát sinh thanh toán"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_Assitant" data-group="assistant">
                                <label for="payRoll_Assitant">@Local["Dùng tính lương"]</label>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>
                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5  fas fa-user-nurse"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng hỗ trợ"] </h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi tham gia vào điều trị dịch vụ khách hàng. Khi nhiều hỗ trợ tham gia vào điều trị sẽ có 2 cách tính"].
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="resupport_nodevide" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="Support_Devide">
                                <label for="resupport_nodevide" class="fw-normal mb-0 text-sm">
                                    @Local["Được y tiền trong phần cài đặt"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="resupport_devide" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="Support_Devide">
                                <label for="resupport_devide" class="fw-normal mb-0 text-sm">
                                    @Local["Chia đều tiền trong phần cài đặt cho những người tham gia"]
                                </label>

                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_Support" data-group="support">
                                <label for="payRoll_Support">@Local["Dùng tính lương"]</label>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>

                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5  fas fa-user-md"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng bác sĩ"]</h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi tham gia vào điều trị dịch vụ và khách hàng đóng tiền dịch vụ đó"].
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="redoc_nodevide" class="cursor-pointer form-check-input checkbox_item" value="0"  type="radio" name="Doc_Devide">
                                <label for="redoc_nodevide" class="fw-normal mb-0 text-sm">
                                    @Local["Chỉ bác sĩ điều trị chính được tính (bác sĩ 1), các bác sĩ khác trong lần điều trị đó không được tính"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="redoc_devide" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="Doc_Devide">
                                <label for="redoc_devide" class="fw-normal mb-0 text-sm">
                                    @Local["Tất cả các bác sĩ tham gia vào lần điều trị điều được tính"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input id="redoc_greater" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="Doc_Greater">
                                <label for="redoc_greater" class="fw-normal mb-0 text-sm">
                                    @Local["Số tiền khách đóng phải lớn hơn phần trăm điều trị mới thực hiện chia"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="redoc_smaller" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="Doc_Greater">
                                <label for="redoc_smaller" class="fw-normal mb-0 text-sm">
                                    @Local["Chia ngay khi phát sinh thanh toán"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="d-flex gap-3">
                                <div class="form-check m-1">
                                    <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_Doctor" data-group="doctor">
                                    <label for="payRoll_Doctor">@Local["Dùng tính lương"]</label>
                                </div>
                                <div class="form-check m-1">
                                    <input class="form-check-input reSettingExcludeCost" type="checkbox" id="excludeCost_Doctor" data-group="doctor">
                                    <label for="excludeCost_Doctor">@Local["Trừ chi phí"]</label>
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>
                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5  fas fa-user-md"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng bác sĩ điều trị (Không phụ thuộc tiền khách hàng đóng)"]</h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi tham gia vào điều trị dịch vụ"].
                                    </p>
                                </div>
                            </div>


                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="redocnomoney_nodevide" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="Docnomoney_Devide">
                                <label for="redocnomoney_nodevide" class="fw-normal mb-0 text-sm">
                                    @Local["Được y tiền trong phần cài đặt"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="redocnomoney_devide" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="Docnomoney_Devide">
                                <label for="redocnomoney_devide" class="fw-normal mb-0 text-sm">
                                    @Local["Chia đều tiền trong phần cài đặt cho những người tham gia"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="d-flex gap-3">
                                <div class="form-check m-1">
                                    <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_DoctorTreat" data-group="doctor_treat">
                                    <label for="payRoll_DoctorTreat">@Local["Dùng tính lương"]</label>
                                </div>
                                <div class="form-check m-1">
                                    <input class="form-check-input reSettingExcludeCost" type="checkbox" id="excludeCost_DoctorTreat" data-group="doctor_treat">
                                    <label for="excludeCost_DoctorTreat">@Local["Trừ chi phí"]</label>
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>
                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5 fas fa-user-astronaut"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng tư vấn"]</h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi khách hàng đóng tiền vào dịch vụ tư vấn"].
                                    </p>
                                </div>
                            </div>


                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="reconsul_nodevide" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="Consult_Devide">
                                <label for="reconsul_nodevide" class="fw-normal mb-0 text-sm">
                                    @Local["Chỉ tư vấn chính được tính"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="reconsul_devide" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="Consult_Devide">
                                <label for="reconsul_devide" class="fw-normal mb-0 text-sm">
                                    @Local["Tất cả các tư vấn tham gia đều được tính"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_Consult" data-group="consult">
                                <label for="payRoll_Consult">@Local["Dùng tính lương"]</label>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>
                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5  fas fa-headset"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng telesale"]</h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi khách hàng đóng tiền vào dịch vụ telesale tư vấn"].
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="retelesale_first" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="TeleSale_First">
                                <label class="fw-normal mb-0 text-sm">
                                    @Local["Chỉ tính trên các dịch vụ phát sinh ngày đầu tiên"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="retelesale_nofirst" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="TeleSale_First">
                                <label class="fw-normal mb-0 text-sm">
                                    @Local["Tính tất cả các dịch vụ"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input id="retelesale_exProduct" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="TeleSale_ExProduct">
                                <label for="retelesale_exProduct" class="fw-normal mb-0 text-sm">
                                    @Local["Chỉ tính dịch vụ, không tính sản phẩm"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="retelesale_noexProduct" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="TeleSale_ExProduct">
                                <label for="retelesale_noexProduct" class="fw-normal mb-0 text-sm">
                                    @Local["Tính tất cả"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input id="retelesale_nodevide" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="TeleSale_Devide">
                                <label for="retelesale_nodevide" class="fw-normal mb-0 text-sm">
                                    @Local["Được y tiền trong phần cài đặt"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="retelesale_devide" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="TeleSale_Devide">
                                <label for="retelesale_devide" class="fw-normal mb-0 text-sm">
                                    @Local["Chia đều tiền trong phần cài đặt cho những người tham gia"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_Telesale" data-group="telesale">
                                <label for="payRoll_Telesale">@Local["Dùng tính lương"]</label>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>
                    <div class="row px-1 my-3">
                        <div class="h-100">
                            <div class="d-flex align-items-center">
                                <i class="fs-1 me-3 text-secondary opacity-5  fas fa-headset"></i>
                                <div>
                                    <h6 class="mb-0 text-sm fw-bold">@Local["Hoa hồng chăm sóc khách hàng"]</h6>
                                    <p class="text-sm mb-0">
                                        @Local["Hoa hồng được tính khi khách hàng đóng tiền vào dịch vụ chăm sóc khách hàng tư vấn"]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="m-3 mx-3 ps-5">
                            <div class="form-check m-1">
                                <input id="recskh_exfirst" class="cursor-pointer form-check-input checkbox_item" value="1" type="radio" name="Cskh_Exfirst">
                                <label for="recskh_exfirst" class="fw-normal mb-0 text-sm">
                                    @Local["Bỏ qua các dịch vụ phát sinh ngày đầu tiên"]
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input id="recskh_noexfirst" class="cursor-pointer form-check-input checkbox_item" value="0" type="radio" name="Cskh_Exfirst">
                                <label for="recskh_noexfirst" class="fw-normal mb-0 text-sm">
                                    @Local["Tính tất cả các dịch vụ"]
                                </label>
                            </div>
                            <hr class="horizontal w-30 dark mt-3 mb-2">
                            <div class="form-check m-1">
                                <input class="form-check-input reSettingPayroll" type="checkbox" id="payRoll_CSKH" data-group="cskh">
                                <label for="payRoll_CSKH">@Local["Dùng tính lương"]</label>
                            </div>
                        </div>
                        <hr class="horizontal dark mt-3 mb-2">
                    </div>
                </div>
                <div class="fixed-botombutton pe-3 pb-3">
                    <div class="action_Save">
                        <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                        <div class="action_Save-Content">
                            <button id="revenueSettingSave" type="button"
                                    class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer"
                                    onclick="event.preventDefault(); RevenueSetting_Execute()">
                                @Local["Lưu"]
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    //load danh sach setting: group
    //let Doc_Devide = 0, Doc_Greater = 0
    //    , KTVPTM_Devide = 0, KTVPTM_Greater = 0
    //    , KTVPT_Devide = 0, SUP_Devide = 0
    //    , Consult_Devide = 0
    //    , TeleSale_First = 0, TeleSale_ExProduct = 0, TeleSale_Devide = 0
    //    , Cskh_Exfirst = 0
    //    , Docnomoney_Devide = 0;

    var DataRevenueSetting = {};
    $(document).ready(function () {
        RevenueSetting_LoadData();
        RevenueSetting_Event();
    });

    function RevenueSetting_LoadData() {
        AjaxLoad(url = "/Setting/RevenueSetting/?handler=LoadData"
            , data = {}
            , async = true
            , error = null
            , success = function (result) {
                let data = JSON.parse(result);
                if (data != undefined && data.length != 0) {
                    DataRevenueSetting = data.reduce((pre, arr) => {
                        if (arr["Name"]) {
                            pre[arr["Name"]] = arr;

                            //# Dùng Tính Lương
                            $('#RevenueSetting_Container .reSettingPayroll[data-group="' + arr.GroupOption + '"]')
                                .prop('checked', Number(arr.IsPayroll) === 1);

                            //# Trừ Chi Phí
                            $('#RevenueSetting_Container .reSettingExcludeCost[data-group="' + arr.GroupOption + '"]')
                                .prop('checked', Number(arr.IsExcludeCost) === 1);

                            let option = $('#RevenueSetting_Container input.checkbox_item[type="radio"][name="' + arr.Name + '"][value="' + arr.Value + '"]');
                            if (option.length > 0) {
                                option.prop("checked", true);
                            }

                        }
                        return pre;
                    }, {});
                }
            }
        );
    }

    function RevenueSetting_Event() {
        $("#RevenueSetting_Container .reSettingPayroll").unbind('change').change(function () {
            let _group = $(this).attr('data-group');
            let _isPayroll = $(this).is(":checked") ? 1 : 0;
            if (DataRevenueSetting != undefined) {
                for ([key, value] of Object.entries(DataRevenueSetting)) {
                    if (value.GroupOption == _group) {
                        value.IsPayroll = _isPayroll;
                    }
                }
            }
        });
        $("#RevenueSetting_Container .reSettingExcludeCost").unbind('change').change(function () {
            let _group = $(this).attr('data-group');
            let _isExcludeCost = $(this).is(":checked") ? 1 : 0;
            if (DataRevenueSetting != undefined) {
                for ([key, value] of Object.entries(DataRevenueSetting)) {
                    if (value.GroupOption == _group) {
                        value.IsExcludeCost = _isExcludeCost;
                    }
                }
            }
        });
    }

    function RevenueSetting_Execute() {
        if (DataRevenueSetting && Object.entries(DataRevenueSetting).length > 0) {
            for ([k, v] of Object.entries(DataRevenueSetting)) {
                let _input = $('#RevenueSetting_Container input.checkbox_item[type="radio"][name="' + k + '"]:checked');
                if (_input.length != 0) {
                    v.Value = _input.val();
                }
            }
            AjaxLoad(url = "/Setting/RevenueSetting/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(Object.values(DataRevenueSetting))
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
        return false;
    }
</script>

<script>js_require('/js/main.js');</script>
