@page
@model MLunarCoffee.Pages.Setting.ScheduleColorCodeListModel
@{
    Layout = null;
}

<div class="container-fluid py-0 px-0">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Mã màu calendar"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách mã màu calendar"]</p>
                    </div>
                </div>
                <div class="card-body pt-2 px-2">
                    <div class=" m-0 mobile-responsive">
                        <table id="dtContentScheduleColorCode" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th style="width:40px;">@Local["#"]</th>
                                    <th>@Local["Tên loại"]</th>
                                    <th>@Local["Mã màu"]</th>
                                    <th>@Local["Ghi chú"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentScheduleColorCodeBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ScheduleColorLoad();
        $('#dtContentScheduleColorCode tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            ScheduleColorEdit(ID);
        });

    });
    function ScheduleColorLoad() {
        AjaxLoad(url = "/Setting/ScheduleColorCodeList/?handler=LoadData"
            , data = {}, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                ScheduleColorRender(data, 'dtContentScheduleColorCodeBody');
                CheckPermissionControlInPage(sys_PerControl, '@Model.CurrentPath');
                CheckPermissionControlInPage(sys_PerControlMH, '@Model.CurrentPath');
            });
    }

    function ScheduleColorRender(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td><a class="text-decoration-underline fw-bold buttonEditClass" href="#">' + Outlang[item.NameLangKey] + '</a></td>'
                        + '<td>'
                        + '<div style="background-color:' + item.ColorCode + ';color:' + item.ColorText + ';text-align:center;padding:4px 0">'
                        + item.ColorCode
                        + '</td>'
                        + '<td>' + item.Note + '</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function ScheduleColorEdit(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/ScheduleColorCodeDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script>

<script>js_require('/js/main.js');</script>
