@page
@model MLunarCoffee.Pages.Setting.SettingTemplateImgDetailModel
@{
    Layout = null;
}

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Mẫu khung hình ảnh"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết bố cục khung hình ảnh"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formSettingTemplateImg">
                        <div class="field col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Tên"]</label>
                            <input id="txtTemplate_Detail" name="name" type="text" class="form-control" />
                        </div>
                        <div class="field col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Số dòng"]</label>
                            <input id="txtTemplate_Row" type="number" name="name" class="form-control" />
                        </div>
                        <div class="field col-12 col-sm-6 col-xl-3 p-1">
                            <label>@Local["Số cột"]</label>
                            <input id="txtTemplate_Column" type="number" name="name" class="form-control" />
                        </div>
                        <div class="field col-12 col-sm-6 col-xl-3 p-1 mt-4">
                            <div class="action_Save-Content">
                                <button form="formSettingTemplateImg" type="button" class="btn bg-gradient-dark mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();return Template_Preview()">@Local["Xem trước"]</button>
                            </div>

                        </div>
                        <div class="field">
                            <div id="TemplateDetail_Area" class="m-0 my-3 mobile-responsive text-center"></div>
                            <div>
                                <table id="TemplateDetail_Content" class="table vt-table mb-0" style="border:none">
                                    <tbody id="TemplateDetail_ContentBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formSettingTemplateImg" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="formSettingTemplateImg" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();return Template_Execute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let ser_ImgDetailID;
    let dataTemplate = {};
    let dataTemplate_Content = {};
    $(document).ready(function () {
        ser_ImgDetailID = @Model._ImgDetailID;
        if (Number(ser_ImgDetailID) != 0) Template_LoadDataDetail();
    });
    function Template_CreateDetail() {
        dataTemplate = {};
        dataTemplate_Content = {};
        let row = $("#txtTemplate_Row").val();
        let col = $("#txtTemplate_Column").val();
        dataTemplate.rows = Number(row);
        dataTemplate.columns = Number(col);
        dataTemplate.position = 'top';
        dataTemplate.height = '80px';
        dataTemplate.width = '80px';
        let data = [];
        let index = 0;
        for (let i = 0; i < dataTemplate.rows; i++) {
            for (let j = 0; j < dataTemplate.columns; j++) {
                let e = {};
                e.header = '';
                let dataContent = {};
                let content = {};
                content.x = Number(i);
                content.y = Number(j);
                content.value = 1;
                content.img = '';
                content.placehoder = '';
                e.content = content;
                data.push(e);
                dataContent.header = '';
                dataContent.content = content;
                dataTemplate_Content[index] = dataContent;
                index++;
            }
        }
        dataTemplate.data = data
    }
    function Template_Preview() {
        Template_CreateDetail();
        Template_Detail_Render(dataTemplate, dataTemplate_Content);
    }
    function Template_Detail_Render(template, tem_content) {
        let div = '';
        if (template != undefined) {
            let data = template.data;
            let row = template.rows;
            let column = template.columns;
            let index = 0;
            for (let i = 0; i < row; i++) {
                div = div + '<div class="d-flex justify-content-center mb-1">';
                let div_data = '';

                for (let j = 0; j < column; j++) {
                    let namecell = '<div>' + (index + 1) + '</div>';
                    let idcell = 'detail_cell_' + i + '_' + j;
                    if (data[index].content.value == 0) {
                        div_data = div_data + '<div data-x=' + i + ' data-y="' +j+'" id="' + idcell + '"  class="detail_cell detail_cell_hide border text-dark border-radius-md TempImgbtnRow me-1 cursor-pointer">'
                            + namecell + '</div>';
                    }
                    else {
                        div_data = div_data + '<div data-x=' + i + ' data-y="'+j+'"id="' + idcell + '"  class="detail_cell TempImgbtnRow text-dark border border-radius-md bg-gradient-info me-1 cursor-pointer">'
                            + namecell + '</div>';
                    }
                    index++;
                }
                div = div + div_data + '</div>';
            }
        }
        $('#TemplateDetail_Area').html(div);

        $('#TemplateDetail_ContentBody').html('');
        let tr = '', headerinput = '', placeinput = '';
        for (const [key, value] of Object.entries(tem_content)) {
            if (value["content"].value == 1) {
                headerinput = '<input value="' + value.header + '" data-key=' + key + ' class=" form-control headerinput" placeholder="header" id="headerinput_' + key + '" value="" type="text"  />';
                placeinput = '<input value="' + value.content.placehoder + '" data-key=' + key + ' class="placeinput form-control" placeholder="placeholder" id="placeinput_' + key + '" value="" type="text" />';
                tr = tr + '<tr data-key=' + key + ' id="templatedetail_content_' + key + '" class="templatedetail_content vt-number" role="row">'
                    + '<td  class="index" data-id="' + key + '">' + (Number(key) + 1) + '</td>'
                    + '<td>' + headerinput + '</td>'
                    + '<td>' + placeinput + '</td>'
                    + '</tr>';
            }
            else {
                headerinput = '<input value="' + value.header + '" data-key=' + key + ' class=" form-control headerinput" placeholder="header" id="headerinput_' + key + '" value="" type="text" disabled />';
                placeinput = '<input value="' + value.content.placehoder + '" data-key=' + key + ' class="placeinput form-control" placeholder="placeholder" id="placeinput_' + key + '" value="" type="text" disabled />';
                tr = tr + '<tr data-key=' + key + ' id="templatedetail_content_' + key + '" class="templatedetail_content vt-number disabled" role="row">'
                    + '<td  class="index">' + (Number(key) + 1) + '</td>'
                    + '<td>' + headerinput + '</td>'
                    + '<td>' + placeinput + '</td>'
                    + '</tr>';
            }


        }
        $('#TemplateDetail_ContentBody').html(tr);
        Template_Detail_Event();
    }
    function Template_Detail_Event() {
        $(".detail_cell").click(function (e) {
            let _x = Number($(this).attr('data-x'));
            let _y = Number($(this).attr('data-y'));
            let   _key = _x * Number(dataTemplate.columns) + _y
            if ($(this).hasClass('detail_cell_hide')) {
                $(this).removeClass('detail_cell_hide');
                $(this).addClass('bg-gradient-info');
                dataTemplate.data[_key].content.value = 1;
                $('#templatedetail_content_' + _key).removeClass('disabled');
                document.getElementById('headerinput_' + _key).disabled = false;
                document.getElementById('placeinput_' + _key).disabled = false;
            }
            else {
                $(this).addClass('detail_cell_hide');
                dataTemplate.data[_key].content.value = 0;
                document.getElementById('templatedetail_content_' + _key).classList.add('disabled');
                document.getElementById('headerinput_' + _key).disabled = true;
                $("#headerinput_" + _key).val('');
                dataTemplate_Content[_key].header = $(this).val();
                document.getElementById('placeinput_' + _key).disabled = true;
                $("#placeinput_" + _key).val('');
                dataTemplate_Content[_key].content.placehoder  = $(this).val();
            }
        });
        $(".detail_cell").mouseleave(function (e) {
            $('.templatedetail_content').removeClass('hover');
        });
        $(".detail_cell").mouseenter(function (e) {
            let _x = Number($(this).attr('data-x'));
            let _y = Number($(this).attr('data-y'));
            let _key = _x * Number(dataTemplate.columns) + _y;
            $('.templatedetail_content').removeClass('hover');
            $('#templatedetail_content_' + _key).addClass('hover');
        });
        $(".templatedetail_content").mouseleave(function (e) {
            $('.detail_cell').removeClass('hoverbtn');
        });
        $(".templatedetail_content").mouseenter(function (e) {
            let _key = Number($(this).attr('data-key'));
            let _x = Math.floor(_key / Number(dataTemplate.rows));
            let _y = _key - (_x * Number(dataTemplate.columns));
            $('.detail_cell').removeClass('hovertn');
            $('#detail_cell_' + _x + '_' + _y).addClass('hoverbtn');
        });
        $(".headerinput").change(function (e) {
            let _key = Number($(this).attr('data-key'));
            dataTemplate_Content[_key].header = $(this).val();
        });
        $(".placeinput").change(function (e) {
            let _key = Number($(this).attr('data-key'));
            dataTemplate_Content[_key].content.placehoder = $(this).val();
        });
    }
    function Template_LoadDataDetail() {
        AjaxLoad(url = "/Setting/SettingTemplateImgDetail/?handler=Loadata"
            , data = { id: ser_ImgDetailID}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length == 1) {
                        let item = data[0];
                        $("#txtTemplate_Detail").val(item.Name);
                        dataTemplate = JSON.parse(item.DataTemplate);
                        $("#txtTemplate_Row").val(dataTemplate.rows);
                        $("#txtTemplate_Column").val(dataTemplate.columns);
                        dataTemplate_Content = dataTemplate.data;
                        Template_Detail_Render(dataTemplate, dataTemplate_Content);
                        for (const [key, value] of Object.entries(dataTemplate_Content)) {
                            if (Number(dataTemplate_Content[key].content.value) == 0) {
                                $('#templatedetail_content_' + key).addClass('disabled');
                            }
                        }
                    }
                }
            });
    }
    function Template_Execute() {
        let name = $("#txtTemplate_Detail").val() ? $("#txtTemplate_Detail").val() : "";
        $('#textShowMessage').html('');
        if (dataTemplate.rows == 0 || dataTemplate.columns == 0 || name == '') {
            $('#textShowMessage').html('@Local["Kiểm tra dữ liệu"]');
        }
        dataTemplate.name = name;
        if ($('#textShowMessage').html() == '') {
            for (const [key, value] of Object.entries(dataTemplate_Content)) {
                let header = value.header;
                let placehoder = value.content.placehoder;
                dataTemplate.data[key].header = header;
                dataTemplate.data[key].content.placehoder = placehoder;
            }
            let JsonData = JSON.stringify(dataTemplate)
            AjaxLoad(url = "/Setting/SettingTemplateImgDetail/?handler=ExcuteData"
                , data = {
                    Name: name
                    , DataTemplate: JsonData
                    , CurrentID: ser_ImgDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        TemplateImgLoad();
                        CloseModal();
                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>
    .templatedetail_content td {
        border: none !important;
    }

    .TempImgbtnRow {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .templatedetail_content.disabled {
        background: #eeeeee;
        opacity: 0.3;
    }

    .hover {
        background: #17c1e8;
    }

    .hoverbtn {
        background: #cb0c9f;
    }

    .detail_cell_hide {
        background: #e9ecef;
    }
</style>