@page
@model MLunarCoffee.Pages.Setting.SettingAppointmentDotorModel
@{
    Layout = null;
}


<script>js_require('/js/comon/initialize_setting.js');</script>
<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />

<div class="container-fluid py-0 px-0">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-3 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Cài đặt lịch hẹn bác sĩ"]</h6>
                        <p class="text-sm mb-0">@Local["Áp dụng trong lịch hẹn bác sĩ"]</p>
                    </div>
                    <div class="right">
                        <button class="btn bg-gradient-primary btn-sm setting_projectclosure" onclick="AppointmentSetting_OpenDetail();">@Local["Chỉnh sửa"]</button>

                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div class="row px-2 form3">
                        <div class="field col-12 col-sm-6 p-1">
                            <label>@Local["Chiều cao 1 khối"] (px)</label>
                            <input id="Appointment_Setting_Block_Height_View" class="form-control" disabled />
                        </div>
                        <div class="field col-12 col-sm-6 p-1">
                            <label>@Local["Khoảng cách thời gian"] (@Local["Phút"])</label>
                            <input id="Appointment_Setting_Block_Time_Range_View" class="form-control" disabled />
                        </div>
                        <div class="field col-12 col-sm-6 p-1">
                            <label>@Local["Màu ghi chú"]</label>
                            <input id="Appointment_Setting_Block_Color_Cell_View" class="form-control" disabled />
                        </div>
                        <div class="field col-12 col-sm-6 p-1">
                            <label>@Local["Màu chữ lịch hẹn"]</label>
                            <input id="Appointment_Setting_Block_Text_Color_Cell_View" class="form-control" disabled />
                        </div>
                        <div class="field col-12 col-sm-6 p-1">
                            <label>@Local["Màu có lịch làm việc"]</label>
                            <input id="Appointment_Setting_Work_Color_Cell_View" class="form-control" disabled />
                        </div>
                        <div class="field col-12 col-sm-6 p-1">
                            <label>@Local["Màu không có lịch làm việc"]</label>
                            <input id="Appointment_Setting_Non_Work_Color_Cell_View" class="form-control" disabled />
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Hiển thị lịch hủy"]</label>
                            <div class="ui fluid search selection dropdown form-control disabled" id="Appointment_Setting_Is_Show_Cancel_View">
                                <input type="hidden" name="Name" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="" class="menu" tabindex="-1">
                                    <div class="item" data-value="1">YES</div>
                                    <div class="item" data-value="0">NO</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2 d-none" id="div_Detail_Setting">
                        <div class="row px-2 form3">
                            <div class="field col-12 col-sm-6 p-1">
                                <label>@Local["Chiều cao 1 khối"] (px)</label>
                                <div class="ui fluid search selection dropdown form-control" id="Appointment_Setting_Block_Height">
                                    <input type="hidden" name="Name" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text"></div>
                                    <div id="" class="menu" tabindex="-1">
                                        <div class="item" data-value="15">15</div>
                                        <div class="item" data-value="20">20</div>
                                        <div class="item" data-value="25">25</div>
                                        <div class="item" data-value="30">30</div>
                                        <div class="item" data-value="35">35</div>
                                        <div class="item" data-value="40">40</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-sm-6 p-1">
                                <label>@Local["Khoảng cách thời gian"] (@Local["Phút"])</label>
                                <div class="ui fluid search selection dropdown form-control" id="Appointment_Setting_Block_Time_Range">
                                    <input type="hidden" name="Name" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text"></div>
                                    <div id="" class="menu" tabindex="-1">
                                        <div class="item" data-value="15">15</div>
                                        <div class="item" data-value="30">30</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-sm-6 p-1">
                                <label>@Local["Màu ghi chú"]</label>
                                <input id="Appointment_Setting_Block_Color_Cell" name="fillCode" class="form-control" type="text" />
                            </div>
                            <div class="field col-12 col-sm-6 p-1">
                                <label>@Local["Màu chữ lịch hẹn"]</label>
                                <input id="Appointment_Setting_Block_Text_Color_Cell" name="fillCode" class="form-control" type="text" />
                            </div>
                            <div class="field col-12 col-sm-6 p-1">
                                <label>@Local["Màu có lịch làm việc"]</label>
                                <input id="Appointment_Setting_Work_Color_Cell" class="form-control" name="fillCode" type="text" />
                            </div>
                            <div class="field col-12 col-sm-6 p-1">
                                <label>@Local["Màu không có lịch làm việc"]</label>
                                <input id="Appointment_Setting_Non_Work_Color_Cell" class="form-control" name="fillCode" type="text" />
                            </div>
                            <div class="field col-12 p-1">
                                <label>@Local["Hiển thị lịch hủy"]</label>
                                <div class="ui fluid search selection dropdown form-control" id="Appointment_Setting_Is_Show_Cancel">
                                    <input type="hidden" name="Name" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text"></div>
                                    <div id="" class="menu" tabindex="-1">
                                        <div class="item" data-value="1">YES</div>
                                        <div class="item" data-value="0">NO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fixed-botombutton mt-3">
                            <div class="action_Save">
                                <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                                <div class="action_Save-Content">
                                    <button class="btn btn-secondary" form="formBranch" onclick="AppointmentSetting_CloseDetail();">@Local["Đóng"]</button>
                                    <button form="formBranch" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="AppointmentSetting_ExcuteData();">@Local["Lưu"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var data_Setting_Doctor;
    //var data_Current_Setting_Doctor = 66;
    var data_Current_Setting_Doctor_TypeOption = 'sys_Setting_Appointment_Doctor'
    var block_height = 25;
    var block_time_range = 15;
    var callvtt_isshowcancel = 1;
    var setting_bk_cell = "#50b4ff";
    var setting_text_cell = "black";
    var setting_work_bk_cell = "White";
    var setting_non_work_bk_cell = "#f6f7fe";
    var setting_obj_default_setting = {
        timerange: block_time_range,
        height: block_height,
        color_app: setting_bk_cell,
        color_text_app: setting_text_cell,
        color_box_work: setting_work_bk_cell,
        color_box_non_work: setting_non_work_bk_cell,
        show_app_cancel: callvtt_isshowcancel
    };
    $(document).ready(function () {

        AjaxLoad(url = "/Setting/SettingAppointmentDotor/?handler=LoadData"
            , data = {}, async = false, error = null
            , success = function (result) {
                data_Setting_Doctor = JSON.parse(result);
            });
        if (data_Setting_Doctor == '' || data_Setting_Doctor === undefined) {
            data_Setting_Doctor = setting_obj_default_setting;
        }
        $("#Appointment_Setting_Block_Color_Cell,#Appointment_Setting_Block_Text_Color_Cell,#Appointment_Setting_Work_Color_Cell, #Appointment_Setting_Non_Work_Color_Cell").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            showInput: true,
            color: '#ffffff',
            palette: [
                ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
            ]
        });
        AppointmentSetting_Initialization();
    });
    function AppointmentSetting_Initialization() {
        if (data_Setting_Doctor && data_Setting_Doctor != undefined) {
            $("#Appointment_Setting_Block_Time_Range_View").val(data_Setting_Doctor.timerange);

            $('#Appointment_Setting_Block_Height_View').val(data_Setting_Doctor.height);
            $("#Appointment_Setting_Block_Color_Cell_View").val(data_Setting_Doctor.color_app);
            $("#Appointment_Setting_Block_Color_Cell_View").css({ "background-color": data_Setting_Doctor.color_app });

            $("#Appointment_Setting_Block_Text_Color_Cell_View").val(data_Setting_Doctor.color_text_app);
            $("#Appointment_Setting_Block_Text_Color_Cell_View").css({ "background-color": data_Setting_Doctor.color_text_app });

            $("#Appointment_Setting_Work_Color_Cell_View").val(data_Setting_Doctor.color_box_work);
            $("#Appointment_Setting_Work_Color_Cell_View").css({ "background-color": data_Setting_Doctor.color_box_work });

            $("#Appointment_Setting_Non_Work_Color_Cell_View").val(data_Setting_Doctor.color_box_non_work);
            $("#Appointment_Setting_Non_Work_Color_Cell_View").css({ "background-color": data_Setting_Doctor.color_box_non_work });

            $('#Appointment_Setting_Is_Show_Cancel_View').dropdown("set selected", (data_Setting_Doctor.show_app_cancel).toString());
        }
    }
    function AppointmentSetting_Set_Value(setting) {
        if (setting) {
            $("#Appointment_Setting_Block_Time_Range").dropdown("set selected", (setting.timerange).toString());
            $('#Appointment_Setting_Block_Height').dropdown("set selected", (setting.height).toString());
            $("#Appointment_Setting_Block_Color_Cell").spectrum("set", setting.color_app);
            $("#Appointment_Setting_Block_Text_Color_Cell").spectrum("set", setting.color_text_app);
            $("#Appointment_Setting_Work_Color_Cell").spectrum("set", setting.color_box_work);
            $("#Appointment_Setting_Non_Work_Color_Cell").spectrum("set", setting.color_box_non_work);
            $('#Appointment_Setting_Is_Show_Cancel').dropdown("set selected", (setting.show_app_cancel).toString());
        }
    }
    function AppointmentSetting_OpenDetail() {
        $("#div_Setting_Main").hide();
        document.getElementById('div_Detail_Setting').classList.remove('d-none');
        document.getElementById('bntedit').classList.add('d-none');
        //$("#div_Detail_Setting").show();
        if (data_Setting_Doctor && data_Setting_Doctor != undefined) {
            AppointmentSetting_Set_Value(data_Setting_Doctor);
        }
    }
    function AppointmentSetting_CloseDetail() {
        $("#div_Setting_Main").show();
        document.getElementById('div_Detail_Setting').classList.add('d-none');
        document.getElementById('bntedit').classList.remove('d-none');
    }
    //#region // ExcuteData
    function AppointmentSetting_ExcuteData() {
        let time_range = Number($('#Appointment_Setting_Block_Time_Range').dropdown('get value')) ? Number($('#Appointment_Setting_Block_Time_Range').dropdown('get value')) : 15;
        let height = Number($('#Appointment_Setting_Block_Height').dropdown('get value')) ? Number($('#Appointment_Setting_Block_Height').dropdown('get value')) : 15;
        let box_color_cell = $("#Appointment_Setting_Block_Color_Cell").spectrum('get').toHexString();
        let box_text_color_cell = $("#Appointment_Setting_Block_Text_Color_Cell").spectrum('get').toHexString();
        let box_work_color_cell = $("#Appointment_Setting_Work_Color_Cell").spectrum('get').toHexString();
        let box_non_work_color_cell = $("#Appointment_Setting_Non_Work_Color_Cell").spectrum('get').toHexString();
        let is_app_cancel = Number($('#Appointment_Setting_Is_Show_Cancel').dropdown('get value')) ? Number($('#Appointment_Setting_Is_Show_Cancel').dropdown('get value')) : 0;

        let obj_setting = {
            timerange: time_range,
            height: height,
            color_app: box_color_cell,
            color_text_app: box_text_color_cell,
            color_box_work: box_work_color_cell,
            color_box_non_work: box_non_work_color_cell,
            show_app_cancel: is_app_cancel
        }
        AjaxLoad(url = "/Setting/SettingAppointmentDotor/?handler=ExcuteData"
            , data = { data: JSON.stringify(obj_setting), CurrentTypeOption: data_Current_Setting_Doctor_TypeOption }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    AppointmentSetting_CloseDetail();
                    data_Setting_Doctor = obj_setting;
                    AppointmentSetting_Initialization();
                }
            });

        return false;
    }
    //#endregion
</script>
<script>js_require('/js/main.js');</script>

<style>
    .sp-replacer {
        display: block !IMPORTANT;
        width: 100% !IMPORTANT;
        padding: 0.5rem 0.75rem !IMPORTANT;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #495057 !important;
        background-color: #fff !IMPORTANT;
        background-clip: padding-box !important;
        border: 1px solid #d2d6da !IMPORTANT;
        height: auto !important;
        border-radius: 0.5rem;
        transition: box-shadow 0.15s ease, border-color 0.15s ease;
    }
</style>