@page
@model MLunarCoffee.Pages.Setting.SmsOptionAutoAfterDetailModel
@{
    Layout = null;
}


<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formSmSOption">
                        <div class="field col-12 p-1">
                            <h6 id="SmSOptionTitle" class="mb-0 mt-2 fw-bold text-primary fs-5"></h6>
                        </div>
                        <div class="field col-12 p-1 mt-2">
                            <div class="form-check">
                                <input id="AutoSendCompAfter" type="checkbox" checked="checked" name="example" class="form-check-input pr-2">
                                <label id="TitleAutoSendCompAfter" class="custom-control-label"></label>
                            </div>
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Nhập mật khẩu tài khoản hiện tại"]</label>
                            <div class="input-group">
                                <span class="input-group-text" id="TogglePassword">
                                    <i class="fas fa-eye-slash cursor-pointer" aria-hidden="true"></i>
                                </span>
                                <input id="passwordConfirm" class="ctrlogin ps-2 sercu form-control" type="text" autocomplete="off" placeholder="eg .@Local["Mật khẩu"]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton mt-3">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowSMS"></div>
                    <div class="action_Save-Content">
                        <button class="btn bg-gradient-secondary" form="formSmSOption" onclick="event.preventDefault();return CloseModal()">@Local["Đóng"]</button>
                        <button form="formSmSOption" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault(); SmsAutoPay_ConfirmExecute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    //#region // INIT LOAD

    let ser_OptionCurrentID = ("@Model._OptionCurrentID");
    let ser_OptionType = ("@Model._OptionType");

    $(document).ready(function () {
        SmsAutoPay_Load();
        SmsAutoPay_Event();
    })

    function SmsAutoPay_Load() {
        if (ser_OptionCurrentID != '0') {
            AjaxLoad(url = "/Setting/SmsOptionAutoAfterDetail/?handler=Loadata"
                , data = {
                    id: ser_OptionCurrentID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        SmsAutoPay_LoadDetail(data)
                    }
                    else notiError_SW();
                }
            );
        }
        else CloseModal();
    }

    function SmsAutoPay_LoadDetail(data) {
        if (data && data.length != 0) {
            let item = data[0];
            $("#SmSOptionTitle").html(item.Name);
            switch (ser_OptionType) {
                case "AfterPayment":
                    $("#TitleAutoSendCompAfter").html("@Local["Gửi tự động khi hoàn thành thanh toán"]");
                    if (item.AllowSendPay == 1) {
                        $("#AutoSendCompAfter")
                            .prop('checked', item.IsSendCompletePay == 1)
                            .trigger('change');
                    }
                    break;
                case "AfterSchedule":
                    $("#TitleAutoSendCompAfter").html("@Local["Gửi tự động khi tạo lịch hẹn"]");
                    if (item.AllowSendApp == 1) {
                        $("#AutoSendCompAfter")
                            .prop('checked', item.IsSendApp == 1)
                            .trigger('change');
                    }
                    break;
                default:
                    CloseModal();
            }
        }
        else notiError_SW();
    }

    //#endregion

    //#region // EXECUTE DATA

    function SmsAutoPay_ConfirmExecute() {
        $("#textShowSMS").html("");
        let password = $("#passwordConfirm").val() ? ($("#passwordConfirm").val()).trim() : "";
        if (password != '') {
            AjaxLoad(url = "/Setting/SmsOptionAutoAfterDetail/?handler=EncryptPassword"
                , data = {
                    password: password
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != '') {
                        let obj = author_get('author');
                        if (obj != '') {
                            let _obj = JSON.parse(obj);
                            let passwordcrypt = _obj.password;
                            if (result === passwordcrypt) {
                                const promise = notiConfirm("@Local["Bạn chắc chắn muốn thay đổi cấu hình sms tự động?"]");
                                promise.then(function () {
                                    SmsAutoPay_Execute();
                                }, function () { });
                            }
                            else $("#textShowSMS").html("@Local["Mật khẩu không đúng"]. @Local["Kiểm tra lại mật khẩu"]");
                        }
                        else $("#textShowSMS").html("@Local["Mật khẩu không đúng"]. @Local["Kiểm tra lại mật khẩu"]");
                    }
                    else notiError_SW();
                });
        }
        else $("#textShowSMS").html("@Local["Kiểm tra lại mật khẩu"]");
    }

    function SmsAutoPay_Execute() {
        if (ser_OptionCurrentID != '') {
            let isAuto = $("#AutoSendCompAfter").is(":checked") ? 1 : 0;
            AjaxLoad(url = "/Setting/SmsOptionAutoAfterDetail/?handler=ExcuteData"
                , data = {
                    IsAuto: isAuto,
                    Type: ser_OptionType,
                    CurrentID: ser_OptionCurrentID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        CloseModal();
                        if (typeof SmsOption_Load === 'function') SmsOption_Load();
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
        return false;
    }

    function SmsAutoPay_CheckPassword() {
        let password = $("#passwordConfirm").val() ? ($("#passwordConfirm").val()).trim() : "";
        AjaxLoad(url = "/Setting/SmsOptionAutoAfterDetail/?handler=EncryptPassword"
            , data = { password: password }
            , async = false
            , error = null
            , success = function (result) {
                if (result != '') {
                    let obj = author_get('author');
                    if (obj != '') {
                        let _obj = JSON.parse(obj);
                        let passwordcrypt = _obj.password;
                        if (result === passwordcrypt) return 1;
                        else return 0;
                    }
                    else return 0;
                }
                else return 0;
            });
    }

    //#endregion

    //#region // EVENT CHANGE

    function SmsAutoPay_Event() {
        $("#TogglePassword").unbind().on("click", function () {
            let obj = $(this).next();
            if (obj != undefined) {
                if (obj.hasClass('sercu')) {
                    obj.removeClass('sercu');
                    $(this).children().addClass('fa-eye');
                    $(this).children().removeClass('fa-eye-slash');

                }
                else {
                    obj.addClass('sercu')
                    $(this).children().removeClass('fa-eye');
                    $(this).children().addClass('fa-eye-slash');
                }
            }
        })
    }

    //#endregion

</script>
<style>
    #formSmSOption .error {
        background: #ffe2e2;
    }
</style>