@page
@model MLunarCoffee.Pages.Setting.SmsOptionDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-3 px-0">
    <div class="row">
        <div class="col-12">
            <div class="py-3 px-2">
                <div class="pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="text-primary fw-bold mb-0">@Local["Kịch bản sms"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết cấu hình nội dung sms"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1">                            
                            <div class="row px-1">
                                <div class="col-auto ms-auto">
                                    <ul class="nav nav-pills p-1 bg-transparent detailcus" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer active Smsop_tab" data-type="0" data-bs-toggle="pill" data-bs-target="#SmSOp_TabVI" role="tab" aria-selected="true">
                                                VI
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer Smsop_tab" data-type="1" data-bs-toggle="pill" data-bs-target="#SmSOp_TabEN" role="tab" aria-selected="false">
                                                EN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="row px-1 form3" id="formSmSOption">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-8 pe-0">                            
                            <div class="field col-12 ms-n2 ps-0 p-1 "> 
                                <div class="d-flex justify-content-between align-items-end">
                                    <div class="w-auto">
                                        <label>@Local["Tên kịch bản"]</label>
                                    </div>
                                    <div class="w-auto">
                                        <div class="form-check d-flex align-items-center gap-2" id="SmSOp_ZaloZNS">
                                            <input id="SmSOp_IsZNS" class="form-check-input mt-n1" type="checkbox">
                                            <label id="SmSOp_lbIsZNS" class="form-check-label pt-1 text-sm fw-bold fs-5" for="SmSOp_IsZNS">
                                                ZALO ZNS
                                            </label>
                                        </div>
                                    </div>
                                </div> 
                                <input name="name" id="SmSOp_Name" class="form-control" />
                            </div>
                            <div class="row m-0">
                                <div class="col-12 col-lg-7 col-md-6 px-1">
                                    <div class="nav-wrapper position-relative end-0">
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade active show" id="SmSOp_TabVI" role="tabpanel">
                                                <div class="row pe-3">
                                                    <div class="field col-12 col-sm-6 col-md-12 p-0">
                                                        <label>@Local["Soạn tiếng việt"]</label>
                                                        <textarea id="SmSOp_textSmsVi" name="content" rows="4" class="form-control"></textarea>
                                                    </div>
                                                    <div class="field col-12 p-1 bg-gray-100 border-radius-lg d-block mt-3">
                                                        <div class="mt-2">
                                                            <div class="d-flex text-dark text-sm">
                                                                <label class="ps-1 text-primary mb-0">@Local["Tiếng việt"]</label>
                                                            </div>
                                                            <p class="ps-2 text-dark text-sm mt-2 white-space-pre-line content_line_clamp " id="Smsop_resultvi"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="SmSOp_TabEN" role="tabpanel">
                                                <div class="row pe-3">
                                                    <div class="field col-12 col-sm-6 col-md-12 p-0">
                                                        <label>@Local["Soạn tiếng anh"]</label>
                                                        <textarea id="SmSOp_textSmsEng" name="content" rows="4" class="form-control"></textarea>
                                                    </div>
                                                    <div class="field col-12 p-1 bg-gray-100 border-radius-lg d-block mt-3">
                                                        <div class="mt-2">
                                                            <div class="d-flex text-dark text-sm">
                                                                <label class="ps-1 text-primary mb-0">@Local["Tiếng anh"]</label>
                                                                <label class="ps-1 text-secondary mb-0" id="Smsop_counten"></label>
                                                            </div>
                                                            <p class="ps-2 text-dark text-sm mt-2 white-space-pre-line" id="Smsop_resulten"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                                                        
                                </div>
                                <div class="col-12 col-lg-5 col-md-6 px-1 d-flex pe-2">
                                    <div class="w-auto ms-auto mt-2">
                                        <div class="position-relative" style="width:300px;">
                                            <div class="row m-0 bg-white w-100 min-height-500" style="border-radius: 30px; border: 5px solid black;">
                                                <div class="w-50 ms-auto me-auto p-2 h-100" style="background:black; border-radius: 0px 0px 30px 30px;">
                                                </div>
                                                <div class="col-12 position-absolute d-flex ps-2 pe-3" style="top: 64%;" id="Smsop_SmsDiv">
                                                    <div class="d-flex align-items-center bg-dark rounded-2 p-2 w-100">
                                                        <div class="w-auto">
                                                            <img src="/default.png" class="avatar avatar-sm" id="Smsop_SmsComLogo" onerror="Master_OnLoad_Success_Image(this)" alt="" />
                                                        </div>
                                                        <div class="w-auto">
                                                            <p class="ps-2 text-white fw-bold mb-1 text-sm white-space-pre-line" id="Smsop_SmsBranchName">VTTECH</p>
                                                            <p class="ps-2 text-white text-xs mb-0 white-space-pre-line ellipsis_three_line Smsop_resultviSimu" id="Smsop_resultviSimu"></p>
                                                            <p class="ps-2 text-white text-xs mb-0 white-space-pre-line ellipsis_three_line d-none Smsop_resultenSimu"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 position-absolute top-6 z-index-3 d-flex ps-2 pe-3 d-none" id="Smsop_ZnsDiv">
                                                    <div class="max-height-400 w-100 min-height-400 bg-gray-100 p-3 rounded-3">
                                                        <div class="h-100 bg-white rounded-3 p-3 px-2 position-relative">
                                                            <img src="/default.png" id="Smsop_SmsComLgLogo" style="max-width: 100px;" onerror="Master_OnLoad_Success_Image(this)" alt="" />
                                                            <div class="max-height-250 overflow-scroll mt-2">
                                                                <p class="text-dark text-xs mb-0 white-space-pre-line Smsop_resultviSimu"></p>
                                                                <p class="text-dark text-xs mb-0 white-space-pre-line Smsop_resultenSimu"></p>

                                                            </div>
                                                            <div class="text-center position-absolute bottom-3 w-95 start-2" style="background:#0068FF;">
                                                                <span class="text-white">
                                                                    -
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="px-1 start-0 position-absolute bottom-1">
                                                    <div class="w-100" style="background-color: rgb(230, 230, 230); border-radius: 3px 3px 26px 26px;">
                                                        <div class="d-flex justify-content-around">
                                                            <div class="py-2 px-3">
                                                                <i class="fas fa-user-circle text-lg" style="color: rgb(87, 86, 86);"></i>
                                                            </div>
                                                            <div class="py-2 px-3">
                                                                <i class="fas fa-comment text-lg" style="color: rgb(87, 86, 86);"></i>
                                                            </div>
                                                            <div class="py-2 px-3">
                                                                <i class="fas fa-th-large text-lg" style="color: rgb(87, 86, 86);"></i>
                                                            </div>
                                                            <div class="py-2 px-3">
                                                                <i class="fas fa-compass text-lg" style="color: rgb(87, 86, 86);"></i>
                                                            </div>
                                                            <div class="py-2 px-3">
                                                                <i class="fas fa-heart text-lg" style="color: rgb(87, 86, 86);"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row pe-3">                                 
                                <div class="col-12 p-1 mt-3">
                                    <div class="d-lg-flex">
                                        <div class="w-50 col-auto my-auto">
                                            <a class="text-sm text-dark" data-bs-toggle="collapse" href="#Smsop_Area" role="button" aria-expanded="false">
                                                <i class="fas fa-angle-down pe-2"></i>
                                                <span class="text-dark">@Local["Từ khóa vi phạm"]</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="collapsesticky z-index-sticky w-100 mt-2 collapse" id="Smsop_Area">
                                        <div class="ps-3 text-sm" id="Smsop_Detail_Rules">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="row d-block p-3 card-plain">
                                <div class="d-lg-flex">
                                    <div class="w-100 col-auto my-auto">
                                        <div class="h-100">
                                            <div class="d-flex">
                                                <h6 class="mb-0">@Local["Từ khóa"]</h6>
                                                <span id="smscopied" class="ms-2 copied border-radius-md px-1 text-white bg-gradient-primary text-xs">@Local["Đã sao chép"]</span>
                                            </div>
                                            <p class="text-sm mb-0">@Local["Nhấp chuột để sao chép"]</p>
                                        </div>
                                    </div>

                                </div>
                                <hr class="horizontal dark mt-2">
                                <ul class="list-group overflow-y" style="max-height: calc(80vh - 200px);">
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#CustCode#</span>
                                        <span class="text-dark">@Local["Mã khách hàng"]</span>
                                    </li>

                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#CustName#</span>
                                        <span class="text-dark">@Local["Tên khách hàng"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#CustPhone#</span>
                                        <span class="text-dark">@Local["Điện thoại"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#ServiceCare#</span>
                                        <span class="text-dark">@Local["Dịch vụ quan tâm"]</span>

                                    </li>

                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AppDay#</span>
                                        <span class="text-dark">@Local["Ngày hẹn (áp dụng tin nhắn lịch hẹn)"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AppHour#</span>
                                        <span class="text-dark">@Local["Giờ hẹn (áp dụng tin nhắn lịch hẹn)"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AppNote#</span>
                                        <span class="text-dark">@Local["Ghi chú (áp dụng tin nhắn lịch hẹn)"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AppType#</span>
                                        <span class="text-dark">@Local["Loại lịch"] (@Local["Áp dụng tin nhắn lịch hẹn"])</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AppBranchName#</span>
                                        <span class="text-dark">@Local["Chi nhánh của lịch hẹn"] (@Local["Áp dụng tin nhắn lịch hẹn"])</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AppBranchAddress#</span>
                                        <span class="text-dark">@Local["Địa chỉ chi nhánh của lịch hẹn"] (@Local["Áp dụng tin nhắn lịch hẹn"])</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#CompanyName#</span>
                                        <span class="text-dark">@Local["Tên công ty"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#BranchAddress#</span>
                                        <span class="text-dark">@Local["Địa chỉ chi nhánh chọn thao tác"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#BranchHotline#</span>
                                        <span class="text-dark">@Local["Hotline chi nhánh chọn thao tác"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AmountStudent#</span>
                                        <span class="text-dark">@Local["Tiền đóng của học viên"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#DatePaid#</span>
                                        <span class="text-dark">@Local["Ngày thanh toán"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#Amount#</span>
                                        <span class="text-dark">@Local["Thanh toán"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AbsAmount#</span>
                                        <span class="text-dark">@Local["Thanh toán"] (@Local["Không âm"])</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#AppNextDate#</span>
                                        <span class="text-dark">@Local["Lịch hẹn kế tiếp"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#ServiceName#</span>
                                        <span class="text-dark">@Local["Tên dịch vụ"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#StudentCode#</span>
                                        <span class="text-dark">@Local["Mã học viên"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#StudentName#</span>
                                        <span class="text-dark">@Local["Tên học viên"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#PaymentCode#</span>
                                        <span class="text-dark">@Local["Mã thanh toán"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#LeftTab#</span>
                                        <span class="text-dark">@Local["Công nợ theo điều trị"]</span>

                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#LeftTreat#</span>
                                        <span class="text-dark">@Local["Công nợ"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#Date#</span>
                                        <span class="text-dark">@Local["Ngày"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#TreatProcess#</span>
                                        <span class="text-dark" id="SOD_TreatProcess">@Local["Phần trăm điều trị"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#TreatIndexNext#</span>
                                        <span class="text-dark">@Local["Lần điều trị"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="text-primary keyword">#PriceDiscounted#</span>
                                        <span class="text-dark">@Local["Giá tiền"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#CardCode#</span>
                                        <span class="text-dark">@Local["Mã thẻ"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#CardLeft#</span>
                                        <span class="text-dark">@Local["Giá trị sử dụng thẻ"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#Vocative#</span>
                                        <span class="text-dark">@Local["Xưng hô"]</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#Musername#</span>
                                        <span class="text-dark">@Local["Tên đăng nhập"] (Mobile)</span>
                                    </li>
                                    <li class="list-group-item text-dark text-sm border-0 cursor-pointer dataTables_empty">
                                        <span class="keyword text-primary">#Mpassword#</span>
                                        <span class="text-dark">@Local["Mật khẩu"] (Mobile)</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="field col-12 p-1 pe-0">
                            <label>@Local["Ghi chú"]</label>
                            <textarea id="NoteSmsOption" name="content" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton mt-3">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowSMS"></div>
                    <div class="action_Save-Content">
                        <button class="btn bg-gradient-secondary" form="formSmSOption" onclick="event.preventDefault();return SmsOption_CloseDetail()">@Local["Đóng"]</button>
                        <button id="SmSOption_btnDelete" form="formSmSOption" type="button" class="d-none btn bg-gradient-danger mt-2 me-2" onclick="event.preventDefault();SmSOp_DeleteManual()">@Local["Xóa"]</button>
                        <button id="SmSOption_btnDisabled" form="formSmSOption" type="button" class="d-none btn bg-gradient-danger mt-2 me-2 z" onclick="event.preventDefault();SmSOp_ChangeStatus(1)">@Local["Tạm ẩn"]</button>
                        <button id="SmSOption_btnActive" form="formSmSOption" type="button" class="d-none btn bg-gradient-success mt-2 me-2" onclick="event.preventDefault();SmSOp_ChangeStatus(0)">@Local["Hoạt động"]</button>
                        <button id="SmSOption_btnSave" form="formSmSOption" type="button" class="d-none btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();SmSOp_Excute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //#region // LOAD DETAIL
    let ser_OptionCurrentID = ("@Model._OptionCurrentID");
    let ser_Optionsystem = ("@Model._Optionsystem"); 
    $(document).ready(function () {               
        if (ser_Optionsystem == 1) {
            $("#SmSOp_Name").prop('disabled', true);
        } else {
            if (ser_OptionCurrentID != '0') $('#SmSOption_btnDelete').removeClass('d-none');
        }
        if ((sys_dencos_Main ?? 0) == 1) {
            $("#SOD_TreatProcess").html('@Local["Phần trăm điều trị"]')
        }
        else {
            $("#SOD_TreatProcess").html('@Local["Lần điều trị"]')
        }        
        SmSOp_Show_Keyword_TypeSmS();
        SmsOp_DetailEvent();
        SmSOp_LoadInit();
        Checking_TabControl_Permission();
    });    
    function SmSOp_Show_Keyword_TypeSmS() {
        switch (ser_OptionCurrentID) {
            case "1": // nhắc lịch hẹn
                $('#key_cust_code').show();
                $('#key_cust_name').show();
                $('#key_app_day').show();
                $('#key_app_hour').show();
                $('#key_company_name').show();
                $('#key_branch_dddress').show();
                $('#key_branch_hotline').show();

                break;
            case "2": //đến không làm dịch vụ
                $('#key_cust_code').show();
                $('#key_cust_name').show();
                $('#key_company_name').show();
                $('#key_branch_dddress').show();
                $('#key_branch_hotline').show();
                break;
            case "3": // sinh nhật
                $('#key_cust_code').show();
                $('#key_cust_name').show();
                $('#key_company_name').show();
                $('#key_branch_dddress').show();
                $('#key_branch_hotline').show();
                break;
            case "4": // đặt lịch không đến
                $('#key_cust_code').show();
                $('#key_cust_name').show();
                $('#key_app_day').show();
                $('#key_app_hour').show();
                $('#key_company_name').show();
                $('#key_branch_dddress').show();
                $('#key_branch_hotline').show();
                break;
            case "5": // chăm sóc theo sau điều trị
                $('#key_cust_code').show();
                $('#key_cust_name').show();
                $('#key_company_name').show();
                $('#key_branch_dddress').show();
                $('#key_branch_hotline').show();
                break;
            case "6": // sms cơ bản
                $('#key_cust_code').show();
                $('#key_cust_name').show();
                $('#key_app_day').show();
                $('#key_app_hour').show();
                $('#key_company_name').show();
                $('#key_branch_dddress').show();
                $('#key_branch_hotline').show();
                break;
            case "7": // sau thanh toán
                $('#key_cust_code').show();
                $('#key_cust_name').show();
                $('#key_company_name').show();
                $('#key_branch_dddress').show();
                $('#key_branch_hotline').show();
                $('#key_amount').show();
                break;
            default:
                break;
        }
    }

    function SmSOp_LoadInit () {
        AjaxLoad(url = "/Setting/SmsOptionDetail/?handler=LoadInit"
            , data = { branchID: Master_branchID }
            , async = true
            , error = null
            , success = function (result) {
                if (result != '[]') {
                    let data = JSON.parse(result);
                    let dataSmsRule = data.dataSmsRules; 
                    $("#Smsop_SmsBranchName").html(data.infoGen[0].SMSBrandName);
                    $("#Smsop_SmsComLgLogo").attr('src', data.infoGen[0].CompanyLogoLarge);
                    $("#Smsop_SmsComLogo").attr('src', _SoftwareLogo);

                    SmSOp_RenderRule(dataSmsRule, "Smsop_Detail_Rules");
                    SmSOp_LoadDetail();
                }
            }
        );
    }

    function SmSOp_LoadDetail() {
        if (ser_OptionCurrentID != "0") {
            AjaxLoad(url = "/Setting/SmsOptionDetail/?handler=Loadata"
                , data = {id: ser_OptionCurrentID}
                , async = true
                , error = null
                , success = function (result) {
                    if (result != '[]') {
                        let dataType = JSON.parse(result);
                        SmsOp_FillData(dataType);
                    }
                }
            );
        }
        else $('#SmSOption_btnSave').removeClass('d-none');
    }

    //#endregion

    //#region //Render

    async function SmsOp_FillData (dataType) {
        return new Promise((resolve) => {
            setTimeout(() => {
                if (dataType) {
                    $('#TypeSms').val((dataType[0].Name));
                    $('#NoteSmsOption').val((dataType[0].Note));
                    $('#SmSOp_Name').val(dataType[0].Name);
                    let textvi = dataType[0].Value;
                    let texten = dataType[0].ValueEng;
                    $('#SmSOp_textSmsVi').val(textvi);
                    $("#Smsop_resultvi").text(SmSOp_ConvertKeyCode(textvi));
                    $(".Smsop_resultviSimu").text(SmSOp_ConvertKeyCode(textvi));
                    $("#Smsop_countvi").html('(' + textvi.trim().length + ' @Local["Ký tự"])');
                    $('#SmSOp_textSmsEng').val(texten);
                    $("#Smsop_resulten").text(SmSOp_ConvertKeyCode(texten));
                    $(".Smsop_resultenSimu").text(SmSOp_ConvertKeyCode(texten));
                    $("#Smsop_counten").html('(' + texten.trim().length + ' @Local["Ký tự"])');
                    if (Number(dataType[0].ISZNS) == 1) {
                        $("#SmSOp_IsZNS").click();
                        $("#Smsop_ZnsDiv").removeClass('d-none');
                        $('#SmSOption_btnDelete').addClass('d-none'); 
                    }
                    else {
                        $("#Smsop_ZnsDiv").addClass('d-none');
                        $('#SmSOption_btnSave').removeClass('d-none');
                        if (Number(dataType[0].IsManual) == 1) {
                            $('#SmSOption_btnDelete').removeClass('d-none');
                        }
                        else {
                            $('#SmSOption_btnDelete').addClass('d-none');
                        }
                    }
                    if (Number(dataType[0].IsDisabled) == 1) {
                        $('#SmSOption_btnDisabled').addClass('d-none');
                        $('#SmSOption_btnActive').removeClass('d-none');
                    }
                    else {
                        $('#SmSOption_btnDisabled').removeClass('d-none');
                        $('#SmSOption_btnActive').addClass('d-none');
                    }                    
                }
                SmSOp_DetectIP();
            }, 100)
        })
    }

    async function SmSOp_RenderRule (data, id) {
        new Promise((resolve) => {
            let myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = `
                            <span class="text-dark mb-1 ms-1">${item.Text}${i != data.length - 1 ? ',' : ''}</span>
                        `;

                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
            }
            resolve();
        })
    }

    //#endregion

    //#region // EXECUTE DATA

    function SmSOp_ChangeStatus (_status) {
        const promise = notiConfirm();
        promise.then(function () {
            AjaxLoad(url = "/Setting/SmsOptionDetail/?handler=ChangeStatus"
                , data = {
                    CurrentID: ser_OptionCurrentID,
                    status: _status
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        SmsOption_CloseDetail();
                        if (typeof SmsOption_Load === 'function') SmsOption_Load();
                    }
                    else {
                        notiError_SW();
                    }
                });

        }, function () { });
    }


    function SmSOp_Excute() {
        var data = new Object();
        data.System = ser_Optionsystem;
        data.Name = $('#SmSOp_Name').val() ? $('#SmSOp_Name').val() : "";
        data.Value = $('#SmSOp_textSmsVi').val() ? $('#SmSOp_textSmsVi').val() : "";
        data.ValueEng = $('#SmSOp_textSmsEng').val() ? $('#SmSOp_textSmsEng').val() : "";
        data.Note = $('#NoteSmsOption').val() ? $('#NoteSmsOption').val() : "";
        data.IsZNS = $("#SmSOp_IsZNS").is(":checked") ? 1 : 0;
        $('#formSmSOption').form('validate form');
        if ($('#formSmSOption').form('is valid')) {
            AjaxLoad(url = "/Setting/SmsOptionDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_OptionCurrentID
                }
                , async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        SmsOption_CloseDetail();
                        if (typeof SmsOption_Load === 'function') SmsOption_Load();
                    }
                    else {
                        if (result != 0 && result != -1) {
                            notiWarning("@Local["Từ khóa vi phạm"]: " + result);
                        } else {
                            notiError_SW();
                        }
                    }
                });
        }
        return false;
    }
    function SmSOp_DeleteManual () {
        const promise = notiConfirm();
        promise.then(function () {SmSOp_DeleteManualExe(ser_OptionCurrentID);}, function () { });
    }
    function SmSOp_DeleteManualExe (id) {
        AjaxLoad(url = "/Setting/SmsOptionDetail/?handler=DeleteItem"
            , data = {'id': id}
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SmsOption_CloseDetail();
                    if (typeof SmsOption_Load === 'function') SmsOption_Load();
                } else {
                    notiError_SW();
                }
            }
        );
    }
    //#endregion

    //#region // EVENT

    function SmsOp_DetailEvent () {
        $('.dataTables_empty').click(function () {
            $('#smscopied').removeClass("show");
            let copyText = $('.keyword', this).text();
            SmSOp_CopyTextToClipboard(copyText);
            $('#smscopied').addClass("show");
        });
        $("#SmSOp_textSmsVi").keyup(function () {
            let val = xoa_dau($(this).val());
            $("#Smsop_resultvi").text(SmSOp_ConvertKeyCode(val));
            $(".Smsop_resultviSimu").text(SmSOp_ConvertKeyCode(val));
            $("#Smsop_countvi").html('(' + val.trim().length +' @Local["Ký tự"])');
        });

        $("#SmSOp_textSmsEng").keyup(function () {
            let val = xoa_dau($(this).val());
            $("#Smsop_resulten").text(SmSOp_ConvertKeyCode(val));
            $(".Smsop_resultenSimu").text(SmSOp_ConvertKeyCode(val));
            $("#Smsop_counten").html('(' + val.trim().length + ' @Local["Ký tự"])');
        });
        $("#SmSOp_IsZNS").unbind('click').click(function () {
            let checked = $(this).is(":checked");            
            if (checked) {
                $("#Smsop_ZnsDiv").removeClass('d-none');
                $("#SmSOp_lbIsZNS").addClass('text-info');
                $("#SmSOp_lbIsZNS").removeClass('text-dark');
            } else {
                $("#SmSOp_lbIsZNS").addClass('text-dark');
                $("#SmSOp_lbIsZNS").removeClass('text-info');
                $("#Smsop_ZnsDiv").addClass('d-none');
            }            
        });
        $('.Smsop_tab').click(function () {
            let type = $(this).attr('data-type');
            if (type == 0) {
                $(".Smsop_resultviSimu").removeClass('d-none');
                $(".Smsop_resultenSimu").addClass('d-none');
            }
            else {
                $(".Smsop_resultviSimu").addClass('d-none');
                $(".Smsop_resultenSimu").removeClass('d-none');
            }
        });
        return false;
    }

    function SmSOp_CopyTextToClipboard(text) {
        var m = document;
        text = m.createTextNode(text);
        var w = window;
        var b = m.body;
        b.appendChild(text);
        if (b.createTextRange) {
            var d = b.createTextRange();
            d.moveToElementText(text);
            d.select();
            m.execCommand('copy');
        }
        else {
            var d = m.createRange();
            var g = w.getSelection;
            d.selectNodeContents(text);
            g().removeAllRanges();
            g().addRange(d);
            m.execCommand('copy');
            g().removeAllRanges();
        }
        text.remove();
        return true;
    }

    function SmSOp_ConvertKeyCode (str) {
        try {
            str = str.replaceAll('#CustCode#', "HOF000001");
            str = str.replaceAll('#CustName#', 'CustomerName');
            str = str.replaceAll('#CustPhone#', '0999099809');
            str = str.replaceAll('#AppHour#', "13:30");
            str = str.replaceAll('#AppDay#', "25/05/2019");
            str = str.replaceAll('#AppNote#', decodeHtml("@Local["Nội dung lịch hẹn"]"));
            str = str.replaceAll('#AppNextDate#', decodeHtml("@Local["Lịch hẹn kế tiếp"]"));
            str = str.replaceAll('#AppType#', decodeHtml("@Local["Tư vấn"]"));
            str = str.replaceAll('#AppBranchName#', Master_branchNameCurrent);
            str = str.replaceAll('#AppBranchAddress#', "BranchAddress");
            str = str.replaceAll('#CompanyName#', 'Company');
            str = str.replaceAll('#BranchAddress#', 'BranchAddress');
            str = str.replaceAll('#BranchHotline#', 'BranchHostline');
            str = str.replaceAll('#Amount#', "5,000,000");
            str = str.replaceAll('#AbsAmount#', "5,000,000");
            str = str.replaceAll('#DatePaid#', "23/01/1999 20:10");
            str = str.replaceAll('#StudentCode#', "StudentCode");
            str = str.replaceAll('#StudentName#', "StudentName");
            str = str.replaceAll('#PaymentCode#', "PaymentCode");
            str = str.replaceAll('#LeftTab#', "AmountLeftTab");
            str = str.replaceAll('#LeftTreat#', "AmountLeftTreat");
            str = str.replaceAll('#Service#', "Service");
            str = str.replaceAll('#Date#', "Date");
            str = str.replaceAll('#TreatProcess#', "TreatProcess");
            str = str.replaceAll('#TreatIndexNext#', "TreatIndexNext");
            str = str.replaceAll('#PriceDiscounted#', "PriceDiscounted");
            str = str.replaceAll('#CardCode#', "CARD000001");
            str = str.replaceAll('#CardLeft#', "5,000,000");
            str = str.replaceAll('#ServiceCare#', decodeHtml("@Local["Dịch vụ quan tâm"]"));
            str = str.replaceAll('#Vocative#', "Anh Chị");
            str = str.replaceAll('#Musername#', "username");
            str = str.replaceAll('#Mpassword#', "password");

            
            return str;
        }
        catch (ex) {
            return "";
        }
    }
     //#endregion
     function SmSOp_DetectIP(){        
        let IsLocal = author_get('Minify'); 
        if (IsLocal == 1) {            
            $("#SmSOp_IsZNS").attr('disabled',false);
            $('#SmSOption_btnSave').removeClass('d-none');
        }
        else{      
            $("#SmSOp_IsZNS").attr('disabled',true);
            $('#SmSOption_btnSave').addClass('d-none');
        }
    }
</script>

<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>
<style>
    .copied {
        opacity: 0;
        display: inline;
        top: 9px;
    }

        .copied.show {
            animation: copyKeyAnime 1s 1;
        }

    @@keyframes copyKeyAnime {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
</style>