@page
@model MLunarCoffee.Pages.Setting.SmsOptionAutoDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formSmSOption">
                        <div class="field col-12 p-1">
                            <h6 id="SmSOptionTitle" class="mb-0 mt-2 fw-bold text-primary fs-5"></h6>
                        </div>
                        <div class="field col-12 p-1 mt-2">
                            <div class="form-check">
                                <input id="AutoDatetime" type="checkbox" checked="checked" name="example" onchange="SO_Auto_ChangeView()" class="form-check-input pr-2">
                                <label for="AutoDatetime" class="custom-control-label" data-fontchanged="true">@Local["Gửi tự động theo thời gian đặt trước"]</label>
                            </div>
                        </div>
                        <div id="BoxAutoScheduleType" class="field col-12 p-1 flex-grow-1 d-none">
                            <label>@Local["Loại lịch hẹn"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="AutoScheduleType_ID">
                                <input type="hidden" name="" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Loại lịch hẹn"]</div>
                                <div id="ccbAutoScheduleType" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 col-sm-12 col-md-12 col-lg-6 p-1">
                            <label>@Local["Trước ngày gửi"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="AutoDate_ID">
                                <input type="hidden" name="" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Chọn ngày"]</div>
                                <div class="menu" tabindex="-1">
                                    <div class="item" data-value="-1">0 @Local["Ngày"] (@Local["Ngày hiện tại"])</div>
                                    <div class="item" data-value="1">1 @Local["Ngày"]</div>
                                    <div class="item" data-value="2">2 @Local["Ngày"]</div>
                                    <div class="item" data-value="3">3 @Local["Ngày"]</div>
                                    <div class="item" data-value="4">4 @Local["Ngày"]</div>
                                    <div class="item" data-value="5">5 @Local["Ngày"]</div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 col-sm-12 col-md-6 col-lg-3 p-1">
                            <label>@Local["Giờ gửi"] (0 h - 23 h)</label>
                            <input class="form-control" id="AutoHour" type="number" min="0" max="23" placeholder="eg .@Local["Giờ"]">
                        </div>
                        <div class="field col-12 col-sm-12 col-md-6 col-lg-3 p-1">
                            <label>@Local["Giới hạn 1 lần gửi"]</label>
                            <input class="form-control" id="LimitSMS" type="number" min="100" max="10000" placeholder="eg .@Local["Giới hạn 1 lần gửi"]">
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Nhập mật khẩu tài khoản hiện tại"]</label>
                            <div class="input-group">
                                <span class="input-group-text" id="TogglePassword">
                                    <i class="fas fa-eye-slash cursor-pointer" aria-hidden="true"></i>
                                </span>
                                <input id="passwordConfirm" class="ctrlogin ps-2 sercu form-control" type="text" autocomplete="off" placeholder="eg .@Local["Mật khẩu"]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton mt-3">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowSMS"></div>
                    <div class="action_Save-Content">
                        <button class="btn bg-gradient-secondary" form="formSmSOption" onclick="event.preventDefault();return CloseModal()">@Local["Đóng"]</button>
                        <button form="formSmSOption" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault(); SO_Auto_ConfirmExecute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    //#region // INIT LOAD

    let ser_OptionCurrentID = ("@Model._OptionCurrentID");

    $(document).ready(function () {
        SO_Auto_Load();
        SO_Auto_Event();

    })

    function SO_Auto_Load() {
        if (ser_OptionCurrentID != '0') {
            AjaxLoad(url = "/Setting/SmsOptionAutoDetail/?handler=Loadata"
                , data = {
                    id: ser_OptionCurrentID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        let dataDetail = data.Detail;
                        let ScheduleType = data.ScheduleType; debugger
                        Load_Combo(ScheduleType, "ccbAutoScheduleType", true, "@Local["Tất cả lịch hẹn"]");
                        $("#AutoScheduleType_ID").dropdown("refresh");
                        $("#AutoScheduleType_ID").dropdown("set selected", "0");

                        SO_Auto_LoadDetail(dataDetail);
                    }
                    else {
                        notiError_SW();
                    }
                });
        }
        else {
            CloseModal();
        }
    }

    function SO_Auto_LoadDetail(dataDetail) {
        if (dataDetail && dataDetail.length != 0) {
            let item = dataDetail[0];
            $("#SmSOptionTitle").html(item.Name)
            if (item.AllowAuto == 1) {
                $('#AutoAction').show();
                $("#AutoDatetime").prop('checked', item.Auto == 1).trigger('change');
                $("#AutoDate_ID ").dropdown("set selected", item.AutoDate != 0 ? item.AutoDate : -1);
                $('#AutoHour').val(item.AutoHour);
                $('#LimitSMS').val(item.LimitAuto);
            }
            else {
                CloseModal();
            }
            SO_Auto_LoadByType(item?.Type, item);
        }
        else {
            notiError_SW();
        }
    }

    function SO_Auto_LoadByType(type = '', item) {
        try {
            debugger
            switch (type.toLocaleLowerCase()) {
                case 'smscontentnlich':
                    $("#BoxAutoScheduleType").removeClass("d-none");
                    $("#AutoScheduleType_ID").dropdown("refresh");
                    $("#AutoScheduleType_ID").dropdown("set selected", item?.AutoScheduleType ?? 0);
                    break;
                default:
            }

        }
        catch{

        }
        
    }

    //#endregion

    //#region // EXECUTE DATA

    function SO_Auto_ConfirmExecute() {
        $("#textShowSMS").html("");
        let password = $("#passwordConfirm").val() ? ($("#passwordConfirm").val()).trim() : "";
        if (password != '') {
            AjaxLoad(url = "/Setting/SmsOptionAutoDetail/?handler=EncryptPassword"
                , data = { password: password }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != '') {
                        let obj = author_get('author');
                        if (obj != '') {
                            let _obj = JSON.parse(obj);
                            let passwordcrypt = _obj.password;
                            if (result === passwordcrypt) {
                                const promise = notiConfirm('@Local["Bạn chắc chắn muốn thay đổi cấu hình sms tự động?"]');
                                promise.then(function () {
                                    SO_Auto_Execute();
                                }, function () { });
                            }
                            else $("#textShowSMS").html("@Local["Mật khẩu không đúng"]. @Local["Kiểm tra lại mật khẩu"]");
                        }
                            else $("#textShowSMS").html("@Local["Mật khẩu không đúng"]. @Local["Kiểm tra lại mật khẩu"]");
                    }
                    else notiError_SW();
                });
        }
        else $("#textShowSMS").html("@Local["Kiểm tra lại mật khẩu"]");
    }

    function SO_Auto_Execute() {
        if (ser_OptionCurrentID != '') {
            $("#textShowSMS").html('');
            var data = new Object();
            var isValid = 0;
            $('#AutoHour').removeClass('error');
            $('#LimitSMS').removeClass('error');

            if ($('#AutoDatetime').is(":checked")) {
                data.AutoDate = Number($('#AutoDate_ID').dropdown('get value')) ? Number($('#AutoDate_ID').dropdown('get value')) : 0;
                data.AutoScheduleType = Number($('#AutoScheduleType_ID').dropdown('get value')) ? Number($('#AutoScheduleType_ID').dropdown('get value')) : 0;
                data.AutoHour = $('#AutoHour').val() ? $('#AutoHour').val() : 0;
                data.LimitSMS = $('#LimitSMS').val() ? $('#LimitSMS').val() : 0;
                data.Auto = 1;
                if (data.AutoHour < 0 || data.AutoHour > 23) {
                    $('#AutoHour').addClass('error');
                    isValid = 1;
                }
                if (data.LimitSMS < 0 || data.LimitSMS > 10000) {
                    $('#LimitSMS').addClass('error');
                    isValid = 1;
                }
            }
            else {
                data.Auto = 0;
                data.AutoScheduleType = 0;
                data.AutoHour = 0;
                data.LimitSMS = 0;
                data.AutoDate = 0;
            }
            if (isValid == 0) {
                AjaxLoad(url = "/Setting/SmsOptionAutoDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_OptionCurrentID
                    }
                    , async = true
                    , error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            CloseModal();
                            if (typeof SmsOption_Load === 'function') SmsOption_Load();
                        }
                        else {
                            notiError_SW();
                        }
                    });
                return false;
            }
            else {
                $("#textShowSMS").html("@Local["Giờ gửi từ 0 - 23h, giới hạn 10000 tin nhắn trên một lần gửi"]")
            }
        }
    }

    //#endregion

    //#region // EVENT CHANGE

    function SO_Auto_ChangeView() {
        if (document.getElementById('AutoDatetime').checked) {
            $("#AutoScheduleType_ID").removeClass("disabled");
            $("#AutoDate_ID").removeClass("disabled");
            $("#AutoHour").prop("disabled", false);
            $("#LimitSMS").prop("disabled", false);
        }
        else {
            $("#AutoScheduleType_ID").addClass("disabled");
            $("#AutoDate_ID").addClass("disabled");
            $("#AutoHour").prop("disabled", true);
            $("#LimitSMS").prop("disabled", true);
        }
    }


    function SO_Auto_Event() {
        $("#TogglePassword").unbind().on("click", function () {
            let obj = $(this).next();
            if (obj != undefined) {
                if (obj.hasClass('sercu')) {
                    obj.removeClass('sercu');
                    $(this).children().addClass('fa-eye');
                    $(this).children().removeClass('fa-eye-slash');

                }
                else {
                    obj.addClass('sercu')
                    $(this).children().removeClass('fa-eye');
                    $(this).children().addClass('fa-eye-slash');
                }
            }
        })
    }

    //#endregion

</script>
<style>
    #formSmSOption .error {
        background: #ffe2e2;
    }
</style>