@page
@model MLunarCoffee.Pages.Setting.TypeAccountListModel
@{
    Layout = null;
}
@*<script>js_require('/js/comon/initialize_setting.js');</script>*@

<div class="container-fluid py-0 px-0 ">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Loại thu chi"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách loại thu chi"]</p>
                    </div>
                    <div class="right">
                        <button id="btnNewTypeAccount" class="btn bg-gradient-primary btn-sm mt-1 setting_projectclosure" onclick="return TypeAccountAddNew()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div class="vtcondition">
                        <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                        <div class="fulllap collapse collapsesticky show">
                            <div class="field col-12">
                                <div class="ui fluid search selection dropdown form-control" id="TypeAccount" onchange="TypeAccountLoad()">
                                    <input type="hidden" name="Name" />
                                    <i class="dropdown icon"></i>
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">@Local["Tất cả"]</div>
                                    <div id="cbbTypeAccount" class="menu" tabindex="-1">
                                        <div class="item" data-value="0">@Local["Tất cả"]</div>
                                        <div class="item" data-value="2">@Local["Thu"]</div>
                                        <div class="item" data-value="1">@Local["Chi"]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 my-3 mobile-responsive">
                        <table data-name="" class="table vt-table mb-0" id="dtContentTypeAccount">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th style="width:40px">@Local["#"]</th>
                                    <th>@Local["Tên loại thu chi"]</th>
                                    <th>@Local["Loại"]</th>
                                    <th>@Local["Người sửa"]</th>
                                    <th style="width:40px" class="setting_projectclosure">@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentTypeAccountBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let DataUser;
    $(document).ready(function () {
        TypeAccountLoad();
        $('#dtContentTypeAccount tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            TypeAccountEdit(ID);
        });
        $('#dtContentTypeAccount tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            TypeAccountDelete(ID)
        });
    });
    function TypeAccountLoad() {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                AjaxLoad(url = "/Setting/TypeAccountList/?handler=LoadData"
                    , data = {}, async = true, error = null
                    , success = function (result) {
                        let data = JSON.parse(result);
                        if ($('#TypeAccount').dropdown('get value') && $('#TypeAccount').dropdown('get value') != "0") {
                            data = data.filter(word => word["Type"] == Number($('#TypeAccount').dropdown('get value')) - 1);
                        }
                        if (data != undefined && data != null && data.length != 0) {
                            for (let i = 0; i < data.length; i++) {
                                data[i].STT = (i + 1).toString();
                            }
                        }
                        TypeAccountRender(data, "dtContentTypeAccountBody");
                    });
            });
    }
    function TypeAccountRender(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td><a class="text-decoration-underline fw-bold buttonEditClass" href="#">' + item.Name + '</a></td>'
                        + '<td class="text-center">' + ((item.Type == 0) ? '<a class="badge badge-sm badge-secondary">@Local["Chi"]</a>' : '<a style="font-size:11px;" class="badge badge-sm badge-success">@Local["Thu"]</a>') + '</td>'
                        + '<td>'
                        + '<div class="d-flex">'
                        + '<div class="icon icon-shape icon-sm me-2 text-center" >'
                        + '<img class="avatar avatar-xs mt-2" src="' + img + ' " alt="label-image">'
                        + '</div>'
                        + '<div class="d-flex flex-column">'
                        + '<h6 class="text-dark text-sm mb-0">' + name + '</h6>'
                        + '<span class="text-xs">' + GetDateTime_String_DMY(item.DayEditor) + '</span>'
                        + '</div>'
                        + '</div>'
                        + '</td>'
                        + '<td class="setting_projectclosure">'
                        + ((item.DeleteButton === 1)
                            ? Render_Button_Grid(['<button class="buttonGrid" value="'
                                + item.ID
                                + '"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>'])
                            : '')
                        + '</td>'


                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        Checking_TabControl_Permission();
    }
    function TypeAccountDelete(id) {
        const promise = notiConfirm();
        promise.then(function () { TypeAccountExcuteDelete(id); }, function () { });
    }
    function TypeAccountExcuteDelete(id) {
        AjaxLoad(url = "/Setting/TypeAccountList/?handler=DeleteItem"
            , data = { id: id }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    TypeAccountLoad();
                } else {
                    notiError_SW();
                }
            });
    }
    function TypeAccountAddNew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/TypeAccountDetail" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function TypeAccountEdit(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/TypeAccountDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script>

<script>js_require('/js/main.js');</script>
