@page
@model MLunarCoffee.Pages.Report.ListReport.EditDescriptionReportGroupModel
@{ Layout=null;
}
<script src="/js/comon/initialize_setting.js?ver=637302369575625138"></script>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
   
    <div class="container-fluid py-3 px-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body pt-2 ">
                       
                        <div class="row px-1 form3" id="formgroupre">
                            <div class="field col-12 px-1 mt-2">
                                <label>@Local["Tên nhóm báo cáo"]</label>
                                <input id="NameSup" class="form-control" name="name" type="text" />
                            </div>
                            <div class="field col-12 px-1 mt-2">
                                <label>@Local["Ghi chú"]</label>
                                <input id="DecriptionSup" class="form-control"   type="text" />
                            </div>

                        </div>
                    </div>
                    <div class="card-footer fixed-botombutton">
                        <div class="action_Save">

                            <div class="action_Save-Content">

                                <button class="btn btn-secondary" form="formgroupre" onclick="CloseModal()">@Local["Đóng"]</button>
                                <button form="formgroupre" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ExcuteDataLevel()">@Local["Lưu"]</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript">
        var ser_CurrentID = "@Model._CurrentID";

        $(document).ready(function () {
            if (ser_CurrentID != "0")
                LoadDataUpdateFolder();
         });
        function LoadDataUpdateFolder() {
            AjaxLoad(url = "/Report/ListReport/EditDescriptionReportGroup/?handler=Loadata"
                , data = { id: ser_CurrentID }, async = true, error = null
                , success = function (result) {
                    let data = JSON.parse(result);
                    $('#NameSup').val((data[0].Name));
                    $('#DecriptionSup').val((data[0].Description));

                    
                });
        }

        function ExcuteDataLevel () {
            debugger
            var data = new Object();
            data.Name = $('#NameSup').val() ? $('#NameSup').val() : "";
            data.Description = $('#DecriptionSup').val() ? $('#DecriptionSup').val() : "";
            $('#formgroupre').form('validate form');
            if ($('#formgroupre').form('is valid')) {
                AjaxLoad(url = "/Report/ListReport/EditDescriptionReportGroup/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data), 
                        CurrentID: ser_CurrentID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            LR_MasterLoad(ser_CurrentID)
                 
                        } else {
                            notiError_SW();
                        }
                    });
                $('#DetailModal').modal('hide');
                $("#DetailModal_Content").html('');
            }
            return false;
        }
    </script>

    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>
</html>
