@page
@model MLunarCoffee.Pages.Report.ListReport.ListReportShowDetailModel
@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <div class="container-fluid py-3 px-0">

        <div class="row">
            <div class="col-12">
                <!--Master-->
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h6 class="mb-0">
                                        @Local["Chi tiết báo cáo"]
                                    </h6>

                                </div>
                            </div>
                            <div class="ms-auto my-auto mt-1 pe-4">
                                <div class="form-check form-switch ps-0">
                                    <input class="form-check-input ms-auto" type="checkbox" id="rp_detailon" checked>
                                    <label class="form-check-label text-dark ms-3 fw-bold text-truncate mb-0" id="rp_detailondes">ON</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-body pt-2 form3" id="formrpdetail">

                        <div class="row col-12">
                            <div class="col-12 col-xl-5">
                                <div class="field col-12 px-1 mt-2">
                                    <input id="Report_Temp_Title" class="form-control" name="name" type="text" placeholder="eg .@Local["Tiêu đề"]" />
                                </div>
                                <div class="field col-12 px-1 mt-2">

                                    <div class="ui fluid search selection dropdown form-control" id="ReportInfo_GroupID">
                                        <input type="hidden" name="source" />
                                        <i class="dropdown icon"></i>
                                        <input id="searchSource" class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Nhóm"]</div>
                                        <div id="cbbReportInfo" class="menu" tabindex="-1">
                                        </div>
                                    </div>

                                </div>
                                <div class="field col-12 px-1 mt-2">

                                    <input id="Report_Temp_Index" class="form-control" placeholder="eg .@Local["index"]" name="" type="number" />

                                </div>
                                <div class="field col-12 px-1 mt-2">

                                    <textarea id="Report_Temp_Description" class="form-control" placeholder="eg .@Local["Mô tả"]" rows="3" />

                                </div>

                                <div class="row m-1 mt-3 border-dashed border-1 border-secondary border-radius-md">
                                    <div class="field col-12 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="0" class="none form-check-input pr-2" type="radio" name="ReportInfo_Branch" />
                                            <label class="text-uppercase custom-control-label">@Local["Không có chi nhánh"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="1" class="form-check-input pr-2" type="radio" name="ReportInfo_Branch" />
                                            <label class="text-uppercase custom-control-label">@Local["Chi nhánh"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="2" class="form-check-input pr-2" type="radio" name="ReportInfo_Branch" />
                                            <label class="text-uppercase custom-control-label">@Local["Đa chi nhánh"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="3" class="form-check-input pr-2" type="radio" name="ReportInfo_Branch" />
                                            <label class="text-uppercase custom-control-label">@Local["Tất cả chi nhánh"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-1 mt-3 border-dashed border-1 border-secondary border-radius-md">
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="0" class="none form-check-input pr-2" type="radio" name="ReportInfo_Date" />
                                            <label class="text-uppercase custom-control-label">@Local["Không có ngày"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6">
                                        <div class="d-flex align-items-center mt-1">

                                            <div class=" form-check">
                                                <input value="1" class="form-check-input pr-2" type="radio" name="ReportInfo_Date" />
                                            </div>
                                            <div class="input-group py-2">

                                                <span class="text-uppercase fw-bold input-group-text">@Local["Ngày"]</span>
                                                <input id="Report_Temp_AllowRangeDate" name="" type="number" class="text-center form-control" placeholder="eg .@Local["Ngày tối đa"]" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 d-flex mb-1 align-items-center ms-auto">
                                        <div class="d-flex align-items-center mt-1">
                                            <div class="form-check">
                                                <input class="form-check-input" name="ReportInfo_TypeDate" type="checkbox">
                                            </div>
                                            <label class="mb-0">@Local["Loại ngày"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-1 mt-3 border-dashed border-1 border-secondary border-radius-md">
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="0" class="form-check-input pr-2" type="radio" name="ReportInfo_Source" />
                                            <label class="text-uppercase custom-control-label">@Local["Không có nguồn"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="1" class="none form-check-input pr-2" type="radio" name="ReportInfo_Source" />
                                            <label class="text-uppercase custom-control-label">@Local["Nguồn"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-1 mt-3 border-dashed border-1 border-secondary border-radius-md">
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="0" class="none form-check-input pr-2" type="radio" name="ReportInfo_Page" />
                                            <label class="text-uppercase custom-control-label">@Local["Không có trang"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="1" class="form-check-input pr-2" type="radio" name="ReportInfo_Page" />
                                            <label class="text-uppercase custom-control-label">@Local["Trang"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-1 mt-3 border-dashed border-1 border-secondary border-radius-md">
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="0" class="none form-check-input pr-2" type="radio" name="ReportInfo_Staff" />
                                            <label class="text-uppercase custom-control-label">@Local["Không có nhân viên"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="1" class="form-check-input pr-2" type="radio" name="ReportInfo_Staff" />
                                            <label class="text-uppercase custom-control-label">@Local["Nhân viên"]</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row m-1 mt-3 border-dashed border-1 border-secondary border-radius-md">
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="0" class="none form-check-input pr-2" type="radio" name="ReportInfo_GroupStaff" />
                                            <label class="text-uppercase custom-control-label">@Local["Không có nhóm nhân viên"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="1" class="form-check-input pr-2" type="radio" name="ReportInfo_GroupStaff" />
                                            <label class="text-uppercase custom-control-label">@Local["Nhóm nhân viên"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="2" class="form-check-input pr-2" type="radio" name="ReportInfo_GroupStaff" />
                                            <label class="text-uppercase custom-control-label">@Local["Nhóm nhân viên"] (Token)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-1 mt-3 border-dashed border-1 border-secondary border-radius-md">
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="0" class="none form-check-input pr-2" type="radio" name="ReportInfo_Ware" />
                                            <label class="text-uppercase custom-control-label">@Local["Không có kho"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="1" class="form-check-input pr-2" type="radio" name="ReportInfo_Ware" />
                                            <label class="text-uppercase custom-control-label">@Local["Kho"]</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                        <div class="form-check">
                                            <input value="2" class="form-check-input pr-2" type="radio" name="ReportInfo_Ware" />
                                            <label class="text-uppercase custom-control-label">@Local["Tất cả kho"]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7">
                                <div class="card-body p-1 mt-1">
                                    <div class="input-group" id="ReportDetail_Sort">
                                        <span class="input-group-text input-group-text px-2">
                                            <i class="fas fa-search" aria-hidden="true"></i>
                                            <div class="spinner-border spinner-border-sm" style="display:none;"></div>
                                        </span>
                                        <input id="LRDetailSheetSearch" type="text" class="form-control " placeholder="eg .@Local["Tìm kiếm"]">
                                        <span class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></span>
                                    </div>
                                    <ul id="LRDetailSheet" class="list-group border-dashed border-1 border-secondary border-radius-md overflow-auto mt-3"
                                        style=" max-height: 400px;">
                                    </ul>
                                </div>
                                <span class="d-block mx-1 mt-3" id="Report_TempDiv">


                                </span>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-12 col-xl-4">
                            </div>
                            <div class="col-12 col-xl-8">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-12 col-xl-4">
                            </div>
                            <div class="col-12 col-xl-4">
                            </div>
                            <div class="col-12 col-xl-4">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-12 col-xl-4">
                            </div>
                            <div class="col-12 col-xl-8">
                            </div>

                        </div>

                    </div>

                    <div class="card-footer fixed-botombutton">
                        <div class="action_Save">
                            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                            <div class="action_Save-Content">

                                <button class="btn btn-secondary" form="form3" onclick="CloseModal()">@Local["Đóng"]</button>
                                <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="Report_Temp_ExcuteDataDetail()">@Local["Lưu"]</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</body>
</html>
<script type="text/javascript">
    let Report_Temp_CurrentID;
    let Report_TempData = [];
    $(document).ready(function () {
        Report_Temp_CurrentID = "@Model._CurrentID";
        Report_Temp_LoadIni();
        Report_Temp_RenderSheet(LRSheet, 'LRDetailSheet');
        Report_Temp_Event();
    });
    function Report_Temp_RenderSheet(data, id) {

        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {

                for (var i = 0; i < data.length; i++) {
                    let item = data[i];

                    let tr =
                        '<li id="rpdetail_sheet_' + item.ID + '" class="list-group-item text-dark text-sm border-0 rpdetail_sheet" data-id="' + item.ID + '">'
                        + Report_Temp_RenderType(item.Type)
                        + item.Name
                        + '</li>'

                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        LR_DetailSheetChoosing(Report_TempData, 'Report_TempDiv');
    }
    function Report_Temp_RenderType(type) {

        let result = '';
        switch (type) {
            case 'gr':
                result = '<i class="fas fa-grip-horizontal text-gradient text-success pe-2"></i>';
                break;
            case 'bar':
                result = '<i class="fas fa-chart-bar text-gradient text-info pe-2"></i>';
                break;
            case 'line':
                result = '<i class="fas fa-chart-line text-gradient text-warning pe-2"></i>';
                break;
            case 'pie':
                result = '<i class="fas fa-chart-pie text-gradient text-primary pe-2"></i>';
                break;
            default:
                result = '<i class="fas fa-question text-gradient text-dark pe-2"></i>';
                break;
        }
        return result;
    }
    function Report_Temp_LoadIni() {
        AjaxLoad(url = "/Report/ListReport/ListReportShowDetail/?handler=LoadComboMain"
            , data = {
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    Load_Combo(JSON.parse(result), "cbbReportInfo", true);
                    if (Report_Temp_CurrentID != 0) {
                        Report_Temp_LoadDataUpdate(Report_Temp_CurrentID);
                    }
                }
            });
    }
    function Report_Temp_LoadDataUpdate(currentid) {
        AjaxLoad(url = "/Report/ListReport/ListReportShowDetail/?handler=Load_Initialize"
            , data = {
                currentid: currentid
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let dataReportInfo = JSON.parse(result)[0];
                    $('#Report_Temp_Title').val((dataReportInfo.Title));
                    $('#Report_Temp_Description').val((dataReportInfo.Description));
                    $('#Report_Temp_Index').val((dataReportInfo.Index));
                    $('#Report_Temp_AllowRangeDate').val((dataReportInfo.AllowRangeDate));
                    $('#rp_detailon').prop('checked', dataReportInfo.IsActive == 1);
                    $('#rp_detailondes').html(dataReportInfo.IsActive == 1 ? 'ON' : 'OFF');
                    Report_TempData = JSON.parse(dataReportInfo.Teamplate).sheet;
                    LR_DetailSheetChoosing(Report_TempData, 'Report_TempDiv');
                    if (dataReportInfo.UseDate == 1) {
                        $("#Report_Temp_AllowRangeDate").prop('disabled', false);
                        $("#ReportInfo_TypeDate").prop('disabled', false);
                    }
                    $("input[name=ReportInfo_Date][value=" + dataReportInfo.UseDate + "]").attr('checked', 'checked');
                    $("input[name=ReportInfo_TypeDate]").attr('checked', dataReportInfo.UseTypeDate == 1);
                    $("input[name=ReportInfo_Source][value=" + dataReportInfo.UseSource + "]").attr('checked', 'checked');
                    $("input[name=ReportInfo_Staff][value=" + dataReportInfo.UseStaff + "]").attr('checked', 'checked');

                    let valuegrStaff = 0;
                    if (dataReportInfo.UseMultiGroupStaff == 1) valuegrStaff = 2;
                    else if (dataReportInfo.UseGroupStaff == 1) valuegrStaff = 1;
                    else valuegrStaff = 0;
                    $("input[name=ReportInfo_GroupStaff][value=" + valuegrStaff + "]").attr('checked', 'checked');
                    $("input[name=ReportInfo_Page][value=" + dataReportInfo.UsePage + "]").attr('checked', 'checked');
                    let valuebranch = 0;
                    if (dataReportInfo.UseAllBranch == 1) valuebranch = 3;
                    else if (dataReportInfo.UseMultiBranch == 1) valuebranch = 2;
                    else if (dataReportInfo.UseBranch == 1) valuebranch = 1;
                    else valuebranch = 0;
                    $("input[name=ReportInfo_Branch][value=" + valuebranch + "]").attr('checked', 'checked');
                    let valueware = 0;
                    if (dataReportInfo.UseAllWare == 1) valueware = 2;
                    else if (dataReportInfo.UseWare == 1) valueware = 1;
                    else valueware = 0;
                    $("input[name=ReportInfo_Ware][value=" + valueware + "]").attr('checked', 'checked');
                    $("#ReportInfo_GroupID").dropdown("clear");
                    $("#ReportInfo_GroupID").dropdown("set selected", Number(dataReportInfo.GroupID));

                } else {
                    document.getElementById("textShowMessage").innerHTML = result;
                }
            });
    }
    function Report_Temp_Event() {
        $('input[type=radio][name=ReportInfo_Date]').unbind().change(function () {
            if (this.value == 1) {
                $("#ReportInfo_TypeDate").prop('disabled', false);
                $("#Report_Temp_AllowRangeDate").prop('disabled', false);
            }
            else {
                $("#ReportInfo_TypeDate").prop('disabled', true);
                $("#ReportInfo_TypeDate").prop('checked', false);
                $("#Report_Temp_AllowRangeDate").prop('disabled', true);
            }
        });
        $('#rp_detailon').unbind().change(function () {
            if (this.checked) {
                $('#rp_detailondes').html('ON');
            }
            else {

                $('#rp_detailondes').html('OFF');
            }
        });
        $(".rpdetail_sheet").unbind().click(function () {

            let id = $(this).attr("data-id");
            let find = 0;
            for (let i = 0; i < Report_TempData.length; i++) {
                if (Report_TempData[i].value == id)
                    find = 1;
            }
            if (find == 0) {
                let e = {};
                e.value = id;
                Report_TempData.push(e);
                LR_DetailSheetChoosing(Report_TempData, 'Report_TempDiv');
            }
        });
        $('#LRDetailSheetSearch').unbind().keyup(function () {
            if ($(this).val().length > 0) $(".btn_clear").removeClass('opacity-1');
            else $(".btn_clear").addClass('opacity-1');
            $("#ReportDetail_Sort .fa-search").hide();
            $("#ReportDetail_Sort .spinner-border").show();
            clearTimeout(re_TimerOnchange);
            re_TimerOnchange = setTimeout(function (e) {
                LR_DetailSearch(xoa_dau($('#LRDetailSheetSearch').val().toLowerCase()).trim());
            }, 500);
        });
        $("#ReportDetail_Sort").on('click', '.btn_clear', function (e) {
            $('#LRDetailSheetSearch').val('');
            $(".btn_clear").addClass('opacity-1');
            LR_DetailSearch('');
        });
    }
    function LR_DetailSearch(text) {
        if (text == '') {

        }
        else {
            let searchingValue = (xoa_dau($('#LRDetailSheetSearch').val())).trim().toLowerCase();
            let _detail = LRSheet.filter(s => (xoa_dau(s.Name).trim().toLowerCase().includes(searchingValue)));
            Report_Temp_RenderSheet(_detail, 'LRDetailSheet');
            if (searchingValue != '') {
                ColorSearchFilterText(searchingValue, "rpdetail_sheet");
            }
            Report_Temp_Event()
        }
        $("#ReportDetail_Sort .fa-search").show();
        $("#ReportDetail_Sort .spinner-border").hide();
    }
    function LR_DetailSheetChoosing(data, id) {
        $(".rpdetail_sheet").removeClass('choosen')
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {

                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let _detail = LRSheet.filter(s => s.ID == item.value);
                    let tr =
                        '<span id="rpsheetchoosing_' + item.value + '" class="badge bg-light p-1 m-2 text-sm text-dark">'
                        + '<i class="remove icon sheetchoosing" data-id="' + item.value + '"></i>'

                        + '<span class="text-lowercase font-weight-normal px-2">' + _detail[0].Name + '</span>'
                        + Report_Temp_RenderType(_detail[0].Type)
                        + '</span>'

                        ;


                    stringContent = stringContent + tr;
                    $('#rpdetail_sheet_' + item.value).addClass('choosen');
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        LR_DetailSheetEvent();
    }
    function LR_DetailSheetEvent() {
        $(".sheetchoosing").click(function () {
            let id = $(this).attr("data-id");

            for (let i = 0; i < Report_TempData.length; i++) {
                if (Report_TempData[i].value == id) {
                    Report_TempData.splice(i, 1);
                    break;
                }

            }
            LR_DetailSheetChoosing(Report_TempData, 'Report_TempDiv');
        });

    }


    function Report_Temp_ExcuteDataDetail() {

        let data = new Object();
        let _branch = $('input[name="ReportInfo_Branch"]:checked').val();
        if (_branch == 3) { data.UseBranch = 0; data.UseMultiBranch = 0; data.UseAllBranch = 1; }
        else if (_branch == 2) { data.UseBranch = 0; data.UseMultiBranch = 1; data.UseAllBranch = 0; }
        else if (_branch == 1) { data.UseBranch = 1; data.UseMultiBranch = 0; data.UseAllBranch = 0; }
        else { data.UseBranch = 0; data.UseMultiBranch = 0; data.UseAllBranch = 0; }
        let _ware = $('input[name="ReportInfo_Ware"]:checked').val();
        if (_ware == 2) { data.UseWare = 0; data.UseAllWare = 1; }
        else if (_ware == 1) { data.UseWare = 1; data.UseAllWare = 0; }
        else { data.UseWare = 0; data.UseAllWare = 0; }
        let _IsActive = 1;
        if (!$('#rp_detailon').is(":checked")) {
            _IsActive = 0;
        }

        data.UseSource = $('input[name="ReportInfo_Source"]:checked').val();
        data.UseStaff = $('input[name="ReportInfo_Staff"]:checked').val();
        let _groupStaff = $('input[name="ReportInfo_GroupStaff"]:checked').val();
        if (_groupStaff == 2) { data.UseGroupStaff = 0, data.UseMultiGroupStaff = 1 }
        else if (_groupStaff == 1) { data.UseGroupStaff = 1, data.UseMultiGroupStaff = 0 }
        else { data.UseGroupStaff = 0, data.UseMultiGroupStaff = 0 }
        data.UsePage = $('input[name="ReportInfo_Page"]:checked').val();
        data.UseDate = $('input[name="ReportInfo_Date"]:checked').val();
        data.UseTypeDate = $('input[name="ReportInfo_TypeDate"]').is(':checked') ? 1 : 0;
        data.GroupID = Number($('#ReportInfo_GroupID').dropdown('get value')) ? Number($('#ReportInfo_GroupID').dropdown('get value')) : 0;

        data.Index = $('#Report_Temp_Index').val() ? $('#Report_Temp_Index').val() : 0;
        data.AllowRangeDate = (data.UseDate == 1)
            ? ($('#Report_Temp_AllowRangeDate').val() ? $('#Report_Temp_AllowRangeDate').val() : 0)
            : 0;


        data.Description = $('#Report_Temp_Description').val() ? $('#Report_Temp_Description').val() : "";
        data.Title = $('#Report_Temp_Title').val() ? $('#Report_Temp_Title').val() : "";
        data.IsActive = _IsActive;
        let _template = {};
        _template.frame = 0;
        _template.sheet = Report_TempData;
        data.Teamplate = JSON.stringify(_template);

        $('#formrpdetail').form('validate form');
        if ($('#formrpdetail').form('is valid')) {

            AjaxLoad(url = "/Report/ListReport/ListReportShowDetail/?handler=ExcuteDataDetail"
                , data = {
                    ReportDetail: JSON.stringify(data),
                    CurrentID: Report_Temp_CurrentID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        CloseModal();
                        LR_MasterLoad(currrentDetail);

                    } else {
                        document.getElementById("textShowMessage").innerHTML = result;
                    }
                });
        }
        return false;
    }
</script>
<style>
    .rpdetail_sheet.choosen {
        background-image: linear-gradient( 310deg, #7928CA 0%, #FF0080 100%);
        color: white !important;
    }
</style>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>