@page
@model MLunarCoffee.Pages.AppCustomer.Desk.Profile.ProfileListModel
@{
    Layout = null;
}

@Html.AntiForgeryToken()
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 position-relative">
            <div id="AC_DPL_MainContainer">
                <div class="pt-2">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Danh sách hồ sơ"]</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-2 ">
                    <div class="row">
                        <div class="d-lg-flex mt-4">
                            <div class="flex-grow-1 ">
                                <div class="row mx-0">
                                    <div class="field col-12 col-md-3 col-xl-3 ps-0 pe-1 mt-2">
                                        <div class="input-group" id="searchApp">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                            <input id="AC_DPL_txtFilter" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm theo tên, số điện thoại hoặc mã số"]" onkeyup="AC_DPL_onkeyup_filterApp()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="m-0 mt-3 mobile-responsive">
                                <div id="WaitingDeskGeneral" class=" text-center z-index-sticky" style="display: none; position: absolute; left: 50%;">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <ul class="list-group m-2 px-0" id="AC_DPL_listContent">
                                </ul>
                            </div>
                            <button id="AC_DPL_btnLoadMore" class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0" onclick="event.preventDefault(); return AC_DPL_LoadData(0, 1);">@Local["Xem thêm"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //#region // DECLARE & INIT

    let AC_DPL_Limit = 50;
    let AC_DPL_BeginID = 0;
    let AC_DPL_XhrLoadList;
    var AC_DPL_DataMain;
    let AC_DPL_BranchID = "@Model.branchID";
    let AC_DPL_DateFrom = "@Model.dateFrom";
    let AC_DPL_DateTo = "@Model.dateTo";
    $(document).ready(function () {
        AC_DPL_LoadData();
    })

    //#endregion

    //#region // LOAD DATA

    async function AC_DPL_LoadData(CurrentID = 0, IsLoadMore = 0) {
        return new Promise((reslove) => {
            if (AC_DPL_XhrLoadList && AC_DPL_XhrLoadList.readyState != 4) AC_DPL_XhrLoadList.abort();
            if (IsLoadMore == 0 && CurrentID == 0) {
                $("#AC_DPL_listContent").empty();
                AC_DPL_BeginID = 0;
                AC_DPL_DataMain = [];
            }

            AC_DPL_XhrLoadList = AjaxLoad(url = "/AppCustomer/Desk/Profile/ProfileList/?handler=LoadData"
                , data = {
                    BranchID: AC_DPL_BranchID,
                    DateFrom: AC_DPL_DateFrom,
                    DateTo: AC_DPL_DateTo,
                    BeginID: AC_DPL_BeginID,
                    Limit: AC_DPL_Limit,
                    CurrentID: CurrentID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '0') {
                        let data = JSON.parse(result);
                        if (CurrentID != 0) {
                            let rowProfile = $("#AC_DPL_MasterRow_" + CurrentID);
                            if (data && data.length != 0) {
                                let item = data[0];
                                let trRow = AC_DPL_RenderEach(item);
                                trRow = `<tr id="AC_DPL_MasterRow_${item.ID}" class="row-add vt-number">${trRow}</tr>`;
                                if (rowProfile && rowProfile.length != 0) rowProfile.replaceWith(trRow);
                                else document.getElementById('AC_DPL_listContent').insertAdjacentHTML("afterbegin", trRow);
                                AC_DPL_EventGrid();
                            }
                            else rowProfile.remove();
                        }
                        else {
                            if (data && data.length != 0) {
                                AC_DPL_DataMain = AC_DPL_DataMain.concat(data);
                                AC_DPL_Render(data, 'AC_DPL_listContent');
                                AC_DPL_GetBeginID(data);
                            }
                            else {

                            }
                        }
                    }
                    else {
                        notiError_SW();
                    }
                    reslove();
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        })
    }

    function AC_DPL_GetBeginID(data) {
        try {
            if (data && data.length != 0) {
                let PopBegin = data[data.length - 1];
                if (PopBegin) {
                    AC_DPL_BeginID = PopBegin.ID
                }
            }
        }
        catch (ex) {
            return 0;
        }
    }
    //#endregion

    //#region // RENDER

    async function AC_DPL_Render(data, id) {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = AC_DPL_RenderEach(item);
                            myNode.insertAdjacentHTML("beforeend", tr);
                        }
                    }
                }
                ToolPopper();
            }, 10);
        });
    }

    function AC_DPL_RenderEach(item) {
        try {
            let result = '';
            result = `
                      <li id="AC_DPL_MasterRow_${item.ID}" class="mt-1 list-group-item border-0 flex-column align-items-start ps-0 py-0 mb-2 py-2
                          border-radius-lg border-5 border-start border-radius-bottom-start-0 border-radius-top-start-0">
                          <div class="d-flex">
                               <img class="avatar avatar-sm mx-2 mt-2" src="${item.CustAvatar ?? '/default.png'}" alt="label-image" onerror="Master_OnLoad_Error_Image(this)">
                          
                              <div class="ps-2 ms-1">
                              
                                  <div class="align-items-center d-lg-flex ms-1">
                                      <div class="mb-0 d-flex text-sm">
                                          <a class="border-bottom border-primary code col-auto fw-bold mb-0 mt-0 my-auto text-primary text-sm"
                                              target="_blank" href="/Customer/MainCustomer?CustomerID=${item.CustID}">${item.CustCode != '' ? `${item.CustCode} -` : ''}</a>
                                              <span class="text-sm ms-2 text-dark fw-bold"> ${item.CustName} </span>
                                      </div>
                                  </div>

                                  <div class="d-flex align-items-center mt-2 ps-1">
                                       <span class="text-secondary text-sm pe-2">${Fun_GetName_ByID(AC_DG_objBranchs, item.BranchID)}</span>
                                       <span class="text-sm text-secondary"> ${ConvertDateTimeUTC_DMYHM(item.Created)}</span>
                                  </div>
                              </div>
                           </div>
                      </li>
                       <hr id="AC_DPL_MasterRow_hr${item.ID}" class="horizontal dark my-2">
                       `
            return result;
        }
        catch (ex) {
            return '';
        }
    }
    //#endregion

    //#region // EVENT
    //FILTER
    function AC_DPL_FilterHideLine(id) {
        if (!$('#AC_DPL_MasterRow_' + id).hasClass('d-none')){
            $('#AC_DPL_MasterRow_' + id).addClass("d-none");
            $('#AC_DPL_MasterRow_hr' + id).addClass("d-none");
        }
    }
    function AC_DPL_FilterShowLine(id) {
        if ($('#AC_DPL_MasterRow_' + id).hasClass('d-none')){
            $('#AC_DPL_MasterRow_' + id).removeClass("d-none");
            $('#AC_DPL_MasterRow_hr' + id).removeClass("d-none");
        }
    }

    function AC_DPL_onkeyup_filterAppAsync() {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    AC_DPL_Filter();
                },
            )
        })
    }

    function AC_DPL_Filter() {
        let search = xoa_dau($('#AC_DPL_txtFilter').val().toLowerCase()).trim();
        for (let i = 0; i < AC_DPL_DataMain.length; i++) {
            let value = AC_DPL_DataMain[i];
            let name = value["CustName"];
            if ((xoa_dau(name).toLowerCase().includes(search)
                || xoa_dau(value["CustCode"]).toLowerCase().includes(search))
            ) {
                AC_DPL_FilterShowLine(value["ID"]);
            }
            else {
                AC_DPL_FilterHideLine(value["ID"]);
            }
        }
    }
    async function AC_DPL_onkeyup_filterApp() {
        await AC_DPL_onkeyup_filterAppAsync();
        return false;
    }

                                //#endregion
</script>
<script>js_require('/js/main.js')</script>

