@page
@model MLunarCoffee.Pages.Student.Student.StudentDetailModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Cấu hình học viên"]</h6>
                            <p class="text-sm mb-0">@Local["Thêm mới/chỉnh sửa học viên"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="d-lg-flex align-items-start"> 
                    <div class="col-w-250">
                        <div class="">
                            <div class="accordion">
                                <div>
                                    <button class="accordion-button p-2 px-0 collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#SDetail_CollapseNoteImg" aria-expanded="true" aria-controls="SDetail_CollapseNoteImg">
                                        <h6 class="text-primary text-sm font-weight-bold mb-0"> @Local["Hình ảnh"] - @Local["Học viên"]</h6>
                                    </button>
                                </div>
                            </div>
                            <div class="pe-2">
                                <div id="SDetail_CollapseNoteImg" class="collapse hide collapsesticky">
                                    <p class="text-dark text-sm fw-bold mb-1">
                                        @Local["Hướng dẫn"]:
                                        <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước"]</span>
                                    </p>
                                    <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                        @Local["Kích thước"]:
                                        <span class="text-dark text-sm text-normal ms-2">110 x 110 px</span>
                                    </p>
                                    <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                        @Local["Hình minh họa"]:
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <div class="d-block avatar avatar-xxl position-relative mb-2">
                                            <a href="/Image/Illustration/avata-hoc-vien.png" target="_blank">
                                                <img src="/Image/Illustration/avata-hoc-vien.png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 d-flex justify-content-center">
                                    <div class="row m-0">
                                        <div class="col-auto px-0 position-relative">
                                            <img id="SLD_AvatarUpload" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                            <div class="upload-container" id="CM_btnUpload">
                                                <i class="fas fa-camera fs-3"></i>
                                                <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="SLD_AvatarFile" accept="image/*" type="file" name="files[]" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ps-md-4 flex-grow-1 row">
                        <div class="row form3 col-12 col-md-8" id="form3">
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["Mã"]</label>
                                <input id="SLD_Code" name="code" type="text" placeholder="eg. Code" class="form-control" />
                            </div>
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["Tên học viên"]</label>
                                <input id="SLD_Name" name="name" type="text" class="form-control" placeholder="eg.Name" />
                            </div>
                            <div class="field col-12 col-md-6 p-1">
                                <label>Email</label>
                                <input id="SLD_Email" name="email" type="text" class="form-control" placeholder="eg.Email" />
                            </div>
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["Giới tính"]</label>
                                <div class="ui fluid search selection dropdown form-control" id="SLD_Gender">
                                    <input type="hidden" name="gender" />
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg.Gender</div>
                                    <div id="SLD_CbbGender" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["Ngày sinh"]</label>
                                <input class="form-control" id="SLD_Birthday" name="dateValid" placeholder="eg .dd-mm-yyyy" maxlength="10" />
                            </div>
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["Nguồn"]</label>
                                <div class="ui fluid search selection dropdown form-control" id="SLD_Source">
                                    <input type="hidden" name="source" />
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg.Source</div>
                                    <div id="SLD_CbbSource" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["CCCD"]</label>
                                <input id="SLD_Identity" name="cmnd" type="text" class="form-control" placeholder="eg.Identity" />
                            </div>
                            <div class="field col-12 col-md-6 p-1">
                                <label>@Local["Địa chỉ"]</label>
                                <textarea id="SLD_Address" name="" type="text" class="form-control" placeholder="eg.Address" rows="1"></textarea>
                            </div>
                            <div class="field col-12 mt-2 px-1">
                                <label>@Local["Nội dung"]</label>
                                <textarea id="SLD_Note" name="content" class="form-control" autocomplete="off" placeholder="eg.Content" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="field col-12">
                                <label>@Local["Số điện thoại"]</label>
                                <input id="SLD_Phone" name="phonenumber" type="text" class="form-control" placeholder="eg.Phone" onchange="event.preventDefault(); SDetail_SearchCustomer()"/>
                            </div>
                            <div class="field col-12 mt-2 pt-1">
                                <label>@Local["Liên kết khách hàng"]</label>
                                <div id="SLD_CustomerInfo"
                                    class="border-dashed border-1 border-secondary border-radius-md px-3 text-center">
                                    <div class="" style="min-height: 38px">
                                        <div class="m-1 w-100 d-inline-flex align-items-center">
                                            <span class="ms-auto badge badge-md bg-gradient-dark " id="SLD_CustInfo_Area" style="display: none">
                                                <a id="SLD_CustInfo_Code" data-id="0" target="_blank"></a>
                                                <span id="SLD_CustInfo_Name" class="ps-3 text-wrap"></span>
                                            </span>
                                            <span class="ms-auto">
                                                <i id="SLD_btnCustInfo_Clear" class="opacity-1 mt-2 fa-minus-circle fas" onclick="event.preventDefault(); SDetail_ClearSearching()"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 mt-2 pt-1" id="SLD_LinkedCust_Area">
                                <div class="m-0 mobile-responsive overflow-y"  style="max-height: 280px">
                                    <div id="loaderCustLinkedList" class="waitingdiv text-center" style="display: none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>

                                    <label>@Local["Danh sách khách hàng liên kết"]</label>
                                    <table class="table vt-table mb-0" id="SLD_dtContentCust">
                                        <thead>
                                            <tr>
                                                <th class="d-none">CusID</th>
                                                <th style="width: 40px">#</th>
                                                <th>@Local["Mã khách hàng"]</th>
                                                <th>@Local["Khách hàng"]</th>
                                                <th>@Local["Số điện thoại"]</th>
                                            </tr>
                                        </thead>
                                        <tbody id="SLD_dtContentCustBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault();return SDetail_CloseDetail();">@Local["Đóng"]</button>
                        <button id="" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();return SDetail_Executed();">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    let SLD_CurrentID = Number("@Model.CurrentID");
    let SLD_AvatarString = Master_Default_Pic;
    let SLD_UrlAvatar = "/Api/Upload/Upload?Type=AvatarStudent";
    let SLD_IsSearchCust = true;
    let SLD_objDataCust = {};
    let xhrSearchCustomer;
    $(document).ready(function () {
        SDetail_LoadCombo();
        if (SLD_CurrentID != 0) {
            $('#SLD_LinkedCust_Area').hide();
            SLD_IsSearchCust = false;
            SDetail_Load();
        }
        AjaxUpload(url = SLD_UrlAvatar, inputid = 'SLD_AvatarFile'
            , success = function (data) {
                if (data != "0") {
                    SLD_AvatarString = data;
                    $('#SLD_AvatarUpload').attr('src', SLD_AvatarString);
                }
                else notiError_SW();
            }
            , error = function () { notiError_SW(); }
        );
    })

    //#region //LOAD

    function SDetail_LoadCombo() {
        AjaxLoad(url = "/Student/Student/StudentDetail/?handler=LoadCombo"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);

                    Load_Combo(data.Gender, "SLD_CbbGender", false);
                    Load_Combo(data.Source, "SLD_CbbSource", false);
                    $("#SLD_Gender").dropdown("refresh");
                    $("#SLD_Source").dropdown("refresh");

                    $('#SLD_Birthday').date_validate()

                }
            }
        );
    }

    function SDetail_Load() {
        AjaxLoad(url = "/Student/Student/StudentDetail/?handler=LoadDetail"
            , data = {
                "CurrentID": SLD_CurrentID
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data && data.length > 0) {
                        SDetail_FillData(data[0], isUpdate = true);
                    }
                }
            }
        );
    }

    function SDetail_FillData(item, isUpdate = false) {
        if (item && Object.keys(item).length > 0) {

            if (isUpdate) {
                SDetail_CheckAllowFill(item);
                $("#SLD_Note").val(item?.Note ?? '');
                $("#SLD_AvatarUpload").attr("src", item.Avatar);
                SLD_AvatarString = item.Avatar;

                $("#SLD_Code").val(item.Code);
                $("#SLD_Name").val(item.Name);
                $("#SLD_Email").val(item.Email);
                $("#SLD_Address").val(item.Address);
                $("#SLD_Source").dropdown("set selected", item.SourceID);
                $("#SLD_Gender").dropdown("set selected", item.GenderID);
                $("#SLD_Phone").val(item.Phone);
                $("#SLD_Birthday").val(ConvertDateTimeUTC_DMY(item.Birthday));
                $("#SLD_Identity").val(item.Identity_Card);
            }
            else {
                if (!$("#SLD_AvatarUpload").attr('data-isallow')) $("#SLD_AvatarUpload").attr("src", item.Avatar);
                if (!$("#SLD_AvatarUpload").attr('data-isallow')) SLD_AvatarString = item.Avatar;
                if (!$("#SLD_Code").attr('data-isallow')) $("#SLD_Code").val(item.CustCode);
                if (!$("#SLD_Name").attr('data-isallow')) $("#SLD_Name").val(item.CustName);
                if (!$("#SLD_Email").attr('data-isallow')) $("#SLD_Email").val(item.Email);
                if (!$("#SLD_Address").attr('data-isallow')) $("#SLD_Address").val(item.Address);
                if (!$("#SLD_Gender").attr('data-isallow')) $("#SLD_Gender").dropdown("set selected", item.GenderID);
                if (!$("#SLD_Phone").attr('data-isallow')) $("#SLD_Phone").val(item.Phone);
                if (!$("#SLD_Birthday").attr('data-isallow')) $("#SLD_Birthday").val(ConvertDateTimeUTC_DMY(item.Birthday)); 
                if (!$("#SLD_Identity").attr('data-isallow')) $("#SLD_Identity").val(item.Identity_Card);
                if (!$("#SLD_Note").attr('data-isallow')) $("#SLD_Note").val(item.Note);
            }

            $('#SLD_CustInfo_Area').show();
            $('#SLD_CustInfo_Code').html(item.CustCode);
            $('#SLD_CustInfo_Code').attr('src', `/Customer/MainCustomer?CustomerID=${item.CustID}&ver=${versionofWebApplication}`);
            $('#SLD_CustInfo_Code').attr('data-id', item.CustID);
            $('#SLD_CustInfo_Name').html(item.CustName);
            $("#SLD_btnCustInfo_Clear").removeClass('opacity-1');
        }
    }

    function SDetail_CheckAllowFill(item) {
        if (item.Avatar != "") $("#SLD_AvatarUpload").attr('data-isallow', true);
        if (item.Code != "") $("#SLD_Code").attr('data-isallow', true);
        if (item.Name != "") $("#SLD_Name").attr('data-isallow', true);
        if (item.Email != "") $("#SLD_Email").attr('data-isallow', true);
        if (item.Address != "") $("#SLD_Address").attr('data-isallow', true);
        if (item.SourceID != "") $("#SLD_Source").attr('data-isallow', true);
        if (item.GenderID != "") $("#SLD_Gender").attr('data-isallow', true);
        if (item.Phone != "") $("#SLD_Phone").attr('data-isallow', true);
        if (item.Birthday != "") $("#SLD_Birthday").attr('data-isallow', true);
        if (item.Identity_Card != "") $("#SLD_Identity").attr('data-isallow', true);
        if (item.Note != "") $("#SLD_Note").attr('data-isallow', true);
    }

    //#endreigon

    //#region // LINKED CUSTOMER

    async function SDetail_SearchCustomer() {
        new Promise(() => {
            SLD_objDataCust = {};
            if (xhrSearchCustomer && xhrSearchCustomer.readyState != 4) xhrSearchCustomer.abort();

            var textSearch = $("#SLD_Phone").val() ? xoa_dau(($("#SLD_Phone").val().replace(/[^a-zA-Z0-9 ]/g, '')).trim()).toLowerCase() : "";
            if (textSearch.length > 3 && SLD_IsSearchCust) {
                xhrSearchCustomer = AjaxLoad(url = "/Student/Student/StudentDetail/?handler=SearchCustomer"
                    , data = {
                        'TextSearch': textSearch
                    }
                    , async = true
                    , error = function () { notiError_SW() }
                    , success = function (result) {
                        if (result != "[]") {
                            let data = JSON.parse(result);
                            if (data && data.length > 0) {

                                SLD_objDataCust = data.reduce((pre, arr) => { if (arr.CustID) pre[arr.CustID] = arr; return pre }, {});
                                SDetail_LinkedCust_Render(data, 'SLD_dtContentCustBody')
                            }
                        }
                    }
                    , sender = null
                    , before = function (e) {
                        $("#loaderCustLinkedList").show();
                    }
                    , complete = function (e) {
                        $("#loaderCustLinkedList").hide();
                    }
                );
            }
            else {
                $("#loaderCustLinkedList").hide();
            }
        })
    }

    async function SDetail_LinkedCust_Render(data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = `
                            <tr class="vt-number">
                                <td class="d-none">${item.CustomerID}</td>
                                <td class="vt-number-order"></td>
                                <td >
                                    <div class="d-flex px-2 py-0">
                                        <div class="form-check pt-1">
                                            <input id="SDetail_LinkedCust_${item.CustID}" name="custinfo" class="form-check-input custinfo" type="radio" value="${item.CustID}"
                                                   data-phone="${item.Phone}" data-code="${item.CustCode}" data-name="${item.CustName}" />
                                                <label for="SDetail_LinkedCust_${item.CustID}" class="mb-0 cursor-pointer fw-bold">${item.CustCode}</label>
                                        </div>
                                    </div>
                                </td>
                                <td >${item.CustName}</td>
                                <td >${item.Phone}</td>
                            </tr>
                        `
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
                SDetail_LinkedCust_Event();
            }
        })
    }

    function SDetail_LinkedCust_Event() {

        $('input[name="custinfo"]').bind('change').on('change', function () {
            let checkCust = $('input[name="custinfo"]:checked');
            let id = checkCust.val() ?? 0;
            checkCust.closest('tr').addClass('active').siblings('tr').removeClass("active");

            SDetail_FillData(SLD_objDataCust[id]);
        })

    }

    function SDetail_ClearSearching(){
        SLD_IsSearchCust = true;
        $('#SLD_dtContentCustBody tr').removeClass("active");
        $('input[name="custinfo"]').prop('checked', false);
        $("#SLD_btnCustInfo_Clear").addClass('opacity-1');
        $('#SLD_CustInfo_Area').hide();
        $('#SLD_LinkedCust_Area').show();
        $('#SLD_CustInfo_Code').html('');
        $('#SLD_CustInfo_Code').attr('src', '');
        $('#SLD_CustInfo_Code').attr('data-id', 0);
        $('#SLD_CustInfo_Name').html('');
    }
    //#endregion

    //#region //EXECUTED

    function SDetail_Executed() {

        let data = {};
        let CustomerID = $('#SLD_CustInfo_Code').attr('data-id') ?? 0;
        data.Avatar = (SLD_AvatarString != Master_Default_Pic ? SLD_AvatarString : "")
        data.Code = $("#SLD_Code") ? $("#SLD_Code").val().trim() : "";
        data.Name = $("#SLD_Name") ? $("#SLD_Name").val() : "";
        data.Email = $("#SLD_Email") ? $("#SLD_Email").val() : "";
        data.Address = $("#SLD_Address") ? $("#SLD_Address").val() : "";
        //$("#SLD_Source").dropdown("refresh");
        data.Source = $("#SLD_Source").dropdown('get value') ? Number($("#SLD_Source").dropdown('get value')) : 0;
        //$("#SLD_Gender").dropdown("refresh");
        data.Gender = $("#SLD_Gender").dropdown('get value') ? Number($("#SLD_Gender").dropdown('get value')) : 0;
        data.Phone = $("#SLD_Phone") ? $("#SLD_Phone").val().trim() : "";
        data.Birthday = $("#SLD_Birthday") ? formatBirthday($('#SLD_Birthday').val()) : "";
        data.Identity = $("#SLD_Identity") ? $("#SLD_Identity").val() : "";
        data.Note = $("#SLD_Note") ? $("#SLD_Note").val() : "";
        data.NameNoSign = xoa_dau((data.Name).toLowerCase());
        data.CustomerID = CustomerID;

        $('#form3').form('validate form')
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Student/Student/StudentDetail/?handler=Executed"
                , data = {
                    "data": JSON.stringify(data)
                    , "CurrentID": SLD_CurrentID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data[0].RESULT != -1) {
                            notiSuccess();
                            SDetail_CloseDetail();
                            if (typeof SList_Load === "function") SList_Load(1, SLD_CurrentID);
                            if (typeof Genstu_Load === "function") Genstu_Load();
                        }
                        else notiWarning("@Local["Trùng mã hoặc số điện thoại"]");
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
        }
    }
    //#endregion

    //#region // OTHER

    function SDetail_CloseDetail() {
        if (typeof SList_CloseDetail === 'function') SList_CloseDetail();
        if (typeof Genstu_CloseDetail === 'function') Genstu_CloseDetail();
    }

    //#endregio
</script>
<script>js_require('/js/customjs/custom-validation.js');</script>