@page
@model MLunarCoffee.Pages.ChangeBranch.ChangeBranchModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="row">
    <div class="col-12">
        <div class="card d-flex align-items-center" >
            <div class="col-sm-12 col-md-10 col-lg-8 my-0 my-lg-3">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Đổi chi nhánh"]</h6>
                                <p class="text-sm mb-0">@Local["Màn hình đổi chi nhánh"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 mt-3">
 
                    <div class="bg-gradient-warning text-white p-2 rounded-2">@Local["Đổi chi nhánh. Chi nhánh có thể đổi phụ thuộc vào phân quyền của tài khoản"]</div>
                    <div class="row px-1 form3" id="changeBranchDetail">
                        <div class="field col-12 col-md-12 px-2  mt-3">
                            <div class="ui fluid search selection dropdown form-control" onchange="ChangeBranch_Raise()" id="BranchChange">
                                <input type="hidden" name="branch" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg . @Local["Chi nhánh"]</div>
                                <div id="cbbBranchChange" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="border-radius-xl bg-white pb-1 p-3 px-2 mx-1 mt-3">
                            <h6 class="text-dark mb-0">@Local["Chọn phòng"]</h6>
                            <p class="text-primary mb-0 text-sm">@Local["Chọn phòng làm việc"]</p>
                        </div>
                        <div class="field col-12 col-md-6 px-2  mt-2">
                            <div class="input-group w-100">
                                <span class="input-group-text w-30">
                                    @Local["Tầng"]
                                </span>
                                <div class="input-group-text p-0  w-70">
                                    <div class="ui fluid search selection dropdown border-0 form-control" onchange="bc_flchange()" id="bc_floor">
                                        <input type="hidden" name="floor" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="cbbbc_floor" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 col-md-6 px-2  mt-2">
                            <div class="input-group w-100" >
                                <span class="input-group-text w-30">
                                    @Local["Phòng"]
                                </span>
                                <div class="input-group-text p-0  w-70">
                                    <div class="ui fluid search selection border-0 dropdown form-control" id="bc_room">
                                        <input type="hidden" name="room" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg . @Local["Phòng"]</div>
                                        <div id="cbbc_room" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="changeBranchDetail" onclick="CloseModal()">@Local["Đóng"]</button>
                            <button id="savechangeBranchDetail" form="changeBranchDetail" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ChangeBranch_ExcuteData()">@Local["Lưu"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    let ser_CurrentBranch = "@Model._CurrentBranch";
    let ser_CurrentFloor = "@Model._CurrentFloor";
    let ser_CurrentRoom = "@Model._CurrentRoom";

    let ser_cbfloor = [];
    let ser_cbroom = [];
    $(document).ready(function () {
        ChangeBranch_Initialize();
    });
    function ChangeBranch_Initialize() {
        AjaxLoad(url = "/ChangeBranch/ChangeBranch/?handler=InitializeComboType"
            , data = { }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                Load_Combo(data, "cbbBranchChange", true);
                $("#BranchChange").dropdown("refresh");
                $("#BranchChange").dropdown("set selected", Number(ser_CurrentBranch));
            }
        );
    }
    function ChangeBranch_Raise () {
        let branch = Number($('#BranchChange').dropdown('get value')) ? Number($('#BranchChange').dropdown('get value')) : 0;
        ChangeBranch_LoadRoom(branch);
    }
    function bc_flchange () {
        let _floor = Number($('#bc_floor').dropdown('get value')) ? Number($('#bc_floor').dropdown('get value')) : 0;
        if (_floor == 0) {
            Load_Combo(ser_cbroom, "cbbc_room", false);
            $("#bc_room").dropdown("refresh");
            $("#bc_room").dropdown("clear");
        }
        else {
            let _froom = ser_cbroom.filter(word => {return word["LevelID"] == _floor});
            Load_Combo(_froom, "cbbc_room", false);
            $("#bc_room").dropdown("refresh");
            $("#bc_room").dropdown("clear");
        }
    }
    function ChangeBranch_LoadRoom (branch) {
        AjaxLoad(url = "/ChangeBranch/ChangeBranch/?handler=LoadRoom"
            , data = {'BranchID': branch}
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                let datas = JSON.parse(result);
                ser_cbfloor = datas.Floor;
                ser_cbroom = datas.Room;
                if (ser_cbfloor != undefined) {
                    Load_Combo(ser_cbfloor, "cbbbc_floor", false);
                    $("#bc_floor").dropdown("refresh");
                    $("#bc_floor").dropdown("clear");
                    $("#bc_floor").dropdown("set selected", Number(ser_CurrentFloor));
                }
                if (ser_cbroom != undefined ) {
                    Load_Combo(ser_cbroom, "cbbc_room", false);
                    $("#bc_room").dropdown("refresh");
                    $("#bc_room").dropdown("clear");
                    $("#bc_room").dropdown("set selected", Number(ser_CurrentRoom));
                }
            }
        );
    }
    function ChangeBranch_ExcuteData () {
   
        let branch = Number($('#BranchChange').dropdown('get value')) ? Number($('#BranchChange').dropdown('get value')) : 0;
        let floor = Number($('#bc_floor').dropdown('get value')) ? Number($('#bc_floor').dropdown('get value')) : 0;
        let room = Number($('#bc_room').dropdown('get value')) ? Number($('#bc_room').dropdown('get value')) : 0;
        $('#changeBranchDetail').form('validate form');
        if ($('#changeBranchDetail').form('is valid')) {
            AjaxLoad(url = "/ChangeBranch/ChangeBranch/?handler=ExcuteData"
                , data = {'branch': branch, 'floorid': floor, 'roomid': room }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        if (typeof Master_Update_Branch == 'function') {
                            Master_Update_Branch();
                        }
                    } else {
                        notiError_SW();
                    }
                }
            );
            CloseModal();
        }
        return false;
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

