@page
@model MLunarCoffee.Pages.Report.Permission.ByUser.PerEditDetailModel
@{
    Layout = null;
}
<div class="ped_MasterContainer">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">

        </div>
        <div class="right">
            <div class="text-primary fw-bold d-inline mx-2 text-nowrap mt-1">
                <span id="ped_currentData">0</span>
                <span class="mx-2">/</span>
                <span id="ped_totalData">0</span>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#ped_dtUserArea" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return ped_loadData()"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Xuất excel"]">
                <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                   onclick="event.preventDefault(); return ped_Export()"></i>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="ped_dtUserArea">
        <div class="card-body px-0 pt-0">
            <div id="ped_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="ped_viewuser">
                <div class="m-0 my-3 mobile-responsive position-relative vt-header-sticky vt-hs-height overflow-auto">
                    <table class="table vt-table mb-0" id="ped_dtUser">
                        <thead id="ped_tbHeader">
                            <tr id="ped_Row_Parrent" role="row">
                            </tr>
                            <tr id="ped_Row_Child" role="row">
                            </tr>
                        </thead>
                        <tbody id="ped_dtUserBody">
                        </tbody>
                    </table>
                </div>
                <button class="btnsysmore btn btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return ped_RenderMore();">
                    @Local["Xem thêm"]
                </button>
            </div>
            <div id="ped_viewrole" class="d-none">
                <div class="m-0 my-3 mobile-responsive position-relative vt-header-sticky vt-hs-height overflow-auto">
                    <table data-name="ped_dtRole" class="table vt-table mb-0" id="ped_dtRole">
                        <thead>
                            <tr>
                                <th style="width: 60px">#</th>
                                <th>@Local["Nhóm phân quyền"]</th>
                                <th>@Local["Phân quyền"]</th>
                                <th>@Local["Nhóm"]</th>
                                <th>@Local["Nhân viên"]</th>
                            </tr>
                        </thead>
                        <tbody id="ped_dtRoleBody">
                        </tbody>
                    </table>
                </div>
                <button class="btnsysmore btn btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return ped_RenderMore();">
                    @Local["Xem thêm"]
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //#region //INIT - DECLARE
    let ped_DataEditMain, ped_DataEditMainSlice;
    let ped_xhrLoadDetail;
    let ped_IndexEdit = 0;
    let ped_timeoutCount;
    let ped_objRole = {};
    let ped_dataRole = [...pug_DataAllAction];
    let ped_groupUserID = -1;
    let ped_groupID = -1;
    let ped_menuID = -1;
    let ped_idTableBody = '';
    let ped_idTable = '';
    let ped_blocknum = 20;
    $(document).ready(function () {
        ToolPopper();
        if (pug_serView == "user") {
            ped_idTableBody = 'ped_dtUserBody';
            ped_renderHeader(ped_dataRole, 'ped_Row_Parrent', 'ped_Row_Child');
            ped_blocknum = 100;
        }
        else {
            ped_idTableBody = 'ped_dtRoleBody';
            ped_blocknum = 50;
        }
        ped_idTable = $(`#${ped_idTableBody}`).closest('table').attr('id');
        ped_loadData();
        Checking_TabControl_Permission();
    });
    //#endregion

    //#region //LOADDATA
    function ped_loadData() {
        if (ped_xhrLoadDetail && ped_xhrLoadDetail.readyState != 4) ped_xhrLoadDetail.abort();
        $(`#${ped_idTableBody}`).empty();
        ped_IndexEdit = 0;
        ped_DataEditMain = [];
        ped_DataEditMainSlice = {};
        ped_groupUserID = -1;
        ped_menuID = -1;
        ped_groupID = -1;
        AjaxLoad(url = "/Report/Permission/ByUser/PerEditDetail/?handler=Loadata"
            , data = {
                'dataGroup': JSON.stringify(pug_DataUserGroup),
                'dataEdit': JSON.stringify(pug_DataAllAction),
            }
            , async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let dataUser = [...pug_DataUser]

                    ped_objRole = data.reduce((pre, arr) => { if (arr["ID"] && arr["UserGroup"]) pre[`${arr["UserGroup"]}_${arr["ID"]}`] = arr; return pre }, {})

                    switch (pug_serView) {
                        case "user":
                            $('#ped_viewuser').removeClass('d-none');
                            $('#ped_viewrole').addClass('d-none');
                            ped_DataEditMain = JSON.parse(JSON.stringify(dataUser));
                            ped_DataEditMainSlice = sliceIntoChunks(dataUser, 200);
                            fnRenderBlock(ped_DataEditMainSlice[ped_IndexEdit], ped_idTableBody
                                , blocknum = ped_blocknum
                                , fnrender = ped_renderdata
                                , fnsuccess = null
                            );
                            Count_Up("ped_totalData", ped_DataEditMain.length);
                            break;
                        case "role":
                            $('#ped_viewrole').removeClass('d-none');
                            $('#ped_viewuser').addClass('d-none');
                            data.sort((a, b) => {
                                if ((a?.GroupID ?? 0) < (b?.GroupID ?? 0)) return -1;
                                if ((a?.GroupID ?? 0) > (b?.GroupID ?? 0)) return 1;

                                if ((a?.ID ?? 0) < (b?.ID ?? 0)) return -1;
                                if ((a?.ID ?? 0) > (b?.ID ?? 0)) return 1;
                                // Both idential, return 0
                                return 0;
                            });
                            ped_DataEditMain = JSON.parse(JSON.stringify(data));
                            ped_DataEditMainSlice = sliceIntoChunks(data, 100);
                            fnRenderBlock(ped_DataEditMainSlice[ped_IndexEdit], ped_idTableBody
                                , blocknum = ped_blocknum
                                , fnrender = ped_renderdata
                                , fnsuccess = null
                            );
                            Count_Up("ped_totalData", ped_DataEditMain.length);
                            break;
                    }
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
            , before = function (e) {
                $('#ped_LoaderList').show();
                $('#ped_dtUser').addClass('d-none');
            }
            , complete = function (e) {
                $('#ped_LoaderList').hide();
                $('#ped_dtUser').removeClass('d-none');
            }
        );
        return false;
    }

    function ped_RenderMore() {
        ped_IndexEdit += 1;
        if (ped_DataEditMainSlice && ped_DataEditMainSlice[ped_IndexEdit]) {
            fnRenderBlock(ped_DataEditMainSlice[ped_IndexEdit], ped_idTableBody
                , blocknum = ped_blocknum
                , fnrender = ped_renderdata
                , fnsuccess = null
            );
        }
    }

    //#endregion

    //#region //RENDER
    async function ped_renderHeader(data, idGroup, id) {
        return new Promise(resolve => {
            setTimeout(() => {

                var myNodeGroup = document.getElementById(idGroup);
                var myNode = document.getElementById(id);
                if (myNode != null & myNodeGroup != null) {
                    if (data && data.length != 0) {
                        let groupID = -1, colspan = 0;
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            if ((groupID != - 1 && groupID != item.GroupID)) {
                                $(`.ped_group_${groupID}`).attr('colspan', colspan)
                            }

                            if (groupID != item.GroupID) {
                                let trGroup = `<th rowspan="1" class="ped_group_${item.GroupID}  class="vtt-filter no-sort"" style="min-width: 150px">${Outlang[item.GroupNameLangKey] ?? item.GroupName}</th>`;
                                myNodeGroup.insertAdjacentHTML('beforeend', trGroup);
                                groupID = item.GroupID;
                                colspan = 0;
                            }
                            colspan++;
                            if (i == data.length - 1) {
                                $(`.ped_group_${groupID}`).attr('colspan', colspan);
                                let trGroup = `<th rowspan="2">#</th>
                                               <th class="" rowspan="2" style="min-width: 150px">@Local["Nhóm"]</th>
                                               <th class="" rowspan="2" style="min-width: 150px">@Local["Nhân viên"]</th>`;
                                myNodeGroup.insertAdjacentHTML('afterbegin', trGroup);
                            }
                            let tr = `<th id="${item.ID}"  rowspan="1" class="ped_groupchild_${item.GroupID}" style="min-width: 250px">${Outlang[item.NameLangKey] ?? item.Name}</th>`

                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                resolve();
            }, 10)

        })
    }

    async function ped_renderdata(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {

                    if (data && data.length != 0) {
                        for (let i = 0; i < data.length; i++) {
                            let tr = '';
                            let item = data[i];
                            switch (pug_serView) {
                                case "user":
                                    tr = ped_renderEachUser(item);
                                    break;
                                case "role":
                                    tr = ped_renderEachRole(item);
                                    break;
                            }

                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                clearTimeout(ped_timeoutCount);
                ped_timeoutCount = setTimeout(() => {
                    Count_Up("ped_currentData", $("#" + id).children().length);
                }, 300);
                $('#' + ped_idTable).tablesort();
                resolve();
            }, 10)

        })
    }

    function ped_renderEachUser(item) {
        let tr = '';
        let tdGroup = '';
        if (ped_groupUserID != item.GroupID) {
            ped_groupUserID = item.GroupID;
            let objGroup = Fun_GetObject_ByID(pug_objUserGroup, item.GroupID);
            let rowspan = objGroup.totalUser;
            tdGroup = `<td id="ped_ug${item.GroupID}" rowspan="${rowspan}">${Fun_GetName_ByID(pug_objUserGroup, item.GroupID)}</td>`;
        }
        for (let j = 0; j < ped_dataRole.length; j++) {
            let itemHeader = ped_dataRole[j];
            let isBlock = ped_objRole[`${item.GroupID}_${itemHeader.ID}`]?.isBlock ?? 1;
            tr += ` <td class="ped_ug${item.GroupID} text-center">${isBlock == 1 ? '' : '<i class="fas fa-check text-success"></i><span class="opacity-0">x<span>'}</td>`;
        }
        tr = `<tr id="ped_user_${item.ID}" class="vt-number">
                                 <td class="vt-number-order"></td>
                                 ${tdGroup}
                                 <td>${item.Name}</td>
                                 ${tr}
                            </tr>`;
        return tr;
    }

    function ped_renderEachRole(item) {
        let tr = '';
        let data = pug_objUserByGroup[item.UserGroup];
        for (let i = 0; i < (data?.length ?? 0); i++) {
            let itemUser = data[i]
            let tdGroup = '';
            let tdEdit = '';
            if (ped_groupID != item.GroupID) {
                ped_groupID = item.GroupID;
                let dataGroup = ped_DataEditMain.filter(e => e.GroupID == item.GroupID);
                let rowspanG = dataGroup.reduce((pre, arr) => {
                    pre += Fun_GetObject_ByID(pug_objUserGroup, arr.UserGroup).totalUser
                    return pre;
                }, 0);
                tdGroup = `<td id="ped_ug${item.GroupID}" rowspan="${rowspanG}">${Outlang[item.GroupNameLangKey] ?? item.GroupName}</td>`;
            }
            if (ped_menuID != item.ID) {
                ped_menuID = item.ID;
                let dataEdit = ped_DataEditMain.filter(e => item.ID == e.ID);
                let rowspanM = dataEdit.reduce((pre, arr) => {
                    pre += Fun_GetObject_ByID(pug_objUserGroup, arr.UserGroup).totalUser
                    return pre;
                }, 0);
                tdEdit = `<td id="ped_ugEdit${item.ID}" rowspan="${rowspanM}">${Outlang[item.NameLangKey] ?? item.Name}</td>`;
            }
            tr += `<tr id="ped_role_${itemUser.ID}_${item.ID}" class="vt-number">
                                 <td class="vt-number-order"></td>
                                 ${tdGroup}
                                 ${tdEdit}
                                 <td >${Fun_GetName_ByID(pug_objUserGroup, itemUser.GroupID)}</td>
                                 <td>${itemUser.Name}</td>
                            </tr>`
        }

        return tr;
    }
    //#endregion

    //#region //EXPORT
    async function ped_Export() {
        syslog_ExpExcel('e', Outlang["Sys_phan_quyen_menu"]);

        await exportToExcel(ped_idTable, Outlang["Sys_phan_quyen_menu"]);
    }
    //#endregion
</script>
