@page
@model MLunarCoffee.Pages.Report.Permission.ByUser.PerMenuDetailModel
@{
    Layout = null;
}
<div class="pmd_MasterContainer">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">

        </div>
        <div class="right">
            <div class="text-primary fw-bold d-inline mx-2 text-nowrap mt-1">
                <span id="pmd_currentData">0</span>
                <span class="mx-2">/</span>
                <span id="pmd_totalData">0</span>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#pmd_dtUserArea" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return pmd_loadData()"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Xuất excel"]">
                <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                   onclick="event.preventDefault(); return pmd_Export()"></i>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="pmd_dtUserArea">
        <div class="card-body px-0 pt-0">
            <div id="pmd_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="pmd_viewuser">
                <div class="m-0 my-3 mobile-responsive position-relative vt-header-sticky vt-hs-height overflow-auto">
                    <table class="table vt-table mb-0" id="pmd_dtUser">
                        <thead id="pmd_tbHeader">
                            <tr id="pmd_Row_Parrent" role="row">
                            </tr>
                            <tr id="pmd_Row_Child" role="row">
                            </tr>
                        </thead>
                        <tbody id="pmd_dtUserBody">
                        </tbody>
                    </table>
                </div>
                <button class="btnsysmore btn btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return pmd_RenderMore();">
                    @Local["Xem thêm"]
                </button>
            </div>
            <div id="pmd_viewrole" class="d-none">
                <div class="m-0 my-3 mobile-responsive position-relative vt-header-sticky vt-hs-height overflow-auto">
                    <table data-name="pmd_dtRole" class="table vt-table mb-0" id="pmd_dtRole">
                        <thead>
                            <tr>
                                <th style="width: 60px">#</th>
                                <th>@Local["Nhóm phân quyền"]</th>
                                <th>@Local["Phân quyền"]</th>
                                <th>@Local["Nhóm"]</th>
                                <th>@Local["Nhân viên"]</th>
                            </tr>
                        </thead>
                        <tbody id="pmd_dtRoleBody">
                        </tbody>
                    </table>
                </div>
                <button class="btnsysmore btn btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return pmd_RenderMore();">
                    @Local["Xem thêm"]
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //#region //INIT - DECLARE
    let pmd_DataReportMain, pmd_DataReportMainSlice;
    let pmd_xhrLoadDetail;
    let pmd_IndexReport = 0;
    let pmd_timeoutCount;
    let pmd_objRole = {};
    let pmd_dataRole = [...pug_DataAllMenu];
    let pmd_groupUserID = -1;
    let pmd_groupID = -1;
    let pmd_menuID = -1;
    let pmd_idTableBody = '';
    let pmd_idTable = '';
    let pmd_blocknum = 20;
    $(document).ready(function () {
        ToolPopper();
        if (pug_serView == "user") {
            pmd_idTableBody = 'pmd_dtUserBody';
            pmd_renderHeader(pmd_dataRole, 'pmd_Row_Parrent', 'pmd_Row_Child');
            pmd_blocknum = 100;
        }
        else {
            pmd_idTableBody = 'pmd_dtRoleBody';
            pmd_blocknum = 50;
        }
        pmd_idTable = $(`#${pmd_idTableBody}`).closest('table').attr('id');
        pmd_loadData();
        Checking_TabControl_Permission();
    });
    //#endregion

    //#region //LOADDATA
    function pmd_loadData() {
        if (pmd_xhrLoadDetail && pmd_xhrLoadDetail.readyState != 4) pmd_xhrLoadDetail.abort();
        $(`#${pmd_idTableBody}`).empty();
        pmd_IndexReport = 0;
        pmd_DataReportMain = [];
        pmd_DataReportMainSlice = {};
        pmd_groupUserID = -1;
        pmd_menuID = -1;
        pmd_groupID = -1;
        AjaxLoad(url = "/Report/Permission/ByUser/PerMenuDetail/?handler=Loadata"
            , data = {
                'data': JSON.stringify(pug_DataUserGroup),
            }
            , async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let dataUser = [...pug_DataUser]
                    
                    pmd_objRole = data.reduce((pre, arr) => { if (arr["ID"] && arr["UserGroup"]) pre[`${arr["UserGroup"]}_${arr["ID"]}`] = arr; return pre }, {})
                    
                    switch (pug_serView) {
                        case "user":
                            $('#pmd_viewuser').removeClass('d-none');
                            $('#pmd_viewrole').addClass('d-none');
                            pmd_DataReportMain = JSON.parse(JSON.stringify(dataUser));
                            pmd_DataReportMainSlice = sliceIntoChunks(dataUser, 200);
                            fnRenderBlock(pmd_DataReportMainSlice[pmd_IndexReport], pmd_idTableBody
                                , blocknum = pmd_blocknum
                                , fnrender = pmd_renderdata
                                , fnsuccess = null
                            );
                            Count_Up("pmd_totalData", pmd_DataReportMain.length);
                            break;
                        case "role":
                            $('#pmd_viewrole').removeClass('d-none');
                            $('#pmd_viewuser').addClass('d-none');
                            data.sort((a, b) => {
                                if ((a?.GroupID ?? 0) < (b?.GroupID ?? 0)) return -1;
                                if ((a?.GroupID ?? 0) > (b?.GroupID ?? 0)) return 1;

                                if ((a?.ID ?? 0) < (b?.ID ?? 0)) return -1;
                                if ((a?.ID ?? 0) > (b?.ID ?? 0)) return 1;
                                // Both idential, return 0
                                return 0;
                            });
                            pmd_DataReportMain = JSON.parse(JSON.stringify(data));
                            pmd_DataReportMainSlice = sliceIntoChunks(data, 100);
                            fnRenderBlock(pmd_DataReportMainSlice[pmd_IndexReport], pmd_idTableBody
                                , blocknum = pmd_blocknum
                                , fnrender = pmd_renderdata
                                , fnsuccess = null
                            );
                            Count_Up("pmd_totalData", pmd_DataReportMain.length);
                            break;
                    }
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
            , before = function (e) {
                $('#pmd_LoaderList').show();
                $('#pmd_dtUser').addClass('d-none');
            }
            , complete = function (e) {
                $('#pmd_LoaderList').hide();
                $('#pmd_dtUser').removeClass('d-none');
            }
        );
        return false;
    }

    function pmd_RenderMore() {
        pmd_IndexReport += 1;
        if (pmd_DataReportMainSlice && pmd_DataReportMainSlice[pmd_IndexReport]) {
            fnRenderBlock(pmd_DataReportMainSlice[pmd_IndexReport], pmd_idTableBody
                , blocknum = pmd_blocknum
                , fnrender = pmd_renderdata
                , fnsuccess = null
            );
        }
    }

    //#endregion

    //#region //RENDER
    async function pmd_renderHeader(data, idGroup, id) {
        return new Promise(resolve => {
            setTimeout(() => {

                var myNodeGroup = document.getElementById(idGroup);
                var myNode = document.getElementById(id);
                if (myNode != null & myNodeGroup != null) {
                    if (data && data.length != 0) {
                        let groupID = -1, colspan = 0;
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            if ((groupID != - 1 && groupID != item.GroupID)) {
                                $(`.pmd_group_${groupID}`).attr('colspan', colspan)
                            }

                            if (groupID != item.GroupID) {
                                let trGroup = `<th rowspan="1" class="pmd_group_${item.GroupID}  class="vtt-filter no-sort"" style="min-width: 150px">${Outlang[item.GroupNameLangKey] ?? item.GroupName}</th>`;
                                myNodeGroup.insertAdjacentHTML('beforeend', trGroup);
                                groupID = item.GroupID;
                                colspan = 0;
                            }
                            colspan++;
                            if (i == data.length - 1) {
                                $(`.pmd_group_${groupID}`).attr('colspan', colspan);
                                let trGroup = `<th rowspan="2">#</th>
                                               <th class="" rowspan="2" style="min-width: 150px">@Local["Nhóm"]</th>
                                               <th class="" rowspan="2" style="min-width: 150px">@Local["Nhân viên"]</th>`;
                                myNodeGroup.insertAdjacentHTML('afterbegin', trGroup);
                            }
                            let tr = `<th id="${item.ID}"  rowspan="1" class="pmd_groupchild_${item.GroupID}" style="min-width: 150px">${Outlang[item.NameLangKey] ?? item.Name}</th>`

                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                resolve();
            }, 10)

        })
    }

    async function pmd_renderdata(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {

                    if (data && data.length != 0) {
                        for (let i = 0; i < data.length; i++) {
                            let tr = '';
                            let item = data[i];
                            switch (pug_serView) {
                                case "user":
                                    tr = pmd_renderEachUser(item);
                                    break;
                                case "role":
                                    tr = pmd_renderEachRole(item);
                                    break;
                            }
                             
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                clearTimeout(pmd_timeoutCount);
                pmd_timeoutCount = setTimeout(() => {
                    Count_Up("pmd_currentData", $("#" + id).children().length);
                }, 300);
                $('#' + pmd_idTable).tablesort();
                resolve();
            }, 10)

        })
    }

    function pmd_renderEachUser(item) {
        let tr = '';
        let tdGroup = '';
        if (pmd_groupUserID != item.GroupID) {
            pmd_groupUserID = item.GroupID;
            let objGroup = Fun_GetObject_ByID(pug_objUserGroup, item.GroupID);
            let rowspan = objGroup.totalUser;
            tdGroup = `<td id="pmd_ug${item.GroupID}" rowspan="${rowspan}">${Fun_GetName_ByID(pug_objUserGroup, item.GroupID)}</td>`;
        }
        for (let j = 0; j < pmd_dataRole.length; j++) {
            let itemHeader = pmd_dataRole[j];
            let isBlock = pmd_objRole[`${item.GroupID}_${itemHeader.ID}`]?.isBlock ?? 1;
            tr += ` <td class="pmd_ug${item.GroupID} text-center">${isBlock == 1 ? '' : '<i class="fas fa-check text-success"></i><span class="opacity-0">x<span>'}</td>`;
        }
        tr = `<tr id="pmd_user_${item.ID}" class="vt-number">
                                 <td class="vt-number-order"></td>
                                 ${tdGroup}
                                 <td>${item.Name}</td>
                                 ${tr}
                            </tr>`;
        return tr;
    }

    function pmd_renderEachRole(item) {
        let tr = '';
        let data = pug_objUserByGroup[item.UserGroup];
        for (let i = 0; i < (data?.length ?? 0); i++) {
            let itemUser = data[i]
            let tdGroup = '';
            let tdMenu = '';
            if (pmd_groupID != item.GroupID) {
                pmd_groupID = item.GroupID;
                let dataGroup = pmd_DataReportMain.filter(e => e.GroupID == item.GroupID);
                let rowspanG = dataGroup.reduce((pre, arr) => {
                    pre += Fun_GetObject_ByID(pug_objUserGroup, arr.UserGroup).totalUser
                    return pre;
                }, 0);
                tdGroup = `<td id="pmd_ug${item.GroupID}" rowspan="${rowspanG}">${Outlang[item.GroupNameLangKey] ?? item.GroupName}</td>`;
            }
            if (pmd_menuID != item.ID) {
                pmd_menuID = item.ID;
                let dataMenu = pmd_DataReportMain.filter(e => item.ID == e.ID);
                let rowspanM = dataMenu.reduce((pre, arr) => {
                    pre += Fun_GetObject_ByID(pug_objUserGroup, arr.UserGroup).totalUser
                    return pre;
                }, 0);
                tdMenu = `<td id="pmd_ugMenu${item.ID}" rowspan="${rowspanM}">${Outlang[item.NameLangKey] ?? item.Name}</td>`;
            }
            tr += `<tr id="pmd_role_${itemUser.ID}_${item.ID}" class="vt-number">
                                 <td class="vt-number-order"></td>
                                 ${tdGroup}
                                 ${tdMenu}
                                 <td >${Fun_GetName_ByID(pug_objUserGroup, itemUser.GroupID)}</td>
                                 <td>${itemUser.Name}</td>
                            </tr>`
        }
        
        return tr;
    }
    //#endregion

    //#region //EXPORT
    async function pmd_Export() {
        syslog_ExpExcel('e', Outlang["Sys_phan_quyen_menu"]);
        
        await exportToExcel(pmd_idTable, Outlang["Sys_phan_quyen_menu"]);
    }
    //#endregion
</script>