@page
@model MLunarCoffee.Pages.Report.Permission.ByUser.PerReportDetailModel
@{
    Layout = null;
}
<div class="prd_MasterContainer">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">

        </div>
        <div class="right">
            <div class="text-primary fw-bold d-inline mx-2 text-nowrap mt-1">
                <span id="prd_currentData">0</span>
                <span class="mx-2">/</span>
                <span id="prd_totalData">0</span>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#prd_dtUserArea" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return prd_loadData()"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local[" Xuất excel"]">
                <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                   onclick="event.preventDefault(); return prd_Export()"></i>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="prd_dtUserArea">
        <div class="card-body px-0 pt-0">
            <div id="prd_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="prd_viewuser">
                <div class="m-0 my-3 mobile-responsive position-relative vt-header-sticky vt-hs-height overflow-auto">
                    <table class="table vt-table mb-0" id="prd_dtUser">
                        <thead id="prd_tbHeader">
                            <tr id="prd_Row_Parrent" role="row">
                            </tr>
                            <tr id="prd_Row_Child" role="row">
                            </tr>
                        </thead>
                        <tbody id="prd_dtUserBody">
                        </tbody>
                    </table>
                </div>
                <button class="btnsysmore btn btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return prd_RenderMore();">
                    @Local["Xem thêm"]
                </button>
            </div>
            <div id="prd_viewrole" class="d-none">
                <div class="m-0 my-3 mobile-responsive position-relative vt-header-sticky vt-hs-height overflow-auto">
                    <table data-name="prd_dtRole" class="table vt-table mb-0" id="prd_dtRole">
                        <thead>
                            <tr>
                                <th style="width: 60px">#</th>
                                <th>@Local["Nhóm phân quyền"]</th>
                                <th>@Local["Phân quyền"]</th>
                                <th>@Local["Nhóm"]</th>
                                <th>@Local["Nhân viên"]</th>
                            </tr>
                        </thead>
                        <tbody id="prd_dtRoleBody">
                        </tbody>
                    </table>
                </div>
                <button class="btnsysmore btn btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return prd_RenderMore();">
                    @Local["Xem thêm"]
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //#region //INIT - DECLARE
    let prd_DataReportMain, prd_DataReportMainSlice;
    let prd_xhrLoadDetail;
    let prd_IndexReport = 0;
    let prd_timeoutCount;
    let prd_objRole = {};
    let prd_dataRole = [...pug_DataAllReport];
    let prd_groupUserID = -1;
    let prd_groupID = -1;
    let prd_menuID = -1;
    let prd_idTableBody = '';
    let prd_idTable = '';
    let prd_blocknum = 20;
    $(document).ready(function () {
        ToolPopper();
        if (pug_serView == "user") {
            prd_idTableBody = 'prd_dtUserBody';
            prd_renderHeader(prd_dataRole, 'prd_Row_Parrent', 'prd_Row_Child');
            prd_blocknum = 100;
        }
        else {
            prd_idTableBody = 'prd_dtRoleBody';
            prd_blocknum = 50;
        }
        prd_idTable = $(`#${prd_idTableBody}`).closest('table').attr('id');
        prd_loadData();
        Checking_TabControl_Permission();
    });
    //#endregion

    //#region //LOADDATA
    function prd_loadData() {
        if (prd_xhrLoadDetail && prd_xhrLoadDetail.readyState != 4) prd_xhrLoadDetail.abort();
        $(`#${prd_idTableBody}`).empty();
        prd_IndexReport = 0;
        prd_DataReportMain = [];
        prd_DataReportMainSlice = {};
        prd_groupUserID = -1;
        prd_menuID = -1;
        prd_groupID = -1;
        AjaxLoad(url = "/Report/Permission/ByUser/PerReportDetail/?handler=Loadata"
            , data = {
                'dataGroup': JSON.stringify(pug_DataUserGroup),
                'dataReport': JSON.stringify(pug_DataAllReport),
            }
            , async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let dataUser = [...pug_DataUser]

                    prd_objRole = data.reduce((pre, arr) => { if (arr["ID"] && arr["UserGroup"]) pre[`${arr["UserGroup"]}_${arr["ID"]}`] = arr; return pre }, {})

                    switch (pug_serView) {
                        case "user":
                            $('#prd_viewuser').removeClass('d-none');
                            $('#prd_viewrole').addClass('d-none');
                            prd_DataReportMain = JSON.parse(JSON.stringify(dataUser));
                            prd_DataReportMainSlice = sliceIntoChunks(dataUser, 200);
                            fnRenderBlock(prd_DataReportMainSlice[prd_IndexReport], prd_idTableBody
                                , blocknum = prd_blocknum
                                , fnrender = prd_renderdata
                                , fnsuccess = null
                            );
                            Count_Up("prd_totalData", prd_DataReportMain.length);
                            break;
                        case "role":
                            $('#prd_viewrole').removeClass('d-none');
                            $('#prd_viewuser').addClass('d-none');
                            data.sort((a, b) => {
                                if ((a?.GroupID ?? 0) < (b?.GroupID ?? 0)) return -1;
                                if ((a?.GroupID ?? 0) > (b?.GroupID ?? 0)) return 1;

                                if ((a?.ID ?? 0) < (b?.ID ?? 0)) return -1;
                                if ((a?.ID ?? 0) > (b?.ID ?? 0)) return 1;
                                // Both idential, return 0
                                return 0;
                            });
                            prd_DataReportMain = JSON.parse(JSON.stringify(data));
                            prd_DataReportMainSlice = sliceIntoChunks(data, 100);
                            fnRenderBlock(prd_DataReportMainSlice[prd_IndexReport], prd_idTableBody
                                , blocknum = prd_blocknum
                                , fnrender = prd_renderdata
                                , fnsuccess = null
                            );
                            Count_Up("prd_totalData", prd_DataReportMain.length);
                            break;
                    }
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
            , before = function (e) {
                $('#prd_LoaderList').show();
                $('#prd_dtUser').addClass('d-none');
            }
            , complete = function (e) {
                $('#prd_LoaderList').hide();
                $('#prd_dtUser').removeClass('d-none');
            }
        );
        return false;
    }

    function prd_RenderMore() {
        prd_IndexReport += 1;
        if (prd_DataReportMainSlice && prd_DataReportMainSlice[prd_IndexReport]) {
            fnRenderBlock(prd_DataReportMainSlice[prd_IndexReport], prd_idTableBody
                , blocknum = prd_blocknum
                , fnrender = prd_renderdata
                , fnsuccess = null
            );
        }
    }

    //#endregion

    //#region //RENDER
    async function prd_renderHeader(data, idGroup, id) {
        return new Promise(resolve => {
            setTimeout(() => {

                var myNodeGroup = document.getElementById(idGroup);
                var myNode = document.getElementById(id);
                if (myNode != null & myNodeGroup != null) {
                    if (data && data.length != 0) {
                        let groupID = -1, colspan = 0;
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            if ((groupID != - 1 && groupID != item.GroupID)) {
                                $(`.prd_group_${groupID}`).attr('colspan', colspan)
                            }

                            if (groupID != item.GroupID) {
                                let trGroup = `<th rowspan="1" class="prd_group_${item.GroupID}  class="vtt-filter no-sort"" style="min-width: 150px">${Outlang[item.GroupNameLangKey] ?? item.GroupName}</th>`;
                                myNodeGroup.insertAdjacentHTML('beforeend', trGroup);
                                groupID = item.GroupID;
                                colspan = 0;
                            }
                            colspan++;
                            if (i == data.length - 1) {
                                $(`.prd_group_${groupID}`).attr('colspan', colspan);
                                let trGroup = `<th rowspan="2">#</th>
                                               <th class="" rowspan="2" style="min-width: 150px">@Local["Nhóm"]</th>
                                               <th class="" rowspan="2" style="min-width: 150px">@Local["Nhân viên"]</th>`;
                                myNodeGroup.insertAdjacentHTML('afterbegin', trGroup);
                            }
                            let tr = `<th id="${item.ID}"  rowspan="1" class="prd_groupchild_${item.GroupID}" style="min-width: 150px">${Outlang[item.NameLangKey] ?? item.Name}</th>`

                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                resolve();
            }, 10)

        })
    }

    async function prd_renderdata(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {

                    if (data && data.length != 0) {
                        for (let i = 0; i < data.length; i++) {
                            let tr = '';
                            let item = data[i];
                            switch (pug_serView) {
                                case "user":
                                    tr = prd_renderEachUser(item);
                                    break;
                                case "role":
                                    tr = prd_renderEachRole(item);
                                    break;
                            }

                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                clearTimeout(prd_timeoutCount);
                prd_timeoutCount = setTimeout(() => {
                    Count_Up("prd_currentData", $("#" + id).children().length);
                }, 300);
                $('#' + prd_idTable).tablesort();
                resolve();
            }, 10)

        })
    }

    function prd_renderEachUser(item) {
        let tr = '';
        let tdGroup = '';
        if (prd_groupUserID != item.GroupID) {
            prd_groupUserID = item.GroupID;
            let objGroup = Fun_GetObject_ByID(pug_objUserGroup, item.GroupID);
            let rowspan = objGroup.totalUser;
            tdGroup = `<td id="prd_ug${item.GroupID}" rowspan="${rowspan}">${Fun_GetName_ByID(pug_objUserGroup, item.GroupID)}</td>`;
        }
        for (let j = 0; j < prd_dataRole.length; j++) {
            let itemHeader = prd_dataRole[j];
            let isBlock = prd_objRole[`${item.GroupID}_${itemHeader.ID}`]?.isBlock ?? 1;
            tr += ` <td class="prd_ug${item.GroupID} text-center">${isBlock == 1 ? '' : '<i class="fas fa-check text-success"></i><span class="opacity-0">x<span>'}</td>`;
        }
        tr = `<tr id="prd_user_${item.ID}" class="vt-number">
                                 <td class="vt-number-order"></td>
                                 ${tdGroup}
                                 <td>${item.Name}</td>
                                 ${tr}
                            </tr>`;
        return tr;
    }

    function prd_renderEachRole(item) {
        let tr = '';
        let data = pug_objUserByGroup[item.UserGroup];
        for (let i = 0; i < (data?.length ?? 0); i++) {
            let itemUser = data[i]
            let tdGroup = '';
            let tdReport = '';
            if (prd_groupID != item.GroupID) {
                prd_groupID = item.GroupID;
                let dataGroup = prd_DataReportMain.filter(e => e.GroupID == item.GroupID);
                let rowspanG = dataGroup.reduce((pre, arr) => {
                    pre += Fun_GetObject_ByID(pug_objUserGroup, arr.UserGroup).totalUser
                    return pre;
                }, 0);
                tdGroup = `<td id="prd_ug${item.GroupID}" rowspan="${rowspanG}">${Outlang[item.GroupNameLangKey] ?? item.GroupName}</td>`;
            }
            if (prd_menuID != item.ID) {
                prd_menuID = item.ID;
                let dataReport = prd_DataReportMain.filter(e => item.ID == e.ID);
                let rowspanM = dataReport.reduce((pre, arr) => {
                    pre += Fun_GetObject_ByID(pug_objUserGroup, arr.UserGroup).totalUser
                    return pre;
                }, 0);
                tdReport = `<td id="prd_ugReport${item.ID}" rowspan="${rowspanM}">${Outlang[item.NameLangKey] ?? item.Name}</td>`;
            }
            tr += `<tr id="prd_role_${itemUser.ID}_${item.ID}" class="vt-number">
                                 <td class="vt-number-order"></td>
                                 ${tdGroup}
                                 ${tdReport}
                                 <td >${Fun_GetName_ByID(pug_objUserGroup, itemUser.GroupID)}</td>
                                 <td>${itemUser.Name}</td>
                            </tr>`
        }

        return tr;
    }
    //#endregion

    //#region //EXPORT
    async function prd_Export() {
        syslog_ExpExcel('e', Outlang["Sys_phan_quyen_menu"]);

        await exportToExcel(prd_idTable, Outlang["Sys_phan_quyen_menu"]);
    }
    //#endregion
</script>
