@page
@model MLunarCoffee.Pages.Master.Master_TopModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require_notasync('/js/Shared/mastertop.js', true);</script>
<div class="container-fluid px-0 position-relative" id="Master_Top">
    <div class="d-flex align-items-center">
        <button class="togglenorm navbar-toggler shadow-none ms-n2 sidenav-toggler d-md-block" type="button" data-bs-toggle="collapse" aria-expanded="false">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div>
            <div class="d-flex _DeskDetailArea">
                <a class="nav-link text-primary fw-bold p-0 MS_DeskDetail px-1" title="@Local["Desk"]">
                    @Local["Realtime"]
                </a>
                <a id="Per_mastertop_checkin" class="nav-link fw-bold text-primary p-0 px-1 MS_CheckHR" title="@Local["CheckedIn"] / @Local["Check out"]">
                    @Local["CheckedIn"]
                </a>
                <a id="Per_mastertop_monitor" class="nav-link fw-bold text-primary p-0 px-1 MS_Monitor" title="@Local["Monitor"]">
                    @Local["Monitor"]
                </a>
            </div>
            <div class="d-none" id="Per_Dashboard">
                <a class="nav-link text-body p-0 MS_DashboardDetail">
                    <i data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Dashboard"]" class="fas fa-bezier-curve  text-md pe-4" />
                </a>
            </div>
            <div aria-label="breadcrumb" class="MS_UrlPage d-md-none d-none">
                <div class="d-flex mt-n1 ms-1 opacity-7 text-lowercase">
                    <h6 class="mb-0 text-sm me-1 MS_UrlRoot"></h6>
                    <h6 class="mb-0 text-sm MS_UrlChild"></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0  flex-wrap" id="navbar">
        <div class="justify-content-end flex-wrap align-items-center d-flex w-100 d-md-flex d-lg-flex">
            <div id="MS_SearchArea" class="w-100 w-md-auto w-lg-auto position-relative">
                <div class="input-group" id="MS_SearchContent">

                    <span class="input-group-text input-group-text ps-2 cursor-pointer text-primary" onclick="MS_SearchEnterExecute()">
                        @Local["Chi tiết"]
                    </span>
                    <input id="MS_SearchInput" type="text" class="ps-2 form-control" placeholder="eg .@Local["Nhập tối thiểu 3 ký tự"]" autocomplete="off">
                    <span class="input-group-text px-3 p-0" style="min-width:46px;">
                        <i class="btnsear_clear fas fa-minus-circle opacity-1"></i>
                        <div class="spinner-border spinner-border-sm" style="display:none;"></div>
                        <div id="MS_TrialVerDemo" class="form-check form-switch mb-0 ms-2 me-n3">
                            <input title="Trial version" id="MS_chbTrialVerDemo" class="border-0 form-check-input" type="checkbox">
                        </div>
                    </span>
                </div>
                <div class="card h-100 rounded-3" id="MS_SearchMainResult">
                    <div class="card-header px-3 py-2 border-bottom ">
                        <div class="d-flex">
                            <div class="w-50 col-auto my-auto">
                                <span class="text-primary fw-bold text-sm" id="MS_CountResult">-</span>
                                <span class="text-primary fw-bold text-sm cursor-pointer">
                                    @Local["Kết quả"]
                                </span>
                            </div>
                            <div class="ms-auto my-auto mt-1">
                                <span class="text-primary fw-bold text-sm cursor-pointer" data-bs-toggle="collapse" data-bs-target="#MS_colLists">@Local["Xem thêm"]</span>
                                <div class="collapse position-absolute z-index-3 end-1 mt-2" id="MS_colLists">
                                    <ul class="card card-body text-dark text-capitalize mb-0">
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shsearchtoogle form-check-input" data-name="MS_CodeCusOld" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Mã khách hàng cũ"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shsearchtoogle form-check-input" data-name="MS_Birthday" type="checkbox">
                                            </div>
                                            <p class="text-sm mb-0">@Local["Ngày sinh"]</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 pb-2">
                        <ul data-name="MS_SearchResultTable" class="list-group overflow-auto max-height-500 p-2 px-0 max-width-400 rounded-0" id="MS_SearchResult">
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav justify-content-end flex-wrap collapse collapsesticky d-md-flex w-auto" id="collapseNAV">
                <li class="d-flex d-md-none align-items-center">
                    <div class="d-none">
                        <a class="nav-link text-body p-0 MS_DeskDetail">
                            <i class="text-lg fas fa-desktop text-md pe-0"></i>
                        </a>
                        <a id="Per_mastertop_checkinmoblie" class="nav-link text-body p-0 MS_CheckHR">
                            <i class="text-lg fas fa-fingerprint text-md pe-0 ps-2"></i>
                        </a>
                    </div>
                    <div class="d-none" id="Per_DashboardMobile">
                        <a class="nav-link text-body p-0 MS_DashboardDetail">
                            <i data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-original-title="@Local["Dashboard"]"
                               class="fas fa-bezier-curve  text-md pe-4"></i>
                        </a>
                    </div>
                </li>
                <li class="nav-item d-flex align-items-center position-relative master-item-top">
                    <div class="ui compact selection dropdown  border-0 bg-transparent d-flex justify-content-center align-items-center ms-2 pb-0 p-0  px-2 me-n2" tabindex="0" id="cbbChangeLanguage"
                         onchange="event.preventDefault();return MS_ChangeLanguage();">
                        <input name="language" type="hidden" value="">
                        <div class="text">
                            <span class=" text-md text-center">vn</span>
                            <img class="pe-2 me-0" src="/assests/img/ButtonImg/flag-vn.png">
                        </div>
                        <div class="menu rounded-2 shadow-lg transition hidden" tabindex="-1" style="width: 100px;">
                            <div class="item active selected" data-value="vi">
                                <div class="d-flex justify-content-center align-items-center ">
                                    <img class="pe-2 ms-n1" src="/assests/img/ButtonImg/flag-vn.png">
                                    <span class="text-center text-md"> vi</span>
                                </div>
                            </div>
                            <div class="item" data-value="en">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img class="pe-2" src="/assests/img/ButtonImg/flag-en.png">
                                    <span class="text-center text-md ">en</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item d-flex align-items-center position-relative master-item-top cursor-pointer">
                    <a class="px-0 nav-link text-body font-weight-bold px-0">
                        <img id="MS_PopupAvatar" onclick="MS_NotiShow()" class="avatar avatar-sm mx-2" data-bs-toggle="tooltip" src="/default.png" alt="label-image" onerror="Master_OnLoad_Error_Image(this)" />
                        <a id="MS_PopupName" onclick="MS_PopupUserShow()" style="max-width: 110px; font-size: 14px; overflow-x: hidden; " class="mx-1 border-bottom border-primary d-md-inline text-primary fw-bold"></a>
                    </a>
                    <div class="badge badge-sm bg-gradient-danger badge-circle d-flex text-xs position-absolute d-none" style=" left: 22px; top: -4px; " id="MS_NotiTotal"></div>
                    <div id="MS_NotiArea" class="rounded-3">
                        <div class="card h-100">
                            <div class="card-header px-3 py-2 border-bottom ">
                                <div class="d-flex">
                                    <div class="w-50 col-auto my-auto">
                                        <span class="text-gradient text-primary fw-bold text-sm cursor-pointer">
                                            @Local["Thông báo"]
                                        </span>
                                    </div>
                                    <div class="ms-auto my-auto mt-1">
                                        <span class="text-dark text-sm cursor-pointer pe-2"
                                              id="MS_NotiReadAll"
                                              style="display: none;">@Local["Đã đọc"]</span>

                                            <span class="text-dark text-sm cursor-pointer"
                                                  id="MS_NotiClear"
                                                  style="display: none;">@Local["Xóa tất cả"]</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-3 overflow-auto max-height-500">
                                        <div id="MS_NotiWaiting" class="waitingdiv text-center" style="display: none;">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <div id="MS_NotiEmpty">
                                            @Local["Không có nội dung"]
                                        </div>
                                        <ul class="list-group" id="MS_NotiContent">
                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <div id="MS_PopupArea" class="rounded-3">
                                <div class="card h-100 rounded-3">
                                    <div class="card-header ps-4 py-2 border-bottom ">
                                        <span class="pt-2 text-secondary pb-1 d-block text-xs">@Local["Họ và tên"] / @Local["Nhóm"]</span>
                                        <div>
                                            <span id="MS_PopupEmpName" class="text-primary text-sm cursor-pointer"></span>
                                            <span id="MS_PopupGroupName" class="text-dark text-sm cursor-pointer"></span>
                                        </div>

                                    </div>
                                    <div class="card-body py-3 px-0 overflow-auto max-height-500">
                                        <ul class="list-group rounded-0 ps-2 text-sm mt-n2" id="MS_PopupContent">
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item px-1 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0">
                                <i class="fa fa-cog fs-5 fixed-plugin-button-nav cursor-pointer  "></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
</div>

        <script>
    var seaching_ajax_request;
    var Timer_Search_Customer;
    var MTDataEmployee, MTDataUser;
    var MS_FlagLan = 0;
    var MS_ShTable;
    $(document).ready(function() {
        MS_ShTable = $('#MS_SearchResult').TableExpandColumn({
            shtoogle: $('.shsearchtoogle')
        });

        $('#SoftwareTopLogo').attr('src', _SoftwareLogo);
        MS_SetHeaderNavi();
        Master_IndexDB_Reads(_Session_Data, [_Session_Employee, _Session_User]
            , function(data) {
                MTDataEmployee = data[0];
                MTDataUser = data[1];
                MS_NotiLoad();

            });

        MS_PopupRender(Master_userPopupMenu, "MS_PopupContent");
        MS_PopupFillData();
        if (Number(Master_HasDasboard) == 1) {
            $("#Master_Top .MS_DeskDetail").show();
            $('#Master_Top .MS_DeskDetail').click(function() {
                window.location.href = "/Desk/DeskMaster";
                return false;
            });
        }
        else $("#Master_Top .MS_DeskDetail").remove();
        $('#Master_Top .MS_CheckHR').click(function() {
            Master_CheckinHR();
        });

        $('#Master_Top .MS_Monitor').click(function() {
            window.open("/Monitor/General?ver=" + versionofWebApplication);
        });

        CheckPermissionControlInPage(sys_PerControl, '@Model.CurrentPath');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model.CurrentPath');

        MS_MainEvent();
        $("#logoutdiv").unbind("click").bind('click', function(e) {
            e.preventDefault();
            MS_HandleLogout();
        });
        MS_DetectLanguage();
        MS_DetectTrialVerDemo();
    });
    function MS_HandleLogout() {
        AjaxApi(url = "/api/Author/Clear"
            , data = JSON.stringify({ Islogout: 1 })
            , async = true
        );
        let obj = author_get('author');
        if (obj != '') {
            let _obj = JSON.parse(obj);
            let e = {};
            e.username = _obj.username;
            e.password = "";
            author_set('author', JSON.stringify(e));
        }
        document.location.href = '/';
    }
    function MS_SetHeaderNavi() {
        if (MS_UrlChild != '' && MS_UrlRoot != '') {
            $(".MS_UrlRoot").html(MS_UrlRoot);
            $(".MS_UrlChild").html('/ ' + MS_UrlChild);
            $(".MS_UrlPage").addClass('d-lg-block');
            $(".MS_UrlChild").addClass('d-lg-block');

        }
    }
    function MS_ChangeLanguage() {
        if (MS_FlagLan == 1) {
            let _lan = $('#cbbChangeLanguage').dropdown('get value');
            if (_lan != undefined) {
                AjaxJWT(url = "/api/Author/ChangeLan"
                    , data = JSON.stringify({
                        lan: _lan != undefined ? _lan : "vi"
                    })
                    , async = true
                    , success = function(result) {
                        if (result != "0") {
                            author_set("UserLang", _lan);
                            location.reload();
                        }
                    }
                );

            }
        }

    }

    async function MS_DetectLanguage() {
        try {
            MS_FlagLan = 0;
            let _lan = author_get("UserLang");
            $("#cbbChangeLanguage").dropdown("refresh");
            $("#cbbChangeLanguage").dropdown("set selected", _lan);
            MS_FlagLan = 1;
        }
        catch (ex) {

        }
    }


    //#region // DETECT TRIAL DEMO

    async function MS_DetectTrialVerDemo() {
        try {
            const dataHostAccept = {
                "localhost": true,
                'demo.vttechsolution.com': true,
                '1487-115-79-46-90.ap.ngrok.io': true
            }
            let divTrial = $("#MS_TrialVerDemo");
            if (dataHostAccept[location.hostname] != undefined && dataHostAccept[location.hostname]) {
                divTrial.removeClass("d-none").addClass("d-flex");
                let dataTrialLocal = localstorage_get("TrialVerLocal");
                let isUsingLocal = (dataTrialLocal !== undefined && dataTrialLocal != "" && JSON.parse(dataTrialLocal).data !== "")
                    ? JSON.parse(dataTrialLocal).data
                    : false;
                $("#MS_chbTrialVerDemo").prop("checked", isUsingLocal);
                MS_TrialVerDemo_Event();
                return;
            }
            divTrial.remove();
        }
        catch (ex) {

        }
    }

    function MS_TrialVerDemo_Event() {
        $("#MS_chbTrialVerDemo").unbind('change').on("change", function() {
            localstorage_set("TrialVerLocal", $(this).is(":checked"));
            window.location.reload(true);
        })
    }

    //#endregion

        </script>
        <style>
            #cbbChangeLanguage .text img {
                width: 25px;
                padding-right: 0 !important;
            }

            #cbbChangeLanguage .text span {
                display: none !important;
            }

            #cbbChangeLanguage.active {
                border: none !important;
                box-shadow: none !important;
            }

            #MS_NotiArea, #MS_PopupArea, #MS_SearchMainResult {
                display: none;
                position: absolute;
                padding: 0;
                z-index: 100;
                min-height: 80px;
                width: 400px;
                left: 0;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            }

            #MS_SearchMainResult {
                height: unset !important;
                right: 0;
                left: unset !important;
                transform: unset !important;
            }

            #MS_PopupArea {
                width: 300px;
            }

            img#MS_PopupAvatar {
                width: 26px !important;
                height: 26px !important;
                border: 1px solid #9e9e9e !important;
                margin-right: 3px !important;
            }

            #MS_PopupContent .item {
                padding: 7px;
                border-bottom: 1px solid #e9ecef4d;
                color: #344767;
            }

                #MS_PopupContent .item:hover {
                    background: #e9ecef;
                }

            #MS_PopupContent .menu {
                height: auto !important;
                min-height: auto !important;
            }

            #MS_NotiContent li:hover .detail {
                opacity: 1 !important;
                cursor: pointer;
            }

            #MS_NotiContent li.active .unread {
                opacity: 1 !important;
            }

            @@media only screen and (max-width: 876px) {
                #MS_SearchMainResult {
                    max-width: 100%;
                }
            }

            .navbar .sidenav-toggler-inner .sidenav-toggler-line {
                height: 5px;
                background: #adadad;
            }
        </style>

        <script>js_require('/js/main.js');</script>
