@page
@model MLunarCoffee.Pages.Marketing.Finance.ExpenseAdsDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Chi phí ads"]</h6>
                                <p class="text-sm mb-0">@Local["Cấu hình chi phí ads"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 form3" id="EAD_Info">
                    <div class="row px-2 ">
                        <div class="field col-6 col-xl-3 p-1">
                            <label class="text-nowrap"><span>@Local["Chi nhánh"]</span><span> *</span></label>
                            <div class="ui fluid search selection dropdown form-control" id="Branch_ID">
                                <input type="hidden" name="nameCbb" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Chi nhánh"]</div>
                                <div id="cbbBranch" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-6 col-md-6 col-xl-3 p-1">
                            <label class="text-nowrap">@Local["Ngày"]</label>
                            <input id="dateExpenseAds" class="flatpickr form-control" type="text" />
                        </div>
                        <div class="field col-6 col-md-6 col-xl-3 p-1">
                            <label class="text-nowrap">@Local["Dịch vụ quan tâm"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="ServiceCare_ID">
                                <input type="hidden" name="namelevel" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Dịch vụ quan tâm"]</div>
                                <div id="cbbServiceCare" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-6 col-md-6 col-xl-3 p-1">
                            <label class="text-nowrap">@Local["Kênh tương tác"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="Channel_ID">
                                <input type="hidden" name="name" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Dịch vụ quan tâm"]</div>
                                <div id="cbbChannel" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-2 ">
                        <div class="field col-12 col-xl-3 p-1">
                            <label class="text-nowrap">@Local["Ngân sách"]</label>
                            <input id="BudgetAds" name="basicsalary" type="text" class="number money form-control" onchange="event.preventDefault();return EAD_ChangingEvent();" />
                        </div>
                        <div class="field col-12 col-xl-3 p-1">
                            <label class="text-nowrap">@Local["Dữ liệu"]</label>
                            <input id="DataAds" class="form-control number" name="numberIB" type="number" />
                        </div>
                        <div class="field col-12 col-md-6 col-xl-3 p-1">
                            <div class="row">
                                <div class="field col-6 pe-0">
                                    <label class="text-nowrap">@Local["Tổng hiển thị"]</label>
                                    <input id="DisplayAds" class="form-control number" name="numberIB" type="number" />
                                </div>
                                <div class="field col-6 ps-2">
                                    <label class="text-nowrap">@Local["Tổng tương tác"]</label>
                                    <input id="ClickAds" class="form-control number" name="numberIB" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 col-md-6 col-xl-3 p-1">
                            <div class="row">
                                <div class="field col-6 pe-0">
                                    <label>CMT</label>
                                    <input id="CmtAds" class="form-control number" name="name" type="number" onchange="event.preventDefault();return EAD_ChangingEvent();" />
                                </div>
                                <div class="field col-6 ps-2">
                                    <label>Inbox</label>
                                    <input id="InboxAds" class="form-control number" name="name" type="number" onchange="event.preventDefault();return EAD_ChangingEvent();" />
                                </div>
                            </div>
                        </div>
                        <div class="field col-md-6 p-1">
                            <label class="text-nowrap">@Local["Doanh thu"]</label>
                            <input id="RevenueAds" name="basicsalary" type="text" class="number money form-control" />
                        </div>
                        <div class="field col-md-6 p-1">
                            <label class="text-nowrap">@Local["Chi phí"]</label>
                            <input id="CostExpenseAds" name="basicsalary" type="text" class="number money1 form-control" readonly="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-sm pt-3 px-3" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return EAD_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ser_ExpenseAdsID = '@Model._expenseAdsDetailID';
    $(document).ready(function () {
        $("#dateExpenseAds").flatpickr({
            dateFormat: 'd-m-Y',
            enableTime: false,
            defaultDate: new Date(),
        });
        $('.money').divide();
        $('.money1').divide();

        EAD_LoadComboMain();
    });

    function EAD_LoadComboMain() {
        AjaxLoad(url = "/Marketing/Finance/ExpenseAdsDetail/?handler=InitializeCombo"
            , data = {}
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                let data_ServiceCare = data.ServiceCare;
                let data_Branch = data.Branch;
                let data_Channel = data.Channel;
                Load_Combo(data_ServiceCare, "cbbServiceCare", true);
                Load_Combo(data_Branch, "cbbBranch", true);
                Load_Combo(data_Channel, "cbbChannel", true);

                $("#Branch_ID ").dropdown("refresh");
                $("#Branch_ID ").dropdown("set selected", data_Branch[0].ID);

                EAD_LoadDataDetail();
            }
        );

    }

    function EAD_LoadDataDetail() {
        if (ser_ExpenseAdsID != "0") {
            AjaxLoad(url = "/Marketing/Finance/ExpenseAdsDetail/?handler=Loadata"
                , data = { id: ser_ExpenseAdsID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length != 0) {
                        EAD_LoadDataUpdate(data);
                    }
                }
            );
        }
    }

    function EAD_LoadDataUpdate(data) {
        let dataExpenseAds = data;
        if (dataExpenseAds) {
            $('#dateExpenseAds').val(ConvertDateTimeUTC_DMY(dataExpenseAds[0].Date));
            $('#BudgetAds').val(dataExpenseAds[0].Budget);
            $('#DataAds').val(dataExpenseAds[0].TotalData);
            $('#DisplayAds').val(dataExpenseAds[0].TotalDisplay);
            $('#ClickAds').val(dataExpenseAds[0].TotalClick);
            $('#CostExpenseAds').val(dataExpenseAds[0].Cost);
            $('#InboxAds').val(dataExpenseAds[0].Inbox);
            $('#CmtAds').val(dataExpenseAds[0].Comment);
            $('#RevenueAds').val(dataExpenseAds[0].Revenue);
            $("#ServiceCare_ID ").dropdown("refresh");
            $("#ServiceCare_ID ").dropdown("set selected", dataExpenseAds[0].Service_ID);
            $("#Branch_ID ").dropdown("refresh");
            $("#Branch_ID ").dropdown("set selected", dataExpenseAds[0].Branch_ID);
            $("#Channel_ID ").dropdown("refresh");
            $("#Channel_ID ").dropdown("set selected", dataExpenseAds[0].ChannelID);

        }
    }

    function EAD_ExcuteData() {

        var data = new Object();
        data.ServiceCare_ID = Number($('#ServiceCare_ID').dropdown('get value')) ? Number($('#ServiceCare_ID').dropdown('get value')) : 0;
        data.Branch_ID = Number($('#Branch_ID').dropdown('get value')) ? Number($('#Branch_ID').dropdown('get value')) : 0;
        data.Channel_ID = Number($('#Channel_ID').dropdown('get value')) ? Number($('#Channel_ID').dropdown('get value')) : 0;
        data.Date = $('#dateExpenseAds').val() ? $('#dateExpenseAds').val() : new Date();
        data.Budget = $('#BudgetAds').val() ? $('#BudgetAds').val() : 0;
        data.Data = $('#DataAds').val() ? $('#DataAds').val() : 0;
        data.Display = $('#DisplayAds').val() ? $('#DisplayAds').val() : 0;
        data.Click = $('#ClickAds').val() ? $('#ClickAds').val() : 0;
        data.Cost = $('#CostExpenseAds').val() ? $('#CostExpenseAds').val() : 0;
        data.Revenue = $('#RevenueAds').val() ? $('#RevenueAds').val() : 0;
        data.NumberInbox = $('#InboxAds').val() ? $('#InboxAds').val() : 0;
        data.NumberCmt = $('#CmtAds').val() ? $('#CmtAds').val() : 0;
        $('#EAD_Info').form('validate form');
        if ($('#EAD_Info').form('is valid')) {
            CheckNegativeNumber();
            if ($('#textShowMessage').html() == '') {
                AjaxLoad(url = "/Marketing/Finance/ExpenseAdsDetail/?handler=ExcuteData"
                    , data = { 'data': JSON.stringify(data), 'CurrentID': ser_ExpenseAdsID }
                    , async = true
                    , error = function () { notiError_SW(); }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            LoadExpenseAds();
                        } else {
                            notiError_SW();
                        }
                    }
                );
                $('#DetailModal').modal('hide');
                $("#DetailModal_Content").html('');
            }
        }
        return false;
    }

    function EAD_ChangingEvent() {
        let BudgetAds = $('#BudgetAds').val() ? Number($('#BudgetAds').val()) : 0;
        let InboxAds = $('#InboxAds').val() ? Number($('#InboxAds').val()) : 0;
        let CmtAds = $('#CmtAds').val() ? Number($('#CmtAds').val()) : 0;
        if ((InboxAds + CmtAds) > 0 && BudgetAds > 0) {
            let CostExpenseAds = BudgetAds / (InboxAds + CmtAds);
            $('#CostExpenseAds').val(Math.round(CostExpenseAds));
            $('.money1').divide();
        }
    }
    function CheckNegativeNumber() {
        let Number = $('.number');
        for (let i = 0; i < Number.length; i++) {
            if ($(Number[i]).val() < 0) {
                $('#textShowMessage').html('@Local["Kiểm tra dữ liệu"]');
                $(Number[i]).parent().addClass('error');
                return false
            }
            else {
                $('#textShowMessage').html('');
                $(Number[i]).parent().removeClass('error');
            }
        }
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

