@page
@model MLunarCoffee.Pages.Setting.AccountEntry.AccountEntryListModel
@{
    Layout = null;
}

<div class="row m-0">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0 px-2">
                <div class="left pe-3">
                    <h6 class="mb-0 text-capitalize">@Local["Định khoản kế toán"]</h6>
                    <p class="text-sm mb-0">@Local["Danh sách định khoản kế toán"]</p>
                </div>
                <div class="right overflow-unset w-lg-70 w-100">
                    <div class="vtcondition w-100">
                        <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                        <div class="fulllap collapse collapsesticky show">
                            <div class="row w-100 m-0">
                                <div class="col-12 col-md p-1">
                                    <div class="ui fluid search selection dropdown form-control" id="AEL_VoucherType">
                                        <input type="hidden" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="cbbAEL_VoucherType" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md p-1">
                                    <div class="ui fluid search selection dropdown form-control" id="AEL_ChooseCir">
                                        <input type="hidden" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="cbbAEL_ChooseCir" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto p-1">
                                    <button class="btn bg-gradient-dark btn-md setting_projectclosure text-nowrap" onclick="return AEL_Filter()">@Local["Lọc"]</button>
                                    <button class="btn bg-gradient-primary btn-md setting_projectclosure text-nowrap" onclick="return AEL_AddNew()">@Local["Thêm mới"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 px-2">
                <div class="overflow-auto mt-2" style="max-height:40vh;">
                    <table class="table vt-table mb-0" id="AEL_DtContent">
                        <thead>
                            <tr>
                                <th class="d-none">ID</th>
                                <th style="width:40px;">#</th>
                                <th>@Local["Loại"]</th>
                                <th>@Local["Sản phẩm"]</th>
                                <th>@Local["Hình thức thanh toán"]</th>
                                <th style="min-width: 180px">@Local["Tài khoản nợ"]</th>
                                <th style="min-width: 180px">@Local["Tài khoản có"]</th>
                                <th>@Local["Lý do"]</th>
                                <th>@Local["Ghi chú"]</th>
                                <th>@Local["Người sửa"]</th>
                                <th>@Local["Xử lý"]</th>
                            </tr>
                        </thead>
                        <tbody id="AEL_DtContentBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0">
    <div class="col-12 px-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0">
                <div class="left">
                    <h6 class="mb-0 text-capitalize">@Local["Định khoản kế toán"]</h6>
                    <p class="text-sm mb-0">@Local["Mẫu"]</p>
                </div>
            </div>
            <div class="card-body pt-0">
                <table class="table vt-table mb-0 mt-3" id="AEL_DtContentTemplate">
                    <thead>
                        <tr>
                            <th class="d-none">ID</th>
                            <th style="width:40px;">#</th>
                            <th>@Local["Loại"]</th>
                            <th>@Local["Sản phẩm"]</th>
                            <th>@Local["Hình thức thanh toán"]</th>
                            <th style="min-width: 180px">@Local["Tài khoản nợ"]</th>
                            <th style="min-width: 180px">@Local["Tài khoản có"]</th>
                            <th>@Local["Thêm mới"]</th>
                        </tr>
                    </thead>
                    <tbody id="AEL_DtContentTemplateBody">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    let DataUser;
    var AEL_DataReason = [];
    var AEL_DataTemp = [
        {
            "ID": 1,
            "CreditAccount": 131,
            "DebitAccount": 1111,
            "TypeID": 1,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 21,
            "CreditAccount": 131,
            "DebitAccount": 1111,
            "TypeID": 1,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 1,
            "Note": ""
        },
        {
            "ID": 2,
            "CreditAccount": 131,
            "DebitAccount": 1121,
            "TypeID": 1,
            "ReasonID": 0,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 3,
            "CreditAccount": 131,
            "DebitAccount": 1131,
            "TypeID": 1,
            "ReasonID": 0,
            "MethodID": 5,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 4,
            "CreditAccount": 1111,
            "DebitAccount": 5111,
            "TypeID": 2,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 1,
            "Note": ""
        },
        {
            "ID": 5,
            "CreditAccount": 1111,
            "DebitAccount": 5113,
            "TypeID": 2,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 6,
            "CreditAccount": 3388,
            "DebitAccount": 5111,
            "TypeID": 2,
            "ReasonID": 0,
            "MethodID": 4,
            "IsProduct": 1,
            "Note": ""
        },
        {
            "ID": 7,
            "CreditAccount": 3388,
            "DebitAccount": 5113,
            "TypeID": 2,
            "ReasonID": 0,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 8,
            "CreditAccount": 131,
            "DebitAccount": 1111,
            "TypeID": 3,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 9,
            "CreditAccount": 131,
            "DebitAccount": 1121,
            "TypeID": 3,
            "ReasonID": 0,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 10,
            "CreditAccount": 1111,
            "DebitAccount": 131,
            "TypeID": 4,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 11,
            "CreditAccount": 1121,
            "DebitAccount": 131,
            "TypeID": 4,
            "ReasonID": 0,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 12,
            "CreditAccount": 131,
            "DebitAccount": 1111,
            "TypeID": 5,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 13,
            "CreditAccount": 131,
            "DebitAccount": 1121,
            "TypeID": 5,
            "ReasonID": 0,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 14,
            "CreditAccount": 131,
            "DebitAccount": 1131,
            "TypeID": 5,
            "ReasonID": 0,
            "MethodID": 5,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 15,
            "CreditAccount": 1111,
            "DebitAccount": 511,
            "TypeID": 6,
            "ReasonID": 0,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 16,
            "CreditAccount": 3388,
            "DebitAccount": 511,
            "TypeID": 6,
            "ReasonID": 0,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 17,
            "CreditAccount": 112,
            "DebitAccount": 131,
            "TypeID": 9,
            "ReasonID": 47,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 19,
            "CreditAccount": 121,
            "DebitAccount": 131,
            "TypeID": 9,
            "ReasonID": 47,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 18,
            "CreditAccount": 711,
            "DebitAccount": 111,
            "TypeID": 10,
            "ReasonID": 10,
            "MethodID": 3,
            "IsProduct": 0,
            "Note": ""
        },
        {
            "ID": 20,
            "CreditAccount": 112,
            "DebitAccount": 111,
            "TypeID": 10,
            "ReasonID": 10,
            "MethodID": 4,
            "IsProduct": 0,
            "Note": ""
        }
    ]
    var AEL_DataAcc = {
        "200": [
            {
                "ID": "111",
                "Name": "111",
            }, {
                "ID": "113",
                "Name": "113",
            }, {
                "ID": "112",
                "Name": "112",
            },
            {
                "ID": "1111",
                "Name": "1111",
            }, {
                "ID": "1112",
                "Name": "1112",
            }, {
                "ID": "1113",
                "Name": "1113",
            }, {
                "ID": "1121",
                "Name": "1121",
            }, {
                "ID": "1122",
                "Name": "1122",
            }, {
                "ID": "1123",
                "Name": "1123",
            }, {
                "ID": "1131",
                "Name": "1131",
            }, {
                "ID": "1132",
                "Name": "1132",
            }, {
                "ID": "121",
                "Name": "121",
            }, {
                "ID": "1211",
                "Name": "1211",
            }, {
                "ID": "1212",
                "Name": "1212",
            }, {
                "ID": "1218",
                "Name": "1218",
            }, {
                "ID": "128",
                "Name": "128",
            }, {
                "ID": "1281",
                "Name": "1281",
            }, {
                "ID": "1282",
                "Name": "1282",
            }, {
                "ID": "1283",
                "Name": "1283",
            }, {
                "ID": "1288",
                "Name": "1288",
            }, {
                "ID": "131",
                "Name": "131",
            }, {
                "ID": "133",
                "Name": "133",
            }, {
                "ID": "1331",
                "Name": "1331",
            }, {
                "ID": "1332",
                "Name": "1332",
            }, {
                "ID": "136",
                "Name": "136",
            }, {
                "ID": "1361",
                "Name": "1361",
            }, {
                "ID": "1362",
                "Name": "1362",
            }, {
                "ID": "1363",
                "Name": "1363",
            }, {
                "ID": "1368",
                "Name": "1368",
            }, {
                "ID": "138",
                "Name": "138",
            }, {
                "ID": "1381",
                "Name": "1381",
            }, {
                "ID": "1385",
                "Name": "1385",
            }, {
                "ID": "1388",
                "Name": "1388",
            }, {
                "ID": "141",
                "Name": "141",
            }, {
                "ID": "151",
                "Name": "151",
            }, {
                "ID": "152",
                "Name": "152",
            }, {
                "ID": "153",
                "Name": "153",
            }, {
                "ID": "1531",
                "Name": "1531",
            }, {
                "ID": "1532",
                "Name": "1532",
            }, {
                "ID": "1533",
                "Name": "1533",
            }, {
                "ID": "1534",
                "Name": "1534",
            }, {
                "ID": "154",
                "Name": "154",
            }, {
                "ID": "155",
                "Name": "155",
            }, {
                "ID": "1551",
                "Name": "1551",
            }, {
                "ID": "1557",
                "Name": "1557",
            }, {
                "ID": "156",
                "Name": "156",
            }, {
                "ID": "1561",
                "Name": "1561",
            }, {
                "ID": "1562",
                "Name": "1562",
            }, {
                "ID": "1567",
                "Name": "1567",
            }, {
                "ID": "157",
                "Name": "157",
            }, {
                "ID": "158",
                "Name": "158",
            }, {
                "ID": "161",
                "Name": "161",
            }, {
                "ID": "1611",
                "Name": "1611",
            }, {
                "ID": "1612",
                "Name": "1612",
            }, {
                "ID": "171",
                "Name": "171",
            }, {
                "ID": "211",
                "Name": "211",
            }, {
                "ID": "2111",
                "Name": "2111",
            }, {
                "ID": "2112",
                "Name": "2112",
            }, {
                "ID": "2113",
                "Name": "2113",
            }, {
                "ID": "2114",
                "Name": "2114",
            }, {
                "ID": "2115",
                "Name": "2115",
            }, {
                "ID": "2118",
                "Name": "2118",
            }, {
                "ID": "212",
                "Name": "212",
            }, {
                "ID": "2121",
                "Name": "2121",
            }, {
                "ID": "2122",
                "Name": "2122",
            }, {
                "ID": "213",
                "Name": "213",
            }, {
                "ID": "2131",
                "Name": "2131",
            }, {
                "ID": "2132",
                "Name": "2132",
            }, {
                "ID": "2133",
                "Name": "2133",
            }, {
                "ID": "2134",
                "Name": "2134",
            }, {
                "ID": "2135",
                "Name": "2135",
            }, {
                "ID": "2136",
                "Name": "2136",
            }, {
                "ID": "2138",
                "Name": "2138",
            }, {
                "ID": "214",
                "Name": "214",
            }, {
                "ID": "2141",
                "Name": "2141",
            }, {
                "ID": "2142",
                "Name": "2142",
            }, {
                "ID": "2143",
                "Name": "2143",
            }, {
                "ID": "2147",
                "Name": "2147",
            }, {
                "ID": "217",
                "Name": "217",
            }, {
                "ID": "221",
                "Name": "221",
            }, {
                "ID": "222",
                "Name": "222",
            }, {
                "ID": "228",
                "Name": "228",
            }, {
                "ID": "2281",
                "Name": "2281",
            }, {
                "ID": "2288",
                "Name": "2288",
            }, {
                "ID": "229",
                "Name": "229",
            }, {
                "ID": "2291",
                "Name": "2291",
            }, {
                "ID": "2292",
                "Name": "2292",
            }, {
                "ID": "2293",
                "Name": "2293",
            }, {
                "ID": "2294",
                "Name": "2294",
            }, {
                "ID": "241",
                "Name": "241",
            }, {
                "ID": "2411",
                "Name": "2411",
            }, {
                "ID": "2412",
                "Name": "2412",
            }, {
                "ID": "2413",
                "Name": "2413",
            }, {
                "ID": "242",
                "Name": "242",
            }, {
                "ID": "243",
                "Name": "243",
            }, {
                "ID": "244",
                "Name": "244",
            }, {
                "ID": "331",
                "Name": "331",
            }, {
                "ID": "333",
                "Name": "333",
            }, {
                "ID": "3331",
                "Name": "3331",
            }, {
                "ID": "33311",
                "Name": "33311",
            }, {
                "ID": "33312",
                "Name": "33312",
            }, {
                "ID": "3332",
                "Name": "3332",
            }, {
                "ID": "3333",
                "Name": "3333",
            }, {
                "ID": "3334",
                "Name": "3334",
            }, {
                "ID": "3335",
                "Name": "3335",
            }, {
                "ID": "3336",
                "Name": "3336",
            }, {
                "ID": "3337",
                "Name": "3337",
            }, {
                "ID": "3338",
                "Name": "3338",
            }, {
                "ID": "33381",
                "Name": "33381",
            }, {
                "ID": "33382",
                "Name": "33382",
            }, {
                "ID": "3339",
                "Name": "3339",
            }, {
                "ID": "334",
                "Name": "334",
            }, {
                "ID": "3341",
                "Name": "3341",
            }, {
                "ID": "3348",
                "Name": "3348",
            }, {
                "ID": "335",
                "Name": "335",
            }, {
                "ID": "336",
                "Name": "336",
            }, {
                "ID": "3361",
                "Name": "3361",
            }, {
                "ID": "3362",
                "Name": "3362",
            }, {
                "ID": "3363",
                "Name": "3363",
            }, {
                "ID": "3368",
                "Name": "3368",
            }, {
                "ID": "337",
                "Name": "337",
            }, {
                "ID": "338",
                "Name": "338",
            }, {
                "ID": "3381",
                "Name": "3381",
            }, {
                "ID": "3382",
                "Name": "3382",
            }, {
                "ID": "3383",
                "Name": "3383",
            }, {
                "ID": "3384",
                "Name": "3384",
            }, {
                "ID": "3385",
                "Name": "3385",
            }, {
                "ID": "3386",
                "Name": "3386",
            }, {
                "ID": "3387",
                "Name": "3387",
            }, {
                "ID": "3388",
                "Name": "3388",
            }, {
                "ID": "341",
                "Name": "341",
            }, {
                "ID": "3411",
                "Name": "3411",
            }, {
                "ID": "3412",
                "Name": "3412",
            }, {
                "ID": "343",
                "Name": "343",
            }, {
                "ID": "3431",
                "Name": "3431",
            }, {
                "ID": "34311",
                "Name": "34311",
            }, {
                "ID": "34312",
                "Name": "34312",
            }, {
                "ID": "34313",
                "Name": "34313",
            }, {
                "ID": "3432",
                "Name": "3432",
            }, {
                "ID": "344",
                "Name": "344",
            }, {
                "ID": "347",
                "Name": "347",
            }, {
                "ID": "352",
                "Name": "352",
            }, {
                "ID": "3521",
                "Name": "3521",
            }, {
                "ID": "3522",
                "Name": "3522",
            }, {
                "ID": "3523",
                "Name": "3523",
            }, {
                "ID": "3524",
                "Name": "3524",
            }, {
                "ID": "353",
                "Name": "353",
            }, {
                "ID": "3531",
                "Name": "3531",
            }, {
                "ID": "3532",
                "Name": "3532",
            }, {
                "ID": "3533",
                "Name": "3533",
            }, {
                "ID": "3534",
                "Name": "3534",
            }, {
                "ID": "356",
                "Name": "356",
            }, {
                "ID": "3561",
                "Name": "3561",
            }, {
                "ID": "3562",
                "Name": "3562",
            }, {
                "ID": "357",
                "Name": "357",
            }, {
                "ID": "411",
                "Name": "411",
            }, {
                "ID": "4111",
                "Name": "4111",
            }, {
                "ID": "41111",
                "Name": "41111",
            }, {
                "ID": "41112",
                "Name": "41112",
            }, {
                "ID": "4112",
                "Name": "4112",
            }, {
                "ID": "4113",
                "Name": "4113",
            }, {
                "ID": "4118",
                "Name": "4118",
            }, {
                "ID": "412",
                "Name": "412",
            }, {
                "ID": "413",
                "Name": "413",
            }, {
                "ID": "4131",
                "Name": "4131",
            }, {
                "ID": "4132",
                "Name": "4132",
            }, {
                "ID": "414",
                "Name": "414",
            }, {
                "ID": "417",
                "Name": "417",
            }, {
                "ID": "418",
                "Name": "418",
            }, {
                "ID": "419",
                "Name": "419",
            }, {
                "ID": "421",
                "Name": "421",
            }, {
                "ID": "4211",
                "Name": "4211",
            }, {
                "ID": "4212",
                "Name": "4212",
            }, {
                "ID": "441",
                "Name": "441",
            }, {
                "ID": "461",
                "Name": "461",
            }, {
                "ID": "4611",
                "Name": "4611",
            }, {
                "ID": "4612",
                "Name": "4612",
            }, {
                "ID": "466",
                "Name": "466",
            }, {
                "ID": "511",
                "Name": "511",
            }, {
                "ID": "5111",
                "Name": "5111",
            }, {
                "ID": "5112",
                "Name": "5112",
            }, {
                "ID": "5113",
                "Name": "5113",
            }, {
                "ID": "5114",
                "Name": "5114",
            }, {
                "ID": "5117",
                "Name": "5117",
            }, {
                "ID": "5118",
                "Name": "5118",
            }, {
                "ID": "515",
                "Name": "515",
            }, {
                "ID": "521",
                "Name": "521",
            }, {
                "ID": "5211",
                "Name": "5211",
            }, {
                "ID": "5212",
                "Name": "5212",
            }, {
                "ID": "5213",
                "Name": "5213",
            }, {
                "ID": "611",
                "Name": "611",
            }, {
                "ID": "6111",
                "Name": "6111",
            }, {
                "ID": "6112",
                "Name": "6112",
            }, {
                "ID": "621",
                "Name": "621",
            }, {
                "ID": "622",
                "Name": "622",
            }, {
                "ID": "623",
                "Name": "623",
            }, {
                "ID": "6231",
                "Name": "6231",
            }, {
                "ID": "6232",
                "Name": "6232",
            }, {
                "ID": "6233",
                "Name": "6233",
            }, {
                "ID": "6234",
                "Name": "6234",
            }, {
                "ID": "6237",
                "Name": "6237",
            }, {
                "ID": "6238",
                "Name": "6238",
            }, {
                "ID": "627",
                "Name": "627",
            }, {
                "ID": "6271",
                "Name": "6271",
            }, {
                "ID": "6272",
                "Name": "6272",
            }, {
                "ID": "6273",
                "Name": "6273",
            }, {
                "ID": "6274",
                "Name": "6274",
            }, {
                "ID": "6277",
                "Name": "6277",
            }, {
                "ID": "6278",
                "Name": "6278",
            }, {
                "ID": "631",
                "Name": "631",
            }, {
                "ID": "632",
                "Name": "632",
            }, {
                "ID": "635",
                "Name": "635",
            }, {
                "ID": "641",
                "Name": "641",
            }, {
                "ID": "6411",
                "Name": "6411",
            }, {
                "ID": "6412",
                "Name": "6412",
            }, {
                "ID": "6413",
                "Name": "6413",
            }, {
                "ID": "6414",
                "Name": "6414",
            }, {
                "ID": "6415",
                "Name": "6415",
            }, {
                "ID": "6417",
                "Name": "6417",
            }, {
                "ID": "6418",
                "Name": "6418",
            }, {
                "ID": "642",
                "Name": "642",
            }, {
                "ID": "6421",
                "Name": "6421",
            }, {
                "ID": "6422",
                "Name": "6422",
            }, {
                "ID": "6423",
                "Name": "6423",
            }, {
                "ID": "6424",
                "Name": "6424",
            }, {
                "ID": "6425",
                "Name": "6425",
            }, {
                "ID": "6426",
                "Name": "6426",
            }, {
                "ID": "6427",
                "Name": "6427",
            }, {
                "ID": "6428",
                "Name": "6428",
            }, {
                "ID": "711",
                "Name": "711",
            }, {
                "ID": "811",
                "Name": "811",
            }, {
                "ID": "821",
                "Name": "821",
            }, {
                "ID": "8211",
                "Name": "8211",
            }, {
                "ID": "8212",
                "Name": "8212",
            }, {
                "ID": "911",
                "Name": "911",
            }
        ]
    }
    var AEL_DataType = [
        {
            "ID": 1
            , "Name": decodeHtml("@Local["Thu tiền dịch vụ/sản phẩm"]")
        },
        {
            "ID": 2
            , "Name": decodeHtml("@Local["Hoàn tiền dịch vụ/sản phẩm"]")
        },
        {
            "ID": 3
            , "Name": decodeHtml("@Local["Thu tiền cọc"]")
        },
        {
            "ID": 4
            , "Name": decodeHtml("@Local["Hoàn tiền cọc"]")
        },
        {
            "ID": 5
            , "Name": decodeHtml("@Local["Thu tiền thẻ"]")
        },
        {
            "ID": 6
            , "Name": decodeHtml("@Local["Hoàn tiền thẻ"]")
        },
        {
            "ID": 7
            , "Name": decodeHtml("@Local["Tiền thuốc"]")
        },
        {
            "ID": 8
            , "Name": decodeHtml("@Local["Hoa hồng giới thiệu"]")
        },
        {
            "ID": 9
            , "Name": decodeHtml("@Local["Thu chi nhánh"]")
        },
        {
            "ID": 10
            , "Name": decodeHtml("@Local["Chi chi nhánh"]")
        }
    ]
    var AEL_DataMethod = [];
    let AEL_TimeOutFilter;
    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                AEL_Init();

                Load_Combo(AEL_DataAcc["200"], "cbbAEL_ChooseCir", true, "@Local["Định khoản kế toán"]");
                $("#AEL_ChooseCir").dropdown("refresh");
                $("#AEL_ChooseCir").dropdown("set selected", "0");

                Load_Combo(AEL_DataType, "cbbAEL_VoucherType", true, "@Local["Tất cả loại"]");
                $("#AEL_VoucherType").dropdown("refresh");
                $("#AEL_VoucherType").dropdown("set selected", "0");

                AEL_ListLoad(0);
            }
        )
    })
    //#region //EVENT
    function AEL_Filter() {
        clearTimeout(AEL_TimeOutFilter);
        AEL_TimeOutFilter = setTimeout(function (e) {
            let voucherType = Number($('#AEL_VoucherType').dropdown('get value')) ? Number($('#AEL_VoucherType').dropdown('get value')) : 0;
            let numEntry = Number($('#AEL_ChooseCir').dropdown('get value')) ? Number($('#AEL_ChooseCir').dropdown('get value')) : 0;
            for (let i = 0; i < AEL_DataFilter.length; i++) {
                let item = AEL_DataFilter[i];
                if ((numEntry == 0 || numEntry == item.DebitAccount || numEntry == item.CreditAccount) && (voucherType == 0 || voucherType == item.TypeID)) {
                    $(`#AEL_Row_${item.ID}`).removeClass('d-none');
                }
                else {
                    $(`#AEL_Row_${item.ID}`).addClass('d-none');
                }
            }
            AEL_TemplateLoadData(numEntry);
        }, 200)
    }

    //#endregion
    //#region Init data
    function AEL_Init() {
        AjaxLoad(url = "/Setting/AccountEntry/AccountEntryList?handler=Init"
            , data = {}
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let datas = JSON.parse(result);
                    AEL_DataReason = datas.reason;
                    AEL_DataMethod = datas.method;
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
            , before = function (e) {
            }
            , complete = function (e) {
            }
        );
    }
    //#endregion Init data

    //#region Load - RederList
    function AEL_ListLoad(currentAcc) {
        AjaxLoad(url = "/Setting/AccountEntry/AccountEntryList?handler=LoadData"
            , data = { "currentAcc": currentAcc }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    AEL_DataFilter = JSON.parse(result);
                    let data = JSON.parse(result);
                    $("#AEL_DtContentBody").html('');
                    AEL_ListRender(data, "AEL_DtContentBody");
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
            , before = function (e) { }
            , complete = function (e) { }
        );
    }
    async function AEL_ListRender(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        let tr = '';
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            tr +=
                                `<tr class="vt-number AEL_clsRow" role="row" id="AEL_Row_${item.ID}">
                                    <td class="d-none">${item.ID}</td>
                                    <td class="vt-number-order"></td>
                                    <td>
                                       <a href="#" class="text-decoration-underline fw-bold AEL_buttonEditClass" data-type="0" data-id="${item.ID}">${AEL_ObjNameByOr(AEL_DataType, item.TypeID)}</a>
                                    </td>
                                    <td class="text-center">${item.IsProduct == 1 ? '<i class="fas fa-check text-success"></i>' : ""}</td>
                                    <td>${AEL_ObjNameByOr(AEL_DataMethod, item.MethodID)}</td>
                                    <td>${item.DebitAccount} ${item.IsDebitBranch == 1 ? '<span class="text-sm text-secondary">[@Local["Chi nhánh"]]</span>' : ""}</td>
                                    <td>${item.CreditAccount} ${item.IsCreditBranch == 1 ? '<span class="text-sm text-secondary">[@Local["Chi nhánh"]]</span>' : ""}</td>
                                    <td>${AEL_ObjNameByOr(AEL_DataReason, item.ReasonID)}</td>
                                    <td>${item.Note}</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="icon icon-shape icon-sm me-2 text-center">
                                                <img class="avatar avatar-xs mt-2" src="${Fun_GetAvatar_ByID(MTDataEmployee, item.ModifiedBy)} " alt="label-image">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <h6 class="text-dark text-sm mb-0">${Fun_GetName_ByID(MTDataEmployee, item.ModifiedBy)}</h6>
                                                <span class="text-xs">${ConvertDateTimeUTC_DMY(item.Modified)}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <i class="buttonDeleteClass vtt-icon vttech-icon-delete cursor-pointer" data-type="1" data-id="${item.ID}"></i>
                                    </td>
                                </tr>
                                `
                        }
                        myNode.innerHTML = tr;
                        AEL_TemplateLoadData(0);
                        AEL_Event();
                        //shtable.Refresh();
                    }
                }

                resolve();
            }, 30)
        })
    }
    //#endregion Load - RederList
    //#region function - event detail
    function AEL_Event() {
        $(".AEL_buttonEditClass").unbind('click').click(function () {
            let ID = Number($(this).attr('data-id'));
            let Type = Number($(this).attr('data-type'));
            AEL_Edit(ID, Type);
        });
        $(".buttonDeleteClass").unbind('click').click(function () {
            let ID = Number($(this).attr('data-id'));
            AEL_Delete(ID);
        });
    }
    function AEL_Delete(id) {
        const promise = notiConfirm();
        promise.then(function () { AEL_ExecuteDelete(id); }, function () { });
    }
    function AEL_ExecuteDelete(id) {
        AjaxLoad(url = "/Setting/AccountEntry/AccountEntryList?handler=Delete"
            , data = { id: id }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    AEL_ListLoad();
                } else {
                    notiError_SW();
                }
            });
    }
    function AEL_Edit(ID, Type) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/AccountEntry/AccountEntryDetail?CurrentID=" + ID + "&Type=" + Type + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function AEL_AddNew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/AccountEntry/AccountEntryDetail?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function AEL_ObjNameByOr(data, id) {
        let result = data.filter(word => word["ID"] == id);
        if (result.length != 0)
            return result[0].Name;
        else return "";
    }
    //#endregion
    //#region Emplate
    function AEL_TemplateLoadData(currentAcc) {
        let data = AEL_DataTemp.filter(word => word['CreditAccount'] == currentAcc || word['DebitAccount'] == currentAcc || currentAcc == 0);
        AEL_ListTemplateRender(data, "AEL_DtContentTemplateBody");
    }
    function AEL_ListTemplateRender(data, ID) {
        let myNode = document.getElementById(ID)
        if (myNode != null) {
            let str = ''
            if (data && data.length) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    str +=
                        ` <tr class="vt-number AEL_clsRow" role="row" id="AEL_Row_${item.ID}">
                            <td class="d-none">${item.ID}</td>
                            <td class="vt-number-order"></td>
                            <td>
                                <spam class="text-sm text-primary fw-bold">${AEL_ObjNameByOr(AEL_DataType, item.TypeID)}</span>
                            </td>
                            <td class="text-center">${item.IsProduct == 1 ? '<i class="fas fa-check text-success"></i>' : ""}</td>
                            <td>${AEL_ObjNameByOr(AEL_DataMethod, item.MethodID)}</td>
                            <td>${item.DebitAccount}</td>
                            <td>${item.CreditAccount}</td>
                            <td class="text-center">
                                <i class="fas fa-plus text-success AEL_buttonEditClass cursor-pointer" data-type="1" data-id="${item.ID}"></i>
                            </td>
                        </tr>
                        `
                }
            }
            myNode.innerHTML = str;
        }
    }
    //#endregion Emplate

</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
