@page
@model MLunarCoffee.Pages.Setting.AccountEntry.AccountEntryDetailModel
@{
    Layout = null;
}

<script>js_require('/js/customjs/custom-validation.js');</script>

<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0 text-capitalize">@Local["Định khoản kế toán"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 form3" id="AED_FormAccountEntry">
                    <div class="row px-2">
                        <div class="d-lg-flex">
                            <div class="flex-grow-1 ">
                                <div class="flex-grow-1 row">
                                    <div class="col-12 col-sm-3 px-1 mt-2 field">
                                        <label>@Local["Loại"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="AED_TypeID">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text"></div>
                                            <div id="cbbAED_TypeID" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-3 px-1 mt-2 field">
                                        <label>@Local["Lý do"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="AED_ReasonID">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text"></div>
                                            <div id="cbbAED_ReasonID" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 px-1 mt-2 field">
                                        <label>@Local["Hình thức thanh toán"]</label>
                                        <div class="ui fluid search selection dropdown form-control" id="AED_Method">
                                            <input type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text"></div>
                                            <div id="cbbAED_Method" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-3 px-1 mt-2 field">
                                        <label>@Local["Tài khoản nợ"]</label>
                                        <div class="form-group mb-0">
                                            <div class="input-group mb-0 flex-nowrap">
                                                <div class="ui fluid search selection dropdown form-control max-width-100" id="AED_DebitID" onchange="event.preventDefault(); AED_onChangeDebit()">
                                                    <input type="hidden" />
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text"></div>
                                                    <div id="cbbAED_DebitID" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                                <input id="AED_txtDebit" class="form-control ps-2 border-start border-1" type="text" name="numberFloat" placeholder="eg .@Local["Tài khoản nợ"]">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-sm-3 px-1 mt-2 field">
                                        <label>@Local["Tài khoản có"]</label>
                                        <div class="form-group mb-0">
                                            <div class="input-group mb-0 flex-nowrap">
                                                <div class="ui fluid search selection dropdown form-control max-width-100" id="AED_CreditID" onchange="event.preventDefault(); AED_onChangeCredit()">
                                                    <input type="hidden" />
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text"></div>
                                                    <div id="cbbAED_CreditID" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                                <input id="AED_txtCredit" class="form-control ps-2 border-start border-1" name="numberFloat" type="text" placeholder="eg .@Local["Tài khoản có"]">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 px-1 mt-2 field">
                                        <label>@Local["Theo chi nhánh"]</label>
                                        <div class="row m-1 mt-0 border border-1 border-radius-md">
                                            <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                                <div class="form-check ">
                                                    <input id="AED_ckbDebitBranch" class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="AED_ckbDebitBranch">
                                                        @Local["Tài khoản nợ"]
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="field col-12 col-md-6 col-xl-6 d-flex align-items-center mt-1">
                                                <div class="form-check ">
                                                    <input id="AED_ckbCreditBranch" class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="AED_ckbCreditBranch">
                                                        @Local["Tài khoản có"]
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field col-12 px-1 mt-2 d-flex">
                                        <div class="form-check ">
                                            <input id="AED_ckbProduct" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="AED_ckbProduct">
                                                @Local["Sản phẩm"]
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field col-12 px-1 mt-2">
                                        <label>@Local["Ghi chú"]</label>
                                        <textarea id="AED_Note" type="text" placeholder="eg. @Local["Ghi chú"]" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="AED_FormAccountEntry" onclick="event.preventDefault();CloseModal()">@Local["Huỷ"]</button>
                        <button form="AED_FormAccountEntry" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();AED_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let ser_AccountEntryDetailID;
    $(document).ready(function () {
        ser_AccountEntryDetailID = @Model._AccountEntryDetailID;
        ser_AccountEntryTypeID = @Model._AccountEntryTypeID;
        AED_LoadCombo();
        if (ser_AccountEntryTypeID != "0"){
            let data = AEL_DataTemp.filter(word => word['ID'] == ser_AccountEntryDetailID)[0];
            AED_FillData(data);
        }
        else {
            if (ser_AccountEntryDetailID != "0") {
                AED_LoadUpdateData();
            }
        }
    });
    function AED_LoadCombo() {
        Load_Combo(AEL_DataAcc["200"], "cbbAED_CreditID", true);
        $("#AED_CreditID").dropdown("refresh");
        $("#AED_CreditID").dropdown("set selected", AEL_DataAcc["200"][0].ID);

        Load_Combo(AEL_DataAcc["200"], "cbbAED_DebitID", true);
        $("#AED_DebitID").dropdown("refresh");
        $("#AED_DebitID").dropdown("set selected", AEL_DataAcc["200"][0].ID);

        Load_Combo(AEL_DataMethod, "cbbAED_Method", true);
        $("#AED_Method").dropdown("refresh");
        $("#AED_Method").dropdown("set selected", AEL_DataMethod[0].ID);

        Load_Combo(AEL_DataReason, "cbbAED_ReasonID", false);
        $("#AED_ReasonID").dropdown("refresh");
        //$("#AED_ReasonID").dropdown("set selected", AEL_DataReason[0].ID);

        Load_Combo(AEL_DataType, "cbbAED_TypeID", true);
        $("#AED_TypeID").dropdown("refresh");
        $("#AED_TypeID").dropdown("set selected", AEL_DataType[0].ID);
    }

    function AED_LoadUpdateData() {
        if (ser_AccountEntryDetailID != 0 && ser_AccountEntryDetailID != "") {
            AjaxLoad(url = "/Setting/AccountEntry/AccountEntryDetail/?handler=LoadDetail"
                , data = { CurrentID: ser_AccountEntryDetailID }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "") {
                        let FeatureImgSrc = '';
                        let ImgSrc = '';
                        let data = JSON.parse(result);
                        AED_FillData(data[0]);
                    }
                });
        }
    }
    function AED_FillData(item){
        $("#AED_Note").val(item?.Note);
        $("#AED_ckbProduct").prop('checked', item.IsProduct == 1);
        $("#AED_ckbCreditBranch").prop('checked', item.IsCreditBranch == 1);
        $("#AED_ckDebitBranch").prop('checked', item.IsDebitBranch == 1);

        $("#AED_CreditID").dropdown("refresh");
        $("#AED_CreditID").dropdown("set selected", item.CreditAccount);
        $('#AED_txtCredit').val(item.CreditAccount);


        $("#AED_DebitID").dropdown("refresh");
        $("#AED_DebitID").dropdown("set selected", item.DebitAccount);

        $('#AED_txtDebit').val(item.DebitAccount);

        $("#AED_Method").dropdown("refresh");
        $("#AED_Method").dropdown("set selected", item.MethodID);

        $("#AED_ReasonID").dropdown("refresh");
        $("#AED_ReasonID").dropdown("set selected", item?.ReasonID);

        $("#AED_TypeID").dropdown("refresh");
        $("#AED_TypeID").dropdown("set selected", item.TypeID);
    }

    async function AED_ExcuteData() {
        let data = new Object();
        //data.CreditAccount = Number($('#AED_CreditID').dropdown('get value')) ? Number($('#AED_CreditID').dropdown('get value')) : 0;
        //data.DebitAccount = Number($('#AED_DebitID').dropdown('get value')) ? Number($('#AED_DebitID').dropdown('get value')) : 0;
        data.CreditAccount = $("#AED_txtCredit").val() ? $("#AED_txtCredit").val() : "";
        data.DebitAccount = $("#AED_txtDebit").val() ? $("#AED_txtDebit").val() : "";
        data.TypeID = Number($('#AED_TypeID').dropdown('get value')) ? Number($('#AED_TypeID').dropdown('get value')) : 0;
        data.ReasonID = Number($('#AED_ReasonID').dropdown('get value')) ? Number($('#AED_ReasonID').dropdown('get value')) : 0;
        data.MethodID = Number($('#AED_Method').dropdown('get value')) ? Number($('#AED_Method').dropdown('get value')) : 0;
        data.Note = $("#AED_Note").val() ? $("#AED_Note").val() : "";
        data.IsProduct = $('#AED_ckbProduct').is(":checked") ? 1 : 0;
        data.IsCreditBranch = $('#AED_ckbCreditBranch').is(":checked") ? 1 : 0;
        data.IsDebitBranch = $('#AED_ckbDebitBranch').is(":checked") ? 1 : 0;
        $('#AED_FormAccountEntry').form('validate form');
        if ($('#AED_FormAccountEntry').form('is valid')) {
            AjaxLoad(url = "/Setting/AccountEntry/AccountEntryDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: ser_AccountEntryDetailID,
                    CurrentType: ser_AccountEntryTypeID
                }, async = true, error = null
                , success = function (result) {
                    debugger
                    if (result != "-1") {
                        notiSuccess();
                        AEL_ListLoad(0);
                        CloseModal();

                    } else if (result == "-1") {
                        $("#textShowMessage").html("Trùng dữ liệu");
                    }
                    else notiError_SW();
                });
        }
        return false;
    }

    function AED_onChangeDebit() {
        let debitID = Number($('#AED_DebitID').dropdown('get value')) ? Number($('#AED_DebitID').dropdown('get value')) : 0;
        $('#AED_txtDebit').val(debitID);
        return false;
    }

    function AED_onChangeCredit() {
        let debitID = Number($('#AED_CreditID').dropdown('get value')) ? Number($('#AED_CreditID').dropdown('get value')) : 0;
        $('#AED_txtDebit').val(debitID);
        return false;
    }
</script>