@page
@model MLunarCoffee.Pages.AppCustomer.AppCustSettingArticleDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<link rel="stylesheet" href="/assests/dist/UploadJS/css/jquery.fileupload.css" />
<link rel="stylesheet" href="/assests/dist/UploadJS/css/jquery.fileupload-ui.css" />


<!-- #region POPUP -->
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <!--Master-->
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <!-- #region header -->
                    <h6 class="mb-0">@Local["Danh sách bài viết, tin tức"]</h6>
                    <!-- #endregion -->
                </div>
                <div class="card-body p-3 pt-2">
                    <!-- #region control execute-->
                    <div class="row px-2 form3" id="form3">
                        <div class="d-lg-flex">
                            <div class="w-20 col-auto mt-3">
                                <div class="h-30">
                                    <!-- #region header -->
                                    <label id="imgsize"></label>
                                    <div class="card-body p-0">
                                        <div class="avatar avatar-xl position-relative">
                                            <img id="AC_ArticleDetail_Img" class="border-radius-md" alt="team-2">
                                            <div class="upload-btn-wrapper d-block mt-3">
                                                <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light position-absolute bottom-0 end-0 mb-n2 me-n2">
                                                    <i class="fa fa-pen top-0">
                                                        <input class="position-absolute opacity-0 w-100 d-block choose-img" id="AC_ArticleDetail_LoadImg" type="file" name="files[]" />
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 p-1">
                                    <div class="form-check">
                                        <input id="AC_ArticleDetail_Feature" class="form-check-input" type="checkbox" checked="checked">
                                        <label id="on_status" class="form-check-label" for="NotiFirstCheck">
                                            @Local["Ưu tiên"]
                                        </label>
                                    </div>
                                </div>
                                <!-- #endregion -->
                            </div>


                            <div class="card-body p-3 pt-2">
                                <!-- #region control execute-->
                                <div class="row px-2 form3" id="form3">
                                    <div class="field col-12 p-1">
                                        <label>@Local["Tiêu đề"]</label>
                                        <input id="AC_ArticleDetail_Title" class="form-control" name="name" type="text" placeholder="eg. Title" />
                                    </div>
                                    <div class="field col-12 p-1">
                                        <label>@Local["Mô tả ngắn"]</label>
                                        <textarea id="AC_ArticleDetail_Description" class="form-control" name="name" type="text" placeholder="eg. Description" rows="4" />
                                    </div>
                                    <div class="field col-12 p-1">
                                        <label>@Local["Nội dung"]</label>
                                        <textarea id="AC_ArticleDetail_Content" class="form-control" style="height: 200px;" rows="4" />
                                    </div>

                                </div>
                            </div>
                            <!-- #endregion -->
                        </div>
                    </div>
                    <!-- #endregion -->
                </div>
            </div>
            <!-- #region button save and text show message-->
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();AC_ArticleDetail_Close()">Cancel</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return AC_ArticleDetail_ExcuteData()">Save</button>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
<!-- #endregion POPUP -->

<script type="text/javascript">
    var hrefImg = '';
    var dataAppPushNoti = new Object();
    var maxsizeContent = 10000;
    var imgWidth = 400;
    var imgHeight = 250;
    var ser_PushNotiDetailID = "@Model._PushNotiDetailID";
    var imgCurrent = '';
    let urlAvatar = "/Api/Upload/Upload?Type=ClientApp";
    let avatarString = Master_Default_Pic;

    $(document).ready(function () {
        document.getElementById('AC_ArticleDetail_Img').setAttribute('src',  avatarString);
        $('#imgsize').html(imgWidth + 'px X ' + imgHeight + 'px' + ' (.png)');
        if (ser_PushNotiDetailID != "0")
            AC_ArticleDetail_LoadData();

        AjaxUpload(url = urlAvatar, inputid='AC_ArticleDetail_LoadImg'
            , success = function (data) {
                if (data != "0") {
                    hrefImg = data;
                    $('#AC_ArticleDetail_Img').attr('src',  hrefImg);
                }
                else notiError_SW();
            }
            , error = function () { notiError_SW();}
        );
    })
    function AC_ArticleDetail_LoadData() {
        AjaxLoad(url = "/AppCustomer/AppCustSettingArticleDetail/?handler=Loadata"
            , data = {
                id: ser_PushNotiDetailID
            }, async = true, error = null
            , success = function (result) {
                let dataNotiPush = JSON.parse(result);
                if (dataNotiPush) {
                    $('#AC_ArticleDetail_Title').val((dataNotiPush[0].Name));
                    $('#AC_ArticleDetail_Description').val((dataNotiPush[0].Description));
                    $('#AC_ArticleDetail_Content').val((dataNotiPush[0].Content));
                    $('#AC_ArticleDetail_Feature').prop("checked", ((dataNotiPush[0].IsFeature == 0) ? (false) : (true)));
                    document.getElementById('AC_ArticleDetail_Img').setAttribute('src', dataNotiPush[0].Image);
                    hrefImg = dataNotiPush[0].Image;
                    imgCurrent = dataNotiPush[0].Image;
                }
            });
    }
    function AC_ArticleDetail_ExcuteData () {
        $('#textShowMessage').html('');
        if (hrefImg != '' && hrefImg.split('/').length > 0) {
            dataAppPushNoti.Image = hrefImg.split('/')[hrefImg.split('/').length - 1];
        } else {
            dataAppPushNoti.Image = "";
            $('#textShowMessage').html(`${decodeHtml('@Local["Yêu cầu hình ảnh"]')}!`);
        }
        imgCurrent = (imgCurrent != '') ? (imgCurrent.split('/')[imgCurrent.split('/').length - 1]) : '';
        dataAppPushNoti.Title = $('#AC_ArticleDetail_Title').val();
        dataAppPushNoti.Content = $('#AC_ArticleDetail_Content').val();
        dataAppPushNoti.Description = $('#AC_ArticleDetail_Description').val();
        dataAppPushNoti.IsFeature = (($('#AC_ArticleDetail_Feature').is(':checked')) ? (1) : (0))

        $('#form3').form('validate form');
        if ($('#form3').form('is valid') && $('#textShowMessage').html() == "") {
            AjaxLoad(url = "/AppCustomer/AppCustSettingArticleDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(dataAppPushNoti),
                    CurrentID: ser_PushNotiDetailID,
                    imgCurrent: imgCurrent
                }, async = true, error = null
                , success = function (result) {
                    if (result == '0') {
                        notiError_SW();
                    } else {
                        notiSuccess();
                        AC_ArticleDetail_Close();
                        AC_ArticleList_LoadAjax();
                    }

                });
        }
    }

</script>
<script>js_require('/js/main.js')</script>
<script>js_require('/js/customjs/custom-validation.js')</script>
<style>
    .choose-img {
        height: 33px;
        margin-top: -20px;
        margin-left: -9px;
        cursor: pointer;
    }
</style>
