@page
@model MLunarCoffee.Pages.Report.Target.CustomerSource.SourceBarModel
@{
    Layout = null;
}
<div class="card">
    <div class="card-header p-3">
        <div class="d-lg-flex">
            <div class="w-lg-50 col-auto my-auto">
                <p class="text-md text-dark font-weight-bold mb-1">@Local["Doanh số theo nguồn"]</p>
            </div>
            <div class="ms-auto my-auto d-flex align-items-center">
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Thu gọn"]">
                    <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                       data-bs-toggle="collapse" href="#SourceBarDiv" aria-expanded="true"></i>
                </div>
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Tải lại"]">
                    <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                       onclick="event.preventDefault(); return LoadData_Report_Target_By_Source_Bar()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="SourceBarDiv">
        <div class="card-body p-3 pt-0">
            <div class="my-0" style="overflow-x: auto; overflow-y: hidden;">
                <div class="chart" style="min-width:1200px;height:300px;">
                    <canvas id="TargetBySourceBar" class="chart-canvas"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>
    $(document).ready(function () {
        ToolPopper();
        LoadData_Report_Target_By_Source_Bar();
    });
    function LoadData_Report_Target_By_Source_Bar() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _TokenBranch = "@Model._TokenBranch";
        AjaxLoad(url = "/Report/Target/CustomerSource/SourceBar/?handler=Loadata"
            , data = { 'dateFrom': _dateFrom, 'dateTo': _dateTo, 'tokenBranch': _TokenBranch }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table3"];
                    for (let i = 0; i < data.length; i++) {
                        data[i]['TotalAmount'] = Number(data[i]['TotalAmount']);

                    }
                    rp_bar("TargetBySourceBar", data, 'TypeCat_Name', 'TotalAmount')
 
                }
            }
        );

    }
</script>
