@page
@model MLunarCoffee.Pages.WareHouse.Stock.StockList
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>

<div class="row">
    <div class="col-12 px-0">
        <div class="card card-plain px-0">
            <div class="card-body pt-1">
                <div class="d-lg-flex">
                    <div id="divStockListAction" class="d-flex flex-wrap gap-1 my-auto">
                        <div class="btn-group">
                            <a class="btn bg-dark btn-sm px-3 mb-0 text-success">@Local["Nhập kho"]</a>
                            <a class="btn bg-dark border-start border-light btn-sm px-3 mb-0 newim cursor-pointer" title="@Local["Nhập kho"]" data-bs-toggle="tooltip">
                                <i class="ni text-white fa fa-plus text-xs"></i>
                            </a>

                            <a class="btn bg-dark border-start border-light btn-sm px-3 mb-0 newimfile cursor-pointer" title="@Local["Tải lại"]" data-bs-toggle="tooltip" onclick="return StockList_ReLoad()">
                                <i class="ni fas fa-redo text-white text-xs"></i>
                            </a>
                            <a class="btn bg-dark border-start border-light btn-sm px-3 mb-0 newimfile cursor-pointer" title="@Local["Tải tệp lên"]" data-bs-toggle="tooltip">
                                <i class="ni fas fa-file-excel text-white text-xs"></i>
                            </a>
                        </div>
                        <div class="btn-group ">
                            <a class="btn bg-dark btn-sm px-3 mb-0 text-warning">@Local["Xuất kho"]</a>
                            <a class="btn btn-dark border-start border-light btn-sm px-3 mb-0 newout cursor-pointer" title="@Local["Xuất kho"]" data-bs-toggle="tooltip">
                                <i class="ni text-white fa fa-minus text-xs"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="vtcondition mt-2">
                    <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                    <div class="fulllap collapse collapsesticky show">                        
                        <div class="row form3 m-0 mt-2 p-0">
                            <div class="col-12 col-md-5 col-xl-5 py-1 px-0 pe-sm-1">
                                <div class="input-group flex-nowrap">
                                    <input id="StockListDate" class="flatpickr form-control" type="text" placeholder="eg .@Local["Ngày"]" onchange="StockList_Load(0,0,-1)" />
                                </div>
                            </div>
                            <div class="col-12 col-md-7 col-xl-7 py-1 px-0 pe-sm-1">
                                <div class="input-group flex-nowrap" id="divSearchstocklist">
                                    <div class="input-group-text input-group-text px-2">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                        <div class="spinner-border spinner-border-sm" style="display:none;"></div>
                                    </div>
                                    <input id="txtstocklist_Filter" s autocomplete="off" type="text" class="form-control" placeholder="eg .@Local["Lọc dữ liệu"]">
                                    <div class="input-group-text">
                                        <div class="ui dropdown text-dark fw-bold text-sm border-0" id="StockListTypeFilter" tabindex="0">
                                            <i class="dropdown icon"></i>
                                            <input type="hidden" value="1">
                                            <div class="text"></div>
                                            <div id="cbbStockListTypeFilter" class="menu transition hidden" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group-text">
                                        <i class="btn_clear fas fa-minus-circle opacity-1"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divStockLoad" class="waitingdiv text-center z-index-sticky" style="display: none; position: absolute; left: 50%;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <ul class="list-group m-0" id="divStockList" style="height: 435px; overflow-y: auto; overflow-x: hidden;">
                </ul>
                <button class="btnsysmore btn btn-secondary w-100 p-1 my-2 cursor-pointer transform-scale-10" onclick="event.preventDefault();return StockList_Load(1,0,-1);">@Local["Xem thêm"]</button>
            </div>
        </div>
    </div>
</div>

<script>

    let beginex, beginim, beginexts;
    let limit = 50;
    let StockListData = {};
    let stocklist_type = -1;
    let stocklist_timer;
    var stockdetailid;

    let stockdetailfilter = [
        {
            ID: -1,
            Name: "@Local["Tất cả"]"
        }, {
            ID: 1,
            Name: "@Local["Nhập kho"]"
        }, {
            ID: 0,
            Name: "@Local["Xuất kho"]"
        }
    ]

    $(document).ready(function () {
        ToolPopper();
        StockList_ReLoad();
    });

    function StockList_ReLoad() {
        let lastDay = new Date();
        let firstDay = new Date();
        firstDay.setDate(firstDay.getDate() - 7); // minus the date
        $("#StockListDate").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        $("#StockListDate").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));

        Load_Combo(stockdetailfilter, 'cbbStockListTypeFilter', true);
        $("#StockListTypeFilter").dropdown('refresh');
        $("#StockListTypeFilter").dropdown('set selected', '-1');

        StockList_Load(ismore = 0, curid = 0, type = -1);
        StockList_Event();
    }

    function StockList_Load(ismore, curid, type) {

        if (ismore == 0) {
            beginex = '01-01-1900 0:0:0', beginim = '01-01-1900 0:0:0';
            beginexts = '01-01-1900 0:0:0';

        }
        let date = $('#StockListDate').val() ? $('#StockListDate').val() : new Date();
        let dateFrom;
        let dateTo;
        if (date.includes(" to ")) {
            date = date.replace(" to ", "#");
            dateFrom = date.split('#')[0];
            dateTo = date.split('#')[1];
        }
        else {
            dateFrom = date;
            dateTo = date;
        }
        AjaxLoad(url = "/WareHouse/Stock/StockList/?handler=LoadData"
            , data = {
                'curid': curid
                , 'type': type
                , 'WareID': MasterWareID
                , 'dateFrom': dateFrom
                , 'dateTo': dateTo
                , 'beginex': beginex
                , 'beginexts': beginexts
                , 'beginim': beginim
                , 'limit': limit
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let datadetail = data.Table;
                    let datadate = data.Table1;
                    if (datadetail != undefined && datadetail.length != 0) {
                        if (curid == 0) {
                            beginex = GetDateTime_String_DMYHMSS(datadate[0].ExLastDate);
                            beginexts = GetDateTime_String_DMYHMSS(datadate[0].ExtsLastDate);
                            beginim = GetDateTime_String_DMYHMSS(datadate[0].ImLastDate);
                            if (ismore == 0) StockListData = {};

                            for (let i = 0; i < datadetail.length; i++) {
                                StockListData[datadetail[i].ID + "-" + datadetail[i].Type] = datadetail[i];
                            }
                            $("#divStockList").html('');
                            StockListRender_List(Object.values(StockListData), "divStockList");
                        }
                        else {
                            let iddetail = datadetail[0].ID;
                            let typedetail = datadetail[0].Type;
                            StockListData[iddetail + "-" + typedetail] = datadetail[0];
                            if ($("#stdetail_" + iddetail + '-' + typedetail).length) {
                                let tr = StockListRender_Item(datadetail[0], active = 1);
                                $("#stdetail_" + iddetail + '-' + typedetail).replaceWith(tr)
                            }
                            StockDetail_Event();
                        }
                    }
                    else {
                        if (curid == 0 && ismore == 0) {
                            StockListData = {};
                            $("#divStockList").html('');
                        }
                    }
                }
            },
            sender = null,
            before = function (e) {
                $("#divStockLoad").show();
            },
            complete = function (e) {
                $("#divStockLoad").hide();
            }
        );
    }
    function StockListRender_List(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            data = data.sort(function (a, b) {
                return b.DateExe.localeCompare(a.DateExe);
            });
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                stringContent = stringContent + StockListRender_Item(item);
            }
            document.getElementById(id).innerHTML = stringContent;
        }
        StockDetail_Event();
    }

    function StockListRender_Item(item, active) {
        let attachcode = item.Code.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '_');
        let tr = '<div class="ms-n2 ps-2">'
            + '<div class="d-flex align-items-center">'
            + StockListRender_Item_Type(item.ID, item.Type, item.Code, item.IsSign, item.IsTreatment)
            + '</div>'
            + '<div class="d-flex align-items-center mt-1 ps-1">'
            + '<div class="ps-1 text-capitalize">'
            + '<span title="@Local["Người tạo"]" class="text-xs pb-1 fst-italic d-block text-dark">' + item.CreatedName + '</span>'
            + '<span title="@Local["Ngày xử lý"]" class="text-xs pb-1 d-block text-dark">' + ConvertTimeSpanUTC_Time(item.DateExe) + '</span>'
            + '</div >'

            + '<div class="ps-3 text-capitalize">'
            + '<span title="@Local["Nhà cung cấp"]" class="text-xs fst-italic pb-1 d-block text-dark">' + (item.SubName == 0 ? "" : item.SubName) + '</span>'
            + '<span title="@Local["Tổng tiền"]" class="text-xs pb-1 d-block text-dark">' + (item.Amount == 0 ? "" : formatNumber(item.Amount)) + '</span>'
            + '</div >'
            + ((item.TransferWare != '')
                ? '<div class="ps-3 text-capitalize"><span class="text-xs fst-italic pb-1 d-block text-dark">' + ((item.Type == 0) ? '@Local["Đến Kho"]' : '@Local["Từ kho"]') + '</span>'
                + '<span class="text-xs pb-1 d-block text-dark">' + item.TransferWare + '</span>'
                + '</div >'
                : '')

            + '<div class="mt-lg-n3  text-dark text-sm mb-0 px-0 ms-auto btnAttachFile">'
            + '<span id="StockL_fileAttach_' + attachcode + '" class="text-dark btnAttachFileIcon text-sm fst-italic pe-1">' + (item?.FileAttach ?? '') + '</span>'
            + '<span class="file ms-auto my-auto text-sm text-dark fst-italic">file</span>'

            + '</div >'

            + '</div>'
            + '</div>'
            + '<hr class="horizontal dark my-0">';


        tr = '<li id="stdetail_' + item.ID + '-' + item.Type + '" class="stockdetail ' + ((active == 1) ? 'active' : '') + ' list-group-item border-0 flex-column align-items-start ps-0 py-0 mb-2 py-2 border-radius-lg" data-type="' + item.Type + '" data-id="' + item.ID + '" data-code="' + item.Code + '">'
            + tr

            + '</li>';
        return tr;
    }

    function StockListRender_Item_TypeColor(type, isTreat) {
        let color = "";
        switch (type) {
            case 0: color = "checklist-item-warning"; break;
            case 1: color = "checklist-item-success"; break;
            case 2: color = (isTreat == 0) ? "checklist-item-warning" : "checklist-item-warning"; break;
        }
        return color;
    }

    function StockListRender_Item_Type(id, type, code, isSign, isTreat) {
        let result = "";
        let treatsale = "";
        switch (type) {
            case 0:
                result = '<span title="@Local["Xuất kho"]" class="text-warning fw-bold stockview" data-type="' + type + '" data-code="' + code + '"></span>';
                break;
            case 1:
                result = '<span title="@Local["Nhập kho"]" class="text-success fw-bold stockview" data-type="' + type + '" data-code="' + code + '"></span>';
                break;
            case 2:
                if (isTreat == 0) {
                    treatsale = '<span class="badge bg-primary ms-2 rounded-1" style="font-size:10px !important;">@Local["Bán hàng"]</span>';
                    result = '<span title="@Local["Xuất bán"]" data-bs-toggle="tooltip" class="text-warning fw-bold stockview" data-type="' + type + '" data-code="' + code + '"></span>'
                }
                else if (isTreat == 1) {
                    treatsale = '<span class="badge bg-primary ms-2 rounded-1" style="font-size:10px !important;">@Local["Điều trị"]</span>';
                    result = '<span title="@Local["Xuất điều trị"]" class="text-warning fw-bold stockview" data-type="' + type + '" data-code="' + code + '"></span>';
                }
                else {
                    treatsale = '<span class="badge bg-primary ms-2 rounded-1" style="font-size:10px !important;">@Local["Thuốc"]</span>';
                    result = '<span title="@Local["Thuốc"]" class="text-warning fw-bold stockview" data-type="' + type + '" data-code="' + code + '"></span>';
                }
                break;
        }

        if (type != 2) {
            if (type == 0) result += '<span data-id="' + id + '" data-type="' + type + '" class="code mt-0 col-auto my-auto mb-0 text-dark ms-2 text-sm fw-bold border-bottom border-warning border-2">' + code + '</span>';
            else result += '<span data-id="' + id + '" data-type="' + type + '" class="code mt-0 col-auto my-auto mb-0 text-dark ms-2 text-sm fw-bold border-bottom border-success border-2">' + code + '</span>';
        }
        else {
            result += '<span class="mt-0 col-auto my-auto mb-0 text-dark ms-2 text-sm fw-bold">' + code + '</span>';
        }

        result += treatsale
            + '<div class="dropstart float-lg-end ms-auto pe-0">'
            + ((isSign != 0)
                ? '<span data-type="' + type + '" data-code="' + code + '" data-id="' + id + '" class="sign ms-auto my-auto text-xs text-primary fst-italic">@Local["Đã ký tên"]</span>'
                : '<span data-type="' + type + '" data-code="' + code + '" data-id="' + id + '" class="sign ms-auto my-auto text-xs text-dark fst-italic">@Local["Chưa ký tên"]</span>')
            + '</div>'
        return result;
    }

    function StockListRender_AttachmentFile(Code = '', Created, Total = 0) {
        if (Code != '') {
            $(`#StockL_fileAttach_${Code.replace(/[^\w\s]/gi, '_')}`).html(Total ?? 0);
        }
    }
    // #region // Event

    function StockDetail_Event() {

        $("#divStockList .stockdetail").unbind("click").bind('click', function () {
            $(this).addClass('active').siblings().removeClass('active');
            let type = $(this).attr("data-type");
            let code = $(this).attr("data-code");
            $("#dm_view_content").empty();
            let div = '<div class="m-0 viewcontent border-dashed border-1 border-secondary border-radius-md p-4" data-code="' + code + '"></div>';
            $("#dm_view_content").append(div);
            if (type == 0)
                $('#dm_view_content .viewcontent[data-code="' + code + '"]').load("/WareHouse/Ticket/ViewForm?type=4&code=" + code + "&ticketproduct=0"
                    , function () {
                        $("#dm_productlist").addClass("d-none");
                        $("#dm_view_content").removeClass("d-none").slideDown();
                    });
            else if (type == 1)
                $('#dm_view_content .viewcontent[data-code="' + code + '"]').load("/WareHouse/Ticket/ViewForm?type=2&code=" + code + "&ticketproduct=0"
                    , function () {
                        $("#dm_productlist").addClass("d-none");
                        $("#dm_view_content").removeClass("d-none").slideDown();
                    });
            else
                $('#dm_view_content .viewcontent[data-code="' + code + '"]').load("/WareHouse/Ticket/ViewForm?type=6&code=" + code + "&ticketproduct=0"
                    , function () {
                        $("#dm_productlist").addClass("d-none");
                        $("#dm_view_content").removeClass("d-none").slideDown();
                    });
        });

        $("#divStockList .stockdetail .sign").unbind("click").bind('click', function (event) {
            event.preventDefault();
            $("#divStockList .stockdetail").removeClass('active');
            let id = $(this).attr("data-id");
            let type = $(this).attr("data-type");

            $("#stdetail_" + id + "-" + type).addClass('active');
            if (type != "2")
                DashWareSign(id, type, StockListData[id + "-" + type].SignData);
        });

        $("#divStockList .stockdetail .code").unbind("click").bind('click', function (event) {
            event.preventDefault();
            $("#divStockList .stockdetail").removeClass('active');
            let id = $(this).attr("data-id");
            let type = $(this).attr("data-type");
            DashBranch_Open();
            if (type == 0) $("#Dw_detail").load("/WareHouse/Stock/StockOutDetail?CurrentID=" + id + "&ver=" + versionofWebApplication);
            else $("#Dw_detail").load("/WareHouse/Stock/StockInDetail?CurrentID=" + id + "&ver=" + versionofWebApplication);
            $("#stdetail_" + id + "-" + type).addClass('active');
        });
    }

    function StockList_Event() {
        $("#divStockListAction .newout").unbind("click").bind('click', function () {
            DashBranch_Open();
            $("#Dw_detail").load('/WareHouse/Stock/StockOutDetail?WareID=' + MasterWareID + '&ver=' + versionofWebApplication);
        });

        $("#divStockListAction .newim").unbind("click").bind('click', function () {
            DashBranch_Open();
            $("#Dw_detail").load('/WareHouse/Stock/StockInDetail?WareID=' + MasterWareID + '&ver=' + versionofWebApplication);
        });

        $("#divStockListAction .newimfile").unbind("click").bind('click', function () {
            DashBranch_Open();
            $("#Dw_detail").load('/WareHouse/Stock/StockImportDetail?WareID=' + MasterWareID + '&ver=' + versionofWebApplication);
        });

        $('#txtstocklist_Filter').keyup(function () {
            if ($(this).val().length > 0) $(".btn_clear").removeClass('opacity-1');
            else $(".btn_clear").addClass('opacity-1');
            $("#divSearchstocklist .fa-search").hide();
            $("#divSearchstocklist .spinner-border").show();
            clearTimeout(stocklist_timer);
            stocklist_timer = setTimeout(function (e) {
                Stocklist_FilterText();
            }, 500);
        });
        $("#divSearchstocklist").on('click', '.btn_clear', function (e) {
            $('#txtstocklist_Filter').val('');
            $(".btn_clear").addClass('opacity-1');
            $('#divStockList .stockdetail').removeClass("d-none");
        });

        $("#StockListTypeFilter").unbind("change").on('change', function (e) {
            stocklist_type = Number($("#StockListTypeFilter").dropdown('get value'));

            //let field = $(this).attr("data-search");

            //if (field == "in") {
            //    if ($(this).hasClass("text-secondary opacity-5")) {
            //        $(".stlisttype").removeClass(" text-primary text-success text-warning").addClass("text-secondary opacity-5");
            //        $(this).removeClass("text-secondary opacity-5").addClass(" text-success");
            //        stocklist_type = 1;
            //    }
            //    else {
            //        $(".stlisttype").removeClass(" text-primary text-success text-warning").addClass("text-secondary opacity-5");
            //        stocklist_type = -1;
            //    }
            //}
            //else {
            //    if ($(this).hasClass("text-secondary opacity-5")) {
            //        $(".stlisttype").removeClass(" text-primary text-success text-warning").addClass("text-secondary opacity-5");
            //        $(this).removeClass("text-secondary opacity-5").addClass(" text-warning");
            //        stocklist_type = 0;
            //    }
            //    else {
            //        $(".stlisttype").removeClass(" text-primary text-success text-warning").addClass("text-secondary opacity-5");
            //        stocklist_type = -1;
            //    }
            //}
            Stocklist_FilterType();
        });
    }
    async function Stocklist_FilterType() {
        await new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    let ishideex = 0;
                    for ([key, value] of Object.entries(StockListData)) {
                        ishideex = 0;
                        if (stocklist_type == 1 && (value.Type == 0 || value.Type == 2)) ishideex = 1;
                        if (stocklist_type == 0 && value.Type == 1) ishideex = 1;
                        if (ishideex == 0) $('#stdetail_' + key).removeClass("d-none");
                        else $('#stdetail_' + key).addClass("d-none");

                    }
                }
            )
        })
    }
    async function Stocklist_FilterText() {
        await new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    let search = xoa_dau($('#txtstocklist_Filter').val().toLowerCase()).trim();
                    for ([key, value] of Object.entries(StockListData)) {
                        if (xoa_dau(value.Code).toLowerCase().includes(search)
                            || xoa_dau(value.CreatedName).toLowerCase().includes(search)) {
                            $('#stdetail_' + key).removeClass("d-none");
                        }
                        else {
                            $('#stdetail_' + key).addClass("d-none");
                        }
                    }
                    $("#divSearchstocklist .fa-search").show();
                    $("#divSearchstocklist .spinner-border").hide();
                    resolve()
                }
            )
        })
    }
    async function DashWareSign(id, type, signdata) {
        await Signature_Action(signdata, 1);
        if (Signature_ResultSignation != "") {
            AjaxLoad(url = "/WareHouse/Stock/StockList/?handler=UpdateSign"
                , data = {
                    'id': id,
                    'sign': Signature_ResultSignation,
                    'typeid': type
                }
                , async = true, error = null
                , success = function (result) {
                    if (result != "0") {
                        StockList_Load(ismore = 0, curid = id, type = type);
                        syslog_whr('s', result);
                    }
                }
            );

        }

    }
    //#endregion

    function ViewForm_CloseCallback() {
        $("#dm_view_content").addClass("d-none");
        $("#dm_view_content").empty();
        $("#dm_productlist").removeClass("d-none");
    }

    function ViewForm_PrintCallback() {

    }

</script>
<style>
    #divStockList .stockdetail.active {
        background-color: #e9ecefa3 !important;
    }

    #divStockList .stockdetail {
        cursor: pointer;
    }

    #divStockList .horizontal {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .stlisttype {
        font-size: 15px;
        cursor: pointer;
    }

    #divSearchstocklist .add {
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 10px;
    }

    #divStockList .btnAttachFile .btnAttachFileIcon {
        margin-top: 1.6rem;
        width: 0.75rem;
        height: 0.75rem;
        font-size: 0.65rem;
    }

    #divStockList .sign:hover {
        border-bottom: 1px solid rgb(var(--bs-primary));
    }
</style>