@page
@model MLunarCoffee.Pages.Setting.Service.CustTabServiceSourceDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Nguồn dịch vụ"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2" >
                    <div class="row px-1 form3" id="CTSS_Detail_Form">
                        <div class="field col-12 p-1">
                            <label>@Local["Tên"]</label>
                            <input id="CTSS_Detail_Name" class="form-control" name="name" type="text" />
                        </div>                       
                        <div class="field col-12 p-1">
                            <label>@Local["Ghi chú"] </label>
                            <input id="CTSS_Detail_Note" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="CTSS_Detail_Form" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button type="button" form="CTSS_Detail_Form" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_SUD" onclick="event.preventDefault();CTSS_Detail_ExcuteDetail()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let CurrentSerSourceID = '@Model._CurrentSerSourceID';    
    $(document).ready(function (){
        CTSS_Detail_LoadDataDetail();
        if (CurrentSerSourceID == '0') CTSS_Detail_LoadDataDetail();
    });
    function CTSS_Detail_LoadDataDetail () {
        AjaxLoad(url = "/Setting/Service/CustTabServiceSourceDetail?handler=Loadata"
            , data = {
                id: CurrentSerSourceID
            }, async = true, error = null
            , success = function (result) {
                if(result != ""){
                    let data = JSON.parse(result);                    
                    CTSS_Detail_FillData(data);
                }
            });
    }
    function CTSS_Detail_FillData(data){
        $('#CTSS_Detail_Name').val(data[0].Name);
        $('#CTSS_Detail_Note').val(data[0].Note);       
    }
    function CTSS_Detail_ExcuteDetail(){
        let data = new Object();
        data.Name = $('#CTSS_Detail_Name').val() ? $('#CTSS_Detail_Name').val() : "";
        data.Note = $('#CTSS_Detail_Name').val() ? $('#CTSS_Detail_Note').val() : "";        
        $('#CTSS_Detail_Form').form('validate form');
        if ($('#CTSS_Detail_Form').form('is valid')) {
            AjaxLoad(url = "/Setting/Service/CustTabServiceSourceDetail?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: CurrentSerSourceID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        CT_SerSource_LoadDataList();
                        CloseModal();
                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>