@page
@model MLunarCoffee.Pages.Setting.Service.ServiceUnitDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Đơn vị của dịch vụ"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết đơn vị của dịch vụ"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2" >
                    <div class="row px-1 form3" id="SUD_Form">
                        <div class="field col-12 p-1">
                            <label>@Local["Đơn vị"]</label>
                            <input id="SUD_Name" class="form-control" name="name" type="text" />
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Loại"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="SUD_CompoUnitType">
                                <input type="hidden" name="" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Loại"]</div>
                                <div id="SUD_cbbUnitType" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Ghi chú"] </label>
                            <input id="SUD_Note" class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="SUD_Form" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button type="button" form="SUD_Form" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_SUD" onclick="event.preventDefault();SUD_ExcuteDetail()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let CurrentUnitID = '@Model._CurrentUnitID';
    let SUD_DentistCosmetic = '@Model.sys_DentistCosmetic';

    let DataCompoUnitType = [{ "ID": "teeth", "Name": "@Local["Răng"]" }, { "ID": "eachtooth", "Name": "@Local["Hàm"]" }, { "ID": "twotooth", "Name": "@Local["Hai hàm"]" }, { "ID": "item", "Name": "@Local["Khác"]" }];
    $(document).ready(function (){
        SUD_LoadDataDetail();
    });
    function SUD_LoadDataDetail () {
        AjaxLoad(url = "/Setting/Service/ServiceUnitDetail?handler=Loadata"
            , data = {
                id: CurrentUnitID
            }, async = true, error = null
            , success = function (result) {
                if(result != ""){
                    let data = JSON.parse(result);
                    Load_Combo(DataCompoUnitType, 'SUD_cbbUnitType', true);
                    $("#SUD_CompoUnitType").dropdown("refresh");
                    $("#SUD_CompoUnitType").dropdown("set selected", SUD_DentistCosmetic == 0 ? "item" : DataCompoUnitType[0].ID);
                    if (CurrentUnitID != "0") SUD_FillData(data);
                    if (SUD_DentistCosmetic == 0) $("#SUD_CompoUnitType").addClass("disabled");
                }
            });
    }
    function SUD_FillData(data){
        $('#SUD_Name').val(data[0].Name);
        $('#SUD_Note').val(data[0].Note);
        $("#SUD_CompoUnitType").dropdown("refresh");
        $("#SUD_CompoUnitType").dropdown("set selected", SUD_DentistCosmetic == 0 ? "item" : data[0].Type);
    }
    function SUD_ExcuteDetail(){
        let data = new Object();
        data.Name = $('#SUD_Name').val() ? $('#SUD_Name').val() : "";
        data.Note = $('#SUD_Name').val() ? $('#SUD_Note').val() : "";
        data.Type = $('#SUD_CompoUnitType').dropdown('get value') ? $('#SUD_CompoUnitType').dropdown('get value') : '';
        $('#SUD_Form').form('validate form');
        if ($('#SUD_Form').form('is valid')) {
            AjaxLoad(url = "/Setting/Service/ServiceUnitDetail?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: CurrentUnitID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        SU_LoadDataList();
                        CloseModal();
                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }
</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>