@page
@model MLunarCoffee.Pages.Setting.Service.ServiceUnitModel
@{
    Layout = null;
}
<div class="container-fluid py-0 px-0">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-3 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Đơn vị của dịch vụ"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách đơn vị của dịch vụ"]</p>
                    </div>
                    <div class="right">
                        <button id="SU_btnAddNew" class="btn bg-gradient-primary btn-sm mt-1 setting_projectclosure" data-value="fade up" onclick="return SU_AddNew()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div class="m-0 my-3 mobile-responsive">
                        <table id="SU_dtContent" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th style="width:40px;">@Local["#"]</th>
                                    <th>@Local["Tên"]</th>
                                    <th>@Local["Loại"]</th>
                                    <th>@Local["Ghi chú"]</th>
                                    <th>@Local["Người sửa"]</th>
                                    <th style="width:40px;" class="setting_projectclosure">@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="SU_dtContentBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let dataEmp;
    let dataType = { "teeth": "@Local["Răng"]" , "eachtooth": "@Local["Hàm"]" , "twotooth": "@Local["Hai hàm"]" , "item": "@Local["Khác"]" }
    $(document).ready(function () {
        SU_LoadDataList();
        SU_Event();
    });
    function SU_LoadDataList() {
        Master_IndexDB_Reads(_Session_Data, [_Session_Employee]
            , function (data) {
                dataEmp = data[0];
                AjaxLoad(url = "/Setting/Service/ServiceUnit/?handler=LoadData"
                    , data = {}, async = true, error = null
                    , success = function (result) {
                        let data = JSON.parse(result);
                        SU_RenderList(data, 'SU_dtContentBody');
                    });
            });
    }
    function SU_RenderList(data, id) {
        let myNode = document.getElementById(id);
        let string = '';
        myNode.innerHTML='';
        if(data && data.length){
            for (let i = 0; i < data.length; i ++){
                let item = data[i];
                let tr = `<tr class="vt-number" role="row">
                        <td class="d-none">${item.ID}</td>
                        <td class="vt-number-order"></td>
                        <td>
                            <a href="#" class="text-decoration-underline fw-bold SU_btnEdit" data-id="${item.ID}">${item.Name}</a>
                        </td>
                        <td>${dataType[item.Type]}</td>
                        <td>${item.Note}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="icon icon-shape icon-sm me-2 text-center">
                                    <img class="avatar avatar-xs mt-2" src="${Master_Default_Pic}" alt="label-image">
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="text-dark text-sm mb-0">${dataEmp[item.Modified_by] != undefined ? dataEmp[item.Modified_by].Name : ""}</h6>
                                    <span class="text-xs">${ConvertDateTimeUTC_DMY(item.Modified)}</span>
                                </div>
                            </div>
                        </td>
                            <td class="text-center setting_projectclosure">
                            <button class="buttonGrid"><i class="SU_btnDelete vtt-icon vttech-icon-delete" data-id="${item.ID}"></i></button>
                        </td>
                    </tr>
                `;
                string+= tr;
            }
        }
        myNode.innerHTML = string;
    }
    function SU_Delete(id) {
        const promise = notiConfirm();
        promise.then(function () { SU_ExecuteDelete(id); }, function () { });
    }
    function SU_ExecuteDelete(id) {
        AjaxLoad(url = "/Setting/Service/ServiceUnit/?handler=DeleteItem"
            , data = {id:id}, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SU_LoadDataList();
                } else {
                    notiError_SW();
                }
            });
    }
    function SU_Event(){
        $('#SU_dtContent tbody').on('click', '.SU_btnEdit', function () {
            UnitID = Number($(this).attr('data-id'));
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load("/Setting/Service/ServiceUnitDetail?CurrentID=" + UnitID + "&ver=" + versionofWebApplication);
            $('#DetailModal').modal('show');
        });

        $('#SU_dtContent tbody').on('click', '.SU_btnDelete', function () {
            UnitID = Number($(this).attr('data-id'));
            SU_Delete(UnitID);
        });

    }
    function SU_AddNew(){
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/Service/ServiceUnitDetail?CurrentID=" + "0" + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
    }
</script>