@page
@model MLunarCoffee.Pages.Appointment.AppointmentDetailModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <meta charset="utf-8" />
    <script>js_require_notasync('/js/AppointmentDetail/Execute.js', true)</script>
    <script>js_require_notasync('/js/AppointmentDetail/doctor_extension.js', true)</script>

</head>
<body>
    <div class="row">
        <div class="col-12 position-relative">
            <div class="card form3" id="appointmentDetail">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="col-auto my-auto">
                            <div class="h-100">
                                <h6 class="font-weight-bolder mb-0">@Local["Lịch hẹn"]</h6>
                                <p class="mb-0 text-sm">@Local["Lịch hẹn khách hàng"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1 d-flex align-items-center">
                            <div class="d-flex px-2 py-0">
                                <div id="AD_AllowEdit" class="form-check _tab_control_ d-none" data-tab="appde_allowedit">
                                    <input class="form-check-input" type="checkbox" checked="checked" disabled>
                                    <label class="form-check-label mb-0">
                                        @Local["Cho phép chỉnh sửa"]
                                    </label>
                                </div>
                            </div>

                            <ul class="nav nav-pills  p-1 bg-transparent" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active cursor-pointer" data-bs-toggle="pill" data-bs-target="#app_detail_general" role="tab">@Local["Thông tin chung"]</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#app_detail_other" role="tab">@Local["Khác"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="d-lg-flex">
                        <div class="col-w-350  mt-lg-3">
                            <div class="d-flex justify-content-lg-start justify-content-md-center">
                                <input id="App_Detail_Date_From" class="form-control flatpickr d-none" type="text"
                                       placeholder="eg .@Local["Ngày"]" onchange="AD_OnDateFormEvent()" />
                            </div>
                            <div class="d-flex justify-content-lg-start justify-content-md-center">
                                <input id="App_Detail_DateFrom_Time" class="form-control flatpickr d-none" type="text"
                                       placeholder="eg .@Local["Ngày"]" onchange="AD_OnDateFormEvent()" />
                            </div>
                        </div>
                        <div class="flex-grow-1 px-3">
                            <div class="row mt-3 me-0" id="AppDetail_TypeSchedule">
                                <div class="d-flex  rounded-3 p-1 ps-2" id="AppDetail_TypeArea">
                                </div>
                            </div>
                            <div class="nav-wrapper position-relative end-0">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="app_detail_general" role="tabpanel">
                                        <div class="row mt-1">
                                            <div class="field col-6 px-1 flex-grow-1">
                                                <label>@Local["Bác sĩ"]</label>
                                                <div class="ui fluid search selection dropdown" id="App_Detail_Doctor_ID" onchange="event.preventDefault(); return AD_OnDoctorEvent();">
                                                    <i class="dropdown icon"></i>
                                                    <input id="SearchDoctor" class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Bác sĩ"]</div>
                                                    <input type="hidden" name="" />
                                                    <div id="ccbApp_Detail_Doctor_ID" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-6 px-1 flex-grow-1">
                                                <label>@Local["Kỹ thuật viên/phụ tá"]</label>
                                                <div class="ui fluid search selection dropdown" id="App_Detail_Assistant_ID">
                                                    <input id="SearchDoctor" class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Kỹ thuật viên/phụ tá"]</div>
                                                    <div id="ccbApp_Detail_Assistant_ID" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-1">
                                            <div class="field col-12 col-md-8 col-xl-8 px-1 flex-grow-1">
                                                <label>@Local["Chi nhánh"]</label>
                                                <div class="ui fluid search selection dropdown" id="App_Detail_Branch_ID" onchange="AD_OnBranchEvent()">
                                                    <input type="hidden" name="branch" />
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Chi nhánh"]</div>
                                                    <div id="cbbApp_Detail_Branch_ID" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-12 col-md-4 col-xl-4 px-1 flex-grow-1">
                                                <label>@Local["Dự kiến"]</label>
                                                <div class="ui fluid search selection dropdown" id="App_Detail_TimeSchedule" onchange="AD_OnTimeEvent()">
                                                    <input type="hidden" name="search" />
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Thời gian"]</div>
                                                    <div id="ccbApp_Detail_TimeSchedule" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="field col-12 px-1 cbbApp_Detail_ServiceCare">
                                                <label>@Local["Dịch vụ quan tâm"]</label>
                                                <div class="ui fluid search selection dropdown multiple" id="App_Detail_ServiceCareToken">
                                                    <input type="hidden" name="noskills" />
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Dịch vụ quan tâm"]</div>
                                                    <div id="cbbApp_Detail_ServiceCare" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-12 px-1 ccbApp_Detail_ServiceTreatment" style="display: none">
                                                <label>@Local["Dịch vụ điều trị"]</label>
                                                <div class="ui fluid search selection dropdown multiple" id="App_Detail_ServiceTreatmentToken">
                                                    <input type="hidden" name="noskills" />
                                                    <i class="dropdown icon"></i>
                                                    <input id="inputServiceTreatment" class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Dịch vụ điều trị"]</div>
                                                    <div id="ccbApp_Detail_ServiceTreatment" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="field col-12 px-1">
                                                <label>@Local["Nội dung lịch hẹn"]</label>
                                                <textarea rows="2" id="App_Detail_NoteSchedule" placeholder="eg .@Local["Nội dung"]" class="form-control"></textarea>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="app_detail_other" role="tabpanel">

                                        <div class="row mt-1">
                                            <div class="field col-12 px-1 ">
                                                <label>@Local["Loại lịch hẹn"]</label>
                                                <div class="ui fluid search selection dropdown" id="App_Detail_Type">
                                                    <input id="ScheduleType" type="hidden" />
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">eg .@Local["Loại lịch hẹn"]</div>
                                                    <div id="ccb_App_Detail_Type" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mt-1">
                                            <div class="field col-12 px-1 ">
                                                <label>@Local["Tư vấn"]</label>
                                                <div class="ui fluid search selection dropdown" id="App_Detail_Consult_ID">
                                                    <input id="Consult" type="hidden" />
                                                    <input id="SearchConsult" class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Tư vấn"]</div>
                                                    <div id="ccbApp_Detail_Consult" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="field col-12 px-1 ">
                                                <label>@Local["Bác sĩ"]</label>
                                                <div class="ui fluid search selection dropdown form-control" id="App_Detail_Doctor_ID2">
                                                    <input type="hidden" />
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Bác sĩ"]</div>
                                                    <div id="ccbApp_Detail_Doctor_ID2" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="field col-12 px-1 ">
                                                <label>@Local["Tag"]</label>
                                                <div class="ui fluid search selection dropdown multiple" id="App_Detail_Tag">
                                                    <input id="ScheduleType" type="hidden" />
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">eg .@Local["Tag"]</div>
                                                    <div id="ccb_App_Detail_Tag" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="field col-12 px-1 ">
                                                <label>@Local["Ghi chú cho chi nhánh"]</label>
                                                <textarea rows="2" id="App_Detail_NoteForBranch" placeholder="eg .@Local["Ghi chú cho chi nhánh"]" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-lg-flex">
                        <div class="col-w-250">
                            <div class="bg-gray-100 border-radius-lg p-1 my-3 me-lg-2">
                                <div class="card-body pt-2 ">
                                    <div class="mt-1">
                                        <span id="app_customer_next" class="text-dark fw-bold text-sm me-1"></span>
                                        <div class="text-dark text-sm">@Local["Lịch hẹn kế tiếp"]</div>
                                    </div>
                                    <hr class="horizontal dark mt-3 mb-2" />
                                    <h4 class="mt-1">
                                        <span id="app_total_morning" class="text-dark fw-bold text-sm me-1"></span>
                                        <span class="text-dark text-sm ms-1">@Local["Tổng lịch buổi sáng"]</span>
                                    </h4>
                                    <h4 class="mt-1">
                                        <span id="app_total_afternoon" class="text-dark fw-bold text-sm me-1"></span>
                                        <span class="text-dark text-sm ms-1">@Local["Tổng lịch buổi chiều"]</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex-grow-1 px-3">
                            <div class="row mt-3">
                                <div class=" " id="app_detail_ex_timeline">
                                    <div class="card-header pb-0">
                                        <div class="d-lg-flex">
                                            <div class="col-auto my-auto">
                                                <div class="h-100">
                                                    <h6 class="mb-0">@Local["Mốc thời gian"]</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-2 ">
                                        <div id="appdoctor_ext_waiting" class="waitingdiv text-center" style="display: none;">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">@Local["Đang tải"]</span>
                                            </div>

                                        </div>
                                        <div id="appdoctor_ext_content">
                                            <div id="doctor_sheduler_in_one_day" class="time-slider"></div>
                                        </div>
                                        <div class="mt-3 d-lg-flex">
                                            <div class="me-3">
                                                <span class="text-sm text-dark">@Local["Lịch làm việc"]</span>
                                                <div style="background: #29b87e96" class="text-sm p-1 px-2 rounded-2 text-dark"></div>
                                            </div>
                                            <div class="me-3">
                                                <span class="text-sm text-dark">@Local["Lịch hẹn"]</span>
                                                <div style="background: #5eb9fd96" class="text-sm p-1 px-2 rounded-2 text-dark"></div>
                                            </div>
                                            <div class="me-3">
                                                <span class="text-sm text-dark">@Local["Lịch đang chọn"]</span>
                                                <div style="background: #ffb48a96" class="text-sm p-1 px-2 rounded-2 text-dark"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save mt-3">
                        <div class="action_Save-Content" style="padding-right: 1em !important;">
                            <div class="field" style="width: 100%; text-align: right; padding-bottom: 1em;">
                                <div class="text-danger pe-3" id="textShowMessage"></div>
                                <div style="display: none;" class="text-danger pe-3" id="textShowMessageDuplicate">@Local["Đã có lịch trong thời gian đã chọn"]</div>
                            </div>
                            <div id="save_appointment" style="min-width: fit-content">
                                <button class="btn btn-secondary" form="appointmentDetail" onclick="event.preventDefault();AD_CloseModal()">@Local["Đóng"]</button>
                                <button id="button_save_appointment"
                                        class="btn bg-gradient-primary mt-2 me-2" style="display: none" onclick="event.preventDefault();AD_SaveAction(0)" form="appointmentDetail">
                                    @Local["Lưu"]
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-absolute top-50 start-50 translate-middle card d-none" id="appointmentDuplicate">
                <div id="AD_DuplicateArea" class="card-body border-radius-lg bg-gradient-dark text-white text-sm p-3 opacity-0">
                    <div>
                        <span id="AD_DuplicateHeader" class="badge bg-gradient-light text-danger"></span>
                        <span id="AD_DuplicateReject" class="badge bg-gradient-light text-danger">
                            @Local["Khách hàng chỉ đặt được một lịch trong một ngày tại một chi nhánh"]
                        </span>
                    </div>
                    <div class="mt-3">
                        <span class="">@Local["Khách hàng đã có lịch hẹn tại chi nhánh"]</span>
                        <span id="AD_DuplicateBranch" class="fw-bold mx-1 border-bottom"></span>
                        <span class="">@Local["Vào lúc"]</span>
                        <span id="AD_DuplicateDate" class="fw-bold mx-1 border-bottom"></span>
                        <span class="">@Local["Người tạo"]</span>
                        <span id="AD_DuplicateCreated" class="fw-bold mx-1 border-bottom"></span>
                    </div>
                    <div id="AD_DuplicateNotice" class="mt-3 d-none">
                        <span class="">@Local["Vẫn đồng ý tạo lịch hẹn"]? </span>
                    </div>
                    <div class="mt-3 d-flex justify-content-end">
                        <button class="btn btn-sm bg-gradient-light mb-0" onclick="AD_DuplicateBack()">@Local["Đóng"]</button>
                        <button id="AD_DuplicateSaveBtn" class="btn btn-sm bg-gradient-primary mx-2 mb-0 d-none" onclick="AD_DuplicateSave()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var ser_TicketAppointmentID;
        var ser_CustomerAppointmentID;
        var ser_CurrentAppointmentID;
        let ser_TreatID = "0";
        var ser_TreatIndex = 0;
        var ser_NearAppointmentID;
        var ser_HistoryAppointment = [];
        var ser_IsTreatmentLess;
        var App_Detail_Flag = 0;
        var ser_App_Detail_DataInstall;
        var DoctorSlide_AppDetail;
        let apServiceCare;
        var ser_AC_AppointmentID;
        var Timer_Change_Appointment;
        var ser_SchedulerSeft = Number(@Model._SchedulerSeft)
        $(document).ready(function () {
            Master_IndexDB_Reads(_Session_Data, [_Session_ServiceCare]
                , function (data) {
                    apServiceCare = data[0];
                    AD_SetDateFrom()
                    AD_TimeLineIni();
                    ser_TicketAppointmentID = (@Model._TicketAppointmentID);
                    ser_CustomerAppointmentID = (@Model._CustomerAppointmentID);
                    ser_CurrentAppointmentID = (@Model._CurrentAppointmentID);
                    ser_TreatID = "@Model._TreatID";
                    ser_IsTreatmentLess = (@Model._IsTreatmentLess);
                    ser_AC_AppointmentID = "@Model._temp_AC_AppointmentID";
                    AD_LoadCombo(ser_CustomerAppointmentID, ser_CurrentAppointmentID);
                    if (ser_SchedulerSeft==1) $('#AD_AllowEdit').removeClass('d-none');
                    CheckPermissionControlInPage(sys_PerControl ,'@Model.CurrentPath');
                    CheckPermissionControlInPage(sys_PerControlMH, '@Model.CurrentPath');
                    Checking_TabControl_Permission();
            })
        });
        function AD_SetDateFrom(value) {
            if (value != undefined) {
                value = new Date(value);
            }
            else {
                value = new Date();
                let min = value.getMinutes();
                value.setMinutes(Math.floor(min / 10) * 10 + 10);
            }
            let dataNow = (new Date()).addDays(-1);
            $("#App_Detail_Date_From").flatpickr({
                dateFormat: 'd-m-Y',
                enableTime: false,
                //minDate: value,
                disable: [
                    function (date) {
                        if (Number(@Model._AllowPast) == 1) return false;
                        else return ( date < (dataNow) && (ConvertDateTimeUTC_DMY(value) != ConvertDateTimeUTC_DMY(date)))
                    }
                ],
                inline: true,
                defaultDate: value
            });
            $("#App_Detail_DateFrom_Time").flatpickr({
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                minTime: "06:00",
                time_24hr: true,
                inline: true,
                defaultDate: GetDateTime_String_HHMM(value),
                maxTime: "22:30",
            });
        }
        // #region // Execute

        function AD_SaveExecuted (_data) {

            let datefrom = _data.Date_from;
            AjaxLoad(url = "/Appointment/AppointmentDetail/?handler=ExcuteDataAppointmentData"
                , data = {
                    'data': JSON.stringify(_data)
                    , 'CurrentID': ser_CurrentAppointmentID
                    , 'CustomerID': ser_CustomerAppointmentID
                    , 'TicketID': ser_TicketAppointmentID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    let dataResult = JSON.parse(result);
                    if (dataResult[0].result == "1") {
                        syslog_cutapp(ser_CurrentAppointmentID == 0 ? 'i' : 'u', dataResult[0].AppCode, ser_CustomerAppointmentID, datefrom);debugger
                        let IsCheckReTreat = Number(dataResult[0].IsCheckReTreat);
                        if (IsCheckReTreat == 1) AD_RetreatCheck(ser_CustomerAppointmentID, _data.Date_from);
                        else AD_SaveExecutedLoad();
                        if ((typeof AppointmentExtraLoad === 'function') && (Number(dataResult[0].IsLoadExtraStatus) == 1)){
                            AppointmentExtraLoad(dataResult[0].id, 1);
                            AppoinmentCollapseExtra(1)
                        }
                        
                        if (ser_CurrentAppointmentID == 0 && typeof SMSSYS_AfterApp == "function") {
                            SMSSYS_AfterApp(dataResult[0].CustID, dataResult[0].id)
                        }
                    }
                    else if (dataResult[0].result == "2") {
                        notiWarning("@Local["Ngày hẹn không được nhỏ hơn ngày hiện tại"]")
                    }
                        else if (dataResult[0].result == "3") {
                        notiWarning("@Local["Quyền bị từ chối"]")
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function () {
                    $("#button_save_appointment").prop("disabled", true);
                },
                complete = function (e) {
                    $("#button_save_appointment").prop("disabled", false);
                }
            );

        }
        function AD_SaveAction (Action) {

            let data = new Object();
            data.ServiceTreatment_ID = $('#App_Detail_ServiceTreatmentToken').dropdown('get value');
            data.branch_ID = Number($('#App_Detail_Branch_ID').dropdown('get value')) ? Number($('#App_Detail_Branch_ID').dropdown('get value')) : 0;
            data.Doctor_ID = Number($('#App_Detail_Doctor_ID').dropdown('get value')) ? Number($('#App_Detail_Doctor_ID').dropdown('get value')) : 0;
            data.Doctor_ID2 = Number($('#App_Detail_Doctor_ID2').dropdown('get value')) ? Number($('#App_Detail_Doctor_ID2').dropdown('get value')) : 0;
            data.Assistant = Number($('#App_Detail_Assistant_ID').dropdown('get value')) ? Number($('#App_Detail_Assistant_ID').dropdown('get value')) : 0;
            data.Ref_Amount =0;

            data.Consult_ID = Number($('#App_Detail_Consult_ID').dropdown('get value')) ? Number($('#App_Detail_Consult_ID').dropdown('get value')) : 0;
            data.TypeSchedule = $("input:radio[name ='AppDetail_Scheduler']:checked").val();
            data.ServiceCare_ID = $('#App_Detail_ServiceCareToken').dropdown('get value');
            data.Note = $('#App_Detail_NoteSchedule').val();
            data.Date_from = $('#App_Detail_Date_From').val() + ' ' + $('#App_Detail_DateFrom_Time').val()
            //console.log($('#App_Detail_DateFrom_Time').val());
            data.numberDateTo = Number($('#App_Detail_TimeSchedule').dropdown('get value')) ? Number($('#App_Detail_TimeSchedule').dropdown('get value')) : 0;
            data.NoteForBranch = $('#App_Detail_NoteForBranch').val();
            data.old = 0;
            data.Room = 0;
            data.ScheduleTypeID = Number($('#App_Detail_Type').dropdown('get value')) ? Number($('#App_Detail_Type').dropdown('get value')) : 0;
            data.TagTokenID = $('#App_Detail_Tag').dropdown('get value') ?($('#App_Detail_Tag').dropdown('get value')) : 0;
            data.TreatIndex = ser_TreatIndex ?? 0;
            data.AC_AppointmentID = ser_AC_AppointmentID;
            ////History Update Appointment
            if (ser_CurrentAppointmentID != 0) {
                let _history_para = new Object();
                _history_para.id = sys_userID_Main;
                _history_para.name = sys_employeeName_Main;
                _history_para.datetime = ConvertDateTimeUTC_DMYHM(Date.now());
                ser_HistoryAppointment.push(_history_para);
            }
            else {
                data.History = '[]';
            }
            data.History = JSON.stringify(ser_HistoryAppointment);
            data.Allowedit = ($('#AD_AllowEdit').length) ? "1" : "0";
            let isValid = 1;
            $('#App_Detail_ServiceCareToken').css('background-color', 'white');
            $('#AppDetail_TypeArea').removeClass('bg-gradient-danger');


            $('#App_Detail_Doctor_ID2').css('background-color', 'white');
            $('#App_Detail_Doctor_ID').css('background-color', 'white');
            if (data.TypeSchedule == 0 || data.TypeSchedule == undefined) {
                $('#AppDetail_TypeArea').addClass('bg-gradient-danger');
                isValid = 0;
            };
            if (data.Doctor_ID == data.Doctor_ID2 && data.Doctor_ID != 0) {
                $('#App_Detail_Doctor_ID2').css('background-color', '#f5dfdf'); isValid = 0;
            }
            if (data.Doctor_ID2 != 0 && data.Doctor_ID == 0) {
                $('#App_Detail_Doctor_ID').css('background-color', '#f5dfdf'); isValid = 0;
            }

            if (data.TypeSchedule == 1 && data.ServiceCare_ID == '') {
                $('#App_Detail_ServiceCareToken').css('background-color', '#f5dfdf');
                isValid = 0;
            }
            if (isValid == 1) {
                $('#appointmentDetail').form('validate form');
                if ($('#appointmentDetail').form('is valid')) {
                    if (Action == 0) {
                        AD_SaveChecking(data);
                    }
                    else {
                        ser_CurrentAppointmentID = (Action == 1) ? ser_NearAppointmentID : 0;
                        AD_SaveExecuted(data);
                    }
                }
            }
            return false;
        }
        // #endregion

        // #region //action
        function AD_RetreatCheck(CustomerID, Date_From) {
            AjaxLoad(url = "/Appointment/AppointmentDetail/?handler=CheckAppReTreat"
                , data = {
                    'CustomerID': CustomerID
                    , 'Date_From': Date_From
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == '1') {
                        notiSuccess();
                        AD_RetreatShow(CustomerID, Date_From);
                    } else {
                        AD_SaveExecutedLoad();
                    }
                }
                , sender = null
            );

        }



        function AD_SetFormTemp() {
            $("#App_Detail_Branch_ID").dropdown("refresh");
            $("#App_Detail_Doctor_ID").dropdown("refresh");
            $("#App_Detail_Doctor_ID2").dropdown("refresh");
            $("#App_Detail_TimeSchedule").dropdown("refresh");
            if ('@Model._temp_app_branch_ID' != '') {
                $("#App_Detail_Branch_ID").dropdown("set selected", Number('@Model._temp_app_branch_ID'));
                $("#App_Detail_Branch_ID").addClass("disabled");
            }
            if ('@Model._temp_app_Doctor' != '') {
                $("#App_Detail_Doctor_ID").dropdown("set selected", Number('@Model._temp_app_Doctor'));
                $("#App_Detail_Doctor_ID").addClass("disabled");
            }
            if ('@Model._temp_app_numberDateTo' != '') $("#App_Detail_TimeSchedule").dropdown("set selected", Number('@Model._temp_app_numberDateTo'));
            if ('@Model._temp_app_Date_from' != '') {
                let _d = '@Model._temp_app_Date_from';
                let date = ConvertStringDMY_YMD(_d.split('x')[0]) + ' ' + _d.split('x')[1];
                AD_SetDateFrom(date)
            }
            else {
                AD_SetDateFrom();
            }
            if (ser_TicketAppointmentID != "0") {
                $("input[name=AppDetail_Scheduler][value=" + 1 + "]").attr('checked', 'checked');
                AD_OnTypeEvent(1);
                $("#AppDetail_TypeArea").addClass("appdetail_disable");
            }
        }

        function AD_RenderType (data, id) {
            
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let color = item.Option != "" ? item.Option : "";
                        let appstatuslang = author_get("UserLang") == 'en' ? Outlang[item.NameLangKey] : item.Name;
                        let tr = '<div class="form-check pr-2">'
                            + '<input style="background-color:' + color +'" id="AppDetail_Scheduler' + item.ID + '" data-color="' + color +'" class="form-check-input pr-2 cursor-pointer" type="radio" name="AppDetail_Scheduler" value="'+item.ID+'" >'
                            + '<span data-id="' + item.ID+'" for="AppDetail_Scheduler' + item.ID + '"  class="appde_text text-sm mb-0 text-dark  cursor-pointer  me-3">'+appstatuslang+'</span>'
                            +'</div>'
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
        async function AD_LoadUpdate (_data) {
            new Promise((resolve) => {
                if (_data.AllowEdit == 0) {
                    $('#save_appointment #button_save_appointment').remove();
                    if (typeof AD_SaveAction == 'function' && $.isFunction(AD_SaveAction)) {
                        delete AD_SaveAction;
                    }
                }
                else {
                    $("#save_appointment #button_save_appointment").show();
                }
                $("#App_Detail_Branch_ID").dropdown("refresh");
                $("#App_Detail_Branch_ID").dropdown("set selected", _data.Branch_ID);
                $("#App_Detail_Doctor_ID").dropdown("refresh");
                $("#App_Detail_Doctor_ID").dropdown("set selected", _data.DoctorID);
                $("#App_Detail_Doctor_ID2").dropdown("refresh");
                $("#App_Detail_Doctor_ID2").dropdown("set selected", _data.DoctorID2);

                $("#App_Detail_Consult_ID").dropdown("refresh");
                $("#App_Detail_Consult_ID").dropdown("set selected", _data.Consult_ID);
                $("#App_Detail_Assistant_ID").dropdown("refresh");
                $("#App_Detail_Assistant_ID").dropdown("set selected", _data.AssistantID);
                $("input[name=AppDetail_Scheduler][value=" + _data.Type_ID + "]").attr('checked', 'checked').trigger('change');

                if (_data.Service_care != undefined && _data.Service_care != null && _data.Service_care != "") {
                    $('#App_Detail_ServiceCareToken').dropdown('refresh')
                    $('#App_Detail_ServiceCareToken').dropdown('set selected', _data.Service_care.split(","));
                }

                if (_data.Service_Treat != undefined && _data.Service_Treat != null && _data.Service_Treat != "") {
                    $('#App_Detail_ServiceTreatmentToken').dropdown('refresh')
                    $('#App_Detail_ServiceTreatmentToken').dropdown('set selected', _data.Service_Treat.split(","));
                }
                $("#App_Detail_TimeSchedule").dropdown("refresh");
                $("#App_Detail_TimeSchedule").dropdown("set selected", Number(_data.BlockTime));
                $('#App_Detail_NoteSchedule').val(formatHTML(_data.Content));
                $('#App_Detail_NoteForBranch').val(formatHTML(_data.NoteForBranch));

                $("#App_Detail_Type").dropdown("clear");
                $("#App_Detail_Type").dropdown("refresh");
                $("#App_Detail_Type").dropdown("set selected", _data.Schedule_Type_ID);
                $("#App_Detail_Tag").dropdown("clear");
                $("#App_Detail_Tag").dropdown("refresh");
                $("#App_Detail_Tag").dropdown("set selected", (_data.TagTokenID).split(','));
                AD_SetDateFrom(_data.DateFrom)
                ser_HistoryAppointment = JSON.parse(_data.History)
                AD_TimeLineLoad();
            })
        }
        async function AD_LoadCombo (cusid, currentid) {
            new Promise((resolve) => {
                AjaxLoad(url = "/Appointment/AppointmentDetail/?handler=LoadCombo"
                    , data = {
                        'cusid': cusid
                        , 'currentid': currentid
                        , 'treatID': ser_TreatID
                        , 'ticketid': ser_TicketAppointmentID
                        , 'isTreatmentLess': ser_IsTreatmentLess
                    }
                    , async = false
                    , error = function () { notiError_SW(); }
                    , success = function (result) {
                        if (result != "") {
                            let data = JSON.parse(result);
                            let empfull = data.EmpFull;
                            let empdoc = empfull.filter(function (el) {
                                return Number(el.GroupID) == 14
                            });;

                            let empass = empfull.filter(function (el) {
                                return Number(el.GroupID) == 17
                            });
                            AD_RenderType(data.Schedule_Type, "AppDetail_TypeArea");
                            $("input:radio[name ='AppDetail_Scheduler']").on('change', function (e) {
                                AD_OnTypeEvent($("input:radio[name ='AppDetail_Scheduler']:checked").val());
                            });
                            Load_Combo(empdoc, "ccbApp_Detail_Doctor_ID", false);
                            Load_Combo(empdoc, "ccbApp_Detail_Doctor_ID2", false);
                            Load_Combo(empass, "ccbApp_Detail_Assistant_ID", false);
                            Load_Combo(data.Branch, "cbbApp_Detail_Branch_ID", true);
                            $("#App_Detail_Branch_ID").dropdown("refresh");
                            $("#App_Detail_Branch_ID").dropdown("set selected", Number(@Model._BranhchID));
                            Load_Combo(empfull, "ccbApp_Detail_Consult", false);
                            Load_Combo(Object.values(apServiceCare), "cbbApp_Detail_ServiceCare", false);
                            Load_Combo(data.Service_Treat, "ccbApp_Detail_ServiceTreatment", false);
                            Load_Combo(data.Time, "ccbApp_Detail_TimeSchedule", true);
                            Load_Combo(data.ScheduleType, "ccb_App_Detail_Type", false);
                            Load_Combo(data.Tag, "ccb_App_Detail_Tag", false);
                            $("#App_Detail_Type").dropdown("refresh");
                            $("#App_Detail_Type").dropdown("set selected", (data.ScheduleType.length > 0 ? Number(data.ScheduleType[0].ID) : 0));

                            $("#App_Detail_TimeSchedule").dropdown("refresh");
                            var _avg = data.Time.filter(function (el) {
                                return Number(el.ID) == 30
                            });
                            if (_avg.length != 0) $("#App_Detail_TimeSchedule").dropdown("set selected", 30);
                            else $("#App_Detail_TimeSchedule").dropdown("set selected", (data.time != undefined ? Number(data.Time[0].ID) : 0));

                            // Nếu lịch hẹn được tạo từ điều trị
                            if (ser_TreatID != '0') {
                                debugger
                                $("#AppDetail_Scheduler2").attr("checked", true);
                                AD_OnTypeEvent(2);
                                let contentNext = data.ContentTreat;
                                if (contentNext.length > 0) {
                                    $("#App_Detail_NoteSchedule").val(contentNext[0].Content)

                                    if (ser_IsTreatmentLess == '0') {
                                        $("#App_Detail_ServiceTreatmentToken").dropdown("refresh");
                                        $("#App_Detail_ServiceTreatmentToken").dropdown("set selected", contentNext[0].Service_ID);
                                    }
                                    ser_TreatIndex = contentNext[0]?.TreatIndex ?? 0;
                                }
                            }

                            if (ser_TicketAppointmentID != '0') {
                                let contentTicket = data.TicketHisCare;
                                if (contentTicket.length > 0) {
                                    $("#App_Detail_NoteSchedule").val(contentTicket[0].Content)
                                }
                            }

                            let _Installment = data.DataInstallment;
                            if (_Installment != undefined && _Installment.length != 0) {
                                ser_App_Detail_DataInstall = _Installment;
                            }
                            else {
                                ser_App_Detail_DataInstall = [];
                            }
                            if (Number(currentid) != 0) {
                                let dataupdate = data.DataUpdate;
                                if (dataupdate != undefined && dataupdate.length != 0) {
                                    AD_LoadUpdate(dataupdate[0]);
                                }

                            }
                            else {
                                $("#save_appointment #button_save_appointment").show();
                                AD_SetFormTemp();
                            }
                            App_Detail_Flag = 1
                            AD_OnDateFormEvent();
                        }
                    }
                    , sender = null
                );
            })
        }

        function AD_CloseModal() {
            CloseModal();
        }
        //#endregion

    </script>
    <style>
        #appointmentDetail .flatpickr-calendar {
            box-shadow: none;
            border: none;
        }

        .appdetail_disable {
            opacity: 0.2;
            pointer-events: none;
            cursor: none;
        }
        .appde_text.active {
            border-bottom: 1px solid rgb(var(--bs-primary));
            color: rgb(var(--bs-primary)) !important;
        }
    </style>
    <script>css_require('/js/Timeline/css/timeslider.css');</script>
    <script>js_require('/js/comon/initialize_setting.js', true)</script>
    <script>js_require('/js/main.js')</script>
    <script>js_require('/js/customjs/custom-validation.js', true)</script>
    <script>js_require_notasync('/js/Timeline/js/timeslider.js', true)</script>
</body>

</html>