@page
@model MLunarCoffee.Pages.Appointment.AppointmentInDayModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-12 p-0">
        <div class="card card-plain ">
            <div class="card-header pb-0 pt-2">
                <div class="d-flex px-0  align-items-center">
                    <div class="col-auto my-auto">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-xl-6 p-1 text-center text-md-start text-lg-start" id="box_time_app_in_date">
                                <div class="fix_div " style="width: 250px; display: inline-block;">
                                    <div class="box_date_time">
                                        <div class="box_date_time_step">
                                            <div class="box_date_time_icon" id="PriviousDateAppointment"><i class="vtt-icon vttech-icon-Arrow-lefts"></i></div>
                                            <div class="box_date_time_content">
                                                <span id="DowAppointment"></span>
                                                <span id="DateAppointment"></span>
                                                <div class="box_date_time_reset"><a id="ResetDateAppointment" class="cursor-pointer" onclick="return Appointment_Reset_InDay();">@Local["Hôm nay"]</a></div>
                                            </div>
                                            <div class="box_date_time_icon" id="NextDateAppointment"><i class="vtt-icon vttech-icon-Arrow-rights"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-auto my-auto ">
                        <div class="row mx-0 mt-2 mt-lg-0">
                            <div class="col ps-0 mb-lg-0 mb-1">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-primary text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                        <h5 id="TotalApp" class="text-white mb-0 mt-0  font-weight-bolder" data-type="1">0</h5>
                                    </div>

                                    <p class="text-sm text-dark mb-0  fst-italic text-nowrap">@Local["Lịch hẹn"]</p>
                                </div>
                            </div>
                            <div class="col ps-0 mb-lg-0 mb-1">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-success text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                        <h5 id="TotalAppCheckIn" class="text-white mb-0 mt-0 font-weight-bolder" data-type="2">0</h5>
                                    </div>
                                    <p class="text-sm text-dark  mb-0 fst-italic text-nowrap">@Local["Đã đến"]</p>
                                </div>
                            </div><div class="col ps-0 mb-lg-0 mb-1">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape icon-xs shadow border-radius-sm bg-gradient-danger text-center w-auto p-2 me-2 d-flex align-items-center justify-content-center">
                                        <h5 id="TotalAppCancel" class="text-white mb-0 mt-0 font-weight-bolder" data-type="5">0</h5>
                                    </div>
                                    <p class="text-sm text-dark  mb-0 fst-italic text-nowrap">@Local["Hủy"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-1 mt-lg-n3 vt-header-parent pb-0" id="MainAppointmentDetail">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#MainAppointmentDetail').empty();
        $('#MainAppointmentDetail').load("/Desk/Appointment/AppointmentInDay_Desk_Branch");

    })
</script>
