@page
@model MLunarCoffee.Pages.Appointment.AppointmentByDayModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()
<div class="row" id="AppointmentByDay_Container">
    <div class="col-12 p-0">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0">
                <div class="left">
                    <h6 class="mb-0">@Local["Lịch hẹn theo ngày"]</h6>
                    <p class="text-sm mb-0">
                        @Local["Danh sách lịch hẹn tại chi nhánh theo ngày tìm kiếm"]
                    </p>
                </div>
                <div class="right">
                    <button class="btn btn-dark btn-sm mt-1 _tab_control_" id="per_PrintAppByDay" onclick="event.preventDefault();return AppointmentByDay_PrintAppByDay();">@Local["In"]</button>
                    <button class="btn btn-dark btn-sm mt-1 _tab_control_" data-tab="export_excel" onclick="event.preventDefault();return exportFile();">@Local["Xuất"]</button>
                    <div class="d-inline">
                        <button class="btn btn-dark btn-sm mt-1 dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#ScheduleDivFill">
                            @Local["Lọc"]
                        </button>

                    </div>
                    <div class="position-relative d-inline">
                        <button class="btn btn-dark btn-sm mt-1 dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colListscheduler">
                            @Local["Xem thêm"]
                        </button>

                    </div>
                </div>
                <div class="toggle">
                    <div class="collapse collapsesticky position-absolute z-index-3 end-1 top-100 mt-2" id="ScheduleDivFill" style="min-width:285px;">
                        <div class="card card-body text-dark text-capitalize opacity-10">
                            <div class="field col-12 mt-2">
                                <div class="ui fluid search selection dropdown form-control" id="AppCreator">
                                    <input type="hidden" name="" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">eg . @Local["Người tạo"]</div>
                                    <div id="cbbAppCreator" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 mt-2">
                                <div class="ui fluid search selection dropdown form-control" id="Schedule_ScheduleType">
                                    <input type="hidden" name="branch" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">eg .@Local["Loại chi tiết"]</div>
                                    <div id="Schedule_CbbScheduleType" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-dark btn-sm mt-3 mb-2" onclick="AppByDay_CloseCollapse();">@Local["Đóng"]</button>
                            <button class="btn btn-primary btn-sm " onclick="AppByDay_FillData()">OK</button>
                        </div>
                    </div>
                    <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colListscheduler" style="min-width:250px;">
                        <ul class="card card-body text-dark text-capitalize opacity-10">
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="code" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã lịch hẹn"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="created_by" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Người tạo"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="create" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Ngày tạo"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="editname" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Chỉnh sửa gần nhất"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="source" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Nguồn khách hàng"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="group" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Nhóm khách hàng"]</p>
                            </li>

                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="birth" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Ngày sinh"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="cust_address" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Địa chỉ"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="district" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Quận huyện"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="city" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Tỉnh/Thành phố"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="typedetail" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Loại chi tiết"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="Gender" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Giới tính"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="branch" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Chi nhánh"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="doctor" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Bác sĩ"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="assistant" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Kỹ thuật viên/phụ tá"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="document_code" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã hồ sơ"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="custoldcode" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã khách hàng cũ"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="con_employee" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Tư vấn"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="service_care" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Dịch vụ quan tâm"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="phone" type="checkbox" checked="checked">
                                </div>
                                <p class="text-sm">@Local["Điện thoại"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="totalPay" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Tổng tiền thanh toán"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="staff" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Tele phụ trách"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="isPayment" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Thanh toán"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="ReasonCancel" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Lý do hủy lịch hẹn"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="MemberShip" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Thành viên"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="IsNewCust" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Khách mới"]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 vt-header-parent">
                <div class="vtcondition">
                    <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                    <div class="fulllap collapse collapsesticky show">
                        <div class="row px-2">
                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <div class="ui fluid search selection dropdown form-control" id="ScheduleBranchID">
                                    <input type="hidden" name="branch" />
                                    <input class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg .@Local["Chi nhánh"]</div>
                                    <div id="cbbBranch" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <div class="ui fluid search selection dropdown form-control" id="ScheduleStatus">
                                    <input type="hidden" name="branch" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">eg .@Local["Trạng thái lịch hẹn"]</div>
                                    <div id="cbbAppoinmentStatus" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <input id="byday_date" class="flatpickr form-control" type="text" placeholder="eg .@Local["Ngày"]" />
                            </div>
                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <div class="d-flex">
                                    <div class="w-50 me-1">
                                        <input id="bydaytimefrom" class="flatpickr approxtime form-control" type="text" placeholder="eg .@Local["Từ ngày"]" />
                                    </div>
                                    <div class="w-50 ms-1">
                                        <input id="bydaytimeto" class="flatpickr approxtime form-control" type="text" placeholder="eg .@Local["Đến ngày"]" />
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="row px-2">
                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <div class="input-group">
                                    <div class="input-group-text"><span class="fa fa-search form-control-feedback"></span></div>
                                    <input id="filterAppointment" type="text" class="form-control" placeholder="eg .@Local["Nhập tại đây"]" onkeyup="event.preventDefault();return onkeyupAppointmentByDay();">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <div class="input-group flex-nowrap rounded-end position-relative">
                                    <div class="ui fluid search selection dropdown form-control" id="Doctor_ID">
                                        <input id="Doctor" type="hidden" />
                                        <i class="dropdown icon"></i>
                                        <input id="SearchDoctor_InDay" class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Bác sĩ"]</div>
                                        <div id="cbbDoctor_App" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                    <div id="AppByDay_IsMine" class="input-group-text position-relative cursor-pointer  _tab_control_" data-tab="callvtt_btn_doc_myself" title="" data-ismine="1">
                                        <span class="btn badge bg-gradient-success my-auto me-2" onclick="event.preventDefault(); AppByDay_setMySelf();">@Local["Của tôi"]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <div class="ui fluid search selection dropdown form-control" id="ScheduleTypeList">
                                    <input type="hidden" name="branch" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">eg .@Local["Loại lịch hẹn"]</div>
                                    <div id="cbbAppoinmentType" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-3 p-1">
                                <div class="d-flex">
                                    <div class="w-50 me-1">
                                        <div class="input-group mb-0">
                                            <span class="input-group-text fw-bold text-primary">@Local["Tổng"]</span>
                                            <span class="ps-2 form-control fw-bolder text-dark" id="lbTotalAppbyday">0</span>
                                        </div>
                                    </div>
                                    <div class="w-50 ms-1">
                                        <button class="btn bg-gradient-primary m-0 w-100" onclick="event.preventDefault();return LoadAppointmentOption();">@Local["Ok"]</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="m-0 my-2 pb-0 mobile-responsive position-relative vt-header-sticky vt-hs-height overflow-auto">
                    <div id="AppByDayWaiting" class="position-absolute top-0 start-50 translate-middle-x z-index-3 waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">@Local["Đang tải"]</span>
                        </div>

                    </div>
                    <table data-name="AppointmentByDay" class="table vt-table mb-0" id="dtContentAppointmentByDay">
                        <thead>
                            <tr>
                                <th class="d-none">ID</th>
                                <th class="d-none">CusID</th>
                                <th style="padding: 0.3rem !important">#</th>
                                <th data-name="code">@Local["Mã lịch hẹn"]</th>
                                <th data-name="document_code">@Local["Mã hồ sơ"]</th>
                                <th data-name="custoldcode">@Local["Mã khách hàng cũ"]</th>
                                <th>@Local["Mã khách hàng"]</th>
                                <th>@Local["Khách hàng"]</th>
                                <th style="min-width: 80px;">@Local["Thời gian"]</th>
                                <th style="min-width: 80px;">@Local["Ngày"]</th>
                                <th data-name="phone">@Local["Điện thoại"]</th>
                                <th data-name="birth">@Local["Ngày sinh"]</th>
                                <th data-name="cust_address">@Local["Địa chỉ"]</th>
                                <th data-name="district">@Local["Quận huyện"]</th>
                                <th data-name="city">@Local["Tỉnh/Thành phố"]</th>
                                <th style="min-width: 140px;">@Local["Nội dung"]</th>
                                <th data-name="service_care">@Local["Dịch vụ quan tâm"]</th>
                                <th>@Local["Loại"]</th>
                                <th data-name="typedetail">@Local["Loại chi tiết"]</th>
                                <th>@Local["Trạng thái"]</th>
                                <th data-name="Gender">@Local["Giới tính"]</th>
                                <th data-name="branch">@Local["Chi nhánh"]</th>
                                <th data-name="con_employee">@Local["Tư vấn"]</th>
                                <th data-name="doctor">@Local["Bác sĩ"]</th>
                                <th data-name="assistant">@Local["Kỹ thuật viên/phụ tá"]</th>
                                <th data-name="created_by">@Local["Người tạo"]</th>
                                <th data-name="MemberShip">@Local["Thành viên"]</th>
                                <th data-name="create">@Local["Ngày tạo"]</th>
                                <th data-name="editname">@Local["Chỉnh sửa"]</th>
                                <th data-name="source">@Local["Nguồn khách hàng"]</th>
                                <th data-name="group">@Local["Nhóm khách hàng"]</th>
                                <th data-name="totalPay">@Local["Tổng tiền thanh toán"]</th>
                                <th data-name="staff">@Local["Tele phụ trách"]</th>
                                <th data-name="isPayment">@Local["Thanh toán"]</th>
                                <th data-name="IsNewCust">@Local["Khách mới"]</th>
                                <th data-name="ReasonCancel">@Local["Lý do hủy lịch hẹn"]</th>
                                <th class="no-sort" style="padding: 0.3rem !important">@Local["Hủy"]</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentAppointmentByDayListBody">
                        </tbody>
                    </table>
                    <div class="mx-4 position-sticky bottom-1">
                        <button id="sh_btnLoadMore" class="btn btnsysmore btn-secondary p-1 mb-0 w-100" onclick="LoadAppointmentListByDayAjax(1,0)">@Local["Xem thêm"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">

    let dataAppointment = {};
    var sys_dataScheduleStatus;

    let sys_DentistCosmetic = "@Model.sys_DentistCosmetic";
    let findIdComboMax;
    let DataServiceCare, DataService;

    let shtable;
    let RowNumBegin = 0;
    let sys_Limit_LoadList = 50;
    let DataEmployee = {};
    let AppByDay_dataScheduleMember;
    let AppByDay_ReasonCancel = {};

    let AppByDay_District, AppByDay_City;
    $(document).ready(function () {
        shtable = $("#dtContentAppointmentByDay").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        $("#byday_date").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false
        });
        var date = new Date();
        $("#byday_date").val(formatDateClient(date) + ' to ' + formatDateClient(date));

        $("#bydaytimefrom").flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true,
            defaultDate: '00:00',
            onChange: function (selectedDates, dateStr, instance) {

            }
        });
        $("#bydaytimeto").flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true,
            defaultDate: '23:59',
            onChange: function (selectedDates, dateStr, instance) {

            }
        });
        $('.fix_div .appoint_img').popup({
            transition: "scale up",
            position: "top center"
        });

        Master_IndexDB_Reads(_Session_Data, [_Session_Service, _Session_ServiceCare, _Session_District, _Session_City]
            , function (data) {
                DataService = data[0];
                DataServiceCare = data[1];
                AppByDay_District = data[2];
                AppByDay_City = data[3];
                LoadComboSchedule();
            })
        Checking_TabControl_Permission();
    });
    function LoadAppointmentOption() {
        LoadAppointmentLoadTotal();
        LoadAppointmentListByDayAjax(0, 0);
    }

    function LoadAppointmentLoadTotal() {
        let dataTotal = AppByDay_GetPara();
        AjaxLoad(url = "/Appointment/AppointmentByDay/?handler=LoadTotal"
            , data = {
                'dataTotal': JSON.stringify(dataTotal)
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    $("#lbTotalAppbyday").html(formatNumber(data[0].TotalRow));
                }
                else {
                    notiError_SW();
                }
            }
            , sender = null
            , before = function (e) { }
            , complete = function (e) {
            }
        )
    }

    async function LoadAppointmentListByDayAjax(isLoadMore, currentid) {
        return new Promise(resolve => {
            if (isLoadMore == 0 && currentid == 0) {
                dataAppointment = {};
                RowNumBegin = 0;
                $("#dtContentAppointmentByDayListBody").empty();
            }
            let dataList = AppByDay_GetPara();
            AjaxLoad(url = "/Appointment/AppointmentByDay/?handler=LoadataAppointmentList"
                , data = {
                    'dataList': JSON.stringify(dataList)
                    , 'RowNumBegin': RowNumBegin
                    , 'limit': sys_Limit_LoadList
                    , 'currentid': currentid
                }
                , async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let _data_app = JSON.parse(result);
                        if (currentid == 0) {
                            if (_data_app && _data_app.length != 0) {
                                RowNumBegin = _data_app[_data_app.length - 1].RowNum
                                $("#sh_btnLoadMore").show();
                            }
                            else {
                                $("#sh_btnLoadMore").hide();
                            }
                            fnRenderBlock(_data_app, "dtContentAppointmentByDayListBody"
                                , blocknum = 20
                                , fnrender = Render_Push_AppointmentbyDay
                                , fnsuccess = function () { }
                            );
                        }
                        else {
                            dataAppointment[currentid] = _data_app[0];
                            $('#Row_App_Byday_' + currentid).replaceWith(
                                Render_Push_AppointmentByDay_Each(_data_app[0].ID, _data_app[0])
                            )
                        }
                        JsBarcode(".barcodeApppoinment").init();
                        Checking_TabControl_Permission();
                        shtable.Refresh();
                        $('#totalScheduler').html('@Local["Tổng"] : ' + _data_app.length)
                        $('#dtContentAppointmentByDayList').tablesort();
                        //$('#lbTotalAppbyday').html(formatNumber($('#dtContentAppointmentByDayListBody tr').length));
                    }
                    resolve();
                }
                , sender = null
                , before = function (e) {
                    $("#AppByDayWaiting").show();
                }
                , complete = function (e) {
                    $("#AppByDayWaiting").hide();
                }
            );
        })
    }
    function AppByDay_GetPara() {
        try {
            let data = {};
            let result = [];
            let date = $('#byday_date').val() ? $('#byday_date').val() : new Date()
            data.type = (Number($('#ScheduleTypeList').dropdown('get value')) ? Number($('#ScheduleTypeList').dropdown('get value')) : 0);
            data.status = (Number($('#ScheduleStatus').dropdown('get value')) ? Number($('#ScheduleStatus').dropdown('get value')) : 0);
            data.doctor = (Number($('#Doctor_ID').dropdown('get value')) ? Number($('#Doctor_ID').dropdown('get value')) : 0);
            data.inttimefrom = Number($("#bydaytimefrom").val().replace(':', ''));
            data.inttimeto = Number($("#bydaytimeto").val().replace(':', ''));
            data.branchid = (Number($('#ScheduleBranchID').dropdown('get value')) ? Number($('#ScheduleBranchID').dropdown('get value')) : 0);
            if (findIdComboMax == data.branchid) data.branchid = 0;

            if (date.search(" to ") > 0) {
                date = date.replace(" to ", "x");
                data.dateFrom = date.split('x')[0];
                data.dateTo = date.split('x')[1];
            }
            else {
                data.dateFrom = date;
                data.dateTo = date;
            }
            if (data != {}) result.push(data);

            return result;
        }
        catch (err) {
            return "";
        }
    }

    async function Render_Push_AppointmentbyDay(_data_app) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById("dtContentAppointmentByDayListBody");
                if (myNode != null) {

                    for (let _i = 0; _i < _data_app.length; _i++) {
                        dataAppointment[_data_app[_i].ID] = _data_app[_i];
                        dataAppointment[_data_app[_i].ID].NameSer_Treat_Care = '';
                        if (dataAppointment[_data_app[_i].ID].Type == 1) {
                            dataAppointment[_data_app[_i].ID].NameSer_Treat_Care =
                                Fun_GetString_ByToken(DataServiceCare, dataAppointment[_data_app[_i].ID].ServiceCare_ID);
                        }
                        else {
                            dataAppointment[_data_app[_i].ID].NameSer_Treat_Care =
                                Fun_GetString_ByToken(DataService, dataAppointment[_data_app[_i].ID].ServiceTreat_ID)
                        }
                        myNode.insertAdjacentHTML('beforeend', Render_Push_AppointmentByDay_Each(_data_app[_i].ID, _data_app[_i]));
                        JsBarcode(`#Row_App_Byday_${_data_app[_i].ID} .barcodeApppoinment`).init();
                    }

                    Checking_TabControl_Permission();
                    shtable.Refresh();

                }
                resolve();
            }, 100)
        })
    }
    function Render_Push_AppointmentByDay_Each(key, value) {

        let rgbaCol = 'rgba(' + parseInt(value.ColorCode.slice(-6, -4), 16)
            + ',' + parseInt(value.ColorCode.slice(-4, -2), 16)
            + ',' + parseInt(value.ColorCode.slice(-2), 16)
            + ',0.3)';
        let ColorBorderType = value.TypeID == 1
            ? (value.OptionlColor != "" ? value.OptionlColor : '#0f7402')
            : (value.OptionlColor != "" ? value.OptionlColor : '#2196f3')
        ColorBorderType = value.IsCancel == 0 ? ColorBorderType : '#ea0606';
        return '<tr class="vt-number row_app border-5 border-bottom-0 border-top-0 border-end-0 border-3" style="border-color: ' + ColorBorderType + ' !important;background-color:' + rgbaCol + '"'
            + ' data_type=' + value.TypeID
            + ' data_time=' + value.Time
            + ' data_consult=' + value.ConsultID
            + ' data_doctor=' + value.DoctorID
            + ' data_status=' + value.TypeStatusID
            + ' data_typeSchedule=' + value.ScheduleTypeID
            + ' data_creator=' + value.CreatedID
            + ' id="Row_App_Byday_' + key + '">'
            + RenderAppointmentInDayList_Content(value)
            + '</tr>';

    }
    function LoadComboSchedule() {
        AjaxLoad(url = "/Appointment/AppointmentByDay/?handler=LoadCombo"
            , data = {}, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {

                    let data = JSON.parse(result);
                    let objDropdown = {
                        onShow: function () {
                            let ui_drop = $(this);
                            Dropdown_Set_Position(ui_drop);
                        },
                        onHide: function () {
                            let ui_drop = $(this);
                            Dropdown_Remove_Position(ui_drop);
                        },
                        allowCategorySelection: true,
                        forceSelection: false
                    };

                    (data.Employee).forEach((element, index) => {
                        DataEmployee[element.ID] = element.Name;
                    });


                    Load_Combo(data.Type, "cbbAppoinmentType", false, "@Local["Loại lịch"]");
                    $("#ScheduleTypeList").dropdown("refresh");
                    $("#ScheduleTypeList").dropdown("set selected", '0');

                    findIdComboMax = Load_Combo(data.Branch, "cbbBranch", false, "@Local["Tất cả chi nhánh"]");
                    $("#ScheduleBranchID").dropdown("refresh");
                    $("#ScheduleBranchID").dropdown("set selected", Number(@Model._branchID));

                    AppByDay_CheckIsMine(DataDotor = data.Doctor);
                    AppByDay_dataScheduleMember = data.Membership;
                    sys_dataScheduleStatus = data.Status.reduce((pre, arr) => {
                        arr["NameLangOther"] = (author_get("UserLang") == 'en' ? arr["NameLangOther"] : arr["Name"]);
                        pre.push(arr)
                        return pre;
                    }, [])

                    AppByDay_ReasonCancel = (data.ReasonCancel).reduce((pre, arr) => {
                        if (arr.ID) pre[arr.ID] = arr;
                        return pre;
                    }, {})

                    Load_Combo(sys_dataScheduleStatus, "cbbAppoinmentStatus", false, "@Local["Trạng thái"]");
                    $("#ScheduleStatus").dropdown("refresh");
                    $("#ScheduleStatus").dropdown("set selected", '0');

                    Load_Combo(data.SchedulerType, "Schedule_CbbScheduleType", false, "@Local["Loại chi tiết"]");
                    $("#Schedule_ScheduleType").dropdown("refresh");
                    $("#Schedule_ScheduleType").dropdown("set selected", '0');

                    Load_Combo(data.Employee, 'cbbAppCreator', false, '@Local["Người tạo"]');
                    $("#AppCreator").dropdown("refresh");
                    $("#AppCreator").dropdown("set selected", '0');

                    $("#Schedule_ScheduleType").dropdown(objDropdown);
                    LoadAppointmentOption();
                    EventMainGrid();
                }
            }
        );

    }
    //#region // Filter
    function Filter_Appointment_Hide_Line(id) {
        if ($('#Row_App_Byday_' + id).hasClass('appointment_line_show'))
            $('#Row_App_Byday_' + id).removeClass("appointment_line_show");
        if (!$('#Row_App_Byday_' + id).hasClass('d-none'))
            $('#Row_App_Byday_' + id).addClass("d-none");
    }
    function Filter_Appointment_Show_Line(id) {
        if ($('#Row_App_Byday_' + id).hasClass('d-none'))
            $('#Row_App_Byday_' + id).removeClass("d-none");
        if (!$('#Row_App_Byday_' + id).hasClass('appointment_line_show'))
            $('#Row_App_Byday_' + id).addClass("appointment_line_show");
    }

    function onkeyupAppointmentByDayAsync(extension) {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    let search = xoa_dau($('#filterAppointment').val().toLowerCase()).trim();
                    for ([key, value] of Object.entries(dataAppointment)) {
                        if (value["Phone"].includes(search)
                            || xoa_dau(value["CustName"]).toLowerCase().includes(search)
                            || xoa_dau(value["CustCode"]).toLowerCase().includes(search)
                            || xoa_dau(value["NameSer_Treat_Care"]).toLowerCase().includes(search)

                        ) {
                            Filter_Appointment_Show_Line(key);
                        }
                        else {
                            Filter_Appointment_Hide_Line(key);
                        }
                    }
                    ColorSearchFilterText(search, "seachRow");
                },
            )
        })
    }
    async function onkeyupAppointmentByDay() {
        await onkeyupAppointmentByDayAsync();
        return false;
    }
    //#endregion
    //#region // Render

    function RenderAppointmentInDayList_Content(item) {

        let contentcare = '', contenttype = '';
        let _typename = "", _statusname = "", _typesubname = "";


        _typesubname = item.ScheduleTypeColorCode != '' ? `<span class="badge fw-bold" style="background:${item.ScheduleTypeColorCode}">${item.ScheduleTypeName}</span>` : ('<div class="font-weight-bold">' + item.ScheduleTypeName + '</div>');
        contentcare = (Number(item.Type) == 1)
            ? Fun_GetString_ByToken(DataServiceCare, item.ServiceCare_ID)
            : Fun_GetString_ByToken(DataService, item.ServiceTreat_ID);
        _typename = '<div class="text-sm">' + (Outlang[item.TypeNameLangKey] ?? item.TypeName) + '</div>'
        _statusname = '<span class="badge me-2" style="background-color: ' + item.ColorCode + '">'
            + (author_get("UserLang") == 'en' ? item.StatusNameLangOther : item.StatusName)
            + '</span>';
        let htime = item.Time.split(':');
        let hour = htime[0];
        let minute = htime[1];
        let d = new Date();
        d.setHours(hour, minute);
        d.setMinutes(Number(minute) + Number(item.TimeSchedule));
        let _hour = (d.getHours() < 10) ? ("0" + d.getHours()) : d.getHours();
        let _minute = (d.getMinutes() < 10) ? ("0" + d.getMinutes()) : d.getMinutes();
        let t_time = _hour + ":" + _minute;
        let codeSchedulerBarcode = xoa_dau(item.CodeScheduler);
        let result =
            '<td class="d-none">' + item.ID + '</td>'
            + '<td class="d-none">' + item.CustomerID + '</td>'
            + '<td class="vt-number-order">'
            + '</td>'
            + '<td data-name="code" data-sortvalue="' + item.CodeScheduler + '" style="letter-spacing: 4.5px;">'
            + ((item.CodeScheduler != '') ? '<svg class="barcodeApppoinment" jsbarcode-background="transparent" jsbarcode-value="' + codeSchedulerBarcode + '" jsbarcode-fontsize="14" jsbarcode-width="1" jsbarcode-height="30">' : '')
            + '</td>'
            + '<td data-name="document_code"><a class="cursor-pointer" href="/Customer/MainCustomer?CustomerID=' + Number(item.CustomerID) + '&ver=' + versionofWebApplication + '">' + item.Document_Code + '</a></td>'
            + '<td data-name="custoldcode">' + item.CustCodeOld + '</td>'
            + '<td class="seachRow">'
            + '<a class="d-block fw-bold" href="/Customer/MainCustomer?CustomerID=' + Number(item.CustomerID) + '&ver=' + versionofWebApplication + '">' + item.CustCode + '</a>'
            + '</td>'
            + '<td>' + item.CustName + '</td>'
            + '<td>'
            + '<span>' + item.Time + ' - ' + t_time + '</span>'
            + '</td>'
            + '<td>'
            + GetDateTime_String_DMY(item.DateFrom)
            + '</td>'

            + '<td data-name="phone">'
            + '<div class="seachRow extra content"><i class="vtt-icon vttech-icon-call-action text-sm text-gradient text-success"></i><a class="buttonCallClass _tab_control_" data-tab="phone_customer" datacus="' + item.CustomerID + '" data-staff="' + item.StaffID + '" data-info="' + encrypt_phone(item.Phone) + '">' + item.Phone + '</a></div>'
            + '</td>'
            + '<td data-name="birth">' + (!item.Birthday.includes('1900') ? ConvertDateTimeUTC_DMY(item.Birthday) : '') + '</td>'
            + '<td data-name="cust_address" class="_tab_control_" data-tab="address_customer">' + item.CustAdd + '</td>'
            + '<td data-name="district">' + RenderAppointmentInDayList_GetName(AppByDay_District, item.District_ID) + '</td>'
            + '<td data-name="city">' + RenderAppointmentInDayList_GetName(AppByDay_City, item.City_ID) + '</td>'

            + '<td><span class="content_line_clamp">'
            + '<span class="d-block">' + contentcare + '</span>'
            + '<span class="d-block">' + item.Content + '</span>'
            + '</span></td>'

            + '<td data-name="service_care">' + contentcare + '</td>'

            + '<td>' + _typename + '</td>'
            + '<td data-name="typedetail">' + _typesubname + '</td>'
            + '<td>' + _statusname + '</td>'

            + '<td data-name="Gender">' + (item.Gender_ID == 60 ? "@Local["Nam"]" : "@Local["Nữ"]") + '</td>'

            + '<td data-name="branch">' + item.BranchName + '</td>'

            + '<td data-name="con_employee" class="text-center">'
            + '<button  data-consult="' + item.ConsultID + '" data-schedule="' + item.ID + '" class="btn buttonConsultClass badge bg-dark mb-0 text-white shadow-none">'
            + (DataEmployee[item.ConsultID] != undefined ? DataEmployee[item.ConsultID] : '@Local["Chọn"]')
            + '</button>'
            + '</td>'

            + '<td data-name="doctor">'
            + (DataEmployee[item.DoctorID] != undefined ? DataEmployee[item.DoctorID] : '')
            + '</td>'

            + '<td data-name="assistant">'
            + (DataEmployee[item.AssistantID] != undefined ? DataEmployee[item.AssistantID] : '')
            + '</td>'

            + '<td data-name="created_by">'
            + '<div>'
            + (DataEmployee[item.CreatedID] != undefined ? DataEmployee[item.CreatedID] : '')
            + '</div>'
            + '</td>'

            + '<td data-name="MemberShip">'
            + sys_getmember(AppByDay_dataScheduleMember, item.Amount)
            + '</td>'

            + '<td data-name="create">'
            + ConvertDateTimeUTC_DMYHM(item.CreatedDate)
            + '</td>'

            + '<td data-name="editname">'
            + '<div>'
            + (DataEmployee[item.ModifiedID] != undefined ? DataEmployee[item.ModifiedID] : '')
            + '</div>'
            + ConvertDateTimeUTC_DMYHM(item.ModifiedDate)
            + '</td>'

            + '<td data-name="source">' + item.CustTypeName + '</td>'
            + '<td data-name="group">'
            + item.CustGroupName
            + '</td>'
            + '<td data-name="totalPay">' + formatNumber(item.TotalPay) + '</td>'
            + '<td data-name="staff">' + (DataEmployee[item.EmpStaff] != undefined ? DataEmployee[item.EmpStaff] : '') + '</td>'
            + '<td data-name="isPayment" class="text-center">'
            + (item.CusIsPayment == 1 ? '<i class="ni ni-check-bold text-primary text-lg fw-bold"></i>' : '')
            + (item.CusIsPayment == 1 ? '<span class="d-none">@Local["Đã thanh toán"]</span>' : '<span class="d-none">@Local["Chưa thanh toán"]</span>')
            + '</td>'
            + '<td data-name="IsNewCust" class="text-center">'
            + (item.IsNewCust == 1 ? '<i class="ni ni-check-bold text-primary text-lg fw-bold"></i>' : '')
            + (item.IsNewCust == 1 ? '<span class="d-none">@Local["Khách mới"]</span>' : '')
            + '</td>'
            + '<td data-name="ReasonCancel">'
            + (AppByDay_ReasonCancel[item.ReasonCancel] != undefined ? AppByDay_ReasonCancel[item.ReasonCancel].Name : '')
            + '</td>'
            + '<td>'
            + ((item.CancelAppoint === 1)
                ? Render_Button_Grid(['<button class="buttonGrid" value="'
                    + item.ID
                    + '"><i class="buttonCancelClass vtt-icon vttech-icon-cancel-app fs-5"></i></button>']) : ((item.IsCancel == 1) ? '<span class="badge bg-gradient-danger">@Local["Đã hủy"]</span>' : ''))
            + '</td>'



        return result;
    }

    function RenderAppointmentInDayList_GetName(data, id) {
        try {
            let result = '';
            if (!jQuery.isEmptyObject(data)) {
                result = data[Number(id)].Name;
            }
            return result;
        } catch (ex) {
            return '';
        }
    }

    //#endregion
    //#region // Event
    function CancelAppointment(ID, StatusID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/AppointmentCancelDetail?CurrentID=" + ID + "&StatusID=" + StatusID);
        $('#DetailModal').modal('show');
        return false;
    }
    function callTakeCareCalling(phone, customer) {
        if (typeof CCF_OutcomCall !== 'undefined' && $.isFunction(CCF_OutcomCall)) {
            CCF_OutcomCall(phone, customer, 0, 0);
        }
    }
    function changeConsultApp(schedule, consult) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/ChangeConsult?CurrentID=" + schedule + "&ConsultID=" + consult);
        $('#DetailModal').modal('show');
        return false;
    }
    function EventMainGrid() {
        $('#dtContentAppointmentByDay tbody').on('click', '.buttonCancelClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            CancelAppointment(ID);
        });

        $('#dtContentAppointmentByDay tbody').on('click', '.buttonCallClass', function () {
            let phone = $(this).attr("data-info");
            let cus = $(this).attr("datacus");
            callTakeCareCalling(phone, cus);
        });
        $('#dtContentAppointmentByDay tbody').on('click', '.buttonConsultClass', function () {
            let _consu = $(this).attr("data-consult");
            let _id = $(this).attr("data-schedule");
            changeConsultApp(_id, _consu);
        });

    }
    function changeConsultApp(schedule, consult) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/ChangeConsult?CurrentID=" + schedule + "&ConsultID=" + consult + '&ver=' + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function exportFile() {
        syslog_app('e', val = '');
        exportToExcel("dtContentAppointmentByDay", Outlang['Danh_sach_lich_hen_theo_ngay']);
    }
    function AppointmentByDay_PrintAppByDay() {
        syslog_app('p', val = '');
        let date = $('#byday_date').val() ? $('#byday_date').val() : new Date()
        let dateFrom, dateTo;
        if (date.search(" to ") > 0) {
            date = date.replace(" to ", "x");
            dateFrom = date.split('x')[0];
            dateTo = date.split('x')[1];
        }
        else {
            dateFrom = date;
            dateTo = date;
        }
        let branchid = (Number($('#ScheduleBranchID').dropdown('get value')) ? Number($('#ScheduleBranchID').dropdown('get value')) : 0)
        let Date_Branch = ConvertDMY_ToInt(dateFrom).toString() + ',' + ConvertDMY_ToInt(dateTo).toString() + ';' + branchid;
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load('/Print/print?Type=appinday_form&DetailID=' + Date_Branch);
        $('#DetailModal').modal('show');
    }
    function AppByDay_CloseCollapse() {
        $('#ScheduleDivFill').collapse('hide');
    }
    function AppByDay_FillData() {
        let TypeSchedule = $("#Schedule_ScheduleType").dropdown('get value') ? Number($("#Schedule_ScheduleType").dropdown('get value')) : '0';
        let AppCreator = $('#AppCreator').dropdown('get value') ? $('#AppCreator').dropdown('get value') : '0';

        let row = $("#dtContentAppointmentByDayListBody .row_app");


        for (i = 0; i < row.length; i++) {
            let item_id = row[i].id.replace('Row_App_Byday_', '');
            Filter_Appointment_Show_Line(item_id);
        }

        for (let i = 0; i < row.length; i++) {
            let item_TSchedule = $(row[i]).attr("data_typeSchedule") ? Number($(row[i]).attr("data_typeSchedule")) : 0;
            let item_creator = $(row[i]).attr("data_creator") ? Number($(row[i]).attr("data_creator")) : 0;
            let item_id = row[i].id.replace('Row_App_Byday_', '');

            if (TypeSchedule != 0 && TypeSchedule != item_TSchedule) {
                Filter_Appointment_Hide_Line(item_id);
            }

            if (AppCreator != 0 && item_creator != AppCreator)
                Filter_Appointment_Hide_Line(item_id);
        }
    }
    //#endregion
    //#region //Permission check ismine
    function AppByDay_CheckIsMine() {
        if ($('#AppByDay_IsMine').length > 0) {
            //AppByDay_IsMine
            Load_Combo(DataDotor, "cbbDoctor_App", false, '@Local["Bác sĩ"]');
            $("#Doctor_ID").dropdown("refresh");
            $("#Doctor_ID").dropdown("set selected", '0');

        } else {
            let dtFiltDoc = DataDotor.filter(item => item.ID == sys_employeeID_Main);
            if (dtFiltDoc.length > 0) {
                $('#Doctor_ID').addClass('disabled');
                Load_Combo(dtFiltDoc, "cbbDoctor_App", true);
                $("#Doctor_ID").dropdown("refresh");
                $("#Doctor_ID").dropdown("set selected", sys_employeeID_Main);
            }
            else {
                Load_Combo(DataDotor, "cbbDoctor_App", false, '@Local["Bác sĩ"]');
                $("#Doctor_ID").dropdown("refresh");
                $("#Doctor_ID").dropdown("set selected", '0');
            }
        }
    }

    function AppByDay_setMySelf() {
        $("#Doctor_ID").dropdown("refresh");
        $("#Doctor_ID").dropdown("set selected", sys_employeeID_Main);
    }
    //#endregion
</script>
<script>js_require('/js/main.js');</script>