@page
@model MLunarCoffee.Pages.Appointment.ChangeConsultModel
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class=" col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Nhân viên tư vấn"]</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="row px-1 form3" id="formChangeConsul">
                        <div class="field col-12 px-1 mt-2">
                            <label>@Local["Tên"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="ConsultChange_ID">
                                <input id="Consult" name="name" type="hidden" />
                                <i class="dropdown icon"></i>
                                <input id="SearchConsult" class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg .@Local["Tên"]</div>
                                <div id="ccbChangeConsult" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="formChangeConsul" onclick="CloseModal()">@Local["Đóng"]</button>
                            <button form="formChangeConsul" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ChangeConsulExcuteData()">@Local["Lưu"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var ser_ScheduleCurrent = (@Model._AppDetailID);
        var ser_ConsultCurrent = (@Model._ConsultID);
        $(document).ready(function () {
            LoadDataUpdateConsult();
        });

        function LoadDataUpdateConsult() {
            AjaxLoad(url = "/Appointment/ChangeConsult/?handler=Initialize"
                , data = { }, async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data.length > 0) {
                            Load_Combo(data, "ccbChangeConsult", true);
                            $("#ConsultChange_ID").dropdown("refresh");
                            $("#ConsultChange_ID").dropdown("set selected", ser_ConsultCurrent);
                        }
                    }
                }
            );

        }

        function ChangeConsulExcuteData() {
            var Consult_ID = Number($('#ConsultChange_ID').dropdown('get value')) ? Number($('#ConsultChange_ID').dropdown('get value')) : 0;

            $('#formChangeConsul').form('validate form');
            if ($('#formChangeConsul').form('is valid')) {
                AjaxLoad(url = "/Appointment/ChangeConsult/?handler=ExcuteData"
                    , data = {
                        'CurrentID': ser_ScheduleCurrent
                        , 'Consult_ID': Consult_ID
                    }, async = true
                    , error = function () {
                        notiError_SW();
                    }
                    , success = function (result) {
                        if (result != "0") {
                            notiSuccess();
                            if (typeof LoadAppointmentListAjax !== 'undefined' && $.isFunction(LoadAppointmentListAjax)) {
                                LoadAppointmentListAjax(ser_ScheduleCurrent);
                            }
                            if (typeof LoadAppointmentCashierListAjax !== 'undefined' && $.isFunction(LoadAppointmentCashierListAjax)) {
                                LoadAppointmentCashierListAjax(ser_ScheduleCurrent);
                            }
                            if (typeof LoadAppointmentDoctorListAjax !== 'undefined' && $.isFunction(LoadAppointmentDoctorListAjax)) {
                                LoadAppointmentDoctorListAjax(ser_ScheduleCurrent);
                            }
                            if (typeof LoadAppointmentListByDayAjax === 'function') {
                                LoadAppointmentListByDayAjax(0, ser_ScheduleCurrent);
                            }
                            $('#DetailModal').modal('hide');
                            $("#DetailModal_Content").html("");

                        } else {
                            notiError_SW();
                        }
                    }
                );

            }
            return false;
        }

    </script>
    <script>js_require('/js/comon/initialize_setting.js')</script>
    <script>js_require('/js/main.js')</script>
    <script>js_require('/js/customjs/custom-validation.js')</script>
</body>
</html>
