@page
@model MLunarCoffee.Pages.Account.Shift.ClosingShiftHistoryModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid p-0" id="CS_DivMaster">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0">
                    <div class="left">
                        <h6 class="mb-0">@Local["Chốt ca"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách chốt ca"]</p>
                    </div>
                    <div class="right">
                        <button id="" class="btn bg-gradient-primary btn-sm _tab_control_ mt-1 mb-0 " data-tab="add_combo_service" onclick="event.preventDefault();return CShift_New()">@Local["Chốt"]</button>
                        <button class="btn btn-dark btn-sm mt-1 mb-0 _tab_control_" data-tab="export_excel" onclick="event.preventDefault();return CShift_Export();">@Local["Xuất"]</button>
                        <div class="position-relative d-inline">
                            <button class="btn btn-dark btn-sm mt-1 position-relative dropdown-toggle mb-0" data-bs-toggle="collapse" data-bs-target="#colLists">
                                @Local["Xem thêm"]
                            </button>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                            <ul class="card card-body text-dark text-capitalize opacity-10">
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="Branch" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Chi nhánh"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="Content" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Nội dung"]</p>
                                </li>
                                <li class="d-flex">
                                    <div class="form-check form-switch">
                                        <input class="shtoogle form-check-input" data-name="Sign" type="checkbox">
                                    </div>
                                    <p class="text-sm">@Local["Chữ ký"]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0 pt-2">
                    <div class="vtcondition">
                        <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                        <div class="fulllap collapse collapsesticky show">
                            <div class="d-md-flex w-100">
                                <div class="w-100">
                                    <div class="row m-0">
                                        <div class="field col-12 col-md-6 px-0 py-1 pe-sm-1">
                                            <div class="me-2 ui fluid search selection dropdown form-control" id="CS_Branch">
                                                <input type="hidden" name="branch" />
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Chi nhánh"]</div>
                                                <div id="CS_CbbBranch" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 px-0 py-1 pe-sm-1">
                                            <input id="CS_Date" class="flatpickr form-control" type="text" placeholder="eg .@Local["Ngày"]" style=" min-width: 170px;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="py-0 mt-1" style="width: 132px;">
                                    <button class="btn w-100 bg-gradient-primary m-0" onclick="event.preventDefault();return CShift_Load();">@Local["OK"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 my-3 mobile-responsive">
                        <div id="CS_Loadding" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table id="CS_DivTable" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th style="width: 45px;">#</th>
                                    <th>@Local["Mã"]</th>
                                    <th>@Local["Ngày chốt"]</th>
                                    <th>@Local["Tiền mặt"]</th>
                                    <th>@Local["Chuyển khoản"]</th>
                                    <th>@Local["POS"]</th>
                                    <th>@Local["Khác"]</th>
                                    <th>@Local["Tổng tiền"]</th>
                                    <th data-name="Branch">@Local["Chi nhánh"]</th>
                                    <th data-name="Sign" style="max-width: 150px;">@Local["Chữ ký"]</th>
                                    <th data-name="Content">@Local["Nội dung"]</th>
                                </tr>
                            </thead>
                            <tbody id="CS_BodyGrid">
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btnsysmore btn-secondary w-100 p-1" onclick="CShift_Load(1)">@Local["Xem thêm"]</button>
                </div>
            </div>



        </div>
    </div>
</div>
<div id="CS_Divdetail">
</div>

<script type="text/javascript">

    let CS_Limit = 200;
    let CS_BeginID = 0;
    let CS_Data = [];

    //#region //Init && Load
    $(document).ready(function () {
        shtable = $("#CS_DivTable").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });

        $("#CS_Date").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false
        });
        var date = new Date();
        $("#CS_Date").val(formatDateClient(date) + ' to ' + formatDateClient(date));

        CShift_LoadInital();
    });

    function CShift_LoadInital() {
        AjaxLoad(url = "/Account/Shift/ClosingShiftHistory/?handler=Initialize"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let DataBranch = JSON.parse(result);
                    Load_Combo(DataBranch, "CS_CbbBranch", true);
                    $("#CS_Branch").dropdown("refresh");
                    $("#CS_Branch").dropdown("set selected", Master_branchID);

                    CShift_Load();
                }
            }
        );
    }

    function CShift_Load(LoadMore = 0, CurrentID = 0) {

        let DateFrom = '', DateTo = '';
        let BranchID = $("#CS_Branch").dropdown("get value") ? $("#CS_Branch").dropdown("get value") : 0;
        let Date = $("#CS_Date").val() ? $("#CS_Date").val() : new Date();
        if (Date.search(" to ") > 0) {
            Date = Date.replace(" to ", "x");
            DateFrom = Date.split('x')[0];
            DateTo = Date.split('x')[1];
        } else {
            DateFrom = Date;
            DateTo = Date;
        }

        if (LoadMore == 0 && CurrentID == 0) {
            CS_BeginID = 0;
            $("#CS_BodyGrid").empty();
        }
        AjaxLoad(url = "/Account/Shift/ClosingShiftHistory/?handler=LoadHistory"
            , data = {
                "DateFrom": DateFrom
                , "DateTo": DateTo
                , "branchid": BranchID
                , "Limit": CS_Limit
                , "BeginID": CS_BeginID
                , "CurrentID": CurrentID
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if ((data != undefined && data.length != 0) || CurrentID != 0) {
                        if (CurrentID == 0) {
                            CS_BeginID = Number(data[data.length - 1].ID);
                            CS_Data = CS_Data.concat(data);
                            fnRenderBlock(data, "CS_BodyGrid"
                                , blocknum = 50
                                , fnrender = CShift_Render
                                , fnsuccess = function () { }
                            );
                        } else {
                            if (data && data.length > 0) {
                                CS_Data.push(data[0]);
                                if (CS_Data && CS_Data.length == 1) CS_BeginID = data[0].ID;
                                $("#CS_BodyGrid").prepend(CShift_RenderEach(data[0]));
                            } else {
                                if ($("#CS_RowId" + CurrentID).length > 0) {
                                    CS_Data = CS_Data.filter((item) => {return item["ID"] != CurrentID});
                                    $("#CS_RowId" + CurrentID).remove();
                                }
                            }
                            CShift_Event();
                        }
                        shtable.Refresh();
                    }
                }
            }, sender = null
        );
    }

    //#endregion

    //#region //Render
    async function CShift_Render(data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = CShift_RenderEach(item);
                    myNode.insertAdjacentHTML('beforeend', tr);
                }
            }
            resolve();
            CShift_Event();
        })
    }
    function CShift_RenderEach(item) {
        try {
            let result = '';

            result = `<tr class="vt-number" id="CS_RowId${item.ID}">
                            <td class="vt-number-order"></td>
                            <td><a class="text-primary border-bottom border-primary btnView" data-id="${item.ID}">${item.Code}</a></td>
                            <td>${GetDateTime_String_DMYHM(item.DateLock)}</td>
                            <td>${formatNumber(item.AmountCash)}</td>
                            <td>${formatNumber(item.AmountTransfer)}</td>
                            <td>${formatNumber(item.AmountPOS)}</td>
                            <td>${formatNumber(item.AmountOther)}</td>
                            <td>${formatNumber(item.AmountTotal)}</td>
                            <td data-name="Branch">${item.BranchName}</td>
                            <td data-name="Sign">${item.Sign_1 != '' ? `<img style="max-height: 100px;" src="${item.Sign_1}"></img>` : ''}</td>
                            <td data-name="Content">${item.Content}</td>
                        `;

            return result;
        } catch (ex) {
            return '';
        }
    }

    //#endregion

    //#region //Event

    function CShift_Event() {
        $("#CS_BodyGrid .btnView").unbind("click").click(function () {
            let ID = $(this).attr("data-id") ? Number($(this).attr("data-id")) : 0;
            CShift_View(ID);
        })
    }

    //#endregion

    //#endregion //Detail

    function CShift_View(ID) {
        $('#CS_DivMaster').hide();
        $("#CS_Divdetail").empty();
        $("#CS_Divdetail").load("/Account/Shift/ClosingShiftView?CurrentID=" + ID);
        $('#CS_Divdetail').show();
    }

    function CShift_New() {
        let BranchID = $("#CS_Branch").dropdown("get value") ? $("#CS_Branch").dropdown("get value") : 0;
        $('#CS_DivMaster').hide();
        $("#CS_Divdetail").empty();
        $("#CS_Divdetail").load("/Account/Shift/ClosingShiftLock?BranchID=" + BranchID);
        $('#CS_Divdetail').show();
    }
    function CShift_Cancel() {
        $('#CS_Divdetail').empty();
        $('#CS_Divdetail').hide();
        $('#CS_DivMaster').show();
    }

    //#endregion


    //#region //Export

    async function CShift_Export() {
        let dataRoot = CS_Data;
        let dataExport = {
            "STT": ["@Local["STT"]", (value, { }, idx) => { return idx + 1 }]
            , "Code": "@Local["Mã"]"
            , "DateLock": ["@Local["Ngày chốt"]", (v) => {return (GetDateTime_String_DMYHM(v)) }]
            , "AmountCash": "@Local["Tiền mặt"]"
            , "AmountTransfer": "@Local["Chuyển khoản"]"
            , "AmountPOS": "@Local["POS"]"
            , "AmountOther": "@Local["Khác"]"
            , "AmountTotal": "@Local["Tổng"]"
            , "BranchName": "@Local["Chi nhánh"]"
            , "Content": "@Local["Nội dung"]"
        };
        let nameFile = Outlang["Chot_ca"];
        await exportJsonToExcel(nameFile, dataRoot, dataExport);
        return false;
    }

        //#endregion

</script>