@page
@model MLunarCoffee.Pages.Account.Shift.ClosingShiftViewModel
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<div class="class=" container-fluid px-0"">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-4">@Local["Thông tin chốt ca"]</h6>
                            <p class="text-sm mb-0">
                                @Local["Thời gian chốt"] - @Local["Từ"] <b id="clv_datefrom"></b> @Local["Đến"] <b id="clv_dateto"></b>
                            </p>
                            <p class="text-sm">
                                @Local["Chi nhánh"]: <b id="clv_branchname"></b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="horizontal dark mt-0 mb-4">
                        <div class="row mb-3">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="d-flex">
                                    <div>
                                        <img id="clv_avatarcreate" src="/default.png" class="avatar avatar-lg me-3" alt="avatar">
                                    </div>
                                    <div>
                                        <h6 id="clv_created" class="text-lg mb-0 mt-0"></h6>
                                        <p class="text-sm mb-0">@Local["Ngày lập"]: <b id="clv_createdate"></b></p>
                                        <p class="text-sm mb-0">@Local["Nội dung"]: <b id="clv_content"></b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-auto col-lg-3 col-md-6 col-12 my-auto ">
                                <div class="d-md-flex justify-content-between">
                                    <p class="text-sm mb-0 text-dark d-inline-block">@Local["Tiền mặt"]:</p>
                                    <h6 id="clv_amountcash" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                                </div>
                                <div class="d-md-flex justify-content-between">
                                    <p class="text-sm mb-0 text-dark d-inline-block">@Local["Chuyển khoản"]:</p>
                                    <h6 id="clv_amounttrans" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                                </div>
                                <div class="d-md-flex justify-content-between">
                                    <p class="text-sm mb-0 text-dark d-inline-block">@Local["POS"]:</p>
                                    <h6 id="clv_amountpos" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                                </div>

                                <div class="d-md-flex justify-content-between">
                                    <p class="text-sm mb-0 text-dark d-inline-block">@Local["Khác"]:</p>
                                    <h6 id="clv_amountother" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                                </div>
                                <div class="d-md-flex justify-content-between">
                                    <p class="text-sm mb-0 text-dark d-inline-block">@Local["Tổng"]:</p>
                                    <h6 id="clv_amounttotal" class="text-sm mb-0 text-dark fw-bold ms-2 d-inline-block"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="m-0 my-3 table-responsive">
                        <table class="table vt-table mb-0" id="CShiftView_Content">
                            <thead>
                                <tr>
                                    <th rowspan="2">@Local["#"]</th>
                                    <th colspan="4">@Local["Chi tiết"]</th>
                                    <th colspan="2">@Local["Thu"]/@Local["Chi"]</th>
                                    <th colspan="4">@Local["Hình thức"]</th>
                                </tr>
                                <tr>
                                    <th style="min-width:120px">@Local["Thời gian"]</th>
                                    <th>@Local["Chứng từ"]</th>
                                    <th>@Local["Loại"]</th>
                                    <th>@Local["Khách hàng"]</th>
                                    <th>@Local["Thu"]</th>
                                    <th>@Local["Chi"]</th>
                                    <th>@Local["Tiền mặt"]</th>
                                    <th>@Local["Chuyển khoản"]</th>
                                    <th>@Local["POS"]</th>
                                    <th>@Local["Khác"]</th>
                                </tr>
                            </thead>
                            <tbody id="CShiftView_ContentBody">
                            </tbody>
                        </table>
                    </div>

                    <div class="mt-3">
                        <div class="d-lg-flex">
                            <div class="col-auto my-auto">
                            </div>
                            <div class="ms-auto my-auto mt-1">
                                <div id="accdetail_check" class="text-center text-md text-dark" style="min-width: 250px;">
                                    <span class="text-sm text-dark font-weight-bold my-2 d-block">@Local["Xác nhận"]</span>
                                    <div id="accdetail_checkdiv" class="border-dashed border-1 border-secondary border-radius-md my-3" style="height: 100px;">
                                        <img id="clv_sign" class="d-none" style="height: 100px;" src="">
                                    </div>
                                    <span id="clv_signname" class="text-sm text-dark font-weight-bold"></span>
                                    <div id="clv_signdate" class="text-center text-sm text-dark"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">
                        <div class="action_Save-Content">
                            <button class="btn bg-gradient-info" onclick="event.preventDefault(); return CShift_Print();">@Local["In"]</button>
                            <button id="CShiftView_BtnDelete" style="display: none;" class="btn bg-gradient-danger" onclick="CShiftView_Delete()">@Local["Xóa"]</button>
                            <button class="btn btn-secondary" form="" onclick="event.preventDefault(); return CShift_Cancel();">@Local["Đóng"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    let ClosingEntryViewID = '@Model._ClosingEntryID';
    let ClosingShift_DateLock;
    let ClosingShift_Branch;
    let ClosingShift_DataUser;
    let ClosingShift_indexcash = 0, ClosingShift_indexother = 0;


    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                ClosingShift_DataUser = data[0];
                CShiftView_Init();
            })
    })

    function CShiftView_Init() {
        if (ClosingEntryViewID && ClosingEntryViewID != "0") {
            AjaxLoad(
                url = "/Account/Shift/ClosingShiftView/?handler=Initialize"
                , data = {
                    'CurrentID': ClosingEntryViewID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '[]') {
                        let data = JSON.parse(result);
                        if (data && data.length != 0) {
                            let item = data[0];
                            let objuser = Fun_GetObject_ByID(ClosingShift_DataUser, item.Created_By);
                            ClosingShift_DateLock = GetDateTime_String_DMYHMSS(item.DateLock);
                            ClosingShift_Branch = item.BranchID;

                            $("#clv_created").html(objuser.Name ? objuser.Name : "")
                            $("#clv_createdate").html(GetDateTime_String_DMYHMSS(item.Created))
                            $("#clv_avatarcreate").attr("src", objuser.Avatar ? objuser.Avatar : Master_Default_Pic)
                            $("#clv_content").html(item.Content)
                            $("#clv_amountcash").html(formatNumber(item.AmountCash));
                            $("#clv_amounttrans").html(formatNumber(item.AmountTransfer));
                            $("#clv_amountpos").html(formatNumber(item.AmountPOS));
                            $("#clv_amountother").html(formatNumber((item.AmountTotal - item.AmountCash - item.AmountTransfer - item.AmountPOS)));
                            $("#clv_amounttotal").html(formatNumber(item.AmountTotal));
                            $("#clv_branchname").html(item.BranchName);
                            $("#clv_datefrom").html(GetDateTime_String_DMYHM(item.DateFrom));
                            $("#clv_dateto").html(GetDateTime_String_DMYHM(item.DateLock));

                            if (item.SignUser != 0) {
                                let objuser = Fun_GetObject_ByID(ClosingShift_DataUser, item.SignUser);
                                $("#clv_signname").html(objuser.Name ? objuser.Name : "");
                                $("#clv_signdate").html(GetDateTime_String_DMYHMSS(item.SignDate));
                                $("#clv_sign").attr("src", item.SignValue);
                                $("#clv_sign").removeClass("d-none");
                            }
                            if (item.IsDelete == 1) {
                                $("#CShiftView_BtnDelete").show();
                            } else {$("#CShiftView_BtnDelete").hide();}
                            CShiftView_LoadData();
                        }
                    }
                    else {
                        notiError('@Local["Chốt sổ không tồn tại"]');
                    }
                }
            )
        }
    }

    async function CShiftView_LoadData() {
        return new Promise((resolve, reject) => {
            AjaxLoad(
                url = "/Account/Shift/ClosingShiftView/?handler=LoadDetail"
                , data = {
                    'date': ClosingShift_DateLock,
                    'branchid': ClosingShift_Branch
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '0') {
                        let data = JSON.parse(result);

                        fnRenderBlock(data, "CShiftView_ContentBody"
                            , blocknum = 100
                            , fnrender = CShiftView_Render
                            , fnsuccess = null
                        );
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function (e) {
                }
                , complete = function (e) {
                }
            )
            resolve();
        })
    }

    //#region // RENDER DATA

    async function CShiftView_Render(data, id) {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            let item = data[i];
                            let type = CShiftView_RenderInout(item.Type, Number(item.Amount));
                            let inamount = type == 'in' ? item.Amount : 0;
                            let outamount = type == 'out' ? Math.abs(item.Amount) : 0;
                            let classname = 'detail vt-number';
                            classname = classname + ((item.AmountCash != 0) ? ' cash' : ' other');

                            let tr =
                                `<td class="vt-number-order"></td>
                                    <td>${ConvertDateTimeUTC_DMYHM(item.Date)}</td>
                                    <td>${item.Code}</td>
                                    <td>${CShiftView_RenderType(item.Type)}</td>
                                    <td>${item.CustCode}</td>
                                    <td>${inamount == 0 ? '0' : formatNumber(inamount)}</td>
                                    <td>${outamount == 0 ? '0' : formatNumber(outamount)}</td>
                                    <td>${item.AmountCash == 0 ? '0' : formatNumber(item.AmountCash)}</td>
                                    <td>${item.AmountTransfer == 0 ? '0' : formatNumber(item.AmountTransfer)}</td>
                                    <td>${item.AmountPOS == 0 ? '0' : formatNumber(item.AmountPOS)}</td>
                                    <td>${(item.AmountCash != 0 && item.AmountTransfer != 0 && item.AmountPOS != 0) ? '0' : formatNumber(item.Amount - item.AmountCash - item.AmountTransfer - item.AmountPOS)}</td>
                                `;
                            tr = '<tr class="' + classname + '" role="row">' + tr + '</tr>';
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                resolve();
            }, 100)
        });
    }

    function CShiftView_RenderInout(type, amount) {
        if (type == 0 || type == 1 || type == 2 || type == 3 || type == 4) {
            return (amount >= 0 ? 'in' : 'out');
        }
        else if (type == 5 || type == 6 || type == 7 || type == 8 || type == 9) return 'out';
        else return '';
    }

    function CShiftView_RenderType(type) {
        switch (type) {
            case 0:
                return '@Local["Dịch vụ"]';
                break;
            case 1:
                return '@Local["Tiền cọc"]';
                break;
            case 2:
                return '@Local["Thẻ trả trước"]';
                break;
            case 3:
                return '@Local["Thuốc"]';
                break;
            case 4:
                return '@Local["Thu khác"]';
                break;
            case 5:
                return '@Local["Chi khác"]';
                break;
            case 6:
                return '@Local["Labo"]';
                break;
            case 7:
                return '@Local["Nhà cung cấp"]';
                break;
            case 8:
                return '@Local["Người giới thiệu"]';
                break;
            case 9:
                return decodeHtml('@Local["Tiền cọc"] - @Local["Nhà cung cấp"]');
                break;
        }
    }

    //#endregion

    //#region //Delete

    function CShiftView_Delete () {
        if (ClosingEntryViewID != 0) {
            const promise = notiConfirm();
            promise.then(function () {CShiftView_ExecutedDelete(ClosingEntryViewID);}, function () { });
        } else { notiError_SW()}
    }
    function CShift_Print() {
        syslog_acc('p', val = '');
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load('/Print/print?Type=closingshift&DetailID=' + ClosingEntryViewID);
        $('#DetailModal').modal('show');
    }
    function CShiftView_ExecutedDelete (ID) {
        AjaxLoad(url = "/Account/Shift/ClosingShiftView/?handler=DeleteItem"
            , data = {"ID": ID}
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    syslog_acc('d', val = result);
                    notiSuccess();
                    CShift_Cancel();
                    CShift_Load(0, ID);
                } else {
                    notiError_SW();
                }
            }
        );
    }


    //#endregion

</script>

