@page
@model MLunarCoffee.Pages.Student.Settings.TrainSlide.TrainSlideTypeDetail.TrainSlideTypeDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="mb-3 ps-4 card-header">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0 text-capitalize">@Local["Loại tài liệu"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="p-3 pt-0">
                    <div class="row px-1 form3" id="formTrainSlideType">
                        <div class="field col-6">
                            <label>@Local["Loại tài liệu"]</label>
                            <input id="TrainSlideTypeName" name="name" type="text" class="form-control" />
                        </div>
                        <div class="field col-6">
                            <label>@Local["Mã"]</label>
                            <input id="TrainSlideTypeCode" name="code" type="text" class="form-control" />
                        </div>
                        <div class="field col-12">
                            <label>@Local["Ghi chú"]</label>
                            <input id="TrainSlideTypeNote" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-botombutton d-flex align-items-center">
            <div class="text-danger text-gadient text-sm font-weight-bold pe-2" id="textShowMessage">
            </div>
            <div class="action_Save-Content mt-2">
                <button class="btn btn-secondary" onclick=" event.preventDefault(); return TrainSlideType_CloseDetail()">@Local["Đóng"]</button>
                <button id="TrainSlideTypebtnDetail" type="button" class="btn bg-gradient-primary _tab_control_" onclick="event.preventDefault();TrainSlideType_ExcuteDetail()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    var ser_SourceDetailID;
    $(document).ready(function() {
        ser_SourceDetailID = '@Model._DataDetailID';
        if (ser_SourceDetailID != "0") TrainSlideType_LoadDataUpdate();
    });
    function TrainSlideType_LoadDataUpdate() {
        AjaxLoad(url = "/Student/Settings/TrainSlide/TrainSlideTypeDetail?handler=Loadata"
            , data = { id: ser_SourceDetailID }, asyns = true, error = null
            , success = function(result) {
                Data = JSON.parse(result);
                TrainSlideType_FillDataDetail(Data[0]);
            }
        )
    }
    function TrainSlideType_FillDataDetail(item) {
        $('#TrainSlideTypeName').val((item.Name));
        $('#TrainSlideTypeCode').val((item.Code));
        $('#TrainSlideTypeNote').val((item.Note));
    }
    function TrainSlideType_ExcuteDetail() {
        var data = new Object();
        data.Name = $('#TrainSlideTypeName').val() ? $('#TrainSlideTypeName').val() : "";
        data.Code = $('#TrainSlideTypeCode').val() ? $('#TrainSlideTypeCode').val() : "";
        data.Note = $('#TrainSlideTypeNote').val() ? $('#TrainSlideTypeNote').val() : "";
        $('#formTrainSlideType').form('validate form');
        if ($('#formTrainSlideType').form('is valid')) {
            AjaxLoad(url = "/Student/Settings/TrainSlide/TrainSlideTypeDetail?handler=ExcuteData"
                , data = { data: JSON.stringify(data), CurrentID: ser_SourceDetailID }, async = true, error = null
                , success = function(result) {
                    if (result == "1") {
                        notiSuccess();
                        TrainSlideType_LoadList();
                        TrainSlideType_CloseDetail();
                    } else {
                        document.getElementById("textShowMessage").innerHTML = '@Local["Trùng dữ liệu"]!';
                    }
                });
        }
    }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>