@page
@model MLunarCoffee.Pages.Student.Settings.ManuClass.ManuClassListModel
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<div class="container-fluid px-0" id="SSMClassList_DivContainer">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Danh sách phòng học"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách"]</p>
                    </div>
                    <div class="right">
                        <div class="form-check me-3">
                            <input id="SSMClassList_ChkDisable" class="form-check-input pr-2" type="checkbox" checked="checked">
                            <label>@Local["Phòng học ẩn"]</label>
                        </div>
                        <button id="btnAddNewAbout" class="btn bg-gradient-primary btn-sm mt-1" data-tab="add_tab_about" data-value="fade up" onclick="return SSMClassList_AddNew()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="m-0 my-3 mobile-responsive">
                        <div id="SSMClassList_WattingDiv" class="waitingdiv text-center d-none">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table id="SSMClassList_dtContent" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th>#</th>
                                    <th>@Local["Mã phòng"]</th>
                                    <th>@Local["Tên phòng"]</th>
                                    <th>@Local["Chi nhánh"]</th>
                                    <th>@Local["Ghi chú"]</th>
                                    <th style="min-width:160px">@Local["Người sửa"]</th>
                                    <th>@Local["Xử lý"]</th>
                                </tr>
                            </thead>
                            <tbody id="SSMClassList_dtContentBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="SSMClassList_DivContainerDetail">
</div>
<script type="text/javascript">
    //#region //INIT
    let DataUser, DataBranch;
    $(document).ready(function () {
        $('#SSMClassList_ChkDisable').prop('checked', false);
        SSMClassList_Init();
    });
    //#endregion

    //#region //LoadData
    function SSMClassList_Init() {
        Master_IndexDB_Reads(_Session_Data, [_Session_User, _Session_Branch]
            , function (data) {
                DataUser = data[0];
                DataBranch = data[1];
                SSMClassList_LoadData();
            });
    }

    async function SSMClassList_LoadData(){
        return new Promise((resolve) => {
            AjaxLoad(url = "/Student/Settings/ManuClass/ManuClassList/?handler=LoadData"
                , data = {}
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        SSMClassList_RenderData(data, 'SSMClassList_dtContentBody');
                    } else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function (e) {
                    $("#SSMClassList_dtContent").hide();
                    $("#SSMClassList_WattingDiv").show();
                }
                , complete = function (e) {
                    $("#SSMClassList_dtContent").show();
                    $("#SSMClassList_WattingDiv").hide();
                }
            );
        })
    }

    async function SSMClassList_RenderData(data, id) {
        return new Promise((resolve) => {
            let myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let objUser = Fun_GetObject_ByID(DataUser, item.ModifiedBy);
                        let objBranch = Fun_GetObject_ByID(DataBranch, item.BranchID);
                        let name = (objUser != null) ? objUser.Name : 'unknown';
                        let img = (objUser != null) ? objUser.Avatar : Master_Default_Pic;
                        let branch = (objBranch != null) ? objBranch.Name : 'unknown';
                        let tr = `<td class="d-none SSMClassList_ID"> ${item.ID} </td>
                                      <td class="vt-number-order"></td>
                                      <td class="col col-md-5 mx-auto">
                                          <div class="mx-2">
                                               <a class="text-decoration-underline fw-bold buttonEditClass" href="#"> ${item.Code} </a>
                                          </div>
                                      </td>
                                      <td class="col col-md-5 mx-auto"> ${item.Name} </td>
                                      <td class="col col-md-5 mx-auto"> ${branch} </td>
                                      <td class="col col-md-5 mx-auto">
                                        <div class="ellipsis_three_line">
                                            <span class="content_line_clamp">${item.Note}</span>
                                        </div>
                                      </td>
                                      <td class="col col-md-3">
                                          <div class="d-flex f-md-right">
                                              <div class="icon icon-shape icon-sm me-2 text-center" >
                                                  <img class="avatar avatar-xs mt-2 " src="${img}" alt="label-image" onerror="Master_OnLoad_Error_Image(this)">
                                                  </div>
                                                  <div class="d-flex flex-column">
                                                  <h6 class="text-dark text-sm mb-0"> ${name} </h6>
                                                  <span class="text-xs"> ${formatDateToDMYHM(item.Modified)} </span>
                                              </div>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="text-nowrap cursor-pointer">
                                            ${SSMClassList_RenderButton(item.ID, item.IsDisabled)}
                                          </div>
                                      </td>`;
                        stringContent = stringContent + `<tr id="SSMClassList_Content_${item.ID}" class="vt-number ${((item.IsDisabled === 1) ? ('table-active') : (""))}"" role="row" data-id="${item.ID}"> ${tr} </tr>`;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
                SSMClassList_HandleEvent();
            }
        })
    }

    function SSMClassList_RenderButton(id, isdisabled) {
        try {
            let buttons = [];
            buttons.push('<button class="buttonGrid" value="' + id + '">'
                + '<i data-id="' + id + '" class="buttonDeleteClass vtt-icon vttech-icon-delete"></i>'
                + '</button>');
            buttons.push('<button class="buttonGrid" value="' + id + '">'
                + ((isdisabled === 1)
                    ? '<i data-id="' + id + '" class="buttonDisabledClass vtt-icon vttech-icon-hide"></i>'
                    : '<i data-id="' + id + '" class="buttonDisabledClass vtt-icon vttech-icon-nohide"></i>')
                + '</button>');
            return Render_Button_Grid(buttons);
        }
        catch (ex) {
            return '';
        }
    }
    //#endregion

    //#region //Event - CRUD

    //#region LoadDetail
    function SSMClassList_OpenDetail() {
        $("#SSMClassList_DivContainerDetail").empty();
        $("#SSMClassList_DivContainer").hide();
        $("#SSMClassList_DivContainerDetail").html('');
    }

    function SSMClassList_Close() {
        $("#SSMClassList_DivContainerDetail").html('');
        $("#SSMClassList_DivContainer").show();
        $("#SSMClassList_DivContainerDetail").hide();
    }
    //#endregion

    //#region //Insert
    function SSMClassList_AddNew() {
        SSMClassList_OpenDetail();
        $("#SSMClassList_DivContainerDetail").load("/Student/Settings/ManuClass/ManuClassDetail" + "?ver=" + versionofWebApplication);
        $('#SSMClassList_DivContainerDetail').show();
        return false;
    }
    //#endregion

    //#region //Edit
    function SSMClassList_Edit(ID) {
        SSMClassList_OpenDetail();
        $("#SSMClassList_DivContainerDetail").load("/Student/Settings/ManuClass/ManuClassDetail?CurrentID=" + ID + "&ver=" + versionofWebApplication);
        $('#SSMClassList_DivContainerDetail').show();
        return false;
    }
    //#endregion

    //#region //Delete
    function SSMClassList_Delete(id) {
        const promise = notiConfirm();
        promise.then(function () { SSMClassList_ExecuteDelete(id); }, function () { });
    }

    function SSMClassList_ExecuteDelete(id) {
        AjaxLoad(url = "/Student/Settings/ManuClass/ManuClassList/?handler=DeleteItem"
            , data = { CurrentID: id }, async = false, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SSMClassList_LoadData();
                }
                else {
                    notiError_SW();
                }
            });
    }
    //#endregion

    //#region //Disable
    function SSMClassList_Disable(id) {
        const promise = notiConfirm();
        promise.then(function () { SSMClassList_ExecuteDisable(id); }, function () { });
    }

    function SSMClassList_ExecuteDisable(id) {
        AjaxLoad(url = "/Student/Settings/ManuClass/ManuClassList/?handler=DisableItem"
            , data = { CurrentID: id }, async = false, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SSMClassList_LoadData();
                }
                else {
                    notiError_SW();
                }
            });
    }
    //#endregion

    //#region //Handle Event
    function SSMClassList_HandleEvent() {
        $('#SSMClassList_dtContent tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr').find('.SSMClassList_ID')[0].innerHTML);
            SSMClassList_Edit(ID);
        });
        $('#SSMClassList_dtContent tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr').find('.SSMClassList_ID')[0].innerHTML);
            SSMClassList_Delete(ID);
        });
        $('#SSMClassList_ChkDisable').unbind().change(function (event) {
            if ($('#SSMClassList_ChkDisable').is(':checked'))
                $('#SSMClassList_dtContent').addClass('showdis');
            else $('#SSMClassList_dtContent').removeClass('showdis');
        });
        $('#SSMClassList_dtContent tbody').on('click', '.buttonDisabledClass', function () {
            let ID = Number($(this).closest('tr').find('.SSMClassList_ID')[0].innerHTML);
            let flag = $(this).hasClass('vttech-icon-nohide');
            SSMClassList_Disable(ID, flag);
        });
    }
    //#endregion

    //#endregion

</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>

<style>
    .table-active {
        display: none;
    }

    .showdis .table-active {
        display: table-row;
    }

    .vt-table tr td {
        border-left: 1px solid var(--color--table--border) !important;
        white-space: normal !important;
    }
</style>