@page
@model MLunarCoffee.Pages.Student.General.Course.CourseExaminationModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0  fw-bold">
                                <span>@Local["Khoá học"] </span>
                                <span id="CouExam_code" class="text-primary"></span>
                                <span> (</span>
                                <span id="CouExam_time"></span>
                                <span>)</span>
                            </h6>
                            <p class="text-sm mb-0">@Local["Cập nhật đánh giá kỳ thi từng học viên trên khóa học"].</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="row px-2 form3" id="formCourseAxam">
                    <div class="field col-12 col-sm-6 col-lg-3 mt-2 px-1">
                        <label>Kỳ thi</label>
                        <div class="ui fluid search selection dropdown form-control" id="CouExam_Examination">
                            <input type="hidden" name="name" />
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">eg. @Local["Kỳ thi"]</div>
                            <div id="cbbCouExam_Examination" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-sm-6 col-lg-3 mt-2 px-1">
                    </div>
                     <div class="col-12 col-sm-12 col-lg-3 mt-2 px-1">
                        <label>&nbsp;</label>
                        <div class="input-group" id="CouExam_InputSearchBlock">
                            <div class="input-group-text input-group-text px-2 icon-search">
                                <i class="fas fa-search" aria-hidden="true" style="display: block;"></i>
                                <div class="spinner-border spinner-border-sm" style="display: none;"></div>
                            </div>
                            <input id="CouExam_InputSearch" type="text" class="form-control ps-2" placeholder="eg .search">
                            <span class="input-group-text"><i class="btn_clear fas fa-minus-circle"></i></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mt-2 px-1">
                        <label>&nbsp;</label>
                        <div class="ui fluid search selection dropdown form-control" id="CouExam_LevelSta">
                            <input type="hidden" name="" />
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">eg. @Local["Đánh giá"]</div>
                            <div id="cbbCouExam_Level" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-2 mt-2">

                    <div class="col-12 px-1 my-3 min-height-300">
                        <table id="CouExam_dtTableCourseStatus" class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="ps-1" colspan="3">
                                        <p class="mb-0 text-sm text-dark fw-bold">@Local["Học viên"]</p>
                                    </th>
                                    <th>
                                        <span class="mb-0 text-sm text-dark fw-bold">@Local["Đánh giá"]</span>
                                        <div id="LevelStatusAll" data-key="LevelStatus" class="ui dropdown ps-0 text-dark fw-bold text-sm border-0 " tabindex="0">
                                            <i class="dropdown icon"></i>
                                            <input type="hidden" value="0">
                                            <div class="text d-none"></div>
                                            <div id="cbbLevelStatusAll" class="menu" tabindex="-1"></div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="CouExam_TBodyContent">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-botombutton">
            <div class="action_Save">
                <div class="action_Save-Content">
                    <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CouExam_CloseDetail()">@Local["Đóng"]</button>
                    <button id="CouExam_BtnDelete" class="btn btn-danger d-none" form="form3" onclick="event.preventDefault();CouExam_Delete()">@Local["Xoá"]</button>
                    <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return CouExam_Execute()">@Local["Lưu"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/main.js');</script>

<script>

    //#region // INIT

    let CouExam_CurrentID = '@Model._CourseID';
    let CouExam_AxamID = '@Model._AxamID';
    let CouExam_DataStudent = [];
    var CouExam_DataMain = {};
    let CouExam_DataStaRevi, CouExam_DataStaLevel;
    let CouExam_TimeOutSearch;

    let CouExam_KeyClass = {
        'LevelStatus': 'stuLevel'
    }

    $(document).ready(function () {
        if(CouExam_AxamID != '0'){
            $("#CouExam_BtnDelete").removeClass('d-none');
        }
        CouExam_Event();
        CouExam_Init();
    })

    function CouExam_Init() {
        if (CouExam_CurrentID && CouExam_CurrentID != '0') {
            AjaxLoad(url = "/Student/General/Course/CourseExamination/?handler=Init"
                , data = {
                    'courseid': CouExam_CurrentID,
                    'axamid': CouExam_AxamID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != '0') {
                        let data = JSON.parse(result);
                        CouExam_DataStaLevel = data.StatusLevel;
                        let dataExam = data.Examination;

                        let dataStuLevel = JSON.parse(JSON.stringify(data.StatusLevel));
                        dataStuLevel.unshift({ ID: -1, Name: '@Local["Chưa có đánh giá"]' });

                        Load_Combo(dataStuLevel, 'cbbCouExam_Level', true, '@Local["Tất cả đánh giá"]');
                        $("#CouExam_LevelSta").dropdown('refresh');
                        $("#CouExam_LevelSta").dropdown('set selected', '0');

                        Load_Combo(dataExam, 'cbbCouExam_Examination', true);
                        $("#CouExam_Examination").dropdown('refresh');
                        $("#CouExam_Examination").dropdown('set selected', CouExam_AxamID);

                        $("#cbbReviStatusAll").html(CouExam_RenderEach_ComboData(CouExam_DataStaRevi));
                        $("#cbbLevelStatusAll").html(CouExam_RenderEach_ComboData(CouExam_DataStaLevel));

                        CouExam_LoadData();

                    }
                    else notiError_SW();
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        }
    }

    //#endregion

    //#region // LOAD DETAIL

    function CouExam_LoadData() {
        if (CouExam_CurrentID && CouExam_CurrentID != '0') {
            AjaxLoad(url = "/Student/General/Course/CourseExamination/?handler=LoadDetail"
                , data = {
                    'courseid': CouExam_CurrentID,
                    'examid': CouExam_AxamID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != '0') {
                        let data = JSON.parse(result);
                        let dataInfo = data.Table;
                        CouExam_DataStudent = data.Table1;

                        if (CouExam_DataStudent && CouExam_DataStudent.length != 0) {
                            CouExam_DataMain = CouExam_DataStudent.reduce((pre, arr) => {
                                if (arr.ID) pre[arr.ID] = arr;
                                return pre;
                            }, {});
                        }
                        CouExam_FillData(dataInfo);
                        CouExam_Render(CouExam_DataStudent, 'CouExam_TBodyContent');
                    }
                    else notiError_SW();
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        }
    }

    //#endregion

    //#region // SEARCH


    function CouExam_Event() {

        $('#CouExam_InputSearch').unbind('keyup').keyup(function () {
            let btnClear = $("#CouExam_InputSearchBlock .btn_clear");
            if ($(this).val().length > 0) btnClear.removeClass('opacity-1');
            else btnClear.addClass('opacity-1');
            $("#CouExam_InputSearchBlock .fa-search").hide();
            $("#CouExam_InputSearchBlock .spinner-border").show();
            clearTimeout(CouExam_TimeOutSearch);
            CouExam_TimeOutSearch = setTimeout(function (e) {
                CouExam_SearchStu();
            }, 500);
        });

        $("#CouExam_InputSearchBlock .btn_clear").unbind('click').on('click', function (e) {
            $('#CouExam_InputSearch').val('');
            $(this).children(".btn_clear").addClass('opacity-1');
            CouExam_SearchStu();
        });

        $("#CouExam_LevelSta").unbind('change').change(function (event) {
            event.preventDefault();
            event.stopPropagation();
            CouExam_SearchStu();
        })

        $("#LevelStatusAll").change(function () {
            let _value = $(this).dropdown('get value') ? Number($(this).dropdown('get value')) : 0;
            if (_value && !isNaN(_value) && _value != 0) {
                if (CouExam_DataMain && Object.entries(CouExam_DataMain).length != 0) {
                    for ([key, value] of Object.entries(CouExam_DataMain)) {
                        $("#stuLevel_" + key).dropdown('refresh');
                        $("#stuLevel_" + key).dropdown('set selected', _value.toString());
                    }
                }
            }

        })

    }

    function CouExam_SearchStu() {
        let text = xoa_dau($('#CouExam_InputSearch').val().toLowerCase()).trim();
        let _level = $('#CouExam_LevelSta').dropdown('get value') ? Number($('#CouExam_LevelSta').dropdown('get value')) : 0;
        if (text == '' && _level == 0) {
            $("#Course_Detail #CouExam_dtTableCourseStatus").removeClass('search');
            $("#Course_Detail #CouExam_dtTableCourseStatus tr.row-hidden").removeClass('row-hidden');
        }
        else {
            $("#Course_Detail #CouExam_dtTableCourseStatus").addClass('search');
            let a = Object.values(CouExam_DataMain).filter(s => {
                if ((xoa_dau(s.Name).trim().toLowerCase().includes(text)
                    || xoa_dau(s.Code).trim().toLowerCase().includes(text)
                    || xoa_dau(s.Phone).trim().toLowerCase().includes(text))
                    && (_level == 0 || (_level == -1 && s.LevelStatus == 0) || _level == s.LevelStatus)
                    ) {
                    $("#rowStudent_" + s.ID).removeClass('row-hidden');
                }
                else $("#rowStudent_" + s.ID).addClass('row-hidden');
            });
        }
        $("#CouExam_InputSearchBlock .fa-search").show();
        $("#CouExam_InputSearchBlock .spinner-border").hide();
    }

    //#endregion

    //#region // FILL DATA

    function CouExam_FillData(data) {
        if (data && data.length != 0) {
            let item = data[0];
            $("#CouExam_code").html(item.Code);
            $("#CouExam_time").html(ConvertYMDInt_ToDate(item.TimeBegin) + ' to ' + ConvertYMDInt_ToDate(item.TimeEnd));
        }
    }

    //#endregion

    //#region // RENDER DATA

    async function CouExam_Render(data, id) {
        return new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = CouExam_RenderEach(item);
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                $('#' + id + ' .dropdown-item').dropdown();
                CouExam_FillDataStudent();
                CouExam_EventChange();
                resolve();
            }, 100)
        })
    }

    function CouExam_RenderEach(item) {
        try {
            let tr = `
                <td class="ps-1" colspan="3">
                    <div class="my-auto">
                        <h6 class="text-dark text-sm mb-0 fw-bold">
                            <span class="text-primary" >${item.Code}</span>
                            <span> - </span>
                            <span>${item.Name}</span>
                        </h6>
                        <span class="text-xs">${item.Phone}</span>
                    </div>
                </td>
                <td>${CouExam_RenderEach_Combo(item.ID, CouExam_DataStaLevel, CouExam_KeyClass['LevelStatus'], "LevelStatus")}</td>
            `
            return `<tr id="rowStudent_${item.ID}" data-id="${item.ID}" >${tr}</tr>`;
        }
        catch (ex) {
            return '';
        }
    }

    function CouExam_RenderEach_Combo(id, data, clsName, type) {
        try {
            let result = `
                <div id="${clsName}_${id}" data-id="${id}" data-key="${type}" class="${clsName} ui dropdown ps-0 text-dark fw-bold text-sm border-0 dropdown-item w-auto" tabindex="0">
                    <i class="dropdown icon"></i>
                    <input type="hidden" value="0">
                    <div class="text">selected</div>
                    <div class="menu" tabindex="-1">${CouExam_RenderEach_ComboData(data)}</div>
                </div>
            `
            return result;
        }
        catch (ex) {
            return ''
        }
    }

    function CouExam_RenderEach_ComboData(data) {
        try {
            let result = ``;
            if (data && data.length != 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    result += `<div class="item" data-value="${item.ID}">${item.Name}</div>`
                }
            }
            return result
        }
        catch (ex) {
            return '';
        }
    }

    //#endregion

    //#region // EVENT CHANGE

    function CouExam_EventChange() {
        $("#CouExam_TBodyContent .dropdown-item").unbind('change').change(function (event) {
            event.preventDefault();
            event.stopPropagation();
            let _id = Number($(this).attr('data-id'));
            let _keyAttr = $(this).attr('data-key');
            let _value = $(this).dropdown('get value') ? Number($(this).dropdown('get value')) : 0;
            if (_id && !isNaN(_id) && _id != 0) {
                if (CouExam_DataMain && CouExam_DataMain[_id] != undefined) {
                    CouExam_DataMain[_id][_keyAttr] = _value;
                }
            }
        })
    }

    //#endregion

    //#region // FILL DATA STUDENTS

    function CouExam_FillDataStudent() {
        if (CouExam_DataMain && Object.entries(CouExam_DataMain).length != 0) {
            for ([key, value] of Object.entries(CouExam_DataMain)) {
                let staLevel = value.LevelStatus;
                if (staLevel != undefined && staLevel != 0) {
                    $('#stuLevel_' + key).dropdown("refresh")
                    $('#stuLevel_' + key).dropdown("set selected", staLevel.toString())
                }
            }
        }
    }

    //#endregion

    //#region // EXECUTE

    function CouExam_Execute() {
        let _examid = $('#CouExam_Examination').dropdown('get value') ? Number($('#CouExam_Examination').dropdown('get value')) : 0;
        if(Object.entries(CouExam_DataMain).length == 0){
            notiWarning("@Local["Chưa có học viên"]");
            return;
        }
        $('#formCourseAxam').form('validate form');
        if ($('#formCourseAxam').form('is valid')) {
            AjaxLoad(url = "/Student/General/Course/CourseExamination/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(Object.values(CouExam_DataMain)),
                    'examid': _examid,
                    'courseid': CouExam_CurrentID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result == '1') {
                        notiSuccess();
                        if (typeof Course_LoadViewDetail == 'function') Course_LoadViewDetail();
                        CouExam_CloseDetail();
                    }
                    else notiError_SW();
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        }
    }

    //#endregion


    //#region

    function CouExam_Delete() {
        if (CouExam_CurrentID && CouExam_CurrentID != 0 && CouExam_AxamID && CouExam_AxamID != '0') {
            const promise = notiConfirm();
            promise.then(function () {  CouExam_ExecuteDelete(CouExam_CurrentID, CouExam_AxamID); }, function () { });
        }
    }

    function CouExam_ExecuteDelete(courseid, examid) {
        AjaxLoad(url = "/Student/General/Course/CourseExamination/?handler=DeleteItem"
            , data = {
                'examid': examid,
                'courseid': courseid
            }
            , async = false, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    if (typeof Course_LoadViewDetail == 'function') Course_LoadViewDetail();
                    CouExam_CloseDetail();
                }
                else {
                    notiError_SW();
                }
            }
        );
    }

    //#endregion

    //#region // OTHER

    function CouExam_CloseDetail() {
        if (typeof Genstu_CloseDetail === 'function') Genstu_CloseDetail();
        if (typeof Course_Close === 'function') Course_Close();
    }

    //#endregion

</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: transparent !important;
    }

    .icon-search {
        min-width: 40px;
    }

    #Course_Detail #CouExam_dtTableCourseStatus.search tr.row-hidden {
        display: none !important;
    }
</style>