@page
@model MLunarCoffee.Pages.Setting.MethodPayment.MethodPaymentDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <!-- #region header -->
                                <h6 class="mb-0">@Local["Hình thức thanh toán"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết chuyển khoản và pos"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formMethodPayment">
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Tên"]</label>
                            <input id="MethodPayment_Name" class="form-control" name="name" type="text" />
                        </div>
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Loại"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="MethodPayment_Type">
                                <input type="hidden" class="form-control" name="branch" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Loại"]</div>
                                <div id="cbbMethodType" class="menu" tabindex="-1">
                                    <div class="item" data-value="4">@Local["Chuyển khoản"]</div>
                                    <div class="item" data-value="5">@Local["Pos"]</div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Ghi chú"]</label>
                            <input id="MethodPayment_Note" class="form-control" name="name" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formMethodPayment" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button id="button_Service_detail_save" form="formMethodPayment" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();MethodPayment_ExecuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var ser_MethodPaymentDetailID;
        $(document).ready(function () {
            ser_MethodPaymentDetailID = (@Model._MethodPaymentDetailID);
            MethodPayment_Init();        
        });

        function MethodPayment_Init() {
        AjaxLoad(url = "/Setting/MethodPayment/MethodPaymentDetail/?handler=LoadCombo"
                , data = { id: ser_MethodPaymentDetailID }, async = true, error = null
                , success = function (result) {
                    let data = JSON.parse(result);
                    Load_Combo(data, 'cbbMethodType', true)
                    $('#MethodPayment_Type').dropdown("refresh");
                    $('#MethodPayment_Type').dropdown("set selected", data[0]?.ID);
                    if (ser_MethodPaymentDetailID != "0")
                        MethodPayment_LoadData();
                    Checking_TabControl_Permission();
                });
        }
        function MethodPayment_LoadData() {
            AjaxLoad(url = "/Setting/MethodPayment/MethodPaymentDetail/?handler=Loadata"
                , data = { id: ser_MethodPaymentDetailID }, async = true, error = null
                , success = function (result) {
                    let dataDetail = JSON.parse(result);
                    $('#MethodPayment_Name').val((dataDetail[0].Name));
                    $('#MethodPayment_Note').val((dataDetail[0].Note));
                    $('#MethodPayment_Type').dropdown("set selected", dataDetail[0].Type);
                });
        }

        function MethodPayment_ExecuteData() {
            var data = new Object();
            data.Name = $('#MethodPayment_Name').val() ? $('#MethodPayment_Name').val() : "";
            data.Note = $('#MethodPayment_Note').val() ? $('#MethodPayment_Note').val() : "";
            data.Type = Number($('#MethodPayment_Type').dropdown("get value")) ? Number($('#MethodPayment_Type').dropdown("get value")) : 0;
            $('#formMethodPayment').form('validate form');
            if ($('#formMethodPayment').form('is valid')) {
                AjaxLoad(url = "/Setting/MethodPayment/MethodPaymentDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_MethodPaymentDetailID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            if (typeof MethodPaymentLoad !== 'undefined' && $.isFunction(MethodPaymentLoad)) {

                                $('#DetailModal').modal('hide');
                                $("#DetailModal_Content").html('');
                                MethodPaymentLoad();
                            }
                        } else if (result == "-1") {
                            $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                        } else {
                            notiError_SW();
                        }
                    });
            }
            return false;
        }
</script>
<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>
