@page
@model MLunarCoffee.Pages.Report.Consult.ConsultGeneralModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="collapsesticky collapse show" id="RCG_General">
    <div class="card card-plain">
        <div class="vtcardheader card-header pb-0 px-0">
            <div class="right">
                <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-sm mb-0 px-2 py-1 active" data-bs-toggle="tab" role="tab" onclick="RCG_RenderChart(0)" aria-selected="true">
                                @Local["Số ca"]
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-sm mb-0 px-2 py-1" data-bs-toggle="tab" role="tab" onclick="RCG_RenderChart(1)" aria-selected="false" tabindex="-1">
                                @Local["Số khách"]
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-sm mb-0 px-2 py-1" data-bs-toggle="tab" role="tab" onclick="RCG_RenderChart(2)" aria-selected="false" tabindex="-1">
                                @Local["Số dịch vụ"]
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-sm mb-0 px-2 py-1" data-bs-toggle="tab" role="tab" onclick="RCG_RenderChart(3)" aria-selected="false" tabindex="-1">
                                @Local["Tiền điều trị"]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body p-0 pt-0 collapsesticky collapse show" id=RCG_GeneralDiv>
            <div class="m-0 mb-3 mobile-responsive">
                <div id="RCG_LoaderList" class="waitingdiv text-center w-100 mt-2 position-absolute start-50 translate-middle-x" style="display:none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class=" d-sm-flex mb-4">
                    <div class="col-w-250">
                        <div class="card-body border-radius-lg p-3 ps-0 mt-0 mt-lg-n3">
                            <h6 class="ms-2 fw-bold text-dark mb-0">@Local["Tổng giá trị"]</h6>
                            <div class="d-flex mt-3">
                                <div>
                                    <div class="icon icon-shape bg-success-soft shadow text-center border-radius-md shadow-none">
                                        <i class="fas fa-stream text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <div class="numbers">
                                        <h6 class="mb-0 fw-bold text-dark text-sm">@Local["Số ca"]</h6>
                                        <span class="text-sm text-primary fw-bold">
                                            <a class="fs-6" id="RCG_casetol"></a>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex mt-3">
                                <div>
                                    <div class="icon icon-shape bg-danger-soft shadow text-center border-radius-md shadow-none">
                                        <i class="fas fa-check text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <div class="numbers">
                                        <h6 class="mb-0 fw-bold text-dark text-sm">@Local["Số ca đã chốt"]</h6>
                                        <span class="text-sm text-primary fw-bold">
                                            <a class="fs-6" id="RCG_casechoosetol"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div>
                                    <div class="icon icon-shape bg-danger-soft shadow text-center border-radius-md shadow-none">
                                        <i class="vtt-icon vttech-icon-cus text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <div class="numbers">
                                        <h6 class="mb-0 fw-bold text-dark text-sm">@Local["Số khách"]</h6>
                                        <span class="text-sm text-primary fw-bold">
                                            <a class="fs-6" id="RCG_custtol"></a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <div>
                                    <div class="icon icon-shape bg-warning-soft shadow text-center border-radius-md shadow-none">
                                        <i class="ni ni-money-coins text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <div class="numbers">
                                        <h6 class="mb-0 fw-bold text-dark text-sm">@Local["Tiền tư vấn ( triệu )"]</h6>
                                        <span class="text-sm text-primary fw-bold">
                                            <a class="fs-6" id="RCG_amountetol"></a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-0 w-100" style="overflow-x: auto; overflow-y: hidden;">
                        <div class="chart" style="height:300px;">
                            <canvas id="RCG_Chart" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-header p-3 pe-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <p id="DRTreat_DetailTreatDoc" class="text-md text-dark font-weight-bold mb-1"></p>
                        </div>
                        <div class="ms-auto my-auto d-flex align-items-center">
                            <div class="icon-hover mx-1 mt-1"
                                 data-bs-toggle="tooltip" data-bs-placement="top"
                                 data-bs-original-title="@Local["Thu gọn"]">
                                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                                   data-bs-toggle="collapse" href="#RCG_dtContent" aria-expanded="true"></i>
                            </div>
                            <div class="icon-hover mx-1 mt-1"
                                 data-bs-toggle="tooltip" data-bs-placement="top"
                                 data-bs-original-title="@Local["Tải lại"]">
                                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                                   onclick="event.preventDefault(); return RCG_LoadData()"></i>
                            </div>
                            <div class="icon-hover mx-1 mt-1"
                                 data-bs-toggle="tooltip" data-bs-placement="top"
                                 data-bs-original-title="@Local["Xuất excel"]">
                                <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                                   onclick="event.preventDefault(); return RCG_Export()"></i>
                            </div>
                        </div>
                        <div class="position-relative d-lg-inline mt-1 mx-1">
                            <button class="btn btn-dark btn-sm mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                                @Local["Xem thêm"]
                            </button>
                            <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                                <ul class="card card-body text-dark text-capitalize opacity-10">
                                    <li class="d-flex">
                                        <div class="form-check form-switch">
                                            <input class="shtoogle form-check-input" data-name="service-price" type="checkbox">
                                        </div>
                                        <p class="text-sm">@Local["Giá dịch vụ"]</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table vt-table mb-0 collapse show collapsesticky" id="RCG_dtContent">
                    <thead>
                        <tr role="row">
                            <th rowspan="2">#</th>
                            <th rowspan="2">@Local["Tư vấn"]</th>
                            <th rowspan="2" style="width:190px;">@Local["Tỷ lệ phần trăm"]</th>
                            <th colspan="3">@Local["Tổng quan"]</th>
                            <th colspan="3">@Local["Đã chốt"]</th>
                            <th colspan="3">@Local["Chưa chốt"]</th>
                            <th data-name="service-price" colspan="3">@Local["Giá dịch vụ"]</th>
                        </tr>
                        <tr>
                            <th class=" bg-gray-100">@Local["Tổng ca"]</th>
                            <th>@Local["Tổng khách"]</th>
                            <th>@Local["Tổng dịch vụ"]</th>
                            <th class=" bg-gray-100">@Local["Tổng ca"]</th>
                            <th>@Local["Tổng khách"]</th>
                            <th>@Local["Tổng dịch vụ"]</th>
                            <th class=" bg-gray-100" cla>@Local["Tổng ca"]</th>
                            <th>@Local["Tổng khách"]</th>
                            <th>@Local["Tổng dịch vụ"]</th>
                            <th data-name="service-price" rowspan="2">@Local["Tổng tiền"]</th>
                            <th data-name="service-price" rowspan="2">@Local["Đã chốt"]</th>
                            <th data-name="service-price" rowspan="2">@Local["Chưa chốt"]</th>
                        </tr>
                    </thead>
                    <tbody id="RCG_dtContentBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="RCG_DetailContainer" class="mt-3" style="display:none;">
    <div class="card card-plain">
        <div class="vtcardheader card-header pb-0">
            <div class="left">
                <p id="RCG_DetailEmp" class="text-md text-dark font-weight-bold mb-1"></p>

            </div>
            <div class="right">
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Xuất excel"]">
                    <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                       onclick="event.preventDefault(); return RCG_DetailExport()"></i>
                </div>
                <button class="btn btn-dark btn-sm mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#coldetailLists">
                    @Local["Xem thêm"]
                </button>
            </div>
            <div class="toggle">
                <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="coldetailLists" style="min-width:250px;">
                    <ul class="card card-body text-dark text-capitalize opacity-10">
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="branch" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Chi nhánh"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="doccode" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Mã hồ sơ"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="custsource" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Nguồn khách hàng"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="quantity" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Số lượng"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="priceroot" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Giá"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="servicecode" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Mã dịch vụ"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="discount" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Giảm giá"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="detaildiscount" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Chi tiết giảm giá"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="consult" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Tư vấn"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="custcare" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Nhân viên chăm sóc"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="custcarenow" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Nhân viên chăm sóc hiện tại"]</p>
                        </li>
                        <li class="d-flex">
                            <div class="form-check form-switch">
                                <input class="shtoogledetail form-check-input" data-name="modifiedBy" type="checkbox">
                            </div>
                            <p class="text-sm">@Local["Người sửa"]</p>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="collapsesticky collapse show" id="RCG_DetailContent">
            <div class="card-body p-0 pt-0">
                <div class="m-0 my-3 mobile-responsive vt-header-sticky">
                    <table data-name="RCG_DetaildtContent" class="table vt-table mb-0" id="RCG_DetaildtContent">
                        <thead>
                            <tr>
                                <th rowspan="2" style="width: 60px">#</th>
                                <th rowspan="2">@Local["Mã khách hàng"]</th>
                                <th rowspan="2" data-name="doccode">@Local["Mã hồ sơ"]</th>
                                <th rowspan="2" style="text-align: center">@Local["Khách hàng"]</th>
                                <th rowspan="2" data-name="custsource">@Local["Nguồn khách hàng"]</th>
                                <th rowspan="2">@Local["Dịch vụ"]</th>
                                <th rowspan="2">@Local["Đơn giá"]</th>
                                <th rowspan="2" data-name="quantity">@Local["Số lượng"]</th>
                                <th rowspan="2" data-name="priceroot">@Local["Giá"]</th>
                                <th rowspan="2" data-name="servicecode">@Local["Mã dịch vụ"]</th>
                                <th rowspan="2" data-name="discount">@Local["Giảm giá"]</th>
                                <th colspan="2" data-name="detaildiscount" style="min-width: 150px">@Local["Chương trình"]</th>
                                <th colspan="2" data-name="detaildiscount" style="min-width: 150px">@Local["Nhóm khách hàng"]</th>
                                <th colspan="2" data-name="detaildiscount" style="min-width: 150px">@Local["Voucher"]</th>
                                <th colspan="2" data-name="detaildiscount" style="min-width: 120px">@Local["Miễn phí"]</th>
                                <th colspan="1" data-name="detaildiscount" style="min-width: 120px">@Local["Tiền tự giảm"]</th>
                                <th colspan="2" data-name="detaildiscount" style="min-width: 120px">@Local["Hạng thành viên"]</th>
                                <th colspan="2" data-name="detaildiscount" style="min-width: 120px">@Local["Bảo hiểm"]</th>
                                <th colspan="2" data-name="detaildiscount" style="min-width: 120px">@Local["Điểm tích lũy"]</th>
                                <th colspan="1" data-name="detaildiscount" style="min-width: 120px">@Local["Trừ thẻ"]</th>
                                <th rowspan="2">@Local["Thành tiền"]</th>
                                <th rowspan="2">@Local["Đã thanh toán"]</th>
                                <th rowspan="2">@Local["Tiền cấn trừ cọc"]</th>
                                <th rowspan="2" class="vtt-filter">@Local["Tình trạng"]</th>
                                <th rowspan="2">@Local["Ngày chốt"]</th>
                                <th rowspan="2" data-name="content">@Local["Nội dung"]</th>
                                <th rowspan="2" data-name="branch">@Local["Chi nhánh"]</th>
                                <th rowspan="2" data-name="consult">@Local["Tư vấn"]</th>
                                <th rowspan="2" data-name="custcare">@Local["Nhân viên chăm sóc"]</th>
                                <th rowspan="2" data-name="custcarenow">@Local["Nhân viên chăm sóc hiện tại"]</th>
                                <th rowspan="2">@Local["Ngày tạo"]</th>
                                <th rowspan="2">@Local["Người tạo"]</th>
                                <th rowspan="2" data-name="modifiedBy">@Local["Ngày sửa"]</th>
                                <th rowspan="2" data-name="modifiedBy">@Local["Người sửa"]</th>

                            </tr>
                            <tr>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 130px">@Local["Chương trình"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tên nhóm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Voucher"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Lý do"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tên"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tên"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Đã sử dụng"]</th>
                                <th data-name="detaildiscount" style="min-width: 100px">@Local["Tiền giảm"]</th>
                            </tr>
                        </thead>
                        <tbody id="RCG_DetaildtContentBody">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    let xhrLoadList, xhrLoadDetail;
    let shtable, shtableDetail;
    let RCG_DataChart = {};
    let RCG_DataChartCat = [];
    let RCG_ChartType = 0;
    $(document).ready(function () {
        shtable = $("#RCG_dtContent").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        shtableDetail = $("#RCG_DetaildtContent").TableExpandColumn({
            shtoogle: $('.shtoogledetail')
        });
        $('#RCG_DetaildtContent').tablecontrol();
        ToolPopper();
        RCG_LoadData();
        Checking_TabControl_Permission();
    });
    function RCG_LoadData() {
        if (xhrLoadList && xhrLoadList.readyState != 4) xhrLoadList.abort();
        let _branchID = "@Model._branchID";
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _typedate = "@Model._TypeDate";
        xhrLoadList = AjaxLoad(url = "/Report/Consult/ConsultGeneral/?handler=Loadata"
            , data = {
                'branchID': _branchID
                , 'dateFrom': _dateFrom
                , 'dateTo': _dateTo
                , 'typedate': _typedate
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    RCG_RenderData(data, "RCG_dtContentBody");
                } else {
                    RCG_RenderChart(0);
                    notiError_SW();
                }
            }
        );
        return false;
    }
    async function RCG_RenderData(data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                let NumChoose = 0, NumNoChoose = 0, NumTotal = 0;
                let AmountChoose = 0, AmountNoChoose = 0, AmountTotal = 0;
                let NumCustTotal = 0, NumCustChoose = 0, NumCustNoChoose = 0;
                let NumSerChoose = 0, NumSerNoChoose = 0, NumSerTotal = 0;
                let aveCase = 0, aveCust = 0, aveSer = 0, aveAmount = 0;
                if (data && data.length > 0) {
                    let trtotal = '';
                    let trtotalper = 0;
                    let per = 0;
                    RCG_DataChart = {'case': [], 'cust': [], 'ser': [], 'amount': [], 'cat':[]};
                    RCG_DataChartCat = [];
                    let objChartCat = {};
                    let dataCaseTotal = { 'Name': decodeHtml("@Local["Tổng ca"]") }, dataCaseChoose = { 'Name': decodeHtml("@Local["Đã chốt"]")};
                    let dataCustTotal = {'Name': decodeHtml("@Local["Tổng khách"]")}, dataCustChoose = {'Name': decodeHtml("@Local["Đã chốt"]")};
                    let dataSerTotal = {'Name': decodeHtml("@Local["Tổng dịch vụ"]")}, dataSerChoose = {'Name': decodeHtml("@Local["Đã chốt"]")};
                    let dataAmountTotal = { 'Name': decodeHtml("@Local["Tổng tiền"]")}, dataAmountChoose = { 'Name': decodeHtml("@Local["Đã chốt"]") };
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let consultName = (RP_DataEmployee[item.EmpID] != undefined) ? RP_DataEmployee[item.EmpID].Name : '';
                        let colorprogeess = 'bg-gradient-success';
                        NumChoose = NumChoose + item.NumChoose;
                        NumCustChoose = NumCustChoose + item.NumCustChoose;
                        NumSerChoose = NumSerChoose + item.NumSerChoose;

                        NumNoChoose = NumNoChoose + item.NumNoChoose;
                        NumCustNoChoose = NumCustNoChoose + item.NumCustNoChoose;
                        NumSerNoChoose = NumSerNoChoose + item.NumSerNoChoose;

                        NumTotal = NumTotal + item.NumTotal;
                        NumCustTotal = NumCustTotal + item.NumCustTotal;
                        NumSerTotal = NumSerTotal + item.NumSerTotal;

                        AmountChoose = AmountChoose + item.AmountChoose;
                        AmountNoChoose = AmountNoChoose + item.AmountNoChoose;

                        AmountTotal = AmountTotal + item.AmountTotal;

                        objChartCat[`Con${item.EmpID}`] = consultName;
                        dataCaseTotal[`Con${item.EmpID}`] = item.NumTotal;
                        dataCaseChoose[`Con${item.EmpID}`] = item.NumChoose;

                        dataCustTotal[`Con${item.EmpID}`] = item.NumCustTotal;
                        dataCustChoose[`Con${item.EmpID}`] = item.NumCustChoose;

                        dataSerTotal[`Con${item.EmpID}`] = item.NumSerTotal;
                        dataSerChoose[`Con${item.EmpID}`] = item.NumSerChoose;

                        dataAmountTotal[`Con${item.EmpID}`] = Number((item.AmountTotal / 1000000).toFixed(3));
                        dataAmountChoose[`Con${item.EmpID}`] = Number((item.AmountChoose / 1000000).toFixed(3));

                        per = (item.NumTotal != 0) ? (100 * item.NumChoose / item.NumTotal) : 0;
                        if (per > 90) colorprogeess = 'higheraver';
                        else if (per > 70) colorprogeess = 'bg-gradient-info';
                        else if (per > 50) colorprogeess = 'higheraver';
                        else colorprogeess = 'loweraver';
                        let tr = `
                                                    <td class="vt-number-order"></td>
                                                    <td style="max-width:110px;min-width:110px;">
                                                        <a href="#" class="border-1 border-primary border-bottom buttonViewClass" data-id="${item.EmpID}" >
                                                            ${consultName}
                                                        </a>

                                                    </td>

                                                    <td style="width:190px;">
                                                       <div class="progress">
                                                           <div class="text-dark progress-bar ${colorprogeess} align-items-start ps-2 text-sm fw-bold higheraver" role="progressbar" style="width:${per.toFixed(2)}%;">
                                                           <span class="position-absolute">${per.toFixed(2)}</span>
                                                           </div>
                                                       </div>
                                                    </td>
                                                    <td class="text-center bg-gray-100">${formatNumber(item.NumTotal)}</td>
                                                    <td class="text-center">${formatNumber(item.NumCustTotal)}</td>
                                                    <td class="text-center">${formatNumber(item.NumSerTotal)}</td>
                                                    <td class="text-center bg-gray-100">${formatNumber(item.NumChoose)}</td>
                                                    <td class="text-center">${formatNumber(item.NumCustChoose)}</td>
                                                    <td class="text-center">${formatNumber(item.NumSerChoose)}</td>
                                                    <td class="text-center bg-gray-100">${formatNumber(item.NumNoChoose)}</td>
                                                    <td class="text-center">${formatNumber(item.NumCustNoChoose)}</td>
                                                    <td class="text-center">${formatNumber(item.NumSerNoChoose)}</td>
                                                    <td data-name="service-price">${formatNumber(item.AmountTotal)}</td>
                                                    <td data-name="service-price">${formatNumber(item.AmountChoose)}</td>
                                                    <td data-name="service-price">${formatNumber(item.AmountNoChoose)}</td>`;
                        stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                        if (data.length > 1 && i == data.length - 1) {
                            trtotalper = (NumTotal != 0) ? (100 * NumChoose / NumTotal) : 0;
                            aveCase = NumTotal / data.length;
                            aveCust = NumCustTotal / data.length;
                            aveSer = NumSerTotal / data.length;
                            aveAmount = AmountTotal / data.length;

                            trtotal =
                                '<td></td>'
                                + '<td>'
                                + '<a href="#" class="border-1 border-white border-bottom buttonViewClass text-white" data-id="0" >@Local["Tổng"]</a>'
                                + '</td> '
                                + '<td class="">'
                                + trtotalper.toFixed(2)
                                + '</td>'
                                + '<td class="text-center">' + formatNumber(NumTotal) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumCustTotal) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumSerTotal) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumChoose) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumCustChoose) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumSerChoose) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumNoChoose) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumCustNoChoose) + '</td>'
                                + '<td class="text-center">' + formatNumber(NumSerNoChoose) + '</td>'
                                + '<td data-name="service-price">' + formatNumber(AmountTotal) + '</td>'
                                + '<td data-name="service-price">' + formatNumber(AmountChoose) + '</td>'
                                + '<td data-name="service-price">' + formatNumber(AmountNoChoose) + '</td>';
                            stringContent = stringContent + '<tr class="text-white bg-gradient bg-primary" role="row">' + trtotal + '</tr>';

                            RCG_DataChart.case.push(dataCaseTotal, dataCaseChoose)
                            RCG_DataChart.cust.push(dataCustTotal, dataCustChoose)
                            RCG_DataChart.ser.push(dataSerTotal, dataSerChoose)
                            RCG_DataChart.amount.push(dataAmountTotal, dataAmountChoose)
                            RCG_DataChartCat.push(objChartCat)
                        }
                    }
                }
                document.getElementById(id).innerHTML = stringContent;

                $('#RCG_casetol').html(formatNumber(NumTotal));
                $('#RCG_custtol').html(formatNumber(NumCustTotal));
                $('#RCG_casechoosetol').html(formatNumber(NumChoose));
                $('#RCG_amountetol').html(formatNumber(Math.round(AmountTotal / 1000000)));
            }
            shtable.Refresh();
            RCG_GeneralEvent();
            RCG_RenderChart();
        })
    }
    //#region // LOAD DETAIL AND RENDER
    function RCG_DetailLoadData(id) {
        if (xhrLoadDetail && xhrLoadDetail.readyState != 4) xhrLoadDetail.abort();
        let _branchID = "@Model._branchID";
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _typedate = "@Model._TypeDate";
        xhrLoadDetail = AjaxLoad(url = "/Report/Consult/ConsultGeneral/?handler=LoadataDetail"
            , data = {
                'branchID': _branchID,
                'EmpID': id,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo,
                'typedate': _typedate,
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    $("#RCG_DetaildtContentBody").empty();
                    fnRenderBlock(data, "RCG_DetaildtContentBody"
                        , blocknum = 300
                        , fnrender = RCG_DetailRenderData
                        , fnsuccess = null
                    );
                }
                else {
                    notiError_SW();
                }
            }
        );
    }
    async function RCG_DetailRenderData(data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length != 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let status = item.IsChoose == 1 ? '<span class="text-primary fw-bold">@Local["Đã chốt"]</span>' : '<span class="text-secondary">@Local["Chưa chốt"]</span>';
                            let tr = `
                                <tr class="vt-number">
                                    <td class="vt-number-order"></td>
                                    <td>
                                        <a target="_blank" href="/Customer/MainCustomer?CustomerID=${item.CustID}&ver=${versionofWebApplication}">${item.CustCode}</a>
                                    </td>
                                    <td data-name="doccode">${item.CustDocCode}</td>
                                    <td>${item.CustName}</td>
                                    <td data-name="custsource">${item.CustSource}</td>
                                    <td>${item.ServiceName}</td>
                                    <td>${formatNumber(item.UnitPrice)}</td>
                                    <td data-name="quantity">${item.Quantity}</td>
                                    <td data-name="priceroot">${formatNumber(item.PriceRoot)}</td>
                                    <td data-name="servicecode">${item.ServiceCode}</td>
                                    <td data-name="discount">${formatNumber(item.Discount)}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSProgramAmount)}</td>
                                    <td data-name="detaildiscount" >${item.DSProgramName}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSGroupAmount)}</td>
                                    <td data-name="detaildiscount" >${item.DSGroupName}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSVouhcerAmount)}</td>
                                    <td data-name="detaildiscount" >${item.DSVoucherName}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSFreeAmount)}</td>
                                    <td data-name="detaildiscount" >${item.DSReasonFree}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSSelftAmount)}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSMemAmount)}</td>
                                    <td data-name="detaildiscount" >${item.DSMemName}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSInsurAmount)}</td>
                                    <td data-name="detaildiscount" >${item.DSInsurName}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSAmountPoint)}</td>
                                    <td data-name="detaildiscount" >${item.DSPointUsed}</td>
                                    <td data-name="detaildiscount">${formatNumber(item.DSCardAmountUsing)}</td>
                                    <td>${formatNumber(item.Price)}</td>
                                    <td>${formatNumber(item.Amount)}</td>
                                    <td>${formatNumber(item.Payment_Deposit)}</td>
                                    <td>${status}</td>
                                    <td>${item.IsChoose == 1 ? ConvertDateTimeUTC_DMYHM(item.DateChoosen) : ''}</td>
                                    <td>${item.Content}</td>
                                    <td data-name="branch">${(RP_DataBranch[item.Branch] != undefined) ? RP_DataBranch[item.Branch].Name : ''}</td>
                                    <td data-name="consult">${(RP_DataEmployee[item.EmpID] != undefined) ? RP_DataEmployee[item.EmpID].Name : ''}</td>
                                    <td data-name="custcare">${(RP_DataEmployee[item.CustCareID] != undefined) ? RP_DataEmployee[item.CustCareID].Name : ''}</td>
                                    <td data-name="custcarenow">${(RP_DataEmployee[item.CCStaffID] != undefined) ? RP_DataEmployee[item.CCStaffID].Name : ''}</td>
                                    <td>${ConvertDateTimeUTC_DMYHM(item.Created)}</td>
                                    <td>${RP_DataEmployee[item.CreatedBy] != undefined ? RP_DataEmployee[item.CreatedBy].Name : ""}</td>
                                    <td data-name="modifiedBy">${ConvertDateTimeUTC_DMY_Remove1900(item.Modified)}</td>
                                    <td data-name="modifiedBy">${RP_DataEmployee[item.ModifiedBy] != undefined ? RP_DataEmployee[item.ModifiedBy].Name : ""}</td>
                                </tr>
                            `
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                    }
                }
                shtableDetail.Refresh();
                resolve();
            }, 10)

        })
    }
    //#endregion

    //#region // Event

    function RCG_RenderChart(_type = 0) {
        if (_type != undefined) RCG_ChartType = _type;
        switch (RCG_ChartType) {
            case 0: {
                rp_mixbarline('RCG_Chart', RCG_DataChart['case'] ?? [], RCG_DataChartCat);
                break;
            }
            case 1: {
                rp_mixbarline('RCG_Chart', RCG_DataChart['cust'] ?? [], RCG_DataChartCat);
                break;
            }
            case 2: {
                rp_mixbarline('RCG_Chart', RCG_DataChart['ser'] ?? [], RCG_DataChartCat);
                break;
            }
            case 3: {
                rp_mixbarline('RCG_Chart', RCG_DataChart['amount'] ?? [], RCG_DataChartCat);
                break;
            }
        }
    }

    function RCG_GeneralEvent() {
        $("#RCG_dtContentBody .buttonViewClass").unbind('click').on("click", function () {
            let id = $(this).attr('data-id');
            $("#RCG_DetailContainer").fadeIn('slow');
            $('html, body').animate({
                scrollTop: $("#RCG_DetailContainer").offset().top
            }, 300);
            if (id == "0") {
                $("#RCG_DetailEmp").html('@Local["Tất cả nhân viên"]');
            }
            else {
                $("#RCG_DetailEmp").html((RP_DataEmployee[id] != undefined) ? RP_DataEmployee[id].Name : '');
            }
            RCG_DetailLoadData(id);
        })
    }
    function RCG_Export () {
        syslog_ExpExcel('e', Outlang['Tinh-trang-tu-van']);
        exportToExcel("RCG_dtContent", Outlang['Tinh-trang-tu-van']);
    }
    async function RCG_DetailExport() {
        let fileName = xoa_dau($("#RCG_DetailEmp").text()).replaceAll(' ', '-');
        syslog_ExpExcel('e', fileName);
        await exportToExcel("RCG_DetaildtContent", fileName);
    }
                    //#endregion

</script>
<style>

    .higheraver {
        background: #82d61652;
    }

    .loweraver {
        background: #ff888826;
    }
    #RCG_dtContentBody .progress {
        width: 100%;
        height: 20px;
        background: #e9ecef00 !important
    }

    #RCG_dtContentBody .progress-bar {
        height: 24px;
    }

</style>
