@page
@model MLunarCoffee.Pages.Labo.Status.LaboDiscountModel
@{
    Layout = null;
}


<div class="row">
    <div class="col-12">
        <div class="card" id="####">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Chiết khấu"]</h6>
                            <p class="text-sm mb-0" id="LD_Description"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="row bg-gray-100 p-4 rounded-3 ps-2 m-0">
                    <div class="col-12 col-lg-4">
                        <div>
                            <h6 id="LaboD_LaboCode" class="text-primary mb-0"></h6>
                            <p  class="text-dark text-sm" id="LD_Status"></p>
                        </div>
                        <div class="form3" id="formLaboDiscount">
                            <label class="ms-0">@Local["Chiết khấu"]</label>
                            <div class="position-relative px-0">
                                <input id="LD_DiscountAmount" class="border-right-0 form-control" placeholder="eg .@Local["Chiết khấu"]" type="text">
                                <div id="LD_DiscountType" class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" style="min-width: 75px;">
                                    <input type="hidden" name="name" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">@Local["Chiết khấu"]</div>
                                    <div id="LD_CbbDiscount" class="menu transition hidden" tabindex="-1" style="min-width: 130px;">
                                        <div class="item" data-value="1">%</div>
                                        <div class="item" data-value="2">VND</div>
                                    </div>
                                </div>
                                <div class="sliderArea d-flex align-items-center mt-3 ps-1">
                                    <div id="LD_sliderDouble" style="margin-right:20px;width: 90%!important;"></div>
                                    <div id="LD_sliderNum">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 bg-white rounded-3 py-3">
                        <div>
                            <div class="ps-1 pt-0 text-dark text-sm">
                                <p class="mb-0 text-sm mt-1">@Local["Giá tiền"] / @Local["Chiết khấu"]</p>
                                <p class="text-sm font-weight-bold my-auto">
                                    <span id="LD_PriceRoot"></span>
                                    /
                                    <span id="LD_ViewDisPer"></span>
                                    <span id="LD_ViewDisAmo" class="ps-1 text-dark text-sm"></span>
                                </p>
                                <hr class="horizontal dark">
                                <p class="mb-0 text-sm mt-1">@Local["Thành tiền"] / @Local["Đã thanh toán"]</p>
                                <p class="text-sm font-weight-bold my-auto">
                                    <span id="LD_Price"></span>
                                    /
                                    <span id="LD_Paid"></span>
                                </p>
                                <hr class="horizontal dark">
                                <p class="mb-0 text-sm mt-1">@Local["Còn lại"]</p>
                                <p id="LD_Left" class="text-sm font-weight-bold my-auto"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault(); CloseModal();">@Local["Đóng"]</button>
                        <button form="formLaboDiscount" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="LaboD_Executed();">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>js_require('/js/main.js');</script>
<script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script>
    //#region //Load && Executed
    let ser_LaboID = Number("@Model._LaboID");
    let LD_PriceRoot = 0;
    let LD_Paid = 0;

    $(document).ready(function () {
        LaboD_LoadIntit();
        LaboD_EventInit();
        $("#LD_DiscountAmount").divide();        
    })
    
    function LaboD_LoadIntit () {        
        AjaxLoad(url = "/Labo/Status/LaboDiscount/?handler=LoadInit"
                , data = {
                    'LaboID': ser_LaboID
                }, async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "") {
                        let data = JSON.parse(result);
                        let maxDiscount = data[0].PriceRoot - data[0].AmountPay
                        $("#LD_DiscountType").dropdown("refresh");
                        LD_PriceRoot = data[0].PriceRoot;
                        LD_Paid = data[0].AmountPay;

                        if (data[0].DiscountPercent != 0) {
                            $("#LD_DiscountType").dropdown("set selected", '1');
                            $("#LD_DiscountAmount").val(data[0].DiscountPercent);
                        } else {
                            $("#LD_DiscountType").dropdown("set selected", '2');
                            $("#LD_DiscountAmount").val(data[0].DiscountAmount);
                        }                                        
                        $("#LD_Description").html("@Local["Chỉnh sửa giá trị cấu hình"] (@Local["Tiền giảm tối đa"] " + formatNumber(maxDiscount) + ")");
                        $("#LD_PriceRoot").html(formatNumber(data[0].PriceRoot));
                        $("#LD_ViewDisAmo").html(formatNumber(data[0].DiscountAmount));
                        $("#LD_ViewDisPer").html(data[0].DiscountPercent != 0 ? '(' + data[0].DiscountPercent + '%)' : '');
                        $("#LD_Price").html(formatNumber(data[0].Price));
                        $("#LD_Paid").html(formatNumber(data[0].AmountPay));
                        $("#LD_Left").html(formatNumber(data[0].Price - data[0].AmountPay));
                        $("#LaboD_LaboCode").html(data[0].Lab_Code);
                        $("#LD_Status").html(`<span style="color:${data[0].ColorStatus}">${data[0].Status}</span>`);                    
                    }
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );        
    }

    function LaboD_Executed () {
        let type = $("#LD_DiscountType").dropdown("get value") ? $("#LD_DiscountType").dropdown("get value") : 0;
        let DiscountVal = $("#LD_DiscountAmount").val() ? Number($("#LD_DiscountAmount").val()) : 0;

        let DiscountAmount = (type == 1 ? LD_PriceRoot * (DiscountVal / 100) : DiscountVal);
        let DiscountPercent = (type == 1 ? DiscountVal : 0);
        let Price = LD_PriceRoot - DiscountAmount;
        $('#formLaboDiscount').form('validate form');
        if ($('#formLaboDiscount').form('is valid')) {
            AjaxLoad(url = "/Labo/Status/LaboDiscount/?handler=Executed"
                , data = {
                    'LaboID': ser_LaboID
                    , 'DiscountAmount': DiscountAmount
                    , 'DiscountPercent': DiscountPercent
                    , 'Price': Price
                }
                , async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        notiSuccess();
                        LaboDetail_LoadData();
                        CloseModal();
                    } else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        }
    }
    //#endregion

    //#region //Event
    function LaboD_EventInit() {
        var slider = document.getElementById('LD_sliderDouble');
        noUiSlider.create(slider, {
            start: [0],
            connect: true,
            step: 1,

            range: {
                'min': 0,
                'max': 100
            }
        });
        slider.noUiSlider.on('change', function (e) {
            $('#LD_sliderNum').html(Number(e).toFixed() + "%");
            let Amount = LD_PriceRoot * Number(e).toFixed() / 100;
            let IsPer = $("#LD_DiscountType").dropdown("get value") ? $("#LD_DiscountType").dropdown("get value") : 0;            
            if (IsPer == 2) $("#LD_DiscountAmount").val(Number(Amount))
            else $("#LD_DiscountAmount").val(Number(e).toFixed())
        });
        $("#LD_DiscountAmount").unbind('change').change(function () {            
            LaboD_ExecuteDiscount();
        })

        $("#LD_DiscountType").unbind('change').change(function () {
            $("#LD_DiscountAmount").val(0);
        })
    }
    function LaboD_ExecuteDiscount() {
        let type = $("#LD_DiscountType").dropdown("get value") ? $("#LD_DiscountType").dropdown("get value") : 0;
        let getValue = ($("#LD_DiscountAmount")[0].value ? ($("#LD_DiscountAmount")[0].value.replaceAll(',', '')) : 0);
        if (isNaN(getValue) || getValue < 0) $("#LD_DiscountAmount").val(0);
        else{
            let Value = 0;
            let ValueAmount = 0;
            if (type == 1) {
                Value = (getValue > 100 ? 100 : getValue);
                ValueAmount = LD_PriceRoot * (Value / 100);
            } else {
                Value = (getValue > LD_PriceRoot ? LD_PriceRoot : getValue);
                ValueAmount = Value;
            }
            $("#LD_ViewDisPer").html(type == 1 ? '(' + Value + '%)' : "");
            $("#LD_ViewDisAmo").html(formatNumber(ValueAmount));
            $("#LD_Price").html(formatNumber(LD_PriceRoot - ValueAmount));
            $("#LD_Left").html(formatNumber(LD_PriceRoot - ValueAmount - LD_Paid));
        }
    }
    //#endregion
</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

<style>
    .noUi-connects {
        background: purple!important;
    }
    .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
        background: purple!important;
    }
    .noUi-target.noUi-horizontal .noUi-tooltip {
        background-color: purple !important;
    }
</style>
