@page
@model MLunarCoffee.Pages.Labo.Status.LaboDetailModel
@{
    Layout = null;
}
<script>js_require_notasync('/js/Labo_Template/render_template.js')</script>
<script>js_require_notasync('/js/Labo_Template/template_update.js')</script>
<script>js_require('/js/comon/initialize_setting.js')</script>

<div class="container-fluid py-0">
    <div class="d-flex justify-content-end py-2 me-n2 mb-3">
        <ul class="nav nav-pills  p-1 bg-transparent labodetail mt-2" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link cursor-pointer" data-bs-toggle="pill"
                   data-bs-target="#labodetailcomment" role="tab">@Local["Nội dung"]</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link cursor-pointer" data-bs-toggle="pill"
                   data-bs-target="#labodetailform" role="tab">@Local["Mẫu"]</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link cursor-pointer d-flex" data-bs-toggle="pill"
                   data-bs-target="#labodetailsame" role="tab">
                    <div id="ldsame_area" class="d-none px-2 me-2 rounded-3 bg-gradient-primary text-white">
                        <div id="ldsame_number" class="text-sm"></div>
                    </div>
                    @Local["Cùng dịch vụ"]
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-wrapper position-relative end-0">
        <div class="nav-wrapper position-relative end-0">
            <div class="tab-content">
                <div class="tab-pane fade" id="labodetailcomment" role="tabpanel">
                    <div class="mb-1">
                        <div class="row">
                            <div class="d-flex align-items-center mt-0 mt-lg-n7 ps-0 w-50">
                                <div>
                                    <img id="LabDetail_SendAvatar" src="/default.png" class="avatar avatar-sm me-2" alt="avatar image">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <div>
                                        <span class="text-dark text-sm fw-bold pe-1" id="LabDetail_Code"></span> -
                                        <span class="text-dark fw-bold text-sm ps-1" id="LabDetail_Service"></span>
                                    </div>
                                    <div class="text-secondary mt-n1 fst-italic">
                                        <span class="text-sm" id="LabDetail_ServiceNum"></span>
                                        <span class="text-sm" id="LabDetail_ServiceTeeth"></span>
                                    </div>

                                </div>
                            </div>
                            <p id="LabDetail_Content" class="text-sm ps-0 text-dark mt-n1"></p>
                            <div class="col-lg-7 col-md-6 col-12 px-0">
                                <div class="position-relative scrollHeight ">
                                    <div id="CustLab_PropertiesWait" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x"
                                         style="display: none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <table class="table vt-table mb-0">
                                        <thead>
                                            <tr>
                                                <th>@Local["#"]</th>
                                                <th>@Local["Răng"]</th>
                                                <th>@Local["Thuộc tính"]</th>
                                            </tr>
                                        </thead>
                                        <tbody id="CustLab_Properties">
                                        </tbody>
                                    </table>
                                </div>

                                <div class="mt-3">
                                    <div class="d-lg-flex mt-3 my-2">
                                        <div class="w-50 col-auto my-auto">
                                            <h6 class="mb-0 fw-bold text-sm">@Local["Công việc"]</h6>
                                            <p class="text-sm text-dark mb-0">@Local["Nội dung công việc"]</p>
                                        </div>
                                        <div class="ms-auto my-auto mt-1 position-relative">
                                            <a id="LaboDetailAdd" onclick="LaboDetail_AddTask(0)" class="px-2 rounded-2 mt-1 w-auto" style="border-radius: 10px !important; right: -11px; top: 2px;" title="@Local["Thêm mới"]" data-bs-toggle="tooltip" data-bs-original-title="@Local["Thêm mới"]" aria-describedby="tooltip982715">
                                                <i class="fas fa-plus text-primary"></i>
                                            </a>
                                            <div id="LaboDetailAddArea" class="z-index-3 position-absolute" style="min-width:500px; display:none;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-relative scrollHeight">
                                        <div id="CustLab_TaskWait" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x"
                                             style="display: none;">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <div id="CustLab_Task" class="timeline timeline-one-side mt-2" data-timeline-axis-style="dotted">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 col-md-6 mt-4 mt-lg-0">
                                <div class="card card-plain">
                                    <div class="card-body p-0 mt-n1">
                                        <div class="border-0 p-3 bg-gray-100 border-radius-lg mt-1">
                                            <div class="d-flex justify-content-between position-relative">
                                                <span class="mt-1 text-sm">@Local["Trạng thái"]</span>
                                                <div class="w-auto ms-auto">
                                                    <a onclick="Labo_DetailPrintForm()" class="px-2 rounded-2 w-auto ms-auto" title="@Local["In"]" data-bs-toggle="tooltip" data-bs-original-title="@Local["In"]">
                                                        <i class="fas fa-print text-primary"></i>
                                                    </a>
                                                    <a onclick="Labo_ChangeStatus(this)" id="LabDetail_Status" class="border-bottom border-primary text-sm fw-bold ms-auto w-auto float-end"></a>
                                                </div>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Người yêu cầu"]</span>
                                                <span id="labo_info_doctor_name" class="fw-bold text-dark text-sm ms-4"></span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Người chịu trách nhiệm"]</span>
                                                <span id="labo_info_reponname" class="fw-bold text-dark text-sm ms-4"></span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Ngày muốn nhận"]</span>
                                                <span id="labo_info_requieTime" class="fw-bold text-dark text-sm ms-4">
                                                </span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Nhà cung cấp"]</span>
                                                <span id="labo_info_sup" class="fw-bold text-dark text-sm ms-4">
                                                </span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Giá tiền"]</span>
                                                <span id="labo_cost_priceroot" class="fw-bold text-dark text-sm ms-4">
                                                </span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex gap-2">
                                                    <span class=" text-sm">@Local["Chiết khấu"]</span>
                                                    <i class="fas fa-edit text-primary" id="labo_editdiscount"></i>
                                                </div>
                                                <span class="fw-bold text-dark text-sm ms-4 cursor-pointer">
                                                    <span class="pe-1" id="labo_discountPer_lab"></span>
                                                    <span id="labo_discountAmo_lab"></span>
                                                </span>
                                            </div>
                                            <div class="position-absolute z-index-3 max-width-400 w-100" id="labo_discount_div" style="display: none;"></div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Thành tiền"]</span>
                                                <span id="labo_cost_price" class="fw-bold text-dark text-sm ms-4">
                                                </span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Đã thanh toán"]</span>
                                                <span id="labo_cost_pay" class="fw-bold text-dark text-sm ms-4">
                                                </span>
                                            </div>
                                            <hr class="horizontal dark my-2">
                                            <div class="d-flex justify-content-between">
                                                <span class=" text-sm">@Local["Khách hàng"]</span>
                                                <a id="labo_customer" target="_blank" class="text-end  text-primary text-sm ms-4">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="row mx-1 position-relative">
                                        <a id="LabDetail_Upload" onclick="LabDetail_Upload(this)" class="px-2 rounded-2 position-absolute w-auto" style="border-radius: 10px !important; right: -11px; top: 2px;" title="@Local["Tải tệp lên"]" data-bs-toggle="tooltip" data-bs-original-title="@Local["Tải tệp lên"]">
                                            <i class="fas fa-cloud-upload-alt text-primary"></i>
                                        </a>
                                        <div class="accordion">
                                            <div class="accordion-item mb-3">
                                                <h5 class="accordion-header">
                                                    <button class="accordion-button border-bottom p-0 py-1 text-sm collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#lb_uploadarea" aria-expanded="false" aria-controls="lb_uploadarea">
                                                        <span class="text-sm text-dark">@Local["Quản lý tập tin"]</span>
                                                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                                <div id="lb_uploadarea" class="accordion-collapse collapse collapsesticky">
                                                    <div class="accordion-body text-sm">
                                                        <ul id="CustLab_UploadList" class="list-group">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="row mx-1">
                                        <div class="accordion">
                                            <div class="accordion-item mb-3">
                                                <h5 class="accordion-header">
                                                    <button class="accordion-button border-bottom p-0 py-1 text-sm collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#lb_statusarea" aria-expanded="false" aria-controls="lb_statusarea">
                                                        <span class="text-sm text-dark">@Local["Lịch sử trạng thái"]</span>
                                                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                    </button>
                                                </h5>
                                                <div id="lb_statusarea" class="accordion-collapse collapse collapsesticky">
                                                    <div class="accordion-body text-sm position-relative">
                                                        <div id="CustLab_LabStatusWait" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x"
                                                             style="display: none;">
                                                            <div class="spinner-border text-primary" role="status">
                                                                <span class="sr-only">Loading...</span>
                                                            </div>
                                                        </div>
                                                        <ul id="CustLab_LabStatus" class="list-group">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="labodetailform" role="tabpanel">

                    <div class="row overflow-auto border-dashed border-radius-md  border-1 bg-white  border-secondary p-3 my-3 m-0 position-relative">
                        <button class="btn bg-gradient-info position-absolute end-4 w-auto" onclick="Labo_DetailPrintSupForm()">@Local["In"]</button>
                        <div id="labo_templateWaiting" class="position-absolute top-0 start-50 translate-middle waitingdiv text-center w-100 mt-5 d-none">
                            <div class="spinner-border text-primary" role="status">

                            </div>
                        </div>
                        <div class="row w-100 d-flex justify-content-center" id="labo_template_content">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="labodetailsame" role="tabpanel">
                    <div class="position-relative mt-2">
                        <div id="lb_samewait" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <p id="tsprint_option" class="mt-lg-n5 mt-0 text-dark text-sm">
                            @Local["Chọn file"] <span>
                                <i onclick="LaboDetail_SSPrint()" class="fs-6 cursor-pointer mx-2 text-primary fw-bold fas fa-print"></i>
                            </span> @Local["Để in"].
                        </p>
                        <table class="table vt-table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@Local["Chọn"]</th>
                                    <th>@Local["Mã"]</th>
                                    <th>@Local["Dáng răng"]</th>
                                    <th>@Local["Răng"]</th>
                                    <th>@Local["Người yêu cầu"]</th>
                                    <th>@Local["Người tạo"]</th>
                                    <th>@Local["Ngày tạo"]</th>
                                    <th>@Local["Trạng thái"]</th>
                                </tr>
                            </thead>
                            <tbody id="lb_samelist">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>




<script>
    let LaboDetail_LabCode = '';
    let LaboDetail_LabCreated = '';
    var LaboDetail_CustID = '';
    $(document).ready(function () {
        initNavs();
        $('.labodetail a:first').tab('show');
        LaboDetail_OutSide();
        ToolPopper();
    });

    function LaboDetail_OutSide () {
        //labo_detail_begin = 0;
        LaboDetail_LoadData();
        LaboDetail_LoadUpload();
        LaboDetail_LoadTask();
        LaboDetail_LoadLabStatus();
        LaboDetail_LoadSService();
        LaboDetail_EventInit();
    }
    function LaboDetail_LoadData( ) {
        AjaxLoad(url = "/Labo/Status/LaboDetail/?handler=LoadData"
            , data = {
                'CurrentID': LaboCurrentID
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let datas = JSON.parse(result) ;
                    let datainfo = datas.Table;
                    let dataProperties = datas.Table1;
                    if (datainfo != undefined && datainfo.length != 0) {
                        LaboDetail_FillData(datainfo[0]);
                    }
                    LaboDetail_RenderProperties(dataProperties, "CustLab_Properties");
                }
            }, sender = null
            , before = function (e) {
                $('#CustLab_PropertiesWait').show();
            },
            complete = function (e) {
                $('#CustLab_PropertiesWait').hide()
            }
        );
    }
    async function LaboDetail_FillData (item) {
        new Promise((resolve) => {
            LaboDetail_LabCode = item?.LaboCode ?? '';
            LaboDetail_LabCreated = item?.Created ?? '';
            let obj_from = Fun_GetObject_ByID(LaboDataUser, item.UserFrom);
            let image_from = (obj_from != null) ? obj_from.Avatar : Master_Default_Pic;
            $('#LabDetail_SendAvatar').attr('src', image_from);

            let statusName = item.StatusName;
            let statusColor = item.StatusColor;
            if (statusName != '') {
                $('#LabDetail_Status').html(statusName);
                $("#LabDetail_Status").css("color", statusColor);
            }
            else {
                $('#LabDetail_Status').html('');
                $("#LabDetail_Status").css("color", 'gray');
            }
            $('#LabDetail_Service').html(item.ServiceName);
            $('#LabDetail_Content').html(item.Content != '' ? item.Content : '');

            $('#LabDetail_ServiceNum').html(item.NumTeeth+' @Local["Răng"]')
            $('#LabDetail_ServiceTeeth').html(Fun_GetTeeth_ByToken(LaboDataTeeth,item.Teeth, item.TeethType));
            $('#LabDetail_Code').html(item.LaboCode);
            let obj_doc = Fun_GetObject_ByID(LaboDataEmployee, item.Doctor);
            let name_doc = (obj_doc != null) ? obj_doc.Name : '';
            $('#labo_info_doctor_name').html(name_doc);
            $('#labo_info_requieTime').html(GetDateTime_String_DMYHM(item.ReceiptDate));
            $('#labo_info_sup').html(item.SupName);
            $('#labo_cost_price').html(formatNumber(item.Price));
            $('#labo_cost_priceroot').html(formatNumber(item.PriceRoot));
            $("#labo_discountPer_lab").html(item.DiscountPercent != 0 ? '(' + item.DiscountPercent + '%)' : '');
            $('#labo_discountAmo_lab').html(item.DiscountAmount != 0 ? formatNumber(item.DiscountAmount) : 0);

            $('#labo_cost_pay').html(formatNumber(item.Paid));
            $('#labo_customer').html(item.CustName + '</br>' + item.CustCode);
            $('#labo_customer').attr("href", '/Customer/MainCustomer?CustomerID=' + Number(item.CusID) + '&ver=' + versionofWebApplication);
            $('#labo_info_reponname').html(item.EmpTo);
            LaboDetail_CustID = Number(item.CusID);
            if(typeof LaboDetail_LoadCommand === 'function') LaboDetail_LoadCommand(item.DataTemplate);

        });
    }
    async function LaboDetail_RenderProperties (data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr =
                            `<tr role="row" class="vt-number">
                                <td class="vt-number-order"></td>
                                <td>
                                    <div class="d-flex align-items-center">

                                        <div class="d-flex flex-column">
                                            <a class="cursor-pointer">${LaboDetail_GetTeeth(item.Teeth, item.TeethType)} ${item.Material}</a>
                                            <div class="d-flex align-items-center">
                                                <button style="box-shadow: none;width: 15px;height: 15px;border: 1px solid #dbdbdb;background-color:${item.ColorCode}" class="mb-0 "></button>
                                                <span class="ps-2 fst-italic">
                                                ${item.Color}
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a class="cursor-pointer text-dark">${formatNumber(item.UniPrice)}</a>
                                    <span class="d-block fst-italic">${item.Dimension} ${item.Properties}</span>
                                </td>
                            </tr>`

                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }

        });
    }
    function LaboDetail_GetTeeth (teethid, _TeethType) {

        let _datateeth = LaboDataTeeth[teethid];
        if (_datateeth != undefined) {
            if (Number(_TeethType) == 0) return _datateeth.TeethName;
            if (Number(_TeethType) == 1) return _datateeth.TeethNameBaby;
            if (Number(_TeethType) == 2) return _datateeth.TeethNameMerge;
        }
        return "";
    }


     //#region Task
    function LaboDetail_LoadTask (_valueid) {
        let valueid = (_valueid != undefined) ? Number(_valueid) : 0;
        AjaxLoad(url = "/Labo/Status/LaboDetail/?handler=LoadData_Task"
            , data = {
                'LaboID': LaboCurrentID
                , 'valueid': valueid
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    if (valueid == 0) {
                        LaboDetail_RenderTask(data, "CustLab_Task");
                    }
                    else {
                        if (data != undefined && data.length == 1) {

                            let tr = LaboDetail_RenderTaskEach(data[0]);
                            if ($('#Labtask_' + valueid).length) {
                                $('#Labtask_' + valueid).replaceWith(tr);
                            }
                            else $("#CustLab_Task").prepend(tr);
                            LaboDetail_TaskEvent();
                        }

                    }
                }
            }
            , sender = null
            , before = function (e) {
                $('#CustLab_TaskWait').show();
            },
            complete = function (e) {
                $('#CustLab_TaskWait').hide()
            }
        );

    }

    async function LaboDetail_RenderTask (data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = LaboDetail_RenderTaskEach(item);
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML =  stringContent;
            }
            LaboDetail_TaskEvent();
        });
    }
    function LaboDetail_RenderTaskEach (item) {
        return tr =

            `<div id="Labtask_${item.ID}" class="timeline-block mb-3">
                <span class="timeline-step">
                    <i class="fas fa-check text-success text-gradient"></i>
                </span>
                <div class="timeline-content">
                    <div class="d-flex">
                        <a data-id="${item.ID}" class="task text-primary text-sm cursor-pointer font-weight-bold mb-0 ${item.TaskName == "" ? "" : "pe-2"}">${item.TaskName}</a>
                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">${item.EmpName} ${GetDateTime_String_DMY(item.Created)}</p>
                    </div>
                    <p class="text-sm mt-2 mb-0">
                        ${item.Content}
                    </p>
                </div>
            </div>`;
    }
    function LaboDetail_TaskEvent () {
        $("#CustLab_Task .task").unbind('click').click( function () {
            let _id = $(this).attr('data-id');
            LaboDetail_AddTask(_id);
        });
    }
    function LaboDetail_AddTask (_task) {

        let link = '/Labo/Status/LaboTask?LaboID=' + LaboCurrentID +'&CurrentID=' + _task;
        $('#LaboDetailAddArea').load(link);
        $("#LaboDetailAddArea").show();
        let left = $('#LaboDetailAdd').position().left
        let top = $('#LaboDetailAdd').position().top
        $("#LaboDetailAddArea").css({
            left: left - 270,
            top: top-70
        }).animate({
            top: top - 90
        })

    }
    function Labo_ChangeStatus (e) {
        LaboDetail_ChangeStatus(e, LaboCurrentID);
    }
    //#endregion

    // #region // Render form template
    function LaboDetail_LoadCommand (template) {
        $('#labo_template_content').html('')
        AjaxLoad(url = "/Labo/Status/LaboDetail/?handler=LoadCommand"
            , data = {
                'CurrentID': LaboCurrentID
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    LaboDetail_FormRender(JSON.parse(template), data, "labo_template_content");
                    LaboDetail_FormEvent();
                }
            }
        );

    }
    async function LaboDetail_FormRender(data, command, id) {
        return new Promise((resolve, reject) => {
            setTimeout(function (e) {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    myNode.innerHTML = '';
                    fn_RenderForm(myNode, data);
                    if (command != undefined) {
                        fn_FillForm(item = command.Table[0], id = id);
                    }
                    if (command != undefined && Object.keys(command).length > 0) {
                        fn_FillTables(command, item = data[0], id = id);
                    }
                }
            }, 500);

        })
    }
    async function LaboDetail_FormEvent(){
        return new Promise((resolve, reject) => {
            setTimeout(function (e) {
                $("#labo_template_content input,textarea").attr('disabled',true);
            }, 500);

        })
    }
    function Labo_DetailPrintSupForm () {
        fn_Print(printedid = "labo_template_content"
            , beforefun = function () {
                $('#labo_templateWaiting').removeClass('d-none');
            }
            , afterfun = function () {
                $('#labo_templateWaiting').addClass('d-none');
            }
        );
    }
     //#endregion
    //#region // LabStatus
    function LaboDetail_LoadLabStatus(_valueid) {
        let valueid = (_valueid != undefined) ? Number(_valueid) : 0;
        AjaxLoad(url = "/Labo/Status/LaboDetail/?handler=LoadData_LabStatus"
            , data = {
                'LaboID': LaboCurrentID
                , 'valueid': valueid
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    if (valueid == 0) {
                        LaboDetail_RenderLabCus(data, "CustLab_LabStatus");
                    }
                    else {
                        //if (data != undefined && data.length == 1) {
                        //    let tr = LaboDetail_RenderLabCusEach(data[0]);
                        //    if ($('#LabStatus_' + valueid).length) {
                        //        $('#LabStatus_' + valueid).replaceWith(tr);
                        //    }
                        //    else $("#CustLab_LabStatus").insertAdjacentHTML(beforebegin, tr);
                        //}
                    }
                }
            }
            , sender = null
            , before = function (e) {
                $('#CustLab_LabStatusWait').show();
            },
            complete = function (e) {
                $('#CustLab_LabStatusWait').hide()
            }
        );
    }
    async function LaboDetail_RenderLabCus(data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = LaboDetail_RenderLabCusEach(item);
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
            LaboDetail_TaskEvent();
        });
    }
    function LaboDetail_RenderLabCusEach (item) {
        return tr =
            `<li id="LabStatus_${item.ID}" class="border-0 ps-0 pt-0 text-sm">
                <span class=" fst-italic ">${item.Created_By} ${GetDateTime_String_DMY(item.Created)}</span>
                <div>
                    <span class="text-sm fw-bold" style="color:${item.StatusColor}">${item.StatusName}</span>
                    <span class="text-dark text-sm ">${item.Note}</span>
                    <span class="text-dark text-sm ps-2">${item.Content}</span>
                </div>
            </li>
            <hr class="horizontal dark my-2">`


            ;
    }

    function Labo_DetailPrintForm(){
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load('/Print/print?Type=require_lab&DetailID=' + LaboCurrentID);
        $('#DetailModal').modal('show');
    }
    //#endregion

    //#region // Upload file
    function LabDetail_Upload () {
        let Code = encodeURIComponent(LaboDetail_LabCode);
        let CreatedCode = encodeURIComponent(LaboDetail_LabCreated);
        if (Code != "") {
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load(`/Library/LibraryAttach/LibraryAttachDetail?OriginID=${LaboCurrentID}&OriginCode=${Code}&CreatedCode=${CreatedCode}&ver=${versionofWebApplication}`)
            $('#DetailModal').modal('show');
        }
        else {
            notiWarning("@Local["Không có mã"]");
        }
    }
    function LaboDetail_LoadUpload () {
        AjaxLoad(url = "/Labo/Status/LaboDetail/?handler=LoadData_Upload"
            , data = {
                'LaboID': LaboCurrentID
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    LaboDetail_UploadRender(data, "CustLab_UploadList");
                }
            }, sender = null
        );
    }
    async function LaboDetail_UploadRender (data,id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = LaboDetail_UploadRenderEach(item);
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        });
    }
    function LaboDetail_UploadRenderEach (item) {
        return tr =
            ` <li class="border-0 ps-0 pt-0 text-sm">
                <span class="text-dark fst-italic pe-2">${GetDateTime_String_DMY(item.Created)}</span>
                <a class="text-sm text-primary  text-sm" target="_blank" href="${item.UrlLink}">${item.Name}</a>
            </li>
            <hr class="horizontal dark my-2">`

            ;
    }
    //#endregion

    //#region // Same service
    function LaboDetail_LoadSService () {
        AjaxLoad(url = "/Labo/Status/LaboDetail/?handler=LoadData_SameService"
            , data = {
                'CurrentID': LaboCurrentID
            }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length > 1) {
                        LaboDetail_RenderSService(data, "lb_samelist");
                        $('#ldsame_area').removeClass('d-none');
                        $('#ldsame_number').html(data.length );
                    }
                    else {
                        $('#lb_samelist').html('');
                        $('#ldsame_area').addClass('d-none');
                        $('#ldsame_number').html(0);
                    }
                }
            }, sender = null
            , before = function (e) {
                $('#lb_samewait').show();
            },
            complete = function (e) {
                $('#lb_samewait').hide()
            }
        );
    }
    async function LaboDetail_RenderSService (data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = LaboDetail_RenderSServiceEach(item);
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
            LaboDetail_SSEvent();
        });
    }
    function LaboDetail_RenderSServiceEach (item) {

        return tr =
            `<tr role="row" class="vt-number">
                <td class="vt-number-order"></td>
                <td>
                    <div class="form-check d-flex justify-content-center">
                    <input type="checkbox" data-id="${item.ID}" class="form-check-input pr-2 printitem">
                    </div>
                </td>
                <td>${item.LaboCode}</td>
                <td>${item.TeethLayout}</td>
                <td><span class="text-primary fw-bold pe-2">${item.NumTeeth} :</span>${Fun_GetTeeth_ByToken(LaboDataTeeth, item.Teeth, item.TeethType)}</td>
                <td>${item.EmpRequire}</td>
                <td>${item.EmpCreate}</td>
                <td>${GetDateTime_String_DMY(item.Created)}</td>
                <td><div class="d-flex justify-content-center align-items-center">
                    <a data-id="${item.ID}" class="Labostatus fw-bold" style="color: ${item.StatusColor};">${item.StatusName}</a>
                   </div>
                </td>
            </tr>`;

    }
    function LaboDetail_SSEvent () {
        $("#lb_samelist .Labostatus").unbind('click').click(function (e) {
            e.preventDefault();
            let _id = $(this).attr('data-id');
            LaboDetail_ChangeStatus(this, _id);
        });
    }
    function LaboDetail_SSPrint () {
        let _selected = '';
        let obj = $("#lb_samelist .printitem");
        for (let i = 0; i < obj.length; i++) {
            if (obj[i].checked) _selected = _selected + obj[i].dataset.id + ',';
        }
        if (_selected != '') {
            if (_selected.length < 1000) {
                //alert(_selected)
                //syslog_cutcon('p', ser_MainCustomerID, '');
                $("#DetailModal_Content").html('');
                $("#DetailModal_Content").load('/Print/print?Type=labo_mutil&DetailID=' + _selected);
                $('#DetailModal').modal('show');
            }
            else  notiWarning("@Local["Vượt số lượng cho phép"]");
        }
        else  notiWarning("@Local["Chọn file"]");
    }

    //#endregion

    //#region //Event Init

    function LaboDetail_EventInit () {
        $("#labo_editdiscount").click(function () {
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load("/Labo/Status/LaboDiscount?LaboID=" + LaboCurrentID + "&ver=" + versionofWebApplication);
            $('#DetailModal').modal('show');
            return false;
        })
 
    }

    //#endregion
</script>
<style>
    #labodetailcomment .scrollHeight {
        max-height: 367px;
        overflow: scroll;
        overflow-x: hidden;
    }
</style>

