@page
@model MLunarCoffee.Pages.Report.Commission.Bypaid.BrokerModel
@{
    Layout = null;
}
<div class="row m-0 form3" id="dataDetail">
    <div class="col-12 col-lg-3 px-0 pe-lg-3 mt-3" id="MasterDiv">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0 px-0 pt-2">
                <div class="right">
                    <button id="exportList_Master" class="btn btn-primary btn-sm ml-2 mb-2  " type="button" disabled style="display:none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="text-normal fw-bold ps-2">@Local["Đang tải"]...</span>
                    </button>
                    <div class="icon-hover mx-1"
                         data-bs-toggle="tooltip" data-bs-placement="top"
                         data-bs-original-title="@Local["Xuất excel"]">
                        <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                           onclick="event.preventDefault(); return ComBroker_exportMaster()"></i>
                    </div>
                    <p id="error_max_dates_show" style="display:none;" class="text-sm text-danger mb-0">
                        <span>@Local["Số ngày được xem tối đa"]</span>
                        <span class="ps-2" id="report_max_dates_show"></span>
                    </p>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="m-0 my-3 mobile-responsive position-relative overflow-y" style="max-height: 66vh;">
                    <div id="loaderList_master" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                    </div>

                    <table class="table vt-table mb-0" id="ComBroker_dtContentMaster">
                        <thead>
                            <tr>
                                <th style="width: 40px;">#</th>
                                <th>@Local["Tên"]</th>
                                <th>@Local["Tổng doanh thu trong kỳ"]</th>
                                <th>@Local["Tổng thu"] @Local["Dịch vụ"]</th>
                            </tr>
                        </thead>
                        <tbody id="ComBroker_dtContentMasterBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="field col-12 col-lg-9 px-0" id="Detail_Div">
        <div class="card card-plain">
            <div class="vtcardheader card-header pb-0 px-0 pt-3">
                <div class="left">
                    <h6 id="ComBroker_NameBroker" class="text-md text-primary fw-bold  mb-0 ">@Local["Tên nhân viên"]</h6>
                </div>
                <div class="right">
                    <div id="ComBroker_Number" class="text-primary fw-bold">
                        <span id="ComBroker_currentdata">0</span>
                        <span class="mx-2">/</span>
                        <span id="ComBroker_totaldata">0</span>
                    </div>
                    <div class="icon-hover mx-1"
                         data-bs-toggle="tooltip" data-bs-placement="top"
                         data-bs-original-title="@Local["Xuất excel"]">
                        <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                           onclick="event.preventDefault(); return ComBroker_exportDataDetail()"></i>
                    </div>
                    <button class="btn btn-dark btn-sm mb-0 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                        @Local["Xem thêm"]
                    </button>
                </div>
                <div class="toggle">
                    <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                        <ul class="card card-body text-dark text-capitalize opacity-10">
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="salecode" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã lên đơn"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="brokername" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Tên"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="brokername" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="custsource" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Nguồn"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="documentcode" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã hồ sơ"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="custoldcode" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã khách hàng cũ"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="custage" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Tuổi"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="custgender" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Giới tính"]</p>

                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="servicecode" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Mã dịch vụ"]</p>
                            </li>
                            <li class="d-flex">
                                <div class="form-check form-switch">
                                    <input class="shtoogle form-check-input" data-name="servicetype" type="checkbox">
                                </div>
                                <p class="text-sm">@Local["Loại dịch vụ"]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="m-0 mt-3 mobile-responsive mb-0 vt-header-sticky overflow-y" style="max-height: 66vh;">
                    <table data-name="dtContentReport" class="table vt-table mb-0" id="ComBroker_dtContentReport">
                        <thead>
                            <tr>
                                <th class="no-sort" style="min-width: 25px;">#</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Mã khách hàng"]</th>
                                <th class="no-sort" style="min-width: 150px;">@Local["Khách hàng"]</th>
                                <th class="no-sort" style="min-width: 150px;" data-name="custsource">@Local["Nguồn"]</th>
                                <th class="no-sort" style="min-width: 150px;" data-name="documentcode">@Local["Mã hồ sơ"]</th>
                                <th class="no-sort" style="min-width: 150px;">@Local["Số điện thoại"]</th>
                                <th class="no-sort" style="min-width: 150px;" data-name="custoldcode">@Local["Mã khách hàng cũ"]</th>
                                <th class="no-sort" style="min-width: 150px;" data-name="custage">@Local["Tuổi"]</th>
                                <th class="no-sort" style="min-width: 150px;" data-name="custgender">@Local["Giới tính"]</th>
                                <th class="no-sort" style="min-width: 100px;" data-name="servicecode">@Local["Mã dịch vụ"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Dịch vụ"]</th>
                                <th class="no-sort" style="min-width: 100px;" data-name="servicetype">@Local["Loại dịch vụ"]</th>
                                <th class="no-sort" style="min-width: 100px;" data-name="salecode">@Local["Mã lên đơn"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Số lượng"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Giá"]</th>
                                <th class="no-sort" style="min-width: 100px;" data-name="brokername">@Local["Tên"]</th>
                                <th class="no-sort" style="min-width: 100px;" data-name="brokername">@Local["Mã"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Hoa hồng"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Thu trong kỳ"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Tiền thu"] @Local["Dịch vụ"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Thành tiền"]</th>
                                <th style="min-width: 150px;">@Local["Ngày"]</th>
                                <th class="no-sort" style="min-width: 100px;">@Local["Chi nhánh"]</th>
                            </tr>
                        </thead>
                        <tbody id="ComBroker_dtContentReportBody">
                        </tbody>
                    </table>
                </div>
                <button id="btndetailmore" class="btn btn-secondary w-100 p-1 mt-2 position-relative mb-0" onclick="ComBroker_ViewMore()">
                    @Local["Xem thêm"]
                </button>
            </div>
        </div>
    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">
    let combroker_DataMaster = [];    
    let combroker_DataDetail = [];
    let combroker_DataDetailSlide = [];
    var combroker_Index = 0;
    let _branchID = "@Model._branchID";
    let _dateFrom = "@Model._dateFrom";
    let _dateTo = "@Model._dateTo";
    $(document).ready(function (){
        shtable = $("#ComBroker_dtContentReport").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        $("#dtContentReport").tablesort();
        ComBroker_LoadDataMaster();
    });
    function ComBroker_LoadDataMaster(){ 
        AjaxLoad(url = "/Report/Commission/Bypaid/Broker?handler=Loadata"
            , data = {
                'branchID': _branchID
                , 'dateFrom': _dateFrom
                , 'dateTo': _dateTo                
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    combroker_DataMaster = JSON.parse(result);
                    ComBroker_RenderData(combroker_DataMaster, "ComBroker_dtContentMasterBody");
                } else {
                    notiError_SW();
                }
            }
        );
        return false;
    }
    async function ComBroker_RenderData(data, id) {
        new Promise((resolve) => {
            let mynode = document.getElementById(id);
            if(mynode!=null){
                mynode.innerHTML = '';
                let strcontent = '';
                let strtotal = '';
                if(data && data.length){
                    let totalCommis = 0;
                    let totalAmount = 0;
                    let totalAmountPeriod = 0;
                    for(let i = 0 ; i< data.length;i++){
                        let item = data[i];
                        strcontent += ` <tr class="vt-number cursor-pointer masterRow">
                            <td class="d-none">${item.BrokerID}</td>
                            <td class="vt-number-order"></td>
                            <td>${item.BrokerName}
                                <p class="text-primary">${formatNumber(item.Commis)}</p>
                            </td>
                            <td>${formatNumber(item.AmountPeriod)}</td>
                            <td>${formatNumber(item.Amount)}</td>
                        </tr>
                        `
                        totalCommis += item.Commis;
                        totalAmount += item.Amount;
                        totalAmountPeriod += item.AmountPeriod;
                    }
                    strtotal = `<tr class="vt-number cursor-pointer masterRow">
                        <td class="d-none">0</td>
                        <td class="vt-number-order"></td>
                        <td>@Local["Tổng"]
                            <p class="text-primary">${formatNumber(totalCommis)}</p>
                        </td>
                        <td>${formatNumber(totalAmountPeriod)}</td>
                        <td>${formatNumber(totalAmount)}</td>
                    </tr>
                    `
                    mynode.innerHTML = strtotal + strcontent
                }
            }
            ComBroker_EventMaster();
            $("#ComBroker_dtContentMasterBody .masterRow").first().click();
            resolve();
        })
    }
    function ComBroker_EventMaster(){
        $("#ComBroker_dtContentMasterBody .masterRow").unbind('click').click(function (){
            $(this).addClass('active').siblings().removeClass('active');
            let id = Number($(this).closest('tr')[0].childNodes[1].innerHTML);
            ComBroker_LoadDataDetail(id);
        });
    }
    function ComBroker_LoadDataDetail(id){
        AjaxLoad(url = "/Report/Commission/Bypaid/Broker?handler=LoadataDetail"
            , data = {
                'branchID': _branchID
                , 'dateFrom': _dateFrom
                , 'dateTo': _dateTo
                , 'BrokerId': id
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    combroker_DataDetail = JSON.parse(result);
                    setTimeout(() => {
                        Count_Up("ComBroker_totaldata", combroker_DataDetail.length);
                    }, 300)
                    combroker_Index = 0;
                    combroker_DataDetailSlide = sliceIntoChunks(JSON.parse(result), 500);                    
                    fnRenderBlock(combroker_DataDetailSlide[combroker_Index], 'ComBroker_dtContentReportBody'
                        , blocknum = 100
                        , fnrender = ComBroker_RenderDataDetail
                        , fnsuccess = function (e) { }
                        , fnbegin = function (e) { }
                    )
                    $("#btndetailmore").removeClass('d-none'); 
                } else {
                    notiError_SW();
                }
            }            
        );
        return false;
    }
    async function ComBroker_RenderDataDetail(data,id){
        new Promise((resolve) => {
            let mynode = document.getElementById(id);
            if (mynode != null) {
                mynode.innerHTML = '';
                let strcontent = '';                
                if (data && data.length) {                    
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let age = item.CustDOB.includes('1900-01-01') && item.CustAge == 0
                            ? ""
                            : item.CustAge;
                        strcontent += ` <tr class="vt-number cursor-pointer masterRow">
                                <td class="d-none">${item.BrokerID}</td>
                                <td class="vt-number-order"></td>
                                <td>
                                    <a class="cursor-pointer" href="/Customer/MainCustomer?CustomerID=${item.CustID}&ver=${versionofWebApplication}">${item.CustCode}</a>
                                </td>
                                <td>${item.CustName}</td>
								<td data-name="custsource">${item.CustSource}</td>
								<td data-name="documentcode">${item.CustDocCode}</td>
                                <td data-name="CustPhone" class="_tab_control_" data-tab="phone_customer">${item.CustPhone}</td>
                                <td data-name="custoldcode">${item.CustOldCode}</td>
                                <td data-name="custage">${age}</td>
                                <td data-name="custgender">${item.CustGender}</td>
                                <td data-name="servicecode">${item.ServiceCode}</td>
                                <td>${item.ServiceName}</td>
                                <td data-name="servicetype">${item.ServiceType}</td>
                                <td data-name="salecode">${item.SaleCode}</td>
                                <td>${formatNumber(item.Qty)}</td>
                                <td>${formatNumber(item.PriceRoot)}</td>
								<td data-name="brokername">${item.BrokerName}</td>
								<td data-name="brokername">${item.BrokerCode}</td>
								<td>${formatNumber(item.Amount)}</td>
								<td>${formatNumber(item.RevenuePeriod)}</td>
								<td>${formatNumber(item.Revenue)}</td>
                                <td>${formatNumber(item.PriceDiscounted)}</td>
                                <td>${ConvertDateTimeUTC_DMYHM(item.DatePaid)}</td>
                                <td>${Fun_GetName_ByID(RP_DataBranch, item.Branch_ID)}</td>                                
                            </tr>
                            `
                    }                    
                    mynode.innerHTML = strcontent;
                }
            }
            shtable.Refresh();
            Checking_TabControl_Permission();
            setTimeout(() => {
                Count_Up("ComBroker_currentdata", $("#" + id).children().length);
            }, 300)
            resolve();
        })
    }
    function ComBroker_ViewMore() {
        combroker_Index += 1;
        if (combroker_DataDetailSlide && combroker_DataDetailSlide[combroker_Index]) {
            fnRenderBlock(combroker_DataDetailSlide[combroker_Index], "ComBroker_dtContentReportBody"
                , blocknum = 100
                , fnrender = ComBroker_RenderDataDetail
                , fnsuccess = null
            );
        }else{
            $("#btndetailmore").addClass('d-none');
        }
    }
    function ComBroker_exportMaster(){
        let name = Outlang['Hoa_hong_nguoi_gioi_thieu'] != undefined ? Outlang['Hoa_hong_nguoi_gioi_thieu'] : 'Hoa hồng người giới thiệu'
        exportToExcel("ComBroker_dtContentMaster", name);
        syslog_acc('e', '');
        return false;
    }

    function ComBroker_exportDataDetail() {
        let name = Outlang['Danh_sach_hoa_hong_nguoi_gioi_thieu'] != undefined ? Outlang['Danh_sach_hoa_hong_nguoi_gioi_thieu'] : 'Danh sách hoa hồng người giới thiệu'
        exportToExcel("ComBroker_dtContentReport", name);
        syslog_acc('e', '');
        return false;
    }
</script>
