@page
@model MLunarCoffee.Pages.Report.Commission.Bypaid.TechnicalModel
@{
    Layout = null;
}
<div class="row px-1 form3" id="dataDetail">
    <div class="col-12 col-md-5 col-xl-4 px-1 mt-2" id="MasterDiv">
        <div>
            <div class="card-header p-3 pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <p class="text-md text-dark font-weight-bold mb-1">

                        </p>
                        <p id="error_max_dates_show" style="display:none;" class="text-sm mb-0">
                            <span>@Local["Số ngày được xem tối đa"]</span>
                            <span class="ps-2" id="report_max_dates_show"></span>
                        </p>
                    </div>
                    <div class="ms-auto my-auto d-flex align-items-center">
                        <div class="icon-hover mx-1"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Tải lại"]">
                            <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                               onclick="event.preventDefault(); return LoadData_Report()"></i>
                        </div>
                        <div class="icon-hover mx-1"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Xuất excel"]">
                            <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                               onclick="event.preventDefault(); return exportData_RevenueMaster()"></i>
                        </div>
                    </div>
                </div>
                <div class="row p-2 pb-0 ps-0">
                    <div class="col-lg-12">
                        <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                            <h6 class="text-sm text-primary text-gradient mb-0">@Local["Tổng"]</h6>
                            <h6 class="font-weight-bolder"> <span id="lbTotalAmount">0</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 pt-0">
                <div class="m-0 my-3 mobile-responsive">
                    <div id="loaderList_master" class="waitingdiv text-center" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                    </div>

                    <table class="table vt-table mb-0" id="dtContentReportMaster">
                        <thead>
                            <tr>
                                <th class="d-none">ID</th>
                                <th class="d-none">Name</th>
                                <th style="width: 40px;">#</th>
                                <th>@Local["Tên"]</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentReportMasterBody">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
    <div class="field col-12 col-md-7 col-xl-8 px-1 mt-2" id="Detail_Div">
        <div class="card">
            <div class="card-header p-3 pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <p id="RevenueDetail" class="text-md text-dark font-weight-bold mb-1">
                        </p>
                    </div>
                    <div class="ms-auto my-auto d-flex align-items-center">
                        <div class="icon-hover mx-1"
                             data-bs-toggle="tooltip" data-bs-placement="top"
                             data-bs-original-title="@Local["Xuất excel"]">
                            <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                               onclick="event.preventDefault(); return exportData_RevenueDetail()"></i>
                        </div>
                    </div>
                </div>
                <div class="row p-2 pb-0 ps-0">
                    <div class="col-lg-6 col-6">
                        <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                            <h6 class="text-sm text-primary text-gradient mb-0">@Local["Tổng"]</h6>
                            <h6 class="font-weight-bolder"> <span id="lbTotalAmount_Detail">0</span></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                            <h6 class="text-sm text-primary text-gradient mb-0">@Local["Lần"]</h6>
                            <h6 class="font-weight-bolder"> <span id="lbTotalTimes_Detail">0</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 pt-0">
                <div class="m-0 my-3 mobile-responsive vt-header-sticky">

                    <table class="table vt-table mb-0" id="dtContentReport">
                        <thead>
                            <tr>
                                <th style="width: 25px;">#</th>
                                <th style="width: 100px;">@Local["Mã khách hàng"]</th>
                                <th style="width: 150px;">@Local["Khách hàng"]</th>
                                <th style="width: 150px;">@Local["Số điện thoại"]</th>
                                <th style="min-width: 120px;">@Local["Dịch vụ"]</th>
                                <th style="width: 100px;">@Local["Thanh toán"]</th>
                                <th style="width: 100px;">@Local["Doanh thu"]</th>
                                <th style="width: 100px;">@Local["Ngày điều trị"]</th>
                                <th style="width: 70px;">@Local["Chi thủ công"]</th>
                            </tr>
                        </thead>
                        <tbody id="dtContentReportBody">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

</div>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">

    //#region  // Var, contructor and Initialize
    var _employeename = '';
    var dataDetail;
    var Revenue_First_Load = 0;
    var CurrentMaster;
    var report_way_to_count
        , report_depentamount;
    var report_ServiceData = [], report_EmployeeData = {}
    var ser_maxDates = 31;

    $(document).ready(function ()
    {
        ToolPopper();
        LoadData_Prepare_Report();
        //$("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });
    function LoadData_Prepare_Report()
    {
        if (Revenue_First_Load == 0)
            AjaxLoad(url = "/Report/Commission/Bypaid/Technical/?handler=Loadata_Prepare"
                , data = {}
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result)
                {
                    if (result != "" && result != "null") {
                        let _data = JSON.parse(result)
                        report_way_to_count = Number(_data.Table[0].WayCount);
                        report_depentamount = Number(_data.Table[0].DepentAmount);
                        let _service = _data.Table1;
                        for (i = 0; i < _service.length; i++) {
                            report_ServiceData[_service[i].ID] = _service[i].Name
                        }
                        report_EmployeeData = _data.Table2;
                        Revenue_First_Load = 1;
                    }
                }
                , sender = null
                , before = function ()
                {
                    $("#dataDetail").hide();
                    $("#loaderList").show();
                }
                , complete = function (e)
                {
                    $("#dataDetail").show();
                    $("#loaderList").hide();
                    LoadData_Report();
                }
            );
    }
    function LoadData_Report()
    {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branchID = "@Model._branchID";
        let date = _dateFrom + " to " + _dateTo
        AjaxLoad(url = "/Report/Commission/Bypaid/Technical/?handler=Loadata"
            , data = { 'date': date, 'maxdate': ser_maxDates }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result)
            {
                if (result != "" && result != "null" && result != "0") {
                    Revenue_Executing_Method(JSON.parse(result), _branchID);
                }
                if (result == "0") {
                    $("#error_max_dates_show").show();
                    document.getElementById("report_max_dates_show").innerHTML = ":" + ser_maxDates;
                }
                else {
                    $("#error_max_dates_show").hide();
                }
            }
            , sender = null
            , before = function ()
            {
                $("#dtContentReportMaster").hide();
                $("#loaderList_master").show();
            }
            , complete = function (e)
            {
                $("#dtContentReportMaster").show();
                $("#loaderList_master").hide();

            }
        );
        return false;

    }
    //#endregion


    //#region //Event Click, Setting Height
    function SettingHeightDiv()
    {
        $('#Detail_Div').css({ height: ($(window).height() - $('#Master_Menu_Top').height()) - 130 });
        $('#MasterDiv').css({ height: ($(window).height() - $('#Master_Menu_Top').height()) - 130 });
    }

    function RevenueMaster_Event()
    {
        $("#dtContentReportMaster tbody").on('click', '.masterRow', function (event)
        {

            let id = Number($(this).attr("data-id"));
            _employeename = $(this).attr("data-name");
            $('#RevenueDetail').html(_employeename);
            CurrentMaster = id;
            $('.masterRow').removeClass('active');
            $(this).addClass('active');
            ViewDetail(id, $(this).attr("data-items"), $(this).attr("data-amount"));
        });
    }
    function exportData_RevenueDetail()
    {
        let fileName = Outlang['Doanh-thu-chi-tiet'];
        exportToExcel("dtContentReport", fileName + '-(' + _employeename + ')');
    }
    function exportData_RevenueMaster()
    {
        exportToExcel("dtContentReportMaster", Outlang['Doanh_thu_tong']);
    }
    //#endregion


</script>
<script>js_require('/js/Revenue/treatment_tech.js');</script>


