@page
@model MLunarCoffee.Pages.Setting.CustomerProperties.CustomerPropertiesListModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-0 px-0">
    <div class="row m-0">
        <div class="col-12 px-0">
            <!--Master-->
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Đặc điểm khách hàng"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách"]</p>
                    </div>
                    <div class="right">
                        <button id="SCPL_btnAddnew" class="btn bg-gradient-primary btn-sm mt-1" data-value="fade up" onclick="return SCPL_Addnew()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div class="m-0 my-3 table-responsive">
                        <table id="SCPL_dtContent" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th style="width:40px;">@Local["#"]</th>
                                    <th>@Local["Tên"]</th>
                                    <th>@Local["Màu"]</th>
                                    <th>@Local["Bố cục"]</th>
                                    <th>@Local["Người sửa"]</th>
                                    <th style="width:40px;">@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="SCPL_dtContentBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<script type="text/javascript">
    let  DataUser;
    function SCPL_ListLoadData() {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0]; AjaxLoad(url = "/Setting/CustomerProperties/CustomerPropertiesList/?handler=LoadData"
                    , data = {}, async = true, error = null
                    , success = function (result) {
                        let dataServiceCare = JSON.parse(result);
                        SCPL_ListRender(dataServiceCare, 'SCPL_dtContentBody');
                    });
            });
    }
    function SCPL_ListRender(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {

                    let item = data[i];

                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : '@Local["Không xác định"]';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
                    let note = (item.Note == '') ? '<span style="color: #d4d4d5;">@Local["Không có nội dung"]</span>' : item.Note;

                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td><a class="text-decoration-underline fw-bold buttonEditClass" href="#">' + item.Name + '</a></td>'
                        + '<td>'
                        + `<div class="w-100" style="background:${item.Color};">
                                <span class="text-sm text-white">${item.Color}</span>
                            </div>`
                        + '</td>'
                        + '<td>'
                        + `<div class="progress">
                                <div class="text-dark progress-bar align-items-start ps-2 text-sm fw-bold higheraver " role="progressbar" style="width:${SCPL_RenderCol(item.Col).Per}%;">
                                    <span class="position-absolute">${SCPL_RenderCol(item.Col).Type}</span>
                                </div>
                            </div>`
                        + '</td>'
                        + '<td>'
                        + '<div class="d-flex">'
                        + '<div class="icon icon-shape icon-sm me-2 text-center" >'
                        + '<img class="avatar avatar-xs mt-2" src="' + img + ' " alt="label-image">'
                        + '</div>'
                        + '<div class="d-flex flex-column">'
                        + '<h6 class="text-dark text-sm mb-0">' + name + '</h6>'
                        + '<span class="text-xs">' + GetDateTime_String_DMY(item.DayEditor) + '</span>'
                        + '</div>'
                        + '</div>'
                        + '</td>'
                        + '<td class="setting_projectclosure">'
                        + ((item.EditButton === 1)
                            ? Render_Button_Grid(['<button class="buttonGrid" value="'
                                + item.ID
                                + '"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>'])
                            : '')
                        + '</td>';
                        +'</td>'
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
        //hover title
        $("#SCPL_dtContent img,#SCPL_dtContent span").popup({
            transition: "scale up",
            position: "top right"
        });        
    }
    function SCPL_RenderCol(Col){
        let obj = {};
        switch (Col) {
            case 0:
            case 1:
                obj = {
                    "Per": 100
                    , "Type": "1/1"
                };
                break;
            case 4:
                obj = {
                    "Per": 33
                    , "Type": "1/3"
                };
                break;
            case 6:
                obj = {
                    "Per": 50
                    , "Type": "1/2"
                };
                break;
            case 8:
                obj = {
                    "Per": 66
                    , "Type": "2/3"
                };
                break;
            default:
        }
        return obj;
    }

    function Delete(id) {
        const promise = notiConfirm();
        promise.then(function () { ExecuteDelete(id); }, function () { });
    }
    function ExecuteDelete(id) {
        AjaxLoad(url = "/Service/ServiceCare/?handler=DeleteItem"
            , data = {id:id}, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    SCPL_ListLoadData();
                } else {
                    notiError_SW();
                }
        });
    }
    $(document).ready(function () {
        SCPL_ListLoadData();

        $('#SCPL_dtContent tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            SCPL_Edit(ID);
        });
        $('#SCPL_dtContent tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            Delete(ID);
        });

    });
    function SCPL_Addnew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/CustomerProperties/CustomerPropertiesDetail/" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function SCPL_Edit(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/CustomerProperties/CustomerPropertiesDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script>

<script>js_require('/js/main.js');</script>

<style>
    .higheraver {
    background: #82d61652;
    }

    .loweraver {
        background: #ff888826;
    }
    #SCPL_dtContentBody .progress {
        width: 100%;
        height: 24px;
        background: #94abc23b !important;
    }

    #SCPL_dtContentBody .progress-bar {
        height: 24px;
        border-radius: 0.5rem;
        margin-top: 0px;
    }
</style>