@page
@model MLunarCoffee.Pages.Setting.Service.ServiceReasonFree.ServiceReasonFreeListModel
@{ 
    Layout=null;
}
<div class="container-fluid py-0 px-0">
    <div class="row m-0">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-3 px-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Lý do miễn phí dịch vụ"]</h6>
                        <p class="text-sm mb-0">@Local["Lý do miễn phí đã sử dụng không được xóa"]</p>
                    </div>
                    <div class="right">
                        <button class="btn bg-gradient-primary btn-sm mt-1 setting_projectclosure" data-value="fade up" onclick="return ReasonFreeAddNew()">@Local["Thêm mới"]</button>
                    </div>
                </div>
                <div class="card-body pt-0 px-2">
                    <div class="m-0 my-3 mobile-responsive">
                        <table id="dtContentReasonFree" class="table vt-table mb-0">
                            <thead class="hiddenCollapse">
                                <tr role="row">
                                    <th class="d-none">ID</th>
                                    <th style="width: 40px;">@Local["#"]</th>
                                    <th>@Local["Tên lý do"]</th>
                                    <th>@Local["Người sửa"]</th>
                                    <th style="width:40px;" class="setting_projectclosure">@Local["Xóa"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentReasonFreeBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let DataUser;
    $(document).ready(function () {
        ReasonFreeLoad();
        $('#dtContentReasonFree tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            ReasonFreeEdit(ID);
        });
        $('#dtContentReasonFree tbody').on('click', '.buttonDeleteClass', function () {
            let ID = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            ReasonFreeDelete(ID)
        });

    });
    function ReasonFreeLoad() {
        Master_IndexDB_Reads(_Session_Data, [_Session_User]
            , function (data) {
                DataUser = data[0];
                AjaxLoad(url = "/Setting/Service/ServiceReasonFree/ServiceReasonFreeList/?handler=LoadData"
                    , data = {}, async = true, error = null
                    , success = function (result) {
                        let data = JSON.parse(result);
                        ReasonFreeRender(data, 'dtContentReasonFreeBody');
                    });
            });

    }

    function ReasonFreeRender(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    let obj = Fun_GetObject_ByID(DataUser, item.PerEditor);
                    let name = (obj != null) ? obj.Name : 'unknown';
                    let img = (obj != null) ? obj.Avatar : Master_Default_Pic;
                    let tr =
                        '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td><a class="text-decoration-underline fw-bold buttonEditClass" href="#">' + item.Name + '</a></td>'
                        + '<td>'
                        + '<div class="d-flex">'
                        + '<div class="icon icon-shape icon-sm me-2 text-center" >'
                        + '<img class="avatar avatar-xs mt-2" src="' + img + ' " alt="label-image">'
                        + '</div>'
                        + '<div class="d-flex flex-column">'
                        + '<h6 class="text-dark text-sm mb-0">' + name + '</h6>'
                        + '<span class="text-xs">' + GetDateTime_String_DMY(item.DayEditor) + '</span>'
                        + '</div>'
                        + '</div>'
                        +'</td > '
                        + '<td class="setting_projectclosure">'
                        + ((item.DeleteButton === 1)
                            ? Render_Button_Grid(['<button class="buttonGrid" value="'
                                + item.ID
                                + '"><i class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>'])
                            : '')
                        + '</td>';
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
       
        Checking_TabControl_Permission();
    }
    function ReasonFreeDelete(id) {
        const promise = notiConfirm();
        promise.then(function () { ReasonFreeExecuteDelete(id); }, function () { });
    }
    function ReasonFreeExecuteDelete(id) {
        AjaxLoad(url = "/Setting/Service/ServiceReasonFree/ServiceReasonFreeList/?handler=DeleteItem"
            , data = { id: id }, async = false, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    ReasonFreeLoad();
                } else {
                    notiError_SW();
                }
            });
    }
    function ReasonFreeEdit(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/Service/ServiceReasonFree/ServiceReasonFreeDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function ReasonFreeAddNew() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Setting/Service/ServiceReasonFree/ServiceReasonFreeDetail" + "?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script> 
<script>js_require('/js/main.js')</script>

