@page
@model MLunarCoffee.Pages.Labo.Supplier.SupplierDetailModel
@{
    Layout = null;
}

<link rel="stylesheet" href="/assests/dist/UploadJS/css/jquery.fileupload.css" />
<link rel="stylesheet" href="/assests/dist/UploadJS/css/jquery.fileupload-ui.css" />


<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/assests/dist/UploadJS/js/vendor/jquery.ui.widget.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.iframe-transport.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>

<div class="row" id="LaboDetail_Container">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h6 class="font-weight-bolder mb-0">@Local["Nhà cung cấp labo"]</h6>
                            <p class="text-sm mb-0">@Local["Cấu hình nhà cung cấp labo"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 form3" id="form3" onsubmit="event.preventDefault(); return false;">
                <div class="d-lg-flex">
                    <div class="col-w-300 mt-2">
                        <div class="">
                            <div class="accordion">
                                <div>
                                    <button class="accordion-button p-2 px-0 collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#LaboDetail_CollapseNoteImg" aria-expanded="true" aria-controls="LaboDetail_CollapseNoteImg">
                                        <h6 class="text-primary text-sm font-weight-bold mb-0">@Local["Hình ảnh"]</h6>
                                    </button>
                                </div>
                            </div>
                            <div class="pe-2">
                                <div id="LaboDetail_CollapseNoteImg" class="collapse show collapsesticky">
                                    <p class="text-dark text-sm fw-bold mb-1">
                                        @Local["Hướng dẫn"]:
                                        <span class="text-dark text-sm text-normal ms-2"> @Local["Hình đại diện nhà cung cấp labo"]. @Local["Vui lòng upload hình ảnh đúng kích thước"]</span>
                                    </p>
                                    <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                        @Local["Kích thước"]:
                                        <span class="text-dark text-sm text-normal ms-2">110px x 110px</span>
                                    </p>
                                    <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                        @Local["Hình minh họa"]:
                                    </p>
                                    <div class="d-block avatar avatar-xxl position-relative mb-2">
                                        <a href="/Image/Illustration/labo.png" target="_blank">
                                            <img src="/Image/Illustration/labo.png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                        </a>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <div class="row m-0">
                                        <div class="col-auto px-0 position-relative">
                                            <img id="LaboSupDetail_DetailImage" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                            <div class="upload-container" id="">
                                                <i class="fas fa-camera fs-3"></i>
                                                <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="LaboSupDetail_Fileup_LoadImage" accept="image/*" type="file" name="files[]" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 ">
                        <div class="row px-1">
                            <div class="field col-12 col-xl-4 px-1 mt-2">
                                <label>@Local["Mã"]</label>
                                <input class="form-control" id="CodeSup" name="code" type="text" placeholder="eg. @Local["Mã"]" autocomplete="off" />
                            </div>
                            <div class="field col-12 col-xl-4 px-1 mt-2">
                                <label>@Local["Tên nhà cung cấp"]</label>
                                <input class="form-control" id="NameSup" name="name" type="text" placeholder="eg. @Local["Tên nhà cung cấp"]" autocomplete="off" />
                            </div>
                            <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                                <label>@Local["Số điện thoại"]</label>
                                <input class="form-control" id="PhoneSup" name="phonenumber" type="text" placeholder="eg .@Local["Số điện thoại"]" autocomplete="off" />
                            </div>
                            <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                                <label>@Local["Người đại diện"]</label>
                                <input class="form-control" id="PersonSup" name="PersonSup" type="text" placeholder="eg .@Local["Người đại diện"]" autocomplete="off" />
                            </div>
                            <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                                <label>@Local["Mã ngân hàng"]</label>
                                <input class="form-control" id="BankCodeSup" name="PersonSup" type="text" placeholder="eg .@Local["Mã ngân hàng"]" autocomplete="off" />
                            </div>
                            <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                                <label>@Local["Số ngân hàng"]</label>
                                <input class="form-control" id="BankNumberSup" name="PersonSup" type="text" placeholder="eg .@Local["Số ngân hàng"]" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row px-1">
                            <div class="field col-12 col-xl-4 px-1 mt-2">
                                <label>@Local["Ký quỹ"]</label>
                                <input class="form-control" id="FundLabo" name="FundLabo" type="text" placeholder="eg .@Local["Ký quỹ"]" autocomplete="off" />
                            </div>
                            <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                                <label>Mail</label>
                                <input class="form-control" id="Mail" type="email" placeholder="eg. email" autocomplete="off" />
                            </div>
                            <div class="field col-12 col-md-6 col-xl-4 px-1 mt-2">
                                <label>@Local["Mẫu"] Labo</label>
                                <div class="ui fluid search selection dropdown form-control" id="TemplateID" onchange="event.preventDefault();return onchangeTemplate();">
                                    <input type="hidden" name="" />
                                    <div class="default text">eg .@Local["Mẫu"] Labo</div>
                                    <div id="cbbTemplate" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-1">
                            <div class="field col-12 px-1 mt-2">
                                <label>@Local["Địa chỉ"]</label>
                                <input class="form-control" id="Address" type="text" placeholder="eg .@Local["Địa chỉ"]" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row ps-2 my-3">
                            <div class="form-check">
                                <input id="SupplierOwned" class="form-check-input" type="checkbox">
                                <label id="SupplierOwnedName" class="form-check-label text-sm  mt-1" for="SupplierOwned">
                                </label>
                                <span class="text-xs">@Local["Nhà cung cấp labo thuộc sở hữu của công ty bạn"].</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card mt-2" id="divTemplateLabo" style="display: none;">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h6 id="TemplateLaboName" class="mb-0"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 " id="LaboTemplateContent">
            </div>
        </div>
    </div>
</div>
<div class="action_Save mt-3">
    <div class="action_Save-Content">
        <button class="btn btn-secondary" onclick="ListLabo_CloseDetail()">@Local["Đóng"]</button>
        <button id="LaboDetail_btnSave" type="button" data-tab="edit_tab_labo_supplier" class="_tab_control_ btn bg-gradient-primary mt-2 me-2" onclick="ExcuteData_LaboDetail()">@Local["Lưu"]</button>
    </div>
</div>

<script type="text/javascript">

    //#region // Declare & Initialize
    var ser_LaboSupplierID = ("@Model._LaboSupplierID");
    var imgWidth = 300;
    var imgHeight = 100;
    var LaboTemplate = [];
    var dataAnswerLabo = [];
    var urlImage = "/Api/Upload/Upload?Type=SystemImage";
    var LaboSupDetail_ImageString = Master_Default_Pic;
    let LaboSupDetail_Sys_Image;
    $(document).ready(function () {
        $('#LaboSupDetail_DetailImage').attr('src', LaboSupDetail_ImageString);
        LaboSupDetail_Sys_Image = {
            size: 3145728,
            width: 110,
            height: 110,
            format: ['jpg', 'png', 'jpeg']
        }
        $('#LaboSupDetail_LimitImageNote').html(`${LaboSupDetail_Sys_Image.width} x ${LaboSupDetail_Sys_Image.height} px, ${Math.round(LaboSupDetail_Sys_Image.size / (1024 ** 2))}MB`);
        LaboSupDetail_EventUploadImage();
        $('#FundLabo').divide();

        $("#SupplierOwnedName").html(_CompanyName);
        LoadInitializeData();

        Checking_TabControl_Permission();
    });

    function LoadInitializeData() {
        AjaxLoad(url = "/Labo/Supplier/SupplierDetail/?handler=Initialize"
            , data = { 'CurrentID': ser_LaboSupplierID }, async = true
            , error = function () {
                notiError_SW();
            }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    LaboTemplate = data.LaboTemplate;
                    Load_Combo(LaboTemplate, "cbbTemplate", false);
                    LoadDataUpdateSupplier();
                }
            }
        );

    }

    //#endregion

    //#region // Execute Data

    async function ExcuteData_LaboDetail() {
        //if (hrefImg != "") {
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            var data = new Object();
            let CodeSupplier = ($('#CodeSup').val()).trim();
            let Image = $("#LaboSupDetail_Fileup_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'LaboSupDetail_Fileup_LoadImage') : LaboSupDetail_ImageString;
            data.Code = CodeSupplier
            data.Name = $('#NameSup').val() ? $('#NameSup').val() : "";
            data.Phone = $('#PhoneSup').val() ? $('#PhoneSup').val() : "";
            data.Person = $('#PersonSup').val() ? $('#PersonSup').val() : "";
            data.Address = $('#Address').val() ? $('#Address').val() : "";
            data.FundLabo = Number($('#FundLabo').val()) ? Number($('#FundLabo').val()) : 0;
            data.Avatar = Image;
            data.Mail = $('#Mail').val() ? $('#Mail').val() : "";
            data.TemplateID = Number($('#TemplateID').dropdown('get value')) ? Number($('#TemplateID').dropdown('get value')) : 0;
            data.Owned = $('#SupplierOwned').is(':checked') ? 1 : 0;
            data.BankCode = $('#BankCodeSup').val() ? $('#BankCodeSup').val() : "";
            data.BankNumber = $('#BankNumberSup').val() ? $('#BankNumberSup').val() : "";

            AjaxLoad(url = "/Labo/Supplier/SupplierDetail/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(data),
                    'CurrentID': ser_LaboSupplierID
                }, async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data && data.length != 0 && data[0].RESULT != "0") {
                            notiSuccess();
                            ListLabo_Load();
                            ListLabo_CloseDetail();
                            syslog_cutlabo(ser_LaboSupplierID != '0' ? 'u' : 'i', CodeSupplier);
                        }
                        else {
                            notiError("@Local["Nhà cung cấp đã tồn tại"]")
                        }
                    }
                    else {
                        notiError_SW();
                    }
                }
            );

        }
        return false;
    }

    //#endregion

    //#region // Onchange Template

    function onchangeTemplate() {
        let idSupp = Number($('#TemplateID').dropdown('get value'));
        let textSupp = $('#TemplateID').dropdown('get text')
        let data_temp = LaboTemplate.filter(word => word["ID"] == idSupp);
        if (data_temp != undefined && data_temp != null && data_temp.length != 0) {
            LaboDetail_Render(JSON.parse(data_temp[0].Form), "LaboTemplateContent");

        } else {
            $('#LaboTemplateContent').empty();
        }
        $('#divTemplateLabo').show();
        $('#TemplateLaboName').html(textSupp);


    }
    async function LaboDetail_Render(data, id) {
        return new Promise((resolve, reject) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                fn_RenderForm(myNode, data);
            }
        })
    }
    //#endregion

    //#region // Load Data Detail Supplier

    function LoadDataUpdateSupplier() {
        if (ser_LaboSupplierID != 0) {
            AjaxLoad(url = "/Labo/Supplier/SupplierDetail/?handler=LoadData"
                , data = { 'CurrentID': ser_LaboSupplierID }, async = true
                , error = function () {
                    notiError_SW();
                }
                , success = function (result) {
                    if (result != "0") {
                        let dataSupplier = JSON.parse(result);
                        $('#CodeSup').val((dataSupplier[0].Code));
                        $('#NameSup').val((dataSupplier[0].Name));
                        $('#BankCodeSup').val((dataSupplier[0].BankCode));
                        $('#BankNumberSup').val((dataSupplier[0].BankNumber));
                        $('#PhoneSup').val((dataSupplier[0].Phone));
                        $('#PersonSup').val((dataSupplier[0].Person));
                        $('#Address').val((dataSupplier[0].Address));
                        $('#FundLabo').val((dataSupplier[0].FundLabo));
                        $('#Mail').val((dataSupplier[0].Mail));
                        $("#TemplateID").dropdown("refresh");
                        $('#TemplateID').dropdown("set selected", dataSupplier[0].TemplateID);
                        let LaboSupDetail_ImageString = dataSupplier[0].Avatar || Master_Default_Pic;
                        $('#LaboSupDetail_DetailImage').attr('src', LaboSupDetail_ImageString);
                        if (Number(dataSupplier[0].Owned) == 1) {
                            $("#SupplierOwned").prop("checked", true);
                        }
                        hrefImg = dataSupplier[0].Avatar;
                    }
                }
            );

        }
    }

    //#endregion
    // #region //Event Upload
        function LaboSupDetail_EventUploadImage() {
        UploadImage({
            inputFile: 'LaboSupDetail_Fileup_LoadImage'
            , btnInput: ''
            , avatar: 'LaboSupDetail_DetailImage'
            , condition: LaboSupDetail_Sys_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }
    // #endregion
</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/Labo_Template/render_template.js');</script>

<style>
    .avatarsup {
        width: 300px !important;
        height: 100px !important;
    }
</style>