@page
@model MLunarCoffee.Pages.Student.Settings.Status.StatusRevisionDetailModel
@{
    Layout = null;
}
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="card-header pb-0 pt-3">
                    <div class="d-lg-flex">
                        <div class="w-lg-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0 text-capitalize">@Local["Tình trạng"]</h6>
                                 <p class="text-sm mb-0">@Local["Chi tiết"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="p-3 pt-0">
                        <div class="row form3" id="formStatusRevision">
                            <div class="field col-6 p-1">
                                <label>@Local["Tên"]</label>
                                <input id="StatusRevisionName" name="name" type="text" class="form-control" />
                            </div>
                            <div class="field col-6 p-1">
                                <label>@Local["Mã"]</label>
                                <input id="StatusRevisionCode" name="code" type="text" class="form-control" />
                            </div>
                            <div class="field col-12 p-1">
                                <label>@Local["Ghi chú"]</label>
                                <textarea id="StatusRevisionNote" type="text" class="form-control"  rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton d-flex align-items-center">
                <div class="text-danger text-gadient text-sm font-weight-bold pe-2" id="textShowMessage">
                </div>
                <div class="action_Save-Content mt-2">
                    <button class="btn btn-secondary" form="formStatusRevision" onclick=" event.preventDefault(); return StatusRevision_CloseDetail()">@Local["Hủy"]</button>
                    <button id="StatusRevisionbtnDetail" form="formStatusRevision" type="button" class="btn bg-gradient-primary _tab_control_" onclick="event.preventDefault();StatusRevision_ExcuteDetail()">@Local["Lưu"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ser_SourceDetailID;
    $(document).ready(function() {
        ser_SourceDetailID = '@Model._DataDetailID';
        if (ser_SourceDetailID != "0") StatusRevision_LoadDataUpdate();
    });
    function StatusRevision_LoadDataUpdate() {
        AjaxLoad(url = "/Student/Settings/Status/StatusRevisionDetail?handler=Loadata"
            , data = { id: ser_SourceDetailID }, asyns = true, error = null
            , success = function(result) {
                Data = JSON.parse(result);
                StatusRevision_FillDataDetail(Data[0]);
            }
        )
    }
    function StatusRevision_FillDataDetail(item) {
        $('#StatusRevisionName').val((item.Name));
        $('#StatusRevisionCode').val((item.Code));
        $('#StatusRevisionNote').val((item.Note));
    }
    function StatusRevision_ExcuteDetail() {
        var data = new Object();
        data.Name = $('#StatusRevisionName').val() ? $('#StatusRevisionName').val() : "";
        data.Code = $('#StatusRevisionCode').val() ? $('#StatusRevisionCode').val() : "";
        data.Note = $('#StatusRevisionNote').val() ? $('#StatusRevisionNote').val() : "";
        $('#formStatusRevision').form('validate form');
        if ($('#formStatusRevision').form('is valid')) {
            AjaxLoad(url = "/Student/Settings/Status/StatusRevisionDetail?handler=ExcuteData"
                , data = { data: JSON.stringify(data), CurrentID: ser_SourceDetailID }, async = true, error = null
                , success = function(result) {
                    if (result == "1") {
                        notiSuccess();
                        StatusRevision_LoadList();
                        StatusRevision_CloseDetail();
                    } else {
                        document.getElementById("textShowMessage").innerHTML = '@Local["Trùng dữ liệu"]!';
                    }
                });
        }
    }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>