@page
@model MLunarCoffee.Pages.WareHouse.Material.MaterialDetailModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>
<div class="d-xl-flex px-0 align-items-stretch form3" id="form3">
    <div class="col-w-400 px-lg-1 card mt-2">
        <div class="card-header pb-0">
            <div class="d-lg-flex">
                <div class=" col-auto my-auto">
                    <div class="h-100">
                        <h6 class="mb-0">@Local["Nguyên vật liệu"]</h6>
                        <p class="text-sm mb-0">@Local["Cấu hình chi tiết của nguyên vật liệu"]</p>
                    </div>
                </div>
                <div class="ms-auto my-auto mt-1"></div>
            </div>
        </div>
        <div class="card-body pt-2 ">
            <div class="d-md-flex align-items-start">
                <div class="pe-2 text-sm-center">
                    <div>
                        <span class="text-xs text-gradient text-warning mb-0 text-nowrap" id="Material_LimitImageNote">110 x 110 px</span>
                        <hr class="horizontal dark mt-0 mb-2">
                    </div>
                    <div class="avatar avatar-xxl position-relative d-inline-block">
                        <img id="Material_DetailImage" class="border-radius-md border border-1 border-gray" alt="team-2" src="#" onerror="Master_OnLoad_Error_Image(this)">
                        <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="Material_Fileup_LoadImage" accept="image/*" type="file" name="files[]" />
                        <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0 " id="Material_btnUpload">
                            <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2 p-0">
                                <i class="fa fa-pen top-0" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ps-md-4 row flex-grow-1">
                    <div class="field col-12 px-1 mt-2">
                        <label>@Local["Mã nguyên vật liệu"]</label>
                        <input id="txtProductCode" name="serviceCode" type="text" placeholder="" class="form-control" />
                    </div>
                    <div class="field col-12 mt-2 px-1">

                        <label>@Local["Loại nguyên vật liệu"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="productType">
                            <i class="dropdown icon"></i>
                            <input type="hidden" name="productType" />
                            <input id="searchproductType" class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">eg .@Local["Loại nguyên vật liệu"]</div>
                            <div id="cbbproductType" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 ms-xl-2 card mt-2">
        <div class="card-header pb-0">
            <div class="d-lg-flex">
                <div class="col-auto my-auto w-100">
                    <div class="h-100">
                        <h6 class="mb-0">@Local["Chi tiết nguyên vật liệu"]</h6>
                        <p class="text-sm mb-0">@Local["Định mức 1 lớn hơn định mức 2, 3. Định mức 2 lớn hơn định mức 3"].</p>
                    </div>
                </div>
                <div class="ms-auto my-auto mt-1"></div>
            </div>
        </div>
        <div class="card-body pt-2 ">
            <div id="serviceDetailWaiting" style="border: none; height: -webkit-fill-available;display:none;">
                <div class="ui active inverted dimmer">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row px-1 form3">
                <div class="field col-12 col-md-12 col-xl-9 mt-2 px-1">
                    <label>@Local["Tên sản phẩm"]</label>
                    <input id="txtNameProductDetail" name="name" type="text" class="form-control" placeholder="eg. @Local["Tên sản phẩm"]" />
                </div>
                <div class="field col-12 mt-2 px-1 col-md-6 col-xl-3 ">
                    <label>@Local["Đơn vị kiểm kê"]</label>
                    <div class="dropdown dropdown-small dropdown-categories dropdown-hover d-inline">
                        <a class=" text-secondary" href="#" data-turbolinks="false" data-toggle="dropdown">
                            <i class="text-md m-1 fas fa-info-circle" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end pt-2 pb-0 px-3 ms-n4 col-w-300 shadown-lg">
                            <li class="mb-2">
                                <div class="d-flex py-1">
                                    <div class="justify-content-center text-dark">
                                        <h6 class="text-sm mb-0 fw-bold">@Local["Đơn vị kiểm kê"]</h6>
                                        <hr class="my-1" />
                                        <ol class="ps-3">
                                            <li><p class="text-sm my-0 py-0">@Local["Là đơn vị chuẩn để tính giá trị tiêu hao của 1 nguyên vật liệu"]</p></li>
                                            <li><p class="text-sm my-0 py-0">@Local["Nguyên vật liệu đã sử dụng không thể thay đỗi đơn vị kiểm kê"]</p></li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ui fluid search selection dropdown form-control" id="unitCountTypeDefault" onchange="return Material_OnchangeUnitStand()">
                        <input type="hidden" name="CountTypeDefault" />
                        <i class="dropdown icon"></i>
                        <input class="search" autocomplete="off" tabindex="0" />
                        <div class="default text">eg. @Local["Đơn vị"]</div>
                        <div id="cbbUnitCountTypeDefault" class="menu" tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="field col-12 mt-2 px-1 col-md-6">
                    <label>@Local["Giá vốn"]</label>
                    <div class="dropdown dropdown-small dropdown-categories dropdown-hover d-inline">
                        <a class=" text-secondary" href="#" data-turbolinks="false" data-toggle="dropdown">
                            <i class="text-md m-1 fas fa-info-circle" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end pt-2 pb-0 px-3 ms-n4 col-w-300 shadown-lg">
                            <li class="mb-2">
                                <div class="d-flex py-1">
                                    <div class="justify-content-center text-dark">
                                        <h6 class="text-sm mb-0 fw-bold">@Local["Giá vốn"]</h6>
                                        <hr class="my-1" />
                                        <p class="text-sm my-0 py-0">@Local["Là giá trị của 1 nguyên vật liệu trên 1 đơn vị kiểm kê"]</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input id="txtMaterial_CostPrice" type="text" class="form-control" />
                </div>
                <div class="field col-12 mt-2 px-1 col-md-6">
                    <label>@Local["Giá bán"]</label>
                    <input id="Material_SalePrice" type="text" class="form-control" />
                </div>
                <div class="field col-12 mt-2 px-1 col-md-6">
                    <label><span>@Local["Định mức"]</span><span>&nbsp 1</span></label>
                    <input id="txtNorm1" name="Norm" type="number" class="form-control" autocomplete="off" placeholder="eg. @Local["Định mức"] 1" />
                </div>
                <div class="field col-12 mt-2 px-1 col-md-6 col-lg-3">
                    <label><span>@Local["Định mức"]</span><span>&nbsp 2</span></label>
                    <input id="txtNorm2" name="Norm" type="number" class="form-control" autocomplete="off" placeholder="eg. @Local["Định mức"] 2" />
                </div>
                <div class="field col-12 mt-2 px-1 col-md-6 col-lg-3">
                    <label><span>@Local["Định mức"]</span><span>&nbsp 3</span></label>
                    <input id="txtNorm3" name="Norm" type="number" class="form-control" autocomplete="off" placeholder="eg. @Local["Định mức"] 3" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-xl-flex px-0 align-items-stretch form3" id="form3">
    <div class="col-w-400 px-lg-1 card mt-2">
        <div class="card-header pb-0">
            <div class="d-lg-flex">
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h6 class="mb-0">@Local["Danh sách đơn vị"]</h6>
                        <p class="text-sm mb-0">@Local["Danh sách đơn vị được liệt kê theo cấu hình - danh mục"]</p>
                    </div>
                </div>
                <div class="ms-auto my-auto mt-1"></div>
            </div>
        </div>
        <div class="card-body pt-2 ">
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-text">
                            <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <input id="filterUnit" type="text" placeholder="eg. @Local["Lọc dữ liệu"]" class="form-control" autocomplete="off" onkeyup="return onkeyupUnit();">
                        <div id="Material_btnAddUnit" class="input-group-text">
                            <i class="fa fa-plus form-control-feedback cursor-pointer" aria-hidden="true" onclick="return Material_NewUnit();"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-0 my-3 mobile-responsive overflow-auto" style="height:400px;">
                <table class="table vt-table mb-0" id="dtContentUnit">
                    <thead>
                        <tr>
                            <th class="d-none">ID</th>
                            <th style="width:40px;">@Local["#"]</th>
                            <th>@Local["Đơn vị"]</th>
                        </tr>
                    </thead>
                    <tbody id="dtContentUnitBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 ms-xl-2">
        <div class="row px-2 h-100">
            <div class="col-12 mt-2 px-1 col-md-12 col-xl-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h6 class="mb-0">@Local["Đơn vị tính khác"]</h6>
                                    <p class="text-sm mb-0">@Local["Hệ số chuyển đổi từ đơn vị kiểm kê"]</p>
                                </div>
                            </div>
                            <div class="ms-auto my-auto mt-1"></div>
                        </div>
                    </div>
                    <div class="card-body pt-2 ">
                        <div style="height:450px;overflow:auto;">
                            <div id="dtContentUnitCountBody" class="list-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 px-1 col-md-12 col-xl-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h6 class="mb-0">@Local["Thuộc tính và miêu tả"]</h6>
                                    <p class="text-sm mb-0">@Local["Một số đặc điểm quan trọng của sản phẩm"]</p>
                                </div>
                            </div>
                            <div class="ms-auto my-auto mt-1"></div>
                        </div>
                    </div>
                    <div class="card-body pt-2 ">
                        <div class="row px-1 form-3">
                            <div class="field col-12 mt-2 px-1 col-md-12">
                                <label>@Local["Thuộc tính"]</label>
                                <textarea id="txtProperty_Material" name="content" type="text" class="form-control" autocomplete="off" placeholder="eg. @Local["Thuộc tính"]" rows="5"></textarea>
                            </div>
                            <div class="field col-12 mt-2 px-1 col-md-12">
                                <label>@Local["Miêu tả"]</label>
                                <textarea id="txtDescription_Material" name="content" type="text" class="form-control" autocomplete="off" placeholder="eg. @Local["Miêu tả"]" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="action_Save mt-2 me-2">
    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessageMaster"></div>
    <div class="action_Save-Content">
        <button id="btn_delete_material" class="btn btn-danger ms-2 mb-0 _tab_control_ d-none" data-tab="delete_tab_material" onclick="event.preventDefault(); return Material_Delete()">@Local["Xóa"]</button>
        <button class="btn btn-secondary" onclick="event.preventDefault(); return CloseDetail()">@Local["Đóng"]</button>
        <button id="btn_save_material" data-tab="edit_tab_material" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" onclick="event.preventDefault();return ExcuteData_Material()">@Local["Lưu"]</button>
    </div>
</div>


<script type="text/javascript">


    //#region // DECLARE & INIT

    var ser_ProductDetailCurrentID = "@Model._ProductDetailCurrentID";
    var DataComboTypeUnitCount_Full;
    var DataUnitChange = {};
    var DataUnit;
    var product_syntax_code = '';
    var urlImage = "/Api/Upload/Upload?Type=SystemImage";
    var Material_ImageString = Master_Default_Pic;
    let Material_Sys_Image;

    $(document).ready(function () {

        $('#textShowMessage').html('');
        $('#Material_DetailImage').attr('src', Material_ImageString);
        Material_Sys_Image = {
            size: 102400,
            width: 110,
            height: 110,
            format: ['jpg', 'png', 'jpeg']
        }
        $('#Material_LimitImageNote').html(`${Material_Sys_Image.width} x ${Material_Sys_Image.height} px, ${(Material_Sys_Image.size / 1024)}KB`);
        Material_EventUploadImage();
        Material_Event();
        Material_Load_Combo();
        $('#txtMaterial_CostPrice').divide();
        $('#txtMaterial_CostPrice').val(0);
        $('#Material_SalePrice').divide();
        $('#Material_SalePrice').val(0);
        Checking_TabControl_Permission();

    });


    function Material_Load_Combo() {
        AjaxLoad(url = "/WareHouse/Material/MaterialDetail/?handler=Material_Load_Combo"
            , data = {
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let dataType = data.Type;
                    DataUnit = data.Unit;
                    for (let i = 0; i < dataType.length; i++) {
                        dataType[i].Name = ((dataType[i].IsMedicine != 1) ? dataType[i].Name : (dataType[i].Name + ' | Medicine'));
                    }
                    let data_syntax = data.SyntaxCode;
                    if (data_syntax != undefined && data_syntax.length == 1) {
                        product_syntax_code = data_syntax[0].Syntax;
                        $("#txtProductCode").prop('disabled', true);
                        $('#txtProductCode').attr('name', '');

                    }
                    Load_Combo(dataType, "cbbproductType", true);
                    if (typeof CurrentServiceGroup != "undefined" && CurrentServiceGroup && CurrentServiceGroup != undefined) {
                        $("#productType").dropdown("refresh");
                        $("#productType").dropdown("set selected", CurrentServiceGroup);
                    }


                    Load_Combo(DataUnit, "cbbUnitCountTypeDefault", true);
                    //Load_Combo(data.Unit, "cbbUnitCountType", true);
                    Render_DataUnit(DataUnit, 'dtContentUnitBody')

                    DataComboTypeUnitCount_Full = data.UnitFull;
                    LoadMaterial_Detail();

                } else {
                    notiError_SW();
                }
            });

    }




    //#endregion


    //#region // DETAIL

    function LoadMaterial_Detail() {
        if (Number(ser_ProductDetailCurrentID) != 0)
            AjaxLoad(url = "/WareHouse/Material/MaterialDetail/?handler=Load_Data"
                , data = {
                    Currentid: ser_ProductDetailCurrentID
                }
                , async = true, error = null
                , success = function (result) {
                    if (result != "0") {
                        let master = JSON.parse(result);
                        let data = master.Table[0];
                        let data_unit_change = master.Table1;
                        //let data_unit_using = master.Table1;
                        //let data_unit_change = master.Table2;
                        //if (data_unit_using.length != 0) $('#unitCountTypeDefault').addClass("disabled");

                        $('#txtProductCode').val((data.Code));
                        $('#txtNameProductDetail').val((data.Name));
                        $("#productType").dropdown("refresh");
                        $("#productType").dropdown("set selected", data.Type_ID);
                        $("#unitCountTypeDefault").dropdown("refresh");
                        $("#unitCountTypeDefault").dropdown("set selected", data.Unit_ID);
                        $('#txtNorm1').val((data.N1));
                        $('#txtNorm2').val((data.N2));
                        $('#txtNorm3').val((data.N3));
                        $('#txtMaterial_CostPrice').val(data.Cost_Price);
                        $('#Material_SalePrice').val(data.PriceToSale);
                        $('#txtProperty_Material').val(data.Property);
                        $('#txtDescription_Material').val(data.Description);
                        Material_ImageString = data.Image || Master_Default_Pic;
                        $('#Material_DetailImage').attr('src', Material_ImageString);

                        if (Number(data.IsUsed) == 0) {
                            $('#unitCountTypeDefault').removeClass("disabled")
                            $("#btn_delete_material").removeClass("d-none")
                        }
                        else {
                            $('#unitCountTypeDefault').addClass("disabled")
                            $("#btn_delete_material").addClass("d-none")
                        }

                        if (data_unit_change && data_unit_change.length != 0) {
                            for (let i = 0; i < data_unit_change.length; i++) {
                                let item = data_unit_change[i];
                                let _e = {};
                                _e.ID = item.UnitID;
                                _e.Name = item.Name;
                                _e.Number = item.Number;
                                _e.Used = item.Used;
                                DataUnitChange[item.UnitID] = _e;
                                Material_RenderUnit(_e, "dtContentUnitCountBody");
                            }
                        }
                        Material_ReRenderUnit();
                    }
                });
    }

    //#endregion


    //#region // DELETE

    function Material_Delete() {
        if (ser_ProductDetailCurrentID != "") {
            const promise = notiConfirm();
            promise.then(function () { Material_ExecuteDelete(ser_ProductDetailCurrentID); }, function () { });
        }

    }
    function Material_ExecuteDelete(id) {
        AjaxLoad(url = "/WareHouse/Material/MaterialList/?handler=DeleteItem"
            , data = {
                id: id
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    CloseDetail();
                    notiSuccess();
                    if (typeof MaterialList_Load === 'function') MaterialList_Load(id);
                    MaterialList_LoadType();
                    syslog_whr('d', result);
                } else {
                    notiError("@Local["Nguyên vật liệu đã được sử dụng không thể xóa"]");
                }
            }
        );
    }

    //#endregion


    //#region // HANDLE UNIT

    function Material_ReloadUnit(id) {
        AjaxLoad(url = "/WareHouse/Material/MaterialDetail/?handler=LoadUnit"
            , data = {
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {

                    let data = JSON.parse(result);
                    DataUnit = data;
                    Render_DataUnit(DataUnit, 'dtContentUnitBody')
                    let item = $('#dtContentUnitBody .rowUnit[data-id="' + id + '"]');
                    if (item && item.length != 0) {
                        item.trigger("click")
                    }
                } else {
                    notiError_SW();
                }
            });
    }

    function Material_CheckUnit() {
        let IsComplete = 1;
        $('#textShowMessageMaster').html('');
        if (Object.values(DataUnitChange).length != 0) {
            let UnitChange_Standard = Number($('#unitCountTypeDefault').dropdown('get value')) ? Number($('#unitCountTypeDefault').dropdown('get value')) : 0;
            for ([key, value] of Object.entries(DataUnitChange)) {
                let IsError = 0;
                let UnitChange_Number = value.Number;
                if ((isNaN(UnitChange_Number) || Number(UnitChange_Number) < 0)) {
                    IsError = 1;
                }
                if (UnitChange_Number < 0.000000001 || UnitChange_Number > 1000000001) {
                    IsError = 1;
                }
                if (value.ID == 0 || UnitChange_Standard == 0 || UnitChange_Standard == value.ID) {
                    IsError = 1;
                }
                if (IsError == 1) {
                    IsComplete = 0;
                    $('#textShowMessageMaster').html('@Local["Kiểm tra dữ liệu đơn vị tính khác"]');
                    $("#NumberChange_" + key).parent('.input-group').addClass("border-danger border-2 border");
                }
                else {
                    $("#NumberChange_" + key).parent('.input-group').removeClass("border-danger border-2 border");
                }
            }
        }
        return IsComplete;
    }

    function Material_AddUnit(id) {
        let UnitID = Number($('#unitCountTypeDefault').dropdown('get value')) ? Number($('#unitCountTypeDefault').dropdown('get value')) : 0;
        if (DataUnit && DataUnit.length != 0 && UnitID != 0) {
            let data = DataUnit.filter((word) => Number(word["ID"]) == Number(id));
            if (data && data.length != 0) {
                let item = data[0];
                let _e = {};
                _e.ID = id;
                _e.Name = item.Name;
                _e.Number = 0;
                _e.Used = 0;
                DataUnitChange[id] = _e;
                Material_RenderUnit(_e, "dtContentUnitCountBody");
                Material_ReRenderUnit();
            }
        }
        else {
            notiWarning("@Local["Chưa chọn đơn vị kiểm kê"]");
        }
    }

    function Material_OnchangeUnitStand() {
        DataUnitChange = {};
        $("#dtContentUnitCountBody").empty;
        $('#textShowMessage').html('');
        Material_ReRenderUnit();
        return false;
    }

    function Material_ReRenderUnit() {
        let data = DataUnit;
        let UnitStandID = Number($('#unitCountTypeDefault').dropdown('get value')) ? Number($('#unitCountTypeDefault').dropdown('get value')) : 0;
        if (UnitStandID != 0) {
            data = data.filter((word) => Number(word["ID"]) != UnitStandID)
        }
        if (Object.values(DataUnitChange).length != 0) {
            for ([key, value] of Object.entries(DataUnitChange)) {
                data = data.filter((word) => Number(word["ID"]) != key)
            }
        }
        Render_DataUnit(data, 'dtContentUnitBody')
    }

    function Material_RemoveUnit(id) {
        if (DataUnitChange[id] != undefined) {
            delete DataUnitChange[id];
            $("#UnitChange_" + id).remove();
            Material_ReRenderUnit();
        }
    }

    //#endregion


    //#region // EXECUTE

    async function ExcuteData_Material() {
        if (Material_CheckUnit() != 1) return;
        let Image = $("#Material_Fileup_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'Material_Fileup_LoadImage') : Material_ImageString;
        var data = new Object();
        data.Avatar = Image;
        data.ProductCode = $('#txtProductCode').val() ? $('#txtProductCode').val() : "";
        data.Name = $('#txtNameProductDetail').val() ? $('#txtNameProductDetail').val() : "";
        data.Type = Number($('#productType').dropdown('get value')) ? Number($('#productType').dropdown('get value')) : 0;
        data.DefaultUnit = Number($('#unitCountTypeDefault').dropdown('get value')) ? Number($('#unitCountTypeDefault').dropdown('get value')) : 0;
        data.N1 = Number($('#txtNorm1').val() ? $('#txtNorm1').val() : "0");
        data.N2 = Number($('#txtNorm2').val() ? $('#txtNorm2').val() : "0");
        data.N3 = Number($('#txtNorm3').val() ? $('#txtNorm3').val() : "0");
        data.Price = $('#txtMaterial_CostPrice').val() ? $('#txtMaterial_CostPrice').val() : 0;
        data.SalePrice = $('#Material_SalePrice').val() ? $('#Material_SalePrice').val() : 0;
        data.Property = $('#txtProperty_Material').val() ? $('#txtProperty_Material').val() : "";
        data.Description = $('#txtDescription_Material').val() ? $('#txtDescription_Material').val() : "";
        data.UnitChange = JSON.stringify(Object.values(DataUnitChange));
        $('#textShowMessageMaster').html('');
        if (data.N1 < 0 || data.N2 < 0 || data.N3 < 0) $('#textShowMessageMaster').html(`@Local["Định mức không thể nhỏ hơn 0"]`);
        else if ((data.N1 != 0 || data.N2 != 0) && data.N1 < data.N2) $('#textShowMessageMaster').html(`@Local["Định mức 1 lớn hơn định mức 2, 3. Định mức 2 lớn hơn định mức 3"]`);
        else if ((data.N2 != 0 || data.N3 != 0) && data.N2 < data.N3) $('#textShowMessageMaster').html(`@Local["Định mức 1 lớn hơn định mức 2, 3. Định mức 2 lớn hơn định mức 3"]`);
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            if ($('#textShowMessageMaster').html() == "")
                AjaxLoad(url = "/WareHouse/Material/MaterialDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        syntax_code: product_syntax_code,
                        CurrentID: ser_ProductDetailCurrentID
                    }
                    , async = true
                    , error = null
                    , success = function (result) {
                        if (result != "0") {
                            let data = JSON.parse(result);
                            if (data && data.length != 0) {
                                let IDComplete = data[0].RESULT;
                                let IDTYPE = data[0].TYPE;
                                let Code = data[0].CODE;
                                if (IDComplete != 0) {
                                    notiSuccess();
                                    CurrentServiceGroup = Number($('#productType').dropdown('get value'));
                                    CurrentService = Number(IDComplete);
                                    if (typeof MaterialList_Load === 'function') MaterialList_Load(IDComplete);
                                    if (typeof MaterialList_LoadType === 'function') MaterialList_LoadType(IDTYPE);
                                    if (typeof ItemDetail_AddProduct === 'function') ItemDetail_AddProduct(CurrentService);
                                    CloseDetail();
                                    syslog_whr((ser_ProductDetailCurrentID != '0' ? 'u' : 'i'), Code);
                                }
                                else {
                                    document.getElementById("textShowMessageMaster").innerHTML = "@Local["Trùng dữ liệu"]";
                                }
                            }

                        }
                        else {
                            notiError_SW();
                        }
                    }
                );
        }
        return false;
    }

    //#endregion


    //#region // EVENT

    function Material_Event() {

        $('#dtContentUnitCountBody').on('click', '.buttonDeleteClass', function () {
            let id = Number($(this).closest('li').attr('data-id'));
            Material_RemoveUnit(id)
        });

        $('#dtContentUnitCountBody').on('change', '.NumberUnitChange', function () {
            let id = Number((this.id).replace("NumberChange_", ""));
            let value = Number($(this).val());
            if (DataUnitChange[id] != undefined) {
                DataUnitChange[id].Number = value;
            }
        });

        $('#dtContentUnitBody').on('click', '.rowUnit', function () {
            let id = Number($(this).closest('tr')[0].childNodes[0].innerHTML);
            if (DataUnitChange[id] == undefined) {
                Material_AddUnit(id)
            }
            else {
                notiWarning("@Local["Đơn vị này đã tồn tại"]");
            }
        });
    }

    //#endregion


    //#region // RENDER

    function Render_DataUnit(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = '<td class="d-none">' + item.ID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td >' + item.Name + '</td>'

                    stringContent = stringContent + '<tr role="row" class="rowUnit vt-number" data-id="' + item.ID + '">' + tr + '</tr>';
                }
            }

            document.getElementById(id).innerHTML = stringContent;
        }
    }

    function Material_RenderUnit(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            if (data) {
                let item = data;
                let NameUnitDefault = $('#unitCountTypeDefault').dropdown('get text');
                let tr = '<li id="UnitChange_' + item.ID + '" class="list-group-item border-0 d-flex  px-0 mb-2 border-radius-lg" data-id="' + item.ID + '">'
                    + '<div class="d-flex">'
                    + ((item.Used == 0)
                        ? '<button class="btn btn-link btn-icon-only btn-remmove-unit btn-rounded text-dark icon-remove my-0 px-0 buttonDeleteClass opacity-3"><i class="vtt-icon vttech-icon-cancel-01 text-danger"></i></button>'
                        : '<button title="Used" class="btn btn-link btn-icon-only btn-rounded text-dark icon-remove my-0 px-0"><i class="vtt-icon vttech-icon-check text-success"></i></button>')
                    + '</div>'
                    + '<div class="flex-grow-1">'
                    + '<div class="d-flex align-items-center ">'
                    + '<div class="input-group mb-0">'
                    + '<input id="NumberChange_' + item.ID + '" name="numberUnit" type="number" class="form-control NumberUnitChange" autocomplete="off" placeholder="eg. @Local["Số lượng"]" value="' + item.Number + '"/>'
                    + '<span class="input-group-text rounded-end">' + NameUnitDefault + '</span>'
                    + '</div>'
                    + '</div>'
                    + '<div>'
                    + '<span class="badge bg-light p-1 m-2 text-sm text-dark ms-0"><span class=" text-lowercase font-weight-normal px-2">= 1'
                    + '</span><span class="badge bg-gradient-dark"><span class="pe-3">' + item.Name + '</span></span></span>'
                    + '</div>'
                    + '</div>'
                    + '</li>'
                myNode.insertAdjacentHTML("beforeend", tr);
            }
        }
    }

    //#endregion


    //#region // SEARCH UNIT

    function onkeyupUnitAsync() {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    let search = xoa_dau($('#filterUnit').val().toLowerCase()).trim();
                    let data = DataUnit.filter(function (item) {
                        if (xoa_dau(item["Name"]).toLowerCase().includes(search))
                            return true;
                        return false;
                    });
                    if (data != undefined && data != null) {
                        $("#dtContentUnitBody").empty();
                        Render_DataUnit(data, 'dtContentUnitBody')
                    }
                    resolve()
                }
            )
        })
    }

    async function onkeyupUnit() {
        await onkeyupUnitAsync();
        return false;
    }


    //#endregion


    //#region // Orther

    function Material_NewUnit() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/WareHouse/Setting/UnitCountDetail?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function CloseDetail() {
        if ($("#MaterialDetail").length != 0) {
            $("#MaterialDetail").empty();
            document.getElementById("MaterialDetail").innerHTML = '';
            $("#MaterialtList").show();
            $("#MaterialDetail").hide();
            if (typeof ColorRow_Service === 'function') ColorRow_Service();
        }
        else {
            CloseModal();
        }
    }

    //#endregion
    // #region //Event Upload
    function Material_EventUploadImage() {
        UploadImage({
            inputFile: 'Material_Fileup_LoadImage'
            , btnInput: 'Material_btnUpload'
            , avatar: 'Material_DetailImage'
            , condition: Material_Sys_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }
    // #endregion
</script>

<style>

    .btn-remmove-unit:hover {
        transition: 0.2s;
        opacity: 1 !important;
    }

    .rowUnit:hover {
        background-color: var(--bs-table-hover-bg);
        color: var(--bs-table-hover-color);
        cursor: pointer;
    }
</style>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>


