@page
@model MLunarCoffee.Pages.Disease.DentistChartDiseaseListModel
@{
    Layout = null;
}

<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require_notasync('/assets/js/plugins/quill.min.js');</script>
<div class="row m-0">
    <div class="m-0 my-3 position-relative">
        <div id="loaderList" class="waitingdiv text-center w-100 position-absolute top-0 start-50 translate-middle-x" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-12 col-md-12 col-xl-3 ps-0 mt-0 mt-lg-n4">
                <div class="ms-auto my-auto mt-1 d-flex">
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input type_show pr-2" type="radio" name="disdisease_Filter" value="0" onchange="event.preventDefault();return DenList_Filter(0);" checked="">
                        <label class="custom-control-label" for="All">@Local["Hoạt động"]</label>
                    </div>
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input type_show pr-2" type="radio" name="disdisease_Filter" value="1" onchange="event.preventDefault();return DenList_Filter(1);">
                        <label class="custom-control-label" for="Adult">@Local["Tất cả"]</label>
                    </div>

                </div>
                <div class="">
                    <div class="input-group flex-nowrap p-2" id="Dissearch_Area">
                        <div class="input-group-text input-group-text px-2">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <div class="spinner-border spinner-border-sm d-none"></div>
                        </div>
                        <input id="Dissearch_Input" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm"]">
                        <div class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></div>
                    </div>
  
                    <div style="max-height: calc( 100vh - 100px );overflow-y: auto;" class="py-0 mx-1">
                        <ul class="nav nav-pills flex-column bg-white border-radius-lg pt-1 px-1" id="DentistDisease_Content">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-0  col-12 col-md-12 col-xl-9 p-1 position-relative">
                <div class="row px-1 mt-n3 " id="diseaseDetail">
                    <div class="position-absolute top-0 end-0 mt-n4 d-flex justify-content-end">
                        <button id="disdetail_Disactive" class="btn btn-danger d-none ms-1" form="frdiseaseDetail" onclick="Dendetail_Dis(0)">@Local["Vô hiệu hóa"]</button>
                        <button id="disdetail_Active" class="btn btn-success d-none ms-1" form="frdiseaseDetail" onclick="Dendetail_Dis(1)">@Local["Hoạt động"]</button>
                        <button form="frdiseaseDetail" type="button" class="btn bg-gradient-primary ms-1" onclick="Dendetail_Execute()">@Local["Lưu"]</button>
                    </div>
                    <div class="d-md-flex px-2 mt-2 align-items-start">
                        <div class="pe-2 mt-1 text-sm-center">
                            <div>
                                <span class="text-xs text-danger mb-0 text-nowrap">50 x 50 px</span>
                                <hr class="horizontal dark mt-0 mb-2">
                            </div>
                            <div class="avatar  position-relative d-inline-block">
                                <img id="Disease_FeaImage" class="border-radius-md" alt="team-2" src="/default.png" style=" border: 1px solid #d4d4d4; width: 50px; height: 50px;" onerror="Master_OnLoad_Error_Image(this)">
                                <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="Disease_FeaImageLoad" accept="image/*" type="file" name="files[]">
                                <div class="upload-btn-wrapper d-block  " id="Disease_Btnupload">
                                    <a href="javascript:;" class=" text-sm mb-n2 me-n2">
                                        Upload
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="row m-0 form3 pe-0" id="frdiseaseDetail">
                                <div class="row m-0 px-0">
                                    <div class="field col-12 col-md-3 px-1 mt-2">
                                        <div class="row  m-0 px-0">
                                            <div class="field col-12 px-1">
                                                <label>@Local["Tên"]</label>
                                                <input class="form-control" id="diseasename" name="name" placeholder="eg .@Local["Tên"]" />
                                            </div>
                                        </div>
                                        <div class="row m-0 px-0">
                                            <div class="field col-12 px-1">
                                                <label>@Local["Loại"] </label>
                                                <div class="ui fluid search selection dropdown  form-control" id="diseasecat">
                                                    <input type="hidden" name="appointment" />
                                                    <i class="dropdown icon"></i>
                                                    <input class="search" autocomplete="off" tabindex="0" />
                                                    <div class="default text">eg .@Local["Loại"]</div>
                                                    <div id="ccbdiseasecat" class="menu" tabindex="-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 px-0">
                                            <div class="field col-12 px-1 my-3">

                                                <a id="diseaselink" class="ps-1 text-primary border-bottom" target="_blank"></a>
                                            </div>
                                        </div>
                                        <div class="row m-0 px-0">
                                            <div class="field col-12 px-1">
                                                <label>@Local["Ghi chú"]</label>
                                                <input class="form-control" id="diseasenote" name="note" placeholder="eg .@Local["Ghi chú"]" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-9 px-1 mt-2  p-3">
                                        <div id="diseasedata" class="p-3 m-3 border-dashed border-radius-md border-1 border-secondary" style=" max-height: 258px;  overflow-y: auto;">

                                        </div>
                                    </div>

                                </div>
                                <div class="row mt-3">
                                    
                                    <div class=" col-sm-8 position-relative mt-2 px-1">
                                        <button type="button" class="btn btn-sm position-absolute bg-gradient-primary ms-1" style="right: 9px; top: 5px;" onclick="Dendetail_PreviewGet()">Get</button>
                                        <div id="diseasedata_Preview" style="max-height: calc( 100vh - 300px ); overflow-y: auto;">

                                        </div>
                                    </div>
                                    <div class=" col-sm-4 position-relative mt-2 px-1">

                                        <div class="d-flex justify-content-center">
                                            <div style=" width: 40px;">
                                                <div id="teethfacetext_39" class="teeth_text d-flex justify-content-center align-items-center text-sm fw-bold rounded-2"></div>
                                                <canvas data-updown="U" data-sign="6" id="teethface_39" width="40" height="60" class="disteeth"></canvas>
                                                <canvas id="teethcircle_39" width="40" height="40" class="disteethcir"></canvas>
                                            </div>
                                            <div class="ms-3" style=" width: 40px;">
                                                <div id="teethfacetext_36" class="teeth_text d-flex justify-content-center align-items-center text-sm fw-bold rounded-2"></div>
                                                <canvas data-updown="U" data-sign="8" id="teethface_36" width="40" height="60" class="disteeth"></canvas>
                                                <canvas id="teethcircle_36" width="40" height="40" class="disteethcir"></canvas>
                                            </div>


                                        </div>
                                        <div class="d-flex justify-content-center mt-4">
                                            <div style=" width: 40px;">
                                                <canvas id="teethcircle_50" width="40" height="40" class="disteethcir"></canvas>
                                                <canvas data-updown="D" data-sign="6" id="teethface_50" width="40" height="60" class="disteeth"></canvas>
                                                <div id="teethfacetext_50" class="teeth_text d-flex justify-content-center align-items-center text-sm fw-bold rounded-2"></div>
                                            </div>
                                            <div class="ms-3" style=" width: 40px;">
                                                <canvas id="teethcircle_55" width="40" height="40" class="disteethcir"></canvas>
                                                <canvas data-updown="D" data-sign="12" id="teethface_55" width="40" height="60" class="disteeth"></canvas>
                                                <div id="teethfacetext_55" class="teeth_text d-flex justify-content-center align-items-center text-sm fw-bold rounded-2"></div>
                                            </div>


                                        </div>
                                        <div class="w-100 d-flex mt-5 justify-content-center">
                                            <button type="button" class="btn bg-gradient-primary ms-1" onclick="Dendetail_Preview()">Preview</button>
                                            
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>


<script type="text/javascript">
    var Dissearch_Timer;
    var DencanPreview;
    var Disease_CurrentID = 0;
    var Disease_CurrentData = '';
    var Disease_CurrentType = 0;
    var Teethpaths = {};
    var TeethWidth = 40, TeethHeight = 90;
    var Diss_Timeout;
    var ImageCollection = {};
    var DidCollection;
    // #region // Upload Feature
    var Dendetail_CurrentImg = '';
    var DenListUrl = "/Api/Upload/Upload?Type=Disease";
    var Dendetail_FeatOption = {
        size: 102400,
        format: ['svg', 'png', 'jpeg', 'jpg']
    }


    //#endregion
    $(document).ready(function () {
        DenList_Load(0);
        Dencan_Search();
        UploadImage({
            inputFile: 'Disease_FeaImageLoad'
            , btnInput: 'Disease_Btnupload'
            , avatar: 'Disease_FeaImage'
            , condition: Dendetail_FeatOption
            , success: (data) => {
                    
            }
            , error: (err) => {
                 
            }
        })
        DencanPreview = new Quill('#diseasedata_Preview', {
            theme: 'snow',
            placeholder: 'Waiting for your precious content',
            modules: {

            }
        });

    });

    // #region // List Disease
    function Dencan_Search () {
        $('#Dissearch_Input').keyup(function () {
            if ($(this).val().length > 0) $("#Dissearch_Area .btn_clear").removeClass('opacity-1');
            else $("#Dissearch_Area .btn_clear").addClass('opacity-1');
            $("#Dissearch_Area .fa-search").hide();
            $("#Dissearch_Area .spinner-border").removeClass('d-none');
            clearTimeout(Dissearch_Timer);
            Dissearch_Timer = setTimeout(function (e) {
                Dissearch_Filter("DentistDisease_Content");
            }, 500);
        });
        $("#Dissearch_Area").on('click', '.btn_clear', function (e) {
            $('#Dissearch_Input').val('');
            $("#Dissearch_Area .btn_clear").addClass('opacity-1');
            Dissearch_Filter("DentistDisease_Content");
        });
    }
    async function Dissearch_Filter (id) {
        await new Promise((resolve, reject) => {
            setTimeout(
                () => {

                    let textsearch = $('#Dissearch_Input').val().trim();
                    if (textsearch == "") {
                        DenList_Render(DidCollection, id);
                    }
                    else {
                        let search = xoa_dau(textsearch.toLowerCase());
                        if (search == "") {
                            DenList_Render(DidCollection, id);
                        }
                        else {

                            let data = DidCollection.filter(word => {
                                return (xoa_dau(word.Name.toLowerCase()).includes(search));
                            });
                            DenList_Render(data, id);
                        }
                    }
                    $("#Dissearch_Area .fa-search").show();
                    $("#Dissearch_Area .spinner-border").addClass('d-none');
                    resolve()
                }
            )
        })
    }
    function DenList_Load (curid) {
        AjaxLoad(url="/Disease/DentistChartDiseaseList/?handler=LoadData"
            , data = {'curid': curid}
            , async=true
            , error=function () {notiError_SW()}
            , success=function (result) {
                if (result != "") {
                    let datas = JSON.parse(result);
                    let datadis = datas.List;
                    let dataimg = datas.ImageDisease;
                    for (let i = 0; i < dataimg.length; i++) {
                        ImageCollection[dataimg[i].ID] = dataimg[i];
                    }

                    if (curid == 0) {
                        DidCollection = datadis;
                        DenList_Render(datadis, 'DentistDisease_Content');
                        Load_Combo(datas.Cat, "ccbdiseasecat", true);
                        $("#disitem_" + datadis[0].ID+" a").trigger("click");
                    }
                    else {
                        
                        for (let i = 0; i < DidCollection.length; i++) {
                            if (DidCollection[i].ID == datadis[0].ID)
                                DidCollection[i] = datadis[0];
                        }
                        $("#disitem_" + curid).replaceWith(DenList_RenderEach(datadis[0]));
                        DenList_Event();
                        $("#disitem_" + curid + " a").trigger("click");
                    }
                }
            }
            , sender = null
            , before = function (e) {
                $("#loaderList").show();
            }
            , complete = function (e) {
                $("#loaderList").hide();
            }
        );
    }
    function DenList_Filter (type) {
        if (type == 0) $('#DentistDisease_Content').removeClass('showall');
        else $('#DentistDisease_Content').addClass('showall');
    }
    function DenList_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = DenList_RenderEach(item);
                    stringContent = stringContent + tr ;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            DenList_Event();

        }
    }
    function DenList_RenderEach (item) {
        let image = '';
        let isdis = Number(item.IsDisable) == 1 ? `dis` : ``;
        if (item.Image != '')
            image = `<img style="height: 30px;width: 30px;"  src="${Dissys_Url + item.ImageFeature}" alt="label-image">`
        let tr =
            `<li id="disitem_${item.ID}" class="nav-item position-relative ${isdis}" role="presentation">
                            <a class="dissign text-danger position-absolute top-50 end-0 translate-middle-y">dis-active</a>
                            <a data-id="${item.ID}" class="text-sm detail nav-link cursor-pointer ">
                                <div class="d-flex align-items-center">
                                    ${image}
                                    <div class="ps-2">
                                        <h6 class="text-dark text-sm mb-0 pb-0">${item.Name}</h6>

                                    </div>
                                </div>
                            </a>
                        </li>
                        <hr class="horizontal dark my-0 opacity-2">
                        ` ;
        return tr;
    }
    function DenList_Event () {
        $("#DentistDisease_Content .detail").unbind().click(function (event) {
            event.stopPropagation();
            $("#DentistDisease_Content .detail").removeClass("active");
            $(this).addClass("active");
            let id = $(this).attr('data-id');
            Disease_CurrentID = id;
            DenDetail_LoadData(id);
        });
    }
     //#endregion
    //#region // Load Detail
    function Dendetail_Dis (active) {
        AjaxLoad(url = "/Disease/DentistChartDiseaseList/?handler=DisableItem"
            , data = {'id': Disease_CurrentID, 'active': active}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    DenList_Load(Disease_CurrentID);

                } else {
                    notiError_SW();
                }
            }
        );
    }
    function DenDetail_LoadData (id) {
        AjaxLoad(url = "/Disease/DentistChartDiseaseList/?handler=LoadDetail"
            , data = {"id": id}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length == 1) {
                        $("#diseasename").val(data[0].Name);
                        $("#diseasenote").val(data[0].Description);

                        if (data[0].Image != '') {
                            $("#Disease_FeaImage").attr("src", Dissys_Url + data[0].ImageFeature);
                            Dendetail_CurrentImg = data[0].ImageFeature;

                            $("#diseaselink").attr("href", Dissys_Url + Dendetail_CurrentImg)
                            $('#diseaselink').html(Dendetail_CurrentImg);
                        }

                        $("#diseasecat").dropdown("refresh");
                        $("#diseasecat").dropdown("set selected", data[0].CategoryID);
                        let disable = Number(data[0].IsDisable);
                        if (disable == 0) {
                            $("#disdetail_Active").addClass("d-none");
                            $("#disdetail_Disactive").removeClass("d-none");
                        }
                        else {
                            $("#disdetail_Active").removeClass("d-none");
                            $("#disdetail_Disactive").addClass("d-none");
                        }
                        Disease_CurrentType = data[0].Type;
                        Disease_CurrentData = JSON.parse(data[0].Data);
                        let JsonPresent = data[0].Data;
                        JsonPresent = JsonPresent.replace(/\$gt;/gm, '&gt;').replace(/\$lt;/gm, '&lt;');
                        let DataResponse = JSON.parse(JsonPresent);
                        let jsonText = `<pre class="text-dark border-0 rounded-0 overflow-visible"><span>${JSON.stringify(DataResponse, undefined, 3).replaceAll("\\", "")}</span></pre>` ;
                        $('#diseasedata').html(jsonText);
                        DencanPreview.pasteHTML(jsonText);
                         Dencan_Default();
                    }

                }
            }
            , sender = null
            , before = function (e) {

                $("#loaderList").show();
            }
            , complete = function (e) {

                $("#loaderList").hide();
            }
        );
    }


    async function Dendetail_Execute () {
  
        let cat = Number($('#diseasecat').dropdown('get value')) ? Number($('#diseasecat').dropdown('get value')) : 0;
        let Image = $("#Disease_FeaImageLoad")[0].files.length != 0 ? await AjaxUpload_Image(DenListUrl, 'Disease_FeaImageLoad') : Dendetail_CurrentImg;
        let name = $('#diseasename').val();
        let note = $('#diseasenote').val();
        let json = $('#diseasedata').html();

        json = json.replace(`<pre class="text-dark border-0 rounded-0 overflow-visible"><span>`, ``);
        json = json.replace(`</span></pre>`, ``);
        json = json.replace(`<p>`, ``);
        json = json.replace(`</p>`, ``);
        let obj = JSON.parse(json);

        $('#frdiseaseDetail').form('validate form');
        if ($('#frdiseaseDetail').form('is valid')) {
            AjaxLoad(url ="/Disease/DentistChartDiseaseList/?handler=ExcuteData"
                    , data={
                        'cat': cat,
                        'image': Image,
                        'name': name,
                        'note': note,
                        'disease': JSON.stringify(obj),
                        'CurrentID': Disease_CurrentID
                    }
                    , async=true
                    , error=function () {notiError_SW()}
                    , success=function (result) {
                        if (result == "1") {
                            notiSuccess();
                            DenList_Load(Disease_CurrentID);
                        }
                        else notiWarning('@Local["Trùng dữ liệu"]')
                    }
                );
            }
            return false;
    }
    //#endregion

    //#region // Canvas
    function Dencan_Default () {
        $('.teeth_text').html('');
        Can_DrawDefault($('.disteeth'), TeethWidth, TeethHeight
            , function (paths) {
                Object.assign(Teethpaths, paths);
            });
        Can_DrawDefault($('.disteethcir'), TeethWidth, TeethWidth
            , function (paths) {
                Object.assign(Teethpaths, paths);
            });
        Dencan_DrawDetail(Disease_CurrentData.data);
    }
    async function Dencan_DrawDetail (data) {
        new Promise((resolve) => {
            Diss_Timeout = setInterval(function () {
 
                if ( Object.keys(Teethpaths).length == 28  ) {
                    clearInterval(Diss_Timeout)
                    Dencan_DrawDisease(39, 'root', data, Disease_CurrentType);
                    Dencan_DrawDisease(39, 'c', data, Disease_CurrentType);
                    Dencan_DrawDisease(36, 'root', data, Disease_CurrentType);
                    Dencan_DrawDisease(36, 'c', data, Disease_CurrentType);
                    Dencan_DrawDisease(50, 'root', data, Disease_CurrentType);
                    Dencan_DrawDisease(50, 'c', data, Disease_CurrentType);
                    Dencan_DrawDisease(55, 'root', data, Disease_CurrentType);
                    Dencan_DrawDisease(55, 'c', data, Disease_CurrentType);
                }
            }, 100);

        });
    }
    async function Dencan_DrawDisease (teeth, part, datadisease, typedisease) {
        new Promise((resolve) => {
            if (typedisease == 2) {
                Dencan_DrawItem(teeth, part, datadisease[0].data, iscircle = 1);
            }
            else {

                for (let i = 0; i < datadisease.length; i++) {
                    let area = datadisease[i].area;
                    let data = datadisease[i].data;
                    switch (area) {
                        case "rootface": {
                            for (let j = 0; j < data.length; j++) {
                                Dencan_DrawItem(teeth, data[j].area, data[j].data, iscircle = 0);
                            }
                            break;
                        }
                        case "l": case "t": case "r": case "b": case "c": {
                            Dencan_DrawItem(teeth, area, data, iscircle = 1);
                            break;
                        }
                    }
                }
            }

        });
    }
    function Dencan_DrawItem (teeth, part, datadesign, iscircle) {
        var canvas, ctx, _2d, _typedesign;
        var objid, canvasid
        if (iscircle == 1) {
            objid = 'teethcircle' + '_' + teeth + '_' + part;
            canvasid = 'teethcircle' + '_' + teeth;
        }
        else {
            objid = 'teethface' + '_' + teeth + '_' + part;
            canvasid = 'teethface' + '_' + teeth;
        }
        canvas = document.getElementById(canvasid);
        ctx = canvas.getContext('2d');
        if (Teethpaths[objid] != undefined) {
            _2d = Teethpaths[objid].path;
            _typedesign = Teethpaths[objid].type;
            for (let xx = 0; xx < datadesign.length; xx++) {
                switch (datadesign[xx].type) {
                    case "color":
                        if (datadesign[xx].having == "1") {
                            let canpattern = Canele_Pattern(datadesign[xx].fill, 4);
                            let pattern = ctx.createPattern(canpattern, "repeat");
                            ctx.fillStyle = pattern;
                            ctx.strokeStyle = datadesign[xx].stroke;
                            ctx.fill(_2d);
                            ctx.stroke(_2d);
                        }
                        break;
                    case "text":
                        if (datadesign[xx].having == "1") {
                            $('#teethfacetext_' + teeth).html(datadesign[xx].content);
                            $('#teethfacetext_' + teeth).css("color", datadesign[xx].stroke);
                            $('#teethfacetext_' + teeth).css("background-color", datadesign[xx].fill);
                        }
                        break;
                    case "pattern":
                        if (datadesign[xx].having == "1") {
                            let img = new Image();
                            img.src = Dissys_Url + datadesign[xx].patternlink + '.png';
                            img.onload = function () {
                                var pattern = ctx.createPattern(img, 'repeat');
                                ctx.fillStyle = pattern;
                                ctx.fill(_2d);
                            };
                        }
                        break;
                    case "image":
                        if (datadesign[xx].having == "1") {
                            let linkimage = Dencan_GetImage(datadesign[xx].imageid, _typedesign);
                            var img = new Image();

                            linkimage = Dissys_Url + linkimage + '.svg';
                            img.src = linkimage;
                            img.onload = function () {
                                if (_typedesign == "circle") {
                                    ctx.beginPath();
                                    switch (part) {
                                        case "l":
                                            ctx.drawImage(img, 0, 13, 14, 14);
                                            //ctx.arc(7, 20, 7, 0, 2 * Math.PI);
                                            break;

                                        case "t":
                                            ctx.drawImage(img, 13, 0, 14, 14);
                                            //ctx.arc(20, 7, 7, 0, 2 * Math.PI);
                                            break;

                                        case "r":
                                            ctx.drawImage(img, 23, 13, 14, 14);
                                            //ctx.arc(33, 20, 7, 0, 2 * Math.PI);
                                            break;
                                        case "b":
                                            ctx.drawImage(img, 13, 23, 14, 14);
                                            //ctx.arc(20, 33, 7, 0, 2 * Math.PI);
                                            break;
                                        case "c":
                                            ctx.drawImage(img, 13, 13, 14, 14);
                                            //ctx.arc(20, 20, 7, 0, 2 * Math.PI);
                                            break;
                                    }
                                }
                                else {
                                    ctx.drawImage(img, 0, 0, TeethWidth, TeethHeight);
                                }
                            }
                        }
                        break;
                }
            }
        }
    }
    function Dencan_GetImage (imageid, typesign) {
        let _image = ImageCollection[imageid];
        let resulf = "";
        switch (typesign) {
            case "r1u": resulf = _image.r1u; break;
            case "r3u": resulf = _image.r3u; break;
            case "r1d": resulf = _image.r1d; break;
            case "r3d": resulf = _image.r3d; break;
            case "circle": resulf = _image.circle; break;
            default: break;
        }
        return resulf;
    }
    function Dendetail_PreviewGet () {
        let json = DencanPreview.root.innerHTML;
        json = json.replace(`<pre class="ql-syntax" spellcheck="false">`, ``);
        json = json.replace(`</pre>`, ``);
        json = json.replace(`<p>`, ``);
        json = json.replace(`</p>`, ``);
        let obj = JSON.parse(json);
        let jsonText = `<pre class="text-dark border-0 rounded-0 overflow-visible"><span>${JSON.stringify(obj, undefined, 3).replaceAll("\\", "")}</span></pre>`;
        $('#diseasedata').html(jsonText);

    }
    function Dendetail_Preview () {
        $('.teeth_text').html('');
        Can_DrawDefault($('.disteeth'), TeethWidth, TeethHeight
            , function (paths) {
            });
        Can_DrawDefault($('.disteethcir'), TeethWidth, TeethWidth
            , function (paths) {
            });
        let json = DencanPreview.root.innerHTML;
        json = json.replace(`<pre class="ql-syntax" spellcheck="false">`, ``);
        json = json.replace(`</pre>`, ``);
        json = json.replace(`<p>`, ``);
        json = json.replace(`</p>`, ``);
        Dencan_DrawDetail(JSON.parse(json).data);
    }
    //#endregion

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>
    #DentistDisease_Content .dis {
        opacity: 0.5;
    }

    #DentistDisease_Content .dissign {
        opacity: 0;
    }

    #DentistDisease_Content .dis .dissign {
        opacity: 1 !important;
    }

    #DentistDisease_Content .dis {
        display: none !important;
    }

    #DentistDisease_Content.showall .dis {
        display: grid !important;
    }
    .ql-snow .ql-editor pre.ql-syntax {
        background-color: transparent;
        color: #4f4f4f;
        overflow: visible;
        font-size: 14px;
    }
</style>

