@page
@model MLunarCoffee.Pages.Disease.DentistChartTeethListModel
@{
    Layout = null;
}

<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

<div class="row p-2">
    <div class="d-lg-flex">
        <div class="w-lg-30 col-auto my-auto">
            <div class="h-100">
                <h6 class="mb-0">@Local["Danh sách răng"]</h6>
                <p class="text-sm mb-0">@Local["Danh sách chi tiết răng"]</p>
            </div>
        </div>

        <div class="ms-auto my-auto mt-1 d-flex">
            <div class="form-check form-check-inline mt-3">
                <input class="form-check-input type_show pr-2" type="radio" name="TeethList_Filer"
                       value="0" onchange="event.preventDefault();return TeethList_OnChange();" checked>
                <label class="custom-control-label" for="All">@Local["Tất cả"]</label>
            </div>
            <div class="form-check form-check-inline mt-3">
                <input class="form-check-input type_show pr-2" type="radio" name="TeethList_Filer"
                       value="1" onchange="event.preventDefault();return TeethList_OnChange();">
                <label class="custom-control-label" for="Adult">@Local["Răng người lớn"]</label>
            </div>
            <div class="form-check form-check-inline mt-3">
                <input class="form-check-input type_show pr-2" type="radio" name="TeethList_Filer"
                       value="2" onchange="event.preventDefault();return TeethList_OnChange();">
                <label class="custom-control-label" for="Child">@Local["Răng sữa"]</label>
            </div>
        </div>
    </div>
    <div class="m-0 my-3 mobile-responsive">
        <div id="loaderList" class="waitingdiv text-center w-100 mt-2" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <table class="table vt-table mb-0" id="TeethList_Content">
            <thead>
                <tr>
                    <th>@Local["#"]</th>
                    <th>@Local["Tên răng"]</th>
                    <th>@Local["Loại"]</th>
                </tr>
            </thead>
            <tbody id="TeethList_BodyContent">
            </tbody>
        </table>
    </div>
</div>

 

<script type="text/javascript">
    var dataTeeth = [];
    $(document).ready(function () {
        TeethList_LoadData();
    });

    function TeethList_OnChange () {
        let id = 0;
        if ($('.type_show:radio:checked').length > 0) {
            id = Number($('.type_show:radio:checked').val());
        }
        let data;
        if (id != 0)
            data = dataTeeth.filter(teeth => teeth.Type == id)
        else
            data = dataTeeth;
        TeethList_Render(data, 'TeethList_BodyContent');
    }

    function TeethList_LoadData () {
        AjaxLoad(url = "/Disease/DentistChartTeethList/?handler=LoadData"
            , data = {}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "") {
                    dataTeeth = JSON.parse(result);
                    TeethList_Render(dataTeeth, 'TeethList_BodyContent');
                }
            }
            , sender = null
            , before = function (e) {
                $("#TeethList_Content").hide();
                $("#loaderList").show();
            }
            , complete = function (e) {
                $("#TeethList_Content").show();
                $("#loaderList").hide();
            }
        );
    }

    function TeethList_Render (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let type = item.Type != 1 ? `<a class="text-dark">@Local["Răng trẻ em"]</a>` : `<a class="text-primary">@Local["Răng người lớn"]</a>`;
                     let tr =`
                            <td class="vt-number-order"></td>
                            <td><a data-id=${item.ID} class="border-bottom buttonEditClass cursor-pointer">${item.TeethName}</a></td>
                            <td>${type}</td>`
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            TeethList_Event()
            ToolPopper();
        }
    }
    function TeethList_Event () {
        $('#TeethList_BodyContent .buttonEditClass').click(function () {
            let ID = $(this).attr('data-id');
            TeethList_Edit(ID);
        });
    }
    function TeethList_Edit (CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Disease/DentistChartTeethDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
</script>


