@page
@model SourceMain.Pages.Disease.DentistChartDiseaseDetailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Chi tiết bệnh"]</h6>
                                <p class="text-sm mb-0">@Local["Cấu hình chi tiết bệnh"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2 ">
                    <div class="row px-2 form3" id="formDisease">
                        <div class="field col-12 col-sm-6 col-xl-6 p-1">
                            <label>@Local["Bệnh"]</label>
                            <input id="Disease" name="name" class="form-control" type="text" placeholder="eg .@Local["Bệnh"]" />
                        </div>
                        <div class="field col-12 col-sm-6 col-xl-6 p-1">
                            <label>@Local["Mô tả"]</label>
                            <input id="Description" name="element" class="form-control" type="text" placeholder="eg .@Local["Mô tả"]" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formDisease" onclick="CloseModal()">@Local["Đóng"]</button>
                        <button id="divSaveDisease" form="formDisease" type="button" class="_tab_control_ btn bg-gradient-primary mt-2 me-2" data-tab="edit_tab_career" onclick="DiseaseDetail_Excute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var _CurentID;

        $(document).ready(function () {
            _CurrentID ='@Model._CurrentID' ;
            if (_CurrentID != "0")
                DiseaseDetail_LoadData();
        });

        function DiseaseDetail_LoadData() {
            AjaxLoad(url="/Disease/DentistChartDiseaseDetail/?handler=Loadata"
                , data={'id': _CurrentID}
                , async=true
                , error=function () {notiError_SW()}
                , success=function (result) {
                    let _dataDisease=JSON.parse(result);
                    $('#Disease').val((_dataDisease[0].Name));
                    $('#Description').val((_dataDisease[0].Description));
                }
            );
        }

        function DiseaseDetail_Excute() {
            let Name = $('#Disease').val() ? $('#Disease').val() : "";
            let Description = $('#Description').val() ? $('#Description').val() : "";
            $('#formDisease').form('validate form');
            if ($('#formDisease').form('is valid')) {
                AjaxLoad(url="/Disease/DentistChartDiseaseDetail/?handler=ExcuteData"
                    , data={'Name': Name, 'Description': Description, 'CurrentID': _CurrentID}
                    , async=true
                    , error=function () {notiError_SW()}
                    , success=function (result) {
                        if (result=="1") {
                            notiSuccess();
                            if (typeof DentistDisease_LoadData !== 'undefined' && $.isFunction(DentistDisease_LoadData)) {
                                DentistDisease_LoadData();
                                CloseModal();
                            }
                        } else $('#textShowMessage').html("@Local["Trùng dữ liệu"]");
                    }
                );
            }
            return false;
        }

    </script>

    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/comon/initialize_setting.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>
</html>
