@page
@model MLunarCoffee.Pages.Disease.DiseaseTypeModel
@{
    Layout = null;
}
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<div class="row p-2">
    <div class="d-flex">
        <div class="w-50 col-auto my-auto">
            <div class="h-100">
                <h6 class="mb-0">@Local["Loại bệnh"]</h6>
                <p class="text-sm mb-0">@Local["Danh sách loại bệnh"]</p>
            </div>
        </div>
        <div class="ms-auto my-auto mt-1">
             
            <button class="btn bg-gradient-primary btn-sm mt-1" onclick="DiseaseType_New()">@Local["Thêm mới"]</button>
             
        </div>
    </div>
    <div class="m-0 my-3 mobile-responsive">
        <div id="loaderList" class="waitingdiv text-center w-100 mt-2" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <table class="table vt-table mb-0" id="DiseaseType_Content">
            <thead>
                <tr>
                    <th style="width:50px;">@Local["#"]</th>
                    <th>@Local["Tên"]</th>
                    <th>@Local["Nội dung"]</th>
                    <th>@Local["Số lượng"]</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody id="DiseaseType_BodyContent">
            </tbody>
        </table>
    </div>
    <div class="d-lg-flex">
        <div class="w-50 col-auto my-auto">
            <div class="h-100">
                <h6 class="mb-0">@Local["Hình ảnh"] </h6>
                <p class="text-sm mb-0">@Local["Danh sách hình ảnh"] (40x90 px - 14x14 px)</p>
            </div>
        </div>
    </div>
    <div class="m-0 my-3 mobile-responsive">
       
        <table class="table vt-table mb-0" id="DiseaseImage">
            <thead>
                <tr>
                    <th style="width:50px;">@Local["#"]</th>
                    <th>1 up</th>
                    <th>3 up</th>
                    <th>1 down</th>
                    <th>3 down</th>
                    <th>circle</th>
                </tr>
            </thead>
            <tbody id="DiseaseImageContent">
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        DiseaseType_Initialize();
        DiseaseImage_Initialize();
    });

    function DiseaseType_Initialize() {
        AjaxLoad(url="/Disease/DiseaseType/?handler=LoadData"
            , data={}
            , async=true
            , error=function () {notiError_SW()}
            , success=function (result) {
                if (result!="0") {
                    DiseaseType_Render(JSON.parse(result), 'DiseaseType_BodyContent');
                }
            }
            , sender = null
            , before = function (e) {
                $("#DiseaseType_Content").hide();
                $("#loaderList").show();
            }
            , complete = function (e) {
                $("#DiseaseType_Content").show();
                $("#loaderList").hide();
            }
        );
    }
    function DiseaseType_Render(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let image = '';
                    if(item.Image!='')
                        image = `<img style="height: 50px;width: 50px;"  src="${Dissys_Url+item.Image}" alt="label-image">`
                    let tr =
                        `

                        <td style="width:50px;">${image}</td>
                        <td><a data-id=${item.ID} class="border-bottom buttonEditClass cursor-pointer">${item.Name}</a></td>
                         <td>${item.Note}</td>
                        <td>${item.CountDisease}</td>
                        <td>
                            ${item.DeleteButton == 1
                            ?
                            `
                                <button class="buttonDeleteClass buttonGrid" data-id=${item.ID}>
                                <i class="buttonDeleteClass vtt-icon vttech-icon-delete" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Xóa"]"></i>
                                </button>
                            `
                            : ``}

                        </td>`
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            DiseaseType_Event();
            ToolPopper();
        }
    }
    function DiseaseType_Event () {
        $('#DiseaseType_BodyContent .buttonEditClass').click(function () {
            let ID = $(this).attr('data-id');
            DiseaseType_Edit(ID);
        });
        $('#DiseaseType_BodyContent .buttonDeleteClass').click(function () {
            let ID = $(this).attr('data-id');
            DiseaseType_Delete(ID);
        });
    }
    function DiseaseType_New () {
        DiseaseType_Edit(0);
    }
    function DiseaseType_Edit(CurrentID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Disease/DiseaseTypeDetail?CurrentID=" + CurrentID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    function DiseaseType_Delete(id ) {
        const promise = notiConfirm();
        promise.then(function () { DiseaseType_ExcuteDelete(id ); }, function () { });
    }
    function DiseaseType_ExcuteDelete(id ) {
        AjaxLoad(url="/Disease/DiseaseType/?handler=DeleteItem"
            , data={'id': id }
            , async=true
            , error=function () {notiError_SW()}
            , success=function (result) {
                if (result=="1") {
                    notiSuccess();
                    DiseaseType_Initialize();
                } else {
                    notiError_SW();
                }
            }
        );
    }
     //#region // Image
    function DiseaseImage_Initialize () {
        AjaxLoad(url = "/Disease/DiseaseType/?handler=LoadImage"
            , data = {}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
 
                    DiseaseImage_Render(JSON.parse(result), 'DiseaseImageContent');
                }
            }
            , sender = null
        );
    }
    function DiseaseImage_Render (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let linkr1u = '', namer1u = '', image1u = '';
                    let linkr3u = '', namer3u = '', image3u = '';
                    let linkr1d = '', namer1d = '', image1d = '';
                    let linkr3d = '', namer3d = '', image3d = '';
                    let linkcir = '', namecir = '', imagcir = '';
                    if (item.r1u != '') {
                        namer1u = item.r1u + '.svg';
                        linkr1u = `<a class="text-primary" href="${Dissys_Url + namer1u}" target="_blank">${namer1u}</a>`;
                        image1u = `<img class="rootface" src="${Dissys_Url + namer1u}" alt="label-image">`;
                    }
                    if (item.r3u != '') {
                        namer3u = item.r3u + '.svg';
                        linkr3u = `<a class="text-primary" href="${Dissys_Url + namer3u}" target="_blank">${namer3u}</a>`;
                        image3u = `<img class="rootface" src="${Dissys_Url + namer3u}" alt="label-image">`;
                    }
                    if (item.r1d != '') {
                        namer1d = item.r1d + '.svg';
                        linkr1d = `<a class="text-primary" href="${Dissys_Url + namer1d}" target="_blank">${namer1d}</a>`;
                        image1d = `<img class="rootface" src="${Dissys_Url + namer1d}" alt="label-image">`;
                    }
                    if (item.r3d != '') {
                        namer3d = item.r3d + '.svg';
                        linkr3d = `<a class="text-primary" href="${Dissys_Url + namer3d}" target="_blank">${namer3d}</a>`;
                        image3d = `<img class="rootface" src="${Dissys_Url + namer3d}" alt="label-image">`;
                    }
                    if (item.circle != '') {
                        namecir = item.circle + '.svg';
                        linkcir = `<a class="text-primary" href="${Dissys_Url + namecir}" target="_blank">${namecir}</a>`;
                        imagcir = `<img class="circle" src="${Dissys_Url + namecir}" alt="label-image">`;
                    }
                    let tr =
                        `
                         <td class="fw-bold text-danger text-center">
                           ${item.ID}
                        </td>
                        <td class="text-center">
                            ${image1u}
                            ${linkr1u}
                        </td>
                         <td class="text-center">
                            ${image3u}
                            ${linkr3u}
                        </td>
                         <td class="text-center">
                            ${image1d}
                            ${linkr1d}
                        </td>
                        <td class="text-center">
                            ${image3d}
                            ${linkr3d}
                        </td>
                         <td class="text-center">
                            ${imagcir}
                            ${linkcir}
                        </td>
                         `
                    stringContent = stringContent + '<tr class="vt-number" role="row">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            DiseaseType_Event();
            ToolPopper();
        }
    }
    //#endregion
</script>
<style>
    #DiseaseImageContent .circle {
        width: 14px;
        height: 14px;
        border: 1px solid #c0bebe;
        background: #f3f3f3;
    }
    #DiseaseImageContent .rootface {
        width: 40px;
        height: 90px;
        border: 1px solid #c0bebe;
        background: #f3f3f3;
    }
    #DiseaseImageContent a {
        display:block;
    }
</style>