@page
@model MLunarCoffee.Pages.Myinfo.MyApproveform
@{
    Layout = null;
}
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="d-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Yêu cầu mua hàng"]</h6>
                            <p class="text-sm mb-0">@Local["Danh sách phiếu yêu cầu"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">
                <div id="MyApproveMaster" class="row px-1 form3">
                    <div class="col-12 px-1 mt-2 ">
                        <div class="table-responsive" style=" height: 300px; overflow: auto;">
                            <table class="table align-items-center mb-0">
                                <tbody id="MyApproveOrder">
                                </tbody>
                            </table>
                        </div>
                        <button class="btnsysmore btn btn-secondary w-100 p-1 mt-3 cursor-pointer transform-scale-10" onclick="event.preventDefault();return MyApproveLoad(1,0);">@Local["Xem thêm"]</button>
                    </div>

                </div>
                <div id="MyApproveDetail" class="row" style="display:none;">
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let limit = 20;
    let begin = 0;
    let MyApproveData = {};
    $(document).ready(function() {
        MyApproveLoad(ismore = 0, curid = 0);
    });
    function MyApproveLoad(ismore, curid) {

        if (ismore == 0) {
            begin = 0;
        }

        AjaxLoad(url = "/Myinfo/MyApproveform/?handler=GetForm"
            , data = {
                'begin': begin
                , 'limit': limit
                , 'cur': curid
            }, async = true, error = null
            , success = function(result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length != 0) {
                        if (curid == 0) {
                            begin = data[data.length - 1].ID;
                            if (ismore == 0) MyApproveData = {};
                            for (let i = 0; i < data.length; i++) {
                                MyApproveData[data[i].ID] = data[i];
                            }
                            MyApproveRender_List(Object.values(MyApproveData), "MyApproveOrder");
                        }
                        else {

                            MyApproveData[data[0].ID] = data[0];
                            $("#myapprove_" + data[0].ID).replaceWith(MyApproveRender_Item(data[0]));
                            MyApprove_Event();
                        }

                    }
                }
            }
        );
    }
    function MyApproveRender_List(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            data = data.sort(function(a, b) {
                return b.Created.localeCompare(a.Created);
            });
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                stringContent = stringContent + MyApproveRender_Item(item);
            }

            document.getElementById(id).innerHTML = stringContent;
        }
        MyApprove_Event();
    }
    function MyApproveRender_Item(item) {
        let func = '';
        let status = '';
        if (item.IsApprove == 1) status = '<i class="text-xs text-success fas fa-check"></i>';
        else status = '<i class="text-xs text-danger far fa-times-circle"></i>';
        if (item.IsReceipt == 0) {
            if (item.IsApprove == 1) {
                func = '<a class="reject   text-lowercase text-sm text-danger d-block cursor-pointer" data-user="' + item.UserFrom + '" data-id="' + item.ID + '">@Local["Từ chối"]</a>';
                if (item.SignData != '') {
                    func = '<a class="sign   text-lowercase text-sm text-info d-block cursor-pointer" data-id="' + item.ID + '">@Local["Đã ký"]</a>' + func;
                }
                else {
                    func = '<a class="sign   text-lowercase text-sm text-secondary d-block cursor-pointer" data-id="' + item.ID + '">@Local["Ký tên"]</a>' + func;
                }
            }
            else {
                func = '<a class="approve  text-lowercase text-sm text-success cursor-pointer" data-user="' + item.UserFrom + '" data-id="' + item.ID + '">@Local["Đồng ý"]</a>';
            }
        }
        let tr =
            '<td>'
            + '<div class="d-flex px-2 py-0 align-items-center">'
            + '<div class="icon icon-shape icon-sm shadow border-radius-md text-center d-flex align-items-center justify-content-center  me-2">' + status + '</div>'
            + '<div class="d-flex flex-column justify-content-center">'
            + '<div>'
            + '<a data-code="' + item.Code + '"  class="code cursor-pointer mb-0 text-primary ms-2 text-sm fw-bold border-bottom border-primary">' + item.Code + '</a>'
            + '<div class="ms-2 text-sm text-dark">'
            + '<p class="d-inline mb-0 text-sm">' + item.CreatedName + '</p>'
            + '<p class="ms-2 d-inline mb-0 text-sm">' + ConvertTimeSpanUTC_Time(item.Created) + '</p>'
            + '</div>'
            + '</div>'
            + '</div>'
            + '</div>'
            + '<p class="text-secondary text-sm mb-0 px-2">' + item.Note + '</p>'
            + '</td>'
            + '<td class="align-middle text-center text-sm">'
            + func
            + '</td>';
        return '<tr id="myapprove_' + item.ID + '">' + tr + '</tr>';
    }

    function MyApprove_Event() {
        $("#MyApproveOrder .sign").unbind("click").bind('click', function(event) {
            event.preventDefault();
            let id = $(this).attr("data-id");
            MyApprove_Sign(id, MyApproveData[id].SignData);
        });
        $("#MyApproveOrder .approve").unbind("click").bind('click', function(event) {
            event.preventDefault();
            let id = $(this).attr("data-id");
            let user = $(this).attr("data-user");
            MyApprove_Approve(id, user);
        });
        $("#MyApproveOrder .reject").unbind("click").bind('click', function(event) {
            event.preventDefault();
            let id = $(this).attr("data-id");
            let user = $(this).attr("data-user");
            MyApprove_Reject(id, user);
        });
        $("#MyApproveOrder .code").unbind("click").bind('click', function(event) {
            event.preventDefault();
            let code = $(this).attr("data-code");
            $("#MyApproveDetail").empty();
            let div = '<div  class="m-0 viewcontent border-dashed border-1 border-secondary border-radius-md p-4" data-code="' + code + '"></div>';
            $("#MyApproveDetail").append(div);
            $('#MyApproveDetail .viewcontent[data-code="' + code + '"]').load("/WareHouse/Ticket/ViewForm?type=8&code=" + code + "&ticketproduct=0");
            $('#MyApproveDetail').show();
        });


    }
    function MyApprove_Approve(id, user) {
        AjaxLoad(url = "/Myinfo/MyApproveform/?handler=Approve"
            , data = {
                'id': id
            }
            , async = true, error = null
            , success = function(result) {
                if (result == "1") {
                    MyApproveLoad(ismore = 0, curid = id);
                    fcm_senduser(user, Master_circleAvatar, sys_employeeName_Main, '@Local["Phiếu đã được duyệt"]');
                }
            }
        );
    }
    function MyApprove_Reject(id, user) {
        AjaxLoad(url = "/Myinfo/MyApproveform/?handler=Reject"
            , data = {
                'id': id
            }
            , async = true, error = null
            , success = function(result) {
                if (result == "1") {
                    MyApproveLoad(ismore = 0, curid = id);
                    if (typeof Myinfo_Getdata == 'function' && $.isFunction(Myinfo_Getdata)) {
                        Myinfo_Getdata();
                    }
                    fcm_senduser(user, Master_circleAvatar, sys_employeeName_Main, '@Local["Phiếu đã bị từ chối"]');
                }
            }
        );
    }
    async function MyApprove_Sign(id, signdata) {
        await Signature_Action(signdata, 1);
        if (Signature_ResultSignation != "") {
            AjaxLoad(url = "/Myinfo/MyApproveform/?handler=UpdateSign"
                , data = {
                    'id': id,
                    'sign': Signature_ResultSignation
                }
                , async = true, error = null
                , success = function(result) {
                    if (result == "1") {
                        MyApproveLoad(0);
                        if (typeof Myinfo_Getdata == 'function' && $.isFunction(Myinfo_Getdata)) {
                            Myinfo_Getdata();
                        }
                    }
                }
            );

        }

    }
</script>
