@page
@model SourceMain.Pages.Permission.PermissionPageDetailModel
@{ Layout=null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <meta charset="utf-8" />
    <link href="/assests/dist/semantic.min.custom.css" rel="stylesheet" />
    <link href="/assests/dist/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="/assests/dist/css/main.css" rel="stylesheet" />
    <script>css_require('/css/main.custom.css')</script>
    <link href="/assests/dist/plugins/lobibox/css/lobibox.css" rel="stylesheet" />

</head>

<body>
    <div class="header">
        @Local["Màn hình"]
    </div>
    <div class="row">
        <div class="sixteen wide tablet eight wide computer column">
            <div class="ui segments">
                <form class="ui form segment form3" id="form3">
                    <div class="field">
                        <label>@Local["Tên màn hình"]</label>
                        <input id="PermissionPage" name="name" type="text" />
                    </div>
                    <div class="field">
                        <label>@Local["Giá trị"]</label>
                        <input id="ValuePermissionPage" name="name" type="text" />
                    </div>
                    <div class="field">
                        <label>@Local["Nhóm màn hình"]</label>
                        <div class="ui fluid search selection dropdown" id="GroupPerID">
                            <input type="hidden" name="source" />
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">@Local["Nhóm màn hình"]</div>
                            <div id="cbbGroupPerID" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label>@Local["Ghi chú"]</label>
                            <textarea id="NotePermissionPage" name="content"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="actions">
        <div style="float: right">
            <button class="ui teal button" form="form3" type="submit" onclick="return ExcuteData()">@Local["Lưu"]</button>
        </div>
        <div style="float: right">
            <button class="ui grey button" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
        </div>
    </div>

    <script type="text/javascript">
        var CurrentID = '@Model._CurrentID';
        function ExcuteData() {
            var data = new Object();
            data.Name = $('#PermissionPage').val() ? $('#PermissionPage').val() : "";
            data.Value = $('#ValuePermissionPage').val() ? $('#ValuePermissionPage').val() : "";
            data.Note = $('#NotePermissionPage').val() ? $('#NotePermissionPage').val() : "";
            data.GroupID = Number($('#GroupPerID').dropdown('get value')) ? Number($('#GroupPerID').dropdown('get value')) : 0;
            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Permission/PermissionPageDetail/?handler=ExcuteData"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: CurrentID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            LoadPermissionPageListAjax();
                        } else {
                            notiError("Tên màn hình đã tồn tại");
                        }
                    });
                $('#DetailModal').modal('hide');
                $("#DetailModal_Content").html('');
            }
            return false;
        }

        $(document).ready(function () {
            AjaxLoad(url = "/Permission/PermissionPageDetail/?handler=LoadComboMain"
                , data = {
                }, async = true, error = null
                , success = function (result) {
                    let datagrouppermissionpage = JSON.parse(result);
                    Load_Combo(datagrouppermissionpage, "cbbGroupPerID", true);
                    $("#GroupPerID ").dropdown("refresh");
                    if (CurrentID != "0")
                        LoadDataUpdatePermissionPage();
                });

        });


        function LoadDataUpdatePermissionPage() {
            AjaxLoad(url = "/Permission/PermissionPageDetail/?handler=Loadata"
                , data = {
                    id: CurrentID
                }, async = true, error = null
                , success = function (result) {
                    let dataPage = JSON.parse(result);
                    $('#PermissionPage').val((dataPage[0].PageName));
                    $('#NotePermissionPage').val((dataPage[0].Note));
                    $('#ValuePermissionPage').val((dataPage[0].PageValue));
                    $("#GroupPerID ").dropdown("refresh");
                    $("#GroupPerID ").dropdown("set selected", dataPage[0].GroupID);
                });
        }
    </script>



    <script>js_require('/assests/dist/semantic.min.js');</script>
    <script>js_require('/assests/dist/plugins/cookie/js.cookie.js');</script>
    <script>js_require('/assests/dist/plugins/nicescrool/jquery.nicescroll.min.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
    <script>js_require('/assests/dist/plugins/pacejs/pace.js');</script>
    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/comon/noti_function.js');</script>
    <script>js_require('/js/comon/load_datasource.js');</script>

</body>

</html>

