@page
@model MLunarCoffee.Pages.Login.ScanQRInfoModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body pt-2 ">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card card-plain mt-3">
                            <div class="card-header pb-0 text-start">
                                <h3 class="font-weight-bolder text-primary text-gradient">@Local["Thông tin user"]</h3>
                                <p class="mb-0">@Local["Nhập mật khẩu tài khoản hiện tại"]</p>
                            </div>
                            <div class="card-body">
                                <div class="row px-2 form3" id="sqrform">
                                    <div class="col-12 col-sm-6 col-xl-6 p-1">
                                        <div class="row px-1">
                                            <div class="col-12 p-1">
                                                <label>@Local["Tên đăng nhập"]</label>
                                                <input id="SQR_username" type="text" class="form-control" disabled placeholder="eg .@Local["Tên đăng nhập"]">
                                            </div>
                                            <div class="col-12 p-1">
                                                <label>@Local["Mật khẩu"]</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-eye-slash SQR_showPass"></i>
                                                    </span>
                                                    <input id="SQR_password" class="ctrlogin ps-2  sercu form-control" autocomplete="off" placeholder="eg .@Local["Mật khẩu"]">
                                                </div>
                                            </div>
                                            <div class="col-12 p-1 d-flex my-3">
                                                <button class="btn btn-secondary me-2 w-50 ms-auto" form="sqrform" onclick="CloseModal()">Đóng</button>
                                                <button type="button" class="btn btn-primary w-50" onclick="event.preventDefault(); SQR_Generate()">@Local["Tạo code"]</button>
                                            </div>
                                            <div class="col-12 p-1">
                                                <div class="text-danger text-gradient text-sm font-weight-bold" id="SQR_textError"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-xl-6 p-1 d-flex justify-content-center">
                                        <div id="SQRotherarea" style="height:200px;" class="my-0 border border-1  rounded-3 position-relative d-flex justify-content-center">
                                            <div class="created bg-white rounded-circle position-absolute top-50 z-index-2 start-50 translate-middle opacity-0">
                                                <i class="fas fa-check fs-5 text-primary p-2 fw-bolder"></i>
                                            </div>
                                            <div class="expired bg-white rounded-circle position-absolute top-50 z-index-2 start-50 translate-middle">
                                                <img class="p-1 avatar avatar-sm border rounded-circle border-3" src="/Image/dinosaur.png" />
                                            </div>
                                            <div id="SQR_waiting" class="waitingdiv text-center position-absolute top-50 z-index-2 start-50 translate-middle" style="display: none;">
                                                <div class="spinner-border text-primary" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                            <div class="cursor-pointer p-2 opacity-1 m-2" id="SQR_qrcode"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let SQR_userName = "";
    let SQR_password = "";
    let SQR_url = "";
    let SQR_encryptPass = "";
    let SQR_CodeOb = new QRCode("SQR_qrcode", {
        width: 170,
        height: 170,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H,
    });
    $(document).ready(function () {
        SQR_url = window.location.origin;
        let obj = author_get('author');
        if (obj != '') {
            let _obj = JSON.parse(obj);
            SQR_userName = _obj.username;
            SQR_encryptPass = _obj.password;
            $('#SQR_username').val(SQR_userName);
        }
        SQR_event();
        SQR_DetectExpired();
    });
    function SQR_DetectExpired () {
        SQR_CodeOb.clear();
        if (checkCookie('QRMLunarCoffee')) {
            let Cookie = JSON.parse(getCookie('QRMLunarCoffee'));
            let urlLogin = Cookie.urlLogin;

            SQR_CodeOb.makeCode(urlLogin);
            $('#SQRotherarea').addClass('valid');
        }
        else {
            $('#SQRotherarea').removeClass('valid');
            SQR_CodeOb.makeCode('@Local["Hết hạn"]');
        }
    }

    function SQR_Generate () {
        let password = $('#SQR_password').val() ? $('#SQR_password').val() : "";
        if (SQR_userName != "" && password != "") {
            $('#SQR_textError').html('')
            $('#sqrform').form('validate form');
            if ($('#sqrform').form('is valid')) {
                AjaxLoad(url = "/Login/ScanQRInfo/?handler=CheckPass"
                    , data = {'password': password, 'crypt': SQR_encryptPass}
                    , async = true
                    , error = function () {notiError_SW();}
                    , success = function (result) {
                        if (result == "1") {
                            SQR_password = SQR_encryptPass;
                        } else {
                            SQR_password = '';
                        }
                        QRList_RenderQR(SQR_userName, SQR_password);
                    },
                    sender = null,
                    before = function (e) {
                        $('#SQR_waiting').show();
                    },
                    complete = function (e) {
                        $('#SQR_waiting').hide();
                    }

                );
            }
        }
        else {
            $('#SQR_textError').html('@Local["Kiểm tra lại mật khẩu"]')
        }
        return false;
    }

    function QRList_RenderQR (username, password) {
        if (username != "" && password != "") {
            let timeExpired = 7200 //second
            let detail = username != '' && password != '' ? `?loginfrom=scanqr&loginuser=${username.trim()}&loginpass=${password.trim()}` : '';
            let urlLogin = `${SQR_url}${detail}`;
            let exdays = timeExpired / 60 / 60 / 24;
            let d = new Date();
            d.setTime(d.getTime() + (timeExpired * 1000));
            let data = {'urlLogin': urlLogin, 'timeExpired': d}
            setCookie('QRMLunarCoffee', JSON.stringify(data), exdays);
            if (typeof Master_getQRSourceCode == 'function') Master_getQRSourceCode();
            notiSuccess()
            SQR_DetectExpired();
        }
    }
    function SQR_event () {
        $(".SQR_showPass").unbind().on("click", function () {
            let obj = $(this).parent().next();
            if (obj != undefined) {
                if (obj.hasClass('sercu')) {
                    obj.removeClass('sercu');
                    $(this).addClass('fa-eye');
                    $(this).removeClass('fa-eye-slash');
                }
                else {
                    obj.addClass('sercu')
                    $(this).removeClass('fa-eye');
                    $(this).addClass('fa-eye-slash');
                }
            }
        })
    }
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>