@page
@model MLunarCoffee.Pages.Setting.DiseaseStatus.DiseaseSignDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Ký hiệu"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết nội dung ký hiệu chuẩn đoán"]</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formDSDetail">
                        <div class="field col-12 px-1">
                            <label>@Local["Tên"]</label>
                            <input class="form-control" id="DSDetail_Name" name="name" type="text" disabled/>
                        </div>
                        <div class="field col-12 px-1">
                            <label>@Local["Nội dung"]</label>
                            <textarea class="form-control" id="DSDetail_Content" name="name" type="text" />
                        </div>   
                        
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formDSDetail" onclick="event.preventDefault(); return CloseModal()">@Local["Đóng"]</button>
                        <button form="formDSDetail" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();return  DSDetail_Excute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var ser_SignDetailID;
        $(document).ready(function () {
            ser_SignDetailID = '@Model._DetailID';
            if (ser_SignDetailID != "0") DSDetail_LoadDataUpdate();                
        });

    function  DSDetail_Excute() {
        let Content = $('#DSDetail_Content').val() ? $('#DSDetail_Content').val() : "";        
        AjaxLoad(url = "/Setting/DiseaseStatus/DiseaseSignDetail/?handler=ExcuteData"
            , data = {
                content: Content,
                CurrentID: ser_SignDetailID
            }, async = true, error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    DSList_Load();

                    $('#DetailModal').modal('hide');
                    $("#DetailModal_Content").html('');                
                } else {
                    notiError_SW();
                }
            });
            return false;
        }

        function DSDetail_LoadDataUpdate() {
        AjaxLoad(url = "/Setting/DiseaseStatus/DiseaseSignDetail/?handler=Loadata"
                , data = {
                    id: ser_SignDetailID
                }, async = true, error = null
                , success = function (result) {
                    let data = JSON.parse(result);
                    $('#DSDetail_Content').val(data[0].Content);
                    $('#DSDetail_Name').val(data[0].Name);
                });

        }
</script>
<script src="/js/main.js"></script>
<script src="/js/customjs/custom-validation.js"></script>
