@page
@model MLunarCoffee.Pages.Setting.DiseaseStatusDetailModel
@{
    Layout = null;
}
<script>js_require_notasync('/assests/dist/ColorPicker/spectrum.js', true);</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Trạng thái chẩn đoán"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết trạng thái chẩn đoán"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formDisease">

                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Tình trạng"]</label>
                            <input id="diseaseName" name="name" type="text" class="form-control" placeholder="eg .@Local["Tình trạng"]" />
                        </div>
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Nội dung"]</label>
                            <input id="content" name="content" type="text" class="form-control" placeholder="eg .@Local["Nội dung"]" />
                        </div>
                    </div>
                    <div class="row px-1 d-none" id="DiseaseStatus_Cosmetic">
                        <div class="field col-12 col-md p-1">
                            <label>@Local["Loại"]</label>                           
                            <div class="ui fluid search selection dropdown form-control" id="disease_type">
                                <input type="hidden" name="" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Ký hiệu"]</div>
                                <div id="cbbtype" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>  
                         <div class="field col-12 col-md p-1" id="disease_SignArea">
                            <label>@Local["Ký hiệu"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="disease_sign">
                                <input type="hidden" name="" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Ký hiệu"]</div>
                                <div id="cbbSign" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div> 
                        <div class="field col-12 col-md-6 p-1">
                            <label>@Local["Mã màu"]</label>
                            <div class="field col-12 p-1 border border-1 rounded-2">
                                <input id="D_ColorCode" name="fillCode" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formDisease" onclick="event.preventDefault();return CloseModal()">@Local["Hủy"]</button>
                        <button id="DiseaseBtnDetail" form="formDisease" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();Disease_ExcuteDetail()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">    
    let ser_IsTeeth;
    var ser_DetailID;
    var dataComboDiseaseType, dataComboDiseaseSign;
    
    $(document).ready(function () {        
        ser_DetailID = @Model._DataDetailID;
        ser_IsTeeth = '@Model._IsTeeth';
        Disease_Initialization();
        Disease_LoadInitCombo();
        if (ser_DetailID != "0") Disease_LoadDataUpdate();
    });

    //#region // Init
    function Disease_Initialization() {
        if (ser_IsTeeth == "1") {
            $("#DiseaseStatus_Cosmetic").removeClass('d-none');
            $("#D_ColorCode").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                showInput: true,
                color: '#cb0c9f',
                palette: [
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ]
            });
        }
    }
    function Disease_LoadInitCombo(){
        AjaxLoad(url = "/Setting/DiseaseStatus/DiseaseStatusDetail/?handler=LoadInitializeData"
            , data = {}, async = false, error = null
            , success = function (result) {
                if(result!="[]"){
                    dataComboDiseaseType = JSON.parse(result).Type;
                    dataComboDiseaseSign = JSON.parse(result).Sign;
                    Disease_Event();                    
                    Load_Combo(dataComboDiseaseType, "cbbtype", true);
                    $("#disease_type").dropdown("refresh");
                    $("#disease_type").dropdown("set selected", dataComboDiseaseType[0].ID);


                }  
            }
        );
    }
    //#endregion
    //#region // LOAD DETAIL
    function Disease_LoadDataUpdate() {
        AjaxLoad(url = "/Setting/DiseaseStatus/DiseaseStatusDetail/?handler=Loadata"
            , data = { id: ser_DetailID, IsTeeth:ser_IsTeeth}, async = true, error = null
            , success = function (result) {
                DataDisease = JSON.parse(result);
                $('#diseaseName').val((DataDisease[0].Name));
                $('#content').val((DataDisease[0].Content));
                $("#disease_type").dropdown("refresh");
                $("#disease_type").dropdown("set selected", DataDisease[0].Type);
                $("#disease_sign").dropdown("refresh");
                $("#disease_sign").dropdown("set selected", DataDisease[0].SignID);
                $("#D_ColorCode").spectrum("set", DataDisease[0].Color);
            })

    }
    //#endregion
    //#region // EXECUTE
    function Disease_ExcuteDetail() {
        var data = new Object();
        data.Name = $('#diseaseName').val() ? $('#diseaseName').val() : "";
        data.Content = $('#content').val() ? $('#content').val() : "";
        data.Type = $('#disease_type').dropdown('get text') ? $('#disease_type').dropdown('get text') : "";
        data.SignID = $('#disease_sign').dropdown('get value') ? $('#disease_sign').dropdown('get value') : "";
        data.Color = ser_IsTeeth != "0" ? $("#D_ColorCode").spectrum('get').toHexString() : "";
        $('#formDisease').form('validate form');
        if ($('#formDisease').form('is valid')) {
            AjaxLoad(url = "/Setting/DiseaseStatus/DiseaseStatusDetail/?handler=ExcuteData"
                , data = { data: JSON.stringify(data), CurrentID: ser_DetailID, IsTeeth: ser_IsTeeth }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        DiseaseStatusLoadList();
                        CloseModal();
                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
    }

    //#endregion
    //#region //Event
    function Disease_Event(){
        $("body").on("change", "#disease_type", function (e) {        
            let TypeName = $('#disease_type').dropdown('get text') ? $('#disease_type').dropdown('get text').trim() : "";
            if(dataComboDiseaseSign && dataComboDiseaseSign.length != 0){
                let data = dataComboDiseaseSign.filter(word =>
                {
                    return (xoa_dau(word["Type"].toLowerCase()).includes(TypeName));
                });
                if(data && data.length != 0){
                    $("#disease_SignArea").removeClass('d-none');
                    Load_Combo(data, "cbbSign", false);
                    $("#disease_sign").dropdown("refresh");                    
                }
                else $("#disease_SignArea").addClass('d-none');
            }
            else $("#disease_SignArea").addClass('d-none');
        });
    }


    //#endregion
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>



