@page
@model MLunarCoffee.Pages.Employee.EmployeeDetailModel
@{
    Layout = null;
}
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>


<div id="empdetail_container">
    <div class="d-lg-flex mb-3">
        <div class="col-w-300 mt-1 mx-auto px-2 pe-3">
            <div class="text-start">
                <div class="accordion">
                    <div>
                        <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#empdetail_CollapseNoteImg1" aria-expanded="true" aria-controls="empdetail_CollapseNoteImg1"> 
                            <h6 class="text-primary text-sm font-weight-bold mb-0">@Local["Hình ảnh đại diện"]</h6>
                        </button>
                    </div>
                </div>
                <div class="ms-2">
                    <div id="empdetail_CollapseNoteImg1" class="collapse show collapsesticky">
                        <p class="text-dark text-sm fw-bold mb-1">
                            @Local["Hướng dẫn"]:
                            <span class="text-dark text-sm text-normal ms-2"> @Local["Hình đại diện để định danh nhân viên, vui lòng sử dụng hình ảnh rõ nét để tối ưu hiệu quả"]</span>
                        </p>
                        <p class="text-dark text-sm fw-bold mt-2 mb-1">
                            @Local["Kích thước"]:
                            <span class="text-dark text-sm text-normal ms-2">110px x 110px</span>
                        </p>
                        <p class="text-dark text-sm fw-bold mt-2 mb-2">
                            @Local["Hình minh họa"]:
                        </p>
                        <div class="d-block avatar avatar-xxl position-relative mb-2">
                            <a href="/Image/Illustration/avata-user.png" target="_blank">
                                <img src="/Image/Illustration/avata-user.png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                            </a>
                        </div>
                    </div>
                    <div class="mt-1">
                        <div class="row m-0">
                            <div class="col-auto px-0 position-relative overflow-hidden">
                                <img id="emp_avata" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                <div class="upload-container">
                                    <i class="fas fa-camera fs-3"></i>
                                    <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="emp_uploadavata" accept="image/*" type="file" name="files[]" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1">
            <form class="form form3" id="Emp_FormEmployee" onsubmit="event.preventDefault(); return false;">
                <div class="card p-3 border-radius-xl bg-white" data-animation="FadeIn">
                    <div class="row">
                        <div class="col-auto my-auto">
                            <div class="h-100">
                                <h6 class="font-weight-bolder mb-0">@Local["Hồ sơ cá nhân"]</h6>
                                <p class="mb-0 text-sm">@Local["Thông tin nhân viên"]</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent detailemp" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link cursor-pointer active" data-bs-toggle="pill" data-bs-target="#detailemp_info" role="tab">@Local["Thông tin chung"]</a>
                                </li>
                                <li class="nav-item" role="presentation" id="tabAllowance">
                                    <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#detailemp_allowance" role="tab">@Local["Phụ cấp"]</a>
                                </li>
                                <li class="nav-item" role="presentation" id="tabEmployeeDetail">
                                    <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#detailemp_detail" role="tab">@Local["Khác"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-wrapper position-relative end-0 form3" id="employeeDetail">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="detailemp_info" role="tabpanel">
                                <div class="d-flex mt-3" id="emp_gender">
                                </div>
                                <div class="row px-1">
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                        <label>@Local["Nhân viên"]</label>
                                        <input class="form-control" id="emp_name" name="name" type="text" placeholder="eg. @Local["Tên"]" />
                                    </div>
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                        <label>@Local["Nhân viên"]</label>
                                        <input class="form-control" id="emp_code" name="code" disabled type="text" placeholder="eg. @Local["Mã"]" />
                                    </div>
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                        <label>@Local["Ngày sinh"]</label>
                                        <div class="div-birthday">
                                            <input autocomplete="cc-number" class="form-control" id="emp_birthday" name="dateValid" placeholder="eg .dd-mm-yyyy" maxlength="10" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row px-1">
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                        <label>@Local["Điện thoại (10 ký tự số)"]</label>
                                        <input class="form-control" type="tel" name="phonenumber" id="emp_phone" placeholder="eg. 0979777999" maxlength="10" />
                                    </div>
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                        <label>Email</label>
                                        <input class="form-control" id="emp_email" type="text" placeholder="eg. @Local["Email"]" />
                                    </div>
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2" id="nickname">
                                        <label>@Local["Nickname"]</label>
                                        <input class="form-control" id="emp_nickname" name="Nickname" type="text" placeholder="eg. @Local["Nickname"]" />
                                    </div>
                                </div>
                                <div class="row px-1">
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2">
                                        <label><span>@Local["Bộ phận"]</span></label>
                                        <div class="ui fluid search selection dropdown form-control" id="emp_group">
                                            <input type="hidden" name="GroupUser" />
                                            <i class="dropdown icon"></i>
                                            <input class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">@Local["Chọn bộ phận"]</div>
                                            <div id="cbbGroup" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 mt-2" id="TokenBranch">
                                        <label><span>@Local["Chi nhánh"]</span></label>
                                        <div class="ui fluid multiple search selection dropdown" id="emp_branchID">
                                            <input type="hidden" name="" />
                                            <i class="dropdown icon"></i>
                                            <input id="searchtokenProduct" class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">@Local["Chọn chi nhánh"]</div>
                                            <div id="cbbtokenBranch" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-sm-12 col-md-4 col-xl-4 flex-grow-1 px-1 pt-1 mt-2">
                                        <div class="form-check mt-4">
                                            <input id="AllBranch" class="form-check-input" type="checkbox" onchange="Emp_ShowAllBranch()">
                                            <label id="lbAllBranch" class="form-check-label pt-1" for="AllBranch">
                                                @Local["Tất cả chi nhánh"]
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="detailemp_allowance" role="tabpanel">
                                <ul id="Emp_AllowanceContent" class="list-group mt-3">
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="detailemp_detail" role="tabpanel">
                                <div class="row px-1">
                                    <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                        <label>@Local["Chức vụ"]</label>
                                        <div class="ui fluid search selection dropdown" id="emp_level">
                                            <input id="seachingLevel" type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <i class="remove icon"></i>
                                            <input id="inputLevel" class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">@Local["Chọn chức vụ"]</div>
                                            <div id="cbbLevel" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                        <label>@Local["Loại hợp đồng"]</label>
                                        <div class="ui fluid search selection dropdown" id="emp_contract">
                                            <input id="seachingContract" type="hidden" />
                                            <i class="dropdown icon"></i>
                                            <i class="remove icon"></i>
                                            <input id="inputContract" class="search" autocomplete="off" tabindex="0" />
                                            <div class="default text">@Local["Chọn loại hợp đồng"]</div>
                                            <div id="cbbContract" class="menu" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row px-1">
                                    <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                        <label>@Local["Số ngày phép năm"]</label>
                                        <input class="form-control" id="emp_annualeave" name="AnnuaLeave" type="number" value="0" onchange="return Emp_AnnuaLeaveChange()" />
                                    </div>
                                    <div class="field col-12 col-md-3 col-xl-3 px-1 mt-2">
                                        <label>@Local["Ngày phép đã sử dụng"]</label>
                                        <input class="form-control" id="emp_daysUsed" name="" type="text" value="0" disabled />
                                    </div>
                                    <div class="field col-12 col-md-3 col-xl-3 px-1 mt-2">
                                        <label>@Local["Ngày phép còn lại"]</label>
                                        <input class="form-control" id="emp_daysLeft" name="" type="text" value="0" disabled />
                                    </div>
                                </div>
                                <div class="row px-1">
                                    <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                        <label>@Local["Lương căn bản"]</label>
                                        <input class="form-control" id="emp_basicSalary" name="basicsalary" type="text" value="0" />
                                    </div>
                                    <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                        <label>@Local["Lương thỏa thuận"]</label>
                                        <input class="form-control" id="emp_salaryAgreed" name="salaryagreed" type="text" value="0" />
                                    </div>
                                </div>
                                <div class="row px-1">
                                    <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                        <label>@Local["Ngày nhận việc"]</label>
                                        @*<input class="form-control" id="emp_InitDay" type="text" value="0" />*@
                                        <input class="form-control" id="emp_InitDay" placeholder="eg .dd-mm-yyyy" maxlength="10" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="fixed-botombutton">
        <div class="action_Save">
            <div class="text-danger text-sm pt-3 px-3" id="textShowMessage"></div>
            <div class="action_Save-Content">
                <div id="Emp_btnCancel" class="_tab_control_">
                    <button class="btn btn-secondary" form="Emp_FormEmployee" onclick="event.preventDefault(); CloseModal()">@Local["Đóng"]</button>
                </div>

                <div id="Emp_btnSave" class="_tab_control_">
                    <button form="Emp_FormEmployee" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();Emp_ExcuteData()">@Local["Lưu"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none" id="empdetail_preview">

</div>

<script src="/js/comon/initialize_setting.js"></script>
<script type="text/javascript">
    var type_empdetail;
    var ser_EmpDetailID = '@Model._EmployeeDetailID';
    var ser_GroupDetailID = '@Model._EmployeeGroupID';
    var ser_defaultimg = Master_Default_Pic;
    var checkedAllBranch = 0;
    var DataAllowance = [];
    var TotalAlowance = 0;
    var DataAllowanceType = [];
    var DataGroup = [];
    var relImage = "", feaImage = "";
    let EMP_Sys_Image;
    let Emp_file;
    let EMP_urlAvatar = "/Api/Upload/Upload?Type=AvatarUser";
    $(document).ready(function () {
        $('#emp_birthday').date_validate();
        $('#emp_InitDay').date_validate();
        Emp_LoadData_SalaryType();
        $("#on_status").show();

        $('#emp_avata').attr('src', ser_defaultimg);
        Emp_LoadCombo();
        $('#emp_basicSalary').divide();
        $('#emp_salaryAgreed').divide();
        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl, '@Model.CurrentPath');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model.CurrentPath');
        $('.ui.dropdown').dropdown();
        EMP_Sys_Image = {
            size: 0
        }

        UploadImage({
            inputFile: 'emp_uploadavata'
            , btnInput: ''
            , avatar: 'emp_avata'
            , condition: EMP_Sys_Image
            , success: (_file) => {
                Emp_file = _file;
                Emp_CropImage(_file);
            }
            , error: (err) => {

            }
        })
    });
    function Emp_CropImage (_file) {
        $("#empdetail_container").addClass('d-none');
        $("#empdetail_preview").removeClass('d-none');
        $("#empdetail_preview").html('');
        $("#empdetail_preview").load('/Image/Previewcrop'
            , function (response, status, xhr) {
                preview_Setimg(_file
                    , closefn = function () {
                        $("#empdetail_container").removeClass('d-none');
                        $("#empdetail_preview").addClass('d-none');
                        $("#empdetail_preview").html('');
                    }
                    , savefn= function (_f, _input) {
                    Emp_file = _input;
                    $('#emp_avata').attr('src', _f);
                });
            });
   
    }


    function Emp_AnnuaLeaveChange() {
        let annuaLeave = Number($('#emp_annualeave').val());
        let daysUsed = Number($('#emp_daysUsed').val());
        $('#emp_daysLeft').val(annuaLeave - daysUsed);
    }
    function Emp_ShowAllBranch() {
        document.getElementById("textShowMessage").innerHTML = "";
        if (document.getElementById('AllBranch').checked) {
            $("#lbAllBranch").addClass('fw-bold');
            $("#emp_branchID").addClass('disabled  bg-light opacity-10');
            $('#emp_branchID').dropdown('clear');
            checkedAllBranch = 1;
        } else {
            $("#lbAllBranch").removeClass('fw-bold');
            $("#emp_branchID").removeClass('disabled bg-light opacity-10');
            //$("#TokenBranch").show();
            checkedAllBranch = 0;
        }
    }
    async function Emp_ExcuteData() {
        var data = new Object();
        data.Gender_ID = Number($('input[name=emp_gender]:checked').val());
        data.Group = Number($('#emp_group').dropdown('get value')) ? Number($('#emp_group').dropdown('get value')) : 0;
        data.Email1 = $('#emp_email').val() ? $('#emp_email').val() : "";
        data.Nickname = $('#emp_nickname').val() ? $('#emp_nickname').val() : "";
        data.Address = $('#Address').val() ? $('#Address').val() : "";
        data.Phone1 = $('#emp_phone').val() ? $('#emp_phone').val() : "";
        data.Birthday = formatDateInput($('#emp_birthday').val());
        data.Ini_Date = formatDateInput($('#emp_InitDay').val());
        data.Name = $('#emp_name').val() ? $('#emp_name').val() : "";
        data.Code = $('#emp_code').val() ? $('#emp_code').val() : "";
        data.TotalAlowance = TotalAlowance;
        let linkImg = await AjaxUpload_ImageByfile(EMP_urlAvatar, Emp_file);
        if (linkImg != "0") {
            relImage = linkImg;
            feaImage = linkImg;
        }

        data.relImage = relImage;
        data.feaImage = feaImage;

        data.isAllBranch = checkedAllBranch;

        data.Level = Number($('#emp_level').dropdown('get value')) ? Number($('#emp_level').dropdown('get value')) : 0;
        data.Contract = Number($('#emp_contract').dropdown('get value')) ? Number($('#emp_contract').dropdown('get value')) : 0;
        data.AnnuaLeave = Number($('#emp_annualeave').val()) ? Number($('#emp_annualeave').val()) : 0;
        data.BasicSalary = Number($('#emp_basicSalary').val()) ? Number($('#emp_basicSalary').val()) : 0;
        data.SalaryAgreed = Number($('#emp_salaryAgreed').val()) ? Number($('#emp_salaryAgreed').val()) : 0;


        (checkedAllBranch == 1) ? data.Branch = "" : data.Branch = $('#emp_branchID').dropdown('get value');

        $('#Emp_FormEmployee').form('validate form');
        if ($('#Emp_FormEmployee').form('is valid')) {
            let today = new Date();
            let todayYear = today.getFullYear();
            let birthdayYear = ConvertString_DMY_To_DateTime($('#emp_birthday').val()).getFullYear();

            if ((data.Branch === '' && data.isAllBranch === 0) || (data.Group == 14 && data.Nickname == "") || (todayYear - birthdayYear < 0) || (todayYear - birthdayYear > 120)){
                if (data.Group == 14 && data.Nickname == "") {
                    document.getElementById("textShowMessage").innerHTML = "@Local["Nickname (hiển thị trong lịch hẹn bác sĩ) - bộ phận bác sĩ bắt buộc nhập"]";
                    $('#nickname').addClass('error')
                }
                else if (data.Branch === '' && data.isAllBranch === 0) {
                    document.getElementById("textShowMessage").innerHTML = "@Local["Chọn phạm vi sử dụng phần mềm"]";
                    $('#emp_branchID').addClass('error')
                }
                else {
                    $('#emp_birthday').parent().parent().addClass('error');
                    document.getElementById("textShowMessage").innerHTML = "@Local["Sai định dạng"]";

                }
            }
            else {
                document.getElementById("textShowMessage").innerHTML = "";
                for (let i = 0; i < DataAllowanceType.length; i++) {
                    let item = DataAllowanceType[i];
                    let Check = $(`#Emp_AllowanceDetail_${item.ID} .Emp_AllowanceChoose`);
                    let Amount = $(`#Emp_AllowanceDetail_${item.ID} .Emp_AllowanceAmount`);
                    if (Check.is(':checked')) {
                        if (Number(Amount.val()) >= 0) {
                            document.getElementById("textShowMessage").innerHTML = "";
                            Amount.parent().removeClass('error');
                            let e = {};
                            e.id = i;
                            e.SalaryID = item.ID;
                            e.Amount = Number(Amount.val());
                            e.Created_by = sys_userID_Main;
                            DataAllowance.push(e);
                            TotalAlowance += Number(Amount.val());
                        }
                        else {
                            TotalAlowance = 0;
                            DataAllowance = [];
                            Amount.parent().addClass('error');
                            document.getElementById("textShowMessage").innerHTML = "@Local["Sai định dạng"]";
                            return false;
                        }
                    }
                }
            }
            data.TotalAlowance = TotalAlowance;

            if (document.getElementById("textShowMessage").innerHTML == '') {
                if ($('#emp_birthday').date_validate().get_validate() == true) {
                    AjaxLoad(url = "/Employee/EmployeeDetail/?handler=ExcuteData"
                        , data = {
                            data: JSON.stringify(data),
                            CurrentID: ser_EmpDetailID,
                            type: type_empdetail,
                            dataAllowrance: JSON.stringify(DataAllowance)
                        }, async = true, error = null
                        , success = function (result) {
                            let data = JSON.parse(result);
                            let r = data[0]?.Result;
                            let code = data[0]?.Code;
                            if (r == "1") {
                                notiSuccess();
                                if (typeof Emp_Load == 'function' && $.isFunction(Emp_Load)) {
                                    Emp_Load();

                                }
                                if ($('#MS_PopupAvatar').length && type_empdetail == "updatePersonal")
                                    $('#MS_PopupAvatar').attr('src', feaImage);
                                syslog_emp((ser_EmpDetailID != '0' ? 'u' : 'i'), code);
                                $('#DetailModal').modal('hide');
                                $("#DetailModal_Content").html('');
                            } else if(r=="0"){
                                $("#textShowMessage").html('@Local["Trùng dữ liệu"]');
                            }
                            else notiError_SW();
                        });
                }
            }

        }
        return false;
    }
    function Emp_LoadCombo() {
        AjaxLoad(url = "/Employee/EmployeeDetail/?handler=LoadComboMain"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != undefined) {
                    let data = JSON.parse(result);
                    let dataGroup = data.Table1;
                    let dataGender = data.Table2;
                    let dataBranch = data.Table3;
                    let dataLevel = data.Table4;
                    let dataContract = data.Table5;
                    let dataSyntax = data.Table6;
                    Render_Gender_Person(dataGender, 'emp_gender', 'emp_gender');
                    Load_Combo(dataGroup, "cbbGroup", true);
                    Load_Combo(dataBranch, "cbbtokenBranch", true);
                    Load_Combo(dataLevel, "cbbLevel", true);
                    Load_Combo(dataContract, "cbbContract", true);
                    DataGroup = dataGroup;
                    if (ser_EmpDetailID != "0") {
                        Emp_LoadData_Update();
                    }
                    else{
                        $("#emp_group").dropdown("refresh");
                        $("#emp_group").dropdown("set selected", ser_GroupDetailID);
                    }
                    if (dataSyntax.length != 0) $("#emp_code").attr('disabled',false);

                }
            });
    }
    function Emp_LoadData_SalaryType() {
        AjaxLoad(url = "/Employee/EmployeeDetail/?handler=LoadSalaryType"
            , data = {}, async = true, error = null
            , success = function (result) {
                if (result != "") {
                    DataAllowanceType = JSON.parse(result);
                    Emp_RenderAllowanceList(DataAllowanceType, "Emp_AllowanceContent");
                }
            });
    }
    async function Emp_RenderAllowanceList(data,id) {
        return new Promise((resolve, reject) => {
            setTimeout(() => {
                let myNode = document.getElementById(id)
                myNode.innerHTML = '';
                let string = "";
                if(data && data.length != 0){
                    for (let i=0 ; i< data.length; i++){
                        let item = data[i];
                        let tr = `
                            <li id="Emp_AllowanceDetail_${item.ID}" class="row row-add border-0 border-secondary d-flex justify-content-between align-items-center ps-0 mb-2">
                                <div class="col-12 col-md-1 col-xl-1">
                                    <div class="field ui form-check" data-id="${item.ID}">
                                        <input type="checkbox" class="form-check-input Emp_AllowanceChoose">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 col-xl-7">
                                    <label class="ms-0 text-normal text-sm">${item.Name}</lable>
                                </div>
                                <div class="field col-12 col-md-3 col-xl-3">
                                    <input class="form-control money Emp_AllowanceAmount" name="basicsalary" value="0" disabled/>
                                </div>
                            </li>
                            <hr class="horizontal dark mt-0 mb-2">
                            `;
                        string += tr;
                    }
                }
                myNode.innerHTML = string;
                $('.Emp_AllowanceAmount').divide();
                Emp_EventAllowance();
                resolve();
            }, 10)
        });
    }
    function Emp_EventAllowance(){
        $('.Emp_AllowanceChoose').click(function () {
            let id = $(this).parent().attr('data-id');
            if (!$(this).is(':checked')) {
                $(`#Emp_AllowanceDetail_${id} .Emp_AllowanceAmount`).attr('disabled', true);
            }
            else{
                $(`#Emp_AllowanceDetail_${id} .Emp_AllowanceAmount`).attr('disabled', false);
            }
        });

    }
    function Emp_LoadData_Update() {
        type_empdetail = '@Model._type';
        AjaxLoad(url = "/Employee/EmployeeDetail/?handler=LoadDetail"
            , data = { id: ser_EmpDetailID }, async = true, error = null
            , success = function (result) {
                if (result != "[]") {
                    let dataEmployee = JSON.parse(result).Table;
                    let dataAllowance = JSON.parse(result).Table1;
                    if (dataEmployee) {
                        $("input[name=emp_gender][value=" + dataEmployee[0].Gender + "]").attr('checked', 'checked');
                        $("#emp_group ").dropdown("refresh");
                        $("#emp_group ").dropdown("set selected", dataEmployee[0].Group_ID);
                        $('#emp_name').val((dataEmployee[0].Name));
                        $('#emp_code').val((dataEmployee[0].Emp_Code));
                        $('#emp_email').val((dataEmployee[0].Email));
                        $('#emp_nickname').val((dataEmployee[0].Nickname));
                        $('#Address').val((dataEmployee[0].Address));
                        $('#emp_phone').val((dataEmployee[0].Phone));

                        $("#emp_level").dropdown("refresh");
                        $("#emp_level").dropdown("set selected", dataEmployee[0].LevelID);
                        $("#emp_contract ").dropdown("refresh");
                        $("#emp_contract ").dropdown("set selected", dataEmployee[0].ContractID);
                        $('#emp_basicSalary').val((dataEmployee[0].BasicSalary));
                        $('#emp_salaryAgreed').val((dataEmployee[0].SalaryAgreed));
                        $('#emp_annualeave').val((dataEmployee[0].AnnuaLeave));
                        $('#emp_daysUsed').val((dataEmployee[0].DaysUsed));
                        $('#emp_daysLeft').val((dataEmployee[0].DaysLeft));

                        if (dataEmployee[0].Image == '' || dataEmployee[0].Image == undefined) {
                            $('#emp_avata').attr('src', ser_defaultimg);
                            relImage = "";
                            feaImage = "";
                        }
                        else {
                            $('#emp_avata').attr('src', dataEmployee[0].Image);
                            relImage = dataEmployee[0].Image;
                            feaImage = dataEmployee[0].FeaImage;
                        }

                        $('#emp_birthday').val(dataEmployee[0].Brithday);
                        $('#emp_InitDay').val((!(dataEmployee[0].Ini_Date).includes('1900') ? dataEmployee[0].Ini_Date : ''));

                        (dataEmployee[0].isAllBranch == 1) ? ($("#AllBranch").prop('checked', true)) : ($("#AllBranch").prop('checked', false));
                        Emp_ShowAllBranch();

                        if (dataEmployee[0].Branch != undefined && dataEmployee[0].Branch != null && dataEmployee[0].Branch != "") {
                            $('#emp_branchID').dropdown('refresh');
                            $('#emp_branchID').dropdown('set selected', dataEmployee[0].Branch.split(","));
                        }
                        if (type_empdetail == "updatePersonal") {
                            $('#employeeDetail').find('input, textarea, button, select').attr('disabled', 'disabled');
                            $('#emp_group').addClass("disabled");
                            $('#emp_branchID').addClass("disabled");
                            $('#emp_gender').addClass("disabled");
                            $("#AllBranch").attr("disabled", true);

                            $('#emp_level').addClass("disabled");
                            $('#emp_contract').addClass("disabled");
                        }
                    }
                    if (dataAllowance){
                        for(let i = 0; i < dataAllowance.length; i++){
                            let item = dataAllowance[i];
                            let Amount = formatNumber(item.Amount);
                            $(`#Emp_AllowanceDetail_${item.SalaryID} .Emp_AllowanceAmount`).val(Amount);
                            if(item.Amount != 0){
                                $(`#Emp_AllowanceDetail_${item.SalaryID} .Emp_AllowanceChoose`).attr('checked', true);
                                $(`#Emp_AllowanceDetail_${item.SalaryID} .Emp_AllowanceAmount`).attr('disabled', false);
                            }
                            else{
                                $(`#Emp_AllowanceDetail_${item.SalaryID} .Emp_AllowanceChoose`).attr('checked', false);
                                $(`#Emp_AllowanceDetail_${item.SalaryID} .Emp_AllowanceAmount`).attr('disabled', true);
                            }
                        }
                    }
                    else {
                        $("#State_ID").dropdown("refresh");
                        $("#State_ID").dropdown("set selected", 1);
                    }

                }
            });
    }

</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
