@page
@model MLunarCoffee.Pages.Employee.EmployeeGroupDetailModel
@{
    Layout = null;
}

<div class="row" id="EGD_Container">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header p-3 pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Bộ phận"]</h6>
                            <p class="text-sm mb-0">@Local["Chi tiết bộ phận"]</p>
                        </div>
                    </div>
                    <div class="my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                        <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer active" data-bs-toggle="pill" data-bs-target="#groupemp_info" role="tab">@Local["Thông tin chung"]</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#groupemp_other" role="tab">@Local["Khác"]</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="card-body p-3 pt-2">
                <div class="row px-1 form3" id="EmpGroupDetail">
                    <div class="nav-wrapper position-relative end-0 form3">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="groupemp_info" role="tabpanel">
                                <div class="row px-1">
                                    <div class="field col-12 px-1 mt-2">
                                        <label>@Local["Bộ phận"]</label>
                                        <input id="EGD_Group" name="name" class="form-control" placeholder="eg .@Local["Bộ phận"]" type="text" />
                                    </div>
                                    <div class="field col-12 px-1 mt-2">
                                        <label>@Local["Ghi chú"]</label>
                                        <textarea id="EGD_Note" name="content" class="form-control" rows="3" placeholder="eg .@Local["Ghi chú"]" type="text" />
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="groupemp_other" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                               
                                        <tbody>
                                            <tr>
                                                <td class="ps-1" colspan="4">
                                                    <div class="my-auto">
                                                        <span class="text-dark fw-bold d-block text-sm">@Local["Là thu ngân"]</span>
                                                        <span class="text-xs font-weight-normal">@Local["Thực hiện thu tiền tại cơ sở"]</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                        <input class="form-check-input ms-0" name="iscashier" type="checkbox" id="EGD_IsCashier">
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="ps-1" colspan="4">
                                                    <div class="my-auto">
                                                        <span class="text-dark fw-bold d-block text-sm">@Local["Là marketing"]</span>
                                                        <span class="text-xs font-weight-normal">@Local["Nhân viên marketing"]</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                        <input class="form-check-input ms-0" name="iscashier" type="checkbox" id="EGD_IsMarketing">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="EGD_IsLaboArea">
                                                <td class="ps-1" colspan="4">
                                                    <div class="my-auto">
                                                        <span class="text-dark fw-bold d-block text-sm">@Local["Labo"]</span>
                                                        <span class="text-xs font-weight-normal">@Local["Nhân viên phòng labo"]</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                        <input class="form-check-input ms-0" name="islabo" type="checkbox" id="EGD_IsLabo">
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="ps-1" colspan="4">
                                                    <div class="my-auto">
                                                        <span class="text-dark fw-bold d-block text-sm">@Local["Hỗ trợ chuyên môn"]</span>
                                                        <span class="text-xs font-weight-normal">@Local["Bác sĩ, chuyên gia hỗ trợ điều trị"]</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                        <input class="form-check-input ms-0" name="iscashier" type="checkbox" id="EGD_IsTech">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-botombutton">
            <div class="action_Save">
                <div class="action_Save-Content">
                    <div class="text-danger text-sm pt-3 px-3" id="textShowMessage"></div>
                    <button class="btn btn-secondary" form="form3" onclick="CloseModal()">@Local["Đóng"]</button>
                    <button id="EGD_btnDelete" type="button" class="btn bg-gradient-danger mt-2 me-2 d-none" onclick="event.preventDefault();return EGD_Delete();">@Local["Xóa"]</button>
                    <button id="EGD_btnSave" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="EGD_ExcuteData()">
                        @Local["Lưu"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region //INIT - DEFINE
    var CurrentID = @Model._CurrentID;
    $(document).ready(function () {
        if (sys_dencos_Main==1) $('#EGD_IsLaboArea').removeClass('d-none');
        if (CurrentID != "0") {
            EGD_LoadData();
        }
        Checking_TabControl_Permission();
    });
    //#endregion

    //#region //LOADDATA
    function EGD_LoadData() {
        AjaxLoad(url = "/Employee/EmployeeGroupDetail/?handler=Loadata"
            , data = { id: CurrentID }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let item = JSON.parse(result)[0];
                    EGD_FillData(item);
                }
            });
    }

    function EGD_FillData(item) {
        if (item) {
            let IsCashier = item?.IsCashier == 1 ? true : false;
            let IsMarketing = item?.IsMarketing == 1 ? true : false;
            let IsLabo = item?.IsLabo == 1 ? true : false;
            let IsTech = item?.IsTech == 1 ? true : false;
            $("#EGD_IsCashier").prop("checked", IsCashier);
            $("#EGD_IsMarketing").prop("checked", IsMarketing);
            $("#EGD_IsTech").prop("checked", IsTech);
            $("#EGD_IsLabo").prop("checked", IsLabo);
            $('#EGD_Group').val(item?.GroupName);
            $('#EGD_Note').val(item?.Note);

            if (Number(item.DeleteButton == 1)) $('#EGD_btnDelete').removeClass('d-none');

        }
    }
    //#endregion

    //#region //EXCUTEDATA
    //#region
    function EGD_Delete (id) {
        const promise = notiConfirm();
        promise.then(function () {EGD_DeleteExe(CurrentID);}, function () { });
    }

    function EGD_DeleteExe (id) {
        AjaxLoad(url = "/Employee/EmployeeGroupDetail/?handler=DeleteGroup"
            , data = {GroupID: id}, async = true, error = null
            , success = function (result) {
                let data = JSON.parse(result);
                let r = data[0]?.Result;
                let groupName = data[0]?.Name;
                if (r == "1") {
                    notiSuccess();
                    EmpGroup_Load();
                    syslog_emp('d', groupName);
                } else if(r == "-1") {
                    notiWarning(decodeHtml('@Local["Không thể xóa"]'));
                }
                else {
                    notiError_SW();
                }
            })
    }


    function EGD_ExcuteData() {
        var data = new Object();
        data.Name = $('#EGD_Group').val() ? $('#EGD_Group').val() : "";
        data.IsCashier = $('#EGD_IsCashier').is(':checked') ? 1 : 0;
        data.IsMarketing = $('#EGD_IsMarketing').is(':checked') ? 1 : 0;
        data.IsLabo = $('#EGD_IsLabo').is(':checked') ? 1 : 0;
        data.IsTech = $('#EGD_IsTech').is(':checked') ? 1 : 0;
        data.Note = $('#EGD_Note').val() ? $('#EGD_Note').val() : "";
        $('#EmpGroupDetail').form('validate form');
        if ($('#EmpGroupDetail').form('is valid')) {
            AjaxLoad(url = "/Employee/EmployeeGroupDetail/?handler=ExcuteData"
                , data = {
                    data: JSON.stringify(data),
                    CurrentID: CurrentID
                }, async = true, error = null
                , success = function (result) {
                    let data = JSON.parse(result);
                    let r = data[0]?.Result;
                    let name = data[0]?.Name;
                    let oldName = data[0]?.OldName;
                    if (r == "1") {
                        notiSuccess();
                        EmpGroup_Load();
                        CloseModal();
                        oldName = (oldName != '' && name != oldName) ? `[${decodeHtml('@Local["Dữ liệu cũ"]')} ${oldName}]` : '';
                        syslog_emp((CurrentID != '0' ? 'u' : 'i'), `${name} ${oldName}`);
                    } else if (r == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                }
            );
        }
        return false;
    }
</script>

<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>

