@page
@model MLunarCoffee.Pages.Employee.UserDetailModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
</head>
<body>
    <div class="d-lg-flex mb-3">
        <div class="flex-grow-1 ">
            <div id="customerDetailDiv">
                <form class="form" id="formcustomer" onsubmit="event.preventDefault(); return false;">
                    <div class="card p-3 border-radius-xl bg-white" data-animation="FadeIn">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h6 class="font-weight-bolder mb-0">@Local["Thông tin user"]</h6>
                                    <p class="mb-0 text-sm">@Local["Chi tiết thông tin user"]</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                                <ul class="nav nav-pills nav-fill p-1 bg-transparent detailcus" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link cursor-pointer active" data-bs-toggle="pill" data-bs-target="#detailcus_info" role="tab">@Local["Thông tin chung"]</a>
                                    </li>
                                    <li class="nav-item" role="presentation" id="per_tabOrderUserDetail">
                                        <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#detailcus_detail" role="tab">@Local["Khác"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-wrapper position-relative end-0 form3" id="userDetail">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade active show" id="detailcus_info" role="tabpanel">
                                    <div class="row px-1">
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                            <label><span>@Local["Nhân viên"]</span></label>
                                            <div class="ui fluid search selection dropdown" id="Emp_ID">
                                                <input type="hidden" name="Employee" />
                                                <i class="dropdown icon"></i>
                                                <input id="inputEmp" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Nhân viên"]</div>
                                                <div id="cbbEmployee" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                            <label><span>@Local["Tên đăng nhập"]</span></label>
                                            <input class="form-control" id="UserNameDetail" name="usernamemin5" type="text" placeholder="eg. @Local["Tên đăng nhập"]"/>
                                        </div>
                                    </div>
                                    <div class="row px-1">
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                            <label><span>@Local["Nhóm"]</span></label>
                                            <div class="ui fluid search selection dropdown" id="Group_ID">
                                                <input type="hidden" name="GroupUser" />
                                                <i class="dropdown icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg .@Local["Nhóm"]</div>
                                                <div id="cbbGroupUser" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                            <label><span>@Local["Chi nhánh"]</span></label>
                                            <div class="ui fluid search selection dropdown" id="Branch_ID">
                                                <input type="hidden" name="branch" />
                                                <i class="dropdown icon"></i>
                                                <input class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg . @Local["Chi nhánh"]</div>
                                                <div id="cbbBranchID" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-1">
                                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2" id="hineTokenBranch">
                                            <label><span>@Local["Phạm vi chi nhánh"]</span></label>
                                            <div class="ui fluid multiple search selection dropdown" id="tokenBranch">
                                                <input type="hidden" name="" />
                                                <i class="dropdown icon"></i>
                                                <input id="searchtokenBranch" class="search" autocomplete="off" tabindex="0" />
                                                <div class="default text">eg . @Local["Chi nhánh"]</div>
                                                <div id="cbbtokenBranch" class="menu" tabindex="-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row px-1 field col-12 col-md-6 col-xl-6 px-1 mt-2 pt-3">
                                            <div class="field col-12 col-md-6 col-xl-6 px-3">
                                                <div class="form-check mt-4">
                                                    <input id="chkAllBranch" class="form-check-input" type="checkbox" onchange="onChangeAllBranch()">
                                                    <label class="form-check-label pt-1" for="chkAllBranch">
                                                        @Local["Tất cả chi nhánh"]
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="field col-12 col-md-6 col-xl-6 px-1">
                                                <div class="form-check mt-4">
                                                    <input id="chkPassIP" class="form-check-input" type="checkbox" checked="checked" />
                                                    <label class="form-check-label pt-1">@Local["Bỏ qua xác thực"] IP</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="detailcus_detail" role="tabpanel">
                                    <div class="row px-1 pt-3">
                                        <div class="d-flex field col-12 px-1">
                                            <div class="d-flex col-12">
                                                <label class="form-check-label pt-1" for="chkDiscountMax">@Local["Giới hạn giảm giá"]</label>
                                                <div class="form-check form-switch ms-auto">
                                                    <input id="chkDiscountMax" class="form-check-input" type="checkbox" onchange="onChangeisDiscountMax()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1">
                                            <label><span>@Local["Tiền giảm tối đa"]</span></label>
                                            <input class="form-control" id="amountDiscountMax" name="" value="0" type="text" disabled="disabled" />
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1">
                                            <label><span>@Local["Phần trăm giảm tối đa"]</span></label>
                                            <input class="form-control" id="perDiscountMax" name="" value="0" type="number" max="100" min="0" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="row px-1 pt-3">
                                        <div class="d-flex field col-12 px-1">
                                            <div class="d-flex col-12">
                                                <p class="form-check-label pt-1" for="chkisLock">@Local["Quy định thời gian đăng nhập"]</p>
                                                <div class="form-check form-switch ms-auto">
                                                    <input id="chkisLock" class="form-check-input" type="checkbox" onchange="onChangeisLock()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1">
                                            <label><span>@Local["Thời gian hết hạn (ngày)"]</span></label>
                                            <input class="form-control" id="maxDayLock" name="" value="0" type="text" disabled="disabled" />
                                        </div>
                                        <div class="field col-12 col-md-6 col-xl-6 px-1">
                                            <label><span>@Local["Thời gian bắt buộc đổi mật khẩu (tháng)"]</span></label>
                                            <input class="form-control" id="TimeResetPassword" name="" value="0" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="fixed-botombutton">
        <div class="action_Save">
            <div class="text-danger text-sm pt-3 px-3" id="textShowMessage"></div>
            <div class="action_Save-Content">
                <div class="_tab_control_" data-tab="edit_tab_customer">
                    <button class="btn btn-secondary" form="formcustomer" onclick="event.preventDefault(); CloseModal()">@Local["Đóng"]</button>
                </div>
                <div class="_tab_control_" data-tab="edit_tab_customer">
                    <button form="formcustomer" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();User_ExcuteData_Detail()">@Local["Lưu"]</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var _CurrentID = @Model._CurrentID;
        var _CurrentGroupID = @Model._CurrentGroupID;

        $(document).ready(function () {
            let sys_PassworDefault = "@Model.sys_PassworDefault";
            $('#password').val(sys_PassworDefault);
            User_Load_Combo();
            $('#amountDiscountMax').divide();
            $('#maxDayLock').divide();
            Checking_TabControl_Permission();
            CheckPermissionControlInPage(sys_PerControl ,'@Model.CurrentPath');
            CheckPermissionControlInPage(sys_PerControlMH,'@Model.CurrentPath');
        });

        function User_Load_Combo() {
            AjaxLoad(url = "/Employee/UserDetail/?handler=LoadComboMain"
                , data = { CurrentID: _CurrentID }, async = true, error = null
                , success = function (result) {
                    if (result != "[]") {
                        let data = JSON.parse(result);
                        Load_Combo(data.GroupUser, "cbbGroupUser", false);
                        Load_Combo(data.Branch, "cbbBranchID", false);
                        Load_Combo(data.Branch, "cbbtokenBranch", false);
                        Load_Combo(data.Employee, "cbbEmployee", false);
                    }
                    User_Load_DataUpdate();
                });
        }

        function User_Load_DataUpdate() {
            AjaxLoad(url = "/Employee/UserDetail/?handler=Loadata"
                , data = { id: _CurrentID }, async = true, error = null
                , success = function (result) {
                    if (result != "") {
                        let data = JSON.parse(result);
                        if (data.length > 0) {
                            let dataUser = data[0];
                            $('#UserNameDetail').val((dataUser.Username));
                            $("#Emp_ID ").dropdown("refresh");
                            $("#Emp_ID ").dropdown("set selected", dataUser.Employee_ID);
                            $('#Emp_ID').addClass("disabled");
                            $("#Group_ID ").dropdown("refresh");
                            $("#Group_ID ").dropdown("set selected", dataUser.Group_ID);
                            $("#Branch_ID ").dropdown("refresh");
                            $("#Branch_ID ").dropdown("set selected", dataUser.Branch_ID);
                            $("#chkAllBranch").prop('checked', (dataUser.isAllBranch == 1) ? true : false);
                            $("#chkPassIP").prop('checked', (dataUser.isPassIP == 1) ? true : false);
                            $('#TimeResetPassword').val(dataUser.TimeResetPassword);
                            onChangeAllBranch();
                            if (dataUser.AreaBranch != undefined && dataUser.AreaBranch != null && dataUser.AreaBranch != "") {
                                $('#tokenBranch').dropdown('refresh');
                                $('#tokenBranch').dropdown('set selected', dataUser.AreaBranch.split(','));
                            }
                            if (dataUser.isMaxDiscountService != 0) {
                                $('#chkDiscountMax').prop("checked", true);
                                onChangeisDiscountMax();
                                $('#amountDiscountMax').val(dataUser.MaxAmountDiscountService);
                                $('#perDiscountMax').val(dataUser.MaxPerDiscountService);
                            } else $('#chkDiscountMax').prop("checked", false);

                            if (dataUser.isLock != 0) {
                                $('#chkisLock').prop("checked", true);
                                onChangeisLock();
                                $('#maxDayLock').val(dataUser.MaxDayLock);
                            } else $('#chkisLock').prop("checked", false);
                        }
                        else{
                            $("#Group_ID").dropdown("refresh");
                            $("#Group_ID").dropdown("set selected", _CurrentGroupID.toString());
                        }
                    }
                });
        }
        function onChangeAllBranch() {
            if ($('#chkAllBranch').is(':checked')) {
                $('#tokenBranch').addClass("disabled bg-light opacity-10");
                //$("#hineTokenBranch").hide();

            } else {
                $('#tokenBranch').removeClass("disabled bg-light opacity-10");
                //$("#hineTokenBranch").show();
            }
            $('#tokenBranch').dropdown('clear');
            $("#textShowMessage").html("");
        }
        function onChangeisDiscountMax() {
            if ($('#chkDiscountMax').is(':checked')) {
                $('#amountDiscountMax').prop("disabled", false);
                $('#perDiscountMax').prop("disabled", false);
            } else {
                $('#amountDiscountMax').prop("disabled", true);
                $('#perDiscountMax').prop("disabled", true);
            }
            $('#amountDiscountMax').val(0);
            $('#perDiscountMax').val(0);
        }
        function onChangeisLock() {
            if ($('#chkisLock').is(':checked')) {
                $('#maxDayLock').prop("disabled", false);
            } else {
                $('#maxDayLock').prop("disabled", true);
            }
            $('#maxDayLock').val(0);
        }

        function User_ExcuteData_Detail() {
            $('#perDiscountMax').parent().removeClass('error');
            $('#amountDiscountMax').parent().removeClass('error');
            $('#maxDayLock').parent().removeClass('error');
            $('#TimeResetPassword').parent().removeClass('error');
            var data = new Object();
            data.Emp_ID = Number($('#Emp_ID').dropdown('get value')) ? Number($('#Emp_ID').dropdown('get value')) : 0;
            data.isAllBranch = (document.getElementById('chkAllBranch').checked) ? 1 : 0;
            data.Group = Number($('#Group_ID').dropdown('get value')) ? Number($('#Group_ID').dropdown('get value')) : 0;
            data.Branch_ID = Number($('#Branch_ID').dropdown('get value')) ? Number($('#Branch_ID').dropdown('get value')) : 0;
            data.AreaBranch = $('#tokenBranch').dropdown('get value');
            data.UserName = $('#UserNameDetail').val() ? $('#UserNameDetail').val() : "";
            data.isPassIP = (document.getElementById('chkPassIP').checked) ? 1 : 0;

            var isCheckBranchUser = 0;
            if (data.isAllBranch === 0) {
                var tokenBranch = $('#tokenBranch').dropdown('get value');
                var arrBranch = tokenBranch.split(",");
                for (var i = 0; i < arrBranch.length; i++) {
                    if (arrBranch[i] == data.Branch_ID) {
                        isCheckBranchUser = 1;
                    }
                }
            }

            data.isDiscountMax = (document.getElementById('chkDiscountMax').checked) ? 1 : 0;
            data.TimeResetPassword = Number($('#TimeResetPassword').val()) ? Number($('#TimeResetPassword').val()) : 0;
            var isDiscountMax = 0;
            if (data.isDiscountMax != 0) {
                data.PerMaxDiscount = Number($('#perDiscountMax').val()) ? Number($('#perDiscountMax').val()) : 0;
                data.AmountMaxDiscount = Number($('#amountDiscountMax').val()) ? Number($('#amountDiscountMax').val()) : 0;
                if ((data.PerMaxDiscount >= 0 && data.PerMaxDiscount <= 100) && data.AmountMaxDiscount >= 0) isDiscountMax = 1;
            } else {
                data.PerMaxDiscount = 0;
                data.AmountMaxDiscount = 0;
                isDiscountMax = 1;
            }

            data.isLockUser = (document.getElementById('chkisLock').checked) ? 1 : 0;
            var isLockUser = 0;
            if (data.isLockUser != 0) {
                data.MaxDayLock = Number($('#maxDayLock').val()) ? Number($('#maxDayLock').val()) : 0;
                if (data.MaxDayLock >= 0 && Number($('#maxDayLock').val())) isLockUser = 1;
            } else {
                data.MaxDayLock = 0;
                isLockUser = 1;
            }
            $('#userDetail').form('validate form');
            if ($('#userDetail').form('is valid')) {
                if (data.AreaBranch === '' && data.isAllBranch === 0) {
                    $('#tokenBranch').addClass('error');
                    document.getElementById("textShowMessage").innerHTML = "@Local["Chọn phạm vi sử dụng phần mềm"]";
                }
                else if (isCheckBranchUser === 0 && data.isAllBranch === 0) {
                    document.getElementById("textShowMessage").innerHTML = "@Local["Chưa chọn chi nhánh"] " + "<b>" + $('#Branch_ID').dropdown('get text') + "</b>";
                }
                else if (xoa_dau(data.UserName.replace(/ /g, "").replace(/"/g, "")) != data.UserName) {
                    document.getElementById("textShowMessage").innerHTML = "@Local["Username không được chứa dấu và khoảng trắng và dấu nháy"]";
                }
                else if (isDiscountMax == 0) {
                    document.getElementById("textShowMessage").innerHTML = "@Local["Sai định dạng"]";
                    $('#perDiscountMax').parent().addClass('error');
                    $('#amountDiscountMax').parent().addClass('error');
                }
                else if (isLockUser == 0) {
                    document.getElementById("textShowMessage").innerHTML = "@Local["Sai định dạng"]";
                    $('#maxDayLock').parent().addClass('error');
                }
                else {
                    document.getElementById("textShowMessage").innerHTML = "";
                    AjaxLoad(url = "/Employee/UserDetail/?handler=ExcuteData"
                        , data = { data: JSON.stringify(data), CurrentID: _CurrentID }
                        , async = true
                        , error = null
                        , success = function (result) {
                            let data = JSON.parse(result);
                            let r = data[0]?.Result;
                            let code = data[0]?.Code;
                            if (r == "1") {
                                notiSuccess();
                                if (typeof User_Load == 'function' && $.isFunction(User_Load)) User_Load();
                                if (typeof UserGroup_Load == 'function' && $.isFunction(UserGroup_Load)) UserGroup_Load();
                                $('#DetailModal').modal('hide');
                                $("#DetailModal_Content").html('');
                                syslog_usr((_CurrentID != '0' ? 'u' : 'i'), code);
                            }  else if (r == "-1") {
                                $('#textShowMessage').html("@Local["Username đã tồn tại"]!");
                            }
                            else if (r == "2") {
                                notiError("@Local["User đã đạt số lượng tối đa cho phép"]!");
                            }
                            else notiError();
                        }
                    );
                }
            }
            return false;
        }

    </script>
    <script src="/js/customjs/custom-validation.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/comon/initialize_setting.js?ver=@DateTime.Now.Ticks"></script>
</body>

</html>

