@page
@model MLunarCoffee.Pages.AppCustomer.Desk.Rating.RatingListModel
@{
    Layout = null;
}

@Html.AntiForgeryToken()
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 position-relative">
            <div id="ARL_MainContainer">
                <div class="pt-2">
                    <div class="d-lg-flex">
                        <div class="w-lg-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Đánh giá ứng dụng"]</h6>
                                <p class="text-sm mb-0">@Local["Danh sách đánh giá ứng dụng của khách hàng"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-2 ">
                    <div class="ms-0 px-0 row">
                        <div class="col-12 col-md-3 mt-0 ps-0 text-center">
                            <span id="ARL_StarAmountAvg" class="text-9xl fw-bold text-dark ps-2">0</span>
                            <div id="ARL_StarAvg" class="d-flex text-lg justify-content-center"></div>
                        </div>
                        <div class="col-12 col-md-6 mt-0 ps-0">
                            <canvas id="ARL_ChartBar" class="chart-canvas" height="175"></canvas>
                        </div>
                        <div class="col-12 col-md-3 mt-0 ps-0 text-center">
                            <div class="border-1 border-dashed card card-plain h-100">
                                <div class="p-2 card-body text-center mt-4">
                                    <h2 class="">
                                        <span id="ARL_TotalPreview" class="fw-bold text-dark">10</span>
                                    </h2>
                                    <h6 class="mb-0 font-weight-bolder">@Local["Tổng số đánh giá"]</h6>
                                    <p class="opacity-8 mb-2 text-xs">@Local["Đánh giá ứng dụng"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-plain">
                        <div class="vtcardheader card-header p-0">
                            <div class="left w-lg-80">
                                <div class="vtcondition">
                                    <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local[" Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                                    <div class="fulllap collapse collapsesticky show">
                                        <div class="row mx-0 d-lg-flex">
                                            <div class="field col-12 col-md-3 col-xl-4 ps-0 pe-1 mt-2">
                                                <div class="input-group" id="searchApp">
                                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                    <input id="ARL_filterAppointment" type="text" class="form-control" placeholder="eg .@Local[" Tìm kiếm theo tên, số điện thoại hoặc mã số"]" onkeyup="ARL_onkeyup_filterApp()">
                                                    <div class="input-group-text p-0">
                                                        <div class="position-relative d-inline">
                                                            <a class="cursor-pointer px-2" data-bs-toggle="collapse" role="tab" data-bs-target="#colsearch">
                                                                <i class=" text-gradient text-primary fas fa-filter"></i>
                                                            </a>
                                                            <div class="collapse collapsesticky position-absolute z-index-3 end-1 top-100 mt-1" id="colsearch" style="min-width:285px;">
                                                                <div class="card card-body text-dark text-capitalize opacity-10">
                                                                    <div class="field col-12 mt-2">
                                                                        <div class="ui fluid search selection dropdown form-control" id="ARL_TypeID">
                                                                            <input type="hidden" name="branch" />
                                                                            <i class="dropdown icon"></i>
                                                                            <div class="default text">eg .@Local["Loại"]</div>
                                                                            <div id="ARL_cbbTypeID" class="menu" tabindex="-1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 mt-2">
                                                                        <div class="ui fluid search selection dropdown form-control" id="ARL_EmpID">
                                                                            <input type="hidden" name="branch" />
                                                                            <i class="dropdown icon"></i>
                                                                            <div class="default text">eg .@Local["Nhân viên"]</div>
                                                                            <div id="ARL_cbbEmpID" class="menu" tabindex="-1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn btn-dark btn-sm mt-3 mb-2" onclick="ARL_CloseFilter()">@Local["Đóng"]</button>
                                                                    <button class="btn btn-primary btn-sm" onclick="ARL_Filter()">@Local["Ok"]</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field col-12 col-md-9 col-xl-8 px-0 mt-2 d-flex overflow-auto gap-1" id="ARL_RatingStarID">
                                                <div class="ARL_btnFilterStar border-dashed border-1 border-secondary border-radius-md d-flex text-nowrap px-2 align-items-center justify-content-center h-100"
                                                     data-star="1">
                                                    <h4 class="text-primary text-gradient mb-0 ARL_btnFilterStar_counter" id="ARL_btnFilterStar_1">0</h4>
                                                    <h6 class="text-sm text-dark mt-2 ps-2 fw-bold">1 @Local["Sao"]</h6>
                                                </div>
                                                <div class="ARL_btnFilterStar border-dashed border-1 border-secondary border-radius-md d-flex text-nowrap px-2 align-items-center justify-content-center h-100"
                                                     data-star="2">
                                                    <h4 class="text-primary text-gradient mb-0 ARL_btnFilterStar_counter" id="ARL_btnFilterStar_2">0</h4>
                                                    <h6 class="text-sm text-dark mt-2 ps-2 fw-bold">2 @Local["Sao"]</h6>
                                                </div>
                                                <div class="ARL_btnFilterStar border-dashed border-1 border-secondary border-radius-md d-flex text-nowrap px-2 align-items-center justify-content-center h-100"
                                                     data-star="3">
                                                    <h4 class="text-primary text-gradient mb-0 ARL_btnFilterStar_counter" id="ARL_btnFilterStar_3">0</h4>
                                                    <h6 class="text-sm text-dark mt-2 ps-2 fw-bold">3 @Local["Sao"]</h6>
                                                </div>
                                                <div class="ARL_btnFilterStar border-dashed border-1 border-secondary border-radius-md d-flex text-nowrap px-2 align-items-center justify-content-center h-100"
                                                     data-star="4">
                                                    <h4 class="text-primary text-gradient mb-0 ARL_btnFilterStar_counter" id="ARL_btnFilterStar_4">0</h4>
                                                    <h6 class="text-sm text-dark mt-2 ps-2 fw-bold">4 @Local["Sao"]</h6>
                                                </div>
                                                <div class="ARL_btnFilterStar border-dashed border-1 border-secondary border-radius-md d-flex text-nowrap px-2 align-items-center justify-content-center h-100"
                                                     data-star="5">
                                                    <h4 class="text-primary text-gradient mb-0 ARL_btnFilterStar_counter" id="ARL_btnFilterStar_5">0</h4>
                                                    <h6 class="text-sm text-dark mt-2 ps-2 fw-bold">5 @Local["Sao"]</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="icon-hover mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local[" Xuất excel"]">
                                    <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel" onclick="event.preventDefault(); return ARL_Export()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="m-0 mt-3 mobile-responsive">
                                <div id="WaitingDeskGeneral" class=" text-center z-index-sticky" style="display: none; position: absolute; left: 50%;">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <ul class="list-group m-2 px-0" id="ARL_listContent">
                                </ul>
                            </div>
                            <button id="ARL_btnLoadMore" class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0" onclick="event.preventDefault(); return ARL_LoadData(0, 1);">@Local["Xem thêm"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //#region // DECLARE & INIT

    let ARL_Limit = 50;
    let ARL_BeginID = 0;
    let ARL_XhrLoadList, ARL_XhrLoad, ARL_XhrLoadTotal;
    var ARL_DataMain;
    let ARL_BranchID = "@Model.branchID";
    let ARL_DateFrom = "@Model.dateFrom";
    let ARL_DateTo = "@Model.dateTo";
    let ARL_dataTotalObj = {};
    let ARL_ColorStar = { 5: '#2ca02c', 4: '#98df8a', 3: '#ffbb78', 2: '#ff7f0e', 1: '#f53939' };
    let ARL_Star_Arr = [];
    let ARL_DataSer = {}, ARL_DataEmp = {};
    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_Employee, _Session_Service]
            , function (data) {
                ARL_DataEmp = data[0];
                ARL_DataSer = data[1];
                ARL_Init();
            });

    })
    function ARL_Init() {
        if (ARL_XhrLoad && ARL_XhrLoad.readyState != 4) ARL_XhrLoad.abort();
        ARL_XhrLoad = AjaxLoad(url = "/AppCustomer/Desk/Rating/RatingList/?handler=Init"
                , data = {}
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                   if (result != '0') {
                       let data = JSON.parse(result);
                       Load_Combo(data, "ARL_cbbTypeID", false, '@Local["Loại"]');
                       $("#ARL_TypeID").dropdown("refresh");
                       $("#ARL_TypeID").dropdown("set selected", "0"); debugger

                       Load_Combo(Object.values(ARL_DataEmp), "ARL_cbbEmpID", false, '@Local["Nhân viên"]');
                       $("#ARL_EmpID").dropdown("refresh");
                       $("#ARL_EmpID").dropdown("set selected", "0");

                       ARL_LoadTotalGeneral();
                       ARL_LoadData();
                   }
                   else {
                       notiError_SW();
                   }
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
    }
    //#endregion

    //#region // LOAD DATA

    async function ARL_LoadData(CurrentID = 0, IsLoadMore = 0) {
        return new Promise((reslove) => {
            if (CurrentID == 0 && IsLoadMore == 0) {
                $("#ARL_TypeID").dropdown("refresh");
                $("#ARL_TypeID").dropdown("set selected", "0");

                $("#ARL_EmpID").dropdown("refresh");
                $("#ARL_EmpID").dropdown("set selected", "0");
            }
            if (ARL_XhrLoadList && ARL_XhrLoadList.readyState != 4) ARL_XhrLoadList.abort();
            if (IsLoadMore == 0 && CurrentID == 0) {
                $("#ARL_listContent").empty();
                ARL_BeginID = 0;
                ARL_DataMain = [];
            }

            ARL_XhrLoadList = AjaxLoad(url = "/AppCustomer/Desk/Rating/RatingList/?handler=LoadRating"
                , data = {
                    BranchID: ARL_BranchID,
                    DateFrom: ARL_DateFrom,
                    DateTo: ARL_DateTo,
                    BeginID: ARL_BeginID,
                    Limit: ARL_Limit,
                    CurrentID: CurrentID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '0') {
                        let data = JSON.parse(result);
                        if (CurrentID != 0) {
                            let rowRating = $("#ARL_RatingRow_" + CurrentID);
                            if (data && data.length != 0) {
                                let item = data[0];
                                let trRow = ARL_RenderEach(item);
                                trRow = `<tr id="ARL_RatingRow_${item.ID}" class="row-add vt-number">${trRow}</tr>`;
                                if (rowRating && rowRating.length != 0) {
                                    rowRating.replaceWith(trRow);
                                    let index = ARL_DataMain.findIndex(e => e.ID == item.ID);
                                    ARL_DataMain[index] = item;
                                }
                                else {
                                    document.getElementById('ARL_listContent').insertAdjacentHTML("afterbegin", trRow);
                                    ARL_DataMain.push(item);
                                }
                                ARL_EventGrid();
                            }
                            else {
                                rowRating.remove();
                                let index = AC_DAL_DataMain.findIndex(e => e.ID == CurrentID);
                                ARL_DataMain.splice(index, 1);
                            }
                        }
                        else {
                            if (data && data.length != 0) {
                                ARL_DataMain = ARL_DataMain.concat(data);
                                ARL_Render(data, 'ARL_listContent');
                                ARL_GetBeginID(data);
                            }
                            else {

                            }
                        }
                    }
                    else {
                        notiError_SW();
                    }
                    reslove();
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        })
    }
    async function ARL_LoadTotalGeneral() {
        return new Promise((reslove) => {
            if (ARL_XhrLoadTotal && ARL_XhrLoadTotal.readyState != 4) ARL_XhrLoadTotal.abort();
            ARL_XhrLoadTotal = AjaxLoad(url = "/AppCustomer/Desk/Rating/RatingList/?handler=LoadTotalData"
                , data = {
                    BranchID: ARL_BranchID,
                    DateFrom: ARL_DateFrom,
                    DateTo: ARL_DateTo
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != '0') {
                        let data = JSON.parse(result);
                        ARL_dataTotalObj = data.reduce((pre, arr) => { if (!pre[arr.Star]) pre[arr.Star] = arr; return pre }, {});
                        ARL_Render_General_Cal();
                        ARL_RenderChart();
                        ARL_onClickFilterStar();
                    }
                    else {
                        notiError_SW();
                    }
                    reslove();
                }
                , sender = null
                , before = function (e) { }
                , complete = function (e) { }
            );
        })
    }


    function ARL_GetBeginID(data) {
        try {
            if (data && data.length != 0) {
                let PopBegin = data[data.length - 1];
                if (PopBegin) {
                    ARL_BeginID = PopBegin.ID
                }
            }
        }
        catch (ex) {
            return 0;
        }
    }
    //#endregion

    //#region // RENDER

    async function ARL_Render(data, id) {
        new Promise((resolve, reject) => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (let i = 0; i < data.length; i++) {
                            let item = data[i];
                            let tr = ARL_RenderEach(item);
                            myNode.insertAdjacentHTML("beforeend", tr);
                        }
                    }
                }
                resolve();
                ToolPopper();
            }, 10);
        });
    }

    function ARL_RenderEach(item) {
        try {
            let result = '';
            //let sourceRating = item.FApp == 1 ? ` <span class="badge bg-primary badge-sm">@Local["Ứng dụng"]</span>` : ` <span class="badge bg-dark badge-sm">@Local["Cổng thông tin"]</span>`;
            let _date = ConvertDateTimeUTC_DMYHM(item.Created);
            let _branch = Fun_GetName_ByID(AC_DG_objBranchs, item.BranchID);
            let _cust = ``,  _emp = '', _ser = '',type = '';
            if (item.CustCode != '') {
                _cust =`<div class="my-1"><a class="border-bottom border-primary code col-auto fw-bold mb-0 mt-0 my-auto text-primary text-sm"
                           target="_blank" href="/Customer/MainCustomer?CustomerID=${item.CustID}">${item.CustCode != '' ? `${item.CustCode} ` : ''}</a>
                        <span class="text-sm ms-2 text-dark fw-bold"> ${item.CustName} </span></div>`
            }
            if (item.RatTypeID != 0) {
                let typecontent = Outlang[item.RatTypeLang] != undefined ? Outlang[item.RatTypeLang] : item.RatType;
                type = `<p class="fw-bold mb-0 me-2 mt-n1 text-dark text-sm">${typecontent}</p>`;
            }
            if (item.EmpID != 0) {
                _emp = `<i class="fas fa-angle-right px-1"></i><p class="fw-bold mb-0 me-2 mt-n1 text-dark text-sm">${Fun_GetName_ByID(ARL_DataEmp, item.EmpID) }</p>`; ;
            }
            if (item.ServiceID != 0) {
                _ser = `<p class="fw-bold mb-0 me-2 mt-n1 text-dark text-sm">${Fun_GetName_ByID(ARL_DataSer, item.ServiceID) }</p>`; ;
            }
            result = `
                     <li id="ARL_RatingRow_${item.ID}" class="mt-1 list-group-item border-0 flex-column align-items-start ps-0 py-0 mb-2 py-2 border-radius-lg border-5 border-start border-radius-bottom-start-0 border-radius-top-start-0" style="border-color: ${ARL_ColorStar[item.Star]} !important;">
                            <div class="ps-2 ms-1">
                                <div class="align-items-center d-lg-flex ms-1">
                                    <div class="mb-0 text-sm">
                                        <div class="d-flex">
                                        ${type}
                                        ${_emp}
                                        ${_ser}
                                        <div class="d-flex mt-0 ms-n2" style="height: 18px;" >${ARL_RenderStar(item.Star)}</div>
                                        </div>
                                        ${_cust}
                                    </div>
                                    <div class="text-dark text-sm  ms-auto mt-2 mt-lg-0 ">
                                       <div class="text-secondary">${_branch} </div>
                                       <div class="mt-01 fst-italic">${_date} </div>
                                    </div>
                                </div>
                                <div class="ms-1 text-dark text-sm pe-lg-9 pe-0" style="white-space: pre-line;">${item.Message}</div>
                            </div>
                        </li>
                        <hr id="ARL_RatingRow_hr${item.ID}" class="horizontal dark my-2">
                       `
            return result;
        }
        catch (ex) {
            return '';
        }
    }

    function ARL_RenderStar(Star) {
        let result = ``;
        let star = !isNaN(Number(Star)) ? Number(Star) : 0;
        let fullStar = Math.floor(star);
        let partStar = star - fullStar;
        let percent = 100;
        for (let i = 0; i < 5; i++) {
            percent = fullStar > 0 ? 100 : (partStar > 0 ? partStar * 100 : 0)
            if (fullStar <= 0) partStar = 0;
            fullStar--;
            result += `<div class="ARL_Star_item ms-2 position-relative d-flex">
                               <span class="ARL_star ARL_star_under far fa-star d-inline-block position-absolute"></span>
                               <span class="ARL_star ARL_star_over fas fa-star d-inline-block position-absolute overflow-hidden" style="width: ${percent}%"></span>
                          </div>`
        }
        return result;
    }

    function ARL_RenderStatus(isCancel, isModified) {
        let result = '';
        switch (true) {
            case isCancel == 1:
                result = '<a href="#" class="px-2 text-danger fw-bold nav-link">@Local["Đã hủy"]</a>';
                break;
            case isCancel == 0 && isModified == 1:
                result = `<a href="#" class="fw-bold px-2 nav-link btnHandleSchedule text-primary">@Local["Đã xử lý"]</a>`;
                break;
            case isCancel == 0 && isModified == 0:
                result = `<a href="#" class="fw-bold px-2 nav-link btnHandleSchedule text-secondary">@Local["Xử lý"]</a>`;
                break;

        }
        return result;
    }

    function ARL_Render_General_Cal() {
        $('#ARL_StarAmountAvg').html(0);
        $("#ARL_TotalPreview").html(0);
        $('#ARL_StarAvg').html(ARL_RenderStar(0));
        if (ARL_dataTotalObj && ARL_dataTotalObj.length != 0) {
            //(1*a + 2*b + 3*c + 4*d + 5*e) / R
            let numerator = 0, denominator = 0;
            for (let i = 1; i < 6; i++) {
                let amountStar = ARL_dataTotalObj[i]?.AmountStart ?? 0;
                numerator += i * amountStar;
                denominator += amountStar
                $(`#ARL_btnFilterStar_${i}`).html(amountStar);
            }

            let avg = (numerator / denominator).toFixed(2);
            Count_Up("ARL_TotalPreview", denominator);
            Count_Up("ARL_StarAmountAvg", avg, 1);
            let strStar = ARL_RenderStar(avg);
            $('#ARL_StarAvg').html(strStar);
        }
    }

    function ARL_RenderChart() {
        let dataChart = [];
        for (let i = 5; i > 0; i--) {
            let amountStar = ARL_dataTotalObj[i]?.AmountStart ?? 0;
            dataChart.push({ Name: `${i} @Local["Sao"]`, Amount: amountStar });
        }

        let dataColor = [...colorChart];
        colorChart = [...Object.values(ARL_ColorStar).reverse()];
        rp_barhorizotal("ARL_ChartBar", dataChart, "Name", "Amount")
        colorChart = dataColor;
    }
    //#endregion

    //#region // EVENT
    //FILTER
    function ARL_FilterHideLine(id) {
        if (!$('#ARL_RatingRow_' + id).hasClass('d-none')){
            $('#ARL_RatingRow_' + id).addClass("d-none");
            $('#ARL_RatingRow_hr' + id).addClass("d-none");
        }
    }
    function ARL_FilterShowLine(id) {
        if ($('#ARL_RatingRow_' + id).hasClass('d-none')){
            $('#ARL_RatingRow_' + id).removeClass("d-none");
            $('#ARL_RatingRow_hr' + id).removeClass("d-none");
        }
    }

    function ARL_onkeyup_filterAppAsync() {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    ARL_Filter();
                },
            )
        })
    }

    function ARL_Filter() {
        let search = xoa_dau($('#ARL_filterAppointment').val().toLowerCase()).trim();
        let typeID = $("#ARL_TypeID").dropdown("get value") ? Number($("#ARL_TypeID").dropdown("get value")) : 0;
        let empID = $("#ARL_EmpID").dropdown("get value") ? Number($("#ARL_EmpID").dropdown("get value")) : 0;
        for (let i = 0; i < ARL_DataMain.length; i++) {
            let value = ARL_DataMain[i];
            let name = value["CustName"];
            if ((xoa_dau(name).toLowerCase().includes(search)
                || xoa_dau(value["CustCode"]).toLowerCase().includes(search))
                && (ARL_Star_Arr.length == 0
                    || ARL_Star_Arr.includes(value["Star"]))
                && (typeID == 0 || value["RatTypeID"] == typeID)
                && (empID == 0 || value["EmpID"] == empID)
            ) {
                ARL_FilterShowLine(value["ID"]);
            }
            else {
                ARL_FilterHideLine(value["ID"]);
            }
        }
    }

    function ARL_CloseFilter() {
        $('#colsearch').collapse('hide');
    }

    async function ARL_onkeyup_filterApp() {
        await ARL_onkeyup_filterAppAsync();
        return false;
    }

    function ARL_onClickFilterStar(){
        $("#ARL_RatingStarID .ARL_btnFilterStar").click(function () {

            if ($(this).hasClass("active") == false) {
                $(this).addClass("active");
                let star = Number($(this).attr("data-star"));
                ARL_Star_Arr.push(star);
            }
            else {
                $(this).removeClass("active");
                let star = Number($(this).attr("data-star"));
                let index = ARL_Star_Arr.indexOf(star);
                if (index !== -1) {
                    ARL_Star_Arr.splice(index, 1);
                }
            }
            ARL_Filter();
        })
    }

    //#endregion
    //#region //Export
    async function ARL_Export() {
        try {
            if (ARL_DataMain && ARL_DataMain.length != 0) {
                var dataHeader = {
                    "STT": ["@Local["STT"]", (value, { }, index) => { return index + 1; }],
                    "CustCode": ["@Local["Mã Khách hàng"]"],
                    "CustName": ["@Local["Tên khách hàng"]"],
                    "RatType": ["@Local["Loại"]"],
                    "Star": ["@Local["Đánh giá"]"],
                    "EmpID": ["@Local["Nhân viên"]", (value) => {
                        return Fun_GetName_ByID(ARL_DataEmp, value)
                    }],
                    "BranchID": ["@Local["Chi nhánh"]", (value) => {
                        return Fun_GetName_ByID(AC_DG_objBranchs, value)
                    }],
                    "Created": ["@Local["Ngày tạo"]", (value) => {
                        return  ConvertDateTimeUTC_DMYHM(value);
                    }],
                    "Message": ["@Local["Nội dung"]"]
                }

                syslog_ExpExcel('e', Outlang["Lich_hen_truc_tuyen"]);
                dataHeader = Checking_TabControl_System_RebuildHeader(dataHeader, tableBodyId = 'ARL_listContent', PermissionTable_TabControl);
                let nameExcel = Outlang['Lich_hen_truc_tuyen'];
                exportJsonToExcel(nameExcel, ARL_DataMain, dataHeader);
            }
            else {
                notiWarning('@Local["Không có dữ liệu để xuất"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không xuất được file"]!');
        }
    }
       //#endregion
</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/assets/js/plugins/chartjs.min.js', true);</script>
<style>
    .ARL_Star_item {
        width: 18px;
        margin-top: -2px;
    }

        .ARL_Star_item .ARL_star_under {
            color: #ff7f0e;
        }

        .ARL_Star_item .ARL_star_over {
            color: #ff7f0e;
        }

    .ARL_btnFilterStar.active {
        /* background: red !important; */
        background-image: linear-gradient( 310deg, #ffffff, #d6edff);
    }

    .ARL_btnFilterStar {
        max-height: 40px;
        min-height: 40px;
    }
</style>
