@page
@model MLunarCoffee.Pages.Student.Teacher.TeacherDetail.TeacherDetailModel
@{
    Layout = "";
}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Cấu hình giảng viên"]</h6>
                                <p class="text-sm mb-0">@Local["Thêm mới/chỉnh sửa giảng viên"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="form3">
                        <div class="d-xl-flex">
                            @* <div class="col-w-200 text-center mt-3 mx-auto">
                                <div class="avatar avatar-xxl border border-radius-md position-relative">
                                    <img id="TeacherAvatar" class="border-radius-md" alt="team-2"><div class="upload-btn-wrapper d-block mt-3">
                                        <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light position-absolute bottom-0 end-0 mb-n2 me-n2">
                                            <i class="fa fa-pen top-0"></i>
                                            <input class="avatar avatar-xxl position-absolute opacity-0 cursor-pointer" style="margin-top:-97px; margin-left:-109px" accept="image/*" id="TeacherAvatarFile" type="file" name="files[]" />
                                        </a>
                                    </div>
                                </div>
                            </div> *@
                            <div class="col-w-250">
                                <div class="">
                                    <div class="accordion">
                                        <div>
                                            <button class="accordion-button p-2 px-0 collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#TeacherCollapseNoteImg" aria-expanded="true" aria-controls="TeacherCollapseNoteImg">
                                                <h6 class="text-primary text-sm font-weight-bold mb-0"> @Local["Hình ảnh"] - @Local["Giảng viên"]</h6>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pe-2">
                                        <div id="TeacherCollapseNoteImg" class="collapse hide collapsesticky">
                                            <p class="text-dark text-sm fw-bold mb-1">
                                                @Local["Hướng dẫn"]:
                                                <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước"]</span>
                                            </p>
                                            <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                                @Local["Kích thước"]:
                                                <span class="text-dark text-sm text-normal ms-2">110 x 110 px</span>
                                            </p>
                                            <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                                @Local["Hình minh họa"]:
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <div class="d-block avatar avatar-xxl position-relative mb-2">
                                                    <a href="/Image/Illustration/avata-giang-vien.png" target="_blank">
                                                        <img src="/Image/Illustration/avata-giang-vien.png" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2 d-flex justify-content-center">
                                            <div class="row m-0">
                                                <div class="col-auto px-0 position-relative">
                                                    <img id="TeacherAvatar" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                    <div class="upload-container" id="CM_btnUpload">
                                                        <i class="fas fa-camera fs-3"></i>
                                                        <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="TeacherAvatarFile" accept="image/*" type="file" name="files[]" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div class="ms-2 row px-1">
                                    <div class="field col-12 col-sm-6 p-1">
                                        <label class="">@Local["Tên giáo viên"]</label>
                                        <input id="TeacherName" name="name" type="text" class="form-control" />
                                    </div>
                                    <div class="field col-12 col-sm-6 p-1">
                                        <label class="">Code</label>
                                        <input id="TeacherCode" type="text" class="form-control" name="code" />
                                    </div>
                                    <div class="field col-12 col-sm-6 p-1">
                                        <label class="">@Local["Biệt hiệu"]</label>
                                        <input id="TeacherAlias" name="alias" type="text" class="form-control" />
                                    </div>
                                    <div class="field col-12 col-sm-6 p-1">
                                        <label class="">@Local["Điện thoại"]</label>
                                        <input id="TeacherPhone" name="phone" type="text" class="form-control" />
                                    </div>
                                    <div class="field col-12 p-1">
                                        <label class="">@Local["Địa chỉ"]</label>
                                        <input id="TeacherAddress" type="text" class="form-control" />
                                    </div>
                                    <div class="field col-12 px-1">
                                        <label>@Local["Nội dung"]</label>
                                        <textarea id="TeacherNote" name="content" class="form-control" autocomplete="off" placeholder="eg.Content" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button id="TeacherbtnDetail" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();Teacher_ExcuteDetail()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //#region // INIT LOAD DETAIL

    let ser_SourceDetailID = '@Model._DataDetailID';
    let Teacher_URLAvatar = "/Api/Upload/Upload?Type=AvatarUser";
    let Teacher_AvatarDetail='';
    $(document).ready(function() {
        Teacher_LoadDataUpdate();
        $('#TeacherAvatar').attr('src',  Master_Default_Pic );
        Teacher_UploadAvatar();
    });

    function Teacher_LoadDataUpdate() {
        if (ser_SourceDetailID != "0") {
            AjaxLoad(url = "/Student/Teacher/TeacherDetail/?handler=Loadata"
                , data = { id: ser_SourceDetailID }
                , async = true
                , error = null
                , success = function(result) {
                    let data = JSON.parse(result);
                    if (data && data.length != 0) {
                        Teacher_FillData(data[0]);
                    }

                }
            )
        }
    }

    function Teacher_FillData(item) {
        $('#TeacherName').val(item.Name);
        $('#TeacherCode').val(item.Code);
        $('#TeacherNote').val(item.Note);
        $('#TeacherAlias').val(item.Alias);
        $('#TeacherPhone').val(item.Phone);
        $('#TeacherAddress').val(item.Address);
        $('#TeacherAvatar').attr('src',  item.Avatar == '' ? Master_Default_Pic : item.Avatar);
        Teacher_AvatarDetail = item.Avatar;

    }

    //#endregion

    //#region // EXECUTE DATA
    function Teacher_UploadAvatar() {
        AjaxUpload(url = Teacher_URLAvatar, inputid = 'TeacherAvatarFile'
            , success = function(data) {
                if (data != "0") {
                    Teacher_AvatarDetail = data;
                    $('#TeacherAvatar').attr('src', Teacher_AvatarDetail);
                }
                else {
                    notiError_SW()
                };
            }
            , error = function() { notiError_SW(); }
        );
    }

    function Teacher_ExcuteDetail() {
        var data = new Object();
        data.Name = $('#TeacherName').val() ? $('#TeacherName').val() : "";
        data.Code = $('#TeacherCode').val() ? $('#TeacherCode').val() : "";
        data.Note = $('#TeacherNote').val() ? $('#TeacherNote').val() : "";
        data.Alias = $('#TeacherAlias').val() ? $('#TeacherAlias').val() : "";
        data.Phone = $('#TeacherPhone').val() ? $('#TeacherPhone').val() : "";
        data.Address = $('#TeacherAddress').val() ? $('#TeacherAddress').val() : "";
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Student/Teacher/TeacherDetail/?handler=ExcuteData"
                , data = { data: JSON.stringify(data), CurrentID: ser_SourceDetailID, Avatar: Teacher_AvatarDetail}
                , async = true
                , error = null
                , success = function(result) {
                    if (result == "1") {
                        notiSuccess();
                        Teacher_LoadList();
                        CloseModal();
                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                }
            );
        }
    }

    //#endregion


</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>