@page
@model MLunarCoffee.Pages.Report.Revenue.CustomerSource.SourcePie
@{
    Layout = null;
}

<div class="card card-plain">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">
            <p class="text-md text-dark font-weight-bold mb-1">@Local["Doanh thu, doanh số theo nguồn khách hàng"]</p>
        </div>
        <div class="right">
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#ServiceCatPieDiv" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return LoadData_ReportServiceCatPie()"></i>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="ServiceCatPieDiv">
        <div class="card-body p-0">
            <div class="row px-1">
                <div class="col-12 col-md-6 col-xl-6 px-1 mt-2">
                    <div class="fw-bold text-center text-dark mb-1 text-sm">
                        @Local["Doanh số"]:
                        <span id="SourceT_PieTotal" class="fw-bolder"></span>
                    </div>
                    <div class="col-w-300 text-center mt-3 mx-auto position-relative" style="min-height: 200px;">
                        <div class="chart position-absolute top-50 start-50 translate-middle">
                            <canvas id="SourceT_Pie" class="chart-canvas" height="200"></canvas>
                        </div>
                    </div>
                    <div class="flex-grow-1 ">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <tbody id="SourceT_PieList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6 px-1 mt-2">
                    <div class="fw-bold text-center text-dark mb-1 text-sm">
                        @Local["Doanh thu"]:
                        <span id="SourceR_PieTotal" class="fw-bolder"></span>
                    </div>
                    <div class="col-w-300 text-center mt-3 mx-auto position-relative" style="min-height: 200px;">
                        <div class="chart position-absolute top-50 start-50 translate-middle">
                            <canvas id="SourceR_Pie" class="chart-canvas" height="200"></canvas>
                        </div>
                    </div>
                    <div class="flex-grow-1 ">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <tbody id="SourceR_PieList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>js_require('/js/comon/initialize_setting.js');</script>
<script>

    $(document).ready(function () {
        ToolPopper();
        LoadData_ReportServiceCatPie();
    });

    function LoadData_ReportServiceCatPie () {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/Revenue/CustomerSource/SourcePie/?handler=Loadata"
            , data = {
                'branchID': _branch,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo
            }
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result != "") {

                    let datas = JSON.parse(result);
                    let dataTarget = datas.Table;
                    let dataRevenue = datas.Table1;
                    if (dataTarget != undefined) {
                        let data = dataTarget;
                        let total = 0;
                        let name = '';
                        for (let i = 0; i < data.length; i++) {
                            total += Number(data[i]['Amount']);
                            let _item = RP_DataCustomerSource[data[i].Source];
                            name = _item != undefined ? _item.Name : '';
                            data[i].Name = name;
                        }
                        $('#SourceT_PieTotal').html(formatNumberToMilion(Number(total)));
                        ReportPie_Description(data, 'Name', 'Amount', 'SourceT_PieList');
                        rp_pie("SourceT_Pie", data, 'Name', 'Amount')
                    }
                    if (dataRevenue != undefined) {
                        let datar = dataRevenue;
                        let total = 0;
                        let name = '';
                        for (let i = 0; i < datar.length; i++) {
                            total += Number(datar[i]['Amount']);
                            let _item = RP_DataCustomerSource[datar[i].Source];
                            name = _item != undefined ? _item.Name : '';
                            datar[i].Name = name;
                        }
                        $('#SourceR_PieTotal').html(formatNumberToMilion(Number(total)));
                        ReportPie_Description(datar, 'Name', 'Amount', 'SourceR_PieList');
                        rp_pie("SourceR_Pie", datar, 'Name', 'Amount')
                    }

                }
            }
        );
    }

</script>


