@page
@model MLunarCoffee.Pages.Report.Target.Service.ServiceBarModel
@{
    Layout = null;
}

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="card card-plain">
    <div class="vtcardheader card-header pb-0 px-0">
        <div class="left">
            <p class="text-md text-dark font-weight-bold mb-1">@Local["Top 5 doanh số theo dịch vụ"]</p>
        </div>
        <div class="right">
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#ReportBranchBar" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return LoadData_ReportServiceBar()"></i>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="ReportBranchBar">
        <div class="card-body p-0">
            <div class="my-0" style="overflow-x: auto; overflow-y: hidden;">
                <div class="chart" style="min-width:1200px;height:300px;">
                    <canvas id="ServiceBar" class="chart-canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        ToolPopper();
        LoadData_ReportServiceBar();
    });
    function LoadData_ReportServiceBar()
    {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/Target/Service/ServiceBar/?handler=Loadata"
            , data = { 'branchID': _branch, 'dateFrom': _dateFrom, 'dateTo': _dateTo }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result)
            {
                if (result != "") {
                    let data = JSON.parse(result)["Table"];
                    for (let i = 0; i < data.length; i++) {
                        data[i]['Amount'] = Number(data[i]['Amount']);

                    }
                    rp_bar("ServiceBar", data, 'Name', 'Amount')

                } else {
                    notiError_SW();
                }
            }
        );
    }


</script>
<style>
    #ServiceBar {
        height: 300px !important
    }
</style>