@page
@model MLunarCoffee.Pages.Report.Target.Service.ServiceTreatmentGridModel
@{
    Layout = null;
}
<div class="card">
    <div class="card-header p-3 ">
        <div class="d-lg-flex">
            <div class="w-50 col-auto my-auto">
                <p class="text-md text-dark font-weight-bold mb-1">@Local["Doanh số dịch vụ điều trị"]</p>
                <p class="text-sm mb-0">@Local["Báo cáo doanh số dịch vụ điều trị"]</p>
            </div>
            <div class="ms-auto my-auto d-flex align-items-center">
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Thu gọn"]">
                    <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                       data-bs-toggle="collapse" href="#ServiceTreatmentGrid" aria-expanded="true"></i>
                </div>
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Tải lại"]">
                    <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                       onclick="event.preventDefault(); return LoadDataReport_ServiceTreatmentGrid()"></i>
                </div>
                <div class="icon-hover mx-1"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-original-title="@Local["Xuất excel"]">
                    <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel"
                       onclick="event.preventDefault(); return exportData_ServiceTreatmentGrid()"></i>
                </div>
            </div>
        </div>
        <div class="row p-2 pb-0 ps-0">
            <div class="col-lg-3">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Phát sinh"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotal_TotalPrice">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Lần điều trị"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotal_TotalTimeTo">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Đã điều trị"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotal_TotalTimeToUsing">0</span></h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="border-dashed border-1 border-secondary border-radius-md p-2 mt-2 pb-0">
                    <h6 class="text-sm text-primary text-gradient mb-0">@Local["Giá trị điều trị"]</h6>
                    <h6 class="font-weight-bolder"> <span id="lbTotal_TotalUnitAmount">0</span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="collapsesticky collapse show" id="ServiceTreatmentGrid">
        <div class="card-body p-3 pt-0">
            <div class="m-0 my-3 mobile-responsive">
                <table class="table vt-table mb-0" id="dtContentReport_ServiceTreatmentGrid">
                    <thead>
                        <tr>
                            <th style="width: 20px; display: none"></th>
                            <th style="width: 60px">#</th>
                            <th>@Local["Dịch vụ"]</th>
                            <th>@Local["Doanh số"]</th>
                            <th>@Local["Doanh thu"]</th>
                            <th>@Local["Số lần điều trị"]</th>
                            <th>@Local["Đã điều trị"]</th>
                            <th>@Local["Doanh thu điều trị"]</th>
                        </tr>
                    </thead>
                    <tbody id="dtContentReportBody_ServiceTreatmentGrid">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script type="text/javascript">

    $(document).ready(function () {
        ToolPopper();
        LoadDataReport_ServiceTreatmentGrid();
        $('#dtContentReport_ServiceTreatmentGrid').tablesort();
      //  $("#divReportViewDetail table").closest("table").parent().addClass("stickytable");
        Checking_TabControl_Permission();
    });

    function LoadDataReport_ServiceTreatmentGrid() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/Target/Service/ServiceTreatmentGrid/?handler=Loadata"
            , data = { 'branchID': _branch, 'dateFrom': _dateFrom, 'dateTo': _dateTo }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result)["Table1"];
                    let dataMaster = JSON.parse(result)["Table2"];
                    Count_Up('lbTotal_TotalPrice', dataMaster[0].TotalPrice)
                    Count_Up('lbTotal_TotalTimeTo', dataMaster[0].TotalTimeTo)
                    Count_Up('lbTotal_TotalTimeToUsing', dataMaster[0].TotalTimeToUsing)
                    Count_Up('lbTotal_TotalUnitAmount', dataMaster[0].TotalUnitAmount)

                    RenderReport_ServiceTreatmentGrid(data, "dtContentReportBody_ServiceTreatmentGrid");
                }
            }
        );

        return false;
    }

    function RenderReport_ServiceTreatmentGrid(data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        '<td style="display:none">' + item.ServiceID + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>' + item.ServiceName + '</td>'
                        + '<td>' + formatNumber(item.Price) + '</td>'
                        + '<td>' + formatNumber(item.Amount) + '</td>'
                        + '<td>' + formatNumber(item.TimeToTreatment) + '</td>'
                        + '<td>' + formatNumber(item.TreatmentUsing) + '</td>'
                        + '<td>' + formatNumber(item.AmountTreatment) + '</td>'
                    stringContent = stringContent + '<tr role="row" class="vt-number ' + (((i + 1) == data.length) ? 'active' : '') + '">' + tr + '</tr>';
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }
    function exportData_ServiceTreatmentGrid() {
        exportToExcel("dtContentReport_ServiceTreatmentGrid", Outlang["Doanh_so_dich_vu_dieu_tri"]);
    }
</script>

