@page
@model MLunarCoffee.Pages.Customer.BranchChangeDetailModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="w-50 col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Đổi chi nhánh của khách hàng"]</h6>
                            <p class="text-sm mb-0">@Local["Màn hình đổi chi nhánh"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div id="CBChange_DivWarning" class="bg-gradient-warning text-white p-2 rounded-2">@Local["Đổi chi nhánh. Chi nhánh có thể đổi phụ thuộc vào phân quyền của tài khoản"]</div>
                <div class="row px-1 form3 CBChange_Detail" id="CBChange_Detail">
                    <div class="field col-12 px-2  mt-3">
                        <div class="field">
                            <div class="ui fluid search selection dropdown form-control" id="CBChange_Branch">
                                <input type="hidden" name="branch" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">eg . @Local["Chi nhánh"]</div>
                                <div id="CBChange_BranchCbb" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer fixed-botombutton">
                <div class="action_Save">
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="CBChange_Detail" onclick="CloseModal()">@Local["Đóng"]</button>
                        <button form="CBChange_Detail" type="button" class="CBChange_Detail btn bg-gradient-primary mt-2 me-2" onclick="CBChange_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function (){
        CBChange_Initialize();
    });
    function CBChange_Initialize() {
        AjaxLoad(url = "/Customer/BranchChangeDetail/?handler=Initialize"
            , data = { CustID: ser_MainCustomerID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                let dataBranchCust = data.Table;
                let dataBranch = data.Table1;
                if(CBChange_CheckingPermis(dataBranchCust[0].Branch_ID,dataBranch)){
                    Load_Combo(dataBranch, "CBChange_BranchCbb", true);
                    $("#CBChange_Branch").dropdown("refresh");
                    $("#CBChange_Branch").dropdown("set selected", dataBranchCust[0].Branch_ID);
                }
            }
        );
    }
    function CBChange_CheckingPermis(CurrentBranch,DataBranch){
        let dataCheck = DataBranch.filter((item) => { return item.ID == CurrentBranch });
        if(dataCheck.length == 0){
            $(".CBChange_Detail").addClass('d-none');            
            $("#CBChange_DivWarning").html("@Local["Kiểm tra phân quyền chi nhánh của tài khoản"]");
            return false;
        }
        else{
            $(".CBChange_Detail").removeClass('d-none');
            $("#CBChange_DivWarning").html("@Local["Đổi chi nhánh. Chi nhánh có thể đổi phụ thuộc vào phân quyền của tài khoản"]");
            return true;
        }
    }
    function CBChange_ExcuteData(){
        let branch = Number($('#CBChange_Branch').dropdown('get value')) ? Number($('#CBChange_Branch').dropdown('get value')) : 0;        
        AjaxLoad(url = "/Customer/BranchChangeDetail/?handler=ExcuteData"
            , data = { 'branchid': branch,'custID' : ser_MainCustomerID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    location.reload();
                } else {
                    notiError_SW();
                }
            }
        );            
        
        return false;
    }
</script>