@page
@model MLunarCoffee.Pages.Customer.CustomerImageModel

@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-3 px-0">
    <div class="card p-3">
        <div class="col-12">
            <div class="card card-plain">
                <div class="card-header p-0">
                    <div class="d-lg-flex">
                        <div class="col-w-350 mx-auto">
                            <div class="card card-plain position-sticky top-1">
                                <div class="card-header p-0">
                                    <div class="d-flex">
                                        <ul class="nav nav-pills p-1 bg-transparent permissionlist">
                                            <li class="nav-item">
                                                <a class="nav-link cursor-pointer active" data-bs-toggle="collapse" href="#content_infodes">
                                                    <i class="text-gradient text-lg text-primary fas fa-info-circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="ms-auto my-auto mt-1">
                                            <button class="btn bg-gradient-primary btn-sm mt-1 px-3" onclick="createFolder_ImageCustomer();">
                                                @Local["Tạo thư mục"]
                                            </button>
                                        </div>
                                    </div>
                                    <div id="content_infodes" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark ms-1 mb-3 mt-0 collapsesticky collapse active show">
                                        <h6 class="mb-0">@Local["Folder"]</h6>
                                        <p class="text-sm mb-0">@Local["Tên folder không được trùng. Chỉ được xóa folder khi folder không chứa file"]</p>
                                    </div>
                                </div>
                                <div class="card-body pt-2 p-0">
                                    <ul id="TreeFolderName_Customer" class="bg-transparent flex-column nav nav-horizontal nav-pills pb-1 permissionlist pt-0 flex-column">
                                    </ul>


                                </div>

                            </div>
                        </div>
                        <div class="flex-grow-1 ">
                            <div class="card">
                                <div class="card-header py-0">
                                    <div class="d-flex">
                                        <ul class="nav nav-pills p-1 ps-0  bg-transparent">
                                            <li class="nav-item">
                                                <a class="nav-link cursor-pointer active" data-bs-toggle="collapse" href="#contentimg_infodes">
                                                    <i class="text-gradient text-lg text-primary fas fa-info-circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="contentimg_infodes" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark ms-0 mb-3 mt-2 collapsesticky collapse active show">
                                        <h6 class="mb-0">@Local["Quy định Upload"]</h6>
                                        <p class="text-sm mb-0">@Local["Giới hạn 1 lần gửi"] 5 files, < 5Mb, @Local["Định dạng hình"] png, jpg, svg, jpeg, gif, heif, heic</p>
                                        <p class="text-sm mb-0">@Local["Định dạng file docx, doc, xlsx, xls, pdf"]</p>
                                    </div>
                                </div>
                                <div class="card-body pt-2 " id="content_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var CurrentFolderName_Customer = '';
    var CurrentFolderID_Customer = '';
    var currenthidden = 0;
    var Clicktoshow = '@Model._Clicktoshow';


    //var folderName;
    var link_Upload_Image, link_Upload_File;
    var CI_DataFolder = {};



    $('#divImageGallary').modal({
        autofocus: false
    });

    function ContentIMG(ID) {
        $("#content_img").load("/Customer/CustomerImageByFolder?CustomerID=" + ser_MainCustomerID + "&FolderID=" + ID + "&TreatPlanID=&ver=" + versionofWebApplication);
    }

    $(document).ready(function () {
        Preapare_SH_FolderCustomer();
        LoadFolderTree_Customer_File_Image();
        Checking_TabControl_Permission();
        SettingHeightDiv_CustomerImages();
        EventClickOutTreeFolder();
        CheckPermissionControlInPage(sys_PerControl ,'@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
    });

    function SettingHeightDiv_CustomerImages() {
        $('#divMainPage').css({ height: 'calc( 100vh - ' + ($('#Master_Menu_Top').height() + $('#divCustomerTab').height() + $('#MainCustomer_Header_Info').height()) + 'px)' });
    }
    function EventClickOutTreeFolder() {
        $(document).unbind('click').on('click', function (e) {
            var container = $("#TreeFolderName_Customer .tree-item");
            var item = $("#TreeFolderName_Customer .item");
            var icons = $('#TreeFolderName_Customer .button_ellipsis');
            var icon = $('#TreeFolderName_Customer .ellipsis');
            var btn = $('#TreeFolderName_Customer .button_ellipsis_item');
            var image_scale = $("#TemplateFormMain");
            let isuncollapse = false;
            //var item = $("#TreeFolderName_Customer .item");

            for (j = 0; j < btn.length; j++) {
                if ($(btn[j]).is(e.target)) {
                    isuncollapse = true;
                }
            }
            if (!isuncollapse) {
                for (i = 0; i < icon.length; i++) {
                    if (!$(container[i]).is(e.target) && $(container[i]).has(e.target).length === 0 /*&& !$(icon[i]).is(e.target)*/) {
                        $(item[i]).removeClass('collapse');
                        $(icons[i]).removeClass('active');
                        $(icons[i]).closest('.tree-item').removeClass('active');
                        $(icons[i]).parent().find('.button_ellipsis_item').removeClass('active');
                    } else {
                        isuncollapse = true;
                        $(icons[i]).addClass('active');
                        //$(icon[i]).parent().find('.button_ellipsis_item').toggleClass('active');
                        $(item[i]).addClass('collapse');
                    }
                    if ($(icon[i]).is(e.target)) {
                        $(icons[i]).parent().find('.button_ellipsis_item').toggleClass('active');
                        $(icons[i]).closest('.tree-item').toggleClass('active');
                    }
                }
                if (!isuncollapse) {
                    $('#TreeFolderName_Customer .button_ellipsis').removeClass('active');
                    $('#TreeFolderName_Customer .button_ellipsis_item').removeClass('active');
                    $('#TreeFolderName_Customer a.item').each(function () {
                        $(this).removeClass('collapse');
                    });
                }
            }

            //if (!$(image_scale).is(e.target) && $(image_scale).has(e.target).length === 0) {
            //    if ($("#TemplateFormMain").hasClass("active") == true) {
            //        Scale_Form_Image();
            //    }
            //}

        });
    }

    function LoadFolderTree_Customer_File_Image() {
        AjaxLoad(url = "/Customer/CustomerImage/?handler=LoadAllFolder"
            , data = { 'CustomerID': ser_MainCustomerID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result);
                if (data != undefined) {
                    CI_DataFolder = data.reduce((pre, arr) => {
                        pre[arr.ID] = arr;
                        return pre;
                    }, {});
                    RenFolderImage_Customer_File_Image(data, "TreeFolderName_Customer");
                    Event_Click_Folder_Customer();
                    if (data.length != 0) {
                        $("#folder_image_" + data[0].ID).trigger("click");
                    } 
                }
            }
        );
    }

    // Image
    function createFolder_ImageCustomer() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/ImageNewFolder?CustomerID=" + ser_MainCustomerID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
    }
    function editFolder_ImageCustomer(id, name) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/ImageNewFolder?CustomerID=" + ser_MainCustomerID + "&CurrentID=" + id + "&CurrentName=" + name + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
    }

    function editDesciption_ImageCustomer(id) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/ImageDescription?CustomerID=" + ser_MainCustomerID + "&CurrentID=" + id + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
    }
    //////////////////



</script>


<script>js_require('/js/main.js');</script>
