@page
@model SourceMain.Pages.Customer.CustomerStepModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <div class="header header_form_main">
        @Local["Thông tin khách hàng"] 
    </div>
    <form class="ui form segment form3" id="form3" onsubmit="event.preventDefault(); return false;" style="border: none; box-shadow: none; padding: 10px;">
        <div class="ui segment tab_customer_step" data-tab="tab_1">
            <div class="two fields">
                <div class="field">
                    <label><span>@Local["Họ và tên"]</span><span> *</span></label>
                    <input id="CustomerName" name="name" type="text" placeholder="@Local["Họ và tên"]" />
                </div>

                <div class="field">
                    <label><span>@Local["Điện thoại"]</span><span> *</span></label>
                    <input data-tab="phone_customer" type="tel" style="padding-left: 45px; width: 100%;" name="phonenumber" id="Phone1" placeholder="" maxlength="10" />
                    <div style="font-size: 0.9em; color: red; padding-top: 3px;" id="customer_step_text_message"></div>
                </div>
            </div>

            <div class="two fields">

                <div class="field">
                    <label><span>@Local["Giới tính"]</span><span> *</span></label>
                    <div class="ui fluid search selection dropdown" id="Gender_ID" onchange="event.preventDefault();">
                        <input type="hidden" name="gender" />
                        <i class="dropdown icon"></i>
                        <input class="search" autocomplete="off" tabindex="0" />
                        <div class="default text">@Local["Giới tính"]</div>
                        <div id="cbbGenderCustomer" class="menu" tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label id="lableBirth">@Local["Ngày sinh"]</label>
                    <input id="CustomerBirthday" class="flatpickr_detail" type="text" placeholder="@Local["Ngày sinh"]..." />
                </div>
            </div>
        </div>
        <div class="ui segment tab_customer_step">
            <div class="field">
                <label>@Local["Email"]</label>
                <input id="Email1" name="email" type="text" />
            </div>
            <div class="field">
                <label>@Local["Địa chỉ"]</label>
                <input id="CustomerAddress" class="" type="text" />
            </div>

        </div>

        <div class="ui segment" id="customer_create_success" style="margin-bottom: 10px; display: none">
            <div class="field customer_create_success">
                <div class="img_success">
                    <i class="check icon"></i>
                </div>
                <h1>@Local["Thành công"]</h1>
            </div>
        </div>
    </form>
    <div style="text-align: center;" id="step_success">
        <span class="step"></span>
        <span class="step"></span>

        <div class="group_button" style="text-align: center; margin-top: 10px">
            <button id="customerStep_prevBtn" class="ui blue labeled icon button" onclick="event.preventDefault();return CustomerStep_NextPrev(-1)">
                <i class="arrow left icon"></i>
                <span>@Local["Trở lại"]</span>
            </button>
            <button id="customerStep_nextBtn" class="ui blue right labeled icon button" onclick="event.preventDefault();return CustomerStep_NextPrev(1)">
                <i class="arrow right icon"></i>
                <span id="customerStep_prevBtn_Name"></span>
            </button>
        </div>
    </div>

    <div class="action_Save" style="width: 11%; float: right">
        <div class="action_Save-Content" style="position: absolute; bottom: 6px">
            <button id="customerStep_btnClose" class="ui grey button cancelButton" onclick="event.preventDefault();CloseModal()" style="">@Local["Đóng"]</button>
        </div>
    </div>

    <script type="text/javascript">
        let _BranchID ='@Model._BranchID';
        var data_address = {};
        var phoneCustomerAnila_Detail;
        var dataCity;
        var dataSource;
        var dataDistrict;
        var dataNational;
        var currentTab = 0;
        var phoneNumberError = 0;
        var Long = 106.681702;
        var Lat = 10.828746;
        $(document).ready(function () {
            window.google = {};
            $("#CustomerBirthday").flatpickr({
                dateFormat: 'd-m-Y',
                enableTime: false
            });
            let input = document.querySelector("#Phone1");
            phoneCustomerAnila_Detail = window.intlTelInput(input, ({
                preferredCountries: ["vn", "us"],
                placeholderNumberType: "MOBILE",

            }));
            input.addEventListener("countrychange", function () {
                let flag = phoneCustomerAnila_Detail.getSelectedCountryData().iso2;
                $('#Phone1').val("");
                if (flag == "vn") {
                    $('#Phone1').attr("maxlength", "10");
                }
                else {
                    $('#Phone1').removeAttr("maxlength");
                }
            });
            CustomerStep_ShowTab(currentTab);
            CustomerStep_LoadInitializeData();

            $('.ui.dropdown .remove.icon').on('click', function (e) {
                $(this).parent('.dropdown').dropdown('clear');
                e.stopPropagation();
            });

            let pasteBox = document.getElementById("CustomerAddress");
            pasteBox.onpaste = e => {
                e.preventDefault();
                return false;
            };
        });

        //#region //event next-pre
        function CustomerStep_NextPrev(n) {
            var x = document.getElementsByClassName("tab_customer_step");
            if (n == 1 && CustomerStep_ValidateForm() == 1) return false;
            x[currentTab].style.display = "none";
            currentTab = currentTab + n;
            if (currentTab >= x.length) {
                CustomerStep_ExcuteData();
                return false;
            }
            CustomerStep_ShowTab(currentTab);
        }

        function CustomerStep_CheckPhoneNumber(Phone1) {
            phoneNumberError = 0;
            Phone1 = extract_numberic(Phone1);

            let phonecode = phoneCustomerAnila_Detail.getSelectedCountryData().iso2;
            if (phonecode == "vn" && Phone1.length != 10) {
                phoneNumberError = 1;
                return false;
            }
            AjaxLoad(url = "/Customer/CustomerStep/?handler=CheckPhoneNumber"
                , data = { 'Phone1': Phone1}
                , async = false
                , error = function () { phoneNumberError = 1; }
                , success = function (result) {
                    if (result == "0") {
                        phoneNumberError = 0;
                    }
                    else {
                        $('#customer_step_text_message').html('Số điện thoại đã được sử dụng!');
                        phoneNumberError = 1;
                    }
                }
            );

        }

        function CustomerStep_ShowTab(n) {
            var x = document.getElementsByClassName("tab_customer_step");
            x[n].style.display = "block";
            if (n == 0) {
                $("#customerStep_prevBtn").hide();
            } else {
                $("#customerStep_prevBtn").show();
            }
            if (n == (x.length - 1)) {
                $("#customerStep_prevBtn_Name").html("Hoàn Thành");
            } else {
                $("#customerStep_prevBtn_Name").html("Tiếp Theo");
            }
            Fix_Step_Indicator(n)
        }

        function Fix_Step_Indicator(n) {
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
                x[i].className = x[i].className.replace(" finish", "");
            }
            x[n].className += " active";
            for (var j = 0; j <= n; j++) {
                document.getElementsByClassName("step")[j].className += " finish";
            }
        }

        function CustomerStep_ValidateForm() {
            let Name = $('#CustomerName').val() ? $('#CustomerName').val().trim() : "";
            let Phone1 = $('#Phone1').val() ? $('#Phone1').val() : "";
            let Gender_ID = Number($('#Gender_ID').dropdown('get value')) ? Number($('#Gender_ID').dropdown('get value')) : 0;
            return ValidateForm(Name, Phone1, Gender_ID);
        }

        function ValidateForm(Name, Phone1, Gender_ID) {
            $('#customer_step_text_message').html('');
            isError = 0;
            var x = document.getElementsByClassName("tab_customer_step");
            var tab = x[currentTab].getAttribute("data-tab");
            switch (tab) {
                case "tab_1":
                    if (Name == "") {
                        $('#CustomerName').css('background-color', 'rgb(255 216 216)'); isError = 1;
                    }
                    else {
                        $('#CustomerName').css('background-color', 'white');
                    }

                    if (Gender_ID == 0) {
                        $('#Gender_ID').css('background-color', 'rgb(255 216 216)'); isError = 1;
                    }
                    else {
                        $('#Gender_ID').css('background-color', 'white');
                    }
                    if (Phone1 == "") {
                        $('#Phone1').css('background-color', 'rgb(255 216 216)'); isError = 1;
                    }
                    else {
                        CustomerStep_CheckPhoneNumber(Phone1);
                        if (phoneNumberError == 1) {
                            $('#Phone1').css('background-color', 'rgb(255 216 216)'); isError = 1;
                        }
                        else {
                            $('#Phone1').css('background-color', 'white');
                        }
                    }

                    break;

                default:
                    break;
            }
            return isError;
        }
        //#endregion

        function CustomerStep_ExcuteData() {
            var datafilter = dataSource.filter(word => word["SPID"] == 1);
            let administrativeLv_1 = "";
            let administrativeLv_2 = "";
            let dataLv_1;
            let dataLv_2;
            if (data_address.administrativeLv_1 != undefined) {
                administrativeLv_1 = xoa_dau((data_address.administrativeLv_1).toLowerCase()).trim();
                administrativeLv_2 = xoa_dau((data_address.administrativeLv_2).toLowerCase()).trim();

                dataLv_1 = dataCity.filter(function (item) {
                    if (xoa_dau(item["Name"]).toLowerCase().trim().includes(administrativeLv_1))
                        return true;
                    return false;
                });

                dataLv_2 = dataDistrict.filter(function (item) {
                    if (xoa_dau(item["Name"]).toLowerCase().trim().includes(administrativeLv_2))
                        return true;
                    return false;
                });
            }

            var data = new Object();
            data.Name = $('#CustomerName').val() ? $('#CustomerName').val().trim() : "";
            data.BranchID = _BranchID;
            data.Career = 0;
            data.Phone1 = $('#Phone1').val() ? extract_numberic($('#Phone1').val()) : "";
            data.Birthday = $('#CustomerBirthday').val() ? $('#CustomerBirthday').val() : "01-01-1900";
            data.Gender_ID = Number($('#Gender_ID').dropdown('get value')) ? Number($('#Gender_ID').dropdown('get value')) : 0;
            data.Type_Cat_ID = 0;
            if (datafilter && datafilter.length > 0) {
                data.Type_Cat_ID = datafilter[0].ID;
            }
            data.Language_ID = 64;
            data.NationalID = (dataNational && dataNational.length > 0) ? dataNational[0].ID : 0;
            data.City = (dataLv_1 && dataLv_2.length > 0) ? dataLv_1[0].ID : 0;
            data.District = (dataLv_2 && dataLv_2.length > 0) ? dataLv_2[0].ID : 0;
            data.Address = $('#CustomerAddress').val() ? $('#CustomerAddress').val() : "";
            data.Note = "";

            data.instgramurl = "";
            data.facebookurl = "";
            data.zalomurl = "";
            data.viberurl = "";
            data.Email1 = $('#Email1').val() ? $('#Email1').val() : "";
            data.Phone2 = "";
            data.phonecode = phoneCustomerAnila_Detail.getSelectedCountryData().iso2;
            $('#form3').form('validate form');
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Customer/CustomerStep/?handler=ExcuteData"
                    , data = { 'data': JSON.stringify(data) }
                    , async = true
                    , error = function () { notiError_SW(); }
                    , success = function (result) {
                        if (result == "0") {
                            notiError_SW();
                        }
                        else {
                            $('#customer_create_success').show();
                            $('#customerStep_nextBtn').hide();
                            $('#customerStep_prevBtn').hide();
                            $('#step_success').hide();
                        }
                    }
                );
            }
            return false;
        }

        function CustomerStep_LoadInitializeData() {
            AjaxLoad(url = "/Customer/CustomerStep/?handler=LoadInitializeData"
                , data = {}
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result!= "") {
                        let data = JSON.parse(result);
                        dataCity = data.City;
                        dataSource = data.Source;
                        dataDistrict = data.District;
                        dataNational = data.National;
                        Load_Combo(data.Gender, "cbbGenderCustomer", true);
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function () {
                    $("#customerDetailDiv").hide();
                    $("#loaderCustomerDetail").show();
                }
                , complete = function (e) {
                    $("#customerDetailDiv").show();
                    $("#loaderCustomerDetail").hide();
                }
            );
        }

        function initAutocomplete() {
            var input = document.getElementById('CustomerAddress');

            var searchBox = new google.maps.places.Autocomplete(input);
            searchBox.setComponentRestrictions({ 'country': ['vn'] });

            searchBox.addListener('place_changed', function () {
                var place = searchBox.getPlace();
                Lat = place.geometry.location.lat();
                Long = place.geometry.location.lng();
                geocodeLatLng(Lat, Long);
            });
        }

        function geocodeLatLng(lat, lng) {
            var geocoder = new google.maps.Geocoder;
            var latlng = { lat: parseFloat(lat), lng: parseFloat(lng) };
            geocoder.geocode({ 'location': latlng }, function (results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        let administrativeLv_2 = "no result";
                        let administrativeLv_1 = "no result";
                        let country = "";
                        for (var i = 0; i < results.length; i++) {
                            if (results[i].types[0] === "administrative_area_level_1") {
                                administrativeLv_1 = results[i].address_components[0].long_name;
                            }
                            if (results[i].types[0] === "administrative_area_level_2") {
                                administrativeLv_2 = results[i].address_components[0].long_name;
                            }

                            if (results[i].types[0] === "country") {
                                country = results[i].address_components[0].long_name;
                            }

                        }

                        data_address = {
                            "administrativeLv_1": administrativeLv_1,
                            "country": country,
                            "administrativeLv_2": administrativeLv_2
                        };

                    } else {
                        alert('No results found');
                    }
                } else {
                    alert('Geocoder failed due to: ' + status);
                }
            });
        }
    </script>

    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/comon/initialize_setting.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuk88uSzwWOoFpOJHocHBArn62A6gVTPA&libraries=places&callback=initAutocomplete" async defer></script>

    <style type="text/css">
        .tab_customer_step {
            display: none;
            margin: 0 !important;
            min-height: 160px !important;
        }

        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

            .step.active {
                opacity: 1;
            }

            .step.finish {
                background-color: #4CAF50;
            }

        .iti {
            width: 100%;
        }

        .customer_create_success h1 {
            color: #88B04B;
            font-weight: 500;
            font-size: 2em;
            margin-bottom: 10px;
        }

        .img_success i {
            color: #9ABC66;
            font-size: 7em;
            line-height: 130px;
        }

        .customer_create_success {
            text-align: center;
        }

        .img_success {
            border-radius: 130px;
            height: 130px;
            width: 130px;
            background: #F8FAF5;
            margin: 0 auto;
        }
    </style>
</body>
</html>
