@page
@model MLunarCoffee.Pages.Customer.CustomerGroupDetailModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form class="form form3" id="from_customer_Group" onsubmit="event.preventDefault(); return false;">
            <div class="card p-3 border-radius-xl bg-white mb-3">
                <h6 class="font-weight-bolder mb-0">@Local["Cập nhật nhóm khách hàng"]</h6>
                <div class="row  ms-0">
                    <div class="field col-12 mt-2 px-1">
                        <div class="me-2 mt-2 ui fluid search selection dropdown form-control" id="ChangeCustomer_Group">
                            <input type="hidden" name="" />
                            <i class="dropdown icon"></i>
                            <i class="remove icon"></i>
                            <div class="default text">@Local["Cập nhật nhóm khách hàng"]</div>
                            <div id="cbbCustomerGroup" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="action_Save">
        <div class="action_Save-Content">
            <button  class="btn btn-secondary" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
            <button  class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();return CustomerGroup_ExcuteData();">@Local["Lưu"]</button>
        </div>
    </div>
</div>



<script src="/js/comon/initialize_setting.js"></script>
<script type="text/javascript">

    let ser_Group_CustomerID = '@Model._CustomerID';
    let ser_Group_TicketID = '@Model._TicketID';
    let ser_Customer_GroupID = '@Model._GroupID';

    function Customer_Group_Load_Data() {
        AjaxLoad(url = "/Customer/CustomerGroupDetail/?handler=Loadata_Group"
            , data = { }
            , async = true
            , error = function () { notiError_SW(); }
            , success= function (result) {
                if (result!= "0") {
                    let data = JSON.parse(result);
                    Load_Combo(data, "cbbCustomerGroup", false);
                    if (ser_Customer_GroupID && ser_Customer_GroupID != "") {
                        $("#ChangeCustomer_Group").dropdown("refresh");
                        $("#ChangeCustomer_Group").dropdown("set selected", ser_Customer_GroupID);
                    }
                    $('.ui.dropdown .remove.icon').on('click', function (e) {
                        $(this).parent('.dropdown').dropdown('clear');
                        e.stopPropagation();
                    });
                }
            }
        );


    }
    function CustomerGroup_ExcuteData() {
        if ($('#from_customer_Group').form('is valid')) {
            var CustomerGroup_ID = Number($('#ChangeCustomer_Group').dropdown('get value')) ? Number($('#ChangeCustomer_Group').dropdown('get value')) : 0;
            AjaxLoad(url = "/Customer/CustomerGroupDetail/?handler=ExcuteData"
                , data = {
                    'CustomerID': ser_Group_CustomerID
                    , 'TicketID': ser_Group_TicketID
                    , 'GroupID': CustomerGroup_ID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {

                        notiSuccess();
                        if (typeof LoadCustomerGroup !== 'undefined' && $.isFunction(LoadCustomerGroup)) {
                            LoadCustomerGroup();
                        }
                        if (typeof MainCust_AcceptGroup !== 'undefined' && $.isFunction(MainCust_AcceptGroup)) {
                            if (CustomerGroup_ID!=0) MainCust_AcceptGroup();
                        }
                        if (typeof TicketAction_LoadInfo !== 'undefined' ) {
                            TicketAction_LoadInfo();
                        }
                        if (typeof GeneralInfo_InfoLoadGroup === 'function') {
                            GeneralInfo_InfoLoadGroup();
                        }
                    }
                    else {
                        notiError_SW();
                    }
                }
            );
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
        }
        return false;
    }

    $(document).ready(function () {
        Customer_Group_Load_Data();
    });
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
