@page
@model MLunarCoffee.Pages.Customer.CustomerImageByFolderModel
@{
    Layout = null;
}
 
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require_notasync('/js/comon/customerimage2.js', true);</script>
<script>js_require_notasync('/js/comon/watermark.js', true);</script>
<div id="guideApp" class="p-0 mt-2 d-none">
    <span class="badge badge-dot me-4">
        <i class="bg-success" style="width: 10px; height: 10px;"></i>
        <span class="text-dark text-sm">@Local["Hiện trên app"]</span>
    </span>
    <span class="badge badge-dot me-4">
        <i class="bg-danger" style="width: 10px; height: 10px;"></i>
        <span class="text-dark text-sm">@Local["Ẩn trên app"]</span>
    </span>
</div>
<div id="noticeDelete" style="display: none">
    <div class="border-dashed border-1 border-secondary border-radius-md p-2 mb-2">
        <h6 class="text-sm text-primary text-gradient mb-0">@Local["File xóa sẻ không khôi phục được"]</h6>
        <p class="text-sm mb-3">@Local["Click để thao tác"]</p>
        <div class="d-flex">
            <div class="text-danger text-gradient text-sm font-weight-bold" id="delimg_textShowMessage"></div>
            <div class=ms-sm-auto me-sm-0">
                <button id="btnEditImageCancel" class="btn btn-sm btn-dark ms-auto mb-0" onclick="event.preventDefault(); return ImageEdit_Cancel()">@Local["Đóng"]</button>
                <button id="btnEditImageOK" class="btn btn-sm btn-dark bg-gradient-primary ms-auto mb-0" onclick="event.preventDefault(); return ImageEdit_Save()">@Local["Lưu"]</button>
            </div>
        </div>

    </div>
</div>
<div class="row p-2 px-0" id="seg_image">
    <div class="actionFile w-100 mb-2 ms-n2">
        <div class="d-lg-flex w-100">
            <div class="col-auto my-auto d-sm-flex">

                <a id="btnEditImage" class="_tab_control_ px-2" style="display: none;" data-tab="delete_img_customer" onclick="ImageEdit_Begin();">
                    <i class="me-2  fas fa-minus-circle text-md text-gradient text-danger"></i>
                    @Local["Xóa"]
                </a>
                <span id="btnSetFormImg">
                    <a id="btnSetImage" class="px-2" style="display: none;" onclick="ReloadTemplateForm();">
                        <i class="me-2  fas fa-layer-group text-md text-gradient text-success"></i>
                        @Local["Set form"]
                    </a>
                </span>
                <div>
                    <a id="uploadButton" class="position-relative px-2 _tab_control_" data-tab="upload_img_customer">
                        <span class="cusor-pointer"><i class="me-2 text-md text-gradient text-info fas fa-cloud-upload-alt"></i>@Local["Tải tệp lên"]</span>
                        <input class="position-absolute start-0 w-100 opacity-0" accept="image/*" id="fileupload" type="file" name="files[]" multiple="">
                    </a>
                </div>
                <a  id="cbf_preview" data-zoom="0" class="px-2" onclick="ImagePreview_All();">
                    @Local["Phóng to"]
                </a>
            </div>
            <div id="list-button_sort" class="ms-auto my-auto mt-1 d-inline-flex">

                <ul class="nav nav-pills p-1 ps-0  bg-transparent">
                    <li class="nav-item">
                        <a id="sortname_asc" class="nav-link cursor-pointer" data-bs-toggle="collapse" title="@Local["Sắp xếp a-z theo tên"]" onclick="SortAscending();">
                            <i class="fas fa-sort-alpha-down"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="sortname_des" class="nav-link cursor-pointer" data-bs-toggle="collapse" title="@Local["Sắp xếp z-a theo tên"]" onclick="SortDescending();">
                            <i class="fas fa-sort-alpha-up"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="sortdate_asc" class="nav-link cursor-pointer" data-bs-toggle="collapse" title="@Local["Sắp xếp a-z theo ngày"]" onclick="SortDateAscending();">
                            <i class="fas fa-sort-numeric-down"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="sortdate_des" class="nav-link cursor-pointer" data-bs-toggle="collapse" title="@Local["Sắp xếp z-a theo ngày"]" onclick="SortDateDescending();">
                            <i class="fas fa-sort-numeric-up"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="hideshow_layout" class="nav-link cursor-pointer" data-bs-toggle="collapse" title="@Local["Tắt tất cả"]" onclick="HideShowLayout();">
                            <i class="fas fa-compress" style="display:none;"></i>
                            <i class="fas fa-expand"></i>
                        </a>
                    </li>
                </ul>
 
            </div>

        </div>
    </div>
    <div class="row px-2">
        <div class="col-lg-12 flex-grow-1">
            <div id="lightgallery"></div>
            <div id="lightgalleryEdit"></div>
        </div>
        <div id="form_area" class="col-lg-6 mt-lg-0 mt-4 flex-grow-1 pe-0">
            <div class="pt-2" id="content_img">
                <div id="TemplateFormMain" class="divCustomerImageMain_Right" style="display: none;">
                    <div>
                        <div id="TemplateList" class="nav d-flex flex-wrap p-2">
                        </div>
                        <div id="templateForm">
                        </div>
                        <div style="height: 30px;">
                            <div id="img_noti_failure" class="img_noti_failure">@Local["Có lỗi xảy ra"]</div>
                            <div id="img_noti_success" class="img_noti_success">@Local["Lưu thành công"]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="seg_file" class="mt-2">
    <div class="actionFile ms-n2 w-100">
        <div class="d-lg-flex w-100">
            <div class="col-auto my-auto">
                <a id="btnEditImage_File" class="_tab_control_ px-2" style="display: none;" data-tab="delete_img_customer_File" onclick="FileEdit_Begin();">
                    <i class="me-2  fas fa-minus-circle text-md text-gradient text-danger"></i>
                    @Local["Xóa"]
                </a>
                <a id="uploadButton_File" class="position-relative px-2 _tab_control_" data-tab="upload_img_customer" >
                    <span><i class="me-2 text-md text-gradient text-info fas fa-cloud-upload-alt"></i>@Local["Tải tệp lên"]</span>
                    <input class="position-absolute start-0 w-100 opacity-0" id="fileupload_File" type="file" name="files[]" multiple="">
                </a>
            </div>

        </div>
    </div>
    <div class="row">
        <div id="lightgallery_File"></div>
        <div id="lightgallery_FileEdit"></div>
    </div>
</div>


 
<script>
    //#region //DECLARE - INT
    var ser_FolderID = '@Model._FolderID';
    var ser_TreatPlanID = '@Model._TreatPlanID';
    var DataTemplateList_Default = [];
    var link_Upload_Image, link_Upload_File;
    $(document).ready(function () {
        CIF_Init();
        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl, '@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
        $('#list-button_sort li').on('click', 'a', function () {
            $('#list-button_sort a').removeClass('active');
            $(this).addClass('active');
        });
        
    });

    function CIF_Init() {
        $('#divImageGallary').modal({
            autofocus: false
        });
        $('#seg_image').show();
        if (ser_TreatPlanID == "") {
            $('#seg_file').show();
        } else {
            $('#TemplateFormMain').hide();
        }
        if (typeof Clicktoshow !== 'undefined' && Clicktoshow != "-1") {
            $('#guideApp').removeClass('d-none');
        }
        Done_SH_FolderCustomer();

        AjaxUpload_CustLocalImg(url = link_Upload_Image, inputid = 'fileupload'
            , CI_Resizeimageupload
            , success = function (resulf, e, filesize) {
                if (resulf != "0") {

                    let _r = resulf.split("@@");
                    ImageFile_Insert(_r[1], _r[6], _r[2], _r[0], _r[4], filesize);
                    Image_FinishUpload(e);
                    syslog_cutimg('i'
                        , (typeof CI_DataFolder[Number(_r[6])].FolderName !== 'undefined' && CI_DataFolder[Number(_r[6])].FolderName != '') ? CI_DataFolder[Number(_r[6])].FolderName : ''
                        , ser_MainCustomerID);
                    $("#fileupload").val("");
                }
                else {
                    Image_ErrorUpload(e);
                }
            }
            , error = function (e) {
                Image_ErrorUpload(e);
            }
            , before = function (e) {
                Image_BeginUpload(e);
            }
            , complete = null
            , funmaxrange = function (e) {
                notiWarning('@Local["Giới hạn"] : 5')
            }
        );
        AjaxUpload_Multi(url = link_Upload_File, inputid = 'fileupload_File'
            , success = function (resulf, e) {

                let Files = $("#fileupload_File")[0].files;
                if (resulf != "0") {
                    let _r = resulf.split("@@");
                    let SizeByte = 0;
                    for (let i = 0; i < Files.length; i++) {
                        if (Files[i].name == _r[2]) {
                            SizeByte = Files[i].size;
                            i = Files.length;
                        }
                    }
                    ImageFile_Insert(_r[1], ser_FolderID, _r[2], _r[0], '', SizeByte);
                    syslog_cutimg('i'
                        , (typeof CurrentFolderName_Customer !== 'undefined' && CurrentFolderName_Customer != '') ? CurrentFolderName_Customer : ''
                        , ser_MainCustomerID);
                    $("#fileupload_File").val("");
                } else {
                    notiWarning("@Local["Lỗi định dạng"]");
                }
            }
            , error = function (e) {
                notiError_SW();
            }
            , before = null
            , complete = null
            , funmaxrange = function (e) {
                notiWarning('@Local["Giới hạn"] : 5')
            }
        );


        SettingHeightDiv_CustomerImages();

        if (ser_TreatPlanID == "") {
            CustomerImage_Load(ser_FolderID, 0, 0);
        }
        ImageCustomer_GetSizeInDay();
        ImageCustomer_Ini();
        $('#TemplateList').on('click', '.tempItem', function () {
            $('.tempItem').removeClass("active");
            $(this).addClass("active");//.siblings().removeClass("active");
            let ID = Number($(this).attr('data-id'));
            RenderDataTemplate(ID);
        });
        LoadTemplateForm();
    }

    //#endregion

    function SettingHeightDiv_CustomerImages() {
        $('#divMainPage').css({ height: 'calc( 100vh - ' + ($('#Master_Menu_Top').height() + $('#divCustomerTab').height() + $('#MainCustomer_Header_Info').height()) + 'px)' });
    }

    // Image

    function editDesciption_ImageCustomer(id) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/ImageDescription?CustomerID=" + ser_MainCustomerID + "&CurrentID=" + id + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
    }
    //////////////////


    ////Scale Image
    //function Scale_Form_Image() {
    //    let $Form = $("#TemplateFormMain");
    //    if ($Form.hasClass("active") == false) {
    //        let height_menu = $("#Master_Menu_Top").height();
    //        let OffsetForm = $Form.offset();
    //        let pos_left = OffsetForm.left;
    //        let pos_top = OffsetForm.top - height_menu;
    //        let width = $Form.width();
    //        let height = $Form.height();
    //        $Form.css({
    //            "position": "fixed",
    //            "top": pos_top,
    //            "left": pos_left,
    //            "width": width,
    //            "height": height
    //        }).animate({
    //            "top": "50%",
    //            "left": "50%",
    //            "width": "600px",
    //            "height": "600px"
    //        }, {
    //            step: function (now, fx) {
    //                $(this).css('-webkit-transform', "translate(-50%,-50%)");
    //            }
    //        }, 500)
    //        $Form.addClass("active");
    //        $Form.attr({
    //            "data-top": pos_top,
    //            "data-left": pos_left,
    //        })
    //        $(".zoom_in_out_image").addClass("out");
    //        $("#templateForm").addClass("grid_column_3");
    //    }
    //    else {
    //        $Form.css({
    //            "top": $Form.attr("data-top") + "px",
    //            "left": $Form.attr("data-left") + "px",
    //            "width": "auto",
    //            "height": "auto"
    //        }).animate({
    //            "top": 0,
    //            "left": 0
    //        }, {
    //            step: function (now, fx) {
    //                $(this).css({
    //                    "-webkit-transform": "none",
    //                    "position": "relative",
    //                });
    //            }
    //        }, 500),
    //            $Form.removeClass("active");
    //        $(".zoom_in_out_image").removeClass("out");
    //        $("#templateForm").removeClass("grid_column_3");
    //    }
    //}
    ////
</script>
<style>
    .before_load {
        border: 1px solid #ffffff !important;
        position: relative !important;
    }

    .before_load_absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient( 100deg, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 500px 500px;
        animation-name: placeholderAnimation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        z-index: 2;
    }

    @@keyframes placeholderAnimation {
        0% {
            background-position: -250px;
        }

        100% {
            background-position: 250px;
        }
    }

    .error_load {
        border: 1px solid red !important;
    }

    .beforepdf_load {
        min-height: 100px;
        border: 1px solid green !important;
    }

    .errorpdf_load {
        min-height: 100px;
        border: 1px solid red !important;
    }

    .prepareDetele {
        border: dashed 3px red !important;
        animation: spin 4s linear infinite;
    }

    @@keyframes spin {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.7;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 0.7;
        }
    }


    .titleImg {
        line-height: 28px;
        font-size: 15px;
        font-weight: bold;
        color: #15499a;
    }

    .imgitem {
        position: absolute;
        left: 6px;
        top: -15px;
        display: none !important;
    }

    .imgitem_edit {
        display: block !important;
    }

    .actionImg {
        display: inline-flex;
    }

        .actionImg .btnAction {
            margin: auto;
            cursor: pointer;
            margin-right: 5px;
        }

    .actionFile .btnAction {
        margin: auto;
        cursor: pointer;
        margin-left: 5px;
    }

    .actionFile {
        display: inline-flex;
    }

    #lightgalleryEdit a {
        margin: 3px;
        border: 1px solid #d6d2d2;
        display: inline-block;
        position: relative;
        overflow: hidden;
        font-size: 10px;
        background-position: center;
        width: 100px;
        height: 100px;
        background-size: cover;
    }

    #lightgallery a {
        margin: 3px;
        border: 1px solid #d6d2d2;
        display: inline-block;
        position: relative;
        overflow: hidden;
        font-size: 10px;
        background-position: center;
        width: 100px;
        height: 100px;
        background-size: cover;
    }
        #lightgallery a.expand {
            width: 250px;
            height: 250px;
            transition: width 2s, height 2s;
        }
        #lightgallery a:before {
            content: attr(data-createdby);
            position: absolute;
            bottom: 21px;
            left: 0;
            width: 100%;
            padding: 2px 2px 0 2px;
            background: #247BA0;
            color: white;
            transform: translateX(200px);
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            white-space: nowrap;
        }

        #lightgallery a:after {
            content: attr(data-created);
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 2px 2px 2px;
            width: 100%;
            background-color: #247BA0;
            color: white;
            transform: translateX(200px);
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            transition-delay: 0.05s;
        }

        #lightgallery a:hover:after {
            transform: translateY(0);
        }

        #lightgallery a:hover:before {
            transform: translateY(0);
        }

    #templateForm .selectdrop {
        height: 80px;
        width: 80px;
        border: 1px solid lightgrey;
        position: relative;
        margin: 2px;
        overflow: hidden;
    }

    #templateForm {
        text-align: center;
        min-height: 350px;
        margin: 0 auto;
        margin-top: 10px;
        overflow-y: scroll;
    }

        #templateForm .imgform {
            object-fit: cover;
            width: 100%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            height: auto;
            transform: translateX(-50%) translateY(-50%);
        }

    .img_noti_failure {
        background-color: red;
        color: white;
        opacity: 0;
        padding: 2px 10px;
        font-size: 14px;
        width: 100%;
        text-align: center;
        height: 0px;
    }

        .img_noti_failure.show {
            animation: noti_cust_img 2.3s 1;
        }

    .img_noti_success {
        background-color: #d4edff;
        color: white;
        opacity: 0;
        padding: 2px 10px;
        font-size: 14px;
        text-align: center;
        color: #2185d0;
        height: 0px;
    }

        .img_noti_success.show {
            animation: noti_cust_img 2.3s 1;
        }

    .button-delete-img-form {
        position: absolute;
        right: 0px;
        cursor: pointer;
        opacity: 0;
    }

    .selectdrop:hover .button-delete-img-form {
        opacity: 1;
    }

    .tempItem.exist {
        border: 1px solid #49505742 !important;
    }

    @@keyframes noti_cust_img {
        0% {
            opacity: .5;
            height: 25px;
        }

        50% {
            opacity: 1;
            height: 25px;
        }

        100% {
            opacity: 0;
            height: 25px;
        }
    }

    .lg-outer .lg-thumb-item {
        position: relative;
    }

    .img-content {
        position: relative;
        height: 80px;
        width: 80px;
        margin: 2px;
    }

    .lg-outer .lg-thumb-item img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
    }

    .design_img_item .sh {
        position: absolute;
        opacity: 0.5;
        width: 0;
        height: 0;
        border-bottom: 45px solid transparent;
    }

        .design_img_item .sh:hover {
            opacity: 1;
        }

    .design_img_item .show {
        border-left: 45px solid #82d616;
    }

    .design_img_item .hide {
        border-left: 45px solid #ea0606;
    }
</style>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
