@page
@model SourceMain.Pages.Customer.FilterCustomerModel
@{
}

<script>css_require('/assests/dist/PriceRange/price_range_style.css');</script>
<div class="pusher">
    <div class="navslide navwrap">
        <div class="sixteen wide tablet sixteen wide computer column" style="padding: 20px;">
            <div class="ui grid">
                <div class="sixteen wide tablet four wide computer column">
                    <div class="ui form segment form3 fiter">
                        <div class="ui segment headerSegmentReport">
                            <span class="headerReport" id="filterName"></span>
                            <i class="angle double right icon icon-type" id="iconChangeType" data-type="1"></i>
                        </div>
                        <div class="field" style="height: 34px;">
                            <button id="actionFilterCustomer" class="ui teal button" onclick="event.preventDefault();return FilterCustomer(0);" style="float: right;">
                            @Local["OK"]</button>
                        </div>
                        <div class="ui form segment form3 body-filter active" id="bodyFilterCustomer">
                            <div class="ui equal width left aligned padded grid stackable">
                                <div class="sixteen wide tablet two wide computer column">
                                    <div style="padding-left: 10px;" class="ui horizontal secondary pointing fluid tabular menu">
                                        <a id="info" class="item active" data-tab="info">@Local["Thông tin chung"]</a>
                                        <a id="other" class="item" data-tab="other">@Local["Thông tin khác"]</a>
                                    </div>
                                </div>
                                <div class="sixteen wide tablet sixteen wide computer column">
                                    <div class="ui tab active" data-tab="info" style="overflow-y: auto; overflow-x: hidden; height: calc(100vh - 322px);">
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Thời gian tạo"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterCreateCust" type="checkbox" onchange="event.preventDefault();return onchangefilterCreateCust();" checked>
                                                    <label for="filterCreateCust" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="two fields">
                                                    <div class="field">
                                                        <input id="date_From_CreateCust" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                    <div class="field">
                                                        <input id="date_To_CreateCust" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Chi nhánh"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterBranch" type="checkbox" onchange="event.preventDefault();return onchangefilterBranch();">
                                                    <label for="filterBranch" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenBranch">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenBranch">
                                                        <input type="hidden" name="tokenBranch" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Chi nhánh"]</div>
                                                        <div id="ccbtokenBranch" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Nguồn"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filtersource" type="checkbox" onchange="event.preventDefault();return onchangefiltersource();">
                                                    <label for="filtersource" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenSrouce">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenSrouce">
                                                        <input type="hidden" name="tokenSrouce" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Nguồn"]</div>
                                                        <div id="ccbtokenSrouce" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Nhóm khách hàng"] 
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterCustomerGroup" type="checkbox" onchange="event.preventDefault();return onchangefilterCustomerGroup();">
                                                    <label for="filterCustomerGroup" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenCustomerGroup">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenCustomerGroup">
                                                        <input type="hidden" name="tokenCustomerGroup" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Nhóm khách hàng"]</div>
                                                        <div id="ccbtokenCustomerGroup" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Giới tính"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterGender" type="checkbox" onchange="event.preventDefault();return onchangefilterGender();">
                                                    <label for="filterGender" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenGender">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenGender">
                                                        <input type="hidden" name="tokenGender" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Giới tính"]</div>
                                                        <div id="ccbtokenGender" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Nghề nghiệp"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterCarree" type="checkbox" onchange="event.preventDefault();return onchangefilterCarree();">
                                                    <label for="filterCarree" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenCarree">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenCarree">
                                                        <input type="hidden" name="tokenCarree" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Nghề nghiệp"]</div>
                                                        <div id="ccbtokenCarree" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="filter_members_field" class="ui segments _tab_control_" data-tab="field_tab_filter_members">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Thành viên"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterMember" type="checkbox" onchange="event.preventDefault();return onchangefilterMember();">
                                                    <label for="filterMember" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenMember">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenMember">
                                                        <input type="hidden" name="tokenMember" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Thành viên"]</div>
                                                        <div id="ccbtokenMember" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">@Local["Độ tuổi"]</h5>
                                                <div class="ui checkbox">
                                                    <input id="filterAge" type="checkbox" onchange="event.preventDefault();return onchangeAge();">
                                                    <label for="filterAge" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field">
                                                    <div class="price-range-block">
                                                        <div id="slider-range" class="price-filter-range slider-range"></div>
                                                        <div style="margin: 30px auto">
                                                            <input type="text" oninput="validity.valid||(value='0');" id="AgeFrom" class="price-range-field min_price" />
                                                            <input type="text" oninput="validity.valid||(value='10000');" id="AgeTo" class="price-range-field max_price" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui tab" data-tab="other" style="overflow-y: auto; overflow-x: hidden; height: calc(100vh - 322px);">
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Thời gian sử dụng dịch vụ / Sản phẩm"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterUsingDate" type="checkbox" onchange="event.preventDefault();return onchangefilterUsingDate();">
                                                    <label for="filterUsingDate" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="two fields">
                                                    <div class="field">
                                                        <input id="date_From" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                    <div class="field">
                                                        <input id="date_To" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Thời gian điều trị cuối cùng"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterTreatmentDate" type="checkbox" onchange="event.preventDefault();return onchangefilterTreatmentDate();">
                                                    <label for="filterTreatmentDate" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="two fields">
                                                    <div class="field">
                                                        <input id="Treatment_From" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                    <div class="field">
                                                        <input id="Treatment_To" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Nhóm dịch vụ/sản phẩm"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filtergroupService" type="checkbox" onchange="event.preventDefault();return onchangefiltergroupService();">
                                                    <label for="filtergroupService" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokengroupservice">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokengroupservice">
                                                        <input type="hidden" name="tokengroupservice" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Nhóm dịch vụ/sản phẩm"]</div>
                                                        <div id="ccbtokengroupservice" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Bảo hiểm"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterInsurance" type="checkbox" onchange="event.preventDefault();return onchangefilterInsurance();">
                                                    <label for="filterInsurance" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenInsurance">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenInsurance">
                                                        <input type="hidden" name="tokenInsurance" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Bảo hiểm"]</div>
                                                        <div id="ccbtokenInsurance" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Trạng thái làm dịch vụ"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterServiceStatus" type="checkbox" onchange="event.preventDefault();return onchangefilterServiceStatus();">
                                                    <label for="filterServiceStatus" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenServiceStatus">
                                                    <div class="ui fluid search selection dropdown" id="tokenServiceStatus">
                                                        <input type="hidden" name="tokenServiceStatus" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Trạng thái làm dịch vụ"]</div>
                                                        <div id="ccbtokenServiceStatus" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui form segment form3 body-filter" id="bodyFilterFamyly">
                            <div class="ui equal width left aligned padded grid stackable">
                                <div class="sixteen wide tablet two wide computer column">
                                    <div style="padding-left: 10px;" class="ui horizontal secondary pointing fluid tabular menu">
                                        <a class="item active" data-tab="info_relationship">@Local["Thông tin chung"]</a>
                                    </div>
                                </div>
                                <div class="sixteen wide tablet sixteen wide computer column">
                                    <div class="ui tab active" data-tab="info_relationship" style="overflow-y: auto; overflow-x: hidden; height: calc(100vh - 322px);">
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Thời gian thay đổi quan hệ"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterDateRelationship" type="checkbox" onchange="event.preventDefault();return onchangefilterDateRelationship();">
                                                    <label for="filterDateRelationship" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="two fields">
                                                    <div class="field">
                                                        <input id="date_From_Relationship" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                    <div class="field">
                                                        <input id="date_To_Relationship" class="flatpickr" type="text" placeholder="@Local["Chọn ngày"].." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui segments">
                                            <div class="ui segment">
                                                <h5 class="ui header">
                                                    @Local["Chi nhánh"]
                                                </h5>
                                                <div class="ui checkbox">
                                                    <input id="filterRelationshipBranch" type="checkbox" onchange="event.preventDefault();return onchangefilterRelationshipBranch();">
                                                    <label for="filterRelationshipBranch" style="font-size: 12px; font-style: italic; color: #027abc;" class="coloring blue"></label>
                                                </div>
                                            </div>
                                            <div class="ui segment">
                                                <div class="field" id="divtokenRelationshipBranch">
                                                    <div class="ui fluid search selection dropdown multiple" id="tokenRelationshipBranch">
                                                        <input type="hidden" name="tokenCarree" />
                                                        <i class="dropdown icon"></i>
                                                        <input class="search" autocomplete="off" tabindex="0" />
                                                        <div class="default text">@Local["Chi nhánh"]</div>
                                                        <div id="ccbtokenRelationshipBranch" class="menu" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide tablet twelve wide computer column">
                    <div id="ContentMultiSMS" style="display: none; margin-top: 0;">
                        <form class="ui form segment form3">
                            <div class="field">
                                <div class="field">
                                    <label>@Local["Nội dung"]</label>
                                    <textarea id="txtContentMultiSMS" name="name"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field">
                                    <button class="ui teal button button_send" type="submit" onclick="return ExcuteSendMulti()">@Local["Gửi"]</button>
                                    <button class="ui greyli button cancelButton" onclick="event.preventDefault();return CloseSendMulti()">@Local["Đóng"]</button>
                                    <button class="ui yellowli button button_check_content" onclick="event.preventDefault();return CheckContentSMS()">@Local["Kiểm tra nội dung"]</button>
                                    <div id="checkContent" class="ui right pointing gray label" style="font-size: 12px; display: none">
                                    </div>
                                    <div id="messageCheckSuccess" class="ui right pointing greenli label" style="font-size: 12px; display: none">
                                    </div>
                                    <div style="font-size: 12px; color: red" id="textShowMessage"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="contentFilterArea" class="ui segment form" style="margin-top: 0;">
                        <div class="two fields">
                            <div class="field">
                                <div class="ui labeled fluid" style="max-width: 190px;">
                                    <a  class="ui label label_total_header" style="background: rgb(0, 181, 173); color: white; font-size: 13px;" id="totalCustomerFilter"></a>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui buttons" style="float: right;">
                                    <button id="actionCheckColum" class="ui teal button button_more" onclick="event.preventDefault();return HideOrShowColumFunction();">
                                        @Local["Xem thêm"]
                                    </button>
                                    <button id="btnExportExcel" class="ui blue button exportButton _tab_control_" data-tab="export_excel" title="@Local["Xuất file"]" data-value="fade up" onclick="event.preventDefault();return ExportFilter()">Xuất File Excel</button>
                                    <button id="btnSendSMS" class="ui teal button" data-value="fade up" onclick="event.preventDefault();return prepageMuliSMS()">@Local["Soạn tin nhắn"]</button>
                                </div>
                            </div>
                        </div>
                        <div id="divColumnMore" style="display: none; background-color: white">
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="8" name="chkDetail"><label class="coloring orange">@Local["MSKH cũ"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="9" name="chkDetail"><label class="coloring orange">@Local["Nguồn"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="10" name="chkDetail"><label class="coloring orange">@Local["Loại dịch vụ"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="7" name="chkDetail"><label class="coloring orange">@Local["Nghề nghiệp"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="11" name="chkDetail"><label class="coloring orange">@Local["Ngày tạo"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="12" name="chkDetail"><label class="coloring orange">@Local["Chi nhánh"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="13" name="chkDetail"><label class="coloring orange">@Local["Email"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="14" name="chkDetail"><label class="coloring orange">@Local["Điện thoại"] 2</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="15" name="chkDetail"><label class="coloring orange">@Local["Địa chỉ"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="16" name="chkDetail"><label class="coloring orange">@Local["Quốc tịch"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="17" name="chkDetail"><label class="coloring orange">@Local["Thành viên"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="18" name="chkDetail"><label class="coloring orange">@Local["Tiền thanh toán"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="19" name="chkDetail"><label class="coloring orange">@Local["Ghi chú"]</label>
                            </div>
                            <div style="margin: 10px; display: none;" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="20" id="colRelationship" name="chkDetail" disabled><label class="coloring orange">@Local["Ngày tạo quan hệ"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="21" name="chkDetail"><label class="coloring orange">@Local["Bảo hiểm"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="22" name="chkDetail"><label class="coloring orange">@Local["Tuổi"]</label>
                            </div>
                            <div style="margin: 10px" class="ui toggle checkbox">
                                <input class="checkColumn" type="checkbox" title="23" name="chkDetail"><label class="coloring orange">@Local["Ngày điều trị cuối"]</label>
                            </div>
                        </div>
                        <div id="divScrollContentFilter" style="overflow-x: auto; overflow-y: auto; height: calc(100vh - 175px); width: 100%;">
                            <table id="dtContentFilter" class="ui celled padded table">
                                <thead class="hiddenCollapse">
                                    <tr role="row">
                                        <th id="tcol1" style="text-align: center; width: 10px"># </th>
                                        <th id="tcol20" style="text-align: center;">@Local["Ngày tạo quan hệ"]</th>
                                        <th id="tcol2" style="text-align: center">@Local["MSKH"] </th>
                                        <th id="tcol3" style="text-align: center">@Local["Tên"] </th>
                                        <th id="tcol4" style="text-align: center;">@Local["Ngày sinh"]</th>
                                        <th id="tcol5" style="text-align: center;">@Local["Điện thoại"]</th>
                                        <th id="tcol6" style="text-align: center;">@Local["Giới tính"]</th>
                                        <th id="tcol7" style="text-align: center;">@Local["Nghề nghiệp"]</th>
                                        <th id="tcol8" style="text-align: center">@Local["MSKH cũ"]</th>
                                        <th id="tcol9" style="text-align: center">@Local["Nguồn"]</th>
                                        <th id="tcol10" style="text-align: center">@Local["Loại dịch vụ"]</th>
                                        <th id="tcol11" style="text-align: center">@Local["Ngày tạo"]</th>
                                        <th id="tcol12" style="text-align: center;">@Local["Chi nhánh"]</th>
                                        <th id="tcol13" style="text-align: center;">@Local["Email"]</th>
                                        <th id="tcol14" style="text-align: center;">@Local["Điện thoại"] 2</th>
                                        <th id="tcol15" style="text-align: center;">@Local["Địa chỉ"]</th>
                                        <th id="tcol16" style="text-align: center;">@Local["Quốc tịch"]</th>
                                        <th id="tcol17" style="text-align: center;">@Local["Thành viên"]</th>
                                        <th id="tcol18" style="text-align: center;">@Local["Tiền thanh toán"]</th>
                                        <th id="tcol19" style="text-align: center;">@Local["Ghi chú"]</th>
                                        <th id="tcol21" style="text-align: center;">@Local["Bảo hiểm"]</th>
                                        <th id="tcol22" style="text-align: center;">@Local["Tuổi"]</th>
                                        <th id="tcol23" style="text-align: center;">@Local["Ngày điều trị cuối"]</th>

                                    </tr>
                                </thead>
                                <tbody id="dtContentFilterBody">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="12" style="line-height: 0; padding: 0">
                                            <button id="btnLoadMove" class="loadmore btnsysmore" onclick="FilterCustomer()" style="display: inline-block; display: none;">
                                                @Local["Xem thêm"]
                                            </button>
                                            <div id="loaderList" style="border: none; height: 15px; display: none;">
                                                <div class="ui active inverted dimmer" style="top: unset !important; height: unset !important;">
                                                    <div class="ui large text loader" style="height: 25px; width: 25px;"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        var dataCustomerFitler = [];
        var offset = 1;
        var sys_Limit_LoadList ='@Model.sys_Limit_LoadList';
        //#region Onchanged
        //filter Relationship
        function onchangefilterRelationshipBranch() {
            if ($('#filterRelationshipBranch').is(':checked')) {
                $('#tokenRelationshipBranch').removeClass('disabled');
            }
            else {
                $('#tokenRelationshipBranch').addClass('disabled');
            }
            return false;
        }
        function onchangefilterDateRelationship() {
            if ($('#filterDateRelationship').is(':checked')) {
                $("#date_From_Relationship").removeAttr('disabled');
                $("#date_To_Relationship").removeAttr('disabled');
            }
            else {
                $("#date_From_Relationship").attr('disabled', true);
                $("#date_To_Relationship").attr('disabled', true);
            }
            return false;
        }
        //filter cust
        function onchangefilterCreateCust() {
            if ($('#filterCreateCust').is(':checked')) {
                $("#date_From_CreateCust").removeAttr('disabled');
                $("#date_To_CreateCust").removeAttr('disabled');
            }
            else {
                $("#date_From_CreateCust").attr('disabled', true);
                $("#date_To_CreateCust").attr('disabled', true);
            }
            return false;
        }
        function onchangefilterUsingDate() {
            if ($('#filterUsingDate').is(':checked')) {
                $("#date_From").removeAttr('disabled');
                $("#date_To").removeAttr('disabled');
            }
            else {
                $("#date_From").attr('disabled', true);
                $("#date_To").attr('disabled', true);
            }
            return false;
        }
        function onchangefilterTreatmentDate() {
            if ($('#filterTreatmentDate').is(':checked')) {
                $("#Treatment_From").removeAttr('disabled');
                $("#Treatment_To").removeAttr('disabled');
            }
            else {
                $("#Treatment_From").attr('disabled', true);
                $("#Treatment_To").attr('disabled', true);
            }
            return false;
        }
        function onchangefiltergroupService() {
            if ($('#filtergroupService').is(':checked')) {
                $('#tokengroupservice').removeClass('disabled');
            }
            else {
                $('#tokengroupservice').addClass('disabled');
            }
            return false;
        }
        function onchangefilterCarree() {
            if ($('#filterCarree').is(':checked')) {
                $('#tokenCarree').removeClass('disabled');
            }
            else {
                $('#tokenCarree').addClass('disabled');
            }
            return false;
        }
        function onchangefilterBranch() {
            if ($('#filterBranch').is(':checked')) {
                $('#tokenBranch').removeClass('disabled');
            }
            else {
                $('#tokenBranch').addClass('disabled');
            }
            return false;
        }
        function onchangefilterGender() {
            if ($('#filterGender').is(':checked')) {
                $('#tokenGender').removeClass('disabled');
            }
            else {
                $('#tokenGender').addClass('disabled');
            }
            return false;
        }
        function onchangefilterMember() {
            if ($('#filterMember').is(':checked')) {
                $('#tokenMember').removeClass('disabled');
            }
            else {
                $('#tokenMember').addClass('disabled');
            }
            return false;
        }
        function onchangefiltersource() {
            if ($('#filtersource').is(':checked')) {
                $('#tokenSrouce').removeClass('disabled');
            }
            else {
                $('#tokenSrouce').addClass('disabled');
            }
            return false;
        }
        function onchangefilterCustomerGroup() {
            if ($('#filterCustomerGroup').is(':checked')) {
                $('#tokenCustomerGroup').removeClass('disabled');
            }
            else {
                $('#tokenCustomerGroup').addClass('disabled');
            }
            return false;
        }
        function onchangefilterInsurance() {
            if ($('#filterInsurance').is(':checked')) {
                $('#tokenInsurance').removeClass('disabled');
            }
            else {
                $('#tokenInsurance').addClass('disabled');
            }
            return false;
        }
        function onchangefilterServiceStatus() {
            if ($('#filterServiceStatus').is(':checked')) {
                $('#tokenServiceStatus').removeClass('disabled');
            }
            else {
                $('#tokenServiceStatus').addClass('disabled');
            }
            return false;
        }
        function onchangeAge() {
            if ($('#filterAge').is(':checked')) {
                $("#AgeFrom").removeAttr('disabled');
                $("#AgeTo").removeAttr('disabled');
            }
            else {
                $("#AgeFrom").attr('disabled', true);
                $("#AgeTo").attr('disabled', true);
            }
            return false;
        }
        // #endregion
        function FilterCustomer(isloadmove) {
            if (isloadmove == 0) {
                document.getElementById("dtContentFilterBody").innerHTML = '';
                offset = 1;
                dataCustomerFitler = [];
            }

            // ngày dùng dịch vụ
            var date_From = $('#date_From').val() ? $('#date_From').val() : "";
            var date_To = $('#date_To').val() ? $('#date_To').val() : "";
            var isdateservice = $('#filterUsingDate').is(":checked") ? 1 : 0;

            // ngày thay đổi quan hệ
            var date_FromRelationship = $('#date_From_Relationship').val() ? $('#date_From_Relationship').val() : "";
            var date_ToRelationship = $('#date_To_Relationship').val() ? $('#date_To_Relationship').val() : "";
            var isdateRelationship = $('#filterDateRelationship').is(":checked") ? 1 : 0;
            // chi nhánh quan hệ
            var tokenRelationshipBranch = $('#tokenRelationshipBranch').dropdown('get value').toString()
                ? $('#tokenRelationshipBranch').dropdown('get value').toString()
                : "";
            var istokenRelationshipBranch = $('#filterRelationshipBranch').is(":checked") ? 1 : 0;
            tokenRelationshipBranch = (istokenRelationshipBranch == 1) ? tokenRelationshipBranch : '';

            //Lọc khách hàng

            // ngày tạo khách hàng
            var date_FromCreateCust = $('#date_From_CreateCust').val() ? $('#date_From_CreateCust').val() : "";
            var date_ToCreateCust = $('#date_To_CreateCust').val() ? $('#date_To_CreateCust').val() : "";
            var isCreateCust = $('#filterCreateCust').is(":checked") ? 1 : 0;

            var tokengroupservice = $('#tokengroupservice').dropdown('get value').toString()
                ? $('#tokengroupservice').dropdown('get value').toString()
                : "";
            var tokenSrouce = $('#tokenSrouce').dropdown('get value').toString()
                ? $('#tokenSrouce').dropdown('get value').toString()
                : "";

            var istokengroupservice = $('#filtergroupService').is(":checked") ? 1 : 0;
            var istokenSrouce = $('#filtersource').is(":checked") ? 1 : 0;
            tokengroupservice = (istokengroupservice == 1) ? tokengroupservice : '';
            tokenSrouce = (istokenSrouce == 1) ? tokenSrouce : '';

            var tokenCustomerGroup = $('#tokenCustomerGroup').dropdown('get value').toString()
                ? $('#tokenCustomerGroup').dropdown('get value').toString()
                : "";
            var istokenCustomerGroup = $('#filterCustomerGroup').is(":checked") ? 1 : 0;
            tokenCustomerGroup = (istokenCustomerGroup == 1) ? tokenCustomerGroup : '';

            var tokenGender = $('#tokenGender').dropdown('get value').toString()
                ? $('#tokenGender').dropdown('get value').toString()
                : "";
            var istokenGender = $('#filterGender').is(":checked") ? 1 : 0;
            tokenGender = (istokenGender == 1) ? tokenGender : '';

            var tokenBranch = $('#tokenBranch').dropdown('get value').toString()
                ? $('#tokenBranch').dropdown('get value').toString()
                : "";
            var istokenBranch = $('#filterBranch').is(":checked") ? 1 : 0;
            tokenBranch = (istokenBranch == 1) ? tokenBranch : '';

            var tokenMember = $('#tokenMember').dropdown('get value').toString()
                ? $('#tokenMember').dropdown('get value').toString()
                : "";
            var istokenMember = $('#filterMember').is(":checked") ? 1 : 0;
            tokenMember = (istokenMember == 1) ? tokenMember : '';

            var tokenCarree = $('#tokenCarree').dropdown('get value').toString()
                ? $('#tokenCarree').dropdown('get value').toString()
                : "";
            var istokenCarree = $('#filterCarree').is(":checked") ? 1 : 0;
            tokenCarree = (istokenCarree == 1) ? tokenCarree : '';

            var tokenInsurance = $('#tokenInsurance').dropdown('get value').toString()
                ? $('#tokenInsurance').dropdown('get value').toString()
                : "";
            var istokenInsurance = $('#filterInsurance').is(":checked") ? 1 : 0;
            tokenInsurance = (istokenInsurance == 1) ? tokenInsurance : '';

            var tokenServiceStatus = $('#tokenServiceStatus').dropdown('get value').toString()
                ? $('#tokenServiceStatus').dropdown('get value').toString()
                : "";
            var istokenServiceStatus = $('#filterServiceStatus').is(":checked") ? 1 : 0;
            tokenServiceStatus = (istokenServiceStatus == 1) ? tokenServiceStatus : '';

            ///độ tuổi
            var AgeFrom = $('#AgeFrom').val() ? $('#AgeFrom').val() : "";
            var AgeTo = Number($('#AgeTo').val()) ? Number($('#AgeTo').val()) : "";
            var isAge = $('#filterAge').is(":checked") ? 1 : 0;
            AgeFrom = (isAge == 1) ? AgeFrom : "0";
            AgeTo = (isAge == 1) ? AgeTo : "0";

            //ngày điều trị cuối cùng
            var Treatment_From = $('#Treatment_From').val() ? $('#Treatment_From').val() : "";
            var Treatment_To = $('#Treatment_To').val() ? $('#Treatment_To').val() : "";
            var isTreatmentDate = $('#filterTreatmentDate').is(":checked") ? 1 : 0;

            let isFilter = istokenServiceStatus + istokenInsurance + isdateservice + istokengroupservice + isCreateCust + istokenBranch + istokenSrouce + istokenCustomerGroup + istokenGender + istokenMember + istokenCarree + isdateRelationship + istokenRelationshipBranch + isAge + isTreatmentDate;

            if (isFilter == 0) {
                notiPopup_Type("select_least_field_filter");
            } else {
                AjaxLoad(url = "/Customer/FilterCustomer/?handler=LoadataCustomer"
                    , data = {
                        'dateFromRelationship': date_FromRelationship
                        , 'dateToRelationship': date_ToRelationship
                        , 'isdateRelationship': isdateRelationship
                        , 'tokenRelationshipBranch': tokenRelationshipBranch


                        , 'dateFromCreateCust': date_FromCreateCust
                        , 'dateToCreateCust': date_ToCreateCust
                        , 'isCreateCust': isCreateCust

                        , 'TreatmentFrom': Treatment_From
                        , 'TreatmentTo': Treatment_To
                        , 'isTreatmentDate': isTreatmentDate

                        , 'dateFrom': date_From
                        , 'dateTo': date_To
                        , 'isdateUsingService': isdateservice
                        , 'tokengroupservice': tokengroupservice
                        , 'tokenSrouce': tokenSrouce
                        , 'tokenMember': tokenMember
                        , 'tokenCarree': tokenCarree
                        , 'tokenBranch': tokenBranch
                        , 'tokenGender': tokenGender
                        , 'tokenCustomerGroup': tokenCustomerGroup
                        , 'tokenInsurance': tokenInsurance
                        , 'tokenServiceStatus': tokenServiceStatus
                        , 'AgeFrom': AgeFrom
                        , 'AgeTo': AgeTo
                        , "offset": offset
                        , "limit": sys_Limit_LoadList }
                    , async = true
                    , error = function () { notiError_SW(); }
                    , success = function (result) {
                        if (result != "[]") {
                            let data = JSON.parse(result);
                            dataCustomerFitler = dataCustomerFitler.concat(data.dtResult);
                            RenderFilterCustomer(dataCustomerFitler, 'dtContentFilterBody');
                            $('#totalCustomerFilter').html("@Local["Tổng"] : " + data.dtTotalRow[0].TotalRow);

                            Checking_Column_ShowMore("divColumnMore", "checkColumn", "title", "filter_customer", "VTTECH_Show_More_All_Tab", "#tcol", ".ttcol");
                            //nâng số offset (vị trí đầu) thêm hiệu số = sys_Limit_LoadList +1
                            offset = offset + sys_Limit_LoadList + 1;
                            //ẩn btn load move khi hết data
                            if (offset >= data.dtTotalRow[0].TotalRow) {
                                $("#btnLoadMove").hide();
                            } else {
                                $("#btnLoadMove").show();
                            }
                        }
                        else {
                            $('#totalCustomerFilter').html("@Local["Tổng"] : " + 0);
                        }
                    }
                    , sender = null
                    , before = function () {
                        $("#loaderList").show();
                    }
                    , complete = function (e) {
                        $("#loaderList").hide();
                    }
                );
            }
            return false;
        }
        function RenderFilterCustomer(data, id) {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                // myNode.innerHTML = '';
                let stringContent = '';
                let IDRelationship = - 1;
                let unevent_event = 0;
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let setLevel = 0;
                        let CountRow = 0;
                        let item = data[i];
                        if (item.IDRelationship != 0) {
                            if (IDRelationship != item.IDRelationship) {
                                IDRelationship = item.IDRelationship;
                                setLevel = 1;

                                unevent_event = unevent_event + 1;
                                for (let j = 0; j < data.length; j++) {
                                    if (data[j].IDRelationship == IDRelationship) {
                                        CountRow = CountRow + 1;
                                    }
                                }
                            }
                        } else {
                            unevent_event = unevent_event + 1;
                            CountRow = 1;
                            setLevel = 1;
                        }
                        let tr =
                            '<td  class="ttcol1">' + item.STT + '</td>'
                            + ((setLevel == 0)
                                ? ''
                                : ('<td  class="ttcol20" rowspan="' + CountRow + '">' + item.RelationshipModified + '</td>')
                            )
                            + '<td class="ttcol2"><a target="_blank" href="/Customer/MainCustomer?CustomerID=' + item.CusID + "&ver=" + versionofWebApplication + '">' + item.CustCode + '</a></td>'
                            + '<td  class="ttcol3">' + item.CustName + '</td>'
                            + '<td  class="ttcol4">' + item.Birthday + '</td>'
                            + '<td  class="ttcol5 _tab_control_" data-tab="phone_customer">' + item.Phone + '</td>'
                            + '<td  class="ttcol6">' + item.Gender + '</td>'
                            + '<td  class="ttcol7">' + item.Career + '</td>'
                            + '<td  class="ttcol8">' + item.CustCode_Old + '</td>'
                            + '<td  class="ttcol9">' + item.SourceName + '</td>'
                            + '<td  class="ttcol10">' + item.ServiceCatName + '</td>'
                            + '<td  class="ttcol11">' + item.Created + '</td>'
                            + '<td  class="ttcol12">' + item.Branch + '</td>'
                            + '<td  class="ttcol13">' + item.Email + '</td>'
                            + '<td  class="ttcol14 _tab_control_" data-tab="phone_customer">' + item.Phone2 + '</td>'
                            + '<td  class="ttcol15 _tab_control_" data-tab="address_customer">' + item.Address + '</td>'
                            + '<td  class="ttcol16">' + item.QuocTich + '</td>'
                            + '<td  class="ttcol17">' + item.Member + '</td>'
                            + '<td  class="ttcol18">' + formatNumber(item.TotalAmount) + '</td>'
                            + '<td  class="ttcol19">' + item.Note + '</td>'
                            + '<td  class="ttcol21">' + item.InsuranceName + '</td>'
                            + '<td  class="ttcol22">' + item.AgeYears + '</td>'
                            + '<td  class="ttcol23">' + item.TreatmentDate + '</td>'
                        stringContent = stringContent + '<tr role="row" style="background-color:' + ((unevent_event % 2 == 0) ? '#dfebf6ad' : 'white') + '">' + tr + '</tr>';
                    }
                }
                $("#" + id).html(stringContent);
            }
            Checking_TabControl_Permission();
        }
        function OnchangeTypeFilter() {
            $('#iconChangeType').on('click', function (event) {
                let type = $(this).attr('data-type');
                if (type == 1) {
                    $(this).removeClass('right');
                    $(this).addClass('left');
                    $(this).attr('data-type', 2);
                    $('#filterName').html('@Local["Lọc theo quan hệ"]');
                    $('#colRelationship').prop('checked', true);
                    $('#filterCreateCust').prop('checked', false);
                    $('#filtersource').prop('checked', false);
                    $('#filterCustomerGroup').prop('checked', false);
                    $('#filterGender').prop('checked', false);
                    $('#filterCarree').prop('checked', false);
                    $('#filterBranch').prop('checked', false);
                    $('#filterMember').prop('checked', false);
                    $('#filtergroupService').prop('checked', false);
                    $('#filterUsingDate').prop('checked', false);
                    $('#filterInsurance').prop('checked', false);
                    $('#filterAge').prop('checked', false);
                    $('#filterTreatmentDate').prop('checked', false);

                    onchangefilterCreateCust();
                    onchangefiltersource();
                    onchangefilterCustomerGroup();
                    onchangefilterGender();
                    onchangefilterCarree();
                    onchangefilterBranch();
                    onchangefilterMember();
                    onchangefiltergroupService();
                    onchangefilterUsingDate();
                    onchangefilterInsurance();
                    onchangefilterServiceStatus();
                    onchangeAge();
                    onchangefilterTreatmentDate();
                } else {
                    $(this).removeClass('left');
                    $(this).addClass('right');
                    $(this).attr('data-type', 1);
                    $('#filterName').html('@Local["Lọc khách hàng"]');
                    $('#colRelationship').prop('checked', false);
                    $('#filterDateRelationship').prop('checked', false);
                    $('#filterRelationshipBranch').prop('checked', false);
                    onchangefilterDateRelationship();
                    onchangefilterRelationshipBranch();
                }
                $('.body-filter').toggleClass('active');
                RenderFilterCustomer([], 'dtContentFilterBody');
                $('#totalCustomerFilter').html("Tổng : 0");
            });
        }
        $(document).ready(function () {
            onchangefilterCreateCust();
            $('#totalCustomerFilter').html("@Local["Tổng"] : " + 0);
            $('#filterName').html('@Local["Lọc khách hàng"]');
            $(".flatpickr").flatpickr({
                dateFormat: 'd-m-Y',
                enableTime: false,
                allowInput: true,
                defaultDate: new Date(),
            });
            FitlerCustomer_Initialize()
        });
    function FitlerCustomer_Initialize() {
        AjaxLoad(url = "/Customer/FilterCustomer/?handler=LoadComboMain"
            , data = { }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                let data = JSON.parse(result)
                let dataservicetype = data.Servicetype;
                Load_Combo(dataservicetype, "ccbtokengroupservice", false);
                let datasource = data.Source;
                Load_Combo(datasource, "ccbtokenSrouce", false);
                let dataCustomerGroup = data.CustomerGroup;
                Load_Combo(dataCustomerGroup, "ccbtokenCustomerGroup", false);
                let dataCarree = data.Carree;
                Load_Combo(dataCarree, "ccbtokenCarree", false);


                let dataGender = data.Gender;
                Load_Combo(dataGender, "ccbtokenGender", false);

                let dataMember = data.Member;
                Load_Combo(dataMember, "ccbtokenMember", false);

                let dataBranch = data.Branch;
                Load_Combo(dataBranch, "ccbtokenBranch", false);


                let dataInsurance = data.Insurance;
                Load_Combo(dataInsurance, "ccbtokenInsurance", false);

                let dataServiceStatus = data.Status;
                Load_Combo(dataServiceStatus, "ccbtokenServiceStatus", false);

                Load_Combo(dataBranch, "ccbtokenRelationshipBranch", false);

                PriceSliderInit(1, 100, 1, 'slider-range', 'AgeFrom', 'AgeTo');

                // show 6 first column
                for (i = 7; i <= 21; i++) {
                    $(".ttcol" + i).hide();
                    $("#tcol" + i).hide();
                }
                Checking_Column_ShowMore("divColumnMore", "checkColumn", "title", "filter_customer", "VTTECH_Show_More_All_Tab", "#tcol", ".ttcol");
                Onchange_Checked_ShowMore("checkColumn", "title", "filter_customer", "VTTECH_Show_More_All_Tab", "#tcol", ".ttcol");

                onchangefiltergroupService();
                onchangefilterCarree();
                onchangefilterBranch();
                onchangefilterGender();
                onchangefilterMember();
                onchangefiltersource();
                onchangefilterCustomerGroup();
                onchangefilterCreateCust();
                onchangefilterUsingDate();
                onchangefilterDateRelationship();
                onchangefilterRelationshipBranch();
                onchangefilterInsurance();
                onchangefilterServiceStatus();
                onchangeAge();
                onchangefilterTreatmentDate();
                Checking_TabControl_Permission();
            }
        );
    }
        function ExportFilter() {
            exportToExcel("dtContentFilter", 'customer-filter-list');
            return false;
        }
        function prepageMuliSMS() {
            PrepageMessge();
            $("#ContentMultiSMS").show();
            $("#textShowMessage").html("")
        }
        function ExcuteSendMulti() {
            if (dataCustomerFitler != undefined && dataCustomerFitler != null && dataCustomerFitler.length != 0) {
                const promise = notiConfirm("@Local["Gửi sms cho"] " + dataCustomerFitler.length + "@Local["Khách hàng"]");
                promise.then(function () { ExcuteSendMultiAction(); }, function () { });
            }
            else
                $("#textShowMessage").html("@Local["Không có người nhận"]");
            return false;
        }

        function ExcuteSendMultiAction() {
            $("#textShowMessage").html("");
            var content = $('#txtContentMultiSMS').val();
            let dataMain = [];
            if (dataCustomerFitler != undefined && dataCustomerFitler != null && dataCustomerFitler.length != 0) {
                for (var i = 0; i < dataCustomerFitler.length; i++) {
                    let elment = {};
                    elment.CusID = dataCustomerFitler[i].CusID;
                    elment.Phone = dataCustomerFitler[i].Phone;
                    dataMain.push(elment);
                }
                AjaxLoad(url = "/Customer/FilterCustomer/?handler=SendSMSMulti"
                    , data = { 'data': JSON.stringify(dataMain), 'content': content }
                    , async = false
                    , error = function () { notiError_SW(); }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess("Success");
                        }
                        else if (result == "-2") {
                            $("#textShowMessage").html("@Local["Nội dung chứa ký tự không cho phép. Kiểm tra nội dung tin bằng cách click chọn : Kiểm tra nội dung"]");
                        }
                        else {
                            notiError_SW();
                        }
                    }
                    , sender = null
                    , before = function () {
                    }
                    , complete = function (e) {
                    }
                );

                CloseMessage();
                $("#ContentMultiSMS").hide();
            }
            else {
                $("#textShowMessage").html("@Local["Không có người nhận"]");
            }
            return false;
        }
        function CloseSendMulti() {
            CloseMessage();
            $("#ContentMultiSMS").hide();
            return false;
        }
        function CloseMessage() {

            $('#txtContentMultiSMS').val('');
            $("#contentFilterArea").show();
            $("#actionFilterCustomer").show();
            $("#btnExportExcel").show();
            $("#btnSendSMS").show();
            document.getElementById("messageCheckSuccess").innerHTML = "";
            document.getElementById("messageCheckSuccess").style.display = "none";
            document.getElementById("checkContent").innerHTML = "";
            document.getElementById("checkContent").style.display = "none";
            return false;
        }
        function PrepageMessge() {

            $('#txtContentMultiSMS').val('');
            $("#contentFilterArea").hide();
            $("#actionFilterCustomer").hide();
            $("#btnExportExcel").hide();
            $("#btnSendSMS").hide();
            document.getElementById("messageCheckSuccess").innerHTML = "";
            document.getElementById("messageCheckSuccess").style.display = "none";
            document.getElementById("checkContent").innerHTML = "";
            document.getElementById("checkContent").style.display = "none";

            return false;
        }
        function CheckContentSMS() {
            var content = $('#txtContentMultiSMS').val();
            AjaxLoad(url = "/Customer/FilterCustomer/?handler=CheckContent"
                , data = { 'content': content }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result == "1") {
                        // Content ok
                        document.getElementById("checkContent").innerHTML = "";
                        document.getElementById("checkContent").style.display = "none";
                        document.getElementById("messageCheckSuccess").innerHTML = "@Local["Sẵn sàng gửi"]";
                        document.getElementById("messageCheckSuccess").style.display = "block";

                    }
                    else {
                        document.getElementById("checkContent").innerHTML = result;
                        document.getElementById("checkContent").style.display = "block";
                        document.getElementById("messageCheckSuccess").innerHTML = "";
                        document.getElementById("messageCheckSuccess").style.display = "none";
                    }
                }
            );

            return false;
        }

        //Hien thi grid checkBox lua chon an hien coolum theo nhu cau
        function HideOrShowColumFunction() {
            var x = document.getElementById("divColumnMore");
            if (x.style.display === "none") {
                x.style.display = "block";
                $('#divScrollContentFilter').css('height', 'calc(100vh - 328px)');
            } else {
                x.style.display = "none";
                $('#divScrollContentFilter').css('height', 'calc(100vh - 175px)');
            }
        }


</script>
<script>js_require('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js');</script>
<script>js_require('/assests/dist/PriceRange/price_range_script.js');</script>
<style>
    .titleCheckBox {
        margin-right: 5px;
    }

    #checkBoxGrid {
        display: none;
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: lightblue;
        margin-top: 20px;
    }

    #progressBar {
        width: 100%;
        background-color: #ddd;
    }

    #progressBarMerge {
        width: 1%;
        height: 30px;
        background-color: #4CAF50;
    }

    .checkColumn {
        width: 55px;
        height: 30px;
    }

    .loadmore {
        height: 20px;
        width: 100%;
        background: #ffffff;
        border-style: none;
        border-radius: 20px;
        font-size: 13px;
        color: #db2828;
        font-weight: 500;
        margin: 10px 0;
    }

    .fiter .ui.checkbox {
        position: absolute;
        right: 1px;
        top: 10px;
    }

    .fiter .ui.header {
        margin: 0;
    }

    .angle.double.right.icon {
        font-size: 18px !important;
        color: #2185d0;
        float: right;
    }

    .angle.double.left.icon {
        font-size: 18px !important;
        color: #2185d0;
        float: left;
    }

    .body-filter {
        display: none;
    }

        .body-filter.active {
            display: block !important;
        }
</style>