@page
@model MLunarCoffee.Pages.Customer.GeneralInfoModel
@{
    Layout = null;
}
<link href="/assests/dist/Paginationjs/paginationjs.min.css" rel="stylesheet" />

<link type="text/css" rel="stylesheet" href="/assests/dist/lightGallery/css/lightgallery.css" />
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require_notasync('/js/GeneralInfo/execute.js');</script>
<div class="container-fluid px-0 position-ralative">
    <div class="row mx-n1">
        <div class="col px-2">
            <div class="row mt-3">
                <div class="col-12 col-md-7 col-xl-7 px-2">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex align-items-center">
                                <div class="">
                                    <h6 id="txtName" class="mb-0 text-primary text-uppercase fw-bolder text-sm"></h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="mx-1 text-sm cursor-pointer _tab_control_" data-tab="btn_edit_profile" onclick="editCustomer(ser_MainCustomerID)">
                                        @Local["Hồ sơ"]
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div id="tabCustInfoDetail" class="card-body py-2 px-0">
                            <ul class="list-group text-dark rounded-0" data-id="info">
                                <li class="list-group-item border-0 text-sm py-1">
                                    <div class="ms-n2">
                                        <svg id="txtCustBarcode"></svg>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 text-sm py-1">
                                    <p class="text-sm fw-bold d-inline">@Local["Thông tin tạo"]</p>&nbsp;:
                                    <div class="text-dark d-inline" id="txtCusCreate"></div>
                                </li>
                                <li class="list-group-item border-0 text-sm py-1">
                                    <p class="text-sm fw-bold d-inline">@Local["Sinh nhật"]</p>&nbsp;:
                                    <div class="text-dark d-inline" id="txtBirthday"></div>
                                    <i id="txtgender" class="ms-2 text-lg fas fa-venus"></i>
                                </li>
                                <li class="list-group-item border-0 text-sm py-1">
                                    <p class="text-sm fw-bold d-inline">@Local["Nghề nghiệp"]</p>&nbsp;:
                                    <div class="text-dark d-inline" id="txtCarrer"></div>
                                </li>
                                <li class="list-group-item border-0 text-sm py-1">
                                    <p class="fw-bold text-sm d-inline">@Local["Email"]</p>&nbsp;:
                                    <div class="text-dark d-inline" id="txtEmail"></div>
                                </li>
                                <li class="list-group-item border-0 text-sm py-1">
                                    <p class="fw-bold text-sm d-inline">@Local["Nguồn"]</p>&nbsp;:
                                    <div class="text-dark d-inline" id="txtCustomerSource"></div>
                                </li>
                                <li class="list-group-item border-0 text-sm py-1">
                                    <p class="fw-bold text-sm d-inline">@Local["Địa chỉ"]</p>&nbsp;:
                                    <div class="text-dark _tab_control_ d-inline" data-tab="address_customer" id="txtAddress"></div>
                                </li>
                                <li class="list-group-item border-0 text-sm py-1">
                                    <p class="fw-bold text-sm d-inline">@Local["Mạng xã hội"]</p>&nbsp;:
                                    <div class="text-dark d-inline" id="txtSocial">
                                        <span id="buttonfacebook" class="cursor-pointer text-sm fw-bold text-primary" data-link="">Facebook</span>
                                        <span class="fw-bold">/</span>
                                        <span id="buttonzalo" class="cursor-pointer text-sm fw-bold text-primary" data-link="">Zalo</span>
                                    </div>
                                </li>

                                <li class="list-group-item border-0 text-sm py-1">
                                    <div class="text-dark content_line_clamp white-space-pre-line" id="txtInfoNote">
                                    </div>
                                </li>
                            </ul>

                            <div class="row px-2 ms-0">
                                <a id="tabCust_mobileArea" class="d-none nav-link text-sm ps-2 w-100 cursor-pointer" data-bs-toggle="collapse" href="#tabCust_mobile">
                                    @Local["Tài khoản"] (Mobile)
                                    <i class="fas fa-caret-down ps-2"></i>
                                </a>
                                <div id="tabCust_mobile" class="ms-n2 ps-0  collapsesticky  multi-collapse collapse">
                                    <ul class=" list-group text-dark rounded-0">
                                        <li class="list-group-item border-0 text-sm py-1">
                                            <p class="text-sm fw-bold d-inline">@Local["Tài khoản"]</p>&nbsp;:
                                            <div class="text-dark d-inline _tab_control_" id="txtCusAppUser" data-tab="phone_customer"></div>
                                        </li>
                                        <li class="list-group-item border-0 text-sm py-1">
                                            <p class="text-sm fw-bold d-inline">@Local["Mật khẩu"]</p>&nbsp;:
                                            <div class="text-dark d-inline" id="txtCusAppPassword"></div>
                                        </li>
                                        <li class="list-group-item border-0 text-sm py-1">
                                            <p class="text-sm fw-bold d-inline">@Local["Đăng nhập"]</p>&nbsp;:
                                            <div class="text-dark d-inline" id="txtCusAppLastSignin"></div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row px-2 ms-0">
                                <a id="tabCust_guardianArea" class="d-none nav-link text-sm ps-2 w-100 cursor-pointer" data-bs-toggle="collapse" href="#tabCust_guardian">
                                    @Local["Người giám hộ"]
                                    <i class="fas fa-caret-down ps-2"></i>
                                </a>
                                <div id="tabCust_guardian" class="ms-n2 ps-0  collapsesticky  multi-collapse collapse">
                                    <ul class=" list-group text-dark rounded-0">
                                        <li class="list-group-item border-0 text-sm py-1">
                                            <p class="text-sm fw-bold d-inline">@Local["Tên"]</p>&nbsp;:
                                            <div class="text-dark d-inline" id="txtrepre_name"></div>
                                        </li>
                                        <li class="list-group-item border-0 text-sm py-1">
                                            <p class="text-sm fw-bold d-inline">@Local["Điện thoại"]</p>&nbsp;:
                                            <div class="text-dark d-inline" id="txtrepre_phone"></div>
                                        </li>
                                        <li class="list-group-item border-0 text-sm py-1">
                                            <p class="text-sm fw-bold d-inline">@Local["CMND/CC"]</p>&nbsp;:
                                            <div class="text-dark d-inline" id="txtrepre_id"></div>
                                        </li>
                                        <li class="list-group-item border-0 text-sm py-1">
                                            <p class="text-sm fw-bold d-inline">@Local["Mối quan hệ"]</p>&nbsp;:
                                            <div class="text-dark d-inline" id="txtrepre_type"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-xl-5 mt-3 mt-lg-0 mt-md-0 px-2">
                    <div class="card h-100">
                        <div class="card-body py-3 px-0 ">
                            <div class="d-flex align-items-center px-4 py-2" id="customerGroup">
                                <div class="avatar avatar-sm">
                                    <img class="icon icon-shape icon-sm me-3 text-center" id="avatarCustomerGroup" onerror="Master_OnLoad_Error_Image(this)" src="/default.png" alt="label-image">
                                </div>
                                <div class="text-dark ms-2 my-auto text-sm">
                                    <span class="text-secondary text-xs mb-0 d-block">@Local["Nhóm khách hàng"]</span>
                                    <a class="cursor-pointer fw-bold" onclick="EditCustomerGroup();">
                                        <span id="customerGroupName"></span>
                                    </a>
                                </div>
                            </div>
                            <hr class="horizontal dark my-1" id="infotele_hr">
                            <div class="d-flex align-items-center px-4 py-2">
                                <div class="avatar avatar-sm">
                                    <img class="icon icon-shape icon-sm me-3  text-center" id="infotele_img" onerror="Master_OnLoad_Error_Image(this)" src="/default.png" alt="label-image">
                                </div>
                                <div class="text-dark ms-2 my-auto text-sm">
                                    <span class="text-secondary text-xs mb-0 d-block">@Local["Tele phụ trách"]</span>
                                    <span class="text-dark fw-bold" id="infotele_name"></span>
                                </div>
                            </div>
                            <hr class="horizontal dark my-1" id="infocskh_hr">
                            <div class="d-flex align-items-center px-4 py-2">
                                <div class="avatar avatar-sm">
                                    <img class="icon icon-shape icon-sm me-3  text-center" id="infocskh_img" onerror="Master_OnLoad_Error_Image(this)" src="/default.png" alt="label-image">
                                </div>
                                <div class="text-dark ms-2 my-auto text-sm">
                                    <span class="text-secondary text-xs mb-0 d-block">@Local["Chăm sóc khách hàng"]</span>
                                    <a class="cursor-pointer fw-bold" onclick="EditCustomerCare(0);">
                                        <span id="infocskh_name"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="gencustchilddiv" id="generalInfo_docres">
                                <hr class="horizontal dark my-1" />
                                <div class="d-flex align-items-center px-4 py-2">
                                    <div class="avatar avatar-sm">
                                        <img class="icon icon-shape icon-sm me-3  text-center" id="infodocres_img" onerror="Master_OnLoad_Error_Image(this)" src="/default.png" alt="label-image">
                                    </div>
                                    <div class="text-dark ms-2 my-auto text-sm">
                                        <span class="text-secondary text-xs mb-0 d-block">@Local["Bác sĩ phụ trách"]</span>
                                        <a class="cursor-pointer fw-bold" onclick="EditCustomerCare(2);">
                                            <span id="infodocres_name"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex bg-gray-100 border-radius-lg">
                            <div class="ms-0">
                                <ul class="nav nav-pills p-1 bg-transparent mx-auto" role="tablist">
                                    <li class="nav-item dropdown dropdown-hover me-0">
                                        <a role="button" class="nav-link text-primary fw-bold text-sm cursor-pointer d-flex align-items-center"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class=" fa fa-cog fs-5 cursor-pointer text-primary pe-2"></i>
                                            <span class="text-dark">@Local["Tương tác"]</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-animation vt-dropdown border-radius-xl p-3 mt-0 mt-lg-n2">
                                            <div class="row d-lg-block">
                                                <ul class="list-group">

                                                    <li id="per_PrintCustRecords"
                                                        onclick="event.preventDefault();return printCustomerRecord(ser_MainCustomerID)"
                                                        class="_tab_control_ list-group-item  border-0 p-2 ms-2">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="fas fa-print text-gradient text-primary" aria-hidden="true"></i>
                                                            </div>
                                                            <h6 class="text-dark text-sm fw-bold mb-0">
                                                                @Local["In hồ sơ khách hàng"]
                                                            </h6>
                                                        </div>
                                                    </li>
                                                    <li id="per_GeneralInfo_Call" onclick="event.preventDefault();return callCustomer(ser_MainCustomerID)"
                                                        class="list-group-item  border-0 p-2 ms-2">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="fas fa-phone text-md text-gradient text-primary" aria-hidden="true"></i>
                                                            </div>
                                                            <h6 class="text-dark text-sm fw-bold mb-0">
                                                                @Local["Gọi"]
                                                            </h6>
                                                        </div>
                                                    </li>
                                                    <li id="per_GeneralInfo_SendSMS" onclick="event.preventDefault();return addNewSMS(ser_MainCustomerID)"
                                                        class="list-group-item  border-0 p-2 ms-2">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="fas fa-sms text-md text-gradient text-primary" aria-hidden="true"></i>
                                                            </div>
                                                            <h6 class="text-dark text-sm fw-bold mb-0">
                                                                @Local["Gửi sms"]
                                                            </h6>
                                                        </div>
                                                    </li>
                                                    <li id="per_MessageCustGate" onclick="event.preventDefault();return addMessageCustGate(ser_MainCustomerID)"
                                                        class="list-group-item  border-0 p-2 ms-2">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="fas fa-comment-dots text-md text-gradient text-primary" aria-hidden="true"></i>
                                                            </div>
                                                            <h6 class="text-dark text-sm fw-bold mb-0">
                                                                @Local["Trò chuyện"]
                                                            </h6>
                                                        </div>
                                                    </li>
                                                    <li id="per_GeneralInfo_SendMail" onclick="event.preventDefault();return addNewMail()"
                                                        class="list-group-item  border-0 p-2 ms-2">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="fas fa-envelope text-md text-gradient text-primary" aria-hidden="true"></i>
                                                            </div>
                                                            <h6 class="text-dark text-sm fw-bold mb-0">
                                                                @Local["Gửi email"]
                                                            </h6>
                                                        </div>
                                                    </li>
                                                    <li id="per_GeneralInfo_CustCare" onclick="event.preventDefault();return Genin_ToTicket()"
                                                        class="list-group-item  border-0 p-2 ms-2">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="fas fa-heart text-md text-gradient text-primary" aria-hidden="true"></i>
                                                            </div>
                                                            <h6 class="text-dark text-sm fw-bold mb-0">
                                                                @Local["Chăm sóc khách hàng"]
                                                            </h6>
                                                        </div>
                                                    </li>
                                                    <li id="per_CustBranchEdit" onclick="event.preventDefault();return editCustBranch()"
                                                        data-tab="btn_edit_branch"
                                                        class="list-group-item  border-0 p-2 ms-2">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="fas fa-angle-double-right text-gradient text-primary" aria-hidden="true"></i>
                                                            </div>
                                                            <h6 class="text-dark text-sm fw-bold mb-0">
                                                                @Local["Đổi chi nhánh"]
                                                            </h6>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gencustdiv row mt-3" id="generalInfo_DivProperties">
                <div class="col-12 px-2">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class=" d-flex">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="icon-hover cursor-pointer" id="GeneralInfo_PropertiPreview">
                                        <i class="fas fa-chevron-left text-sm text-dark"></i>
                                    </div>
                                    <h6 class="mb-1 fw-bold text-sm">@Local["Đặc điểm"]</h6>
                                    <div class="icon-hover cursor-pointer" id="GeneralInfo_PropertiNext">
                                        <i class="fas fa-chevron-right text-sm text-dark"></i>
                                    </div>
                                </div>
                                <div class="ms-auto text-end">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="icon-hover" data-bs-toggle="tooltip" data-bs-placement="right" onclick="event.preventDefault(); return GeneralInfo_OpenDetailPro();" data-bs-original-title="@Local["Thêm mới"]">
                                            <i class="fas fa-plus text-sm text-dark"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group position-relative rounded-0" id="GeneralInfo_BodyProperties">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gencustdiv row mt-3" id="generalInfo_DivBroker">
                <div class="col-12 px-2">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex">
                                <div class="icon-hover cursor-pointer BrokerChangePage" data-type="Pre">
                                    <i class="fas fa-chevron-left text-sm text-dark"></i>
                                </div>
                                <div class="align-items-center mt-1 px-1">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Điểm tích lũy"]</h6>
                                </div>
                                <div class="icon-hover cursor-pointer BrokerChangePage" data-type="Nex">
                                    <i class="fas fa-chevron-right text-sm text-dark"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group position-relative rounded-0" id="generalInfo_BodyBroker">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gencustdiv row mt-3" id="generalInfo_DivService">
                <div class="col-12 px-2">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class=" d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Dịch vụ"]</h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_ServiceDetail()">
                                        @Local["Xem thêm"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group position-relative rounded-0" id="generalInfo_BodyService">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gencustdiv row mt-3" id="generalInfo_DivTreat">
                <div class="col-12 px-2">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class=" d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Điều trị"]</h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_TreatDetail()">
                                        @Local["Xem thêm"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group position-relative rounded-0" id="generalInfo_BodyTreat">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gencustdiv row mt-3" id="per_anamnesisInfo">
                <div class="col-12 px-2">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Tiền sử"]</h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <div class="icon-hover" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Thêm mới"]" onclick="event.preventDefault(); return GeneralInfo_AddAnamnesis()">
                                        <i class="vtt-icon vttech-icon-add text-sm text-dark pt-0"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3 px-0">
                            <div id="generalInfo_anamnesis" class="list-group position-relative rounded-0">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gencustdiv row mt-3" id="generalInfo_Divhistory">
                <div class="col-12 px-2">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex">
                                <div class="align-items-center ">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Ghi chú"]</h6>
                                </div>
                                <div class="ms-auto text-end">

                                    <div class="icon-hover" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Tải lại"]" onclick="event.preventDefault(); return GeneralInfo_LoadHistory()">
                                        <i class="fas fa-sync-alt text-sm text-dark "></i>
                                    </div>
                                    <div class="icon-hover" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Thêm mới"]" onclick="event.preventDefault(); return addNewHistory(ser_MainCustomerID)">
                                        <i class="vtt-icon vttech-icon-add text-sm text-dark "></i>
                                    </div>
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_HistoryDetail()">
                                        @Local["Xem thêm"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div id="generalInfo_note">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 px-2" id="per_colRightInfoCustomer">
            <div class="row mt-3 px-1">
                <div id="GeneralInfo_Rule" class="col-12 px-2 mb-3 d-none">
                    <div class="card h-auto">
                        <div class="row px-2">
                            <ul class="list-group p-3 ms-1">
                                <li id="GIR_ValidProfile" class="list-group-item border-0 px-0 d-none">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto pe-none" type="checkbox" checked>
                                        <label class="form-check-label text-dark ms-3  w-80 mb-0">@Local["Phải xác thực hồ sơ"]</label>
                                    </div>
                                </li>
                                <li id="GIR_CustGroup" class="list-group-item border-0 px-0 d-none">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto pe-none" type="checkbox" checked>
                                        <label class="form-check-label text-dark ms-3 w-80 mb-0">@Local["Phải chọn nhóm khách hàng"]</label>
                                    </div>
                                </li>
                                <li id="GIR_PreHistory" class="list-group-item border-0 px-0 d-none">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto pe-none" type="checkbox" checked>
                                        <label class="form-check-label text-dark ms-3  w-80 mb-0">@Local["Nhập tiền sử"]</label>
                                    </div>
                                </li>
                                <li id="GIR_Before16" class="list-group-item border-0 px-0 d-none">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto pe-none" type="checkbox" checked>
                                        <label class="form-check-label text-dark ms-3  w-80 mb-0">@Local["Khách hàng nhỏ hơn 16 tuổi cần thêm người giám hộ"]</label>
                                    </div>
                                </li>
                                <li id="GIR_TeethChart" class="list-group-item border-0 px-0 d-none">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto pe-none" type="checkbox" checked>
                                        <label class="form-check-label text-dark ms-3  w-80 mb-0">@Local["Phải nhập phác đồ"]</label>
                                    </div>
                                </li>
                                <li id="GIR_CashierTime" class="list-group-item border-0 px-0 d-none">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto pe-none" type="checkbox" checked>
                                        <label class="form-check-label text-dark ms-3  w-80 mb-0">@Local["Giới hạn thời gian thu ngân"]</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-2 mb-3" id="per_scheduleInfo">
                    <div class="card h-auto">
                        <div class="card-header pb-0 p-3">
                            <div class=" d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Lịch hẹn"]</h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <div class="icon-hover" onclick="event.preventDefault(); return GeneralInfo_AddApp();" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="@Local["Thêm mới"]">
                                        <i class="fas fa-plus text-sm text-dark"></i>
                                    </div>
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_AppDetail()">
                                        @Local["Xem thêm"]
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3 px-0">
                            <ul id="generalInfo_app" class="list-group position-relative rounded-0">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gencustdiv col-12 px-2 mb-3" id="generalInfo_DivPayment">
                    <div class="card h-auto">
                        <div class="card-header pb-0 p-3">
                            <div class=" d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Thanh toán"]</h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_PaymentDetail();">
                                        @Local["Xem thêm"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3 px-0">
                            <ul id="generalInfo_BodyPayment" class="list-group position-relative rounded-0">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gencustdiv col-12 px-2 mb-3" id="generalInfo_DivRelation">
                    <div class="card h-auto">
                        <div class="card-header pb-0 p-3">
                            <div class="  d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Quan hệ"]</h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <div class="icon-hover" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Tải lại"]" onclick="event.preventDefault(); return GeneralInfo_RelationLoad()">
                                        <i class="fas fa-sync-alt text-sm text-dark "></i>
                                    </div>
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_RelationEdit()">
                                        @Local["Chỉnh sửa"]
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3 px-0" style=" max-height: 315px; overflow-y: auto;">
                            <ul id="generalInfo_relation" class="list-group position-relative rounded-0">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gencustdiv col-12 px-2 mb-3" id="per_consultStatus">
                    <div class="card h-auto">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex">
                                <div class="icon-hover cursor-pointer" id="per_statuspreview"
                                     data-bs-original-title="@Local["Lui"]">
                                    <i class="fas fa-chevron-left text-sm text-dark"></i>
                                </div>
                                <div class="align-items-center mt-1 px-1">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Tư vấn"]</h6>
                                </div>
                                <div class="icon-hover cursor-pointer" id="per_statusnext"
                                     data-bs-original-title="@Local["Tới"]">
                                    <i class="fas fa-chevron-right text-sm text-dark"></i>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_ConsultStatusDetail()">
                                        @Local["Xem thêm"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3 pt-2" id="generalInfo_consultStatus">

                        </div>
                    </div>
                </div>
                <div class="gencustdiv col-12 px-2 mb-3" id="generalInfo_DivRating">
                    <div class="card h-auto">
                        <div class="card-header pb-0 p-3">
                            <div class=" d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Đánh giá"]</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3 px-0">
                            <ul id="generalInfo_BodyRating" class="list-group position-relative rounded-0">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gencustdiv col-12 px-2 mb-3" id="generalInfo_DivGalery">
                    <div class="card h-auto">
                        <div class="card-header pb-0 p-3">
                            <div class="d-flex">
                                <div class="align-items-center">
                                    <h6 class="mb-0 fw-bold text-sm">@Local["Hình ảnh"]</h6>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="mx-1 text-sm cursor-pointer" onclick="GeneralInfo_ImageDetail()">
                                        @Local["Xem thêm"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3 px-0">
                            <div class="col-lg-12 m-3 my-0 flex-grow-1">
                                <div id="lightGallery"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="General_Chatting" class="border border-primary card rounded-3 shadow-lg bottom-0 end-0 p-2 d-none" style="z-index: 100;">
        <div class="d-flex">
            <div class="ms-auto my-auto mt-1 me-2">
                <i onclick="MaxMessageCustGate()" class="max cursor-pointer text-md mx-1 text-secondary fas fa-expand-arrows-alt"></i>
                <i onclick="MinMessageCustGate()" class="min cursor-pointer text-md mx-1 text-secondary fas fa-expand d-none"></i>
                <i onclick="CloseMessageCustGate()" class="cursor-pointer text-lg mx-1 text-gradient text-primary fas fa-chevron-down"></i>
            </div>
        </div>
        <div id="General_ChattingArea" class=" h-100">

        </div>
    </div>
</div>
<script type="text/javascript">
    var _GeneralInfo_DataProperti = [];
    var _GeneralInfo_DataBroker = [];
    var _GeneralInfo_IndexProperti = 0;
    var _GeneralInfo_dynamicGallery;
    $(document).ready(function () {
        let _custlayout = Master_LayoutCustomer.toLowerCase();
        let _custchildlayout = Master_LayoutChildCustomer.toLowerCase();
        $(".gencustchilddiv").each(function (index) {
            if ($(this)[0] != undefined) {
                if (!_custchildlayout.includes($(this)[0].id.toLowerCase())) $(this).remove();
            }
        });
        $(".gencustdiv").each(function (index) {
            if ($(this)[0] != undefined) {
                if (!_custlayout.includes($(this)[0].id.toLowerCase())) $(this).remove();
            }
        });
        var listplugins = [];
        if (sys_Custimgblockshare == 1) listplugins = [lgZoom, lgAutoplay, lgFullscreen, lgRotate, lgThumbnail];
        else listplugins = [lgZoom, lgAutoplay, lgFullscreen, lgRotate, lgShare, lgThumbnail];
        _GeneralInfo_dynamicGallery = lightGallery(document.getElementById('lightGallery'), {
            speed: 300,
            showZoomInOutIcons: true,
            actualSize: false,
            selector: '.LAD_Image',
            thumbnail: true,
            plugins: listplugins,
            mode: 'lg-fade',
            dynamic: true,
            dynamicEl: []
        });

        Master_IndexDB_Reads(_Session_Data, [_Session_Teeth, _Session_Service]
            , function (data) {
                sys_MainTeeth = data[0];
                sys_MainService = data[1];
                GeneralInfo_LoadData();
                GeneralInfo_DetectRule();
                GeneralInfo_EventInit();
                ToolPopper();
            });
         CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
     });

    function GeneralInfo_LoadData() {
         AjaxLoad(url = "/Customer/GeneralInfo/?handler=Loadata"
             , data = { 'CustomerID': ser_MainCustomerID}
             , async = true
             , error = function () { notiError_SW(); }
             , success = function (result) {
                 let data = JSON.parse(result);
                // dataMainCustomer = data.Table[0];
                 GeneralInfo_InfoRender(data.Table[0]);
                 if ($("#generalInfo_Divhistory").is(":visible") && $("#generalInfo_Divhistory").children().length > 0)
                     GeneralInfo_NoteRender(data.Table1, "generalInfo_note");
                 if ($("#generalInfo_DivRelation").is(":visible") && $("#generalInfo_DivRelation").children().length > 0)
                     GeneralInfo_RelationRender(data.Table2, data.Table3, "generalInfo_relation");
                 if ($("#generalInfo_DivGalery").is(":visible") && $("#generalInfo_DivGalery").children().length > 0)
                     GeneralInfo_RenderImage(data.Table4, "lightGallery");

                 $('.social_button_icon').popup({
                     transition: "scale up",
                     position: "bottom center"
                 });
             }
             , sender = null
             , before = function (e) {

             }
             , complete = function (e) {
                 GeneralInfo_LoadIni();
                 GeneralInfo_CCLoad();
                 GeneralInfo_InfoLoadGroup();
                 if ($("#per_scheduleInfo").is(":visible") && $("#per_scheduleInfo").children().length > 0) GeneralInfo_LoadApp();
                 if ($("#per_anamnesisInfo").is(":visible") && $("#per_anamnesisInfo").children().length > 0) GeneralInfo_LoadAnamnesis();
                 if ($("#per_consultStatus").is(":visible") && $("#per_consultStatus").children().length > 0) GeneralInfo_ConsultStatus();
                 if ($("#generalInfo_DivService").is(":visible") && $("#generalInfo_DivService").children().length > 0) GeneralInfo_LoadService();
                 if ($("#generalInfo_DivTreat").is(":visible") && $("#generalInfo_DivTreat").children().length > 0) GeneralInfo_LoadTreat();
                 if ($("#generalInfo_DivPayment").is(":visible") && $("#generalInfo_DivPayment").children().length > 0) GeneralInfo_LoadPayment();
                 if ($("#generalInfo_DivProperties").is(":visible") && $("#generalInfo_DivProperties").children().length > 0) GeneralInfo_LoadPro();
                 if ($("#generalInfo_DivRating").is(":visible") && $("#generalInfo_DivRating").children().length > 0) GeneralInfo_LoadRating();
                 if ($("#generalInfo_DivBroker").is(":visible") && $("#generalInfo_DivBroker").children().length > 0) GeneralInfo_LoadBrokerPoint();

                 Checking_TabControl_Permission();
                 CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
             }
         );
     }
    function GeneralInfo_DetectRule () {
        let GIRExist = 0;
        if (sys_AskHistory != "0") {
            GIRExist = 1;
            $('#GIR_PreHistory').removeClass('d-none');
        }
        if (sys_AskCustGroup != "0") {
            GIRExist = 1;
            $('#GIR_CustGroup').removeClass('d-none');
        }
        if (sys_ValidProfile != "0") {
            GIRExist = 1;
            $('#GIR_ValidProfile').removeClass('d-none');
        }
        if (sys_Before_16 != "0") {
            GIRExist = 1;
            $('#GIR_Before16').removeClass('d-none');
        }
        if (sys_TimeInvoice != "0") {
            GIRExist = 1;
            $('#GIR_CashierTime').removeClass('d-none');
        }
        if (sys_InputTeethChart != "0") {
            GIRExist = 1;
            $('#GIR_TeethChart').removeClass('d-none');
        }
        if (GIRExist == 1)  $('#GeneralInfo_Rule').removeClass('d-none');


    }


    function GeneralInfo_EventInit(){

        $(".tabCustInfo").unbind('click').on('click', function(){
            let _id = $(this).attr('data-id');
            let _tabActive = $("#tabCustInfoDetail").children('ul[data-id="'+_id+ '"]');
            let _tabHide = _tabActive.siblings();
            $(this).addClass("active").siblings().removeClass("active");
            _tabHide.hide();
            _tabActive.fadeIn(300);
        })


    }


</script>
<style>
    #lightGallery a {
        margin: 3px;
        border: 1px solid #d6d2d2;
        display: inline-block;
        position: relative;
        overflow: hidden;
        font-size: 10px;
        background-position: center;
        width: 100px;
        height: 100px;
        background-size: cover;
    }

    #General_Chatting {
        position: fixed;
        height: 500px;
        width: 400px;
        max-width: 100% !important;
        transition: width 1s;
        border-color: #aa2c8d24 !important;
    }

        #General_Chatting.max {
            height: calc(100% - 150px);
            width: 750px;
        }

    .nolink {
        opacity: 0.2 !important;
    }

    .GeneralInfo_RatingStar_item {
        width: 18px;
    }

        .GeneralInfo_RatingStar_item .GeneralInfo_Ratingstar_under {
            color: #ff7f0e;
        }

        .GeneralInfo_RatingStar_item .GeneralInfo_Ratingstar_over {
            color: #ff7f0e;
        }

    .GeneralInfo_FirstUpper {
        text-transform: lowercase
    }

        .GeneralInfo_FirstUpper::first-letter {
            text-transform: uppercase;
        }
</style>
