@page
@model MLunarCoffee.Pages.Customer.ImageDescriptionModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <meta charset="utf-8" />
    <style></style>
    <script>js_require('/js/comon/initialize_setting.js');</script>
</head>
<body>
    <div class="header header_form_main">
        @Local["Mô tả"]
    </div>
    <div class="row">
        <div class="sixteen wide tablet eight wide computer column">
            <div class="ui segments">
                <form class="ui form segment form3" id="form3" onsubmit="event.preventDefault(); return false;">
                    <div class="field">
                        <div class="field">
                            <input id="txtDescriptionImage" name="description" type="text" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div class="actions">
        <div style="float: right">
            <button class="ui teal button saveButton" form="form3" type="submit" onclick="return ExcuteData_ImageDescription()"> @Local["Lưu"]</button>
        </div>
        <div style="float: right">
            <button class="ui grey button cancelButton" form="form3" onclick="event.preventDefault();Close_ImageDescription()"> @Local["Đóng"]</button>
        </div>

    </div>
    <script>

        var ser_CurrentImageCustomerID;
        $(document).ready(function () {
            ImageDescription_Ini();
        });
        function Close_ImageDescription() {
            $('#DetailModal').modal('hide');
            $("#DetailModal_Content").html('');
            CurrentEditDescriptionImage = 0;
        }
        function ImageDescription_Ini() {
            AjaxLoad(url = "/Customer/ImageDescription/?handler=Loadata"
                , data = {'id': id}
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    let DataDescription = JSON.parse(result);
                    $('#txtDescriptionImage').val(DataDescription[0].Description);
                    let el = document.getElementById('lightgallery');
                    window.lgData[el.getAttribute('lg-uid')].destroy();
                }
            );
        }
        function ExcuteData_ImageDescription() {
            ser_CurrentImageCustomerID ='@Model._CurrentImageID';
            var data = new Object();
            data.Description = $('#txtDescriptionImage').val() ? $('#txtDescriptionImage').val() : "";
            AjaxLoad(url = "/Customer/ImageDescription/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(data)
                    , 'CurrentID': ser_CurrentImageCustomerID }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        Load_Image_Customer(CurrentFolderID_Customer);
                        $('#DetailModal').modal('hide');
                        $("#DetailModal_Content").html('');
                    }
                    else {
                        document.getElementById("textShowMessage").innerHTML = "@Local["Có lỗi xảy ra"]";
                    }
                    CurrentEditDescriptionImage = 0;
                }
            );
            return false;
        }
    </script>

</body>
</html>
