@page
@model MLunarCoffee.Pages.Customer.LaboCustomerListModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-3 px-0">
    <div class="row">
        <div class="col-12">
            <div class="card" id="divLaboList">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <ul class="nav nav-pills p-1 bg-transparent permissionlist" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer  " data-bs-toggle="collapse" href="#dtContentLaboinfodes">
                                    <i class="text-gradient  text-lg text-primary fas fa-info-circle"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="ms-auto my-auto mt-1">
                            <button class="btn btn-dark btn-sm mt-1" onclick="CLprintoption()"> @Local["In tùy chọn"]</button>
                            <button class="btn bg-gradient-primary btn-sm mt-1" onclick="LoboAddNewItem()">
                                @Local["Thêm mới"]
                            </button>
                            <div class="position-relative d-inline" style="z-index:1021!important">
                                <button class="btn btn-dark btn-sm mt-1 position-relative dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#colLists">
                                    @Local["Xem thêm"]
                                </button>
                                <div class="collapse position-absolute z-index-3 end-1 top-100 mt-2" id="colLists" style="min-width:250px;">
                                    <ul class="card card-body text-dark text-capitalize opacity-10">
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="createdname" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Thông tin tạo"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="handlelname" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Thông tin sửa"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="reason" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Lý do"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="supplier" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Nhà cung cấp"]</p>
                                        </li>
                                        <li id="LCL_perViewPrice" class="d-flex _tab_control_" data-tab="cust_labo_info_price">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="price" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Giá"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="require_date" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Ngày muốn nhận"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="require_doc" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Người yêu cầu"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="fileattach" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Tệp đính kèm"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="labo_content" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Nội dung"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="labo_content_quick" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Ghi chú"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="showmore" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Xem thêm"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="HistoryNote" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Lịch ghi chú"]</p>
                                        </li>
                                        <li class="d-flex">
                                            <div class="form-check form-switch">
                                                <input class="shtoogle form-check-input" data-name="teethstyle" type="checkbox">
                                            </div>
                                            <p class="text-sm">@Local["Dáng răng"]</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dtContentLaboinfodes" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark ms-1 mb-4 mt-2 multi-collapse collapse">
                        <h6 class="mb-0">@Local["Quy định chỉnh sửa"]</h6>
                        <p id="LCL_cust_labo_info_price_labotype" class="mb-0 _tab_control_" data-tab="cust_labo_info_price_labotype"></p>

                        <p class="text-sm mb-0">
                            @Local["Chỉnh sửa và xóa labo trong ngày"]
                            @Local["Labo đã thanh toán không sửa xóa. Chỉ người tạo mới được quyền sửa và xóa"]
                        </p>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="position-absolute z-index-3 max-width-400 w-100" id="DivProperties" style="display: none;"></div>
                    <p id="clprint_option" class="bg-white fw-bold sticky-top text-primary text-sm d-none">
                        @Local["Chọn chi tiết để in"] click <span><i onclick="clprint_Action()" class="fs-6 cursor-pointer mx-2  fas fa-print"></i></span> @Local["Để in"].
                    </p>
                    <div class="m-0 my-3 mobile-responsive vt-header-sticky" style="max-height:80vh;">
                        <div id="div_customer_waiting_labo" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>                        
                        <table data-name="ContentLaboCus" class="table vt-table mb-0" id="dtContentLaboCus">
                            <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th class="d-none">Status</th>
                                    <th style="width:40px;">#</th>
                                    <th class="bg-gray-100 d-none print" style="width: 110px;">
                                        <div class="form-check ms-2">
                                            <input class="fs-6 selectall form-check-input pr-2" type="checkbox">
                                            <label class="custom-control-label pt-1 ms-n2 mb-0">@Local["Chọn in"]</label>
                                        </div>

                                    </th>
                                    <th>@Local["Trạng thái"]</th>
                                    <th>@Local["Labo"]</th>
                                    <th>@Local["Răng"]</th>
                                    <th data-name="teethstyle">@Local["Dáng răng"]</th>
                                    <th data-name="supplier">@Local["Nhà cung cấp"]</th>
                                    <th data-name="price" class=" _tab_control_" data-tab="cust_labo_info_price">@Local["Giá"]</th>
                                    <th data-name="reason">@Local["Lý do"]</th>
                                    <th data-name="require_date">@Local["Ngày muốn nhận"]</th>
                                    <th data-name="require_doc">@Local["Người yêu cầu"]</th>
                                    <th data-name="labo_content">@Local["Nội dung"]</th>
                                    <th data-name="labo_content_quick">@Local["Ghi chú"]</th>
                                    <th data-name="showmore">@Local["Chi tiết"]</th>
                                    <th data-name="HistoryNote">@Local["Lịch ghi chú"]</th>
                                    <th data-name="fileattach" style="min-width: 200px;">@Local["Tệp đính kèm"]</th>
                                    <th data-name="createdname">@Local["Thông tin tạo"]</th>
                                    <th data-name="handlelname">@Local["Thông tin sửa"]</th>
                                    <th>@Local["Xử lý"]</th>
                                </tr>
                            </thead>
                            <tbody id="dtContentLaboCusBody">
                            </tbody>
                        </table>
                    </div>
                    <button id="CustLabo_btnloadMore" class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0 position-relative" style="pointer-events: auto;" onclick="event.preventDefault(); return CustLabo_LoadData(0, 1);">
                        @Local["Xem thêm"]
                    </button>
                    <!-- #endregion -->

                </div>

            </div>

            <div id="divLaboDetail">
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    //#region // DECLARE AND INIT LOAD

    var data_Cus_Labo = {};
    let shtable;
    var DataTeethLabo
    let DataEmployee;
    var DataLabo_Sup = [];
    var DataLabo_Color = [];
    var DataLabo_Dimesion = [];
    var DataLabo_Material = [];
    var DataLabo_Properties = [];
    var DataLabo_Layout = [];
    let CustLabo_data;
    let CustLabo_limit = 200, CustLabo_beginID = 0;
    let CustLabo_isDoneLoadMore = false;
    let clprint_selected = '';
    var clprint_IsAll = 0;
    var clprintData = [];
    let clflag_option = 1;
    $(document).ready(function () {
        shtable = $("#dtContentLaboCus").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        $('#dtContentLaboCus').tablesort();
        Checking_TabControl_Permission();
        Master_IndexDB_Reads(_Session_Data, [_Session_Teeth, _Session_Employee]
            , function (data) {
                DataTeeth = data[0];
                DataEmployee = data[1];
                CustLabo_Init();
                CustLabo_LoadData(0, 0);
            });
        CustLabo_Event();
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
    });
    function CustLabo_Init() {
        AjaxLoad(url = "/Customer/LaboCustomerList/?handler=Initialize"
            , data = {}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result != '0') {
                    let datas = JSON.parse(result);
                    DataLabo_Sup = datas.Supplier;
                    DataLabo_Color = datas.Color;
                    DataLabo_Dimesion = datas.Dimesion;
                    DataLabo_Material = datas.Material;

                    for (let i = 0; i < DataLabo_Material.length; i++) {
                        let strPriceType = $('#LCL_cust_labo_info_price_labotype').length > 0
                            ? `<span class="ps-2 text-primary _tab_control_" data-tab="cust_labo_info_price_labotype">${formatNumber(DataLabo_Material[i].UnitPrice)}</span>`
                            : '';
                        DataLabo_Material[i].Name = `${DataLabo_Material[i].Name}${strPriceType}`;

                    }

                    DataLabo_Properties = datas.Properties;
                    DataLabo_Layout = datas.Layout;

                }
            }
        );
    }

    //#endregion

    //#region // EVENT

    function CustLabo_Event() {

        $('#dtContentLaboCus tbody').on('click', '.buttonEditClass', function () {
            let ID = Number($(this).attr('data-id'));
            LaboEditItem(ID, ser_MainCustomerID);
        });

        $('#dtContentLaboCus tbody').on('click', '.buttonPrintClass', function () {
            let ID = $(this).attr('dataid');
            let code = $(this).attr('datacode');
            syslog_cutlabo('p', code, ser_MainCustomerID, '');
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load('/Print/print?Type=require_lab&DetailID=' + ID);
            $('#DetailModal').modal('show');
        });
        $('#dtContentLaboCus tbody').on('click', '.btnAttachFile', function () {
            let ID = Number($(this).closest('tr')[0].children[0].innerHTML);
            let Code = encodeURIComponent($(this).attr('data-code'));
            let CreatedCode = encodeURIComponent($(this).attr('data-createdcode'));
            if (Code != "") {
                $("#DetailModal_Content").html('');
                $("#DetailModal_Content").load(`/Library/LibraryAttach/LibraryAttachDetail?OriginID=${ID}&OriginCode=${Code}&CreatedCode=${CreatedCode}&ver=${versionofWebApplication}`
                    , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "success") {
                            if (typeof LAD_Init === 'function')
                                LAD_Init(CustLabo_FileReRender);
                        }
                        if (statusTxt == "error") {
                            console.warn("error");
                        }
                    })

                $('#DetailModal').modal('show');
            }
            else {
                notiWarning("@Local["Không có mã"]");
            }
        });
        $('#dtContentLaboCus tbody').on('click', '.btnShowMore', function () {
            let ID = Number($(this).closest('tr')[0].children[0].innerHTML);

            let pos_top = $(this).parent().position().top + $(this).parent().height();
            let pos_left = $(this).parent().position().left - 310;
            $("#DivProperties").css({
                "display": "block"
                , "left": pos_left
                , "top": pos_top
            }).animate({
                left: pos_left
                , top: pos_top
            }, 300);

            $("#DivProperties").load("/Customer/LaboCusListShowPropertie?CurrentID=" + ID + "&ver=" + versionofWebApplication);
        })

        $('#dtContentLaboCus tbody').on('click', '.ButtonChangeStatus:not(.cursor_none)', function () {
            let ID = Number($(this).closest('tr')[0].children[0].innerHTML);
            LaboDetail_ChangeStatus(this, ID);
        });

        $('#dtContentLaboCus tbody').on('click', '.btnNote', function () {
            let ID = Number($(this).closest('tr')[0].children[0].innerHTML);
            CustLabo_OpenNote(ID);
        })
        $("#dtContentLaboCus").on('change', '.printservice', function (event) {
            clprint_IsAll = 0;
            CLPrint_SetIndex($(this)[0]);
        });
        $("#dtContentLaboCus").on('click', '.selectall', function (event) {
            CLprint_SelectAll($(this).is(":checked"));
        });
        CustLabo_Out_Click();
    }

    function CustLabo_Out_Click() {
        $(document).on("click", function (e) {
            let column_btn = $(".column_btn");
            if (!$(column_btn).is(e.target) && $(column_btn).has(e.target).length === 0) {
                $('.column_btn .title,.column_btn .content').removeClass("active");
            }
        })
    }

    //#endregion

    //#region // LOAD DATA
    function CustLabo_LoadData(CustLabo_currentID = 0, CustLabo_isLoadMore = 0) {
        if (CustLabo_currentID == 0 && CustLabo_isLoadMore == 0) {
            CustLabo_data = [];
            CustLabo_beginID = 0;
            CustLabo_isDoneLoadMore = false;
            $('#dtContentLaboCusBody').html('');
        }

        AjaxLoad(url = "/Customer/LaboCustomerList/?handler=LoadataLaboCusList"
            , data =
            {
                'CustomerID': ser_MainCustomerID
                , 'LaboID': CustLabo_currentID
                , 'limit': CustLabo_limit
                , 'beginID': CustLabo_beginID
            }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    if (CustLabo_currentID == 0) {
                        CustLabo_data = CustLabo_data.concat(data);
                        CustLabo_beginID = data[data.length - 1].ID;
                        fnRenderBlock(data, "dtContentLaboCusBody"
                            , blocknum = 100
                            , fnrender = CustLabo_Render
                            , fnsuccess = function (e) { }
                            , fnbegin = function (e) { }
                        );
                    }
                    else {
                        if (data && data.length != 0) {
                            if ($('#CustLabo_rowContent_' + CustLabo_currentID).length > 0) {
                                CustLabo_data = CustLabo_data.reduce((pre, arr) => {
                                    if (arr.ID == data[0].ID) arr = data[0];
                                    pre.push(arr);
                                    return pre;
                                }, []);
                                $('#CustLabo_rowContent_' + CustLabo_currentID).replaceWith(CustLabo_RenderEach(data[0]));
                                CustLabo_Event();
                            }
                            else {
                                if (CustLabo_isDoneLoadMore) {
                                    CustLabo_data.push(data[0]);
                                    $('#dtContentLaboCusBody').prepend(CustLabo_RenderEach(data[0]));
                                    CustLabo_Event();
                                }
                                else {
                                    CustLabo_LoadData(0, 0);
                                }
                            }
                        }
                        else {
                            if ($('#CustLabo_rowContent_' + CustLabo_currentID).length > 0) {
                                CustLabo_data = CustLabo_data.filter(word => {
                                    return word.ID != CustLabo_currentID
                                })
                                $('#CustLabo_rowContent_' + CustLabo_currentID).remove();
                            }
                        }
                        Checking_TabControl_Permission();
                    }
                }
                else if (result == "[]") {
                    if (CustLabo_isLoadMore == 1) {
                        $("#CustLabo_btnloadMore").hide();
                        CustLabo_isDoneLoadMore = true;
                    }
                    else {
                        if (CustLabo_currentID != 0) {
                            if ($('#CustLabo_rowContent_' + CustLabo_currentID).length > 0) {
                                CustLabo_data = CustLabo_data.filter(word => {
                                    return word.ID != CustLabo_currentID
                                })
                                $('#CustLabo_rowContent_' + CustLabo_currentID).remove();
                            }
                        }
                        else {

                        }
                    }
                }
                else {
                    notiError_SW();
                }
                shtable.Refresh();
            }
            , before = function () {
                $("#div_customer_waiting_labo").show();
            }
            , complete = function (e) {
                $("#div_customer_waiting_labo").hide();
            });
    }
    //#endregion

    //#region //Render Data

    async function CustLabo_Render(data, id) {
        return new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = CustLabo_RenderEach(item);
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
                shtable.Refresh();
                Checking_TabControl_Permission();
            }
        });
    }

    function CustLabo_RenderEach(item) {
        try {
            let IsSelect = $("#dtContentLaboCus thead .print").hasClass('d-none') ? 0 : 1;
            let teethname = Fun_GetTeeth_ByToken(DataTeeth, item.Teeth, item.TeethType);
            let classname = (item.IsChangeStatus !== 1) ? 'cursor_none' : '';
            let status = `
                            <div class="d-flex align-items-center">
                                    <button style="background-color:${item.StatusColor}"
                                        class="ButtonChangeStatus ${classname} btn btn-icon-only btn-rounded mb-0 me-3 btn-sm d-flex align-items-center justify-content-center">
                                        <i class="text-lg  text-white fas fa-exchange-alt"></i>
                                    </button>
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-0 text-dark text-sm">${item.StatusName}</h6>
                                    </div>
                            </div>
                        `
            let teeth = `
                            <span class="badge bg-light p-1 m-2 text-sm text-dark">
                                <span class="text-lowercase font-weight-normal px-2">${item.NumberTeeth}</span>
                                <span class="badge bg-gradient-dark"><span class="pe-3">
                                    <i class="vtt-icon vttech-icon-labo text-xxs text-white ms-n1"></i>${teethname}</span>
                                </span>
                            </span>
                        `
            let tr =`<td class="d-none">${item.ID}</td>
                    <td class="d-none">${item.isChangeStatus}</td>
                    <td class="vt-number-order"></td>
                    <td class="text-center bg-gray-100 print ${IsSelect == 0 ? `d-none` : ``} position-relative">
                        <span class="position-absolute end-4 top-4 text-primary text-sm numIndex fw-bold" id="clnumIndex_${item.ID}"> </span>
                        <div class="form-check d-flex justify-content-center">
                            <input type="checkbox" data-id="${item.ID}" class="form-check-input pr-2 printservice">
                        </div>
                    </td>
                    <td>${status}</td>
                    <td>
                        <a data-id="${item.ID}" class="cursor-pointer border-bottom buttonEditClass">${item.LabCode}</a>
                        <span class="d-block">${item.ServiceName}</span>
                    </td>
                    <td>${teeth}</td>
                    <td data-name="teethstyle">${item.LayoutName}</td>
                    <td data-name="supplier">
                        <div class="d-inline">
                            <span>${item.SupplierName}</span>
                        </div>
                    </td>
                    <td data-name="price" class=" _tab_control_" data-tab="cust_labo_info_price">${formatNumber(item.Price)}</td>
                    <td data-name="reason">${item.WarantlyName}</td>
                    <td data-name="require_date">${ConvertDateTimeToStringDMY_HM(item.ReceiptDate)}</td>
                    <td data-name="require_doc">${CustLabo_Render_Doctor(item.DoctorID)}</td>
                    <td data-name="labo_content">${(item.Content)}</td>
                    <td data-name="labo_content_quick">${(item.QuickNote)}</td>
                    <td data-name="showmore" class="text-center cursor-pointer fw-bold">
                        <span class="btnShowMore text-center text-primary">@Local["Xem thêm"]</span>
                    </td>
                    <td class="text-center" data-name="HistoryNote">
                        <span class="text-primary cursor-pointer fw-bold btnNote">@Local["Ghi chú"]</span>
                    </td>
                    <td data-name="fileattach" data-code="${item.LabCode}" data-createdcode="${item.Created}" class="btnAttachFile text-center cursor-pointer font-weight-bold">
                        <button class="position-relative btn btn-link text-dark text-sm mb-0 px-0">
                            <i class="fas fa-file text-sm me-1" aria-hidden="true"></i>
                            <span id="File_${item.LabCode.replace(/\W/g, " _")}_${ConvertDateTime_To_YMDInt(item.Created)}" class="badge badge-circle bg-light ms-n2 position-absolute text-dark btnAttachFileIcon">${item?.FileAttach ?? 0}</span>
                        </button>
                    </td>
                    <td data-name="createdname">${CustLabo_Render_EmployeeInfo(item.CreatedBy, item.Created)}</td>
                    <td data-name="handlelname">${CustLabo_Render_EmployeeInfo(item.ModifiedBy, item.Modified)}</td>
                    <td class="text-nowrap">
                        ${CustLabo_Render_Button(item.ID, item.LabCode)}
                    </td>`

            tr = `<tr role="row" id="CustLabo_rowContent_${item.ID}" class="vt-number">${tr}</tr>`;
            return tr;
        }
        catch (ex) {
            return '';
        }
    }

    function CustLabo_FileReRender(code, date, total) {
        try {
             $(`#File_${code.replace(/\W/g, "_")}_${ConvertDateTime_To_YMDInt(date)}`)?.html(total);
        }
        catch (e) {
            console.error(e.message);
        }
    }

    function CustLabo_Render_EmployeeInfo(empID, date) {
        try {
            var result = '';
            if (empID && empID != 0) {
                if (DataEmployee && DataEmployee[empID] != undefined) {
                    var itemEmp = DataEmployee[empID];
                    result = `
                                    <div class="d-flex">
                                        <div class="icon icon-shape icon-sm me-2 text-center">
                                            <img class="avatar avatar-xs" src="${itemEmp.Avatar != '' ? itemEmp.Avatar : Master_Default_Pic}" alt="label-image" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="text-dark text-sm mb-0">${itemEmp.Name}</h6>
                                            <span class="text-xs">${ConvertDateTimeToStringDMY_HM(date)}</span>
                                        </div>
                                    </div>
                                `
                }
            }
            return result;
        }
        catch (ex) {
            return '';
        }
    }

    function CustLabo_Render_Doctor(docID) {
        try {
            var result = '';
            if (docID && docID != 0 && DataEmployee && DataEmployee[docID] != undefined) {
                result = `${DataEmployee[docID].Name}`
            }
            return result;
        }
        catch (ex) {
            return '';
        }
    }

    function CustLabo_Render_Button(id, code) {
        let buttons = [];
        //if (isDelete == 1) {
        //    buttons.push('<button class="buttonGrid _tab_control_" data-tab="cust_labo_btn_deletelabo" value="' + id + '"><i  class="buttonDeleteClass vtt-icon vttech-icon-delete" ></i></button>');
        //}
        buttons.push(`<button class="buttonGrid"><i dataid="${id}" datacode="${code}" class="buttonPrintClass vtt-icon vttech-icon-print p-2"></i></button>`)
        return Render_Button_Grid(buttons)
    }

    //#endregion


    //#region // Handle Labo

    function LoboAddNewItem() {

        OpenDivLaboDetail();
        $("#divLaboDetail").load("/Customer/LaboCusDetail?CustomerID=" + ser_MainCustomerID + "&ver=" + versionofWebApplication, function (e) {

            $('#divLaboDetail').show();
            $("#divLaboList").hide();

        });
    }

    function LaboEditItem(id, customerid) {
        OpenDivLaboDetail();
        $("#divLaboDetail").load("/Customer/LaboCusDetail?CurrentID=" + id + "&CustomerID=" + customerid + "&ver=" + versionofWebApplication, function (e) {
            $('#divLaboDetail').show();
            $("#divLaboList").hide();

        });
    }

    function OpenDivLaboDetail() {
        $("#divLaboDetail").empty();
        document.getElementById("divLaboDetail").innerHTML = '';
    }

    function CloseDivLaboDetail() {
        document.getElementById("divLaboDetail").innerHTML = '';
        $("#divLaboList").show();
        $("#divLaboDetail").hide();
    }

    function CustLabo_ShowProperties() {
        $("#DivProperties").hide();
    }

    function CustLabo_OpenNote (ID) {
        if (ID != '' && ID != 0) {
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load("/Pages/Customer/LaboNoteHistory?CurrentID=" + ID + "&ver=" + versionofWebApplication);
            $('#DetailModal').modal('show');
        } else notiError_SW();
    }
    //#endregion

    //#region Print select
    function CLprintoption () {

        $('#dtContentLaboCus thead .print .selectall').prop('checked', false);
        if($('#dtContentLaboCus thead .print').length){
            $("#dtContentLaboCus .numIndex").html('');
            clprint_selected = '';
            if ($('#dtContentLaboCus thead .print').hasClass('d-none')) {
                $('#clprint_option').removeClass('d-none');
                $('#dtContentLaboCus thead .print').removeClass('d-none');
                $('#dtContentLaboCus tbody .print').removeClass('d-none');
                clflag_option = 0;
                let obj = $("#dtContentLaboCusBody .printservice");
                for (let i = 0; i < obj.length; i++) obj[i].checked = false;
                clflag_option = 1;
            }
            else {
                $('#clprint_option').addClass('d-none');
                $('#dtContentLaboCus thead .print').addClass('d-none');
                $('#dtContentLaboCus tbody .print').addClass('d-none');
            }
        }
    }
    function clprint_Action () {
        if (clprint_selected != '') {
            if (clprint_selected.length < 1000) {
                syslog_cutlabo('p', ser_MainCustomerID, '');
             
                $("#DetailModal_Content").html('');
                $("#DetailModal_Content").load('/Print/print?Type=labo_mutil&DetailID=' + encodeURIComponent(clprint_selected));
                $('#DetailModal').modal('show');

            }
            else  notiWarning("@Local["Vượt số lượng cho phép"]");
        }
    }
    function CLPrint_SetIndex(val){
        if(val.checked){
            let tabID = val.getAttribute('data-id');
            clprintData.push(tabID);
        }
        else{
            let tabID = val.getAttribute('data-id');
            let index = clprintData.indexOf(tabID);
            clprintData.splice(index,1);
        }

        if(clprint_IsAll == 1){
            if(clprintData.length == $('.printservice').length) {
                CLprint_Select();
            };
        }
        else CLprint_Select();

    }
    async function CLprint_Select () {
        new Promise((resolve) => {
            setTimeout(() => {
                if (clflag_option == 1) {
                    $('.numIndex').html('');
                    let str = '';
                    if (clprintData.length != 0) {
                        for (let i = 0; i < clprintData.length; i++) {
                            let item = clprintData[i];
                            $('#clnumIndex_' + item).html(i + 1);
                            str = str + item + ',';
                        }
                        clprint_selected = str;
                    }
                }
                resolve();
            }, 100)
         })
    }

    function CLprint_SelectAll (val) {
        clprint_selected = '';
        clprint_IsAll = 1;
        clprintData = [];
        if (!val) $('.numIndex').html('');
        let obj = $("#dtContentLaboCusBody .printservice");
        for (let i = 0; i < obj.length; i++) {
            obj[i].checked = val;
            CLPrint_SetIndex(obj[i]);
        }
        clflag_option = 1;
    }

    //#endregion
</script>

<script>js_require('/js/main.js');</script>
<style>
    .ButtonChangeStatus i.cursor_none {
        opacity: 0.2;
    }

    tbody .btnAttachFile .btnAttachFileIcon {
        margin-top: 1.6rem;
        width: 0.75rem;
        height: 0.75rem;
        font-size: 0.65rem;
    }
</style>