@page
@model MLunarCoffee.Pages.Customer.MainCustomer
@{
    //if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="row mt-8 d-none" id="MainCustomer_Header_Denied">
    <div class="col-md-6 mx-auto text-center">
        <h2>@Local["Không có quyền xem hồ sơ"]</h2>
        <p>@Local["Bạn không có quyền xem hồ sơ này"] </p>
    </div>
</div>
<div id="MainCustomer_Header_Info" class="ui equal width left aligned padded grid stackable" style="display:none;">
    <div class="navslide navwrap" id="main_customer_div_info" style="width:100%;">
        <div class="container-fluid">
            <div class="cust_noticearea">
                <span id="schedule_next" class="badge bg-gradient-info ms-2"></span>
            </div>
            <div class="page-header mx-n3 mt-3" style="background-position-y: 50%; min-height: 84px; border-radius: 15px 15px 0px 0px; ">
                <span class="mask bg-gradient-primary opacity-6"></span>
            </div>
            <div class="headercustinfo card card-body blur shadow-blur mx-n4 mt-n7 page-header-card">
                <div class="row gx-4">
                    <div class="col-sm-auto d-flex gap-2">
                        <div class="col-sm-auto text-center">
                            <div class="avatar avatar-xl position-relative">
                                <div id="avatarCustomer" style="position: relative;">
                                    <img id="avatarCustomerLabel" alt="profile_image" class="hoverpopup   avatar-md border-radius-lg border border-1 border-gray" src="/default.png" style="object-fit: cover;" />
                                    <div id="avatarCustomerLoader" class="spinner-grow text-primary position-absolute translate-middle" role="status" style="display:none;">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-auto pe-sm-0 ps-sm-0" id="generalInfo">
                            <div class="mb-0">
                                <span data-bs-toggle="tooltip" title="@Local["MSKH"]" id="txtMainCustomerCode" class="letter-spacing-1 text-sm text-primary fw-bold"></span>
                                <span class="letter-spacing-1 my-auto text-sm fw-bold  text-dark text-uppercase d-none" data-bs-toggle="tooltip" title="@Local["MSKH cũ"]" id="txtMainCustomerCodeOld"></span>
                                <span class="letter-spacing-1 my-auto text-sm fw-bold  text-dark text-uppercase" data-bs-toggle="tooltip" title="@Local["Mã hồ sơ"]" id="txtMainCust_DocCode"></span>
                                <span class="letter-spacing-1 my-auto text-sm fw-bold  text-dark text-uppercase" data-bs-toggle="tooltip" title="@Local["Mã thành viên"]" id="txtMainCust_MemCode"></span>


                                <i id="IconCustomerMember" class="d-none text-xs fas fa-gem"></i>
                                <span class="my-auto text-sm fw-bold  text-dark text-uppercase" data-bs-toggle="tooltip" title="@Local["Hạng thành viên"]" id="txtCustomerMember"></span>
                                <span class="my-auto text-sm fw-bold  text-dark d-none" data-bs-toggle="tooltip" title="@Local["Xác thực"]" id="txtCustomerValid">
                                    <i class="text-primary fas fa-check"></i><span class="text-sm fw-bold text-primary ms-2">@Local["Xác thực"]</span>
                                </span>
                            </div>
                            <span class="my-auto text-sm fw-bold  text-dark text-uppercase" id="txtNameMain"></span>
                            <div class="d-flex flex-wrap">
                                <span data-tab="phone_customer" data-tab-change="1" title="Phone number" data-bs-toggle="tooltip"
                                      class="letter-spacing-1 hoverpopup _tab_control_ my-auto text-sm fw-bold  text-dark text-uppercase"
                                      style="display: inline" id="txtPhoneMain"></span>
                                <div id="customer_todo_note" class="my-auto" style="display: none;">
                                    <div class="" style="margin-bottom: -1px; font-weight: normal; display: flex;">
                                        <div id="cust_color_todo"></div>
                                        <div class="h-100 max-width-200 text-truncate text-sm" id="cust_status_todo"></div>
                                    </div>
                                </div>
                                <span id="Per_Main_PrintStatus" class="fw-bold text-sm text-primary cursor-pointer" onclick="LoadCustomerStatusPrint();">@Local["Tình trạng"]</span>
                            </div>
                        </div>


                    </div>

                    <div class="col-auto me-sm-0 ms-sm-auto mt-md-0 px-2 w-100 w-sm-auto">
                        <div class="border-radius-lg h-100">
                            <div class="d-flex flex-wrap gap-2 align-items-center py-2 _tab_control_ position-relative" data-tab="div_profilecustomer_paymentinfo">
                                <div id="lbl_cost_info_tab" style="display: none" class="cusinfotag py-1">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Phát sinh"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="cost_info_tab">0</h6>
                                </div>
                                <div id="lbl_paid_tab" style="display: none" class="cusinfotag py-1 ps-0">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Thanh toán"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="paid_tab">0</h6>
                                </div>
                                <div id="lbl_cost_left_tab" style="display: none" class="cusinfotag py-1 ps-0">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Công nợ"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="cost_info_left_tab">0</h6>
                                </div>
                                <div id="lbl_cost_info_treat" style="display: none" class="cusinfotag py-1 ps-0">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Điều trị"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="cost_info_treat">0</h6>
                                </div>
                                <div id="lbl_info_paid_treat" style="display: none" class="cusinfotag py-1 ps-0">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Phân bổ điều trị"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="info_paid_treat">0</h6>
                                </div>
                                <div id="lbl_paid_treat" style="display: none" class="cusinfotag py-1 ps-0">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Thanh toán"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="paid_treat">0</h6>
                                </div>
                                <div id="lbl_cost_left_treat" style="display: none" class="cusinfotag py-1 ps-0">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Công nợ"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="cost_info_left_treat">0</h6>
                                </div>
                                <div id="lbl_cost_deposit_left" style="display: none" class="cusinfotag py-1 ps-0">
                                    <div class="d-flex">
                                        <p class="ps-1 text-sm mt-1 pb-0 mb-0 text-secondary">@Local["Tiền cọc còn lại"]</p>
                                    </div>
                                    <h6 class="fw-bold p-1 mb-0 mt-0 cusinfotag_text" id="cost_deposit_left">0</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-wrapper end-0" id="divCustomerTab">
                    <ul class="nav nav-menus nav-pills mt-sm-2 p-1 pt-1 mx-n1 maincustomertab bg-transparent" role="tablist" id="divCustomerTabContent">
                    </ul>
                </div>
            </div>
        </div>
        <div id="cust_mustarea" class="card p-3 mt-3 mb-0 d-none">
            <div class="row">
                <div id="ncanam_must" class="must col-auto badge bg-primary ms-2 d-none">
                    <div class=" d-flex">
                        <i class="fas fa-lock pe-2 text-white"></i>
                        <div class="pb-0 mb-0">@Local["Nhập tiền sử"]</div>
                    </div>
                </div>
                <div id="ncgroup_must" class="must col-auto badge bg-primary ms-2 d-none">
                    <div class="d-flex">
                        <i class="fas fa-lock pe-2 text-white"></i>
                        <div class="pb-0 mb-0">@Local["Chọn nhóm khách hàng"]</div>
                    </div>
                </div>
                <div id="ncteethchart_must" class="must col-auto badge bg-primary ms-2 d-none">
                    <div class="d-flex">
                        <i class="fas fa-lock pe-2 text-white"></i>
                        <div class="pb-0 mb-0">@Local["Phải nhập phác đồ"]</div>
                    </div>
                </div>
                <div id="ncvalid_must" class="must col-auto badge bg-primary ms-2 d-none">
                    <div class="d-flex">
                        <i class="fas fa-lock pe-2 text-white"></i>
                        <div class="pb-0 mb-0">@Local["Xác thực"]</div>
                        <a data-value="" id="ncvalid_mustvalue" onclick="Maincust_ValidProfile()" style=" letter-spacing: 1.2px;" class="border-bottom text-white pb-0 ms-3 mb-0"></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="divCheckAppointmentExtra" class="position-relative">
            <div id="AppointmentExtra" class="_tab_control_" data-tab="div_tab_check_appointment_extra" style="display: none;">
                <div id="divAppointmentContentMain" class="card position-relative mt-3 ">
                    <div class="d-lg-flex">
                        <div class="flex-grow-1" style="min-width: calc(100% - 350px)">
                            <div class="justify-content-center align-items-center pb-0 pt-3">
                                <div class="d-flex justify-content-center multisteps-form__progress " id="divTimelineExtra">
                                </div>
                                <div class="d-flex justify-content-center my-2 pb-0">
                                    <a id="MainCust_AreaIndex" class="pe-2 fw-bolder fs-6 d-none">@Local["#"] <span id="MainCust_BtnIndex"></span></a>
                                    <button id="MainCust_BtnBackStatus" class="btn badge bg-gradient-secondary _tab_control_" data-tab="cust_back_appointment" onclick="changeBackAppointment()">@Local["Quay lại"]</button>
                                    <button id="MainCust_BtnNextStatus" class="btn badge bg-gradient-primary ms-2 _tab_control_" data-tab="cust_next_appointment">@Local["Chuyển trạng thái"]</button>
                                </div>

                            </div>
                        </div>
                        <div id="MCust_Noteapp" class="col-w-350 p-2 mx-auto p-0 end-0 bg-gray-100 shadow rounded-2 rounded-start position-ralative">
                        </div>
                    </div>
                </div>
                <div class="collapse_appointment">
                    <div class="icon-hover" onclick="event.preventDefault();return AppoinmentCollapseExtra();">
                        <i id="button_CollapseAppoinmentExtra" class="fa fa-arrow-up"></i>
                    </div>
                    <div class="icon-hover" onclick="event.preventDefault();return AppoinmentReloadExtra();">
                        <i style="font-size: 12px;" class="fas fa-sync-alt"></i>
                    </div>
                </div>

            </div>
        </div>
        <div id="divMainPage" class="mb-3">
        </div>
        <div id="loader" class="waitingdiv text-center" style="border: none; display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="navslide navwrap" style="" id="main_customer_div_detail"></div>
</div>
<script>
    var ser_MainPhoneCustomer;
    var ser_MainCustomerID;

    var ser_MainBranchID = '@Model._BranchID';
    var ser_MainCustomerCode;
    var NameCustomer = "";
    var AppIDCustomer;
    var AppStatusCustomer;
    var idCurrentAppointment = 0;
    var currentStatusAppointment;
    var ser_MainAppToken = '';
    var ser_MainAppPlatform = '';
    var ser_MainApp_User = 0;
    var IsPageGeneral = 1; //Co la tab thong tin khach hang
    var ser_TicketID;
    var DataEmployee;
    var DataUserInCustomer;
    var ser_sys_DentistCosmetic = '@Model.sys_DentistCosmetic';

    var ser_Main_Raise_Percent = Number('@Model.Debt_By_Treatment');
    var sys_TreatManualamount = Number('@Model.sys_TreatManualamount');
    var sys_TreatManualIndex = Number('@Model.sys_TreatManualIndex');
    var sys_PercentTreatmentShow = Number('@Model.sys_PercentTreatmentShow');
    var sys_DepositNonPriority = Number('@Model.sys_DepositNonPriority');
    var sys_Noruletreatindex = Number('@Model.sys_Noruletreatindex');
    var sys_AutoselectPro = Number('@Model.sys_AutoselectPro');

    
    var sys_MainTele = [];  // Tat ca telesale ( employee)
    var sys_MainEmp = [];   // Tat ca nhan vien theo chi nhanh
    var sys_MainMemberShip = [];

    var sys_MainService = {};
    var sys_MainTeeth = {};
     //#region // Rule

    var CI_LimitSizeUploadInday = Number('@Model.LimitSizeUploadInDay');
    var CI_Resizeimageupload = Number('@Model.Resizeimageupload');

    //#endregion
     //#region // Rule
    var sys_AskHistory = '@Model.sys_AskHistory';
    var sys_AskCustGroup = '@Model.sys_AskCustGroup';
    var sys_ValidProfile = '@Model.sys_ValidProfile';
    var sys_Before_16 = '@Model.sys_Before_16';
    var sys_TimeInvoice = '@Model.sys_TimeInvoice';
    var sys_InputTeethChart = '@Model.sys_InputTeethChart';
    var sys_MCBreakRule = 0;
    //#endregion

    var ser_CSKHID = 0, ser_TeleID = 0, ser_MarketingID = 0, ser_ResponID = 0;
    //var ser_SMSAfterpaid = {};
    //var ser_SMSCardAfterpaid = {};
    //var ser_SMSKeyCardMessage = {};
    //var ser_NotiAfterpaid = 0;
    //var ser_SMSKeyMessage = {};
    var ser_IsMobileApp = '@Model.sys_IsMobileApp';



    $(document).ready(function () {
        ser_MainCustomerID ='@Model._MainCustomerID';
        Master_IndexDB_Reads(_Session_Data, [_Session_Employee, _Session_User]
            , function (data) {
                DataEmployee = data[0];
                DataUserInCustomer = data[1];
                Main_Customer_LoadInfo();
               
            }
        )
    });

    function Main_Customer_LoadInfo() {
        AjaxLoad(url = "/Customer/MainCustomer/?handler=Loadata"
            , data = {
                'CustomerID': ser_MainCustomerID
                , 'UserTeleLevel': sys_TeleLevel
                , 'UserTeleGroup': sys_TeleGroup
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let dt = JSON.parse(result);
                    let dtInfo = dt.Info;
                    sys_MainMemberShip = dt.Member;
                    if (dtInfo.length > 0) {
                        let data = dtInfo[0];
                        let PAID = Number(data.TotalPaid)
                        AppIDCustomer = data.AppID;;
                        AppStatusCustomer = data.Status;
                        ser_TicketID = data.TicketID;
                        ChangeLableByKey_Debt_By_Treat(ser_Main_Raise_Percent, sys_PercentTreatmentShow);
                        LoadCustomerPaymentInfo(false);
                        NameCustomer = data.Name;
                        $("#txtNameMain").html(NameCustomer);
                        $("title").html(NameCustomer);
                        ser_MainCustomerCode = data.Cust_Code;
                        ser_MainPhoneCustomer = data.Phone1;
                        ser_MainPhone2Customer = data.Phone2;
                        $("#txtPhoneMain").html(ser_MainPhoneCustomer);
                        let CustCodeOld = data.Cust_Code_Old;
                        if (CustCodeOld != "") {
                            $("#txtMainCustomerCodeOld").html('[' + CustCodeOld + ']');
                            $("#txtMainCustomerCodeOld").removeClass('d-none');
                        }

                        let CustDocCode = data.Document_Code;
                        if (CustDocCode != "") {
                            $("#txtMainCust_DocCode").html('[' + CustDocCode + ']');
                        }
                        if (data.Membercode != "") {
                            $("#txtMainCust_MemCode").html('[' + data.Membercode + ']');
                        }

                        $("#txtMainCustomerCode").html(ser_MainCustomerCode);
                        let avatarCustomer = data.Avatar;
                        let avatarDefault = Master_Default_Pic;
                        if (avatarCustomer == '' || avatarCustomer == undefined) {
                            $('#avatarCustomerLabel').attr('src',   avatarDefault);
                        }
                        else {
                            Main_Customer_LoadImage(avatarCustomer)
                        }

                        if (sys_MainMemberShip && sys_MainMemberShip.length != 0) {
                            let NameMemberShip = sys_getmember(sys_MainMemberShip, PAID);
                            let color = sys_getmember_color(sys_MainMemberShip, PAID);
                            $('#txtCustomerMember').html(NameMemberShip);
                            $('#txtCustomerMember').attr('style', 'color: ' + color + ' !important');
                            $('#IconCustomerMember').attr('style', 'color: ' + color + ' !important');
                            $('#IconCustomerMember').removeClass('d-none')

                        }
                        else {
                            $('#IconCustomerMember').addClass('d-none');
                        }
                        $("#MainCustomer_Header_Info").fadeIn(100);
                        $('#MainCustomer_Header_Denied').addClass('d-none');
                        Main_CustomerDetectRule(data.GroupID, data.IsValid, data.TotalAnam, data.TotalStatusTeeth, data.Phone1);
                        Main_Customer_Setting_Initialize();
                    }
                    else {
                        notiError_SW();
                        return;
                    }
                }
                else {
                    $('#MainCustomer_Header_Denied').removeClass('d-none');
                    return;
                }
            }
            , sender = null
            , before = function (e) {
            }
            , complete = function (e) {

            }
        );
    }
    async function Main_Customer_LoadImage(url) {
        $("#avatarCustomerLoader").show();
        $("#avatarCustomerLabel").hide();
        setTimeout(() => {
            let imageAvatar = url;
            var img = new Image();
            img.src = imageAvatar;
            img.onload = function () {
                $("#avatarCustomerLoader").hide();
                $('#avatarCustomerLabel').show();
                $('#avatarCustomerLabel').attr('src', imageAvatar);
            }
            img.onerror = function () {
                $("#avatarCustomerLoader").hide();
                $('#avatarCustomerLabel').show();
                $('#avatarCustomerLabel').attr('src', Master_Default_Pic);
            }
        }, 100);
    }
    function Main_Customer_Setting_Initialize() {
        //Load first page main customer
        $("#divMainPage").load("/Customer/GeneralInfo?CustomerID=" + ser_MainCustomerID + "&ver=" + versionofWebApplication);
        $('#schedule_next').on('click', '.schedule_next_content', function () {
            let ID = Number($(this).attr('data-schedule'));
            editSchedule(ID, ser_MainCustomerID);
        });

        $('#MainCust_BtnNextStatus').unbind('click').on('click', function () {
            let StatusID = $(this).attr('data-id');
            if(StatusID == 2) changeNextExtraAppointmentExcute(StatusID);
            else changeNextExtraAppointment();
        });

        LoadTabCustomer();
        ShowHideAppoitmentExtra();
        AppointmentExtraLoad(AppIDCustomer, AppStatusCustomer);

        OnclickHeaderFormMain();
         
        LoadCustomerScheduleNext();
        Customer_Todo_Load();
        Customer_Todo_Event_Click();
        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl, '@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
    }


    //#region //load lịch hẹn tiếp theo

    function LoadCustomerScheduleNext () {
        AjaxLoad(url = "/Customer/MainCustomer/?handler=LoadCustomerScheduleNext"
            , data = {'CustomerID': ser_MainCustomerID}
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                if (result != "") {
                    let dataMainScheduleNext = JSON.parse(result);
                    if (dataMainScheduleNext.length != 0 && dataMainScheduleNext != undefined) {
                        RenderCustomerScheduleNext(dataMainScheduleNext, "schedule_next");
                        $("#schedule_next").show();
                    }
                    else {
                        $("#schedule_next").hide();
                    }

                }
                else {
                    notiError_SW();
                }
            }
        );
    }

    function RenderCustomerScheduleNext (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            if (data && data.length > 0) {
                let item = data[0];
                let stringContent = '<div class="schedule_next_content d-flex" data-schedule="' + item.ID + '" title="Appointment Next">'
                    + ' <i class="fas fa-check pe-2"></i>'
                    + '<div class="pb-0 mb-0" >' + item.DateSchedule + '</div >'
                    + '</div >'
                document.getElementById(id).innerHTML = stringContent;
            }
        }
    }

    //#endregion

    //#region // Other
 
    function Main_CustomerDetectRule (GroupID, IsValid, TotalAnam, TotalStatusTeeth,Phone1) {

        if (Number(sys_AskHistory) == 1) {
            if (Number(TotalAnam) == 0) $('#ncanam_must').removeClass('d-none');
            else $('#ncanam_must').addClass('d-none');
        }
        if (Number(sys_AskCustGroup) == 1) {
            if (Number(GroupID) == 0) $('#ncgroup_must').removeClass('d-none');
            else $('#ncgroup_must').addClass('d-none');
        }
        if (Number(sys_InputTeethChart) == 1) {
            if (Number(TotalStatusTeeth) == 0) $('#ncteethchart_must').removeClass('d-none');
            else $('#ncteethchart_must').addClass('d-none');
        }

        if (Number(sys_ValidProfile) == 1) {
            if (Number(IsValid) == 0) {
                if (Phone1.length > 6) {
                    $('#ncvalid_mustvalue').html("*****" + Phone1.slice(5));
                }
                else $('#ncvalid_mustvalue').html(Phone1);
                $('#ncvalid_mustvalue').attr('data-value', Phone1);
                $('#ncvalid_must').removeClass('d-none');
            }
            else {
                $('#txtCustomerValid').removeClass('d-none');
                $('#ncvalid_must').addClass('d-none');
            }
        }
        if ($('#cust_mustarea .must:not(.d-none)').length != 0) {
            $('#cust_mustarea').removeClass('d-none');
            sys_MCBreakRule = 1;
        }
        else {
            $('#cust_mustarea').addClass('d-none');
            sys_MCBreakRule = 0;
        }
    }
    function MainCust_AcceptTeeth () {
        $('#ncteethchart_must').addClass('d-none');
        if ($('#cust_mustarea .must:not(.d-none)').length != 0) {
            $('#cust_mustarea').removeClass('d-none');
            sys_MCBreakRule = 1;
        }
        else {
            $('#cust_mustarea').addClass('d-none');
            sys_MCBreakRule = 0;
        }
    }

    function MainCust_AcceptAnam () {
        $('#ncanam_must').addClass('d-none');
        if ($('#cust_mustarea .must:not(.d-none)').length != 0) {
            $('#cust_mustarea').removeClass('d-none');
            sys_MCBreakRule = 1;
        }
        else {
            $('#cust_mustarea').addClass('d-none');
            sys_MCBreakRule = 0;
        }
    }

    function MainCust_AcceptGroup () {
        $('#ncgroup_must').addClass('d-none');
        if ($('#cust_mustarea .must:not(.d-none)').length != 0) {
            $('#cust_mustarea').removeClass('d-none');
            sys_MCBreakRule = 1;
        }
        else {
            $('#cust_mustarea').addClass('d-none');
            sys_MCBreakRule = 0;
        }
    }

    function LoadTabCustomer () {
        Render_Main_TabCustomer(sys_CustomerTab, "divCustomerTabContent");
        initNavs();
        $('#divCustomerTabContent a:first').tab('show');
        $('#divCustomerTab .tabcustomer').on('shown.bs.tab', function (e) {
            let tagTab = $(this).attr("data-tab");
            if (tagTab == '/Customer/GeneralInfo?CustomerID=')
                IsPageGeneral = 1;
            else IsPageGeneral = 0;

            //Show Hide Appointment Extra
            ShowHideAppoitmentExtra();
            //Load Page
            $("#divMainPage").empty();
            $("#divMainPage").html('');
            asyncLoadTabToMainPage(tagTab);
        })

    }
    async function asyncLoadTabToMainPage(tagTab) {
        $("#loader").show();
        await awaitLoadTabToMainPage(tagTab);
        $("#loader").hide();
        return false;
    }
    function awaitLoadTabToMainPage(tagTab) {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    $("#divMainPage").load(tagTab + ser_MainCustomerID + "&ver=" + versionofWebApplication);
                    resolve()
                }
            )
        })
    }
    function Render_Main_TabCustomer (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr = '<li class="nav-item">'
                        + '<a data-tab="' + item.UrlMoveTo + '" class="tabcustomer _tab_control_ item-menu nav-link  mb-0 px-2 py-1 text-sm " data-bs-toggle="tab" href="#" role="tab" aria-selected="false">'
                        + '<i class="fas fa-lock pe-2 text-danger d-none"></i>'
                        + Outlang[item.NameShowLangKey]
                        + '</a>'
                        + '</li>'

                    stringContent = stringContent + tr;
                }
            }
            myNode.innerHTML = stringContent;
        }
    }
    $('#divCustomerTab a[data-toggle="dropdown"]').click(function () {
        $('#divCustomerTabContent').toggleClass('active');
    });
    function OnclickHeaderFormMain() {
        $("#divMainPage").on("click", '.header_form_customer_icon', function () {
            $(this).parent(".header_form_customer").toggleClass("toggle");
            $("#divMainPage .header_form_main ,#divMainPage .header_form_main ~ .header_form_child").toggleClass("toggle");
        });
    }
    function ChangeLableByKey_Debt_By_Treat(v,ishowtreat) {
        if (v == 1) {
            $("#lbl_cost_info_treat").show();
            $("#lbl_info_paid_treat").show();
            $("#lbl_paid_treat").show();
            $("#lbl_cost_left_treat").show();
            if (Number(ishowtreat) == 2) {
                $("#lbl_cost_info_tab").show();
            }
        }
        else {
            if (Number(ishowtreat) == 1) {
                $("#lbl_cost_info_treat").show();
                $("#lbl_info_paid_treat").show();
            }
            $("#lbl_cost_info_tab").show();
            $("#lbl_paid_tab").show();
            $("#lbl_cost_left_tab").show();
        }
        $("#lbl_cost_deposit_left").show();
    }
    function LoadCustomerPaymentInfo(isasync = true) {
        AjaxLoad(url = "/Customer/MainCustomer/?handler=LoadPaymentInfo"
            , data = { 'CustomerID': ser_MainCustomerID }
            , async = isasync
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let dataPaymentInfo = JSON.parse(result)[0];
                    if (dataPaymentInfo != undefined) {
                        let PRICE_DISCOUNTED = dataPaymentInfo.PRICE_DISCOUNTED;
                        let PAID = dataPaymentInfo.PAID;
                        let PRICE_TREAT = dataPaymentInfo.PRICE_TREAT;
                        let PAID_TREAT = dataPaymentInfo.PAID_TREAT;
                        let DEPOST_LEFT = dataPaymentInfo.DEPOST_LEFT;
                        let Treat_MANUAL = dataPaymentInfo.TOTALMANUAL;



                        //////TAB//////
                        $('#cost_info_tab').html(formatNumber(PRICE_DISCOUNTED));
                        $('#paid_tab').html(formatNumber(PAID));
                        $('#cost_info_left_tab').html(formatNumber(PRICE_DISCOUNTED - PAID));
                        if (PRICE_DISCOUNTED - PAID > 0) {
                            $("#cost_info_left_tab").addClass("cost_info_left");
                        } else {
                            $("#cost_info_left_tab").removeClass("cost_info_left");

                        }
                        $('#cost_deposit_left').html(formatNumber(DEPOST_LEFT));

                        //////TREAT//////
                        if (sys_TreatManualamount == 1) {
                            PRICE_TREAT = Treat_MANUAL;
                        }

                        let INFO_PAID_TREAT = PAID_TREAT > PRICE_TREAT ? PRICE_TREAT : PAID_TREAT;
                            $('#cost_info_treat').html(formatNumber(PRICE_TREAT));
                            $('#info_paid_treat').html(formatNumber(INFO_PAID_TREAT));
                            $('#paid_treat').html(formatNumber(PAID));
                            $('#cost_info_left_treat').html(formatNumber(PRICE_TREAT - PAID > 0 ? PRICE_TREAT - PAID : 0));
                            if (PRICE_TREAT - INFO_PAID_TREAT > 0) {
                                $("#cost_info_left_treat").addClass("cost_info_left");
                                $("#cost_info_left_treat").attr('title', '@Local["Có công nợ"]');
                            } else {
                                $("#cost_info_left_treat").removeClass("cost_info_left");
                                $("#cost_info_left_treat").attr('title', '');
                            }


                    }
                }
                else {
                    notiError_SW();
                }
            }
        );
    }

    function LoadCustomerStatusPrint () {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/StatusPrint/StatusPrintList?ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }
    //#endregion

    //#region //Appointment Customer
    function AppointmentExtraLoad(app_id, app_status) {
        //if (app_id != AppIDCustomer && AppIDCustomer != 0) {
        //    app_id = AppIDCustomer;
        //}
        if (app_id == "0") {
            $('#AppointmentExtra').hide();
        }
        else {
            $('#AppointmentExtra').show();
            currentStatusAppointment = app_status;
            idCurrentAppointment = app_id;
            LoadStatusSExtra(app_id, app_status);
            $("#MCust_Noteapp").load("/Appointment/AppoinmentNote?CurrentID=" + app_id + "&ver=" + versionofWebApplication, function () {
                Appnote_SetType("tiny");
            });
           
        }
    }
    function ShowHideAppoitmentExtra() {
        let isShow = 1;
        let dataAppExtra = localstorage_get('appointmentextra');
        if (dataAppExtra != '') {
            isShow = JSON.parse(dataAppExtra).data;
        }
        if (isShow != undefined && isShow !== "") {
            if (isShow == 0) {
                $("#AppointmentExtra").addClass("collapse_show");
                $("#button_CollapseAppoinmentExtra").addClass("calendar");
            }
            else {
                $("#AppointmentExtra").removeClass("collapse_show");
                $("#button_CollapseAppoinmentExtra").removeClass("calendar");
            }
        }
        else {
            $("#AppointmentExtra").removeClass("collapse_show");
            $("#button_CollapseAppoinmentExtra").removeClass("calendar");
        }
    }
    function AppoinmentReloadExtra () {
        AppointmentExtraLoad(AppIDCustomer, AppStatusCustomer);
    }
    function AppoinmentCollapseExtra(isShow = 0) {
        if ($('#divCheckAppointmentExtra:hidden').length != 0 || ($('#AppointmentExtra:hidden').length != 0)) {
            $('#AppointmentExtra').show();
            $('#divCheckAppointmentExtra').show();
        }
        if (isShow == 0) {
            $('#AppointmentExtra').toggleClass("collapse_show");
            $("#button_CollapseAppoinmentExtra").toggleClass("calendar")
        }
        else {
            $("#AppointmentExtra").removeClass("collapse_show");
            $("#button_CollapseAppoinmentExtra").removeClass("calendar");
        }
        isShow = $("#AppointmentExtra").hasClass("collapse_show") ? 0 : 1;
        localstorage_set('appointmentextra', isShow);
    }

    //#endregion

    //#region //Load Data Appointment
    function LoadStatusSExtra(appID, status) {
        currentStatusAppointment = status;
        if (appID != "0") {
            AjaxLoad(url = "/Customer/MainCustomer/?handler=LoadStatusExtra"
                , data = { 'appID': appID }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        let dataStatus = data.Table;
                        let dataStatusNext = data.Table1;
                        if (dataStatus.length > 0) {
                            RenderStatusExtra(dataStatus, "divTimelineExtra");
                            if (dataStatus.length != 0 && Number(dataStatus[0].IndexOrder) != 0) {
                                $("#MainCust_AreaIndex").removeClass('d-none');
                                $("#MainCust_BtnIndex").html(dataStatus[0].IndexOrder);
                            }
                            else {
                                $("#MainCust_AreaIndex").addClass('d-none');
                                $("#MainCust_BtnIndex").html(0);
                            }
                            $("#AppointmentExtra").show();
                            $('#divCheckAppointmentExtra').show();
                            if(dataStatusNext && dataStatusNext.length == 1 && dataStatusNext[0].IsCheckedin == 1){
                                let itemStatus = dataStatusNext[0];
                                let nameStatus = author_get('UserLang') == 'en' ? itemStatus.LangOther : itemStatus.StatusName
                                $("#MainCust_BtnNextStatus").html(nameStatus != '' ? nameStatus : itemStatus.StatusName);
                            }
                            else{
                                $("#MainCust_BtnNextStatus").html("@Local["Chuyển trạng thái"]");
                            }
                        }
                        else {
                            $("#MainCust_BtnNextStatus").html("@Local["Chuyển trạng thái"]");
                            $("#AppointmentExtra").hide();
                        }
                        if(dataStatusNext.length != 0) {
                            $("#MainCust_BtnNextStatus").attr('data-id',dataStatusNext[0].ID);
                            $("#MainCust_BtnNextStatus").removeClass('disabled');
                        }
                        else{
                            $("#MainCust_BtnNextStatus").addClass('disabled');
                        }

                    } else {
                        notiError_SW();
                    }
                }
                ,sender = $("#MainCust_BtnNextStatus")
                ,beforeSend = function(e){
                    $("#MainCust_BtnBackStatus").addClass('disabled');
                }
                ,complete = function(e){
                    $("#MainCust_BtnBackStatus").removeClass('disabled');
                }
            );

        }
    }
    async function RenderStatusExtra(data, id) {
        new Promise((resolve) => {

            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                let receipt = '';
                let clssdis = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];

                        let docname = '', nameroom='';
                        let statusname = author_get("UserLang") == 'en' ? item.StatusLangOther : item.Status;


                        if (item.NameRoom != '') {
                            nameroom = item.NameRoom != '' ? `<span class="text-sm text-dark "><i class="fas fa-map-marker-alt text-info pe-2"></i>${item.NameRoom}</span>` : '';


                            if (i == 0 && item.IsReceipt == 1 && item.IsDone == 0) {
                                receipt = `<div class="d-flex position-absolute text-sm text-normal">
                                    <div class="waitingdiv text-center">
                                        <div class="text-success spinner-border spinner-border-sm" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <span class="me-0 ms-2 text-dark">@Local["Nhận bệnh"] : </span>
                                        <span class="fw-bold ms-1 text-primary">${item.NameRoom}</span>
                                        </div>
                                    </div>`;
                                clssdis = 'mt-3';
                            }
                        }

                        if (DataEmployee[item.Doc_ID] != undefined) {
                            docname = `<i class="fa fa-user-md text-sm text-dark ps-0 pe-2"></i><span class="text-sm text-dark">${DataEmployee[item.Doc_ID].Name}</span>`
                        }
                        let tr =
                            `<button class="prscheduler multisteps-form__progress-btn text-dark px-3 mt-5 mb-2" type="button" data-bs-toggle="tooltip" title="${item.CreatedName}">
                                <span class="text-sm text-primary time fw-bolder position-absolute top-0 start-50 translate-middle">${item.Time}</span>
                                <div>
                                    <span class="text-dark text-sm d-block mb-0">${statusname}</span>
                                     ${nameroom}
                                    <div>
                                        ${docname}
                                    </div>
                                </div>
                            </button>`;
                        stringContent = stringContent + tr;
                    }
                }
                myNode.innerHTML = `<div class="text-nowrap overflow-auto px-2 ${clssdis} text-center w-100">${stringContent}</div>${receipt}`;
                Checking_TabControl_Permission();
                ToolPopper();
            }
        })
    }
    //#endregion

    //#region //Change Appointment
    function changeBackAppointment() {
        let data = {};
        data.CurrentID = idCurrentAppointment;
        AjaxJWT(url = "/api/Customer/Appointment/ChangeStatus_Back"
            , data = JSON.stringify(data)
            , async = true
            , success = function (result) {
                if (result != "0") {
                    currentStatusAppointment = result;
                    notiSuccess();
                    if (typeof LoadStatusSmaill === 'function') LoadStatusSmaill(idCurrentAppointment);
                    if (typeof LoadScheduleAjax === 'function') LoadScheduleAjax(0);
                    LoadStatusSExtra(idCurrentAppointment, currentStatusAppointment);
                    //LoadAppointmentLog();
                   
                    //if (currentStatusAppointment == result) {

                    //}
                    //else {
                        
                    //}
                }
                else {
                    notiWarning("@Local["Đã nhận khách, không thể đổi trạng thái"]");
                }

            }
            , before = function (e) {
                $("#MainCust_BtnBackStatus").addClass('disabled');
            }
        );
    }
    function changeNextExtraAppointmentExcute(statusid = 2){
        let AppDetail = {};
        AppDetail.StatusID = statusid;
        AppDetail.Content = '';
        AppDetail.ForectTime = 0;
        AppDetail.RoomID = 0;
        AppDetail.DoctorID = 0;
        AppDetail.AssistID = 0;
        AppDetail.IsCheckout = 0;

        let data = {};
        data.CurrentID = idCurrentAppointment;
        data.AppToken = ser_MainAppToken;
        data.AppPlatform = ser_MainAppPlatform;
        data.AppUser = ser_MainApp_User;
        data.AppDetail = AppDetail;
        AjaxJWT(url = "/api/Customer/Appointment/ChangeStatus_Next"
            , data = JSON.stringify(data)
            , async = true
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let Current_Status = 0;
                    let Current_ScheduleNext = 0;
                    if (data.length > 0) {
                        Current_Status = Number(data[0].Result);
                        Current_ScheduleNext = Number(data[0].ScheduleNext);
                        if (data[0].UserOfDoctor != 0)
                            fcm_senduser(Number(data[0].UserOfDoctor), Master_circleAvatar, sys_employeeName_Main, 'Arrive ' + data[0].CustName);
                    }
                    notiSuccess();
                    if (typeof LoadScheduleAjax === 'function') LoadScheduleAjax(0);
                    if (Current_Status != 0) {
                        if (typeof currentStatusAppointment !== 'undefined') {
                            currentStatusAppointment = Current_Status;
                        }
                        if (typeof LoadStatusSExtra === 'function') LoadStatusSExtra(idCurrentAppointment, Current_Status);
                        if (typeof LoadAppointmentLog === 'function') LoadAppointmentLog();
                        if (typeof LoadStatusSmaill === 'function') LoadStatusSmaill(idCurrentAppointment);
                        else {
                            CloseModal();
                        }
                    }
                }
                else notiError_SW();

            }
            , before = function (e) {
                $("#MainCust_BtnNextStatus").addClass('disabled');
            }
        );
    }
    function changeNextExtraAppointment() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/ChangeStatus?CurrentID=" + idCurrentAppointment + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function OpenDetailCustomerInfo() {
        $('#main_customer_div_info').hide();
        $('#main_customer_div_detail').show();
    }

    function CloseDetailCustomerInfo() {
        $('#main_customer_div_info').show();
        $('#main_customer_div_detail').hide();
        $('#main_customer_div_detail').empty();
    }

    //#endregion

    //#region //Load todo note customer
    function Customer_Todo_Load() {
        AjaxLoad(url = "/Marketing/Ticket/TicketActionTable/?handler=Loadata_Todo"
            , data = { 'TicketID': ser_TicketID }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data.length > 0) {
                        let item = data[0];
                        $("#cust_status_todo").html(item.StatusName);
                        //$("#cust_status_todo").prop('title', item.Content);
                        $("#cust_status_todo").html(item.StatusName);
                        $("#cust_status_todo").popup({
                            transition: "scale up",
                            position: "bottom left",
                        });
                        $("#cust_color_todo").show();
                        $("#cust_color_todo").css('background-color', item.Color);

                        $("#customer_todo_note").attr('data-id', item.ID);
                        $("#customer_todo_note").attr('data-assign', item.IsAssign);
                        $("#customer_todo_note").attr('data-isclose', item.IsClose);



                    } else {
                        $("#customer_todo_note").removeAttr("data-id");
                        $("#customer_todo_note").removeAttr("data-assign");
                        $("#customer_todo_note").removeAttr("data-isclose");

                        $("#cust_status_todo").html("Click Todo Note");
                        //$("#cust_status_todo").removeAttr("title");
                        $("#cust_color_todo").hide();
                    }
                    $("#customer_todo_note").show();
                }
            }
        );
    }

    function Customer_Todo_Event_Click() {
        $("#customer_todo_note").click(function () {
            let Todo_CurrentID = $(this).attr("data-id") ? $(this).attr("data-id") : 0;
            let TicketID = ser_TicketID;
            let CustID = ser_MainCustomerID;
            if (Todo_CurrentID != 0) {
                let IsAssign = Number($(this).attr("data-assign"));
                let IsClose = Number($(this).attr("data-isclose"));
                if (IsClose == 0) {
                    Master_Todo_Open_Popup_ChangeStatus(this, Todo_CurrentID, CustID, TicketID);
                }
            } else {
                Master_Todo_Open_Popup_Detail(this, 0, CustID, TicketID);
            }
        });
    }

    //#endregion

    //#region // Valid user
    function Maincust_ValidProfile () {
        let _phone = $('#ncvalid_mustvalue').attr('data-value');
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/Valid/ValidPhone" + "?phone=" + _phone + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');



    }
    //#endregion


</script>

<style>

    .prscheduler.multisteps-form__progress-btn:before {
        width: 20px;
        height: 20px;
        top: -4px;
        background-image: linear-gradient(310deg, rgb(var(--bs-primary-from)) 0%, rgb(var(--bs-primary-to)) 100%);
        border: 3px solid white;
    }
 
    .prscheduler .time {
        top: -18px !important;
    }
    .prscheduler.isdone .isdone {
        display: block !important;
        top: -16px !important;
    }

    .prscheduler.isreceipt .isreceipt {
        display: block !important;
        top: -16px !important;
    }

    .prscheduler.multisteps-form__progress-btn:after {
        color: #bababc;
    }

    #avatarCustomer {
        width: 64px;
        height: 64px;
    }

    #MainCustomer_Header_Info .disabled {
        pointer-events: none !important;
        opacity: 0.65;
    }

    #divCustomerTab {
        min-height: 50px;
        width: 100%;
        position: relative;
    }

</style>
<script>css_require('/assests/dist/Timeline/time.css');</script>
<script>css_require('/css/main_customer.css');</script>
<script>js_require('/js/comon/load_customer.js');</script>
<script>js_require('/js/customjs/custom-progress.js');</script>
<script>js_require('/assests/dist/UploadJS/js/vendor/jquery.ui.widget.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.iframe-transport.js');</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require('/assests/dist/ColorPicker/spectrum.js');</script>
<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />
<script>css_require('/assets/css/soft-ui-dashboard.css')</script>

