@page
@model MLunarCoffee.Pages.Customer.PaymentListModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/assests/dist/ColorPicker/spectrum.js');</script>
<link href="/assests/dist/ColorPicker/spectrum.css" rel="stylesheet" />

<div class="container-fluid px-0">
    <div class="row mt-3">
        <div class=" col-12">
            <div class="card">
                <div class="pt-4">
                    <ul class="nav nav-pills nav-horizontal bg-transparent tabpayment mx-2 px-2" role="tablist">
                        <li id="tabPaymentService" class="nav-item _tab_control_" data-tab="payment_tab" role="presentation">
                            <a class="nav-link cursor-pointer d-flex align-items-center" data-tab="treatment" data-bs-toggle="pill" data-bs-target="#mtreat_treatment" role="tab">
                                <i class="text-gradient text-primary text-sm pe-2 vtt-icon vttech-icon-serv"></i>
                                <span class="nav-item-text">@Local["Dịch vụ/sản phẩm"]</span>
                            </a>
                        </li>
                        <li id="tabPaymentCard" class="nav-item _tab_control_" data-tab="payment_card" role="presentation">
                            <a class="nav-link cursor-pointer d-flex align-items-center" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                                <i class="text-gradient text-primary text-sm pe-2 vtt-icon vttech-icon-Prepaid-cards"></i>
                                <span class="nav-item-text">@Local["Thẻ trả trước"]</span>
                            </a>
                        </li>
                        <li id="tabPaymentMedicine" class="nav-item _tab_control_" data-tab="payment_medicine" role="presentation">
                            <a class="nav-link cursor-pointer d-flex align-items-center" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                                <i class="text-gradient text-primary text-sm pe-2 vtt-icon vttech-icon-medicine_grid"></i>
                                <span class="nav-item-text">@Local["Đơn thuốc"]</span>
                            </a>
                        </li>
                        <li id="tabPaymentbroker" class="nav-item _tab_control_" data-tab="payment_broker" role="presentation">
                            <a class="nav-link cursor-pointer d-flex align-items-center" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                                <i class="text-gradient text-primary text-sm pe-2 vtt-icon vttech-icon-brocker"></i>
                                <span class="nav-item-text">@Local["HH giới thiệu"]</span>
                            </a>
                        </li>
                        <li id="tabPaymentCommission" class="nav-item _tab_control_" data-tab="payment_commission" role="presentation">
                            <a class="nav-link cursor-pointer d-flex align-items-center" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                                <i class="text-gradient text-primary text-sm pe-2 vtt-icon vttech-icon-comission"></i>
                                <span class="nav-item-text">@Local["HH nhân viên"]</span>
                            </a>
                        </li>
                        <li id="tabPaymentCommissionCard" class="nav-item payment_commission_card" data-tab="payment_installment" role="presentation">
                            <a class="nav-link cursor-pointer d-flex align-items-center" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                                <i class="text-gradient text-primary text-sm pe-2 vtt-icon vttech-icon-comission"></i>
                                <span class="nav-item-text">@Local["HH thẻ trả trước"]</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="payment_list_content_div">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var ser_PaymentType = '@Model._PaymentType';
    $(document).ready(function () {

        $("#tabPaymentService").click(function () {
            PaymentList_Load_Service();
        });
        $("#tabPaymentCard").click(function () {
            PaymentList_Load_Card();
        });
        $("#tabPaymentMedicine").click(function () {
            PaymentList_Load_Medicine();
        });
        $("#tabPaymentdeposit").click(function () {
            PaymentList_Load_Deposit();
        });

        $("#tabPaymentbroker").click(function () {
            PaymentList_Load_Broker();
        });
        $("#tabPaymentCommission").click(function () {
            PaymentList_Load_Commission();
        });
        $("#tabPaymentCommissionCard").click(function () {
            PaymentList_Load_CommissionCard();
        });

        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl ,'@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
        $('.tabpayment a:first').addClass('active');
        $('.tabpayment a:first').trigger('click');

    });

    function PaymentList_Load_Service() {
        $('#payment_list_content_div').html('');
        $("#payment_list_content_div").empty();
        $("#payment_list_content_div").load("/Customer/Payment/PaymentList/PaymentList_Service" + "?ver=" + versionofWebApplication + "&CustomerID=" + ser_MainCustomerID);
    }
    function PaymentList_Load_Card() {
        $('#payment_list_content_div').html('');
        $("#payment_list_content_div").empty();
        $("#payment_list_content_div").load("/Customer/Payment/PaymentList/PaymentList_Card" + "?ver=" + versionofWebApplication);
    }
    function PaymentList_Load_Medicine() {
        $('#payment_list_content_div').html('');
        $("#payment_list_content_div").empty();
        $("#payment_list_content_div").load("/Customer/Payment/PaymentList/PaymentList_Medicine" + "?ver=" + versionofWebApplication);
    }
    function PaymentList_Load_Deposit() {
        $('#payment_list_content_div').html('');
        $("#payment_list_content_div").empty();
        $("#payment_list_content_div").load("/Customer/Payment/PaymentList/PaymentList_Deposit" + "?ver=" + versionofWebApplication);
    }

    function PaymentList_Load_Broker() {
        $('#payment_list_content_div').html('');
        $("#payment_list_content_div").empty();
        $("#payment_list_content_div").load("/Customer/Payment/PaymentList/PaymentList_Broker" + "?ver=" + versionofWebApplication);
    }
    function PaymentList_Load_Commission() {
        $('#payment_list_content_div').html('');
        $("#payment_list_content_div").empty();
        $("#payment_list_content_div").load("/Customer/Payment/PaymentList/PaymentList_Commission" + "?ver=" + versionofWebApplication);
    }
    function PaymentList_Load_CommissionCard() {
        $('#payment_list_content_div').html('');
        $("#payment_list_content_div").empty();
        $("#payment_list_content_div").load("/Customer/Payment/PaymentList/PaymentList_CommissionCard" + "?ver=" + versionofWebApplication);
    }
</script>
<script>js_require('/js/main.js');</script>

