@page
@model MLunarCoffee.Pages.Customer.RelationshipDetailModel
@{
    Layout = null;
}
<div class="container-fluid py-3 px-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Mối quan hệ"]</h6>
                                <p class="text-sm mb-0">@Local["Thêm mối quan hệ khách hàng"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1">
                            <span id="RR_CustomerName" class="badge badge-pill badge-lg bg-gradient-success"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="row p-2">
                        <div class="col-12 col-lg-7 p-1 flex-grow-1">
                            <div class="row px-2 position-relative">
                                <div id="RR_ResultWait" class="text-center position-absolute top-0 d-none start-50 translate-middle-x">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div class="col-12 p-1">
                                    <label>@Local["Tìm kiếm theo tên , số điện thoại hoặc mã số"]</label>
                                    <div class="d-flex ">
                                        <input id="RR_textsearch" name="name" class="form-control" type="text" placeholder="eg .@Local["Tìm kiếm theo tên , số điện thoại hoặc mã số"]" autocomplete="off" />
                                        <a class="btn btn-primary m-auto ms-2" onclick="event.preventDefault();return RR_Searching();">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="RR_ResultArea" class="mt-2 d-none" style="overflow-y: scroll; overflow-x: hidden; max-height: 300px;">
                                <table class="table align-items-center mb-0">
                                    <tbody id="RR_ResultSearching">
                                    </tbody>
                                </table>
                            </div>
                            <div id="RR_ResultSelected" class="row d-none align-items-center ms-n1">
                                <div class="field col-12 col-md-12 col-lg-6 flex-grow-1 px-1">
                                    <div class="list-group-item ps-0 border-0 align-items-center pb-2 cursor-pointer d-flex rounded-3 text-dark text-sm">
                                        <img id="RRR_Avatar" class="border avatar avatar-sm" onerror="Master_OnLoad_Error_Image(this)" src="/default.png">
                                        <div class="ps-2">
                                            <div class="d-inline">
                                                <a id="RRR_Link" class="text-dark " href="#" target="_blank"></a>
                                                <span id="RRR_Name" class="text-dark  fw-bold ps-1"></span>
                                            </div>
                                            <div class="d-inline">
                                                <div id="RRR_Address" class="text-dark fst-italic"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="RR_RelatypeArea" class="d-none field col-12 col-md-6 col-lg-3 flex-grow-1 px-1">
                                    <div class="ui fluid search selection dropdown form-control" id="RR_Relatype">
                                        <input type="hidden" name="historyType" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Mối quan hệ"]</div>
                                        <div id="ccbRR_Relatype" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-md-6 col-lg-3 flex-grow-1 px-1">
                                    <button type="button" class="btn bg-gradient-primary mb-0 " onclick="RR_Update();">@Local["Cập nhật"]</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 p-1 flex-grow-1">
                            <label class="ms-3">@Local["Quan hệ"]</label>
                            <ul id="RR_ResultCurrent" class="list-group overflow-auto mt-0">
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">

                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="" onclick="CloseModal()">@Local["Đóng"]</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/comon/initialize_setting.js"></script>
<script>
    let ser_CustomerID = ('@Model._CustomerID');
    let ser_rela1vs1 = ('@Model._rela1vs1');
    let RR_CustSelect = 0;
    $(document).ready(function () {
        if (Number(ser_rela1vs1) == 1) $('#RR_RelatypeArea').removeClass('d-none');
        RR_Current_Load();
        RR_Current_Ini();
        $('#RR_ResultSearching').on('click', '.cust_info', function () {
            RR_CustSelect = $(this).attr('data-id');
            RR_SearchGet(RR_CustSelect);
        });
        $("#RR_textsearch").keyup(function (e) {
            e.preventDefault();
            if (e.keyCode === 13) {
                RR_Searching();
            }
            return false;
        });
    });

    //#region // Current
    function RR_Current_Ini () {
        AjaxLoad(url = "/Customer/RelationshipDetail/?handler=LoadIni"
            , data = {}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "") {
                    let datas = JSON.parse(result);
                    Load_Combo(datas.Rela, "ccbRR_Relatype", false);

                }
            }
        );
    }
    function RR_Current_Load () {
        AjaxLoad(url = "/Customer/RelationshipDetail/?handler=Loadata"
            , data = {'custID': ser_CustomerID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
                    let datas = JSON.parse(result);
                    RR_Current_Render(datas.Table, datas.Table1, 'RR_ResultCurrent');
                } else {
                    notiError_SW();
                }
            }
        );
    }
    async function RR_Current_Render (data,dataship, id) {
        new Promise((resolve) => {
            let myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let contentstring = '';
                for (let j = 0; j < data.length; j++) {
                    let item = data[j];
                    let custid = 0, custname = '', custimg = '', custcode = '', address = '';
                    if (item.CustID != ser_CustomerID) {
                        custid = item.CustID;
                        custname = item.CustName;
                        custimg = item.Image;
                        custcode = item.CustCode;
                        address = item.Address;
                    }
                    else if (item.CustID1 != ser_CustomerID) {
                        custid = item.CustID1;
                        custname = item.CustName1;
                        custimg = item.Image1;
                        custcode = item.CustCode1;
                        address = item.Address1;
                    }
                    if (custid != 0) {
                        let tr =
                            `<li class="list-group-item border-0 align-items-center pb-2 position-relative cursor-pointer d-flex rounded-3 text-dark text-sm">
                             <img class="border avatar avatar-sm" onerror="Master_OnLoad_Error_Image(this)" src="${custimg != "" ? custimg : "/default.png"}">
                                <div class="ps-2">
                                    <div class="d-inline">
                                        <span class="fw-bold pe-1">${item.RelaName}</span>
                                        <a href="/Customer/MainCustomer?CustomerID=${custid}" target="_blank">${custcode}</a>
                                        <span class="ps-1">${custname}</span>
                                    </div>
                                    <div class="d-inline">
                                        <div class="fst-italic">${address != "" ? address : "-"}</div>
                                     </div>
                                </div>
                                <a class="text-danger opacity-1  position-absolute top-0 end-0 cursor-pointer rredit" data-id="${item.ID}" data-cusid="${custid}">
                                   <i class="fas fs-6 me-2 mt-2 fa-times"></i>
                                </a>
                            <hr class="horizontal dark my-0 mt-2">
                        </li>`
                        contentstring = contentstring + tr;
                    }
                }
                for (j = 0; j < dataship.length; j++) {
                    let item = dataship[j];
                    let tr =
                        `<li id="rrg_${item.CustID}" data-cusid="${item.CustID}" data-tokenid="${item.TokenID}" class="rrgroup list-group-item border-0 align-items-center pb-2 position-relative cursor-pointer d-flex rounded-3 text-dark text-sm">
                             <img class="border avatar avatar-sm" onerror="Master_OnLoad_Error_Image(this)" src="${item.Image != "" ? item.Image : "/default.png"}">
                                <div class="ps-2">
                                    <div class="d-inline">
                                         <i class="fas fa-users text-dark pe-2"></i>
                                        <a href="/Customer/MainCustomer?CustomerID=${item.CustID}" target="_blank">${item.CustCode}</a>
                                        <span class="ps-1">${item.CustName}</span>
                                    </div>
                                    <div class="d-inline">
                                        <div class="fst-italic">${item.Address != "" ? item.Address : "-"}</div>
                                     </div>
                                </div>
                                <a class="text-danger opacity-1  position-absolute top-0 end-0 cursor-pointer rredit" data-id="0" data-cusid="${item.CustID}"  data-id="0" >
                                   <i class="fas fs-6 me-2 mt-2 fa-times"></i>
                                </a>
                            <hr class="horizontal dark my-0 mt-2">
                        </li>`
                    contentstring = contentstring + tr;
                }
                document.getElementById(id).innerHTML = contentstring;
            }
            RR_Current_Event();
            resolve();
        })
    }
    function RR_Current_Event () {
        $('#RR_ResultCurrent .rredit').unbind('click').click(function () {
            let _id = $(this).attr('data-id');
            let _cusid = $(this).attr('data-cusid');
            const promise = notiConfirm();
            if (_id != 0) {
                promise.then(function () {RR_Delete1v1(_id,custid=0);}, function () { });
            }
            else promise.then(function () {RR_Delete1v1(0,_cusid);}, function () { });

        })


    }
    //#endregion
    //#region // Search
    function RR_SearchGet (CustomerID) {
        AjaxLoad(url = "/Customer/RelationshipDetail/?handler=LoadataRelationship"
            , data = {"CustomerID": CustomerID}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    if (data != undefined && data.length == 1) {
                        let item = data[0];
                        $('#RRR_Link').html(item.CustCode);
                        $('#RRR_Name').html(item.CustName);
                        $('#RRR_Address').html(item.Address);
                        $('#RRR_Avatar').attr('src', item.Image);
                        $("#RR_ResultSelected").removeClass('d-none');
                        $("#RR_ResultArea").addClass('d-none');

                    }
                }
            }, sender = null
            , before = function (e) {
                $("#RR_ResultWait").removeClass('d-none');
                $("#RR_ResultSelected").addClass('d-none');
            }
            , complete = function (e) {
                $("#RR_ResultWait").addClass('d-none');

            }
        );
    }
    function RR_Searching () {
        var RR_textsearch = $('#RR_textsearch').val() ? $('#RR_textsearch').val() : "";
        RR_textsearch = RR_textsearch.toLowerCase().trim();
        RR_textsearch = xoa_dau(RR_textsearch).replace(/[^a-zA-Z0-9 ]/g, '');

        if (RR_textsearch.length > 3) {
            AjaxLoad(url = "/Customer/RelationshipDetail/?handler=SearchCustomer"
                , data = {'custID': ser_CustomerID, 'keyword': RR_textsearch}
                , async = true
                , error = function () {notiError_SW()}
                , success = function (result) {
                    let data = JSON.parse(result);
                    if (data.length != 0) {
                        RR_SearchingRender(data, "RR_ResultSearching");
                    }
                }
                , sender = null
                , before = function (e) {
                    $('RR_ResultSearching').html('');
                    $("#RR_ResultWait").removeClass('d-none');
                    $("#RR_ResultArea").removeClass('d-none');
                }
                , complete = function (e) {
                    $("#RR_ResultWait").addClass('d-none');
                }
            );
        }

    }
    function RR_SearchingRender (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        `<tr>
                            <td>
                                <div class="d-flex align-items-center px-2 py-0">
                                    <div>
                                        <div class="form-check pt-1">
                                            <input name="cust_info" class="form-check-input mt-0 cust_info" type="radio" data-id="${item.ID}" >
                                        </div>
                                    </div>
                                    <div>
                                        <img class="border avatar avatar-sm" onerror="Master_OnLoad_Error_Image(this)" src="${item.Image}" />
                                    </div>
                                    <div class="d-flex ps-2">
                                        <div classs="text-dark ">
                                            <h6 class="mb-0 text-sm">${item.Name}</h6>
                                            <div>
                                                <a class="text-sm" href="/Customer/MainCustomer?CustomerID=${item.ID}" target="_blank">${item.Cust_Code}</a>
                                                 <span class="mb-0 text-dark  text-sm">${item.Phone}</span>
                                             </div>
                                             <div class="text-dark  mb-0 text-sm">${item.Address}</div>
                                        </div>

                                    </div>
                                </div>
                            </td>

                        </tr>`;


                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
        }
    }

    //#endregion
    //#region // Event
    function RR_Update () {
        let ralid = Number($('#RR_Relatype').dropdown('get value')) ? Number($('#RR_Relatype').dropdown('get value')) : 0;
        AjaxLoad(url = "/Customer/RelationshipDetail/?handler=ExcuteData"
            , data = {'custID': ser_CustomerID, 'custselected': RR_CustSelect, 'ralid': ralid, 'rela1': ser_rela1vs1}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
                    notiSuccess();
                    RR_Current_Load();
                    if (typeof GeneralInfo_RelationLoad !== 'undefined') {
                        GeneralInfo_RelationLoad();
                    }
                }
                else {
                    notiWarning('@Local["Khách này đã có tồn tại mối quan hệ"]');
                }
            }
            , sender = null
            , before = function (e) {
                RR_ExecuteBegin();
            }
            , complete = function (e) {
                RR_ExecuteEnd();

            }
        );
    }
    function RR_Delete1v1 (currentid, custid) {
        AjaxLoad(url = "/Customer/RelationshipDetail/?handler=DeleteData"
            , data = {'currentid': currentid, 'custid': custid}
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                let data = JSON.parse(result);
                if (data.length != 0) {
                    notiSuccess();
                    RR_Current_Load();
                    if (typeof GeneralInfo_RelationLoad !== 'undefined') {GeneralInfo_RelationLoad();}
                }
            }
            , sender = null
            , before = function (e) {
                RR_ExecuteBegin();
            }
            , complete = function (e) {
                RR_ExecuteEnd();
            }
        );
    }
    //#endregion

    //#region // Showhide
    function RR_ExecuteBegin () {
        $("#RR_ResultWait").removeClass('d-none');
    }
    function RR_ExecuteEnd () {
        $("#RR_ResultWait").addClass('d-none');
        RR_CustSelect = 0;
        $("#RR_Relatype").dropdown("refresh");
        $("#RR_Relatype").dropdown("clear");
        $("#RR_ResultSelected").addClass('d-none');
        $("#RR_ResultArea").addClass('d-none');
    }
    //#endregion
</script>
<script>js_require('/js/main.js');</script>
<style>
    #RR_ResultCurrent .list-group-item:hover .rredit{
        opacity:1 !important;
    }
</style>