@page
@model MLunarCoffee.Pages.Customer.ScheduleListModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid  px-0">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <ul class="nav nav-pills p-1 bg-transparent permissionlist" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer  " data-bs-toggle="collapse" href="#Schedule_infodes">
                                    <i class="text-gradient  text-lg text-primary fas fa-info-circle"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="ms-auto my-auto mt-1">
                            <button class="btn bg-gradient-primary btn-sm mt-1" onclick="addNewSchedule(ser_SchedulerCustomerID)">
                                @Local["Thêm mới"]
                            </button>
                            <div id="per_btnReExamination" class="btn-group mt-1">
                                <a class="btn btn-dark btn-sm px-3">@Local["Lịch tái khám"]</a>
                                <a class="btn btn-dark border-start border-light btn-sm px-3" title="@Local["Tạo lịch tái khám"]" onclick="Appretreat_Add()">
                                    <i class="text-xs ni text-white fa fa-plus"></i>
                                </a>
                                <a class="btn btn-dark border-start border-light btn-sm px-3" title="@Local["Xem lịch tái khám"]" onclick="Appretreat_Loadall()">
                                    <i class="text-xs text-white  fas fa-binoculars"></i>
                                </a>
                            </div>
                            <div id="per_btnReweek" class="btn-group mt-1">
                                <a class="btn btn-dark btn-sm px-3">@Local["Lịch tuần"]</a>
                                <a class="btn btn-dark border-start border-light btn-sm px-3" onclick="Appweek_Add()">
                                    <i class="text-xs ni text-white fa fa-plus"></i>
                                </a>
                                <a class="btn btn-dark border-start border-light btn-sm px-3" title="@Local["Cập nhật"]" onclick="Appweek_Update()">
                                    <i class="text-xs text-white  fas fa-binoculars"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="Schedule_infodes" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark ms-1 mb-4 mt-2 multi-collapse collapse">
                         <h6 class="mb-0">@Local["Quy định chỉnh sửa"]</h6>
                        <p class="text-sm mb-0">@Local["Lịch hẹn đã đổi trạng thái không thể chỉnh sửa hoặc xóa"]</p>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="m-0">
                        <div id="div_customer_waiting" class="waitingdiv text-center" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div id="divScheduleListMain">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ser_SchedulerCustomerID = ('@Model._SchedulerCustomerID');
    $(document).ready(function () {
        $('#divScheduleListMain').html('');
        $("#divScheduleListMain").empty();
        $("#divScheduleListMain").load("/Customer/ScheduleList_Schedule?CustomerID=" + ser_SchedulerCustomerID + "&ver=" + versionofWebApplication);
        CheckPermissionControlInPage(sys_PerControlMH,'@Model._dtPermissionCurrentPage');

    })
    function HideOrShowColumFunction() {
        var x = document.getElementById("divColumnMore");
        if (x.style.display === "none") {
            x.style.display = "-webkit-box";
        } else {
            x.style.display = "none";
        }
    }
    //#region // Re-Treatment
    function Appretreat_Add() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/AppointmentReTreat?CustomerID=" + ser_SchedulerCustomerID);
        $('#DetailModal').modal('show');
    }
  

    function Appretreat_Loadall() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/AppointmentReTreatUpdate" + "?CustomerID=" + ser_SchedulerCustomerID + "&DateFrom=" + '' + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
    }
    //#endregion
    //#region // week app
    function Appweek_Add () {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/AppointmentWeek?Update=0&CustomerID=" + ser_SchedulerCustomerID);
        $('#DetailModal').modal('show');
    }
    function Appweek_Update () {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Appointment/AppointmentWeek?Update=1&CustomerID=" + ser_SchedulerCustomerID);
        $('#DetailModal').modal('show');
    }
    
    //#endregion


    
</script>

