@page
@model MLunarCoffee.Pages.Customer.StatusDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid py-3 px-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Tư vấn khách hàng"]</h6>
                                <p dclass="text-sm mb-0">@Local["Chi tiết tư vấn khách hàng"]</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body pt-2 form3" id="form3">
                    <div class="row px-1">
                        <div class="field col-12 col-md-6 col-xl-5 p-4">
                            <div class="field col-12">
                                <label>@Local["Phác đồ chỉ định"] </label>
                                <div class="ui fluid search selection dropdown multiple form-control" id="SpecifiedService_ID">
                                    <input type="hidden" name="appointment" />
                                    <i class="dropdown icon"></i>
                                    <input id="searchSpecifiedService" class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg .@Local["Phác đồ chỉ định"]</div>
                                    <div id="ccbSpecifiedService" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12">
                                <label >@Local["Số lần điều trị dự kiến"]</label>
                                <input id="NumberSessions" class="form-control" name="numberService" type="text" placeholder="eg .@Local["Số lần điều trị dự kiến"]" />
                            </div>
                            <div class="field col-12">
                                <label >@Local["Sản phẩm hỗ trợ"]</label>
                                <div class="ui fluid search selection dropdown multiple form-control" id="ProductSupportToken">
                                    <input type="hidden" name="ProductSupport" />
                                    <i class="dropdown icon"></i>
                                    <input id="searchProductSupport" class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg .@Local["Sản phẩm hỗ trợ"]</div>
                                    <div id="cbbProductSupport" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12">
                                <label>@Local["Dịch vụ hỗ trợ"]</label>
                                <div class="ui fluid search selection dropdown multiple form-control" id="ServiceSupportToken">
                                    <input type="hidden" name="ProductSupport" />
                                    <i class="dropdown icon"></i>
                                    <input id="searchServiceSupport" class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg .@Local["Dịch vụ hỗ trợ"]</div>
                                    <div id="cbbServiceSupport" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12">
                                <label>@Local["Sản phẩm, dịch vụ có thể phát sinh"]</label>
                                <div class="ui fluid search selection dropdown multiple form-control" id="ServiceIncurredToken">
                                    <input type="hidden" name="ServiceIncurred" />
                                    <i class="dropdown icon"></i>
                                    <input id="searchServiceIncurredToken" class="search" autocomplete="off" tabindex="0" />
                                    <div class="default text">eg .@Local["Sản phẩm, dịch vụ có thể phát sinh"]</div>
                                    <div id="cbbServiceIncurred" class="menu" tabindex="-1">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card field col-12 col-md-6 col-xl-7 ms-auto p-4">
                            <div class="row px-1">
                                <div class="field col-12 col-md-6 col-xl-4">
                                    <label>@Local["Nguời tư vấn"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Consultants_ID">
                                        <input type="hidden" name="branch" id="branch" />
                                        <i class="dropdown icon"></i>
                                        <i class="remove icon"></i>
                                        <input id="searchConsultants" class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Nguời tư vấn"]</div>
                                        <div id="ccbConsultants" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-md-6 col-xl-4">
                                    <label>@Local["Người chịu trách nhiệm"]</label>
                                    <div class="ui fluid search selection dropdown  form-control" id="Responsible_ID">
                                        <input id="Responsible1" name="username" type="hidden" />
                                        <i class="dropdown icon"></i>
                                        <i class="remove icon"></i>
                                        <input id="searchResponsible" class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Người chịu trách nhiệm"]</div>
                                        <div id="ccbResponsible" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-xl-4">
                                    <label>@Local["Người hỗ trợ"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="Tech_ID">
                                        <input id="Tech" type="hidden" />
                                        <i class="dropdown icon"></i>
                                        <i class="remove icon"></i>
                                        <input id="searchTech" class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Người hỗ trợ"]</div>
                                        <div id="ccbTech" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-1">

                                <div class="field col-12">
                                    <label>@Local["Tình trạng ban đầu"]</label>
                                    <textarea id="originalCondition" class="form-control" placeholder="eg .@Local["Tình trạng ban đầu"]"></textarea>

                                </div>
                               
                            </div>
                            <div class="row px-1">
                                <div class="field col-12">
                                    <label>@Local["Hiệu quả mang lại"]</label>
                                    <textarea id="Effective" class="form-control" placeholder="eg .@Local["Hiệu quả mang lại"]"></textarea>
                                </div>
                            </div>
                            <div class="row px-1">

                                <div class="field col-12 col-md-6 col-xl-6">
                                    <label> @Local["Trạng thái hiện tại"] </label>
                                    <div class="ui fluid search selection dropdown form-control" id="StatusCall" onchange="OnChangeStatusTypeDetail()">
                                        <input type="hidden" name="statusType" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Trạng thái hiện tại"]</div>
                                        <div id="ccbStatusCall" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 col-md-6 col-xl-6">
                                    <label>@Local["Trạng thái chi tiết"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="StatusCallDetail">
                                        <input type="hidden" name="statusType" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text">eg .@Local["Trạng thái chi tiết"]</div>
                                        <div id="cbbStatusCallDetail" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
          
                <div class="card-footer fixed-botombutton">
                    <div class="action_Save">

                        <div class="action_Save-Content">
                            <button class="btn btn-secondary" form="form3" onclick="CSL_CloseDetail()">@Local["Đóng"]</button>
                            <button id="button_status_detail_save" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ExcuteData()">@Local["Lưu"]</button>
                        </div>
                    </div>
                </div>
 
            </div>

        </div>
    </div>

</div>
<script>

    var ser_StatusDetailCustomerID = '@Model._StatusDetailCustomerID';
    var ser_StatusDetailCurrentID = '@Model._StatusDetailCurrentID';

    var DataComboTypeStatus;




    function ExcuteData() {
        var data = new Object();
        data.SpecifiedService = ($('#SpecifiedService_ID').dropdown('get value') ? $('#SpecifiedService_ID').dropdown('get value') : '') + ',';
        data.OriginalCondition = $('#originalCondition').val() ? $('#originalCondition').val() : "";
        data.NumberSessions = $('#NumberSessions').val() ? $('#NumberSessions').val() : 0;

        data.ProductSupport = $('#ProductSupportToken').dropdown('get value');
        data.ServiceSupport = $('#ServiceSupportToken').dropdown('get value');
        data.ServiceIncurred = $('#ServiceIncurredToken').dropdown('get value');

        data.Effective = $('#Effective').val() ? $('#Effective').val() : "";
        data.Consultants = Number($('#Consultants_ID').dropdown('get value')) ? Number($('#Consultants_ID').dropdown('get value')) : 0;
        data.Responsible = Number($('#Responsible_ID').dropdown('get value')) ? Number($('#Responsible_ID').dropdown('get value')) : 0;
        data.Tech_ID = Number($('#Tech_ID').dropdown('get value')) ? Number($('#Tech_ID').dropdown('get value')) : 0;
        data.TypeStatus_ID = Number($('#StatusCallDetail').dropdown('get value')) ? Number($('#StatusCallDetail').dropdown('get value')) : 0;
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Customer/StatusDetail/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(data)
                    , 'CustomerID': ser_StatusDetailCustomerID
                    , 'CurrentID': ser_StatusDetailCurrentID }
                , async = true
                , error = function () { notiError_SW() }
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        syslog_cutcon(ser_StatusDetailCurrentID == 0 ? 'i' : 'u', ser_StatusDetailCustomerID, '');
                        if (typeof CSL_Load === "function") CSL_Load(ser_CurrentID, 0);
                        if (typeof CSL_CloseDetail === "function") CSL_CloseDetail();
                    } else {
                        notiError_SW();
                    }
                }
                , sender = $("#button_status_detail_save")
            );



        }
        return false;
    }

    $(document).ready(function () {

        $('.ui.dropdown .remove.icon').on('click', function (e) {
            $(this).parent('.dropdown').dropdown('clear');
            e.stopPropagation();
        });
        InitializeCustomerStatus();
    });

    function OnChangeStatusTypeDetail() {
        let numberMasterStatus = Number($('#StatusCall').dropdown('get value'));
        let data = DataComboTypeStatus.filter(word => word["ParentID"] == numberMasterStatus);
        if (data != undefined && data != null && data.length != 0) {
            Load_Combo(data, "cbbStatusCallDetail", true);
            $("#StatusCallDetail").dropdown("refresh");
            $("#StatusCallDetail").dropdown("set selected", data[0].ID);
        }
    }

    function Status_LoadDataUpdate() {
        AjaxLoad(url = "/Customer/StatusDetail/?handler=Loadata"
            , data = { 'id': ser_StatusDetailCurrentID}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                let dataStatus = JSON.parse(result);
                if (dataStatus && dataStatus.length!=0) {
                    $('#originalCondition').val((dataStatus[0].OriginalCondition));
                    $('#Effective').val((dataStatus[0].Effective));

                    $("#SpecifiedService_ID ").dropdown("refresh");
                    $("#SpecifiedService_ID ").dropdown("set selected", dataStatus[0].SpecifiedService.split(','));

                    $('#NumberSessions').val((dataStatus[0].NumberSessions));

                    $('#ProductSupportToken').dropdown('clear');
                    $("#ProductSupportToken").dropdown("refresh");
                    $('#ProductSupportToken').dropdown('set selected', dataStatus[0].ProductSupport.split(","));

                    $('#ServiceSupportToken').dropdown('clear');
                    $("#ServiceSupportToken").dropdown("refresh");
                    $('#ServiceSupportToken').dropdown('set selected', dataStatus[0].ServiceSupport.split(","));
                    $("#Consultants_ID").dropdown("refresh");
                    $("#Consultants_ID").dropdown("set selected", dataStatus[0].Consultants);
                    $("#Responsible_ID").dropdown("refresh");
                    $("#Responsible_ID").dropdown("set selected", dataStatus[0].Responsible);
                    $("#Tech_ID").dropdown("refresh");
                    $("#Tech_ID").dropdown("set selected", dataStatus[0].Tech_ID);
                    $('#ServiceIncurredToken').dropdown('clear');
                    $("#ServiceIncurredToken").dropdown("refresh");
                    $('#ServiceIncurredToken').dropdown('set selected', dataStatus[0].ServiceIncurred.split(","));
                    let data = DataComboTypeStatus.filter(word => word["ID"] == dataStatus[0].Status_ID);
                    $("#StatusCall").dropdown("refresh");
                    $("#StatusCall").dropdown("set selected", data[0].ParentID);
                    $("#StatusCallDetail").dropdown("refresh");
                    $("#StatusCallDetail").dropdown("set selected", dataStatus[0].Status_ID);
                }
            }
        );

    }
    function InitializeCustomerStatus() {
        AjaxLoad(url = "/Customer/StatusDetail/?handler=LoadInitializeData"
            , data = {}
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                let _DataCombo = JSON.parse(result);
                Load_Combo(_DataCombo.SpecifiedService, "ccbSpecifiedService", false);
                Load_Combo(_DataCombo.ProductSupport, "cbbProductSupport", false);
                Load_Combo(_DataCombo.SpecifiedService, "cbbServiceSupport", false);
                Load_Combo(_DataCombo.Doc, "ccbConsultants", false);
                Load_Combo(_DataCombo.Doc, "ccbResponsible", false);
                Load_Combo(_DataCombo.Tech, "ccbTech", false);
                Render_Customer_Service(_DataCombo.ServiceTab, "cbbServiceIncurred");
                DataComboTypeStatus = _DataCombo.TypeStatus;
                let data = DataComboTypeStatus.filter(word => word["ParentID"] == 0);
                Load_Combo(data, "ccbStatusCall", true);
                $("#StatusCall").dropdown("set selected", data[0].ID);
                if (ser_StatusDetailCurrentID != "0")
                    Status_LoadDataUpdate();
            }
        );
    }


</script>
<script>js_require('/js/main.js');</script>

<script>js_require('/js/customjs/custom-validation.js');</script>
