@page
@model MLunarCoffee.Pages.Customer.TabListModel
@{
    Layout = null;
}
<div class="container-fluid px-0">
    <div class="row mt-3">
        <div class=" col-12">
            <div class="card">
                <ul class="nav nav-pills p-4 bg-transparent tablist nav-horizontal" role="tablist">
                    <li id="tabService" class="nav-item" role="presentation">

                        <a class="nav-link cursor-pointer d-flex align-items-center" data-tab="treatment" data-bs-toggle="pill" data-bs-target="#mtreat_treatment" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-serv"></i>
                            <span class="nav-item-text">@Local["Dịch vụ"]</span>

                        </a>
                    </li>
                    <li id="tabServiceCard" class="nav-item" role="presentation">

                        <a class="nav-link cursor-pointer d-flex align-items-center" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-Prepaid-cards"></i>
                            <span class="nav-item-text">@Local["Thẻ trả trước"]</span>
                        </a>
                    </li>
                    <li id="tabMedicine" class="nav-item" role="presentation">

                        <a class="nav-link cursor-pointer d-flex align-items-center"  data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-medicine_grid"></i>
                            <span class="nav-item-text">@Local["Đơn thuốc"]</span>
                        </a>
                    </li>
                </ul>
                <div id="tab_list_content_div">
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function TabList_Load_Card() {
        $('#tab_list_content_div').html('');
        $("#tab_list_content_div").empty();
        $("#tab_list_content_div").load("/Customer/Service/TabList/TabList_Card" + "?ver=" + versionofWebApplication + "&ViewAll=1");
    }
    function TabList_Load_Service() {
        $('#tab_list_content_div').html('');
        $("#tab_list_content_div").empty();
        $("#tab_list_content_div").load("/Customer/Service/TabList/TabList_Service" + "?ver=" + versionofWebApplication + "&CustomerID=" + ser_MainCustomerID + "&ViewAll=1");
    }
    function TabList_Load_Medicine() {
        $('#tab_list_content_div').html('');
        $("#tab_list_content_div").empty();
        $("#tab_list_content_div").load("/Customer/Service/TabList/TabList_Medicine" + "?ver=" + versionofWebApplication + "&ViewAll=1");
    }

    $(document).ready(function () {

        $("#tabServiceCard").click(function () {
            TabList_Load_Card();
        });
        $("#tabMedicine").click(function () {
            TabList_Load_Medicine();
        });

        $("#tabService").click(function () {
            TabList_Load_Service();
        });
        CheckPermissionControlInPage(sys_PerControl, '@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');
        $('.tablist a:first').addClass('active');
        $('.tablist a:first').trigger('click');
    });

</script>


<style>
    .tabprice {
        font-size: 14px;
        float: right;
        padding-right: 10px;
        width: 90px;
        max-width: 90px;
        color: #ca2121;
        text-align: right;
    }

    .pricediscounted {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #000c147a;
    }
</style>

