@page
@model MLunarCoffee.Pages.Customer.TakeCareDetailModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>VTTech Solution</title>
    <meta charset="utf-8" />

</head>

<body>

    <div class="container-fluid py-3 px-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-lg-flex">
                            <div class=" col-auto my-auto">
                                <div class="h-100">
                                    <h6 class="mb-0">@Local["Chăm sóc khách hàng"]</h6>
                                    <p class="text-sm mb-0">@Local["Chi tiết chăm sóc khách hàng"]</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card-body pt-2 form3" id="form3">

                        <!-- #region control execute-->
                        <div class="row px-1">
                            <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                <label>@Local["Ngày gọi lại"]</label>
                                <input id="TakeCare1" class="form-control flatpickr" type="text" placeholder="eg .@Local["Ngày gọi lại"]" />
                            </div>
                            <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2">
                                <label>@Local["Ngày điều trị"]</label>
                                <input id="DateTakeCare" type="text" class="form-control" placeholder="eg .@Local["Ngày điều trị"]" disabled />
                            </div>

                        </div>
                        <div class="row px-1">
                            <div class="field col-12  px-1 mt-2">
                                <label>@Local["Nội dung"]</label>
                                <textarea id="txtContentCustomerCareTreat" class="form-control" rows="3" placeholder="eg .@Local["Nội dung"]" name="content" type="text"></textarea>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer fixed-botombutton">
                        <div class="action_Save">

                            <div class="action_Save-Content">
                                <button class="btn btn-secondary" form="form3" onclick="CloseModal()">@Local["Đóng"]</button>
                                <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="ExcuteData()">@Local["Lưu"]</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="/js/comon/initialize_setting.js"></script>
    <script>
        var ser_TakeCareCustomerID ='@Model._TakeCareCustomerID';
        var ser_TakeCareDate = '@Model._TakeCareDate';
        let ser_TakeTreatID ='@Model._TreatID';
        function ExcuteData() {
            let TakeCare1 = $('#TakeCare1').val();
            let Content = $('#txtContentCustomerCareTreat').val() ? $('#txtContentCustomerCareTreat').val() : "";
            if ($('#form3').form('is valid')) {
                AjaxLoad(url = "/Customer/TakeCareDetail/?handler=ExcuteData"
                    , data = { 'Date': TakeCare1, 'CustomerID': ser_TakeCareCustomerID, 'content': Content, 'DateTreat': ser_TakeCareDate, 'TreatID': ser_TakeTreatID }
                    , async = true
                    , error = function () { notiError_SW() }
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            syslog_cutccc('i', ser_TakeCareCustomerID, Content);
                            if (typeof Treatment_List_Service_Load !== 'undefined' && $.isFunction(Treatment_List_Service_Load)) {
                                Treatment_List_Service_Load();
                            }
                        } else {
                            notiError_SW();
                        }
                    }
                );
                $('#DetailModal').modal('hide');
                $("#DetailModal_Content").html('');
            }
            return false;
        }

        $(document).ready(function () {
            $("#TakeCare1").flatpickr({
                dateFormat: 'd-m-Y',
                enableTime: false,
                defaultDate: new Date(),
                minDate: new Date(),
            });

            $('#DateTakeCare').val(ConvertStringYMD_DMY(ser_TakeCareDate));

        });
    </script>
    <script>js_require('/js/main.js');</script>
    <script>js_require('/js/customjs/custom-validation.js');</script>
</body>

</html>

