@page
@model MLunarCoffee.Pages.Customer.TreatmentListModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="container-fluid px-0">
    <div class="row mt-3">
        <div class=" col-12">
            <div class="card">
                <ul class="nav nav-pills p-4 bg-transparent tabtreat  nav-horizontal" role="tablist">
                    <li id="tabTreatment" class="nav-item" role="presentation">
                        <a class="nav-link cursor-pointer d-flex align-items-center" data-tab="treatment" data-bs-toggle="pill" data-bs-target="#mtreat_treatment" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-treatment"></i>
                            <span class="nav-item-text">@Local["Điều trị"]</span>

                        </a>
                    </li>
                    <li id="tabTreatmentWork" class="nav-item" role="presentation">
                        <a class="nav-link cursor-pointer d-flex align-items-center" data-tab="treatment_work" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-treatment-work"></i>
                            <span class="nav-item-text">@Local["Công việc điều trị"]</span>
                        </a>
                    </li>
                    <li id="tabTreatmentMesu" class="nav-item" role="presentation">
                        <a class="nav-link cursor-pointer d-flex align-items-center" data-tab="treatment_work" data-bs-toggle="pill" data-bs-target="#mtreat_work" role="tab">
                            <i class="text-gradient text-primary text-md pe-2 vtt-icon vttech-icon-treatment-work"></i>
                            <span class="nav-item-text">@Local["Ghi nhận tình trạng"]</span>
                        </a>
                    </li>
                </ul>
                <div id="treatment_list_content_div">
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        if (typeof LoadCustomerPaymentInfo !== 'undefined' && $.isFunction(LoadCustomerPaymentInfo)) {
            LoadCustomerPaymentInfo();
        }
        //TabTreatment_Load_TreatmentList();
        $("#tabTreatmentWork").click(function () {
            TabTreatment_Load_TreatmentWorkList();
        });
        $("#tabTreatment").click(function () {
            TabTreatment_Load_TreatmentList();
        });
        $("#tabTreatmentMesu").click(function () {
            TabTreatment_Load_TreatmentMesure();
        });
        
        Checking_TabControl_Permission();
        CheckPermissionControlInPage(sys_PerControl ,'@Model._dtPermissionCurrentPage');
        CheckPermissionControlInPage(sys_PerControlMH, '@Model._dtPermissionCurrentPage');

        $('.tabtreat a:first').addClass('active');
        $('.tabtreat a:first').trigger('click');
    });
    function TabTreatment_Load_TreatmentList() {
        $('#treatment_list_content_div').html('');
        $("#treatment_list_content_div").empty();
        $("#treatment_list_content_div").load('/Customer/Treatment/TreatmentList/TreatmentList_Service?CustomerID=' + ser_MainCustomerID + "&ver=" + versionofWebApplication + '&ViewAll=1');
    }
    function TabTreatment_Load_TreatmentWorkList() {
        $('#treatment_list_content_div').html('');
        $("#treatment_list_content_div").empty();
        $("#treatment_list_content_div").load('/Customer/Treatment/TreatmentWork/TreatWorkList?CustomerID=' + ser_MainCustomerID + "&ver=" + versionofWebApplication);
    }
    function TabTreatment_Load_TreatmentMesure () {
     
        $('#treatment_list_content_div').html('');
        $("#treatment_list_content_div").empty();
        $("#treatment_list_content_div").load('/Customer/Treatment/TreatmentMesure/MesList?CustomerID=' + ser_MainCustomerID + "&ver=" + versionofWebApplication);
    }
</script>

