@page
@model MLunarCoffee.Pages.Broker.BrokerDetailModel
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>

<div class="card">
    <div class="vtcardheader card-header pb-0">
        <div class="left">
            <h6 class="mb-0">@Local["Người giới thiệu"]</h6>
            <p class="text-sm mb-0">@Local["Thêm mới"]/@Local["Chỉnh sửa"] @Local["Người giới thiệu"]</p>
        </div>
    </div>
    <div class="card-body pt-2 form3" id="fr_brdform">
        <div class="d-lg-flex">
            <div class="col-w-200 mt-3">
                <div class="card-body p-0 text-center mt-n3 pt-1">
                    <div>
                        <span class="text-sm text-warning mb-0" id="brd_limitimage">110 x 110 px</span>
                        <hr class="horizontal dark mt-0 mb-2">
                    </div>
                    <div class="avatar avatar-xxl position-relative d-inline-block">
                        <img id="BD_DetailImage" class="border-radius-md border border-1 border-gray" alt="team-2" src="#" onerror="Master_OnLoad_Error_Image(this)">
                        <input class="opacity-0 cursor-pointer w-0 h-0 d-none" id="BD_LoadImage" accept="image/*" type="file" name="files[]" />
                        <div class="upload-btn-wrapper d-block position-absolute bottom-0 end-0 " id="brd_btnUpload">
                            <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light mb-n2 me-n2">
                                <i class="fa fa-pen top-0" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1">
                <div class="row">
                    <div class="col-12 px-1">
                        <label>@Local["Loại"]</label>
                        <div class="input-group flex-nowrap" id="brd_searcharea">
                            <div class="ui fluid search selection dropdown" style="max-width:120px;" id="brd_type">
                                <input type="hidden" />
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="Cbbbrd_type" class="menu" tabindex="-1">
                                </div>
                            </div>
                            <div class="input-group-text input-group-text px-2">
                                <i class="fas fa-search" aria-hidden="true"></i>
                                <div class="spinner-border spinner-border-sm d-none"></div>
                            </div>
                            <input id="brd_searchtext" type="text" class="form-control" placeholder="eg .@Local["Nhập tối thiểu 3 ký tự"]">
                            <div class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></div>
                        </div>
                        <div class="mt-2 position-relative" style="max-height: 400px;">
                            <div id="brd_waiting" class="waitingdiv position-absolute top-0 start-50 translate-middle-x d-none">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div id="brd_searchresult" class="accordion mt-2 d-none">
                                <div class="accordion-item mb-3">
                                    <h6 class="accordion-header" id="brdcollapseh">
                                        <button class="accordion-button border-bottom text-dark collapsed px-1" type="button" data-bs-toggle="collapse" data-bs-target="#brdcollapse" aria-expanded="true" aria-controls="brdcollapse">
                                            @Local["Danh sách tìm kiếm"]
                                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        </button>
                                    </h6>
                                    <div id="brdcollapse" class="accordion-collapse collapsesticky collapse show" aria-labelledby="brdcollapseh">
                                        <div class="accordion-body text-sm opacity-8" style="overflow-y: scroll; overflow-x: hidden; max-height: 300px;">
                                            <table class="table align-items-center mb-0">
                                                <tbody id="brd_tableresult">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 px-1">
                        <div class="d-flex mt-2 ms-1">
                            <p id="brd_title" class="text-sm fw-bold text-dark mb-0 me-2"></p>
                            <a class="mb-0 text-sm fw-bold ps-1" id="brd_percode"></a>
                        </div>
                    </div>

                    <div class="field col-12 col-md-4 col-lg-4 mt-2 px-1">
                        <label>@Local["Mã"]</label>
                        <input id="BD_BrokerCode" type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="field col-12 col-md-4 col-lg-4 mt-2 px-1">
                        <label>@Local["Tên"]</label>
                        <input id="BD_BrokerName" name="name" type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="field col-12 col-md-4 col-lg-4 mt-2 px-1">
                        <label>@Local["Điện thoại"]</label>
                        <input id="BD_PhoneBroker" name="phonenumber" type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="field col-12 col-md-12 col-lg-4 mt-2 px-1">
                        <label>@Local["Email"]</label>
                        <input id="BD_EmailBroker" name="email" type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="field col-12 col-md-12 col-lg-4 mt-2 px-1">
                        <label>@Local["Điện thoại"] 2</label>
                        <input id="BD_PhoneBroker2" name="phonenumberNotMain" type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="field col-12 col-md-12 col-lg-4 mt-2 px-1">
                        <label>@Local["Địa chỉ"]</label>
                        <input id="BD_AddressBroker" type="text" class="form-control" autocomplete="off" />
                    </div>
                    <div class="field  col-12 mt-2 px-1">
                        <label>@Local["Ghi chú"]</label>
                        <textarea id="BD_NoteBroker" type="text" class="form-control" rows="3" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer fixed-botombutton">
        <div class="action_Save">
            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage_Create_Broker"></div>
            <div class="action_Save-Content">
                <button class="btn btn-secondary" onclick="event.preventDefault();return CloseModal();">@Local["Đóng"]</button>
                <button type="button" class="btn bg-gradient-danger mt-2 me-2 d-none" id="brd_btdisabled" onclick="event.preventDefault();return Brd_Disabled(1);">@Local["Ẩn"]</button>
                <button type="button" class="btn bg-gradient-dark mt-2 me-2 d-none" id="brd_btactive" onclick="event.preventDefault();return Brd_Disabled(0);">@Local["Hiện"]</button>
                <button class="btn bg-gradient-primary mt-2 me-2 d-none" id="brd_btsave" onclick="event.preventDefault();return Brd_SaveExe();">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    let brd_currentid = "@Model._CurrentID";
    let brd_PerID = 0;
    let brd_Urlimage = "/Api/Upload/Upload?Type=SystemImage";
    let brd_CurrentPic = Master_Default_Pic;
    let brd_SysImage;
    let brd_searchdata = {};
    let brd_timer;
    let brd_typevalue = 0;
    let brd_typedata = [
        {"ID" : 0 , "Name": "@Local["Khác"]"}
        , {"ID" : 1 , "Name": "@Local["Nhân viên"]"}
        , {"ID" : 2 , "Name": "@Local["Khách hàng"]"}
    ];

    $(document).ready(function () {
        Load_Combo(brd_typedata, "Cbbbrd_type", true);
        brd_SysImage = {
            size: 3145728,
            width: 110,
            height: 110,
            format: ['jpg', 'png', 'jpeg']
        }
        brd_mainevent();
        $('#brd_limitimage').html(`${brd_SysImage.width} x ${brd_SysImage.height} px, ${Math.round(brd_SysImage.size / (1024 ** 2))}MB`);
        if (brd_currentid != "0") {
            Brd_LoadUpdate();
        }
        else {
            $("#brd_type").dropdown("refresh");
            $("#brd_type").dropdown("set selected", "0");
            $("#brd_btsave").removeClass("d-none");

        }

    });
    function brd_mainevent () {
        UploadImage({
            inputFile: 'BD_LoadImage'
            , btnInput: 'brd_btnUpload'
            , avatar: 'BD_DetailImage'
            , condition: brd_SysImage
            , success: (data) => { }
            , error: (err) => { }
        });
        $("#brd_type").unbind().change(function () {
            let brd_type = Number($("#brd_type").dropdown("get value")) ? Number($("#brd_type").dropdown("get value")) : 0;
            switch (brd_type) {
                    case 1:
                        {
                            $("#brd_searchtext").prop("disabled", false);
                        } break;
                    case 2:
                        {
                            $("#brd_searchtext").prop("disabled", false);
                        } break;
                    default: {
                        $("#brd_searchtext").prop("disabled", true);
                    } break;
                }
        });
        $('#brd_searchtext').keyup(function () {
            if ($(this).val().length > 0) $("#brd_searcharea .btn_clear").removeClass('opacity-1');
            else $("#brd_searcharea .btn_clear").addClass('opacity-1');
            $("#brd_searcharea .fa-search").hide();
            $("#brd_searcharea .spinner-border").removeClass('d-none');
            clearTimeout(brd_timer);
            brd_timer = setTimeout(function (e) {
                Brd_SearchAction();
            }, 500);
        });
        $("#brd_searcharea").on('click', '.btn_clear', function (e) {
            $('#brd_searchtext').val('');
            $("#brd_searcharea .btn_clear").addClass('opacity-1');
            Brd_SearchAction();

        });
        $('#brd_tableresult').on('click', '.brd_select', function () {
            brd_PerID = $(this).attr('data-id');
            let item = brd_searchdata[brd_PerID];
            if (item != undefined) {
                brd_typevalue = Number($("#brd_type").dropdown("get value")) ? Number($("#brd_type").dropdown("get value")) : 0;
                $('#BD_BrokerCode').val(item.Code);
                $('#BD_BrokerName').val(item.Name);
                $('#BD_PhoneBroker').val(item.Phone);
                $('#BD_EmailBroker').val(item.Email);
                $('#BD_PhoneBroker2').val(item.Phone2);
                $('#BD_AddressBroker').val(item.Address);
                brd_CurrentPic = item.Image || Master_Default_Pic;
                $('#BD_DetailImage').attr('src', brd_CurrentPic);
                switch (brd_typevalue) {
                    case 1:
                        {
                            $("#brd_title").html("@Local["Nhân viên"]: ");
                            $("#brd_percode").html(item.Code ?? "");
                        } break;
                    case 2:
                        {
                            $("#brd_title").html("@Local["Khách hàng"]: ");
                            $("#brd_percode").html(item.Code ?? "");
                        } break;
                    default: {
                        $("#brd_title").html("");
                        $("#brd_percode").html("");

                    } break;
                }
            }

        });
    }

     //#region //Search And Load

    async function Brd_SearchAction () {
        await new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    var txtsearch = $('#brd_searchtext').val() ? $('#brd_searchtext').val() : "";
                    txtsearch = txtsearch.toLowerCase().trim();
                    txtsearch = xoa_dau(txtsearch).replace(/[^a-zA-Z0-9 ]/g, '');
                    Brd_SearchActionExe(txtsearch);
                    $("#brd_searcharea .fa-search").show();
                    $("#brd_searcharea .spinner-border").addClass('d-none');
                    resolve();
                }
            )
        })
    }
    function Brd_SearchActionExe (txtsearch) {
        if (txtsearch.length >= 3) {
            $("#brd_searchresult").removeClass('d-none');
            let brd_type = Number($("#brd_type").dropdown("get value")) ? Number($("#brd_type").dropdown("get value")) : 0;
            brd_searchdata = {};
            AjaxLoad(url = "/Broker/BrokerDetail/?handler=LoadBrokerSearching"
                , data = {'keyword': txtsearch, 'type': brd_type}
                , async = true
                , error = function () {notiError_SW();}
                , success = function (result) {
                    if (result != "") {
                        let data = JSON.parse(result);
                        console.log(data)
                        if (data.length != 0) {
                            Brd_SearchRender(data, "brd_tableresult");
                            for (var i = 0; i < data.length; i++) {
                                let item = {};
                                item.Code = data[i].Code;
                                item.Name = data[i].Name;
                                item.Phone = data[i].Phone;
                                item.Phone2 = data[i].Phone2;
                                item.Email = data[i].Email;
                                item.Address = data[i].Address;
                                item.Note = data[i].Note;
                                item.Image = data[i].Image;
                                brd_searchdata[data[i].ID] = item;
                            }
                        }
                    }
                }
                , sender = null
                , before = function (e) {
                    $('#brd_tableresult').html('');
                    $("#brd_waiting").removeClass('d-none');
                }
                , complete = function (e) {
                    $("#brd_waiting").addClass('d-none');

                }
            );
        }
        else {
            $('#brd_tableresult').html('');
            $("#brd_searchresult").addClass('d-none');
        }
    }
    function Brd_SearchRender (data, id) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            if (data && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    let item = data[i];
                    let tr =
                        `<tr>
                            <td>
                                <div  class="d-flex align-items-center px-2 py-0">
                                    <div class="">
                                        <div class="form-check">
                                            <input name="brd_res" class="form-check-input brd_select" type="radio" data-id="${item.ID}">
                                        </div>
                                    </div>
                                    <div>
                                        <img class="border avatar avatar-sm" onerror="Master_OnLoad_Error_Image(this)" src="${item.Image}" />
                                    </div>
                                    <div class="d-flex ps-2">
                                        <div classs="text-dark ">
                                            <h6 class="mb-0 text-sm">${item.Name}</h6>
                                            <div>
                                                <a class="text-sm" href="/Customer/MainCustomer?CustomerID=${item.ID}" target="_blank">${item.Code}</a>
                                                 <span data-tab="phone_customer" class="_tab_control_ mb-0 text-dark  text-sm">${item.Phone}</span>
                                             </div>
                                             <div class="text-dark  mb-0 text-sm">${item.Address}</div>
                                        </div>

                                    </div>
                                </div>
                            </td>

                        </tr>`;
                    stringContent = stringContent + tr;
                }
            }
            document.getElementById(id).innerHTML = stringContent;
            Checking_TabControl_Permission();
        }
    }
    function Brd_LoadUpdate () {
        AjaxLoad(url = "/Broker/BrokerDetail/?handler=LoadUpdate"
            , data = {'BrokerID': brd_currentid}
            , async = true
            , error = function () {notiError_SW();}
            , success = function (result) {
                let data = JSON.parse(result);
                if (data.length != 0) {
                    item = data[0];
                    $("#BD_BrokerCode").val(item.BrokerCode);
                    $("#BD_BrokerName").val(item.BrokerName);
                    $("#BD_PhoneBroker").val(item.BrokerPhone);
                    $("#BD_EmailBroker").val(item.Email1);
                    $("#BD_PhoneBroker2").val(item.BrokerPhone2);
                    $("#BD_AddressBroker").val(item.Address);
                    $("#BD_NoteBroker").val(item.Note);
                    $("#BD_DetailImage").attr("src", item.Image);

                    brd_CurrentPic = item.Image != "" ? item.Image : Master_Default_Pic;
                    if (item.CustomerID != 0) {
                        $("#brd_title").html("@Local["Khách hàng"]: ");
                        $("#brd_percode").html(item.CusCode ?? "");
                        $("#brd_type").dropdown("refresh");
                        $("#brd_type").dropdown("set selected", "2");
                        brd_PerID = item.CustomerID;
                        brd_typevalue = 2;
                    }
                    else if (item.EmployeeID != 0) {
                        $("#brd_title").html("@Local["Nhân viên"]: ");
                        $("#brd_percode").html(item.CodeEmp ?? "");
                        $("#brd_type").dropdown("refresh");
                        $("#brd_type").dropdown("set selected", "1");
                        brd_PerID = item.EmployeeID;
                        brd_typevalue = 1;
                    }
                    else {
                        brd_PerID = 0;
                        brd_typevalue = 0;
                        $("#brd_type").dropdown("refresh");
                        $("#brd_type").dropdown("set selected", "0");
                    }
                    if (item.IsDisable == 0) {
                        $("#brd_btdisabled").removeClass("d-none");
                        $("#brd_btsave").removeClass("d-none");
                    } else if (item.IsDisable == 1) {
                        $("#brd_btactive").removeClass("d-none");
                    }
                }
            }
        );
    }

    //#endregion

    //#region //Executed
    async function Brd_SaveExe (matchphone) {
        let _Obj = new Object();
        let Image = $("#BD_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(brd_Urlimage, 'BD_LoadImage') : brd_CurrentPic;
        _Obj.Image = Image;
        _Obj.EmployeeID = (brd_typevalue == 1) ? brd_PerID : 0;
        _Obj.CustomerID = (brd_typevalue == 2) ? brd_PerID : 0;
        _Obj.Code = $('#BD_BrokerCode').val() ? $('#BD_BrokerCode').val().replace(/"/g, "") : "";
        _Obj.NameBroker = $('#BD_BrokerName').val() ? $('#BD_BrokerName').val() : "";
        _Obj.PhoneBroker = $('#BD_PhoneBroker').val() ? $('#BD_PhoneBroker').val() : "";
        _Obj.PhoneBroker2 = $('#BD_PhoneBroker2').val() ? $('#BD_PhoneBroker2').val() : "";
        _Obj.AddressBroker = $('#BD_AddressBroker').val() ? $('#BD_AddressBroker').val() : "";
        _Obj.NoteBroker = $('#BD_NoteBroker').val() ? $('#BD_NoteBroker').val() : "";
        _Obj.EmailBroker = $('#BD_EmailBroker').val() ? $('#BD_EmailBroker').val() : "";
        _Obj.Matchphone = matchphone != undefined ? matchphone :0;

        $('#fr_brdform').form('validate form');
        if ($('#fr_brdform').form('is valid')) {
            AjaxLoad(url = "/Broker/BrokerDetail/?handler=ExcuteData"
                , data = {
                    'data': JSON.stringify(_Obj)
                    , 'CurrentID': brd_currentid
                    , 'type': brd_typevalue
                }
                , async = true
                , error = function () {notiError_SW();}
                , success = function (result) {

                    switch (result) {

                        case "-1":
                            {
                                let _mess = `@Local["Trùng số điện thoại"] </br> ${Outlang["Ban_co_muon_tiep_tuc"]} ?` ;
                                const promise = notiConfirm(_mess);
                                promise.then(function () {
                                    Brd_SaveExe(matchphone = 1);
                                }, function () { });
                            }
                            break;
                        case "-2":
                            {
                                let _mess = `@Local["Trùng dữ liệu"] :  @Local["Mã"]`;
                                notiError(_mess);
                            }
                            break;
                        case "-3":
                            {
                                let _mess = `@Local["Khách hàng"] / @Local["Nhân viên"] :  @Local["Đã là broker"]`;
                                notiError(_mess);
                            }
                            break;
                        case "0":
                            {
                                notiError("@Local["Kiểm tra dữ liệu"]");
                            }
                            break;
                        default: {
                            notiSuccess();
                            if (typeof BL_LoadList == "function") {
                                BL_LoadList();
                            }
                            if (typeof BrokerMaster_LoadList == "function") {
                                BrokerMaster_LoadList();
                            }

                            CloseModal();
                        }
                        break;
                    }

                }
            );
        }
    }

    async function Brd_Disabled (Type) {
        const promise = notiConfirm();
        promise.then(function () {Brd_ActionDis(Type)}, function () { });
    }

    function Brd_ActionDis (Type, MatchPhone = 0) {
        AjaxLoad(url = "/Broker/BrokerDetail/?handler=ActionDisabled"
            , data = {
                'id': brd_currentid
                , 'Type': Type
                , 'MatchPhone': MatchPhone
            }
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                let _Str = ``;
                switch (result) {
                    case "-1":
                        _Str = `@Local["Khách hàng"] / @Local["Nhân viên"] :  @Local["Đã là broker"]`;
                        notiError(_Str);
                        break;
                    case "-2":
                        _Str = `@Local["Trùng dữ liệu"] :  @Local["Mã"]`;
                        notiError(_Str);
                        break;
                    case "-3":
                        _Str = `@Local["Trùng số điện thoại"] </br> ${Outlang["Ban_co_muon_tiep_tuc"]} ?`;
                        const promise = notiConfirm(_Str);
                        promise.then(function () {
                            Brd_ActionDis(0, 1);
                        }, function () { });
                        break;
                    case "0":
                        notiError_SW();
                        break;
                    default:
                        notiSuccess();
                        CloseModal();
                        if (typeof BL_LoadList == "function") {
                            BL_LoadList(result);
                        }
                        break;
                }
            }
        );
    }
    //#endregion

</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>
