@page
@model MLunarCoffee.Pages.Broker.BrokerListModel
@{
    if (@Model.layout == "none") Layout = null;
}
@Html.AntiForgeryToken()

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain" id="broker_list">
                <div class="vtcardheader card-header pb-0">
                    <div class="left">
                        <ul class="nav nav-pills bg-transparent" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link cursor-pointer  active" data-bs-toggle="collapse" href="#BL_BrokerInfoDiv">
                                    <i class="text-gradient  text-lg text-primary fas fa-info-circle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right d-grid d-md-flex">
                        <div class="col-w-150 ps-2 border border-5 border-bottom-0 border-top-0 border-end-0 border-primary py-1 bg-gray-100 rounded-2 border-radius-top-start-0 border-radius-bottom-start-0">
                            <p class="text-sm text-dark mb-0 text-capitalize ">@Local["Người giới thiệu"]</p>
                            <h6 id="BL_TotalBroker" class="font-weight-bolder mb-0">0</h6>
                        </div>
                        <div class="col-w-150 ps-2 border border-5 border-bottom-0 border-top-0 border-end-0 border-success py-1 bg-gray-100 rounded-2 border-radius-top-start-0 border-radius-bottom-start-0">
                            <p class="text-sm text-dark mb-0 text-capitalize">@Local["Là khách hàng"]</p>
                            <h6 id="BL_TotalCust" class="font-weight-bolder mb-0"></h6>
                        </div>
                        <div class="col-w-150 ps-2 border border-5 border-bottom-0 border-top-0 border-end-0 border-warning py-1 bg-gray-100 rounded-2 border-radius-top-start-0 border-radius-bottom-start-0">
                            <p class="text-sm text-dark mb-0 text-capitalize">@Local["Là nhân viên"]</p>
                            <h6 id="BL_TotalEmp" class="font-weight-bolder mb-0"></h6>
                        </div>
                        <div class="col-w-150 ps-2 border border-5 border-bottom-0 border-top-0 border-end-0 border-secondary py-1 bg-gray-100 rounded-2 border-radius-top-start-0 border-radius-bottom-start-0">
                            <p class="text-sm text-dark mb-0 text-capitalize">@Local["Khác"]</p>
                            <h6 id="BL_TotalNonCust" class="font-weight-bolder mb-0"></h6>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <div id="BL_BrokerInfoDiv" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark mb-0 mt-2 multi-collapse collapse">
                        <h6 class="mb-0">@Local["Danh sách người giới thiệu"]</h6>
                        <p class="text-sm mb-0">@Local["Xóa trong ngày. Chỉ người tạo mới được quyền xóa"]</p>
                        <p class="text-sm mb-0">@Local["Hoa hồng được tính với những dịch vụ và sản phẩm phát sinh trong ngày đầu tiên"]</p>
                    </div>
                </div>
                <div class="card-body pt-1">
                    <div class="d-lg-flex">
                        <div class="col-w-400 mt-2">
                            <div class="card-body p-0 position-relative">
                                <div class="vtcondition">
                                    <a class="sign" data-open="@Local["Hiển thị"]" data-close="@Local["Thu gọn"]" data-bs-toggle="collapse" aria-expanded="true"></a>
                                    <div class="fulllap collapse collapsesticky show">
                                        <div class="row">
                                            <div class="field col-12 my-2 d-flex">
                                                <div class="input-group flex-nowrap rounded-end position-relative">
                                                    <div class="input-group-text border-end">
                                                        <div class="ui dropdown text-dark text-sm border-0 pe-2" id="BL_DateType" tabindex="0">
                                                            <i class="dropdown icon"></i>
                                                            <input type="hidden" value="0">
                                                            <div class="text"></div>
                                                            <div id="BL_cbbDateType" class="menu transition hidden" tabindex="-1">
                                                                <div class="item" data-value="0">@Local["Ngày"]</div>
                                                                <div class="item" data-value="1">@Local["Ngày tạo"]</div>
                                                                <div class="item" data-value="2">@Local["Ngày chia"]</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input id="BL_Date" class="form-control hoverpopup flatpickr border-end flatpickr-input" type="text" placeholder="eg .Ngày" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="input-group flex-nowrap mt-1" id="BL_SeachContainer">
                                                <input id="BL_txtSearch" type="text" class="form-control" placeholder="eg .@Local["Tìm kiếm theo tên , số điện thoại hoặc mã số"]">
                                                <div class="input-group-text" onclick="event.preventDefault(); return BL_ClearSearch();">
                                                    <i class="btn_clear fas fa-minus-circle opacity-1"></i>
                                                </div>
                                                <div class="input-group-text cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Tìm kiếm theo tên , số điện thoại hoặc mã số"]">
                                                    <div class="position-relative" onclick="event.preventDefault(); return BL_Search();">
                                                        <i class="add text-primary fas fa-search"></i>
                                                    </div>
                                                </div>
                                                <div class="input-group-text px-2 cursor-pointer">
                                                    <div class="position-relative d-inline">
                                                        <a class="cursor-pointer px-1" data-bs-toggle="collapse" role="tab" data-bs-target="#colListBroker">
                                                            <i class=" text-gradient text-primary fw-bold fas fa-filter"></i>
                                                        </a>
                                                        <div class="collapsesticky collapse position-absolute end-1 top-100 mt-1" id="colListBroker" style="min-width:250px;z-index:10000;">
                                                            <div class="card card-body text-dark text-capitalize opacity-10">
                                                                <div class="field col-12 mt-2">
                                                                    <div class="ui fluid search selection dropdown form-control" id="BL_IsDevide">
                                                                        <input type="hidden" name="branch" />
                                                                        <i class="dropdown icon"></i>
                                                                        <div class="default text">eg .@Local["Tất cả tình trạng"]</div>
                                                                        <div id="BL_cbbIsDevide" class="menu" tabindex="-1">
                                                                            <div class="item" data-value="0">@Local["Tất cả tình trạng"]</div>
                                                                            <div class="item" data-value="1">@Local["Đã chia"]</div>
                                                                            <div class="item" data-value="2">@Local["Chưa xử lý"]</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="field col-12 mt-2">
                                                                    <div class="ui fluid search selection dropdown form-control" id="BL_BrokerType">
                                                                        <input type="hidden" name="branch" />
                                                                        <i class="dropdown icon"></i>
                                                                        <div class="default text">eg .@Local["Tất cả"]</div>
                                                                        <div id="BL_cbbBrokerType" class="menu" tabindex="-1">
                                                                            <div class="item" data-value="0">@Local["Tất cả loại"]</div>
                                                                            <div class="item" data-value="1">@Local["Là khách hàng"]</div>
                                                                            <div class="item" data-value="2">@Local["Là nhân viên"]</div>
                                                                            <div class="item" data-value="3">@Local["Khác"]</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="field col-12">
                                                                    <div class="d-flex">
                                                                        <div class="form-check mt-2 text-start ms-1">
                                                                            <input id="BL_BrokerStatus" class="form-check-input pr-2" type="checkbox">
                                                                            <label class="UpFirstLetter">@Local["Người giới thiệu"] @Local["Ẩn"]</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="field col-12 mt-0">
                                                                    <button class="btn btn-dark btn-sm my-2 w-100" onclick="BL_CloseFilter()">@Local["Đóng"]</button>
                                                                </div>
                                                                <div class="field col-12 mt-2">
                                                                    <button class="btn btn-primary btn-sm w-100 mb-0" onclick="BL_FilterType()">OK</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="BL_btnAdd" class="input-group-text cursor-pointer">
                                                    <div class="position-relative" onclick="event.preventDefault(); return BL_Add();">
                                                        <i class="add text-primary fas fa-plus"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="BL_MasterContainer">
                                    <div id="BL_loaderDiv" class="waitingdiv text-center position-absolute start-50 translate-middle-x top-0" style="display: none;">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="nav-wrapper mt-2" style="--max-height:calc( 100vh - 180px ); --overflow-y: auto">
                                        <ul class="nav nav-pills nav-menus nav-menus-vertical flex-column bg-white border-radius-lg" id="BL_MasterList">
                                        </ul>
                                    </div>
                                </div>
                                <button id="BL_btnloadMore" class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return BL_LoadList(0, 1);">
                                    @Local["Xem thêm"]
                                </button>
                            </div>
                        </div>
                        <div class="flex-grow-1 mt-2 overflow-x ps-lg-3 d-none" id="BL_DetailContainer">
                            <div class=" row w-100 mx-0" id="BL_DetailInfo">
                                <div id="BL_InfoItem" class="col-12 col-md-7 col-xl-7 flex-grow-1 px-0  mt-2">
                                    <div class="card card-plain">
                                        <div class="card-body p-0 mt-n1">
                                            <div class="border-0 p-3 bg-success-soft border-radius-lg mt-1">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <span id="BL_InfobrCode" class="text-sm fw-bold text-dark "></span>
                                                    <svg id="BL_InfobrBarCode" class="fw-bold text-sm me-n2"></svg>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class="text-sm">@Local["Tên"]</span>
                                                    <span id="BL_InfoName" class="fw-bold text-dark text-sm text-dark"></span>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Mã khách hàng"]</span>
                                                    <span id="BL_InfoCode" class="fw-bold text-dark text-sm "></span>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Mã nhân viên"]</span>
                                                    <span id="BL_InfoEmpCode" class="fw-bold text-dark text-sm "></span>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Ngày tạo"]</span>
                                                    <span id="BL_InfoCreated" class="fw-bold text-dark text-sm "></span>
                                                </div>
                                                <hr class="horizontal dark my-2">
                                                <div class="d-flex justify-content-between">
                                                    <span class=" text-sm">@Local["Người tạo"]</span>
                                                    <span id="BL_InfoCreatedBy" class="fw-bold text-dark text-sm "></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="BL_InfoTotal" class="col-12 col-md-5 col-xl-5 flex-grow-1 mt-2 px-0 ps-md-1 ps-lg-0">

                                    <div class="bg-gray-100 border-0 border-radius-lg ms-md-3 p-3">
                                        <div>
                                            <h6 class="font-weight-bolder mb-3 mt-1">@Local["Tổng giá trị"]</h6>
                                            <div class="row align-items-center">
                                                <div class="col-12 col-lg-3 col-md-3 BL_clsInfoRow col-xl-4 text-nowrap">
                                                    <span class="text-sm">@Local["Điểm tích lũy"]</span>
                                                </div>
                                                <div class="col-12 col-lg-auto">
                                                    <span id="BL_InfoTotalPoint" class="fw-bold text-primary text-sm ">0</span>
                                                </div>
                                            </div>
                                            <hr class="horizontal dark mt-2 mb-1">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-lg-3 col-md-3 BL_clsInfoRow col-xl-4 text-nowrap">
                                                    <span class="text-sm">@Local["Tiền chi"]</span>
                                                </div>
                                                <div class="col-12 col-lg-auto">
                                                    <span id="BL_InfoTotalExp" class="fw-bold text-dark text-sm ">0</span>
                                                </div>
                                            </div>
                                            <hr class="horizontal dark mt-2 mb-1">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-lg-3 col-md-3 BL_clsInfoRow col-xl-4 text-nowrap">
                                                    <span class="col-w-90 text-sm">@Local["Lần chi"]</span>
                                                </div>
                                                <div class="col-12 col-lg-auto">
                                                    <span id="BL_InfoExpTime" class="fw-bold text-dark text-sm ">0</span>
                                                </div>
                                            </div>
                                            <hr class="horizontal dark mt-2 mb-1">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-lg-3 col-md-3 BL_clsInfoRow col-xl-4 text-nowrap">
                                                    <span class="col-w-90 text-sm">@Local["Khách hàng"]</span>
                                                </div>
                                                <div class="col-12 col-lg-auto ">
                                                    <span id="BL_InfoTotalCust" class="fw-bold text-dark text-sm ">0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row w-100 mx-0" id="BL_DetailVoucher">
                                <div class="toggle position-relative">
                                    <div class="position-absolute z-index-3 end-1 top-0 mt-7 mt-lg-6 collapse" id="colLists" style="min-width: 250px;">
                                        <ul class="card card-body text-dark text-capitalize opacity-10">
                                            <li class="d-flex">
                                                <div class="form-check form-switch">
                                                    <input class="shtoogle form-check-input" data-name="newbroker" type="checkbox">
                                                </div>
                                                <p class="text-sm">@Local["Người giới thiệu mới"]</p>
                                            </li>
                                            <li class="d-flex">
                                                <div class="form-check form-switch">
                                                    <input class="shtoogle form-check-input" data-name="devidedby" type="checkbox">
                                                </div>
                                                <p class="text-sm">@Local["Người chia"]</p>
                                            </li>
                                            <li class="d-flex">
                                                <div class="form-check form-switch">
                                                    <input class="shtoogle form-check-input" data-name="devideddate" type="checkbox">
                                                </div>
                                                <p class="text-sm">@Local["Ngày chia"]</p>
                                            </li>
                                            <li class="d-flex">
                                                <div class="form-check form-switch">
                                                    <input class="shtoogle form-check-input" data-name="detail" type="checkbox" checked="">
                                                </div>
                                                <p class="text-sm">@Local["Chi tiết"]</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 flex-grow-1 mx-auto px-0 overflow-auto">
                                    <div class="card card-plain">
                                        <div class="card-body p-0 mt-n1">
                                            <div class="vtcardheader card-header pb-0 px-0">
                                                <div class="left">
                                                    <h6 class="font-weight-bolder mb-0 mt-2">@Local["Danh sách khách hàng"]</h6>
                                                    <p class="mb-0 text-sm">@Local["Danh sách khách hàng"] (@Local["Giới thiệu"], @Local["Phiếu chi"])</p>
                                                </div>
                                                <div class="right">
                                                    <a class="cursor-pointer px-2 pe-0 collapsed" data-bs-toggle="collapse" role="tab" data-bs-target="#colLists" aria-expanded="false">
                                                        <i class=" text-gradient text-primary fs-4 pe-2 fw-bold fas fa-caret-down"></i>
                                                    </a>
                                                    <div class="icon-hover mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Thu gọn"]">
                                                        <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer" data-bs-toggle="collapse" href="#BL_TableContainer" aria-expanded="true"></i>
                                                    </div>

                                                    <div class="icon-hover mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Xuất excel"]">
                                                        <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel" onclick="event.preventDefault(); return BL_Export()" data-checkper="1"></i>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div id="BL_TableContainer">
                                                <div class="card-bodym-1 me-0 mobile-responsive mt-3 p-0 position-relative vt-header-sticky" style="max-height: calc(80vh - 300px)">
                                                    <table id="BL_Detail_dtContent" class="mb-0 table vt-table">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="d-none">ID</th>
                                                                <th style="width: 15px;">#</th>
                                                                <th style="min-width: 150px;">@Local["Mã khách hàng"]</th>
                                                                <th style="min-width: 150px;">@Local["Khách hàng"]</th>
                                                                <th style="min-width: 150px;">@Local["Điểm tích lũy"]</th>
                                                                <th style="min-width: 150px;">@Local["Tiền chi"]</th>
                                                                <th style="min-width: 150px;" data-name="code">@Local["Mã phiếu"]</th>
                                                                <th style="min-width: 150px;" data-name="devidedby">@Local["Người chia"]</th>
                                                                <th style="min-width: 150px;" data-name="devideddate">@Local["Ngày chia"]</th>
                                                                <th style="min-width: 300px" data-name="detail">@Local["Chi tiết"]</th>
                                                                <th style="min-width: 80px">@Local["Xử lý"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="BL_Detail_dtContentBody">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <button id="BL_DPbtnViewMore" class="btn btnsysmore btn-secondary w-100 p-1 mt-1 mb-0 position-relative" onclick="event.preventDefault(); return BL_DPayRenderMore();">
                                                @Local["Xem thêm"]
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 mt-3 px-0" id="BL_DPContainer">
                                    <div class="">
                                        <div class="vtcardheader card-header p-0">
                                            <div class="left">
                                                <span id="BL_DPHeader" class="font-weight-bolder mb-0 mt-2"></span>
                                                <h6 class="mb-0 text-sm">@Local["Điểm tích lũy"]</h6>
                                            </div>
                                            <div class="right">
                                                <div class="icon-hover mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Thu gọn"]">
                                                    <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer" data-bs-toggle="collapse" href="#BL_PointList" aria-expanded="true"></i>
                                                </div>
                                                <div class="icon-hover mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@Local["Xuất excel"]">
                                                    <i class="vtt-icon  vttech-icon-export-ex text-lg text-primary cursor-pointer _tab_control_" data-tab="export_excel" onclick="event.preventDefault(); return BL_DPExport()" data-checkper="1"></i>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="mt-3 overflow-y" id="BL_PointList" style="max-height:50vh">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="BL_DevideDetailContainer" class="mt-1 ps-4 pt-2 w-100" style="display: none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>js_require_notasync('/js/comon/tablemaster.js')</script>

<script type="text/javascript">

    //#region //INIT - DEFINE
    var DataEmployee = {};
    var DataBranch = {};
    let BL_DataMain = [];
    let xhrBrokerList, xhrBrokerDetail, xhrPoint;
    let BL_BrokerID = 0;
    let shtable;
    let BL_Limit = 200, BL_beginID = 0;
    let BL_isDoneLoadMore = false;
    let BL_DPayDataReport, BL_DPayDataSlice;
    let BL_DPDataReport = [];
    let BL_DPayIndex = 0;
    let BL_DPDataDetail = {};
    let BL_DetailCustid = -1;
    $(document).ready(function () {
        Master_IndexDB_Reads(_Session_Data, [_Session_Employee, _Session_Branch]
            , function (data) {
                DataEmployee = data[0];
                DataBranch = data[1];
                BL_Init();
            });
    });

    function BL_Init() {
        shtable = $("#BL_Detail_dtContent").TableExpandColumn({
            shtoogle: $('.shtoogle')
        });
        $("#BL_Date").flatpickr({
            mode: "range",
            dateFormat: 'd-m-Y',
            enableTime: false,
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 1) {
                    instance.setDate([selectedDates[0], selectedDates[0]], true);
                }
            }
        });
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        $("#BL_Date").val(formatDateClient(firstDay) + ' to ' + formatDateClient(lastDay));
        $("#BL_DateType").dropdown('refresh');
        $("#BL_DateType").dropdown('set selected', '0');

        $("#BL_IsDevide").dropdown('refresh');
        $("#BL_IsDevide").dropdown('set selected', '0');

        $("#BL_BrokerType").dropdown('refresh');
        $("#BL_BrokerType").dropdown('set selected', '0');

        BL_LoadList(0, 0);
        BL_Event();
        Checking_TabControl_Permission();
        ToolPopper();
    }
    //#endregion

    //#region //LOADDATA
    async function BL_LoadList(brokerID = 0, isLoadMore = 0,fnRenderComplete) {
        new Promise((resolve) => {
            if (xhrBrokerList && xhrBrokerList.readyState != 4) xhrBrokerList.abort();
            let dateFrom, dateTo;
            let date = $('#BL_Date').val() ? $('#BL_Date').val() : new Date();
            if (date.includes(" to ")) {
                dateFrom = date.split(" to ")[0];
                dateTo = date.split(" to ")[1];
            }
            else {
                dateFrom = date;
                dateTo = date;
            }

            let dateType = !isNaN(Number($('#BL_DateType').dropdown("get value"))) ? Number($('#BL_DateType').dropdown("get value")) : 0;
            let textSearch = $('#BL_txtSearch').val() ? $('#BL_txtSearch').val() : "";
            let isSearchAll = textSearch.length > 0 ? 0 : 1;
            if (brokerID == 0 && isLoadMore == 0) {
                BL_DataMain = [];
                $("#BL_MasterList").empty();
                BL_beginID = 0;
            }
            textSearch = xoa_dau(textSearch).toLowerCase();
            xhrBrokerList = AjaxLoad(url = "/Broker/BrokerList/?handler=LoadList"
                , data = {
                    'dateType': dateType,
                    'dateFrom': dateFrom,
                    'dateTo': dateTo,
                    'brokerID': brokerID,
                    'isSearchAll': isSearchAll,
                    'textSearch': textSearch,
                    'limit': BL_Limit,
                    'beginID': BL_beginID
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "0") {
                        let data = JSON.parse(result);
                        if (data && data.length != 0) {
                            if (brokerID != 0) {
                                let rowBroker = $('#BL_MasterRow_' + brokerID)
                                if (rowBroker.length != 0) {
                                    BL_DataMain = BL_DataMain.reduce((pre, arr) => {
                                        if (arr.ID == data[0].ID) arr = data[0];
                                        pre.push(arr);
                                        return pre;
                                    }, []);
                                    rowBroker.replaceWith(BL_RenderDataEach(data[0]));
                                }
                                else {
                                    BL_DataMain.unshift(data[0]);
                                    $('#BL_MasterList').prepend(BL_RenderDataEach(data[0]));

                                }
                                BL_Event();
                                $('#BL_MasterRow_' + brokerID + ' a').tab('show');;
                            }
                            else {
                                BL_DataMain = BL_DataMain.concat(JSON.parse(result));
                                BL_beginID = BL_DataMain[BL_DataMain.length - 1].ID;
                                BL_RenderData(data, "BL_MasterList", fnRenderComplete);
                            }
                            BL_RenderTotal(BL_DataMain);
                        }
                        else {
                            if (brokerID != 0) {
                                BL_DataMain = BL_DataMain.filter(word => {
                                    return word.ID != brokerID
                                })
                                if ($('#BL_MasterRow_' + brokerID)) $('#BL_MasterRow_' + brokerID).remove();
                                $('#BL_MasterRow_' + BL_DataMain[0].ID + ' a').tab('show');;
                            }
                            else {
                                //BL_DataMain = [];
                                //$("#BL_MasterList").empty();
                            }

                        }

                        ToolPopper();
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function (e) {
                    $("#BL_loaderDiv").show();
                }
                , complete = function (e) {
                    $("#BL_loaderDiv").hide();
                }
            );
            resolve();
        })
    }
    //#endregion

    //#region //RENDER DATA
    async function BL_RenderTotal(data)  {
        new Promise(resolve => {
            if (data && data.length > 0) {
                $('#BL_TotalBroker')
                let IsDisabled = $('#BL_BrokerStatus').is(':checked') ? 1 : 0;
                let totalBroker = data.length;
                let totalCust = (data.filter(e => e.RLCustomerID != 0 && e.EmployeeID == 0 && (IsDisabled == 1 || (IsDisabled == 0 && e.IsDisable == 0)))).length;
                let totalNonCust = (data.filter(e => e.RLCustomerID == 0 && e.EmployeeID == 0 && (IsDisabled == 1 || (IsDisabled == 0 && e.IsDisable == 0)))).length;
                let totalEmp = (data.filter(e => e.EmployeeID != 0 && (IsDisabled == 1 || (IsDisabled == 0 && e.IsDisable == 0)))).length;
                Count_Up('BL_TotalBroker', totalBroker)
                Count_Up('BL_TotalCust', totalCust)
                Count_Up('BL_TotalEmp', totalEmp)
                Count_Up('BL_TotalNonCust', totalNonCust)
            }
        })
    }
    async function BL_RenderData(data, id, fnRenderComplete) {
        return new Promise(resolve => {
            setTimeout(() => {
                var myNode = document.getElementById(id);
                if (myNode != null) {
                    if (data && data.length > 0) {
                        for (let ii = 0; ii < data.length; ii++) {
                            let item = data[ii];
                            let tr = BL_RenderDataEach(item);
                            myNode.insertAdjacentHTML('beforeend', tr);
                        }
                        BL_Event();
                        ToolPopper(); 
                        $("#BL_MasterList li:not('.d-none') a.BL_clsMasterRow").first().tab('show');
                        if(typeof fnRenderComplete === 'function') fnRenderComplete();
                    }
                }
                resolve();
            }, 30)
        })
    }

    function BL_RenderDataEach(item) {
        try {
            let result = '';
            if (item && Object.keys(item).length > 0) {
                let IsShowDisable = $('#BL_BrokerStatus').is(':checked') ? 1 : 0;
                let statusCls = BL_renderStatus(item);
                let strBroCode = item.Code != '' ? `<span data-bs-toggle="tooltip" data-bs-original-title="@Local["Mã"] @Local["Người giới thiệu"]" class="code col-auto fw-bold mb-0 mt-0 my-auto text-sm text-dark">
                                                             - ${item.Code}</span>` : ``;
                let strDisabled = item.IsDisable != 0 ? `<i class="text-danger text-gradient vtt-icon vttech-icon-disable text-sm px-0"></i>` : '';

                let createdDate = ConvertDateTimeUTC_DMYHM(ConvertToDateRemove1900(item.Created) ?? '');
                let devideDate = ConvertDateTimeUTC_DMYHM(ConvertToDateRemove1900(item.DevidedDate) ?? '');

                result = `<li  id="BL_MasterRow_${item.ID}" class="nav-item border border-3 border-bottom-0 border-top-0 border-end-0 ${statusCls} ${IsShowDisable == 0 && item.IsDisable == 1  ? 'd-none' : ''} mb-1">
                                <a class="item-menu nav-link border-radius-top-start-0 border-radius-bottom-start-0 ${(item.IsDisable == 0) ? `BL_clsMasterRow cursor-pointer` : ``}" data-hover data-id="${item.ID}" data-bs-toggle="tab">
                                    <div class="align-items-center ms-1 py-0 w-100">
                                        ${strDisabled}
                                        <span class="BL_btnEdit mt-0 col-auto my-auto mb-0 text-dark text-sm fw-bold border-bottom border-success border-2" data-id="${item.ID}">${item?.BrokerName ?? ''}</span>
                                        <span class="code col-auto fw-bold mb-0 mt-0 my-auto text-sm text-primary cursor-pointer">
                                        ${strBroCode}
                                        </span>
                                        <div class="d-flex align-items-center mt-1">
                                            <div class="text-capitalize">
                                                <span class="text-xs fst-italic pb-1 d-block text-dark">@Local["Điện thoại"]</span>
                                                <span class="text-xs pb-1 d-block text-dark">${item.BrokerPhone}</span>
                                            </div>
                                            ${createdDate != '' ? `<div class="ps-3 text-capitalize">
                                                <span class="text-xs fst-italic pb-1 d-block text-dark">@Local["Ngày tạo"]</span>
                                                <span class="text-xs pb-1 d-block text-dark">${createdDate}</span>
                                            </div>` : ''}
                                            ${devideDate != '' ? `<div class="ps-3 text-capitalize">
                                                <span class="text-xs fst-italic pb-1 d-block text-dark">@Local["Ngày chia"]</span>
                                                <span class="text-xs pb-1 d-block text-dark">${devideDate}</span>
                                            </div>` : ''}
                                        </div>
                                    </div>
                                </a>
                                <hr class="horizontal dark my-0">
                                </li>`;
            }
            return result;
        }
        catch (e) {
            return '';
        }
    }

    function BL_renderStatus(item) {
        let result = '';
        if (item && Object.keys(item)) {
            if (item.RLCustomerID != 0) {
                result = 'border-success';
            }
            else if (item.EmployeeID != 0) {
                result = 'border-warning';
            }
            else {
                result = 'border-secondary';
            }
        }
        return result;
    }
    //#endregion

    //#region //LOAD DETAIL
    async function BL_Detail_LoadData() {
        new Promise((resolve) => {
            if (xhrBrokerDetail && xhrBrokerDetail.readyState != 4) xhrBrokerDetail.abort();
            BL_Detail_Reset();
            xhrBrokerDetail = AjaxLoad(url = "/Broker/BrokerList/?handler=LoadDetail"
                , data = {
                    'brokerID': BL_BrokerID,
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "0") {
                        let datas = JSON.parse(result);
                        let dataInfo = datas.Info ?? [];
                        let dataPay = datas.Payment ?? [];
                        BL_DPDataDetail = BL_Detail_RebuildPayD(datas.PaymentDetail ?? []);
                        BL_Detail_FillInfo(dataInfo);
                        BL_DPayDataReport = JSON.parse(JSON.stringify(dataPay));
                        BL_DPayDataSlice = sliceIntoChunks(dataPay, 100);
                        if (BL_DPayDataSlice && BL_DPayDataSlice.length != 0) {
                            fnRenderBlock(BL_DPayDataSlice[BL_DPayIndex], 'BL_Detail_dtContentBody'
                                , blocknum = 50
                                , fnrender = BL_Detail_RenderData
                                , fnsuccess = null
                            );
                        }
                        Checking_TabControl_Permission();
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function (e) {
                    $("#BL_loaderDiv").show();
                }
                , complete = function (e) {
                    $("#BL_loaderDiv").hide();
                }
            );
            resolve();
        })
    }

    function BL_Detail_RebuildPayD(data) {
        try {
            let result = {};
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (!result[item.BVID]) {
                        result[item.BVID] = [];
                    }

                    result[item.BVID].push(item);
                }
            }
            return result;
        }
        catch (e) {
            return {};
        }
    }

    function BL_Detail_Reset() {
        BL_DPayDataReport = [];
        BL_DPayDataSlice = [];
        BL_DPayIndex = 0;
        BL_DPDataDetail = {};
        BL_DetailCustid = -1;
        $('#BL_Detail_dtContentBody').empty();
        $('#BL_DPContainer').hide();
        $('#BL_PointList').empty();
        $('#BL_InfoName').html('');
        $('#BL_InfoCode').html('');
        $('#BL_InfoEmpCode').html('');
        $('#BL_InfoCreated').html('');
        $('#BL_InfoCreatedBy').html('');
        $('#BL_InfoTotalPoint').html(0);
        $('#BL_InfoTotalExp').html(0);
        $('#BL_InfoExpTime').html(0);
        $('#BL_InfoTotalCust').html(0);
    }
    function BL_Detail_FillInfo (data) {
       
        if (data && data.length > 0) {
            let item = data[0];
            let strEmpCode = item.BrokerEmpID != 0 ? `<span class="code col-auto fw-bold mb-0 ms-2 mt-0 my-auto text-sm text-dark cursor-pointer">
                                                            [${item.BrokerEmpCode}]
                                                         </span>`
                : '-';
            let strCode = item.RLCustomerID != 0 ? `<span class="col-auto fw-bold mb-0 ms-2 mt-0 my-auto text-sm text-primary cursor-pointer">
                                                                   <a class="fw-bold" target="_blank" href="/Customer/MainCustomer?CustomerID=${item.RLCustomerID}&ver=${versionofWebApplication}">${item.CustCode}</a>
                                                        </span>`
                : '-';
            $('#BL_InfoName').html(item.BrokerName);
            $('#BL_InfoCode').html(strCode);
            $('#BL_InfoEmpCode').html(strEmpCode);
            $('#BL_InfoCreated').html(ConvertDateTimeUTC_DMY_Remove1900(item.Created));
            $('#BL_InfoCreatedBy').html(Fun_GetName_ByID(DataEmployee, item.CreatedBy) || '-');
            $('#BL_InfoTotalPoint').html(formatNumber(item?.AmountPoint));
            $('#BL_InfoTotalExp').html(formatNumber(item?.TotalDevide));
            $('#BL_InfoExpTime').html(formatNumber(item?.CountPoint + item?.CountPay));
            $('#BL_InfoTotalCust').html(formatNumber(item?.TotalCust));
            if (item.BrokerCode != "") {
       
                JsBarcode("#BL_InfobrBarCode", xoa_dau(item.BrokerCode), {
                    lineColor: "#031313",
                    width: 2,
                    height: 30,
                    displayValue: false
                });
                $('#BL_InfobrCode').html(item.BrokerCode);
               
                
            }
        }
    }

    async function BL_Detail_RenderData(data, id) {
        new Promise(resolve => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    let strcust = ''
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        if (item.CustID != BL_DetailCustid) {
                            BL_DetailCustid = item.CustID;
                            strcust = `<td rowspan=${item.ChildCust} class="vt-number-order"></td>
                                                        <td rowspan=${item.ChildCust}>
                                                              <a target="_blank" href="/Customer/MainCustomer?CustomerID=${item.CustID}&ver=${versionofWebApplication}">${item.CustCode}</a>
                                                        </td>
                                                        <td rowspan=${item.ChildCust}>${item.CustName}</td>
                                                        <td class="BL_clsCustPoint fw-bold cursor-pointer" data-custid="${item.CustID}" data-name="${item.CustName}" rowspan=${item.ChildCust}>
                                                        <span class=" border-1 border-primary border-bottom text-primary">${formatNumber(item.TotalPoint)} </span>
                                                        </td>
                                                        <td rowspan=${item.ChildCust}>${formatNumber(item.TotalDevide)}</td>
                                                        `;
                        } else strcust = '';

                        let detail = BL_Detail_RenderTab(item.BrokerValueID);

                        let tr = `${strcust}
                                      <td data-name="code">${item.CommissCode}</td>
                                      <td data-name="devidedby">${Fun_GetName_ByID(DataEmployee, item.DevidedBy)}</td>
                                      <td data-name="devideddate">${ConvertDateTimeUTC_DMYHM(ConvertToDateRemove1900(item.DevidedDate) ?? '')}</td>

                                      <td data-name="detail">
                                      <div class="card-header p-0">
                                           <p class="text-sm mb-0 px-3">${item.Content}</p>
                                      </div>
                                      ${detail}
                                      </td>
                                      <td class="text-nowrap">${BL_RenderButton(item.CustID, item.BrokerValueID, item.RLCustomerID, item.DevideButton, item.DeleteButton, type = 0)}</td>`;
                        tr = `<tr role="row" class="${strcust != '' ? 'vt-number' : ''}">` + tr + '</tr>';
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                    Checking_TabControl_Permission();
                    BL_Detail_Event();
                    shtable.Refresh();
                }
            }
            resolve();
        });
    }
    function BL_DPayRenderMore() {
        BL_DPayIndex += 1;
        if (BL_DPayDataSlice && BL_DPayDataSlice[BL_DPayIndex]) {
            fnRenderBlock(BL_DPayDataSlice[BL_DPayIndex], "BL_Detail_dtContentBody"
                , blocknum = 50
                , fnrender = BL_Detail_RenderData
                , fnsuccess = null
            );
        }
    }
    function BL_Detail_RenderTab(BVID) {
        try {
            let result = '';
            dataDetail = BL_DPDataDetail[BVID];
            if (dataDetail && dataDetail.length > 0) {
                for (let i = 0; i < dataDetail.length; i++) {
                    let itemDetail = dataDetail[i];
                    result += `<div class="card-body px-2 py-1">
                                                     <div class="ps-2 mb-0"><p class="text-sm m-0">
                                                       <i class="fa fa-plus text-success pe-2"></i>
                                                       <span class="font-weight-bold pe-2">${formatNumber(itemDetail.CommissAmount)}</span>
                                                       <span class="text-primary">
                                                       <strong>${itemDetail.SerCode} </strong> ${itemDetail.SerName} - ${formatNumber(itemDetail.PriceDiscounted)}</span>
                                                       </p>
                                                     </div>
                                                   </div>
                                                   <hr class="horizontal dark my-0">`;
                }

            }
            return result;
        }
        catch (e) {
            return '';
        }

    }

    function BL_RenderButton(custID, IDDetail, RLCustomerID, DevideButton, DeleteButton, type = 0) {
        let button = [];
        if (DeleteButton == 1) {
            button.push(`<button class="buttonGrid"><i data-id="${IDDetail}" data-type="${type}"  class="buttonDeleteClass vtt-icon vttech-icon-delete"></i></button>`)
        }
        if (DevideButton == 1) {
            button.push(`<button class="buttonGrid"><i data-custid="${custID}" data-brokerid="${BL_BrokerID}" data-rlcust="${RLCustomerID}" class="buttonDevideClass vtt-icon vttech-icon-pay"></i></button>`)
        }
        return Render_Button_Grid(button);
    }

    async function BL_Detail_LoadPoint(custid, brokerid) {
        new Promise((resolve) => {
            if (xhrPoint && xhrPoint.readyState != 4) xhrPoint.abort();
            xhrPoint = AjaxLoad(url = "/Broker/BrokerList/?handler=LoadPoint"
                , data = {
                    'custID': custid,
                    'brokerID': brokerid,
                }
                , async = true
                , error = function () { notiError_SW(); }
                , success = function (result) {
                    if (result != "0") {
                        let dataPoint = JSON.parse(result);
                        BL_DPDataReport = [...dataPoint];
                        BL_RenderPointList(dataPoint, "BL_PointList");
                        Checking_TabControl_Permission();
                    }
                    else {
                        notiError_SW();
                    }
                }
                , sender = null
                , before = function (e) {
                    $("#BL_loaderDiv").show();
                }
                , complete = function (e) {
                    $("#BL_loaderDiv").hide();
                }
            );
            resolve();
        })
    }

    async function BL_RenderPointList(data, id) {
        new Promise(resolve => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let strContent = '';
                let BL_DPMonth = -1, BL_DPYear = -1;
                let detail = '';
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let _branch = Fun_GetName_ByID(DataBranch, item.BranchID);
                        let itemDate = ConvertDateTimeUTC_DMY(ConvertToDateRemove1900(item.Created));
                        let datespl = itemDate.split('-');
                        let day = !isNaN(Number(datespl[0])) ? Number(datespl[0]) : 0;
                        let month = !isNaN(Number(datespl[1])) ? Number(datespl[1]) : 0;
                        let year = !isNaN(Number(datespl[2])) ? Number(datespl[2]) : 0;
                        if (BL_DPMonth != month || BL_DPYear != year) {
                            BL_DPMonth = month;
                            BL_DPYear = year;
                            if (i != 0) {
                                strContent += BL_DPRenderGroup(month, year, detail);
                                detail = '';
                            }
                        }
                        detail +=
                            `<div class="accordion-body p-0">
                                    <div class="col-12 px-0">
                                        <div class="w-100">
                                            <div class="px-1">
                                                <div class="d-flex">
                                                    <div class=" d-inline">
                                                        <span class="col-auto cursor-pointer fw-bold mb-0 ms-0 mt-0 my-auto text-dark text-sm"> ${GetDateTime_String_HHMM(new Date())} ${day}/${month}</span>
                                                        <i class="fa-angle-right fas mx-1 text-secondary text-sm"></i>
                                                        <span class="col-auto cursor-pointer fw-bold mb-0 ms-0 mt-0 my-auto text-dark text-sm"> ${_branch}</span>
                                                        <i class="fa-angle-right fas mx-1 text-secondary text-sm"></i>
                                                        <span class="col-auto cursor-pointer fw-bold mb-0 ms-0 mt-0 my-auto text-dark text-sm"> ${Fun_GetName_ByID(DataEmployee, item.CreatedBy)}</span>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="icon-hover mx-1 buttonDeleteClass mt-1" data-bs-toggle="tooltip" data-id="${item.ID}" data-type="1" data-bs-placement="top" data-bs-original-title="@Local["Xóa"]">
                                                            <i class="fas fa-times text-lg text-primary cursor-pointer"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="align-items-center d-flex mt-0 mt-2">
                                                    <div class="ps-0">
                                                        <span class="SL_total fw-bold text-primary">${formatNumber(item.Point)}</span>

                                                        <span class="px-1 text-lowercase text-secondary">@Local["Điểm"]</span>
                                                        <p class="mb-0 mt-1">${item.Content}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="dark horizontal my-2">
                                </div>`;

                        if (i == data.length - 1) {
                            strContent += BL_DPRenderGroup(month, year, detail);
                            detail = '';
                        }
                    }
                }
                myNode.insertAdjacentHTML('beforeend', strContent);
                BL_DPDetailEvent();
            }
            resolve();
        })


    }

    function BL_DPRenderGroup(month, year, detail) {
        try {
            let result =
                `<div class="row row-cols-1 row-cols-sm-1 flex-grow-1 mb-4 accordion" id="BL_DPTargetRow_${month}_${year}">
                        <div class="accordion-item mb-3 col" >
                            <h5 class="accordion-header BL_DPgroupDate p-2" data-value="20230911" id="BL_DPgroupDate_${month}_${year}">
                                <button class="accordion-button border-0 border-bottom collapsed font-weight-bold groupdate p-0" type="button" data-bs-toggle="collapse" data-bs-target="#BL_DPdetailRow_${month}_${year}" aria-expanded="false" aria-controls="BL_DPgroupDate_${month}_${year}">
                                    <i class="collapse-close fa fa-plus me-3 pt-1 text-primary text-xs" aria-hidden="true"></i>
                                    <i class="collapse-open fa fa-minus me-3 pt-1 text-primary text-xs" aria-hidden="true"></i>
                                    <span class="pt-1 text-md text-primary">${month}/${year}</span>
                                </button>
                            </h5>
                            <div id="BL_DPdetailRow_${month}_${year}" class="bg-success-soft collapsesticky border-radius-md border-top-end-radius-0 border-top-start-radius-0 mx-0 px-2 py-3 row accordion-collapse collapse show" aria-labelledby="BL_DPgroupDate_${month}_${year}" data-bs-parent="#BL_DPTargetRow_${month}_${year}">
                                ${detail}
                            </div>
                        </div>
                    </div>`;
            return result;
        }
        catch (e) {
            return '';
        }
    }

    //#endregion

    //#region //EVENT
    function BL_Event() {
        $("#BL_txtSearch").unbind("keyup").on("keyup", function () {
            let textSearch = $(this).length ? ($(this).val() ?? "") : "";
            if (textSearch.length > 0) $("#BL_SeachContainer .btn_clear").removeClass('opacity-1');
            else $("#BL_SeachContainer .btn_clear").addClass('opacity-1');
        });
        $("#BL_MasterList .BL_clsMasterRow").on('shown.bs.tab', function (e) {
            e.preventDefault();
            e.stopPropagation();
            BL_BrokerID = !isNaN(Number($(this).attr('data-id'))) ? Number($(this).attr('data-id')) : 0;
            $('#BL_DetailContainer').removeClass('d-none');
            $('.BL_clsMasterRow').removeClass('active');
            $(this).addClass('active');
            BL_CancelDevide();
            BL_Detail_LoadData();
        });
        $("#BL_MasterList .BL_btnEdit").unbind("click").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation()
            let ID = !isNaN(Number($(this).attr('data-id'))) ? Number($(this).attr('data-id')) : 0;
            BL_Edit(ID);
        });
    }
    function BL_ClearSearch() {
        $('#BL_txtSearch').val('');
        $("#BL_SeachContainer .btn_clear").addClass('opacity-1');
        $("#BL_IsDevide").dropdown('refresh');
        $("#BL_IsDevide").dropdown('set selected', '0');
        $("#BL_BrokerType").dropdown('refresh');
        $("#BL_BrokerType").dropdown('set selected', '0');
        BL_LoadList(0, 0);
    }
    function BL_Search() {
        BL_LoadList(0, 0, BL_RenderComplete);
    }
    function BL_RenderComplete(){
        $("#BL_MasterList").NavMobile('show');
    }
    function BL_CloseFilter() {
        $('#colListBroker').collapse('hide');
    }
    async function BL_FilterType()  {
        return new Promise((resolve, reject) => {
            setTimeout(
                () => {
                    BL_CloseFilter();
                    let _type = !isNaN(Number($('#BL_BrokerType').dropdown("get value"))) ? Number($('#BL_BrokerType').dropdown("get value")) : 0;
                    let _isDevided = !isNaN(Number($('#BL_IsDevide').dropdown("get value"))) ? Number($('#BL_IsDevide').dropdown("get value")) : 0;
                    let _Status = $('#BL_BrokerStatus').is(':checked') ? 1 : 0;
                    let _Dt = BL_DataMain;
                    for (let i = 0; i < BL_DataMain.length; i++) {
                        let value = BL_DataMain[i];
                        let key = value.ID;
                        let devidedate = ConvertToDateRemove1900(value.DevidedDate) ?? '';
                        if (((_type == 0) || (_type == 1 && value.RLCustomerID != 0) || (_type == 2 && value.EmployeeID != 0) || (_type == 3 && value.RLCustomerID == 0))
                            && ((_isDevided == 0) || (_isDevided == 1 && devidedate != '') || (_isDevided == 2 && devidedate == ''))
                            && (_Status == 1 || (_Status == 0 && value.IsDisable == 0))
                        ) {
                            $('#BL_MasterRow_' + key).removeClass("d-none");
                        }
                        else {
                            $('#BL_MasterRow_' + key).addClass("d-none");
                            _Dt = _Dt.filter((item) => {return (item["ID"] != key)});
                        }
                    }
                    BL_RenderTotal(_Dt);
                }
            )
            resolve();
        })
    }

    function BL_Add() {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Broker/BrokerDetail?&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function BL_Edit(ID) {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Broker/BrokerDetail?BrokerID=" + ID + "&ver=" + versionofWebApplication);
        $('#DetailModal').modal('show');
        return false;
    }

    function BL_Detail_Event() {
        $('#BL_Detail_dtContentBody .buttonDeleteClass').unbind('click').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            let id = !isNaN(Number($(this).attr('data-id'))) ? Number($(this).attr('data-id')) : 0;
            BL_Detail_Delete(id);
        });

        $('#BL_Detail_dtContentBody .buttonDevideClass').unbind('click').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            let custID = !isNaN(Number($(this).attr('data-custid'))) ? Number($(this).attr('data-custid')) : 0;
            let brokerID = !isNaN(Number($(this).attr('data-brokerid'))) ? Number($(this).attr('data-brokerid')) : 0;
            let rlcust = !isNaN(Number($(this).attr('data-rlcust'))) ? Number($(this).attr('data-rlcust')) : 0;
            $("#BL_DetailContainer").hide();
            $("#BL_DevideDetailContainer").empty();
            $("#BL_DevideDetailContainer").load("/Customer/Payment/PaymentBrokerDetail?CustomerID=" + custID + "&BrokerID=" + brokerID + "&CustomerDesti=" + rlcust + "&ver=" + versionofWebApplication);
            $("#BL_DevideDetailContainer").show();
        });

        $('#BL_Detail_dtContentBody .BL_clsCustPoint').unbind('click').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            let custID = !isNaN(Number($(this).attr('data-custid'))) ? Number($(this).attr('data-custid')) : 0;
            let name = $(this).attr('data-name');
            $("#BL_DPContainer").show();
            $('html, body').animate({
                scrollTop: $("#BL_DPContainer").offset().top
            }, 300);
            if (custID == "0") {
                $("#BL_DPHeader").html('');
            }
            else {
                $("#BL_DPHeader").html(name);
            }

            BL_Detail_LoadPoint(custID, BL_BrokerID);
        });
    }

    function BL_DPDetailEvent() {
        $('#BL_PointList').unbind('click').on('click', '.buttonDeleteClass', function (e) {
            e.preventDefault();
            e.stopPropagation();
            let id = !isNaN(Number($(this).attr('data-id'))) ? Number($(this).attr('data-id')) : 0;
            let type = !isNaN(Number($(this).attr('data-type'))) ? Number($(this).attr('data-type')) : 0;
            BL_Detail_Delete(id, type);
        });

    }

    function BL_Detail_Delete(id, type) {
        const promise = notiConfirm();
        promise.then(function () { BL_Detail_DeleteExecute(id, type); }, function () { });
    }
    function BL_Detail_DeleteExecute(id, type) {
        AjaxLoad(url = "/Broker/BrokerList/?handler=DeleteItemBroker"
            , data = { 'id': id, 'type': type }
            , async = true
            , error = function () { notiError_SW() }
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    BL_Detail_LoadData();
                } else {
                    notiError_SW();
                }
            }
        );
    }
    //#endregion

    //#region //OTHER
    function BL_CancelDevide() {
        $("#BL_DevideDetailContainer").hide();
        $("#BL_DevideDetailContainer").empty();
        $("#BL_DetailContainer").show();
    }

    function BL_Export() {
        let fileName = Outlang['Chi_tiet'];
        exportToExcel("BL_Detail_dtContent", fileName + '-' + $('#BL_Detail_Name').html());
    }
    async function BL_DPExport() {
        try {
            if (BL_DPDataReport && BL_DPDataReport.length != 0) {
                var dataHeader = {}, fileName = '';
                dataHeader = {
                    "STT": ["@Local["STT"]", (value, { }, index) => { return index + 1; }],
                    "CustCode": ["@Local["Mã khách hàng"]"],
                    "CustName": ["@Local["Khách hàng"]"],
                    "Point": ["@Local["Điểm tích lũy"]"],
                    "Created": ["@Local["Ngày chia"]", (value) => { return GetDateTime_String_DMY(value) }],
                    "CreatedBy": ["@Local["Người chia"]", (value) => { return Fun_GetName_ByID(DataEmployee, value) }]
                }
                fileName = Outlang["Diem_tich_luy"] + '-' + xoa_dau($("#BL_InfoName").text()).replaceAll(' ', '_') + xoa_dau($("#BL_DPHeader").text()).replaceAll(' ', '_');
                syslog_ExpExcel('e', fileName);
                exportJsonToExcel(fileName, BL_DPDataReport, dataHeader);
            }
            else {
                notiWarning('@Local["Không có dữ liệu để xuất"]!');
            }
        }
        catch (ex) {
            notiWarning('@Local["Không xuất được file"]!');
        }
    }

            //#endregion

</script>
<style>
    .UpFirstLetter {
        text-transform: lowercase;
    }

        .UpFirstLetter::first-letter {
            text-transform: uppercase;
        }

    .BL_clsInfoRow {
        min-width: 100px;
    }

    .BL_DPgroupDate {
        background: rgb(var(--bs-primary),0.1);
    }
</style>