@page
@model MLunarCoffee.Pages.Service.Revenue.ServiceRevenueDoctorModel
@{
    Layout = null;
}
@Html.AntiForgeryToken()

<script>
    js_require_notasync('/js/service_Detail/revenue_doc.js');
    js_require_notasync('/js/service_Detail/revenue_assistant.js');
    js_require_notasync('/js/service_Detail/revenue_consult.js');
</script>

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <!--Master-->
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Hoa hồng nhân viên"]</h6>
                                <p class="text-sm mb-0">@Local["Cấu hình hoa hồng nhân viên"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="bg-gray-100 d-lg-flex mt-3 p-2 round-3 rounded-2">
                        <div class="col-auto my-auto">
                            <div class="h-100 w-100">
                                <div class="text-sm text-dark d-block mb-1 fw-bold">
                                    <span id="sre_sercode" class="text-sm text-primary"></span>
                                    <span class="mx-1">-</span>
                                    <span id="sre_sername" class="text-sm"></span>
                                </div>
                                <div class="text-sm text-dark d-block mb-1">
                                    <span class="text-sm text-muted">@Local["Giá nhỏ nhất"]:</span>
                                    <span id="sre_pricemin" class="text-sm text-dark fw-bold ms-1"></span>
                                    <span class="text-sm text-muted ms-2">@Local["Giá lớn nhất"]:</span>
                                    <span id="sre_pricemax" class="text-sm text-dark fw-bold ms-1">-</span>
                                </div>
                                <div class="text-sm text-dark d-block">
                                     <span class="text-sm text-muted">@Local["Loại"]:</span>
                                    <span id="sre_type" class="text-sm text-dark fw-bold ms-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1 d-flex">
                        </div>
                    </div>
                    <ul class="nav nav-pills nav-fill p-1 bg-transparent d-inline-flex ser_detail_revenue mt-3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link cursor-pointer active" data-bs-toggle="pill" data-bs-target="#div_rev_doc" role="tab">@Local["Hoa hồng bác sĩ"]</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#div_rev_ass" role="tab">@Local["Hoa hồng kỹ thuật viên/phụ tá"]</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a data-bs-toggle="pill" data-bs-target="#div_rev_con" class="nav-link cursor-pointer" role="tab">@Local["Hoa hồng tư vấn"]</a>
                        </li>
                    </ul>

                    <div class="nav-wrapper position-relative end-0 px-2">
                        <div class="tab-content" id="pills-revContent">
                            <div class="tab-pane fade active show" id="div_rev_doc" role="tabpanel">
                                <div class="row px-2 form3">
                                    <ul class="list-group mt-3" id="sre_doc_list">
                                    </ul>
                                    <button type="button" class="btn btn-secondary button_chose p-3" onclick="event.preventDefault();return SRE_Doc_AddRevenue();">
                                    </button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="div_rev_ass" role="tabpanel">
                                <div class="row px-2 form3">
                                    <ul class="list-group mt-3" id="sre_ass_list">
                                    </ul>
                                    <button type="button" class="btn btn-secondary button_chose p-3" onclick="event.preventDefault();return SRE_Ass_AddRevenue();">
                                    </button>
                                </div> 
                            </div>
                            <div class="tab-pane fade" id="div_rev_con" role="tabpanel">
                                <div class="row px-2 form3">
                                    <ul class="list-group mt-3" id="sre_con_list">
                                    </ul>
                                    <button type="button" class="btn btn-secondary button_chose p-3" onclick="event.preventDefault();return SRE_Con_AddRevenue();">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="sre_textmessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">Cancel</button>
                        <button id="btnSettingsRevenue" form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return SRE_ExcuteData()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //#region // DECLARE & INIT

    let Sre_CurrentID = '@Model._ServiceCurrentID';
    var Sre_DataEmployee = {};
    var Sre_DataDoctor = {};
    var Sre_DataAssistant = {};
    var Sre_DataMain_Doc = {};
    var Sre_DataMain_Ass = {};
    var Sre_DataMain_Con = {};
    var Sre_FlagChange = 0 ;
    let Sre_ClassKey = {
        "doc" : "sre_doctor",
        "ass" : "sre_assistant",
        "con" : "sre_con"
    }

    $(document).ready(function(){
        SRE_Init();
    })

    function SRE_Init(){
        AjaxLoad(url = "/Service/Revenue/ServiceRevenueDoctor/?handler=LoadInit"
            , data = { }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    for(let i = 0; i < data.length; i++){
                        let item = data[i];
                        let groupid = Number(item.GroupID);
                        Sre_DataEmployee[item.ID] = item;
                        if (groupid == 17) Sre_DataAssistant[item.ID] = item;
                        if (groupid == 14) Sre_DataDoctor[item.ID] = item;
                    }
                    SRE_LoadDetail();
                } 
                else {
                    notiError_SW();
                }
            }
        );
    }
    
    
    function SRE_LoadDetail(){
        if(Sre_CurrentID == '0') return ;
        AjaxLoad(url = "/Service/Revenue/ServiceRevenueDoctor/?handler=LoadDetail"
            , data = { 
                ServiceID: Sre_CurrentID
            }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    let dataDetail = data.Table;
                    let dataDoctor = data.Table1;
                    let dataAssistant = data.Table2;
                    let dataConsult = data.Table3;
                    SRE_FillDetail(dataDetail, dataDoctor, dataAssistant, dataConsult);
                    Sre_FlagChange = 1;
                } 
                else {
                    notiError_SW();
                }
            },
            before = function () {
            },
            complete = function (e) {
            }
        );
    }

    function SRE_FillDetail(datadetail, datadoctor, dataassistant, dataconsult){
        if (datadetail == undefined || datadetail.length == 0) return;
        let itemdetail = datadetail[0];
        $("#sre_sercode").html(itemdetail.Code);
        $("#sre_sername").html(itemdetail.Name);
        $("#sre_pricemin").html(formatNumber(itemdetail.Amount));
        $("#sre_pricemax").html(formatNumber(itemdetail.AmountMax));
        $("#sre_pricemax").html(itemdetail.sre_sername);
        $("#sre_type").html(itemdetail.IsProduct == 1 ? '@Local["Sản phẩm"]' : '@Local["Dịch vụ"]');

        if(datadoctor && datadoctor.length != 0){
            for(let i = 0; i < datadoctor.length; i++){
                let item = datadoctor[i];
                let itemdoc = {};
                itemdoc.EmployeeID = item.EmployeeID;
                itemdoc.ReAmount = item.ReAmount;
                itemdoc.RePer = item.RePer;
                Sre_DataMain_Doc[item.ID] = itemdoc;
                SRE_Doc_RenderRow(item.ID, itemdoc, 'sre_doc_list');
            }
        }
        else SRE_Doc_AddRevenue();

        if (dataassistant && dataassistant.length != 0) {
            for (let i = 0; i < dataassistant.length; i++) {
                let item = dataassistant[i];
                let itemdoc = {};
                itemdoc.EmployeeID = item.EmployeeID;
                itemdoc.ReAmount = item.ReAmount;
                itemdoc.RePer = item.RePer;
                Sre_DataMain_Ass[item.ID] = itemdoc;
                SRE_Ass_RenderRow(item.ID, itemdoc, 'sre_ass_list');
            }
        }

        if (dataconsult && dataconsult.length != 0) {
            for (let i = 0; i < dataconsult.length; i++) {
                let item = dataconsult[i];
                let itemdoc = {};
                itemdoc.EmployeeID = item.EmployeeID;
                itemdoc.ReAmount = item.ReAmount;
                itemdoc.RePer = item.RePer;
                Sre_DataMain_Con[item.ID] = itemdoc;
                SRE_Con_RenderRow(item.ID, itemdoc, 'sre_con_list');
            }
        }

    }

    //#endregion


    //#region // EXECUTE

    function SRE_ExcuteData(){
        let isCheck = SRE_CheckData();
        if (!isCheck) return;
        AjaxLoad(url = "/Service/Revenue/ServiceRevenueDoctor/?handler=ExcuteData"
            , data = {
                "ServiceID": Sre_CurrentID,
                "datadoc" : JSON.stringify(Object.values(Sre_DataMain_Doc)),
                "dataass": JSON.stringify(Object.values(Sre_DataMain_Ass)),
                "datacon": JSON.stringify(Object.values(Sre_DataMain_Con))
            }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    notiSuccess();
                    syslog_ser('u', result);
                    CloseModal();
                }
                else {
                    notiError_SW();
                }
            },
            sender = $("#btnSettingsRevenue"),
            before = function (e) {
            },
            complete = function (e) {
            }
        );
    }


    function SRE_CheckData(){
        let message = $("#sre_textmessage");
        message.html("");
        
        let isDoc = SRE_CheckData_ByType(Sre_DataMain_Doc, 'doc');
        let isAss = SRE_CheckData_ByType(Sre_DataMain_Ass, 'ass');
        let isCon = SRE_CheckData_ByType(Sre_DataMain_Con, 'con');

        if (!isDoc || !isAss || !isCon) {
            message.html(Outlang["Kiem_tra_du_lieu"])
            return false
        }
        return true;
    }

    function SRE_CheckData_ByType(data, type = ''){
        let isdup = 0, isvalue = 0;
        let empcheck = '';
        let preClass = Sre_ClassKey[type];
        for (let [key, value] of Object.entries(data)) {
            if(value.ReAmount == 0 && value.RePer == 0) {
                isvalue = 1;
                $('#' + preClass + 'amount_' + key).addClass('error');
                $('#' + preClass + 'percent_' + key).addClass('error');
            }
            else{
                $('#' + preClass + 'amount_' + key).removeClass('error');
                $('#' + preClass + 'percent_' + key).removeClass('error');
            }
            if (value.EmployeeID == 0){
                isvalue = 1;
                $('#' + preClass + '_' + key).addClass('error');
            }
            else $('#' + preClass + '_' + key).removeClass('error');

            if (empcheck.includes('[' + value.EmployeeID + ']')) {
                isdup = 1;
                $('#' + preClass + '_' + key).addClass('error');
            }
            else $('#' + preClass + '_' + key).removeClass('error');
            empcheck += '[' + value.EmployeeID + ']'
        }
        if (isvalue == 1 || isdup == 1) return false;
        return true;
    }

    //#endregion
</script>

<style>
    #pills-revContent .buttonDeleteClass:hover{
        opacity: 1 !important;
        transition: 0.3s all;
    }

    #pills-revContent input.error {
        background: #fff6f6;
        border-color: #e0b4b4;
    }

</style>