@page
@model Chating.Profileinfo
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<script>js_require('/js/comon/initialize_setting.js');</script>
<div class="row p-0 m-0" style="overflow-y: auto; overflow-x: hidden;height: calc(100vh - 137px);">
    <div class="col-12 px-2">
        <div class="card p-2 card-plain me-2">
            <div class="row my-1">
                <div class="d-flex">
 
                    <div class="ms-auto d-lg-none">
                        <span class="p-2 cursor-pointer pe-0 " onclick="FBM_Exteninfo();"><i class="fas fa-times"></i></span>
                    </div>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-12   pb-2 pe-0">
                    <div class="input-group">
                        <span class="input-group-text pe-0" style="width: 36px;" data-bs-toggle="tooltip" title="@Local["Chỉ định cuộc trò chuyện"]">
                            <i class="fas fa-user mb-1"></i>
                        </span>
                        <div class="ui fluid search selection dropdown form-control w-auto" id="PI_UserID">
                            <input type="hidden" name="telegroup" />
                            <input class="search" autocomplete="off" tabindex="0" />
                            <div class="default text">@Local["Chỉ định cuộc trò chuyện"]</div>
                            <div id="PI_CbbUserID" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2 pe-0">
                    <div id="PI_cusnoarea" class="d-none mt-2">
                        <div class="card-body p-3 bg-gray-100 border-radius-sm text-center">
                            <div class="icon-hover" onclick="PInfo_CreateCustomer();">
                                <i class="fas fa-plus text-sm text-dark"></i>
                            </div>
                            <h6 class="my-auto">@Local["Chưa có hồ sơ khách hàng"]</h6>
                        </div>
                        
                    </div>
                    <div id="PI_cusarea" class="d-none mt-2">
                        <div class="d-flex mb-1 align-items-center">
                            <span class="text-sm text-secondary pe-2">@Local["Ngày tạo"]: </span>
                            <span class="text-sm" id="PI_Created">-</span>
                        </div>
                        <div class="d-flex mb-1 align-items-center">
                            <span class="text-sm text-secondary pe-2">@Local["Người tạo"]: </span>
                            <span class="text-sm" id="PI_CreatedBy">-</span>
                        </div>
                        <div class="d-flex mb-1 align-items-center">
                            <span class="text-sm text-secondary pe-2">@Local["MSKH"]: </span>
                            <a class="text-sm text-primary fw-bold" id="PI_CusCode">-</a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="accordion-1">
                <div class="container px-0">
                    <div class="row">
                        <div class="accordion">
                            <div class="accordion-item my-3">
                                <h5 class="accordion-header" id="pih_tag">
                                    <button class="p-0 accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapsepih_tag" aria-expanded="true" >
                                        <div class="col-12">
                                            <h5 class="text-dark text-sm fw-bold">
                                                @Local["Tag xử lý"]
                                            </h5>
                                        </div>
                                    </button>
                                </h5>
                                <div id="collapsepih_tag" class="accordion-collapse  collapsesticky  collapse show" aria-labelledby="pih_tag">
                                    <div id="fbp_tag" class="col-12 ms-3 mt-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-9">
                        <h5 class="text-dark text-sm fw-bold">
                            @Local["Ghi chú"]
                        </h5>
                    </div>
                    <div class="col-3 text-end pe-1">
                        <div class="icon-hover" onclick="PInfo_ModifyBegin();">
                            <i class="fas fa-plus text-sm text-dark"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pe-1 d-none" id="PI_DivContent">
                        <textarea class="form-control" id="PI_Content" name="note" type="text" rows="3" placeholder="eg. @Local["Ghi chú"]"></textarea>
                        <div class="d-flex justify-content-end my-1">
                            <button id="sf_updatebtn" class="me-1 btn btn-sm px-2 text-normal text-xs py-1 bg-gradient-secondary my-0" onclick="PInfo_ModifyEnd();">
                                <span class="text-xs">@Local["Đóng"]</span>
                            </button>
                            <button id="sf_updatebtn" class="btn btn-sm px-2 text-normal text-xs py-1 bg-gradient-success my-0" onclick="event.preventDefault(); return PInfo_ExecutedNote();">
                                <span class="text-xs">@Local["Lưu"]</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 pe-1" id="PI_EmptyNote">
                        <div class="card-body p-3 bg-gray-100 border-radius-sm text-center">
                            <h6 class="my-auto">@Local["Chưa có ghi chú"]</h6>
                        </div>
                    </div>
                    <div class="col-12" id="PI_BodyNote">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region //Init
    var PI_DTUser = [];
    var PI_Flag = 0;
    var PI_TagTarget = '';
    var PI_IDCurrNote = 0;
    //#region // Initialize
    $(document).ready(function () {
        PInfo_LoadInit();
        ToolPopper();
    })
    function PInfo_LoadInit() {
        AjaxLoad(url = "/Facebook/Chating/Profileinfo/?handler=LoadInit"
            , data = {}
            , async = true
            , error = null
            , success = function (result) {
                if (result != "[]") {
                    let data = JSON.parse(result);
                    PI_DTUser = data["User"];
                    PInfo_RenderTag(fb_fbtag, "fbp_tag");
                    Load_Combo(PI_DTUser, "PI_CbbUserID", true);
                    $("#PI_UserID").dropdown("refresh");
                    PInfo_EventIni();
                }
            }
        );
    }
    function PInfo_EventIni () {
        $("#PI_UserID").on("change", function () {
            if (PI_Flag == 0) {
                let UserID = $("#PI_UserID").dropdown('get value') ? $("#PI_UserID").dropdown('get value') : 0;
                PInfo_ExecutedAssign(UserID);
            }
        })
    }
    //#endregion
    function PInfo_Ini () {
        PInfo_LoadInfo();
        PInfo_FillTag(fb_currentag);
        PInfo_LoadNote(0);
    }
    //#endregion
    //#region //Note

    function PInfo_LoadNote (CurrentID ) {
        if (CurrentID == 0) $("#PI_BodyNote").empty();
        AjaxLoad(url = "/Facebook/Chating/Profileinfo/?handler=LoadNote"
            , data = {
                "PID": fb_pageid
                , "PSID": fb_userid
                , "CurrentID": CurrentID
            }
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    if (data && data.length > 0) {
                        $("#PI_EmptyNote").addClass("d-none");
                        $("#PI_BodyNote").removeClass("d-none");
                        if (CurrentID == 0) {
                            PInfo_RenderNote(data, "PI_BodyNote");
                        }
                        else {

                            let item = PInfo_RendeEachNote(data[0]);
                            if ($("#PI_Note" + CurrentID).length)
                                $('#PI_Note' + CurrentID).replaceWith(item);
                            else
                                $("#PI_BodyNote").prepend(item);

                            PInfo_EventNote();
                        }
                    } else {
                        $("#PI_EmptyNote").removeClass("d-none");
                        $("#PI_BodyNote").addClass("d-none");
                    }
                }
            }
        );
    }

    async function PInfo_RenderNote (data, id) {
        new Promise((resolve) => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                if (data && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = PInfo_RendeEachNote(item);
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
            }
            PInfo_EventNote();
            resolve();
        })
    }

    function PInfo_RendeEachNote (item) {
        try {
            let result = ``;
            result = `
                <div class="d-flex pb-1 border-bottom areacontent" id="PI_Note${item.ID}">
                    <div class="flex-grow-1 my-2">
                        <div class="mb-0 text-secondary text-sm fst-italic ">
                            <span>${ConvertDateTimeUTC_NoYear(item.Created)}</span>
                            <span  class="cursor-pointer ps-2 text-primary bttmodify btnNoteEdit" data-id="${item.ID}">edit</span>
                            <span class="cursor-pointer ps-2 text-danger bttmodify btnNoteDelete" data-id="${item.ID}">remove</span>
                        </div>
                        <div id="PI_item${item.ID}" class="content text-dark mb-0 mt-1 text-sm text-wrap">${item.Content}</div>
                    </div>
                </div>
            `;

            return result;
        } catch (ex) {
            return '';
        }
    }

    function PInfo_ExecutedNote () {
        let Content = $("#PI_Content").val() ? $("#PI_Content").val() : "";
        if (Content != '') {
            AjaxLoad(url = "/Facebook/Chating/Profileinfo/?handler=ExecutedNote"
                , data = {
                    "PID": fb_pageid
                    , "PSID": fb_userid
                    , "Content": Content
                    , "CurrentID": PI_IDCurrNote
                }
                , async = true
                , error = null
                , success = function (result) {

                    if (result != "0") PInfo_LoadNote(result);
                    else notiError_SW();

                },
                sender = null,
                before = function (e) {

                },
                complete = function (e) {
                    PInfo_ModifyEnd();
                }
            );
        } else {
            notiWarning("@Local["Không có nội dung"]");
        }
    }

    function PInfo_EventNote () {
        $("#PI_BodyNote .btnNoteEdit").unbind("click").on("click", function () {
            PInfo_ModifyBegin();
            PI_IDCurrNote = $(this).attr("data-id");
            let content = $('#PI_item'+PI_IDCurrNote).html();
            $("#PI_Content").val(content);

        })
        $("#PI_BodyNote .btnNoteDelete").unbind("click").on("click", function () {
            let ID = $(this).attr("data-id");
            PInfo_ModifyEnd();
            PInfo_DeleteNote(ID);
        })
    }

    function PInfo_DeleteNote (id) {
        const promise = notiConfirm();
        promise.then(function () {PInfo_ExDeleteNote(id);}, function () { });
    }

    function PInfo_ExDeleteNote (id) {
        AjaxLoad(url = "/Facebook/Chating/Profileinfo/?handler=DeleteNote"
            , data = {"id": id}, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    notiSuccess();
                    let row = $('#PI_Note' + id);
                    if (row.length != 0) row.remove();
                } else {
                    notiError_SW();
                }
            });
    }
    function PInfo_ModifyBegin () {
        PI_IDCurrNote = 0;
        $("#PI_Content").val("");
        $("#PI_DivContent").removeClass("d-none");
    }
    function PInfo_ModifyEnd () {
        PI_IDCurrNote = 0;
        $("#PI_Content").val("");
        $("#PI_DivContent").addClass("d-none");
    }


    //#endregion
    //#region // Profile
    function PInfo_CreateCustomer () {
        let text = fbm_coppied;
        let pname = $('#fmb_conname').html();
        let _phone = "";
        if (text != undefined) {
            let _phonnum = text.replaceAll(' ', '').trim();
            if (!isNaN(_phonnum) && (/\d{10}/.test(_phonnum))) {
                _phone = _phonnum;
            }
        }
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load(`/Customer/CustomerDetail?type=fromfb&phone=${encodeURI(_phone)}&pid=${fb_pageid}&psid=${fb_userid}&custname=${encodeURI(pname)}&ver=${versionofWebApplication}`);
        $('#DetailModal').modal('show');
        return false;
    }
   
</script>