@page
@model MLunarCoffee.Pages.Setting.PatientRecord.PatientRecordImageDetailModel
@{
    Layout = null;
}
<script>js_require('/assests/dist/UploadJS/js/jquery.fileupload.js');</script>
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true);</script>
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 id="NamePatientRecord" class="mb-0">@Local["Bệnh án"]</h6>
                                <p class="text-sm mb-0">@Local["Chi tiết bệnh án"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px form3" id="formPatientRecordImage">
                        <div class="d-lg-flex">
                            <div class="col-w-300 mt-1">
                                <div class="">
                                    <div class="accordion">
                                        <div>
                                            <button class="accordion-button p-2 px-0 collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#PRecord_CollapseNoteImg" aria-expanded="true" aria-controls="PRecord_CollapseNoteImg">
                                                <h6 class="text-primary text-sm font-weight-bold mb-0"> @Local["Hình ảnh"] - @Local["Bệnh án"]</h6>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pe-2">
                                        <div id="PRecord_CollapseNoteImg" class="collapse hide collapsesticky">
                                            <p class="text-dark text-sm fw-bold mb-1">
                                                @Local["Hướng dẫn"]:
                                                <span class="text-dark text-sm text-normal ms-2">@Local["Vui lòng upload hình ảnh đúng kích thước"]</span>
                                            </p>
                                            <p class="text-dark text-sm fw-bold mt-2 mb-1">
                                                @Local["Kích thước"]:
                                                <span class="text-dark text-sm text-normal ms-2">110 x 110 px</span>
                                            </p>
                                            <p class="text-dark text-sm fw-bold mt-2 mb-2">
                                                @Local["Hình minh họa"]:
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <div class="d-block avatar avatar-xxl position-relative mb-2">
                                                    <a href="/Image/Illustration/implant.jpg" target="_blank">
                                                        <img src="/Image/Illustration/implant.jpg" class="border-0" alt="team-2" onerror="Master_OnLoad_Error_Image(this)" style="height: 110px; width: 110px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-1 d-flex justify-content-center">
                                            <div class="row m-0">
                                                <div class="col-auto px-0 position-relative">
                                                    <img id="PR_DetailImage" class="border border-radius-md" alt="team-2" src="/default.png" onload="Master_Onload_SuccessPic(this,110,110)" onerror="Master_OnLoad_Error_Image(this)">
                                                    <div class="upload-container" id="">
                                                        <i class="fas fa-camera fs-3"></i>
                                                        <input class="position-absolute opacity-0  w-100 h-100 cursor-pointer top-0 d-flex align-items-center justify-content-center" id="PR_Fileup_LoadImage" accept="image/*" type="file" name="files[]" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="flex-grow-1" id="formPatientRecordImage">
                                <div class="field col-12 p-1">
                                    <label>@Local["Tên"] </label>
                                    <input id="PatientRecordName_Input" name="name" class="form-control" type="text" />
                                </div>
                                <div class="field col-12 p-1">
                                    <label>@Local["Bệnh án"]</label>
                                    <div class="ui fluid search selection dropdown form-control" id="FormPatientRecordID">
                                        <input type="hidden" name="branch" />
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0" />
                                        <div class="default text"></div>
                                        <div id="cbbFormPatientRecord" class="menu" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formPatientRecordImage" onclick="event.preventDefault();CloseModal()">@Local["Hủy"]</button>
                        <button form="formPatientRecordImage" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();PR_ExcuteData()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ser_PatientRecordDetailID = (@Model._PatientRecordDetailID);
    var urlImage = "/Api/Upload/Upload?Type=SystemImage";
    var PR_ImageString = Master_Default_Pic;
    let PR_Sys_Image;
    $(document).ready(function () {
        PR_Init();
    });

    function PR_Init() {
        $('#PR_DetailImage').attr('src', PR_ImageString);
        PR_Sys_Image = {
            size: 102400,
            width: 110,
            height: 110,
            format: ['jpg', 'png', 'jpeg']
        }
        $('#PR_LimitImageNote').html(`${PR_Sys_Image.width} x ${PR_Sys_Image.height} px, ${(PR_Sys_Image.size / 1024)}KB`);
        PR_EventUploadImage();
        AjaxLoad(url = "/Setting/PatientRecord/PatientRecordImageDetail/?handler=LoadComboMain"
            , data = {}
            , async = true, error = null
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    Load_Combo(data, 'cbbFormPatientRecord', true);
                    PR_LoadUpdateData();
                }
            });

    }


    function PR_LoadUpdateData() {
        if (ser_PatientRecordDetailID != 0 && ser_PatientRecordDetailID != "") {
            AjaxLoad(url = "/Setting/PatientRecord/PatientRecordImageDetail/?handler=LoadDetail"
                , data = { CurrentID: ser_PatientRecordDetailID }
                , async = true
                , error = null
                , success = function (result) {
                    if (result != "") {
                        let data = JSON.parse(result);                        
                        PR_ImageString = data[0].Image || Master_Default_Pic;
                        $('#PR_DetailImage').attr('src', PR_ImageString);
                        $("#NamePatientRecord").html(data[0].Name);
                        $("#PatientRecordName_Input").val(data[0].Name);
                        $("#FormPatientRecordID").dropdown("refresh");
                        $("#FormPatientRecordID").dropdown("set selected", data[0].FormID);
                    }
                });
        }
    }

    async function PR_ExcuteData() {
        let Image = $("#PR_Fileup_LoadImage")[0].files.length != 0 ? await AjaxUpload_Image(urlImage, 'PR_Fileup_LoadImage') : PR_ImageString;
        let FormID = Number($('#FormPatientRecordID').dropdown('get value')) ? Number($('#FormPatientRecordID').dropdown('get value')) : 0;
        let Name = $("#PatientRecordName_Input").val() != '' ? $("#PatientRecordName_Input").val() : '';
        $('#formPatientRecordImage').form('validate form');
        if ($('#formPatientRecordImage').form('is valid')) {
            AjaxLoad(url = "/Setting/PatientRecord/PatientRecordImageDetail/?handler=ExcuteData"
            , data = {
                Image: Image,
                FormID: FormID,
                CurrentID: ser_PatientRecordDetailID,
                Name: Name
            }
            , async = true
            , error = null
            , success = function (result) {
                if (result == "1") {
                    notiSuccess();
                    CloseModal();
                    PR_Load();
                }
                else if (result == "-1") {
                    $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                } else {
                    notiError_SW();
                }
            }
        );
        }
        return false;
    }

    function PR_EventUploadImage() {
        UploadImage({
            inputFile: 'PR_Fileup_LoadImage'
            , btnInput: ''
            , avatar: 'PR_DetailImage'
            , condition: PR_Sys_Image
            , success: (data) => {

            }
            , error: (err) => {

            }
        })
    }
</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>
<style>
    .imginput {
        margin-top: -97px;
        margin-left: -108px;
    }
</style>