@page
@model MLunarCoffee.Pages.Setting.Teeth.TeethDetailModel
@{ Layout=null;
}
<div class="container-fluid px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Chi tiết răng"]</h6>
                                <p class="text-sm mb-0">@Local["Chỉnh sửa răng"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formTeethDetail">
                        <div class="field col-12 p-1">
                            <label>@Local["Tên răng người lớn"]</label>
                            <input id="TeethAdult" class="form-control" name="name" type="text" />
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Tên răng trẻ em"]</label>
                            <input id="TeethChildren" class="form-control" name="name" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formTeethDetail" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="formTeethDetail" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_ setting_projectclosure" data-tab="edit_tab_customer" onclick="event.preventDefault();TeethExecute()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ser_TeethDetailID;
    $(document).ready(function () {
        ser_TeethDetailID = (@Model._TeethDetailID);
        if(ser_TeethDetailID!="0") TeethLaodUpdate();
    });
    function TeethLaodUpdate() {
        AjaxLoad(url = "/Setting/Teeth/TeethDetail/?handler=Loadata"
            , data = { id: ser_TeethDetailID }, async = true, error = null
            , success = function (result) {
                let dataDetail = JSON.parse(result);
                $('#TeethAdult').val((dataDetail[0].TeethNameAdult));
                $('#TeethChildren').val((dataDetail[0].TeethNameBaby));
            });
    }
    function TeethExecute() {
        let AdultTeeth = $('#TeethAdult').val() ? $('#TeethAdult').val() : "";
        let BabyTeeth = $('#TeethChildren').val() ? $('#TeethChildren').val() : "";
        $('#formTeethDetail').form('validate form');
        if ($('#formTeethDetail').form('is valid')) {
            AjaxLoad(url = "/Setting/Teeth/TeethDetail/?handler=ExcuteData"
                , data = {
                    AdultTeeth: AdultTeeth,
                    BabyTeeth: BabyTeeth,
                    CurrentID: ser_TeethDetailID
                }, async = true, error = null
                , success = function (result) {
                    if (result == "1") {
                        notiSuccess();
                        if (typeof SettingTeethLoad !== 'undefined' && $.isFunction(SettingTeethLoad)) {
                            SettingTeethLoad();
                            $('#DetailModal').modal('hide');
                            $("#DetailModal_Content").html('');
                        }
                    } else if (result == "-1") {
                        $('#textShowMessage').html('@Local["Trùng dữ liệu"]');
                    } else {
                        notiError_SW();
                    }
                });
        }
        return false;
    }

</script>

<script>js_require('/js/comon/initialize_setting.js')</script>
<script>js_require('/js/main.js')</script>
<script>js_require_notasync('/js/customjs/custom-validation.js')</script>