@page
@model MLunarCoffee.Pages.Customer.Installment.InstallmentDetail
@{
    Layout = null;
}
<div class="card">
    <div class="card-header pb-0">
        <div class="d-lg-flex">
            <div class="w-50 col-auto my-auto">
                <div class="h-100">
                    <h6 id="ind_servicename" class="mb-0 text-primary fw-bold"></h6>
                    <p id="ind_serviceinfo" class="text-sm mb-0"></p>
                </div>
            </div>
            <div class="ms-auto my-auto mt-1">

            </div>
        </div>

    </div>

    <div class="card-body pt-2">
        <div class="row px-1 form3 position-relative" id="indform">
            <div id="ind_wait" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x d-none">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-5 px-1 mt-2 flex-grow-1">
                <div class="text-dark card-plain ">
                    <div class="card-body mt-0 p-3 bg-gray-100 border-radius-lg">
                        <div class="ps-1 pt-0 text-dark text-sm">
                            <p class="mb-0 text-sm mt-3">@Local["Giá tiền"]</p>
                            <p id="ind_price" class="text-sm font-weight-bold my-auto"></p>
                            <hr class="horizontal dark">
                            <p class="mb-0 text-sm mt-3">@Local["Đã thanh toán"]</p>
                            <p id="ind_paid" class="text-sm font-weight-bold my-auto"></p>
                            <hr class="horizontal dark">
                            <p class="mb-0 text-sm mt-3">@Local["Tình trạng"]</p>
                            <p id="ind_status" class="text-sm font-weight-bold my-auto"></p>

                        </div>
                    </div>
                    <div class="row  px-3">
                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                            <label>@Local["Số tháng"]</label>
                            <input id="ind_term" class="form-control" type="number"
                                   min="1" max="100"
                                   onchange="event.preventDefault(); Ind_Calculator();"
                                   placeholder="@Local["Số tháng"]" />
                        </div>
                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                            <label>@Local["Ngày trả"]</label>
                            <input id="ind_date" class="form-control" type="number"
                                   min="1" max="31"
                                   onchange="event.preventDefault(); Ind_Calculator();"
                                   placeholder="@Local["Ngày trả"]" />
                        </div>
                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                            <label>@Local["Trả trước"] %</label>
                            <input id="ind_prepercent" class="form-control" type="number"
                                   placeholder="@Local["Trả trước"]"
                                   onchange="event.preventDefault(); Ind_PercentChange();">
                        </div>
                        <div class="field col-12 col-md-6 col-xl-6 px-1 mt-2 flex-grow-1">
                            <label>@Local["Trả trước"]</label>
                            <input id="ind_preamount" placeholder="@Local["Trả trước"]"
                                   onchange="event.preventDefault(); Ind_Calculator();"
                                   class="form-control" type="text" />
                        </div>
                        <div class="field col-12 col-md-12 col-xl-12 px-1 mt-2 flex-grow-1">
                            <label class="pt-2">
                                @Local["Thanh toán"] / 1 @Local["Kỳ hạn"]
                                <p class="py-0 text-danger text-sm mb-0 pb-0">@Local["Tiền dự trù thanh toán trong 1 kỳ"]</p>
                            </label>

                            <input id="ind_amount1time" placeholder="@Local["Thanh toán"] / 1 @Local["Kỳ hạn"]" class="form-control" type="text" disabled />

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-7 px-1 mt-2 flex-grow-1 mt-lg-n5  px-3">
                <div class="text-sm ps-2">
                    <h6 class="mb-0">@Local["Trả góp"]</h6>
                    <p class="text-sm mb-0">@Local["Thông tin trả góp"]</p>
                </div>
                <div class="card-body m-3 mt-0 p-3 border-radius-lg mx-0 px-2">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="ps-1">
                                    <span class="mb-0 text-sm text-dark fw-bold">@Local["Kỳ hạn"]</span>
                                </th>
                                <th class="ps-1">
                                    <div class="mb-0 text-sm text-dark fw-bold">@Local["Số tiền"]</div>
                                </th>
                                <th class="ps-1">
                                    <div class="mb-0 text-sm text-dark fw-bold">@Local["Đã thanh toán"]</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="ind_datatemp">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="card-footer p-2 fixed-botombutton">
            <div class="action_Save mt-2 d-flex align-items-center">
                <div class="text-danger text-gradient pe-3  text-sm font-weight-bold" id="ind_Message"></div>
                <button class="btn btn-secondary my-0 me-2" onclick="CloseModal()">@Local["Đóng"]</button>
                <button id="ind_btncancel" class="btn bg-gradient-danger my-0  me-2 d-none" onclick="ind_Cancel()">@Local["Hủy"]</button>
                <button id="ind_btnsave" type="button" class="btn bg-gradient-primary my-0 me-2 d-none" onclick="ind_Save()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    let _InstallTabID = '@Model._TabID';
    let _InstallViewonly = '@Model._Viewonly';

    let _InstallPrice = 0;
    let _InstallPaid = 0;
    let _Indflag = 0;
    $(document).ready(function() {
        Ind_LoadDetail();
        $('#ind_preamount').divide();
        $('#ind_amount1time').divide();

    });
    function Ind_LoadDetail () {
        AjaxLoad(url = "/Customer/Installment/InstallmentDetail/?handler=LoadDetail"
            , data = {
                'TabID': _InstallTabID,
            }
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                let data = JSON.parse(result);
                if (data != undefined && data.length == 1) {
                    let item = data[0];
                    $('#ind_term').val(item.Term);
                    $('#ind_date').val(item.Dateday);
                    $('#ind_preamount').val(item.PrepayAmount);
                    $('#ind_servicename').html(item.ServiceName);
                    let info = '';
                    if (ser_sys_DentistCosmetic == 1 && item.TeethChoosing != '') {
                        info = Fun_GetTeeth_ByToken(sys_MainTeeth, item.TeethChoosing, item.TeethType);
                    }
                    else {
                        if (ser_sys_DentistCosmetic == 1) info = Outlang["So_luong"] + ' : ' + item.Quantity;
                        else info = Outlang["So_luong"] + ' : ' + item.Quantity + ' , ' + Outlang["Lan_dieu_tri"] + ' : ' + item.TimeToTreatment;
                    }
                    $('#ind_serviceinfo').html(info);
                    $('#ind_price').html(formatNumber(item.Price));
                    $('#ind_paid').html(formatNumber(item.Paid) );
                    _InstallPrice = item.Price;
                    _InstallPaid = item.Paid;

                    if (item.Paid == 0 && _InstallViewonly==0) {
                        if (item.IsInstall == 1) $('#ind_btncancel').removeClass('d-none');
                        $('#ind_btnsave').removeClass('d-none');
                    } else $("#indform input").prop('disabled', true);
                    if (item.IsInstall == 1) {
                        if (item.Paid == item.Price) $("#ind_status").html(`<span class="text-success">@Local["Hoàn thành"]</span>`);
                        else $('#ind_status').html(`<span class="text-danger">@Local["Chưa hoàn thành"]</span>`);
                    }
                    else $('#ind_status').html(`<span class="text-info">@Local["Chưa đăng ký"]</span>`);

                    _Indflag = 1;
                    Ind_Calculator();
                }

            }
            , sender = null
            , before = function (e) {
                $('#ind_wait').show();
            }
            , complete = function (e) {
                $('#ind_wait').hide();
            }
        );
    }
    function Ind_PercentChange()
    {
        if (_Indflag == 1) {
            _Indflag = 0;
            let v = $('#ind_prepercent').val();
            if (!isNaN(v)) {
                let numv = Number(v);
                if (numv <= 100 && numv >= 0) {
                    let valueamount = ((_InstallPrice * numv) / 100).toFixed();
                    $('#ind_preamount').val(valueamount);
                }
            }
            _Indflag = 1;
            Ind_Calculator();
        }
    }
    function Ind_Calculator()
    {
        if (_Indflag == 1) {
            _Indflag = 0;
            let isrule = 0;
            let preamount = $('#ind_preamount').val();
            let term = $('#ind_term').val();
            let dayin = $('#ind_date').val();
            if (!isNaN(term) && !isNaN(preamount) && !isNaN(dayin)) {
                let numterm = Number(term);
                let numpreamount = Number(preamount);
                if (numterm > 0 && numterm < 100
                    && dayin > 0 && dayin < 32
                    && numpreamount >= 0 && _InstallPrice >= numpreamount) {
                    isrule = 1;
                }
            }
            if (isrule == 1) {
                let _amount1time = Math.floor((_InstallPrice - Number(preamount)) / Number(term));
                _amount1time = Math.round(_amount1time / 1000) * 1000;
                $('#ind_amount1time').val(_amount1time);
                let datadetail = [];
                let indextotal = 0;
                let indexpaid = 0;
                let _total = _InstallPrice - Number(preamount);
                indexpaid = _InstallPaid;

                let pree = {};
                pree.Index = 0;
                pree.Amount = preamount;
                if (indexpaid >= preamount) {indexpaid = indexpaid - preamount; pree.Paid = preamount;}
                else {pree.Paid = indexpaid; indexpaid = 0;}
                datadetail.push(pree);

                if (term == 1) {
                    let e = {};
                    e.Index = 1;
                    e.Amount = _total;
                    if (indexpaid >= _total) {indexpaid = indexpaid - _total; e.Paid = _total;}
                    else {e.Paid = indexpaid; indexpaid = 0;}

                    datadetail.push(e);
                }
                else {
                    for (let i = 0; i < term; i++) {
                        let e = {};
                        e.Index = (i + 1);
                        if (i == term - 1) {
                            e.Amount = _total - indextotal;
                        }
                        else {
                            e.Amount = _amount1time;
                            indextotal = indextotal + _amount1time;
                        }

                        if (indexpaid >= e.Amount) {indexpaid = indexpaid - e.Amount; e.Paid = e.Amount;}
                        else {e.Paid = indexpaid; indexpaid = 0;}
                        datadetail.push(e);
                    }
                }
                Ind_FillDetail("ind_datatemp", datadetail);
                $('#ind_Message').html('');
            }
            else {
                $('#ind_preamount').val(0);
                $('#ind_term').val(1);
                $('#ind_date').val(1);
                $('#ind_Message').html(Outlang["Kiem_tra_du_lieu"]);

            }
            _Indflag = 1;
        }
    }
    async function Ind_FillDetail (id, data) {
        return new Promise(resolve => {

            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = '';
                        if (item.Index == 0) {
                            tr = `<tr class="bg-gray-100">
                            <td class="ps-1">
                                <a class="cursor-pointer mb-0 fw-bold text-sm border-primary">@Local["Trả trước"]</a>
                            </td>
                            <td class="text-dark text-sm">${formatNumber(item.Amount)}</td>
                            <td class="text-dark text-sm">${formatNumber(item.Paid)}</td>
                            </tr>`;
                        }
                        else {
                             tr = `<tr>
                            <td class="ps-1">
                                <a class="cursor-pointer mb-0 fw-bold text-sm border-primary">@Local["Kỳ hạn"]: ${item.Index}</a>
                            </td>
                            <td class="text-dark text-sm">${formatNumber(item.Amount)}</td>
                            <td class="text-dark text-sm">${formatNumber(item.Paid)}</td>
                        </tr>`;
                        }
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
            }
            resolve();
        });
    }
    function ind_Cancel()
    {
        const promise = notiConfirm();
        promise.then(function () {
            AjaxLoad(url = "/Customer/Installment/InstallmentDetail/?handler=Cancel"
                , data = {
                    'TabID': _InstallTabID,
                }
                , async = true
                , error = function () {notiError_SW()}
                , success = function (result) {
                    if (result != "0") {
                        CloseModal();
                        if (typeof TIN_Ini === 'function') TIN_Ini(_InstallTabID,0);
                        notiSuccess();
                    }
                    else notiError();
                }
                , sender = null
            );
        }, function () { });
    }
    function ind_Save () {
        let term = $("#ind_term").val() ? $("#ind_term").val() : "";
        let date = $("#ind_date").val() ? $("#ind_date").val() : "";
        let preamount = $("#ind_preamount").val() ? $("#ind_preamount").val() : "";
        AjaxLoad(url = "/Customer/Installment/InstallmentDetail/?handler=Executed"
            , data = {
                'TabID': _InstallTabID,
                'term': term,
                'preamount': preamount,
                'dayinmonth': date,
            }
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                if (result != "0") {
                    CloseModal();
                    if (typeof TIN_Ini === 'function') TIN_Ini(_InstallTabID,0);
                    notiSuccess();
                }
                else notiError();
            }
            , sender = $('#ind_btnsave')
        );
    }
</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>


