@page
@model MLunarCoffee.Pages.Customer.Installment.InstallmentList
@{
    Layout = null;
}
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/main.js');</script>

<div class="container-fluid py-3 px-0">

    <div class="card p-3">
        <div class="card-header p-2 pb-2">
            <div class="d-lg-flex">
                <ul class="nav nav-pills p-1 bg-transparent permissionlist" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link cursor-pointer  " data-bs-toggle="collapse" href="#TNI_infodes">
                            <i class="text-gradient text-lg text-primary fas fa-info-circle"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="TNI_infodes" class="border-dashed border-1 border-secondary border-radius-md p-3 text-sm text-dark ms-1 mb-2 mt-2 multi-collapse collapse">
                <h6 class="mb-0">@Local["Trả góp"]</h6>
                <p class="text-sm mb-0">@Local["Thông tin trả góp"]</p>
            </div>
        </div>
        <div class="row mb-2 position-relative">
            <div id="TIN_waiting" class="position-absolute top-0 start-50 translate-middle-x waitingdiv text-center z-index-sticky" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col-md-5 col-lg-3 pe-0">
                <div class="position-sticky top-0" style=" transition:top 500ms ease-in-out;">
                    <div class="card-body pe-0 py-2 ps-2 ">
                        <a class="align-items-center d-flex nav-link p-0 text-body ms-2" style="min-height: 26px">
                            <div class="form-check pe-1">
                                <input  onchange="event.preventDefault();return TNI_Filtertype(0);" name="radioinstall"
                                       class="form-check-input cursor-pointer" type="radio" checked>
                                <label class="form-check-label mb-0 me-3">
                                    @Local["Tất cả"]
                                </label>
                            </div>
                            <div class="form-check">
                                <input onchange="event.preventDefault();return TNI_Filtertype(1);" name="radioinstall"
                                       class="form-check-input cursor-pointer" type="radio">
                                <label class="form-check-label mb-0">
                                    @Local["Trả góp"]
                                </label>
                            </div>
                        </a>
                        <div class="input-group mt-2 pt-2" id="TNI_Filter">
                            <span class="input-group-text px-2">
                                <i class="fas fa-search" area-hidden="true"></i>
                                <div class="spinner-border spinner-border-sm" style="display:none;"></div>
                            </span>
                            <input id="TNI_InputFilter" type="text" class="form-control" placeholder="eg. @Local["Tìm kiếm"]">
                            <span class="input-group-text"><i class="btn_clear fas fa-minus-circle opacity-1"></i></span>
                        </div>

                        <div class="overflow-y ps-1 mt-2" style="max-height:calc(100vh - 200px)">
                            <ul id="TIN_Master" class="nav nav-pills flex-column bg-white border-radius-lg p-0 mt-2">
                            </ul>
                        </div>
                        <button id="TIN_btnloadmore"  class="btn btnsysmore btn-secondary w-100 p-1" onclick="TIN_Ini(0,1)" >
                            @Local["Xem thêm"]
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 mt-4 flex-grow-1 pe-0">
                <div class="p-3 pt-2 ps-0 position-relative mt-n0 mt-lg-n5 pe-0">
                    <div class="text-dark mb-3">
                        <div class="card-body m-3 mt-0 p-3 px-2 pe-1">
                            <div id="TINDetail_wait" class="waitingdiv text-center position-absolute top-0 start-50 translate-middle-x d-none">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div id="TINDetail_areainfo" class="d-none row px-2">
                                <div class="col-12 col-sm-12 col-xl-6 p-1">
                                    <div class="text-dark card  mb-3">
                                        <div class="card-header pb-0">
                                            <div class="d-flex">
                                                <div>
                                                    <h6 id="tind_servicename" class="text-primary mb-0"></h6>
                                                    <p id="tind_serviceinfo" class="text-dark text-sm"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body m-3 mt-0 p-3 bg-gray-100 border-radius-lg">
                                            <div class="ps-1 pt-0 text-dark text-sm">
                                                <p class="mb-0 text-sm mt-3">@Local["Người tạo"] / @Local["Ngày tạo"]</p>
                                                <p id="tind_creator" class="text-sm font-weight-bold my-auto"></p>
                                                <hr class="horizontal dark">
                                                <p class="mb-0 text-sm mt-3">@Local["Chi nhánh"]</p>
                                                <p id="tind_branch" class="text-sm font-weight-bold my-auto"></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-xl-6 p-1">
                                    <div class="text-dark card mb-3">
                                        <div class="card-header pb-0">
                                            <div class="d-flex">
                                                <div>
                                                    <h6 class="mb-0 ">@Local["Trả góp"]</h6>
                                                    <p class="text-dark text-sm">@Local["Chi tiết trả góp"]</p>
                                                </div>
                                                <div class="ms-auto">
                                                    <button id="tind_btnnewedit" class=" btn btn-sm bg-gradient-info mb-0" type="button" name="button"
                                                            onclick="event.preventDefault(); return TINDetail_NewEdit();">
                                                        @Local["Trả góp"]
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body m-3 mt-0 p-3 bg-gray-100 border-radius-lg">
                                            <div class="ps-1 pt-0 text-dark text-sm">
                                                <p class="mb-0 text-sm mt-3">@Local["Đã thanh toán"] / @Local["Giá tiền"]</p>
                                                <p id="tind_installpaid" class="text-sm font-weight-bold my-auto d-inline"></p>
                                                <p id="tind_installterm" class="fw-bold ps-2 text-primary text-sm my-auto d-inline"></p>
                                                <hr class="horizontal dark">
                                                <div id="tind_havearea" class="d-flex align-items-center pe-0 mt-n1 d-none">
                                                    <div class="ps-0 justify-content-center">
                                                        <p class="mb-0 opacity-5 text-sm mt-1">@Local["Trả trước"]</p>
                                                        <p id="tind_installpre" class="fw-bold text-sm my-auto"></p>
                                                    </div>
                                                    <div class="ps-5 justify-content-center">
                                                        <p class="mb-0 opacity-5 text-sm mt-1">@Local["Ngày trả"]</p>
                                                        <p id="tind_installdate" class="fw-bold text-sm my-auto"></p>
                                                    </div>
                                                    <div class="ps-5 justify-content-center">
                                                        <p class="mb-0 opacity-5 text-sm mt-1">@Local["Tình trạng"]</p>
                                                        <p id="tind_installstatus" class="fw-bold text-sm my-auto"></p>
                                                    </div>
                                                </div>
                                                <div id="tind_nonarea" class="card-body m-0 p-1  bg-gray-100 border-radius-lg d-none">
                                                    <h6 class="text-danger mt-1">@Local["Không có nội dung"]</h6>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-2">
                                <div class="d-flex">
                                    <div>
                                        <h6 class="mb-0 ">@Local["Thanh toán"]</h6>
                                        <p class="text-dark text-sm">@Local["Chi tiết thông tin thanh toán"]</p>
                                    </div>
                                    <div class="ms-auto">
                                        <button id="tind_btnnprint" class="d-none btn btn-sm bg-gradient-info mb-0 me-3" type="button" name="button"
                                                onclick="event.preventDefault(); return TINDetail_Print();">
                                            @Local["In"]
                                        </button>
                                    </div>
                                </div>

                                <div id="TINDetail_Nondata" class="card-body m-3 mt-0 p-3 bg-gray-100 border-radius-lg">
                                    <h6 class="text-danger">@Local["Chưa có dữ liệu"]</h6>
                                </div>
                                <div id="TINDetail_Havedata" class="d-none card-body m-3 mt-0 p-3 border-radius-lg mx-0 px-2">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>

                                                <th class="ps-1">
                                                    <span class="mb-0 text-sm text-dark fw-bold">@Local["Mã hoá đơn"]</span>
                                                </th>
                                                <th class="ps-1">
                                                    <p class="mb-0 text-sm text-dark fw-bold">@Local["Ngày thanh toán"]</p>
                                                </th>
                                                <th class="ps-1">
                                                    <div class="mb-0 text-sm text-dark fw-bold">@Local["Số tiền"]</div>
                                                </th>
                                                <th class="ps-1">
                                                    <span class="mb-0 text-sm text-dark fw-bold">@Local["Người tạo"]</span>
                                                </th>
                                                <th class="ps-1">
                                                    <span class="mb-0 text-sm text-dark fw-bold">@Local["Hình thức"]</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="TINDetail_Datapaid">
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script type="text/javascript">
    let TNI_DataFill;
    let TNI_TimerOnchange;
    let TNI_Limit = 50;
    let TNI_Begin = 0;
    var ser_CustomerInstallID = '@Model._CustomerInstallID';
    var ser_CurrentTabInstallID = 0;
     $(document).ready(function () {
         TIN_Ini(0,0);
         TNI_FilterSearch();
     });

    //#region //filter
    function TNI_FilterSearch () {
        $('#TNI_Filter #TNI_InputFilter').unbind('keyup').on('keyup', function () {
            let SearchText = xoa_dau($('#TNI_InputFilter').val().toLowerCase().trim());
            if (SearchText.length > 0) $('#TNI_Filter .btn_clear').removeClass('opacity-1');
            else $('#TNI_Filter .btn_clear').addClass('opacity-1');
            $("#TNI_Filter .fa-search").hide();
            $("#TNI_Filter .spinner-border").show();
            clearTimeout(TNI_TimerOnchange);

            TNI_TimerOnchange = setTimeout(function (e) {
                if (SearchText == '') {
                    $('#TIN_Master .nav-item').each(function () {
                        $(this).removeClass('d-none');
                    })
                }
                else {
                    for (let i = 0; i < TNI_DataFill.length; i++) {
                        let item = TNI_DataFill[i];
                        let ServiceName = xoa_dau(item.ServiceName).toLowerCase().trim();
                        if (ServiceName.includes(SearchText)) {
                            $('#TIN_Master .nav-item[data-key="' + item.ID + '"]').removeClass('d-none');
                        }
                        else {
                            $('#TIN_Master .nav-item[data-key="' + item.ID + '"]').addClass('d-none');
                        }
                    }
                }
                $("#TNI_Filter .fa-search").show();
                $("#TNI_Filter .spinner-border").hide();
            }, 200)
        })
        $('#TNI_Filter .btn_clear').unbind('click').on('click', function () {
            $('#TNI_Filter #TNI_InputFilter').val('');
            $('#TNI_Filter .btn_clear').addClass('opacity-1');
            $('#TIN_Master .nav-item').each(function () {
                $(this).removeClass('d-none');
            });
        })
    }
    function TNI_Filtertype (_type) {
        if (_type == 1) {
            $('#TIN_Master .nav-item').addClass('d-none');
            $('#TIN_Master .finish').each(function () {
                $(this).removeClass('d-none');
            });
            $('#TIN_Master .nonfinish').each(function () {
                $(this).removeClass('d-none');
            });
        }
        else $('#TIN_Master .nav-item').removeClass('d-none');
    }
    //#endregion

    //#region // Master
    function TIN_Ini (tabid, more) {
        if (more == 0) {TNI_Begin = 0; TNI_DataFill = [];}
        AjaxLoad(url = "/Customer/Installment/InstallmentList/?handler=LoadService"
            , data = {
                'CustomerID': ser_CustomerInstallID,
                'TabID': tabid,
                'Limit': TNI_Limit,
                'BeginID': TNI_Begin,
            }
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                let data = JSON.parse(result);

                if (data.length != 0) {
                    TNI_Begin = data[data.length-1].ID;
                    data = data.filter(v => v.IsInstall === 1 || v.Paid === 0);
                    if (tabid != 0) {
                        let item = data[0];
                        for (let i = 0; i < TNI_DataFill.length; i++) {
                            if (TNI_DataFill[i].ID == item.ID) {
                                TNI_DataFill[i] = item;
                                break;
                            }
                        }
                        let tr = TIN_RenderEach(item);
                        $('#installser_' + tabid).replaceWith(tr);
                        TIN_Event();
                        $('#installser_' + tabid + ' a').trigger('click');
                    }
                    else {
                        TNI_DataFill = TNI_DataFill.concat(data);

                        if (more == 1) TIN_Render("TIN_Master", TNI_DataFill, function () { });
                        else TIN_Render("TIN_Master", TNI_DataFill, function () {$("#TIN_Master a").first().trigger('click');});
                    }
                }
                else $('#TIN_btnloadmore').remove();

            }
            , sender = null
            , before = function (e) {
                $('#TIN_waiting').show();
            }
            , complete = function (e) {
                $('#TIN_waiting').hide();
            }
        );
    }
    async function TIN_Render (id, data,callback) {
        return new Promise(resolve => {
            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = TIN_RenderEach(item);
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
                TIN_Event();
                if (callback!= undefined) callback();
            }
            resolve();
        });
    }
    function TIN_RenderEach (item) {
        let teethname = '', status = '', statusicon;
        if (item.IsInstall == 0) {
                            status = 'nonregis';
                            statusicon = `<i class="text-secondary mt-2 pt-1 far fa-circle-notch text-sm"
                            data-bs-toggle="tooltip" ></i>`
                        }
         else {
                            if (item.Price == item.Paid) {
                                status = 'finish';
                                statusicon = `<i class="text-success mt-2 pt-1  fas fa-check text-sm"
                                data-bs-toggle="tooltip" title=""
                                data-bs-original-title="@Local["Hoàn thành"]" aria-label="@Local["Hoàn thành"]"></i>`
                            }
                            else {
                                status = 'nonfinish';
                                statusicon = `<i class="text-danger mt-2 pt-1 fas fa-registered text-sm"
                                data-bs-toggle="tooltip" title=""
                                data-bs-original-title="@Local["Chưa hoàn thành"]" aria-label="@Local["Chưa hoàn thành"]"></i>`
                            }
        }
        if (ser_sys_DentistCosmetic == 1 && item.TeethChoosing!='') {
                            teethname = `<i class="vtt-icon vttech-icon-labo text-xs text-dark ms-n1"></i>`
                                + Fun_GetTeeth_ByToken(sys_MainTeeth, item.TeethChoosing, item.TeethType);
                        }
        let tr = `<li id="installser_${item.ID}" class="nav-item ${status} " role="presentation" data-key="${item.ID}">
                                    <div class="w-100">
                                        <div class="d-flex">
                                            ${statusicon}
                                            <div class="w-100">
                                                <a class="nav-link nav-detail text-body pe-0 ms-n3  ps-4" data-id="${item.ID}">
                                                    <div class="d-inline mb-2">
                                                        <p class="text-secondary text-sm text mt-1 mb-0 d-inline">${GetDateTime_String_DMY(item.Created)}</p>
                                                        <span class="ps-2 text-sm mt-1 mb-0 text-secondary">
                                                            ${teethname}
                                                        </span>
                                                    </div>
                                                    <h6 class="text-dark text-sm font-weight-bold mb-0">${item.ServiceName}</h6>

                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <hr class="horizontal dark my-0 opacity-5">
                                </li>`;
        return tr;
    }
    function TIN_Event () {
        ToolPopper();
        $('#TIN_Master .nav-detail').unbind('click').click(function () {
            $('#TIN_Master .nav-detail').removeClass("active");
            $(this).addClass("active");
            let id = $(this).attr("data-id");
            if (id && id != '') {
                ser_CurrentTabInstallID = id;
                TIND_LoadDetail(id);
            }
        })
    }
    //#endregion

    //#region // Detail
    function TIND_LoadDetail (id) {
        AjaxLoad(url = "/Customer/Installment/InstallmentList/?handler=LoadDetail"
            , data = {
                'TabID': id,
            }
            , async = true
            , error = function () {notiError_SW()}
            , success = function (result) {
                let datas = JSON.parse(result);
                let datainfo = datas.Table;
                let datadetail = datas.Table1;
                if (datainfo != undefined && datainfo.length == 1) TIND_Fillinfo(datainfo[0]);
                if (datadetail != undefined) {
                    if (datadetail.length == 0) {
                        $('#TINDetail_Nondata').removeClass('d-none');
                        $('#TINDetail_Havedata').addClass('d-none');
                    }
                    else {
                        $('#TINDetail_Havedata').removeClass('d-none');
                        $('#TINDetail_Nondata').addClass('d-none');
                    }
                     TIND_FillDetail("TINDetail_Datapaid", datadetail);
                }

            }
            , sender = null
            , before = function (e) {
                $('#TINDetail_wait').show();
            }
            , complete = function (e) {
                $('#TINDetail_wait').hide();
            }
        );
    }
    async function TIND_Fillinfo (item) {
         return new Promise(resolve => {
            $('#tind_servicename').html(item.ServiceName);
            let info = '';
             if (ser_sys_DentistCosmetic == 1 && item.TeethChoosing != '') {
                 info = Fun_GetTeeth_ByToken(sys_MainTeeth, item.TeethChoosing, item.TeethType);
             }
             else {
                 if (ser_sys_DentistCosmetic == 1) info = Outlang["So_luong"] + ' : ' + item.Quantity;
                 else info = Outlang["So_luong"] + ' : ' + item.Quantity + ' , ' + Outlang["Lan_dieu_tri"] + ' : ' + item.TimeToTreatment;
             }
             $('#tind_serviceinfo').html(info);
             $('#tind_creator').html(item.Creator + ' / ' + GetDateTime_String_DMY(item.Created));
             $('#tind_branch').html(item.BranchName);

             if (item.IsInstall == 1) {
                 $('#tind_havearea').removeClass('d-none');
                 $('#tind_nonarea').addClass('d-none');
                 $('#tind_installterm').html(Outlang["Thang_tra_gop"] + ' : ' + formatNumber(item.Term));
                 $('#tind_installpre').html(formatNumber(item.PrepayAmount));
                 $('#tind_installdate').html(item.Dateday);
                 if (item.Paid == item.Price)
                     $('#tind_installstatus').html(
                         `<span class="text-success">@Local["Hoàn thành"]</span>`);
                 else
                       $('#tind_installstatus').html(
                           `<span class="text-danger">@Local["Chưa hoàn thành"]</span>`);


             }
             else {
                 $('#tind_havearea').addClass('d-none');
                 $('#tind_nonarea').removeClass('d-none');
                 $('#tind_installterm').html('');
             }

             $('#tind_installpaid').html(formatNumber(item.Paid) + ' / ' + formatNumber(item.Price));
             if (item.Paid != 0) {

                 $('#tind_btnnprint').removeClass('d-none');
             }
             else {

                 $('#tind_btnnprint').addClass('d-none');
             }
             $('#TINDetail_areainfo').removeClass('d-none');
            resolve();
        });
    }
    async function TIND_FillDetail (id, data) {
        return new Promise(resolve => {

            var myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let tr = `<tr>
                            <td class="ps-1">
                                <a class="cursor-pointer mb-0 fw-bold text-sm border-bottom border-primary" data-code="${item.InvoiceNum}">${item.InvoiceNum}</a>
                            </td>
                            <td class="text-dark text-sm">${GetDateTime_String_DMY(item.Created)}</td>
                            <td class="text-dark text-sm">${formatNumber(item.Amount)}</td>
                            <td class="text-dark text-sm">${item.Creator}</td>
                            <td class="text-dark text-sm">${item.Method}</td>
                        </tr>`;
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
            }
            resolve();
        });
    }
    function TINDetail_NewEdit () {
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load("/Customer/Installment/InstallmentDetail?TabID=" + ser_CurrentTabInstallID );
        $('#DetailModal').modal('show');
    }
    function TINDetail_Print () {
        let code = $('#TINDetail_Datapaid td').children().attr('data-code');
        syslog_cutinta('p', code, ser_CustomerInstallID);
        $("#DetailModal_Content").html('');
        $("#DetailModal_Content").load('/Print/print?Type=installment_form&DetailID=' + ser_CurrentTabInstallID);
        $('#DetailModal').modal('show');
    }
     //#endregion

</script>
