@page
@model MLunarCoffee.Pages.Card.Setting.ServiceCardDiscountModel
@{
    Layout = null;
}

<div class="container-fluid py-3 px-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Cập nhật thẻ trả trước"]</h6>
                                <p class="text-sm mb-0">@Local["Cấu hình chi tiết giảm giá khi sử dụng thẻ"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto mt-1">
                           
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 ">
                    <div class="row px-2 mt-3">
                        <div class="field col-12 col-sm-4 p-1">
                            <div>
                                <div class="form-check">
                                    <input id="SCDetail_CheckTypeAll" type="checkbox" class="form-check-input pr-2">
                                    <label class="custom-control-label" for="SCDetail_CheckTypeAll">@Local["Áp dụng cho tất cả dịch vụ/sản phẩm"]</label>
                                </div>
                            </div>
                            <div class="position-relative">
                                <input id="Discount_NumAll" onchange="event.preventDefault(); return SCDetail_Onchange_DiscountAll();" class="border-right-0 form-control" type="text" placeholder="@Local["Chiết khấu"]">
                                <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="Discount_TypeAll" onchange="event.preventDefault(); return SCDetail_Onchange_DiscountAll();">
                                    <i class="dropdown icon"></i>
                                    <input type="hidden" name="" />
                                    <div class="default text"></div>
                                    <div class="menu transition hidden" tabindex="-1">
                                        <div class="item" data-value="1">%</div>
                                        <div class="item" data-value="2">VND</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 p-1 mt-2">
                            <div class="d-flex gap-3">
                                <div class="form-check">
                                    <input id="SCDetail_CheckSer" type="checkbox" class="form-check-input pr-2">
                                    <label class="custom-control-label" for="SCDetail_CheckSer">@Local["Áp dụng theo dịch vụ/sản phẩm"]</label>
                                </div>
                                <div class="form-check">
                                    <input id="SCDetail_CheckSerType" type="checkbox" class="form-check-input pr-2">
                                    <label class="custom-control-label" for="SCDetail_CheckSerType">@Local["Áp dụng theo nhóm dịch vụ/sản phẩm"]</label>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="row px-2">
                        <div class="col-12 p-1">
                            <div class="field col-12 col-sm-4">
                                <div class="input-group mt-2" id="SCDetail_SearchContent">
                                    <input id="SCDetail_SearchInput" type="text" class="ps-2 form-control" placeholder="eg .@Local["Tìm kiếm"]" autocomplete="off">
                                    <span class="input-group-text px-3 p-0">
                                        <i class="btnsear_clear fas fa-minus-circle opacity-1"></i>
                                        <div class="spinner-border spinner-border-sm" style="display:none;"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane px-0 mt-2" data-tab="content" role="tabpanel">
                            <div class="pb-0">
                                <div class="my-auto mt-1">
                                    <ul class="nav nav-pills p-1 bg-transparent tabcard mb-2" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-tab="discount_service_type" data-bs-toggle="pill" data-bs-target="#SCD_DiscountST" role="tab">@Local["Nhóm dịch vụ/sản phẩm"]</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link cursor-pointer" data-tab="discount_service" data-bs-toggle="pill" data-bs-target="#SCD_DiscountSer" role="tab">@Local["Dịch vụ/sản phẩm"]</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content ps-2">
                                <div class="tab-pane" id="SCD_DiscountSer" data-tab="discount_service_type" role="tabpanel">
                                    <div class="row px-2">
                                        <div class="col-12 col-sm-6 p-1">
                                            <div class="m-0 my-3 mobile-responsive max-height-vh-90">
                                                <table class="table vt-table mb-0" id="dtService_Content">
                                                    <thead>
                                                        <tr role="row">
                                                            <th style="width: 40px;">#</th>
                                                            <th>@Local["Dịch vụ/sản phẩm"]</th>
                                                            <th style="min-width: 250px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dtService_ContentBody">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 p-1">
                                            <h6 class="text-sm fw-bold mt-3 px-3">@Local["Nhóm dịch vụ/sản phẩm"]</h6>
                                            <ul class="list-group" id="SCD_SerListChoose">
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="SCD_DiscountST" data-tab="discount_service" role="tabpanel">
                                     <div class="row px-2">
                                        <div class="col-12 col-sm-6 p-1">
                                            <div class="m-0 my-3 mobile-responsive max-height-vh-90">
                                                <table class="table vt-table mb-0" id="dtServiceType_Content">
                                                    <thead>
                                                        <tr role="row">
                                                            <th style="width: 40px;">#</th>
                                                            <th>@Local["Nhóm dịch vụ/sản phẩm"]</th>
                                                            <th style="min-width: 250px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dtServiceType_ContentBody">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 p-1">
                                            <h6 class="text-sm fw-bold mt-3 px-3">@Local["Nhóm dịch vụ/sản phẩm"]</h6>
                                            <ul class="list-group" id="SCD_SerTypeListChoose">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fixed-botombutton pe-2">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formServiceCard" onclick="event.preventDefault(); return SCD_CloseDetail()">@Local["Đóng"]</button>
                        <button id="ServiceCard_btnSave" form="formServiceCard" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer"
                                    onclick="event.preventDefault();return SCDetail_Execute()">
                            @Local["Lưu"]
                            </button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script>

    let SCDetail_CurrentID = ("@Model._CardID");
    var SCDetail_DataSerType = {}, SCDetail_DataSer = {};
    var SCDetail_Ruler = [];
    let SCDetail_FlagChange = 0;
    let SCDetail_TimeoutSearch;

    $(document).ready(function(){
        initNavs();
        $('.tabcard a:first').tab('show');
        $("#Discount_NumAll").divide();
        $("#Discount_TypeAll").dropdown({
            allowCategorySelection: true,
            forceSelection: false,
            transition: "fade up"
        });
        $("#Discount_TypeAll").dropdown('refresh');
        $("#Discount_TypeAll").dropdown('set selected', '2');
        SCDetail_Ruler = [
            { "type": "all", "active": 0, "percent": 0, "amount": 0, "value": [] }, 
            { "type": "servicetype", "active": 0, "percent": 0, "amount": 0, "value": [] },
            { "type": "service", "active": 0, "percent": 0, "amount": 0, "value": [] }];
        SCDetail_LoadInit();
        SCDetail_Search();
    })

    //#region // SEARCH

    function SCDetail_Search(){

        $('#SCDetail_SearchInput').keyup(function () {
            if ($(this).val().length > 0) $("#SCDetail_SearchContent .btnsear_clear").removeClass('opacity-1').addClass('d-none');
            else $("#SCDetail_SearchContent .btnsear_clear").addClass('opacity-1').addClass('d-none');
            $("#SCDetail_SearchContent .fa-search").hide();
            $("#SCDetail_SearchContent .spinner-border").show();
            clearTimeout(SCDetail_TimeoutSearch);
            SCDetail_TimeoutSearch = setTimeout(function (e) {
                let valueSearch = xoa_dau($('#SCDetail_SearchInput').val().toLowerCase()).trim();
                SCDetail_SearchExecute(valueSearch.replace(/[^a-zA-Z0-9 ]/g, ''));
            }, 500);
        });

        $("#SCDetail_SearchContent").on('click', '.btnsear_clear', function (e) {
            $('#SCDetail_SearchInput').val('');
            $(".btnsear_clear").addClass('opacity-1');
            $("#SCDetail_SearchContent .fa-search").show();
            $("#SCDetail_SearchContent .spinner-border").hide();
            SCDetail_SearchExecute()
        });

    }

    function SCDetail_SearchExecute(search = ''){
        if(search == ''){
            SCDetail_Render(SCDetail_DataSer, 'dtService_ContentBody', 1);
            SCDetail_Render(SCDetail_DataSerType, 'dtServiceType_ContentBody', 2);
        }
        else{
            let dataSerFilter = {};
            let dataSerTypeFilter = {};
            let dataSerArray = Object.entries(SCDetail_DataSer).filter(([key, value]) => xoa_dau(value.Name).toLowerCase().includes(search));
            let dataSerTypeArray = Object.entries(SCDetail_DataSerType).filter(([key, value]) => xoa_dau(value.Name).toLowerCase().includes(search));
            if(dataSerArray.length > 0) dataSerFilter = SCDetail_ParseArrayToKeyValue(dataSerArray);
            if(dataSerTypeArray.length > 0) dataSerTypeFilter = SCDetail_ParseArrayToKeyValue(dataSerTypeArray);
            SCDetail_Render(dataSerFilter, 'dtService_ContentBody', 1);
            SCDetail_Render(dataSerTypeFilter, 'dtServiceType_ContentBody', 2);
        }
        $("#SCDetail_SearchContent .fa-search").show();
        $("#SCDetail_SearchContent .spinner-border").hide();
        $("#SCDetail_SearchContent .btnsear_clear").removeClass('d-none');

    }

    //#endregion

    //#region // INIT

    function SCDetail_LoadInit() {
        AjaxLoad(url = "/Card/Setting/ServiceCardDiscount/?handler=LoadInitialize"
            , data = {
                CurrentID: SCDetail_CurrentID
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    SCDetail_ParseKeyValue(data.ServiceType, SCDetail_DataSerType);
                    SCDetail_ParseKeyValue(data.Service, SCDetail_DataSer);
                    SCDetail_Render(SCDetail_DataSer, 'dtService_ContentBody', 1);
                    SCDetail_Render(SCDetail_DataSerType, 'dtServiceType_ContentBody', 2)
                    SCDetail_FlagChange = 1;
                    SCDetail_LoadUpdate(data.Detail);
                } 
                else {
                    notiError_SW();
                }
            }
        );
    }

    //#endregion 

    //#region // RENDER DATA

    function SCDetail_Render(data, id, type) {
        var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            for ([key, value] of Object.entries(data)) {
                let tr = "";
                if (type == 1) {
                    tr = ' <td class="d-none">' + key + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>'
                        + '<div class="d-flex px-2 py-0">'
                        +'<div class="form-check pt-1">'
                        + '<input class="form-check-input mt-0 SerDiscount_Choose" type="checkbox" id="SerDiscount_Choose_' + key + '" onchange="event.preventDefault();SCDetail_ChooseItem(' + key + ',1)"></div>'
                        + '<div class="d-flex flex-column justify-content-center"><label class="mb-0 text-sm fw-normal cursor-pointer" for="SerDiscount_Choose_' + key + '" >' + value.Name + '</label>'
                        +'</div></div>'
                        + '</td>'
                        + ' <td>'
                        + '<div class="position-relative" >'
                        + '<input id="SerDiscount_Num_' + key + '" disabled="disabled" value="0" class="border-right-0 form-control money" name="discountOther" type="text" placeholder="eg .@Local["Tiền chiết khấu"]" onchange="event.preventDefault();SCDetail_Onchange_DiscountItem(' + key + ',1);" />'
                        + '<div class="ui fluid search selection dropdown form-control disabled position-absolute end-0 top-0 w-auto ps-2 pe-5" id="SerDiscount_Type_' + key + '" onchange="event.preventDefault();return SCDetail_Onchange_DiscountItem(' + key + ',1);">'
                        + '<i class="dropdown icon"></i>'
                        + '<input type="hidden" name="name" />'
                        + '<div class="default text"></div>'
                        + '<div class="menu transition hidden" tabindex="-1">'
                        + '<div class="item" data-value="1" >%</div>'
                        + '<div class="item active selected" data-value="2">VND</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</td>'
                }
                if (type == 2) {
                    tr = '<td class="d-none">' + key + '</td>'
                        + '<td class="vt-number-order"></td>'
                        + '<td>' 
                        + '<div class="d-flex px-2 py-0">'
                        +'<div class="form-check pt-1">'
                        + '<input class="form-check-input mt-0 SerDiscount_Choose" type="checkbox" id="SerTypeDiscount_Choose_' + key + '" onchange="event.preventDefault();SCDetail_ChooseItem(' + key + ',2)"></div>'
                        + '<div class="d-flex flex-column justify-content-center"><label class="mb-0 text-sm fw-normal cursor-pointer" for="SerTypeDiscount_Choose_' + key + '" >' + value.Name + '</label>'
                        +'</div></div>'
                        + '</td>'
                        + '<td>'
                        + '<div class="position-relative">'
                        + '<input id="SerTypeDiscount_Num_' + key + '" disabled="disabled" value="0" class="border-right-0 form-control money" name="discountOther" type="text" placeholder="eg .@Local["Tiền chiết khấu"]" onchange="event.preventDefault();SCDetail_Onchange_DiscountItem(' + key + ',2);" />'
                        + '<div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5 disabled" id="SerTypeDiscount_Type_' + key + '" onchange="event.preventDefault();return SCDetail_Onchange_DiscountItem(' + key + ',2);">'
                        + '<i class="dropdown icon"></i>'
                        + '<input type="hidden" name="name" />'
                        + '<div class="default text"></div>'
                        + '<div class="menu transition hidden" tabindex="-1">'
                        + '<div class="item" data-value="1">%</div>'
                        + '<div class="item active selected" data-value="2">VND</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</td>'
                }
                stringContent = stringContent + '<tr role="row"  class="vt-number">' + tr + '</tr>';
            }
            myNode.innerHTML = stringContent;
            SCDetail_Event(id);
            SCDetail_FillData(data, type);
        }
    }

    function SCDetail_Event(id){
        $("#" + id + " .ui.dropdown").dropdown({
            allowCategorySelection: true,
            forceSelection: false,
            transition: "fade up"
        });
        $("#" + id + " .ui.dropdown").dropdown('refresh');
        $("#" + id + " .ui.dropdown").dropdown('set selected', '2');
        $("#" + id + ' .money').divide();
    }

    function SCDetail_FillData(data, type) {
        let dataArray = Object.entries(data).filter(([key, value]) => value.Choose == "1");
        if (dataArray.length > 0) {
            data = SCDetail_ParseArrayToKeyValue(dataArray);
            if (type === 1) {
                for ([key, value] of Object.entries(data)) {
                    let discount_Percent = Number(value.Percent);
                    let discount_Amount = Number(value.Amount);
                    $("#SerDiscount_Choose_" + key).prop("checked", value.Choose ==  1 ? true : false);
                    if (discount_Percent > discount_Amount) {
                        $("#SerDiscount_Num_" + key).val(discount_Percent);
                        $("#SerDiscount_Type_" + key).dropdown('refresh');
                        $("#SerDiscount_Type_" + key).dropdown("set selected", 1);
                    }
                    else {
                        $("#SerDiscount_Num_" + key).val(discount_Amount);
                        $("#SerDiscount_Type_" + key).dropdown('refresh');
                        $("#SerDiscount_Type_" + key).dropdown("set selected", 2);
                    }
                }
            }
            else {
                for ([key, value] of Object.entries(data)) {
                    let discount_Percent = Number(value.Percent);
                    let discount_Amount = Number(value.Amount);
                    $("#SerTypeDiscount_Choose_" + key).prop("checked", value.Choose == 1 ? true : false);
                    if (discount_Percent > discount_Amount) {
                        $("#SerTypeDiscount_Num_" + key).val(discount_Percent);
                        $("#SerTypeDiscount_Type_" + key).dropdown('refresh');
                        $("#SerTypeDiscount_Type_" + key).dropdown("set selected", 1);
                    }
                    else {
                        $("#SerTypeDiscount_Num_" + key).val(discount_Amount);
                        $("#SerTypeDiscount_Type_" + key).dropdown('refresh');
                        $("#SerTypeDiscount_Type_" + key).dropdown("set selected", 2);
                    }
                }
            }
        };
    }

    //#endregion 

    //#region // 

    function SCDetail_RenderListChoose(data, id, type ){
       var myNode = document.getElementById(id);
        if (myNode != null) {
            myNode.innerHTML = '';
            let stringContent = '';
            for ([key, value] of Object.entries(data)) {
               if(value.Choose == 1){
                   let tr = `
                       <li class="list-group-item border-0 d-flex justify-content-between mb-1 rounded-2">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-0 text-dark text-sm">${value.Name}</h6>
                                    <div class="text-dark fw-bold text-sm">
                                        ${value.Amount != 0 ? formatNumber(value.Amount) + ' VND' : value.Percent + ' %'}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center text-success text-sm ">
                                <button class="btnRemoveSer buttonGrid" onclick="event.preventDefault();return SCDetail_Delete_DiscountItem(${key}, ${type})" ><i class="imgGrid vtt-icon vttech-icon-delete"></i></button>
                            </div>
                       </li>
                       <hr class="mb-1 mt-0 mx-auto w-70" />
                    `
                    stringContent = stringContent + tr ;
                }

            }
            myNode.innerHTML = stringContent;
        }

    }

    //#endregion

    //#region // EVENT CHANGE

    function SCDetail_Onchange_DiscountAll(){
        let numDiscount =  $("#Discount_NumAll").val() ?  Number($("#Discount_NumAll").val()) : 0;
        let typeDiscount = Number($("#Discount_TypeAll").dropdown("get value")) ? Number($("#Discount_TypeAll").dropdown("get value")) : 0;

        if (isNaN(numDiscount) || numDiscount < 0 || (typeDiscount == 1 && numDiscount > 100)) {
            $("#Discount_NumAll").val("0");
        }
    }


    function SCDetail_Onchange_DiscountItem(id, type) {
        if(SCDetail_FlagChange == 1){
            if (type === 2) {
                let _type_discount = Number($("#SerTypeDiscount_Type_" + id).dropdown("get value")) ? Number($("#SerTypeDiscount_Type_" + id).dropdown("get value")) : 0;
                let _value_discount = Number($("#SerTypeDiscount_Num_" + id).val()) ? Number($("#SerTypeDiscount_Num_" + id).val()) : 0;
                if (_type_discount == 1) {
                    if (_type_discount == 1 && (_value_discount < 0 || _value_discount > 100)) {
                        $("#SerTypeDiscount_Num_" + id).val(0);
                        return;
                    }
                } 
                else {
                    if (_value_discount < 0) {
                        $("#SerTypeDiscount_Num_" + id).val(0);
                        return;
                    }
                }
                if (_type_discount == 1) {
                    SCDetail_DataSerType[id].Percent = _value_discount
                    SCDetail_DataSerType[id].Amount = 0;
                }
                else {
                    SCDetail_DataSerType[id].Percent = 0
                    SCDetail_DataSerType[id].Amount = _value_discount;
                }
                SCDetail_RenderListChoose(SCDetail_DataSerType, 'SCD_SerTypeListChoose', 2);
            }
            if (type === 1) {
                let _type_discount = Number($("#SerDiscount_Type_" + id).dropdown("get value")) ? Number($("#SerDiscount_Type_" + id).dropdown("get value")) : 0;
                let _value_discount = Number($("#SerDiscount_Num_" + id).val()) ? Number($("#SerDiscount_Num_" + id).val()) : 0;
                if (_type_discount == 1) {
                    if (_value_discount < 0 || _value_discount > 100 || isNaN(_value_discount)) {
                        $("#SerDiscount_Num_" + id).val(0);
                        return;
                    }
                }
                else {
                    if (_value_discount < 0) {
                        $("#SerDiscount_Num_" + id).val(0);
                        return;
                    }
                }
                if (_type_discount == 1) {
                    SCDetail_DataSer[id].Percent = _value_discount
                    SCDetail_DataSer[id].Amount = 0;
                }
                else {
                    SCDetail_DataSer[id].Percent = 0
                    SCDetail_DataSer[id].Amount = _value_discount;
                }
                SCDetail_RenderListChoose(SCDetail_DataSer, 'SCD_SerListChoose', 1);
            }
        }
    }

    function SCDetail_ChooseItem(id , type){
        if(SCDetail_FlagChange == 1){
            if(type == 1){
                SCDetail_DataSer[id].Choose =  SCDetail_DataSer[id].Choose == 1 ? 0 : 1 ;
                if(SCDetail_DataSer[id].Choose == 1){
                    $("#SerDiscount_Num_" + id).prop("disabled", false);
                    $("#SerDiscount_Type_" + id).removeClass("disabled");
                }
                else {
                    $("#SerDiscount_Num_" + id).prop("disabled", true);
                    $("#SerDiscount_Type_" + id).addClass("disabled");
                }
                SCDetail_RenderListChoose(SCDetail_DataSer, 'SCD_SerListChoose', type);
            }
            if (type == 2) {
                SCDetail_DataSerType[id].Choose = SCDetail_DataSerType[id].Choose == 1 ? 0 : 1;
                if(SCDetail_DataSerType[id].Choose == 1){
                    $("#SerTypeDiscount_Num_" + id).prop("disabled", false);
                    $("#SerTypeDiscount_Type_" + id).removeClass("disabled");
                }
                else {
                    $("#SerTypeDiscount_Num_" + id).prop("disabled", true);
                    $("#SerTypeDiscount_Type_" + id).addClass("disabled");
                }
                SCDetail_RenderListChoose(SCDetail_DataSerType, 'SCD_SerTypeListChoose', type);
            }
        }
    }

    function SCDetail_Delete_DiscountItem(id, type){
        if(SCDetail_FlagChange == 1){
             if(type == 1){
                 $("#SerDiscount_Choose_" + id).prop("checked", false).trigger('change');
             }
             if(type == 2){
                $("#SerTypeDiscount_Choose_" + id).prop("checked", false).trigger('change');
             }
        }
    }

    //#endregion

    //#region // LOAD UPDATE

    function SCDetail_LoadUpdate(data){
        if(data.length != 0){
            let item = data[0];
            let RuleDiscount = item.RuleDiscount;
            if(RuleDiscount != ''){
                SCDetail_Ruler = JSON.parse(RuleDiscount);
                SCDetail_FillUpdate();
            };
        }
    }

    function SCDetail_FillUpdate(){
        for (let i = 0; i < SCDetail_Ruler.length; i++) {
            let item = SCDetail_Ruler[i];
            let type = item.type;
            if (type == 'all') {
                $("#SCDetail_CheckTypeAll").prop("checked", item.active);
                $("#Discount_NumAll").val(item.percent != 0 ? item.percent : item.amount);
                $("#Discount_TypeAll").dropdown("refresh");
                if(item.percent != undefined && item.percent != 0){
                    $("#Discount_TypeAll").dropdown("set selected", "1");
                }
                else{
                    $("#Discount_TypeAll").dropdown("set selected", "2");
                }
            }
            if (type == 'service') {
                $("#SCDetail_CheckSer").prop("checked", item.active);
                let values = item.value;
                if(values != undefined && values.length != 0){
                    for(let j =0; j < values.length ;j++){
                        let _item = values[j]
                        let _id = _item.id;
                        let _ser_num = $("#SerDiscount_Num_" + _id);
                        let _ser_type = $("#SerDiscount_Type_" + _id);
                        let _ser_choose = $("#SerDiscount_Choose_" + _id);
                        if(_ser_num.length > 0){
                            _ser_num.val(_item.percent > 0 ? _item.percent : _item.amount).trigger('change');;
                            _ser_type.dropdown('refresh');
                            _ser_type.dropdown('set selected', _item.percent != 0 ? "1" : "2");
                            _ser_choose.prop("checked", true).trigger('change');
                        }
                    }
                }
            }
            if (type == 'servicetype') {
                $("#SCDetail_CheckSerType").prop("checked", item.active);
                let values = item.value;
                if(values != undefined && values.length != 0){
                    for(let j =0; j < values.length ;j++){
                        let _item = values[j]
                        let _id = _item.id;
                        let _ser_num = $("#SerTypeDiscount_Num_" + _id);
                        let _ser_type = $("#SerTypeDiscount_Type_" + _id);
                        let _ser_choose = $("#SerTypeDiscount_Choose_" + _id);
                        if(_ser_num.length > 0){
                            _ser_num.val(_item.percent > 0 ? _item.percent : _item.amount).trigger('change');
                            _ser_type.dropdown('refresh');
                            _ser_type.dropdown('set selected', _item.percent != 0 ? "1" : "2");
                            _ser_choose.prop("checked", true).trigger('change');
                        }
                    }
                }
            }
        }
    }

    //#endregion 

    //#region // PARSE KEY

    function SCDetail_ParseKeyValue(data, dataResult) {
        for (let i = 0; i < data.length; i++) {
            let element = {};
            element.ID = data[i].ID;
            element.Name = data[i].Name;
            element.Choose = data[i].Choose;
            element.Percent = data[i].Percent;
            element.Amount = data[i].Amount;
            dataResult[data[i].ID] = element;
        }
    }

    function SCDetail_ParseArrayToKeyValue(data) {
        let dataResult = {};
        for (let i = 0; i < data.length; i++) {
            let items = data[i];
            let item = items[1];
            let element = {};
            element.ID = item.ID;
            element.Name = item.Name;
            element.Choose = item.Choose;
            element.Percent = item.Percent;
            element.Amount = item.Amount;
            dataResult[item.ID] = element;
        }
        return dataResult;
    }

    //#endregion 



    //#region // EXECUTE

    function SCDetail_Execute(){
        SCDetail_GetDataExec();
        AjaxLoad(url = "/Card/Setting/ServiceCardDiscount/?handler=Execute"
            , data = {
                'CurrentID': SCDetail_CurrentID,
                'data': JSON.stringify(SCDetail_Ruler)
            }
            , async = true, error = null
            , success = function (result) {
                if (result != "0" && result != "") {
                    syslog_sca('u', result);
                    SCD_CloseDetail();
                    notiSuccess();
                } 
                else {
                    notiError_SW();
                }
            }
        );

    }

    function SCDetail_GetDataExec(){
        let IsCheckTypeAll = $("#SCDetail_CheckTypeAll").is(":checked");
        let IsCheckSer = $("#SCDetail_CheckSer").is(":checked");
        let IsCheckSerType = $("#SCDetail_CheckSerType").is(":checked");
        for(let i = 0; i < SCDetail_Ruler.length ;i++){
            let item = SCDetail_Ruler[i];
            if(item.type == 'all'){
                if(IsCheckTypeAll) {
                    let _type_discount = Number($("#Discount_TypeAll").dropdown("get value")) ? Number($("#Discount_TypeAll").dropdown("get value")) : 0;
                    let _value_discount = Number($("#Discount_NumAll").val()) ? Number($("#Discount_NumAll").val()) : 0;
                    item.active = 1;
                    item.percent = _type_discount == 1 ? _value_discount : 0;
                    item.amount = _type_discount == 2 ? _value_discount : 0;
                    item.value = [];
                }
                else{
                    item.active = 0;
                    item.percent = 0;
                    item.amount = 0;
                    item.value = [];
                }
            }

            if(item.type == 'servicetype'){
                let dataValues =[];
                for ([key, value] of Object.entries(SCDetail_DataSerType)){
                    if(value.Choose == 1 && (value.Percent != 0 || value.Amount != 0)){
                        let e= {};
                        e.id = value.ID;
                        e.percent = value.Percent;
                        e.amount = value.Amount;
                        dataValues.push(e);
                    }
                }
                if(IsCheckSerType){
                    item.active = 1;
                    item.percent = 0;
                    item.amount = 0;
                }
                else{
                    item.active = 1;
                    item.percent = 0;
                    item.amount = 0;
                }
                item.value = dataValues;
            }

            if (item.type == 'service') {
                let dataValues = [];
                for ([key, value] of Object.entries(SCDetail_DataSer)){
                    if (value.Choose == 1 && (value.Percent != 0 || value.Amount != 0)) {
                        let e= {};
                        e.id = value.ID;
                        e.percent = value.Percent;
                        e.amount = value.Amount;
                        dataValues.push(e);
                    }
                }
                if (IsCheckSer) {
                    item.active = 1;
                    item.percent = 0;
                    item.amount = 0;
                }
                else {
                    item.active = 1;
                    item.percent = 0;
                    item.amount = 0;
                }
                item.value = dataValues;
            }
        }
    }

    //#endregion


</script>