@page
@model MLunarCoffee.Pages.Report.Revenue.ServiceCat.ServiceCatBarModel
@{
    Layout = null;
}
<div class="card card-plain">
    <div class="vtcardheader card-header p-0 pt-3">
        <div class="left">
            <p class="text-md text-dark font-weight-bold mb-1">@Local["Doanh thu, doanh số theo nhóm dịch vụ"] (Top 10)</p>
        </div>
        <div class="right">
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Thu gọn"]">
                <i class="vtt-icon vttech-icon-all text-lg text-primary cursor-pointer"
                   data-bs-toggle="collapse" href="#ServiceCatBarDiv" aria-expanded="true"></i>
            </div>
            <div class="icon-hover mx-1"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-original-title="@Local["Tải lại"]">
                <i class="vtt-icon  vttech-icon-refesh text-lg text-primary cursor-pointer"
                   onclick="event.preventDefault(); return LoadData_ReportServiceCatCatBar()"></i>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 px-0">
        <div class="collapsesticky collapse show" id="ServiceCatBarDiv">
            <div class="card-body p-0">
                <div class="row px-1">
                    <div class="col-12 px-1 mt-2">
                        <div class="my-0" style="overflow-x: auto; overflow-y: hidden;">
                            <div class="chart" style="min-width:1200px;height:300px;">
                                <canvas id="ST_BarChart" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>js_require('/js/comon/initialize_setting.js');</script>
<script>

    $(document).ready(function () {
        ToolPopper();
        LoadData_ReportServiceCatBar();
    });
    function LoadData_ReportServiceCatBar() {
        let _dateFrom = "@Model._dateFrom";
        let _dateTo = "@Model._dateTo";
        let _branch = "@Model._branch";
        AjaxLoad(url = "/Report/Revenue/ServiceCat/ServiceCatBar/?handler=Loadata"
            , data = {
                'branchID': _branch,
                'dateFrom': _dateFrom,
                'dateTo': _dateTo
            }
            , async = true
            , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data = JSON.parse(result);
                    let cols = [];
                    let name = '';
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].Deposit == 1) name = decodeHtml('@Local["Tiền cọc"]');
                        else if (data[i].Card == 1) name = decodeHtml('@Local["Thẻ"]');
                        else if (data[i].Medicine == 1) name = decodeHtml('@Local["Thuốc"]');
                        else {
                            let _item = RP_DataServiceCat[data[i].ServiceCat];
                            name = _item != undefined ? _item.Name : '';
                        }
                        data[i].Name = name;
                        data[i].Revenue = Number(data[i].Revenue);
                        data[i].Target = Number(data[i].Target);
                    }
                    cols.push({ 'label': decodeHtml('@Local["Doanh thu"]'), 'value': 'Revenue' });
                    cols.push({'label': decodeHtml('@Local["Doanh số"]'), 'value': 'Target'});

                    rp_barcols('ST_BarChart', data, 'Name', cols);
                }
            }
        );
    }

</script>



