@page
@model MLunarCoffee.Pages.Print.Option.custtab
@{
    Layout = null;
}

<div id="divServiceDetailMain">
    <div class="d-lg-flex px-0 align-items-stretch">
        <div class="col-w-500 px-lg-1 card  mt-2">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class=" col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Thông tin chung"]</h6>
                        </div>
                    </div>
                    <div class="ms-auto my-auto mt-1">
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 ">
                <div class="d-md-flex align-items-start">
                    <div class=" row flex-grow-1">
                        <div class="field col-12 px-1 mt-2">
                            <label>@Local["Mã"]</label>
                            <input id="txtServiceCode" name="serviceCode" type="text" class="form-control" />
                        </div>
                        <div class="field col-12 mt-2 px-1">
                            <label>@Local["Dịch vụ/sản phẩm"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="service_pro" onchange="event.preventDefault();return onchangeServiceProduct();">
                                <input type="hidden" name="serviceType" />
                                <i class="dropdown icon"></i>
                                <div class="default text"></div>
                                <div id="cbbserviceProduct" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 mt-2 px-1">
                            <label>@Local["Loại"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="serviceType">
                                <input type="hidden" name="serviceType" />
                                <i class="dropdown icon"></i>
                                <input id="searchserviceType_Option" class="search" autocomplete="off" tabindex="0" />
                                <div class="default text">@Local["Loại"]</div>
                                <div id="cbbserviceType" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="field col-6 mt-2 px-1">
                            <ul class="list-group">
                                <li id="ck_installment" class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto" type="checkbox" id="is_installment" checked="">
                                        <label class="form-check-label text-dark ms-3 text-truncate mb-0" for="is_installment">@Local["Trả góp"]</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="field col-6 mt-2 px-1">
                            <ul class="list-group">
                                <li id="ck_labo" class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0">
                                        <input class="form-check-input ms-auto" type="checkbox" id="is_labo" checked="">
                                        <label class="form-check-label text-dark ms-3 text-truncate mb-0" for="is_labo">@Local["Labo"]</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1 ms-lg-2 card  mt-2">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h6 class="mb-0">@Local["Chi tiết sản phẩm/ dich vụ"]</h6>
                        </div>
                    </div>
                    <div class="ms-auto my-auto mt-1">
                    </div>
                </div>

            </div>
            <div class="card-body pt-2 ">
                <div id="serviceDetailWaiting" style="border: none; height: -webkit-fill-available;">
                    <div class="ui active inverted dimmer">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <!-- #region control execute-->
                <div class="row px-1 form3" id="form3">
                    <div class="field col-12 col-md-12 col-xl-6 mt-2 px-1">
                        <label>@Local["Tên"]</label>
                        <input id="txtName_ServiceDetail" name="name" type="text" class="form-control" />
                    </div>
                    <div class="field col-12 col-md-6 col-xl-3 mt-2 px-1">
                        <label>@Local["Giá nhỏ nhất"]</label>
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="eg.@Local["Giá nhỏ nhất"]" id="txtAmountServiceDetail" onchange="ChangePriceMin()" name="discountAmount">
                            <span class="input-group-text rounded-2 border-radius-bottom-start-0 border-radius-top-start-0">VNĐ</span>
                        </div>
                    </div>
                    <div class="field col-12 col-md-6 col-xl-3 mt-2 px-1">
                        <label>@Local["Giá lớn nhất"]</label>
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <input class="form-control" type="text" id="txtAmountServiceDetail_Max" name="discountAmount" placeholder="eg.@Local["Giá lớn nhất"]">
                                <span class="input-group-text rounded-2 border-radius-bottom-start-0 border-radius-top-start-0">VNĐ</span>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-md-6 mt-2 px-1">
                        <label>@Local["Mã định danh"]</label>
                        <input id="txtIdentificationCode" name="IdentificationCode" type="text" class="form-control" />
                    </div>
                    <div class="field col-12 col-md-6 mt-2 px-1">
                        <label>@Local["Tên định danh"]</label>
                        <input id="txtIdentificationName" type="text" class="form-control" />
                    </div>
                    <div class="field col-12 col-md-12 col-xl-3 mt-2 px-1" id="serviceUnitCountDiv">
                        <label>@Local["Đơn vị tính"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="serviceUnitCount" onchange="event.preventDefault();return onchangeUnit();">
                            <input type="hidden" name="unitServiceType" />
                            <i class="dropdown icon"></i>
                            <div class="default text">eg. @Local["Đơn vị tính"]</div>
                            <div id="cbbserviceUnitCount" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 col-md-12 col-xl-3 mt-2 px-1" id="time_to_treatment">
                        <label>@Local["Số lần điều trị"]</label>
                        <input id="spTotalTreatment" name="Notvalid" type="number" class="form-control" />
                    </div>
                    <div class="field col-12 col-md-12 col-xl-9 mt-2 px-1">
                        <label>@Local["Nội dung"]</label>
                        <input id="txtContentServiceDetail" name="content" type="text" class="form-control" />
                    </div>
                    <div id="teethChoosing" class="field col-12 col-md-12 col-xl-12 mt-2 px-1">
                        <label>@Local["Răng"]</label>
                        <div class="row">
                            <div class="field col-6 col-md-6 pe-1">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <div class="form-check pt-1">
                                            <input class="form-check-input mt-0" type="radio" id="adult_tab_teeth_type" name="tab_teeth_type_tar" value="0" />
                                        </div>
                                    </div>
                                    <div class="form-control">@Local["Răng người lớn"]</div>
                                </div>
                            </div>
                            <div class="field col-6 col-md-6 px-1">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <div class="form-check pt-1">
                                            <input class="form-check-input mt-0" type="radio" id="child_tab_teeth_type" name="tab_teeth_type_tar" value="1" />
                                        </div>
                                    </div>
                                    <div class="form-control">@Local["Răng sữa"]</div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="field col-12 col-md-12 col-lg-12 mt-2 px-1" id="divCbbMediaFolder" style="display: none;">
                        <label>@Local["Phương tiện"]</label>
                        <div class="ui fluid search selection dropdown form-control" id="MediaFolder">
                            <input type="hidden" name="MediaFolder" />
                            <i class="remove icon"></i>
                            <i class="dropdown icon"></i>
                            <div class="default text">eg. @Local["Phương tiện"]</div>
                            <div id="cbbMediaFolder" class="menu" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header pb-0">
            <div class="ms-n2">
                <div class="ms-auto my-auto mt-1">
                    <ul class="nav nav-pills nav-fill p-1 bg-transparent d-inline-flex ser_detail_1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#div_ser_com" role="tab">@Local["Hoa hồng"]</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link cursor-pointer" data-bs-toggle="pill" data-bs-target="#div_revenue" role="tab">@Local["Doanh thu"]</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a data-bs-toggle="pill" data-bs-target="#divVTTProduct" class="nav-link cursor-pointer" role="tab">@Local["Vật tư tiêu hao"]</a>
                        </li>
                        <li class="nav-item" role="presentation" id="tabPriceService">
                            <a data-bs-toggle="pill" data-bs-target="#PriceService" class="nav-link cursor-pointer" role="tab">@Local["Bảng giá"]</a>
                        </li>

                        @*id permission tabStageService*@
                        <li class="nav-item" role="presentation" id="tabStageService">
                            <a data-bs-toggle="pill" data-bs-target="#StageService" class="nav-link cursor-pointer " role="tab">@Local["Bước điều trị"]</a>
                        </li>
                        @*id permission tabNoteService*@
                        <li class="nav-item" role="presentation" id="tabNoteService">
                            <a data-bs-toggle="pill" data-bs-target="#NoteService" class="nav-link cursor-pointer " role="tab">@Local["Ghi chú"]</a>
                        </li>
                        @*id permission tabDocGuid*@
                        <li class="nav-item" role="presentation" id="tabDocGuid">
                            <a data-bs-toggle="pill" data-bs-target="#DocGuid" class="nav-link cursor-pointer" role="tab">@Local["Hướng dẫn"]</a>
                        </li>
                        @*id permission tabDocWarranty*@
                        <li class="nav-item" role="presentation" id="tabDocWarranty">
                            <a data-bs-toggle="pill" data-bs-target="#DocWarranty" class="nav-link cursor-pointer" role="tab">@Local["Bảo hành"]</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="card-body pt-2">
            <div class="nav-wrapper position-relative end-0 px-2">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="div_ser_com" role="tabpanel">
                        <div class="text-end me-2 text-danger fs-sm" id="div_Comission_Treat_Note">@Local["Hoa hồng điều trị setup theo tiền được áp dụng trên lần điều trị"]</div>
                        <div class="row">
                            <div class="field col-12 col-md-6 mt-2 px-1">
                                <label>@Local["Tư vấn"]</label>
                                <div class="position-relative">
                                    <input id="txtPerConsul" class="border-right-0 form-control amount_thousand" name="" type="number" placeholder="" onchange="event.preventDefault();Checking_Validate_Comission();">
                                    <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="PerConsul" onchange="event.preventDefault();return ChangeEvent_Comission_Consult();">
                                        <i class="dropdown icon"></i>
                                        <div class="default text"></div>
                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item" data-value="1">%</div>
                                            <div class="item" data-value="2">VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 mt-2 px-1">
                                <label>@Local["Kỹ thuật viên/phụ tá"]</label>
                                <div class="position-relative">
                                    <input id="txtPerTreat" class="border-right-0 form-control amount_thousand" name="" type="number" placeholder="" onchange="event.preventDefault();Checking_Validate_Comission();">
                                    <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="PerTreat" onchange="event.preventDefault();return ChangeEvent_Comission_PerTreat();">
                                        <i class="dropdown icon"></i>
                                        <div class="default text"></div>
                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item" data-value="1">%</div>
                                            <div class="item" data-value="2">VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 mt-2 px-1">
                                <label>@Local["Bác sĩ điều trị"]</label>
                                <div class="position-relative">
                                    <input id="txtPerTreatDoc" class="border-right-0 form-control amount_thousand" name="" type="number" placeholder="" onchange="event.preventDefault();Checking_Validate_Comission();">
                                    <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="PerTreatDoc" onchange="event.preventDefault();return ChangeEvent_Comission_PerTreatDoc();">
                                        <i class="dropdown icon"></i>
                                        <div class="default text"></div>
                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item" data-value="1">%</div>
                                            <div class="item" data-value="2">VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 mt-2 px-1">
                                <label>@Local["Hỗ trợ chuyên môn"]</label>
                                <div class="position-relative">
                                    <input id="txtPerTreatSpecific" class="border-right-0 form-control amount_thousand" name="" type="number" placeholder="" onchange="event.preventDefault();Checking_Validate_Comission();">
                                    <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="PerTreatSpecific" onchange="event.preventDefault();return PerTreatSpecific();">
                                        <i class="dropdown icon"></i>
                                        <div class="default text"></div>
                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item" data-value="1">%</div>
                                            <div class="item" data-value="2">VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 col-md-6 mt-2 px-1">
                                <label>@Local["Telesale/Chăm sóc khách hàng, Tư vấn"]</label>
                                <div class="position-relative">
                                    <input id="txtPerTelesale" class="border-right-0 form-control amount_thousand" name="" type="number" placeholder="" onchange="event.preventDefault();Checking_Validate_Comission();">
                                    <div class="ui fluid search selection dropdown form-control position-absolute end-0 top-0 w-auto ps-2 pe-5" id="PerTelesale" onchange="event.preventDefault();return ChangeEvent_Comission_PerTelesale();">
                                        <i class="dropdown icon"></i>
                                        <div class="default text"></div>
                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item" data-value="1">%</div>
                                            <div class="item" data-value="2">VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="div_revenue" role="tabpanel">
                        <div class="h-100">
                            <h6 class="mb-2 text-sm fw-bold">@Local["Chỉ áp dụng với các hoa hồng dựa trên tiền khách hàng đóng"]</h6>

                        </div>
                        <div class="input-group">
                            <span class="input-group-text">@Local["Tỷ lệ thực thu (%)"]</span>
                            <input id="txtPerRevenue" class="form-control amount_thousand" type="number" onchange="event.preventDefault();Checking_Validate_Comission();">
                        </div>


                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="divVTTProduct">
                        <div class="card-body p-0">
                            <div class="m-0 mt-3 mobile-responsive">
                                <div id="vtthWaiting" class="waitingdiv text-center" style="display: none;">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <table class="table vt-table mb-0" id="dtTableDetailVTTH">
                                    <thead>
                                        <tr>
                                            <th class="d-none">ID</th>
                                            <th style="width: 50px;">#</th>
                                            <th>@Local["Vật tư"]</th>
                                            <th style="min-width: 100px;">@Local["Đơn vị"]</th>
                                            <th style="width: 120px; min-width: 120px;">@Local["Nhỏ nhất"]</th>
                                            <th style="width: 120px; min-width: 120px;">@Local["Lớn nhất"]</th>
                                            <th style="width: 140px;">@Local["Ghi chú"]</th>
                                            <th style="width: 20px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="dtTableDetailVTTHBody">
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-secondary button_chose p-3" onclick="event.preventDefault();return Add_new_row_vtth();"></button>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="PriceService">
                        <div class="card-body p-0">
                            <div class="m-0 mt-3 mobile-responsive">
                                <table id="dtTablePriceService" class="table vt-table mb-0">
                                    <thead class="hiddenCollapse">
                                        <tr role="row">
                                            <th class="d-none">ID</th>
                                            <th style="width: 50px;">#</th>
                                            <th style="width: 150px;">@Local["Giá nhỏ nhất"]</th>
                                            <th style="width: 150px;">@Local["Giá lớn nhất"]</th>
                                            <th style="min-width: 100px;">@Local["Tiền tệ"]</th>
                                            <th style="width: 100px;" >
                                                <div class="iti__flag-box">
                                                    <div class="iti__flag iti__vn"></div>
                                                </div>
                                            </th>
                                            <th>@Local["Chi nhánh áp dụng"]</th>
                                            <th style="width: 50px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="dtTablePriceServiceBody">
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-secondary button_chose p-3" onclick="event.preventDefault();return Add_new_row_price_service();"></button>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="StageService">
                        <div class="card-body p-0">
                            <div class="m-0 mt-3">
                                <table id="dtTableStageService" class="table vt-table mb-0">
                                    <thead class="hiddenCollapse">
                                        <tr role="row">
                                            <th class="d-none">ID</th>
                                            <th style="width: 50px;">#</th>
                                            <th>@Local["Bước điều trị"]</th>
                                            <th style="width: 200px;">@Local["Phần trăm"]
                                            ( <span id="TotalPercentStage"></span>/ 100% )</th>
                                            <th style="width: 50px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="dtTableStageServiceBody">
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-secondary button_chose p-3" onclick="event.preventDefault();return Add_new_row_stage_service();"></button>
                        </div>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="NoteService">
                        <div class="card-body p-0">
                            <div class="m-0 mt-3 mobile-responsive">
                                <table id="dtTableNoteService" class="table vt-table mb-0">
                                    <thead class="hiddenCollapse">
                                        <tr role="row">
                                            <th class="d-none">ID</th>
                                            <th style="width: 50px;">#</th>
                                            <th style="width: 200px;">Nhãn (Tối đa 20 ký tự)</th>
                                            <th>@Local["Diễn giải"]</th>
                                            <th style="width: 50px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="dtTableNoteServiceBody">
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-secondary button_chose p-3" onclick="event.preventDefault();return Add_new_row_note();"></button>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="DocGuid">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mt-2 px-1">
                                    <input id="txtDocument_Guild" placeholder="eg.@Local["Nhập liên kết tại đây"] ..." type="text" onchange="event.preventDefault();onchange_Document_Guide();" class="form-control" />
                                </div>
                                <div class="col-12 mt-2 px-1">
                                    <iframe style="display: none;height:500px" id="div_frame_guid_load" allowfullscreen class="w-100"></iframe>
                                </div>
                                <div class="col-12 mt-2 px-1" id="div_frame_guid">
                                    <div class="d-flex ms-2">
                                        <div class="d-flex flex-column">
                                            <h6 class="text-dark text-sm mb-0">@Local["Không có tài liệu"]</h6>
                                            <span class="text-xs">@Local["Liên kết tài liệu (PDF)"].</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="DocWarranty">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mt-2 px-1">
                                    <label>@Local["Số tháng bảo hành"]</label>
                                    <input id="numMonth_War" placeholder="eg .@Local["Số tháng bảo hành"] ..." type="number" class="form-control" />
                                </div>
                                <div class="col-12 mt-2 px-1">
                                    <label>@Local["Đường dẫn tập tin"]</label>
                                    <input id="txtDocument_War" placeholder="eg .@Local["Đường dẫn tập tin"] ..." type="text" onchange="event.preventDefault();onchange_Document_War();" class="form-control" />
                                </div>
                                <div class="col-12 mt-2 px-1">
                                    <iframe style="display: none;height:500px" id="div_frame_war_load" allowfullscreen class="w-100"></iframe>
                                </div>
                                <div class="col-12 mt-2 px-1" id="div_frame_war">
                                    <div class="d-flex ms-2">
                                        <div class="d-flex flex-column">
                                            <h6 class="text-dark text-sm mb-0">@Local["Không có tài liệu"]</h6>
                                            <span class="text-xs">@Local["Liên kết tài liệu (PDF)"].</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" action_Save">
                <div class="text-danger" id="textShowMessage"></div>
                <div>
                    <button class="btn btn-secondary  mt-2 me-2" onclick="event.preventDefault(); return CloseDetailService()">@Local["Đóng"]</button>
                </div>
                <div id="divSaveService">
                    <button class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_service" onclick="event.preventDefault();return ExcuteData_Service()">@Local["Lưu"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

    });



</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
