@page
@model MLunarCoffee.Pages.Student.Settings.Subjects.ListCourseDetailModel
@{
    Layout = null;
}
<div class="card">
    <div class="card-header pb-0">
        <div class="d-lg-flex">
            <div class="w-50 col-auto my-auto">
                <div class="h-100">
                    <h6 class="mb-0">@Local["Cấu hình khóa học"]</h6>
                    <p class="text-sm mb-0">@Local["Thêm/sửa khóa học"]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-2 pb-0">
        <div class="row px-2 form3" id="form3">
            <div class="field col-12 col-sm-6 p-1">
                <label>@Local["Tên"]</label>
                <input class="form-control _tab_control_" id="LD_Name" name="name" type="text" placeholder="eg. @Local["Tên"]" />
            </div>
            <div class="field col-12 col-sm-6 p-1">
                <label>@Local["Màu"]</label>
                <input id="LD_Color" class="form-control" name="fillCode" type="text" />
            </div>
            <div class="field col-12 p-1">
                <label>@Local["Ghi chú"]</label>
                <textarea id="LD_Note" class="form-control" name="content" placeholder="eg. @Local["Ghi chú"]"></textarea>
            </div>
        </div>
    </div>
    <div class="card-footer fixed-botombutton">
        <div class="action_Save">
            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
            <div class="action_Save-Content">
                <button class="btn btn-secondary" form="form3" onclick="Subjects_CloseDetail();">@Local["Hủy"]</button>
                <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="CDetail_Executed();">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>


<script>
    //#region //Load & init

    let CD_CurrentID = Number('@Model.CurrentID');

    $(document).ready(function () {
        if (CD_CurrentID != 0) CDetail_LoadDetail();
        $("#LD_Color").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            showInput: true,
            color: '#ffffff',
            palette: [
                ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
            ]
        });



    })

    function CDetail_LoadDetail () {
        AjaxLoad(url = "/Student/Settings/Subjects/ListCourseDetail?handler=LoadData"
            , data = {"CurrentID": CD_CurrentID}
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    CDetail_RenderCourse(data);
                }
                else {
                    notiError_SW();
                }
            }
        );
    }

    //#endregion

    //#region //Render
    function CDetail_RenderCourse (data) {
        if (data && data.length > 0) {
            $("#LD_Color").spectrum("set", data[0]["Color"]);
            $("#LD_Name").val(data[0]["Name"]);
            //$("#LD_TotalAmount").val(formatNumber(data[0]["TotalPrice"]));
            $("#LD_Note").val(data[0]["Note"]);
        }
    }
    //#region //Execured
    function CDetail_Executed () {
        let ExecutedDt = {};

        ExecutedDt.Name = $("#LD_Name").val() ? $("#LD_Name").val() : "";
        ExecutedDt.Color = $("#LD_Color").spectrum('get').toHexString();
        ExecutedDt.Note = $("#LD_Note").val() ? $("#LD_Note").val() : "";

        let ExeArr = [];
        ExeArr.push(ExecutedDt);
        $('#form3').form('validate form');
        if ($('#form3').form('is valid')) {
            AjaxLoad(url = "/Student/Settings/Subjects/ListCourseDetail?handler=Executed"
                , data = {
                    "DataCourse": JSON.stringify(ExeArr)
                    , "CurrentID": CD_CurrentID
                }
                , async = true
                , error = null
                , success = function (result) {
                    if (result == "1"){
                        Subjects_LoadList();
                        notiSuccess();
                        Subjects_CloseDetail();
                    }else if (result == "-1"){
                        document.getElementById("textShowMessage").innerHTML = '@Local["Trùng dữ liệu"]';
                    }else{
                        notiError_SW();
                    }
                }
            );
        }
    }
</script>

<script>js_require('/js/customjs/custom-validation.js');</script>
<style>
    .sp-replacer {
        display: block !IMPORTANT;
        width: 100% !IMPORTANT;
        padding: 0.5rem 0.75rem !IMPORTANT;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #495057 !important;
        background-color: #fff !IMPORTANT;
        background-clip: padding-box !important;
        border: 1px solid #d2d6da !IMPORTANT;
        height: auto !important;
        border-radius: 0.5rem;
        transition: box-shadow 0.15s ease, border-color 0.15s ease;
    }
</style>