@page
@model MLunarCoffee.Pages.Student.Settings.Subjects.SubjectsDetail.SubjectsDetailModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-header pb-0">
        <div class="d-lg-flex">
            <div class="w-50 col-auto my-auto">
                <div class="h-100">
                    <h6 class="mb-0">@Local["Cấu hình môn học"]</h6>
                    <p class="text-sm mb-0">@Local["Thêm/sửa môn học"]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-2 ">
        <div class="row px-1 form3" id="formSubjects">
            <div class="field col-12 col-sm-6 p-1">
                <label>@Local["Tên môn học"]</label>
                <input id="SubjectsName" name="name" type="text" class="form-control" />
            </div>
            <div class="field col-12 col-sm-6 col-xl-3 p-1">
                <label>@Local["Màu"]</label>
                <div class="field col-12 p-1 borderColorDiv">
                    <input id="SubjectsColor" name="fillCode" type="text" class="form-control" />
                </div>
            </div>
            <div class="field col-12 col-sm-6 col-xl-3 p-1">
                <label>@Local["Tổng tiền"]</label>
                <input id="SubjectsTotalPrice" type="text" class="form-control" disabled/>
            </div>
            <div class="field col-12 col-md-6 p-1">
                <label>@Local["Khoá học"]</label>
                <div class="ui fluid search selection dropdown form-control" id="SubjectsCourse">
                    <input type="hidden" name="branch" />
                    <input class="search" autocomplete="off" tabindex="0" />
                    <div class="default text">eg. @Local["Khoá học"]</div>
                    <div id="SubjectsCbbCourse" class="menu" tabindex="-1"></div>
                </div>
            </div>
            <div class="field col-12 col-sm-3 p-1">
                <label>@Local["Tiền từng buổi"]</label>
                <input id="SubjectsItemPrice" name="basicsalary" type="text" class="form-control" />
            </div>
            <div class="field col-12 col-sm-3 p-1">
                <label>@Local["Tổng số buổi"]</label>
                <input id="SubjectsTimeTeach" name="salaryagreed" type="number" class="form-control" />
            </div>
            <div class="field col-12 col-sm-12 p-1">
                <label>@Local["Ghi chú"]</label>
                <input id="SubjectsNote" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="card-footer fixed-botombutton">
        <div class="action_Save">
            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
            <div class="action_Save-Content">
                <button class="btn btn-secondary" onclick=" event.preventDefault(); return Subjects_CloseDetail()">@Local["Hủy"]</button>
                <button type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="event.preventDefault();Subjects_ExcuteDetail()">@Local["Lưu"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    //#region //LOAD & INIT
    let ser_SubjectID = Number('@Model._DataDetailID');
    let ser_CourseID = Number('@Model._CourseID');

    $(document).ready(function() {
        Subjects_LoadCombo();
        if (ser_SubjectID != "0") Subjects_LoadDataUpdate();
        $("#SubjectsColor").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            showInput: true,
            color: '#ffffff',
            palette: [
                ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
            ]
        });
        Subjects_Event();
        $('#SubjectsItemPrice').divide();
    });

    function Subjects_LoadCombo(){
        AjaxLoad(url = "/Student/Settings/Subjects/SubjectsDetail?handler=LoadCombo"
            , data = {id: ser_SubjectID}, asyns = true, error = null
            , success = function(result) {
                if (result != "[]"){
                    let dataCb = JSON.parse(result);
                    Load_Combo(dataCb.Course, "SubjectsCbbCourse", false);
                    $("#SubjectsCourse").dropdown("refresh");
                    if (ser_CourseID != 0) $("#SubjectsCourse").dropdown("set selected", ser_CourseID);
                }
            }
        )
    }
    function Subjects_LoadDataUpdate() {
        AjaxLoad(url = "/Student/Settings/Subjects/SubjectsDetail?handler=Loadata"
            , data = {id: ser_SubjectID}, asyns = true, error = null
            , success = function(result) {
                if (result != "0"){
                    Data = JSON.parse(result);
                    Subjects_FillDataDetail(Data[0]);
                }
            }
        )
    }
    function Subjects_FillDataDetail(item) {
        $('#SubjectsName').val((item.Name));
        $('#SubjectsNote').val((item.Note));
        $("#SubjectsColor").spectrum("set", item.Color);
        $('#SubjectsItemPrice').val(formatNumber(item.ItemPrice));
        $('#SubjectsTimeTeach').val(item.TimeTeach);
        $('#SubjectsTotalPrice').val(formatNumber(item.TotalPrice));
    }

    //#endreigon

    //#region //Event

    function Subjects_Event(){
        $('#SubjectsItemPrice, #SubjectsTimeTeach').on('change', function () {
            let ItemPrice = $('#SubjectsItemPrice').val() ? Number($('#SubjectsItemPrice').val().replaceAll(',', '')) : 0;
            let TimeTeach = $('#SubjectsTimeTeach').val() ? Number($('#SubjectsTimeTeach').val().replaceAll(',', '')) : 0;
            $('#SubjectsTotalPrice').val(formatNumber(ItemPrice * TimeTeach));
        })
    }

    //#endregion

    //#region //Executed
    function Subjects_ExcuteDetail() {
        var data = new Object();
        data.Name = $('#SubjectsName').val() ? $('#SubjectsName').val() : "";
        data.Color = $("#SubjectsColor").spectrum('get').toHexString();
        data.Note = $('#SubjectsNote').val() ? $('#SubjectsNote').val() : "";
        data.ItemPrice = $('#SubjectsItemPrice').val() ? Number($('#SubjectsItemPrice').val().replaceAll(',', '')) : 0;
        data.TimeTeach = $('#SubjectsTimeTeach').val() ? Number($('#SubjectsTimeTeach').val().replaceAll(',', '')) : 0;
        data.Course = $("#SubjectsCourse").dropdown('get value') ? Number($("#SubjectsCourse").dropdown('get value')) : 0;
        data.CourseOld = ser_CourseID;

        $('#formSubjects').form('validate form');
        if ($('#formSubjects').form('is valid')) {
            AjaxLoad(url = "/Student/Settings/Subjects/SubjectsDetail?handler=ExcuteData"
                , data = {data: JSON.stringify(data), CurrentID: ser_SubjectID}, async = true, error = null
                , success = function(result) {
                    if (result == "1") {
                        notiSuccess();
                        Subjects_LoadList();
                        Subjects_CloseDetail();
                    } else {
                        document.getElementById("textShowMessage").innerHTML = '@Local["Trùng dữ liệu"]';
                    }
                });
        }
    }

    //#endregion
</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>
    #formSubjects .borderColorDiv{
        border: 1px solid #d2d6da;
        border-radius: 0.5rem;
    }
</style>