@page
@model MLunarCoffee.Pages.Setting.AppCustomer.Setting.AppCustomerSettingDetailModel
@{
    Layout = null;
}
<script>js_require_notasync('/js/AppCustomer/FileUpload.js', true)</script>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Cấu hình cài đặt"]</h6>
                                <p class="text-sm mb-0">@Local["Chỉnh sửa giá trị cấu hình"]</p>
                            </div>
                        </div>
                        <div class="ms-auto my-auto d-none" id="AS_DivImgDes">
                            <div class="dropdown dropdown-small dropdown-categories me-3 dropdown-hover" data-turbolinks="false">
                                <a href="#" data-turbolinks="false" data-toggle="dropdown">
                                    <i class="text-lg  m-2 fas fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end pt-2 pb-0 px-2 ms-n4 col-w-300">
                                    <li class="mb-2">
                                        <div class="d-flex py-1">
                                            <div class="justify-content-center text-dark">
                                                <p class="text-sm my-0 py-0" id="AS_TFileDimension">-</p>
                                                <p class="text-sm my-0 py-0" id="AS_TFileSuffix">-</p>
                                                <p class="text-sm my-0 py-0" id="AS_TFileSize">-</p>
                                                <p class="text-sm my-0 py-0" id="AS_TFileStyleImg"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="form3">
                        <div class="d-xl-flex">
                            <div id="AS_DivImgSetting" class="field col-md-12 col-xl-4 mt-2 flex-grow-1 d-flex justify-content-center align-items-center d-none">
                                <div class="position-relative">
                                    <img id="AS_ImgSetting" class="border-radius-md border border border-1" alt="Img_SettingApp" onerror="Master_OnLoad_Error_Image(this)" style="max-height: 107px; max-width: 300px;" />
                                    <input class="position-absolute opacity-0 cursor-pointer w-0" style="" id="AS_ImgUpload" accept="image/*" type="file" name="files[]" />
                                    <div class="upload-btn-wrapper d-block mt-3" id="AS_DivImgUpload">
                                        <a href="javascript:;" class="btn btn-sm btn-icon-only bg-gradient-light position-absolute bottom-6 end-0 mb-n2 me-n2">
                                            <i class="fa fa-pen top-0"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-md-12 col-xl-8 pt-md-2 ps-xl-0 flex-grow-1">
                                <div class="row px-1 form3" id="form3">
                                    <div class="field col-12 p-1">
                                        <label>@Local["Tên loại"]</label>
                                        <input id="AS_NameType" name="name" type="text" class="form-control" disabled="disabled"/>
                                    </div>
                                    <div class="field col-12 p-1" id="AS_DivConfigValue">
                                        <label>@Local["Giá trị"]</label>
                                        <input id="AS_ConfigValue" name="name" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="form3" onclick="event.preventDefault();CloseModal()">@Local["Hủy"]</button>
                        <button form="form3" type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return AppSetting_Executed()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let Ser_CurrentID = ("@Model._CurrentID");
    let AS_DataColor;
    let AS_FlagType = 0;
    let AS_AvatarImg = Master_Default_Pic;

    $(document).ready(function () {
        AppSetting_Init();

    })
    //#region //LOAD
    function AppSetting_Init () {
        AjaxLoad(url = "/Setting/AppCustomer/Setting/AppCustomerSettingDetail/?handler=LoadCombo"
            , data = {ID: Ser_CurrentID}
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    AS_DataColor = data;
                    AppSetting_LoadDetail();
                }
            }
        )
    }

    function AppSetting_LoadDetail () {
        AjaxLoad(url = "/Setting/AppCustomer/Setting/AppCustomerSettingDetail/?handler=LoadData"
            , data = {ID: Ser_CurrentID}
            , async = true
            , error = null
            , success = function (result) {
                if (result != "0") {
                    let data = JSON.parse(result);
                    AppSetting_RenderData(data);
                    let sr_widthImg, sr_heightImg = 0;
                    let sr_formatImg;
                    let fileExt = data[0].Value.split('.').pop().toLocaleLowerCase();
                    if (data[0].Dimension.length > 0) {
                        sr_widthImg = data[0].Dimension.toLowerCase().split("x")[0];
                        sr_heightImg = data[0].Dimension.toLowerCase().split("x")[1];
                    }
                    if (fileExt == 'jpg') {
                        sr_formatImg = ['jpg']
                    } else {sr_formatImg = ['jpg', 'png']}

                    let Ser_Setting_Image = {
                        size: 256000,
                        width: Number(sr_widthImg),
                        height: Number(sr_heightImg),
                        format: sr_formatImg
                    }
                    $("#AS_TFileSize").html("- @Local["Kích thước hình"] @Local["Tối đa"]: " + "250Kb");
                    $("#AS_TFileSuffix").html("- @Local["Định dạng hình"]: " + (fileExt == 'jpg' ? 'jpg' : 'jpg, png'));
                    $("#AS_TFileDimension").html("- @Local["Kích thước hình (ngang x dọc)"]: " + data[0].Dimension);
                    $("#AS_TFileStyleImg").html((data[0].Name == "ProfileImageR" || data[0].Name == "BackgroundImage" || data[0].Name == "BackgroundImageR") ? "- @Local["Hình không nền"] - @Local["Màu trắng"]" : "");

                    AppSetting_CheckUploadImg(Ser_Setting_Image);
                }
            }
        )
    }
    //#endregion

    //#region //RENDER
    function AppSetting_RenderData (data) {
        switch (data[0].Type) {
            case "img": {
                AS_FlagType = 1;
                $("#AS_ConfigValue").attr("disabled", true);
                $("#AS_DivImgSetting, #AS_DivImgDes").removeClass("d-none");
                $("#AS_ImgSetting").attr("src", data[0].Value);
                $("#AS_ConfigValue").val(data[0].Value);
                break;
            }
            case "language": {
                AS_FlagType = 2;
                $("#AS_ConfigValue").hide();
                let tr = `
                    <div id="AS_RadioDiv" class="d-flex">
                        <div class="form-check me-5">
                            <input class="form-check-input" type="radio" id="VN" name="radio" value="vn"/>
                            <label class="custom-control-label" for="VN">VN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="EN" name="radio" value="en"/>
                            <label class="custom-control-label" for="EN">EN</label>
                        </div>
                    </div>
                `
                $(tr).appendTo("#AS_DivConfigValue");
                $('input[name=radio]').each(function () {
                    if ($(this).val() == data[0].Value) {
                        $(this).attr('checked', 'checked');
                    }
                })
                break;
            }
            case "mode": {
                AS_FlagType = 2;
                $("#AS_ConfigValue").hide();
                let tr = `
                    <div id="AS_RadioDiv" class="d-flex">
                        <div class="form-check me-5">
                            <input class="form-check-input" type="radio" id="dark" name="radio" value="dark"/>
                            <label class="custom-control-label" for="dark">Dark</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="normal" name="radio" value="normal"/>
                            <label class="custom-control-label" for="normal">Normal</label>
                        </div>
                    </div>
                `
                $(tr).appendTo("#AS_DivConfigValue");
                $('input[name=radio]').each(function () {
                    if ($(this).val() == data[0].Value) {
                        $(this).attr('checked', 'checked');
                    }
                })
                break;
            }
            case "color": {
                AS_FlagType = 3;
                $("#AS_ConfigValue").hide();
                let tr = `
                    <div class="ui fluid search selection dropdown form-control" id="AS_color">
                        <input type="hidden" name="AS_color"/>
                        <input class="search" autocomplete="off" tabindex="0"/>
                        <div class="default text"></div>
                        <div id="AS_CBBColor" class="menu" tabindex="-1"></div>
                    </div>
                `
                $(tr).appendTo("#AS_DivConfigValue");
                Load_Combo(AS_DataColor, "AS_CBBColor", true);
                $("#AS_color").dropdown("set selected", data[0].Value);
                break;
            }
            case "password": {
                AS_FlagType = 4;
                $("#AS_ConfigValue").hide();
                let tr = `
                        <div id="AS_PasswordUser" class="d-flex">
                            <div class="form-check me-5">
                                    <input class="form-check-input" type="radio" id="password_phone" name="passworduser" value="0" checked="checked"/>
                                <label class="custom-control-label" for="password_phone">@Local["Số điện thoại"] (@Local["Mặc định"])</label>
                            </div>
                            <div class="form-check">
                                            <input class="form-check-input" type="radio" id="password_auto" name="passworduser" value="1"/>
                                    <label class="custom-control-label" for="password_auto">@Local["Ngẫu nhiên"] 6 @Local["Số"]</label>
                            </div>
                        </div>
                    `
                $(tr).appendTo("#AS_DivConfigValue");
                $('#AS_PasswordUser input[name=passworduser]').each(function () {
                    if ($(this).val() == data[0].Value) {
                        $(this).attr('checked', 'checked');
                    }
                })
                break;
            }
            default: {
                AS_FlagType = 1;
                $("#AS_ConfigValue").val(data[0].Value);
                break;
            }
        }
        $("#AS_NameType").val(data[0].Description);
    }
    async function AppSetting_RenderImg () {
        let url = await AjaxUpload_Image("/Api/Upload/Upload?Type=ClientApp", "AS_ImgUpload");
        $("#AS_ConfigValue").val(url);
    }

    //#endregion

    //#region //EVENT

    function AppSetting_CheckUploadImg (Ser_Setting_Image) {
        UploadImage({
            inputFile: 'AS_ImgUpload'
            , btnInput: 'AS_DivImgUpload'
            , avatar: 'AS_ImgSetting'
            , condition: Ser_Setting_Image
            , success: (data) => {
                AppSetting_RenderImg();
            }
            , error: (err) => {

            }
        })
    }

    //#endregion
    //#region //EXECUTED
    function AppSetting_Executed () {
        let data = new Object();
        $("#textShowMessage").html("");

        data.Description = $("#AS_NameType").val() ? $("#AS_NameType").val() : '';

        if (AS_FlagType == 1) {
            let Value = $("#AS_ConfigValue").val() ? $("#AS_ConfigValue").val() : '';
            if (Value == "") $("#textShowMessage").html("Giá Trị Không Được Để Trống")
            data.Value = $("#AS_ConfigValue").val() ? $("#AS_ConfigValue").val() : '';
        } else if (AS_FlagType == 2) {
            data.Value = $("input[name=radio]:checked", "#AS_RadioDiv").val();
        } else if (AS_FlagType == 3) {
            data.Value = Number($("#AS_color").dropdown("get value")) ? Number($("#AS_color").dropdown("get value")) : 0;
        } else if (AS_FlagType == 4) {
            data.Value = $("#AS_PasswordUser input[name=passworduser]:checked").val();
        }

        if ($("#textshowmessage").html() != '') {
            AjaxLoad(url = "/Setting/AppCustomer/Setting/AppCustomerSettingDetail/?handler=Executed"
                , data = {
                    data: JSON.stringify(data)
                    , CurrentID: Ser_CurrentID
                }, async = true, error = null
                , success = function (result) {
                    if (result != "0") {
                        notiSuccess();
                        AppSetting_Load();
                        syslog_mob("u", result);
                        CloseModal();
                    }
                    else {notiError()}
                }
            )
        }
    }
    //#endregion

</script>