@page
@model MLunarCoffee.Pages.HR.Setting.DataCombo.HRComboTypeDetailModel
@{
    Layout = null;
}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 class="mb-0">@Local["Trạng thái"]</h6>
                                <p class="text-sm mb-0">@Local["Danh sách trạng thái"]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pt-2">
                    <div class="row px-1 form3" id="formHRComboTypeChildren">
                        <div class="field col-12 p-1">
                            <label>@Local["Tên"]</label>
                            <input id="NameSup" class="form-control" name="name" type="text" />
                        </div>
                        <div class="field col-12 p-1">
                            <label>@Local["Nhóm trạng thái"]</label>
                            <div class="ui fluid search selection dropdown form-control" id="statusParentID">
                                <input type="hidden" name="branch" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="cbbStatusParent" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <!-- #endregion -->
                    </div>
                </div>
            </div>
            <div class="fixed-botombutton">
                <div class="action_Save">
                    <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                    <div class="action_Save-Content">
                        <button class="btn btn-secondary" form="formHRComboTypeChildren" onclick="event.preventDefault();CloseModal()">@Local["Đóng"]</button>
                        <button form="formHRComboTypeChildren" type="button" class="btn bg-gradient-primary mt-2 me-2 _tab_control_" data-tab="edit_tab_customer" onclick="event.preventDefault();ExcuteDataStatusChildren()">@Local["Lưu"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        var ser_CurrentID = "@Model._CurrentID";
        var ser_TypeStatusID = "@Model._TypeStatusID";
        var dataComboStatusParent;

        function ExcuteDataStatusChildren() {
            var data = new Object();
            data.Name = $('#NameSup').val() ? $('#NameSup').val() : "";
            data.IdParent = Number($('#statusParentID').dropdown('get value')) ? Number($('#statusParentID').dropdown('get value')) : 0;
            $('#formHRComboTypeChildren').form('validate form');
            if ($('#formHRComboTypeChildren').form('is valid')) {
                AjaxLoad(url = "/HR/Setting/DataCombo/HRComboTypeDetail/?handler=ExcuteDataStatusChildren"
                    , data = {
                        data: JSON.stringify(data),
                        CurrentID: ser_CurrentID,
                        TypeStatusID: ser_TypeStatusID
                    }, async = true, error = null
                    , success = function (result) {
                        if (result == "1") {
                            notiSuccess();
                            LoadListHRTypeAjax();
                        } else {
                            notiError_SW();
                        }
                    });
                $('#DetailModal').modal('hide');
                $("#DetailModal_Content").html('');
            }
            return false;
        }

        $(document).ready(function () {

            if (ser_TypeStatusID != "0") {
                LoadDataComboStatusParent();
            }
            if (ser_CurrentID != "0") {
                LoadDataUpdateStatus();
            }
        });

        function LoadDataComboStatusParent() {
            AjaxLoad(url = "/HR/Setting/DataCombo/HRComboTypeDetail/?handler=LoadInitializeData"
                , data = { id: ser_TypeStatusID}, async =false, error = null
                , success = function (result) {
                    if (result != "") {
                        let dataComboStatusParent = JSON.parse(result);
                        Load_Combo(dataComboStatusParent, "cbbStatusParent", true);
                    }
                });

        }
        function LoadDataUpdateStatus() {
            AjaxLoad(url = "/HR/Setting/DataCombo/HRComboTypeDetail/?handler=Loadata"
                , data = {id: ser_CurrentID}, async = true, error = null
                , success = function (result) {
                    if (result != "") {
                        let dataStatusDetail = JSON.parse(result);
                        $('#NameSup').val((dataStatusDetail[0].Name));
                        $("#statusParentID").dropdown("refresh");
                        $("#statusParentID").dropdown("set selected", dataStatusDetail[0].ParentID);
                    }
                });

        }
    </script>
    <script>js_require('/js/main.js');</script>

    <script>js_require('/js/customjs/custom-validation.js');</script>
