@page
@model MLunarCoffee.Pages.Setting.AppCustomer.Color.AppCustomerSettingColorDetailModel
@{
    Layout = null;
}
<link href="/assests/icon-app/style.css" rel="stylesheet" />
<link type="text/css" href="/assests/dist/css/vttappicon.css" rel="stylesheet" />
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 px-0">
            <div class="card card-plain">
                <div class="vtcardheader card-header pb-0 pt-2">
                    <div class="left">
                        <h6 class="mb-0">@Local["Cài đặt màu giao diện"] </h6>
                        <p class="text-sm mb-0">@Local["Thay đổi màu giao diện theo chủ đề"] (Theme)</p>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="row w-100">
                        <div class="col-12 col-sm-12 col-xl-5 p-1" id="CD_DivSetColor">
                            <div class="row px-1">
                                <div class="position-absolute z-index-3 w-auto" id="CD_DivColorTab" style="display: none;">
                                    <div class="card shadow-lg rounded-3">
                                        <div class="card-body p-2">
                                            <div id="CD_BodyColorTab" class="d-flex fixed-plugin"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 p-3 ms-2">
                                    <span class="text-sm">Color Theme</span>
                                    <div class="d-flex mt-2 fixed-plugin" id="CD_ColorCollect"></div>
                                </div>
                                <div class="col-12 border-0 border-radius-lg ms-3 py-3 ps-0 pe-2">
                                    <div class="row fw-bold text-dark">
                                        <div class="col-6 px-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <span class="mb-0 text-sm">@Local["Loại"]</span>
                                            </div>
                                        </div>
                                        <div class="col-3 text-center text-sm  d-flex">
                                            <span class="text-sm font-weight-bold btnClickTab">@Local["Nền sáng"]</span>
                                        </div>
                                        <div class="col-3 text-center text-sm d-flex">
                                            <span class="text-sm font-weight-bold btnClickTab">@Local["Chế độ nền tối"]</span>
                                        </div>
                                    </div>
                                    <hr class="my-2" />
                                    <div id="CD_prelist">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-xl-7 p-1 px-4 text-center">
                            <div class="row pt-3">

                                <div class="col-12 col-lg-6">
                                    <div class="p-1 py-3 ">
                                        <div class="CD_DNDisplayPhone position-relative m-auto overflow-hidden rounded-2 CD_DNTrueTone border">

                                            <div class="d-inline-block w-100 text-center mt-4">
                                                <i class="icon-app icon-account-01 CD_DNColorTone fw-bold"></i>
                                                <br />
                                                <span class="CD_DNColorTone fw-bold text-sm">@Local["Màu chữ"]</span>
                                            </div>
                                            <div class="CD_DNDisplayPhoneChild m-auto rounded-3 mt-4 w-80 text-center d-flex CD_DNHeavyTone2 justify-content-between">
                                            </div>
                                            <div class="m-auto mt-2 w-80 text-center">
                                                <button class=" btn btn-sm mt-1 w-100 CD_DNHeavyTone1 CD_DNHeavyTone3">
                                                    @Local["Ok"]
                                                </button>
                                                <hr class="CD_DNColorTone3" />
                                                <hr class="CD_DNColorTone3" />
                                                <hr class="CD_DNColorTone3" />
                                            </div>
                                            <div class="m-auto w-80 text-center d-flex">
                                                <div class="w-100">
                                                    <i class="fas fa-star CD_DNColorTone3"></i>
                                                    <i class="fas fa-star CD_DNColorTone3"></i>
                                                    <i class="fas fa-star CD_DNColorTone3"></i>
                                                    <i class="fas fa-star CD_DNColorTone3"></i>
                                                    <i class="fas fa-star CD_DNColorTone3"></i>
                                                </div>
                                            </div>
                                            <div class="position-absolute bottom-0 w-100 CD_DNBkTab">
                                                <div class="d-flex justify-content-around">
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-user-circle text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-comment text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-th-large text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-compass text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-heart text-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="p-1 py-3">
                                        <div class="CD_DDDisplayPhone position-relative m-auto overflow-hidden rounded-2 CD_DDTrueTone">

                                            <div class="d-inline-block w-100 text-center mt-4">
                                                <i class="icon-app icon-account-01 CD_DDColorTone fw-bold"></i>
                                                <br />
                                                <span class="CD_DDColorTone fw-bold text-sm">@Local["Màu chữ"]</span>
                                            </div>
                                            <div class="CD_DDDisplayPhoneChild m-auto rounded-3 mt-4 w-80 text-center d-flex CD_DDHeavyTone2 justify-content-between">
                                            </div>
                                            <div class="m-auto mt-2 w-80 text-center">
                                                <button class=" btn btn-sm mt-1 w-100 CD_DDHeavyTone1 CD_DDHeavyTone3">
                                                    @Local["Ok"]
                                                </button>
                                                <hr class="CD_DDColorTone3" />
                                                <hr class="CD_DDColorTone3" />
                                                <hr class="CD_DDColorTone3" />
                                            </div>
                                            <div class="m-auto w-80 text-center d-flex">
                                                <div class="w-100">
                                                    <i class="fas fa-star CD_DDColorTone3"></i>
                                                    <i class="fas fa-star CD_DDColorTone3"></i>
                                                    <i class="fas fa-star CD_DDColorTone3"></i>
                                                    <i class="fas fa-star CD_DDColorTone3"></i>
                                                    <i class="fas fa-star CD_DDColorTone3"></i>
                                                </div>
                                            </div>
                                            <div class="position-absolute bottom-0 w-100 CD_DDBkTab">
                                                <div class="d-flex justify-content-around">
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-user-circle text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-comment text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-th-large text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-compass text-lg"></i>
                                                    </div>
                                                    <div class="py-2 px-3">
                                                        <i class="fas fa-heart text-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="fixed-botombutton">
                        <div class="action_Save">
                            <div class="text-danger text-gradient text-sm font-weight-bold" id="textShowMessage"></div>
                            <div class="action_Save-Content">
                                <button class="btn btn-secondary" onclick="event.preventDefault();SettingColor_Close()">@Local["Hủy"]</button>
                                <button type="button" class="btn bg-gradient-primary mt-2 me-2" onclick="return SettingColorDetail_ExcuteData()">@Local["Lưu"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let ser_CurrentID = Number("@Model._CurrentID");
    let CD_DtExecuted = {};
    //1 Normal Mode / 2 Dark Mode;
    let CD_DataThemeColor = {
        "Purple" : {
            "normal" : {
                "TrueTone" : "#ffffff"
                , "ColorTone": "#18003d"
                , "ColorTone2": "#743acf"
                , "ColorTone3": "#e1eaf7"
                , "HeavyTone1": "#4d00c4"
                , "HeavyTone2": "#2b006e"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#743acf"
                , "ColorTabIconSelectHeader": "#743acf"
            },
            "dark" : {
                "TrueTone": "#18003d"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#e1eaf7"
                , "ColorTone3": "#743acf"
                , "HeavyTone1": "#4d00c4"
                , "HeavyTone2": "#2b006e"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#18003d"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "Yellow": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#493e22"
                , "ColorTone2": "#FFE54C"
                , "ColorTone3": "#FFF699"
                , "HeavyTone1": "#FFD300"
                , "HeavyTone2": "#cba61e"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#FFE54C"
                , "ColorTabIconSelectHeader": "#FFE54C"
            },
            "dark": {
                "TrueTone": "#493e22"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#FFF699"
                , "ColorTone3": "#FFE54C"
                , "HeavyTone1": "#FFD300"
                , "HeavyTone2": "#cba61e"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#493e22"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "Red": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#2d0d0e"
                , "ColorTone2": "#C94631"
                , "ColorTone3": "#E97451"
                , "HeavyTone1": "#A91710"
                , "HeavyTone2": "#6f0909"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#C94631"
                , "ColorTabIconSelectHeader": "#C94631"
            },
            "dark": {
                "TrueTone": "#2d0d0e"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#E97451"
                , "ColorTone3": "#C94631"
                , "HeavyTone1": "#A91710"
                , "HeavyTone2": "#6f0909"
                , "HeavyTone3": "#ffffff"
                , "ColorTabBk": "#2d0d0e"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "Brown": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#2c1e13"
                , "ColorTone2": "#743E0C"
                , "ColorTone3": "#ffb571"
                , "HeavyTone1": "#552F12"
                , "HeavyTone2": "#46250A"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#743E0C"
                , "ColorTabIconSelectHeader": "#743E0C"
            },
            "dark": {
                "TrueTone": "#2c1e13"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#ffb571"
                , "ColorTone3": "#743E0C"
                , "HeavyTone1": "#552F12"
                , "HeavyTone2": "#46250A"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#2c1e13"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "Blue": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#000C24"
                , "ColorTone2": "#3170DE"
                , "ColorTone3": "#2DA0ED"
                , "HeavyTone1": "#092B9C"
                , "HeavyTone2": "#0A185F"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#3170DE"
                , "ColorTabIconSelectHeader": "#3170DE"
            },
            "dark": {
                "TrueTone": "#000C24"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#2DA0ED"
                , "ColorTone3": "#3170DE"
                , "HeavyTone1": "#092B9C"
                , "HeavyTone2": "#0A185F"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#000C24"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "Green": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#182920"
                , "ColorTone2": "#429B46"
                , "ColorTone3": "#94C58C"
                , "HeavyTone1": "#1A8828"
                , "HeavyTone2": "#094F29"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#429B46"
                , "ColorTabIconSelectHeader": "#429B46"
            },
            "dark": {
                "TrueTone": "#182920"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#94C58C"
                , "ColorTone3": "#429B46"
                , "HeavyTone1": "#1A8828"
                , "HeavyTone2": "#094F29"
                , "HeavyTone3": "#ffffff"
                , "ColorTabBk": "#182920"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "Pink": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#452740"
                , "ColorTone2": "#FF66CD"
                , "ColorTone3": "#FFB5C2"
                , "HeavyTone1": "#C0297B"
                , "HeavyTone2": "#AB155F"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#FF66CD"
                , "ColorTabIconSelectHeader": "#FF66CD"
            },
            "dark": {
                "TrueTone": "#452740"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#FFB5C2"
                , "ColorTone3": "#FF66CD"
                , "HeavyTone1": "#C0297B"
                , "HeavyTone2": "#AB155F"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#452740"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "Orange": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#573728"
                , "ColorTone2": "#FBB124"
                , "ColorTone3": "#FCCF3E"
                , "HeavyTone1": "#E86100"
                , "HeavyTone2": "#CC5500"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#FBB124"
                , "ColorTabIconSelectHeader": "#FBB124"
            },
            "dark": {
                "TrueTone": "#573728"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#FCCF3E"
                , "ColorTone3": "#FBB124"
                , "HeavyTone1": "#E86100"
                , "HeavyTone2": "#CC5500"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#573728"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "PurpleBlue": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#282842"
                , "ColorTone2": "#4b4bdb"
                , "ColorTone3": "#aeaee6"
                , "HeavyTone1": "#3e3e85"
                , "HeavyTone2": "#353561"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#4b4bdb"
                , "ColorTabIconSelectHeader": "#4b4bdb"
            },
            "dark": {
                "TrueTone": "#282842"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#aeaee6"
                , "ColorTone3": "#4b4bdb"
                , "HeavyTone1": "#3e3e85"
                , "HeavyTone2": "#353561"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#282842"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "darkgreen": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#002b3a"
                , "ColorTone2": "#01C2EA"
                , "ColorTone3": "#0198b7"
                , "HeavyTone1": "#0b728a"
                , "HeavyTone2": "#0b5d70"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#01C2EA"
                , "ColorTabIconSelectHeader": "#01C2EA"
            },
            "dark": {
                "TrueTone": "#002b3a"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#0198b7"
                , "ColorTone3": "#01C2EA"
                , "HeavyTone1": "#0b728a"
                , "HeavyTone2": "#0b5d70"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#002b3a"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        },
        "lightblue": {
            "normal": {
                "TrueTone": "#ffffff"
                , "ColorTone": "#162638"
                , "ColorTone2": "#377ED2"
                , "ColorTone3": "#5198ed"
                , "HeavyTone1": "#2e64a3"
                , "HeavyTone2": "#163861"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#e6e6e6"
                , "ColorTabIcon": "#575656"
                , "ColorTabIconSelect": "#377ED2"
                , "ColorTabIconSelectHeader": "#377ED2"
            },
            "dark": {
                "TrueTone": "#162638"
                , "ColorTone": "#ffffff"
                , "ColorTone2": "#5198ed"
                , "ColorTone3": "#377ED2"
                , "HeavyTone1": "#2e64a3"
                , "HeavyTone2": "#163861"
                , "HeavyTone3": "#ffffff"

                , "ColorTabBk": "#162638"
                , "ColorTabIcon": "#adacac"
                , "ColorTabIconSelect": "#ffffff"
                , "ColorTabIconSelectHeader": "#ffffff"
            }
        }
    }
    $(document).ready(function () {
        CD_Render(CD_DataThemeColor, "CD_ColorCollect");
        CD_DetailLoad();

    })
    $(document).mouseup(function (e){
        let DivPop = $('#CD_DivColorTab');
        if (!DivPop.is(e.target) && DivPop.has(e.target).length === 0) {
            DivPop.hide();
        }
    })

    function CD_DetailLoad () {
        AjaxLoad(url = "/Setting/AppCustomer/Color/AppCustomerSettingColorDetail/?handler=LoadDetail"
            , data = {
            }, async = true, error = null
            , success = function (result) {
                if (result != "") {
                    let dataMain = JSON.parse(result);
                    let data = dataMain.Table;
                    let e = {};
                    e.TrueTone =data[0].TrueTone;
                    e.ColorTone =data[0].ColorTone;
                    e.ColorTone2 =data[0].ColorTone2;
                    e.ColorTone3 =data[0].ColorTone3;
                    e.HeavyTone1 =data[0].HeavyTone1;
                    e.HeavyTone2 =data[0].HeavyTone2;
                    e.HeavyTone3 = data[0].HeavyTone3;
                    e.ColorTabBk = data[0].ColorTabBk;
                    e.ColorTabIcon = data[0].ColorTabIcon;
                    e.ColorTabIconSelect = data[0].ColorTabIconSelect;
                    e.ColorTabIconSelectHeader = data[0].ColorTabIconSelectHeader;

                    let edark = {};
                    edark.TrueTone = data[1].TrueTone;
                    edark.ColorTone = data[1].ColorTone;
                    edark.ColorTone3 = data[1].ColorTone3;
                    edark.HeavyTone1 = data[1].HeavyTone1;
                    edark.HeavyTone2 = data[1].HeavyTone2;
                    edark.HeavyTone3 = data[1].HeavyTone3;
                    edark.ColorTabBk = data[1].ColorTabBk;
                    edark.ColorTabIcon = data[1].ColorTabIcon;
                    edark.ColorTabIconSelect = data[1].ColorTabIconSelect;
                    edark.ColorTabIconSelectHeader = data[1].ColorTabIconSelectHeader;

                    let col = {};
                    col.normal = e;
                    col.dark = edark;
                    CD_DtExecuted = col;
                    CD_DtExecuted.name = data[1].Name.split('-')[0]

                    CD_RenderMaster(CD_DtExecuted);
                    
                }
            }
        );
    }
    //#endregion

    //#region //Render

    async function CD_Render (data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                let myNode = document.getElementById(id);
                if (myNode != null) {
                    myNode.innerHTML = "";
                    for (const [key, value] of Object.entries(data)) {
                        let tr = `<span class="badge d-block me-2 rounded-circle cditem" data-value="${key}" style="background-color: ${value.normal.ColorTone2};"> </span>`
                        myNode.insertAdjacentHTML('beforeend', tr);
                    }
                }
                CD_EventClick();
            }, 100)
        })
    }

    function CD_RenderMaster(data) {
        CD_ListPreRender(data["dark"], "CD_prelist");
        CD_ScreePreRender(data);
    }

    async function CD_ListPreRender (data, id) {
        new Promise((resolve) => {
            setTimeout(() => {
                let myNode = document.getElementById(id);
                let tr = '';
                if (myNode != null) {
                    myNode.innerHTML = "";
                    for (const [key, value] of Object.entries(data)) {
                        if (key == "ColorTabBk" || key == "ColorTabIcon" || key == "ColorTabIconSelect" || key == "ColorTabIconSelectHeader"){
                             tr += `
                                <div class="row">
                                    <div class="col-6 px-2 py-0">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">${CD_RenderFillName(key)}</h6>
                                        </div>
                                    </div>
                                    <div class="col-3 text-center text-sm  d-flex">
                                        <span class="badge me-1 border" style="background-color:${CD_DtExecuted["normal"][key]}"> </span>
                                        <span class="text-sm font-weight-bold btnClickTab text-primary" theme="normal" type="${key}">${CD_DtExecuted["normal"][key]}</span>
                                    </div>
                                        <div class="col-3 text-center text-sm d-flex">
                                        <span class="badge me-1 border" style="background-color:${CD_DtExecuted["dark"][key]}"> </span>
                                        <span class="text-sm font-weight-bold btnClickTab text-primary" theme="dark" type="${key}">${CD_DtExecuted["dark"][key]}</span>
                                    </div>
                                </div>
                                <hr class="my-2"/>`
                        }
                    }
                    myNode.innerHTML = tr;
                }
                CD_EventClick();
            }, 100)
        })
    }
    function CD_RenderFillName (Name){
        try{
            let result = '';

            switch(Name) {
              case "ColorTabBk":
                result = "@Local["Màu nền thanh điều hướng"]";
                break;
              case "ColorTabIcon":
                result = "@Local["Màu icon thanh điều hướng"]";
                break;
              case "ColorTabIconSelect":
                result = "@Local["Màu"] icon (@Local["Đã chọn"])";
                break;
            case "ColorTabIconSelectHeader":
                result = "@Local["Màu viền"] (@Local["Đã chọn"])";
                break;
            }

            return result;
        }catch(ex){
            return '';
        }
    }

    function CD_ScreePreRender (data) {
        $(".CD_DNTrueTone").css("background-color", data["normal"].TrueTone);
        $(".CD_DNColorTone").css("color", data["normal"].ColorTone);
        $(".CD_DNColorTone3").css("color", data["normal"].ColorTone3);
        $(".CD_DNHeavyTone1").css("background-color", data["normal"].HeavyTone1);
        $(".CD_DNHeavyTone2").css("background-color", data["normal"].HeavyTone2);
        $(".CD_DNHeavyTone3").css("color", data["normal"].HeavyTone3);
        $(".CD_DNBkTab").css("background-color", data["normal"].ColorTabBk);
        $(".CD_DNBkTab i").css("color", data["normal"].ColorTabIcon);
        //$(".CD_DNBkTab").css("background-color", data["normal"].ColorTabBk);
        //$(".CD_DNBkTab").css("background-color", data["normal"].ColorTabBk);

        $(".CD_DDTrueTone").css("background-color", data["dark"].TrueTone);
        $(".CD_DDColorTone").css("color", data["dark"].ColorTone);
        $(".CD_DDColorTone3").css("color", data["dark"].ColorTone3);
        $(".CD_DDHeavyTone1").css("background-color", data["dark"].HeavyTone1);
        $(".CD_DDHeavyTone2").css("background-color", data["dark"].HeavyTone2);
        $(".CD_DDHeavyTone3").css("color", data["dark"].HeavyTone3);
         $(".CD_DDBkTab").css("background-color", data["dark"].ColorTabBk);
        $(".CD_DDBkTab i").css("color", data["dark"].ColorTabIcon);
        //$(".CD_DNBkTab").css("background-color", data["normal"].ColorTabBk);
        //$(".CD_DNBkTab").css("background-color", data["normal"].ColorTabBk);
        
    }
    //#endregion

    //#region //Executed

    function SettingColorDetail_ExcuteData () {
        let data = new Object();

        data.NameD = CD_DtExecuted['name'] + '-Dark';
        data.TrueToneD = CD_DtExecuted['dark'].TrueTone;
        data.ColorToneD = CD_DtExecuted['dark'].ColorTone;
        data.ColorTone2D = CD_DtExecuted['dark'].ColorTone2;
        data.ColorTone3D = CD_DtExecuted['dark'].ColorTone3;
        data.HeavyTone1D = CD_DtExecuted['dark'].HeavyTone1;
        data.HeavyTone2D = CD_DtExecuted['dark'].HeavyTone2;
        data.HeavyTone3D = CD_DtExecuted['dark'].HeavyTone3;
        data.ColorTabBkD = CD_DtExecuted['dark'].ColorTabBk;
        data.ColorTabIconD = CD_DtExecuted['dark'].ColorTabIcon;
        data.ColorTabIconSelectD = CD_DtExecuted['dark'].ColorTabIconSelect;
        data.ColorTabIconSelectHeaderD = CD_DtExecuted['dark'].ColorTabIconSelectHeader;
        
        data.NameN = CD_DtExecuted['name'] + '-Normal';
        data.TrueToneN = CD_DtExecuted['normal'].TrueTone;
        data.ColorToneN = CD_DtExecuted['normal'].ColorTone;
        data.ColorTone2N = CD_DtExecuted['normal'].ColorTone2;
        data.ColorTone3N = CD_DtExecuted['normal'].ColorTone3;
        data.HeavyTone1N = CD_DtExecuted['normal'].HeavyTone1;
        data.HeavyTone2N = CD_DtExecuted['normal'].HeavyTone2;
        data.HeavyTone3N = CD_DtExecuted['normal'].HeavyTone3;
        data.ColorTabBkN = CD_DtExecuted['normal'].ColorTabBk;
        data.ColorTabIconN = CD_DtExecuted['normal'].ColorTabIcon;
        data.ColorTabIconSelectN = CD_DtExecuted['normal'].ColorTabIconSelect;
        data.ColorTabIconSelectHeaderN = CD_DtExecuted['normal'].ColorTabIconSelectHeader;

        AjaxLoad(url = "/Setting/AppCustomer/Color/AppCustomerSettingColorDetail/?handler=ExcuteData"
            , data = {
                data: JSON.stringify(data)
            }, async = true, error = null
            , success = function (result) {
                if (result != "0") {
                    notiSuccess();
                    SettingColor_Close();
                    SettingColor_Load();
                    syslog_mob("u", result.split('-')[0]);
                } else {
                    notiError_SW();
                }
            }
        )
    }

    //#endregion

    //#region //Event
    function CD_EventClick () {
        $("#CD_DivSetColor .cditem").unbind("click").on("click", function () {
            $("#CD_DivSetColor .cditem").removeClass("border border-dark");
            $(this).addClass("border border-dark");
            let value = $(this).attr("data-value");
            CD_DtExecuted = {};
            CD_DtExecuted = CD_DataThemeColor[value];
            CD_DtExecuted.name = value;

            CD_RenderMaster(CD_DtExecuted);
        })

        $("#CD_prelist .btnClickTab").unbind("click").on("click", function (){
            let Theme = $(this).attr("theme") ? $(this).attr("theme") : '';
            let Type = $(this).attr("type") ? $(this).attr("type") : '';
            let PosTop = $(this).parent().position().top + $(this).parent().height();
            let PosLeft = $(this).parent().position().left - 270;

            $("#CD_DivColorTab").css({
                "display": "block"
                , "left": PosLeft
                , "top": PosTop
            }).animate({
                left: PosLeft
                , top: PosTop
            }, 300);

            if (Theme != '' && Type != '') {
                CD_TabColorOpen(Theme, Type);
            }
        })

        $("#CD_BodyColorTab .btnExeChange").unbind("click").on("click", function (){
            let Theme = $(this).attr("Theme") ? $(this).attr("Theme") : '';
            let Type = $(this).attr("Type") ? $(this).attr("Type") : '';
            let Value = $(this).attr("Value") ? $(this).attr("Value") : '';

            if (Theme != "" && Type != "" && Value != ""){
                CD_DtExecuted[Theme][Type] = Value;
                CD_RenderMaster(CD_DtExecuted);
            }
        })
    }
    //#endregion

    //#region //ColorTab

    function CD_TabColorOpen(Theme, Type) {
        let myNode = document.getElementById("CD_BodyColorTab");
        let Str = ',';
        let DtSelect = {"#adacac": "#adacac"}
        DtSelect = Object.assign(DtSelect, CD_DtExecuted["normal"])

        myNode.innerHTML = "";
        for (const [key, value] of Object.entries(DtSelect)){
            if (!Str.includes(',' + value + ',')){
                Str += value + ',';
                let tr = `
                    <span class="badge d-block me-2 rounded-circle border btnExeChange" Theme="${Theme}" Type="${Type}" Value="${value}" style="background-color: ${value};"> </span>
                `;
                myNode.insertAdjacentHTML('beforeend', tr);
            }
        }
        CD_EventClick();
    }
    

    //#endregion


</script>
<script>js_require('/js/main.js');</script>
<script>js_require('/js/comon/initialize_setting.js');</script>
<script>js_require('/js/customjs/custom-validation.js');</script>
<style>
    .CD_DNDisplayPhone, .CD_DDDisplayPhone {
        background-size: contain !important;
        object-fit: cover;
        height: 540px;
        background-repeat: no-repeat;
        max-width: 300px;
        width: 100%;
    }
    .CD_DNDisplayPhoneChild, .CD_DDDisplayPhoneChild {
        height: 3em;
    }
</style>